[2015-10-28 19:15] jwilder opened #4604 "Data race in dataFile.Delete and Engine.getCompactionFiles"
[code]

[2015-10-28 19:27] JulienChampseix commented on #4594
is the nightly build is 0.9.5 ? is it pretty stable or planned to be released stable soon ?

[2015-10-28 19:28] PaulKuiper opened #4605 "influxdn - Grafana stack is not scalable due to unsupported time roll up"
Influxdb has the nice feature to roll up time serie data into larger time buckets via continous queries. This can tremendously speed up a query that needs to display two years of data that was originally sampled at 1Hz.

Grafana will however creates a select query on the original time serie and request a dynamic groupby time based on how far it is zoomed out. Influx will thus crunch all data point

[2015-10-28 19:39] otoolep commented on #4594
Yes, the nightly is from the planned 0.9.5 release.

https://influxdb.com/download/index.html#

Our internal testing shows the nightly to be generally much improved relative to 0.9.4.2, due to the large number of bug fixes in place. But it isn't an official release yet, so you should be cautious.

[2015-10-28 19:41] beckettsean commented on #4605
Highly related to https://github.com/influxdb/influxdb/issues/2625. Not quite a duplicate, but likely a fix for one addresses the other.

[2015-10-28 19:42] otoolep commented on #4552
@wrigtim -- that file is not what I was actually expecting. I was looking for a binary memory profile dump, which we feed into `go pprof`. Am I missing something?

[2015-10-28 19:42] beckettsean commented on #4605
Tangentially related to https://github.com/influxdb/influxdb/issues/1994 as well.

[2015-10-28 19:43] otoolep commented on #4552
Can you graph the Go runtime params on your system? I'd like to see if this is mmap usage or Go heap.

https://influxdb.com/blog/2015/09/22/monitoring_internal_show_stats.html

for examples of the queries to run.

[2015-10-28 19:46] otoolep commented on #4602
@nathanielc

[2015-10-28 19:46] otoolep commented on #4602
Taking the liberty of assigning to @nathanielc

[2015-10-28 20:44] sebito91 commented on #4552
Attached a graph with HeapAlloc, HeapSys and NumGoRoutines for the past few hours...if you want/need others let me know.

![debug](https://cloud.githubusercontent.com/assets/3159454/10802402/b6e7b2f6-7d8a-11e5-83d9-4f70667cf1fa.png)

[2015-10-28 20:55] daviesalex commented on #4554
@otoolep , @jwilder - fantastic stuff, thanks for tracking that down! I guess rename this issue 'Move to Go 1.5.2' as several other Influx users have hit this? (also seems that https://github.com/golang/go/issues/12932 is tagged for that release, and affects InfluxDB)

We are using your nightly builds right now, but if this panic becomes a big drama for us we will move to building our own against

[2015-10-28 21:14] otoolep commented on #4552
Is there a big difference between Go runtime alloc and the RSS of the process? I am wondering if any difference could be accounted by mmaps.

[2015-10-28 21:28] otoolep commented on #4441
After discussions with @beckettsean there is nothing to do here.

otoolep 12:48 The retention policy issue with ALTER DURATION
I am not sure we can fix it.
With infinite retention, shards are created with 30d periods.
So say I drop duration to 1d.
What do I do?
The start time of the shard was (say) now, and the end time is 30 days in the future.
Unless you see a way to solve this?
sean 13:04 I thi

[2015-10-28 21:28] #4441 closed

[2015-10-28 21:29] otoolep commented on #3347
Sending this to the man that knows best.

[2015-10-28 21:30] otoolep commented on #3347
@rossmcdonald -- happy to discuss this and share what I've learned from trying to solve this issue.

[2015-10-28 22:09] jwilder commented on #4602
To repro:

[code]

Then run:

[code]

And CTRL-C the server/restart a few times.  Should happens when stopping the server.

[2015-10-28 22:23] #4534 closed

[2015-10-28 22:34] ivanscattergood opened #4609 "WAL backed up flushing to index, hit max memory"
Hi,

Is there a way I can tune the WAL to stop the following error occurring:

**WAL backed up flushing to index, hit max memory**

I am writing about 6,000 points per second, due to the hardware I am running on I am limited on memory (16GB)

[2015-10-28 22:39] beckettsean commented on #4584
@dennisbauer I am at a loss to explain what you are seeing. I just spun up a new 0.9.4.2 server and the exact CLI session you show works fine:

[code]

An empty return is the expected result if there are no matching records. The more concerning error is the one from the `select *` statement, as that does have fields in the select clause.

I can only conclude that there's something specific to your

[2015-10-28 22:46] jwilder commented on #4601
Fixed via #4608

[2015-10-28 22:46] #4601 closed

[2015-10-29 00:29] beckettsean commented on #4121
If you are getting 500s on writes that means the WAL is full and not accepting writes. If it happens for the steady-state data rate, the rate is too high for the server to maintain. The WAL is intended to handle traffic spikes, and can accept points faster than the persistent storage engine can accept them. So, if the WAL is backing up under your typical load, the system simply won't be able to ha

[2015-10-29 01:24] jwilder commented on #4332
@bwhaley Not sure how this is happening yet.  There were some races fixed today by #4608 in this part of the code.  There is a chance tonights nightly might have fixed this.

[2015-10-29 01:27] jwilder commented on #4603
Looks like the `tsm1` cursor is accessing the `dataFile` mmaps without acquiring a lock.  Fixed some similar issues like this today in #4608.

[2015-10-29 06:20] richterger commented on #4235
From what I saw, it works ok, unless new tags gets introduced (see #4077 for details) in a measurement

[2015-10-29 06:29] dennisbauer commented on #4584
@beckettsean The weird thing is, that I already dropped labtest and created a new one (same name) with no difference in the result. Now I created a database with a different name (labtestnew) and everything is working fine:
[code]

Isn't data deleted when I drop database and create a new one with the same name? Does that mean everytime I drop a database because of some problems I can't use the sam

[2015-10-29 09:23] BarthV opened #4611 "[0.9.4.2] InfluxDB replies "204 No Content" but no data available"
Hi there !

Got a strange issue with latest stable InfluxDB :
[code]

_Client side :_
* Ruby piece of software that write system and apps metrics
* We're using http on our own instance. But I'd tested on Influxdb.com hosted services (https) and i'm running into the same issue.
* Using `influxdb` official ruby gem at `v0.2.3`
* Possible points value __CAN__ be `0` or `0.0`
* Massively using `Influx

[2015-10-29 10:51] wrigtim commented on #4525
@jwilder We haven't actually seen this since moving to 0.9.5-nightly-2fe5e6b, so I believe we can close this out. Thank you!

[2015-10-29 12:13] wickedshimmy commented on #3944
Any specific reason the binary can't be linked against `libbz2.so.1`? This seems to just be a difference between RH/Debian library conventions.

[2015-10-29 12:34] JulienChampseix commented on #4594
Something is strange, if i check the monitor section in my config i have this config (/etc/opt/influxdb/influxdb.conf) :

###
### Controls the system self-monitoring, statistics and diagnostics.
###

[monitor]
  store-enabled = true # Whether to record statistics internally.
  store-database = "_internal" # The destination database for recorded statistics
  store-retention-policy = "monitor" # The

[2015-10-29 13:01] wrigtim commented on #4552
@otoolep
![2015-10-29 11_54_30-grafana - debug](https://cloud.githubusercontent.com/assets/1384495/10818928/1a5f0020-7e3d-11e5-8bc6-dbc33c8494c7.png)

[2015-10-29 13:06] wrigtim commented on #4552
@otoolep So to explain the timings for the above graph - the stable portion was with ~1000 telegraf clients spread across many geographically diverse datacenters. The other 3000 nodes were blocked by iptables rules...

At 11:15 I removed one of the iptables rules, which allowed around 500 additional nodes to connect (all from one DC). At this point you see points_written_ok plummet and the RSS and

[2015-10-29 13:21] KiNgMaR commented on #4552
I think I am experiencing the same issue:

- memory usage is constantly growing
- more writes accelerate the growth

It looks like the Go runtime is allocating a lot of memory from the system for "HeapIdle":

![snap 2015-10-29 at 09 04 37](https://cloud.githubusercontent.com/assets/438358/10819222/3fa3604c-7e47-11e5-9468-f85df3f8043c.png)

The spike near the end of this 2-day graph is an increase

[2015-10-29 13:28] #4611 closed

[2015-10-29 13:42] dswarbrick opened #4613 "[0.9.5-nightly] CQ with derivative() broken"
On 0.9.5-nightly-542efbb, the following CQ would produce values:

[code]

However the same query on 0.9.5-nightly-66a31ee consistently inserts zeros. Running the query interactively (i.e., not as a CQ), it produces the desired derivatives. Also if I remove the derivative from the CQ, and just have it calculate mean(), this inserts the correct values into the io_sectors_delta measurement. But I don

[2015-10-29 14:31] rossmcdonald commented on #4611
@BarthV Did you mean to close this issue? Did you figure out what the problem was?

[2015-10-29 14:39] BarthV commented on #4611
yep,

I resolved my issue, I think

It was caused by my writer function which was writing slower than this input rate
it caused caused a growing shift between latest data and current time.

Added a bit of tuning and "job's done" :-/

Maybe you can help us by pushing a bit this issue -> https://github.com/influxdb/influxdb-ruby/issues/107

[2015-10-29 14:43] emitle opened #4614 "Point time overwrite?"
Hi influxdb developers, I have encountered a problem when using influxdb to analyze user event. The measurement (event.btn.click) is used to store user button click event. Tag label represents button name. After the following tests I found out that if two users clicked certain button at the same time, influxdb would overwrite the date of former user when inserting the second user event.

[code]

[

[2015-10-29 15:38] jwilder commented on #4604
Fixed via #4608

[2015-10-29 15:38] #4604 closed

[2015-10-29 15:53] jwilder commented on #4526
I believe this is fixed by #4580.  Can't reproduce with 4cec36c.

[2015-10-29 15:53] #4526 closed

[2015-10-29 15:57] bwhaley commented on #4603
Updated to the latest nightly, will report back if I encounter this again.

[2015-10-29 16:49] #4525 closed

[2015-10-29 16:52] erdii opened #4615 "dropping measurements from a database yields Error: database not open but command succeeds"
as in title. the response is an error even though the command succeds and drops the specified measurements

I tried it with the internal AdminInterface, influxql and node-influx.

[2015-10-29 16:53] beckettsean commented on #4613
Closing as duplicate of https://github.com/influxdb/influxdb/issues/3247.

[2015-10-29 16:53] #4613 closed

[2015-10-29 16:53] beckettsean commented on #3247
@jwilder still an issue in 0.9.5 nightlies. Can you investigate?

[2015-10-29 17:06] erdii commented on #4615
while investigating this issue this one appeared right now (yielded by dropMeasurements too)
`[Error: open /usr/local/var/influxdb/wal/test_db/testrp/15/01.000003.wal: no such file or directory]`
which totally confuses me since i dont have a db named "test_db" and i never had.

`ls /usr/local/var/influxdb/wal` returns `_internal    rsmq_monitor` those are the only 2 databases on my Influxdb instan

[2015-10-29 17:35] codyaray opened #4617 "server panic from math query"
Here's the query executed in the CLI

And the server panics with the following before the goroutine stack traces:

    [query] 2015/10/29 12:31:24 SELECT processed_rules / rules_alerted FROM "sentinel"."default".sentinel_run WHERE time > now() - 30d
    panic: runtime error: index out of range

This dataset is fairly reproducible (just parsed a log file into metrics). I can try to simplify and sha

[2015-10-29 17:43] beckettsean opened #4618 "query parser should throw error on nested functions with tag arguments"
`userId` is a tag, not a field. As such, the following queries properly fail with errors.

[code]

However, the nested `COUNT(DISTINCT(userId))` query does not throw a parser error and incorrectly returns zero.

[code]

[2015-10-29 18:00] gunnaraasen commented on #3532
Returning the disk size of shards with `SHOW STATS` would also be useful.

[2015-10-29 18:01] beckettsean commented on #4614
Correct. A point is uniquely identified by the measurement, tag set, and timestamp. If a new point is received with the same measurement, timestamp, and tag set, it will silently overwrite the previous point's fields.

That will guarantee that each point has a unique tag set, and they will no longer overwrite each other.

The `DISTINCT()` and `COUNT()` functions only operate on fields, not tags. I

[2015-10-29 18:01] #4614 closed

[2015-10-29 18:40] codyaray commented on #4617
Possibly unrelated issue.

On some queries, I'm getting a strange error:

    "ERR: invalid character 'j' looking for beginning of value"

One theory is that this is produced when you divide by zero. I have two series, both of which sum to zero during the last day.

    name: sentinel_run
    ------------------
    time				sum	sum
    2015-10-28T18:37:12.268614503Z	0	0

When I divide them, I recei

[2015-10-29 18:58] beckettsean commented on #4615
@erdii what version of InfluxDB are you running?

Can you paste in a CLI session showing the results of `SHOW DATABASES` and `DROP MEASUREMENT foo`, where `foo` is the measurement that yields the error?

From the behavior you describe my best guess is that somehow `test_db` was created by someone else and then removed.

Does the error persist through a restart of the `influxd` process? The metasto

[2015-10-29 19:02] beckettsean commented on #4617
@codyaray the initial error is a duplicate of https://github.com/influxdb/influxdb/issues/4046. There's a known issue with math on multiple fields.

The `invalid character 'j'...` error looks like a known issue if your data source passes `NaN` values: https://github.com/influxdb/influxdb/issues/4104. The write path has been fixed in 0.9.5 to prevent `NaN` points from persisting, but I'm not aware

[2015-10-29 21:24] beckettsean opened #4619 "[feature request] subqueries / nested queries"
I strongly suspect this is a duplicate but I cannot find another issue making the request.

[2015-10-29 22:17] eMerzh commented on #1154
Hi,

stumble upon a case where i wanted to group by day of week...
having a day of week if definitely a good idea has we try to work with time database :)

it can be super useful in cases like having a graph of values by day of weeks or filter by day of weeks to detect a pattern, ...:
- [Monday: 12, Thuesday: 11 ....]
- [Monday 05/10/2015,Monday 12/10/2015,.... ]

[2015-10-29 23:01] otoolep commented on #4594
store-retention-policy = "monitor" # The destination retention policy
store-retention-duration = "168h" # How long to keep the data
store-replication-factor = 1 # How many copies of the data to keep

https://github.com/influxdb/influxdb/blob/0.9.4/monitor/config.go

Where did you get these? They have never been supported.

Philip

On Thu, Oct 29, 2015 at 5:34 AM, Julien CHAMPSEIX <notifications@gi

[2015-10-29 23:16] otoolep commented on #4615
Another strange issue that might be relevant, which is not actually an issue in `tsm1`.

https://github.com/influxdb/influxdb/issues/4303

[2015-10-29 23:25] otoolep commented on #3532
The fundamental issue that makes this non-trivial is that only nodes themselves know the size of shards. The node receiving the query i.e. `SHOW SHARDS` can only check its local filesystem, and determine shards local to it.

To solve this issue, each node in the cluster needs to be prepared to serve information about the shards local to it, and then the node receiving the query from the use needs

[2015-10-30 00:17] mjdesa opened #4622 "[0.9.5] Large timestamps panic openTSDB plugin"
Giving openTSDB a point with a timestamp that is more than 13 digits long causes panic. However the database is still up and running.

[code]

[code]

[2015-10-30 08:29] grobian commented on #4548
Just in case I can help to debug this, I experienced the same problem sending in a copy of our graphite metrics generated by diamond.

![-2](https://cloud.githubusercontent.com/assets/667105/10841304/7333f54c-7ee8-11e5-9355-152ade8d17fc.png)

I'm running the influxdb-0.9.4.2-1.x86_64.rpm.

[2015-10-30 08:31] jacekgrzybowski opened #4623 "[feature request] SQL-like IN clause"
Hello,

Have you thought about implementing SQL-like `IN` clause? Now if I want to get results from multiple series I have to do something like:

`SELECT last(value) FROM temperatures WHERE (cpu_id = '1' OR cpu_id = '2' OR cpu_id = '3') GROUP BY cpu_id`

It works fine but is not really blazing fast, and might also make query really long.

I also tried a regex version:

`SELECT last(value) FROM tem

[2015-10-30 08:53] ivanscattergood commented on #4619
+1

[2015-10-30 09:36] emitle commented on #4618
I think there is no need for `count(distinct(TagName))` to return a parse error.
It seems that right now there is no practical way to count the unique number of a certain tag, and `count(distinct(TagName))` happens to be able to fit that role.

[2015-10-30 10:16] CrazyJvm commented on #3276
we are planning to working on it : )

[2015-10-30 12:14] vladlopes commented on #4517
I developed this [migration tool](https://github.com/vladlopes/influxdb-migrate) a while back and, not sure there would be a migration tool this time, included the migration from `b1` and `bz1` engine. On version 0.9.2 the shards were changed to have a `format` field to indicate the engine, although, by this version, it was always `b1`. So, to migrate from 0.9.2-4, you would pass to the tool `-fro

[2015-10-30 12:49] xiic commented on #484
+1, including the proposed syntax (keep it the same as `GROUP BY`, just with a different keyword) and the `RANDOM` aggregate function. Are there any plans for this?

[2015-10-30 15:32] brettdh opened #4624 "[0.9.4.1] runtime/cgo: out of memory in thread_start"
[Crash log file](https://gist.github.com/brettdh/6a1ccb66c299961c3a83) ([raw](https://gist.githubusercontent.com/brettdh/6a1ccb66c299961c3a83/raw/d38e827ac1286d2b19e64e114642b87110e21e96/influxdb-oom-crash.log))

Search for "out of memory" or "cannot allocate memory"; the log contains several such failures, after about a day's worth of writes every 10 seconds, with successful queries interspersed.

[2015-10-30 15:37] brettdh commented on #4624
Note: in our setup, we impose a 1GB memory limit on our daemons by default, including influxd. It's currently hovering at 956m virtual, 35m resident, under the same write volume and occasional queries, so I see no obvious leak there.

[2015-10-30 15:42] jwilder commented on #4624
1GB may not be enough RAM for your dataset plus working room for queries and other tasks.  I would try increasing it.

It's also possible that you are hitting a Go 1.5 bug that seems to be causing #4548 too.  Go 1.5.2 might fix this.

[2015-10-30 16:09] brettdh commented on #4624
Bumped to 4GB and restarted influxd. Got stuck in the same startup loop for a while; realized new rlimit was not in place; did it right the second time. No restart loop with 4GB limit, and now it's running again. Will check it periodically for more query-related panics.

[2015-10-30 16:35] otoolep commented on #4623
@jacekgrzybowski  -- we might get to it in 0.9.5.

https://github.com/influxdb/influxdb/issues/2157

[2015-10-30 16:35] #4623 closed

[2015-10-30 16:36] otoolep commented on #4623
Just so I am clear, would you expect `IN` to be any faster? I would not.

[2015-10-30 17:16] beckettsean commented on #4618
@emitle if it worked, `COUNT(DISTINCT(tagKey))` would be an excellent way to count the distinct tags on a measurement.

However, tags are not valid arguments to functions, so that should throw a parser error, just as `COUNT(tagKey)` and `DISTINCT(tagKey)` do.

Once https://github.com/influxdb/influxdb/issues/3880 is implemented the parser error would be removed.

[2015-10-30 17:32] otoolep commented on #4622
How did you discover this? Are you testing via the HTTP protocol?

[2015-10-30 17:54] mjdesa commented on #4622
I was looking into how the graphite and openTSDB plugins work for stress. At the moment I've only tested this against the http protocol.

[2015-10-30 18:11] otoolep commented on #4622
I know @gunnaraasen has been poking around this code recently, so perhaps he'd also like to take a stab at fixing this.

[2015-10-30 18:27] bwhaley opened #4626 "Slow query performance"
As per discussion on the mailing list, I'm having trouble with a slow query. To summarize the original problem statement:

[code]

[code]

`env` is a tag. Both `load` and `cpu` have about the same amount of data - 10s resolution and being sent from the same client, collectd.

@otoolep suggested I open an issue. I am able to provide the data, let me know the best way to get that to you. Philip also

[2015-10-30 18:30] otoolep commented on #4626
Can you run the node with CPU profiling enabled:

https://github.com/influxdb/influxdb/blob/master/CONTRIBUTING.md#profiling

and provide us with the CPU profile file, after you shutdown the node? If you could also include the influxd binary you run, that would be great.

@beckettsean -- can you provide upload details for us?

[2015-10-30 18:30] otoolep commented on #4626
cc @benbjohnson

[2015-10-30 18:32] otoolep commented on #4626
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/influxdb/_q0OKNSnH9M/8GgbCOyfCwAJ

[2015-10-30 18:40] bwhaley commented on #4626
Thanks, I have the profiling data. Let me know how to send the profile info, `influxd`, and the data via whatever mechanism is easiest.

[2015-10-30 18:48] otoolep commented on #4626
If you are up for it, the easiest thing might be to run the profiling tool yourself and send us the svg image.
[code]
Save the image and attach it here. You might need to run the slow query a few times so the profiling data provides us a good picture. Shut down the node immediately after running the queries.

[2015-10-30 19:08] srikara opened #4628 "Feature Request: Influx CLI"
The influx cli keeps a history of recent commands that were executed which can be accessed using the 'up' arrow key. This is an extremely useful feature on the CLI.
It would be nice to have a CLI specific command that behaves  like bash shell's 'history' command.
The output of the command could be a dump of recent commands on the console.

[2015-10-30 19:15] beckettsean commented on #4628
As a workaround in the meantime you can scan the history file itself at `~/.influx_history`

[2015-10-30 19:42] gunnaraasen commented on #4622
I can take a look this weekend. @mjdesa is the full stack track posted somewhere?

[2015-10-30 19:44] mjdesa commented on #4622
@gunnaraasen that was the full stack trace. It didn't bring the server down, just caused that panic and kept going.

[2015-10-30 19:52] sebito91 commented on #4562
We (meaning @daviesalex + @wrigtim, see #4552) have recently moved this to a single node to skip any potential issues related to clustering. Long story short, we still end up seeing the same "WAL backed up..." issue after a period of ~12h running. Basically we're seeing all writes going to the .wal files but never getting commit to .tsm, even though our flush intervals are tweaked very low (many f

[2015-10-30 20:04] gunnaraasen commented on #4622
I see, thanks @mjdesa.

[2015-10-30 21:01] bwhaley commented on #4626
Attached. CPU profile for the query with 1m and 10m time intervals in the `GROUP BY` clause.

![cpu](https://cloud.githubusercontent.com/assets/503816/10857973/add30096-7f0e-11e5-9ea7-e5d136349d0e.png)

[2015-10-30 21:17] otoolep commented on #4626
cc @benbjohnson

Ben is actually working is the `decodeFloatBlock` code right now, trying to optimize it. (Correct me if wrong, Ben). So that should help.

Why one query takes so much longer than the other is difficult to know. Perhaps we need profiles for each query. Then we could compare.

[2015-10-30 21:23] otoolep commented on #4626
Looks like I may have been mistaken and @benbjohnson is working on a different area.

[2015-10-30 21:29] bwhaley commented on #4626
Here's a profile of the query on the `load` measurement which is much faster.

![load](https://cloud.githubusercontent.com/assets/503816/10858479/9f69949e-7f12-11e5-9cfc-cabf52d8689d.png)

[2015-10-30 21:31] otoolep commented on #4626
Great, thank you.

[2015-10-30 21:36] srikara commented on #4628
@beckettsean Thanks for the note.

[2015-10-30 21:53] sebito91 commented on #4554
FYI, as a test we're going to build go from HEAD along with InfluxDB from HEAD to see if this addresses the issue...will post the results through the weekend.

[2015-10-30 21:54] otoolep commented on #4626
From @jwilder
[code]
We are wondering if the 3 allocs per op can be avoided.

[2015-10-30 22:02] sebito91 commented on #4552
Here's an updated version of the dashboard, you can see where the influxdb process blocks incoming writes thought the write_req continues unabated...this is precisely where the shard(s) get overrun.

![problems](https://cloud.githubusercontent.com/assets/3159454/10859078/edbfa524-7f27-11e5-841a-dabfe6cbd2e5.png)

[2015-10-30 22:03] sebito91 commented on #4562
Posted the same image to #4552 now...you can see where the flush to index stop but incoming write_req continue unabated.

![problems](https://cloud.githubusercontent.com/assets/3159454/10859091/12d9b1c4-7f28-11e5-880b-d9c822e98740.png)

[2015-10-30 22:23] otoolep opened #4629 "bz1: system should skip empty meta files on startup"
Start a single node, and run this program:

[code]

Let it write a few hundred points, then stop all write load. Then on restart of the node, it generates a large series of empty meta files. E.g.

[code]

[2015-10-30 22:23] otoolep commented on #4629
This is with the bz1 engine.

[2015-10-30 22:25] otoolep commented on #4629
cc @pauldix @beckettsean @rossmcdonald

[2015-10-30 22:28] otoolep commented on #4626
Actually @benbjohnson is reworking the code in the query engine, with an eye to reducing allocations. While not directly related to this issue, he points out that the profiles above show the majority time *is* spent in allocation, so we're going to attack that first. We hope to have significantly better QE performance in the near future.

So any specific work on this issue will wait until that wor

[2015-10-30 22:34] otoolep commented on #4629
Actually, I might have misinterpreted the output incorrectly, looking into it. Definitely ending up with a bunch of 0-length files though.

[2015-10-30 22:50] otoolep commented on #4629
It is possible that the log messages may be somewhat deceiving, and are just opening all the WAL files. Why so many are 0-length is still to be determined.

[2015-10-30 23:27] syepes commented on #4552
Great info on this issue, It would be nice if we could create a standard Grafana Dashboard template to monitor all the important metrics from the _internal db.

[2015-10-30 23:39] beckettsean commented on #4584
It certainly should be. Perhaps the metastore isn't fully purging.

Does the behavior persist through a restart of the daemon?

[2015-10-30 23:55] otoolep commented on #4629
There is no real issue here, only one of interpretation. However, the system is doing a lot of unnecessary work.

My analysis tells me the following:

-- large numbers of writes across time result in large numbers of shards.
-- if this number is big enough the log messages are emitted in such a high rate, with a somewhat deceiving text (containing the word "writing"). This gives the impression dat

[2015-10-31 00:20] otoolep commented on #4552
Sounds like a great idea.

Please note we just changed the names of the metrics, so they are more in
line with Go style. Runtime metrics are not affected, since they are
already idiomatic.

Execute SHOW MEASUREMENTS against the internal database for latest names.

On Friday, October 30, 2015, Sebastian YEPES <notifications@github.com>
wrote:

[2015-10-31 00:21] otoolep commented on #4552
Do a SELECT * on each measurement to see the new field names.

On Friday, October 30, 2015, Philip O'Toole <philip@influxdb.com> wrote:

[2015-10-31 00:31] gunnaraasen opened #4630 "[0.9.4.2] A tag key that is the same as a field key cannot be queried directly"
If points are written to a measurement with a tag key and field key that are equal, the points with the tag key are not returned in query results when the tag key is included in any `WHERE` clause conditional using the equals (`=`) or regex (`=~`) operators.

[code]

This could be fixed by either addressing issue https://github.com/influxdb/influxdb/issues/2615 or adding the field key renaming fea

[2015-10-31 02:12] benbjohnson opened #4631 "Query Engine Design"
# Query Engine

## Overview

The current state of the query engine makes it difficult to maintain and to add features. This is a proposal to refactor the engine from its current map/reduce design to a streaming design.

This proposal has the following design goals:

1. Ease development of additional statistic functions
2. Minimize allocations
3. Well-defined, performant remote serialization
4. Sup

[2015-10-31 14:13] pauldix commented on #4631
How would you see this working if you have many underlying series that are getting merged into one? For example say you have this data:

[code]

Then when you do a query like:

[code]

Would you end up joining the two underlying series together on time before or after performing the min on each?

When you join them together, you'd have to do time comparisons. It feels like this might resurface the

[2015-10-31 14:21] pauldix commented on #4629
Thanks for looking into this @otoolep. I'm going to leave this open for now. We won't fix this on the `bz1` storage engine, but it would be good to verify that this isn't an issue on the `tsm1` storage engine once it gets set as the default.

[2015-10-31 15:02] benbjohnson commented on #4631
@pauldix For a group-by `min`, we have relaxed sorting requirements. The low level iterators over the storage engine would need to know the group by interval used in the query and be required to emit all points within an interval from all series before moving to the next interval. They don't need to be sorted.

It would look like this:

[code]

So then for 2 sorted cursors with the following times

[2015-10-31 15:08] pauldix commented on #4631
That makes sense. Since it's streaming, I assume it means we also don't need to keep all the points for an interval in memory?

If we're passing the interval information down to the low level iterators, we should make it so that intervals don't need to start at a bucketed time.

For example if you instead wanted 1m windows, but have the windows start from the time of the query (as opposed to `tsec

[2015-10-31 15:20] benbjohnson commented on #4631
@pauldix It depends on the iterator itself. Most function iterators (`min`, `max`, `count`, etc) can discard points immediately after processing them. Other ones like `stddev` and `percentile` need to collect all points in the interval. Other ones, like rolling averages could manage their own complexity of bucketing within the iterator itself.

I agree about tweaking the windowing. The iterators s

[2015-10-31 21:39] sergeylanzman commented on #4569
I use several different bases and therefore more comfortable to use a function that accepts data settings and then sends it to InfluxDB. This is not always true to reuse the same client. For me it creates problems after they discover them.
I did added a solution DisableKeepAlives true.
Recommend add this setting or do NewClientWithHttpClient so that everyone can give http.client but he wants.
I al

[2015-11-01 09:43] shanielh commented on #4619
I have some use cases for this issue:

* Dividing Two Series (Number of errors / Number of requests) to achieve `error%`
* Dividing Two Series with Time Shifting ("Number of Requests / Number of Requests 7 days ago") to achieve `%traffic against last week`

I think that Graphite-API addresses those issues, It just "forces" me to use lots of series instead of tags.

[2015-11-01 09:52] aadrian commented on #4619
+1

[2015-11-01 13:17] shanielh opened #4633 "Document what happens when writing a batch returns an error"
Sometimes when I write a batch, I get a random exception that related to one point in the batch:

[code]

I couldn't figure out from the documentation what happens in this case: Is InfluxDB dropping all the points given or just the one in the error?

[2015-11-01 20:03] shanielh commented on #4631
So looking forward to it, Subqueries :+1:

[2015-11-01 20:40] otoolep commented on #4569
The second option is already being developed here: https://github.com/influxdb/influxdb/pull/4598

[2015-11-01 20:43] otoolep commented on #4633
This should be opened against the influxdb.com repo, not this repo.

https://github.com/influxdb/influxdb.com

[2015-11-01 20:43] #4633 closed

[2015-11-02 02:20] sebito91 commented on #4552
@otoolep, @pauldix ...any ideas on the graph we included a couple of days ago?

What's interesting with this development is that the app stayed up (no panic), but writes were blocked for a long period while write_requests continued to grow...so something is still listening for connections but unable to commit fast enough to the wal/index.

[2015-11-02 03:31] kureikain opened #4634 "Disk space won't reclaim after removing point using retention policy"
I'm not sure if this is an issue.

I have telegraf run for 2 days and it use up to  500MB. I realized that 0.9.4 takes more space than LevelDB, which makes sense. So I set retention policy default to 6hour.

[code]

Once the data is removed, mean I don't see any old data when I tried to query it. However, when I'm using

[code]

I saw the same disk space usage as before, nothing is reduce...

Is t

[2015-11-02 05:23] otoolep commented on #4634
We would need to see the full output from `du -sch` to know if there is a problem -- before and after.

[2015-11-02 05:52] timgriffiths commented on #68
+1

[2015-11-02 06:12] timgriffiths commented on #52
+1

[2015-11-02 08:51] erdii commented on #4615
I'm running InfluxDB 0.9.4.2 on OS X 10.11.1 installed via Brew

Strange.. I can't reproduce it anymore... I haven't changed anything in my Installation ( I guess I have^^ )...

[2015-11-02 09:12] dennisbauer commented on #4584
Restarting the daemon helped to store data, but there is another problem now. No matter which timestamp I include, 1970-01-17 will be stored. This is independent from the database, it happens on all databases (even the ones which were working quite well)

[2015-11-02 09:20] Issif opened #4635 "Log file is empty after logrotate"
Hi,

After logrotate execution, my log file is empty :

[code]

A restart of influxdb daemon fixes the problem (influxd.log is filled again).

My release is :
[code]

Thanks

[2015-11-02 10:06] erdii commented on #4615
[code]

[2015-11-02 11:35] ingvagabund commented on #1098
Hi, although Fedora have relaxed dependency bundling I would still like to build golang projects from debundled dependencies. Does it make sense for influxdb to generate Godeps.json file or its equivalent (e.g. GLOCKFILE)? So I can be aware which commit of each dependency is used for building?

[2015-11-02 13:00] erdii opened #4636 "dropping a database and recreating it immediately yields strange behaviour"
Hello fellas! I'm on OS X 10.11.1 and InfluxDB 0.9.4.1

While developing i often re-create my Test-DB via InfluxCLI and run client tests against my Influx server instance so my influxCLI looks like this:

[code]

after doing so Influx does really strange things:
- node-influx (a influx javascript client) returns with this error when trying to drop a measurement that was inserted after recreating t

[2015-11-02 13:33] hillar commented on #77
bump

[2015-11-02 13:38] aadrian commented on #77
+1

[2015-11-02 17:06] otoolep commented on #4629
Yeah, I'll ensure the behaviour of `tsm1` is sane in this case, before we release 0.9.5.

[2015-11-02 17:19] otoolep commented on #4631
How will this design account for the fact that two shards may have different types for the same field, for a given measurement?

[2015-11-02 17:24] otoolep commented on #4631
I'd like more details on how the distributed case is going to work.

[2015-11-02 17:24] corylanou commented on #4631
For int vs float fields I suspect we'll have to throw an error.  In general, it would be nice to be able to return an error from the query engine, which currently tends to be very difficult if they error occurs at the iterator (shard) level.  If we added the ability to return errors then we could handle these types of scenarios as well

The one issue that I would like to be able to correct as well

[2015-11-02 17:29] AnuRam123 commented on #3222
I have the same problem using
version 0.9.4.2
I installed the latest version and am trying to access the admin web ui using http: <<ipaddress>:8083 and am unable to access the ui. I am able to use CLI to create a db

[2015-11-02 17:31] beckettsean commented on #4634
What was the retention duration before you changed it to 6 hours?

[2015-11-02 17:37] beckettsean commented on #4636
Probably a duplicate of https://github.com/influxdb/influxdb/issues/3551

[2015-11-02 17:38] beckettsean commented on #4584
@dennisbauer that sounds like a units mismatch. InfluxDB stores every timestamp as a nanosecond timestamp unless otherwise configured during the write.

If you were supplying microsecond timestamps without microsecond precision, that would make all timestamps appear to be from Jan 17th, 1970:

[code]

Review the Precision query string parameter from the [line protocol syntax guide](https://influxd

[2015-11-02 17:38] #4584 closed

[2015-11-02 17:38] benbjohnson commented on #4631
@otoolep

If two iterators are of different types then the one should be cast to the other in a deterministic way. For example, an iterator from an older shard could set a `float` type for the field and then if it were changed to `int` in a newer shard's iterator then that iterator would cast each item to a float.

The shards will execute in isolation merged via higher level iterators. The fact th

[2015-11-02 17:46] otoolep commented on #4631
Yeah, I follow that. I guess I'll just wait for the code to see how it will work. We had lots of trouble with remote mapping, the way it was coded. In the examples above, it looks like the "join" operation will take place on the co-ordinator node (the node receiving the query). Is that correct?  If so, it sounds like the "join" code will be doing a type-assertion on the iterators to determine whic

[2015-11-02 18:05] kureikain commented on #4634
Before, it was infinity(default one).

Then I was so frustrated so I manually add a another retention policy one(non default) and now I can see disk space be reclaim correctly.

[code]

[code]

I will monitoring for a couple days and will close this issue out once I confirm that the disk space get reclaim.

[2015-11-02 18:36] JulienChampseix commented on #4594
Dunno was provided over influxdb release (never touched this section, it's the default i have)

I'll try 0.9.5 night build. From a single-node setup, is it possile to move to cluster mode ? or what the best way to do that ? (Using 0.9.5 night build)

[2015-11-02 19:00] bwhaley commented on #4626
Turns out that I was wrong about the size of the queries. The "slow" query on cpu has one series per cpu core, or 16x more than load. So it makes sense and there is no issue here. Sorry about that.

[2015-11-02 19:00] #4626 closed

[2015-11-02 19:30] beckettsean opened #4637 "[feature request] internal query ID for log correlation"
When there are thousands of queries in a log it is very tough to correlate the `[query]` submission with the `[http]` query return. An internal ID would be useful for matching the two, and looking for queries that never returned.

[2015-11-02 19:31] beckettsean opened #4638 "[feature request] log an error when a query does not return"
Right now if a query doesn't return, there is nothing in the logs. Just a `[query]` event with no correlating `[http]` result return.

[2015-11-02 19:47] corylanou commented on #4637
We already have `request_id` in the system, we just don't pass it around.  Every time a query get's issued, we manufacture a `uuid` for it.  This _should_ get passed to each call it makes.  It just hasn't been implemented yet.  Then when you consolidate logs across nodes, you can quickly see which node's participated in that actual query for debugging.

Here is the line that manufactures the `uuid

[2015-11-02 19:48] corylanou commented on #4637
It get's logged here as well: https://github.com/influxdb/influxdb/blob/master/services/httpd/response_logger.go#L104

[2015-11-02 20:09] beckettsean commented on #4615
Without the `test_db` issue this is a duplicate of https://github.com/influxdb/influxdb/issues/3551

[2015-11-02 20:09] #4615 closed

[2015-11-02 20:31] corylanou commented on #4631
We should start sending `Request-Id` through our system.  So if we are re-architecting the query engine, it should expect a `Requeset-Id` maybe at the sql-statement level, and any time it logs anything will reference that ID.

Here is the issue: https://github.com/influxdb/influxdb/issues/4637

[2015-11-02 20:37] beckettsean commented on #4637
@corylanou I don't see any evidence of that line in the logs. It might be in the HTTP header, but we don't log those.

[2015-11-02 20:45] rossmcdonald commented on #4635
@Issif What Linux distribution and version are you using?

[2015-11-02 20:51] corylanou commented on #4637
It does log.  Here is a line from my log:

[code]

`4c270eac-81a3-11e5-8004-000000000000` is the `Request-Id`

[2015-11-02 21:43] beckettsean commented on #4637
Thanks for the clarification, @corylanou.

The header UUID doesn't correlate to the initial `[query]` entry, so there's no way to find orphaned queries except by matching the actual query.

[code]

My logs are clean because there's only ad hoc load on this server, so I know those two are the submission and the return of the same query. In a normal prod instance, however, there are dozens of `[quer

[2015-11-02 21:46] corylanou commented on #4637
That is part of what I was stating isn't `wired up`.  Everything to do with that statement executing should log with the `Request-Id`.  Otherwise, I agree, it is impossible to track through the log.

[2015-11-02 22:34] svenmueller commented on #3728
we are also running into this error (ubuntu 14.04, 4GB node)

[2015-11-02 22:56] jgerschk commented on #4594
@otoolep  you mention above no other reports of this, well today after doing a stop and start of the influxdb service, I am in the same boat here.

We have stopped and started this service many times, but today, it won't start....

This is it from the logs....

[wal] 2015/11/02 16:48:24 reading WAL files to flush to index
[wal] 2015/11/02 16:48:24 writing 24873 series from WAL file /opt/influxdb/w

[2015-11-02 23:00] jgerschk commented on #4594
After a reboot of the server, and several stop start attempts it does seem to be moving along trying to start now -- at least it's processing series from WAL at this time....

[2015-11-02 23:53] otoolep commented on #4594
All these errors are addressed in master, so there is nothing more to do here.

[2015-11-02 23:53] #4594 closed

[2015-11-03 00:37] clanstyles opened #4639 "[0.9.4.2] CPU 100%"
I have a 3 node cluster. Each are m4.Large on Amazon. the CPU is 100%.

Each request I batch write all analytics when the request closes. There are usually 2-3 types of analytics I log.

[code]

Query times are ~1 second (through the web interface). To load balance the requests, I've hooked up elastic load balancer to all the nodes and allow them to rotate that way (not sure if this causes issues?

[2015-11-03 00:40] beckettsean commented on #4639
How many batches are you writing per second?
How many points per batch?
What queries are running and how many?

[2015-11-03 00:49] ClanStyles commented on #4639
I'm running no queries. Only writing.
A batch consists of either 1 or two points. Initially a flood of two points.
I can't tell how many I'm writing per second. We see an average of 2M requests a day. It's spread out pretty evenly (from the CDN). This does NOT mean all these hit the web server. At this moment, I can't tell because the latency is causing timeouts. I'll be removing the influx stats

[2015-11-03 01:06] otoolep opened #4640 "Add log messages for shard lifecycle"
Every shard needs to be traceable in the system -- when it came into existence, and when it is deleted.

[2015-11-03 01:12] jackzampolin commented on #4639
@ClanStyles What volume are you using to back the m4.large? A SSD?

[2015-11-03 01:12] ClanStyles commented on #4639
Took influxdb out of rotation, no requests, still 100% CPU.

[2015-11-03 01:31] beckettsean commented on #4639
@ClanStyles if you are writing a million points per day in batches of 1 or 2 points each, that's tens of thousands of http requests per second to InfluxDB. That's too much HTTP overhead for the server.

Batch the writes into 100+ points per batch, ideally 5k points or so, for best performance. Alternately use UDP for the writes.

The high CPU load is likely because the system is trying to drain th

[2015-11-03 01:37] ClanStyles commented on #4639
@beckettsean at this moment, there are no writes happening the CPU is still idle at 100%. The current issue with batching points is the need to write a batch writer.

Since Influx's client doesn't support multiple go-routines, this instantly limits us to a "per context" write. In the event that the server is shutting down, you'll need to gracefully write any remaining logs. There are various steps

[2015-11-03 02:01] otoolep commented on #4639
That looks like the internal stats being written to storage.

We need to surpress those log messages as they are too verbose in default mode.

Are you running InfluxDB as a service?

[2015-11-03 02:04] ClanStyles commented on #4639
Yes on the standard AMI from Amazon following your guide.

[2015-11-03 02:12] otoolep commented on #4639
At this stage it's pretty difficult to work out why, so a restart is probably best. However, we can run with profiling enabled to see if it re-occurs.

https://github.com/influxdb/influxdb/blob/master/CONTRIBUTING.md#profiling

Add `-cpuprofile /tmp/influxd.prof` to `/etc/default/influxdb`, which will enable profiling data to that file. So if it hits 100% we'd like that file, plus you need to tell

[2015-11-03 02:19] ClanStyles commented on #4639
I'll do that.

Just to update, we're seeing about 1200 /requests a second we want to record stats for.

[2015-11-03 02:21] otoolep commented on #4639
Any continuous queries in effect?

[2015-11-03 02:23] ClanStyles commented on #4639
No, at the time it started to write, I didn't see more than 6 requests through ELB before the system went 100% CPU and died.

[2015-11-03 02:35] ClanStyles commented on #4639
So after the restart, it seems like influx isn't spiking anymore on any of the 3 nodes.

[2015-11-03 02:35] otoolep commented on #4639
OK, thanks @ClanStyles -- if you are up for it, we can run with profiling enabled in case it re-occurs.

[2015-11-03 04:03] ClanStyles commented on #4639
Ah I think I figured out a trigger. Try to delete a large amount of data -> CPU spikes -> http times out.

[2015-11-03 04:06] otoolep commented on #4639
Can you show use your query?

[2015-11-03 04:08] ClanStyles commented on #4639
DELETE FROM foo WHERE time > '2014-06-30'
since drop series doesn't seem to work.

I'm trying to truncate data from the table.

[2015-11-03 07:19] dennisbauer commented on #4584
@beckettsean I know that InfluxDB expects nanoseconds by default. Thats why I used the query which we discussed above:
```insert test,identifier=Testperson value="test test test" 1445944679577000000```

But still I am getting wrong timestamps. But not only in my test database, but also in older databases which were working fine before.

[2015-11-03 07:49] The-Nik commented on #3674
+1 for Milestone 0.9.6

[2015-11-03 08:11] iwinux opened #4641 "[0.9.5-nightly]: CLI panics before auth"
Hi,

I've set up a new instance of InfluxDB 0.9.5-nightly-6682752, and encountered a crash when starting CLI `influx`.

Here's my config file:

[code]

I set `auth-enabled = true` **before** creating any user. I then restarted the server and launch `influx`, which crashed with this panic:

[code]

And this is the server http log:

[code]

I guess this is caused by PR #4514, which attempts to execu

[2015-11-03 09:57] Issif commented on #4635
Sorry :

[code]
[code]
[code]

Thanks

[2015-11-03 10:41] simcap opened #4642 "Restore functionality panics with Store.RPCListener not set (0.9.5-nightly)"
My configuration is:

* 1 fresh install of a single InfluxDB instance version 0.9.5-nightly-6682752
* and therefore no clustering

After having a backup snapshot done successfully i run this command (with no InfluxDb process running):

`sudo /opt/influxdb/influxd restore -config /etc/opt/influxdb/influxdb.conf /tmp/latest-snapshot`

I get the following stacktrace:

[code]

Anything I could be doin

[2015-11-03 15:27] mareklipka commented on #1823
What are the current plans about it?

[2015-11-03 15:56] otoolep commented on #4641
Fixed by https://github.com/influxdb/influxdb/pull/4644

Thanks for the report @iwinux

[2015-11-03 16:04] otoolep commented on #4635
@rossmcdonald -- perhaps we should confirm that the distros we do run on actually work? Force a rotate to take place and check if `influxd` writes to the new file?

[2015-11-03 16:04] #4642 closed

[2015-11-03 16:07] otoolep commented on #4642
Thanks for the report @simcap -- fixed by #4643

[2015-11-03 16:08] #4641 closed

[2015-11-03 17:26] pbooth opened #4645 "Inconsistent behavior for queries with very small time units"
I'm finding it difficult to get consistent behavior when querying Influxdb (from grafana fwiw) for *very* finely grained data. See below for data written approx 50,000 times per second, where I am trying to create a scatter plot at sub-millisecond resolution:

[code]

Is there a different level of support for different time units?

Puzzled,

[2015-11-03 17:35] ClanStyles commented on #4639
Now the daemon is crashing. How do I upload the prof file?

[2015-11-03 17:35] beckettsean commented on #4639
`DELETE` is not a valid query. You're hitting a combination of that not being valid https://github.com/influxdb/influxdb/issues/1647 and the error not being thrown https://github.com/influxdb/influxdb/issues/4404.

I will escalate #4404 for the next release, I honestly forgot we hadn't fixed that.

`DROP SERIES` is a valid command and will cause high load for a while. InfluxDB [assumes deletes are

[2015-11-03 17:39] beckettsean commented on #4584
@dennisbauer can you try the insert with `curl` while explicitly using the `precision` parameter?

`curl -iX POST 'http://localhost:8086/write?db=labtest&precision=n' --data-binary 'test,identifier=Testperson value="test test test" 1445944679577000000'

[2015-11-03 17:41] beckettsean commented on #4635
@Issif are you using the logrotate file that shipped with the package or one you write yourself?

@rossmcdonald does our logrotate file have `copytruncate` set?

[2015-11-03 17:43] beckettsean commented on #4645
@jackzampolin can you investigate and try to repro?

[2015-11-03 18:01] jackzampolin commented on #4645
@beckettsean On it!

[2015-11-03 18:07] otoolep commented on #4635
copytruncate is set.

https://github.com/influxdb/influxdb/blob/master/scripts/logrotate

Nothing has changed in this file since you wrote it.

On Tuesday, November 3, 2015, Sean Beckett <notifications@github.com> wrote:

[2015-11-03 19:08] jackzampolin commented on #4645
### Data Set:

[code]

### Queries

GROUP BY time(1ms)
[code]
GROUP BY time(1u)
[code]
GROUP BY time(500n)
[code]

Per the [querying time syntax documentation](https://influxdb.com/docs/v0.9/query_language/data_exploration.html#time-syntax-in-queries) it does not appear that we support nanosecond precision in queries.

I was not able to reproduce the microsecond error. What version of InfluxDB are

[2015-11-03 19:09] beckettsean commented on #4635
The behavior strongly suggests that `copytruncate` is not working. This is the exact issue that flag is meant to prevent.

@Issif when the log file rolls over, does the inode of `influxdb.log` stay the same? It should, if `copytruncate` is working as expected.

[2015-11-03 19:36] jackzampolin commented on #4274
Fixed by https://github.com/influxdb/influxdb/pull/4600/files

[2015-11-03 19:36] #4274 closed

[2015-11-03 19:38] jackzampolin commented on #4154
Looks like this is now merged.  Closing.

[2015-11-03 19:48] jackzampolin commented on #3992
Closing in favor of https://github.com/influxdb/influxdb/issues/3318

[2015-11-03 19:48] #3992 closed

[2015-11-03 20:06] beckettsean commented on #4154
Jack, I believe the merge was reverted. @otoolep what's the status of `ALTER DATABASE`?

[2015-11-03 20:11] corylanou commented on #4154
I believe we decided that we may add an `alias` method, but likely not an `alter` or `rename`.

[2015-11-03 20:15] otoolep commented on #4154
The feature was reverted, a person in the community may submit a new patch at a later date, but no work planned by us right now.

[2015-11-03 20:16] dsw6 opened #4646 "[0.9.4 & 0.9.5-nightly-6682752] Continuous Queries stop running"
Using the build, I create two continuous queries.  One query runs every 5m and one query runs every 1h.  The log shows the queries are successfully created and the queries begin to run.

After about and hour (sometime more, sometimes less) the queries stop running.  The log shows no errors, just no continuous query activity.  Using the admin console to list the continuous queries ("show continuous

[2015-11-03 20:16] jackzampolin commented on #4154
Sorry about that!  Thanks for the catch @beckettsean

[2015-11-03 20:20] dsw6 commented on #4646
Note:  stopping and restarting the influxdb service starts the continuous queries running again.

[2015-11-03 20:21] sparrc opened #4647 "InfluxDB Client v2 should support UDP"

[2015-11-03 20:26] beckettsean commented on #4646
@dgnorton Any ideas?

[2015-11-03 20:58] panda87 opened #4649 "[0.9.5-nightly] Drop server doesn't succeed"
Im using the latest nightly build of ver 0.9.5 after upgraded from 0.9.4.2.
The main reason I decided to use this version is because of the ability to drop servers (raft and non raft).
I want to upgrade the machines without losing data.

So first I added the 4th server (non raft) to the cluster, and I altered the RETENTION POLICY to REPLICATION 4, this doesn't help ( the new node didn't receive re

[2015-11-03 21:36] corylanou opened #4650 "Importer should skip empty lines"
There is currently a bug that when the importer encounters a blank line, it issues an empty query to the database.  While this is harmless, it will result in a misleading output such as:

```

[2015-11-03 22:23] corylanou opened #4651 "Importer doesn't flush out last batch"
The importer doesn't flush out the last batch that is left in the accumulator before exiting.

[2015-11-03 22:39] #4650 closed

[2015-11-03 23:14] #4651 closed

[2015-11-04 00:11] mtzaurus opened #4653 "[0.9.4.2] influxdb terminates when re-creating a database"
After having an InfluxDb instance running for 8+ hours under intensive load (4 retention policies, ~30 measurements, ~60 mln. points in total), while recreating the database using DROP/CREATE commands, the server exits with the following in the log:

[code]

[2015-11-04 00:13] otoolep commented on #4653
Please tell us the version you are running.

[2015-11-04 00:18] mtzaurus commented on #4653
SHOW DIAGNOSTICS gives:

build
Branch	Commit	Version
0.9.4	"da1b59e7d7764d36786253b2db13b97f42ed4e1d"	"0.9.4.2"

[2015-11-04 00:19] mtzaurus commented on #4653
BTW, I have also got a full /var/log/influxdb/influxd.log
It's about 75M in total, though.

[2015-11-04 00:22] mtzaurus commented on #4653
I can also send you a Python script used for recreating database/retention policies/continuous queries.

[2015-11-04 00:22] otoolep commented on #4649
@corylanou

[2015-11-04 00:24] otoolep commented on #4653
Thanks @mtzaurus -- if you can attach it here, that would be best.

[2015-11-04 00:25] beckettsean commented on #4653
Was the server under write load to that database when you dropped the database?

[2015-11-04 00:25] beckettsean commented on #4653
Also what was the panic message just before the stack trace?

[2015-11-04 00:37] mtzaurus commented on #4653
How can I attach files ?
It seems I can't attach any files here...

[2015-11-04 00:38] mtzaurus commented on #4653
Load generation was stopped after running for ~8 hours.
When I tried to re-initialize database, shit happened.

[2015-11-04 00:42] otoolep commented on #4653
Don't you see " Attach files by dragging & dropping or selecting them. "  in the dialog?

[2015-11-04 00:49] mtzaurus commented on #4653
It says: "Attaching documents requires write permission to this repository. Try again with a PNG, GIF, or JPG."
I am going to attach logfiles/.py scripts.

[2015-11-04 00:52] otoolep commented on #4653
OK @mtzaurus -- the support team can provide an upload resource you can use.

[2015-11-04 00:52] mtzaurus commented on #4653
Nice.

[2015-11-04 01:06] beckettsean commented on #4653
@rossmcdonald can you drop an upload link on this ticket?

[2015-11-04 01:07] mtzaurus commented on #4653
I will upload as soon as I have the link.

[2015-11-04 01:16] corylanou commented on #4649
This is working as intended.  It might be an underlying bug in the shard creation, but the drop server saw that somewhere a shard wasn't replicated based on the meta store, so it stops.  To confirm this, we would need to see what the shards are in terms of what the meta store thinks.  You can always use `DROP SERVER foo FORCE` to continue, but in normal circumstances this would risk data loss.  Fo

[2015-11-04 01:19] otoolep commented on #4649
Correct, the new RP replication won't take effect immediately.

@panda87 -- can we see the output of `SHOW SHARDS`?

[2015-11-04 01:49] yuankui commented on #68
+1

[2015-11-04 03:42] li-ang commented on #3296
Is the issue fixed?

[2015-11-04 03:44] li-ang commented on #3295
Is the issue fixed? I test it ok .

[2015-11-04 06:47] pkkummermo opened #4654 "[0.9.5-nightly] Query performance"
Hi!

I've installed the nightly (now running at version 0.9.5-nightly-6682752) and I'm having huge performance issues which ultimately leads to a crash. I've tried to upgrade the nightly three times (the latest being version 0.9.5-nightly-6682752), just to see if there was a known bug which has been fixed.

I have the following schema
sales:

- Tags
t1 (20-30 different strings), t2 (values from 00

[2015-11-04 09:12] Issif commented on #4635
I think I found why ```copytruncate ``` doesn't work.

I still have a relic of a previous install :
[code]
with :

[code]
and

[code]

So, with ABC order, ```influxd``` has been played and  ```influxdb``` just after. The first one keeps  ```inode``` and the second doesn't.

I'll remove ```/etc/logrotate.d/influxdb```  and restart the daemon, I'll see tomorrow if it works.

Thanks.

[2015-11-04 09:24] JulienChampseix opened #4655 "[0.9.4.2] - Crash / Panic : Span weird"
Hi Team,

Version infos :
InfluxDB v0.9.4.2 (git: 0.9.4 da1b59e7d7764d36786253b2db13b97f42ed4e1d)

Server 0.9.4.2 crashed suddently, stack log crash:
[code]

[2015-11-04 12:56] dennisbauer commented on #4584
@beckettsean After restarting the daemon again, everything works fine. This has been weird to me for quite a time now: sometimes influxdb works quite well, other times there is no (visible) error message and everything seems to work but indeed it's not. Well nevertheless this issue seems to be solved now. Thansk again for your support!

[2015-11-04 13:14] panda87 commented on #4649
Unfortunately as I said, running `SHOW SHARDS` returns `Query returned no results!`.
Do you what should I do to in to see the current shards status?

In addition, I tried to DROP FORCE one of the nodes and add new one instead. It seems the new node look for the dropped node and when adding it, it doesn't find any Leader Raft.

When I run `show servers` on the old (2) nodes I can see the new node,

[2015-11-04 13:21] daviesalex opened #4656 "[RFC] Compression for inputs (most obviously, UDP input)"
It seems the consensus is that at scale, the UDP input should be used.

If batching properly, the data from real world setups is extremely compressible. Adding native support to pass in compressed data (with whatever algorithm makes most sense for Go) would substantially reduce network traffic across WAN links and should be able to run efficiently in multiple goroutines.

Once added, the next step

[2015-11-04 13:30] dgnorton commented on #3296
@li-ang yes

[2015-11-04 13:30] #3296 closed

[2015-11-04 13:33] daviesalex commented on #4609
We see this with 0.0.5 under load with or without clustering and have reported it a few times, e.g.  https://github.com/influxdb/influxdb/issues/4552

I understand from @pauldix that there are some tsm1 changes due this week that may fix this.

[2015-11-04 13:46] alexiri commented on #1647
+1

[2015-11-04 14:19] rossmcdonald commented on #4653
@mtzaurus Here is a link you can use for the upload: http://cwok.me/u/5LzE

Let me know if you run into any issues!

[2015-11-04 14:38] mtzaurus commented on #4653
I just uploaded an archive with a post-mortem log, and a .py script for setting up the database I used.
It seems that it's a null pointer dereference:
Actually, it happened upon DATABASE DROP

[query] 2015/11/04 00:39:10 DROP DATABASE analytics
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x0 pc=0x796145]

....

[2015-11-04 15:37] smaddula commented on #77
+1

[2015-11-04 15:53] 5outh commented on #2926
+1

[2015-11-04 16:04] otoolep commented on #4609
Unless @ivanscattergood reports otherwise I assume the report is about the bz1 engine. But nothing will be changing that can effect the bz1 engine since we are only focusing on tsm1.

[2015-11-04 16:05] otoolep commented on #4609
The tsm1 engines changes in the works will not alleviate this condition. The only thing to do it to back-off on the load.

[2015-11-04 16:05] #4609 closed

[2015-11-04 16:06] otoolep commented on #4609
@ivanscattergood -- you may wish to try out the experimental tsm1 engine, but keep in mind you will need to wipe your database between upgrades until 0.9.5 is released.

https://github.com/influxdb/influxdb/blob/master/etc/config.sample.toml#L52

[2015-11-04 16:08] otoolep commented on #4653
@rossmcdonald -- please past e the entire panic trace here.

[2015-11-04 16:12] otoolep commented on #4649
Can you please show us the output of `SHOW SHARDS` as executed at the CLI? You are using the admin tool, which can hide details.

[code]

[2015-11-04 16:12] otoolep commented on #4649
Same with `SHOW SERVERS`. Please show us the output of this, with the CLI connected to each node. Please run `SHOW SHARDS` when connected to each node as well.

[2015-11-04 16:13] mtzaurus commented on #4653
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x0 pc=0x796145]

goroutine 935006 [running]:
github.com/boltdb/bolt.(*Bucket).pageNode(0xc851e13468, 0x1327, 0xc84dc52f60, 0xc820031680)
        /tmp/build/src/github.com/boltdb/bolt/bucket.go:693 +0x2e5
github.com/boltdb/bolt.(*Cursor).search(0xc84dc53140, 0xc84dc531e8, 0x6, 0x20, 0x1327)
        /t

[2015-11-04 16:13] otoolep commented on #4653
This is an issue in the bz1 engine. Since all development efforts are focused on the tsm1 engine, this bug may soon be moot.

[2015-11-04 16:19] otoolep commented on #4654
You have neglected to tell us the actual queries you are running. Please include details of those.

[2015-11-04 16:23] otoolep commented on #4654
You should also be aware that we are actively working on the query-engine performance and improvements can be expected over the next few weeks.

[2015-11-04 16:26] handfreezer opened #4658 "[0.9.5-nightly] retention policy is filtering data"
Hello,

   I got a measurement in a db, added values, then changing the dfault retention policy as for result to filtered previous data. If I set back the previous retention policy as default, I get back my previous data, but data inserted in middle time get filtered.

An extract of CLI is available here (it is a .txt file): http://we.tl/7t4hXtASOJ

Version of Influxdb: 0.9.5-nightly-6682752

Best

[2015-11-04 17:02] panda87 commented on #4649
Node01
[code]
Node02
[code]

[2015-11-04 17:06] otoolep commented on #4649
Hmmm.

Your system is not happy, since there are many shards in existence that have not been assigned to any nodes. We can dig into this, but you are pushing clustering which is only in alpha state, and you may be hitting bugs we have yet to solve.

Because clustering is only alpha-quality, we have not tested much beyond 3 nodes. If you want a stable system I suggest you restrict your clusters to

[2015-11-04 17:07] otoolep commented on #4649
We hope to implement `DROP SHARD` soon which will help fix up this system but that feature is a few days away at best, perhaps more.

[2015-11-04 17:43] jackzampolin commented on #4654
@pkkummermo If `sales` is a measurement then thats very high series cardinality. Especially the tag `t2` which has 10k different possible values.  I would suggest lowering the number of possible tags or separating the data over two or more measurements if possible.

[2015-11-04 18:15] otoolep commented on #4649
If you can come with a precise set of steps that puts your cluster in this state, I would be interested in looking into this.

[2015-11-04 18:17] corylanou commented on #4649
When you issued the drop server, was the node you were dropping already shut down?  That is our current recommended approach, but I have tested both ways and I haven't seen it fail.  I would also be interested if you can repeat the steps that recreate the situation.

[2015-11-04 18:20] ivanscattergood commented on #4609
If this message is the equivalent of back off and retry I will treat it as such.

I have now moved to the tsm1 engine and I'm no longer seeing the error.

---- otoolep wrote ----

Unless @ivanscattergood<https://github.com/ivanscattergood> reports otherwise I assume the report is about the bz1 engine. But nothing will be changing that can effect the bz1 engine since we are only focusing on tsm1.

[2015-11-04 18:23] jackzampolin commented on #4658
@handfreezer in InfluxDB data is stored based on `"database"."retention_policy"."measurement"` so in your example the first query actually runs the following query:

`SELECT * FROM "graphite"."default"."JAVA_heap"`

or written another way

`SELECT * FROM "graphite".."JAVA_heap"`

And the second query, after changing the retention policy is running:

`SELECT * FROM "graphite"."retention_14jours"."J

[2015-11-04 18:23] #4658 closed

[2015-11-04 18:29] beckettsean commented on #3295
@li-ang this issue applies only to clusters. The query is known to work on single node systems, but there are some cluster-specific features yet to be completed.

[2015-11-04 18:30] otoolep commented on #4609
Yes @ivanscattergood -- backoff and retry is a good way to think about it.

[2015-11-04 18:45] beckettsean commented on #4655
@JulienChampseix any recent changes in load on the system? Any possibly correlative system changes?

[2015-11-04 18:47] beckettsean commented on #4655
A quick search turns up these Golang issues with the same stack trace: https://github.com/golang/go/issues/12157, https://github.com/golang/go/issues/12158.

@JulienChampseix what OS and CPU architecture are you running?

[2015-11-04 18:53] otoolep commented on #4655
This is a known issue with Go 1.5.1. We are hoping it will be fixed in Go 1.5.2.

https://github.com/influxdb/influxdb/issues/4554

[2015-11-04 18:55] otoolep commented on #4554
https://github.com/golang/go/milestones  is what we need to watch for the release of Go 1.5.2.

[2015-11-04 19:02] otoolep commented on #4655
Actually, this might be a different issue. I'm going to leave this open for now so we can see if it clears up after 1.5.2 is released and we start building with that.

[2015-11-04 19:04] #4654 closed

[2015-11-04 19:05] pkkummermo commented on #4654
Hi! The queries are simple sum(v1) where time {{today}} group by time(1h). I suspected the tags being a the problem, but shouldn't 10k in terms of indexing be a piece of cake?

[2015-11-04 19:10] otoolep commented on #4654
Can you show us the exact queries?

[2015-11-04 19:16] jackzampolin commented on #4654
@pkkummermo The problem isn't the one tag with 10k possible values.  In combination with the other tags it creates a very large [tag set](https://influxdb.com/docs/v0.9/concepts/glossary.html#tag-set) and as a result a large number of [series](https://influxdb.com/docs/v0.9/concepts/glossary.html#series).  So instead of indexing 10k values, InfluxDB is indexing 480 million values.

[2015-11-04 19:22] otoolep opened #4659 "Support "DROP DATABASE IF EXISTS""
This useful command would allow clients to idempotently drop a database. If `IF EXISTS` is present, no error would be returned if the database does not exist.

https://github.com/influxdb/influxdb/pull/3892 introduced `CREATE DATABASE IF NOT EXISTS`, so using that PR as a guide, along with investigating the current implementation of `DROP DATABASE` should make it relatively easy to implement this

[2015-11-04 19:24] otoolep commented on #4640
Shards are created by the code in the `meta` package. They are also deleted there, in response to retention policy enforcement. We need comprehensive, consistent, logging added for each, so we can trace the lifecycle of every shard. Log messages should include the shard ID.

[2015-11-04 19:26] rossmcdonald commented on #4635
@Issif Thank you for the update. That would make sense if there were conflicting logrotate files. We will be adding a check for legacy logrotate files in the post-installation step of the next release, so hopefully this problem will be avoided in the future.

Let us know what you find out.

[2015-11-04 19:26] otoolep commented on #4544
The command parsing in the CLI code needs to be a little bit more sophisticated to solve this issue. Ideally the CLI code would parse tokens, allowing more intelligent behaviour.

[2015-11-04 19:28] otoolep commented on #4628
Adding support for the command `history` to the CLI would not be difficult. Simply look into how the existing code reads the commands at the CLI (`help` for example) and if `history` is entered, dump the contents of the history file.

[2015-11-04 19:34] otoolep opened #4660 "SHOW SHARDS should include database and retention policy"
`SHOW SHARDS` should be enhanced to show the associated database and retention policy, so it looks something like so:

[code]
This should not be that difficult, as the information is all contained in the `meta` store, which every node has access to. It is https://github.com/influxdb/influxdb/blob/master/meta/statement_executor.go#L355 that needs updating. (`executeShowShardsStatement`).

[2015-11-04 19:36] otoolep commented on #4283
Anyone familiar with toml processing -- or can just check out the code -- may be able to solve this issue. It's easy to reproduce -- simply pass a config file to `influxd` that does not contain any HH section.

[2015-11-04 19:37] pkkummermo commented on #4654
Ah, so it's permutations. That would explain the behaviour. Thanks for the tip. I can provide exact queries tomorrow if they are of interest.

[2015-11-04 19:39] otoolep commented on #4246
I don't believe there is any issue here.

[2015-11-04 19:39] #4246 closed

[2015-11-04 19:41] otoolep commented on #3354
HH has been refactored recently, I don't think we have an issue any longer.

[2015-11-04 19:41] #3354 closed

[2015-11-04 19:42] otoolep commented on #3268
We haven't seen this issue in ages, and can also be triggered by misconfigured clusters (I've done it myself). I don't believe we have an issue any longer.

[2015-11-04 19:42] #3268 closed

[2015-11-04 19:44] otoolep commented on #3170
This should not be too difficult. Simply trace through the code to learn where errors are created, and use Go's built-in JSON encoding to spit out a JSON error.

[2015-11-04 19:45] otoolep commented on #3070
The code that performs all this parsing is at https://github.com/influxdb/influxdb/blob/master/models/points.go. There are also many tests, ensuring that existing functionality does not break.

So the resources are there to fix this issue, for someone that is up for it.

[2015-11-04 19:46] otoolep commented on #3070
To run the existing test suite, do this:
[code]
assuming your build environment is configured correctly. See https://github.com/influxdb/influxdb/blob/master/CONTRIBUTING.md for information on that.

[2015-11-04 19:51] otoolep commented on #2676
This would definitely be a useful feature. The steps to implement this are as follows:

- add support for a new config variable to this section: https://github.com/influxdb/influxdb/blob/master/etc/config.sample.toml#L31 called `retetention-auto-duration`. The code changes would be here: https://github.com/influxdb/influxdb/blob/master/meta/config.go
- when a retention policy is auto-created in `C

[2015-11-04 19:58] otoolep commented on #4544
Some initial work is here: https://github.com/influxdb/influxdb/pull/4588/files

But the tests don't pass, so the CLI needs some more work to fix this bug.

[2015-11-04 20:00] otoolep commented on #4341
This is marked as "difficult" since it involves building the latest Go tool chain.

We need to help determining if this test case is no longer valid, or if there is a different string we can use within this test case.

[2015-11-04 20:01] otoolep commented on #4341
This file in question is `influxql/parser_test.go`.

[2015-11-04 20:02] otoolep commented on #4279
For reference the CLI code is at https://github.com/influxdb/influxdb/blob/master/cmd/influx/main.go

[2015-11-04 20:06] otoolep commented on #4248
Someone with Ruby experience could repro the issue above, using the Faraday library, and perform the write above. Be sure to create the database `db` first.

If the error occurs, then fix the panic.

[2015-11-04 20:32] handfreezer commented on #4658
OK, sorry, I missed this point.
Thanks.

[2015-11-04 21:08] beckettsean commented on #4654
@pkkummermo please do share the queries, and if you can, the log statements showing the execution time. For example:

[code]

[2015-11-04 21:09] beckettsean commented on #4584
@dennisbauer the latest influxdb-java was recently pushed to Maven. If you haven't updated to the most recent release that might help.

[2015-11-04 21:32] beckettsean commented on #3188
@corylanou there appears to be a feature like this already, or maybe it's related to the work @DanielMorsing did on `INTO` queries:

[code]

[2015-11-04 21:51] #4647 closed

[2015-11-04 22:29] vwong commented on #4248
Reproduced with curl as follows:

[code]

[2015-11-04 22:31] otoolep commented on #4248
Thanks @vwong

[2015-11-04 23:24] bww opened #4662 "Panic on query"
Last query and the stacktrace follows.

[code]

[2015-11-04 23:26] bww commented on #4662
I should perhaps mention that this crash is reproducible every time that query is run. Also, this is a fresh install without existing data using the latest stable version, 0.9.4.2.

[2015-11-04 23:28] otoolep commented on #4662
Thanks for the report, this is a known issue.

https://github.com/influxdb/influxdb/issues/4046

[2015-11-04 23:28] #4662 closed

[2015-11-05 00:15] bww commented on #4046
Does anyone know in which version this regression was introduced? Obviously we can't have this service crashing every minute, so we need to roll back to the latest version that works correctly.

[2015-11-05 01:02] beckettsean opened #4663 "[feature request] point to the CLI from within the Admin UI"
I believe the CLI is a superior way to interact with the database, but for those that don't read all the docs, it can be difficult to discover.

Let's mention the CLI and encourage users to use it when possible.

[2015-11-05 01:12] otoolep commented on #4046
@bww -- I believe this bug was introduced after 0.9.1. The query engine is undergoing significant refactor at the moment and the fix for this issue in the latest code will have to wait until that is finished.

[2015-11-05 01:16] otoolep commented on #4631
@benbjohnson - can you confirm the new design will easily support queries such as the following:

`SELECT foo * 2 FROM bar`
`SELECT foo * foo FROM bar`
`SELECT foo / qux FROM bar`

[2015-11-05 01:17] otoolep commented on #4046
Blocked by the query refactor redesign here: https://github.com/influxdb/influxdb/issues/4631

[2015-11-05 01:40] li-ang commented on #3295
I mean I test is ok on 0.9.4 influxdb cluster with three node and the replication of the retention policy is 3.

[2015-11-05 05:45] beckettsean commented on #3295
@li-ang A fully replicated cluster is effectively the same as a single instance for queries. Every node has all the data and can answer any query independently. In a non-fully replicated cluster, nodes have to ask other nodes for data, which is what this issue covers.

[2015-11-05 05:54] li-ang commented on #3295
@beckettsean Got it! Thank you very!

[2015-11-05 06:49] panda87 commented on #4649
@corylanou No it was not shut down yet at this time.
The steps are the following:
1. Added new node, the 4h, and changed the RP replication to 4. (eventually after that I had 4 replicated instances - of course it took time until it created the new shards).
2. Drop the 3rd node, when I had a problem to do that I used the FORCE command.
3. Then I reduce the replication factor to 3.
4. Tried to add t

[2015-11-05 07:31] JulienChampseix commented on #3296
@dgorton the warning on influxdb clustering documentation (https://influxdb.com/docs/v0.9/guides/clustering.html) can be removed for this issue ?

[2015-11-05 07:46] JulienChampseix commented on #4655
Currently running under : Ubuntu LTS 14.04
CPU : Intel(R) Xeon(R) CPU E5-2630 0 @ 2.30GHz  12Core

thanks @otoolep & @beckettsean for your highlight.

[2015-11-05 08:27] dennisbauer commented on #4584
@beckettsean Thanks for the hint, I already updated my project a couple of days ago.

[2015-11-05 08:45] dswarbrick commented on #4656
FWIW, we were originally feeding data into InfluxDB using collectd's native UDP protocol, and had a fair bit of trouble with the InfluxDB server not pulling data from the socket fast enough, which resulted in the kernel's udp packet receive buffers eventually filling, overflowing, and then dropping packets. The end result was a lot of gaps in our graphs.

We've had a lot more success with using HT

[2015-11-05 09:18] ymettier opened #4666 "panic: expected either int64 or float64, got..."
Hello,

I have a panic...
[code]

I also read some code :
https://github.com/influxdb/influxdb/blob/master/tsdb/raw.go from line 678 to line 708.
[code]

For what I understand, cur[1] and prev[1] can be anything until line 692. At line 708, we can assert that they are either int64 or float64.

It seems that you check the type of cur[1]. But not prev[1]. Not a problem because prev[1] is previous cu

[2015-11-05 09:41] erdii opened #4667 "[0.9.4.2] should not throw error message when trying to use DERIVATIVE with WHERE time() clause"
When querying without a WHERE i get tons of results as expected:
[code]

however when i try to limit the same query with `WHERE time > now() - 10m`, I get an error:
[code]

[2015-11-05 09:47] The-Nik commented on #3276
Very good plan ;-)

[2015-11-05 09:55] miili opened #4668 "[feature request] UDP multicast harvest"
Acceptance of UDP multicast packaged would be beneficial in some environments where the reporting nodes are replaced and changed frequently AND the InfluxDB is more flexible.

The agents wouldn't care about the server's ip address and just keep shouting out their montiorables as multicast packages, regardless.

In my mind this feature of course should be optional to the UDP module.

[2015-11-05 10:20] ryanjin opened #4669 "[0.9.4.2]retention policy auto delete shard FATAL"
I have build a database for a month and alter the retention policy just now.
[code]

and wait 30m. Finally, influxdb crashed....

Here comes the influxdb.log
[code]

[2015-11-05 11:26] daviesalex commented on #4562
I think we should close this as a duplicate of https://github.com/influxdb/influxdb/issues/4498

However, this is clearly a problem with Influx, and not a load issue - we are seeing this consistently after a number of hours of running despite there being virtually no IO going on, and a huge amount of CPU time spare. Somehow this is getting stuck.

We see this after hours of uptime even with massiv

[2015-11-05 11:26] #4562 closed

[2015-11-05 11:53] aadrian commented on #3276
+1

[2015-11-05 11:55] daviesalex commented on #4656
So @pauldix told us that we should move, as soon as Telegraf supports it, away from HTTP and onto UDP for large scale writing. I personally have a small preference for UDP; if there are problems with it not working I guess we will have to deal with them in future. In principle, it should be a lot easier to handle a very large number of clients with UDP (far less work for the kernel to do).

To dig

[2015-11-05 12:04] pkkummermo commented on #4654
The query just before the crash is as followed:

[tsm1wal] 2015/11/05 13:02:34 /opt/influxdb_data/incomestats/default/26 flush to index took 815.24874ms
[http] 2015/11/05 13:02:35 10.248.149.169 - root [05/Nov/2015:13:02:28 +0100] GET /query?db=incomestats&epoch=ms&q=SELECT+sum%28%22value%22%29+FROM+%22income_initial_price_10m%22+WHERE+%22client%22+%3D+%271999%27+AND+time+%3E+1446678000s+and+time+

[2015-11-05 13:26] dgnorton commented on #3296
@JulienChampseix  for this particular issue (`SHOW MEASUREMENTS`), yes.

[2015-11-05 13:39] corylanou commented on #4649
Ok, I think I understand.  You can currently drop a node that is a raft server, but adding a node after that to become raft is a somewhat manual process.  I'm currently finishing out the code that will allow for bringing a raft node back automatically just by adding a new node.  I should have that committed in a day or so.  Let's try that same process once that code is committed.  I suspect it sho

[2015-11-05 14:36] dswarbrick commented on #4656
@daviesalex I'm curious, what kind of network technology you are using that can transport a 64 KB UDP packet? Most networks are still using MTU of 1500. Even 9K jumbo frame environments are typically only found in data centers, and you're basically screwed as soon as you need to talk to something outside the data center.

xz definitely offers better compression than gzip, but is quite a lot more C

[2015-11-05 14:44] daviesalex commented on #4656
@dswarbrick, I am purely hypothesizing here because right now we are not using it, but i'd expect the UDP frame to be passed to the kernel in one go and then fragmented by the IP layer, and then the kernel on the Influx server to reassemble it (if any fragment fails to arrive, the whole lot is lost, which isnt a big deal for this use case). In our particular use case, we could turn Jumbo frames on

[2015-11-05 15:03] dswarbrick commented on #4656
We've had pretty good success with our collectd write_influxdb output plugin filling a 256 KB buffer with data point lines, and gzipping that. This will usually compress down to about 22 KB.

You lose a fair bit of functionality by using UDP, or at least, you have to reinvent a lot of wheels. How about the ability to proxy it? What about crypto? Authentication? These are all inherent in HTTP. Even

[2015-11-05 15:32] ryanjin opened #4670 "[0.9.4.2]How to change shard period"
the command
[code]
return
[code]

i want to know how to change the period from start_time to end_time(now is 7d)

[2015-11-05 15:38] simcap opened #4671 "Restore functionality panics (0.9.5-nightly)"
Basically retrying a restore (after a fix done for #4642 ). It is still not working though with a different error.

My configuration is:
- 1 fresh install of a single InfluxDB instance version `0.9.5-nightly-780df57`
- and therefore no clustering

With a backup snapshot I have handy (done successfully) i run this command (with no InfluxDb process running):

`sudo /opt/influxdb/influxd restore -con

[2015-11-05 15:42] jwilder commented on #4666
What was the query you were running?  Also, do you have some sample data points?

[2015-11-05 16:09] simcap commented on #4671
I am guessing the `localRaft.store.RemoteAddr` is `nil`

[2015-11-05 16:24] rossmcdonald opened #4672 "[0.9.4.2] Encountered 'unexpected EOF' when re-importing compressed shard dump"
When performing a large re-import of gzipped-compressed shard data, the process erred with the message:

[code]

This error was not encountered on any of the uncompressed shards taken from the same group.

[2015-11-05 16:26] otoolep commented on #4670
You can't directly change a shard's end time. All you can do is change the duration of a retention policy, which will create shards of different duration when it next creates shards.

[2015-11-05 16:26] #4670 closed

[2015-11-05 16:27] benbjohnson commented on #4631
@otoolep Yes, math will be supported through a `BinOpIterator` that joins `LHS` & `RHS` into a single point. They can be composed for more complicated expressions as well.

[2015-11-05 16:56] otoolep opened #4673 "HH should correctly handle writes to dropped shards"
It is possible that HH data contains writes for shards that have been subsequently dropped. The system should handle this condition sensible.

[2015-11-05 17:31] jwilder commented on #4673
It does currently handle this case on the receiving side.  This can waste resources when a lot of queued writes are still transferred over the network and we could have determined that they would have failed before sending them.

The HH senders should drop the writes before sending them to multiple receivers if the shard no longer exists.

[2015-11-05 17:35] simcap commented on #4671
I have submitted a PR for that https://github.com/influxdb/influxdb/pull/4674

[2015-11-05 17:37] otoolep commented on #4673
Yes, exactly my thinking. It is handled, but it is not optimal. Something like you suggest is what I have in mind.

[2015-11-05 17:38] poelzi commented on #4566
we got some corruption as well. I don't know if the corruption was caused by the filesystem but this seems what happend:

[code]

it seems to have corrupted the database.

[code]

[2015-11-05 17:46] poelzi commented on #4566
i put the server log [online](https://seafile.cloudandheat.com/f/49737f191f/)

[2015-11-05 18:09] beckettsean commented on #4667
This is expected behavior. When using a `GROUP BY time()` the `DERIVATIVE` function calculates the rate of change between the `GROUP BY` intervals. That means each interval must have a single value, not many. An aggregation function is required so that each interval has one and only one value.

[2015-11-05 18:10] beckettsean commented on #4667
@rkuchan something to note for the Functions page

[2015-11-05 18:10] beckettsean commented on #4667
I think the error should mention that the aggregate function is only required when `DERIVATIVE` is used in conjunction with `GROUP BY`

[2015-11-05 18:12] beckettsean commented on #4669
@ryanjin what version of InfluxDB? 0.9.4?

[2015-11-05 18:15] poelzi opened #4675 "[0.9.4.2] derivative is broken with order by desc"
When using order by, the derivative function gives strange results:

[code]

vs

[code]

[2015-11-05 18:15] otoolep commented on #4667
I don't see him use GROUP BY.

On Thursday, November 5, 2015, Sean Beckett <notifications@github.com>
wrote:

[2015-11-05 18:20] beckettsean commented on #4654
@pkkummermo since you are on `tsm1` and have ~300MB of data, that translates to roughly 100,000,000 field values, assuming you aren't storing any strings. A `SELECT COUNT()` over 100 million points is going to take a while.

That said, it seems odd that the CPUs would be pegged as a COUNT is almost exclusively I/O bound. You mentioned "using Grafana to visualize by asking for data within the curre

[2015-11-05 18:23] beckettsean commented on #3296
Thanks for the reminder, @JulienChampseix: https://github.com/influxdb/influxdb.com/issues/451

[2015-11-05 18:50] otoolep commented on #4667
OK, I see `GROUP BY` in the comment description, but I don't see it in the queries shown in the ticket.

[2015-11-05 18:55] otoolep commented on #4656
FWIW, @sparrc is investigating improving UDP performance since there is still some question about its performance. We think we can service the socket even faster, which may help.

[2015-11-05 18:55] beckettsean commented on #4667
My mistake, I misread the query that causes the error.

This looks like a fault with the parser where it is incorrectly throwing the error.

Thanks for the report, @erdii and my apologies for misreading your query.

[2015-11-05 19:21] rkuchan opened #4677 "[0.9.5] Empty tag confuses query return output from TOP()"
The top `value` in `pies` has the tag set `kind = pumpkin` and `quality` is empty. When I query for the tags in this order (`kind`,`quality`), the output is fine:

[code]

When I reverse the order of the tags (`quality`,`kind`), the output is off:
[code]

The same output in JSON:
[code]

I get the same results when I run:
[code]

[2015-11-05 19:29] jackzampolin commented on #4675
@poelzi What Influx version are you running?

[2015-11-05 19:29] otoolep opened #4678 "Add SetReadBuffer() to collectd and Graphite"
Started with https://github.com/influxdb/influxdb/pull/4676/

@sparrc discovered we can increase the OS buffers to improve performance.

[2015-11-05 19:30] otoolep commented on #4678
The buffer size should be configurable.

[2015-11-05 19:37] jmcook opened #4679 "[0.9.5-nightly] Derivative query doesn't work in a non replicated cluster"
I seem to have an issue with derivative queries in a cluster..
I was trying some additional configurations with clustering and noticed this behavior - I'm not sure if it's a known issue with the query engine or a problem with my configuration..

I have an 8 host cluster, with replication factor = 1..
<pre>

name	duration	replicaN	default
default	0		3		false
short	9600h0m0s	1		true

</pre>

I can s

[2015-11-05 19:38] otoolep commented on #4679
Thanks for the report @jmcook

[2015-11-05 19:39] rkuchan opened #4680 "[feature request] GROUP BY tag_key with selector function should return the relevant timestamps"
As expected (and liked), when I include a `GROUP BY time()` clause in my `TOP()` query, the returned timestamps are the start of the interval:

[code]

But, when I only `GROUP BY`  a tag key, it would be nice to get back the relevant timestamps:

[code]

[2015-11-05 19:52] pkkummermo commented on #4654
That sounds abit extreme, as we have v1,v2,v3,v4 per database entry with perhaps 120k entries total. The select count(*) is also limited by time, which would mean it didn't query _all_ the data. I tried creating both a 10m continuous query as well as a 1h, but the performance improvement was miniscule.

My best guess is that the indexing of the tag set is my problem, especially if it's reindexing

[2015-11-05 20:02] otoolep commented on #4631
How many records will be pulled from the disk if `LIMIT` is set? Right now there is a bug that way too many records are pulled from `LIMIT 1` and results in poor performance.

[2015-11-05 20:05] otoolep commented on #4552
tsm1 development is in active development right now @sebito91, as you probably know. The code may undergo significant changes yet, so until it is more stable, so these issues may be solved soon.

If not we'll definitely investigate as all tsm1 issues must be addressed before 0.9.5 ships.

[2015-11-05 20:09] bluemonk3y commented on #3674
+1 pls!

[2015-11-05 20:16] benbjohnson commented on #4631
@otoolep Once the first row is computed and returned, you can close the iterators and it should stop reading from disk. You may get some extra disk reads due to buffering ahead though.

[2015-11-05 21:01] dgnorton opened #4682 "[feature request] ADD / DROP SHARD"
Occasionally, the need arises to perform low-level shard operations such as adding / dropping a shard and listing dropped (orphaned) shards.

* New DROP SHARD query that would remove a shard from the RP but not delete the file from disk.  This would turn it into an orphaned shard.  The data is still intact on disk but no longer accessible by a SELECT query.

* New ADD SHARD query for adding an exi

[2015-11-05 21:22] otoolep commented on #4682
I am on the hook for `DROP SHARD`.

[2015-11-05 21:34] beckettsean commented on #4667
@erdii what version of InfluxDB are you running?

[2015-11-05 21:35] beckettsean commented on #4679
That's interesting that it works in a fully replicated cluster, given https://github.com/influxdb/influxdb/issues/4667

@jmcook what version of InfluxDB are you running?

[2015-11-05 21:37] jmcook commented on #4679
Sorry, should've mentioned that.
influxdb-0.9.5_nightly_827c513-1.x86_64

[2015-11-05 21:38] beckettsean commented on #4654
@pkkummermo totally agreed on the better docs for schema and performance. I did miss the time restrictions in your queries (I'm having a hard time reading queries today for some reason).

[2015-11-05 21:40] jmcook commented on #4679
For kicks, here's the output of show servers...

<pre>

id	cluster_addr	raft	raft-leader
1	influx1:8088	true	true
2	influx3:8088	true	false
3	influx2:8088	true	false
4	influx4:8088	false	false
5	influx8:8088	false	false
6	influx5:8088	false	false
7	influx7:8088	false	false
8	influx6:8088	false	false

</pre>

[2015-11-05 21:53] ryan-williams commented on #4195
How did you resolve this, out of curiosity?

[2015-11-05 22:02] beckettsean commented on #4666
Thanks for the support ticket, @ymettier.

@jwilder assigned you ZD ticket 1648, which is the companion piece to this issue.

[2015-11-05 22:40] ryan-williams opened #4687 "[0.9.4.1] Errors consuming collectd "battery" plugin values"
When I enable `collectd`'s battery plugin and configure its `types.db` (cf. https://github.com/collectd/collectd/issues/1338) to send `capacity` as a 'GAUGE', i.e.:

[code]

I get errors trying to query the measurement in the Influx (0.9.4.1) console:

[code]

If I instead configure `capacity` as `ABSOLUTE` in `collectd`, i.e.:
[code]

I am able to query the values in the Influx console:

[code]

[2015-11-05 22:55] beckettsean opened #4688 "[0.10] admin UI doesn't display results for some SHOW queries"
For instance `SHOW CONTINUOUS QUERIES` returns JSON in the payload but the results area is blank.

tested with 0.9.4.2

![screen shot 2015-11-05 at 13 42 35](https://cloud.githubusercontent.com/assets/6537329/10984279/2992c690-83cd-11e5-9ec1-a4e6c600dc1a.png)

[2015-11-05 22:58] kicketster opened #4689 "[0.9.4] udp port is not opening after influxdb restart"
[[udp]]
enabled = true
bind-address = ":8089"
database = "foo"
batch-size = 1000
batch-timeout = "1s"
batch-pending = 5

I did this as in instruction in the config file and restarted influxdb service.
But when I check the ports with netstat, I found out the port is still not open even though the other http type ports (8086, 8088) are open.

Any solution?

[2015-11-05 23:18] beckettsean commented on #4687
I have limited familiarity with collectd, but every other instance of InfluxDB spitting out `ERR: invalid character 'j' looking for beginning of value` has turned out to be because of `NaN` values. Does collectd spit out `NaN` for gauges?

It is possible they are going in as strings, although InfluxDB does understand scientific notation for floats and should store them as numbers. Does `SELECT SUM

[2015-11-05 23:21] beckettsean commented on #4689
@kicketster what version of InfluxDB?

[2015-11-05 23:28] ryan-williams commented on #4687
hm yea when I have `collectd` send them as `ABSOLUTE` and I have the `9.221120237041091e+18` values, I can `sum` them as you suggest:

[code]

Trying to plot them in Grafana, I see:

![](http://cl.ly/image/3u2h0d0G1m1A/Screen%20Shot%202015-11-05%20at%206.25.06%20PM.png)

So maybe the issue is Grafana's handling of numbers this large?

In any case, influx seems to be correctly consuming collectd `A

[2015-11-05 23:28] #4687 closed

[2015-11-05 23:31] #4602 closed

[2015-11-05 23:35] kicketster commented on #4689
it's 0.9.4

[2015-11-06 00:22] otoolep commented on #4689
Please show me your netstat output.

[2015-11-06 00:25] otoolep commented on #4689
I tried that config blob and it works fine for me.

[code]

[2015-11-06 00:26] otoolep commented on #4689
[code]
UDP port 8089 is open.

[2015-11-06 00:37] corylanou opened #4691 "Enable toml test `TestConfig_Encode`"
Discovered this test:

https://github.com/influxdb/influxdb/blob/master/toml/toml_test.go#L30

was commented out during this PR review:

https://github.com/influxdb/influxdb/pull/4665

[2015-11-06 00:49] #4691 closed

[2015-11-06 00:49] #4660 closed

[2015-11-06 01:14] ntquyen opened #4693 "failed to store statistics: timeout"
[code]

I'm using influxdb 0.9.4.2 (https://github.com/tutumcloud/influxdb) inside Kubernetes cluster, data is persistent to one of the nodes. From a fresh start (data is empty) it run just fine, after a few hundreds MB the error above occurs and influxdb hangs (not crash, but cannot access to it, admin or driver). Restart doesn't help, the error still there, unless I clear all  the data.

Thanks

[2015-11-06 01:16] otoolep commented on #4693
Try doubling these timeouts:

https://github.com/influxdb/influxdb/blob/master/etc/config.sample.toml#L126

[2015-11-06 01:17] otoolep commented on #4693
What kind of load are you putting on the system? What are the resources underneath the system?

[2015-11-06 01:31] ryanjin commented on #4669
@beckettsean 0.9.4.2

[2015-11-06 02:03] beckettsean commented on #4669
What is the output from `SHOW SHARDS` and the output from `ls -lR /var/opt/influxdb/data/` (assuming you have default Linux install paths.)

[2015-11-06 02:13] poelzi commented on #4675
Connected to http://localhost:8086 version 0.9.4.2
InfluxDB shell 0.9.4.2

[2015-11-06 02:21] cgunther opened #4694 "Add packages for Ubuntu 12.04 (precise) to apt repo"
Can packages for 12.04 be added to the apt repo (https://repos.influxdata.com/)? I see it currently requires 14.04 (trusty) or higher. 12.04 is an LTS release and is supported until 2017 so it'd be great to be able to install packages directly from the apt repo.

[2015-11-06 02:35] ryanjin commented on #4669
I restart the influxdb app yesterday. and old shards had been deleted.

I remember the database had 2shards and each shard cost between 25 G  and 35G

[2015-11-06 02:53] ntquyen commented on #4693
@otoolep Thanks I'll try that. Anyway, it seems working when I removed the resource limits for the container. Before it was set to 2GB of RAM. At least I can restart it and been running for 1 hours now, keep watching.

[2015-11-06 02:58] ntquyen commented on #4693
I got one question: what's is the behavior of influxdb when a write is timeout?

[2015-11-06 03:01] otoolep commented on #4693
In a single-node system it probably means nothing was written. Your code should backoff and retry if your client code receives. For internals stats, it's not that serious.

Generally it's a sign the system is too busy, which it can be particularly when starting up.

[2015-11-06 03:01] #4693 closed

[2015-11-06 04:07] flisky commented on #4279
liner is inspired by linenoise, and linenoise supports multiline mode.

I think it's appropriate to patch liner to support it, and I'll give it a try if you guys like this idea.

[2015-11-06 04:37] otoolep commented on #4279
Thanks @flisky -- if you patch liner, will you need to wait for that patch to be merged before we can use it?

[2015-11-06 05:31] flisky commented on #4279
Yes, I think so. Upstream merge is great, and liner seems to be active maintained.

[2015-11-06 05:33] otoolep commented on #4279
OK, since we already import the package I think it's a valid approach.

[2015-11-06 06:07] ntquyen opened #4696 "Failed to join cluster when setup in Kubernetes"
I'm trying to setup influxdb cluster in Kubernetes with version 0.9.4.2 and failed at at least 1 node to join the cluster of 3 nodes.

The leader is able to detect the joining node:
[code]
(`svc-influxdb-cluster-x` is the kubernetes service.)

Query in the leader node or joined nodes, in this case are `svc-influxdb-cluster-1` and `svc-influxdb-cluster-2`:
[code]

Logs in the failed node, which is

[2015-11-06 08:14] erdii commented on #4667
No problem dude!

I'm using InfluxDB 0.9.4.2 on OS X 10.11.1 installed via homebrew

[2015-11-06 08:21] erdii opened #4697 "[0.9.4.2 OS X] SELECT Statement broken"
When resuming my overnight suspended PC i encoutered a Issue with querying Influx.
EDIT: I'm having the same Problem right now - without resuming from standby

[code]

After restarting InfluxDB via launchctl the Error was gone.

the log essentially says that everything is okay:
[code]

[2015-11-06 08:27] otoolep commented on #4697
@erdii -- perhaps I am missing something, but I don't actually see anything wrong with your system. Exactly what do you think is broken?

[2015-11-06 08:28] otoolep commented on #4697
I can promise you that we didn't add any code to our query parser that specifically checks for Macs that have self-suspended and as a result switch into a error mode.

[2015-11-06 08:31] otoolep commented on #4697
It looks like you are querying against tags. What are the tags in your system, and what are the fields?

[2015-11-06 08:58] otoolep commented on #4696
Can you try with the latest nightly build? Some fixes have gone in since
0.9.4.2 which might help.

On Thursday, November 5, 2015, ntquyen <notifications@github.com> wrote:

[2015-11-06 09:28] ch33hau commented on #4659
Hi @otoolep , can I have a try for this issue? I have create a pull request for it.
If someone is already working on it then just ignore mine ya

[2015-11-06 12:11] ntquyen commented on #4696
I'll tried the nightly build and it works! Thanks @otoolep !

[2015-11-06 12:11] #4696 closed

[2015-11-06 12:26] dswarbrick opened #4699 "[0.9.5-nightly-66a31ee] tsm1 compaction... not compacting?"
Apologies in advance if this is intended behaviour. I've noticed a massive change in InfluxDB tsm1's disk utilization patterns. We were running 0.9.5-nightly-66a31ee with quite satisfactory results on a test server, using about 11 GB of disk space per day, and deployed a second server (not clustered) with 0.9.5-nightly-780df57.

We immediately noticed that the latter version was using a lot more d

[2015-11-06 12:33] erdii commented on #4697
Hahaaaa :D dare you if you have done so! ;)

I think the answer to queries like this one is broken:
[code]

after restarting influx:
[code]

[2015-11-06 13:17] dswarbrick commented on #4699
At a rough guess, I suspect this 1233383 may have introduced the behaviour change.

[2015-11-06 15:33] njurgens commented on #4646
I may be experience a similar issue on InfluxDB version 0.9.4.1.  Continuous queries just stop running after a while.  I have four continuous queries that rollup data into various retention policies.  One query has `GROUP BY time(5m)` so I would expect that one to run fairly often. According to the logs, though, it’s been about 9 hours since the last continuous query ran.

[2015-11-06 15:54] superdump commented on #1825
Looking forward to this.

[2015-11-06 15:58] sebito91 commented on #4552
@otoolep, here is another screenshot using the latest nightly...you can see the RSS grow astronomically and writes keep up for a time, until we finally fluctuate out of control and crap out. Is this at all related to garbage collection, are we holding onto metrics in memory after the flush to index?

![rss](https://cloud.githubusercontent.com/assets/3159454/11001461/e9529998-846c-11e5-8ed2-fa1a1aa

[2015-11-06 16:12] mtzaurus commented on #4181
May I ask when this issue is gonna be fixed ?
I am using that release:

         0.9.4	"da1b59e7d7764d36786253b2db13b97f42ed4e1d"	"0.9.4.2"

And it's still there.

[2015-11-06 16:14] otoolep commented on #4181
This issue is being fixed by creating a new engine. If you want to try the new engine, you can install a nightly build and set engine selection to `tsm1`, but you should be aware you will need to delete all data between upgrades until 0.9.5 is officially released. `tsm1` is still experimental.

[2015-11-06 16:25] otoolep commented on #4699
Thanks @dswarbrick -- we'll take a look.

[2015-11-06 16:27] otoolep commented on #4699
@dswarbrick  - can you tell about the source of your metrics? How many senders, using which input? I think you use HTTP, right?

[2015-11-06 16:30] dswarbrick commented on #4699
@otoolep That's right, we're using an inhouse-developed InfluxDB (http) output plugin for collectd. We have about 200 hosts currently shooting data at it.

[2015-11-06 16:38] mtzaurus commented on #4181
Engine is changed like this ?

[data]
  engine = "tsm1"

[2015-11-06 16:49] mulyoved commented on #4195
1 - I managed to understand this by query a different ranges of record until it broke only when query one record.
2 - I modified the code to not save NaN values

[2015-11-06 16:51] otoolep commented on #4181
Yes @mtzaurus

[2015-11-06 16:52] otoolep commented on #4181
You will not have new data written into the new engine for a while, depending on your retention period. Create a database if you want to force this to take place, and write data into that database.

[2015-11-06 17:08] sebito91 commented on #4552
To clarify my point (and maybe point out my golang inadequacy), the inflated RSS may come not from the writes but from the reads and leaving files open after read either inadvertently or for the GC to collect on our behalf. Maybe we need to be explicit and close the files after read to prevent leaking resources?

For example in the tsdb/engine/tsm1/tsm1.go readFields() function we open the file fo

[2015-11-06 18:10] pires commented on #4628
It seems the library used for writing the history file doesn't expose a method to read the [history stored in-memory](https://github.com/peterh/liner/blob/master/common.go#L24). So the question is whether to fork it and try a PR or implement _our_ own history management.

Hints?

[2015-11-06 18:52] panovodv commented on #3861
Was renaming directory a good enough workaround to close the issue? Is it possible that we'll see actual fix for the problem?

[2015-11-06 18:56] pablo-tech commented on #1837
this feature is essential for streaming machine learning.  Systems like in finance, i.e. hedge funds, need to be able to train their AI with every possible time window of time in data history, not just at preconceived markers.

[2015-11-06 18:58] otoolep commented on #4628
Would it be that difficult to implement our own? It doesn't seem that difficult -- it's just a file with commands in there.

We tend to avoid 3rd party libraries if we can help it, so using our own would align better.

[2015-11-06 19:09] otoolep commented on #4699
We running tests here of the latest nightly and the tsm1 engine. We are writing 100B points, over HTTP/ and will report back.

[2015-11-06 19:11] mjdesa commented on #3861
For the time being, long startup times are necessary.

[2015-11-06 19:13] otoolep commented on #4699
@mjdesa -- can you post details of the test here?

[2015-11-06 19:17] mjdesa commented on #4699
- 200k series
- 1M points per series
- 4 tags
- 1 field
- 10s interval between timestamps
- 0s between writes
- 10 concurrent writers

[2015-11-06 19:23] JulienChampseix commented on #4699
@mjdesa, what's your config file during this test ?

[2015-11-06 19:24] mjdesa commented on #4699
[code]

[2015-11-06 19:29] otoolep commented on #4699
Which config? InfluxDB or the stress tool?

[2015-11-06 19:32] mjdesa commented on #4699
[code]

[2015-11-06 19:36] JulienChampseix commented on #4699
@mjdesa, thanks ! So that's the config used during the stress test and dataset you are using, i'm right? Which tools are you using with this stress dataset ?

[2015-11-06 19:38] beckettsean commented on #4646
@njurgens that definitely seems wrong. If you restart the process do the CQs resume running?

[2015-11-06 19:39] beckettsean commented on #4646
@njurgens that definitely seems wrong. If you restart the process do the CQs resume running?

[2015-11-06 19:40] beckettsean commented on #4646
@njurgens do ad hoc queries execute and return? Basically, is the system otherwise healthy and CQs have just stopped running periodically?

[2015-11-06 19:40] mjdesa commented on #4699
Yup.

The [tool](https://github.com/influxdb/influxdb/tree/master/cmd/influx_stress) I'm using to stress the database is called `influx_stress`.

[2015-11-06 19:42] pires commented on #4628
@otoolep on it :+1:

[2015-11-06 19:45] JulienChampseix commented on #4699
What's the best metrics into _internal to follow the bench stress in termnof queries ?
Why i'm resquesting that? I migrated from 0.9.4.2 to the nightly 0.9.5 from wednesday and the startup was slow due WAL writes to index and having feeling space was increasing fast using tsm1. I would by this way benchmark again my server for avoid any confusion.

[2015-11-06 19:59] mjdesa commented on #4699
Depends largely on what you're looking to benchmark.

This query will tell you the write throughput
[code]

Typically we monitor resource usage for a machine externally with Telegraf or Collectd.

[2015-11-06 20:12] jackzampolin commented on #4675
@poelzi `derivative( field_key, [unit] )` returns the rate of change for the values in a single [field](https://influxdb.com/docs/v0.9/concepts/glossary.html#field) in a [series](https://influxdb.com/docs/v0.9/concepts/glossary.html#series). InfluxDB calculates the difference between chronological non-NAN field values and converts those results into the rate of change per unit. The unit argument i

[2015-11-06 20:51] njurgens commented on #4646
@beckettsean I'm able to still execute queries as normal.  Data is still being written to the measurement's default retention policy and I can query that no problem.  If I query any of the retention policies that are populated by my CQs, I only have data from before about 2015-11-06T06:40:00Z (around the time CQs stopped appearing in the logs).  I'll restart the database and see if they resume run

[2015-11-06 21:25] otoolep commented on #4699
Here are the graphs so far.
![g](https://cloud.githubusercontent.com/assets/536312/11009158/e40daf32-8489-11e5-8363-c5e0ed975bdf.png)

[2015-11-06 22:11] otoolep commented on #4699
Not sure, but compaction does look like it may have ceased on system too -- disk usage and RSS going up steadily.

[2015-11-06 22:16] otoolep commented on #4699
Yeah, ton of tsm files in 4.

[code]

[2015-11-06 22:17] otoolep commented on #4699
The other 2 directories has about ~10 files. I just bounced the test node to see what it does to the files in this directory.

[2015-11-06 22:20] otoolep commented on #4699
No immediate change to disk usage.

[2015-11-06 22:20] otoolep commented on #4699
Will check in a few minutes.

[2015-11-06 22:27] otoolep commented on #4552
Thanks @sebito91 -- could be something there. We'll need to check.

Any comment @jwilder ?

[2015-11-06 22:44] otoolep commented on #4699
Yeah, I had a compaction kick in after the restart.

[2015-11-06 22:45] otoolep commented on #4699
[code]

[2015-11-06 22:45] otoolep commented on #4699
![g1](https://cloud.githubusercontent.com/assets/536312/11010626/13a1ef82-8495-11e5-9735-78e14d9d1d6b.png)

[2015-11-06 22:46] otoolep commented on #4699
Look like what you see @dswarbrick ?

[2015-11-06 22:53] dswarbrick commented on #4699
@otoolep yes, looks very similar to what we're seeing. I'm just trying a restart now too. I have 2092 files before restart.
[code]

[2015-11-06 22:58] mjdesa commented on #4699
@otoolep looks like there was a dramatic drop in write ops after restart

[2015-11-06 23:31] dswarbrick commented on #4699
Half an hour later, the file count hasn't decreased at all. In fact it seems to have just added to what's there. There are now 2161 files in the directory.
![screenshot from 2015-11-07 00-26-58](https://cloud.githubusercontent.com/assets/1667905/11011268/922d0926-84e6-11e5-972b-e2e00694c048.png)
There was a small dip in disk usage, but it's climbing again. Note also the large read IOPS spike for a

[2015-11-06 23:44] srikara commented on #2157
+1

[2015-11-07 02:06] otoolep commented on #4046
@benbjohnson will be fixing this as part of his query engine refactor.

[2015-11-07 02:06] otoolep commented on #4167
No more to do here.

[2015-11-07 02:06] #4167 closed

[2015-11-07 03:02] pires commented on #4628
Unfortunately, [`liner`](https://github.com/peterh/liner) is used all over the place so moving from it would become more than just implementing history support.
That said, I'll keep it simple.

[2015-11-07 03:11] ivanscattergood opened #4701 "[0.9.5-nightly] COUNT() not working with field in WHERE clause"
Hi,

I have been using the influxdb-0.9.5_nightly_9633410-1.x86_64 for the last week to record data and the count aggregate function is not working as expected. I have just upgraded to  0.9.5-nightly-ef84e33 and the problem remains. I have one measurement metric with one field value.

I have several tags (e.g. Type & "Managed Entity"). If I do a query to show the values added in the last day for v

[2015-11-07 03:41] pires commented on #4544
While working on #4628 I had a similar idea, so on it :)

[2015-11-07 06:48] jademcgough commented on #4248
I'm able to repro this with 0.9.4.2-1, happy to take a look into the panic.

[2015-11-07 13:56] kozlice commented on #585
If you're getting “Failed to fetch file [..] binary-i386/Packages” error while updating apt repos (I've got this in Ubuntu 14.04), set amd64 explicitly:

`deb [arch=amd64] https://repos.influxdata.com/${DISTRIB_ID,,} ${DISTRIB_CODENAME} stable`

[2015-11-07 18:27] otoolep commented on #4248
Go for it @jademcgough

[2015-11-07 18:33] jademcgough commented on #4248
I just built from master and can't repro the issue there:

[code]

[code]

[2015-11-07 18:59] otoolep commented on #4248
Yeah, neither can I using the curl command shown above.

Thanks for your help!

[2015-11-07 18:59] #4248 closed

[2015-11-07 18:59] otoolep commented on #4248
[code]

[2015-11-07 18:59] otoolep commented on #4248
Fixed in master so closed.

[2015-11-07 19:31] jademcgough commented on #3170
Grabbing this.

[2015-11-08 11:48] Wind0r commented on #4098
I run a little script on the codebase to count the warnings.

[code]

So following packages can be marked as done and enabled in ci
[code]

[2015-11-08 13:18] simcap opened #4707 "Restore functionality panics: close of closed channel (0.9.5-nightly)"
Retrying a restore (after a fix done for #4671 ). It is still not working though with a different error.

My configuration is:
* 1 fresh install of a single InfluxDB instance version `0.9.5-nightly-905437c`
* and therefore no clustering

With a backup snapshot I have handy (done successfully) i run this command (with no InfluxDb process running):

`sudo /opt/influxdb/influxd restore -config /etc/o

[2015-11-08 15:51] ryanjin commented on #211
mark

[2015-11-08 18:24] ssh3 commented on #4655
Hello
The same problem.
OS: Ubuntu 14.04.3 LTS.
CPU: Intel(R) Xeon(R) CPU E5-2690 v2 @ 3.00GHz, 20 Core

Thanks for your time.

[2015-11-08 18:43] muratcorlu commented on #3954
Will that issue meet our needs like that?:

[code]

[2015-11-09 02:32] otoolep commented on #4659
@ch33hau - email me your address so we can send you a tshirt. philip at influxdb

[2015-11-09 03:44] ch33hau commented on #4659
@otoolep Thanks for your Monday early good news! =)
I have sent my address to your email.

[2015-11-09 08:47] Issif commented on #4635
Hi,

It works fine, you can close this issue.

[code]

Thanks again.

[2015-11-09 08:47] #4635 closed

[2015-11-09 09:16] akruman commented on #814
It could be very useful for continues queries; so i could put one query to back all my high precision 1 day retention data, into lower precision 1 week retention data.

something like:
CREATE CONTINUOUS QUERY rp1w_query ON mydb BEGIN
  SELECT max(*) INTO "rp1w1".:MEASUREMENT FROM /.*/ GROUP BY time(1m)
END

[2015-11-09 09:23] akruman opened #4708 "[feature request] continuous query to back up all my daily data into lower precision weekly data"
It could be very useful for continuous queries; so i could put one query to back all my high precision 1 day retention data, into lower precision 1 week retention data.

something like:
[code]

[2015-11-09 09:30] erdii commented on #4708
+1!

[2015-11-09 11:27] betandr commented on #1338
:+1:

[2015-11-09 12:31] enigmapsi opened #4709 "Retention policy: shards not deleted from index"
Hi,

I've noticed a consistent bug from version 0.9.4.2  onwards (I'm using the nightly build right now) with all storage engines - I've tried bz1 and tsm1.

Please see the following log entries:

    Nov  9 16:59:00 inf-stor-02 influxd: [retention] 2015/11/09 16:59:00 retention policy shard deletion check commencing
    Nov  9 16:59:00 inf-stor-02 influxd: [retention] 2015/11/09 16:59:00 retentio

[2015-11-09 13:49] sl4dy commented on #2467
+1

[2015-11-09 14:03] pires commented on #2313
I'm willing to own this after #4711 #4710 #4704 and #4702 are either merged or closed. I'd like to:
* Refactor history, i.e. don't write to file at all times but only when commands are valid ones
* Improve command parsing including...
* Use `parser` to validate (at least some) statements before sending to server

[2015-11-09 14:36] corylanou commented on #2313
That sounds awesome!  +1 from me on doing those things.  I'll work on getting the rest of those PR's reviewed today as well so we can get them merged.

[2015-11-09 14:55] pcable3d opened #4712 "[0.9.4.2] Failed to write point batch: timeout"
Running a client's soak test over the weekend I come back to a crashed influxDB.

The timeouts begin after a query from a simultaneously running Grafana session:
[code]

Apparently the heap started exploding at 01:50, after a total of 320K points at 5s period were received during that session, the timeouts begin at 01:54.

![image](https://cloud.githubusercontent.com/assets/15105872/11036501/31d5f

[2015-11-09 15:21] varche1 opened #4713 "Query performance"
Hi!

Starting from version 0.9.2 noticed a strong degradation of query performance. Using the 0.9.2 version I can get around the business logic but using the 0.9.4.2 version, this problem has become so acute that I had to turned off the InfluxDB at production because the server could not cope with the load, even evaluate a single query.

How to reproduce:
* Create a database issues_db1: `/ opt / i

[2015-11-09 15:26] edokan opened #4714 "rows discarded by `fill(none)` still eats up `limit`"
I have following query

`select mean(value) as value from "dummy" where time > '2015-01-01' group by time(1d) fill(none)`

it successfuly retrieves 17 rows starting june. This is expected situation bause I only have 17 days of information.

When I want to limit my resultset to 10 rows I add `limit 10` to my query and no result returns. If I change my query limit to 1000 I get my 17 rows again. I b

[2015-11-09 15:29] pires commented on #2313
**Attention**: this issue is placeholder for ideas, suggestions or comments related to the aforementioned refactor. I will probably move it to the proper issue when #4711 #4710 #4704 and #4702 are reviewed.

As per @corylanou comments:

[2015-11-09 16:00] shayts7 opened #4716 "Database vanished after select * from measurement and SHOW databases"
Hi,

we are using influxdb 0.9.4.2
After running:
1. select * from m1
2. select * from m2
3. show databases (while the other selects are running)

we got panic exception: "panic: interface conversion: interface {} is string, not map[string]interface {}" and from that moment our logs where full of go stacktraces output, until the moment that we restart the service. Than we ran "SHOW databases", and

[2015-11-09 16:18] otoolep commented on #4716
That panic has been fixed in master, if you like, you can upgrade to a nightly to avoid it.

[2015-11-09 16:19] corylanou commented on #2313
@pires ok, I reviewed them.  Notified the core team we need one more +1 from another core team member and then we will merge.  Thanks for all the hard work!

[2015-11-09 16:21] szelok opened #4717 "drop measurement does not free storage"
I had 0.9.2 installed on Linux. I ran a drop measurement. But the disk storage did not seem to be returned to the OS. Do I miss any configurations?

And it seemed it's holding onto the space and not even using them for new data points.

Worse still, the memory usage (rss) shot up to roof while/after drop measurement. Even after restart.the memory was still very high.

[2015-11-09 17:43] shayts7 commented on #4716
Thanks. Do you know how can I revive the database? The data is all in place.

[2015-11-09 17:49] otoolep commented on #4716
Can you please show us the output of `SHOW DATABASES`?

[2015-11-09 18:16] otoolep commented on #4712
You have neglected to tell us the version you are running. Without that information we cannot help you.

[2015-11-09 18:22] #4659 closed

[2015-11-09 18:22] pcable3d commented on #4712
We are running latest stable 0.9.4.2.

On Nov 9, 2015, 19:16, at 19:16, otoolep <notifications@github.com> wrote:

[2015-11-09 18:25] otoolep commented on #4712
This may be an indication that your system is under excessive load. What load are you putting on the system in terms of points/sec? What are the technical specifications of the host system?

[2015-11-09 18:43] pcable3d commented on #4712
Not that many, 20 points every 5s coming through UDP, with flush at 1s.
The VM has 4GB memory and is running on a recent Xeon octacore host.

On Nov 9, 2015, 19:25, at 19:25, otoolep <notifications@github.com> wrote:

[2015-11-09 19:08] mjdesa commented on #4699
Just got in this morning an it looks like after a while things started to compact.
![lvavhuk9e1rhto0z7rn5m3khuqzhv7-pzsknuqvhjxq](https://cloud.githubusercontent.com/assets/1477539/11043557/27a79fec-86d2-11e5-98b5-76c45bac19fa.png)

[2015-11-09 19:19] beckettsean commented on #4701
@benbjohnson related to the QE refactor?

[2015-11-09 19:25] beckettsean commented on #3954
@muratcorlu no, that is a separate request. This is only for ordering by tag values, not by function return values.

[2015-11-09 19:28] beckettsean commented on #814
closing in favor of https://github.com/influxdb/influxdb/issues/4708

[2015-11-09 19:28] #814 closed

[2015-11-09 19:29] beckettsean commented on #4708
This is really a request to support wildcard field key matching in the functions, so that each field does not have to be explicitly declared.

[2015-11-09 19:31] dswarbrick commented on #4699
I nuked my DB again over the weekend, and for a while it looked good, but then started to trend upwards again rapidly. This morning I restarted influxd and saw a massive drop in disk space utilization, from 126 GB down to 14 GB. That's some pretty serious compaction - that wasn't happening automatically. Since this morning, it has climbed to almost 120 GB again, and I _know_ we're not feeding _tha

[2015-11-09 19:35] beckettsean commented on #4709
@enigmapsi can you include the output from `ls -lR /var/opt/influxdb/data/` and also the query `SHOW RETENTION POLICIES ON test`

[2015-11-09 19:35] dswarbrick commented on #4699
In addition to the rapid disk consumption, we now also see regular (approx. every 30 minutes) IO read spikes, hitting 2K IOPS (where we have it capped with cgroups), for a few minutes. We never saw anything higher than about 300 IOPS with the 66a31ee nightly, and only for very brief bursts.

[2015-11-09 19:35] beckettsean commented on #4709
What you describe doesn't sound like intended behavior at all.

[2015-11-09 19:36] beckettsean commented on #4709
@enigmapsi cluster or single node?

[2015-11-09 19:40] mjdesa commented on #4699
Yeah this is very odd.

In my previous post I didn't mean to imply that things were okay, just that it seemed as if things did actually start to compact at some point.

[2015-11-09 19:40] beckettsean commented on #4713
@jackzampolin can you repro the performance numbers?

@varche1 roughly how many points are involved in the queries? A five year time span of test data might be thousands of points or it might be billions of points. We would expect query response time to rise linearly with the number of points pulled from disk.

[2015-11-09 19:41] beckettsean commented on #4714
@jackzampolin can you repro?

[2015-11-09 19:43] benbjohnson commented on #4701
@beckettsean The QE refactor is still in a branch so it won't affect anything coming out of `master`.

[2015-11-09 19:46] beckettsean commented on #4717
DROP MEASUREMENT will not necessarily free up space due to the nature of the storage engine. To guarantee free disk space you need to use retention policies to drop shards or `DROP DATABASE`.

The storage engine files are not 100% dense. They leave some blank space in the organization to allow for additional points and prevent huge amounts of I/O when a new point must be added.

Unrelated, but 0.9

[2015-11-09 19:46] #4717 closed

[2015-11-09 19:59] varche1 commented on #4713
@beckettsean In the examples of this issue (script https://gist.github.com/varche1/38963b47f8a66a083e0c), I used a fixed number of points equal to 100,000 from what I understand, it's a little

[2015-11-09 20:04] jackzampolin commented on #4713
@beckettsean on it!

[2015-11-09 20:08] jackzampolin commented on #4714
@beckettsean Will do!

[2015-11-09 20:29] jackzampolin commented on #4713
@varche1 having a little issue using the `issue_client.py`.  Trying all the commands you listed results in the following stacktrace:

[code]

[2015-11-09 20:33] varche1 commented on #4713
@jackzampolin please, show me yours python version, python Influxdb client version and influx version. I'll check at localhost

[2015-11-09 20:34] jackzampolin commented on #4714
Unable to repro with master.  `fill()` works as intended.

[2015-11-09 20:35] jackzampolin commented on #4714
Successfully reproduced on master.

[2015-11-09 20:42] jackzampolin commented on #4713
[code]
I prob need to install the older version of the python-influxdb package and try again.

[2015-11-09 20:45] jackzampolin commented on #4713
@varche1 Got it working with 2.8.0.  Sorry for the false alarm!

[2015-11-09 20:57] jackzampolin commented on #4713
@varche1 Having trouble getting it to write.  How long does the python script take to execute? After trying a couple of times and having the process hang I killed it with `cmd-C` after about a minute. Then when I `select count(value) from leads_with_some_tags` I get `300` points in the database.

[2015-11-09 20:57] otoolep commented on #4709
I have reproduced this on a single node. Thanks for the report @enigmapsi

[2015-11-09 21:02] pires commented on #2313
Thank you @corylanou.

[2015-11-09 21:14] otoolep commented on #4709
This is not actually as serious as it looks. Deletion of shards is actually a multi-stage process. Shard groups are first deleted, followed by the shards. What is happening here is that the output of `SHOW SHARDS` does not reflect that the parent shard group has actually been deleted. These shards are not accessible by the rest of the system, and the data has been removed from disk.

They are effe

[2015-11-09 21:19] varche1 commented on #4713
@jackzampolin each script executes about 6 minutes on my machine if using influxdb client 2.8.0 (too long I think, but any way, it's 2.8.0 spesific behavor)

Any way, try to reproduce problem at 0.9.4.2 Influxdb version.

[2015-11-09 21:22] jackzampolin commented on #4713
@varche1 Thanks! Will do.

[2015-11-09 22:32] beckettsean opened #4718 "[feature request] CLI should preserve commas in DISTINCT output"
DISTINCT() returns a comma-separated array in the JSON, but the CLI presents it with whitespace delimiters. That can make it very hard to determine the actual distinct values for strings.

Ideally the CLI would preserve the separating commas in the array.

[code]

[2015-11-09 22:34] otoolep commented on #4718
@corylanou -- what do you think? Sound like a good one for the community, assuming you agree with what @beckettsean  is proposing. How would you rank its difficultly?

[2015-11-09 22:36] #4628 closed

[2015-11-09 22:39] ryan-williams commented on #4235
Just ran in to this on 0.9.4.1, trying to switch to nightly 0.9.5.

One thing I noticed: the link to the line in the config file from [this post](https://influxdb.com/docs/v0.9/introduction/tsm_installation.html) points to `master` and no longer appears to be pointing to the right part of the file.

[2015-11-09 22:39] otoolep opened #4719 "CLI history should skip blank lines"
Started with https://github.com/influxdb/influxdb/pull/4702

The 'history' command in the CLI should not show blank lines. E.g.:
[code]

This can either be done by a) not writing blank lines to the history file, or b) skipping them during display. Option a) might be easiest.

[2015-11-09 22:39] otoolep commented on #4719
cc @pires @corylanou

[2015-11-09 22:40] otoolep commented on #4719
Basically update `influx/main.go` so that it implements option a) or b).

[2015-11-09 22:40] poelzi commented on #4675
It seems that it calculates the change after sorting which messes up the values. I would expect the results just in opposite direction so limit can be used for the last n values and I think thats the user expected behaviour.

[2015-11-09 22:47] ryan-williams commented on #4235
It seems like there are nightly builds that can run on OSX; is that right?

[2015-11-09 22:48] otoolep commented on #4235
We do not have nightly builds for OSX.

[2015-11-09 22:54] ryan-williams commented on #4235
Thanks, is there an easy way for me to build from source?

[2015-11-09 22:56] otoolep commented on #4235
Please read the docs: https://github.com/influxdb/influxdb/blob/master/CONTRIBUTING.md

[2015-11-09 22:57] otoolep commented on #4701
@ivanscattergood -- do you see this issue with 0.9.4.2?

[2015-11-09 23:02] corylanou commented on #4718
The real fix is to unwrap it like many of the other selectors now do, so that it would show as rows instead of an array in a column.

You would get this as a result:

[code]

[2015-11-09 23:04] beckettsean opened #4720 "BOTTOM function doesn't return other fields queried along with it"
Here's the test data (`abc` and `xyz` are tags, `anv`, `bool`, `string`, and `value` are fields)

[code]

Selecting another tag along with the `BOTTOM` function works okay

[code]

However, selecting another field returns neither the field values nor a parser error. It should be one or the other:

[code]

JSON strings just to prove it's not a CLI rendering issue

[code]

[2015-11-09 23:13] pires commented on #4719
I want to take care of this with my refactoring of the CLI. Namely, write only valid commands and queries.
Can you assign this to me?

[2015-11-09 23:42] beckettsean opened #4722 "[0.9.5-nightly] help inside CLI doesn't match command line help"
Lots more information in the `influx -help` output

[code]

vs. `> help` from within the CLI:

[code]

Most notably, the `precision` help is missing `rfc3339` as an output format.

[2015-11-09 23:42] otoolep commented on #4719
No, it can only be assigned to members of the org. But your comment should capture -- thanks.

[2015-11-09 23:43] #4707 closed

[2015-11-09 23:55] otoolep opened #4723 "TestCluster_Restart regularly failings (mostly under race)"
https://circle-artifacts.com/gh/influxdb/influxdb/7310/artifacts/3/tmp/circle-artifacts.0LjCyAh/test_logs_race.txt

is an example. But it's making us care less about red builds. Skipping the test for now.

[2015-11-09 23:55] otoolep commented on #4723
cc @corylanou

[2015-11-10 00:02] beckettsean opened #4724 "[0.9.5-nightly] PERCENTILE(value, 0) does not equal MIN(value)"
In fact, it gives an empty response:

[code]

`MAX` and `MEAN` do equate to `PERCENTILE(100)` and `PERCENTILE(50)` (although with the variation that `MEAN` produces the actual arithmetic mean and `PERCENTILE(50)` returns the mid-point actual value.)

[code]

[code]

`MIN` returns a value, but not `PERCENTILE(0)` or `PERCENTILE(0.0)`

[code]

Greater precision in the percentile suggests there's som

[2015-11-10 00:07] beckettsean commented on #4724
Same behavior in 0.9.5:

[code]

[2015-11-10 00:08] #4544 closed

[2015-11-10 00:09] jackzampolin commented on #4713
[code]

@varche1 You are correct these queries are taking forever!  The reason for the performance hit is that you have extremely high series cardinality in this data set.  For the `leads_with_full_tags` measurement there are `5 (years) * 12 (months) * 365 (days) * 7 (days of week) * 12 (hours) = 1,839,600` different series.  Is this a similar tag set to the business data you are using?  I would a

[2015-11-10 00:09] #4713 closed

[2015-11-10 00:10] jackzampolin commented on #4713
@varche1 Also using regular expressions also incurs a performance hit.

[2015-11-10 00:12] jackzampolin commented on #4675
@poelzi We have documentation coming out to explain the derivative behavior soon. While this is expected behavior, it is not what most users expect.

[2015-11-10 00:53] beckettsean commented on #4675
@jackzampolin I tend to agree with @poelzi on this. `ORDER BY` should operate on the outputs, not the inputs. With or without documentation it is a bug if `ORDER BY` applies to the inputs.

[2015-11-10 01:13] otoolep opened #4726 "Build up of deleted Shard Group and Shard info in Raft"
Started with https://github.com/influxdb/influxdb/issues/4709

Due to the way our system works, deleted shard group and shard info stays in the Raft data forever. It's never removed. This is not a huge deal, but is wasteful of RAM and will cause retention enforcement to run slower and slower over time. Again, not a huge difference, but will happen.

The reason the system does soft-deletes of shard

[2015-11-10 01:13] beckettsean opened #4727 "[feature request] shard deletion should log the database as well"
[code]

What databases are affected by `shard ID 141`, for instance? If I have infinite retention for my primary RP, this is a very scary log line, unless I realize it's dropping shards for `_internal`, which has a `1w` RP.

[2015-11-10 01:22] otoolep commented on #4727
[code]

[2015-11-10 01:23] otoolep commented on #4727
Fixed by https://github.com/influxdb/influxdb/pull/4725

[2015-11-10 01:38] otoolep commented on #4722
This change should be straightfoward -- just update `influx/main.go` so it outputs the correct message.

[2015-11-10 01:39] otoolep commented on #4689
I don't believe we have an issue here, we can't repro it.

[2015-11-10 01:39] #4689 closed

[2015-11-10 01:39] otoolep commented on #4678
@sparrc -- I believe this is fixed.

[2015-11-10 01:40] otoolep commented on #4634
I presume this is OK now. Please let us know if not.

[2015-11-10 01:40] #4634 closed

[2015-11-10 01:41] otoolep commented on #4510
I think we can close this, nothing to here.

[2015-11-10 01:41] #4510 closed

[2015-11-10 01:43] otoolep commented on #3974
Please try with the latest code, lots of fixes to line-protocol code.

[2015-11-10 01:43] #3974 closed

[2015-11-10 01:43] otoolep commented on #3946
No updates in 2 months.

[2015-11-10 01:43] #3946 closed

[2015-11-10 01:44] otoolep commented on #3888
This is done right, @gunnaraasen @beckettsean

https://github.com/influxdb/influxdb/blob/master/LICENSE_OF_DEPENDENCIES.md

[2015-11-10 02:07] otoolep opened #4728 "SHOW SHARD GROUPS"
To complement `SHOW SHARDS`, `SHOW SHARD GROUPS` would operate at the higher level, allowing groups of shards that represent the same time to be deleted.

[2015-11-10 02:08] otoolep commented on #4728
This command involves 2 pieces:
- add the new command `SHOW SHARD GROUPS`.
- add support to the `meta` package for this command.

The change would be *very* similar to this PR: https://github.com/influxdb/influxdb/pull/3815. By following that, this change should be quite straightforward.

[2015-11-10 02:10] otoolep commented on #4728
The columns should be the same as `SHOW SHARDS`, but without the shard IDs.

[2015-11-10 02:11] otoolep commented on #4728
For extra points it would be worth factoring out the two commands, such that the logic which gathers the common data is factored out.

[2015-11-10 04:07] SamuelToh opened #4733 "[feature request] add simple stress test options to CLI for quick dataset generation"
Hi there,

well done on Influx's query language guide found here. https://influxdb.com/docs/v0.9/query_language/index.html  It is very comprehensive and is certainly very useful.

Just a thought here.
I was thinking the guide can maybe be even better by having a sample data pack (a tar ball or something?) that contains:

1) an influxdb data file with probably around 100~200 rows of data?
2) a data

[2015-11-10 04:12] otoolep commented on #4733
Thanks @SamuelToh

This is not a bad idea. Perhaps, instead, we add a new command to the CLI (`influx`). This command could be simply:

[code]
which would pump in the demo data.

Thoughts @corylanou @beckettsean ?

[2015-11-10 04:18] dgnorton commented on #4733
Would the existing `influx_stress` tool work for this?

[2015-11-10 04:24] otoolep commented on #4733
It technically would, but for a built in demo I thought the CLI itself
might be more user-friendly.

Also, in its default mode the stress tool will pump in much more data. It
would take much longer than a second. So then you would need a stress
config....

On Monday, November 9, 2015, dgnorton <notifications@github.com> wrote:

[2015-11-10 04:33] dgnorton commented on #4733
Fair enough about the stress tool.

`CLI` import might be a good solution though.  We could ship a plain text file which the `CLI` already knows how to read.  200 points would take less than a second.

`influx -import -path=influxdb_demo_data.txt`

[2015-11-10 04:37] otoolep commented on #4733
A big part of me really likes the idea of a built-in demo. Where does the file live? What if they built from source? Etc etc.

That said I can see some drawbacks with adding demo stuff into the production CLI. It requires a code change anytime we want different data sets. That would be a pain.

[2015-11-10 05:26] corylanou commented on #4733
Couldn't we refactor something from the stress tool that we could call from the cli package?  This way we know the code always stays up to date, and they we an actually have it do some things like:

`demo` - inserts 1k rows of basic data
`demo 100000` would insert 100,000 random rows
`demo 100000 1000` would insert 100,000 rows with a cardinality of 1,000, etc.

Basically give it the same type of

[2015-11-10 06:31] gunnaraasen commented on #4733
@rkuchan and @mjdesa are working on a telegraf plugin that generates regular sinusoidal data.

[2015-11-10 07:11] ivanscattergood commented on #4701
It works fine in 0.9.4.2

---- otoolep wrote ----

@ivanscattergood<https://github.com/ivanscattergood> -- do you see this issue with 0.9.4.2?

-
Reply to this email directly or view it on GitHub<https://github.com/influxdb/influxdb/issues/4701#issuecomment-155225753>.

[2015-11-10 08:13] oiooj commented on #4733
+1

[2015-11-10 09:37] pcable3d commented on #4712
we are a little concerned here, the flush time keeps growing to >200ms, only 20h into the testrun and after last db purge. A total of 9 MB of datapoints were received through UDP.

![image](https://cloud.githubusercontent.com/assets/15105872/11058607/447e9b8a-8794-11e5-83fc-cf354916ab19.png)

![image](https://cloud.githubusercontent.com/assets/15105872/11058929/afa14e6a-8796-11e5-8358-4f72c1847433

[2015-11-10 09:58] pcable3d commented on #4712
Apperently #4354 describes a similar memory leak in a compareable environment. I will update to the latest nightly and run on tsm1.

[2015-11-10 10:35] shayts7 commented on #4716
Sure,

The output contains all of the dbs except the one that executed "the select * from...":
{"results":[{"series":[{"name":"databases","columns":["name"],"values":[["_internal"],["mydb1"]]}]}]}

[2015-11-10 10:44] enigmapsi commented on #4709
Hi,

Sorry for the late reply, seems it's been quite an active topic.

@otoolep , thanks for fixing it.
@beckettsean single node, indeed. Not sure if you still need the info requested above, but here it is:

[code]

[code]

[code]

[2015-11-10 13:30] ivanscattergood opened #4734 "Query: disable the persistence of the WAL"
from https://influxdb.com/docs/v0.9/concepts/storage_engine.html

How do you do this?

At the moment I don't have access to fast disk, BUT I do have access to more memory than I am using. If I can move the WAL completely into memory then I will be able to keep pace with bursts of updates.

I am currently using 0.9.4.2 and the bz1 engine. I cannot move to 0.9.5 yet due to #4701

[2015-11-10 13:35] poelzi opened #4735 "[0.9.4.2] panic with index out of range"
I get following error in 0.9.4.2 without much information about the underlaying cause, nor which query causes the problem.

[code]

[2015-11-10 14:00] varche1 opened #4736 "[0.9.5-nightly] Filtering by parameter which is not specified at the SELECT"
Hi!
Find out unxpected behavior (0.9.5-nightly-ef84e33): InfluxDB do not filters by parameter which is not specified at the `SELECT` (on 0.9.2 works well).

How to reproduce:
* Create a database `issues_db10`: `/opt/influxdb/influx -execute "create database issues_db10"`
* Run python script https://gist.github.com/varche1/9ad6360637db87b9613f (use Python client `influxdb==2.8.0` for InfluxDB 0.9.2

[2015-11-10 14:17] sergzin commented on #4331
+1 on `0.9.5-nightly-827c513` with 5 servers in cluster and replication factor 3.
I don't see similar issues on testdb with replication factor = No of servers in cluster

[2015-11-10 14:47] ch33hau commented on #4283
Hi @otoolep , I have created a pull request for this issue, the way to fix is like @corylanou 's comment.
And one more thing is, since the Dir value is mandatory, so I disable HH by default, hope it make sense.

[2015-11-10 16:55] JulienChampseix opened #4738 "[0.9.5] - Issue during deb install"
Hi Team,

A minor bug still remain using the nightly deb install :
[code]

I must to run this command for having influxdb working :
`ln -sf /opt/influxdb/versions/0.9.5-nightly-780df57 /opt/influxdb/current `

Regards,
Julien

[2015-11-10 17:34] sparrc commented on #4678
Not quite, it's in PR #4681

[2015-11-10 18:04] beckettsean commented on #3888
Yes, this is done. I closed the docs issue about it, didn't see this one.

[2015-11-10 18:04] #3888 closed

[2015-11-10 18:09] beckettsean commented on #4733
@rkuchan is also working on uploading the sample data to S3 so it can be downloaded and injected via the CLI. It should release along with 0.9.5 final.

[2015-11-10 18:10] beckettsean commented on #4733
Closing in favor of https://github.com/influxdb/influxdb.com/issues/463

[2015-11-10 18:10] beckettsean commented on #4733
and also https://github.com/influxdb/influxdb.com/issues/464

[2015-11-10 18:12] beckettsean commented on #4712
@pcable3d the shard duration is a function of the retention policy. If your RP duration is between two days and six months, shards will live for a day. If the RP duration is longer than six months, the shards will live for a week. Less than two days and the shards live for an hour.

[2015-11-10 18:12] beckettsean commented on #4712
There are known memory issues with the `bz1` engine, so updating to `tsm1` is definitely a good thing to try.

[2015-11-10 18:45] beckettsean commented on #4733
@mjdesa assigning to you for the CLI/stress combination

[2015-11-10 18:49] beckettsean commented on #4734
@pauldix I don't see a way to disable the WAL in the 0.9.4.2 config.

[code]
I wondered if any of the following would disable WAL persistence to disk?
- `max-wal-size=0`
- `wal-dir=''`
- ` wal-max-series-size=0`

Would any of those work to disable the WAL going to disk, or is that an old piece of advice that no longer applies?

[2015-11-10 18:57] otoolep commented on #4716
Thanks @shayts7.

We have no other reports of anything like this. `SELECT` does nothing to write or remove anything from the disk. Has your config changed? Check the config -- can you show us all the files underneath the `data` directory?

[2015-11-10 18:57] otoolep commented on #4716
For example:
[code]

[2015-11-10 18:58] otoolep commented on #4716
For example:
[code]

[2015-11-10 19:36] ryan-williams commented on #4235
Thanks, I built from HEAD and [set engine to `tsm1`](https://gist.github.com/ryan-williams/1fe3859c0be6ac580ea8#file-influxdb-conf-L54) and still see this issue:

[code]

So in this thread we have one report (@markcwill [here](https://github.com/influxdb/influxdb/issues/4235#issuecomment-148559142)) that `tsm1` fixes this and two reports (@plopp [above](https://github.com/influxdb/influxdb/issues/

[2015-11-10 19:55] mtzaurus commented on #4693
I have ran into this issue on 0.9.5 nightly:

My InfluxDb was under high load for an hour or two, then OOM happened.
When I restarted the database and tried to reinitialize, I got the following:

query] 2015/11/10 20:50:48 DROP DATABASE analytics

[monitor] 2015/11/10 20:50:57 failed to store statistics: timeout

[monitor] 2015/11/10 20:51:08 failed to store statistics: timeout
[monitor] 2015/11/1

[2015-11-10 19:56] mtzaurus commented on #4693
P.S: single-node setup, not clustered.

[2015-11-10 20:09] ryan-williams opened #4739 "<, <=, >= operators not working correctly on 'time' field"
On an influx built from HEAD yesterday and using `tsm1` engine:

[code]

These queries should have returned the same thing. If a record's timestamp is within 64ns of the given upper bound, it is incorrectly excluded; with at least 65ns to spare it is correctly included. This seems to hold across different records, bounds, and other conditions in the queries I've tried.

Similar demonstration with

[2015-11-10 20:27] #4678 closed

[2015-11-10 21:06] beckettsean commented on #4739
@benbjohnson anything you've discovered recently that explains this? Will the QE refactor address these issues or is this in code you aren't touching?

[2015-11-10 21:11] beckettsean commented on #4693
@otoolep sounds like an `_internal` write issue, perhaps. Any workarounds?

[2015-11-10 21:12] beckettsean commented on #4736
@jackzampolin a good one to try and repro

[2015-11-10 21:25] jackzampolin commented on #4736
:+1:

[2015-11-10 21:43] pires commented on #2676
+1 for applying default policy only on database creation. On it!

[2015-11-10 21:52] jackzampolin commented on #4736
Successfully reproduced with `0.9.5-nightly-7d4bdc1`

[2015-11-10 21:56] pires commented on #2676
@otoolep what would be the desired defaults?

[2015-11-10 22:02] rossmcdonald commented on #4738
@JulienChampseix Was this server upgraded from another version prior to 0.9.4.2? InfluxDB versions 0.9.4+ do not utilize the `/opt/influxdb/current` symlink, so the error:
[code]
May have just been due to an orphaned symlink. It also should have no effect on starting InfluxDB since the init scripts call `/opt/influxdb/influxd` directly.

[2015-11-10 22:05] pires commented on #2676
Actually, @otoolep I was looking at #2805 and read the following by @pauldix:

Does it still applies? If so, this issue should be closed. Otherwise, #2805 should be reviewed once more because it seems to deliver. I would just add a couple tests where we guarantee a couple things:
* defaults are enforced on database creation
* values configured by the user are properly enforced on database creation

[2015-11-10 22:13] rossmcdonald commented on #4735
@poelzi Are you finding this panic occurring multiple times? Or has it only happened once?

[2015-11-10 22:56] gunnaraasen commented on #4499
Closing in favor of https://github.com/influxdb/influxdb/issues/4630, which has a description of the root cause of this issue.

[2015-11-10 22:56] #4499 closed

[2015-11-10 23:32] ryan-williams commented on #3315
I was just able to insert some duplicates on a build from yesterday's `HEAD` with the `tsm1` engine:

[code]

I sent basically the same data to Influx via a `curl` several times while testing a script that generates the data in question. This one measurement ended up with dupes but several others (all of them, afaict) did not.

[2015-11-10 23:40] beckettsean commented on #3315
@ryan-williams if you wait ~1 hour or bounce the process are the values still duplicated? It might be limited to the in-RAM representation and clear up once the points are fully flushed to disk.

[2015-11-10 23:49] pires commented on #1110
I'm on it but can you guys provide me with an example of two of these files so I can add them to tests?

[2015-11-10 23:51] otoolep commented on #4738
Looks like an 0.8 issue, perhaps? Related?

[2015-11-10 23:54] otoolep commented on #4693
This is most likely not specific to the internal database, the system simply couldn't accept any more load.

Did the issue ever resolve @mtzaurus ?

[2015-11-11 00:03] jackzampolin commented on #4736
So to 'sum' this up:
[code]
The addition of a tag filter with an `AND` statement breaks this query.  The issue is present in `master` but not in 0.9.2.  Is that correct @varche1?

[2015-11-11 00:21] otoolep commented on #4709
`SHOW SHARDS` should be correct now.

[2015-11-11 00:21] #4709 closed

[2015-11-11 00:41] otoolep commented on #1110
The directory option would best best, since it would not be a breaking change.

[2015-11-11 00:50] axingblog opened #4741 "[0.9.5-nightly] derivative return large value or negative value"
I use influxdb influxdb-0.9.5_nightly_7d4bdc1-1.x86_64  and telegraf 0.2.0

some time the  derivative funtion return a  negative  on last  point
non_negative_derivative   return a   very large numer  on last  point

sql:
[code]

[code]

[2015-11-11 00:55] beckettsean commented on #4741
@axingblog can you share the underlying data along with the query results? It's tough to figure out whether there's something wrong without the source data to analyze.

`SELECT * FROM "io_writes" WHERE "host" =~ /java-ecproxy$/ AND "name" = 'sda' OR "name" = 'memdiska' OR "name" = 'sdb'  AND time > now() - 1m`

Might make sense to put it in a [gist](https://gist.github.com/), since it is likely a

[2015-11-11 00:57] otoolep commented on #2676
I can check with @pauldix but I think this is actually OK. We've done some similar things recently, and the key thing to understand is that the retention policy duration only applies *on creation*. If you look at the code, the duration is set to something, and right now it's set to infinity (0).

This change would be easy enough -- one simply defines the key, and if it's not set, one goes what the

[2015-11-11 01:12] axingblog commented on #4741
name: io_writes
---------------
time			host		name		serial					value
1447204030000000000	s110	memdiska						37630999
1447204030000000000	s107	memdiska						35709734
1447204030000000000	s81	sdb		36b083fe0d0bb6c001bd7c51f488e9907	4720277738
1447204030000000000	s78	sdb		36b82a720d31d66001b442dd788194557	4742875891
1447204030000000000	s79	sdb		36b82a720d31c21001b45478751364832	4494184791
14472040300000

[2015-11-11 02:17] kostya-sh commented on #4341
Starting from Go 1.6 time.Parse will not return an error when parsing a date where date component is greater than 31. (e.g. 36 Jan 2015).

The test checks that influxdb doesn't accept invalid dates. Due to the choice of date strings it passes with Go 1.5. However the validation is still not correctly implemented for dates like 30 Feb, 29 of Feb on non-leap year, 31 Nov, etc.

Depending on the desi

[2015-11-11 03:50] yuankui opened #4743 "configure the ttl of data in a database"
In my circumstance, the metrics produces speed is very fast, ie 1000/qps.

so it will produces 36 million metrics per day. that's a big amount, for a single node influxdb, I think.

But in my circumstance, We only care about the most recent metrics, so we can and hope to evict the old data as soon as possible.

Is there any configuration? for a database ttl settings

[2015-11-11 03:59] otoolep commented on #4743
Everything you need to know is in the docs:

https://influxdb.com/docs/v0.9/introduction/overview.html

Specifically the documentation on retention polices, which is exactly what you want.

https://influxdb.com/docs/v0.9/query_language/database_management.html#retention-policy-management

Please send all further general questions like this to the mailing list.

https://groups.google.com/forum/#!fo

[2015-11-11 03:59] #4743 closed

[2015-11-11 04:09] yuankui commented on #4743
thanks @otoolep

[2015-11-11 05:09] skynet opened #4744 "0.9.5"
Is this anywhere near production ready? We've been waiting for too long.

[2015-11-11 05:19] otoolep commented on #4744
Please keep an eye on our blog for updates.

[2015-11-11 05:19] #4744 closed

[2015-11-11 05:28] skynet commented on #4744
:+1:

[2015-11-11 06:19] KiNgMaR opened #4745 "[0.9.5_nightly_6ecb62e] Multiple [[udp]] sections in config cause panic"
A single [[udp]] section is working great. Adding a second one crashes in the toml parser. Possibly related: https://github.com/BurntSushi/toml/pull/68

    2015/11/11 07:15:32 InfluxDB starting, version 0.9.5-nightly-6ecb62e, branch master, commit 6ecb62e4d2f6cb9cd55a5aaa59e5273a2a48a557, built 2015-11-11T05:00:44+0000
    2015/11/11 07:15:32 Go version go1.5.1, GOMAXPROCS set to 8
    2015/11/11

[2015-11-11 06:19] ivanscattergood opened #4746 "[0.9.4.2]runtime: out of memory on write"
Hi

Had the following error this morning whilst writing data to 0.9.4.2
[code]

[2015-11-11 06:23] ivanscattergood opened #4747 "[0.9.4.2] failed to store statistics on startup"
HI Guys,

When restarting the Database I frequently see the following error:

[monitor] 2015/11/11 06:20:54 failed to store statistics: timeout

Is there anything I can do to fix this type of error?

[2015-11-11 06:37] otoolep commented on #4747
This error is relatively harmless. Once the database is fully initialized these errors will stop.

This issue should no longer occur once tsm1 is released.

[2015-11-11 06:37] otoolep commented on #4745
Please show us your config file. I cannot reproduce this with the following section:

[code]

[2015-11-11 06:38] otoolep commented on #4745
Everything is fine when I build with 6ecb62e4d2f6cb9cd55a5aaa59e5273a2a48a557

[2015-11-11 06:42] KiNgMaR commented on #4745
Panic:

    ###
    ### [[udp]]
    ###
    ### Controls the listeners for InfluxDB line protocol data via UDP.
    ###

    [[udp]]
      enabled = true
      bind-address = "10.100.20.40:4444"
      database = "offer_prod"
      batch-size = 10000
      batch-timeout = "5s"

    [[udp]]
      enabled = false
      bind-address = "10.100.20.40:4445"
      database = "offer_nonprod"
      batch-si

[2015-11-11 06:42] otoolep commented on #4727
All done.

[2015-11-11 06:42] otoolep commented on #4727
Always a pleasure to help my friends in Support.

[2015-11-11 06:45] KiNgMaR commented on #4745
Was running b2e99c1 before, no panic there.

[2015-11-11 07:46] caligula1989 opened #4748 "[0.9.5-nightly] Weird values for a field name `counter`"
BEFORE ANYTHING: **I am using  version 0.9.5-nightly-6682752.**

I have a field named `counter`, which ALWAYS has a value of 1 (that's hard coded in the only place I use to write data to influxdb).

Running sum(counter) and count(counter) yield very different results:
[code]
However I can't find points with a counter that isn't 1:
[code]

But when querying without the * - apparently there are poin

[2015-11-11 08:33] pires commented on #2676
Sure. Keep us posted.

[2015-11-11 08:42] pcable3d commented on #4712
The leaking memory could not be reproduced with `0.9.5 nightly`. However the problem seemed to be related to an ever changing `uid` tag which resulted in creation of thousand of series by the engine.

[2015-11-11 09:02] ntquyen opened #4749 "run: open server: open hinted handoff: seek /data/hh/3/5: invalid argument"
I'm using influxdb cluster with 3 nodes version `0.9.5-nightly` inside kubernetes cluster. Data is persistent on disk of each node. Below is the configuration and the logs until the error occurred and crashed.

[code]

[2015-11-11 09:13] shayts7 commented on #4716
Sure

Here it is:
[dataDirOutput.txt](https://github.com/influxdb/influxdb/files/31727/dataDirOutput.txt)

The vanished DB is 1210534572 (You can see it in the output)

Thanks,
Shay

[2015-11-11 09:37] shayts7 commented on #4716
p.s. - Maybe the problem is not related to the "SELECT * FROM", That was only a guess.
Maybe it's related to the "SHOW DATABASES".

The most important thing for us now is to understand if there is anyway to restore the DB definition, or should be start over again?

Thanks,
Shay

[2015-11-11 10:11] pavel-odintsov opened #4750 "Significant memory leak in 0.9.5-nightly-6ecb62e"
Hello folks!

I'm using Influx and store about 21 000 values each second with Graphite backend.

My configuration is completely standard. Only Graphite config have changed:
[code]

And memory leaked really fast:
[code]

[2015-11-11 10:25] zenvdeluca commented on #4750
I have similar behaviour here. the memory utilization grows until reach the memory limit and than influxdb start crashing, demanding a restart.

[2015-11-11 11:30] dswarbrick commented on #4699
I again started with a fresh DB, running 0.9.5-nightly-905437c, to watch the behaviour. Once again, it seemed to do massive compactions whenever I restarted influxd. I downgraded to 66a31ee (built from source) as an experiment, and initially the rate of disk consumption seemed a bit slower, but starting climbing again rapidly later on. It also resulted in a large compaction when I restarted it. So

[2015-11-11 12:05] KiNgMaR commented on #4750
Same here... at a constant write rate, RSS is growing continuously. This can also be observed in the internal Go memory statistics:

![snap 2015-11-11 at 13 01 01](https://cloud.githubusercontent.com/assets/438358/11090677/489fac78-8874-11e5-9083-df0ca4daf99a.png)

Running 6ecb62e on CentOS 6.

Approximately at the same rate that memory usage is increasing also the time it takes to flush the WAL i

[2015-11-11 12:55] mtzaurus commented on #4693
Today I had it again, it was hanging for 20+ minutes, so I just killed to process.

What I can say for sure, is that it's again DATABASE DROP - related.

[query] 2015/11/11 11:47:36 DROP DATABASE analytics
[monitor] 2015/11/11 11:47:41 failed to store statistics: timeout

[monitor] 2015/11/11 11:47:51 failed to store statistics: timeout
[monitor] 2015/11/11 11:48:01 failed to store statistics: tim

[2015-11-11 13:30] will-prcm commented on #1819
+1

[2015-11-11 14:52] naxhh commented on #1819
+1

[2015-11-11 15:06] pires commented on #1110
@otoolep should we support both configuration entries simultaneously or one overrides the other, e.g. if `typesdb` is set, ignore `typesdb-dirs`?

[2015-11-11 16:11] enigmapsi opened #4751 "[0.9.5-nightly-6ecb62e] Partial crash using certain queries"
Hi,

Not sure if this was reported before, I thought it's worth mentioning. Running as single node, not cluster.

InfluxDB stops listening to 2 ports if I execute certain queries, please see below. One of the ports is for the HTTP api - no API connection is possible until the daemon is restarted.

[code]
The last query always crashes InfluxDB, as follows (ports open before and after that query).

[2015-11-11 16:14] otoolep commented on #4712
This is not a leak. With more series, more memory is required.

[2015-11-11 16:14] #4712 closed

[2015-11-11 16:15] enigmapsi commented on #4751
Update: I've tried both engines, bz1 and tsm1, the same effect.

[2015-11-11 16:21] zapient commented on #1819
+1

[2015-11-11 16:34] corylanou commented on #4098
@Wind0r can you share a gist of the script then we can use it here as well and all stay on the same page.  Thanks!

[2015-11-11 17:12] rossmcdonald commented on #4694
@cgunther Thanks for letting us know. We have now added repo support for Ubuntu precise.

Let me know if you run into any issues!

[2015-11-11 17:12] #4694 closed

[2015-11-11 17:14] benbjohnson commented on #4739
@beckettsean I haven't seen anything in the refactor that would explain that so far. The filtering is being reworked in the refactor though.

@ryan-williams Are you seeing this in either the `b1` or `bz1` engines or is it just `tsm1`?

[2015-11-11 17:17] otoolep commented on #4749
I do not see a crash, I see a system shutting down. Is something shutting it down?

[2015-11-11 17:18] otoolep commented on #4750
Thanks for the reports.

When filing reports like this, please include the engine you are running. Engine type is the single biggest factor when understanding issues like this.  This ticket could be covering multiple different issues.

[2015-11-11 17:23] Wind0r commented on #4098
Sure. Need to be executed in the influxdb/influxdb folder.
[Not the best but i works ;)](https://gist.github.com/Wind0r/42f420cc9a98b36d14a0)
Combine with "  | grep ' 0' " to get the finished ones.

[2015-11-11 17:24] otoolep commented on #4745
Thanks for the report @KiNgMaR -- I can repro this issue. I suspect 4f8b0aca

[2015-11-11 17:32] otoolep opened #4752 "Graphite and UDP config not part of 'config' output"
Started with https://github.com/influxdb/influxdb/commit/4f8b0aca9a563977e5024ea5e3ae63fe2e4118fe

which meant this was raised:

https://github.com/influxdb/influxdb/issues/4745

Until https://github.com/BurntSushi/toml/pull/68 is fixed, we cannot address this issue.

[2015-11-11 17:32] corylanou commented on #4098
Awesome, thanks!

[2015-11-11 17:32] otoolep commented on #4745
Thanks again @KiNgMaR for this important bug report. I have reverted the change on our side that caused this (unfortunately) and we will have to wait for the toml parsing to be fixed.

[2015-11-11 17:32] #4745 closed

[2015-11-11 17:34] otoolep commented on #4752
@nkatsaros -- if you can find a way to address this issue without hitting the toml bug, we'd be happy to merge a new PR.

[2015-11-11 17:49] kimor79 commented on #1110
collectd.conf accepts multiple TypesDB parameters and so the types.db files might not be all in the same directory. Also there could possibly be other files in the default types.db location (I've seen postgres queries and java files before).

[2015-11-11 18:04] pauldix commented on #2676
What's the desired result of this setting? That every time you create a database it has a given retention duration?

I think the more appropriate thing to do is to add something to the `CREATE DATABASE` command that lets you specify what the default duration would be. I think that would be super useful.

[2015-11-11 18:04] aneshas commented on #4722
Hi, how do I claim this issue?

[2015-11-11 18:10] cgunther commented on #4694
Terrific, thank you!

[2015-11-11 18:17] pavel-odintsov commented on #4750
Hello

How I could check engine type? Thanks!

On Wednesday, 11 November 2015, otoolep <notifications@github.com> wrote:

--
Sincerely yours, Pavel Odintsov

[2015-11-11 18:26] otoolep commented on #4750
Please check your config file.

https://github.com/influxdb/influxdb/blob/master/etc/config.sample.toml#L62

Philip

On Wed, Nov 11, 2015 at 10:17 AM, Pavel Odintsov <notifications@github.com>
wrote:

[2015-11-11 18:30] otoolep commented on #4722
You just did @aneshas  :-)

Eventually if we don't see a PR, we'll consider it available for others.

[2015-11-11 18:34] varche1 commented on #4736
@jackzampolin Example I showed is little bit different:

# NOT WORKING
select sum(value) from /measurement/ where time > N and time < M and field_a = field_value group by time(1h)

# WORKING
select count(field_a), sum(value) from /measurement/ where time > N and time < M and field_a = field_value group by time(1h)

So, if I do not use field_a in SELECT, I can't filter on it.

Both of examples abov

[2015-11-11 18:48] aneshas commented on #4722
@otoolep Great, thanks :)

[2015-11-11 18:49] beckettsean commented on #4727
Thanks, @otoolep, really looking forward to having this!

[2015-11-11 18:49] #4727 closed

[2015-11-11 18:52] beckettsean commented on #4748
@caligula1989 this sounds more like an issue with the write syntax than anything else. `counter` isn't a reserved word.

Can you share how you are writing points to the database? Particularly in light of "The values here are typical values of a different field I have." That makes me think somehow the write path is confusing the inputs.

[2015-11-11 18:54] pauldix commented on #4734
@beckettsean you can't disable the WAL going to disk. However, you could put the WAL directory on a RAM Disk

[2015-11-11 18:59] beckettsean commented on #4751
The ports close because the process crashes. The specific query is causing a panic and bringing down the process.

It's a known (ugly) bug with math on multiple fields: https://github.com/influxdb/influxdb/issues/4046

Closing as duplicate.

[2015-11-11 18:59] #4751 closed

[2015-11-11 19:16] beckettsean commented on #4697
@erdii I cannot reproduce that error. Does it happen for you repeatably?

[2015-11-11 19:21] pavel-odintsov commented on #4750
Hello!

Here my configuration file:
[code]

[2015-11-11 19:30] corylanou commented on #1823
The query engine is undergoing heavy refactoring.  Removing help wanted label for now.

[2015-11-11 19:31] corylanou commented on #1825
The query engine is undergoing heavy refactoring.  Removing help wanted label for now.

[2015-11-11 19:32] otoolep opened #4754 "Revert to Go 1.4.2"
Due to multiple issues reported that appear to be bugs in Go 1.5, we are reverting to Go 1.4.2 until further notice.

[2015-11-11 19:33] otoolep commented on #4754
https://github.com/influxdb/influxdb/issues/4554
https://github.com/influxdb/influxdb/issues/4548

[2015-11-11 19:36] otoolep commented on #4750
The bz1 engine has known issues with memory usage when under heavy load, and all active development is taking place on tsm1. You might like to try that engine though it is experimental and data must be wiped between upgrades.

[2015-11-11 19:42] pavel-odintsov commented on #4750
Thanks for help! I will check new engine shortly!

[2015-11-11 20:10] dswarbrick commented on #3247
Seems to still be broken as of 0.9.5-nightly-6ecb62e.
[code]

[code]

[code]

whereas:

[code]

The odd thing is that derivative points calculated by testcq1 include plugin_instance vda1 and vdb1, which are no longer being inserted into the source measurement - as if testcq1 has warped back in time.

[2015-11-11 21:26] pires commented on #2676
@pauldix something like `CREATE DATABASE WITH RETENTION=24h NOAA_water_database`?

[2015-11-11 21:27] otoolep commented on #2676
I was wondering if should really be the full command, including name etc. But that could be over the top.

`CREATE DATABASE NOAA_water_database WITH RETENTION 24h`

might be more in line with our current standards -- the optional keywords come after the mandatory keywords, and we don't use `=` in the commands.

[2015-11-11 21:31] pires commented on #1110
@kimor79 #4740 implements support for multiple directories and multiple files per directory.

[2015-11-11 21:37] pires commented on #2676
@otoolep can you please lead the way spec'ing this and I'll give it a try?

[2015-11-11 21:42] otoolep commented on #2676
Sure.

The first step would be understanding how to add a command to our parser. It's not that difficult actually, if you can follow an example. For example this PR shows how the `DROP DATABASE` command was modified to accept optional keywords:

https://github.com/influxdb/influxdb/pull/4698

Note that `CREATE DATABASE` currently takes optional `IF NOT EXISTS` keywords, so you might like to check

[2015-11-11 21:43] otoolep commented on #2676
Once the parsing and AST code has been completed, it's pretty easy to work with the CreateDatabase type, and just check for the presence of the require attibutes, and when creating the database, create the retention policy (today that is checked via a flag in the `meta` package, which is what @pauldix doesn't like).

[2015-11-11 23:29] otoolep commented on #4754
Reverting this:

https://github.com/influxdb/influxdb/pull/3863

[2015-11-11 23:50] otoolep commented on #4754
Fixes issue https://github.com/influxdb/influxdb/issues/4754

[2015-11-11 23:51] otoolep opened #4760 "Move to Go 1.5"
The move to Go 1.5. has been aborted, let's try this again soon.

https://github.com/influxdb/influxdb/issues/4754

[2015-11-11 23:56] otoolep commented on #4554
We're reverting to Go 1.4.2 for the 0.9.5 release.

[2015-11-12 00:15] Ghoughpteighbteau opened #4761 "[0.9.4.2] derivative returning only one 0 value sporadically"
Given the dataset:
[code]

the query returns only one row with the value 0. wat.
[code]

This data does not look perverse to me, so I have no idea what's happening here.
[code]

This changes sometimes. Sometimes when I run the query I get the expected result set.

In the mean time, nonNegativeDerivative seems to do sane things, but it returns larger results for larger time intervals. I'm finding i

[2015-11-12 00:20] #4754 closed

[2015-11-12 00:43] beckettsean commented on #4761
https://influxdb.com/docs/v0.9/query_language/functions.html#derivative will help you understand the "larger results for larger time intervals" issue. There's an implicit rate unit in `DERIVATIVE` that needs to be explicitly set if you aren't looking for the rate of change per second.

I'm unable to repro the issue on 0.9.4.2. What version are you running?

[code]

[2015-11-12 00:49] Ghoughpteighbteau commented on #4761
hmm. Using the version from ubuntu 15.10, looking for a version number right now...

[2015-11-12 00:52] Ghoughpteighbteau commented on #4761
Also, the larger results for larger time intervals doesn't make sense for `nonNegativeDerivative` because I can't supply a unit to that function. `non_negative_derivative` on the other hand, I can supply a result to, but it breaks like `derivative`

[2015-11-12 00:57] Ghoughpteighbteau commented on #4761
sorry, I can't seem to find a way to get influxd to spit out it's current version, so here's a md5 of the binary on my machine:

[code]

[2015-11-12 01:04] sebito91 commented on #4554
Will tonight's nightly reflect that? Was trying to build against HEAD today
and was getting bad file descriptor issues using 1.5.1...
On Nov 11, 2015 5:56 PM, "otoolep" <notifications@github.com> wrote:

[2015-11-12 01:16] Ghoughpteighbteau commented on #4761
Ok, so I got the latest version and I overwrote the binary ubuntu provided.

still getting the same behavior :(!!

[code]

[2015-11-12 01:27] otoolep commented on #4554
Yes, tonight's build should be built with 1.4.2. The start-up log will confirm. If this it not what you see, let us know.

[2015-11-12 01:44] xvtom commented on #4701
I upgraded to 0.9.5 nightly yesterday, and I got exactly same error.

[2015-11-12 02:25] pires commented on #2676
@otoolep thank you so much! Seems really doable even for a (Go and InfluxDB) newbie like me.

Some questions though:
* The syntax seems to be [`CREATE DATABASE [IF NOT EXISTS] <database_name>`](https://influxdb.com/docs/v0.9/query_language/database_management.html#create-a-database-with-create-database). Or is the parser smart enough to accept options after the name?
* Should we follow `time.Parse

[2015-11-12 02:43] sebito91 commented on #4554
Thanks @otoolep, absolutely will do.

On Wednesday, November 11, 2015, otoolep <notifications@github.com> wrote:

--

Sebastian Borza
---------------
PGP: EDC2 BF61 4B91 14F2 AAB4  06C9 3744 7F3F E411 0D3E

[2015-11-12 02:47] otoolep commented on #2676
@pires -- actually if you checked the code you are right, I got it backwards. The parser is not smart, and will error if you supply what I thought it was.

As for the time spec, I was just being brief. Yes, it should follow the Go spec as you suggest.

[2015-11-12 02:48] pires commented on #2676
@otoolep owning it. Should I report back to this issue?

[2015-11-12 02:49] otoolep commented on #2676
So I am guessing we want:

`CREATE DATABASE [IF NOT EXISTS] ] NOAA_water_database [ [ WITH RETENTION 24hr] ]`

To be honest, once you know how to add commands to the parser it's not a big deal to modify if we change our mind during development.

[2015-11-12 02:49] otoolep commented on #2676
That sounds good, thanks @pires

[2015-11-12 02:51] pires commented on #2676
Yes, your pointers made whoever takes this task life easier. Again, I'm going for it. Thank you!

[2015-11-12 02:51] ntquyen commented on #4749
@otoolep after checking `dmesg`, I realized that influxdb container was killed by the CoreOS host because it's eating up memory. Look like influxdb tries to consume all the memory that was given to the container (2gb). It's weird that while there is available memory, the host still kills the influxdb process.

[2015-11-12 02:56] otoolep commented on #4749
OK. Right now this is not actionable. We would need much more information about the usage of the system before we can diagnose. Take a look at the other issues on github, but be aware that we are working on a new engine to address memory usage issues.

[2015-11-12 02:56] #4749 closed

[2015-11-12 03:14] ntquyen commented on #4750
I'm using `0.9.5-nightly-ef84e33` and see no engine configuration in my config file, so the default engine is tsm1 or bz1? An info log on storage engine when starting would be nice.

[2015-11-12 03:25] flisky commented on #4718
Is @corylanou's suggestion the final decision?

[2015-11-12 03:25] otoolep commented on #4750
It's right here: https://github.com/influxdb/influxdb/blob/master/etc/config.sample.toml#L62

[2015-11-12 03:31] #4741 closed

[2015-11-12 03:40] ntquyen commented on #4750
I see, so the default engine is bz1. I did change to tsm1 and saw the log about the engine. Thanks @otoolep !

[2015-11-12 05:31] superdump commented on #1825
@corylanou - what kind of heavy refactoring? Are you intending to support joins, more complex multi-measurement queries, etc?

[2015-11-12 09:24] ivanscattergood opened #4763 "Query: When does config reload"
If I change a config setting in the .conf file when does it take effect? Do I need to restart the database?

[2015-11-12 12:49] otoolep commented on #4763
Yes.

On Thursday, November 12, 2015, ivanscattergood <notifications@github.com>
wrote:

[2015-11-12 12:50] #4763 closed

[2015-11-12 13:56] newtoncorp opened #4764 "[0.9.4] submitting empty write payload causes panic with index out of range"
Similar to #4735 different stack trace, in a write query.

[code]

Reproduced 100% by writing an empty array of points with the python influxdb client

[code]

[2015-11-12 15:41] oiooj commented on #4735
Already fixed in 0.9.5  https://github.com/influxdb/influxdb/pull/4625

[2015-11-12 15:42] oiooj commented on #4764
Already fixed in 0.9.5  https://github.com/influxdb/influxdb/pull/4625

[2015-11-12 16:14] saravapally opened #4765 "Incorrect results while using a where clause(a string condition) against a field that has boolean values"
Example:

I have a measurement called "m1" with field called "fault" that is a boolean. There are two points, one with fault = true, and another with fault = false.

Now, when I run the query : select * from m1 where fault = 'something'
it returns those rows where the value for "fault" is false. Shouldn't it return 0 rows as there are no rows where the value of "fault" is "something" ?

[2015-11-12 16:21] otoolep commented on #4765
Comparing a boolean field with a non-boolean value is currently undefined. You are mixing types, so there is ambiguity here. What are you trying to do?

[2015-11-12 16:45] poelzi commented on #4735
I'm not so sure currently, it could be that it was due to memory pressure problems. I will looking into this issue further when I have some spare time

[2015-11-12 16:46] aneshas commented on #3170
Hey @jademcgough still working on this issue?

[2015-11-12 16:50] corylanou commented on #2615
I need more context on how we want to fix this.  There are several challenges for this depending on what the fix is.

First, let's examine the `write` endpoint to solve the problem.

If we check each point being written for duplicate tag/fields that will be fairly easy.  While adding a little overhead, it should be fairly quick.  Use of benchmarking could easily tell us what the trade off is.

How

[2015-11-12 16:54] otoolep commented on #2615
Agreed, this isn't really fixable for the reasons you outlined @corylanou -- there is no central store of tag and field metadata in our system.

[2015-11-12 16:58] corylanou opened #4767 "influx client exits if it doesn't connect to a server when launching"
Currently, if you invoke the `influx` cli and it can't connect to the default `localhost:8086` the program exits.

It should show the warning, but not exit, as you may not have a server on that port.

[code]

[2015-11-12 17:02] otoolep commented on #4767
It's been like this for a while. Remember I fixed the bug where we were actually trying to connect?

[2015-11-12 17:03] otoolep commented on #4767
When I fixed it, it exited, you reviewed the code. :-)

[2015-11-12 17:04] otoolep commented on #4767
I actually think it should exit. Other CLIs do the same thing:

[code]

[2015-11-12 17:14] corylanou commented on #4767
Ok, after thinking about this I'm fine with it.  You can easily pass `-host` and `-port` if you want to connect to a different server.

[2015-11-12 17:14] #4767 closed

[2015-11-12 17:23] corylanou commented on #4701
I am unable to replicate this.

[code]

Can you show me a `select * from metric` so I can see all fields/tags?  Fields and tags are case sensitive, is that causing the problem?

[2015-11-12 17:31] e-dard opened #4770 "Incorrect error when inserting `cpu,`"
[code]

I would expect the error to be:

I'm currently fixing #3070, depending on thoughts about this issue, I will address it at the same time.

[2015-11-12 17:40] jwilder commented on #4770
Yes.  Should say `missing tag key`.

[2015-11-12 17:41] e-dard commented on #4770
OK, great. I'll fix this too when along with #3070

[2015-11-12 17:42] e-dard commented on #3070
I'm currently working on this.

[2015-11-12 18:24] pauldix commented on #2615
@corylanou agree, just disallow it if they're trying to do that in the same point.

[2015-11-12 18:50] JulienChampseix commented on #4738
It's was from a 0.9.4.2 version

[2015-11-12 18:53] otoolep commented on #4722
@beckettsean -- can you review https://github.com/influxdb/influxdb/issues/4766 and tell me what you think?

[2015-11-12 18:57] beckettsean commented on #2615
@pauldix @corylanou @otoolep

Fixing it only for single point duplicates does very little to address the problem. It is still very easy for users to render their database unusable. If we can't prevent duplicate field and tag names, and that does seem to be a very hard challenge, then we must fix one or more of the following:

implement `RENAME FIELD` - https://github.com/influxdb/influxdb/issues/4

[2015-11-12 18:57] JulienChampseix commented on #4655
@otoolep 1.5.2 released regarding the go issue about it

[2015-11-12 18:57] rossmcdonald commented on #4738
@JulienChampseix Was it on an older version before being on v0.9.4.2?

The `/opt/influxdb/current` link is not used in v0.9.4, which leads me to believe it may have just been a dangling symlink leftover from a previous version.

[2015-11-12 19:04] beckettsean commented on #4701
Using populated database (`_internal`), cannot repro on 0.9.5-nightly-905437c

[code]

[2015-11-12 19:07] beckettsean commented on #4701
Also cannot repro with latest

[code]

@ivanscattergood can you give `SHOW TAG KEYS FROM metric` and `SHOW FIELD KEYS FROM metric`?

@xvtom can you give any output to show the issue happening for you, too? It would really help to have more than one repro case to attempt.

[2015-11-12 19:08] beckettsean commented on #4741
@axingblog what prompted you to close the issue?

[2015-11-12 19:15] otoolep commented on #2615
There is a third option -- allow users to specify up front what the schema is.

https://github.com/influxdb/influxdb/issues/3006

[2015-11-12 19:15] beckettsean commented on #4761
There is no function `nonNegativeDerivative`, only  `non_negative_derivative` and `derivative`. I don't quite follow what you are saying here. Are you using a library to generate queries?

https://influxdb.com/docs/v0.9/troubleshooting/frequently_encountered_issues.html#identifying-your-version-of-influxdb

This is very confusing, as there should be no difference in the return based on that. What

[2015-11-12 19:17] beckettsean commented on #4718
I'm fine with @corylanou's suggestion. It should be unambiguous regardless of the string content, which is a big plus.

[2015-11-12 19:20] beckettsean commented on #4765
Strings evaluate to 0 in a Boolean context, which is equivalent to False. It's not ideal behavior but it is expected behavior. Since the type of a field is fixed only per-shard, the query cannot throw a parser error at runtime.

[2015-11-12 22:16] oshoemaker opened #4772 "ORDER by time DESC issues"
I checked the previous open issues and it looked like this has been resolved.  I just tested and I am still having issues with this.  Ordering seems inconsistent.  Am I missing something?  Is this broken again in 9.5?

root@db1:/app# influxd version
InfluxDB v0.9.5-nightly-2fe5e6b (git: master 2fe5e6b4f7192445deec0898ec702d1f8cbba5da, built '2015-10-27T04:00:42+0000')

[code]

[2015-11-12 22:27] Ghoughpteighbteau commented on #4761
Welp...

try them.

[code]

[code]

there are two functions. `nonNegativeDerivative`, and `non_negative_derivative`

I know right!?

different responses.

[code]

This is likely being percipitated by the dataset changing by new data coming in, where the cut off point in time also changes, and creates the conditions for the bug.

[2015-11-12 22:30] beckettsean commented on #4772
closing as duplicate of https://github.com/influxdb/influxdb/issues/4235 (which did have an overly specific title)

[2015-11-12 22:30] #4772 closed

[2015-11-12 22:37] beckettsean opened #4773 "what is nonNegativeDerivative?"
`nonnegativeDerivative` parses, but it has different behavior than `non_negative_derivative`

Is it leftover cruft?

[code]

[code]

[2015-11-12 22:39] beckettsean commented on #4761
I had no idea `nonNegativeDerivative` existed, and I don't think it should. Especially since it doesn't accept nested functions. Made https://github.com/influxdb/influxdb/issues/4773 to track that.

@Ghoughpteighbteau single node or cluster?

[2015-11-12 22:40] Ghoughpteighbteau commented on #4761
single node

[2015-11-12 22:41] ivanscattergood commented on #4701
Here’s the output requested:

name: metric
------------
tagKey
BU
Category
Column name
Component
Data Unit Type
Data View
Datacenter
Environment
Gateway
HARole
Location
Managed Entity
Probe
Row name
Sampler
Subcomponent
Variable name

name: metric
------------
fieldKey
Error count
Ok count
Severity id
Type
Warning count
value

Ivan Scattergood

Business Driven IT

Office:  +44(0)207 0971639
Mobile

[2015-11-12 22:43] oshoemaker commented on #4235
I am also experiencing the same issue using tsm1.

root@db1:/app# influxd version
InfluxDB v0.9.5-nightly-2fe5e6b (git: master 2fe5e6b4f7192445deec0898ec702d1f8cbba5da, built '2015-10-27T04:00:42+0000')

[meta]
  dir = "/data/influxdb/meta"
  hostname = "localhost"
  bind-address = ":8088"
  retention-autocreate = true
  election-timeout = "1s"
  heartbeat-timeout = "1s"
  leader-lease-timeout = "

[2015-11-12 23:27] jackzampolin opened #4775 "[feature request] Be able to rename Measurements created with CQ wild card"
Given a query:

[code]

It would be nice to be able to add additional information to the `:MEASUREMENT` name such as changing measurement `cpu` to `1h_cpu`

[2015-11-12 23:56] beckettsean commented on #4701
Thanks for the output, @ivanscattergood. I notice there's a field in the `WHERE` clause of your examples, I was testing with tags in the `WHERE` clause.

[2015-11-13 00:02] beckettsean commented on #4701
Yep, it's the field in the `WHERE` clause that's causing the issue:

[code]

[2015-11-13 00:06] beckettsean commented on #4701
Does not exist in 0.9.4.2:

[code]

[2015-11-13 00:35] beckettsean commented on #4775
I'd say this is a requirement for the feature, since measurements exist on all RPs in a database whether populated or not. There's little chance of keeping things sane if `raw.foo` is the raw points but `5m.foo` is the 5 minute rollups, since the field keys are not scoped to the retention policy.

`SELECT * FROM raw.foo` would show the fields for the downsampled points, `SELECT * FROM 5m.foo` woul

[2015-11-13 01:04] jackzampolin commented on #4775
The only workaround for this is rollup the measurements into a different database:

[code]

[2015-11-13 02:49] otoolep commented on #4701
@ivanscattergood -- does adding `fill` fix your issue? Like so:

`select  value from metric WHERE Type = 'Event'  AND TIME > now() - 1d limit 1 fill(0)`

[2015-11-13 03:14] otoolep commented on #4701
We believe this issue is now fixed in master and will be in 0.9.5-rc2.

[2015-11-13 03:53] skynet opened #4779 "v0.9.5-rc2 - Thank you"
Will there be a RPM, or - how do we compile influxdb from source.

[2015-11-13 04:01] otoolep commented on #4779
Just check out the 0.9.5 branch and compile as per the CONTRIBUTING.md doc. Packages will be available very soon.

[2015-11-13 04:01] #4779 closed

[2015-11-13 04:02] skynet commented on #4779
:+1:

[2015-11-13 05:07] skynet opened #4780 "InfluxDB - Admin Interface advertising InfluxDB v0.9.3"
![capture](https://cloud.githubusercontent.com/assets/139233/11139185/4789e296-899a-11e5-9109-3e5b849635de.PNG)

I have a nightly 0.9.5 installed. Is this by design or just a mere oversight.

Also, Admin Interface is using Bootstrap v3.3.4 while Bootstrap v3.3.5 is already available since June.

[2015-11-13 05:21] gunnaraasen opened #4781 "[feature request] Admin UI assets should be compiled by build script"
To make this truly useful, the build version string could be injected during compilation steps to eliminate issues like https://github.com/influxdb/influxdb/issues/4221.

[2015-11-13 05:47] gunnaraasen commented on #4780
It's an oversight. The version string will be updated by PR https://github.com/influxdb/influxdb/pull/4776.

The bootstrap version still needs to be updated so leaving this issue open for now.

[2015-11-13 07:17] otoolep commented on #4283
All done!

[2015-11-13 07:17] #4283 closed

[2015-11-13 09:23] ivanscattergood opened #4782 "[0.9.5-nightly] installs influxdb-0.9.6_nightly_664b20e-1.x86_64"
Hi,

I have just downloaded the latest nightly version, and it seems to be version 0.9.6 (rather than 0.9.5)

https://s3.amazonaws.com/influxdb/influxdb-nightly-1.x86_64.rpm

Am I using the right download?

Also the CLI seems to have disappeared:

[root@RBC-visual-edge pe]# ls /opt/influxdb/influx
/opt/influxdb/influx

[2015-11-13 11:29] e-dard commented on #813
ping @corylanou - is this one to remove `help-wanted ` while waiting on the engine refactor?

[2015-11-13 12:55] mateuszdyminski commented on #4728
Hi everyone,

That's my first contribution so if I don't understand something properly you could be a little bit more patient : )

I started working on this Issue, but I encountered some problems with the data which should be printed out.

"The columns should be the same as SHOW SHARDS, but without the shard IDs."
Is it means that I should group the shards by database and groupID? Here is the outp

[2015-11-13 13:39] corylanou commented on #813
Removing help wanted tag while query engine is going through refactoring.

[2015-11-13 14:46] skynet commented on #4780
Would you be ok with a pull request. I can help with the Admin UI. There are a few things that can be improved.

[2015-11-13 14:48] skynet commented on #4782
Master was switched to v 0.9.6. We are all waiting for a v0.9.5-rc2 rpm.

[2015-11-13 14:55] corylanou commented on #4782
It's part of our our release process works.  We create a release branch that has a release candidate on it, and lock it down.  We move master to the next point release so development can continue while the release candidate is finalized.  I can see how this is confusing.  I'll see if we can get some clarification in our documents on how our release cycles work.  /cc @beckettsean @otoolep

[2015-11-13 15:09] ivanscattergood commented on #4782
I can see there is a influxdb-0.9.5-0.1.rc2.x86_64.rpm that was updated this morning, should I be using that?

I am keen to use a version with the fix for #4701

[2015-11-13 15:22] corylanou commented on #4782
It is on master (which should be in the nightly):

https://github.com/influxdb/influxdb/blob/master/CHANGELOG.md#bugfixes-1

[2015-11-13 15:26] ivanscattergood commented on #4782
I am hoping that it won’t be there until tonight’s build? As the nightly I installed a few hours ago didn’t fix my problem.

Ivan Scattergood

Business Driven IT

Office:  +44(0)207 0971639
Mobile:  +44 (0)7813 79 7753
Skype:  BusinessDrivenIT

Ivan@BusinessDrivenIT.com<mailto:Ivan@BusinessDrivenIT.com>

http://www.BusinessDrivenIT.com<http://www.businessdrivenit.com/>

From: Cory LaNou [mailto:no

[2015-11-13 15:43] dswarbrick commented on #4699
Any progress on this? I have again wiped my data directory, and looking at my disk space utilization graphs, I'm starting to get the feeling that it all goes south as soon as there is 2 GB of data in the DB.

This strikes me as more than a little bit of a coincidence, since the commit comment in 1233383 is:

[2015-11-13 15:52] wrigtim commented on #4552
For info - we've upgraded from 6ecb62e to 0.9.6-nightly-664b20e (Go 1.4.2 + a few other bits), I don't want to get too excited, but so far we're seeing:

- 120M+ points ingested from 800 clients with 0 write failures (around 20K points per sec)
- RSS still creeping up, but leveling off around 9GB
- CPU utilization has plummeted
- 15-min load average has dropped from 10+ to 0.3

...but it's only be

[2015-11-13 15:57] otoolep commented on #4699
We are heavily refactoring the tsm1 code as I type and and plan to fix this
as part of that work. We hope have it ready soon.

On Friday, November 13, 2015, Daniel Swarbrick <notifications@github.com>
wrote:

[2015-11-13 15:57] razb opened #4783 "Disabling verbose openTSDB logging"
I have the opentsdb plugin enabled and I am getting warning output for each point being written. It does appear to be accepting the data, however the log  gets somewhat large given the volume of data being pushed in...

its been running for a few hours and its up over 50GB so far. Is there a way to limit logging to errors?

[2015-11-13 17:06] otoolep commented on #4780
Absolutely. See your name in the CHANGELOG!

Larger changes should be discussed on a ticket first.

On Friday, November 13, 2015, Ionel Roiban <notifications@github.com> wrote:

[2015-11-13 17:35] dswarbrick commented on #4699
Thanks @otoolep for the update. I look forward to trying the new build as soon as it's ready.

[2015-11-13 17:36] otoolep commented on #4783
Can you show us a sample of the errors you are seeing?

[2015-11-13 17:38] rossmcdonald commented on #4779
@skynet RPM for 0.9.5 RC2 available here:

https://s3.amazonaws.com/influxdb/influxdb-0.9.5-0.1.rc2.x86_64.rpm

[2015-11-13 17:41] ivanscattergood opened #4784 "[0.9.5-0.2.rc2] Unable to download"
I am unable to download

https://s3.amazonaws.com/influxdb/influxdb-0.9.5-0.2.rc2.x86_64.rpm

Is the path correct on your download page?

[2015-11-13 17:44] rossmcdonald commented on #4782
@ivanscattergood That fix should be in the new RC:

https://s3.amazonaws.com/influxdb/influxdb-0.9.5-0.1.rc2.x86_64.rpm

If not, there is a nightly available here:

https://s3-us-west-1.amazonaws.com/influxdb-nightly/influxdb-nightly.x86_64.rpm

That is current with `master` up to a few hours ago.

[2015-11-13 17:45] rossmcdonald commented on #4784
@ivanscattergood Thanks for letting us know. We are about to push a fix that corrects the link to:

https://s3.amazonaws.com/influxdb/influxdb-0.9.5-0.1.rc2.x86_64.rpm

[2015-11-13 17:45] #4784 closed

[2015-11-13 17:56] joltup commented on #4155
+1

[2015-11-13 18:21] beckettsean commented on #4701
Not fixed, still incorrectly reports zero when there are matching points:

[code]

The last value should be 3, not zero. It's incorrectly reporting no matching points, but the previous query shows there are matching points, as long as there's no `COUNT()` function applied.

[2015-11-13 18:24] otoolep commented on #4701
OK, looks like I might fixed the wrong bug. Taking a look now.

[2015-11-13 18:39] jakefoster commented on #4746
+1 on this exact crash (happened twice in the past 12 hours)

fatal error: runtime: out of memory

runtime stack:
runtime.throw(0xc58aa0, 0x16)
	/home/philip/.gvm/gos/go1.5/src/runtime/panic.go:527 +0x90

[2015-11-13 18:46] beckettsean commented on #4783
@razb please do share the exact errors from the logs, as well as the version of InfluxDB you are running.

[2015-11-13 18:47] beckettsean commented on #4782
@ivanscattergood the fix for #4701 that is in RC2 is not complete. The main bug is still present and I reproduced it this morning with 0.9.5-RC2, just to save you some time.

[2015-11-13 18:48] beckettsean commented on #4782
@rossmcdonald can you shed light on what might have happened there? Perhaps the symlink didn't work?

[2015-11-13 18:53] cloud-rocket commented on #3551
+1
X-Influxdb-Version:0.9.4.2

[2015-11-13 18:54] rossmcdonald commented on #4782
The location of the InfluxDB binaries has been moved to `/usr/bin` with this release, so (assuming `/usr/bin` is on your path) then all you should have to do is run `influx` from the CLI from now on. This is mentioned as a breaking change in the CHANGELOG here:

https://github.com/influxdb/influxdb/blob/0.9.5/CHANGELOG.md#release-notes

[2015-11-13 18:59] ivanscattergood commented on #4782
@rossmcdonald Awesome thanks!

@beckettsean @corylanou I have now had a chance to read the Blog update. I'll try and be a bit more patient in future

[2015-11-13 19:16] jademcgough commented on #3170
@aneshas will try to have a PR ready this weekend, I'm still ramping up my golang so I spent a few hours just familiarizing myself with the codebase :)

[2015-11-13 19:17] #4722 closed

[2015-11-13 19:33] samhatchett opened #4785 "SHOW DATABASES is Unauthorized for non-admin users"
expected behavior is for influx to show databases for which the user has grants.

[2015-11-13 19:38] otoolep commented on #4785
You might be right. Can you provide some examples from industry that show this policy in effect?

[2015-11-13 19:41] otoolep commented on #4728
Thanks @mateuszdyminski

I was thinking it would be simpler than that. A single table with the columns: id, database, retetion_policy, start_time, end_time, expiry_time.

So you see, very similar to the output of `SHOW SHARD`. Make sense?

[2015-11-13 19:44] samhatchett commented on #4785
i have an application that collects data and sends to a remote influxdb. it needs to use an account that has read/write only for a particular set of databases, but also should be able to present that list of databases to the user.

This way if I create a new database and grant read/write to the account, then the user will see that database listed as an option, without me having to type it out in a

[2015-11-13 19:46] otoolep commented on #4785
OK, I see where you are going.

@beckettsean -- what do you think about this?

[2015-11-13 19:53] aneshas commented on #3170
@jademcgough Oh, ok no problem, just let us know if you decide to pass it on :)

[2015-11-13 20:01] aneshas commented on #4718
Hi, I would like to take this one

[2015-11-13 20:02] corylanou commented on #4718
I think @benbjohnson is refactoring the query engine right now, and this should likely wait on some of his changes to be completed.

[2015-11-13 20:06] aneshas commented on #4718
@corylanou oh, ok np :)

[2015-11-13 20:09] beckettsean commented on #4785
@otoolep I agree that users should be able to see the databases to which they have read or write access. I can also confirm that as of my last testing, only cluster admins can execute `SHOW DATABASES`.

@rkuchan anything to add?

[2015-11-13 20:17] gunnaraasen commented on #4785
This shouldn't be too hard to add. I can take a stab at it.

[2015-11-13 21:36] fazalmajid opened #4787 "Build issue on Solaris"
tsdb/engine/tsm1/tsm1.go is using the obsolete syscall.Mmap and Munmap instead of golang.org/x/sys/unix.Mmap like BoltDB.

Compilation fails with:

    local64 ~/build/influxdb-0.9.4.2/src/github.com/influxdb/influxdb>go build ./...
    # github.com/influxdb/influxdb/tsdb/engine/tsm1
    tsdb/engine/tsm1/tsm1.go:1974: undefined: syscall.Mmap
    tsdb/engine/tsm1/tsm1.go:2033: undefined: syscall.Mu

[2015-11-13 22:29] razb commented on #4783
The error appears to be for each put request:

<code>[opentsdb] 2015/11/13 17:24:29 malformed line '' from 10.219.3.65:59997</code>

This is from 0.95 nightly build

<code>0.9.5-nightly-905437c</code>

Its possible that the requests are indeed malformed. I'm just hoping that I can disable the logging until I figure out where the error is originating. At 20k requests a second, the log file builds u

[2015-11-13 22:42] otoolep commented on #4701
I believe this is fixed by https://github.com/influxdb/influxdb/pull/4789

[2015-11-13 22:47] otoolep commented on #4783
Unfortunately these log messages cannot be disabled right now. We had assumed anyone hitting these would fix their systems and it wouldn't happen that much.

However, it's an easy change.

[2015-11-13 23:05] #4783 closed

[2015-11-13 23:06] otoolep commented on #4783
This feature will be available in tonight's nightly.

https://github.com/influxdb/influxdb/blob/master/etc/config.sample.toml#L280

[2015-11-13 23:33] gunnaraasen commented on #4221
Fixed by https://github.com/influxdb/influxdb/pull/4777 and https://github.com/influxdb/influxdb/pull/4131.

[2015-11-13 23:33] #4221 closed

[2015-11-14 00:05] mateuszdyminski commented on #4728
@otoolep Sure. That makes sense.

I have created a PR.

[2015-11-14 00:56] bwhaley opened #4793 "[0.9.6-nightly] A single continuous query for many fields"
Per [mailing list discussion](https://groups.google.com/forum/#!topic/influxdb/T9uimWSVm88):

Is it possible to create a continuous query for a bunch of fields at the same time?

Ideally something like this would roll up 1 hour groups of mean() for each field in load, giving each field the same name in the 4weeks retention policy:

[code]

Of course that's not supported by mean(), but I did expect

[2015-11-14 01:23] gam-phon opened #4794 "[feature request] ORDER BY function return values."
This is the same request as #3954 but this feature request to be ordered by count.
Example:

[code]

[2015-11-14 02:08] otoolep commented on #4701
Fixed in and cherry-picked to 0.9.5.

[2015-11-14 02:08] #4701 closed

[2015-11-14 03:27] otoolep commented on #4735
I think the PR @oiooj opened would probably fix this issue. But I am surprised it happened, and need to understand better how the `Series` slice was actually of zero length.

@poelzi -- can you try upgrading to 0.9.5-rc2?