[2016-01-21 15:16] bovy89 opened #5420 "Upgrade from 0.9.5.1 to 0.9.6"
Hi,
I need to upgrade influxdb from 0.9.5.1 to 0.9.6 but "CHANGELOG" says that I need to start with a fresh database.

There is any chance to upgrade without wipe out my databases?

Can you suggest some way to migrate?

Thanks

[2016-01-21 15:23] gabelev commented on #4098
@corylanou PR #5481 for enabling golint in tsdb/internal (sorry for the duplicate pull request, pushed the wrong branch).

[2016-01-21 16:10] jwilder commented on #5420
If you were using the `tsm1` engine, then yes, you would need to wipe your DB as that engine was experimental in those releases.  If you were not using `tsm1` engine, then you can upgrade without wiping your DB.

[2016-01-21 16:10] #5420 closed

[2016-01-21 16:15] jwilder commented on #5202
Thanks! Forgot to close.

[2016-01-21 16:16] jwilder commented on #5407
@e-dard If you have time to look at it that would great.  Thanks!

[2016-01-21 16:20] jwilder commented on #5214
Are you still seeing this with `0.10` nightlies?

[2016-01-21 16:24] jwilder commented on #5144
Tests run #4977 indicate this issue is resolved.

[2016-01-21 16:24] #5144 closed

[2016-01-21 16:25] jwilder commented on #5143
Closing as there doesn't seem to be a need to do this.

[2016-01-21 16:25] #5143 closed

[2016-01-21 17:19] rvrignaud commented on #5374
@jwilder : I have now way to know which version created the deleted database. I used nearly all released version from pre 0.9 release to 0.10.0-beta.

@benbjohnson no the data were never moved

[2016-01-21 17:21] btashton commented on #1098
@rossmcdonald I was waiting for the new storage backend to be stable before I picked this up again.  I think most of the deps I have RPMs for in my copr.  If you guys think it is stable enough for me to build a package for Fedora/EPEL I am happy to look at it again.  The RPM that I have internally is deployed on our servers.

[2016-01-21 18:23] jeremyforan commented on #5343
I am experiencing the same or similar issue. I am running a single cluster with 8 Gb of ram. 3-4 Gb of ram is available at the time of query.  I am running on a Centos6 AWS node.

if i run a basic but large query I don't get any problems
select * from sample  / around 6000 results with 20 columns

but if i run a small but more complex it fails intermittently
SELECT mean("ssid_scan_time") FROM "sam

[2016-01-21 19:32] adriancuadros commented on #2341
sad to hear, found a workaround but this would have been pretty sweet. hope it turns up sometime soon.

[2016-01-21 19:50] bovy89 commented on #5420
How can i check my engine version?
Probably I'm using tsm1, but I need to be sure.

[2016-01-21 19:52] jwilder commented on #5420
It would be in your config:
[code]

If `engine` is not there, `bz1` is the current default.

[2016-01-21 19:56] nethalo commented on #834
+1

[2016-01-21 20:18] alfredocambera commented on #436
I had the same error and solved it by adding influx version on the configuration file:

    {
      influxdb: {
        host: '127.0.0.1',
        port: 8086,

        // Here!
        version: 0.9,

        database: 'databaseName',
        username: 'root',
        password: 'root',
        flush: {
          enable: true
        },
        proxy: {
          enable: false,
          suffix: 'ra

[2016-01-21 21:26] mintyc commented on #5359
Telegraf for monitoring windows servers in the system.
 Backend services are ok as linux as those boxes are specific to the monitoring function. Linux is much easier to deploy when you have the choice.

[2016-01-21 21:41] beckettsean commented on #5247
@mjdesa @rossmcdonald here's a use case to probe with the cluster testing. During sustained write volume, restart a node.

[2016-01-21 21:42] mintyc commented on #5410
Nssm is an app that is like the windows built in svcany. It doesnt care what language your command is implemented in.

You can download as an installer but if you want the latest features or a 64 bit build you would need to compile and tweak code in c++.
It is completely decoupled from your app and can wrap an executable in 5 mins provided it responds to one of several methods for stopping the app

[2016-01-21 21:42] beckettsean commented on #5343
@benbjohnson some issues with complex but small returns for the old query engine, something to consider with the refactor.

[2016-01-21 22:41] rkuchan opened #5421 "Querying the same measurement name across retention policies and across databases seems to merge results"
[0.10 as of b3058e8]

The first database `first` has two retention policies: `oneday` and `default`.
The second database `second` has only the `default` retention policy.
- Querying the same measurement name across retention policies in the same database:

Data in `first`:

[code]

Calculating mean `cats` for the different RPs with two queries:

[code]

Calculating mean `cats` for the different RP

[2016-01-21 23:00] benbjohnson commented on #5343
@beckettsean the new QE should have a low, fixed memory usage per series. We'll have some optimization to do around high series counts (eg 1m) but reasonable series counts should perform well.

[2016-01-21 23:53] beckettsean commented on #5343
@jeremyforan can you be more specific about "fails intermittently"? Every other time? One in 10 times? Three times in a row and then not for 20 more tries?

I'd like to investigate more what specific complexity in the query causes challenges. What about queries like:
* `SELECT mean("ssid_scan_time") FROM "sample" WHERE "device_id" = 'hgf_hfx_17' AND time < now() - 20m GROUP BY time(1m) fill(null)`

[2016-01-22 08:55] discoduck2x opened #5422 "Fails to revert to .bak databases after failed upgrade 0.9.6stable>0.10beta"
failed to convert my 200gb databases with 0.10 convertion tool so
im copying the .bak database folder back into the /data folder  (which is specified in /etc/influxdb/influxdb.conf as dir = "/var/lib/influxdb/data") without the .bak extension and reverting to 0.9.6.1 stabble version

starting up 0.9.6 and going into the CLI "show databases" only shows _internal ,, if i do "use mydbname" then i CAN

[2016-01-22 09:09] jcmartins commented on #5359
+1 Telegraf

[2016-01-22 11:09] skares commented on #5359
+1 Telegraf

[2016-01-22 13:49] alexiri commented on #438
@mjdesa I'm confused, is this no longer an issue because it's been implemented? It doesn't look like it's working.

[2016-01-22 15:09] #5286 closed

[2016-01-22 15:22] jeremyforan commented on #5343
I ran the first query 10 times without issue.
The second query crashes influx each time I run it
I ran the last query 10 times without issue.

I should note that I'm not drafting the queries manually but rather using grafana.  if I run a query with a time window of 5 minutes, seems to work fine.  If I expand it the window the queries break.  These same dashboards worked in previous versions of inf

[2016-01-22 18:59] joelegasse commented on #5406
@discoduck2x Did you remove the `.bak` extension from the backed-up folders?  Did you make sure `influxd` was stopped when copying the files around?

The `.bak` folders are just copies of the directories files that were there, and shouldn't have been modified in any way. Removing the partially-converted folders and copying the `.bak` folders to their original names should be sufficient to restore

[2016-01-22 20:45] edwkar commented on #5009
Hi!

I've taken a look into this, and I'd be glad to try at a fix, assuming @nitishagar isn't still on it. (If so, let me know.)

AFAICS, the issue boils down to the `parseFill` function (https://github.com/influxdata/influxdb/blob/master/influxql/parser.go#L2013), which apparently swallows expressions that do not match the expected `fill(...)` format. `parseFill` only does a single `unscan` when

[2016-01-22 22:09] dennisjac opened #5424 "RPM package creates superfluous symlink"
I just installed the latest RPM package in my Fedora system and during the installation I got this output:
[code]
This symlink should not be created at all since systemd will pick up the service file in /usr/lib/systemd/system/influxdb.service already. With the symlink I now have two services "influxd" and "influxdb" of which one is actually a reference to the other which is just wrong and only cr

[2016-01-22 22:12] dennisjac opened #5425 "RPM packages doesn't create /var/log/influxdb directory"
After installing the latest RPM package on my Fedora system the influxdb service cannot be started because /var/log/influxdb hasn't been created during the installation.

"mkdir /var/log/influxdb && chown influxdb /var/log/influxdb" fixes this and after that I can start the service successfully.

[2016-01-22 22:14] corylanou opened #5426 "Upgrade `0.9` Cluster to `0.10` Cluster"
This issue will cover the necessary steps required to make the server upgradable.  This is currently WIP while I collect more data.

## `0.9x` directory structure
[code]

`id` content:
[code]

`peers.json` content:
[code]

`SHOW SERVERS`

[code]

## `0.10` directory structure

[code]

`node.json` content:
[code]

`peers.json` content:
[code]

`SHOW SERVERS`

[code]

## Starting an `0.10` instance

[2016-01-22 22:40] discoduck2x commented on #5406
@joelegasse , yes

i tried again to "upgrade" , this time using the nightly build which seems a bit faster,, all shards finished in aboout 9hours.

however,, after i start influx the log gives me some info that its reading this and that,, but i still cant see the database in CLI nor access it via grafana, heres the log output as i start it:

2016/01/22 23:34:22 InfluxDB starting, version 0.10.0-ni

[2016-01-22 22:41] mark-rushakoff opened #5427 "[0.10] A query with math resulting in infinity returns a non-JSON error"
[code]

The response headers indicate the content type is `application/json`, but the response is clearly not valid JSON.

Tested against 865b267eb0119af04f97226cde36e1d02487e1e3.

[2016-01-22 22:51] rossmcdonald commented on #5424
@dennisjac Those symlinks are created by systemd itself when installing the unit file, which declares an [alias](https://github.com/influxdata/influxdb/blob/master/scripts/influxdb.service#L21). We declare the alias `influxd` to avoid confusion since the daemon itself is `influxd`, however the database is commonly referred to as `influxdb`. There is still only one service, though, and we are only

[2016-01-22 22:51] #5424 closed

[2016-01-22 22:53] rossmcdonald commented on #5425
This may have been fixed already, as `/var/log/influxdb` is a part of the nightlies:
[code]

[2016-01-22 22:53] #5425 closed

[2016-01-22 22:55] beckettsean commented on #5378
closing as dupe of #4865

[2016-01-22 22:55] #5378 closed

[2016-01-23 00:06] acruise commented on #395
Is there any documentation of the interface that Kapacitor is using? :)

[2016-01-23 01:06] bwellsnc opened #5429 "[0.9.6.1] High CPU during reads from Grafana"
I am seeing high cpu spikes that last for a good minute plus during reads on my influxdb instance from grafana.
![image](https://cloud.githubusercontent.com/assets/1537895/12527014/9e9e6d38-c142-11e5-91d6-b6cadaa9fc5d.png)

I am only building 4 graphs during this:

![image](https://cloud.githubusercontent.com/assets/1537895/12527031/d42f00ca-c142-11e5-9e19-270578567a8f.png)

Influxdb was running f

[2016-01-23 08:53] hoomanv commented on #5404
Any ideas on this?

[2016-01-23 18:20] fxstein commented on #5429
Unfortunately I am seeing the very same only worse. Finally upgrade to 0.9.6.1 as of Jan 1st and by now with just 23 days of data (only 500k per day) many parts have become unqueryable. Memory spikes up on the server to the max 16GB, swapping is very heavy during queries and for some data series ANY query (with as little as 5min of data) will crash or lockup influxdb.
Every time I hit refresh on G

[2016-01-23 18:34] fxstein commented on #5426
After the 0.8.x to 0.9.x upgrade issues (I finally gave up and dumped a year of historical data) I surely hope that 0.9 to 0.1 will get managed much better and automated to a much higher degree.

[2016-01-23 20:24] captSL commented on #4861
I think I'm facing the same issuel like @larsakeekstrand. A query like `select value from Temperature_Outside where  time < 1453485000s  ORDER BY time DESC limit 1` InfluxDB 0.9.6.1 returns a line with the timestamp `2016-01-17T23:57:38.549Z`. The series contains a lot more entries between this timestamp and `1453485000` (`2016-01-22T17:50:00.000Z`)

[2016-01-23 22:39] fxstein commented on #5429
Today performance got so bad I had to reboot influx. See the startup log. About 9-10min before it becomes responsive. Its a memory issue. Even queries against _internal take forever. Something is not quite right.

![screen shot 2016-01-23 at 2 33 56 pm](https://cloud.githubusercontent.com/assets/773967/12533249/c3d11794-c1de-11e5-902c-47e9be295af4.png)

![screen shot 2016-01-23 at 2 38 34 pm](http

[2016-01-24 06:41] SkyRocknRoll opened #5433 "[0.10] Beta Server crashed"
Panic occurred .
I have migrated 0.9.x to 0.10x
Please find the details below
### Os details
`
Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.2 LTS
Release:	14.04
Codename:	trusty
`

` influxdb                                        0.10.0-0.beta1               amd64
`
Full log Dump  -- 2.3M
http://paste.ubuntu.com/14628206/

[2016-01-24 06:56] runner-mei commented on #5359
I fix all unit test in the tsm engine #5434

[2016-01-24 09:25] toddboom commented on #5433
@SkyRocknRoll thanks for the report! i just wanted to confirm a few things:

* it looks like you're running a single node, with telegraf as the only data writer. is that correct?
* what version of 0.9.x were you running prior to the upgrade?
* can you also try this with the `0.10.0-beta2` release that just came out yesterday?

[2016-01-24 11:18] zcalusic commented on #5388
Yeah, same problem here, won't compile due to bad imports.

Here's a simple fix that works well for me:
[code]

That command should be run in $GOPATH/src/github.com/influxdata/influxdb, be careful!

[2016-01-24 12:52] discoduck2x commented on #5429
+1

This happens to me aswell with 0.9.6.1 & 0.10beta,, terrible query responsetimes,, reverted back to 0.9.4.2 , much better performance on queries from grafana (not hitting any problems on writes so think ill stay 0.9.4.2 until its proven to be worth it)

[2016-01-24 12:58] discoduck2x commented on #5406
gave up... went all way back to 0.9.4.2

[2016-01-24 12:58] #5406 closed

[2016-01-24 13:09] fxstein commented on #5429
@discoduck2x Anything you had to do to revert back to 0.9.4.2?

Right now 0.9.6.1 and it seems 0.10.x are literally unusable. I had 0.8.8 running with a year of sensor data with minimal issues.

Now less than a month into 0.9.6.1 and a dedicated 16GB ram server with SSDs is falling over writing less than 10 (!) events per second. Virtual Memory required has grown to almost 30GB. At this rate I wou

[2016-01-24 13:51] fxstein commented on #5429
Here is another datapoint:

Swapping has become so bad on the server in the past 24h that it reads and writes at peaks of 300-700MB/s with no queries running, only influxdb on the server and less than 10 points per second written.

Data on disk has grown to about 10GB

![screen shot 2016-01-24 at 5 45 25 am](https://cloud.githubusercontent.com/assets/773967/12536567/f1b4fe94-c25d-11e5-8b2f-7e1baf0

[2016-01-24 14:34] corylanou commented on #5426
@fxstein This is only for the `cluster` part of the upgrade.  Upgrading a single node from `0.9` to `0.10` only requires converting your shards to the new TSM format, which we have a tool for here: https://github.com/influxdata/influxdb/tree/master/cmd/influx_tsm.

We wrote an exporter for the `0.8` to `0.9` but it did require that you followed very specifically the recommended structure.  I under

[2016-01-24 15:08] SkyRocknRoll commented on #5433
Hi @toddboom ,
Thanks for looking at the issue .
Yes telegraf is the only writer
I am actually not sure of which minor version 0.9 i was using. But it was the latest
I will try beta2 today and let you know the status tomorrow

[2016-01-24 15:15] SkyRocknRoll commented on #5433
I have installed 0.10-beta2 and receiving the following error
[code]

[2016-01-24 15:16] SkyRocknRoll commented on #5433
Some of the data is not appearing in the grafana graphs.

[2016-01-24 15:49] rossmcdonald commented on #5433
@SkyRocknRoll Can you show us the output to a `SHOW SERVERS` command?

[2016-01-24 15:52] rossmcdonald commented on #5433
@SkyRocknRoll Also, which storage engine were you using prior to the upgrade? It looks like this may be tsm related:

[code]

[2016-01-24 16:28] maksimru commented on #4917
"OR" within time query doesnt work:

SELECT MEAN(price) as avg_price FROM symbol_history where symbol_id = '142' and ((time > 1451053800s and time < 1451077200s)) group by time(1d)

Returns:

{"results":[{"series":[{"name":"symbol_history","columns":["time","avg_price"],"values":[["2015-12-25T14
:30:00.000000001Z",202.22999999998783]]}]}]}

SELECT MEAN(price) as avg_price FROM symbol_history where

[2016-01-24 16:44] SkyRocknRoll commented on #5433
i have used default one which comes 0.9.x.

[2016-01-24 16:45] SkyRocknRoll commented on #5433
I have wiped the whole data and started fresh server. Now influxdb is working fine for last 1 hour. Will keep update the progress

[2016-01-24 18:19] dswarbrick commented on #5433
I noticed missing data in graphs also, when upgrading from an existing nightly (0.10.0.n1453215519) to the latests. It seemed to only affect derivative queries, and after nuking the DB and waiting for some new data to accumulate, the derivative queries worked fine again.

[2016-01-24 19:13] ocdogan opened #5435 "Extra functions"
There is a need for functions:
1. Math "Round", "Min", "Max"
2. Oracle's "NVL" or MySql's "IFNULL"

[2016-01-24 19:28] dswarbrick commented on #5433
I also just noticed that 0.10.0-beta2 appears to hang indefinitely when performing a level 3 compaction, which for me is about 30 minutes after starting influxd. I am downgrading to 0.10.0-beta1 again.

[2016-01-24 19:30] discoduck2x commented on #5429
@fxstein , no unfortunatley my "old" data got corrupted by the influx_tsm converter , it wasnt that crucial to me (had no backup anyway since its a long going POC) ,, so ive started clean, but still,, if i insert fridays "performance counter" data that i have into 0.9.6-> it get slow query response, and like you high CPU usage,, reinstall/freshinstall of 0.9.4.2 , insert the same data again,, quic

[2016-01-24 19:58] rossmcdonald commented on #5433
@dswarbrick Thanks for letting us know. Was there any extra information (log messages, etc) provided prior to or during the hang? And, to clarify, the hangs occurred with a clean database?

If you see it happen again, it would be great if you could create a new issue with the output of a trace generated by a SIGQUIT (`kill -SIGQUIT $(pgrep influxd)`) while it's hung.

[2016-01-24 20:35] toddboom commented on #5429
@fxstein from your logs, it looks like you're using the old storage engine. if you start fresh on v0.10.0-beta2, you'll be on the new one. if that doesn't help, would you be able to send us your dataset so that we can troubleshoot the issue?

[2016-01-24 20:36] toddboom commented on #5429
@bwellsnc could you send the query that Grafana is trying to run when you see the performance problems?

[2016-01-24 20:49] fxstein commented on #5429
@toddboom Yes running with the default engine on 0.9.6.1 I will look into changing to beta2 and the new engine. Pretty much have to or the SSDs on that little server will go belly up in a matter of days.

[2016-01-24 20:52] fxstein commented on #5429
@toddboom Forgot to ask is there an easy way to install the betas on OS X - since I have been keeping to home-brew until now.

[2016-01-24 21:26] tokudan opened #5436 "Limit the number of appends made to 'influx_history' file"
I'm using an awk script to generate queries that feed into influx to back-fill continuous queries, something like:
./migrate.awk | influx
The result is that my $HOME/.influx_history grew to 40 GB, filling my filesystem to 100%.
I would have expected influx to only save the last e.g. 1000 lines at the end, not saving every single line.

Version: 0.9.6.1+dfsg1-4 (Debian unstable package)

[2016-01-24 21:41] dswarbrick commented on #5433
@rossmcdonald These were the last log messages before I shut down influxd:
[code]
After 19:10, I noticed that Grafana graphs were not updating (perpetual "loading" spinner), and I was not able to connect using the influx CLI. Netstat showed dozens of TCP sockets' receive buffers were backing up. This was with a fresh database, created by 0.10.0-beta2.

Unfortunately I can't repeat this test on my

[2016-01-25 00:55] dswarbrick opened #5437 "[0.10.0-beta2] Deadlock in meta.Client"
InfluxDB 0.10.0-beta2 hangs (presumably) during level 3 compaction. On a busy server (8K points / sec), this occurred approximately 30 minutes after starting influxd. On a lightly loaded server, it happened at about 00:30 UTC, when I would normally expect the last write of a shard to occur.

The lightly loaded system is Debian 8, 2 cores, 4 GB RAM, x86_64. This was a fresh DB, created by 0.10.0-be

[2016-01-25 00:56] dswarbrick commented on #5433
@rossmcdonald #5437 created.

[2016-01-25 01:11] fxstein commented on #5429
FYI - Added support to home-brew for v0.10.0-beta2 via https://github.com/Homebrew/homebrew/pull/48418

[2016-01-25 02:54] jwilder commented on #5437
Stacktrace looks like there is a deadlock in the new `meta.Client`.  Something introduced via #5403.

[code]

@dgnorton @corylanou

[2016-01-25 03:03] jwilder commented on #5433
The `close of closed channel` panic is a duplicate of #5244.

[2016-01-25 06:28] toddboom commented on #5429
@fxstein Ah, thank you! I was going to try to push that out tonight, so I appreciate you taking care of it.

You'll definitely want to use the new storage engine - we saw some very spiky I/O with the older `b1` and `bz1` engines that led us to focus solely on the new design. Let me know how it looks!

[2016-01-25 06:32] toddboom commented on #3691
Also adding a request for `round()` in response to #5435.

[2016-01-25 06:32] toddboom commented on #5435
@ocdogan We already have functions for `MIN()` and `MAX()`, and there's no concept of null values in InfluxDB, so neither `NVL` nor `IFNULL` are really applicable.

Moving the request for `ROUND()` to #3691. Thanks!

[2016-01-25 06:32] #5435 closed

[2016-01-25 08:04] zstyblik commented on #5429
@toddboom - `SELECT mean(load1) FROM telegraf."default".system WHERE time > now() - 6h GROUP BY time(5s), host` fetches the data for ~ 4 days and takes 1800ms to return. InfluxDB 0.10.0-beta1 with TSM1. 1800ms isn't all that bad, but isn't great neither. Data in that table are from 12 hosts and in 10s intervals.

[2016-01-25 08:45] mingzhou commented on #3210
I would like to use influxdb as a time-series db for storing tick position infomation. For example, I insert the following record yesterday:

|time | tick | volume|
|---| --- | --- |
| 123456 | "GOOG" | 100 |
| 123456 | "MSFT" | 200 |
| 123456 | "AAPL" | 300 |

Today, I find that I made a big mistake, I should change the record into:

|time | tick | volume|
|---| --- | --- |
| 123456 | "GOOG" | 10

[2016-01-25 08:48] mingzhou opened #5439 "delete old data points in v0.9.6"
I would like to use influxdb as a time-series db for storing tick position infomation. For example, I insert the following record yesterday:

|time | tick | volume|
|---| --- | --- |
| 123456 | "GOOG" | 100 |
| 123456 | "MSFT" | 200 |
| 123456 | "AAPL" | 300 |

Today, I find that I made a big mistake, I should change the record into:

|time | tick | volume|
|---| --- | --- |
| 123456 | "GOOG" | 10

[2016-01-25 08:58] tahmasebi opened #5440 "High memory usage"
Hi,
I install Influxdb on ubuntu server with 4G of memory and use python's requests module to write 10M points into db.
The python script inserts 20k points per second into db successfully but ubuntu's memory goes high until Influxdb use 97% of Ram.
After that I can't query a simple request like "select * from srcipm limit 1".
Even after write process is finished, Influxdb doesn't release memory.

[2016-01-25 09:36] schmurfy commented on #395
You can get a basic idea by either sniffing (tcpdump, ngrep) what kapactor sends to influxdb but some basic documentation would be nice.

If I remember what I saw correclty you ned to open an udp port and then sends something like this to influxdb:

[code]

And after this you will receive every matching line.

PS: I think the syntax is correct but I am not sure if "subscribe" is the correct comman

[2016-01-25 10:38] StianOvrevage commented on #585
Awesome stuff, thanks!

[2016-01-25 15:48] rossmcdonald commented on #5303
I've seen this as well:

[code]

[2016-01-25 15:58] fxstein commented on #2074
This is really important. I thought I provide some sample usecases that are impossible to solve without timezone support.

Daily Counters

Lots of IoT systems have some sort of daily counters or summations. In this example a Solar PV system controller that sums up the daily production of electricity - reseting at local midnight.
Being in California UTC midnight becomes 16:00h. Because of this simp

[2016-01-25 17:47] rossmcdonald opened #5441 "[0.10.0-beta2] Upgrade creates two data nodes from single instance"
Version information:

[code]

After an upgrade from 0.10.0-beta1, a single-node instance seems to split itself into two data nodes:

[code]

Contents of `/var/lib/influxdb/meta`:

[code]

Contents of `node.json`:

[code]

Contents of `peers.json`:

[code]

[2016-01-25 17:50] rossmcdonald commented on #5441
Relevant parts from the configuration:

[code]

I imagine part of the confusion is due to the use of the `0.0.0.0` from the `[http]` configuration, though I would still expect it to work since they resolve to the same host.

[2016-01-25 17:50] rossmcdonald commented on #5441
/cc @dgnorton @corylanou

[2016-01-25 17:58] mjdesa commented on #5439
@mingzhou unfortunately there's no way to delete a point from InfluxDB, however you can rewrite the point you'd like to delete to have a null value.

[code]

you could nullify the value by rewriting the point

[code]

This wont work for 0.10.0+, but it will for 0.9.6-

[2016-01-25 18:00] mschenk42 commented on #5347
I ran into this today, deleted the old github.com/influxdb/influxdb src and did a go get github.com/influxdata/influxdb.  The client package is still importing the old github.com/influxdb packages.

[2016-01-25 18:00] mjdesa commented on #5440
@tahmasebi what do you mean by `I can't query a simple request like "select * from srcipm limit 1".`? Does the query not return?

[2016-01-25 18:12] acruise commented on #395
Looks like this is the code responsible? https://github.com/influxdata/influxdb/tree/master/services/subscriber

[2016-01-25 18:29] mjdesa commented on #5422
@discoduck2x can you walk me through the steps you did when you were upgrading.

[2016-01-25 18:48] tahmasebi commented on #5440
@mjdesa, The query execution takes a lot of time, one time, it didn't return anything for 30 minutes, then i cancel the query by `ctr+c`. even after restarting Influxdb service manually (because of memory usage), the query returns result very slow and memory is full again.

[2016-01-25 18:52] mjdesa opened #5442 "[0.10.0beta2] One node in cluster OOMs when under write load"
While running a 2 billion point test with 100k series, one of the nodes in the cluster consumes a significantly more memory than the others and OOMs.

Below is the graph for `Free Memory` on the three nodes in the cluster.
![Memory Graph](https://cloud.githubusercontent.com/assets/1477539/12560800/7ae4e9e2-c351-11e5-885c-16647f04138d.png)

[code]

[2016-01-25 18:54] mjdesa commented on #5440
How many cores does the machine have?

[2016-01-25 18:59] tahmasebi commented on #5440
1 Core, for 2 or 3 seconds cpu usage goes 100% and then return to under 5% when i request a query. the problem I can see in htop is memory usage of influxdb by 97-8%.

[2016-01-25 19:07] mjdesa commented on #5440
how man unique series are you writing to the database?

[2016-01-25 19:14] corylanou commented on #5441
Duplicate of #5426

[2016-01-25 19:14] #5441 closed

[2016-01-25 19:14] tahmasebi commented on #5440
How should I get number of series? I'm new in Influxdb.
I don't have access to machine now, I should check it tomorrow at company. I'm sorry.

[2016-01-25 19:19] mjdesa commented on #5440
No need to be sorry. :)

The query `show series` will give you all of the series the are stored in a database.

[2016-01-25 19:38] francisdb commented on #5290
We still have this issue but I'l wait for a next release as it could be related to #5207

[2016-01-25 19:43] discoduck2x commented on #5422
@mjdesa

1. was sitting on 0.9.4.2
2. upgraded to 0.9.6.1 stable ,, checked some queries all seemd fine
3. upgraded to 0.10beta , upgrade went well no problems encountered.
4. decied to convert the bz1 databases to tsm
5. followed the convert instructions, ran influx_tsm tool,,, took forever, asked here if i should be able to abort but just got told that the .bak folder is a full plain copy which

[2016-01-25 19:58] mjdesa commented on #5422
when you say you decided to start fresh, did you spin up a new instance, or just replace the version on the machine?

[2016-01-25 20:06] discoduck2x commented on #5422
@mjdesa just uninstalled and installed fresh on same machine

[2016-01-25 20:11] nsteinmetz commented on #5359
+1
Version: 2008R2 even if I hope upgrading to 2012 soon.
Telegraf mainly.
Use case: monitoring of SMB devices

[2016-01-25 20:46] jwilder opened #5443 "Backup/restore needs to backup node.json"
The backup/restore commands do not currently backup and restore the `meta/node.json` file when they run. This can cause a restore to succeed, but the data is not actually queryable because the node may get a new node id when it starts up.  We need to ensure `node.json` is backed up along with the TSM files.

[2016-01-25 20:56] rossmcdonald commented on #5436
Yes, it looks like the current implementation is naive, simply appending on every parse:

https://github.com/influxdata/influxdb/blob/0.10.0/cmd/influx/cli/cli.go#L191

Changing this to a feature request to add a limit to the number of appends.

[2016-01-25 21:38] rossmcdonald commented on #5404
@hoomanv Which OS and version? Also, which storage engine are you using?

If possible, I would recommend upgrading to `0.10.0-beta1`, which has a few extra fixes that are not in your version.

https://s3.amazonaws.com/influxdb/influxdb-0.10.0-0.beta1.x86_64.rpm
https://s3.amazonaws.com/influxdb/influxdb_0.10.0-0.beta1_amd64.deb

[2016-01-25 21:39] aboltart commented on #1164
@bercab Thanks, your comment helped

[2016-01-25 21:58] mjdesa commented on #5422
To uninstall you ran `dpkg -r ...`

[2016-01-25 22:01] ChromoX opened #5444 "[0.9.6] InfluxDB Replication Super Slow"
I have a 3 computer cluster of InfluxDB servers. They are correctly clustered together as the `SHOW SERVERS` command notes all members in the cluster.

Two of the nodes(the one I write to, and another) will be almost automatically consistent with each other. The third takes days sometimes.

Is there a command I can use to force a sync between all servers?

I'm using the default retention policy.

[2016-01-25 22:02] mjdesa commented on #5444
@ChromoX what version of InfluxDB are you using?

[2016-01-25 22:05] ChromoX commented on #5444
`2016/01/16 07:19:06 InfluxDB starting, version 0.9.6.1, branch 0.9.6, commit 6d3a8603cfdaf1a141779ed88b093dcc5c528e5e, built 2015-12-10T23:40:23+0000`

[2016-01-25 22:05] mjdesa commented on #5415
@zstyblik what happens if you only start 3 of the 4 CQ's, removing the only one that shows up in your logs?

[code]

[2016-01-25 22:06] mjdesa commented on #5417
@zstyblik what's the output of `show continuous queries`?

[2016-01-25 22:12] mjdesa commented on #5405
@krishnakanthpps this is neither an issue or a feature request. Please use the [mailing list](https://groups.google.com/forum/#!forum/influxdb) for these kinds of issues.

[2016-01-25 22:12] #5405 closed

[2016-01-25 22:19] mjdesa commented on #5444
@ChromoX can you confirm that this is no longer an issue with `0.10.0beta1`?

If you could test the replication against the new version it would be greatly appreciated. If you are to do so, please set up the `0.10.0beta1` as its own cluster. It is possible that upgrading from `0.9.6` to `0.10.0` will lead to data loss.

https://s3.amazonaws.com/influxdb/influxdb-0.10.0-0.beta1.x86_64.rpm
https://s

[2016-01-25 22:21] ChromoX commented on #5444
Yeah I can do that. I'll get to it tomorrow.

[2016-01-25 22:23] mjdesa commented on #5444
Awesome. Thank you.

[2016-01-25 22:48] rossmcdonald opened #5446 "[0.10.0] Backup and restore error"
Version:

[code]

Attempting to restore a backed up database, and receiving the error:

[code]

The backup command:

[code]

And then to restore (different host, same version):

[code]

Contents of backup:

[code]

I even tried restoring the meta first (and after) to no avail with:

[code]

[2016-01-25 22:51] jwilder commented on #5446
@rossmcdonald The server was down when you ran the restore?

[2016-01-25 22:54] rossmcdonald commented on #5446
@jwilder Yes, I made sure the DB was stopped (it also errors immediately if the process is still active).

[2016-01-25 22:55] rossmcdonald commented on #5446
Also, should a meta restore occur before or after the data restore? It wasn't clear what the full set of steps were.

[2016-01-25 23:02] rossmcdonald commented on #5433
Closing in favor of #5244.

[2016-01-25 23:02] #5433 closed

[2016-01-25 23:06] rossmcdonald commented on #5244
As referenced from #5433, removing Windows from the title as this affects Linux as well. This issue also seems to occur with the 0.10.0 beta releases, and is not 0.9.6 specific.

[2016-01-25 23:27] matthewmcneely opened #5448 "Relocating data (or creating continuous queries) using the INTO clause hangs when a mathematical expression is used in the SELECT clause"
[code]
[code]
* Prebuilt package

### Test case
[code]
Then in the influx shell (the select statement hangs):
[code]

Explicitly adding an **AS** declaration is the workaround.

select (1.0-(sum(defects)/sum(units))) **as value** into quality from production where time >= 1453753817000000000 and time <= 1453757342000000000 group by time(10m) fill(1)"

Contents of units.txt
[code]

[2016-01-26 00:57] matthewmcneely commented on #5448
Also note that I found this problem when constructing a continuous query with a similar structure. What's interesting here is that while the query to construct the CQ did in fact error (shown in the log file), it seemed to cause other issues, most notably a ton of "failed to store statistics: timeout" errors in the log. And a general slowdown in the responsiveness of the daemon in general.

[2016-01-26 04:06] bootswithdefer opened #5449 "[0.10.0-beta2] panic when collectd enabled"
I deleted the database after the upgrade and used the new config format.  Only change to config was to enable collectd. When collectd is disabled it starts up normally.  Full log attached.

OS: RHEL7

[code]

[code]

[influxdb.txt](https://github.com/influxdata/influxdb/files/104421/influxdb.txt)

[2016-01-26 05:20] zstyblik commented on #5417
@mjdesa it was empty. no CQs.

[2016-01-26 05:22] zstyblik commented on #5415
@mjdesa such setup works.

[2016-01-26 05:22] zstyblik commented on #5415
... or at least so it seems.

[2016-01-26 06:05] discoduck2x commented on #5422
@mjdesa On centos 7,yum remove influxdb

[2016-01-26 06:24] tahmasebi commented on #5440
@mjdesa , I use `show series` to find number of series in my db but it displays a list of all series. so I used python to count number of series in my db like this:

`SHOW SERIES FROM srcipm`
`len(result['results'][0]['series'][0]['values'])`

and I get `153K` of series. Is it too many series for 10M points?

[2016-01-26 07:47] mingzhou commented on #5439
@mjdesa Why this wont work for 0.10.0+?

[2016-01-26 08:09] unaizorrilla commented on #5359
@ShubhraKar  any update about plans to Support Windows

[2016-01-26 08:16] zstyblik commented on #5290
@francisdb I'm not seeing this issue with 0.10.0-beta1

[code]

[2016-01-26 10:06] hoomanv commented on #5404
@rossmcdonald
CentOS 6.7, I'm not sure what you mean by storage engine?
I'll try installing 0.10.0-beta soon.
Also below is the write protocol used to generate the above sample points. The times are different but in the same order.
[code]

[2016-01-26 11:04] hoomanv commented on #5404
I upgraded to 0.10.0-0.beta2 and then tried the query but received this error
```ERR: dial tcp: missing address```
I then did a clean install by deleting ```/var/lib/influxdb``` and reinserted my sample data and tried the query. This time it didn't fail with ```ERR: dial tcp``` however the result is still empty

[2016-01-26 11:21] nitishagar commented on #5009
@edwkar You can go ahead with this. Somehow I didn't receive notification for the last 2 mentions and also was occupied with stuff at work. I look at picking up smoother item :)

[2016-01-26 12:52] tokudan opened #5450 "[feature request] Expand functionality of the query language"
I do have a big issue with the way influx aggregates data.
Here's some example data I have to work with a lot.

[code]

Now I want to know how many total clients (srv01+srv02) I had at each minute.

[code]

That's easy and yields the expected results.
Now a couple of weeks later I'm not interested at the numbers I had each minute and just want the maximum number of the total connected clients (srv

[2016-01-26 13:00] bwellsnc commented on #5429
I apologize for the delay.  After doing some research, I believe I found the problem.  I am running the tsm1 storage engine, but I had to go to play.grafana.org to get more details.  Apparently, influxdb requires very specific queries in order to not cause the reads to spike.  I had to make sure that I had grouped my queries by host and sometimes also metric in order for influx not to spike the cp

[2016-01-26 13:00] zstyblik commented on #5400
Actually, this has been improved and backups backup almost everything now :) Anyway, in my specific case, I had to supply correct `-datadir` and `-metadir`.

[2016-01-26 13:12] zstyblik opened #5451 "[0.10.0-beta] Backup restores **ALL** the metadata not just the one in question"
Hello,

I've backed up one database like so:

[code]

And then restored it (somewhat) like so:

[code]

However, now InfluxDB instance shows all databases from previous(source) instance of InfluxDB. This is because of `raft.db` holds all of this information.
This doesn't feel right, does it?

I have tried to omit `-metadir`. However, presence of `/data/db` and absence of `/data/meta` really confus

[2016-01-26 13:39] rossmcdonald commented on #5404
@hoomanv Thank you for the extra information, and sample data. I've been able to reproduce the issue you're seeing.

@benbjohnson Do you know what the problem could be here?

[2016-01-26 13:39] TaylanT commented on #5400
Thank you for your reply @zstyblik.
i'm working on linux mint 17.3, influx version InfluxDB shell 0.9.6.1, engine bz1

my datadir is *dir = "/var/lib/influxdb/data"* and there i placed my backup. Same thing for the metadir. But the new database does not show up.
I edited the path in the /etc/influxd/influx.conf file, is this the right file to edit?

[2016-01-26 13:42] zstyblik commented on #5400
@TaylanT sorry, but I have (limited) experience only with TSM1 as backup of TSM1 is still being "polished". I have written all(two) steps in https://github.com/influxdata/influxdb/issues/5451. I hope it will help you at least a bit. Also, please note that influxdb must not be running during restore.

[2016-01-26 13:50] zstyblik commented on #5451
"Of course", this is with 0.10.0-beta1/2 and TSM1 engine.

[2016-01-26 15:04] max3163 commented on #5439
And what is the solution for 0.10.0+ ?

[2016-01-26 15:17] zstyblik opened #5452 "[0.10.0-beta2] backup/restore not listed in % influxd --help; output"
`backup` and `restore` aren't listed in influxd's help output. I understand influxd defaults to `run` if no action is given, still how should one know what's hiding there?

[code]

But ...

[code]

And ditto with `restore` ...

[code]

[2016-01-26 16:44] benjarrell opened #5453 "[v0.10.0-beta2] non_negative_derivative not returning values"
In 10.0-beta1 this query would return values:
[code]
In 10.0-beta2 it does not return any values, just timestamps:
2016-01-26T16:15:00Z
2016-01-26T16:15:30Z
2016-01-26T16:16:00Z
2016-01-26T16:16:30Z

The query for the mean value still works fine:
[code]

It returns:
2016-01-26T16:15:00Z	2340919104993.067
2016-01-26T16:15:30Z	2340919237233.067
2016-01-26T16:16:00Z	2340919289041.067
2016-01-26T16:16

[2016-01-26 17:18] rossmcdonald commented on #5402
This has now been fixed with the latest beta release.

[2016-01-26 17:18] #5402 closed

[2016-01-26 17:18] dswarbrick commented on #5437
@jwilder Has this hit nightly builds yet? I notice it's been merged to master, but last nightly build was Jan 24 18:34 UTC.

[2016-01-26 17:19] rossmcdonald commented on #4938
This was fixed with commit:

https://github.com/influxdata/influxdb/commit/560f691096083cce002097260bc1a205087a940e

Closing.

[2016-01-26 17:19] #4938 closed

[2016-01-26 17:20] jwilder commented on #5437
It should be in the nighties by now. @rossmcdonald

[2016-01-26 17:22] rossmcdonald commented on #3973
This issue should now be resolved with the latest packaging changes.

[2016-01-26 17:22] #3973 closed

[2016-01-26 17:23] mjdesa commented on #5439
@mingzhou in 0.10.0 we're changing the underlying storage engine. Instead of storing all of the fields for a point together like a row, we'll be storing each field for a point in its own column.

@max3163 I don't know that we have a work around yet, I'll look into it.

[2016-01-26 17:27] mjdesa commented on #5440
@tahmasebi No, you should be well within your limits. We've had problems with `0.9.6` in the past consuming too much memory. Can you run the test against `0.10.0beta2` and see if Influx behave more stably

`https://influxdb.s3.amazonaws.com/influxdb_0.10.0-0.beta2_amd64.deb`
`https://influxdb.s3.amazonaws.com/influxdb-0.10.0-0.beta2.x86_64.rpm`

[2016-01-26 17:29] dswarbrick commented on #5437
It looks like the nightly build just updated. I've installed this on my test instance, will report back later if it survives the shard rollover at midnight.

[2016-01-26 17:29] mjdesa commented on #5415
@zstyblik so it seems like its the frequently running CQ the clobbers everything else. Would you agree with that?

[2016-01-26 17:34] rossmcdonald commented on #5437
@dswarbrick Sorry about that. I refreshed the old nightly links, so they should now be up to date. I've also switched the nightly process to send new builds to those links, so they should be up-to-date from now on.

Let me know if you run into any other issues with the nightlies.

[2016-01-26 17:49] markgoffin commented on #5450
+1
It would be great to be able to specify different aggregate functions for each `GROUP BY`.

Say I have a measurement called `bytes_recv` with tags `eth0`, `eth1`. There doesn't seem to be a way to get a sensible measure of the total received over both interfaces when using a `GROUP BY time`. Ideally, I would want to take `last` or `mean` over the time interval for each series, and then `sum` ov

[2016-01-26 18:07] eminden opened #5455 "panic: runtime error: slice bounds out of range"
Having following panic at startup on latest nightly(version 0.10.0.n1453660386, branch master, commit 58e0eed9cb166e0b004e6b41a4d64c39d24b40f4), attaching full stack trace.
[influxdb.log.txt](https://github.com/influxdata/influxdb/files/105413/influxdb.log.txt)

This happened after getting 500 errors while writing data from last november till today using the following retention policy and then res

[2016-01-26 18:10] zstyblik commented on #5415
@mjdesa yes, that's correct. I don't know whether CQs are being executed in parallel or serial one-by-one. But I guess the latter is true. So, CQ is executed, scheduler does some calculations, gets a list of CQs to schedule, may be sorts it, and there it is - it's time to schedule that CQ again despite it just has been executed, because `GROUP BY time()` is so small. But it's just a wild guess of

[2016-01-26 18:58] jwilder commented on #5455
@eminden Would be able to send me your `/var/lib/influxdb/wal/delivery/raw/50/_00023.wal` file by chance?  jason@influxdb.com?

[2016-01-26 19:11] tahmasebi commented on #5440
Sure, I'll test this version of Influxdb and I'll inform you tomorrow. (It's time difference :) )
Thank you.

[2016-01-26 20:16] zachaller commented on #5429
We need something along the lines of a rollup process to limit the amount of data grafana needs to go through there are quite a few issues relating to this. I was hopping to solve this issue through templates in grafana allowing me to select the different policies for longer time ranges but i need this to do it #5234

[2016-01-26 21:01] rossmcdonald opened #5456 "HTTP logging logs the date twice"
Currently, the HTTP endpoint will log the date twice:

[code]

The second date is unneeded and adds unneeded noise to the logs.

[2016-01-26 21:35] zstyblik commented on #5415
@mjdesa What comes to my mind is, may be the execution of other queries depends on how fast is CQ executed(which also means load, writes, SELECT etc.). Also, it's possible that CQ with `time(10s)` doesn't make sense or not technically possible. In that case, it should result in an error and such CQ shouldn't be scheduled.

[2016-01-26 21:37] zstyblik commented on #5417
@mjdesa couldn't there be some kind of race condition or interruption of CQ stop-n-drop when too many CQs are dropped at once or very fast consecutive order eg. via script?

[2016-01-26 22:02] benjarrell commented on #5453
The database was upgraded from beta1 to beta2. Recreating the database seems to fix it.

[2016-01-26 22:02] #5453 closed

[2016-01-26 22:30] toddboom opened #5457 "[v0.10.0-beta2] /ping returns 503 when leader goes down"
When the leader in a 3-node cluster goes down, `/ping` starts returning a `503`:

[code]

[2016-01-26 22:47] mjdesa commented on #5415
@zstyblik can you verify that this doesn't happen in `0.9.6-`

[2016-01-27 00:13] mjdesa commented on #5450
@tokudan I'm not sure I follow exactly. Can you send me a data set you're working with and the results of what you think the queries should be.

[2016-01-27 00:13] toddboom commented on #5296
@steverweber good call, thanks!

[2016-01-27 00:13] #5296 closed

[2016-01-27 00:23] mjdesa commented on #5450
@tokudan If I'm not mistaken, you could use a `continuous query` or and `into` query to achieve the functionality you're looking for.

[code]
If you simply wanted to do this in an ad-hoc fashion you could run the query

[code]

then to get the `max` value over that hour you could issue the query

[code]

[2016-01-27 00:30] toddboom commented on #4943
@dgnorton does this work now?

[2016-01-27 00:31] mjdesa commented on #5450
it seems like what you're asking for is a way to have different aggregate functions apply to different `group by` intervals.

[2016-01-27 00:46] titilambert commented on #4752
@corylanou any news for this one https://github.com/influxdata/influxdb/pull/5255 ?

[2016-01-27 01:13] toddboom commented on #4653
I think this issue is fixed in tsm1, which will be the default in v0.10.0, so I'm closing this out.

[2016-01-27 01:13] #4653 closed

[2016-01-27 01:44] mgf909 commented on #4155
+1

[2016-01-27 02:13] #5442 closed

[2016-01-27 02:17] toddboom commented on #5457
This is going to be fixed by #5459.

[2016-01-27 02:17] #5457 closed

[2016-01-27 02:55] sczk commented on #5436
I've got a PR here that shows a proposed solution: https://github.com/influxdata/influxdb/pull/5460

Please ignore the notice about commit 7b2505d above, it's from an old fork that I deleted. 40e04d8 is correct and on the PR.

***

Influx is using the [Liner](https://github.com/peterh/liner) library for the ReadHistory / AppendHistory / WriteHistory functions.

**PROBLEM**:
When the influx console

[2016-01-27 02:56] ChromoX commented on #5444
Installed and loaded most of my data back into InfluxDB. Replication seems to be fine. I'll post here again, or open a new ticket(If you close this one) if I start to see super slow replication again.

[2016-01-27 03:26] mingzhou commented on #5439
@mjdesa Thanks. Influxdb is CRUd now. I understand delete operation should be as less as better. But we still have a solution to delete specific data points.

[2016-01-27 03:33] ohmystack commented on #3880
+1 Really need this. Tag should also support a kind of normal `SELECT` search, which can be handled by Grafana.

[2016-01-27 03:48] sczk commented on #5456
It looks like the response_loggers for httpd and meta both pass their own formatted dates here:

[/services/httpd/handler.go] =>(https://github.com/influxdata/influxdb/blob/58e0eed9cb166e0b004e6b41a4d64c39d24b40f4/services/httpd/handler.go#L819-L844)
[/services/httpd/response_logger.go(https://github.com/influxdata/influxdb/blob/ce8cf05b0e7da643df1abeec2916edbe7687754c/services/httpd/response_logg

[2016-01-27 07:55] yuankui commented on #68
I am forced to use influxdata family...
though I don't think UDFs in Kapacitor will solve the performance problem

[2016-01-27 08:11] tahmasebi commented on #5440
Hi @mjdesa ,
I removed influxdb from ubuntu by `apt-get remove influxdb` and then install that package you gave me above.

Database from previous version exist yet, but when I execute a query on old db, it returns an error `ERR: read message type: read tcp 127.0.0.1:8088: i/o timeout`.
So I create a new db and write 10M point to it. the write process became very slow than before (6k/s) and this ti

[2016-01-27 08:24] zstyblik commented on #5415
@mjdesa sure, it shouldn't be a problem. However, I will be able to test it with only one Telegraf instance at most.

[2016-01-27 08:30] mvadu commented on #2071
Was it partially implemented some time back? I am running against 0.9.5, and can use `time > today()` in my queries.

[2016-01-27 08:40] mvadu commented on #5359
+1

version: recent (currently using 0.9.5)
Clustering: would be great, but not critical
other TICK: would be great, but not priority
Potential use case:
We are building an executive dashboard using grafana based on data from commercial APM tool. The tool in question is very complex in nature, and not executive friendly. We built a custom C# code, to pull the data at a regular intervals (hence the

[2016-01-27 08:48] dswarbrick commented on #5437
@jwilder So far, so good. My test instance has been running for 16 hours without incident. I will upgrade my production instance tonight if everything still looks ok.

[2016-01-27 09:40] PierreF opened #5461 "[0.10.0-beta2] Creating a cluster is now hardly automatable"
To achieve a cluster with 0.10.0-beta2 (and nightly 0.10.0.n1453881635) I have to:

* Edit /etc/influxdb/influxdb.conf and add or change:
[code]
* Run one node "normally" (e.g. influxdb -config /etc/influxdb/influxdb.conf)
* Run the other node with "-join" option (e.g. influxdb -config /etc/influxdb/influxdb.conf -join influxdb01.example.com:8091)

Now, if node need to be restarted, we need to omi

[2016-01-27 10:35] ianclegg commented on #5359
+1
Server 2012 and 2012R2.

@demeyr  I'm running Server 2016 TP4 and the truth is that Linux containers basically run in a Hyper-V VM on-top of the Windows Hypervisor (called a Hyper-V container, but thats marketing) - This is very different to running native.

[2016-01-27 10:44] demeyr commented on #5359
@ianclegg
Yes I'm aware of this.
At least this gives the option to tick of the boxes of needing to use a Window OS, even though it has the container in between.

[2016-01-27 11:14] iL-Mattone commented on #4121
Does anyone know if this issue been fixed and if so where the relevant patch / fix details are ?

[2016-01-27 11:14] iL-Mattone commented on #4693
Does anyone know if this issue been fixed and if so where the relevant patch / fix details are ?

[2016-01-27 12:12] xaniasd commented on #3552
+1

[2016-01-27 12:12] xaniasd commented on #3552
:+1:

[2016-01-27 13:08] Alexander882 commented on #5359
+1

[2016-01-27 13:24] zstyblik commented on #5451
Also, It leads me to the question whether just metadata backup, `%  influxd backup -host localhost:8088 /backup/path;`, makes sense, resp. is it necessary for anything? Perhaps in a Cluster?

[2016-01-27 13:52] marcelopetersen commented on #5359
+1

[2016-01-27 14:31] zstyblik commented on #5415
@mjdesa yes, it seems the issue isn't present in v0.9.6.1. However, I had only one Telegraf instance to put data in. Also, I've seen the following error message for one of the CQs :)

[code]

I had the instance up for almost an hour and it seems that all CQs are being executed.

[2016-01-27 15:37] kostasb opened #5462 "Backoff policy for Subscriptions"
Consider implementing a backoff policy for when data points cannot be delivered to InfluxDB subscriptions. A high number of connection attempts may overwhelm the system if it keeps trying to send data when the subscriber is not listening (incidents have been reported).

Also, might be meaningful to reformat the logging output.

[subscriber] 2016/01/27 08:00:00 write udp 127.0.0.1:59505: connection

[2016-01-27 15:38] kostasb commented on #5462
@nathanielc Any thoughts?

[2016-01-27 16:17] nathanielc commented on #5462
A few thoughts....

1. They most likely spun in Kapacitor locally for testing and pointed it at the hosted instance. This would have automatically created subscriptions for the databases in InfluxDB pointing at localhost. This is the default behavior so its likely we will see it a lot more. We need to think about this workflow. For non hosted users its the easiest no config setup.

2. The traffic

[2016-01-27 16:25] dswarbrick commented on #5437
InfluxDB 0.10.0.n1453881635-0 has been running on my production instance for nearly 8 hours now, handling ~8K points / sec. In this time it has done numerous level 3 and full group compactions without incident.

Looks good, I think this can be closed now.

[2016-01-27 16:44] pootzko commented on #5317
Anyone please? :)

[2016-01-27 17:47] jwilder commented on #5437
Thanks @dswarbrick!

[2016-01-27 17:47] #5437 closed

[2016-01-27 17:54] mjdesa commented on #5444
@ChromoX closing this issue for now. If you see any problems in the future I can reopen it.

[2016-01-27 17:54] #5444 closed

[2016-01-27 17:55] #5439 closed

[2016-01-27 17:55] mjdesa commented on #5439
@mingzhou you're welcome. Let me know if there's anything else I can help with.

[2016-01-27 19:22] toddboom commented on #5099
This will be completed in the upcoming v0.10.0 release.

[2016-01-27 19:22] #5099 closed

[2016-01-27 19:22] toddboom commented on #5098
This will be completed in the upcoming v0.10.0 release.

[2016-01-27 19:22] #5098 closed

[2016-01-27 19:22] toddboom commented on #5097
This will be completed in the upcoming v0.10.0 release.

[2016-01-27 19:22] #5097 closed

[2016-01-27 20:05] tokudan commented on #5450
@mjdesa:

`CREATE CONTINUOUS QUERY sum_srv01_srv02_per_min ON mydb BEGIN
  SELECT sum(value), as value INTO sum_srv01_srv02 FROM current_clients_online
  GROUP BY time(1m) fill (null)
END`

A continuous query suffers from the same problem: I have to know the update cycle of the data. If this changes from 1m to e.g. 15s, then the query will give me ((srv01+srv01+srv01+srv01)+(srv02+srv02+srv02+srv0

[2016-01-27 20:14] mjdesa commented on #5450
@tokudan

do you mean `mean((srv01+srv01+srv01+srv01)+(srv02+srv02+srv02+srv02))`?

[2016-01-27 20:17] mjdesa commented on #5450
And is this the query you want to run and what you'd expect it to output?

name,tags,time,value
connected.clients,node=DeepThought,1453923482,1
connected.clients,node=DeepThought,1453923542,1
connected.clients,node=DeepThought,1453923602,1
connected.clients,node=DeepThought,1453923661,1
name,tags,time,value
connected.clients,node=VHW21-2,1453923482,0
connected.clients,node=VHW21-2,1453923542,0
con

[2016-01-27 20:50] rossmcdonald opened #5464 "[0.10.0] Nodes don't re-join cluster after a cluster-wide service restart"
Version:

[code]

When issuing a service start followed shortly (< 5 seconds) by a service restart on the cluster seed node, the meta service seems to have issues closing properly. Log output:

[code]

Where the meta client is still receiving requests after it has supposedly stopped (returning 500's). Once this issue occurs, the service fails to start properly again afterwards, stopping at:

[code

[2016-01-27 20:52] rossmcdonald commented on #5464
/cc @dgnorton @corylanou

[2016-01-27 20:54] jwilder commented on #4435
#5463 should improve queries until query engine work lands.

[2016-01-27 20:57] steverweber commented on #1338
please add the details to:
https://influxdata.com/downloads/

[2016-01-27 21:00] jwilder commented on #5247
The `drop write request: shard=37. shard group does not exist or was deleted` type errors are likely due to hinted handoff writes queued on other nodes for shards that were removed.  They could be removed due to retention policy, dropping DBs, etc..

[2016-01-27 21:04] tokudan commented on #5450
No, that was only the query I ran to get the example data.

No sorry, that was unclear from my side.
What I want is (using my example data):
(square brackets show what I want influxdb to calculate):
time                  value
1453923482     3 [DeepThought + VHW21-2 + VHW21-3]
1453923542     3 [DeepThought + VHW21-2 + VHW21-3]
1453923602     3 [DeepThought + VHW21-2 + VHW21-3]
1453923661     2 [De

[2016-01-27 21:35] mjdesa commented on #5450
I think I follow. Correct me if I'm wrong, but you'd like to be able to apply a function for each point with a specific timestamp, and then run some aggregate function across some time range.

Which version of Influx are you using?

I cant think of a way to do this in versions before `0.9.6`, but I believe there is a way to do this in `0.10.0`.

[2016-01-27 21:41] gerrickw commented on #4435
Awesome, will check it out once merged.

@jwilder Is there a ticket on the query engine work or an idea around when it would land?

[2016-01-27 21:44] jwilder commented on #4435
@gerrickw #5196

[2016-01-27 21:51] tokudan commented on #5450
Yes, I want one aggregate function over all values with the same timestamp and then be able to group by the time range that currently makes sense (e.g. when I look at a year's data I probably care only about one or two averaged, min or max datapoints per day).
I'm using the debian unstable package 0.9.6.1+dfsg1-4, which seems to be the most recent non-beta release.

[2016-01-27 22:07] mjdesa commented on #5450
In your 0.9.6 are you using tsm or bz?

[2016-01-27 22:32] tokudan commented on #5450
I'm using the tsm1 engine.

[2016-01-27 22:54] mjdesa commented on #5450
This should work with tsm1.

If you chance your schema from

[code]

to

[code]

then the queries

`SELECT (srv01 + srv02) as value INTO sum_current_clients_online FROM current_clients_online WHERE $timeFilter`

followed by

`SELECT mean(value) FROM sum_current_clients_online WHERE $timeFilter GROUP BY time(15m)`

should work. The only problem with this is if either `srv01` or `srv02` is null then

[2016-01-27 23:16] rossmcdonald commented on #5436
Fixed by #5460. Thanks, @sczk!

[2016-01-27 23:16] #5436 closed

[2016-01-27 23:16] tokudan commented on #5450
Using the tag name as a field name... I would have to use wildcards for field names then. If that's supported...
I'm gathering statistics for about 1500 nodes right now and if I have to enter them manually in the queries it won't work, as pretty much every day a handful of new nodes register and others drop out.

I think this will be a problem. A single null value will be in there at every timesta

[2016-01-27 23:30] jhhayden commented on #5303
I know how to recreate this error! Due to a crash in my testDB and the fact I was troubleshooting a different issue for 4 days, I had a db with a gap of 4 days of no data. When I restarted the db, it crashed as soon as a query came in from grafana.

[query] 2016/01/27 23:21:53 SELECT recBytes FROM elb."default".elbs WHERE elb =~ /elb-api-server$/ AND time > now() - 1d
[query] 2016/01/27 23:21:53 S

[2016-01-28 03:36] emanuelis opened #5466 "After upgrade 0.9 -> 0.10 derivative functions returns empty result"
[code]
I have this query in Grafana and it worked with InfluxDB 0.9
But after upgrade to 0.10 it returns empty set.

How should I change the query to make it work?

[2016-01-28 06:11] jwilder commented on #5443
Fixed via #5467

[2016-01-28 06:11] #5443 closed

[2016-01-28 07:53] ljagiello opened #5468 "Crash after convert from bz1 -> tsm1 (0.9.6.1 -> 0.10.0-beta2/Nightly)"
Metrics were collected with telegraf (rabbitmq plugin), saved in Influxdb 0.9.6.1 (default bz1 engine). Database converted with `influx_tsm` bz1 -> tsm1. After start and query instant crash (0.10-beta2 and nightly build is the same).

[code]

After removing databases and starting from scratch with 0.10.0-beta2 everything with the same query is working perfectly fine.

[2016-01-28 09:20] stepanstipl commented on #5461
+1
- It would be very helpful to be able to start all servers with same `-join nodeA:8091,nodeB:8091,nodeC:8091` config.
I would suggest that in the long term, it might be desirable to have behaviour like for example Cassandra. You provide set of nodes (seeds) and starting node will try to connect to these and read the topology of the cluster.

- Also all started nodes join both as data_nodes and

[2016-01-28 09:51] PierreF opened #5469 "Convertion from bz1 to tsm doesn't work as described"
When following instruction from https://github.com/influxdata/influxdb/blob/master/cmd/influx_tsm/README.md to convert database from 0.9.6.1 to 0.10.0-beta2 / bz1 to tsm, the new server still use bz1 storage for .bak file.

If the .bak file are removed it works, but by default .bak file are used.

Step to reproduce:

Grab both influxdb 0.9.6.1 & 0.10.0-beta2:
[code]

Start 0.9.6.1 with default on

[2016-01-28 10:11] markgoffin commented on #5450
It could also be considered the other way around. Currently the discussion is around summing the individual field values at each timepoint, and then taking a mean over the time group. This is fine if the field values are all at the same timepoint but this is probably the rare case as opposed to the usual case (though you could interpolate the values between time points if desired). Instead, the ag

[2016-01-28 15:37] karinator commented on #3005
My concern is that influx listens to all ports, instead of just localhost. My ping tests:

root@hoover:~# **curl -sl -I localhost:8086/ping**
HTTP/1.1 204 No Content
Request-Id: 85366cf7-c5d4-11e5-8004-000000000000
X-Influxdb-Version: 0.9.6.1
Date: Thu, 28 Jan 2016 15:33:46 GMT

root@hoover:~# **curl -sl -I 10.61.68.41:8086/ping**
HTTP/1.1 204 No Content
Request-Id: 86b1ba74-c5d4-11e5-8006-0000000

[2016-01-28 15:46] karinator commented on #3005
In logs it says
run: open server: split bind address: too many colons in address ::1:8088

[2016-01-28 16:36] tripledes commented on #3005
@karinator Can you try "[::1]:8086" ? That's the syntax Go's `net.Listen` accepts.

[2016-01-28 17:21] #5426 closed

[2016-01-28 18:48] tokudan commented on #5450
@markgoffin

It doesn't really matter, if they all have the same timestamp. The important function that influxdb is currently missing is that I can specify a precision (e.g. 1h) and specify how influx should aggregate the data within that time range.

@mjdesa:
I'm sorry, but that solution does not seem to work for me. As I mentioned the node tag does not have a fixed set of values but is very dyna

[2016-01-28 18:54] joelegasse commented on #5469
@PierreF Thank you for reporting this with the amount of detail that you did. We've updated the conversion tool to backup the databases to a separate directory.

The problem was the backed-up directories were not being ignored because `foo.bak` could be a valid name for a database. The shard data then reported itself as belonging to the original database name. That's  why your new points were gett

[2016-01-28 18:54] #5469 closed

[2016-01-28 20:24] lassizci opened #5473 "ERR: dial rcp: missing address (0.9.6.1 -> 0.10.0-0.beta2)"
After converting from bz1 -> tsm following the steps in https://github.com/influxdata/influxdb/blob/master/cmd/influx_tsm/README.md I'm no longer able to read any measurements. I stopped influxdb, upgraded and run the conversion and after that it starts, but when I try to query measurements, I get:

[code]

also there are these in the log:
[code]

I had only one node when I started and now `show s

[2016-01-28 20:33] jwilder commented on #5473
Unfortuantely, this was an issue with `beta2` that should be resolved with #5447 which is now in `beta3`.

[2016-01-28 20:45] lassizci commented on #5473
Looks like it didn't resolve by upgrading to rc1

[2016-01-28 20:49] corylanou commented on #5473
Was this a single node instance?  I see 2 data nodes, and I suspect that was part of the bug we fixed in RC1.  However, upgrading to RC1 won't fix it, as you have already found out.  @dgnorton wrote an inspect tool that used to be able to write out the raw shard data to an import script, but I don't think it's been tested with this new release.  That might be something we should look into as we ar

[2016-01-28 20:54] lassizci commented on #5473
@corylanou, yes, a single node. I've never had more than one node.

[2016-01-28 21:10] joelegasse commented on #5468
It looks like the field being compared is storing two different value types (integer and floating point). We should probably be handling this gracefully, rather than assuming that all values in a given field have the same type.

[2016-01-28 21:37] joelegasse commented on #5468
On further review, a field shouldn't be able to have more than one value type.

@ljagiello Are you able to consistently reproduce this? Do you have more detailed instructions or a sample database that I could use to better track down how/why this is happening? If not, I can try to reproduce it locally, but it might take longer to figure out how you got multiple value types in the same field.

[2016-01-28 21:43] ljagiello commented on #5468
@joelegasse I'll try to create a small test for that.

[2016-01-28 22:23] jmccarty3 commented on #3897
Using 0.9.6.1 I am having this same issue.

[2016-01-28 22:29] jwilder commented on #3897
Using `0.10-rc1` with:
[code]

I get the same result as @beckettsean did in `0.9.3`.

[code]

[2016-01-28 22:47] ljagiello opened #5474 "derivative broken after upgrade to 0.10.0-0.rc1"
Hi,

It looks like `derivative` is broken in the latest InfluxDB version (0.10.0-0.rc1)

with Influxdb 0.10.0-0.beta2:
[code]

with 0.10.0-0.rc1:
[code]

[2016-01-28 22:50] lporcheron commented on #5359
+1

[2016-01-28 22:54] jwilder commented on #5474
What does your query return without the derivative?

`SELECT mean(reads) FROM telegraf."default".diskio WHERE time > now() - 12h GROUP BY time(1m), host limit 5`

[2016-01-28 22:57] dowc commented on #5359
+1

Version: recent
Clustering: yes
TICK: Kapacitor (big +1)
Chronograf : yes
Telegraf: yes (very critical)
Potentiaalia use case: Large scale SaaS product operational monitoring and analytics

[2016-01-28 23:00] ljagiello commented on #5474
with 0.10.0-0.beta2:
[code]

with 0.10.0-0.rc1:
[code]

[2016-01-28 23:06] jwilder commented on #5474
@benbjohnson Could #5463 have caused this?

[2016-01-28 23:07] rossmcdonald opened #5475 "Influx CLI return code is always zero"
InfluxDB version:

[code]

Return codes are always zero, regardless of success of command:

[code]

Even when executing incorrect commands, or attempting to access non-existent databases.

[2016-01-29 00:21] mjdesa commented on #5450
@tokudan I updated the name of the issue and labeled it as a feature request.

[2016-01-29 00:27] mjdesa commented on #5468
@joelegasse its possible to have the same field be a different type, provided that they're in different shards.

[2016-01-29 01:45] joelegasse commented on #5468
@mjdesa Thanks for the info. I'll start running that down in the morning. It sounds like we are going to have to gracefully handle comparisons of various types.

[2016-01-29 07:23] ljagiello commented on #5468
@joelegasse I tried with multiple data sets and I was unable to reproduce this bug in my dev environment. It might be as @mjdesa suggest different type in a different shard.

[2016-01-29 08:57] thunderstumpges commented on #5450
I just wanted to chime in here also and give my +1, as well as mention that I agree with @markgoffin that the elegant way to solve this (at least from a usability point of view) is to have an option of specifying a different aggregation for each field in the group-by. This solves the specific issue here as well as many others. It is not always just multiple servers in a single dimension like this,

[2016-01-29 09:01] PierreF commented on #5359
Telegraf: +1

[2016-01-29 09:02] zas commented on #77
+1

[2016-01-29 10:19] just2d opened #5477 "how to decrease memory consumption"
One single node 0.9.6.1 bz1 on production environment, one ssd hard-disk, virtual machine. There is only this InfluxDB service running on this machine, nothing else.

Machine: 8 core, 24G ram. 150G SSD

The memory consumption of influxDB is keep growing:
[code]
"lsof " shows that influxdb mapped all the files in the memory:
[code]
even though that file now is only for read, for example, the file "

[2016-01-29 14:55] xaniasd commented on #4880
this would be great :+1:

[2016-01-29 16:08] #5449 closed

[2016-01-29 16:08] #5455 closed

[2016-01-29 16:10] rossmcdonald commented on #5303
@jhhayden That's very helpful, thank you. It may be worth upgrading, though this issue will probably still occur. If this is just a test system, then I'd say go for it. If you have production/live data, then you may want to hold off until the next official release (which should be GA sometime next week).

[2016-01-29 16:16] babupandurangan commented on #5359
+1
Version: recent
Clustering: yes
Use case: Saas product operational monitoring & analytics

[2016-01-29 16:43] rossmcdonald commented on #1338
@steverweber Links to the package installation instructions have been added. Thanks!

[2016-01-29 17:16] rossmcdonald opened #5478 "[0.10.0] panic: interface conversion: interface is float64, not int64"
Version:

[code]

Query and trace:

[code]

[2016-01-29 17:18] jwilder commented on #5478
Looks similar to #5468.  @rossmcdonald Can you reproduce easily?

[2016-01-29 17:22] rossmcdonald commented on #5478
@jwilder Very easily. I should have also mentioned that this occurred on a cluster. Trying again on a single instance. And this was a fresh 0.10.0 instance, no conversion or anything else was done.

Steps on clustered instance:

[code]

[2016-01-29 17:23] jwilder commented on #5478
@joelegasse

[2016-01-29 17:26] rossmcdonald commented on #5478
@jwilder This doesn't seem to occur on a single-node instance. So potentially meta service related?

[code]

[2016-01-29 17:29] joelegasse commented on #5468
@ljagiello Are you running a cluster of nodes, or just a single node?

[2016-01-29 17:31] joelegasse commented on #5478
This definitely looks like the same underlying issue, the other ticket didn't mention a cluster, but both queries include a where clause. I'll see if that might be doing something strange.

[2016-01-29 17:50] ljagiello commented on #5468
Just a single node

[2016-01-29 18:00] rossmcdonald commented on #5468
@ljagiello Can you send us the output to a `SHOW SERVERS` command?

[2016-01-29 18:27] rossmcdonald commented on #5478
Interestingly, I ran the repro steps very fast and the server didn't crash:

[code]

Only after this log message:

[code]

Does the query crash the service.

[2016-01-29 18:47] joelegasse commented on #5468
I'm going to close this issue and focus on #5478, since it looks like clustering is causing the problem. The beta 2 release had an issue that caused some single-node instances to split into multiple data nodes, and I think that's why you saw the clustering panic on a single node.

@ljagiello Please let me know if you run into this again on a single node.

[2016-01-29 18:47] #5468 closed

[2016-01-29 19:17] benbjohnson commented on #5474
@ljagiello I've been trying to reproduce this issue with a few other people here and we can't for the life of us cause it to happen. Have you made changes to the configuration file? What kind of retention policy are you using?

[2016-01-29 19:34] mjdesa opened #5479 "[0.10.0-rc1] Bringing up a node as a meta only node causes panic"
While bringing up a node as a meta only node

The config
[code]

induces the following panic:

[code]

[2016-01-29 19:48] mjdesa commented on #5479
This happens when bringing any node up where  `[data] enabled = false`.

[2016-01-29 20:16] 2sbsbsb opened #5480 "Failed to store statistics: error fetching meta data : no leader detected during fetchMetaData"
Version - 0.9.5.1
Influx set up on aws with 4 nodes cluster on aws

Steps -
1. Created DB ,created retention policy of 1H, 1 week, 1 month, 3 month, 6 month and 1 year.
2. Changed 3 months retention policy to 6 years in values to put historical data.
3. Created continuous query to roll up the original measurement to 1 minute data.

Periodically kept checking the original measurement and the query

[2016-01-29 21:07] ljagiello commented on #5474
@benbjohnson
[code]

Configuration is fairly standard, nothing fancy - https://gist.github.com/ljagiello/32778372df8daecc176b

I test that issue with 2 different servers and it's the same behaviour.

[2016-01-29 21:13] benbjohnson commented on #5474
@ljagiello Hmm, do you have any sample raw data you can provide or a test case that reproduces it?

[2016-01-29 21:38] jsferrei commented on #5461
I noticed the config behavior too. It appears that if you do not include a hostname/ip in your bind-address, it will just use "localhost" as that is the default hostname and the ability to set hostname in config was removed.

Looking at history, it looks like it was removed to make way for code that detects the hostname, but that never made it to this build.

[2016-01-29 21:39] djMax opened #5481 "Crash during data loading"
4 loaders loading about 50 points at a time as fast as they can causes crashes.

[code]

[2016-01-29 21:40] max3163 commented on #5474
I've the same issue since I upraded too rc1 :
SELECT derivative(mean("value"), 10s) FROM "interface_rx" WHERE "type" = 'if_octets' AND "host" = 'toto' AND time > now() - 24h GROUP BY time(10s) fill(null) SELECT derivative(mean("value"), 1m) FROM "interface_tx" WHERE "type" = 'if_octets' AND "host" = 'frakass' AND time > now() - 24h GROUP BY time(1m) fill(null)

Time

[2016-01-29 21:45] jwilder commented on #5474
@max3163 What version did you upgrade from?

[2016-01-29 21:57] djMax commented on #5481
I have a passing sense that what caused it was hitting a grafana dashboard while the load was happening.

[2016-01-29 21:58] ljagiello commented on #5474
0.10.0-0.beta2
[code]
On 0.10.0-0.rc1:
[code]

I'm using in both cases the same database just switching influxdb binary.

[2016-01-29 22:14] djMax commented on #5481
This machine has 60 *gigabytes* of ram, there are 380k measurements, and yet a simple query gets
[code]

[2016-01-29 22:45] max3163 commented on #5474
@jwilder From 0.10.beta2

[2016-01-29 23:58] jwilder commented on #5474
@ljagiello @max3163 Can you show the output of `show servers` and `show diagnostics`?

[2016-01-30 00:03] ljagiello commented on #5474
@jwilder
0.10.0-0.beta2 - https://gist.github.com/ljagiello/5221041a5a65b2de2798
0.10.0-0.rc1 - https://gist.github.com/ljagiello/efaa8897ff203f9bb53e

[2016-01-30 00:47] coolcode opened #5482 "[0.9.6.1] influxdb cannot start while it has stored 80G data"
os: centos 7 x64
memory: 30G
cpu: 11 processors * Intel(R) Xeon(R) CPU E5-2620 v3 @ 2.40GHz

influxdb was down twice.
First time, influxdb was out of memory while writing data. I restarted it but failed, so I removed it and installed again. influxdb, however, still cannot start.

I had tried the second time in a new centos7 system. however, it still had this problem while storing about 80G data.

[2016-01-30 00:53] djMax commented on #5481
I can reproduce this with just queries. 90,000 points in the query

[2016-01-30 06:31] dmzaytsev commented on #5335
+1

[2016-01-30 07:11] vlitvin commented on #1819
+1

[2016-01-30 09:40] max3163 commented on #5474
@jwilder

name: data_nodes
----------------
id      http_addr       tcp_addr
1       localhost:8086  localhost:8088

name: meta_nodes
----------------
id      http_addr       tcp_addr
1       localhost:8091  localhost:8088

name: build
-----------
Branch  Build Time                      Commit                                          Version
0.10.0  2016-01-28T19:36:51.857673      834744a4c30e7f06

[2016-01-30 12:25] cwegener commented on #77
+1

[2016-01-30 17:13] clementodot opened #5483 "aliasing not working with top function"
Hello,

I was trying to alias a "top" column but it doesn't seems to work:

select top(cpu_load_avg_mhz,vm,3) as some_alias from vsphere_vm_stats

Anyhow, I don't get how it could work: what is it suppose to alias ? The "top" column ? What if I want to alias the "vm" column ?

vsphere_vm_stats
time	top	vm
2016-01-29T23:58:03Z	8030	"SWEBMPAQ91"
2016-01-30T00:58:02Z	5086	"SNHD1CDR"
2016-01-30T02:58:

[2016-01-31 01:52] botmayank opened #5484 "[0.9.6.1] CLI doesn't throw error on invalid USE command"
OS: Ubuntu 15.04 64 bit
Installed using pre built .deb package

I just started with InfluxDB and I thought it's weird that the CLI says "using database xyz" on calling USE xyz even if xyz hasn't been created and only throws an error once you try to insert an entry into the database. I think reporting an error while calling USE might help prevent typos.

[2016-01-31 02:58] runner-mei opened #5486 "TestShardWriter_Write_PoolMax is occasional fail"
[code]

[2016-01-31 03:51] runner-mei commented on #5486
timeout is too short

[2016-01-31 03:51] #5486 closed

[2016-01-31 04:09] ericx10ng commented on #183
How's going on?

[2016-01-31 10:47] toddboom commented on #5484
I believe this was fixed with #5183.

[2016-01-31 10:47] #5484 closed

[2016-01-31 19:34] r0bj opened #5491 "Continuous query don't create appropriate field"
Influxdb version: 0.10.0-0.beta2
OS: Ubuntu 15.10

Continuous query:

[code]

[code]

There is no effect in `diskio` measurement, no additional field `read_time_per_op`.

[2016-01-31 19:49] rmg commented on #4997
The published binaries don't seem to work, but if you build the binaries yourself with `./build.py --arch=amd64 --platform=linux` the binaries appear to "just work".

[2016-01-31 20:47] johnjelinek commented on #1471
This issue is a year old. Any updates?

[2016-01-31 22:39] jwilder commented on #5474
@max3163 @ljagiello Thanks.  Can you also show me the contents of your `meta/node.json` file?

[2016-02-01 00:10] jwilder opened #5492 "[0.10.0-rc1] Cannot restart node with -join args specified"
When creating a cluster, nodes that are restarted while still specifying `-join` args get stuck and won't boot until the are started without them.

[2016-02-01 02:44] ericx10ng commented on #4794
+1

[2016-02-01 03:45] thepolina commented on #3880
+1
Desperately need this

[2016-02-01 08:18] max3163 commented on #5474
@jwilder

My node.json contain only this line :

[/var/lib/influxdb] $ cat node.json
{"ID":2,"MetaServers":["localhost:8091"]}

[2016-02-01 08:31] ljagiello commented on #5474
@jwilder

[code]

[2016-02-01 09:26] zstyblik commented on #5491
@r0bj I don't think this is going to work. However, you can try to execute CQ by hand. What happens if you do?

[2016-02-01 10:28] r0bj commented on #5491
It seems that running by hand works ok:
[code]

[2016-02-01 12:08] zstyblik commented on #5491
@r0bj and have the new values been inserted/updated into diskio? What does log have to say? Did you check - `[continuous_querier]` and `[query]`? Anything there?

[2016-02-01 14:03] dokie commented on #1570
After battling 2 hours each on this (myself and a colleague), I was so glad to come across this post.
:+1:

[2016-02-01 14:12] exeral commented on #5394
Can I safely delete the files on filesystem corresponding to the deleted retention policy ?

[2016-02-01 14:17] adrianlzt commented on #5416
+1

[2016-02-01 15:00] jwilder commented on #5474
I believe this is an upgrade issue with beta2.  If you both manually edit your node.json file and change the ID to 1, that might resolve it.

[2016-02-01 15:15] balopat commented on #4121
We are facing the same problem with 0.9.6 (bz1) as well in production. Any help is appreciated.

[2016-02-01 15:26] max3163 commented on #5474
@jwilder  : I just made the change and now all is ok back !

Thanks for your help !

[2016-02-01 15:28] #5474 closed

[2016-02-01 17:03] jwilder commented on #5071
Test no longer exists.

[2016-02-01 17:03] #5071 closed

[2016-02-01 18:06] jwilder commented on #4723
Test no longer exists.

[2016-02-01 18:06] #4723 closed

[2016-02-01 18:28] #5492 closed

[2016-02-01 19:25] r0bj commented on #5491
@zstyblik yes, new values are inserted into diskio.
In logs there is:
[code]

So it looks like it wont work anyway.
I'm looking for a way of divide two series somehow without luck.

[2016-02-01 19:52] ljagiello commented on #5474
@jwilder It's working perfectly fine after that change. Thanks!

[2016-02-01 20:06] dmke opened #5496 "User managment with provisioning tools"
Hi,

what is the recommended way to manage users and databases using automated provisioning tools (like Ansible)?

I'm currently working on a provisioning script, which does the following (in an idempotent matter):

- create admin user
- for each user:
  - create database with same name
  - create user or set password
  - grant all privileges to user

Prior to execution of each step I have to quer

[2016-02-01 20:43] toddboom commented on #4121
This is an issue with the `bz1` storage engine, which is now deprecated in favor of `tsm1`, now the default engine with the upcoming `v0.10.0` release. The first release candidate is now available, so I'd recommend upgrading.

If you need to migrate some data from the previous storage engine, we have a tool available that can do it. Here's a link to the README:
https://github.com/influxdata/influx

[2016-02-01 20:43] #4121 closed

[2016-02-01 20:46] #5478 closed

[2016-02-01 21:00] royalaid commented on #1837
+1

[2016-02-01 21:18] benbjohnson commented on #5374
@mark-rushakoff I [added a `bolt rollback` command](https://github.com/benbjohnson/bolt/tree/rollback) that will revert Bolt to the previous commit:

[code]

I'm not sure why the data file would be getting truncated. I haven't seen this issue on Bolt anywhere but with this conversion tool.

[2016-02-01 21:18] #5374 closed

[2016-02-01 21:18] jwilder commented on #5477
There is no way to reduce the memory consumption currently.  What you are seeing is mostly the way MMAP files and page cache consume memory.

Your free output shows `20720`mb of cached memory.  That means the OS is using free memory to improve file system IO by using the memory for the page cache.  If an application requires memory, the OS will release memory used by the page cache for it.  It loo

[2016-02-01 21:18] #5477 closed

[2016-02-01 21:22] toddboom commented on #5477
@just2d Also, you'll want to upgrade to `v0.10.0` (RC1 is available) to take advantage of the `tsm1` storage engine. It's likely you'll see better memory utilization than you do with `bz1`, in addition to better overall performance.

[2016-02-01 21:28] jwilder commented on #5473
@lassizci You may need to manually fix your `node.json` file so that your `ID` is `1`.  See #5474.

[2016-02-01 21:31] jwilder commented on #5466
Closing since this is very likely a dup of #5474.  @emanuelis see the workaround in that issue. You may need to manually edit your `meta/node.json`.

[2016-02-01 21:31] #5466 closed

[2016-02-01 21:42] jwilder commented on #3619
This is possible while writes are queued up in hinted handoff.  If a query is executed on a node that has a shard locally, but it's not fully up to date, it will use the local shard.  We don't have any way of determining (at a cluster level) how up to data local vs remote shards are.

One way to avoid this now would be to use a write concern of `ALL` to ensure all nodes accepted a write.

[2016-02-01 21:48] jwilder commented on #3937
Fixed via #5224

[2016-02-01 21:48] #3937 closed

[2016-02-01 22:03] jwilder commented on #1471
This is possible in `0.10` with `drop data server <id>` and `drop meta server <id>` although there are no safeguards in place to prevent losing data if you drop the only server holding shard data.

Implemented via `c9d82ad`

[2016-02-01 22:03] #1471 closed

[2016-02-01 22:20] jwilder commented on #4907
Closing this since `bz1` is deprecated and `tsm` is the default engine in `0.10`.

There is a conversion tool to convert your `bz1` shards to `tsm` with instructions here: https://github.com/influxdata/influxdb/tree/master/cmd/influx_tsm

[2016-02-01 22:20] #4907 closed

[2016-02-01 22:22] jwilder opened #5499 "Add stats and diagnostics to TSM engine"
TSM engine needs stats and diagnostics about compactions, file counts, cache size, etc..

Original item listed in #4977

[2016-02-01 22:23] jwilder opened #5500 "Logging options for TSM engine"
TSM engine needs more configurable logging options related to snapshots, WAL, compactions, filestore, etc.. (including turning logging off)

Original issue from #4977

[2016-02-01 22:25] jwilder opened #5501 "Queries against files that have just been compacted need to point to new files"
If a query is run and is executing against a TSM file that is compacted and replaced while the query is executing, we need to use the new file.

Original issue from #4977

[2016-02-01 22:27] jwilder opened #5502 "Add checksum verification to TSM inspect tool"
TSM files contain a checksum per block.  The `inspect_tsm` tool should be updated to be able to verify and report any blocks that fail verification.

Original issue from #4977

[2016-02-01 22:28] jwilder opened #5503 "Avoid re-reading tombstone data when writing tombstones"
Deletes read and re-write a tombstone file for a given tsm file containing series keys that are deleted.  This could be improved to only write new files allow the tombstone to be immutable.

Original issue from #4977.

[2016-02-01 22:30] jwilder commented on #4977
All unfinished feature items converted to new issues.  Closing this as we've made it the default engine in `0.10`.

[2016-02-01 22:30] #4977 closed

[2016-02-01 23:01] rossmcdonald commented on #5496
@dmke I think your best option would be to use the `influx` commands JSON-formatted output. For example, you can get a JSON-formatted response with the users in the system by running:

[code]

And then throwing the output into whatever tool you are using (or just use [jq](https://stedolan.github.io/jq/)) to extract what you need. The JSON output is not always pretty, but it will definitely beat at

[2016-02-02 00:06] pauldix commented on #5461
You can set the bind addresses through environment variables as well. I think that will make automated deploys easier. For example set `INFLUXDB_META_BIND_ADDRESS=hostname:8091`.

Options set through the environment variables will be used over those specified in the config file.

[2016-02-02 00:27] sebito91 commented on #5461
Stepan's description is the same thing we're seeing on our "cluster".

If we want to segregate raft from data nodes it doesn't appear we can do
that, it seems all nodes join as both meta and data servers for the whole
cluster.

If we start to fail nodes to test resiliency, the so-called raft nodes that
are specified in the -join command aren't actually the only ones managing
the cluster as ALL nod

[2016-02-02 00:55] normanuber commented on #5417
Has this been reproduced because it is happened to me. Looks like the CQ was scheduled before my drop command and ran. It attempted to run once after my drop command so it is not too big of a deal.

2016/02/02 00:30:18 InfluxDB starting, version 0.10.0.n1454054436, branch master, commit 834744a4c30e7f06a7c5fa8d0376de0d1930a318, built 2016-01-29T08:01:49.344780
2016/02/02 00:30:18 Go version go1.4.

[2016-02-02 09:07] dmke commented on #5496
Yeah, JSON would indeed be the format of choice, but when provisioning a database server (on any machine for that matter) i'd like to keep the complexity low (i.e. less dependencies = smaller attack surface), although this means that I usually have to resort bash scripts (I really need to improve my Python-fu, as Python is already present as dependency for Ansible...)

Ideally, I'd like to use som

[2016-02-02 09:28] PierreF opened #5504 "[0.10.0-nightly] create retention policy on unexistant DB crash InfluxDB"
Since 0.10.0, when we create a create retention policy on a database that do not exists, instead of returning an error, InfluxDB crash:

[code]

This was not the case with 0.9.6.1

The query needed to crash the server seems to be any create retention on unexisting database with duration and replication settings e.g.:
[code]

[2016-02-02 10:32] norrland opened #5505 "[0.10.0-rc1] user passwords not changeable"
Docker container based on "tutum/curl:trusty" and the Influxdb 0.10.0-rc1 Debian/Ubuntu package.

A user created with password "testing" cannot change this and authenticate to the api.

[code]

[2016-02-02 10:58] dmke opened #5506 "[0.10.0-rc1] "show measurements" yields i/o timeout"
Since 0.10.0-rc1 (on Debian Jessie/8.3 using the official downloads), I get the following output on `SHOW MEASUREMENTS`:

[code]

(here's the [relevant snippet from the logs](https://gist.github.com/dmke/b679ea429cb74a640808))

This error is also present in 0.10.0.n1454400035. Using 0.10.0-beta2 it yields the desired result.

The database was created and filled with rc1 (so I guess, TSM?), over wh

[2016-02-02 11:18] kjeacle opened #5507 "[0.10.0-nightly] Derivatives grouped by time broken"
In recent v0.10.0 nightly builds, querying derivatives grouped by time returns no results. This was working in early v0.10.0 builds but stopped somewhere around the first beta release.

Currently running 0.10.0.n1454400035-0 with TSM installed from dpkg -i influxdb_nightly_amd64.deb on Ubuntu server 15.10.

DERIVATIVE queries work, and GROUP BY TIME queries work, but not together.

[code]

The abo

[2016-02-02 11:22] PierreF commented on #5492
This is not fixed when using the default provided configuration file (/etc/influxdb/influxdb.conf).

E.g., it does NOT work when starting with
[code]
but does work with:
[code]

After few test & trial, it seems that the issue is the "dir" option:
[code]

When commented or left to empty string, it working.
Just changing the value is not enough to be in working or not-working case. I had to remove /

[2016-02-02 11:23] PierreF commented on #5492
Note: the only change I see was where "node.json" is:
* With dir="/var/lib/influxdb", node.json is /var/lib/influxdb/node.json
* Without dir, node.json is /var/lib/influxdb/meta/node.json

[2016-02-02 13:20] Tangerino opened #5509 "Process termination"
After importing some data, when I browse the database with Grafana, the influxd process stops.
I confess that I can't interpret the log, but I have attached it anyway.
Best regards
[influxd.log.txt](https://github.com/influxdata/influxdb/files/113968/influxd.log.txt)

[2016-02-02 13:56] rossmcdonald commented on #5496
@dmke No, unfortunately there aren't any Ansible plugins for InfluxDB available at the moment. That being said, I don't think it would be too hard to put one together since we already have a [Python client](https://github.com/influxdata/influxdb-python) available. I'm not familiar with what it would take to create an Ansible module with the existing Python client, but I'm assuming (maybe incorrect

[2016-02-02 14:07] rossmcdonald commented on #5509
@Tangerino The error you hit was:

[code]

Which means the process ran out of memory when attempting to pull the results for your query. You may need to bump the memory on the InfluxDB server or modify your query/schema to be more efficient. I'd also recommend you try upgrading to 0.10.0 (currently in pre-release with RC1) assuming this is a test database. The new storage engine (tsm) is much more

[2016-02-02 14:07] #5509 closed

[2016-02-02 14:17] dmke commented on #5496
I see. Well, time to amp up my Python, I guess :-)

Just another question: Given `http.auth-enabled` set to true in the `influxdb.conf`, how can I create an admin user with a local shell (i.e. on the machine running the `influxd` binary), when the package was just installed?

I've encountered #2278 but that ticket seems to be stale.

[2016-02-02 14:17] dmke commented on #2278
What is the current status of this?

[2016-02-02 14:40] rossmcdonald commented on #5496
@dmke You'll need to create a user prior to enabling authentication. The workflow should look like:

- Install InfluxDB with default configuration
- Start InfluxDB
- Create admin with the `influx` CLI:
`influx -execute 'CREATE USER admin WITH PASSWORD 'changeme' WITH ALL PRIVILEGES'` (you can also use the HTTP API)
- Enable authentication through the config
- Restart the service
- Authenticate wit

[2016-02-02 15:00] rossmcdonald commented on #5506
@dmke Can you paste the output from a `SHOW SERVERS` command run on this instance? And was this instance upgraded from 0.9?

[2016-02-02 15:02] rossmcdonald commented on #5507
This may be a dupe of #5474. Can you try the solution from that issue and let us know if the problem persists?

[2016-02-02 15:11] rossmcdonald commented on #5505
@norrland Thanks, I'm able to reproduce the same issue.

/cc @jwilder

[2016-02-02 15:11] dmke commented on #5506
No, the instance wasn't upgraded.

[code]

I also have git-bisected the source and might have found the culprit in the commit 31c2e7012 (@corylanou). I don't know wether or not `go clean './...' && go install './...'` has created the right binaries though (`$GOPATH/bin/influxd version` reported to be v0.9)

[2016-02-02 15:16] rossmcdonald commented on #5506
@dmke Yep, that was the commit that should have fixed this. I've never seen this occur on an instance that wasn't upgraded, though.

What are the contents of your `node.json` file? It should be under `~/.influxdb/meta` I believe if you're not using a packaged install (or `/var/lib/influxdb/meta` for a packaged install).

[2016-02-02 15:18] dmke commented on #5496
Well, thank you, anyway :-)

[2016-02-02 15:18] #5496 closed

[2016-02-02 15:19] dmke commented on #5506
Just this: `{"ID":1,"MetaServers":[":8091"]}`

[2016-02-02 15:20] dmke commented on #5506
Addendum: There are two `node.json` files:

[code]

[2016-02-02 15:23] rossmcdonald commented on #5506
@dmke What is the configuration set to for the `meta.dir` variable? Also, is there a globally scoped `dir` variable in your config?

[2016-02-02 15:35] #5475 closed

[2016-02-02 16:02] dmke commented on #5506
My configuration does not differ from the current [config.sample.toml](https://github.com/influxdata/influxdb/blob/c9d82ad/etc/config.sample.toml):

- `dir = "/var/lib/influxdb"`
- `meta.dir = "/var/lib/influxdb/meta"`

[2016-02-02 16:46] rossmcdonald commented on #5464
/cc @e-dard

More information on this issue: I believe this actually has more to do with the a service restart across every member of the cluster. If I run a service restart against a single node in the cluster, the node has no issues re-joining the cluster. If I restart all nodes in the cluster at once, I can't get the cluster to reform again.

On my three node cluster, on nodes 2 and 3 (the non-

[2016-02-02 17:00] #5479 closed

[2016-02-02 17:03] seiflotfy commented on #5504
Was able to replicate. Fixing it

[2016-02-02 17:08] jwilder commented on #5505
@corylanou @dgnorton could this be caused by the new `meta.Client` in use everywhere?

[2016-02-02 18:51] dgnorton commented on #5505
@jwilder I'll take a look

[2016-02-02 18:58] slimsag commented on #5388
Is there any opposition towards fixing this? Is it just as simple as changing the import paths and sending a PR?

[2016-02-02 19:00] jwilder commented on #5388
@slimsag We're holding off on fixing this until after `0.10` release.

[2016-02-02 19:04] panovodv commented on #2755
are you guys still working on a fix for this?

[2016-02-02 19:09] ezrapagel commented on #5359
+1

[2016-02-02 19:19] ShubhraKar commented on #5359
Small update. Telegraf should officially build on Windows along with new WMI / perf plugins by 0.11 release.

For InfluxDB, there is a community fix from @runner-mei . We will need to test for the entire TICK stack and load & boundary  conditions to provide official support. Will provide updates as we go. Thanks everyone.

[2016-02-02 20:16] #5504 closed

[2016-02-02 20:27] seiflotfy opened #5516 "(Client) Database(name string) and Databases() both return redundant error as second value"
https://github.com/influxdata/influxdb/blob/master/services/meta/client.go#L301
and
https://github.com/influxdata/influxdb/blob/master/services/meta/client.go#L314

Both return errors although not needed, since both are always nil. Would it not be better to get rid of them? :question:

* [x] Remove error from the return in (Client) Database(name string)
* [x] Remove error from the return in (Clien

[2016-02-02 20:30] corylanou commented on #5516
My vote would be to remove the errors.

For `Database`, If the caller needs to check for a nil response, that would be more appropriate IMO.

The `Databases` one simply can't return an error.  It's a slice...  checking `len` or for `nil` is appropriate for any caller and would work fine.

[2016-02-02 20:31] seiflotfy commented on #5516
Agree. That is my intention

[2016-02-02 20:32] jwilder commented on #5516
Yeah, does not need to return an error.

[2016-02-02 20:35] dmke commented on #5506
Hm. Out of curiosity I've purged the package, nuked `/var/lib/influxdb`, reinstalled the rc1 package and imported my dataset again. Now I can't reproduce the error anymore; `show measurements` yields the right results.

Tomorrow, I will try to import the dataset with beta2 and then upgrade to rc1... maybe that reproduces the error (if not, I'll just close this issue).

[2016-02-02 20:36] jwilder commented on #5217
The 1.6 vs 1.4 perf issues is being looked at here: https://github.com/golang/go/issues/14189

[2016-02-02 20:41] jwilder commented on #5506
@dmke It looks like you ran into an issues we had with upgrades that showed up in `beta2`.  The top-level `dir` config option was just removed to help prevent this from happening again in #5515 as well as fixes from #5447 which fixes different issues that you also ran into.

Going to close this since this should be addressed by `rc1` and occurred frequently w/ `beta2` build.

[2016-02-02 20:41] #5506 closed

[2016-02-02 20:53] dmke commented on #5506
Roger that. Thank you both for your support!

[2016-02-02 21:20] toddboom commented on #5217
@sebito91 If you get a chance, I'd be curious to see how things look with Go 1.4.3 and 1.6rc1 if you use `GOGC=1600`. We're tracking the issue above, as @jwilder mentioned, but it seems that the GC tuning improves performance on both versions in our internal testing.

[2016-02-02 21:22] toddboom commented on #5388
@slimsag if you change your local repo back to `influxdb/influxdb`, this should work without issue in the meantime.

[2016-02-02 21:33] jwilder opened #5518 "[0.10.0] Drop series only drops series from one node"
If you create a fully replicated cluster and attempt to drop a series from one node, it only deletes its local series data and does not trigger the other replicas to also delete the series.

[2016-02-02 22:22] slimsag commented on #5388
@jwilder Got it, thanks! Looks like `0.10` is has just three issues open, so it shouldn't be too long a wait I hope.

@toddboom Are you saying to change my import path back to `github.com/influxdb/influxdb`? I assume that works because of GitHub redirect?

My motivation for wanting this fixed sometime soon, is that we'd like to incorporate InfluxDB as the storage backend of choice for Appdash (see

[2016-02-02 23:01] normanuber opened #5521 "Continuous query downsample on all measurements very very flaky"
Hey guys, it appears that influxdb doesn't actually execute this query consistently:
SELECT mean(value) AS value INTO network.ten_sec.:MEASUREMENT FROM network."default"./.*/ WHERE time >= '2016-02-02T21:45:00Z' AND time < '2016-02-02T21:45:10Z' GROUP BY time(10s), \* fill(previous)

It is originally generated by my continuous query: CREATE CONTINUOUS QUERY ten_sec_res ON network BEGIN SELECT mean

[2016-02-02 23:10] jwilder commented on #5168
Remaining issues will be looked at in `0.11`.

[2016-02-02 23:10] #5168 closed

[2016-02-02 23:19] #5505 closed

[2016-02-02 23:48] normanuber commented on #5521
Looks like the continuous query times out if it runs too long? I think I will do this kind of aggregation outside of influxdb then. I tried the above statment with an hours worth of data (as well as group by 1h) and that took 12 minutes. It is odd to me then that it takes 7 minutes to do 10 seconds worth of data with group by 10s.

If you want to keep the ticket open and investigate any optimizati

[2016-02-03 03:01] gerrickw opened #5523 "[0.10.0.n1454400035] Dividing by zero causes connection to close"
Summary:
When performing a query that divides two fields and the denominator is zero it causes the connection to close unexpectedly. This is fairly annoying when creating graphs dynamically and 10 out of 40 show connection closed error as one point out of hundreds had a zero.

Steps to reproduce:
1. Submit two points on the same measurement with different field names at the same time.
2. Query suc

[2016-02-03 06:02] kornpro opened #5526 "no leader detected during proxyLeader"
i have a problem.
i started influxdb service(ex. service influxdb start) but it appear like this :

------------------------------------------------------------------------------------------------------------------
created by net.(*singleflight).DoChan
        /usr/local/go/src/net/singleflight.go:84 +0x42b
2016/02/03 14:47:06 InfluxDB starting, version 0.9.6.1, branch 0.9.6, commit 6d3a8603cfdaf1

[2016-02-03 07:36] zstyblik commented on #5521
@normanuber, I wonder, how did you come to this conclusion? Was there an error in log? Please, could you copy-paste it here? Thanks.

[2016-02-03 08:17] zstyblik commented on #5461
@pauldix is it possible to set/over-ride all configuration file variables through ENV like that? Is this documented somewhere? Because I've missed this and it really is useful thing, if true. Thanks!

[2016-02-03 08:20] toddboom commented on #5388
@slimsag If your on-disk path is `$GOPATH/src/github.com/influxdb/influxdb` it should work with the import paths unchanged. We should have `v0.10.0` released by the end of the week, and then we'll move towards making the import path switch internally after that. The folder rename should work fine until then - let me know if it doesn't!

[2016-02-03 08:34] zcalusic commented on #5388
No, it's not working due to internal packages.
[code]

I wonder why the tree is left in inconsistent state for such a long time, when a fix is so simple? Whoever renamed repository should've just renamed all the imports at the same time. It's really not a rocket science.

[2016-02-03 09:50] norrland opened #5527 "[0.10.0-rc1] user passwords not redacted in all queries"
InfluxDB 0.10.0-rc1 running in Docker container based on tutum/curl:trusty

User operations from the influxdb gui does not redact all requests in the logs.

[code]

Reproduced by running the "SET PASSWORD FOR testuser = 'testing'" in influx webui.

[2016-02-03 09:57] kjeacle commented on #5507
I am collecting router interface traffic stats.

My ID was 3 and no queries returned data.

For some interfaces, setting it to 1 retrieves all data and solves the problem.

For other interfaces, however, setting it to 1 retrieves data up to 01-Feb-2016 while setting it to 2 retrieves data after 01-Feb-2016.

Is there a way to fix this so all queries work? If not, and I have to lose some data, what

[2016-02-03 10:32] olivierHa opened #5528 "Documentation issue"
Hello,

I am writing a puppet module, and I need some infos about configuration in 0.10 :

Default configuration show that ' reporting-disabled' is available in the "top scope" of the configuration file.

In the documentation, I can see a specific section "reporting" : https://docs.influxdata.com/influxdb/v0.10/administration/config/

Which one is the truth ? where this parameter should be ?

How

[2016-02-03 12:04] peterbollen commented on #3407
What about this query?

select count(amount), type from transaction where time <= now() and time >= (now() - 2h) and type = 'x' group by time(1h)

I would to copy the aggregation of points of type x into another RP.

[2016-02-03 12:38] e-dard commented on #5523
Thanks for the report @gerrickw. Is this the first time you've seen this issue, or has it happened with previous versions of Influx?

[2016-02-03 12:42] AleDanish opened #5529 "[Question] Master down in a Cluster"
Influxdb version: 0.9.6.1

Hi all,

I created a cluster with 1 Master and 1 Slave. When the Master goes down and is unavailable for some reason, I cannot query the Slave until the Master returns available again. Is it correct or I'm missing something?

I would like to move data from one influxDB instance (Master) to another (Slave), switching off the first instance (Master) at the end.
Is there a

[2016-02-03 13:13] zstyblik opened #5530 "[0.10.0rc2] `CREATE CQ <name> ON <db_name>.<rpolicy>.<measurement> BEGIN` no longer works"
Hello,

it seems to me that CQs got broken somewhere in the process as the following query doesn't work any more and ends up with error:

[code]

What follows after `SELECT` doesn't seem to be important, therefore it's omitted. I mean, I've tried with smaller and simpler CQ.

This seems to be broken at least since 0.10.0.n1454054436. I've tried to update to rc2, but it's broken there as well.

[2016-02-03 13:18] e-dard commented on #5385
@m4ce @jin-ho I have reproduced this on 0.9.6, but it seems to be fixed as of the latest release candidate. Can you confirm with `v0.10.0-rc2`?

[2016-02-03 13:36] PierreF commented on #5492
It is now fixed also with default /etc/influxdb/influxdb.conf file. Probably by PR #5515

[2016-02-03 13:41] corylanou commented on #5388
This has been prioritized and will be fixed soon. We have a large branch that needs to be merged and then this fix is next.  To avoid a big merge conflict we held off on making the change.  I agree the change itself is simple, but the rebase/merge could potentially be messy.  I know this has caused some pain for the community.

[2016-02-03 13:47] e-dard commented on #5526
Hi @kornpro,

Could you provide some more information on how to reproduce this issue? There is some tips and advice [here](https://github.com/influxdata/influxdb/blob/master/CONTRIBUTING.md)

Also, once you can reproduce, the full stacktrace would be useful.

[2016-02-03 13:49] #5385 closed

[2016-02-03 14:11] pauldix commented on #3407
@peterbollen that's invalid since `count` doesn't map to a single data point. If you want the count per different type include `type` in your `group by` clause.

[2016-02-03 14:48] zstyblik commented on #5530
Grh! Sorry, this really was error on my end by changes in the code and then not going back to docs/checking at InfluxDB instance we have up.
Everything works :)

[2016-02-03 14:48] #5530 closed

[2016-02-03 14:59] zcalusic commented on #5388
OK, makes sense, good look with the big merge!

Here's another tip then, to survive until then. Instead of only git pull, you can do:
[code]

That way you can update & have the tree in compilable state.

[2016-02-03 15:02] rossmcdonald commented on #5507
@kjeacle Regarding:

This was caused by a broken upgrade path that made it into one of the nightlies. In the cases we've seen, switching the ID back to 1 resolves the issue, though. Can you send us the output from a `SHOW SERVERS` run on this instance when the node ID is set to 3?

@jwilder Do you have any ideas on a fix here?

[2016-02-03 15:12] kjeacle commented on #5507
Node ID set to 3:

[code]

[2016-02-03 16:00] rossmcdonald opened #5531 "[feature request] Shard dump utility that exports shards into line protocol format"
Similar to many of the other `dump` utilities out there for relational databases (`mysqldump` being a prime example). We've had this type of functionality in the past through the `shard-dump` branch's `inspect` utility, however it hasn't been tested with the latest release/storage engine and was never officially merged into master. Having a tool like this would greatly help simplify backups/restor

[2016-02-03 16:18] dgnorton opened #5532 "[0.10.0-rc2] user passwords not changeable in cluster"
Issue #5505 was fixed for single node in RC2 by PR #5520 but it is still broken for clusters.  The fix for single node was to:
- update user's password
- on successful update, `meta.Client` deletes that user from `meta.Client.authCache`.

The problem in a cluster is that only the `meta.Client` on the node that executed the update knows to update its `authCache`.  The other nodes still have an out

[2016-02-03 16:22] jessetan commented on #438
Is this fixed or not? I see a lot of linked issues that are also closed, but on my 0.9.6.1 install I can not do math on aggregates:
This works: `SELECT 1.5 + value FROM "processes_user" WHERE time > now() - 5m`
This works: `SELECT 1.5 + mean(value) FROM "processes_user" WHERE time > now() - 5m GROUP BY time(10s)`
This does not work: `SELECT 1.5 + derivative(mean(value)) FROM "processes_user" WHERE

[2016-02-03 16:23] seiflotfy commented on #5481
Nice catch. Trying to reproduce here :+1:
Can you give me a more step by step guide on how to reproduce it?

[2016-02-03 18:37] dmke commented on #4904
I've ran into the same issue while building an Ansible module.

Currently, I can't determine whether the user's state has changed (and act upon those changes further down the provisioning road), because I cannot compare the password hash before and after `SET PASSWORD` execution...

As a workaround, I am connecting with the given credentials and query something [1]. If the connection errors with "

[2016-02-03 19:15] jwilder commented on #5507
@kjeacle If you run `show shards` you should see the shards and owners of those shards.  I suspect you have shards that are owned by node 2 and some by node 1.  They should all be the node 1 if you have only a single node.  Unfortunately, there isn't a way to fix the shard owners manually right now.

One option to fix this going forward would be to update your `node.json` node ID to 1 and run `dro

[2016-02-03 20:28] bischofs opened #5534 "[0.9.5] Running out of memory with tsm1 engine"
We are importing historical data in batches to influx ( one file at a time with 20 series having ~2000 points each)  - our data is structured as having ~50 tags ( a lot of meta information) for each data point, but a limited amount of series . The data that does make it into influx has a lot of keys - because each file is basically a key being that all the tags are the same for each file.

We trie

[2016-02-03 20:38] gerrickw commented on #5523
I was using a master build from a week or so ago and had the same problem. I grabbed the latest to see if the issue continued to happen.

Before this I only had one field per measurement, but was reading math can not be done between separate measurements. (Which is disappointing) But either way I was setting up graphing and noticed connection resets were happening sometimes and when researching ap

[2016-02-03 20:46] toddboom commented on #5534
@bischofs 50 tags is actually a pretty large number. The underlying cardinality is a combination of the measurements and all of the tag keys/values, so you could end up with a pretty large number very easily.

Additionally, the version of TSM that's included in v0.10.0 is more performant than the one that shipped with 0.9.5. I'd recommend trying v0.10.0-rc2 and letting us know how that looks.

Wou

[2016-02-03 20:55] jwilder commented on #5422
There was an issue w/ the backup files that should be fixed via #5472 and #5454.

[2016-02-03 20:55] #5422 closed

[2016-02-03 20:55] seiflotfy commented on #5446
I am looking into this

[2016-02-03 21:03] bischofs commented on #5534
Here you go...

[sample.zip](https://github.com/influxdata/influxdb/files/116400/sample.zip)

Yeah so this is one file of the 200 that is in csv form.  The top two rows are the tags ( meta info )  we are using and the third row is the name of the series.

[2016-02-03 21:05] jwilder commented on #2937
HTTP handler was fixed via 7d6d23e.  Not sure about UDP.

[2016-02-03 21:29] djMax commented on #5481
I'm not sure other than the data. I WAS using 0.9.6, moved to 0.10 and it stopped.

[2016-02-03 21:43] seiflotfy commented on #5446
Was not able to replicate straight away.
Basically I backed up one machine 1. Copied the backup folder to machine 2. And did a restore there. Worked like charm. How much data did you have in your backup?

[code]

Cheers

[2016-02-03 21:46] seiflotfy commented on #5481
Good to hear, when you moved did you maintain the same data (you did not restore from a backup)?
:+1:

[2016-02-03 22:15] djMax commented on #5481
I "migrated" the data to the new engine (tsm?), which was essentially a backup/restore as I recall.

[2016-02-03 22:45] normanuber commented on #5521
This conclusion comes from me being able to run the query that the continuous query runs in the shell (like the above) and not seeing the data points at all in the retention policy. If the issued query ran (via continuous query) then there should be at least 7 min lag for seeing that data points in that retention policy, which is fine in my case.

There are no error messages to show, just little t

[2016-02-03 22:53] jwilder commented on #5210
The data nodes can't reliably determine the raft leader.  We've removed this in `0.10-rc2`.

[2016-02-03 22:53] #5210 closed

[2016-02-03 23:19] #3091 closed

[2016-02-03 23:59] jwilder commented on #5529
@AleDanish There is no concept of a master/slave setup in an InfluxDB cluster.  The clustering requires  a quorum of healthy nodes in order to operate.  With two nodes, you can't get a quorum so the cluster will be down.  You need to run 3 nodes to be able to handle one node being down.

[2016-02-03 23:59] #5529 closed

[2016-02-04 00:07] #5507 closed

[2016-02-04 00:08] jwilder commented on #5397
@mmoulton Did upgrading your server resolve this issue?

[2016-02-04 00:11] jwilder commented on #5394
I don't think this is storage engine specific.  The drop retention policy is probably only deleting the RP from the meta store and not on disk.

[2016-02-04 00:13] jwilder commented on #5394
@exeral Yes.

[2016-02-04 07:04] seiflotfy commented on #5481
AFAICT seems like you have been using the bz1 storage which somehow passed something invalid to bolt.I assume with the migration you are now using the tsm storage?

[2016-02-04 07:22] lostz opened #5537 "v2 client not update influxdata"
cannot find package "github.com/influxdb/influxdb/models"

[2016-02-04 09:38] lagergren commented on #4898
I really wanted this for 0.10.0. Awww

[2016-02-04 10:01] lagergren commented on #5399
Here is additional log which produces a similar stack trace after some load tests.

[2016-02-04 10:03] lagergren commented on #5399
[influx.err2.txt](https://github.com/influxdata/influxdb/files/117187/influx.err2.txt)

[2016-02-04 10:20] cmben commented on #183
+1

[2016-02-04 10:31] cmben commented on #1830
+1

[2016-02-04 10:47] zstyblik opened #5538 "[0.10.0-rc2] `SHOW TAG KEYS FROM ...` returns ``use of closed network connection''"
Hello,

I've just noticed that `SHOW TAG KEYS FROM "measurement"` returns `Server returned error: write message type: use of closed network connection`. This does happen via Web UI/API and via CLI. I have tried pretty much everything, but I have no idea what's could possibly be wrong.
It seems to me only this command returns error. `SHOW TAG VALUES` works. InfluxDB itself seems to be working as we

[2016-02-04 10:58] zstyblik commented on #5538
This doesn't seem to work either:

[code]

but it should work, shouldn't it?

[2016-02-04 10:59] kjeacle commented on #5507
I tried ```drop data server 2``` but now the log file just fills with the messages below and any attempt to access data causes a panic and the database restarts itself. The data is completely inaccessible now.

[code]

Here's what ````show shards```` looks like:
[code]

There are shards with no owner (presumably previously owned by ID 2).

Is there any way out of this or must I wipe everything and

[2016-02-04 11:02] djMax commented on #5481
Yep, using tsm

[2016-02-04 11:08] zstyblik commented on #5521
@normanuber you should check log file to see whether CQ(s) is being scheduled and executed.

[2016-02-04 11:36] seiflotfy commented on #5538
Tried to replicate using a similar query

[code]

[code]

Am I missing something? I tried on both rc1 and git master :mag:  (could not find rc2 in the git tags)
The error message you are getting indicates that it might be something network related.

[2016-02-04 11:44] zstyblik commented on #5538
@seiflotfy thanks for trying out. The query you've posted, `SELECT mean(...`, works as well. The query I've posted was wrong. However, `SHOW TAG KEYS ...`, is still a no show. I've tried it even "locally" and I get the same error. If there is more I can do to debug it, I'm all ears :\

[2016-02-04 11:45] zstyblik commented on #5538
@seiflotfy I'm using rc2 from RPM.

[2016-02-04 11:46] zstyblik commented on #5538
[code]

[2016-02-04 11:49] zstyblik commented on #5538
RC2 tag @ https://github.com/influxdata/influxdb/tree/v0.10.0-rc2 ?

[2016-02-04 11:50] seiflotfy commented on #5538
Tried on RC2 still no luck :(
Can you provide me with the influxd output?

[2016-02-04 11:59] e-dard opened #5539 "Rejected series showing up"
If you insert something that's accepted by the parser, but rejected by the engine, the point is still stored in some way. For example:

[code]

I suspect it's an issue in the parser, as the engine is reporting:

[code]

[2016-02-04 12:05] zstyblik commented on #5538
@seiflotfy log file is attached, although it went through some filtering process. Also, noteworthy is this not a clean RC2 instance and data have been around for a while. What comes to my mind is, may be there is a problem in `peers.json`, `node.js` or `raft.db`. Also, all those connection errors to localhost don't look healthy :\ Also, we've confirmed, as you did, this issue doesn't happen with c

[2016-02-04 12:09] zstyblik commented on #5538
Ok. Small update. It doesn't happen with newly created DB and metrics, but only with the DBs that have been around for a while. I hope this narrows it down a bit.

[2016-02-04 12:10] zstyblik commented on #5538
I mean, I had database with no measurements. So I've put some measurements there with Telegraf and `SHOW TAG KEYS` seems to be working there.

[2016-02-04 12:11] seiflotfy commented on #5538
Sweet, this narrows it down a bit. Do you recall at which version you started using influx. Maybe I can replicate it then by populating your initial version then upgrading a couple of times, then trying the request.

[2016-02-04 12:19] zstyblik commented on #5538
@seiflotfy the oldest version I have here is:

[code]

Unfortunately, I can't tell you exactly when this problem has occurred. We've also switched between nightly/beta/rc as was "needed". In other words, we were dodging issues.

I can try to spin up some older instances and try to restore data in backup and try with those. However, this might or might not work, because there were quite big changes

[2016-02-04 12:24] seiflotfy commented on #5538
I am not sure about the node.json part or the peers.json one (still finding myself around the code).
I will try later to run the same nightly populate it. Then I will try to upgrade to betas then rcs and try out the queries.
When upgrading were you backing up and restoring or just normal upgrade?

[2016-02-04 12:37] zstyblik commented on #5538
@seiflotfy actually, this probably won't go longer than 21.1. We had a working setup around that time. I mean, it was working.

As for upgrade, we are just rolling through. We don't do backup and restore.

[2016-02-04 13:32] seiflotfy commented on #5538
@zstyblik talking to @corylanou he suggested if you could try running
[code]
Can you paste the output here?

[2016-02-04 13:39] zstyblik commented on #5538
@seiflotfy sure.

[code]

This isn't good, is it? :)

[2016-02-04 14:01] zstyblik commented on #5538
These do seem to be related to the issue:

[code]

[2016-02-04 14:05] seiflotfy commented on #5538
Yeah so the problem here is you have 2 datanodes. Not sure this makes sense. You should be having one only AFAICT. right?

We are getting somewhere. :D

Let me see if by doing upgrades i will also get into having 2 datanodes.
Else it must be something to do with your config. Can you restart the service and make sure nothing is occupying ports 8088, 8089, 8086 ?

[2016-02-04 14:12] zstyblik commented on #5538
@seiflotfy that's correct. Actually, the reason I said it doesn't look right is, this issue is somewhat familiar. I'm not saying I've seen exactly the same issue, BUT it just sounds familiar to some issues I've seen before. I've already cycled instance couple times. I even spun up a new one with data restored from backup.
As for the configuration file, it should be in the output I've posted couple

[2016-02-04 14:14] seiflotfy commented on #5538
Lets try this step by step. First backup all three files. Then delete on and see if it works, if not the next, etc...
Tell me if it changes anything?

[2016-02-04 14:19] zstyblik commented on #5538
@seiflotfy will do :)

[2016-02-04 14:19] rburchell opened #5540 "tsm on 0.9.6: Running out of memory when running a GROUP BY time(100ms)"
(InfluxDB starting, version 0.9.6.1, branch 0.9.6, commit 6d3a8603cfdaf1a141779ed88b093dcc5c528e5e)

I'm using the tsm engine, first up. I was using bz1 (the default at the time as I understand it), but it fell apart completely under the write load of this testing. tsm seems to do quite a bit better, but is OOMing at *read* time. At least it isn't corrupting the database like bz1 eventually did. T

[2016-02-04 14:21] rburchell commented on #5540
Worth noting that if I remove the GROUP BY, then performance is just fine.

[2016-02-04 14:29] seiflotfy commented on #5538
Replicated the error.
Upgrading from beta1 to beta2 somehow messed up something.
[code]

and
[code]

Will try to dig into it later!

[2016-02-04 14:29] zstyblik commented on #5538
@seiflotfy "cool" :)

[2016-02-04 14:32] zstyblik commented on #5538
Well, removing `raft.db` has fixed the issue. Downside is, everything is gone now. :) So that's really not a way to go.

[2016-02-04 14:33] seiflotfy commented on #5538
did you back it up?

[2016-02-04 14:36] zstyblik commented on #5538
Yeah, no worries. ;) I've spawned another instance with the data from backup and playing with it. Unfortunately, the server information is stored in `meta.00`, resp. `raft.db`. I don't know how to remove it. I'll try to restore from backup again. Turn the influxdb off and change ID to 1 in `node.json`. I'm not sure if that's going to help, though.

[2016-02-04 14:38] rossmcdonald commented on #5538
This looks like an upgrade issue that should have been resolved with 0.10.0-rc1. @zstyblik Was this server upgraded from 0.9?

Similar issues were seen with #5474. The solution for that ticket was to set the contents of your `node.json` file to `"ID":1`. I'd give that a shot, and let us know if the issues persist.

Oh and deleting `raft.db` will destroy the metastore, so I'd recommend against doin

[2016-02-04 14:43] rossmcdonald commented on #5528
@olivierHa Thanks for letting us know. The `reporting-disabled` variable should be global scope. I'll open an issue against the docs to make that more clear.

And the `snapshot` section was removed with 0.10.0, I believe. The docs are obviously outdated, so I'll open an issue for that as well.

When in doubt, use whatever is in the example configuration for the branch/version you are running. The

[2016-02-04 14:43] #5528 closed

[2016-02-04 14:43] zstyblik commented on #5538
Good to know! :)

@rossmcdonald no. Also:

So I guess it wasn't resolved completely?

@seiflotfy setting ID to 1 didn't help. InfluxDB really insists on two servers and its `ID:2` :(

[2016-02-04 14:52] rossmcdonald commented on #5538
@zstyblik Thanks. I'll try to see if I can reproduce with the beta1 to beta2 upgrade path.

[2016-02-04 14:56] rburchell commented on #5540
Also interesting (though perhaps a seperate issue) is that even if all my data is outside that 5 minute range, the GROUP BY still slows the query down massively, but it does eventually complete. Is filtering somehow not being applied before the GROUP BY?

[2016-02-04 15:01] seiflotfy commented on #5538
@rossmcdonald AFAICT this happens when upgrading from beta1 to beta2
upgrading from beta1 to anything above does not trigger the issue, just between beta1 and beta2

[2016-02-04 15:39] zstyblik commented on #5538
May be a good question to ask is - is this reparable? If not, then I'd like to throw away the data at the main instance. Thanks.

[2016-02-04 15:40] seiflotfy commented on #5538
I think its repairable if we fiddle around with what is in the raft.db. I am not sure though will look in a bit.

[2016-02-04 15:43] rossmcdonald commented on #5538
@zstyblik This should be repairable as long as the `raft.db` is in tact. Regarding:

Is it getting reset back to ID 2? Did you stop the service before you changed the ID? I've never seen it reset itself when manually changed.

[2016-02-04 15:46] zstyblik commented on #5538
@rossmcdonald no, but `SHOW SERVERS` still shows two nodes and the issue persists. Yes, the service has been stopped at that time.

[2016-02-04 15:48] seiflotfy commented on #5538
So after updating to master SHOW TAG KEYS FROM .... seems to work again
However still showing me the wrong 2 servers

[2016-02-04 15:52] zstyblik commented on #5538
Nope. I've tried it again, but it's no worky. :(

[2016-02-04 16:46] e-dard commented on #5540
If you run `show series` you should be able to see the measurement in question, and all the different keys (measurement and tag combinations) for it).

[2016-02-04 17:26] normanuber commented on #5521
The two reasons it must be executing are the only thing that would write to the retention policy is the continuous query and I got the large sql statement above from the logs. There are hardly any points in the retention policy meaning that it must be timing out/giving up/or whatever is happening that causes points not to show up. I'm absolutely sure this is can be replicated on your server.

[2016-02-04 18:15] rburchell commented on #5540
Ah, thanks. I had a bad tag which lead to an explosive number of series. I'm perplexed why that caused problems for the grouping on time, though.

[2016-02-04 18:24] e-dard commented on #5523
Yep. Looks like infinity is not being handled properly, and the result is being attempted to be marshalled into JSON.

[2016-02-04 19:12] normanuber commented on #5521
I decreased the rate of ingestion (10*2500) data points to see if these queries would be consistently executed and it appears not.

Here are log messages saying they are being executed:
[continuous_querier] 2016/02/04 18:47:18 executing continuous query ten_sec_res (2016-02-04 18:23:30 +0000 UTC to 2016-02-04 18:23:40 +0000 UTC)
[continuous_querier] 2016/02/04 18:49:30 executing continuous query t

[2016-02-04 20:02] mmoulton commented on #5397
Yes it has solved our problem for now. Over the last 7 days, this is our memory usage pattern:

![screen shot 2016-02-04 at 1 00 08 pm](https://cloud.githubusercontent.com/assets/571772/12827967/6924ddca-cb3f-11e5-819c-6b52c5419fcd.png)

I will close this issue now. Thanks for your help.

[2016-02-04 20:02] #5397 closed

[2016-02-04 20:31] jwilder commented on #5540
@rburchell I'd suggest trying 0.10.  There was a fix related to this type of query that might help.

[2016-02-04 20:42] rburchell commented on #5540
Thanks, I just noticed the release (by seeing the 0.9 docs start to say "this is outdated!") :). Assuming there's an update to the CentOS RPM, I'll give it a shot tomorrow.

[2016-02-04 21:13] normanuber commented on #5521
Okay, so my conclusion of timing out? Not exactly, why can we say it times out? The default retention policy is 1 hour for all points unless the points go to other policies, so CQs that request for points outside one hour will not return points.

Can we conclude it is lagging heavily? Yes, look below.

[continuous_querier] 2016/02/04 21:09:19 executing continuous query ten_sec_res (2016-02-04 19:3

[2016-02-04 21:47] rossmcdonald commented on #5421
Verified that this occurs on 0.10.0 as well.

[2016-02-04 23:10] normanuber opened #5543 "[0.10] SELECT ... ORDER BY time LIMIT N Behavior"
I am using 0.10 stable of influxdb.

Is it me or is the database supposed to ORDER by first and then LIMIT because what I feel like the database is doing is the reverse.

I ran this query which is fine:

SELECT sum(value) AS value FROM network."default".interfaces_input_bytes WHERE time >= '2016-02-04T22:10:00Z' AND time < '2016-02-04T22:15:00Z' GROUP BY time(1m), cluster, datacenter, host fill(pr

[2016-02-04 23:16] rossmcdonald commented on #5483
Duplicate of #4949, which should be fixed by #5130

[2016-02-04 23:16] #5483 closed

[2016-02-04 23:20] normanuber commented on #5543
Yes, you can use OFFSET 2, but that's what's expected by default when you transfer over from another sql language. Can we reach parity?

[2016-02-04 23:21] seiflotfy commented on #5523
I am getting something similar
[code]
I also think it has something to do with the JSON. Would returning a maxInt make sense?

[2016-02-04 23:42] jwilder commented on #5538
`beta2` had an upgrade issue that could cause this.

[2016-02-04 23:43] jwilder commented on #5538
You should not see this if upgrading from `0.9` to `0.10`.

[2016-02-05 00:12] normanuber opened #5544 "[0.10] CQ's Resample EVERY N FOR M not respected"
Just created this CQ to see if I could execute every 5 mins for the last 5mins of data using a group by time(1m) to get the latest counter values:

[code]
I don't think I would expect the log messages below (sample):

[code]

[2016-02-05 00:27] e-dard commented on #5523
Probably not, since the result of dividing by zero is undefined, while max int is very much a defined number. :)

I think an error would probably be more appropriate.

[2016-02-05 00:57] brumfb commented on #77
+1

[2016-02-05 00:59] ericwuseattle commented on #3967
@sudabon totally agree with you, I have the same issue on 0.9.6.1 version, that influxdb is holding about 3G memory output by debug/pprof/heap, and ps aux showing around 11G. It should be a memory leak issue, I do not believe it is a golang gc not returning the memory to system.

[2016-02-05 02:56] rominirani commented on #5359
+1

[2016-02-05 05:11] zstyblik commented on #5538
@jwilder it wasn't upgrade from 0.9.

[2016-02-05 09:42] robinsk opened #5545 "DROP SUBSCRIPTION query called on invalid retention policy corrupts database"
It seems like I accidentally corrupted the database by running a `DROP subscription` query while playing around with kapacitor.

- CentOS release 6.6 (Final), 2.6.32-504.16.2.el6.x86_64
- InfluxDB version 0.9.6.1-1 installed from yum

We installed kapacitor and started it with this config.

    [influxdb]
      # Connect to an InfluxDB cluster
      # Kapacitor can subscribe, query and write to th

[2016-02-05 09:42] rburchell commented on #5540
After removing the bad tag, performance seems quite acceptable, so I guess there isn't much point keeping this open as-is.

[2016-02-05 09:42] #5540 closed

[2016-02-05 11:15] robinsk commented on #5545
Cannot reproduce this in latest version (0.10.0).

[2016-02-05 12:13] groblus opened #5546 "[feature request] ORDER BY <field>(or <tag>) ASC"
Hi.
Is there any roadmap for being able to sort data with custom fields (not only time) ?

[2016-02-05 12:53] paulotfilho commented on #4155
+1

[2016-02-05 13:03] bicoco commented on #4155
+1

[2016-02-05 13:33] grvr commented on #5464
Is there a way to recover from this?

I'm experiencing the same as rossmcdonald's comment and am also unable to get the cluster to reform. This is making it unusable.

[2016-02-05 13:49] rossmcdonald commented on #5464
@grvr If you restart the nodes individually are they still unable to cluster properly? If so, can you paste the contents of the logs since the last restart?

[2016-02-05 14:17] goyalr41 opened #5547 "Rapid creation and drop of database leading to 404 database not found error."
During integration tests I am rapidly creating and dropping database plus also writing some points in it. With fresh install/restart of influxdb it works completely fine. But after some time it starts failing intermittently giving 404 error code which means database not found. But it still writes the data to the database. This is for the latest version 0.10.0. Any solutions for this?

I was also f

[2016-02-05 14:56] mark-rushakoff commented on #5547
I'm not familiar enough with the database internals to say whether rapidly creating and deleting a database with the same name is currently expected to work correctly.

As a workaround, could you try making a unique database per test? e.g.

[code]

[2016-02-05 14:58] rossmcdonald commented on #5546
This is a duplicate for #3954 (order by tags) and #4794 (order by aggregate fields). It doesn't look like either have been slated for a release yet, though.

[2016-02-05 14:58] #5546 closed

[2016-02-05 15:01] mark-rushakoff commented on #5523
Possible dupe of https://github.com/influxdata/influxdb/issues/5427.

[2016-02-05 15:03] groblus opened #5548 "[feature request] Querying only based on tag"
Hi. It just occurred to me that I cant get tag values using standard field syntax.
Typically i use :
`SELECT <field key> FROM <measurement>`
To do the same with tags (which are no more then indexed fields suppose) I have to :
`SHOW TAG VALUES FROM "measurement_name" WITH KEY = "tag_key"`
It gives more or less the same result (not including timestamp with tag values). Why can't we ask for tag value

[2016-02-05 15:12] rossmcdonald commented on #5548
@groblus I'm not sure I follow. You can query for tags just as you can with fields. For example:

[code]

`branch` and `cpu` are tags, and `usage_user` is a field. Is that what you mean?

[2016-02-05 15:16] e-dard commented on #5523
Closing as dupe of #5427

[2016-02-05 15:16] #5523 closed

[2016-02-05 15:30] seiflotfy commented on #513
I am looking through the right place in the code to implement it.
Also I am considering adding some new SQL statement like in Redshift: SELECT APPROXIMATE DISTINCT(COUNT(<field>)) ... Which implements a hyperloglog++. Should be faster

[2016-02-05 15:48] groblus commented on #5548
@rossmcdonald Try to make a query with only `cpu` - it won't work.
`Server returned error: statement must have at least one field in select clause`
 When you combine fields with tags in a query then it's ok.

[2016-02-05 17:03] rossmcdonald commented on #5548
@groblus Ah, got it. Thank you for clarifying. Regarding:

You can add a `GROUP BY <tag>` which will display all of the different tags, but you are right that it doesn't quite enable you to count the different tag values in an efficient manner. Regarding:

I'm not aware of a way to do that inside the query language, unfortunately. You can do something similar using a non-interactive query, though:

[2016-02-05 17:26] ralidousti opened #5549 "aggregate functions return 0"
version 0.10.0, stm, non-cluster mode
happens with all the aggregate functions:

[code]
while there is definitely non zero values in the data set:

[code]

[2016-02-05 18:04] mhiller commented on #77
+1

[2016-02-05 18:08] seiflotfy commented on #5502
I am working on this, these are my steps:
* [ ] implement validate on block in tsm1 reader
* [ ] expose to inspect_tool

[2016-02-05 18:22] seiflotfy commented on #5502
What is the expected behaviour here? https://github.com/influxdata/influxdb/blob/master/tsdb/engine/tsm1/reader.go#L910
Return error?

[2016-02-05 18:25] jwilder commented on #5502
@seiflotfy It should not validate there.  That `TODO` and others can be removed.  The `influx_inspect` tool should be able to _report_ the issue.

[2016-02-05 18:26] toddboom commented on #5502
Agreed. I think for now, the only goal is to have the tool run the verification. The database itself won't do any checksum enforcement yet.

[2016-02-05 18:27] seiflotfy commented on #5502
OK on it!

[2016-02-05 18:37] zstyblik commented on #5545
@robinsk can the issue be closed then?

[2016-02-05 18:37] zstyblik commented on #5538
If this issue is related only to beta1 and beta2, then I guess it can be closed.

[2016-02-05 18:53] jwilder commented on #5538
Closing since this is likely due to upgade issues that occurred with `beta2`.  If you see this in new installs of `0.10`, please re-open a new issue.

[2016-02-05 18:53] #5538 closed

[2016-02-05 20:30] pauldix commented on #3967
@ericwuseattle please test against 0.10.0, released yesterday. This is resolved in that release.

[2016-02-05 20:37] jwilder commented on #5481
This is a `bz1` storage engine issue and should be resolved by migrating old shards to `tsm` and upgrading to `0.10`.

[2016-02-05 20:37] #5481 closed

[2016-02-05 20:38] gabelev commented on #4098
Took care of tsdb/engine/wal.go and wal_test.go in PR#5550.

[2016-02-05 20:57] gerrickw commented on #5523
@e-dard If this is expected to return an error, could you give a proper solution of how I should generate a percent of two metrics without the query erroring out?  To me invalid response will be the same as an error as I will have no graph.  I am wanting to generate a percent between two metrics and currently I get no result as one point out of hundreds happen to have a zero in a graph.

Thanks,
G

[2016-02-05 21:31] pauldix commented on #4181
This is fixed in 0.10

[2016-02-05 21:31] #4181 closed

[2016-02-05 21:57] ChromoX opened #5553 "[0.11.0] Limit Queries Slow With GROUP BY"
`SELECT cpu_usage FROM cluster GROUP BY name ORDER BY time DESC LIMIT 1`

I feel like the above query is something relatively common to want out of a time series database. When I run this query it seems like it has to load every series in it's entirety before then limiting at 1. I have 3000 series in my DB and this query takes longer the more history my series have.

Another note is that it seems

[2016-02-05 22:05] ashb opened #5554 "Can't run in alpine linux - __vfprintf_chk: symbol not found/Static binary is dynamically linked"
I tried downloading the Standalone Binary v0.10 release and when I tried to run it you get odd behaviour:

[code]

Odd. `ldd` to the rescue:

[code]

I'm not sure if this is intended, but the static binary still links against libc?

This from my OSX machine:
[code]

A quick google reveal [Chromium Issue 572417 – PPAPI not compatible with musl libc on linux](https://code.google.com/p/chromium/issue

[2016-02-05 22:21] ashb commented on #5554
I found this post http://blog.hashbangbash.com/2014/04/linking-golang-statically/ which says that if anything is using cgo (which seems plausible) then you have to specify other flags to actually get a static binary out (reproduced here):

[code]

vs

[code]

[2016-02-05 22:49] #5473 closed

[2016-02-05 22:52] mjdesa opened #5555 "[0.11.0] Selecting from a series that doesn't exist causes panic"
I initially thought that selecting from a series that didn't exist caused the panic, but now I'm unsure if that is correct, however I can fairly consistently reproduce a panic by running `influx_stress` with this configuration

[code]

The panic is usually hit shortly after starting `influx_stress` and induces the panic

[code]

[full panic](https://gist.github.com/mjdesa/099e706ecbdb29df28b2)

[2016-02-05 23:08] mjdesa opened #5556 "[0.11.0] Select statements return odd results for some functions when series has a large number of points"
The following queries were ran against an instance with 1 series and 10 million points in that series. The series was generated with `influx_stress` with the configuration found in this gist.
[influx_stress config](https://gist.github.com/mjdesa/bdf3416da6989d5de51f)

Mean works just fine.
[code]

However,

[code]

[code]

[code]

[code]

[2016-02-05 23:24] mjdesa opened #5557 "[0.11.0] Mean returns very slowly when profiling against default influx_stress dataset"
Using a dataset generated by `influx_stress` with the [default configuration](https://github.com/influxdata/influxdb/blob/master/cmd/influx_stress/examples/template.toml).

Query: `SELECT mean(value) from cpu`

0.9.6
[code]

0.10.0
[code]

0.11.0
[code]

Additionally, memory consumption on the box where the query is running increases dramatically

![unspecified](https://cloud.githubusercontent.com

[2016-02-06 00:10] mjdesa commented on #438
@jessetan `derivative` isn't an aggregation. Please open an issue for the problem you've cited.

[2016-02-06 01:02] jordanbtucker commented on #1647
@beckettsean Is this still true? I just tried this, but now my row has both the original field and its value and the new field and its value. (i.e. `value = 12` and `ignore = True`.)

[2016-02-06 04:02] sseveran commented on #1920
It might be nice to make this more clear somewhere in the docs. Maybe it is and I never saw it. I spent a considerable amount of time thinking an app I was building was broken until I figured out that the telemetry was bad and I needed to move to nanosecond precision.

[2016-02-06 05:01] ivanscattergood opened #5558 "Restore from 0.9.5 to 0.9.6"
Hi

I have been sent a backup of a 0.9.5 database using the bz2 format.

I am trying to restore it to a fresh installation of 0.9.6-1 and getting the following error:

influxd restore -config /etc/influxdb/influxdb.conf solstats_ldn_qa_bkup.bz2
restore: unpack: next: entry=, err=manifest: manifest: idx=0, err=snapshot header: archive/tar: invalid tar header

Should I be able to restore from  0.9.5

[2016-02-06 09:22] zstyblik commented on #5556
@mjdesa I'm not sure if I'm seeing the same issue with v0.10.0 and Grafana, but what happens is that I run query like:

[code]

and what happens is that eg. values for one specific host are missing past, say, 2-3minutes on the "right side". But this could be issue with Telegraf or WAL.
Another issue I'm seeing is that values are missing on the "left" side. Almost like somehow no data would fit the

[2016-02-06 09:31] zstyblik commented on #5555
@mjdesa I can try to reproduce on Monday, because if ``selecting from a series that didn't exist caused the panic'' is true, then I should be able to reproduce it even with Telegraf and small set of data, shouldn't I?

[2016-02-06 09:42] zstyblik commented on #5523
@gerrickw wouldn't be possible to use CQs to pre-calculate `mean()` and then `... WHERE out_rate > 0 ...`?

[2016-02-06 10:19] jonaz opened #5559 "[0.10.0] subscriber write udp connection refused ?"
Version: InfluxDB v0.10.0 (git: 0.10.0 b8bb32ecad9808ef00219e7d2469514890a0987a, built 2016-02-04T17:06:04.850564)

Why am i seeing write udp connection refused in the logs?

[code]

I have 2 applications writing into influxdb. One is telegraf and the other is
https://github.com/stampzilla/stampzilla-go/blob/master/nodes/stampzilla-server/influxdb.go

I migrated to client-v2 for my own application

[2016-02-06 10:49] Guibod commented on #3880
+ 1
Anybody as a solution to count my hosts in Grafana through Influxdb query language ?

[2016-02-06 10:55] nsteinmetz opened #5560 "[0.10.0] Unable to build on arm (rpi2)"
Hi,

I used to build ARM version of influxdb for a few versions as [described on my blog](https://nicolas.steinmetz.fr/blog/post/InfluxDB-0.9.3-sur-un-RaspberriPy)  and it worked so far.

But doing the same with 0.10.0 or following [your build instructions](https://github.com/influxdata/influxdb/blob/master/CONTRIBUTING.md#getting-the-source), it fails with:

[code]

Any idea on why it fails ?

Th

[2016-02-06 10:56] nsteinmetz commented on #5112
Also interested as I have some build issues with 0.10.0 as described in #5560

[2016-02-06 12:32] hoomanv commented on #5404
Could it be related to having a few null ```queueLength``` fields?
It happens for ```waitTime``` field as well

[2016-02-06 13:59] MikaelGRA opened #5563 "[0.10.0] HTTP API error response inconsistencies"
Hello,

Since 0.10.0 it seems to be difficult to differentiate between error responses and successfully responses, as long as the query being executed itself, is not malformed.

For example, when I execute the following two queries:

[code]

The first one is successful, as expected. However, the second one is as well, and the response is the exact same, so there is no way of knowing that it actual

[2016-02-06 17:54] pauldix commented on #1920
We won't be doing this feature. Timestamps can go down to the nanosecond and writers should specify them. If the timestamp is the same, then the values in the write will be updated.

Values not specified in the write won't be touched. So if you write a value for field `foo` and then later write a value with the same measurement, tagset, and timestamp for field `bar`, you'd have values for both at

[2016-02-06 17:54] #1920 closed

[2016-02-06 19:33] tpitale opened #5564 "UDP precision?"
In past versions the default (and only precision) was `s` for the UDP service. At the very least, could it be made part of the configuration, even if we can't set it in the (nonexistent) query string?

I can attempt a PR if that is helpful.

[2016-02-07 00:41] seiflotfy opened #5566 "Logic of (f *fileAccessor) readBytes and (f *fileAccessor) readAll(key string) broken"
While trying to implement the block checksum validation issue https://github.com/influxdata/influxdb/issues/5502 I encountered a problem with fileAccessor in
https://github.com/influxdata/influxdb/blob/master/tsdb/engine/tsm1/reader.go

Adding the following UnitTests to tsdb/engine/tsm1/reader_test.go
[code]
will trigger errors
https://github.com/influxdata/influxdb/blob/master/tsdb/engine/tsm1/re

[2016-02-07 12:28] nivin commented on #5359
+1
Version: recent
Clustering: low priority
Other TICK components: low priority

[2016-02-07 15:19] ivanscattergood commented on #5558
This was due to a corrupt file.

I have managed to restore the database by taking a copy of the data directory.

And it works with 0.10.

[2016-02-07 15:19] #5558 closed

[2016-02-07 15:22] ivanscattergood opened #5567 "[0.10.0] Alias doesn't work when used with GROUP BY *"
Hi,

I am trying to alias a column name and it doesn't work unless I use a function.

Select "max-disk-usage" as "value" from "SYSTEM_MSG-SPOOL" WHERE  time >= '2016-01-13 15:07:35.326' and time < '2016-02-07 15:07:35.326' GROUP BY * limit 1
name: SYSTEM_MSG-SPOOL
tags: ROUTER_NAME=sol-ldn-qagc2
time                    max-disk-usage
----                    --------------
1454666402940000000     5

[2016-02-07 15:53] amancevice opened #5568 "Question about data distribution"
I have a data set that I can distribute one of two ways: A small number of measurements each with a large number of series, or a greater number of measurements with a smaller set of series in each. Are there any tradeoffs to each methodology?

If the data is distributed as a small number of measurements, I would expect users to query a large number of series from one or more measurements at once u

[2016-02-07 22:07] robinsk commented on #5545
I guess. Though it would be interesting to know if there is a way to get the data out and use in a new db. It seems the data is intact, because the new upgrade util didn't fail, but the server fails starting when replaying a `drop subscription` statement. It's weird that the statement didn't fail in a fresh 0.10.0 install, but it was there for the upgraded database, with a slightly different stack

[2016-02-08 05:28] goyalr41 commented on #5547
Ok thanks this is working but what is the problem with having same name of the database? And why it corrupts other databases as well? Is this something related to corrupting the metastore?

[2016-02-08 07:28] seiflotfy commented on #5555
I can't replicate :(
What version of influx are you using. I am on master and according to the stacktrace the error is on line 388:
[code]
which says

[code]

[2016-02-08 08:01] zstyblik commented on #5555
I've tried to run the query against the data we have and no luck with crashing the instance.

[2016-02-08 09:40] jessetan opened #5571 "Unable to perform math on derivative"
This works:
[code]

This does *not* work:
[code]

Seems similar to #4849
Observed on InfluxDB 0.9.6.1 running on Centos 7.2.

[2016-02-08 09:41] jessetan commented on #438
Thanks @mjdesa, opened #5571

[2016-02-08 10:00] Falc commented on #3994
Any news on this issue?

[2016-02-08 10:44] e-dard commented on #5531
I think this is a good idea.

This tool would also partly enable a simple streaming migration from one host to another with `influx_inspect dump ... | ssh user@other 'influx -import ...'`

[2016-02-08 11:56] markusr commented on #5244
I have the same problem under Ubuntu 14.04.

My influx version is:
`version 0.10.0, branch 0.10.0, commit b8bb32ecad9808ef00219e7d2469514890a0987a, built 2016-02-04T17:06:04.850564`

I can provide a log file if needed.

[2016-02-08 14:24] e-dard opened #5573 "[0.10.0] DROP MEASUREMENT only drop measurement from single node"
In a fully replicated 3-node cluster (default configuration settings), `DROP MEASUREMENT cpu` only drops the measurement from the node that the query executed on.

[code]

[2016-02-08 14:49] rossmcdonald commented on #5244
@markusr Thanks, could you send us the logs as well?

[2016-02-08 15:19] rossmcdonald commented on #5567
@ivanscattergood What version of InfluxDB and operating system/distribution are you using?

[2016-02-08 15:37] e-dard opened #5574 "[0.10.0] CREATE CONTINUOUS QUERY causes lease conflicts in cluster"
When repeating this in a one-node cluster, I don't see these lease conflict issues.

When running a 3-node fully replicated (default settings) cluster, I get conflict responses in the logs of
the node where the `CREATE CONTINUOUS QUERY` was run, since another node (`n2`) has acquired the lease on the continuous query, and is running them.

[code]

According to the logs, at this point `n2` actually

[2016-02-08 15:59] markusr commented on #5244
I think I hit another bug / problem. After going through the log file I found:
`[retention] 2016/02/08 13:01:17 retention policy shard deletion check commencing`
`[retention] 2016/02/08 13:01:18 failed to delete shard ID 556 from database _internal, retention policy monitor: remove /var/lib/influxdb/data/_internal/monitor/556/000000001-000000001.tsm: permission denied
`

I converted the shards yes

[2016-02-08 16:11] ivanscattergood commented on #5567
[root@influx ~]# uname -a
Linux influx.bdit 2.6.32-504.el6.x86_64 #1 SMP Wed Oct 15 04:27:16 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

[root@influx ~]# influx
Visit https://enterprise.influxdata.com to register for updates, InfluxDB server management, and monitoring.
Connected to http://localhost:8086 version 0.10.0
InfluxDB shell 0.10.0

[2016-02-08 16:28] sseveran commented on #1920
@pauldix The only suggestion I have is to make more clear in the docs. For instance in the 0.9 Schema Design docs there is no mention that (tags,timestamp) is the primary key. The mental model I had of InfluxDB was that it would just record each event that I sent it without checking the existence of or overwriting previous. Thats not the case and thats fine. I do think that this could be spelled o

[2016-02-08 16:41] djMax opened #5576 "Parser can't handle various keywords"
I have a data set that has a tag named "duration". I can select * fine:

[code]

shows duration just fine. But I can't ask for it:

[code]

[code]

If that's not a valid tag it should not allow me to create a bazillion points with it. :)

[2016-02-08 16:43] #5566 closed

[2016-02-08 16:50] jwilder commented on #5576
@djMax `duration` is a keyword.  You need to surround it with double-quotes in this case.

[code]

See: https://docs.influxdata.com/influxdb/v0.10/query_language/data_exploration/

[2016-02-08 16:50] #5576 closed

[2016-02-08 17:15] djMax commented on #5576
Ah - single quote didn't work but indeed double quote does. Thanks.

[2016-02-08 17:18] groblus opened #5577 "[0.10.0] Unable to drop corrupted series using WHERE statement."
I'm trying do flush some wrong data from my measurements. I'm trying to use :
`DROP SERIES FROM "net" where "bytes_recv"=0`
Problem is that:
`Server returned error: DROP SERIES doesn't support fields in WHERE clause`
How can I flush some wrong data from my measurement - I don't want to drop my measurement, but only remove some wrong data that got pumped by telegraf. Is it possible ?

[2016-02-08 17:29] djMax opened #5578 "Modeling downsampling for complex data sets"
I'm trying to understand how I'm supposed to downsample some data. I have a list of payment attempts. The values are an amount and the duration the request took to process. Tags include the currency, the data center, the error code (or none) and the type of payment (e.g. cash, credit card, check). In the end, I would like a measurement that has some time period (say 10 minutes) and sum(amount), su

[2016-02-08 17:51] mjdesa commented on #5555
@seiflotfy @zstyblik The build was against the branch for this PR https://github.com/influxdata/influxdb/pull/5196

[2016-02-08 17:51] jwilder commented on #4880
Looks like #5562 may address this.

[2016-02-08 17:58] mjdesa commented on #5556
@zstyblik with the `0.11.0` release we've been rewriting our query engine. I believe the issues I'm seeing were introduced in the branch for this https://github.com/influxdata/influxdb/pull/5196 PR.

[2016-02-08 18:06] benbjohnson commented on #5555
@mjdesa Can you try with this commit? https://github.com/benbjohnson/influxdb/pull/24

[2016-02-08 18:07] mjdesa commented on #5568
@amancevice this is neither a bug report or a feature request please ask your question on the mailing list. https://groups.google.com/forum/#!forum/influxdb

[2016-02-08 18:07] #5568 closed

[2016-02-08 18:13] mjdesa commented on #5577
@groblus what version are you using?

[2016-02-08 18:39] mjdesa commented on #5578
@djMax this is neither a bug report or a feature request. Please ask your question on the mailing list. https://groups.google.com/forum/#!forum/influxdb

[2016-02-08 18:39] #5578 closed

[2016-02-08 19:01] rossmcdonald commented on #5560
@nsteinmetz What is the output of a `go install ./...`?

You might also want to try the `build.py` script. Just running `./build.py --package` should give you similar results to the `package.sh` script (by default, output goes to `./build/`).

[2016-02-08 19:07] rossmcdonald commented on #5559
@jonaz Can you paste the output to a `SHOW SUBSCRIPTIONS` run in InfluxDB?

[2016-02-08 19:22] e-dard opened #5579 "[0.10.0] SHOW FIELD KEYS only shows field keys from certain nodes"
When using a 3-node cluster with a replication factor of `1`, some nodes do not appear to be consulting all nodes for field keys.

Node 1:
[code]

Node 2 (after all commands on node 1 have executed):

[code]

Node 3 (after all commands on node 1 have executed):
[code]

[2016-02-08 19:39] e-dard opened #5580 "[0.10.0] SHOW SERIES only shows series from certain nodes"
When using a 3-node cluster with a replication factor of 1, some nodes do not appear to be consulting all nodes for series information.

Node 1:

[code]

Node 2 (after all commands on node 1 completed):

[code]

Node 3 (after all commands on node 1 completed):

[code]

[2016-02-08 19:47] jwilder opened #5581 "Cluster Meta-Queries"
This issue is for tracking the overall status of meta-queries for clustering. A tick means the command has been manually tested on a local cluster.

A green tick means it works, or that there was an issue which has been resolved, a grey tick means there is an outstanding issue.

|Command|Checked|Issue?|Verified|
|---|---|---|---|
|`CREATE CONTINUOUS QUERY`|:white_check_mark:|https://github.com/inf

[2016-02-08 20:18] zstyblik commented on #5556
@mjdesa I see. Ok, moving on.

[2016-02-08 20:21] djMax commented on #5578
I think it's a polite request for "case/when" support, but ok.

[2016-02-08 20:27] jsternberg commented on #5556
@mjdesa this looks like a symptom of multi-shard queries not having been implemented yet. So each shard returned a count rather than an aggregated total.

Can you try it again with the latest in @benbjohnson's query-engine branch? We just merged support for multi-shard queries about an hour ago.

[2016-02-08 20:28] rossmcdonald commented on #4896
Closing due to new architectural changes with the clustering meta service. Please try recreating a cluster with version `0.10.0`, and create a new issue if you run into any problems.

[2016-02-08 20:28] #4896 closed

[2016-02-08 20:38] rossmcdonald opened #5583 "Allow for cluster healing"
In the event of a cluster node dying, provide a way for administrators to create a replacement of the lost node (with a full re-synchronization of any shards that were there originally).

[2016-02-08 20:40] rossmcdonald opened #5584 "Provide method for determining cluster synchronization status"
Provide a method or endpoint that displays the internal metrics about a cluster's internal synchronization process, such as:
- WAL replication
- General latency
- System load
- Percentage of data in/out of sync

As well as being able to refresh a status check, and force a re-synchronization.

[2016-02-08 20:54] jonaz commented on #5559
[code]

I have kapacitor installed but it is not enabled or configured. Accually never even started it.

[2016-02-08 21:00] jwilder commented on #5526
@kornpro Can you try `0.10`?  This code has change quite a bit in `0.10`.

[2016-02-08 21:03] jwilder commented on #5354
Closing this as this is the expected behavior with `0.9.6` and the `bz1` engine.  The write timeout issue related to `b1` and `bz1` engines has been fixed in `0.10` by using the `tsm` engine.

[2016-02-08 21:03] #5354 closed

[2016-02-08 21:11] jwilder commented on #5341
`1GB` of memory is likely not enough for the your dataset.  Increasing your RAM should avoid the `cannot allocate memory`.

The `fatal error: fault` panic is related to the `bz1` engine which is deprecated and replaced by the `tsm` engine in `0.10`.  Issues with the `bz1` engine will not be fixed as the solution is to upgrade to `0.10` and migrate shards  to `tsm` using the [conversion tool](https

[2016-02-08 21:11] #5341 closed

[2016-02-08 21:19] groblus commented on #5577
0.10 But I'm beginning to think that's a design flaw not a bug :(

pon., 8 lut 2016, 21:05 Michael Desa użytkownik <notifications@github.com>
napisał:

[2016-02-08 21:22] jwilder commented on #5315
Documentation page has been updated.  @malaakso Unforatunately, I think the only workaround at this point is upgrading to `0.10` and migrating your shards to `tsm` format using the [conversion tool](https://github.com/influxdata/influxdb/tree/master/cmd/influx_tsm).

[2016-02-08 21:22] #5315 closed

[2016-02-08 21:26] jwilder commented on #4189
Closing this since it pertains to `0.9.3` and `bz1` storage engine.  `0.9.3` is very old at this point and won't be fixed.  `bz1` engine is deprecated and replaced by the `tsm1` engine.  You can upgrade to `0.10` and convert your old shards to `tsm1` format using the [conversion tool](https://github.com/influxdata/influxdb/tree/master/cmd/influx_tsm)

[2016-02-08 21:26] #4189 closed

[2016-02-08 21:27] #4672 closed

[2016-02-08 21:30] jwilder commented on #4162
Not reproducible in `0.10`.

[2016-02-08 21:30] #4162 closed

[2016-02-08 21:35] jwilder commented on #4135
Closing as there is nothing actionable in this issue now.  The `bz1` and `b1` engines are deprecated and replaced by the `tsm1` engine in `0.10`.  These shards should be converted using the [conversion tool](https://github.com/influxdata/influxdb/tree/master/cmd/influx_tsm) when upgrading to `0.10`.  Any problems encountered should be logged as a new issue.

[2016-02-08 21:35] #4135 closed

[2016-02-08 21:36] mjdesa commented on #5578
@djMax sorry for the harshness of my previous reply. We've been trying to cut down a lot of the noise in our issues by removing closing anything that isn't a bug report or a feature request.

[2016-02-08 21:40] jwilder commented on #5307
@bigKS I'd suggest upgrading to `0.10` and converting your shards to `tsm1` using the [conversion tool](https://github.com/influxdata/influxdb/tree/master/cmd/influx_tsm).  The `bz1` engine is deprecated and won't be fixed going forward.

If you still encounter this issue with `0.10` and `tsm1` engine, please open a new issue.

[2016-02-08 21:40] #5307 closed

[2016-02-08 21:52] rossmcdonald commented on #5545
I've hit the same issue with `0.10.0`. Stack trace here:

[code]

When trying to restart the database, it crashes again (I'm assuming due to corruption):

[code]

[2016-02-08 21:55] mjdesa commented on #5556
@jsternberg every thing looks good to me.

[2016-02-08 21:56] jwilder commented on #5351
This should be fixed after #5196 is merged.

[2016-02-08 21:57] mjdesa commented on #5577
@groblus ah yeah, to my knowledge you cannot delete points based on fields.

[2016-02-08 22:02] rossmcdonald commented on #5545
@robinsk It looks like you ran the exact same command that I did. I think this is caused by a `DROP SUBSCRIPTION` command being called on an invalid RP. The only retention policy enabled on the `_internal` database (by default) is called `monitor`, not `default`. I've tested the equivalent:

[code]

Which works without issue. I've also tested this on a cluster, and it ends up corrupting every node

[2016-02-08 22:04] mjdesa commented on #5555
@benbjohnson seems like its fixed

[2016-02-08 22:14] rossmcdonald commented on #5559
@jonaz I believe that's the issue. Even though Kapacitor is not running, InfluxDB is still attempting to flush points to Kapacitor's UDP subscription socket which is causing the errors you are seeing. You should be able to run these queries to drop the subscriptions:

[code]

Though be __very__ careful to get the database and retention policies correct. There is an open issue around the `DROP SUBS

[2016-02-08 22:15] nsteinmetz commented on #5560
Hi,

At first, ``go install ./...`` returned nothing.

I had a space disk issue on my RPi ; so I restarted from scratch and then, I had:

[code]

Previously (ie when I submitted the bug), I think I add all dependencies resolved ; so maybe it was linked to the space issue but I didn't noticed it :-/

So doing ``build.py --package``:

[code]

But I can't upgrade my previous package :

[code]

it say

[2016-02-08 22:38] rossmcdonald commented on #5560
@nsteinmetz Ah, sorry, try running this instead:

[code]

The 'version does not start with a number' error will be fixed shortly. It will still break on RPM package step, but if you don't need RPM's then it can be ignored.

[2016-02-08 22:52] rossmcdonald commented on #5567
@ivanscattergood I'm unable to reproduce this issue with some sample Telegraf data on `0.10.0`:

[code]

So it may have something to do with your data or your environment. Is this a clustered setup, or single node? Would it be possible to provide us with sample data to reproduce on?

[2016-02-08 22:54] rossmcdonald commented on #5482
@coolcode Can you try upgrading to `0.10.0` and let us know if the issue persists? We have databases internally that are much larger than 80GB, so the size shouldn't be an issue.

[2016-02-08 22:54] ivanscattergood commented on #5567
Hi,
The Data was originally in 0.9.6 format, and it was an in-place upgrade, so that data might still be in BZ1 format.

Let me investigate further

[2016-02-08 22:58] jwilder commented on #5547
@goyalr41 Is this occurring with `0.10.0`?  Can you provide a script to reproduce the error?  When you say there is "corruption", what error are you seeing?

[2016-02-08 22:59] rossmcdonald commented on #5480
@2sbsbsb Those error messages mean that the cluster doesn't have an active leader, which can prevent writes and distributed queries from successfully completing. The `0.10.0` release has a re-architected clustering mechanism that should avoid issues like this.

Can you try upgrading and let us know if the issue persists? For the `0.10.0` upgrade you'll have to recreate your cluster. Documentation

[2016-02-08 23:00] rossmcdonald commented on #5462
Related to issue #5559

[2016-02-08 23:03] seiflotfy commented on #5557
I played with this a bit an noticed the the biggest time is spent inside
https://github.com/influxdata/influxdb/blob/bc312ceb14f5ef0d07f73a5113abfbdd8804f30a/tsdb/aggregate.go#L823
I'll see what I can do

[2016-02-08 23:05] rossmcdonald commented on #5332
@zstyblik Does this issue still occur with the latest nightly (or `0.10.0`)? It looks similar to an upgrade issue that we saw when the clustering service was pushed to master, so it may already be resolved.

[2016-02-08 23:05] steverweber commented on #5351
wow that's A pull request.

[2016-02-08 23:07] rossmcdonald commented on #5347
Closing in favor of #5388. We were waiting for the 0.10.0 release to resolve the import path issue, so this should be fixed soon.

[2016-02-08 23:07] #5347 closed

[2016-02-08 23:09] rossmcdonald commented on #5302
As previously mentioned, the `bz1` engine has been deprecated with the `0.10.0` release which uses `tsm` as the default storage engine. Please try upgrading to `0.10.0` and create a new issue if you run into any problems.

[2016-02-08 23:09] #5302 closed

[2016-02-08 23:11] rossmcdonald commented on #5567
Ah, okay. You may want to try converting the shards using the [influx_tsm](https://github.com/influxdata/influxdb/tree/master/cmd/influx_tsm#converting-b1-and-bz1-shards-to-tsm1) conversion tool and see if the problem persists.

[2016-02-08 23:12] jwilder commented on #5564
Fixed via #5565

[2016-02-08 23:12] #5564 closed

[2016-02-08 23:18] jwilder commented on #5563
The behavior seems to have changed from `0.9.6` to `0.10.0`, but I don't think it was intentional.

`0.9.6` returned:
[code]

@corylanou @dgnorton

[2016-02-08 23:22] jwilder commented on #5534
@bischofs Can you provide some sample line protocol formatted strings that you are inserting?  I don't understand how the CSV data you attached translates to tags and fields.

[2016-02-08 23:31] jwilder commented on #5400
Backup and restore unfortunately does not work in `0.9.6` with `bz1` engine.  `0.10.0` fixed this to work with `tsm1` shards.  You'll need to upgrade to `0.10.0` and convert your shards using the [conversion tool](https://github.com/influxdata/influxdb/tree/master/cmd/influx_tsm).

As a work-around, you can make a copy of your whole `/var/lib/influxdb` dir and restore that.

[2016-02-08 23:31] #5400 closed

[2016-02-08 23:34] jwilder commented on #5399
Panic looks similar to #5303.

[2016-02-08 23:49] jwilder commented on #5408
I'm not sure what this issue is referring to as there is not enough context provided in the description.

Please take a look at [contributing bug reports](https://github.com/influxdata/influxdb/blob/master/CONTRIBUTING.md#bug-reports) and provide more context to help us understand this issue better.

[2016-02-08 23:51] jwilder commented on #5389
Yes. This is the expected behavior.  In the future, questions like this are better suited for the [mailing group](https://groups.google.com/forum/#!forum/influxdb).

[2016-02-08 23:51] #5389 closed

[2016-02-09 00:04] gunnaraasen commented on #5557
@seiflotfy There's a new query engine in the works (PR https://github.com/influxdata/influxdb/pull/5196). It should be merged in the next few days, but all query engine work should be done on that branch for now.

[2016-02-09 00:44] jgerschk opened #5585 "Cluster Setup"
Working on testing some cluster setups for our environment and having a hard time understanding why I only see one data_node when doing show servers

I see three meta_nodes

name: data_nodes
----------------
id      http_addr       tcp_addr
1       localhost:8086  172.18.48.54:8088

name: meta_nodes
----------------
id      http_addr               tcp_addr
1       172.18.48.54:8091       172.18.48

[2016-02-09 01:36] gerrickw commented on #5523
@e-dard @zstyblik That would be slightly crazy having hundreds of measurement CQs for the only purpose of dividing two fields... Is erroring out a request really expected?  Possibly another solution could be following what the fill result should be fill(none), fill(0), fill(null), etc?  If the denominator is zero, and fill is zero it becomes zero for that point, null is null, etc?

[2016-02-09 03:23] rossmcdonald commented on #5585
@jgerschk I believe the issue is that the data `http` address is using `localhost:8086` as the bind address, which is confusing the meta-service (since I'm assuming all of the servers are reporting themselves as `localhost`). In your configuration, can you try setting the http bind address explicitly? For example, on the node you pasted above, this would look like:

[code]

[2016-02-09 03:37] jgerschk commented on #5585
@rossmcdonald I think you are right.  The docs are not clear here.

It seems like within the [http] section you need to modify those values for the bind-address as well as within the [meta] section.

so basically I removed everything.  modified the configuration for each to read like the config in examples in #5461

So basically I have now

[meta]
 bind-address = "host01:8088"
 http-bind-address =

[2016-02-09 06:03] groblus commented on #5577
So there is no way of deleting corrupt data, except dropinh the whole measurement?

[2016-02-09 06:57] nsteinmetz commented on #5560
Hi @rossmcdonald,

Almost:

[code]

It says that package arch (arm) does not fit system arch (armhf)

If I try with ``--arch=armhf``, it fails:

[code]

[2016-02-09 07:12] jonaz commented on #5559
I can live with those error messages instead of risking corrupting the database. Will check again when #5545 is fixed.

[2016-02-09 07:49] #5408 closed

[2016-02-09 08:38] ivanscattergood commented on #5567
Cool, thanks for the help @rossmcdonald

[2016-02-09 09:59] zstyblik commented on #5332
@rossmcdonald I'm not seeing this issue any more with v0.10.0-stable. Closing.

[2016-02-09 09:59] #5332 closed

[2016-02-09 10:55] markusr commented on #5560
@nsteinmetz
Can you try with:
`./build.py --package --version=0.10.1 --arch=arm --pkgarch=armhf`

[2016-02-09 11:02] gopalakrishnan-subramani opened #5587 "Question: Limiting the size of memory use"
Wanted to know how to limit size of the RAM influxdb can use, then it start using Memory Mapped IO (disk) for additional space? We have huge data set, but users shall be running influxdb in limited capacity laptops.

[2016-02-09 12:06] xiii commented on #5585
@jgerschk I just had the same confusion too!

[2016-02-09 12:20] jurijshevtsov opened #5588 "Expansion function capabilities TOP"
There is evidence
[code]

It lacks the ability to display the value of the maximum values for "session" time_nginx
(не хватает возможности вывести значение сессии для максимальных значений time_nginx)
[code]

[2016-02-09 12:30] forcie opened #5589 "Question: can't start influxd v0.10.0 on rasp B2 - madvise"
Hi,

I can't seem to be able to start influxd freshly compiled on a Raspberry PI 2.
I get the following error:
run: open server: open meta service: raft: new bolt store: madvise: function not implemented
(Full output here: http://pastebin.com/yUGum3Y6)

Am I missing something?
Any advise appreciated. Thanks

[2016-02-09 12:34] zstyblik commented on #5567
@rossmcdonald please, can you give it another look? I'm able to reproduce this with v0.10.0 stable. The `GROUP BY *` is important part of the query.

[code]

[2016-02-09 12:37] netixen commented on #5585
This behaviour is new with 0.10.x.
Right now if you want your cluster to interconnect through a private network while still having the data node http api exposed to a public network, You will have to start the cluster with the [http] bind-address set to a private net ip, then once the cluster is connected bring it down and switch the [http] bind-address to a public ip.

[2016-02-09 13:17] hoomanv commented on #5404
@rossmcdonald @benbjohnson
I figured that combination of ```min``` and ```count``` together will reproduce the problem.

[2016-02-09 13:24] rossmcdonald commented on #5589
@forcie From your output it says it was compiled on `2015-12-31T01:11:17+0000`. Can you try compiling from master again?

You can compile for ARM using the `build.py` script:

[code]

[2016-02-09 13:25] rossmcdonald commented on #5559
Not a problem. I'm going to go ahead and close out this issue since we know the cause of the messages.

[2016-02-09 13:25] #5559 closed

[2016-02-09 13:28] rossmcdonald commented on #5567
@zstyblik Good catch. It does seem that the `GROUP BY` is the cause:

[code]

[2016-02-09 13:30] rossmcdonald commented on #5567
It's important to note that this issue occurs only when being used with `GROUP BY *`. I'm also not 100% sure if `GROUP BY *` is supposed to support aliasing, but it should be documented either way.

[2016-02-09 13:35] forcie commented on #5589
Thanks rossmcdonald for your answer,
That's not the output I meant to pass as reference, but I did attempt to install a package compiled in December.
Today I rebuilt influxd and I get exactly the same error:
[code]

[2016-02-09 13:38] e-dard opened #5591 "[0.10.0] SHOW TAG KEYS doesn't work on partially-replicated cluster"
`SHOW TAG KEYS` does not work correctly when running on a partially replicated cluster. I've tested this on a 3-node cluster with a replication factor of 1.

Weirdly, even the node with the shard on it isn't able to return the tag keys.

Node 1:

[code]

Node 2 (after all commands on node 1 have completed):

[code]

Node 3 (after all commands on node 1 have completed):
[code]

Logs attached (no pa

[2016-02-09 13:42] rossmcdonald commented on #5587
@gopalakrishnan-subramani There is currently no method for controlling InfluxDB's memory usage. Running out of memory is a pretty common issue when using expensive queries, so I'd recommend your users exercise caution when attempting to query results over a large dataset.

That being said, the `tsm` storage engine (default with `0.10.0`) is extremely memory efficient, and we have been seeing much

[2016-02-09 13:42] #5587 closed

[2016-02-09 13:46] rossmcdonald commented on #5589
@forcie Ah, thanks. I can't say I've ever seen that message before. Did you compile InfluxDB with the `build.py` script? If so, can you paste the output?

[2016-02-09 13:46] oldmantaiter opened #5592 "[0.10] Lease redirect issues (CQ)"
When a node has to redirect to a new leader for a lease, it does not to include the name/node_id fields in the redirect.

eg.

[code]

This is causing CQ to fail to execute as hitting `/lease` results in a 400 because of the missing params.

I can start work on a PR, or provide more information if I am potentially looking in the wrong place.

[2016-02-09 13:50] rossmcdonald commented on #5588
@jurijshevtsov I'm not sure I follow. The results look correct to me. Can you provide another example of the issue?

[2016-02-09 13:51] e-dard opened #5593 "[0.10.0] SHOW TAG VALUES does not work on cluster"
`SHOW TAG VALUES` does not return the correct results from all nodes in a fully replicated cluster (default config values).

Node 1:

[code]

Node 2 (after all commands on node 1 have completed):

[code]

Node 3 (after all commands on node 1 have completed):

[code]

[2016-02-09 14:05] forcie commented on #5589
I first tried `package.sh` but ran into trouble. `build.py` seemed to have done the trick though:
[code]
As you can see it ends with an error regarding rpmbuild that I don't have. However the deb package is already in the folder `build` so I figured it was not too important.

[2016-02-09 14:11] jurijshevtsov commented on #5588
TOP command values are displayed correctly. But I get only the maximum values "time_nginx" parameter. To find the log files do I need to know the value of the parameter "session". Is it possible to modify the function top so she could return to the value of "session"?

(Значения команды ТОP отображаются верно. Но я получаю только максимальные значения параметра "time_nginx" . Для нахождения логов

[2016-02-09 14:11] rossmcdonald commented on #5589
@forcie That's correct. As long as you don't need the RPM, then you can ignore that last error.

Is `influxd` starting correctly now? Or are you still seeing that error?

[2016-02-09 14:44] forcie commented on #5589
@rossmcdonald thank you very much for following up again. Unfortunately, however the way I try to start `influxd`, I keep getting the same error:
[code]

[2016-02-09 14:53] rossmcdonald commented on #5589
@benbjohnson Have you seen the error above before? It mentions both bolt and raft, so I'm not sure which is the cause.

[2016-02-09 14:55] seiflotfy commented on #5557
@gunnaraasen thanks looking into it more, since its even slower on that branch

[2016-02-09 15:04] forcie commented on #5589
@rossmcdonald Truth is I'm new with Go and InfluxDB. It's the first time I try to use these tools. I have thus never seen these errors but then again I have no experience with InfluxDB.
Do you think I could be missing requirements and need to install "raft" or "bolt"?

[2016-02-09 15:12] rossmcdonald commented on #5589
@forcie It's possible, though I think a missing dependency should have stopped you from building the binary at all. Can you try the same build command as before, except adding a `--update`?

[code]

That should update the Go dependencies in case they were outdated.

[2016-02-09 15:21] e-dard commented on #5523
@gerrickw typically you would use something like `HAVING` to filter out aggregations that don't meet certain requirements. Unfortunately Influx doesn't support that yet.

Erroring out does seem like the right thing to do, and many other DBs won't let you get a result from dividing by zero.

I think currently your best bet might be to create the CQs for your means, and then select from those result

[2016-02-09 15:23] #5592 closed

[2016-02-09 15:52] rossmcdonald commented on #5585
It looks like the issue has been fixed from the docs side with this PR (merged already):

https://github.com/influxdata/docs.influxdata.com/pull/215

The update is not live yet, though, but should be updated later today. Regarding:

Unfortunately not that I'm aware of. I've created this issue:

https://github.com/influxdata/docs.influxdata.com/issues/220

So that we can track having one added, tho

[2016-02-09 15:52] #5585 closed

[2016-02-09 15:52] forcie commented on #5589
I ran the command as instructed. This time I received "unrecognized import path" errors that might be due to my rather messed up paths:
http://pastebin.com/1kN1riL7

[2016-02-09 15:54] brettdh commented on #5567
I can reproduce this (or something very much like it) without `GROUP BY *`:

[code]

Expected same data when filtering using the alias; got none. This db has been using tsm1 from the start.

[2016-02-09 15:56] groblus opened #5597 "[0.10.0] Using top or bottom function in queries truncates shown data."
I have a query:

`SELECT <field1>,<field1>,<tag1>,<tag2> FROM <measure>`

It works as expected. Then I try to use some functions like top() or bottom().

`SELECT top(<field1>,5),<field1>,<tag1>,<tag2> FROM <measure>`

And magic happens - I get top 5 values of <field1> but something truncates data, because only first "columns" have values. Changing order of data queried changes which fields data is

[2016-02-09 15:56] rossmcdonald commented on #4957
Still occurs on `0.10.0`:

[code]

[2016-02-09 16:07] rossmcdonald commented on #5597
I think it has to do with the second field reference in the query. Just referencing `top()` and tags returns the correct results (at least for me):

[code]

While adding the second field throws it off:

[code]

[2016-02-09 16:09] rossmcdonald commented on #5597
Not sure if this is supposed to be supported. This is also very similar to #5588.

/cc @jsternberg

[2016-02-09 16:09] zstyblik commented on #5567
@brettdh @rossmcdonald so, it might be `LIMIT X` then. I haven't really tried that hard, but I know that the part after `GROUP BY` made it reproducible.

[2016-02-09 16:13] rossmcdonald commented on #5589
@forcie Yes, your `GOPATH` must be under where the InfluxDB repository is located. For example, if you have InfluxDB cloned to `/home/forcie/go/src/github.com/influxdb/influxdb`, then your `GOPATH` must be set to `export GOPATH=/home/forcie/go`.

There is some documentation on this [here](https://github.com/influxdata/influxdb/blob/master/CONTRIBUTING.md#cloning-a-fork).

[2016-02-09 16:13] brettdh commented on #5567
I believe the no-results behavior also occurs if I remove the limit. I will
double check in a little bit.
On Tue, Feb 9, 2016 at 11:10 AM Zdenek Styblik <notifications@github.com>
wrote:

[2016-02-09 16:13] schlunz opened #5599 "[0.10.0] InfluxDB refuses to listen on some ports"
Today I have stored 3.2gb of journalctl logs into InfluxDB. After the transfer was finished the db seems to have some **performance problems**.

- when I start/restart influxdb it takes a while until it listen on port _8083_ / _8086_ and cuts up the connection after queries were send out
- ` SELECT` queries entered via the InfluxDB shell / web admin interface never return a result

I am using vers

[2016-02-09 16:15] rossmcdonald commented on #5599
@schlunz Can you provide the logs from when these issues are occurring?

[2016-02-09 16:29] forcie commented on #5589
@rossmcdonald I followed your advise and fixed the inconsistencies:
InfluxDB cloned to `/home/forcie/.gvm/pkgsets/go1.4.3/global/src/github.com/influxdb/influxdb`
`GOPATH` is `/home/jean/.gvm/pkgsets/go1.4.3/global`
I then ran this exact command `./build.py --package --update --version=0.10.1 --arch=arm --pkgarch=armhf`
It went all the way to the deb packaging with success.
Unfortunately it did no

[2016-02-09 16:31] jsternberg commented on #5597
@rossmcdonald to my knowledge this should be supported.

This works in the new query engine slated to come out in 0.11. The value for the top column should be the field value you select so you don't need the second field reference.

[2016-02-09 16:47] rossmcdonald commented on #5597
@jsternberg Okay, great. Does the same apply to #5588?

[2016-02-09 16:52] jsternberg commented on #5588
This should be possible now or, if it isn't, will be available in 0.11 with the release of the new query engine.

[2016-02-09 16:57] jsternberg commented on #5597
Yep, it does. I commented on that issue.

[2016-02-09 16:58] groblus commented on #5597
@rossmcdonald @jsternberg
Let me get this straight -> using top() allows me to have only one field in my query as of 0.10.0 ?
I made some checks and it turns out that I can have many tags columns and they are shown correctly but only one field column because those fields values are empty.
I still think that it should be considered a bug since having a additional field in query invalidates output -

[2016-02-09 17:01] jsternberg commented on #5597
@groblus it is definitely a bug. I was just confirming that the behavior you expect is the one that should be happening. The behavior you are getting isn't working as intentioned. If you only need one field column though, you can work around it until we get the proper fix in.

[2016-02-09 17:04] groblus commented on #5597
@jsternberg Not a showstopper for me for now - I can wait for some working nightly. I'm currently evaluating influx for a project which is not a typical time based data scenario so I'm ready to get things broken a little.

[2016-02-09 17:10] groblus commented on #3954
+1
plus order by <field>

[2016-02-09 17:12] groblus commented on #4794
+1

[2016-02-09 17:17] jsternberg commented on #5555
Closing this since it seems to be fixed in the query engine branch.

[2016-02-09 17:17] #5555 closed

[2016-02-09 17:17] jsternberg commented on #5556
Confirmed that this works now.

[2016-02-09 17:17] #5556 closed

[2016-02-09 18:30] seiflotfy commented on #5557
Ok I think I got a fix for this. No promises though. Hopefully up later tomorrow

[2016-02-09 18:58] mjdesa commented on #5577
@groblus at the moment we only allow dropping series using tags.

[2016-02-09 19:22] goyalr41 commented on #5547
Yup this is occurring with 0.10.0. There is no fix script to make this error appear. Just rapid creation and deletion of the same database leads to it. So, it still writes to the database but throws 404 or 500 status code.
By corruption I mean for the other databases in influxdb which are not used for testing (were only created once), writing to database is successful (point is getting inserted in

[2016-02-09 19:29] beckettsean commented on #1647
@jordanbtucker with 0.10 it is no longer possible to overwrite the field set of a point. The database stores the union of the two field sets, with any duplicates taking the value from the most recently written point.

[2016-02-09 19:38] beckettsean commented on #3994
@Falc the database will not accept `NaN` as a numeric value. If you have a system where `NaN` snuck in via one of the plugins before the loophole was closed, you need to explicitly overwrite that point with a different value or even a different field set.

There is an open feature request for `NaN` support: https://github.com/influxdata/influxdb/issues/4089

[2016-02-09 19:39] markusr commented on #5589
Maybe it is a problem with ARMv6 and ARMv7.
Can you try:
`./build.py --arch=arm --pkgarch=armhf --goarm=7 --platform=linux --version=0.10.1 --package --clean`

[2016-02-09 19:43] jwilder commented on #5232
This is an issue with the `bz1` storage engine. That engine is deprecated and has been replaced by the `tsm1` engine in `0.10.0`.  There is a [conversion tool](https://github.com/influxdata/influxdb/tree/master/cmd/influx_tsm) that you can use to convert your shards in `bz1` format to `tsm1` when upgrading to `0.10.0.`.

[2016-02-09 19:43] #5232 closed

[2016-02-09 19:49] jwilder commented on #5161
This looks like you've hit some kind of deadlock in the subscriber service.  You could try disabling the subscriber service in your config if it is enabled via:

[code]

I would also suggest upgrading to `0.10.0` since the code that it is deadlocking on has changed significantly since then.

[2016-02-09 19:54] jwilder commented on #4669
This is an issue with the `b1` and `bz1` storage engines. Those engine are deprecated and have been replaced by the `tsm1` engine in `0.10.0`.  There is a [conversion tool](https://github.com/influxdata/influxdb/tree/master/cmd/influx_tsm) that you can use to convert your shards in `b1` and `bz1` format to `tsm1` when upgrading to `0.10.0.`.

If you see this error with the `tsm1` engine and in `0.

[2016-02-09 19:54] #4669 closed

[2016-02-09 19:55] jwilder commented on #4576
This appears to be fixed now.

[2016-02-09 19:55] #4576 closed

[2016-02-09 20:25] jwilder commented on #4571
Unfortunately, there is not much we can do here.  This seems to be an issue with  `bz1` storage engine and how it works on windows.  That engine is deprecated and has been replaced by the `tsm1` engine in `0.10.0`.  Unfortunately, `tsm1` is not currently supported on windows either, but some community members have been contributing fixes to test it out.  There is a [conversion tool](https://github

[2016-02-09 20:25] #4571 closed

[2016-02-09 20:27] supershal opened #5601 "[0.10.0] Nodes joins as meta node instead of data nodes in cluster of more than 4 nodes"
I am trying to run influxdb cluster of more than 4 nodes. The resulting cluster adds newer node as meta node instead of data node. The cluster only have one data node (first node) and 4 meta node instead of atleast 3 meta nodes.
All nodes in the cluster is getting ID value as 1 as per meta/node.json
Influxdb version: 0.10.0-1
OS: 4.2.2-coreos-r2
My config file is the default config file generated

[2016-02-09 20:41] groblus commented on #5577
@mjdesa Are there any plans on improving it ? There used to be delete by timeframe option but it was dropped. Without the ability to remove certain records it's impossibile to sanitize corrupt data.

[2016-02-09 20:45] jgerschk commented on #5585
@rossmcdonald Thank you for the information on both, the documentation being updated on the cluster setup and the new issue for details on how queries work within clusters, etc.

[2016-02-09 20:48] nsteinmetz commented on #5560
Hi @markusr

Here's the output:

[code]

so ``.deb`` file was correctly created and could be installed (upgraded in my case)

[2016-02-09 20:48] #5560 closed

[2016-02-09 20:58] beckettsean commented on #5544
@normanuber can you clarify what is unexpected about the log output?

I can't tell if this is the complete output, but the expected behavior for your CQ would be that every 5 minutes, it runs 6 queries, each covering 1 minute of time, with the time range of the oldest query ending no more than 5 minutes ago.

[2016-02-09 21:02] rossmcdonald commented on #5601
@supershal Please try the solution from #5585, as I think this is the same issue.

[2016-02-09 21:21] normanuber commented on #5544
Why would this run individual 6 queries? I don't expect group by to affect how many queries are run though... Isn't that what RESAMPLE EVERY N is for? That's very confusing. If i said RESAMPLE EVERY 1m for the past 5m then I expect multiple queries to run.

[2016-02-09 21:32] dkerwin opened #5603 "Rerun CREATE CONTINUOUS QUERY takes forever"
Hi,

i have a small go service that collects data from rabbitmq and stores the processed results in InfluxDB. On every startup the service creates the database and relevant CQs automatically just to ensure everything is setup correctly.
After migrating the database to 0.10.0 the create CQ query takes ~ 10 seconds to complete. The CQ is already present so this query should be super fast.

[code]

G

[2016-02-09 21:56] benbjohnson commented on #5589
@rossmcdonald @forcie I'm not sure what level of support there is for ARMv7 in Go 1.4. Can you try building with Go 1.5?

[2016-02-09 22:41] forcie commented on #5589
@rossmcdonald  @markusr thank you very much for your suggestions. I tried both thoroughly but no luck, I still get the same result with the newly built binary.
Not sure what I'm doing wrong.

[2016-02-10 00:02] supershal commented on #5601
Thanks @rossmcdonald . I tried suggested workaround. Exported following variables before starting influxd
[code]
Now I see all instances in both meta nodes and data nodes with different ids for the same node.
[code]

However I do see all members reporting in "cluster" measurement table.
[code]

PS: Since CLI connects to "http://localhost:8086" by default, I have to use "influx -host <hostIP/name>"

[2016-02-10 00:21] gerrickw commented on #5523
@e-dard By database you mean time series engine then I disagree.  Influxdb isn't mysql nor postgres.  It is a timeseries database.  Graphite handles this perfectly through a query.  If we are attempting to correlate this to another SQL database there are case statements for fields.

https://stackoverflow.com/questions/22207567/query-giving-division-by-zero-error-in-postgresql

Being as I'll be mak

[2016-02-10 00:59] stepanstipl commented on #5583
+1

Any idea how is this supposed to be handled at the moment? Currently if one of my nodes dies, it's pretty much listed in `SHOW SERVERS` forever.

Also is there some way how to get info about cluster health? In terms of shards and their replication? Currently I don't know any way how to get good visibility about what's happening with the cluster.

[2016-02-10 02:37] jonseymour opened #5606 "[0.10.0] TSM conversion reproducibly drops data silently"
G'day I recently upgraded my influx instance from 0.9.6.1 to 0.10.0

To perform the upgrade I did the following:

- stopped the influx instance (it was a single node cluster)
- performed a (filesystem) backup of the database
- ran the influx_tsm utility to convert the b1 databases to tsm databases
- upgraded the code base to v0.10.0
- restarted influx on the new code base

The following day I ran

[2016-02-10 02:51] jwilder commented on #5606
Can you post the output of the migration tool? Also, how are you determining points are dropped?

Some data such as fields with NaN or Inf will be dropped because they are not supported field values.  These values were able to be inserted in past versions of some endpoints inadvertently.

[2016-02-10 03:16] jonseymour commented on #5606
The output of the TSM conversion can be found here - https://gist.github.com/jonseymour/1dd3f092eea45c1ab3b5

The technique for detecting missing data was initially a case of using grafana to review a date of significance to us (13 Jan 2016). All the timeseries data for that date was missing in the migrated database, but was present in the restored database.

For the purposes of investigation, I r

[2016-02-10 03:38] jonseymour commented on #5606
I should clarify: all the data for the periods with missing data was missing from one measurement. There were other measurements that had data for that date.

[2016-02-10 03:47] jwilder commented on #5606
Can you run `show shards`?  That should show which shard is holding data for that time range.  For the missing measurement, can you provide a sample of what the raw point data looked like?

[2016-02-10 04:11] jonseymour commented on #5606
show shards output -> https://gist.github.com/jonseymour/ca81c516bd192a0a8119

An example of a measurement point:

time,channel,controlled,current,event,observedMax,offTicks,onTicks,peak,period,schema,thingType,uncontrolled,user

2016-01-13T00:00:02.471130001Z,"demand",0,0,"state",2368.2,52507,,0,4,"http://foobar.com/protocol/demand","aircon",0,"8e47ec63-9784-46ae-8042-224166f5d26b"

The tags for

[2016-02-10 04:51] jonseymour commented on #5606
For reference, here is a counting query for a different measurement run against both the restored database and the converted database:

(good - restored database)

[code]

(bad - converted database)

[code]

So, in some cases there are no data points in the periods of interest, and in other cases there about 1/35th of the expected number.

[2016-02-10 06:46] norrland opened #5609 "[0.10.0-1] [http] Link to documentation points to 0.9"
The link in the InfluxDB web gui is still set to use: https://influxdb.com/docs/v0.9/introduction/getting_started.html

[2016-02-10 08:37] dmt commented on #4571
Thanks for looking into it. I've left that particular client so I'm happy to just leave this issue closed.

[2016-02-10 09:56] zstyblik commented on #5578
@mjdesa but this really has been common request and could be considered as a bug. Perhaps not bug against InfluxDB repo, but may be against InfluxDB Docs. Because it'd be really great to provide some examples of down-sampling strategies and use-cases. To say it bluntly, you want people to use InfluxDB, right?

[2016-02-10 10:39] skazi0 commented on #1647
I've just noticed that the "delete by overwrite" workaround doesn't work anymore after upgrade to 0.10.
Is there any other workaround available for removing bad datapoints until we have proper DELETE SERIES implementation?

[2016-02-10 10:46] #5545 closed

[2016-02-10 11:07] mjdesa commented on #5578
@zstyblik opened an issue on the docs repo https://github.com/influxdata/docs.influxdata.com/issues/224

[2016-02-10 11:07] markusr commented on #5589
@nsteinmetz
Can you share your build or instructions since you have compiled and started it successfully on rpi2?
#5560

[2016-02-10 11:17] e-dard opened #5610 "[0.10.0] Write into fully-replicated cluster is not replicated across all shards"
Steps to reproduce:

 - 3-node cluster with default configs. `n2` and `n3` join `n1`.
 - create a database on `n1`.
 - apply the following write on `n1`: `insert cpu value=1`.

Expected result:

 - Database should be replicated on each of the three nodes.

Actual result:

 - One of the nodes does not create the database and store the point (in my example shard 4 is not created on `n2`.

![screen s

[2016-02-10 11:18] Falc commented on #3994
Thank you for the info @beckettsean. My scenario is a collectd instance sending NaN values, so I will try to catch and ignore/transform those NaN values before sending them to InfluxDB.

[2016-02-10 11:30] arussellsaw opened #5611 "CHANGELOG.md line 39 repeated issue"
i think this is due to me filling out CHANGELOG.md incorrectly, i think it should only be in the 0.11 release notes

[2016-02-10 11:33] e-dard opened #5612 "[0.10.0] DROP DATABASE does not work in a cluster"
On a 3-node fully replicated cluster create a database on a node, and then make a write on that node. Finally, call `DROP DATABASE db`.

Expected result:

 - The database information should be deleted from the meta store, and also all files wiped from each data node.

Actual result:

 - The meta store is updated, but files are only removed on the the node where the `DROP DATABASE` command occurred

[2016-02-10 12:01] nsteinmetz commented on #5589
Hi there,

I did try to run ìndluxd`` by itself and will check later but InfluxDB UI was up & running and my app could still feed InfludDB from what I could see.

So my build process:

[code]

I could start indluxdb via systemd.

Will check ``influxd``output this evening and let you know.

[2016-02-10 12:02] zstyblik commented on #5578
@mjdesa Thanks. I'm sure it will be appreciated by many people.

[2016-02-10 12:11] johankcarlsson commented on #5161
As soon as I find time I winll give it another try. I will use 0.10.0 for
that test.

Thanks for the feedback.
Den 9 feb 2016 20:49 skrev "Jason Wilder" <notifications@github.com>:

[2016-02-10 12:57] anuvdas opened #5614 "[0.10.0] Clustering is not working as expected"
Followed the documentation in the site however i am not able to run "influx". getting this error
[code]

[2016-02-10 13:42] tinco commented on #5342
This issue should receive high priority, as it is InfluxDB builds are not reproducible, and it might lead to strange behaviour of tagged releases.

Today my team was debugging an issue with clustering on 0.10. We figured we would check InfluxDB out from git, using the 0.10 branch, add some log statements and compile and run that in our test environment.

What we found was that the '0.10' we built

[2016-02-10 13:42] nsteinmetz commented on #5589
From @forcie, I see:

[code]
I supposed the ``/etc/influxdb/influxdb.conf`` file has been changed from default one.

@forcie, could you try with the default configuration file via:

[code]

Replace yours and test to see if it comes from here...