[2016-03-15 23:57] #211 closed

[2016-03-16 00:03] beckettsean commented on #3290
@jsternberg to date, the assumed lower bound has always been epoch 0 unless otherwise specified. There are errors which fire on any query that has a `GROUP BY` clause but no `WHERE time` clause. There are also errors which fire if the number of `GROUP BY` buckets exceeds 99999.

Did we rip out those behaviors with the new query engine?

[2016-03-16 00:17] beckettsean commented on #6011
I agree with @pauldix that we should restrict database and RP names to a smaller set. That set should be chosen for minimal likelihood of filesystem weirdness. E.g. must start with `[A-z,_]`, no slashes allowed.

@joelegasse there are a few additional identifiers in the system:
- users
- continuous queries
- subscriptions

Beyond database and RP names, I see no obvious restrictions to the other id

[2016-03-16 01:11] jsternberg commented on #3290
We don't currently have anything stopping queries from going out of control. I'd also argue that 99999 seems very high to begin with.

What kind of restrictions should we put on this?

[2016-03-16 03:52] jwilder commented on #6014
@lcrenix Did you remove any nodes via a `drop server` command?  That message is reported when a server is dropped and there are still hinted handoff queued messages on other nodes.  Hinted handoff queues are not currently deleted so those message will continue to be logged.

On the server logging those errors. you can delete the numeric sub-directory under your hinted handoff dir (default "hh") co

[2016-03-16 04:07] jwilder opened #6024 "Query Limits"
There is currently no way for an administrator to prevent bad queries from overloading the system or OOMing the process.  The database should have some configurable options to specify limits on queries and automatically kill them before they consume too many resources.

The following limits may be useful:

* Number of series - Kill queries that would access too many series at once (#6076)
* Number

[2016-03-16 04:08] jwilder commented on #5939
Related to query limits: #6024

[2016-03-16 05:03] #3700 closed

[2016-03-16 05:07] jwilder commented on #3912
Closing since this is related to b1/bz1 storage engine which are no longer maintained.

[2016-03-16 05:08] jwilder commented on #3921
Closing since this is related to b1 storage engine which is no longer maintained.

[2016-03-16 05:08] #3921 closed

[2016-03-16 05:08] #4012 closed

[2016-03-16 06:09] jonseymour commented on #6015
@bogdanveres does the memory usage change if you temporarily shutdown the grafana dashboards? (I am wondering whether the memory usage is related to the grafana query load).

[2016-03-16 07:02] HarasimowiczKamil commented on #3552
:+1:

[2016-03-16 10:44] bogdanveres commented on #6015
@jonseymour Grafana is turned off. Memory consumption is at 3807 MB. There is only one device that is inserting data into influx right now. I also restarted the influx service but there are no changes. Also changed in config file the following value:

cache-max-memory-size = 524288000

[2016-03-16 10:49] daviesalex commented on #6000
Continuous Query is sadly not exactly what is required here; if you use a CQ you then cant do things that you really have to be able to do - graph multiple 'time periods' on one Grafana graph, or simply have the time picker work in a Grafana dashboard.

I'd call the feature we would like a 'Continuous downsample'. This would be similar to a contiguous query, but work in-place with the same series

[2016-03-16 10:57] andybrier commented on #5934
@toddboom  I restart, and get the same error now.  The detail file is here:
[influxd.log.txt](https://github.com/influxdata/influxdb/files/175779/influxd.log.txt)

[2016-03-16 11:49] jonseymour commented on #6015
So from 5526MB to 3807MB when Grafana was switched off? This still does seem quite high. How many points are being logged per request? My environment is logging 75 points per second which is about 1 point per device per second however I have a batching process in front of influx that batches the writes together so the number of requests per second would be a lot less.  My server typically sits at

[2016-03-16 11:52] mvadu commented on #5352
I was able to handle both root path issue (for static content) and hard coded API path (always server:port/ping, server:port:query etc) issues via a complicated [nginx config shared here](https://gist.github.com/mvadu/5fbb7f5676ce31f2b1e6).

[2016-03-16 12:04] jonseymour commented on #6015
Also this setting is probably a bit low -  `cache-snapshot-write-cold-duration = "1m"` it is going to be causing the snapshot algorithm to be working quite hard (e.g. doing 60x more work than it normally would) and then creating a lot of secondary compaction load.

0.10.0 has a few thread safety issues in that part of the code that have been fixed in v0.10.3 which might be worth upgrading to, if y

[2016-03-16 12:55] smalenfant opened #6026 "[0.10.3] service influxdb restart: bind: address already in use"
I've got 3 influxdb in a cluster. I upgraded from 0.10.1 to 0.10.3 and all of them failed to restart. I had to manually issue a "service influxdb stop" and then "service influxdb restart".

OS : Centos 6.7

[code]

[2016-03-16 13:33] jsternberg commented on #4897
Can you give me the data to populate the database with so I can take a look at this?

[2016-03-16 13:42] cyberflow commented on #3552
+1

[2016-03-16 13:51] jsternberg commented on #2615
I should be able to modify the query engine to handle queries across fields and tags so that it looks correct, but the only requirement would be to prevent a single point from containing a duplicate. I can make this work:

[code]

I don't think I can make this work:

[code]

Should I reopen this ticket to prevent points from doing the latter?

[2016-03-16 14:06] jsternberg commented on #4739
The symptoms of this seem to be the same symptoms I found when I filed #5629. The introduction of integer literals in #5756.

[2016-03-16 14:06] #4739 closed

[2016-03-16 14:10] jsternberg commented on #4449
This seems to be the same as #3290. The `OR` operator doesn't currently work as all time operations are assumed to be `AND`. I'm closing this in favor of #3290.

[2016-03-16 14:10] #4449 closed

[2016-03-16 14:32] PierreF opened #6027 "[0.11.0-rc1] Cluster with -join need ALL node to restart"
I've seen #5602, it's great! With the addition of #5706 it now possible to start cluster on every node with just:
[code]

As I would expect (and from my understanding of PR #5602), to restart node I could still keep the SAME command line; e.g. :
[code]

This works well only if at least one node was still alive. If all node are down (let's say a power outage), if only two node are back online (let'

[2016-03-16 14:33] joelegasse commented on #6022
Would it be possible to get a copy of the database that is causing the issue?

Is this limited to `0.10.1`? Or is this also seen in `0.10.3`?

[2016-03-16 14:52] jsternberg commented on #5116
It looks like this works correctly now with tsm1, but I'm also going to include something to automatically switch any `fill(null)` calls to `fill(none)` since `fill(null)` is the default. I don't think there's any time where a `fill(null)` call makes sense in the context of an `INTO` query.

[2016-03-16 15:16] corylanou commented on #2615
Since you can't prevent it in all cases, I think the conclusion above is still the correct one, give them better query controls.  It's a very poor design choice for the end user to have both tags and fields with the same name imo, but if we give them a way to query it then it's up to them.

[2016-03-16 15:17] mark-rushakoff commented on #4897
Nope, can't repro (which is not surprising since this was filed against 0.9.6).

[2016-03-16 15:17] #4897 closed

[2016-03-16 15:21] bogdanveres commented on #6015
@jonseymour  the memory consumption reduced when I turned off the devices. Right now I have only two devices that are running and inserting data into Influx. At the moment the memory consumption is at 5196 MB. I also updated to v0.10.3. Grafana is started but I turned off the auto refresh feature for all dashboards. I kept the config file from the v0.10.1. Is there something different? Thank you.

[2016-03-16 15:36] jsternberg commented on #4861
I can't reproduce this on the 0.11 release candidate so I think we fixed this issue as part of the refactor. Please try it out and reopen if the issue persists. Thanks!

Test case I used for verifying:

[code]

[2016-03-16 15:36] #4861 closed

[2016-03-16 15:55] BrannonKing opened #6030 "[0.11.0-beta] builds from the last two days fail with meta.db copy/rename"
When I try to run builds from the last few days I get this error:

<pre>
[monitor] 2016/03/16 09:50:17 failed to create database '_internal', failed to create storage:
rename C:\ProgramData\MyServer\InfluxDB\Meta\meta.dbtmp C:\ProgramData\MyServer\InfluxDB\Meta\meta.db:
Cannot create a file when that file already exists.
</pre>

That's after deleting all existing database files. When I run it agai

[2016-03-16 15:55] jsternberg commented on #3932
The reason for this problem is because the function that retrieves the time range doesn't send back an error when it finds an objectionable time comparison like was done here.

The function that needs to be changed is `influxql.TimeRange()`. I can probably do this one with #3290.

[2016-03-16 15:57] andrewaggb commented on #5359
+1

Version: recent
Clustering: yes but no priority
Other TICK: no priority
Potential use case: Automation Data/Historian

[2016-03-16 16:18] sonneym commented on #1647
+1
You can try doing it like cassandra, with tombstones to keep performance

[2016-03-16 16:25] dvorobiov opened #6032 "select * from <measurement> limit 1 can make the database not responding (v.0.9, 0.10.3)"
Hi,

We have an instance of InfluxDb 0.9 with about 45 GB of data, new data is also coming (about 200-500 points per second), and couple continuous queries running to calculate means. Yesterday it just got frozen at some point and needed restarting. After skimming through the log we found a query to blame: ```select * from some_measurement limit 1```. Today I reproduced it on 0.10.3 instance that

[2016-03-16 16:44] gunnaraasen commented on #6011
We should move to using unique IDs internally for database and retention policy names. Moving to IDs would allow us to define safe path names and eliminate the need for restrictions on the user-provided DB/RP name. Plus ID's have already been proposed as a solution for a correct implementation of the `ALTER DATABASE` command, see https://github.com/influxdata/influxdb/pull/4291#issuecomment-150290

[2016-03-16 17:27] pauldix commented on #6011
@gunnaraasen having readable names is nice for administrators since those names are used in the file path names. Supporting unicode but enforcing everything to be a character, number, `-`, or `_` would be safe for the filesystem and still give people readable names in their paths.

Moving to another directory (which would also work for the ALTER DATABASE) is a cheap operation so that should still

[2016-03-16 17:31] jwilder commented on #6024
cc @benbjohnson @jsternberg @pauldix

[2016-03-16 17:53] jsternberg commented on #6016
The change to `SHOW TAG VALUES` is in the release notes. The change to `distinct()` is also expected, but needs to be added to the release notes.

/cc @pauldix

[2016-03-16 17:55] jsternberg commented on #6032
Can you try this out with the 0.11 release candidate? The 0.11 release candidate contains a completely refactored query engine that should handle limit queries much better.

[2016-03-16 18:35] beckettsean commented on #3290
@jsternberg I think this is a larger discussion to have with @jwilder and more of the team.

[2016-03-16 18:39] jwilder commented on #3290
This may be a option we should add to #6024

[2016-03-16 19:13] gunnaraasen commented on #6011
While it's nice to have human readable names, most administrators don't delve into the data directory (and really shouldn't have to). There are a bunch of ways to add human readable names where needed, such as each DB/RP directory containing a database info file, a central mapping of names to IDs, and/or sanitized symlinks to human friendly name.

One of the problems with ALTER DATABASE is that (i

[2016-03-16 19:58] pauldix commented on #6016
@jsternberg any chance you remember the PR where distinct was done? I'd like to link to it in the release notes

[2016-03-16 19:59] r0bj opened #6034 "empty query result in version 0.11.0rc1"
influxdb 0.10.3:
[code]

influxdb 0.11.0rc1:
[code]
empty result

Data actually is there:
[code]

So adding `"name" = 'sda'` cause empty result.

[2016-03-16 20:06] jsternberg commented on #6016
It was done in the large PR for the query engine refactor in #5196. I'm guessing the output was changed because the new query engine doesn't have a way of representing arrays.

[2016-03-16 20:17] deepujain opened #6036 "Count(Distinct) does not work as expected."
query1:

I removed distinct

[code]

query2 , i removed count

[code]

query1:

[code]

One of the groups is :

[code]

Why these records with 0 (in black bold) are returned, There is no data for those dates (as seen in query1 and query2) . Q3 gives an impression that data is present but 0. how do i avoid this with count(distinct()) ?

Do not return me any data if i have not inserted for that date

[2016-03-16 20:17] deepujain commented on #6036
==Sean Beckett=== (Response)

11:31 AM (1 hour ago)

This is a consequence of nesting the functions. COUNT returns a value for every bucket in the GROUP BY regardless of the return from DISTINCT. I do not believe there is any way to suppress that return right now. Please open an issue on GitHub describing your needs.

[2016-03-16 20:32] jsternberg commented on #6036
Can you try this out with the 0.11 release candidate? I think your issue will have been resolved in that version.

[2016-03-16 20:36] ljagiello commented on #6034
There is also a difference here:
0.10.3:
[code]
with 0.11.0rc1:
[code]

[2016-03-16 20:38] deepujain commented on #6036
How do i upgrade to 0.11 ?

1. Stop 0.10 influxd
2. Unzip and Run 0.11
3. copy influxdb.conf from old to new

[2016-03-16 20:54] joelegasse opened #6037 "Line Protocol V2"
The current line protocol has a few quirks and strange behaviors because of the way the parser was implemented. Unfortunately those quirks were just documented and developed around, rather than discussing whether or not the protocol should be better defined and made slightly more uniform. Here is my attempt at a slightly more formal definition...
## Uniform Line Protocol

This would be a breaking

[2016-03-16 20:57] jsternberg commented on #6034
Caused by 41dde61. @benbjohnson I think the easiest way to tackle this is to modify the series key used here to `_name` similar to what's done with `SHOW TAG VALUES` and make `SHOW SERIES` use `_name` as the condition instead of `name`.

I'll try to put up a PR soon for how I envision it being done.

[2016-03-16 20:57] deepujain commented on #6036
Upgraded to 0.11 and it worked. Thanks. IT was just a software package upgrade and pointing to old influxdb conf.

[2016-03-16 20:57] #6036 closed

[2016-03-16 21:04] sparrc commented on #6037
could you provide some more concrete examples like at https://docs.influxdata.com/influxdb/v0.10/write_protocols/line/?

[2016-03-16 21:07] sparrc commented on #6037
[code]

does this mean that line protocol will default to seconds now?

[2016-03-16 21:12] sparrc commented on #6037
[code]

by your definitions, shouldn't this be:

[code]

[2016-03-16 21:30] mark-rushakoff commented on #6037
I like this proposal overall. I agree with @sparrc that more examples would make this all easier to grok (especially examples around strings and what does or does not need to be escaped).

I dislike the inclusion of comments into the line protocol. While that may make life slightly easier for those creating points by hand, I think we should discourage including irrelevant data in line protocol bat

[2016-03-16 21:36] jsternberg commented on #6037
I would like to propose that either strings in the line protocol are surrounded by single quotes or we modify InfluxQL to let strings be surrounded by double quotes. There's a weird lack of parity between these two currently.

[code]

The single quotes are required and I think they confuse a lot of people (at the least, they confused me). Double quotes are for variable names and are mostly used wh

[2016-03-16 21:38] pauldix commented on #2615
@corylanou yep agree. As long as it's queryable later, should be fine. Give users a length of rope and a knife to cut it ;)

[2016-03-16 22:15] deathsoverture opened #6039 "[0.9.6.1] Second node is returning single series when using pattern in FROM"
[code]

For using the data source vm-influxdb-1:8088, I see a series for inbound and outbound:
![inbound-series-1](https://cloud.githubusercontent.com/assets/12052422/13830488/54043380-eba3-11e5-8ded-d71c7f1b2b75.png)

But when I use the data source vm-influxdb-2:8088 I see the data points for both series but they are all in 'inbound' series.
![inbound-series-2](https://cloud.githubusercontent.com

[2016-03-16 22:17] mark-rushakoff opened #6040 "[0.11 / master] Unable to query distinct against boolean field"
[code]

Confirmed on a recent 0.11 nightly build and on master at 6a461d8a3458154510ce321c74c82ece04df123c.

[2016-03-16 22:21] joelegasse commented on #6037
I will definitely work on some examples, and add them to the original post. As far as a few points to be addressed:

- Tags would be defined as they currently are: comma separated from the measurement name. It's a subtle difference in the definition of `TagSet` and `FieldSet`. The difference is that technically each tag is preceded by a comma, and you can have zero or more directly following the m

[2016-03-16 22:31] sparrc commented on #6037
got it, thanks Joe,

but by the logic that an empty string is a valid TagSet, doesn't that also mean that an empty timestamp is a valid timestamp?

also-- how is an empty string a valid tag if this is true:

[code]

[2016-03-16 22:34] joelegasse commented on #6037
A timestamp is defined as Digits, which is at least one digit. Although we
should specify that strings have a minimum length of 1
On Mar 16, 2016 6:32 PM, "Cameron Sparr" <notifications@github.com> wrote:

[2016-03-16 22:36] e-dard commented on #6037
Generally I like this. The escaping rules look inline with the  version of the line-protocol parser I implemented in [er-escape-backslash](https://github.com/influxdata/influxdb/tree/er-escape-backslash), so they get the :+1:  from me.

[code]
I agree with Mark on the comments; I don't see the real advantage to accepting them.

[code]
Does a `Point` needs to end in a newline?

[2016-03-16 22:41] sparrc commented on #6037
so this is valid?:

[code]

or should this be Tag:

[code]

[2016-03-16 22:46] gunnaraasen commented on #6037
I'm not a huge fan of requiring the `s` at the end of the timestamp. It feels unnecessary and it's not something I've seen people get tripped up on.

Instead, I would propose changing the default precision to seconds. Most other tools use second precision and it's a common beginner mistake to use seconds (resulting in a bunch of 1970 points that trip people up). Compression is also much better whe

[2016-03-16 22:47] mark-rushakoff commented on #6037
I think so. A newline indicates that the point is complete. Without it, you may not know if the line was unexpectedly truncated.

[2016-03-16 22:47] sparrc commented on #6037
@gunnaraasen the unit is optional: `Time          = Digits [ Unit ] .`

[2016-03-16 22:47] e-dard commented on #6037
@sparrc @joelegasse  maybe it should be something like the following?

[code]

[2016-03-16 22:50] supershal commented on #5998
@lqx302 do you have load balancer in front of your influxdb instances? I noticed those errors when my load  balancer was doing health check on port 8086 over TCP.
OR You have some node sending empty data over 8086 over TCP.

If thats the case, please use health check url to HTTP ":8086/ping" .
Unfortunately this returns status code 204. The amazon ELB HTTP health check point only understands 200 o

[2016-03-16 22:52] gunnaraasen commented on #6037
@sparrc Whoops, my bad. I read @joelegasse's comment, "always including the `s`", and didn't think to check the spec.

[2016-03-16 22:54] joelegasse commented on #6037
@e-dard your proposed grammar is equivalent to what is currently there.

[2016-03-16 23:08] joelegasse commented on #6037
@gunnaraasen The default precision could be set in the parameter line, and handled by the client library. We could try to do some guessing if no precision has been set anywhere, and pick the time that seems closest in terms of order of magnitude. Although that is a separate concern from the line protocol itself.

[2016-03-16 23:13] jsternberg commented on #6037
I also don't think we need to have customized escape characters. I think most, if not all, people will just be fine with a backslash. It adds more difficulty to have a custom escape character and I don't know what benefit it offers.

I think we should just focus on getting escaping to be more consistent and it so single quoted strings are allowed (we can allow both double and single quotes for str

[2016-03-16 23:32] e-dard commented on #6037
@joelegasse you're right, and now I can't think what I was trying to get at, at the time...

[2016-03-16 23:32] sparrc commented on #6037
Personally I prefer @e-dard's grammar, I think it feels more consistent, also with the current grammar this is technically valid:

[code]

[2016-03-16 23:42] joelegasse commented on #6037
It would only be valid if we allow the `SimpleString` to be length zero, but that was certainly not intended. Since it's equivalent, I'll use @e-dard's grammar, and add a note that the UTF-8 strings must have at least one character. Sorry about the confusion.

[2016-03-16 23:46] sparrc commented on #6037
okay @joelegasse thanks for clarifying :+1: :relaxed:

[2016-03-16 23:53] jonseymour commented on #6015
@bogdanveres There were no config changes between v0.10.1 and v0.10.3

Can you share the output of this query run against the _internal database.

`select * from runtime where time > now() - 15m`

Could point you grafana at the _internal.runtime measurement and grab a graph of the HeapInUse statistic over time?

Also, do you have any continuous queries defined?

[2016-03-17 00:16] gunnaraasen opened #6041 "Consider using seconds as the default precision"
InfluxDB currently defaults to nanosecond precision for writes and queries. Most other tools and languages use second precision. Given that
- a common beginner mistake is using timestamps with second precision (resulting in a bunch of 1970 points that trip people up), and
- significant compression gains can be realized when using seconds as the precision with the TSM engine,

Should we consider ch

[2016-03-17 00:17] gunnaraasen commented on #6037
Agree it's a separate issue. I opened up https://github.com/influxdata/influxdb/issues/6041 to discuss it.

[2016-03-17 00:31] #6034 closed

[2016-03-17 00:36] jsternberg commented on #6040
I think we decided not to implement this for boolean. @benbjohnson @pauldix does distinct need to work on booleans?

[2016-03-17 00:41] mark-rushakoff commented on #6040
`SELECT distinct(ok)`, of course, isn't useful to me. I really was interested in knowing how many Trues and how many Falses were in a particular field in a measurement.

In hindsight I could have done two calls to `count`, although I didn't want to execute two queries:

[code]

[2016-03-17 00:42] jsternberg commented on #6040
Hm, that seems like a reasonable enough reason. I can implement distinct for booleans so that this is possible.

[2016-03-17 01:09] BGraco commented on #5774
Updating now that 0.11 rc is released, still seem to be stuck....
[code]

[2016-03-17 02:19] mark-rushakoff commented on #6037
I have a can of worms I'd like to open.

On the one hand, I personally place a high value on simplicity in the specification. It reduces surface area for bugs and it with less code, it should be faster to write your own implementation (e.g. writing a line-protocol-writer in a new programming language or writing it in assembly for a sensor device).

Nonetheless, I was thinking about whether it woul

[2016-03-17 02:48] mvadu opened #6042 "InfluxDB 0.11.0 RC breaks windows completely"
Up until last week master branch was compatible with windows (e.g. PR #5999), but now 0.11.0RC breaks basic `create database` itself, and is not compatible with Windows. Going by #5359 you are still [committed to providing windows support by 0.11 ](https://github.com/influxdata/influxdb/issues/5359#issuecomment-183142936)), and this is back pedaling.

[code]

![image](https://cloud.githubuserconte

[2016-03-17 02:52] mvadu commented on #5359
@ShubhraKar are you still stay with your [Feb 12 comment](https://github.com/influxdata/influxdb/issues/5359#issuecomment-183142936) of 0.12 supporting windows? Starting with 0.11.0 RC Influx breaks basic `Create Database` command, and we can't even test any further on Windows. If there is no commitment from OEM, community can only do so much.

[2016-03-17 06:53] runner-mei opened #6044 "dependency is missing in the Godeps file."
dependency is missing in the Godeps file.

github.com/gogo/protobuf
 github.com/dgryski/go-bitstream

[2016-03-17 07:22] breath-co2 opened #6045 "need to add close the compressed data config"
It's `pidstat -p 23010 1` log:

[code]

you can see some time, the cpu is very high.and I track influxd's log found:

[code]

I think compacted data is waste a huge cpu in my system, so I want to close it.

[2016-03-17 08:17] bogdanveres commented on #6015
@jonseymour I don't have continuous queries defined.
Here is a snapshot for heap in use from Grafana:

[https://snapshot.raintank.io/dashboard/snapshot/kcFgJ0GF1X36nfrG69f6gknHk4ohmXgr](url)

[_internal.zip](https://github.com/influxdata/influxdb/files/177472/_internal.zip)

The results for the query that you suggested are attached (file was saved using notepad++). Thank you again.

[2016-03-17 11:54] lijialing888 commented on #3276
+1 amazing request

[2016-03-17 11:55] oldmantaiter commented on #5918
Closing as behaviour is not present after single host changes

[2016-03-17 11:55] #5918 closed

[2016-03-17 12:07] RadoBuransky commented on #3276
Feel free to look at my approach to this issue:
https://github.com/pygmalios/reactiveinflux
https://github.com/pygmalios/reactiveinflux-spark

[2016-03-17 12:50] jsternberg commented on #6040
I was working on this, finished it, and tested it out, but the end result won't do what you want. `count(distinct())` will count how many distinct entries there are in an interval so it won't give you a row for true and a row for false, but it will give you the answer 0, 1, or 2 (depending on if there are no entries, only entries for `true` or `false`, or entries for both `true` and `false`).

Thi

[2016-03-17 14:49] #5629 closed

[2016-03-17 14:49] #5744 closed

[2016-03-17 15:17] vlinevich commented on #6032
This issue seems to be fixed in 0.11.0rc1

[2016-03-17 15:25] jsternberg commented on #6032
I'm going to close this @dvorobiov. Please reopen if you're still having trouble with this.

[2016-03-17 15:25] #6032 closed

[2016-03-17 15:33] jwilder commented on #6045
Disabling compactions is not possible.  It's a critical part of storage system.

[2016-03-17 15:33] #6045 closed

[2016-03-17 15:58] e-dard commented on #6044
They're present in the [Godeps file](https://github.com/influxdata/influxdb/blob/master/Godeps#L8-L9).

[2016-03-17 15:58] #6044 closed

[2016-03-17 16:00] e-dard commented on #6039
What version of `influxd` are you running? From the look of that `SHOW SERVERS` output, it seems to be pretty old.

[2016-03-17 16:01] e-dard commented on #6042
Appears to be duplicate of #6030

[2016-03-17 16:09] deathsoverture commented on #6039
I am using 0.9.6.1 which seems to be the version provided with "tutum/influxdb:0.9"

I could try a newer version though 0.9.x seems to be the latest "officially" supported by Grafana 2.6.0

[2016-03-17 16:30] alifirat opened #6049 "Cannot insert data into influxdb deployed on Amazon EC2"
Hi,

I installed influx into one instance of EC2 but I cannot add a point into a measurement.

`influx -host 'XX.XXX.XXX.XXX'`

[code]

[code]

I inserted this value from the influx client in the terminal. Now I try to do that using curl :

[code]

When I made a query on the same measurement, the value is not present as excepted :

[code]

The status from the response is 204 so I don't have the fe

[2016-03-17 16:32] umbri opened #6050 "[0.10.3] iostat write 100%, large io write"
Thank you for an amazing product.

I have a problem with version ```0.10.3```, or I don't understand what I am doing ...
I get 100% disk usage, and from ```/var/log/influxdb/influxd.log```

[code]
after some time i get:
```502 error```

I have ~10000 points/s ,

How to configure InfluxDB to use more RAM to cache before write to disk ??

UPDATE:
I was thinking that cache is too small so boost some

[2016-03-17 16:35] jwilder commented on #6050
@umbri Are you using SSD or spinning disk?  Those cache memory settings shouldn't be so high.  I'd leave them at the default.

[2016-03-17 16:39] umbri commented on #6050
[code]

[2016-03-17 16:57] rafiti commented on #1887
I am running with InfluxDB version 0.10.3-1,

I am expressing the same problem:
 drop series (from ... where...) doesn't work proparly, you can see my example below.
Please let me know if there is a work arround without the need to drop the measurment.
Thanks!

name: pnodes_info
-----------------
time                    log_time        memory_allocated
1458232823767000000     1458232823      6.442

[2016-03-17 17:01] jwilder commented on #6050
It looks like you are maxing out the IOPS for that single drive based on your write load.  SSDs will give you better performance in general.  If you can't use SSDs, you may need to use multiple drives in a RAID configuration to increase your available IOPS.

The kernel will use free memory for the file system cache when possible.  Increasing the cache in the DB ends up wasting RAM because the same

[2016-03-17 17:09] umbri commented on #6050
Can I read somewhere about how influxdb is writing, caching, data so I understand how to configure my system. ?
I specially configure my server to have much RAM, I use REDIS (high loaded), so I think I can configure influxDB to be like redis.

Can you suggest me something about influxDB config that can help me ??

P.S: Thank you for an amazing product.
P.S: Sorry for my English.

[2016-03-17 17:15] sparrc commented on #6041
I'm a big fan of this, currently our approach has been to default to nanoseconds on the database, but recommend that people use seconds. I think it makes sense to default to the time precision that we recommend people use (and what is probably the more common timestamp precision that is necessary too).

Also +1 to most other tools using seconds by default, this would be a boon to new users.

[2016-03-17 17:34] gunnaraasen commented on #6037
@mark-rushakoff If we add hexadecimal support (which sounds useful), we should consider how to extend the line protocol for additional types in the future. Eventually, adding native support for decimal, geohash, and other types in InfluxDB will be much easier if there's an easy way to easy built-in way to add them to the line protocol.

[2016-03-17 17:38] jwilder commented on #6050
I would suggest asking this question on the mailing list.

For docs you could take a look at:

* [storage engine](https://docs.influxdata.com/influxdb/v0.10/concepts/storage_engine/)
* [hardware sizing](https://docs.influxdata.com/influxdb/v0.10/guides/hardware_sizing/)
* [config options](https://docs.influxdata.com/influxdb/v0.10/administration/config/)

[2016-03-17 17:38] #6050 closed

[2016-03-17 17:39] umbri commented on #6050
I just create a new RAM disk and configure influxdb to use that disk, this solve all problems.
How about persistence, if I will copy all that influxdb is writing to ramdisk somewhere on persistent disk, lets say every 10 minutes, in case of fault, I will drop only this 10 minutes or it depends on influxdb config ?
And if depends what I need to configure so this DROP to be small ??

[2016-03-17 19:23] afiebig commented on #5446
Hi, i fixed the error doing `sudo chown -R influxdb:influxdb /var/lib/influxdb`

[2016-03-17 19:24] joelegasse commented on #6037
I don't see introducing other types adding too much complexity at the line protocol level, but anything other than the currently supported types of integer, float, boolean, and string will add complexity in both the storage engine and query language.

As far as adding an alternate representation of integers in the line protocol, we could switch to prefix flags, rather than the current suffix for d

[2016-03-17 19:58] joelegasse commented on #6041
We could add some auto-guessing code for when no precision has been set anywhere. We're talking about three orders of magnitude between precision settings `s` → `ms` → `us` → `ns`. I think javascript defaults to milliseconds since epoch. If a `ms` timestamp gets interpreted as seconds, it'll be over 46000 years in the future, which can't even be represented with an `int64` of "nanoseconds since ep

[2016-03-17 20:54] sparrc commented on #5774
Sorry @BGraco, but this isn't an issue that InfluxDB can solve for you, it appears to be a problem with your proxy & git/gnutls. From the error output, you are getting an error running git clone from the `gnutls_handshake()` function.

I searched around for that error message and found this http://askubuntu.com/questions/186847/error-gnutls-handshake-failed-when-connecting-to-https-servers & http:

[2016-03-17 20:54] #5774 closed

[2016-03-17 20:57] gunnaraasen commented on #6041
@joelegasse An order of magnitude check sounds like a straightforward way to handle timestamps with a lack of user-supplied precision. We could even generate a log message if a batch contains a timestamp close to 1970 even at second precision.

[2016-03-17 21:00] sparrc commented on #6041
didn't think of that, sounds like a good idea :+1:

[2016-03-17 21:15] jsternberg commented on #6024
Some initial thoughts before starting to work on any of these about various levels of feasability for each of these.

I think this would be possible. We have a function that is called for raw field queries that already has this information. Do we want to restrict how many shards a query touches? Restricting the number of series returned and the number of shards touched are different from each othe

[2016-03-17 21:17] #6040 closed

[2016-03-17 21:17] pauldix commented on #6041
I'd much prefer the order of magnitude check than changing the default.

This is really a problem around the client libraries. Client libraries should make it clear which precision you're using thus they wouldn't have the problem.

[2016-03-17 21:33] jwilder commented on #6024
@jsternberg For the concurrent queries, I think it should just return an error immediately.  The user would need need to retry.  If the user is getting that error too frequently, they would need to adjust the limit.  The points limit idea was to kill a query after it read a certain number of points to help prevent a bad query from overloading the system.

[2016-03-17 21:33] joelegasse commented on #6041
I think the order of magnitude check would mean there is no longer a "default" precision, right? If we go that route, I think we should also write a warning to the logs for each batch of points that doesn't specify a precision. Something that will tell them, "We're guessing what you meant, but you've probably done something bad, and you should feel bad..." :stuck_out_tongue:

[2016-03-17 21:36] gunnaraasen commented on #6024
What if max queries could be set globally and per user? Then a user could execute queries even if the database was getting crushed by queries from another user.

[2016-03-17 21:38] jsternberg commented on #6024
That's possible. The current version of the query manager that I have up in a PR doesn't support setting limits per user, but I think it's possible to allow that.

[2016-03-17 21:42] gunnaraasen commented on #6041
I'd be worried about the logs getting spammed with that message if it was printed on every write without a precision. We already generate a ton of logs.

[2016-03-17 21:51] joelegasse commented on #6022
This appears to be a corrupt/truncated index from where the code is panicking. We can (and should) add some checks to make sure everything doesn't crash, but that wouldn't fix the ability to load the data, or even prevent the corruption if we happen to be creating these corrupt indexes ourselves.

[2016-03-17 23:20] pauldix commented on #6041
@joelegasse, @gunnaraasen yeah, logging that on every write would be way too loud

[2016-03-17 23:48] jonseymour commented on #6015
I am sorry, @bogdanveres, I am still at loss to explain why your server is using so much RAM when it is in a relatively idle state.

Are you able to disconnect all devices and all grafana dashboards and restart the server? The objective of this experiment would be to understand the amount of memory used when the server is in a completely idle rest state. Could you please attach the logs captured f

[2016-03-18 00:27] benbjohnson commented on #6024
I'm adding stats to the iterators so we can determine this information immediately after planning and then the stats can be checked periodically during execution. Part of the issue is that for distributed queries we'll need to send stats updates within the iterator stream and we won't have true realtime stats for remote nodes. However, I think that's sufficient for this.

re: memory limits, I thin

[2016-03-18 01:42] jwilder commented on #5351
Closing since the new query engine has been merged and there are no steps to reproduce this issue.

[2016-03-18 01:42] #5351 closed

[2016-03-18 01:45] jwilder commented on #5110
This code no longer exists as it has been replaced by the TSM engine.  Please log a new issue if the problem still exists in the latest release.

[2016-03-18 01:45] #5110 closed

[2016-03-18 01:48] jwilder commented on #4979
Should be fixed in the `0.11` release.

[2016-03-18 01:48] #4979 closed

[2016-03-18 01:53] jwilder commented on #4639
Closing this since it's related to the `b1` storage engine which has been replaced by the `tsm` engine in `0.10`.

[2016-03-18 01:53] #4639 closed

[2016-03-18 02:00] jwilder commented on #3316
This is fixed by the `tsm` engine.

[2016-03-18 02:00] #3316 closed

[2016-03-18 02:39] jackzampolin commented on #6049
@alifirat Can you provide the logs (`/var/log/influxdb/influxdb.conf`) for the server from the time the request was made?

[2016-03-18 02:43] jackzampolin commented on #6039
@deathsoverture Clusters in 0.9.6 require 3 machines to function properly. Closing.

[2016-03-18 02:43] #6039 closed

[2016-03-18 08:07] bogdanveres commented on #6015
@jonseymour  here is a snapshot from grafana that covers the restart sequence:

[https://snapshot.raintank.io/dashboard/snapshot/zAnBenTppEPQn5Hqt97dRhKRYjwqdRhC](https://snapshot.raintank.io/dashboard/snapshot/zAnBenTppEPQn5Hqt97dRhKRYjwqdRhC)

Log files and output for the curl command are attached. All devices were turned off. Please let me know if you need other log files.
[LOG_Files.zip](https

[2016-03-18 09:19] alifirat commented on #6049
You mean ` /var/log/influxdb/influxdb.log ` ?

[code]

[2016-03-18 09:29] jonseymour commented on #6015
Thanks for those - can you also send me the influx server log (e.g the output of the influxd process)?

[2016-03-18 09:51] bogdanveres commented on #6015
@jonseymour Influx server log files were added. I also changed the way how the data is inserted into Influx. Now we use this library [https://github.com/AdysTech/InfluxDB.Client.Net](https://github.com/AdysTech/InfluxDB.Client.Net) I don't know if this is changing something. Thanks.

[Influx_logs.zip](https://github.com/influxdata/influxdb/files/179380/Influx_logs.zip)

[2016-03-18 11:27] #6049 closed

[2016-03-18 11:29] alifirat commented on #6049
I remove the version of influx (it was the nightly build) and I installed the stable version which fix my problem. According to the logs, everything seems good but again there are no data into the measurement.

[2016-03-18 12:40] Jimilian opened #6052 "Unexpected behaviour in Python API: time should be in quotes in select"
I found that if you are using simple select query "select * from measurement where t = X" without quotes, result becomes unpredictable. For it's unclear why I should use quotes for time, if time is integer (or long).

[code]

[2016-03-18 12:49] Jimilian commented on #6052
I "moved" this issue to API repository (https://github.com/influxdata/influxdb-python/issues/309)

[2016-03-18 12:49] #6052 closed

[2016-03-18 13:52] psilons opened #6053 "Expose shard group setting to pack more data in one shard"
Hi,

We have a lot of daily data, one data point per day. When we load them in InfluxDB, the database size in the file system is large since the data is kind of sparse in time. So we need to adjust shard group setting to pack more data in one shard.

Thanks,
Rick
(I discussed our usage with Jason Wilder and Sean Beckett)

[2016-03-18 14:30] lcrenix commented on #5998
@supershal Yes, I have a load balance server (nginx) in front of my influxdb instance. Now I know the reason, thank you !

[2016-03-18 14:36] lcrenix commented on #6014
@jwilder yes, I removed some nodes by using `drop meta server` and `drop data server`,  I'll try to manually delete these folders from the hh folder, thank you!

[2016-03-18 14:37] max3163 opened #6054 "[10.3] runtime error: slice bounds out of range => data corrupted"
Hi,

This afternoon, ur influxdb database ceased operating with this error :

panic: runtime error: slice bounds out of range

[code]

Impossible to restart the application, when the corrupted data loaded, influxdb crash again.
The only solution, delete in data and wall directory the corresponding file....

[code]

[2016-03-18 14:42] jonseymour commented on #6015
@bogdanveres

Can you tell me how many points are written by each request?  Is it only one?

My view is that the issues you are experiencing are caused by the relatively low number of points being written per write request. From my analysis of the 0317 logs, there are typically up to 68 requests active at one time. Each of these will be consuming some server resources.

If you can find a a way to

[2016-03-18 15:15] mnlabs commented on #4718
Any news about it? Unwrapping DISTINCT output as @corylanou said would be much appreciated.

[2016-03-18 15:24] jsternberg commented on #6054
@jwilder

[2016-03-18 15:32] aneshas commented on #4718
@corylanou If @benbjohnson has finished refactoring the query engine I'm still up for this one

[2016-03-18 16:15] benbjohnson commented on #4718
The results are unwrapped in v0.11.0 with the new query engine.

[2016-03-18 16:31] BGraco commented on #3782
This has been resolved

[2016-03-18 16:31] #3782 closed

[2016-03-18 17:13] #6042 closed

[2016-03-18 20:32] mnlabs commented on #4718
Excellent. Waiting for v0.11.0 then :)

[2016-03-18 20:56] kyloon opened #6055 "[0.11.0-rc1] Unexpected downsampling/missing rows in large query returns"
I have been seeing some of the bottom rows being unexpectedly downsampled or missing when a query returns >100k rows.

Example query:
`select cpu from host-1 where time >= '2016-02-01' and time <= '2016-03-01' order by time desc`

[2016-03-18 22:09] nickhuber commented on #5603
I get the same scenario. If I create a continuous query on a fresh database it is instant, but trying to create again, even if I drop it first, takes 10 seconds.

I noticed the same thing happens with users

[2016-03-18 22:23] beckettsean commented on #4718
0.11 returns each DISTINCT result on a new line, so this is now irrelevant.

[2016-03-18 22:23] #4718 closed

[2016-03-18 22:34] beckettsean commented on #77
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:35] beckettsean commented on #3674
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:35] #3674 closed

[2016-03-18 22:35] beckettsean commented on #813
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:35] #813 closed

[2016-03-18 22:35] beckettsean commented on #739
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:35] #739 closed

[2016-03-18 22:35] beckettsean commented on #984
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:35] #984 closed

[2016-03-18 22:35] beckettsean commented on #993
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:35] #993 closed

[2016-03-18 22:35] beckettsean commented on #2482
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:35] #2482 closed

[2016-03-18 22:35] beckettsean commented on #1400
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:35] #1400 closed

[2016-03-18 22:35] beckettsean commented on #513
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:35] #513 closed

[2016-03-18 22:35] beckettsean commented on #142
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:35] #142 closed

[2016-03-18 22:35] beckettsean commented on #143
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:35] #143 closed

[2016-03-18 22:35] beckettsean commented on #659
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:35] #659 closed

[2016-03-18 22:36] beckettsean commented on #1115
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:36] #1115 closed

[2016-03-18 22:36] beckettsean commented on #1823
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:36] #1823 closed

[2016-03-18 22:36] beckettsean commented on #717
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:36] beckettsean commented on #5095
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:36] #5095 closed

[2016-03-18 22:36] beckettsean commented on #1825
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:36] beckettsean commented on #1856
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:36] beckettsean commented on #3691
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:36] #3691 closed

[2016-03-18 22:36] beckettsean commented on #834
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:36] #834 closed

[2016-03-18 22:36] beckettsean commented on #5150
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:36] #5150 closed

[2016-03-18 22:36] beckettsean commented on #2467
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:36] #2467 closed

[2016-03-18 22:36] beckettsean commented on #2911
As mentioned in my [post to the mailing list](https://groups.google.com/d/msg/influxdb/CkKzZoXDgiU/5E-vDNVGCwAJ) we are experimenting with simplifying our open GitHub Issues. This feature request has been rolled into an [aggregate issue](https://github.com/influxdata/influxdb/issues/5930) for all function requests, so that we can close this issue until we are ready to work on it.

You may continue

[2016-03-18 22:36] #2911 closed

[2016-03-19 00:39] beckettsean commented on #6037
I believe comments in a batch is a very useful thing to support. Not at all for production use cases, but explicitly for tutorial and example cases. We can very easily publish self-documenting batches of data for the getting started guides, for webinars, etc. We can accomplish a lot of the same goal by talking about the batch, but it's always nicer, more portable, and less error-prone to have the

[2016-03-19 00:42] beckettsean commented on #6037
I like very much the idea of using leading characters for data types. It's easily extensible and echoes the hex/ascii/octal pattern that is very familiar.

Would it still be possible to submit timestamps in minutes or hours precision using the `precision=[h,m]` query parameter? I don't know if it's a killer use case, but it seems cleaner to support consistent time units for writes and reads. (Note

[2016-03-19 00:48] beckettsean commented on #6041
Some of the awesome is lost if users don't experience nanosecond support initially, I think. It's very powerful to SHOW that the database is so modern and powerful that it handles nanoseconds with aplomb. If we default to seconds, that's a power-user feature that almost never gets noticed except by the people explicitly looking for it. Not really a strong argument, I know, but I do think it's impo

[2016-03-19 00:50] beckettsean commented on #6011
Database and RP names are also very likely to be communicated in URL query parameter strings, whether at write time or at query time. URL support for full UTF-8 is pretty good, but I think restricting it to mostly bare ASCII ensures we don't have API compatibility issues on any network layer.

[2016-03-19 00:54] andrecarlucci commented on #5359
Hi @mvadu ,
I downloaded the 0.10 version from here: https://github.com/mvadu/influxdb/releases/tag/v0.10.1, but it says version 0.9 when running influxdb.
Any ideas?

[2016-03-19 01:47] joelegasse commented on #6037
If we are going to continue to support "minutes since epoch" and "hours since epoch", then I would say that we should support them in both the in-line timestamps as well as the `precision` parameter. I left them out initially because I don't know of any other software that measures time in those units.

Supporting the extra units is trivial, so if they are useful for something other than just sayi

[2016-03-19 02:14] joelegasse commented on #6041
@beckettsean The order-of-magnitude check would replace the concept of a "default precision", and would instead pick the scale that would have the timestamp closest to the current time. Points without a timestamp would still be tagged with the nanosecond-precision time of when they were received by the server.

This check would mitigate some of the confusion/frustration that comes from just assumi

[2016-03-19 02:22] joelegasse commented on #6054
@max3163 Could you describe what kind of data you were writing in to the database? Did the server crash while running, or was after a clean shutdown and restart?

Is this reproducible? What library/script are you using to populate the database? How many measurements/series were you creating? How many fields and of what types were you creating for each series?

Would you be able to upload/share an

[2016-03-19 02:30] joelegasse commented on #6008
I created #6037 to update the definition of the line protocol to be very strict in handling escaping of characters, as well has handle a few other scenarios (in-line timestamp precision, quoted tag values, and a few other things).

[2016-03-19 02:32] joelegasse commented on #5998
This issue appears to have been resolved, with the cause being external to InfluxDB. If this is incorrect, please let me know and we can re-visit this issue.

[2016-03-19 02:32] #5998 closed

[2016-03-19 02:34] joelegasse commented on #5958
@JauntyWard Are you including "https" at the beginning of the URL? I've seen that error in the past when an unencrypted HTTP connection is attempted on the secure port.

[2016-03-19 02:38] joelegasse commented on #5976
@timdicon To answer you questions about JSON: it is considered a deprecated format, it must be manually enabled currently, and will be removed in a future release.

[2016-03-19 02:42] joelegasse commented on #6037
In browsing recent issues, I came across #5976, where it appears carriage returns are being sent in the payload. If there is no strong opposition, I think we should add an optional `'\r'` before the newline characters. This would mean example files could be saved/created/uploaded by windows users without getting errors about invisible characters they have no control over. Or, as was the case in th

[2016-03-19 02:55] lqx302 commented on #5998
Thanks！restart the clustering this issue not appear again.

[2016-03-19 02:59] joelegasse commented on #5934
@andybrier Can you provide us some more information on what kind of data you're writing to the server and how you are submitting it? How many series/tags/fields are you using, and what types of values are you storing the in the fields?

To reiterate @toddboom's question: would you be able to share with us a snapshot of your database?

[2016-03-19 03:06] joelegasse commented on #5915
@maniac103 This sounds similar to an issue solved by #5996. Can you try this with the 0.11 release candidate and see if the problem still exists?

[2016-03-19 03:15] joelegasse commented on #5910
@temmihoo As of the 0.11 release candidate, and all future releases, the `b1` and `bz1` storage engines will not be supported. That being said, we should probably update the 0.10 documentation to make it clear that TSM is required for backup/restore functionality. I went ahead and created a ticket in the documentation repo for this: https://github.com/influxdata/docs.influxdata.com/issues/331

[2016-03-19 03:15] #5910 closed

[2016-03-19 03:20] joelegasse commented on #5907
@pbooth The only technical limit on points per series should be the available disk space.

Were you able to come up with a set of steps to reproduce losing data, or is this just a case of double-counted points getting removed by deduplication?

[2016-03-19 03:24] joelegasse commented on #5884
@bmeboy Please use version 2 of the client for now: https://godoc.org/github.com/influxdata/influxdb/client/v2

I'm going to close this issue since we recommend the v2 client. If you have trouble using the updated client, please file another issue.

[2016-03-19 03:24] #5884 closed

[2016-03-19 03:32] joelegasse commented on #5868
@sofixa We now have a page talking about [HA](https://influxdata.com/high-availability/) with InfluxDB, and should have some code in (influxdb-relay)[https://github.com/influxdata/influxdb-relay] next week.

I'm going to close this issue, but feel free to open issues in the influxdb-relay project for any further questions about HA and InfluxDB.

[2016-03-19 03:32] #5868 closed

[2016-03-19 03:33] JauntyWard commented on #5958
Yes, that includes https in the URL.

[2016-03-19 03:37] joelegasse commented on #5851
@pbooth There are two active discussions around both restricting names and updating/improving the line protocol. Please join the discussion over at #6011 and #6037.

[2016-03-19 03:37] #5851 closed

[2016-03-19 03:53] joelegasse commented on #6011
In browsing the issues, I came across one instance that should add a real-world example where supporting every single character (including the invisible ones) caused unexpected behavior: #5851. Escape sequences were saved in to the file, then fed to InfluxDB. Since `^[` (escape) isn't a comma or space, it was included as part of the measurement name. This was also then piped back out as a raw cont

[2016-03-19 03:56] joelegasse commented on #5856
@fxstein The data is split up by series, which takes the measurement name and tag set (keys and values) to create a series key. I do not believe there is currently a means of combining series by "dropping" tags. I think you'll have to re-load your data and make those tags fields instead.

[2016-03-19 03:56] #5856 closed

[2016-03-19 04:09] joelegasse commented on #5772
/cc @beckettsean @pauldix This sounds like something that should be in the docs/announcement for 0.11. I don't think downgrading was ever an officially supported, but with support for `b1` and `bz1` shards disappearing, and lingering questions about upgrade paths from 0.9, this might be something to investigate and be able to have a clear message about in the release notes/announcement.

[2016-03-19 04:15] fxstein commented on #5856
Thanks I was afraid that would be the answer.

It makes the whole schema less - late binding - you don't need to design a database - a mood point. It means that if you don't know your data upfront and you make a mistake you are screwed and have to start over. We have learned the same from the likes of MongoDB and now so many other no relational approaches. This always becomes the achilles heal of

[2016-03-19 06:35] maniac103 commented on #5915
@joelegasse Are there deb packages of the RC available by any chance?

[2016-03-19 08:17] gzliudan opened #6057 "data lost on influxdb 0.10.3 udp"
I write a c language program to test the performance of influxdb.  The running enviroment is oracle linux 7.2, gcc 4.8.5, influxdb 0.10.3. net.core.rmem_max is 8388608. Other config of influxdb use default value. The test program submits a record through udp which is 92 bytes in a loop. In the loop, if write a record to udp port and usleep(1), then the program can write 12000 records per second wi

[2016-03-19 08:55] simnv opened #6058 "[0.12.0] Too much write OPS"
I have a test setup using opentsdb input to collect data from several bosun scollectors feeding little above 8k metrics per second. I have two continuous queries, one running every ten minutes, other running every hour, both just storing mean values into other retentions.

My problem is that influx constantly makes write operations on disk. About 4k ops. It doesn't consume much memory, but those w

[2016-03-19 09:04] simnv commented on #6026
+1

[2016-03-19 10:05] mengelmann commented on #2785
I would love to be able to use multiple Collectd plugin listeners.

Use case:
- multiple groups of servers that use Collectd to report statistics to Influxdb
- use Grafana as a dashboard, and there is an organization for each of servers' group, and each of organization has a different data source: separated Influxdb database
- each group of servers should save statistics to a separated Influxdb da

[2016-03-19 12:38] learnaddict commented on #5112
I've installed version 0.10.3 on a Raspberry Pi and seeing the issue as well, using https://s3.amazonaws.com/influxdb/influxdb-0.10.3-1_linux_arm.tar.gz

The history file is not being created at all.

I captured the strace output using `strace -ffttTo /tmp/strace.out influx` and executed `show databases` in the client. This is the output from `grep ENOENT /tmp/strace.out*`

[code]

Is the filename

[2016-03-19 12:41] max3163 commented on #6054
Hi,

Assuming the crash come from the rp : one_week ( like I could see in the log ) I wrote only log data ( so string data ) in this database.

The server crash while running. And after a restart, the server crash too, when the corrupted data loaded.

I can't reproduce it.
I use a java programm who parse log and use java http api to populate the database.
Only one measurement with only one field b

[2016-03-19 14:11] joelegasse commented on #5915
Yes, they are available on the download site: https://influxdata.com/downloads/

[2016-03-19 14:13] joelegasse commented on #6054
Thank you for providing what information you could. I'll continue to track this via #6022

[2016-03-19 14:13] #6054 closed

[2016-03-19 14:46] joelegasse commented on #6057
@gzliudan You can try setting the `read-buffer` setting for the UDP service in the configuration file for InfluxDB to match `rmem_max`. What is `net.core.rmem_default` set to?

You said each each payload is only 92 bytes, are you only sending one point per packet? If you have a special use case where you can guarantee smaller packets, then you can try setting `udp-payload-size` to something smalle

[2016-03-19 15:01] maniac103 commented on #5915
Thanks, I missed the 'sections' selector. I'll give it a test and let you know.

[2016-03-19 16:44] BrannonKing commented on #6057
The OS itself is allowed to drop UDP packets when its buffers (or its NIC driver's buffers) are full.

[2016-03-19 18:10] mengelmann commented on #1110
@pires how can I help to merge PR #4740 into master? What is required to perform system tests?

[2016-03-19 18:39] mark-rushakoff commented on #6058
Are you batching your points?

When a write comes in to Influx, the points in the write are stored in both the in-memory TSM cache (for query performance) and the on-disk WAL (for permanent storage, to be eventually snapshotted and compacted into TSM files).

The WAL is grouped by retention policy and database, both of which are fixed per batch; therefore one POST to /write or one OpenTSDB write a

[2016-03-19 20:36] maniac103 commented on #5915
Looks like it's working. I get the correct data point now even with recent data.

[2016-03-19 20:36] #5915 closed

[2016-03-20 00:27] steverweber commented on #6024
I personal consider `Max query time` the most important of the proposed limits.
Would be nice to set a default on a database and override per query.

default on a database would resolve:

per query:

[2016-03-20 04:50] simnv commented on #6058
Thank you for the suggestion. Metrics were batched in 500 points per host.

I have set batches to about 10000 points per host, depending on a host, but still have the same periods of writes every five minutes, for four minutes out of five:
![Disk IOPS](https://cloud.githubusercontent.com/assets/3754755/13902861/2e6a241c-ee88-11e5-9d73-43d5a7ea64b5.png)

Metrics at the same time:
![Metrics count](h

[2016-03-20 14:52] tbowmo commented on #5930
Is there any timeline for these functions? (I'm very interested in the aggregate integral functions, to calculate kWh from watts). Seems that a feature request was opened a year ago.

[2016-03-20 16:24] mark-rushakoff opened #6061 "[0.12 / master] POST to /write does not write points if request has header 'Content-Type: application/x-www-form-urlencoded'"
**tl;dr**: POST to /write with `Content-Type: application/x-www-form-urlencoded` appears as a request with an empty body to the `httpd` service. The client can't distinguish between a response where no points were written and a response where all points were successfully written.

I'm working from d61d75f55dae702e9bdf5a92eb62f1dfb6eb76bb and I've made the following modifications to my working tree

[2016-03-20 16:33] mark-rushakoff commented on #6037
I ran into a nasty bug involving the Content-Type header in https://github.com/influxdata/influxdb/issues/6061. When sending line protocol over HTTP, do we need [a custom MIME type](https://tools.ietf.org/html/rfc6838)? Would a recommendation of `text/plain` suffice?

[2016-03-20 17:04] joelegasse commented on #6061
@mark-rushakoff Try replacing calls to `FormValue()` with `r.URL.Query().Get()`, since we never actually want to attempt to decode the body as a url-encoded form.

[2016-03-20 17:06] joelegasse commented on #6037
I noticed we are using `FormValue()`, which we really shouldn't be, since we only ever want the URL query parameters. `FormValue`, I believe, attempts to parse the request body if it is declared as a URL-encoded form... `text/plain` is probably the appropriate `Content-Type` for our write endpoint.

When I mentioned "custom header", I meant `InfluxData-Line-Version: 2`, or something similar. Altho

[2016-03-20 19:25] mark-rushakoff commented on #6061
@joelegasse Yep, that fixes it. There's a few other uses of `FormValue` in `serveWrite`, and it's probably worth writing a test to make sure we don't regress on `Content-Type: application/x-www-form-urlencoded`, since it's common for HTTP client libraries to default to that.

Any thoughts on `/write` reporting back how many points were written?

[2016-03-20 23:31] nelg commented on #2625
+1 for this issue.  Without good data down-sampling / roll up, moving from whisper is likely to present problems for graphite graphs over long time periods.  Ideally needs a way to set a default policy around rollup and retention, for all metrics of a specific type.

[2016-03-21 01:26] gzliudan commented on #6057
Thank all very much!
I set udp below parameters in linux:
sysctl -w net.core.rmem_max=33554432
sysctl -w net.core.wmem_max=33554432

And I set below parameters influxdb.conf:
batch-size = 1024
batch-pending = 256
read-buffer = 33554432
udp-payload-size = 128

After restart influxdb, my test program can submits 400000 records in 1.58 seconds through udp protocol without data loss. But influxdb need

[2016-03-21 01:45] mvadu commented on #4847
@otoolep I think you need to update Contributing.md to say the difference in ldflags format based on go version. The current prescribed go version for Influx is 1.4.3, and it uses `variable value` format, while the docs say `variable=value`, which is opt for go 1.5.

[2016-03-21 02:28] hz commented on #4121
Confirmed with release 0.10, single instance, tsm1 engine :
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/requests/packages/urllib3/connectionpool.py", line 376, in _make_request
    httplib_response = conn.getresponse(buffering=True)
TypeError: getresponse() got an unexpected keyword argument 'buffering'

During handling o

[2016-03-21 03:10] mvadu commented on #5359
@andrecarlucci Please check out [v0.11.0-rc1](https://github.com/mvadu/influxdb/releases/tag/v0.11.0-rc1). This is same 0.11 code that Influx pushed out last week with one additional fix for windows side to fix port 8091 issue. I think previous version had 0.9 hardcoded in web UI, and the server needed ldflags to passed in properly.

[2016-03-21 07:00] haowells opened #6063 "how to check field type ?"
any command can show the field type info like int, float etc  ?

[2016-03-21 07:09] lqx302 commented on #5783
influxdb 0.10.3
clutering node number is 4,all node : Server returned error: write message type: use of closed network connection
![image](https://cloud.githubusercontent.com/assets/9473278/13912324/c25b950e-ef76-11e5-8bb8-ea9d0795d95a.png)
![image](https://cloud.githubusercontent.com/assets/9473278/13912337/e2b69682-ef76-11e5-837b-04c0eb9bb41a.png)

[2016-03-21 08:47] breath-co2 commented on #6045
@jwilder is it possible add a parameter of compaction level that like 1 to 9? otherwise, compression so high CPU usage, I can only give up the use of it.

[2016-03-21 08:49] Madhu94 opened #6064 "Influxdb 0.11 hangs on queries"
This is the error logged by influxd:

[query] 2016/03/21 04:33:57 SELECT count(half_life) FROM app_usage."default".dportal
(this query was taking too long so I pressed Ctrl+C)
^C[run] 2016/03/21 04:44:33 Signal received, initializing clean shutdown...
[run] 2016/03/21 04:44:33 Waiting for clean shutdown...
[snapshot] 2016/03/21 04:44:33 snapshot listener closed
[copier] 2016/03/21 04:44:33 copier

[2016-03-21 09:59] guruprasadar commented on #38
I am using latest influxdb (0.10). Influxdb size id around 1.5 GB. Memory it is consuming more than 6GB. Is any issue with this. My db size will grow continuously now i am worried may be i will get out of memory.

Below is the top output for influx db
11222 influxdb  20   0 9593m 6.8g 343m S  0.7 44.0  24:59.95 influxd

du -sh influxdb
1.5G	 influxdb

[2016-03-21 10:35] sirkubax opened #6066 "Graphite server not listening on port 2003"
Graphite server not listening on port 2003. It did just 'stopped working' :/

As You can see - it was working before:

	[handoff] 2016/02/23 15:30:48 Starting hinted handoff service
	[handoff] 2016/02/23 15:30:48 Using data dir: /influxdb/influxdb/hh
	[tcp] 2016/02/23 15:30:48 Starting cluster service
	[shard-precreation] 2016/02/23 15:30:48 Starting precreation service with check interval of 10m0

[2016-03-21 10:39] sirkubax commented on #6066
Invalid? Somehow it was enabled = false

enabled = true

now it is working again

[2016-03-21 10:39] #6066 closed

[2016-03-21 13:06] rubycut opened #6067 "some tag names not supported"
Hi, if I have tag called database, they I can't query on those tags

[code]

[2016-03-21 13:17] anlutro opened #6068 "systemd service should "wait" until influxdb has finished starting up"
Currently, using a configuration management tool, whenever the InfluxDB configuration file gets modified, InfluxDB gets restarted. The `systemctl restart` seems to complete immediately, but InfluxDB doesn't seem to be fully restarted - because some subsequent commands that check if an InfluxDB user exists and creates it if it doesn't, fails with a "Connection refused" message. If I run the configu

[2016-03-21 14:30] rubycut opened #6069 "weird query errors while backfilling"
Query doesn't work if it has date few day in the back:

[code]

[2016-03-21 14:34] #6064 closed

[2016-03-21 14:43] rubycut commented on #6067
Even default telegraf plugins can't be added to continuoues query:

[code]

[2016-03-21 14:58] rossmcdonald commented on #6068
@anlutro I think what you're seeing is the HTTP listener not being up immediately after the service starts (which is expected). The [systemd unit file](https://github.com/influxdata/influxdb/blob/master/scripts/influxdb.service) simply calls the `influxd` binary directly, so there is no extra script being called when using systemd.

When InfluxDB starts, it does a few different things that take ti

[2016-03-21 15:01] rossmcdonald commented on #6067
@rubycut Do you see the same issue if you wrap the identifiers in quotes? For example, changing:

[code]

To:

[code]

[2016-03-21 15:04] jwilder commented on #6030
Fixed via #6051

[2016-03-21 15:04] #6030 closed

[2016-03-21 15:14] rossmcdonald opened #6070 "CLI History Error on ARM"
When running the InfluxDB CLI on ARM Linux (specifically Raspbian), the command history returns the error:

[code]

Even though the user is set appropriately. Based on [this](https://github.com/influxdata/influxdb/issues/5112#issuecomment-198695157) comment, it seems like the file history path isn't being set correctly.

[2016-03-21 15:14] jwilder commented on #3643
Fixed via #5742

[2016-03-21 15:14] #3643 closed

[2016-03-21 15:16] rossmcdonald commented on #5112
I've opened another issue for tracking of the `error writing history` problem on ARM [here](https://github.com/influxdata/influxdb/issues/6070), and will be closing this issue now that ARM builds have been added to the repository.

[2016-03-21 15:16] #5112 closed

[2016-03-21 15:17] jwilder commented on #6014
Closing this is as this is a known issue an won't be fixed in 0.11 or later.  Hinted handoff code no longer exists in master.

[2016-03-21 15:17] #6014 closed

[2016-03-21 15:21] anlutro commented on #6068
Sure, I can definitely hack something together, and probably will until this gets resolved. I still think it's a problem worth solving though - I haven't had to implement this type of workaround for any services other than InfluxDB and, to a lesser extent, Kapacitor.

[2016-03-21 15:22] jwilder commented on #6069
What version are you using?

[2016-03-21 15:23] pethani opened #6071 "How to write heavy load to Influxdb?"
Hi,

i am new in influxdb and trying to store sensor data in Influxdb with 400-500 Field and 1 Tag and Timestamp given manually with nanosecond accuracy. i try to store 300,000 point for one specific tag with c# client (https://github.com/MikaelGRA/InfluxDB.Client) in 1000 batch set and it take quite lot time to send it from client node. In One database have approximately 20 to 25 series.

configu

[2016-03-21 15:27] jwilder commented on #6063
There is no way to show the field type currently.  By default, all numeric values are stored as floats unless you are explicitly sending them as integers.

In the future, questions like this should be sent to the mailing list.  Please take a look at our [contributing guidelines](https://github.com/influxdata/influxdb/blob/master/CONTRIBUTING.md#bug-reports).

[2016-03-21 15:27] #6063 closed

[2016-03-21 15:50] jwilder commented on #5247
Closing since this code no longer exists in master.

[2016-03-21 15:50] #5247 closed

[2016-03-21 15:51] #5214 closed

[2016-03-21 15:52] jwilder commented on #5693
Assuming this is fixed via #5996.  Let us know if this issue is still occurring with latest nightlies.

[2016-03-21 15:52] #5693 closed

[2016-03-21 16:14] rubycut commented on #6067
Yes, double quotes work, leaving issue open, needs to be documented somewhere.

[2016-03-21 16:17] rubycut commented on #6069
influxdb_0.10.1-1_amd64.deb

On Mon, Mar 21, 2016 at 4:22 PM Jason Wilder <notifications@github.com>
wrote:

[2016-03-21 16:35] jwilder commented on #6069
@jsternberg @benbjohnson Is this limit still in place for 0.11?

[2016-03-21 16:37] jwilder commented on #5343
Should be fixed in 0.11

[2016-03-21 16:37] #5343 closed

[2016-03-21 16:38] jwilder commented on #5105
This was an issue w/ the b1 and bz1 storage engines.  Those engines have been replaced by the tsm engine in `0.10`.

[2016-03-21 16:38] #5105 closed

[2016-03-21 16:42] gunnaraasen commented on #6037
Requiring a header to use the new version of the line protocol would be very annoying to use. Will we be supporting both line protocol versions at once? If not, we can be very vocal about mentioning the change when people are upgrading. Most existing line protocol should work with the new version so I don't think it will be a huge disruption as long as we add support for the new protocol to the po

[2016-03-21 16:42] jwilder commented on #5222
Fixed in `0.10`.

[2016-03-21 16:42] #5222 closed

[2016-03-21 16:45] dhakadamit opened #6074 "Issue with hourly Continuous Queries for IST timezone (+530)"
Due to lack of timezone support, the continuous queries create hourly data in UTC. Since, in India, we are 5:30 hours ahead, the data ends beings calculated at 9:30 IST, 10:30 IST instead of hourly calculations like 9:00 IST, 10:00 IST.

Any ideas?

[2016-03-21 16:46] mark-rushakoff commented on #6071
There's a few simple things you can do that will likely speed things up:

* Make sure your client is using the line protocol, not JSON, to write points. I couldn't tell which approach the library you mentioned is using, but [influxdb-lineprotocol](https://github.com/nblumhardt/influxdb-lineprotocol) is a .net library that may help.
* Prefer a solid state drive over an HDD.
* On the server, 4GB of

[2016-03-21 16:48] benbjohnson commented on #6069
That limit was removed in 0.11.

[2016-03-21 16:48] jwilder commented on #6069
@rubycut Should be fixed in 0.11.

[2016-03-21 16:48] #6069 closed

[2016-03-21 16:51] jwilder commented on #675
@jsternberg Will #5950 resolve this?

[2016-03-21 16:54] adventures91 commented on #5889
@jwilder running into the same problem as pbooth on my local machine where I know that the disk never became full and I never modified or converted the files these came from a fresh install of influxdb 0.10.1-1.

[2016-03-21 16:55] jsternberg commented on #675
Yes. In the PR I made, I also fixed a bug where a closed HTTP connection didn't close the interrupt channel correctly.

[2016-03-21 16:56] linuxbutler commented on #6000
This is what I need, a type of continuous downsample on the same series, not a separate series.

Something like:
Now until 30 days, 1 second resolution
30 days until 60 days, 30 second resolution
60 days until 90 days, 1 min resolution
etc etc

Would be nice if it can be configurable, the ranges, and the downsample resolution.

[2016-03-21 16:56] jwilder commented on #5399
Fixed in 0.11.

[2016-03-21 16:56] #5399 closed

[2016-03-21 16:59] joelegasse commented on #6037
I was trying to avoid talking too much about the transition here, but I guess I should probably explain what I had in mind a bit more:

Step 1 (current): Only current line protocol supported
Step 2: Add support for new line format via header
Step 3: Make new format default, old version available via header
Step 4: Only support new format

We could be more aggressive with the transition and skip St

[2016-03-21 16:59] pethani commented on #6071
@mark-rushakoff  Thank you very much
i already using TSM engine and also tried with 1500, 2000, 3000 large batch size, but then it become even worse then 1000
i will try  influxdb-lineprotocol  and

[2016-03-21 17:18] tsunam commented on #5987
Hmm for some reason...and this isn't entirely clear but all three nodes are getting their ID set to 1 even when they are started at different times. I confirmed on a different cluster that each node is getting a different node.json ID number. In this cluster..each server is getting ID:1.

cat /var/lib/influxdb/meta/node.json
{"ID":1,"MetaServers":["influxdb-p18091","influxdb-p2:8091","influxdb-p3:

[2016-03-21 17:34] sstarcher commented on #5889
Looks like I may be having a similar issue.  We had some networking problems on our servers and influxdb is now angry.  The disk is 5% full

[code]

[2016-03-21 17:39] sstarcher commented on #5889
After a crash and restarting it I get the same issue.  I'm going to revert my data mount to a backup.  I'll take a snapshot of the bad data if you need me to debug it.

[code]

[2016-03-21 18:18] jwilder commented on #5889
@sstarcher What filesystem are you using?  Can you describe your hardware setup?

[2016-03-21 18:25] sstarcher commented on #5889
* AWS
* OS: CoreOS
* InfluxDB Version - v0.10.2
* InfluxDB running in Kubernetes with the data backed by EBS

[2016-03-21 18:30] BGraco commented on #5774
This is a post to confirm that compiling git with openssl instead of gnutls did resolved my issue.

Thanks for the help!

[2016-03-21 18:34] sparrc commented on #5774
glad to hear that worked for you, thanks @BGraco!

[2016-03-21 19:26] pbooth commented on #5889
Mine is physical dual Sandy bridge centos 6.3/6.4 with fusionio drives.

Sent from my iPhone

[2016-03-21 19:27] savraj commented on #2074
Agree that this is super important. The current workaround is to just work with hourly data and handle all the timezone stuff outside of influxDB. Correct?

[2016-03-21 20:00] ukaj commented on #5889
Probably the same issue with InfluxDB 0.10.1, it happens after running out of space

[code]
One interesting message seems to be truncated by docker syslog log driver. There is also gap in logs from 15:00:30 till 15:29:40.
Messages like above continue to appear till restarting InfluxDB.
Then after restarting it I got:
[code]

My specification:
KVM + Docker (docker-compose)
OS: Debian Jessie
Data wa

[2016-03-21 20:02] #5939 closed

[2016-03-21 20:06] jsternberg opened #6075 "Max query time - Kill queries that run for longer than a certain duration"
#6024

[2016-03-21 20:08] jsternberg opened #6076 "Number of series - Kill queries that would access too many series at once"
#6024

@jwilder should this be a limit done at the beginning or during a query?

#6073 should be useful for implementing this.

[2016-03-21 20:10] jsternberg opened #6077 "Number of points - Kill queries that access too many points"
#6024

#6073 should be useful for implementing this limit.

[2016-03-21 20:10] jsternberg opened #6078 "Max group by buckets - Prevent queries that would create too many buckets (e.g. group by time(1s) over 1y of points)"
#6024

[2016-03-21 20:11] jsternberg opened #6079 "Max concurrent queries - Limit the number of concurrent queries that can be run at once"
#6024

[2016-03-21 20:15] jsternberg opened #6080 "Max memory - Kill queries that allocate more than certain amount of RAM"
#6024

[2016-03-21 20:15] jsternberg commented on #6024
I've created all of the relevant issues so the tasks can be divided and worked on separately.

[2016-03-21 20:44] jwilder commented on #6022
Should be fixed via #6082

[2016-03-21 20:44] jwilder commented on #5889
Should be fixed via #6082

[2016-03-21 21:08] CamJN opened #6084 "Query language coverage for authorization shim"
Can someone look at my authorization code for influxdb & grafana and let me know if I'm missing a feature of the query language that would allow someone to bypass my checks?

code is here: https://github.com/grafana/grafana/pull/4344/files

[2016-03-21 21:42] #5889 closed

[2016-03-21 21:44] #6022 closed

[2016-03-21 22:28] pauldix commented on #5772
People do generally have the expectation that they'll be able to downgrade if for some reason the upgrade doesn't work well for them. Although maybe it'll be enough to document and tell people to fully back up if they want to be able to downgrade?

[2016-03-21 22:29] gunnaraasen commented on #2074
@savraj correct, all timezone calculations currently need to be handled outside of InfluxDB.

[2016-03-21 22:32] jwilder commented on #5772
This should be fixed via #5957. There shouldn't be an issue rolling back to 0.10 from 0.11 now.

[2016-03-21 22:32] #5772 closed

[2016-03-21 22:39] jwilder commented on #6076
If it could be done at the beginning, that would be better I think.

[2016-03-21 22:49] gunnaraasen commented on #6037
I also prefer using a header over changing the path.

In Step 3, client libs would need to be updated to support the old version header. Since the client already needs to be updated, we should incentivize people to simply add support for the v2 protocol instead of essentially committing to using an old version.

In that context, I think skipping Step 3 and keeping Step 2 would allow client libs to

[2016-03-21 23:05] earthnut commented on #6058
@mark-rushakoff    one question about the subscriber .
will  the data be send to subscriber after  in-memory TSM cache and on-disk WAL flushed to storage  or at the same time inlfuxDB received it.

[2016-03-21 23:18] mark-rushakoff commented on #6058
@simnv something seems weird about your disk activity. Is that a network drive? HDD or SSD? I'm not aware of other reports of that kind of heavy disk activity so I'm inclined to believe something is unusual about your setup.

@earthnut it doesn't appear that there's any guarantee about the order of points sent to subscribers vs. flushed to shards: https://github.com/influxdata/influxdb/blob/d024ca

[2016-03-22 00:45] CamJN opened #6086 "Documentation Error"
From what I can tell the current spec given at: https://docs.influxdata.com/influxdb/v0.10/query_language/spec/ is incomplete, for example it doesn't cover regex literals in the from clause of a select statement. Is there a complete and correct spec somewhere?

[2016-03-22 01:27] itxx00 commented on #2074
+1

[2016-03-22 02:59] sharang opened #6087 "RP/CQ cause memory leak"
influxdb 0.10.2

memory usage increase fast after influxdb start.

[code]

[code]

[code]

[code]

[2016-03-22 03:01] sharang commented on #6087
influxd has killed by oom several times:

[code]

[2016-03-22 03:10] jsternberg commented on #6055
@benbjohnson this seems to be an issue with queries ordered by descending time. I used `influx_stress` to generate a database and counted the number of rows emitted by these two commands:

`select value from cpu`: 10000000
`select value from cpu order by desc`: 3925000

[2016-03-22 03:45] mark-rushakoff commented on #6087
Do you have the stack trace from any of the OOMs?  If so, can you attach it to the issue?

[2016-03-22 05:25] sharang commented on #6087
@mark-rushakoff
I restart influxd just now, and generate a core after it consume 48% memory.
But it is too big, 7G...

Where can I upload this core file?

[2016-03-22 05:29] cheribral commented on #5764
We are having this problem as well, but to be fair we've had it for a long time.  I'm not sure if it is even the same thing I reported initially in #4952, but we haven't had any huge improvements since then in the startup time.  While we've put up with it, it became painful while we tripped over #5965.

I was reminded of it again today when I had to make a config change, which required a restart a

[2016-03-22 05:34] mark-rushakoff commented on #6087
Actually the text log should be informative enough first. It should be under `/var/log/influxdb/` if you installed via .deb or .rpm. You should be able to create a gist from it if it's too long to paste in a comment.

[2016-03-22 05:43] sharang commented on #6087
I generate a trace using `pstack` for a running influxd.

btw, there is no trace under /var/log/inlufxdb/

[code]

[2016-03-22 05:53] sharang commented on #6087
[https://gist.github.com/sharang/4a10cb8eab6359c7cb02](url)

[2016-03-22 07:07] andybrier commented on #5934
@joelegasse  I would like to share the snapshot of my database. but how can i get the snapshot?

[2016-03-22 07:10] andybrier commented on #5934
It happened about 2 or 3 days after i restarted the influxdb.

[2016-03-22 07:10] ThomasKurz commented on #2074
+1

[2016-03-22 09:32] TheOneValen commented on #6000
Example from @linuxbutler is exactly what I meant. Additionally I have massive performance problems using continuous querys on a Raspberry Pi. Continuous querys also mean an additional measurement to manage in my application as well as in Grafana.

[2016-03-22 10:50] bogdanveres commented on #6015
@jonseymour
Yesterday I created a backup of our database. After backup process was completed I dropped the database. The memory consumption started to decrease after this step. I also changed the way how the data is inserted in database. Now data is inserted in batch. The problem is that I have a lot of dashboards in Grafana and the memory consumption starts to increase when I'm looking over some

[2016-03-22 10:58] lcrenix opened #6088 "Got invalid 'H' when backing up a db"
I got an error when backing up a database, can any one help?
I'm using v0.11, build from the master branch and sure with the host and port.

usr/bin/influxd backup -host xxxx:8096 -database cibc -retention default -since 2016-01-01T00:00:00Z ./backup
2016/03/22 18:55:13 backing up rp=default since 2016-01-01 00:00:00 +0000 UTC
2016/03/22 18:55:13 backup failed: **invalid character 'H' looking for

[2016-03-22 12:31] jsternberg commented on #6037
I think we need all of the steps for transitioning and I don't really think it's going to be too big of a deal. Supporting multiple write protocols isn't very difficult for us as long as we say, "When the new write protocol exists, we will not fix bugs in the old one." The only time it ends up being a potential problem is for security fixes.

I fully approve of reading `\r` before a newline for Wi

[2016-03-22 12:52] jsternberg commented on #6055
I took every interval output by stress and counted how many points were output.

[code]

When done on the ascending output, every column is 100000.

[2016-03-22 13:09] zstyblik commented on #5764
@jwilder are there any plans to merge #5372?

[2016-03-22 13:55] #6055 closed

[2016-03-22 14:37] jwilder commented on #5983
This should be fixed via #6082.

[2016-03-22 14:37] #5983 closed

[2016-03-22 14:54] joelegasse commented on #6087
@sharang Do you have an idea on the [series cardinality](https://docs.influxdata.com/influxdb/v0.10/concepts/glossary/#series-cardinality) of your database? Each series will have an entry in the in-memory index. Having too many series can quickly consume a lot of system memory. This often happens when a tag is used to store something that changes with every point, meaning every series will only ha

[2016-03-22 14:57] joelegasse commented on #6074
This is a duplicate of #2074

[2016-03-22 14:57] #6074 closed

[2016-03-22 15:05] joelegasse commented on #6057
250K points/sec sounds about right. InfluxDB has to do some processing on all that data, so it won't be able to flush to the disk instantly. It sounds like you've got everything sorted out, so I'm going to close this ticket. If you run in to any other issues, please let us know.

[2016-03-22 15:05] #6057 closed

[2016-03-22 15:10] joelegasse commented on #6015
@bogdanveres Are you able to try this with the 0.11 release candidate? The query engine has been replaced since 0.10, and might help in your scenario.

[2016-03-22 15:15] bogdanveres commented on #6015
@joelegasse I'll try to update on Friday. Right now we have some tests in progress and I can't stop the execution. I also asked our it guys to upgrade the server memory to 32 GB. The config file in 0.11 is different from 0.10? Thanks for your support.

[2016-03-22 15:15] joelegasse commented on #5934
@andybrier You can just create an archive (tar or zip) of the directories in the database directory (`data` is the most important, but the others can be included, too)

[2016-03-22 15:29] BrannonKing commented on #6078
I believe that this bespeaks a design issue. I cannot understand why you would need more buckets in RAM than the number of columns being reported x2. You have your current row plus the previous row data that may be necessary to pull from. The data should be streaming out after it's processed. What is the reason that "over 1y" would make a difference? I don't think it should.

[2016-03-22 16:08] #6079 closed

[2016-03-22 16:12] #4306 closed

[2016-03-22 16:13] #5116 closed

[2016-03-22 16:40] PierreF commented on #6027
Any updates ? It would be very useful for us to have this fixed before 0.11 release.

[2016-03-22 17:18] e-dard commented on #2693
Fixed via #6012!

[2016-03-22 17:18] #2693 closed

[2016-03-22 17:29] e-dard commented on #6088
@lcrenix what version of Influx are you using?

[2016-03-22 17:30] #5152 closed

[2016-03-22 18:06] jwilder commented on #5764
@zstyblik Yes, but It would be very helpful if someone with a slow load time could try that PR out to see if it helps.

[2016-03-22 18:07] jwilder commented on #5764
@cheribral How many shards do you have?

[2016-03-22 18:13] zstyblik commented on #5764
@jwilder if somebody can provide build with that fix, then I'll bet it won't be a problem. Quote from couple comments above:

[2016-03-22 19:26] gunnaraasen opened #6092 "Upgrading directly from 0.9.6.1 to 0.11.0 fails"
Steps to reproduce
1. Install 0.9.6.1 and run `influx_stress`
2. Stop InfluxDB then restart and stop it again to force a WAL flush
3. Install 0.11.0 and run:
[code]

Note that rolling back to 0.10.3, converting shards, and then upgrading to 0.11.0 again does work.

cc/ @joelegasse

[2016-03-22 19:36] joelegasse commented on #6092
I don't think there's much we can do about this. The code to support `b1` and `bz1` doesn't exist anymore, except for a stripped-down version required to convert shards in the `0.10` releases.

[2016-03-22 19:36] #6092 closed

[2016-03-22 19:44] jwilder commented on #6086
@CamJN This repo doesn't actually contain the documentation you linked to.  Documentation issues and PRs can be logged [here](https://github.com/influxdata/docs.influxdata.com/issues).

[2016-03-22 19:44] #6086 closed

[2016-03-22 19:59] jwilder commented on #6088
@lcrenix I think you are using the wrong port.  By default, the backup command connects to port `8088`.  If you have changed that port in your config, you should use that port for your `-host` option.

I get the error you logged because I'm trying to connect to `8086` and not `8088`.

[code]

[2016-03-22 19:59] #6088 closed

[2016-03-22 20:45] #5728 closed

[2016-03-22 21:35] ljagiello commented on #5983
Oh cool! Thanks @jwilder!

[2016-03-22 21:43] jwilder commented on #5983
@ljagiello Just to be clear.  That shard has a corrupted TSM file so #6082 will not fix the loading of that TSM file, but hopefully will prevent it from creating a file like that in the future.

[2016-03-22 21:49] rkuchan opened #6094 "[0.11] CREATE RETENTION POLICY and CREATE CONTINUOUS QUERY are not idempotent"
* `CREATE RP` doesn't give an error if I create the exact same RP or if I create an RP with the same name but with a different `DURATION`:
[code]
* `CREATE CQ` gives an error if I create the exact same CQ and if I create a CQ with the same name but with a different `GROUP BY time` interval:
[code]
* `CREATE USER` doesn't give an error if I create the same user with the same password but does give

[2016-03-22 22:20] cheribral commented on #5764
@jwilder We have 410 shards (counted from the output of 'show shards') across 10 databases.

[2016-03-22 23:34] gunnaraasen commented on #6061
@mark-rushakoff I like the idea of returning the points written and a custom header seems like appropriate. How about a `Influxdb-Points-Failed` header as well? I imagine most people looking at that header will be trying to account for missing points.

[2016-03-23 01:14] toddboom commented on #2567
Closing this out since it's no longer applicable.

[2016-03-23 01:14] #2567 closed

[2016-03-23 01:15] toddboom commented on #2784
Closing this out since it's no longer applicable.

[2016-03-23 01:15] #2784 closed

[2016-03-23 01:16] toddboom commented on #3158
Closing this out since I'm pretty sure it's been solved in the current releases. Please reopen if you still see this issue in v0.11.0 or higher.

[2016-03-23 01:16] #3158 closed

[2016-03-23 01:17] toddboom commented on #3374
Closing this out because it's no longer applicable.

[2016-03-23 01:17] #3374 closed

[2016-03-23 01:17] toddboom commented on #3295
Closing this out because it's no longer applicable.

[2016-03-23 01:17] #3295 closed

[2016-03-23 01:17] toddboom commented on #3377
Closing this out because it's no longer applicable.

[2016-03-23 01:17] #3377 closed

[2016-03-23 01:17] toddboom commented on #3619
Closing this out because it's no longer applicable.

[2016-03-23 01:17] #3619 closed

[2016-03-23 01:17] toddboom commented on #3422
Closing this out because it's no longer applicable.

[2016-03-23 01:17] #3422 closed

[2016-03-23 01:20] toddboom commented on #3532
I think this is mostly covered in the latest release, mostly implemented in #5816.

[2016-03-23 01:20] #3532 closed

[2016-03-23 01:22] toddboom commented on #5534
I haven't seen this come back up with InfluxDB v0.10.0 or higher, so I'm going to assume it's fixed. Please reopen if it's still happening on the latest release (v0.11.0).

[2016-03-23 01:22] #5534 closed

[2016-03-23 01:25] toddboom commented on #5161
@johankcarlsson I didn't see any followup on this, so I'm going to close it out. We haven't seen any other reports of this on the newest releases, but feel free to open a new issue if you encounter it again.

[2016-03-23 01:25] #5161 closed

[2016-03-23 03:24] guanxudong commented on #4121
influxdb 0.10 still has the problem, when there is a high query load

[code]

[2016-03-23 04:07] waterwoodwind opened #6095 "[0.11.0]maybe BUG.The missing data at the end auto fill "0" when using python-influxdb Dataframeclient to wirte data."
for example,the end of my  data is:

[code]

Then use python-influxdb Dataframeclient to wirte and query
I got the result:

[code]

the missing data at end is autofill "0"

I didn't find this problem in [influxdb 0.10.3]
In [influxdb 0.10.3] ,the missing data is also NaN,don't fill with "0"

[2016-03-23 04:39] lcrenix commented on #6088
@jwilder Yes, you are right. I think I should connect to 8086 (which has been changed to 8096 in my config) port like what I did for the Admin page, but I'm wrong, it should connect to 8088, not 8086. Thank you!

[2016-03-23 07:04] noose commented on #5955
I have similar problem. I want to use regex on fields:
[code]
How can I do that? I want to get memory / time for some urls (single domain or sample path with all files inside etc)

[2016-03-23 07:07] johankcarlsson commented on #5161
Ok.
Sorry I have not yet been able give it a try again.
I plan to give it a try when 0.11 is released.

[2016-03-23 08:23] guanxudong opened #6096 "[0.11.0]CQs does not run as was expected"
When I upgrade to 0.11.0, the same CQs don't run as expected.
If I  rollback to the old version 0.10, the CQs works well.
Am I the only one meet this issue? Thank you very much :)
[code]

[2016-03-23 08:36] kamsz commented on #6096
I'm experiencing the same issue.

[2016-03-23 08:44] haowells opened #6097 "Can we restore database into single node from data on cluster env ?"
I backup database from 3-nodes cluster. and use restore command

[root@cos65 default]# influxd restore -database cdn -datadir /var/lib/influxdb/data /tmp/backup
Restoring from backup /tmp/backup/cdn.*
unpacking /var/lib/influxdb/data/cdn/default/8/000000001-000000001.tsm
unpacking /var/lib/influxdb/data/cdn/default/9/000000001-000000001.tsm
unpacking /var/lib/influxdb/data/cdn/default/10/000000001

[2016-03-23 09:10] rvrignaud commented on #3760
This would be useful for us too +1

[2016-03-23 09:31] MartinSbs opened #6098 "Counting distinct rows Influxdb query?"
Good Morning

I have 10 rows and for each one I have a line number.
x x x x 154
y y y y 10
z z z z 200 (etc)

And I have a script that send to influx the next row and a random line (0-200). I want to count for my 10 rows how often a line is the same.
If I have x x x x 154 and the next time I get the same line, count 2 for my row x and the line 154.
When I try to aggregate this on grafana I can hav

[2016-03-23 09:49] kamsz commented on #3247
Sadly still not fixed, discussion in https://github.com/influxdata/influxdb/pull/5733

[2016-03-23 11:17] Madhu94 commented on #6016
Thanks a lot!

[2016-03-23 11:17] #6016 closed

[2016-03-23 11:34] krishnakanthpps commented on #2212
+1

[2016-03-23 12:01] max3163 commented on #1647
Pls could you consider to work on it with high priority for 0.12 ???
Work on a database with no way to delete distinct series by time is rly difficult.

[2016-03-23 13:39] pbooth opened #6100 "influx_tsm fails 11.0.1 and 0.9.6 failed: unsupported value type *tsdb.Value"
I have an influxdb instance that had been upgraded from 0.94 to 0.9.6 to 0.10.0 to 0.11.1
I attempted to convert the bz shard s but find that I consistently get (for all shards) the error
failed: unsupported value type *tsdb.Value

FWIW - I have about seven influxdb instance sranging from 0.9.4 though 0.11.1. This is the first time I've seen this error.

I don't know if this is relevant but I real

[2016-03-23 14:51] rossmcdonald opened #6101 "Allow for per-measurement authorization"
Currently user access can be constrained at the database level, however in some cases it may be useful to limit access even further to the measurement level (similar to MySQL's `GRANT` on table-level access).

[2016-03-23 15:32] #6075 closed

[2016-03-23 16:31] jsternberg commented on #6095
What query are you using and can you provide a reproducer?

[2016-03-23 17:18] gunnaraasen commented on #6100
@pbooth Which version did you use to convert the shards? Version 0.10 is the only release that will convert `b1` and `bz1` shards to `tsm` format.

[2016-03-23 18:18] pauldix commented on #1647
@max3163 you can delete a series using the `DROP SERIES` command. This is to delete just some of the data within a series, but it is very high priority.

[2016-03-23 18:36] jsternberg commented on #5553
@larsonmpdx can you try again with 0.11.0? A bugfix to `ORDER BY desc` went into 0.11.0 a couple of hours before the release.

[2016-03-23 18:47] jsternberg commented on #4819
If an aggregate and `GROUP BY time(...)` are used, the default for the derivative interval becomes the group by interval. So the interval for your query is 5 minutes because `GROUP BY time(5m)` is in the query.

It looks like the documentation isn't clear about this. I'll open an issue so it's more clear.

[2016-03-23 18:47] #4819 closed

[2016-03-23 18:50] jsternberg commented on #4839
@pauldix should we make this change or not?

[2016-03-23 18:56] jsternberg commented on #1825
I'm beginning to work on this.

[2016-03-23 19:03] #6076 closed

[2016-03-23 20:14] beckettsean commented on #5930
There is no timeline for each specific function/feature. All work on new functions was on hold while the query engine was refactored, and that refactoring was merged into InfluxDB 0.11. We plan to introduce a few functions with each release from now on.

[2016-03-23 20:33] beckettsean opened #6104 "rename influx_tsm in 0.11+"
In InfluxDB 0.10, the `influx_tsm` binary was capable of converting `b1`/`bz1` shards to `tsm` shards, in addition to the other shard inspection functions.

In InfluxDB 0.11+ the `influx_tsm` binary is no longer capable of converting shards.

This is very likely to lead to user confusion during upgrades from 0.9 to 0.11+, as all upgrades from 0.9 reference the tool as the way to convert the existi

[2016-03-23 20:41] beckettsean commented on #4839
If https://github.com/influxdata/docs.influxdata.com/issues/343 is correct that the default is now to use the GROUP BY interval and not `1s`, then the need for this change is less dire. However, it is more future-proof, since all behavior is explicitly declared.

[2016-03-23 20:41] jwilder commented on #6104
This is a regression.  `influx_tsm` should still be able to convert those shards in later versions.

[2016-03-23 21:22] ZhukovAlexey commented on #6092
https://docs.influxdata.com/influxdb/v0.11/administration/upgrading/

To upgrade to InfluxDB 0.11, you must be on version 0.10 and all shards must be in TSM format (the default storage engine starting with InfluxDB 0.10).

So there's no straightforward way to upgrade from 0.9.X to 0.11.

[2016-03-23 21:37] max3163 commented on #1647
You provide a time series database, for me, the time clause is important in all queries.  I just hope you could consider to add this feature rly soon.

[2016-03-23 22:07] beckettsean commented on #6041
@joelegasse I like the order of magnitude check, provided that query responses continue to provide nanosecond unless otherwise explicitly restricted.

[2016-03-23 22:42] earthnut opened #6106 "Data point lost in Query"
Hi ,

  I have one data source which writes 1 point using UDP every 10s.
  And I am using  influxDB client to query every 10s for 2minute window

  `select sum("value") as livecount from xxxxxxx where xx = 'xxxxx' and time > now() - 2m `

   the result shows:
2016-03-23 22:19:15.043566  :  12
2016-03-23 22:19:25.058886  :  11
2016-03-23 22:19:35.074734  :  10
2016-03-23 22:19:45.090029  :  12
2016

[2016-03-24 00:20] pauldix commented on #6027
0.11 was released today. Future versions of the open source InfluxDB will be standalone servers. See https://influxdata.com/blog/update-on-influxdb-clustering-high-availability-and-monetization/

[2016-03-24 00:20] #6027 closed

[2016-03-24 00:28] earthnut commented on #6106
@nathanielc @jwilder could you please take a look ?
Thanks

[2016-03-24 00:33] cheribral commented on #5764
@jwilder I set up a similar box to our production one, and tried the branch on a copy of the real database.  The startup time was 7 minutes, and the limiting factor seems to have been disk IO this time, which is much better than it was, so the change seems to have worked.

Since the disk doesn't really ever break a sweat once the server is up and we are running normally, it would seem a bit silly

[2016-03-24 02:23] cheribral commented on #5764
Just as a test, I swapped in a much faster disk, and while it didn't saturate CPU or the disk by any means, it started in under 2 minutes.

[2016-03-24 02:50] haowells opened #6107 "influxdb crash after create CQ"
create cq below:

create continuous query bandwidth_max_min on cdn resample every 2m for 30d begin select provider, max(value) into bandwidth_min_max from bandwidth group by time(24h) END

influxdb crash and logs show:

meta] 2016/03/24 10:37:46 127.0.0.1 - - [24/Mar/2016:10:37:46 +0800] GET /lease?name=continuous_querier&nodeid=0 HTTP/1.1 200 110 - Go 1.1 package http 64cc786f-f169-11e5-8653-0000

[2016-03-24 02:55] jwilder commented on #5764
@cheribral That's good news. How long was it taking before?  There is definitely more room for improvement in the load time.  Lazy loading shards might be possible.  The shard has to be loaded before it can take a write or serve queries though.

[2016-03-24 03:40] ianlutzeigen opened #6108 "Equivalent continuous query not working on v0.11.0 but working on 0.10.3, CQ on v0.11 appears to be broken"
Hi, I have the same query on two different versions, and the query should be supported by both versions.

This works on v0.10.3:

when I do SHOW CONTINUOUS QUERIES... on both versions i get:
## name: testdb

name            query
down_sample     CREATE CONTINUOUS QUERY down_sample ON testdb BEGIN SELECT mean(value) INTO "testdb_down"."default".:MEASUREMENT FROM "testdb"."default"./testsim*/ GROUP

[2016-03-24 03:59] guanxudong commented on #6108
the same issue to #6096

[2016-03-24 04:04] ianlutzeigen commented on #6096
same issue here, a few tears shed

[2016-03-24 07:04] yangfan876 opened #6109 "cache maximum memory size exceeded"
hi,
   when I restart influxdb and I have too many wal files, the influxdb will exit. Logs as follows:

`[cacheloader] 2016/03/24 14:51:50 reading file /data1/influxdb/wal/sysnoc/default/2/_00692.wal, size 10502077
[cacheloader] 2016/03/24 14:51:52 reading file /data1/influxdb/wal/sysnoc/default/2/_00693.wal, size 10489020
[cacheloader] 2016/03/24 14:51:53 reading file /data1/influxdb/wal/sysnoc/d

[2016-03-24 08:15] undera commented on #5764
+1 for lazy load. That would solve my case completely. In my case shard takes writes for short time, then just stored for possible reads. The reader is ok with waiting to load "cold" shards.

Can we have an option in config file to enable/disable it? Just to not harm those who prefer to load everything upfront...

[2016-03-24 11:38] willemdh opened #6110 "yum update influxdb on CentOS 7 broke influxdb"
Tried updating from 0.9.5.1 to 0.11.0-1 on CentOS 7. So I configure /etc/yum.repos.d/influxdb.repo as listed in https://docs.influxdata.com/influxdb/v0.11/introduction/installation/ and execute:

    yum update influxdb

Installation seemes successfully. Then I try to start the service, which fails.

    systemctl start influxdb
    Failed to start influxdb.service: Unit influxdb.service failed to

[2016-03-24 13:27] larrywalker commented on #3760
+1 for us also.  The only "workaround" is to store data as a tag and field.  Seems wasteful.

[2016-03-24 13:49] nickhuber commented on #5750
This seems like a really important feature, since the old style (just a single value) is very simple to downsample but when taking advantage of multiple values per measurements you need to make many continuous queries to get the same result, and could easily miss adding new CQs when new data points are added

[2016-03-24 14:13] rossmcdonald commented on #6110
@willemdh Thanks for letting us know. I'll test this locally to see if I can reproduce the issue.

[2016-03-24 14:17] rossmcdonald commented on #6109
@yangfan876 Did you convert your shard to the TSM storage engine recently? This may be due to the permissions being incorrect on the shards (preventing them from flushing at all). Can you run a (assuming InfluxDB is running as the `influxdb` user):

[code]

To see if that fixes it?

[2016-03-24 14:58] gravaton commented on #6096
Even more tears from this quarter - v0.11.0 runs our continuous queries for a while given the workaround in #5896 , but eventually stops....and stops responding to all queries altogether at that point.

[2016-03-24 15:09] jsternberg opened #6112 "Support simple moving average aggregate function"
This issue is for implementing the simple moving average aggregate function.

Syntax:

[code]

Related to #77.

[2016-03-24 15:10] jsternberg commented on #77
I'll be making a new issue for each component of this issue. The simple moving average aggregate is in #6112 and we hope to be able to get that into 0.12.0, but no promises.

I'm reclosing this issue for now.

[2016-03-24 15:10] #77 closed

[2016-03-24 15:27] sofixa opened #6114 "InfluxDB cluster crashed and burned after rebooting one of the nodes"
Hi everybody.

I am running a moderately sized cluster on AWS, with three m4.large instances in it, behind an ELB. Everything was going fine until today, when i decided it's time to upgrade to 0.11. I had another thing to do on one of nodes, so i removed it from the ELB, and rebooted it(planning to update InfluxDB afterwards, then put it back in the cluster and the ELB, and then proceed to do the

[2016-03-24 15:42] sofixa commented on #6114
Update: After a lot of time(i'm talking hours) the node-01 actually started properly and it is currently working.
But i still get errors in the logs:

`[write] 2016/03/24 16:41:44 write failed for shard 56 on node 2: read message type: read tcp 10.255.144.18:8088: i/o timeout
[monitor] 2016/03/24 16:41:44 failed to store statistics: write failed: read message type: read tcp 10.255.144.18:8088: i/o

[2016-03-24 15:54] mark-rushakoff commented on #6109
You can also try increasing the value of `cache-max-memory-size` in your config file, at least as a temporary workaround. It defaults to 500MB (524288000).

[2016-03-24 16:06] jsternberg opened #6115 "Support returning chunked query results within the same series"
The InfluxDB server supports sending back a chunked response so that data can be sent back iteratively rather than all at once.

Unfortunately, the current implementation will only use chunked responses for these two reasons:

1. The name/tag of the series has changed.
2. It is returning the result of a different command.

So the following query will only return two chunks no matter how large the

[2016-03-24 17:42] jwilder opened #6117 "Upgrade from 0.11 to 0.12"
Upgrading a single server of 0.11 to 0.12 may be broken due to the fact that the raft based meta store no longer exists in 0.12.  We need to provide a way to upgrade.

[2016-03-24 18:10] dmke opened #6118 "Derivative on multiple fields?"
Hey,

I'm storing raw NIC byte/packet counter (among other fields) into InfluxDB 0.11 and would like to generate a plain old traffic graph, **using a single query:**

[code]

This however fails with

Am I doing it wrong™? Is there a way around this limitation?

[2016-03-24 19:34] duccyberfend commented on #6096
I can confirm this issue as well.  The workaround works for a little while and everything just halts.  I've downgraded to 0.10 for now.

[2016-03-24 21:37] cgunther commented on #5913
I'd like to see the apt repo contain old versions too. I'm currently using v0.9.4.2 and using chef to provision my servers via installing the package, so I'd have to pin the version to avoid unintentionally upgrading to a non-backwards compatible version, but without the apt repo having old versions, chef fails for me once a new version of influx is released and the version I'm using is no longer

[2016-03-24 21:49] toddboom commented on #6096
Just wanted to let you guys know we're looking into this. Once we have the root cause tracked down, we'll update this issue. Thanks for the reports!

[2016-03-24 22:24] #5554 closed

[2016-03-25 02:31] yangfan876 commented on #6109
@rossmcdonald yes, the version of influxdb I test is 0.11, TSM is default. and I'm sure '/data1/influxdb' belongs to influxdb user:
`drwxr-xr-x 6 influxdb influxdb 47 Mar 23 18:36 influxdb`

[2016-03-25 02:39] yangfan876 commented on #6109
@mark-rushakoff yes, I can increase the value of  `cache-max-memory-size`,but in my view when I reach the maximum memory of cache maybe we should flush cache data to disk and then keep reading wal files.

[2016-03-25 04:38] mark-rushakoff commented on #6109
@yangfan876 try lowering `cache-snapshot-memory-size`. The code looks like it should check the cache's size against that value once per second, and if the current value is greater than the configuration value, write the cache to disk as a snapshot file.

[2016-03-25 07:13] Madhu94 opened #6121 "Influxdb 0.11 Slice index out of bounds"
I'm trying to bulk insert about 1.3m records. I should mention that some of them are duplicates(points with same tagset, same timestamp). Influxdb crashes and its hard to get it running again, unless I delete the .influxdb file.What could cause this problem? This is the error I'm getting.

[code]

[2016-03-25 10:08] max3163 commented on #6121
Hi,

I think it's related to this report too : [6022](https://github.com/influxdata/influxdb/issues/6022)

[2016-03-25 10:13] Madhu94 commented on #6121
Update : Removing a field which held strings of varying length, stopped this behaviour. Any reason why that seemed to solve the problem? I would like to know, to avoid this error in the future.
Thanks.

[2016-03-25 10:38] sofixa commented on #6114
And today the cluster is completely dead. nodes 2 and 3 fail to start influxdb(it blocks on service influxdb start) and node 1 is only saying:

`[metastore] 2016/03/25 11:38:09 Waiting for 2 join peers.  Have [influxdb-01:8088]. Asking nodes: [influxdb-03:8091 influxdb-02:8091 influxdb-01:8091]
`

[2016-03-25 12:59] yangfan876 commented on #6109
@mark-rushakoff I read the code of influxdb, the store engine start goroutione to check the cache's size, but in the engine Open method:
file:tsdb/engine/tsm1/engine.go
`128 func (e *Engine) Open() error {
129     e.done = make(chan struct{})
130     e.Compactor.Cancel = e.done
131
132     if err := os.MkdirAll(e.path, 0777); err != nil {
133         return err
134     }
135
136     if err := e.cl

[2016-03-25 13:08] yangfan876 commented on #6109
@mark-rushakoff BTW I don't think sleep 1 second is a good idea to check the cache's size. Maybe it can depend on the load of service.

[2016-03-25 13:44] sstarcher commented on #6109
Same issue on influxdb 0.10 randomly.  It was after running a fresh version of influxdb 0.10.0 for about 2 weeks the issue randomly came up on restart. I increased cache-max-memory-size to 1gb and it is working now.

[2016-03-25 14:02] rossmcdonald commented on #6109
@sstarcher Did you upgrade from a previous version of InfluxDB? Or did you start with v0.10?

[2016-03-25 14:09] sstarcher commented on #6109
@rossmcdonald no I have only used 0.10.0 for this data and no other version

[2016-03-25 15:49] pbooth commented on #6100
Ahha - I was trying v 0.11

[2016-03-25 15:57] Tinche opened #6123 "0.11 regression: select count(distinct())"
I've just upgraded our local instance to 0.11 (using apt, running on Ubuntu). The query:

[code]
used to work on 0.10, but now returns nothing. `username` is a field, not a tag.

[2016-03-25 16:21] cesaroni opened #6124 "Empty commands results after create retention policy"
Hi
I'm running InfluxDB 0.11 on ubuntu server and telegraf
some commands like
SHOW SERIES and SHOW MEASUREMENTS
give empty result after new default retention policy creation
Do I miss something?

# start telegraf ($ telegraf -config test.conf)

key
cpu,cpu=cpu-total,host=myhost

name            duration        replicaN        default
default         0               1               false
two_hours

[2016-03-25 16:30] Tinche commented on #6123
Playing around some more,
[code]
works, but bumping up the range
[code]
returns nothing. That might be the cutoff when we actually started recording usernames for this measurement.

[2016-03-25 17:48] BrannonKing commented on #3451
+1

[2016-03-25 18:17] gunnaraasen commented on #6100
0.10.3 was the latest 0.10 release and should be used for converting shards when upgrading from 0.9.

Sounds like converting the shards with 0.10 worked so closing this out. Please comment if that's not the case.

[2016-03-25 18:17] #6100 closed

[2016-03-25 20:43] jsternberg commented on #6118
There is no way to take a derivative of multiple fields at the same time. You can only use one query for each derivative.

Is it possible for you to use multiple queries to get the graph you want?

@pauldix should we consider allowing multiple derivative calls for a single query?

[2016-03-25 20:43] beckettsean commented on #6121
@Madhu94

What was the name of the field?
How long were the strings?
How did you remove the field?

I think the answers to those questions will help us understand what happened.

[2016-03-25 20:50] pauldix commented on #6118
@jsternberg you definitely should be able to do derivatives on different fields in the same query. Is there a reason why it wouldn't work?

[2016-03-25 20:52] dmke commented on #6118
Sure, but I'd figure, since `influxd` already iterates over the data points for the single derivative, it would be a waste of CPU cycles to do that for every derivative I'm interested in, wouldn't it?

[2016-03-25 21:00] beckettsean commented on #6022
related to #5889

[2016-03-25 21:01] jsternberg commented on #6118
For derivatives over aggregates, they may have different time intervals as derivatives currently skip over nil values. Derivatives over aggregates are at least easier. Derivatives over raw fields may return some pretty random times with nil values being interspersed through the data, but it's technically easy for us to allow.

The validation is the part that bans it so it may be an artifact of the

[2016-03-25 21:04] pauldix commented on #6118
If it's just a matter of lifting the validation ban, we should make sure there's a test that has multiple fields and derivatives against the raw values where some of the values are nil.

[2016-03-25 21:09] jsternberg commented on #6067
I made an issue in our documentation repository to have this clarified. I'm going to close this one. Thanks!

[2016-03-25 21:09] #6067 closed

[2016-03-25 21:12] jsternberg commented on #6123
Do you have a reproducer I could try?

[2016-03-25 21:28] dmke commented on #6118
I see, thanks for the explanation.

[2016-03-26 00:39] larsonmpdx commented on #5553
hi, just saw this

0.11.0 took a sample query from about 5s (the 10.beta thing I was on) to 3.5s (011.0).  Another good improvement.  I still think it won't be useful unless there's a shortcut of some kind added that takes this down to linear time - but I haven't studied your database enough to know how feasible that is.

I have stopped using this type of query, instead I give a time window like @

[2016-03-26 01:34] lukecyca commented on #6100
I ran into this problem too while attempting to upgrade from 0.9.6.1 to 0.11.0 at once.

I downgraded to 0.10.0 temporarily and ran the `influx_tsm` conversion process, and it worked as expected. Then I upgraded to 0.11.0 and all seems well.

[2016-03-26 01:50] larsonmpdx commented on #5553
sorry - meant constant time

[2016-03-26 02:27] zapient commented on #5266
+1

[2016-03-26 05:45] mvadu commented on #5896
This is the same issue (8091 without a host) that was affecting windows version to start. I pushed a fix #6056 for windows part, but have not been able to test CQ's yet.

[2016-03-26 05:46] mvadu commented on #6096
@toddboom This has the same root cause (8091 without a host) that was affecting windows version to start. I pushed a fix #6056 for windows part, but have not been able to test CQ's yet.

[2016-03-26 13:30] Madhu94 commented on #6121
I have a script to populate the influxdb from an ms-sql database.I deleted my original influxdb database, and modified the script so that this time that the string field(let's call it "miscellaneous-string-field") was NOT inserted this time. Some of the strings were really long-the longest of them was 800k characters long. Can that cause influxdb to crash and throw this error?

[2016-03-26 17:06] ZhukovAlexey commented on #4290
Hmm, have the same thing with one of the database on 0.11 version.

[2016-03-27 01:30] jdrews commented on #3944
Thanks for the fix @k0ste and @tmartinx. I had the same problem on CentOS 6.3 and followed your steps to resolve. Thanks!

[2016-03-27 15:07] mark-rushakoff commented on #6124
[code]

https://docs.influxdata.com/influxdb/v0.11/query_language/schema_exploration/#explore-retention-policies-with-show-retention-policies

[2016-03-27 15:07] #6124 closed

[2016-03-27 19:59] jgerschk opened #6130 "Cluster Downgrading"
With the decision to remove clustering from the "free" version (for a lack of better terms at the moment) in the near future, is there an easy way to downgrade a current cluster to a single instance without data loss?

Is there going to be support?

[2016-03-28 01:25] sjahn90 opened #6131 "Performance degradation on influx 0.11 and memory saturation on high volume."
We are conducting stress test with influxdb 0.10 and 0.11 based TSM engine.
When we start to test on influx db 0.10, we can write 200,000 points per sec. But when we change to influxdb 0.11 on same machine, the result is too different, writing 50,000 points per sec. It looks like to similar influx db 0.8 performance.

To find the number of points per sec, we used _internal database.
https://docs.i

[2016-03-28 01:48] CumpsD commented on #3556
Should they still work in 0.11? Do I have to pass in some allow deprecated flag? (I am trying to move data from a database to anotehr server, from 0.9.3 to 0.11.0)

[2016-03-28 05:26] Madhu94 opened #6132 "Max length of string fields in influxdb"
What is the maximum length of a string field in influxdb 0.11?

[2016-03-28 07:20] j3ffrw opened #6133 "startup fails after upgrade from 0.10.0-0.beta1 to 0.10.0-1"
Hi,
 After I upgraded from 0.10.0-0.beta1 to 0.10.0-1 influxd now fails to start w/ the ff error. Rolling back to 0.10.0-0.beta1 does makes it start again. I'm running a 3 node cluster.

2016/03/22 06:58:59 InfluxDB starting, version 0.10.0, branch 0.10.0, commit b8bb32ecad9808ef00219e7d2469514890a0987a, built 2016-02-04T17:06:04.850564
2016/03/22 06:58:59 Go version go1.4.3, GOMAXPROCS set to 2
2

[2016-03-28 09:15] #6097 closed

[2016-03-28 13:12] sharang commented on #6087
@joelegasse how many bytes occupied by every series?

there will be several millions of series in our db.

[2016-03-28 13:29] rossmcdonald commented on #5252
This has been fixed with #6111, and is now in the latest nightlies.

[2016-03-28 13:29] #5252 closed

[2016-03-28 13:33] rossmcdonald commented on #3556
@CumpsD Please see https://github.com/influxdata/influxdb/pull/5512 for how to re-enable the deprecated JSON write path in v0.11. It will be entirely removed with v0.12.

[2016-03-28 13:48] whitelynx commented on #4121
@toddboom: Shouldn't this be reopened? There's been 3 independent confirmations that it's still an issue in `tsm1`. Or should a new bug be opened?

[2016-03-28 14:16] sbouchex opened #6134 "influx_tsm is not working correctly with relative paths"
I want to use influx_tsm to convert my db.

Source folder: /data/source
Backup folder: /data/source_bck

I'm using the following command from the /data folder : influx_tsm -backup source_bck source

And I'm getting an error : backup directory cannot be contained within data directory

This is due to the line "if strings.HasPrefix(o.BackupPath, o.DataPath) {" at line 123 in influxdb/cmd/influx_tsm/

[2016-03-28 14:19] sbouchex opened #6135 "unsupported value type *tsdb.Value returned by influx_tsm"
I'm converting my database and I'm the following error:

`2016/03/28 16:17:18.630797 Failed to convert /root/arrondine/data/sondes/default/2: Conversion of /root/arrondine/data/sondes/default/2 failed: unsupported value type *tsdb.Value`

If needed, I can send you the db (in private message only)

Currently, my migration to 0.11 is on hold

[2016-03-28 14:33] CumpsD commented on #3556
Thanks.

Is there a supported way to migrate data from one influxdb database to another (already existing server)?

[2016-03-28 14:42] rossmcdonald commented on #4452
Just to update this issue, with https://github.com/influxdata/influxdb/pull/6111 Windows zip contents now look like:

[code]

[2016-03-28 14:49] mvadu commented on #4452
@rossmcdonald awesome! Will these be part of nightly builds, so that we (Windows users) can give it a try more frequently?

[2016-03-28 14:52] rossmcdonald commented on #4452
@mvadu Yes, Windows is now part of the nightly build process. Link to download is:

https://s3.amazonaws.com/influxdb/influxdb-nightly_windows_amd64.zip

Let me know if you run into any issues with them.

[2016-03-28 15:04] jwilder commented on #4121
@whitelynx Please open a new issue if you are seeing this in 0.11 with the `tsm` engine.

[2016-03-28 15:15] jwilder commented on #6135
@sbouchex I believe you need to first upgrade to 0.10 and migrate your shards, then upgrade to 0.11.

[2016-03-28 15:17] jwilder commented on #6134
@sbouchex You can't store your backup directory under your data directory.  You need to store your backups outside of the data directory.

[2016-03-28 15:17] #6134 closed

[2016-03-28 15:21] mvadu commented on #4452
:+1: Superb!! Are you guys planning to add tests on windows as well? That way core team will know if any commits to master are breaking on Windows.

[2016-03-28 15:28] rossmcdonald commented on #6110
@willemdh This turns out to be an issue with the upgrade path from 0.9 straight to 0.11. There was some logic in the 0.10 packages that corrected for this issue, but it was removed for the 0.11 release.

The way to bypass the problem is to re-install the unit file:

[code]

Which should restore all service commands.

[2016-03-28 15:29] jwilder commented on #6133
@j3ffrw Upgrading a cluster does not work in the `0.10` release.  The [release notes](https://github.com/influxdata/influxdb/blob/master/CHANGELOG.md#v0100-2016-02-04) state that you would need help help from support.

[2016-03-28 15:29] #6133 closed

[2016-03-28 15:32] jwilder commented on #6131
@sjahn90 Can you attach your `influx_test.lua` script?

[2016-03-28 15:46] rossmcdonald commented on #4452
@mvadu No, we don't have plans to test on Windows at this time, so all of the Windows builds should be considered _very_ experimental until it is officially supported.

[2016-03-28 15:53] mark-rushakoff commented on #6131
@sjahn90 can you also elaborate on the memory saturation you're observing?

Operating system caching can make it appear that InfluxDB (or any Go program) is consuming large amounts of memory, when in reality, the operating system is treating otherwise unused memory as cache for the filesystem, etc.; and that memory is actually available for the operating system to assign to other processes as nece

[2016-03-28 15:59] dbiers opened #6137 "CentOS 7.x x64 - InfluxDB fails to start"
Getting the following in /var/log/messages:

[code]

If I try to start the service manually and to send output to a log file it does not show any errors:

[code]

Version installed (about an hour ago, using yum repo):

[code]

[2016-03-28 16:28] jsternberg commented on #675
The fix for this was merged as part of #5950.

[2016-03-28 16:28] #675 closed

[2016-03-28 16:30] jsternberg commented on #5837
#6024 will be covering query limits to protect the server from certain types of queries. I'm going to close this as a duplicate since we're tracking this progress in the other issue.

Please reopen if I've misunderstood something and closed this in error. Thanks!

[2016-03-28 16:30] #5837 closed

[2016-03-28 16:35] jsternberg commented on #5553
Ah, I see what the issue is. Limit queries that have a `GROUP BY` or multiple sources, the limit iterator goes through all of the points and discards a lot of them.

The problem is that the limit query is a limit per group rather than the number of points in general, so it has to churn through all of the points to know all of the groups at the moment. I'll change the name of the issue and see if t

[2016-03-28 16:46] rossmcdonald commented on #6137
From looking at the last line:

[code]

It looks like you don't have typesdb file for the collectd plugin. If you add the contents of [this](https://raw.githubusercontent.com/collectd/collectd/master/src/types.db) file to `/usr/share/collectd/types.db`, do you get the same error?

[2016-03-28 16:55] dbiers commented on #6137
@rossmcdonald Thanks; that seems to have fixed it.  I thought this was something that would have been automatically generated but I guess not for me hah

[2016-03-28 16:55] #6137 closed

[2016-03-28 17:17] jsternberg commented on #6132
Hello @Madhu94,

We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the influxdb@googlegroups.com mailing list.

Thank you.

[2016-03-28 17:17] #6132 closed

[2016-03-28 18:09] sbouchex commented on #6134
@jwilder, my testcase is not the one you mention : Both folders are *different* and have 2 different full paths (/data/source and /data/source_bck)

The issue is in the code : The test is matching strings coming from the options instead of matching full file path based on the relative path.
A better code would detect if paths passed in the options are relative, if so rebuild a full path based on t

[2016-03-28 18:13] jwilder commented on #6134
@sbouchex What does your config specify for:
[code]

[2016-03-28 18:21] sbouchex commented on #6135
OK, it works but how comes that I need to install an intermediary release in order to  migrate my database ? influx_tsm from any version should be able to migrate data from any version below the install one.

[2016-03-28 18:26] sbouchex commented on #6134
dir = "/var/lib/influxdb/data"

But I did not want to migrate the database running ion a server but a backup of another production database running elsewhere. So I zipped the "data" folder and unzip in the /data_source folder

[2016-03-28 18:27] jwilder commented on #6135
@sbouchex It's a regression in 0.11.  The tool should work in 0.11, but currently does not.  We're investigating why.  The workaround is to upgrade to 0.10, migrate, then to upgrade 0.11.

[2016-03-28 19:09] sbouchex commented on #6135
OK thanks

[2016-03-28 19:09] #6135 closed

[2016-03-28 21:06] cheribral commented on #5764
@jwilder Before it was taking over 30 minutes.

[2016-03-28 21:22] finneysm7 opened #6139 "InfluxDB v0.10 does not do a full restore"
Hi,

Currently, I am running a restore of the following databases and meta directories for my influxDB. I had around 3 weeks worth of data stored via influxDB before my instance went down. Fortunately, I performed a backup of my database right before my instance went down and put the backup files into s3. After pulling all of the files from s3 into my instance and running a restore, I only see abo

[2016-03-28 21:53] finneysm7 commented on #5429
I am also having this issue with grafana queries taking out my influxdb database by ramping up the CPU and killing the docker container that is running influxdb. My grafana queries are of the following format:

`select * from "/^service\.environment\.cluster\..*measurement\.sub-type$/"`

These queries can get data from up to 100 servers at once for the clusters that I am monitoring. I want this be

[2016-03-28 22:28] FlorianLudwig commented on #6100
@gunnaraasen Shouldn't upgrading a 0.9 database with 0.11 be supported?

[2016-03-28 22:51] gunnaraasen commented on #6100
@FlorianLudwig we may be cutting a 0.11.1 release with a fix to `influx_tsm` to allow direct 0.9 to 0.11 upgrades. I'll make sure this issue is referenced if/when that happens.

[2016-03-28 22:51] timgriffiths commented on #5930
Would also be great to get #3633 Added to your list this feature would be very useful on the client side when graphing data.

[2016-03-28 23:25] lukecyca commented on #1400
+1

[2016-03-28 23:58] mjdesa opened #6140 "[0.12] Panic on shutdown"
Got a random panic when I tried to shutdown my local instance:

[code]

[2016-03-29 00:00] beckettsean commented on #5930
Thanks, @timgriffiths, added!

[2016-03-29 01:15] sjahn90 commented on #6131
@mark-rushakoff When we run top command, we found that influxdb used more than 30G. And then use swap memory. If there is no memory issue, we will increase the number of measurement until more than 10,000,000.

@jwilder we attached script. For the number of point per write, we can set as follow.
./wrk -t1 -c1 -d30 http://localhost:8086 -s influx_test.lua -- 1 1 1000. 1000 means the number of point

[2016-03-29 02:34] sjahn90 commented on #6131
To find quickly memory issue, it's better to increase the measurement from 100,000 to 1,000,000. To do so, have to change variable in test script. The total number of measument = max_metric_cnt * max_pop_cnt * max_si_cnt

local max_metric_cnt = 10
local max_pop_cnt = 10 => 100
local max_si_cnt = 1000

[2016-03-29 10:40] yauhenininjia opened #6143 "Continuous Queries are not running"
Retention polcies I have:
[code]

[2016-03-29 10:40] #6143 closed

[2016-03-29 10:54] yauhenininjia opened #6144 "Continuous Queries are not running"
Retention policies I have:
[code]
Continuous query I have:
[code]
``` Select ``` query from CQ returns right result. But CQ is never running when I fill ``` mydb.two_days.day_respond_time_watcher_6 ``` measurement with new data, there is no new records in ``` mydb.eight_days.week_respond_time_watcher_6 ``` measurement and log file.
Issue presents in v0.10 and v0.11.
So, any ideas about what I'm do

[2016-03-29 10:57] #6094 closed

[2016-03-29 13:19] mindnuts opened #6145 "Update Admin UI to retain previous queries"
Hi

Would it be possible to retain the previous history of queries run (HTML5 local storage?) on the Admin UI. It becomes tedious after a while if we need to repeat the query.![alt text](https://grammio.com/static/images/emoji/D83DDE4F.png "Pray folded hands")

[2016-03-29 13:37] #1825 closed

[2016-03-29 14:24] dz0ny commented on #5554
Test build https://hub.docker.com/r/niteoweb/docker-influxdb/ (alpine+nightly), works without problems atm

[2016-03-29 14:34] vim-zz commented on #4680
@PaulMest works for me

[2016-03-29 14:51] jsternberg commented on #6140
@mjdesa any more information on how to reproduce this? Was a query currently being executed at the time?

[2016-03-29 15:13] e-dard commented on #6140
@mjdesa this is happening due to a race between shutting down the shard and a running query that accesses it. @jsternberg is going to add a `Shutdown` method to the query manager so all running queries are killed on shutdown.

[2016-03-29 15:40] dmke opened #6150 "Drop field?"
Due to inattention, I have two fields, `rx_pkt` and `rx_packets`, each with a few million measurements, and I only need either of those.

Is there an equivalent to the following SQL to get rid of a single field in InfluxDB?

[code]

[2016-03-29 15:48] dmke commented on #6150
On a side note: I also expected one of these inserts/updates

[code]

to delete the field key/value from the field set (in #2429 was stated that TSM doesn't handle null values). Would that be a feasible feature request?

[2016-03-29 16:37] mjdesa commented on #6140
@jsternberg A query must have been running. It only happened once, sorry for not including more repro steps.

[2016-03-29 16:48] arkadiuszbicz commented on #5750
+1

[2016-03-29 17:16] gunnaraasen commented on #6145
Pressing the up arrow when focused on the query window should display previous queries in the admin UI. If that doesn't work, can you provide OS and browser info?

[2016-03-29 19:00] yauhenininjia commented on #6144
According to [this](http://stackoverflow.com/a/36291839/6128896) answer it's a bug. I hope it will be fixed soon

[2016-03-29 19:00] #6144 closed

[2016-03-29 19:01] seiflotfy commented on #6107
thanks for the report! Which version of influx is this so i can try to replicate it?

[2016-03-29 19:14] jwilder commented on #5935
@e-dard Can this be closed?

[2016-03-29 19:16] jwilder commented on #5764
Fixed via #5372

[2016-03-29 19:16] #5764 closed

[2016-03-29 19:17] jwilder commented on #655
Fixed via #5950

[2016-03-29 19:17] #655 closed

[2016-03-29 19:20] jwilder commented on #411
Fixed via #6081

[2016-03-29 19:20] #411 closed

[2016-03-29 19:50] benbjohnson commented on #6096
The workaround mentioned in #5896 is merged in #6147.

I cannot, however, reproduce the issue with CQs stopping after a while. I've tried using retention policies and CQs similar to what was mentioned above but it just continues to work.

Can anyone provide either of the following:

1. More information about CQs they are running
2. A stack trace printed after sending a `SIGQUIT` signal to `influxd

[2016-03-29 21:04] e-dard commented on #5935
Closed via #6012

[2016-03-29 21:04] #5935 closed

[2016-03-29 22:59] rkuchan opened #6152 "[0.12] CREATE DATABASE WITH SHARD DURATION yields unexpected error"
When I create a new database with a new retention policy and only include `SHARD DURATION`, I get an unexpected error. I must include either DURATION or REPLICATION to prevent the error.

[code]

The queries below did not return errors, so I expected the query above to work:
[code]

[2016-03-29 23:42] rkuchan opened #6153 "[0.12] Duplicate CREATE DATABASE with change in SHARD DURATION fails silently"
As expected, when I duplicate a database and retention policy I receive no error:
[code]

Also as expected, when I create the same database and retention policy but change `REPLICATION` or `DURATION`, I receive an error:
[code]

I do not receive an error if I create the same database and retention policy but change the `SHARD DURATION`, and the retention policy's `SHARD DURATION` remains the initi

[2016-03-30 01:51] TysonJones opened #6154 "Trailing escape character in measurement name"
Through unknown circumstances, there are some measurements in my influx dataase which have a measurement name ending in the escape character '\'.
This should be invalid, yet somehow they exist (as seen in the dev console at port 8083, when querying "SHOW MEASUREMENTS").
For example,
`change in cpu time (Owner\`

I have a suspicion (but not a very strong one) that these may have arisen from sending

[2016-03-30 02:34] guanxudong commented on #6096
@benbjohnson There is no logs output about CQs in influxdb.log, I used single instance, not cluster.
The CQs just can not start and run

[2016-03-30 08:27] mindnuts commented on #6145
@gunnaraasen Thanks...i didn't knew it existed. BTW it was Chrome on Ubuntu 14.04. Closing the issue.

[2016-03-30 08:27] #6145 closed

[2016-03-30 11:11] Disminder commented on #6096
Probably have the same issue: I've created CQ on clear db, start to fill it with data, but CQ didn't work at all. 0.11, Ubuntu 14.04.

[2016-03-30 13:14] sstarcher commented on #6109
@rossmcdonald I upgraded from 0.10.0 to 0.11.0 and I still get the error, but it no longer crashes
[code]

[2016-03-30 13:39] benbjohnson commented on #6096
@guanxudong @disminder Did you try updating the bind address as mention in #5896? I fixed the issue where CQs don't start at all, however, I'm unable to reproduce the issue where CQs stop after a while.

[2016-03-30 16:00] lance5107B opened #6156 "Upgrading from V0.9 to V0.11"
Form reading through some issues it appear that i need to upgrade to V0.10 before gong to V0.11

I cannot find a V0.10 deb package however.

Where can I find previous versions?

[2016-03-30 16:14] benbjohnson commented on #6020
@samhatchett Thanks for the great bug report. The script was really helpful. This is fixed in `v0.11.0`.

[2016-03-30 16:14] #6020 closed

[2016-03-30 16:15] benbjohnson commented on #5896
Fixed via #6147

[2016-03-30 16:15] #5896 closed

[2016-03-30 16:15] Satisheupure opened #6157 "Got response:'204 No Content' no data found in influxdb"
Successfully installed influxdb on windows and everything is working as expected locally. But having trouble posting data from outside using http api.

I am able to connect to admin panel locally through

http://localhost:8083/
I am using below command for posting data from a remote server:

curl -i -XPOST 'http://172.29.6.195:8086/write?db=telegraf' --data-binary 'test_load,host=njxap1dbadm01 val

[2016-03-30 17:17] rossmcdonald commented on #6156
Here is a link to the latest 0.10 deb release:

https://s3.amazonaws.com/influxdb/influxdb_0.10.3-1_amd64.deb

[2016-03-30 17:17] #6156 closed

[2016-03-30 17:52] #6104 closed

[2016-03-30 18:37] Disminder commented on #6096
@benbjohnson sorry, I quiet didn't understand what is 'config.toml' in your link, hope this is /etc/influxdb/influxdb.conf. I changed http-bind-address in [meta] from ":8091" to "127.0.0.1:8091", and yes, it helped.

So, probably default config isn't fixed (I started to use Influx from 0.10 via apt-get).
Btw, I didn't try CQ on 0.10.
//sry, English isn't my native language

[2016-03-30 19:44] rossmcdonald commented on #4939
Closing this as won't fix for now. The flagship Linux distributions are all moving to systemd, so trying to determine whether systemd is the currently-used init system seems like a waste of time. For anyone that runs into this issue, please use the workaround above.

[2016-03-30 19:44] #4939 closed

[2016-03-30 19:53] rossmcdonald commented on #5122
This has been fixed with https://github.com/influxdata/influxdb/pull/6148

There will now be detached signatures uploaded with each release (URL + '.asc'), so, for example, to verify the package contents on Ubuntu:

[code]

Where you should see a GPG message based on whether the signature was verified, such as:

[code]

[2016-03-30 19:53] #5122 closed

[2016-03-30 19:56] mark-rushakoff commented on #6157
@Satisheupure This looks like a duplicate of https://github.com/influxdata/influxdb/issues/6061.

For now, add `-H 'Content-Type: text/plain'` to your curl command as a workaround. That issue is in the 0.12 milestone, so you should not need this workaround after the 0.12 release.

[2016-03-30 19:56] #6157 closed

[2016-03-30 20:18] gmr opened #6162 "influxd 0.11.0 crashes on SELECT * with large dataset"
influxd crashed today due to a user issuing a ``SELECT * FROM measurement`` today for a very large dataset. While I don't think the usage was really reasonable for our use case, it probably shouldn't crash the entire influxd process. I've kept the influxd.log incase you'd like it, but it's 477KB, so here's the top few lines:

[code]

Let me know if the full log is useful and I'll upload it to S3 o

[2016-03-30 20:51] #6077 closed

[2016-03-30 21:34] #6061 closed

[2016-03-30 21:59] jwilder commented on #5934
This is likely fixed in 0.11 via #6082.  The file causing the panic will need to be removed from your data directory since #6082 only fixes writing partial TSM files..

[2016-03-30 21:59] #5934 closed

[2016-03-30 22:13] beckettsean opened #6165 "influx_tsm on conversion panic: invalid page type: 0: 0"
### Bug report

__System info:__ [Include InfluxDB version, operating system name, and other relevant details]
OS X 10.11, InfluxDB 0.11 final loaded via Homebrew. Previously running 0.9.4 and up on this box with the same data files.

__Steps to reproduce:__
[code]

happens on all attempts, and I haven't found any `influx_tsm` flags that change the output.

Here's a gist with the structure of my `

[2016-03-30 22:15] jwilder commented on #6165
@joelegasse @benbjohnson

[2016-03-30 22:17] beckettsean commented on #6165
@joelegasse fixed by #6159?

[2016-03-30 23:33] benbjohnson commented on #6165
It looks like there's a bad copy of the bolt file. It's trying to access an empty page.

@beckettsean Are you able to isolate the error to a single database? If so can you send me the db files for that database?

[2016-03-31 00:16] jwilder commented on #6131
@sjahn90 I was able to reproduce with your script.  This is regression introduced by #5816.

#5816 added stats tracking per measurement.  This test script is creating 100,000 measurements (or more) which creates a lot of lock contention on the stats lock [here](https://github.com/influxdata/influxdb/blob/0.11/influxvar.go#L14).
[code]

This lock ends up being held for a long time due to some sorti

[2016-03-31 00:57] #6112 closed

[2016-03-31 00:59] #6115 closed

[2016-03-31 03:21] guanxudong commented on #6096
@benbjohnson Yes, it works! I updated the http-bind-address, CQs run.
But I did'nt meet the issue as @gravaton said  **eventually stops**
Thank you very much:)

[2016-03-31 03:55] benbjohnson commented on #6096
@guanxudong Awesome! Thanks for testing it out!

[2016-03-31 04:46] jwilder commented on #6162
#6126 should fix this.

[2016-03-31 04:46] #6162 closed

[2016-03-31 04:56] symal29 opened #6169 "influx_tsm panics with index out of range error."
### Bug report

__System info: InfluxDB v 0.10.3 , CentOS 6.6

__Steps to reproduce:__

1. First upgraded from InfluxDB 0.9.5.1 - rpm -Uvh ./influxdb-0.9.5.1

2. Started influxdb service. Log file shows influxdb exited during startup with error "opentsdb+store:+failed+to+open+shard+4:+new+engine:+cannot+allocate+memory"

3. Run influx_tsm -backup /archive_data/backup/second_attempt -parallel /data

[2016-03-31 10:06] xiic opened #6171 "Crash: Error opening memory map / cannot allocate memory"
I know my system resources are limited and I don't expect high performance. I'm mostly writing (a lot of) points, query performance is not an issue.

After writing for a few days, InfluxDB crashes and cannot start again.
0.11: Startup fails
0.12 nightly: InfluxDB starts, but cannot bring up the broken database (Edit: This might also be related to #6117, but the same message appears on 0.11):
[code

[2016-03-31 14:33] ralawa commented on #4121
Same issue with my fresh 0.11 install, when importing data from another source.

`2016/03/31 14:13:34 InfluxDB starting, version 0.11.0, branch 0.11, commit 1572060c6890f5c6f6e540155d99238aca8617e3`

`[monitor] 2016/03/31 16:02:06 failed to store statistics: timeout`

[2016-03-31 14:44] #6121 closed

[2016-03-31 14:47] bbinet commented on #4156
+1, this would actually be useful

[2016-03-31 15:01] ariens commented on #5821
Hi Folks,  I'm exploring which TSDB to use for a new POC monitoring solution and have hit this bug.  Are there are known work-arounds in v0.11 that I could use before v0.12 comes out?  Are there any risks to this fix not being included in v0.12?  Lastly--I see there's been some excellent progress on the completion of the milestone, is there an expected date of when a beta v0.12 will be ready?

Tha

[2016-03-31 15:02] jwilder commented on #6024
Closing this since the remaining tasks has been converted to separate issues.

[2016-03-31 15:02] #6024 closed

[2016-03-31 15:16] #6078 closed

[2016-03-31 15:23] jwilder commented on #6171
I believe you are running out of address space when trying to mmap the TSM files.  This is likely an issue with the size of you dataset and that your are using a 32-bit system that has a limited amount of address space.

The only workaround I can think of is to reduce the amount of data you are storing by rolling it up more aggressively with CQs or removing it more aggressively with a shorter rete

[2016-03-31 15:23] #6171 closed

[2016-03-31 15:24] jwilder commented on #6169
@benbjohnson @joelegasse

[2016-03-31 15:30] xiic commented on #6171
Thanks, the `SHARD DURATION` in 0.12 looks promising, I'll give it a try.

[2016-03-31 15:37] e-dard commented on #6140
Should be fixed via #6149 and #6151

[2016-03-31 15:37] #6140 closed

[2016-03-31 16:15] #6110 closed

[2016-03-31 16:27] jwilder commented on #4121
@ralawa Please open a new issue.  This issue is closed.

[2016-03-31 16:35] #6131 closed

[2016-03-31 16:43] syunusic commented on #1315
Hi, I have the same problem. I restarted the server before without that problem. Now the DB is gone, but is still in the hard drive. I have 120GB in /var/opt/influxdb/data/mydb (my DB is called mydb). How can I make Influx to read that again?

[2016-03-31 16:49] benbjohnson commented on #5328
@pauldix I looked into this further and I think it's a jitter issue. If there are overlapping tsm blocks then it has to deduplicate at query time which gets really expensive. I see similar multi-minute results with a 0.5B points across 6,000 series. However, without jitter the query time goes down to 1.5s.

[2016-03-31 16:49] #5328 closed

[2016-03-31 16:53] mark-rushakoff opened #6176 "Sample config contains outdated settings"
[The sample config](https://github.com/influxdata/influxdb/blob/master/etc/config.sample.toml) has settings for `hinted-handoff`, which is no longer used in the application. I'm not sure if there are any other deprecated settings in that file.

[2016-03-31 16:54] #6152 closed

[2016-03-31 16:56] benbjohnson commented on #6169
@symal29 A couple questions:

1. Does this happen consistently every time you run it?
2. How much RAM do you have on the machine?
3. Is this a 64-bit or 32-bit machine?

[2016-03-31 17:08] symal29 commented on #6169
Yes it happens every time it run. The system is 64bit and have 20GB of ram. It seems it errors out while trying to open a particular file...

`strace -f -e open influx_tsm -backup ./tmpback ./data/influxdb
[ Process PID=7599 runs in 32 bit mode. ]
Process 7600 attached
Process 7601 attached
[pid  7599] open("/proc/sys/net/core/somaxconn", O_RDONLY|O_LARGEFILE|O_CLOEXEC) = 3
Process 7606 attached (

[2016-03-31 17:19] e-dard opened #6178 "CREATE RETENTION POLICY not properly checking SHARD DURATION"
When recreating the same retention policy the `SHARD DURATION` is not checked properly. If it's different to the existing `SHARD DURATION` an error should be returned, but one is not.

[code]

[2016-03-31 17:24] #6153 closed

[2016-03-31 17:43] symal29 commented on #6169
Never mind .. I downloaded the 32 bit by mistake. Trying with the 64bit rpm helped. Thanks for pointing this out,.

[2016-03-31 17:47] jadbox opened #6179 "[feature request] Rolling CQ resampling"
### Feature Request

Proposal: CQ resample perform an incremental build based on new entries since last sample entries.

Current behavior: CQ sampling needs to rerun aggregations over all elements, even elements that were counted since the last sample window.

Desired behavior: Have an option when creating a CQ to ignore previously sampled entries and only "diff" against new entries that are withi

[2016-03-31 17:51] jadbox commented on #6179
We may also want to remove the non-aggregate data past the `one month` window, as it's a huge amount of data. However, we would want the rolling `yearly` CQ sampling to retain the count of that data while adding to it's aggregate new data that's coming in.

[2016-03-31 18:00] #6169 closed

[2016-03-31 18:05] #6176 closed

[2016-03-31 18:36] #3932 closed

[2016-03-31 23:21] toddboom commented on #4813
This doesn't seem relevant to the latest releases, so I'm closing it out.

[2016-03-31 23:21] #4813 closed

[2016-03-31 23:24] BrannonKing commented on #5978
Your usage of the * works as long as you don't put a limit on the query. It seems that adding limit (and also group by) causes some kind of infinite loop.

[2016-04-01 00:29] sjahn90 commented on #6131
@jwilder Thanks for your support. We'll try your workaround until influxdb 0.12.

[2016-04-01 01:09] jwilder commented on #6131
@sjahn90 0.11.1 will have the fix. It's available now.

[2016-04-01 03:23] simnv commented on #6058
After upgrading from 0.10.3 to 0.11.0 the problem has gone away:
![disk-iops-influxdb](https://cloud.githubusercontent.com/assets/3754755/14196945/945f023e-f7e2-11e5-986f-636585f6ad3d.png)

With on-disk WAL folder write ops grew only slightly.

[2016-04-01 05:10] sharang commented on #6087
@joelegasse @mark-rushakoff

how many bytes occupied by every series?

there will be several millions of series in our db.

[2016-04-01 05:11] sharang commented on #6087
btw, is there a way to limit the number of series returned by CQ?

[2016-04-01 09:19] waqark3389 opened #6182 "Panic on version 0.10.3-1 Centos x64"
I have been running 0.10.3-1 for a few days now and yesterday, influx stopped responding and had crashed. Is this a known issue? Also I can see data using the administration portal at port 8083 but grafana does not seem to pick up older data? The actual data is still there. Here is the entry from the log file upon panic.

[code]

[2016-04-01 11:23] e-dard commented on #6182
@waqark3389 thanks for the report. This is fixed in `0.11`. This looks like a dupe of #5244.

[2016-04-01 11:23] #6182 closed

[2016-04-01 11:27] e-dard commented on #6154
@TysonJones this is a known issue and we're looking to fix the line-protocol spec for `0.13`.

Having said that, what version of Influx are you using? I'm not aware of the bug where a measurement ending in a `\` can exist in the system. Can you show the raw output of the `SHOW MEASUREMENTS` query?

[2016-04-01 11:31] e-dard commented on #6053
Hi @psilons I think this will be satisfied in `0.12`. As of `0.12` you'll be able to do similar to the following:

[code]

There will be support in the other commands that take a retention policy too. Let me know if this is what you're after and I'll close out this issue.

[2016-04-01 13:33] willemdh commented on #6110
@rossmcdonald It worked. Ithink I upgraded successfully now. Yum syas I'm on version  0.11.1-1, but the gui stillsyas 0.9.5. Is this a known issue?

![image](https://cloud.githubusercontent.com/assets/6462991/14206966/3a708826-f817-11e5-8ad2-b7e11e234f7f.png)

Did a shift refresh, still 0.9.5..

Just noticed InfluxDB service stops afetr 10 seconds since the upgrade. Still looking why, but I'll mak

[2016-04-01 13:37] willemdh opened #6184 "Influxdb service stops after 10 seconds"
Upgrading to influxdb 0.11 from 0.9.5 on CentOS 7 with yum, seems to cause issues.. The influxdb service stops after 10 seconds.

[code]

Service can be started, but fails after +- 10 seconds.. What could be causing this?

[2016-04-01 13:43] psilons commented on #6053
Yes, Jason Wilder informed me of this change. Let's close this one.

Thanks a lot for the quick turn around.
Rick

[2016-04-01 13:44] willemdh commented on #6184
Ok, found this in the logfile. Looking into it :+1:

[code]

[2016-04-01 13:57] willemdh commented on #6184
Issue solved by running

    influx_tsm -backup /tmp/influxdb_backup /var/lib/influxdb/data

[2016-04-01 13:57] #6184 closed

[2016-04-01 14:19] andyleslie81 commented on #5635
@pauldix Hi Paul we've just upgraded to 0.11.1 and have found the limit of 10000 is still in place. FYI this was for a database using the graphite plugin.

Thanks,

Andrew

[2016-04-01 14:27] #6053 closed

[2016-04-01 14:30] jwilder commented on #6117
Fixed vai #6158

[2016-04-01 14:30] #6117 closed

[2016-04-01 14:30] #6178 closed

[2016-04-01 15:01] linroics commented on #5668
+1

[2016-04-01 15:29] sstarcher opened #6185 "Reaching ulimit"
### Bug report

**System info:**
- AWS r3.2xlarge - 64gb ram, 8 cpus
- Docker
- CoreOS 991.2.0 - beta
- InfluxDB 0.11.0
- Initial started with a clean DB at version 0.10.0

**Steps to reproduce:**
1. Send data via HTTP and Telegraf
2. Watch ulimit creep
3. reaches ulimit and AWS takes the server out due to an unreachable network

__Expected behavior: Server not crashing
__Actual behavior: Server c

[2016-04-01 16:09] mark-rushakoff commented on #6185
`ulimit` affects many resources. Which resource limit are you running into?

[2016-04-01 16:13] sstarcher commented on #6185
@mark-rushakoff I was seeing 42k + sockets open

[2016-04-01 16:17] sstarcher commented on #6185
My server has been running for about an hour so far.  This is with version 0.11.1
* lsof | wc -l = 26662
* lsof | grep socket | wc -l = 26315

[2016-04-01 17:07] sstarcher commented on #6185
After almost 2 hours I'm up to
* lsof | wc -l = 52315
* lsof | grep socket | wc -l = 52047

[2016-04-01 18:16] jwilder opened #6188 "Data race on measurementFields"
### Bug report

__System info:__

0.12, golang 1.6 GOGC=1800

__Steps to reproduce:__

1. go install -race ./cmd/influxd
2. GOGC=1800 influxd
3. influx_stress

__Actual behavior:__

[code]

[2016-04-01 21:08] sidcisco opened #6191 "High CPU usage with continuous queries"
**System Info**:
Influxdb 0.11.1 and Gentoo.
See this issue with 0.9.6 as well. This issue wasn't there in 0.8.8

**Steps to reproduce:**
1. Create a database and 4000 CQs using the following shell script ( no other read/write activity going on at the same time)

uri='http://localhost:8086/query'
curl -G $uri --data-urlencode "q=create database test"
for i in {1..4000}
    do
        cq="q=create

[2016-04-01 21:50] toddboom commented on #6071
Closing this out since it's not an issue that needs to be resolved.

[2016-04-01 21:50] #6071 closed

[2016-04-01 21:54] toddboom commented on #5311
The v0.12.0 release has some fixes from #5372 to improve loading times. Closing this out since that plus the prior fixes should have things in a usable state now.

[2016-04-01 21:54] #5311 closed

[2016-04-01 23:59] gunnaraasen commented on #4880
As Jason mentioned, as of 0.11 it's possible to use `field*` to capture the remainder of a metric path thanks to https://github.com/influxdata/influxdb/pull/5562.

[2016-04-01 23:59] #4880 closed

[2016-04-02 00:00] discoduck2x opened #6192 "Fail upgrade from 0.9.4 -> 0.11 stable"
### Bug report

__System info:__ [0.9.4 -> 0.11 centos 7]

__Steps to reproduce:__

1. [insert data (had about 200gb of data)]
2. [convert with influx_tsm]
3. [cant see databases]

__Expected behavior:__ [excpected to convert data from 0.9.4 to 0.11]

__Actual behavior:__ [conversion succeeded , no errors,, but cant access databases, tried giving influxdb:influxdb full permissions on files doest n

[2016-04-02 00:06] gunnaraasen commented on #5416
@m4ce Thanks for adding this feature via https://github.com/influxdata/influxdb/pull/5419! Matching multiple tags is now available in v0.11.

[2016-04-02 00:06] #5416 closed

[2016-04-02 00:10] gunnaraasen commented on #4901
@nicolaskarp The database has changed significantly since this issue was filed and we have not received any other reports of the Graphite plugin causing crashes. Feel free to reopen this issue if it reoccurs in v0.11.

[2016-04-02 00:10] #4901 closed

[2016-04-02 06:04] #6192 closed

[2016-04-02 17:44] sstarcher commented on #6185
I upgraded telegraf to 0.11.1 and the issue seems to have lessened. It ran for 12 hours last run, before hitting the ulimit and it has currently been up for 6 hours and `lsof | wc -l` is up to 32k

[2016-04-02 23:36] vlasov01 commented on #5559
@rossmcdonald  I've got the same error in the log:
[code]
My subscription:
[code]
My drop attempt fails:
[code]

[2016-04-03 01:25] drdran commented on #6070
Hi I have the same problem.

[2016-04-03 02:38] jonseymour commented on #6191
@sidcisco You should try setting `run-interval` to 6h since currently it is testing 2000 queries every second to see if one of them should execute now - this explains the high CPU.

However, as stated in other correspondence, you really need to look at tagging your data so that you can run one CQ across 1 measurement containing 2000 series rather than 2000 CQs across 2000 series.

[2016-04-03 02:53] jonseymour commented on #6191
The basic issue here is that influx isn't really designed to handle 1000s of CQs. CQs are a facility that are designed to allow downsampling from a handful of measurements to a handful of measurements. If you design your schema right, a couple of CQs can efficiently down sample thousands of series within a handful of measurements. This is the use case influx CQs are designed to handle.

I can see

[2016-04-03 18:32] sidcisco commented on #6191
Hi Jon,
What is 'run-interval' ? Is it a configuration parameter ? I dont see it influxdb.conf.

[2016-04-03 20:22] jsternberg commented on #6123
Hello @Tinche. I'm going to close this since not enough information has been given for us to reproduce the bug. If you run into the issue again and can give us more info, please reopen with that information and I'll take a look at it as soon as I can.

Thank you.

[2016-04-03 20:22] #6123 closed

[2016-04-03 21:59] steverweber commented on #6068
If you use Salt.
https://www.lutro.me/posts/wait-for-a-port-to-be-listening-in-salt

[2016-04-03 22:26] steverweber commented on #6041
would be nice if line protocol support postfixes in the timestamp for [s,ms,us,ns].
https://docs.influxdata.com/influxdb/v0.11/write_protocols/write_syntax/#line-protocol

[2016-04-03 23:52] jonseymour commented on #6191
`run-interval` was introduced in v0.10.0

[2016-04-04 05:11] jonseymour commented on #6070
FWIW: i can reproduce the same symptom on linux/amd64 if I compile the influx binary with CGO_ENABLED=0 set in the environment. In this case, the reason is that user.Current() then fails with the error: 'Current not implemented on linux/amd64.'

This causes the branch in this [block](https://github.com/influxdata/influxdb/blob/master/cmd/influx/cli/cli.go#L171-L179) to be skipped, which then resul

[2016-04-04 05:14] jonseymour commented on #6070
Based on a quick review of the go source, it seems more likely that the arm influx binary was compiled with CGO_ENABLED=0.

[2016-04-04 07:44] TysonJones commented on #6154
Is there any more information about this issue (the creation of these additional measurements)?
Is it guaranteed all data pushed to a measurement will still be stored there under, albeit also under an extra dodgy measurement?

Regarding the `\`: oops, I was viewing the output in an editor also parsing the escapes. The measurement names do indeed correctly end in `\\`. Thanks!

[2016-04-04 07:59] jonseymour commented on #1154
I recently had a requirement similar to this. I wanted to compare timeseries from different days, aligned by the same time of day. The workaround I ended up with was rebasing the data I wanted to a common base timestamp and then adding the original date as a tag. This then allowed me to visualise the different days in the same graph within grafana.

[2016-04-04 08:18] jonseymour opened #6193 "[0.11.1]: admin UI does not provide any feedback for successful but empty queries"
### Bug report

__System info:__

influxdb: 0.11.1 (local build)
operating systemn: ubuntu 14.04.4

__Steps to reproduce:__

1. execute a query that is expected to have no results: `select * from "database" where numSeries < 0`

__Expected behavior:__ [What you expected to happen]

A success message should be displayed, indicating that the query was accepted and processed successfully but no resul

[2016-04-04 08:37] freeseacher commented on #5913
i have the same problem.
currently repos for debian/ubuntu contains only latest version of database.
but i need 0.10.3
Repos for rhel contains older releases.
could you please return old versions of database to the debian repos. thx!

[2016-04-04 09:43] e-dard commented on #6154
@TysonJones all I can really say for the current status is that you should avoid backslash literal characters in your measurements, tags or fields, and only use backslashes to escape characters such as spaces, equals or double quotes.

In terms of the future improvement to how backslashes will be handled see #6037

[2016-04-04 09:44] e-dard commented on #6154
@TysonJones I'm going to close this issue as it's a duplicate of #6008 and #5231

[2016-04-04 09:44] #6154 closed

[2016-04-04 11:19] jonseymour commented on #6193
I bisected the commit that caused this issue down to 0cd440ea5c. /cc @toddboom

[2016-04-04 12:00] jonseymour commented on #6193
Fixed by #6194.

[2016-04-04 15:06] njoyard commented on #5359
@mvadu could you please publish the commands you used to generate those versions ? Thanks !

[2016-04-04 16:56] gunnaraasen commented on #6037
As mentioned in https://github.com/influxdata/influxdb/issues/6041#issuecomment-205067182, we could allow precision to be set per point without an explicit timestamp.

[code]

This would probably be useful for allowing variable precision on points without timestamps sent to a UDP input.

[2016-04-04 17:01] gunnaraasen commented on #6041
@steverweber Specifying the unit on the timestamp will likely be a feature of the next iteration of the line protocol. See the discussion at https://github.com/influxdata/influxdb/issues/6037 for more details. I've added a comment about allowing precision per point without timestamps `[s,ms,us,ns]` since it hadn't been suggested before.

I've also opened https://github.com/influxdata/docs.influxda

[2016-04-04 17:06] bdangit opened #6198 "Package should detect if its running in a container so it can install the correct service script"
### Feature Request

**Proposal:** Package should detect if its running in a container so it can install the correct service script.

**Current behavior:** When I install influxdb inside of a Debian 8.2 or Ubuntu with SystemD, the package wants to install the systemd service.

**Desired behavior:**  It should instead install the init.d script.  Or otherwise if the binary supports daemon mode.

**U

[2016-04-04 17:08] bdangit commented on #6198
FYI,

There are 2 ways for a process to detect if its in a container or not:

1. `cat /proc/1/cgroups`
2. `ls -al /.dockerinit`

[2016-04-04 17:23] rossmcdonald commented on #6198
Regarding the use case:

What prevents you from doing this when using systemd?

[2016-04-04 17:31] steverweber commented on #6041
@gunnaraasen Thanks for managing the suggestions.

As a beginner I assumed the timestamp was in seconds, and failed. If/when #6037 is resolved I assume timestamps being used incorrectly in respect to the line protocol will be largely reduced.

Changing the default from ns seems to require code changes. Is the added code complexity worth the gains.. I don't know,

[2016-04-04 17:38] steverweber commented on #6041
Also... what happens when someone really does want to use some strange times that is in a distant past.. Also the fun to read documentation with a paragraph describing this time check nuance.

[2016-04-04 17:47] joelegasse commented on #6037
I'm not sure I see the benefit of per-point precision without a timestamp. The currently proposed update would allow precision to be set per-batch. If using UDP, you could just send one batch per precision, and have no timestamps.

In general, I would prefer to see timestamps be required, otherwise the client has no guarantee what time the point will be tagged with in the database. For example, if

[2016-04-04 17:48] bdangit commented on #6198
in order to this, you need to run your container in priveledged mode and run the container at /sbin/init for access to systemd

[2016-04-04 18:15] toddboom commented on #6193
@jonseymour Thanks for taking care of this! I've merged your PR into `master` and `0.12`, so future releases off of those branches will have this. I'll go ahead and merge it into the `0.11` branch, but we don't currently have any plans to cut another point release in the 0.11.x line.

[2016-04-04 18:15] #6193 closed

[2016-04-04 18:18] beckettsean commented on #5328
@benbjohnson so to restate in a way we might explain to customers, the actual determination of which 5 points are the earliest takes a long time when there are thousands of series, since the nanoseconds for each first point in the shard group have to be compared.

[2016-04-04 19:34] joelegasse opened #6199 "Remove TSM dependency on line protocol"
The current TSM storage format uses the raw bytes of the line protocol to index series on-disk. This has created a problem because the current line protocol has some very weird behaviors with escaping backslashes, and fixing that (as proposed in #6037) would break current data stored using the v1 index format.

We need to implement a second version of the TSM index that does not depend directly on

[2016-04-04 19:53] benbjohnson commented on #5328
@beckettsean it has to do with how data is saved. if points come in out of timestamp order then the tsm engine will create multiple blocks and then it has to deduplicate those points at query time. There's a fast path if there is only one block. The engine will clean up those duplicate blocks and merge them eventually.

We need to get some more visibility in the inspect tool so we can get more sta

[2016-04-04 19:56] ningxie1991 opened #6200 "Changing time control in Grafana brings down influxDB"
I restarted influxDB, created datasource for my Grafana and imported the dashboards, but when I tried to change the time on the top right of Grafana, influxDB goes down for no reason. Any suggestions? I never happened before and I used the same query which is a selective query to the raw data (not open ended).

[2016-04-04 21:00] dengliu commented on #5930
hi, would like to see some build-in time series anomaly detection functions in influx QL.
E.g. https://blog.twitter.com/2015/introducing-practical-and-robust-anomaly-detection-in-a-time-series
http://robjhyndman.com/hyndsight/yahoo-data/

[2016-04-04 21:16] gunnaraasen commented on #6200
@ningxie1991 we do not have nearly enough information to attempt to debug this issue.

- What version of InfluxDB and Grafana are you using?
- What are some examples of the queries being run?
- Are there any errors in the logs? A gist of the stack trace would be extremely helpful.

[2016-04-04 22:19] sguilly opened #6204 "v0.10 : SHOW MEASUREMENTS return 'no results to display'"
Hi,

I use the tutum/influxdb:0.10 image to run influxdb.

I follow the documentation to update database to the new format tsm.

I use the command : influx_tsm -backup /tmp/influxdb_backup -parallel /data

The update seems to be correctly done :

Summary statistics
========================================
Databases converted:                 3
Shards converted:                    44
TSM files crea

[2016-04-04 23:19] ianlutzeigen opened #6206 "continuous queries are padding with 0 and nulls by default v0.11.1, order by DESC broken as well"
Hi

I am running a bunch of CQs on "testdb" that downsample into a separate db called "testdb_downsampled"

What i am observing is that there are both "nulls" and "0s" for the sections of data where there is no data to be downsampled. Some CQs have zero some have none. I have not specified a fill type so it should be "null". These zeros are wrong....

note DESC is broken as well: what is with thos

[2016-04-05 00:08] beckettsean commented on #6165
@benbjohnson I've only got three dbs in the system:

[code]

When I try to launch `influx_tsm` I get the same panic for all three databases:

[code]

[2016-04-05 00:12] beckettsean commented on #6165
I've got a 204MB gzipped tarball of `~/.influxdb/` from my machine. I'll slack you the dropbox link.

[2016-04-05 00:18] beckettsean commented on #5328
@benbjohnson thanks for the clarification, that makes more sense than my mistaken understanding. I assume the deduplication is done during compactions, so queries farther from `now()` are less likely to suffer this issue?

[2016-04-05 00:19] gunnaraasen commented on #6041
@steverweber thanks for the feedback!

This is an initial pitfall which would be greatly improved by auto-setting a precision based on the order of magnitude of the timestamp. The order of magnitude check will only occur when no `precision` parameter is set.

The change would add some documentation and code complexity. However, we frequently have issues opened by new users who write seconds precis

[2016-04-05 00:19] beckettsean commented on #5930
@dengliu can you open a new issue so I can reference it here?

[2016-04-05 00:32] dengliu opened #6208 "Build in anomaly detection function in influxdb"
### Feature Request

__Proposal:__ Build in anomaly detection in influxdb

__Use case:__
It would be nice to see holt-winter and some build-in time series anomaly detection functions in influx QL.
E.g. https://blog.twitter.com/2015/introducing-practical-and-robust-anomaly-detection-in-a-time-series
http://robjhyndman.com/hyndsight/yahoo-data/

With this support, people should be able to see visual

[2016-04-05 00:34] dengliu commented on #5930
@beckettsean I have updated the issue id in my previous comment.

[2016-04-05 00:59] steverweber commented on #6041
I was playing devils advocate. Looks like a good migration strategy.. Like how the influxdata devs are not afraid to nip theses things in the bud /early/.

[2016-04-05 01:57] Lswith opened #6209 "Add old versions to managed repos.influxdata.com"
### Feature Request

Opening a feature request kicks off a discussion.
Requests may be closed if we're not actively planning to work on them.

__Proposal:__ Add old versions of influxdata packages to the repos.influxdata.com. This allows people to slowly upgrade to the latest version.

__Current behavior:__ The latest version is the only available package in the repos.influxdata.com repository.

_

[2016-04-05 02:09] mvadu commented on #5359
@njoyard I build form my branch using a [powershell script](https://github.com/mvadu/influxdb/blob/master/build.ps1) I wrote. Note that InfluxData folks are generating nightly builds now ([ref](https://github.com/influxdata/influxdb/issues/4452#issuecomment-202425479)), but they are not testing it any way on Windows (comparatively I make sure all tests pass before publishing my releases).

[2016-04-05 02:51] mvadu opened #6211 "Influxd config error: proto: duplicate proto type registered: internal.IteratorStats"
I generate config files using `Influxd config > influxdb.conf` to modify the data storage path. With the latest master (https://github.com/influxdata/influxdb/commit/c2ac8c85b56132b4372735e9628bd7eb04e66162 ), this command is failing in both Linux and Windows.

[code]

The command itself generates config output, but there is this error generated. Not sure if the config is complete or not.

[2016-04-05 04:35] bdangit commented on #6198
btw I can submit the PR for this if the authors agree with this feature.

[2016-04-05 04:54] simnv commented on #6058
I don't understand. Influx was working fine with little above than 20 write ops for several days, then after restart it has returned to 3k+ write ops:
![iops 0 11](https://cloud.githubusercontent.com/assets/3754755/14271636/46784f78-fb14-11e5-9dd2-fded3c2acda9.png)

[2016-04-05 07:48] pjkCochin commented on #2911
I am also in dire need of a cast function to run aggregate queries on columns that are strings. Any suggestions?

[2016-04-05 09:39] pjkCochin commented on #2911
I am also in dire need of a cast function to run aggregate queries on columns that are strings. Any suggestions?

[2016-04-05 09:57] lusitania commented on #2923
[code]

What's the proper way to get the current version? I wont check the download page for every installation to see which version is the latest.

[2016-04-05 11:29] mengelmann commented on #1110
@otoolep I think that this feature is quite useful, and PR #4740 created by @pires is ready to merge. How can I help to get it merged into master?

[2016-04-05 11:29] mengelmann commented on #2785
@otoolep I think that this feature is quite useful, and my PR #6090 is ready to merge. How can I help to get it merged into master?

[2016-04-05 12:03] e-dard opened #6215 "CONTRIBUTING does not mention tmpl tool"
Since running `go generate` on the `influxql` package now requires the presence of the `tmpl` tool, we should document that in the `CONTRIBUTING.md` file.

/cc @benbjohnson

[2016-04-05 12:51] otoolep commented on #2785
You need to chat to @jwilder now.

[2016-04-05 12:56] rennhak commented on #6198
+1

[2016-04-05 13:49] rossmcdonald commented on #6209
This is a duplicate of https://github.com/influxdata/influxdb/issues/5913

The yum repo does contain the older versions, but the apt repo currently does not. We are migrating to a tool that will allow us to keep historical versions with apt, so we will update #5913 once done. We will add the latest stable release of each branch after the 0.8 branch (so `0.9.6`, `0.10.3`, and `0.11.1`), but, since

[2016-04-05 13:49] #6209 closed

[2016-04-05 13:55] rossmcdonald commented on #6208
I believe the next release of [Kapacitor](https://github.com/influxdata/kapacitor) is going to have a built-in anomaly detection function, so I wouldn't expect this to be added to InfluxDB. Kapacitor also has support for [User-Defined Functions](https://docs.influxdata.com/kapacitor/latest/nodes/u_d_f_node/) (UDF's), so custom anomaly detection functionality can be written if needed.

[2016-04-05 14:01] rossmcdonald commented on #2923
@lusitania The recommended way would be to use the InfluxData package repository, with instructions [here](https://docs.influxdata.com/influxdb/latest/introduction/installation/#installation).

[2016-04-05 14:20] sergioasantiago commented on #6198
:+1:

[2016-04-05 14:20] pires commented on #1110
@mengelmann @otoolep is no longer involved with InfluxDB development. Perhaps @jwilder can help here? Anyway, we were looking for users that could merge my PR, build InfluxDB and test with their deployments to see if everything works as expected.

[2016-04-05 15:03] mengelmann commented on #1110
@pires OK, count me in.

We're using on production build with merged PR #6090 (multiple Collectd plugin listeners). I'll add PR #4740 to the build and make tests.

[2016-04-05 15:08] mengelmann commented on #2785
@jwilder we're using custom build with this PR merged and it works just fine.

[2016-04-05 15:16] lukebigum opened #6218 "nested or sub query support"
This is a feature request / discussion about if it's even feasible to do nested or "sub" queries.

I have a use case where I would like to combine several different series (in different measurements and with different tags) into one "value" with one query (or nested query). I would then be able to display this one single value in existing dashboards like Chronograf or Grafana.

As an example to ex

[2016-04-05 15:17] bogdanveres commented on #6015
Memory consumption dropped to 400 mb using the latest version 0.12.0. Thank you.

[2016-04-05 15:17] #6015 closed

[2016-04-05 15:26] benbjohnson commented on #5328
@beckettsean Yes, older data will be deduplicated but recent data will not be. I'm not exactly sure what the compaction schedule looks like with regard to deduplication. It might be worth adding a small buffer in front of tsm to account for jitter.

[2016-04-05 15:28] bogdanveres opened #6220 "[0.12.0] Error parsing query when running multiple queries"
I added a new graph in Grafana (2.6.0) with two queries:

SELECT mean("CPU") FROM "DEVICE_2_LIVE" WHERE $timeFilter GROUP BY time($interval)
SELECT mean("MemoryUsage") FROM "DEVICE_2_LIVE" WHERE $timeFilter GROUP BY time($interval)

InfluxDB response:

{
  "error": "error parsing query: found SELECT, expected ; at line 2, char 1",
  "message": "error parsing query: found SELECT, expected ; at line

[2016-04-05 16:07] ericremoreynolds commented on #6206
Hello, I have noticed a similar issue, I think it might be related.

Steps to reproduce:

1) `CREATE DATABASE "x"`
2) Write following data to db
[code]
3) `SELECT * FROM y`

![image](https://cloud.githubusercontent.com/assets/5197585/14288911/f33927ac-fb58-11e5-9afd-501dbdddd44e.png)

b gets padded with 0, a gets padded with null

Seems inconsistent, in particular padding with default value 0 is a

[2016-04-05 16:10] ericremoreynolds commented on #6206
Note I am running 0.11.1, only just noticed new version is now available. Will upgrade and check if bug is still present.

[2016-04-05 16:12] jsternberg commented on #6206
I'm able to reproduce the bug. Thanks @ericremoreynolds.

[2016-04-05 16:18] JimHagan commented on #5156
For resource management we'd love a feature where we can setup a UDP config that allows us to route certain metric names (via regexp) to a specific DB.  This would give us good insights into resource requirements downstream and I think it will also make accessing Influx from Grafana more controlled in that we can allow certain users to access certain DBs depending upon the type of metrics they are

[2016-04-05 16:21] ericremoreynolds commented on #6206
Confirm that it didn't happen with 0.10.3

[2016-04-05 16:31] #6215 closed

[2016-04-05 16:36] jsternberg commented on #6206
@ianlutzeigen can you give me a way to reproduce the `ORDER BY desc` bug? I'm able to reproduce the zeroes bug and have a fix ready for it, but I want to try and get both of those fixes in case we decide to do a patch release.

[2016-04-05 16:44] dengliu commented on #6208
Kapacitor for sure is able to integrate with UDF to detect anomaly. However it is just report the results with predefined rule and doesn't give user a good experience of visualizing the anomalies levels over a continuous  time span.
having buildin anomaly detection in InfluxDB allows people to visualize the anomaly status via viz tools (e.g, Grafana), and thus have a better idea of tunning the ano

[2016-04-05 17:43] jsternberg commented on #6206
I think I managed to reproduce the `ORDER BY desc` bug using the same input @ericremoreynolds gave me. I've made a PR for fixing `ORDER BY desc` and the default value bug as part of #6222.

[2016-04-05 17:45] wgrcunha commented on #6220
:+1:

[2016-04-05 17:52] hoomanv commented on #5404
Appears to be fixed in 0.12.0

[2016-04-05 17:52] #5404 closed

[2016-04-05 17:57] mvadu opened #6223 "Failure to run on Windows"
This is a repeating pattern with InfluxDB, every now and then a PR will introduce a `os.rename` which breaks the Windows compatibility due to the way OS works. Latest example being https://github.com/influxdata/influxdb/commit/a961ff9ebf1c5d944ce2a8856f03519d8988d70c broke the Windows version as it removed the `f.Close()` and tried to rename.

Now we are getting
[code]

[2016-04-05 18:11] mvadu commented on #6223
If mods are okay, I would like to keep this issue open as its a reoccurring issue with Influx due to the nature of the project, and its heavy *nix orientation.

[2016-04-05 18:50] toddboom commented on #5292
After talking about this at the Core Weekly, there are enough additions to the query engine and query manager that the underlying issues driving this are no longer relevant. Closing it out!

[2016-04-05 18:50] #5292 closed

[2016-04-05 19:03] gunnaraasen commented on #6223
Sounds like this would be best solved by running continuous integration tests on Windows builds.

[2016-04-05 19:36] clrung commented on #6220
:+1:

[2016-04-05 19:57] jpereira opened #6227 "Problems with 0.12-1"
Hi,

I am having a problem with the latest 0.12.0-1, below the stacktrace.

[code]

[2016-04-05 20:00] joelegasse commented on #6223
I do not think keeping this issue open will solve anything. We already have #5359 to track windows support. Windows is still not officially supported, so until that time, we'll have to rely on bug reports like this when changes cause issues due to quirks in windows.

[2016-04-05 20:34] ljagiello commented on #6220
Looks like it's connected with that change: https://github.com/influxdata/influxdb/pull/6004

[2016-04-05 21:06] sstarcher commented on #6220
So the break on influx's side was on purpose according to #6004

[2016-04-05 22:31] jsternberg commented on #6218
This seems to be a duplicate of #4619. I'm going to close this in favor of the other request, although the syntax you have proposed would roughly be similar to the syntax we would use.

Thanks!

[2016-04-05 22:31] #6218 closed

[2016-04-05 23:12] rkuchan opened #6229 "[0.12] Functions miss data with a `WHERE` time clause"
### Bug report

__System info:__

Version 0.12, Ubuntu

__Steps to reproduce:__

I. Insert data:
[code]

II. Select everything from cakes without a time clause and with a time clause (the two queries yield the same output):
[code]
III. Calculate the mean `ohmnoms` with no time clause and with a time clause (the two queries yield different results):
[code]
IV. Calculate the mean `ohmnoms` grouping

[2016-04-06 00:38] ianlutzeigen opened #6230 "can no longer re-assign bind address "8088" for v12"
Hi I have multiple versions of influxdb running on one machine. In order to do this, i have given each its own set of ports more or less with prefix {versionnumber}port...

E.G: for v.10.3
web-admin: 10383
http-thingy:10386
etc (i have changed other ports)

ianlutz@influxdb-test:/opt/influxdb-0.10.3-1/etc/influxdb$ cat influxdb.conf | grep "address ="
  bind-address = ":10388"
  http-bind-address

[2016-04-06 02:04] andybrier commented on #6220
is there any bug fix for this?

[2016-04-06 03:28] ljagiello commented on #6220
IMHO it's an issue on grafana side not on influxdb side.

[2016-04-06 03:39] cheribral opened #6233 "Show tags, fields etc. much slower than they use to be."
### Bug report

__System info:__ [Include InfluxDB version, operating system name, and other relevant details]
influxdb-0.12.0-1.x86_64, Centos 7, 120G M, 16 CPUs

__Steps to reproduce:__

1. show tag keys
2. show field keys

__Expected behavior:__ [What you expected to happen]
These queries should (used to) come back pretty quickly.

__Actual behavior:__ [What actually happened]
Since the change

[2016-04-06 04:19] tony-brewerio commented on #6230
Also got bit by this while updating influxdb today, had to check the source code.
Apparently, they moved this setting to the top level of config, so just put your bind-address line before any [] blocks.

[2016-04-06 04:33] ianlutzeigen commented on #6230
excellent thanks! doing just that now :)

[2016-04-06 04:54] jonseymour opened #6234 "[feature request] Add support for --format=line-protocol to Influx CLI"
### Feature Request

**Proposal:**

Add support for a --format=line-protocol option to the influx CLI

**Current behavior:**

There is currently no easy way to export data from an influx database in a manner that can be easily imported into another influx database.

**Desired behavior:**

To be able export data from one influx database in influx line format.

**Use case:**

This mechanism would be

[2016-04-06 08:02] syepes opened #6235 "Fatal error: concurrent map read and map write"
### Bug report
Has anyone else been experiencing this issue?

__System info:__
InfluxDB Master (2f6340b, e22f098, c2ac8c8)
FreeBSD 10.3 / 16GB / ZFS

__Steps to reproduce:__
Just run InfluxDB (2f6340b, e22f098, c2ac8c8) for 1 or 2 days and it will crash.

__Actual behavior:__
Since the version 2f6340b I have been getting this fatal error: concurrent map read and map write

__Additional info:__ Cra

[2016-04-06 08:55] jonseymour commented on #6235
Are you compiling with go1.6? There is a chance that this symptom doesn't occur in builds built with go1.4.3 (even though the issue is still latent in such builds). I say this because I had another program that had a latent map concurrency issue but I wasn't aware of it until I started compiling with 1.6.

Of course, the underlying concurrency issue should be addressed, irrespective of which versi

[2016-04-06 09:21] syepes commented on #6235
@jonseymour Thanks for the info, I will rebuild InfluxDB with Go1.4.3 and see if it resolve this issue.

[2016-04-06 09:26] jonseymour commented on #6235
My take on the issue is that that the map dereference at line 374 (https://github.com/influxdata/influxdb/blob/master/tsdb/shard.go#L374) used to be protected by use of the DatabaseIndex lock, but since 03ced4c this protection has been removed.

/cc @jwilder

[2016-04-06 10:39] e-dard commented on #6235
@syepes thanks for the detailed report. The issue should be fixed in the next release.

[2016-04-06 10:41] e-dard commented on #6233
@cheribral thanks for the report. Could you provide more details on example data where this issue is apparent?

[2016-04-06 10:43] e-dard commented on #6230
@ianlutzeigen that's right (thanks @tony-brewerio). You can run `influxd config` to see an appropriate sample configuration file.

[2016-04-06 10:43] #6230 closed

[2016-04-06 10:46] e-dard commented on #6227
@jpereira could you provide more details on your HW setup, the amount of data you have, and whether this query used to work in the previous version of Influx you were using (and what was that version).

[2016-04-06 11:21] sstarcher commented on #6185
I dropped the telegraf database afterwards 40% of my memory was reclaimed.  Over the past 2 days the server has not crashed and has crept up 10%.  I'm wondering after the amount of data increases if that will put pressure back on the ulimit.

[2016-04-06 11:32] e-dard commented on #6208
@dengliu InfluxDB shouldn't be responsible for things like this. The pipeline should be that other tools (e.g., Kapacitor) take InfluxDB data  and perform the anomaly detection analysis, and then optionally feed that data back into InfluxDB, which can then be visualised using whatever visualisation tool is in play.

[2016-04-06 11:32] #6208 closed

[2016-04-06 12:11] #6223 closed

[2016-04-06 12:13] #6188 closed

[2016-04-06 12:34] e-dard commented on #6235
fixed via #6190.

[2016-04-06 12:44] #6204 closed

[2016-04-06 12:45] sguilly commented on #6204
influxd start with the wrong influxd.conf

[2016-04-06 14:02] mnietz commented on #6220
:+1:

[2016-04-06 14:05] #6206 closed

[2016-04-06 14:08] mvadu opened #6237 "Proposal: Continuous Integration suite for Windows on AppVeyor"
Continuing from #6223, we are getting lot of failure on Windows side (I know its not "officially" supported, but it runs, works on Windows), and we don't have any easy way to know if a PR is going to break compatibility. I am proposing to use AppVeyor's ci, which provides ci for Windows. I have done a POC, https://ci.appveyor.com/project/mvadu/influxdb and we can get the basic things running.

Its

[2016-04-06 14:21] mnietz opened #6238 "I/O Behaviour after Upgrade to 0.12.0-1"
Today i have updated InfluxDB from Version 0.11.1 to 0.12.0-1 on a Debian 8.4 Box. My Dataset is pretty small (500MB Data, 100 Points per Second). Upon now only 12 Systems uses Influx to fill Data from Collectd

I'm a bit surpised about the I/O Behaviour after the Upgrade. With the previous version i had about 70 Write IOPS (300 KiB) now i have 300 IOPS (1.34 Mib).

Is this an expected behaviour ?

[2016-04-06 15:38] nathanielc commented on #6037
Just want to publicly voice that this is a very important change for Kapacitor as having multiple UDP ports for each different database retention policy is difficult to manage.

[2016-04-06 16:42] jhorwit2 opened #6242 "v0.10 - Too many CQ's cause backup in system"
System: centos7 w/ 32gb ram and 16 cores.

I noticed that enough continuous queries (around 10) cause backups where the queries cannot execute in time. Each CQ does a group by with a cardinality of around 2-10 depending on the CQ. This ultimately causes loss of data in CQ output because of how the code is written.

I guess a feature request is to make the CQ service more resilient by using more th

[2016-04-06 16:52] ljagiello opened #6243 "[0.12.0] Higher heap usage"
Shortly after upgrade InfluxDB from 0.11.1 -> 0.12.0 (official deb packages, Ubuntu 14.04) I've noticed higher memory usage and higher heap usage (metrics from _internal):

![Heap InUse/Idle](http://i.imgur.com/MRK61w9.png)
![Heap Alloc/Sys](http://i.imgur.com/TJaZ09w.png)

[2016-04-06 17:21] jsternberg commented on #6229
Looks like it's missing the final point. I think I know where the issue is. We handle the end time inconsistently in various parts of the code which should likely be fixed, but I think I can just add a little change to get it working for now.

[2016-04-06 17:29] minollo commented on #5728
From what I see, this fix seems to have broken something: when I try running two queries separated by semicolon, only the first one is actually processed.

[2016-04-06 17:34] jsternberg commented on #5728
@minollo can you post a reproducer for that in #6220? That issue seems to reference two things. One is the semi-colon parse issue which is likely going to stay the way it is from this fix as the previous only worked because of a bug. The second problem mentioned would be a bug if that is happening, but a reproducer would be really helpful to investigate it.

[2016-04-06 17:40] minollo commented on #5728
The reproducer I have is equivalent to the one mentioned by the original
poster in 6220.
When I submit two queries separated by semicolon (as required by the
syntax fix), only one query is executed - and only one [query] logging
line, specifying the first SELECT expression, is output (even if the
HTTP communication does contain both queries).

On 4/6/2016 1:34 PM, Jonathan A. Sternberg wrote:

[2016-04-06 17:46] jsternberg commented on #5728
Unfortunately, I'm not able to reproduce that behavior. Can you show me the command you use to make the query and the logged output from the influxd process?

[2016-04-06 17:59] toddboom opened #6245 "Punchlist for v0.12.1 release"
Make sure these items are merged and (if necessary), backported into the `0.12` branch before marking as completed.

- [x] Refresh admin assets (#6225)
- [x] Fix windows failure (#6260)
- [x] Functions miss data with a `WHERE` time clause (#6229)
- [x] Fix race on measurementFields (#6246)
- [x] Handle nil values from the tsm1 cursor correctly (#6239)
- [x] Fix IO issues caused by `CreateShardGrou

[2016-04-06 18:13] minollo commented on #5728
OK, I have been digging deeper. And I believe you are right; this is a
Grafana problem, not an InfluxDB one. It looks like when I specify a
semicolon Grafana submits a bogus query:

[http] 2016/04/06 13:53:50 131.239.31.200 - minollo
[06/Apr/2016:13:53:50 -0400] OPTIONS
/query?%0ASELECT+mean%28%22value%22%29+FROM+%22temperature%22+WHERE+%22location%22+%3D+%27Fifer+Lane%27+AND+%22device%22+%3D+%27G