[2016-05-03 00:59] sparrc opened #6540 "InfluxDB Client /query endpoint: invalid character 'M' looking for beginning of value"
Script to reproduce:

[code]

this bug began at commit: 6f61c0e

any commit before that returns no error.

cc @jsternberg

[2016-05-03 01:02] jsternberg commented on #6540
@sparrc can you look at the InfluxDB log and see if a `GET` or `POST` was used?

[2016-05-03 01:04] sparrc commented on #6540
Neither, it didn't get to the point of making a request:

[code]

Only the second `go run` did anything db-side:

[code]

[2016-05-03 01:35] jsternberg commented on #6540
Use a newer version of InfluxDB. You're running on a version of InfluxDB that doesn't allow `POST` and using the version of the library that tries to use `POST` requests.

I'm going to close this for now. Do you need some way to customize the v2 library to use `GET` requests?

[2016-05-03 01:35] #6540 closed

[2016-05-03 01:36] ccutrer commented on #2074
`SELECT SUM(value) FROM energy WHERE time>'2016-02-05T00:00:00Z-07:00' AND time<'2016-07-05T00:00:00Z-06:00' GROUP BY time(1d);`

The offset bucket you added now allows me to account for the fact that I want my buckets at 06:00Z, but it does _not_ account for the fact that in the specified interval for this query, one of the days has a bucket that is 23 hours, and that the UTC time of the boundari

[2016-05-03 01:46] jsternberg opened #6541 "Support timezone for a user-friendly way of setting the timezone offset"
From a conversation in #2074.

We should support a more user-friendly way to set timezone offsets. In 0.13, you will be able to set an offset with an extra parameter in the `GROUP BY time(...)` section like this:

[code]

It should also be possible to set this timezone offset through doing something like this:

[code]

This should automatically set the group by offset and could potentially be used

[2016-05-03 01:49] jsternberg opened #6542 "Support changing group by day to when daylight savings time switches"
From a discussion in #2074 and requires #6541 to be implemented.

Adjust the bucket for anything over a day when daylight savings time comes into effect or out of effect when a timezone has been specified.

[2016-05-03 01:50] jsternberg commented on #2074
I've created #6541 and #6542 for tracking those two use cases. This implementation should work for the use case described in this ticket and will be a good jumping off point for implementing full timezone support.

Thank you for your feedback.

[2016-05-03 02:08] jsternberg opened #6543 "Parse fill causes bad query to parse correctly"
The code used to check for `fill(0)` gets parsed strangely that allows a query like this to work:

[code]

This query shouldn't work, but it currently does work because the parser tries to check for a `FILL()` call right after the FROM. If it fails to parse the expression (as `value + LIMIT` is not a valid expression), it will only unread one token rather than all of the tokens used to parse the e

[2016-05-03 03:14] kengan commented on #6482
@jwilder  Thank you for your answer. I want to know the meaning of SHARD DURATION 52w and why this setting you think maybe help. Thank you very much

[2016-05-03 03:33] sparrc commented on #6540
Got it, I'm using an influx cloud instance and have no control over the InfluxDB version, so I don't need to customize but I'll just stick with tag v0.12.1 for the library

[2016-05-03 03:34] sparrc commented on #6540
PS: would it be possible to return a more useful error message? `invalid character 'M' looking for beginning of value` is a bit obscure

[2016-05-03 04:57] tottote commented on #6542
Correct time handling in any software requires just three steps:

1. Do all the time math in local time
2. Convert times to UTC just prior to using them
3. Use UTC time in all time stamps (in databases etc.)

The last one is important in keeping the data portable. The biggest mistake would be to store data with timestamps in local time, but fortunately influxdb is not making this mistake. (Apple p

[2016-05-03 05:29] ivanscattergood opened #6545 "[0.12.2] Crash on write"
Hi,

I have recently upgraded to 12.2 and all worked well for a few days then at the weekend I had two crashes whilst writing data. Here are the last lines in the log before both crashes:

[http] 2016/05/02 19:55:06 127.0.0.1 - root [02/May/2016:19:55:05 +0100] POST /write?consistency=any&db=open_access&p=%5BREDACTED%5D&precision=n&rp=minute&u=root HTTP/1.1 204 0 - okhttp/2.4.0 61f2153f-1097-11e6-

[2016-05-03 06:30] giko45 commented on #2074
A syntax like  #6541 or @ccutrer
SELECT mean(value) FROM cpu WHERE time > now() - 7d GROUP BY time(1d) TZ("America/New York")
would be my use case too.

However implementation requires
1: times in the database are in UTC
2: before the grouping: convert all "time"-s in to the required TZ
3: do the grouping (since "time" now is a local time grouping will handle DST, and yes this will imply one day p

[2016-05-03 06:33] giko45 commented on #6541
note that using a offset and using TZ("America/New York") is (should) not be the same

the TZ  implementation requires
1: times in the database are in UTC
2: before the grouping: convert all "time"-s in to the required TZ
3: do the grouping (since "time" now is a local time grouping will handle DST, and yes this will imply one day per year with 23 h and one day with 25h but thats OK ). Here the of

[2016-05-03 08:20] Joe29 commented on #6531
+1
I have the same setup and the server is being killed by the kernel as well. I can start up influx and it works fine for about 10 minutes before crashing again. Using 32gb memory with 8cpu on ec2 - plenty of IOPS on the drive. Let me know if there is any additional information that I might be able to provide to help solve the issue. I tried increasing the memory settings in the config, but that

[2016-05-03 10:06] e-dard commented on #6545
@ivanscattergood if these were panics can you provide the stack traces?

[2016-05-03 13:04] jsternberg commented on #6540
Maybe? That seems like one of the weird Go error messages with no context. I'm not sure exactly where it's coming from though and it might be something from within the HTTP library.

[2016-05-03 13:27] ivanscattergood commented on #6545
Hi @eddrobinson

These are the excerpts from the log file.

Where would the stack trace be recorded ?

Ivan

---- Edd Robinson wrote ----

@ivanscattergood<https://github.com/ivanscattergood> if these were panics can you provide the stack traces?

-
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub<https://github.com/influxdata/influxdb/issues/654

[2016-05-03 13:29] e-dard commented on #6545
@ivanscattergood The panic would be sent to `stderr`

[2016-05-03 13:37] ivanscattergood commented on #6545
So I need to configure the service to send stderr to another log file and wait for it to fail?

Is there a reason why you don't put errors in your log file ?

---- Edd Robinson wrote ----

@ivanscattergood<https://github.com/ivanscattergood> The panic would be sent to stderr

-
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub<https://github.com/i

[2016-05-03 13:43] e-dard commented on #6545
@ivanscattergood `influxd` doesn't put anything in a log file. By default the process logs to `stdout` and `stderr`. Panics would also appear in `stderr`.

This possibly could be an issue with how the Influxdb service on Redhat has been configured to redirect `stdout` and `stderr` to log files. Maybe @rossmcdonald  can share some insight into that.

[2016-05-03 14:24] rossmcdonald commented on #6545
By default, STDOUT is sent to `/dev/null` and STDERR is sent to `/var/log/influxdb/influxd.log` on RHEL 6 (or any system that doesn't use systemd). A panic should have been recorded in the logs, though.

@ivanscattergood Were there no other log messages before/after the crash? Would it be possible to send us the full log output from that time?

[2016-05-03 14:50] ivanscattergood commented on #6545
[influxd.log-restart20160501190102.txt](https://github.com/influxdata/influxdb/files/247089/influxd.log-restart20160501190102.txt)
[influxd.log-restart20160501190102.txt](https://github.com/influxdata/influxdb/files/247089/influxd.log-restart20160501190102.txt)

Here are the two log files.

It looks like STDOUT is sent to   /var/log/influxdb/influxd.log not STDERR.

If I update /etc/default/influx

[2016-05-03 14:56] #6495 closed

[2016-05-03 15:01] rossmcdonald commented on #6545
@ivanscattergood Are you sure? If you're using the default init script, stdout should be sent to `/dev/null`. See [this](https://github.com/influxdata/influxdb/blob/master/scripts/init.sh#L58) line for reference.

[2016-05-03 15:33] jwilder commented on #6464
Fixed via #6533

[2016-05-03 15:33] #6464 closed

[2016-05-03 15:37] mehar commented on #6531
Does anyone have an idea on why is it happening, i can share any other details if needed.

[2016-05-03 15:54] #6439 closed

[2016-05-03 16:13] jwilder commented on #6545
It's possible the OS killed the process.   If it did, your syslog should have some details as to why.

[2016-05-03 16:28] jwilder commented on #6471
This should be fixed when #6534 is merged.

[2016-05-03 16:28] #6471 closed

[2016-05-03 16:34] toddboom commented on #6545
@ivanscattergood Also, those look like pretty long times for the write to complete - sometimes over 10s. How big are the batches that you're writing?

[2016-05-03 16:40] #6511 closed

[2016-05-03 16:45] ljagiello commented on #6526
@jwilder I'm not sure why there was such a spike in network (only telegraf is sending data). I will try to catch crash next time and sniff some traffic (it happen again today).

[2016-05-03 16:55] ivanscattergood commented on #6545
OOM:

May  2 19:55:08 visual-edge kernel: Out of memory: Kill process 47006 (influxd) score 721 or sacrifice child
May  2 19:55:08 visual-edge kernel: Killed process 47006, UID 498, (influxd) total-vm:269157840kB, anon-rss:48378180kB, file-rss:2136kB

Is there anywhere else I can get more information?

Its a 64GB 8 vCPU machine

[2016-05-03 16:57] ivanscattergood commented on #6545
@toddboom Batch size is 5000

[2016-05-03 17:00] ivanscattergood commented on #6545
@rossmcdonald I'm thinking that the log file contains loads of informational messages e.g.

[http] 2016/05/01 19:00:53 127.0.0.1 - root [01/May/2016:19:00:42 +0100] POST /write?consistency=any&db=open_access&p=%5BREDACTED%5D&precision=n&rp=hour&u=root HTTP/1.1 204 0 - okhttp/2.4.0 9edc23f5-0fc6-11e6-8a1f-000000000000 11.076796542s

That's why I'm thinking its the STDOUT rather than STDERR?

I'm us

[2016-05-03 17:21] jwilder commented on #6531
@mehar @Joe29 When the heap is growing or close to maxing out, can you run the following and the files?

[code]

[2016-05-03 17:25] jwilder commented on #6513
@freeseacher When your heap starts to spike, would you be able to grab a snapshot of the heap and goroutines and attach the output here?

[code]

[2016-05-03 17:27] jwilder commented on #6243
@ljagiello Can you grab a heap and goroutine snapshot when your system heap is growing?

[code]

[2016-05-03 17:29] #5446 closed

[2016-05-03 17:54] jwilder commented on #6482
@kengan Shard duration will increase the range of time for a given shard.  By default, the max range is 7d.  Since you have very sparse data, you are likely creating lots of little shards with only a few points each per series.  Increasing the shard duration should reduce the number of shards and increase their density.

[2016-05-03 18:10] ljagiello commented on #6243
Sure I will.

[2016-05-03 20:06] xaniasd commented on #5450
@mjdesa any new insights on this one?

[2016-05-03 20:07] dsw6 opened #6549 "[0.12.2] Tag value query performance problems"
Querying tag values for a measurement is slow when there are a few hundred values.

The query below returns 140 results and takes 4.5 seconds when run from the InfluxDB Admin console.

Query:  SHOW TAG VALUES FROM "esf_events" WITH KEY = "client"

It doesn't seem like 140 tag values is a lot.  I'm using these queries to populate template variable lists in Grafana when a dashboard loads.  The long

[2016-05-03 20:26] fkruta commented on #6531
Saw the pb also on a server with 64Gb 2x4 cores 3.3G Xeon on Ubuntu 12.04
Pretty scary as I was testing with relatively small data-sets.
Let me know how to help and to test workaround.
I attach the files here by the files you requested.
[heap.txt.gz](https://github.com/influxdata/influxdb/files/247691/heap.txt.gz)
[goroutine.txt](https://github.com/influxdata/influxdb/files/247692/goroutine.txt)

[2016-05-03 20:47] jwilder commented on #6549
@dsw6 Can you attach the output of `show stats` and `show diagnostics`?

[2016-05-03 21:02] dsw6 commented on #6549
Attached:

[showDiagnostics.txt](https://github.com/influxdata/influxdb/files/247763/showDiagnostics.txt)
[showStats.txt](https://github.com/influxdata/influxdb/files/247764/showStats.txt)

[2016-05-03 21:54] Joe29 commented on #6531
Here are the files, with influx using ~24gb
Thanks
[goroutine.txt](https://github.com/influxdata/influxdb/files/247832/goroutine.txt)
[heap.txt](https://github.com/influxdata/influxdb/files/247833/heap.txt)

[2016-05-03 22:00] jwilder commented on #6531
@Joe29 It looks like you have a lot of open HTTP connections.  What is writing to your server and can you check if it's is closing connections?

[2016-05-03 22:02] jpuigsegur commented on #3407
@beckettsean it's great to be able to retrieve values and tags associated with a max or min value. Not usually easy to do with a database. However, my question is: Is it possible todo the same with the timestamp?

For example:
`

name: meteo
-----------
time			min	humidity	sensor
1462311600000000000
1462312200000000000	9	47		1

name: meteo
-----------
time			min	humidity	sensor
1462311600000000000

[2016-05-03 22:18] beckettsean commented on #3407
If there is a GROUP BY clause in the query, the returned timestamps will always be a GROUP BY interval boundary, not the actual timestamp of the point. This is the current implementation, and we hope to return the full point even with GROUP BY clauses, but it will require substantial effort and likely won't be a 1.0 feature.

See https://github.com/influxdata/influxdb/issues/5890 and https://githu

[2016-05-03 22:33] ucrkarthik commented on #6520
Jason,

Here are some of the graphite metrics we get from hadoop:

graphite.hadoop.yarn.NodeManagerMetrics.Context=yarn.Hostname=nid00035.cray.com.AllocatedContainers
graphite.hadoop.yarn.NodeManagerMetrics.Context=yarn.Hostname=nid00035.cray.com.AllocatedGB
graphite.hadoop.yarn.NodeManagerMetrics.Context=yarn.Hostname=nid00035.cray.com.AllocatedVCores
graphite.hadoop.yarn.NodeManagerMetrics.Conte

[2016-05-03 22:34] Joe29 commented on #6531
I'm using:
https://github.com/paulgoldbaum/scala-influxdb-client
which in turn looks like it's using:
https://github.com/AsyncHttpClient/async-http-client

Maybe for the most heavy write functions I'll try switching to UDP? Let me know your thoughts. A lost record here or there is fine for my use case.. I'll update this evening (PDT) as to whether or not that helped.

Thanks

[2016-05-03 23:14] RichardKorry opened #6550 "influxDB 0.12.2 uses port 8088 but doesn't have a documented way to re-configure"
I am upgrading from 0.9.5 to 0.12.2 on Centos 6.5

The Hadoop history server uses port 8088 so for 0.9.5 the bind-address was changed in /etc/influxdb.conf from 8088 to 8084.
[meta]
  dir = "/var/lib/influxdb/meta"
  hostname = "localhost"
  # Changing from 8088 to 8084 due to conflict with Hadoop History Server
  bind-address = ":8084"

In 0.12.2 I didn't see this config listed in influxdb.conf.

[2016-05-03 23:25] linroics commented on #6273
Interesting thing while I was collecting data. As we are putting more data into the system that exact same behavior is happening to non CQ data.

Does anyone have any idea how I can trouble shoot this?

[2016-05-04 02:20] aviau opened #6552 "Provide a tool to upgrade from 0.11"
Hello,

I am the maintainer for InfluxDB in Debian and I was deceived when I saw that there are no tools in 0.12 to upgrade from 0.11.

Uploading 0.12 forced some Debian users to wipe their databases.

For a distribution, it is not possible nor realistic to include older versions of packages just so that users can perform the backup.

0.12+ should be shipped with a tool that does the influxdb back

[2016-05-04 02:24] mingqing commented on #6550
I use version 0.12.0:

[code]

Now I edit my config file: "/etc/influxdb/influxdb.conf" to change

[code]

It's effective!

You edit configfile path is error? "/etc/influxdb.conf" not " /etc/influxdb/influxdb.conf"?

[2016-05-04 05:43] jbye commented on #6513
Not to hijack the issue, but I am also experiencing very high memory consumption. Influx will essentially eat all the RAM on the machine (CentOS 7.1) within ~ 1 minute after start. It also takes a long while to start -- it freezes up completely while loading the database index (some which take almost 3 minutes).

I have attached the heap and goroutine from my system.

[goroutine.txt](https://githu

[2016-05-04 07:21] Joe29 commented on #6531
@jwilder Switching to UDP did the trick. Thanks again.

[2016-05-04 09:53] e-dard commented on #6550
@RichardKorry the port can be configured in the config file, using the top-level `bind-address` field.

You can also set it with an environment variable, which would be something like:

[code]

[2016-05-04 09:53] #6550 closed

[2016-05-04 11:52] BMarvi opened #6553 "Arithmetic operations with missing data"
### Bug report

__System info:__ [0.12.1-1, linux]

__Steps to reproduce:__

1.

    insert test a=1,b=2,c=3
    insert test a=2,b=3,c=4
    insert test a=2,b=3

2.

    select a+b+c as sum from test
    time                    sum
    1462358149185277772     6
    1462358162745440464     9
    1462358165193353813

3.

    select a+b+c as sum from test fill(0)
    time                    sum
    1

[2016-05-04 12:38] medvedik commented on #5045
+1

[2016-05-04 12:41] LEW21 opened #6554 "difference() should not be handled like an aggregation function"
**Steps to reproduce:**

[code]

**Expected behavior:**

[code]

**Actual behavior:**

[code]

**Steps to reproduce:**

[code]

**Expected behavior:** Error.

**Actual behavior:**

[code]

**Use case:** We need to select a plain value of one field and a difference of another field in a single query.

[2016-05-04 13:07] medvedik commented on #5045
Here is the minimalistic version and don't forget to substitute or create "datasource": "internal" with yours.
[dashboard_internal.txt](https://github.com/influxdata/influxdb/files/248755/dashboard_internal.txt)

[2016-05-04 14:43] srsabu commented on #5359
+1

If windows builds were officially supported I have a project I'd be using it for right now.

Clustering: no
TICK wise: Kapacitor would be a nice to have but the app is already doing the tests necessary for alerting.
Use case: local historian to store within shift data before summarizing to system of record.

[2016-05-04 15:24] ljagiello commented on #6243
@jwilder I was able to catch such crash:
- https://www.dropbox.com/s/ehwab8kogusq4yb/goroutine.txt.bz2
- https://www.dropbox.com/s/p18ra5k7006u6pj/heap.txt.bz2

[2016-05-04 16:00] jwilder commented on #6243
@ljagiello It looks like you have a bunch of writes getting blocked validating field types for measurements.

* How many measurements do you have?
* How many fields for each measurement?
* How big are your batches for each write?
* How many concurrent writers do you have?

[2016-05-04 16:09] dvenza commented on #6549
To me it happens with a SHOW TAG query that returns just two results. Adding a WHERE clause that does not filter anything will not make it faster, while if I set the WHERE clause to filter and return just one result, then it returns instantaneously.

[2016-05-04 16:58] jsternberg commented on #6553
The fill directive currently only works with aggregates and is meant to fill in a window where there is no data. So the fill gets ignored with this query (which maybe we should introduce an error message when somebody tries this).

When it comes to arithmetic, instead of using a zero value for a missing value we treat any operation against a null value as equaling null. Does this help clarify what

[2016-05-04 16:59] jsternberg commented on #5750
This will be fixed by #6529 when that's merged.

[2016-05-04 19:57] lbuchy commented on #1400
+1

[2016-05-04 19:58] JarrettR commented on #1400
+1

[2016-05-04 20:49] PatrickWalker commented on #6469
Believe this has been resolved by
https://github.com/influxdata/influxdb/commit/ced79acac5ed533f88decbc14a0f428fc0caf298
The removal of the Err from the interface means the nil check happens and follows through as expected to give a 404. That's the current behaviour on master for me

[2016-05-04 20:52] ljagiello commented on #6243
[code]

[code]
where few are a pretty big:
[code]

- telegraf - default for 0.12
- services - 1000

![graph1](http://i.imgur.com/3Qa1Eih.png)

[2016-05-04 22:17] ljagiello commented on #6243
Ok after some changes in telegraf I was able to reduce fields
[code]
so it's x18 times less fields.

[2016-05-04 22:45] RichardKorry commented on #6550
Thanks all for the suggestions.
For 0.9.5 the line setting bind-address was under [meta].
I ran `influxd config | less` and saw bind-address was before [meta].
For 0.12.2 I moved it outside of [meta] and it worked.

[2016-05-04 22:52] jwilder commented on #6243
@ljagiello Let me know if that has any effect on your heap.  The code from the profile you grabbed could be tuned to reduce locking in that spot as well.

Also, am I reading this correctly that you have two measurements with 30k & 50k fields each?

[code]

[2016-05-04 22:59] jwilder opened #6557 "Overwriting points on large series can cause memory spikes during compactions"
While investigating a query case that could OOM the server (see #6556), it was discovered that compactions likely have the same problem.

If there are a lot of points on disk for the same series spread across many blocks in TSM files and a point is overwritten near the beginning of the shard's time range, the full series could be loaded into RAM triggering OOMs and huge allocations.

The compactio

[2016-05-04 23:32] cnelissen commented on #3976
Any update on this?

There is a different use case here from DERIVATIVE... A RATE function would take the raw value in a given bucket and divide it by the time that the bucket contains to give you a rate, which has nothing to do with previous values, which is what DERIVATIVE is evaluating.

Hopefully this will demonstrate the difference:

Using DERIVATIVE:
[code]

Using RATE:
[code]

Basically, we

[2016-05-04 23:56] cnelissen commented on #3976
For more background on the use case for the data, many systems have ephemeral counters that get cleared every time you query them, which is what this data would represent - the number of times a certain event has happened since the last time the counter was checked, which we then want to translate into a per second rate.

[2016-05-05 00:12] beckettsean commented on #3976
@cnelissen you could solve that problem for each specific query with the division operator:

`SELECT value / 60 AS rate_per_sec FROM foo GROUP BY time(1m)`
`SELECT value / 300 AS rate_per_sec FROM foo GROUP BY time(5m)`
`SELECT value / 5 AS rate_per_min FROM foo GROUP BY time(5m)`

[2016-05-05 01:20] geordie-dostal-qxbranch commented on #192
This page has the incorrect values for max and min long:
Smallest valid timestamp: -9023372036854775808 (approximately 1684-01-22T14:50:02Z)
Largest valid timestamp: 9023372036854775807 (approximately 2255-12-09T23:13:56Z)

Should be 92... not 90...

[2016-05-05 06:03] mehar commented on #6531
[heap.txt](https://github.com/influxdata/influxdb/files/249991/heap.txt)
[goroutine.txt](https://github.com/influxdata/influxdb/files/249994/goroutine.txt)

This is with influx using 10G of virutal memory and 5G of resident memory, here is the snip from htop
![influx_htop](https://cloud.githubusercontent.com/assets/261475/15037083/3b1b2a34-12b5-11e6-8279-3157de979e83.JPG)

[2016-05-05 06:56] ljagiello commented on #6243
So without any solr metrics today there was another crash unfortunately I wasn't around to dump heap but I will wait for another one.

My another ticket is basically duplicate of this one (https://github.com/influxdata/influxdb/issues/6526).

[2016-05-05 13:33] andybrier commented on #6557
I have the same issure

[2016-05-05 14:06] #6282 closed

[2016-05-05 14:30] rfletcher commented on #6520
We have a similar need for more flexible Graphite templates. I don't want to hijack the thread and leave @ucrkarthik without an answer, so if I should open a new issue instead please say so.

In our case dots aren't the problem, but we'd like to extract fields/tags from within one part of the Graphite path. As one example, collectd is sending system metrics (via carbon-relay-ng) like this:

[code]

[2016-05-05 14:50] xor-gate commented on #6461
This is related to the article from debian itself: https://wiki.debian.org/Teams/Apt/Sha1Removal

[2016-05-05 14:55] jwilder commented on #6531
@mehar What kind of storage are you using?  SSD? Spinning disk?  It looks like a lot of HTTP connections are open with many blocking on some calls writing and fsyncing the `WAL`.  You might want to monitor you disks and see if they are saturated.

[2016-05-05 15:53] jwilder opened #6559 "HTTP Connection Limits"
### Feature Request

The HTTP input currently allows an unbounded number of connections and relies on the client to be well-behaved.  This can cause problems in the case where the client is not well-behaved or the system is overloaded and slow to process connections.

For example, a client that does not close connections correctly can cause the server to hold onto buffers for the connection for lo

[2016-05-05 16:28] beckettsean commented on #192
@geordie-dostal-qxbranch can you [open an issue](https://github.com/influxdata/docs.influxdata.com/issues/new) on the Docs repo, please?

[2016-05-05 17:30] BrannonKing commented on #6070
On the latest Windows builds I get this after every command in the the influx.exe terminal: "There was an error writing history file: open : The system cannot find the file specified."

[2016-05-05 17:52] mjdesa commented on #5095
@pauldix

[2016-05-05 17:52] mjdesa commented on #5450
@pauldix

[2016-05-05 18:19] unlikelyzero commented on #3799
Ran into this again in 12.1

[2016-05-05 19:25] beckettsean commented on #3799
@unlikelyzero this is a very old issue about a version that is out of date. Please open a new issue if you feel there are improvements needed to the Ubuntu package.

[2016-05-05 19:43] jsternberg opened #6563 "Support Ctrl+C to cancel a running query in the Influx CLI"
The Influx CLI does not allow you to use Ctrl+C to cancel a running query. We should catch the signal and close the connection on the client side.

This may require a change to the Go client API.

[2016-05-05 20:42] jsternberg commented on #4532
Should we also modify this to support `!=` and `!~`? It looks like the current code doesn't support any operator except `=`.

[2016-05-05 21:27] beckettsean commented on #4532
@jsternberg I would say yes, this should support the full equals, not-equals, matches, and not-matches operators, just like the `WHERE` clause. That's what most users would expect.

Is there a tradeoff, other than more complex code, for supporting all of them? Does it impact the query speed?

[2016-05-05 21:57] jsternberg commented on #4532
It shouldn't affect the query speed although there's another ticket for improving `SHOW TAG VALUES` performance. The actual code that executes the query already executes the expression. This would be completely about how we parse the syntax. Should we allow this?

[code]

I would lean towards no personally.

[2016-05-05 23:08] gunnaraasen commented on #4532
I agree support for `OR` or `AND` doesn't really make sense in this context. A single binary expression should be sufficient for most cases.

Filtering tag values with a `WHERE` clause could be useful, e.g.

[code]

Although I imagine that may be significantly harder to implement and similar results could be obtained by running a `SELECT value FROM /.*/ WHERE customer = 'bob' GROUP BY region limit

[2016-05-05 23:09] beckettsean commented on #4532
@jsternberg any limitations will end up frustrating someone, but since the workaround for that is to just run two queries and consolidate the results I can live with `OR` being illegal in the `WITH` clause. In fact, that could be stated as regex: `SHOW TAG VALUES WITH KEY =~ /['region','host]/`.

I would be okay with `SHOW TAG VALUES` only allowing a single operator, and then using regex most prob

[2016-05-06 03:51] jchauncey commented on #6540
I am seeing this exact error message using Influx `0.12.2`

[2016-05-06 04:15] jchauncey commented on #6540
THis problem does not show up in the nightly build but is present in all the `0.12.x` releases

[2016-05-06 05:12] sparrc commented on #6540
@jchauncey the tip of the client library is not compatible with older releases, you'll have to use the 0.12.x tag of the client library for 0.12.x influxdb

[2016-05-06 05:16] sparrc commented on #6540
@jsternberg will influxdb 0.13 still support the GET requests? it might not be worth changing it until later, when more users have migrated to 0.13 or 1.0+

[2016-05-06 05:21] #3912 closed

[2016-05-06 05:22] jwilder commented on #4218
Closing since this code no longer exists sinc `0.12`.

[2016-05-06 05:22] #4218 closed

[2016-05-06 05:42] jchauncey commented on #6540
ah that makes sense thanks

[2016-05-06 06:58] andremiller commented on #3552
I'm also looking for a way to do math between two measurements.

I've got one measurement for Volts, another for Amps. The data is being provided by two different pieces of equipment. I would like to multiply the Volts value with the Amps value (time correlated) to get a calculated Watts value.

[2016-05-06 08:28] mehar commented on #6531
@jwilder , We don't have an SSD, let me know if the below stats could be of any use
root@FD-DEV-235:~# hdparm -Tt /dev/mapper/sda

/dev/mapper/sda:
 Timing cached reads:   9792 MB in  2.00 seconds = 4899.17 MB/sec
 Timing buffered disk reads: 118 MB in  3.04 seconds =  38.85 MB/sec
root@FD-DEV-235:~# dd if=/dev/zero of=/tmp/output bs=8k count=10k; rm -f /tmp/output
10240+0 records in
10240+0 recor

[2016-05-06 09:10] BMarvi commented on #6553
Yes thanks, this clarify.
Now I know that any aritmetic operation that involves a null value is inteded to return a null value.
But I think that there are situations where a different behavior would be more useful.
Not always easy to implement, I admit.
In my case, in a null value in a sum, would be reasonable to treat it as a zero.
My real application consist of a bunch of conditioning machines t

[2016-05-06 13:44] ruttosan86 opened #6568 "Continuous query odd performance issue"
Hi all,
we are evaluating InfluxDb for an internal project, and we came across some odd behavior when evaluating continuous query performance. Here is our setup:

**Server specs:**
CPU: i7 4770 4 core (8 thread)
RAM: 32 GB
Drives:
sda <- SSD Samsung EVO 850 250GB (OS + swap + influxdb data directory + influxdb meta directory)
sdb <- SSD Samsung EVO 850 250GB (influxdb WAL directory)
OS: Centos 7 x

[2016-05-06 14:21] jwilder commented on #6531
@mehar Can you run `iostat -xd 1 30` and capture the output when your heap is growing?

[2016-05-06 14:25] jsternberg commented on #6540
@sparrc InfluxDB 0.13 still supports GET requests, but includes a deprecated message that follows along with it. So I changed the Influx CLI to use POST requests to avoid that deprecated message.

Maybe we can have the client library support both and use a flag to determine if it uses GET or POST?

[2016-05-06 14:36] juhakuu commented on #5266
+1

[2016-05-06 14:39] pdecat commented on #3374
@toddboom: this issue is still current, at least on debian wheezy.
Indeed, when starting the service via SSH, the HUP signal is sent to the influxdb process upon disconnection.

@Tiendil's fix is still ok:

[code]

[2016-05-06 16:09] vitcozzolino commented on #6070
Same error on CubieTruck:

[code]

[2016-05-06 16:20] rossmcdonald opened #6569 "New Nightly Build URL"
This is a PSA that we are going to be changing the nightly URL from the existing:
[code]
To:
[code]
All nightly builds will also be removed from the `influxdb` bucket after today to avoid confusion. Let me know if anyone has any questions or concerns!

[2016-05-06 16:38] mehar commented on #6531
@jwilder Thanks for following up, please find the iostat output below

root@FD-DEV-235:/# iostat -xd 1 30
Linux 3.19.0-25-generic (FD-DEV-235)    Friday 06 May 2016      _x86_64_        (4 CPU)

Device:         rrqm/s   wrqm/s     r/s     w/s    rkB/s    wkB/s avgrq-sz avgqu-sz   await r_await w_await  svctm  %util
sda              12.69   105.89    4.77   82.98    89.52   915.56    22.91     2.92

[2016-05-06 16:40] mehar commented on #6531
iostat out is not readable in the previous comment, attached file with the same
[influx_iostat.txt](https://github.com/influxdata/influxdb/files/252674/influx_iostat.txt)

[2016-05-06 17:16] jwilder commented on #6531
@mehar It looks lie your disks can't keep up with the workload as can be seen from some of these samples:

[code]

`% util` is close to 100%.  Your writes are taking ~27ms and there are about 3 requests queued up (in this sample).  It looks like your hard drive is maxing out somewhere between 100-130 IOPS which is causing the WAL fsyncs to block and writes to pile up.  That's a good sign that your

[2016-05-06 17:16] #6531 closed

[2016-05-06 17:28] toddboom commented on #6531
@mehar We did some internal tests with an 8-disk RAID5 array on 15kRPM disks and were seeing ~1800 IOPS, which gives decent performance. for a setup receiving a high-volume of writes, I'd recommend a minimum of about 1000 IOPS.

[2016-05-06 19:45] klyngbaek commented on #5750
+1

[2016-05-06 21:54] paulstuart opened #6570 "uint64 values are converted to string"
__System info:__ 0.12.2, 0.13-RC1, CentOS 6.7
__Steps to reproduce:__

1. Write a value that is of  type uint64

__Expected behavior:__ The value should be numeric

__Actual behavior:__ The value is a string

__Additional info:__ SNMP counters are (supposed to be) unsigned integers. I'm guessing the engine is treating all integers as int64. Not sure how to handle numbers greater than 2^62.

[2016-05-06 23:16] deepujain opened #6572 "Continuous Queries does not run : influxdb-0.11.0-1"
Query:
[code]

I want to run this query every 1m but it never runs.

when i run `select * from bualerts` , i do not see any results.

When i manually run the query contained within continuous query, it runs.

InfluxDB: influxdb-0.11.0-1

[2016-05-07 00:16] deepujain commented on #6572
I still could not get the CQ to run every 1m (automatically)

Continuous queries does not give true caching experience. The cache is limited to the duration for which the target measurement holds the data. Any query beyond that would simply return nothing even though data has been collected. Also running continuous query with group by(1y) every hour might take minutes to complete.

Should there no

[2016-05-07 02:28] mehar commented on #6531
@jwilder  @toddboom Thanks for all the information

Now i refactored the code to use a connection pool to connect to influx (20 concurrent connections only), still i see the Virtual Memory growing though not that rapidly (Virtual memory grown to around 2.5G in an hours time while all the connections are continuously writing), Is this expected?

[2016-05-07 02:49] dennisjac commented on #6191
This sound rather inefficient. Since CQs run at regular intervals wouldn't it be much more effective to maintain an ordered list of when each CQ is supposed to run and then simply sleep until the next Query needs to run?

[2016-05-07 03:07] dennisjac opened #6573 ""wrong" time used for inserting result of continuous queries"
I noticed that when a CQ is run with a group by time of 10m and that query runs at 4:20 o'clock then the resulting aggregated value is inserted with a time of 4:10 and not 4:20 as I would expect.
Given that we are talking about aggregated values over a 10m interval I guess neither solution is really correct but using the time of when the CQ was run has the advantage that the calculated values are

[2016-05-07 08:23] MikeSchroll commented on #6087
@hgfischer You may be experiencing this bug: #6457 Fix coming in 0.13

As @sharang - I too am curious if there are any strategies to change tags to fields when doing a continuous query.

[2016-05-07 08:50] MikeSchroll commented on #3838
Just to add to the discussion.. somewhere around this issue: https://github.com/influxdata/influxdb/issues/5679
it appears as though:
select sum(total) as TOTAL
changed from the column being named 'sum' to the column honoring AS and calling the column 'total'

(I experienced this behavior upgrading recently from 0.10 to 0.12 - but looks like it changed in 0.11)

This change may enable you to solve

[2016-05-07 12:22] dennisjac opened #6575 "Panic when running influx_inspect info"
I get a panic when running influx_inspect info included in the influxdb-0.12.2-1.x86_64 rpm:

[code]

[2016-05-07 12:39] dennisjac opened #6576 "influx_inspect does not handle command line argument correctly"
influx_inspect seems to handle the command line arguments in a rather casual fashion:

[code]

Notice that I specified "/var/lib/influxdb" instead of "-dir=/var/lib/influxdb" and influx_inspect not only didn't exit with an error message or code but apparently simply proceeded to silently use the default of $HOME/.influxdb which is very deceptive.

The command line parser for influx_inspect (and al

[2016-05-07 12:58] ljagiello commented on #6243
https://www.dropbox.com/s/67ao48g1dfbjo9j/heap-graph-s5-2016-05-07-06-15.txt.bz2?dl=0
https://www.dropbox.com/s/xsh8l3l8pglrm3k/heap-graph-s5-2016-05-07-06-10.txt.bz2?dl=0
https://www.dropbox.com/s/tkw5bm7kg7e25pm/heap-graph-s5-2016-05-07-06-05.txt.bz2?dl=0
https://www.dropbox.com/s/1s85ec84hcv8imv/goroutine-graph-s5-2016-05-07-06-15.txt.bz2?dl=0
https://www.dropbox.com/s/jjhjk92fl10pglq/goroutine

[2016-05-07 16:46] ljagiello opened #6578 "[0.13.0~rc1] Unable to start - config parse issue"
InfluxDB: version 0.13.0~rc1, branch 0.13, commit c6518b564fd6044652e319f33a477b28fc92f28f (official packages)
OS: Ubuntu 14.04

[code]
or just simple:
[code]

As soon there is `/etc/influxdb/influxdb.conf` config parse crash. Without that file it's possible to run `influxd config`.

I'm suspecting it might be result of https://github.com/influxdata/influxdb/commit/9c0902350802e6a353d481b1e1c28858

[2016-05-07 17:10] toddboom commented on #6569
:+1:

[2016-05-07 18:16] deepujain commented on #6572
Unable to convert below query into CQ

I want to speed up below query:
SELECT count(distinct(eId)) FROM "epdetail" WHERE "alertId" = '5'  AND "channelId" =~ /^$channelId$/  AND "siteId" =~ /^$siteId$/  AND "experimentId" =~ /^$experimentId$/ AND "businessUnit" =~ /^$businessUnit$/  AND $timeFilter GROUP BY time($interval) fill(none)

Hence am writing a CQ. (Lets keep the CQ syntax aside)

SELECT c

[2016-05-07 18:16] deepujain commented on #6572
And how do make it run automatically ?

[2016-05-08 04:23] rossmcdonald commented on #6578
@ljagiello Thanks for the report, I'm seeing the same thing.

@jsternberg Do you know why this might be happening? I'm getting the same error when running with a blank configuration as well:

[code]

Where with `0.12.2`, a blank configuration would have thrown this error:

[code]

It seems like maybe the config path is being interpreted as the configuration contents?

[2016-05-08 06:07] vincentserpoul commented on #6578
same issue for me, on the 0.13.0-rc1.
Itried adding a config file, modifiy the existing config file but it throws the same error.
Compiling with go-1.6.2.

[2016-05-08 11:15] ljagiello commented on #6578
master branch is working ok.

[2016-05-08 11:32] ljagiello commented on #6578
Ok so the problem is commit - 3c3f7be3551969124d703d9cb569c9e65009a87e

It's not in master branch but it's in 0.13. If I revert that commit from 0.13 it's working fine again.

[2016-05-08 11:44] ljagiello commented on #6578
Fixed here: https://github.com/influxdata/influxdb/pull/6579

[2016-05-08 18:34] simonmorley commented on #1570
We were having this on circle. Adding a 5 second sleep after /etc/init.d/influxdb start worked for us.

[2016-05-09 02:50] #6578 closed

[2016-05-09 10:16] wqtty commented on #248
got the same issue at 0.12 with a select * from xxx

[2016-05-09 10:54] sofixa opened #6581 "SHOW TAG VALUES WITH KEY WHERE fails if the tag name is "name""
### Bug report

InfluxDB 0.11.1 running on top of Debian Jessie(8.4)

I have a measurement, virtualmachine, which contains data like this(simplified version):
[code]

Using Grafana, i've tried to create a template variable with the datastore(a tag) of a currently selected VM(by the tag name, in another template variable).

Expected behavior:

[code]
I hoped that would give me the datastore on whic

[2016-05-09 11:40] claytondukes commented on #6373
@toddboom, I had to update another system today and noticed I left out a step `service influxdb stop` after backing up from the old version.

[2016-05-09 12:27] jsternberg commented on #3733
How about if the default is just a blank name or a missing retention policy and we rely on the database to fill in the name? We could then do a subtle name of `_default` and the underscore would indicate that the name was private. The documentation doesn't have to tell the user the name is `_default`, but just tell them to leave the retention policy blank and the database will fill it in with the

[2016-05-09 12:38] jsternberg commented on #6581
Can you try this with 0.12 or newer? This seems similar to #6034.

[2016-05-09 13:04] sofixa commented on #6581
Frankly, i am a bit scared because we have ~7.66 Million series and InfluxDB's startup takes ~40mins.
I'll try to do a cleanup of all the data and update to 0.12.

[2016-05-09 13:06] jsternberg commented on #6581
Ok. When I tried to run it against a copy of v0.11.0, it worked for me. Can you try launching a local server and giving me a reproducer? This works for me:

[code]

[2016-05-09 13:14] sofixa commented on #6581
Maybe something changed between 0.11 and 0.11.1? I'll give it a few more tries on our test server.

[2016-05-09 13:32] Hypfer opened #6583 "Odd behaviour of time series containing the ":" char in its name"
### Bug report

**System info:** Default config on Debian Jessie. Influx v0.12.2

**Steps to reproduce:**
1. Install Influx v0.12.2
2. Push data to a time series containing ":" in its name e.g. curl -i -XPOST 'http://localhost:8086/write?db=foo' --data-binary 'HALLO\ : value=0.64'
3. Stop Influx
4. Start Influx
5. Try querying this time series.

**Expected behavior:** Should work fine

**Actual be

[2016-05-09 13:34] sofixa commented on #6581
Btw, with your example, to reproduce the problem i'm encountering, add extra data with another tag value for "name", like this
[code]

And then
[code]
will show server06, altough it shouldn't.

[2016-05-09 13:37] #6569 closed

[2016-05-09 13:37] jsternberg commented on #6581
Ah, I can reproduce now. No need to try upgrading to 0.12.

[2016-05-09 13:49] sofixa commented on #6581
So this won't work in 0.12 as well? Bummer.
What's even worse is that i can't seem to use a select query in Grafana's template variables, since it uses only the value from the first column from the InfluxDB result, which is the timestamp...

[2016-05-09 14:37] e-dard commented on #6583
@Hypfer `:` is not a special character and does not need to be escaped. There are a couple of issues with using `\` as a literal character, which I think  you may be running into.

[2016-05-09 15:12] beckettsean commented on #3733
@jsternberg Imagine the use case where data is initially written to the DEFAULT policy, but then later a new DEFAULT policy is set. How would the data in `_default` be queried then? They would still need to reference `_default` explicitly. We have to remember that the DEFAULT policy will change, and the autogenerated policy just happens to be the DEFAULT when it is created. There's nothing special

[2016-05-09 16:03] jsternberg commented on #6559
@jwilder we already have maximum concurrent queries, but I can add maximum concurrent writers and concurrent connections.

Also, should the overall connection limit apply to any HTTP connection? If so, does that include the debug endpoints and the `/status` endpoint?

[2016-05-09 16:15] jsternberg commented on #6581
This will be in 0.13.

I'll leave this ticket open until we merge it back to master so we don't forget to merge it back.

[2016-05-09 16:22] sofixa commented on #6581
Cool, thanks.

[2016-05-09 16:33] jasase commented on #6583
There is a white space between `HALLO` and `:` that need to be escaped.

[2016-05-09 16:56] jsternberg commented on #4532
The PR has been modified to support all of those now. In the future, we might want to support `NOT IN`, but I don't think it's a priority right now. I also tried to model things so it would be easier to include set support in the future for normal queries.

[2016-05-09 17:34] jsternberg commented on #3733
Ok, looking at the code a bit just changing the name should be really simple. The default retention policy for a database is stored with the database itself so the change won't affect currently existing databases. As long as the person omits the retention policy name, it will choose the correct one automatically as @beckettsean has said.

The only change that needs to happen is a change to the par

[2016-05-09 17:47] beckettsean commented on #3733
Sounds great!

[2016-05-09 17:54] pauldix commented on #248
@wqtty you just did `SELECT * FROM xxx`? If you're not using chunked responses it will read all the data into memory before sending it out.

[2016-05-09 21:24] sslupsky commented on #5955
+1

[2016-05-10 02:00] wqtty commented on #248
@pauldix don't you think influxdb should be fool proof, which means to somehow avoid this?

[2016-05-10 02:02] wqtty commented on #248
@pauldix what more, after an overnight writing(<5W/s, last about 12 hours, on mechanical drive, 16G ram, 8 cores with HT), influxdb consumes 98% memory......

[2016-05-10 02:56] jsternberg commented on #2609
This seems to work. It looks like it was fixed by 81658de.

[2016-05-10 02:56] #2609 closed

[2016-05-10 09:17] nordewal commented on #1819
that would be a really useful feature. is there working going on in regards to this?

[2016-05-10 09:43] XANi opened #6588 "Slow continous queries cause DB meltdown, without any error or warning in log"
After adding a continous query to downsample my data (from 10s to 10m):

[code]

I get sudden spike of writes and influx can't keep up on continous query (with smaller subset of data query works exactly as intended):

First "step" at 10:40 is enabling writes (memory usage spike is mostly from riemann, not influx), second step at 11:00 is adding that continuous query. I've dropped query at 11:08 bu

[2016-05-10 09:47] kengan commented on #6482
@jwilder  I have change the retention policy to  SHARD DURATION 52w.  the result please see following

name    duration        shardGroupDuration      replicaN        default
default 0               8736h0m0s               1               true

The result of show shards is following

name: tickdb_52W
----------------
id      database        retention_policy        shard_group     start_time

[2016-05-10 10:58] e-dard commented on #6583
@jasase are sorry I missed that. I will look into this more today.

[2016-05-10 12:42] max3163 opened #6589 "[0.13] Delete data then can't add data anymore"
When I delete all datas from a measurement with the new DELETE command, I can't add new data on the measurement.

[code]

[2016-05-10 13:27] corylanou opened #6590 "TestServer_BackupAndRestore fails intermittently"
TestServer_BackupAndRestore is currently failing on master intermittently.  I've skipped the test and logged this issue to have it fixed.

[2016-05-10 14:02] jsternberg commented on #5808
I'm closing this due to inactivity. Please reopen if you can provide further information. Thanks.

[2016-05-10 14:02] #5808 closed

[2016-05-10 17:59] jwilder commented on #6559
@jsternberg The connection limits should be separate for write and query.  Can probably scrap the max connections limit if they are separated.

[2016-05-10 18:13] #3451 closed

[2016-05-10 20:02] jsternberg commented on #5245
I think we accidentally implemented this at some point. It seems to work for me on master and 0.13. I'm closing this. Please reopen if it still isn't working.

[2016-05-10 20:02] #5245 closed

[2016-05-10 20:58] toddiuszho commented on #3040
This actually worked in v0.10, but broke in v0.11.1. The WHERE clause on SHOW TAG VALUES still works with =~ operator, but fails with !~ operator.

[2016-05-10 21:07] jsternberg commented on #2785
I'm going to close this and rely on #6333 to track the progress for finishing this issue. Thanks.

[2016-05-10 21:07] #2785 closed

[2016-05-10 23:19] rw opened #6595 "Influxd: Compaction-related panic on HEAD-2016/04/26"
During a compaction run (with the compaction intervals in the config file set to `5s`), `influxd` panic'ed. cc @toddboom @jwilder

[code]

[2016-05-10 23:21] rw commented on #6595
Also the database is corrupted. When restarting `influxd` this happens:

[code]

[2016-05-10 23:40] keep94 opened #6596 "influx_inspect panics"
### Bug report

__System info:__ [Include InfluxDB version, operating system name, and other relevant details]

version 0.12.2, 14.04.1 Ubuntu

__Steps to reproduce:__

1. influx_inspect info

__Expected behavior:__ [What you expected to happen]

influx_inspect should print general info about my influx storage.

__Actual behavior:__ [What actually happened]

influx_inspect info panics.

__Addition

[2016-05-11 00:44] jwilder commented on #6595
@rw Which config setting was set to `5s`?   Was it `cache-snapshot-write-cold-duration` or `compact-full-write-cold-duration`?  If it was the latter and you were still writing to the shard, you will see errors like the one below.

[code]

From the logs just above that:
[code]

That looks like a full compaction ran right about the same time as a level 1 compaction did and they both tried to compact

[2016-05-11 01:08] toddboom commented on #6595
@jwilder I'll let Robert confirm, but I'm pretty sure this was after writing to the server had stopped.

[2016-05-11 01:51] jwilder commented on #6595
@toddboom Looks like it's the `_internal` DB that had the issue.  That will write every 10s unless storage is disabled.

[2016-05-11 01:53] rw commented on #6595
@jwilder I set both of those parameters actually :-) To 10s IIRC. Possible a race condition with the `_internal` writes that happen every 10s?

[2016-05-11 01:56] rw commented on #6595
@jwilder Also, no writes happened during those runs of the database.

[2016-05-11 02:00] jwilder commented on #6595
@rw You can probably move `/mnt/nvme/influxdb_data/db/data/_internal/monitor/1/` out of way and the DB should start up again.

[2016-05-11 03:52] jsternberg commented on #2759
I don't see this syntax in the parser. It appears this was possible because of the semi-colon error that has now been fixed. Since the two commands are separate, I don't think there's a reasonable way to implement this so I'm going to close this issue.

Please reopen if you feel we should still look into this.

[2016-05-11 03:52] #2759 closed

[2016-05-11 04:11] z1q1q7 commented on #5977
i can't find the log file position, could you please tell me,,

[2016-05-11 05:33] ianlutzeigen commented on #6446
Hi, I am looking at this again.

There has never been any float data written to this measureme (unless of course I screwed up) its  all done programatically

Since the last post I have changed the schema, and the version .12.2 and its still present (albeit my measurement names have changed)

Now; I have got 2 databases, 1 that has loads different measurements, and one the only has 1 measurement (t

[2016-05-11 05:39] ianlutzeigen commented on #6446
nope 10mb limit, shall I share  on google drive ?

[2016-05-11 07:56] 13h3r commented on #52
+1

[2016-05-11 08:28] jasase commented on #4155
+1

[2016-05-11 08:53] ruttosan86 commented on #6588
Hi Xani,
I think you are facing the same issue I found (in https://github.com/influxdata/influxdb/issues/6568).
I investigated a little the issue, and it seems that the disk spike is due to very high write requests that are very small in size (something like 1000 write requests with average size 12).

[2016-05-11 08:55] JavadMajidi commented on #5977
for me it was in LOG directory in Linux, there is a Influx Log text file there. @z1q1q7

[2016-05-11 10:17] XANi commented on #6588
@ruttosan86 That would check out, we have HDD on that server so that ~170 is just max it can do.

[2016-05-11 10:24] ruttosan86 commented on #6588
@XANi yes that's expected from a HDD setup, but I believe the problem is that the write load doesn't need to be like that, in fact if you write the same aggregated data that the CQ computes "from the outside" (like I did in the test I reported in #6568) you'll see a normal load on the disk, no spikes or anything...
For what I saw, it seems like that anytime the clause "INTO" is used, is possible t

[2016-05-11 11:55] jsternberg commented on #654
Closing in favor of #5939.

[2016-05-11 11:55] #654 closed

[2016-05-11 12:01] jsternberg commented on #3028
This test function no longer seems to exist. It was probably removed as part of the query engine refactor. I'm going to close this issue.

[2016-05-11 12:01] #3028 closed

[2016-05-11 12:02] dstarmanhr commented on #6456
+1 :)

[2016-05-11 12:02] jsternberg commented on #2063
I think this can be done through subscriptions and with Kapacitor. @nathanielc is this something we can close?

[2016-05-11 12:06] jsternberg commented on #3654
This should now be possible by using double quotes to surround the identifier. Please reopen if this is still a problem. Thanks.

[2016-05-11 12:06] #3654 closed

[2016-05-11 16:26] ThomasKurz commented on #6233
This evening i updated to 0.13.0~rc2, but it seems that #6464 / #6533 has not improved the situation at all.
'SHOW TAG VALUES FROM "v" WITH KEY = "p" ' on my database "testdb" which has ~ 350000 series used (with influxdb 0.10) to respond in < 2 seconds,
now it takes several minutes:
[code]

Can somebody explain why this deterioration happened?

In case it helps, here is the output of "SHOW STATS"

[2016-05-11 16:32] ryantxu opened #6599 "Funky behavior with big (error?) timestamps"
### Directions
I spent a while trying to figure out why data was not visible in the index -- eventually I figured out that I was sending invalid timestamps, but it would be nice to have errors if you send invalid data!

### Bug report

__System info:__
Amazon Linux:
build: "e094138084855d444195b252314dfee9eae34cab"	"0.12.1"
"go1.4.3"

__Steps to reproduce:__

1. Index with invalid timestamp
``
m1

[2016-05-11 16:49] larrywalker opened #6603 "CSV export - A more excel friendly csv format"
### Feature Request

CSV format is not easy to import in to Excel or other tools, because of header before each line of data.

Why does exporting to csv generate a header before each data sample?

I can see where this might make sense when you have varying columns between samples, but when you are specifying the columns in the query and all the samples have the same columns, then the headers are j

[2016-05-11 17:04] #6581 closed

[2016-05-11 19:44] genagain opened #6605 "InfluxDB backup competes without backing anything up"
Hello,

I am currently running InfluxDB version 0.12.2 on a vm running RHEL 7.2

1. I ran the `influxd backup -database sensu_db /tmp/backup/` to backup my database, which displayed to following output.
[code]

2. Then I wanted to see one of the backed up shards by running `cat /tmp/backup/sensu_db.four_weeks.00790.01`, but there was nothing in the file.

3. Then I ran `less /var/log/influxdb/infl

[2016-05-11 19:50] jwilder commented on #6605
Are the permissions on your `/var/opt/influxdb` directories set correctly?  Can `influxdb` user read and write to them?

[2016-05-11 20:00] genagain commented on #6605
Thank you for responding so quickly. Now the `influxdb` can read and write to them I just ran `chown -R influxdb:influxdb /var/opt/influxdb` and ran `influxd backup -database sensu_db /tmp/backup/` again, and it backed up the everything in the retention policy named default but not my other retention policy. Here is the output of the `influxd influxd backup -database sensu_db /tmp/backup/` command

[2016-05-11 20:10] genagain commented on #6605
Now it's working! Thanks for you help @jwilder.

[2016-05-11 20:11] #6605 closed

[2016-05-11 21:06] toddiuszho opened #6607 "SHOW TAG VALUES no longer accepting negative regex in WHERE clause"
### Bug report

__System info:__
### Issue NOT found in:
InfluxDB 0.10.0

### Issue IS found in:
InfluxDB 0.11.1
InfluxDB 0.12.2

__Steps to reproduce:__

[code]

__Expected behavior:__

Negative regex `!~` in WHERE clause should work same for SELECT and SHOW TAG VALUES. Positive regex `=~` still works. Both negative and positive used to work in 0.10.0.

__Actual behavior:__

Every SHOW TAG VALUES

[2016-05-11 23:18] jayengee commented on #1570
@simonmorley - how did you create a db using a curl command in circle ci? Having issues with this myself, and would appreciate any guidance

[2016-05-12 00:48] gunnaraasen opened #6608 "[feature request] Expose series cardinality per measurement"
### Feature Request

**Proposal:** Record the measurements with the highest cardinality in the `_internal` database.

**Current behavior:** The `_internal` database currently has a `database` measurement with a `numSeries` field, which shows the number of series in that database.

**Desired behavior:** Another measurement called `measurement` (or another suggested name) would also be recorded with

[2016-05-12 02:00] aderumier commented on #6250
Hi,
I still have slow start time, even with 0.13-rc2.

https://gist.github.com/aderumier/63921e366ac3eae5cc73965075f04370

around 1h.
I have around 115GB datas on ssd (intel s3610). cpu was aroud 400% of 16cores when starting.

[2016-05-12 03:18] kengan opened #6610 "New version influxdb get CPU full load when searching the larger data"
My question is https://github.com/influxdata/influxdb/issues/6482

Because it is too urgent, can some one help me  ,thank you very much.

[2016-05-12 08:30] malaki12003 commented on #5266
+1

[2016-05-12 09:55] kub00n opened #6611 "Queries slow down hundreds times after overwriting points"
### Bug report

__System info:__
InfluxDB 0.13, InfluxDB 0.12.2
Ubuntu 14.04.1

__Steps to reproduce:__

1. Add some measurements ( 5M points, timerange: 5000 s )
[code]

2. Run a query
3. Insert exactly the same points again (overwriting old ones)
4. Run a query

__Expected behavior:__
Both query return the same results at a similar time

__Actual behavior:__
Results are the same, but second quer

[2016-05-12 10:11] easyrasta opened #6612 "Docker build still in Go 1.4.3"
You upgrade go to 1.6.2. But you didn't update build-docker.sh and you update Dockerfile_build.
So I wonder how to build a docker image:
 - use build-docker.sh
 - or launch build.sh, (copy build/influxd or modify Dockerfile to use build/ and remove dockerignore),  then launch docker build -t influxdb .

[2016-05-12 11:05] simi commented on #1570
I was forced to use workaround with 0.12.1 also.

[code]

[2016-05-12 13:37] jerem21 opened #6614 ""Bad timestamp" error with '\n' for multiple write"
### Bug report

System info:
influx 0.12.2
centOS 7
node.js 4.4.4
python 3

Steps to reproduce:
1. Create multiple points with more than one tag and values in a node server
2. make a custom timestamp
3. try to write points by API/command line

Additional info:
I know that's have a lot of similar issue but mine already have the '\n'.
Here is an example of a data send:

[code]

This return an error

[2016-05-12 13:44] jsternberg commented on #6607
Confirming this happens in master. Also found something very strange. If you do this:

[code]

It works perfectly. So the problem seems to be that if a negative regex and it matches any tag value, it kills the whole measurement.

[2016-05-12 13:59] dgnorton commented on #2278
closing: implemented JWT token authentication in #6609

[2016-05-12 13:59] #2278 closed

[2016-05-12 14:07] madshall opened #6615 "DISTINCT does not return correct values"
### Bug report

__System info:__ 0.12.2, Linux 2.6.32-504.16.2.el6.x86_64 SMP Tue Mar 10 17:01:00 EDT 2015 x86_64 GNU/Linux

__Steps to reproduce:__

Case 1
1. Create a measurement and put some mixed string/numeric data into it
2. Assuming "activeClient" is a string field
3. SELECT DISTINCT(activeClient) FROM "test"

__Expected behavior:__ unique values for "activeClient" field are returned along

[2016-05-12 15:25] jwilder commented on #6610
Dup of #6482.

@kengan We try to reserve GitHub Issues for actionable bug reports or feature requests. Please send general questions to the [influxdb@googlegroups.com](mailto:influxdb@googlegroups.com) mailing list.

[2016-05-12 15:37] jwilder commented on #6482
@kengan  Is there a specific problem you are seeing with queries?

The database will use multiple cores if they are available.  Depending on how you are measuring CPU utilization and how many cores you have, the value can be higher than 100%.  High CPU utilization can be expected depending on background tasks running in the DB as well as the shape of your dataset.

[2016-05-12 15:46] cliveseldon commented on #3552
+1

[2016-05-12 16:23] jsternberg commented on #6615
This looks like a duplicate of #6495 which should be in 0.13. Please reopen if this is still a problem after upgrading. Thanks!

[2016-05-12 16:23] #6615 closed

[2016-05-12 16:46] bricsuc commented on #3880
+1. You can fake this feature by duplicating the tag value in a field, but that's a pretty bogus solution.

[2016-05-12 16:54] mjdesa commented on #6614
In the example you've given above, you're escaping the quotes on the string field values. Try doing the following instead:
[code]

As a side note, while InfluxDB can store strings it is not optimized to do so. AFAIK storing that many strings will eat up a lot of disk.

[2016-05-12 16:54] #6614 closed

[2016-05-12 17:10] beckettsean commented on #6545
@ivanscattergood given the syslog messages that show the OOM-killer brought the process down, we'd like to know more about why your system would be consuming all the RAM.

What is your series cardinality? Run `select sum(numSeries) from "_internal".."database" where time > now() - 10s` to give a recent count.

[2016-05-12 17:11] beckettsean commented on #6545
How many queries are running concurrently on the system? `SHOW QUERIES` or the recent `[query]` logs will give a reasonable approximation.

[2016-05-12 17:46] beckettsean commented on #4039
Not sure when it was fixed, but this is no longer an issue with InfluxDB 0.12:

[code]

[2016-05-12 17:46] #4039 closed

[2016-05-12 18:13] denis-arruda opened #6617 "Running configuration different from configuration file"
### Bug report

__System info:__
InfluxDB 0.12.2
Fedora 23
Kernel 4.2.3-300.fc23.x86_64
In Oracle VM VirtualBox

__Steps to reproduce:__

1. Install InfluxDB using file "influxdb-0.12.2-1.x86_64.rpm"
2. Change the configuration file in /etc/influxdb/influxdb.conf
3. Restart influxd service

__Expected behavior:__
When I execute the command "influxd config" the configuration shown should be same of

[2016-05-12 19:19] toddboom commented on #5217
@sebito91 We just released v0.13.0 today, and it's all on Go 1.6.2 now. Thanks for all your help!

[2016-05-12 20:05] jwilder commented on #6250
@aderumier There are no specific fixes for this issue in 0.13.  If you are able to test #6618, that would be helpful to know if it improves things.

[2016-05-12 20:13] jwilder commented on #6545
@ivanscattergood You said you changed the location of the data directory.  Are the permissions set correctly so that `influxdb` user can write to it?

Also, if you can see when your memory usage is starting to rise too high, can you grab some traces using:

[code]

[2016-05-12 20:41] beckettsean commented on #6233
@benbjohnson @jsternberg ideas why the SHOW TAG VALUES query would be so much slower with a WHERE clause now?

[2016-05-12 20:51] #6559 closed

[2016-05-12 20:58] beckettsean opened #6619 "syntax for CREATE DATABASE and USE should be congruent"
### Feature Request

**Proposal:** [Description of the feature]
Make the quoting behavior for `USE <database>` match the quoting rules for `CREATE DATABASE`

**Current behavior:** [What currently happens]

[code]

**Desired behavior:** [What you would like to happen]

`use "123"` should be valid regardless. That's valid InfluxQL for an identifier.

Ideally, `use 123` should throw an error in that

[2016-05-12 21:13] cnelissen opened #6620 "[0.13] Higher memory usage and system load after upgrade from 0.12.2"
I updated from InfluxDB 0.12.2 to 0.13 and memory usage and load have increased substantially...

![load](https://cloud.githubusercontent.com/assets/609143/15230612/6aef597e-184b-11e6-9cc9-f260402d1db0.png)

![memory](https://cloud.githubusercontent.com/assets/609143/15230615/6eea48ea-184b-11e6-881a-5e048f036367.png)

Nothing else seems out of the ordinary, no errors in logs etc. What information

[2016-05-12 21:19] jwilder commented on #6620
Can you grab a heap dump and profile?

[code]

[2016-05-12 21:34] cnelissen commented on #6620
Here you go:

[goroutine.txt](https://github.com/influxdata/influxdb/files/262278/goroutine.txt)
[heap.txt](https://github.com/influxdata/influxdb/files/262279/heap.txt)

Also I read back through some logs a little more thoroughly and noticed a bunch of lines like the following when the system starts up:

[code]

[2016-05-12 21:35] benbjohnson commented on #6233
@ThomasKurz If you can pull down a profile dump then that should tell us what's going on.

Here are the steps for retrieving the dump:

1. Download https://github.com/benbjohnson/pprofdump
2. Execute your `SHOW TAG VALUES` query
3. While the query is running, execute: `pprofdump -o dump.tar.gz http://localhost:8086`
4. Attach `dump.tar.gz` to this issue. It shouldn't be very large. Maybe 30KB.

[2016-05-12 21:50] jwilder commented on #6620
@cnelissen What is the size of `/var/lib/influxdb/data/mydb/rp-30d/9064/000000134-000000007.tsm.tombstone`?

[2016-05-12 21:52] cnelissen commented on #6620
[code]

[2016-05-12 21:59] jwilder commented on #6620
@cnelissen You can delete those 0 length tombstone files.  There was a bug fixed to prevent writing those.

[2016-05-12 22:02] jwilder commented on #6620
Are you writing to the same series frequently or overwriting points by chance?

[2016-05-12 22:06] cnelissen commented on #6620
Writes come in approximately every 60 seconds, roughly 50,000 points per interval, plus maybe ~15000 points coming from Kapacitor for aggregations, so not a very high write load. Points are not being overwritten.

[2016-05-12 23:46] cnelissen commented on #6620
I downgraded back to 0.12.2 and restarted, no other changes, and memory and CPU are back down to normal levels.

![load](https://cloud.githubusercontent.com/assets/609143/15233878/0161dfca-1861-11e6-9644-444f82c4c75b.png)

![memory](https://cloud.githubusercontent.com/assets/609143/15233881/07272636-1861-11e6-92df-1158832ec58d.png)

[2016-05-13 02:07] jsternberg commented on #6619
Part of the reason why this happens is because `use` is a client command rather than a server command, so it's not parsed by the same parser.

Unfortunately, there's no easy way to do that without including the InfluxQL parsing library inside the client and I don't think we want to do that. We can still try and pretend, but we won't be able to reuse the same code.

[2016-05-13 05:33] majj opened #6622 "field type changed during usage."
### Bug report

__System info:__

influxdb-0.12.0
CentOS 5.11

![field_type_change](https://cloud.githubusercontent.com/assets/543810/15238823/467383ee-190f-11e6-8b08-f6a6672cb580.png)

[2016-05-13 05:33] gunnaraasen commented on #6619
I think it would be nice to eventually use the InfluxQL parser in the CLI for error checking. It'll make the CLI much easier to use and allow invalid statements to be caught before they're sent to the database. Is there any reason we wouldn't want to directly reuse the InfluxQL code?

[2016-05-13 05:41] gunnaraasen commented on #6622
Field types are set at the shard level so it is possible for different field types to exist on the same field in different shards. A new shard was likely used starting at 2016-05-09T00:00:00Z. This is likely due to a bug or ambiguity in the input protocol.

Are you using line protocol or a different input method, like the Graphite input, to insert points?

[2016-05-13 07:06] majj commented on #6622
@gunnaraasen:  line protocol,  thanks!

[2016-05-13 07:36] gunnaraasen commented on #6622
The line protocol explicitly sets field value types. Integers require an `i` to be appended to the end of the number.

Do you have a sample of the line protocol points being sent to InfluxDB during that time period? Were there any changes to the client(s)?

Can you also try the same query using the `influx` CLI? Sometimes the Javascript parsing in the admin panel does funky things with numbers.

[2016-05-13 08:36] easyrasta commented on #6595
I don't know if it's related. I have also compactor issue, and influxdb won't restart:
`
[run] 2016/05/13 08:32:20 InfluxDB starting, version 0.13.0~rc2, branch master, commit 590b3f9fc76904c0035ef1e9731ad1c27903ef76
[run] 2016/05/13 08:32:20 Go version go1.6.2, GOMAXPROCS set to 24
[run] 2016/05/13 08:32:20 Using configuration at: /etc/influxdb.toml
[store] 2016/05/13 08:32:20 Using data dir: /da

[2016-05-13 10:01] nakagawa-atsushi commented on #5760
Graphite's `maximumAbove()`, if written like SQL would be more like a nested GROUP BY HAVING inside an outer WHERE clause, or a query involving two steps.

i.e.

[code]

[2016-05-13 11:12] ThomasKurz commented on #6233
here is the profile dump:
[dump.tar.gz](https://github.com/influxdata/influxdb/files/263072/dump.tar.gz)

[2016-05-13 11:17] aderumier commented on #6250
@jwilder I would like to help, but I have no idea how to build influxdb from source.Do you have a build somewhere ?

[2016-05-13 12:21] jsternberg commented on #6619
The main reason would be because we don't want the server to interpret those commands. It could be argued we don't want it to even acknowledge those commands exist, but we could allow it to parse client commands and the server would just ignore them.

The other reason at the moment is that the ast, parser, scanner, and query engine are all in the influxql package and that's a lot to pull in for ju

[2016-05-13 13:34] denis-arruda commented on #6617
I installed InfluxDB version 0.13.0 in the same environment and now the configuration is working!

[2016-05-13 14:15] jsternberg commented on #6619
Also, a reason to not use the influxql library to parse the query would be because then when we add new syntax, an older client won't be able to parse the new query and send it to a newer server.

We might be able to reuse the scanner though and make a specific client parser.

[2016-05-13 14:37] jsternberg commented on #6622
I would actually bet this has nothing to do with the server and everything to do with JSON's inability to tell the difference between a float and an integer.

[2016-05-13 15:49] beckettsean commented on #6619
Why can't we just alter the CLI to make both `use "123"` and `use 123` valid commands? Why does it need to reject the first one as invalid? If someone actually has a database named `"123"` then they would have to run `use "\"123\""`. That would be congruent with the InfluxQL parser:

[code]

[2016-05-13 17:04] beckettsean commented on #6619
Not a huge deal, but this is the kind of inconsistency that will perpetually confuse users, I think.

As for adding the InfluxQL parser to the `influx` binary, I don't think size is a meaningful concern:

[code]

We ship a 13MB binary that will be used at most twice by users, and will be irrelevant to anyone who isn't upgrading from an 0.9 instance. We ship another 17MB of binaries that will rarel

[2016-05-13 17:12] gunnaraasen commented on #6619
I don't see the problem with using the `influxql` package in the CLI. There wouldn't (and shouldn't) be any CLI stuff added to `influxql` itself. For instance the `USE "db"` command could use `influxql`'s `Scan()` to check if there is a valid `IDENT` token.

Separating out the ast, parser, scanner, and query engine into a separate package would be nice but, as @beckettsean mentioned, I don't think

[2016-05-13 17:14] jsternberg commented on #6619
I think the bigger problem I have is with the versioning issues. We could try parsing the command and pass any commands that can't be parsed to the server rather than relying on the client, but this seems a bit ugly to me.

It might be what we have to do though.

[2016-05-13 17:20] benbjohnson commented on #6233
@ThomasKurz Thanks! That helps a lot.

It looks like most of the time is spent in row deduplication:
https://rawgit.com/benbjohnson/440e2e1df71f773fd7291897a1c6eee1/raw/78b04b18c4714e046d46c63f9b3bb2fc6963274e/pprof.svg

We recently added `influxql.floatFastDedupeIterator` for `SHOW SERIES` and we should be able to reuse it for `SHOW TAG VALUES` with a little tweaking.

[2016-05-13 17:46] beckettsean commented on #6619
I think it's more an accident than an intentional design that the CLI doesn't need to match versions with the server it queries. I don't know if it's a "feature" worth prioritizing over other issues.

What's the downside? If someone has different versions in different places, they would need to maintain two separate `influx` binaries on the machines that query both.

[2016-05-13 17:48] jsternberg commented on #6619
It's possible we could go that route. Postgres requires the CLI binary to match to my knowledge, but I always figured that was because of binary compatibility.

I did think it was a decent advantage that our CLI was so simple we didn't need to do that and I think that could be considered advantageous.

[2016-05-13 18:23] jsternberg commented on #5655
It seems like the current version of our TOML parser doesn't support nested tables so I can't currently make it so you can specify all of the options for setting a retention policy. I also don't want to only allow the graphite endpoint to only use the default retention policy.

Is it ok if the config option is this:

[code]

Then it will use that retention policy. You can then either create the da

[2016-05-13 18:43] mark-rushakoff opened #6624 "Content-Encoding: gzip sent in 204 responses, breaks some clients"
[code]

I'm using a client library that crashes when it sees `Content-Encoding: gzip` and tries to read the 0-length body (and I am going to file a separate issue on that client library). I can work around this by sending my writes with `Accept-Encoding: identity`.

I tried to see whether `Content-Encoding: gzip` on a 204 response was standards-compliant, but I wasn't able to find a clear answer o

[2016-05-13 19:40] PKapsis commented on #5359
+1

Version: recent
Clustering: yes but no priority
Other TICK: no priority
Potential use case: SCADA Platform

[2016-05-13 20:02] pauldix commented on #6619
Yeah, they should have matching versions of CLI and DB. At least, matching major versions once we get to 1.0. Also +1 on bringing InfluxQL into the CLI. I think there's more win there than downside.

[2016-05-13 21:05] jwilder commented on #6250
@aderumier #6618 should be in tonights nightly.  If you could test it out, that would be great.

[2016-05-13 21:30] jwilder commented on #6513
#6618 should help start up time some.

@freeseacher Are you able to grab a heap and profile using the commands above when you heap starts to spike?

[2016-05-13 23:44] sysadmin1139 commented on #5655
My assumption was that I would pre-create the database and retention policies, and then set up the additional endpoints. Influx is not exactly a mayfly service, so persistence is something we can count on. The option you suggest works for me.

[2016-05-13 23:51] jwilder commented on #6612
There are official images on Docker hub now: https://hub.docker.com/_/influxdb/

[2016-05-14 07:41] easyrasta commented on #6612
Ok thanks

[2016-05-14 07:41] #6612 closed

[2016-05-14 12:44] bertpig commented on #3880
+1

[2016-05-14 13:43] opusmagnum commented on #6603
You can use _awk_ one-liner as a filter for csv output, as recommended by @mark-rushakoff  in https://github.com/influxdata/influxdb/issues/6415.

[2016-05-14 13:47] corylanou commented on #6603
I'm not opposed to suppressing headers if they don't change.  This might need to be an option as it could have undesired side affects with different data sets.

[2016-05-14 18:44] dpratt opened #6629 "query-log-enabled in config is ignored"
### Bug report

__System info:__ 0.13.0, running in a docker container

__Steps to reproduce:__

1. add query-log-enabled = false to the config file
2. start the server

__Expected behavior:__ No query logging

__Actual behavior:__ All queries are output to stderr

[2016-05-14 18:46] dpratt commented on #6629
I've verified that the config file is actually being read by running 'influxd config'.

In previous versions of influxdb, this setting eliminated query logging - in 0.13.0, every query is output no matter what the value of the setting is. This causes quite a bit of undesired log spam for us. Sadly, I can't just redirect stderr to /dev/null, since I would like to pick up any errors or other meaning

[2016-05-14 21:20] freeseacher commented on #6629
i have the same. very annoying bug

[2016-05-15 01:28] thinkhy commented on #3944
This issue saved my day. Thanks @k0ste and @hkrizek

[2016-05-15 04:57] thetcc opened #6630 "high memory usage and Ultra-long response in 0.12.2"
I just used influxdb(0.12.2) collect monitoring data from telegraf using in a production environment. A very small amount of data. But it uses the 10G of physical memory. And the CPU is also a little high. When I stopped influxdb, I found some logs:

[run] 2016/05/15 11:57:46 Signal received, initializing clean shutdown...
[run] 2016/05/15 11:57:46 Waiting for clean shutdown...
[cluster] 2016/05/1

[2016-05-15 09:31] viru commented on #6528
What if someone wants to fetch all the records using CLI? Adding default limit might be misleading. Should there be some information when default limit triggers and option to bypass default limiting?

[2016-05-15 13:22] simonmorley commented on #1570
Running tests against Influx is proving impossible for us.

Despite getting things running finally, 90% of the rspec tests we run fail. We've tried adding a sleep after inserting seed data. Sometimes it works, most of the time it doesn't.

It's taken me a day to get a build that usually passes in 10 mins out the door.

If anyone has any joy with this, or recommendations, please let me know.

[2016-05-15 18:53] dokie commented on #1570
Our `circle.yml` is as follows:
[code]
We then run our `espec` tests via another shell script
[code]
which has the following form
[code]

Our `espec` tests then each have responsibility for seeding or removing data from InfluxDb as required using HTTP such as before all tests:
[code]

and before some specific tests
[code]
or in some cases
[code]

basically whatever setup the test requires. This ha

[2016-05-15 22:59] kepi commented on #3552
:+1:

[2016-05-16 03:44] ianlutzeigen opened #6632 "0.12.2 duplicated results for a measurement, possible query or storage issue"
### Bug report
Hi All, as requested here a bug report: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/influxdb/t-Cq2TYngJA/2T0ljku6BQAJ

And with the info repeated:
 There are no tags associated with this measurement, so any re-writes should overwrite the existing point.

I am using tags on a meta data table (measurement) which is unrelated to this measurement.

[code]

S

[2016-05-16 04:00] jsternberg commented on #6632
If you take a backup, be sure to include any directories under `~/.influxdb` such as the meta directory as they may be useful for loading the data.

[2016-05-16 05:49] ianlutzeigen commented on #6632
yep thats the one I have :)

[2016-05-16 07:16] mlosev commented on #6620
+1
We're having the same issues, especially with simple SELECT queries

For example this simple query
[code]

increases memory usage for influxdb server from 2Gb up to 13Gb

this influxdb server was built manually with go1.4.3 version
[code]

but when I use stock influxd from official deb package - I have the same problems
The same queries start using a lot of memory, sometimes leading to OOMs

[2016-05-16 09:27] kengan commented on #6610
@jwilder  I have send a e-mail to you,please receive it, thank you.

[2016-05-16 11:09] ivanscattergood commented on #6545
The samples are being written once per minute, so Ive requested the number of series in the last minute.

name: database
--------------
time                    sum
1463396596307206530     30119330

This seems a lot higher than I was expecting...

[2016-05-16 11:14] e-dard commented on #6630
@thetcc thanks for the report. Does this happen on subsequent start/stop cycles? Have you tried upgrading to `0.13`?

This could possibly be a lock issue which was only freed up when you shutdown.

[2016-05-16 11:18] ivanscattergood commented on #6545
@jwilder Do I need to configure something to allow me to get the Debug trace?

If I use:
 curl -o heap.txt http://localhost:8086/debug/pprof/heap?debug=1

in heap.txt I get

<div id="content">
<p>The following error was encountered while trying to retrieve the URL: <a href="http://localhost:8086/debug/pprof/heap?">http://localhost:8086/debug/pprof/heap?</a></p>

<blockquote id="error">
<p><b>Conne

[2016-05-16 11:20] ivanscattergood commented on #6545
@jwilder influxdb has write permissions to the directory:

 ls -ltra /ext_data/
total 20
drwxr-xr-x.  3 influxdb influxdb 4096 Feb 22 18:10 influxdb
drwxr-xr-x.  4 root     root     4096 Mar  5 07:08 2016-03-05
dr-xr-xr-x. 26 root     root     4096 Apr  9 12:43 ..
drwxrwxrwx.  5 cjc_eng  vedge    4096 May  4 08:14 .
drwxr-xr-x. 15 visedge  vedge    4096 May 16 12:12 logs

[2016-05-16 11:34] ivanscattergood commented on #6545
@beckettsean

At the moment there are not a high number of queries being run against the database (34 in the last 3 hours). When the original crash happened, there were no queries running.

Our client library times out if the query takes more than 2 minutes.  When I upgraded to version 12.2 I took the opportunity to change it so the database will kill queries that take longer than 2 minutes as wel

[2016-05-16 12:50] #6629 closed

[2016-05-16 13:22] #6607 closed

[2016-05-16 15:02] francisdb opened #6635 "Slow writes / memory peaks / crashes caused by large amounts of shards creation"
We are having a lot of problems with our influx instance and while debugging we saw this:

(disk io charts are totals)
<img width="1635" alt="influx-issues" src="https://cloud.githubusercontent.com/assets/161305/15293099/9c022094-1b86-11e6-89cd-c4c5817fea1a.png">

machine:
AWS m3.xlarge (seen same on c3.xlarge)

Influx `0.12.2` (on 0.13.0 we even have more problems)
Seen issues on both Ubuntu 14.0

[2016-05-16 15:12] jwilder commented on #6635
Can you describe what you are seeing?  What writes or data are outside of those dirs?

[2016-05-16 15:24] ZhukovAlexey opened #6636 "[0.13] batch write with HP-UX curl 400 Bad Request"
InfluxDB System info: RedHat 7, InfluxDB 0.13

I'm trying to execute the command below on HP-UX 11.31

[code]

HTTP/1.1 400 Bad Request
Content-Type: application/json
Request-Id: e828f849-1b75-11e6-bf42-000000000000
X-Influxdb-Version: 0.13.0
Date: Mon, 16 May 2016 14:53:10 GMT
Content-Length: 143

{"error":"unable to parse 'GC_LOG3,jvm=GBA old_after_mb=2402.12 1463404947\\nGC_LOG3,jvm=GBA old_aft

[2016-05-16 15:29] francisdb commented on #6635
I have no idea what is written (tmp files?), this machine only has ubuntu, influx and telegraf (stores to other influx host), no swap file

EBS mounted on / (slow)
SSD1 mounted on /var/lib/influxdb/data/
SSD2 mounted on /var/lib/influxdb/wal/

As you can see during retention policy actions we have a lot of writes on our slow disk.

In the big picture we are trying to find out why these writes are

[2016-05-16 15:43] minkikim89 opened #6638 "Doesn't Influxdb support collectd's types.db data source type?"
I am running collectd + influxdb + grafana.
And I read that Influxdb supports collectd.
I defined types.db with type instance and data source type(ex: DERIVE).
But influxdb stored stats just original value, not calculated value.

I know that influxdb has derivate query, but I don't want that logic because of performance.

Doesn't Influxdb support collectd's types.db data source type? Have I to use

[2016-05-16 15:43] jsternberg commented on #5779
I'm closing this since gzip is already supported. Be sure to include `Accept-Encoding: gzip` in your request to use this feature.

[2016-05-16 15:43] #5779 closed

[2016-05-16 15:44] jwilder commented on #6635
@francisdb Are you swapping? You could try running `iotop` and see if you can identify a process writing during those times.

Also, when you're writes are slow, can you grab some profiles with:
[code]

[2016-05-16 15:46] jsternberg commented on #5731
Hello @dengliu,

We generally try to keep the issue tracker related to specific features or bugs with InfluxDB. Usability questions should be directed to the [mailing list](https://groups.google.com/forum/#!forum/influxdb).

Thank you.

[2016-05-16 15:46] #5731 closed

[2016-05-16 15:51] francisdb commented on #6635
we have no swap file, let me have a go at getting those profiles

[2016-05-16 16:30] #6519 closed

[2016-05-16 17:03] francisdb commented on #6635
Is there a way to get more internal logging?
As for iotop there is io load mainly by `influxd` and also some `jbd2`
We set up a script to start dumps when used mem > 95%, results attached

[20160516-16:30:46:910736791-goroutine.txt](https://github.com/influxdata/influxdb/files/266553/20160516-16.30.46.910736791-goroutine.txt)
[20160516-16:30:46:910736791-heap.txt](https://github.com/influxdata/inf

[2016-05-16 18:13] pizuricv commented on #6635
Screenshot from AWS of this instance, you can see a high correlation between disk reads (orange) and CPU utilization, that goes up to 100% on 4CPU machine!
![image](https://cloud.githubusercontent.com/assets/1268521/15298963/83fcf6b0-1ba2-11e6-8483-3f68cd3a67aa.png)

[2016-05-16 18:21] deepujain commented on #6572
Any suggestions on how to make below CQ to run every hour ?

SELECT count(distinct(eId)) as units INTO channelIdAlerts FROM ep."default".epdetail WHERE time > now() - 120d GROUP BY time(1d), channelId fill(none)

[2016-05-16 18:30] simonmorley commented on #1570
My tests aren't dissimilar to yours.

Today the tests failed 10 times in succession and by accident I hit the rebuild without cache button..

Tests passed first time.

Will investigate further later and report back.

[2016-05-16 18:37] pizuricv commented on #6635
Here is the log where you can see inserts happening in more than 2 minutes:

[tsm1] 2016/05/16 18:33:50 /var/lib/influxdb/data/server/default/83512 database index loaded in 1.061µs
[http] 2016/05/16 18:33:50 172.31.17.25 - dashboard [16/May/2016:18:31:40 +0000] POST /write?db=server&precision=ms HTTP/1.1 204 0 - AHC/1.0 6eb824f9-1b94-11e6-9855-000000000000 2m10.085028966s
[tsm1wal] 2016/05/16 18:3

[2016-05-16 18:58] beckettsean commented on #6545
@ivanscattergood regarding the series cardinality query, there's a reason I had a 10 second interval in mine and not a larger one. By default the `_internal` database is updated every 10 seconds, and the `numSeries` value stored is the current total, not the delta from a previous total. Your query summing over the previous minute is likely returning a value 6 times higher than the actual, because

[2016-05-16 19:07] beckettsean commented on #6545
Thanks for the updates on the queries. The frequency of queries doesn't sound like an issue, but perhaps the individual queries are RAM intensive. Can you share a representative query or two? What are the time ranges they cover? 5m? 1d? 1w? How manny points should they be sampling? A few thousand? A few hundred thousand? A few million?

A 2 minute timeout is a great step, to be sure, but it's very

[2016-05-16 19:17] jwilder commented on #6635
The profiles show many writes blocking trying to create shard groups which is strange.  Looking at the code, there is some optimization that could be done there, but the heap dumps show quite a lot of memory in use for shard groups.

 How many shards do you have and how are they configured?  Did you change `shard duration` or any other settings from the defaults?

[2016-05-16 19:20] jwilder commented on #6545
@ivanscattergood  You may need to surround the curl URL with quotes:

[code]

[2016-05-16 19:32] francisdb commented on #6635
Nope, have always used default config settings
1119 folders in `/data`
1016 of those folders are empty (all higher numbers)

[2016-05-16 19:34] jwilder commented on #6635
@francisdb Can you provide the output of `show shards`?

[2016-05-16 19:40] francisdb commented on #6635
[code]

[2016-05-16 19:44] francisdb commented on #6635
This is a fresh machine from this morning where I imported `mydatabase `

[2016-05-16 21:01] daviesalex commented on #6250
From our perspective, this is fixed with a huge +1. Here is a real world change - from nearly 40 minutes to under 2 minutes:

Version 0.12.2-1:
[code]

Latest nightly:
[code]

We have just over 1.5T of metrics on a setup that is highly IO performing. Startup time drove us nuts.

Amazing work!!

[2016-05-16 21:05] jsternberg commented on #6617
Support was added for this in #6444. If you want to use another configuration location or need to have this work in 0.12, use `influxd config -config /etc/influxdb/influxdb.conf`.

I'm glad it's working now for you!

[2016-05-16 21:05] #6617 closed

[2016-05-16 21:06] jsternberg commented on #6622
I'm going to close this since I don't think there's anything we can do about the result. If there's anything actionable we can do to help with this, please reopen the issue. Thanks.

[2016-05-16 21:06] #6622 closed

[2016-05-16 21:07] deepujain commented on #6572
I did this
CREATE CONTINUOUS QUERY bualerts ON ep RESAMPLE EVERY 1m BEGIN SELECT count(distinct(eId)) AS units INTO ep."default".bualerts FROM ep."default".epdetail WHERE time > now() - 120d GROUP BY time(1d), businessUnit fill(none) END
drop measurement bualerts
select from bualerts
select from bualerts
and it never ran after a minute
any suggestions ?

Also, I am unable to find a active communit

[2016-05-16 21:13] duccyberfend commented on #6235
this isn't fixed.  I'm running the nightly (5/16/2016) and still see the crash.

[code]

[2016-05-16 21:23] daviesalex opened #6641 "read tombstones: EOF after upgrade to 0.14.0~n201605160800"
We jsut upgraded from 0.12.1-1 to the latest nightly (0.14.0~n201605160800)

On restart, the performance was great, but it seems that only data in the last ~20 hours is acceissible. The other data is still on disk.

There are a bunch of startup errors:

[code]

These files seem legit, have the correct permissions, and have a mtime from months ago:

[code]

Suggestions?

[2016-05-16 21:27] jwilder commented on #6641
@daviesalex Can you see if the corresponding tombstone files are `0` sized.  For `/data/influxdb-data/metrics/tg_udp/default/1/000002485-000000032.tsm`, the tombstone file would be `/data/influxdb-data/metrics/tg_udp/default/1/000002485-000000032.tsm.tombstone`.

If they are 0 size, you an remove them to allow the DB to start up.  There bug that allowed 0 length files to be written incorrectly.  T

[2016-05-16 21:29] daviesalex commented on #6641
@jwilder they are (without the .tsm). mtime is months ago though, and the data was accessible pre-restart (and will have been restated, and upgraded, multiple times since March).

From what I can see from a quick grafana check, 100% of data more than about 20 hours old is now not accessible.

[code]

[2016-05-16 21:31] jwilder commented on #6641
You can remove any `0` sized ones as workaround for now.

[2016-05-16 21:34] daviesalex commented on #6641
Thanks - giving that a go. FWIW, they are all zero sized:

[code]

[2016-05-16 21:43] daviesalex commented on #6641
Right, that gets rid of the errors. Sadly now we panic immediately on startup (before any query executes):

[code]

New issue? Any suggestions?

[2016-05-16 21:47] jwilder commented on #6641
That is a new issue:  Looks similar to https://github.com/influxdata/influxdb/issues/6595#issuecomment-218983900

Are there any log statements about full compactions further up?

[2016-05-16 21:48] francisdb commented on #6635
@jwilder thanks for looking into this.

Is there anything we can do to make things better? Our server crashes many times per day. It sometimes takes a few minutes time to recover.

I will also have a look why we end up with these 2014-11-04 chards, I guess that means we have written data that is going to be discarded anyway.

[2016-05-16 21:49] daviesalex commented on #6595
FWIW, we got this moving

We ahve this in the log:

[code]

Full log at https://gist.github.com/daviesalex/36f3fe30a433dd6a27b2f60cf1598e7f

Panic for us:

[code]

I am testing a downgrade from 0.14.0~n201605160800  to 0.13 stable. Thats starting now, will report back...

[2016-05-16 21:50] bubbajones69 opened #6642 "Aggregation functions lose precision in many cases"
The mean(), sum() and related functions lose precision due to floating point variables.
Incorrect values are calculated and cannot use for statistical purposes.  For example, 70 points with a value of 0.4 return sum of 27.999999999999964.  This should be 28.0.  The associated mean is returned as 0.39999999999999947, should be 0.4.

There are a number of ways that this can be corrected.
One approac

[2016-05-16 21:51] daviesalex commented on #6641
Moving discussion to #6595... thanks for your help! I'm not sure if the original issue (these 0 byte files getting in the way) is an issue that requires a better resolution, i'll leave it open for now.

At the very least others getting it will find it and know its safe to just delete them...

[2016-05-16 21:53] jwilder commented on #6641
The 0 length tombstones should be ignored and not prevent the DB from starting.  We'll keep this open until that is fixed.

[2016-05-16 21:56] daviesalex commented on #6641
Thanks. Just to be clear, in this case, they did not prevent the DB starting - I (incorrectly) linked them to the fact that most of our data was missing once it started but that appears to be a separate problem.

What is odd is that the DB started with them (with the last 24 hours data), but without them panics immediately. I have no idea why that is.

A start on the latest stable is taking quite

[2016-05-16 22:07] jwilder commented on #6595
@daviesalex Would you be able to send me those two files?
[code]

[2016-05-16 22:12] jsternberg commented on #3219
Yep. The new docker images render this issue obsolete.

[2016-05-16 22:12] #3219 closed

[2016-05-16 22:17] jsternberg commented on #2193
I can see this code inside of 0.13 and it's probably been there for longer than that. I'm going to close this.

[2016-05-16 22:17] #2193 closed

[2016-05-16 22:21] daviesalex commented on #6595
Interestingly, those files do not exist:

[code]

[2016-05-16 22:23] jsternberg commented on #3818
In the latest version, we fail if you are trying to use a field that doesn't work with an aggregate. We also now have #6529 for selecting a specific type and better support for casting types from different shards to the appropriate type.

I'm going to close this since I think the issue is outdated. Please reopen if I am mistaken.

[2016-05-16 22:23] #3818 closed

[2016-05-16 22:24] jsternberg commented on #5750
Wildcard support for only fields is now supported.

[2016-05-16 22:32] daviesalex commented on #6595
Reverting back to  0.13 stable starts, no panic, and shows us all our data.

This is a nasty bug in the nightly - do you want a third ticket?

[2016-05-16 22:34] bwight opened #6643 "Incorrect value stored in database"
### Bug report

**System info:**
InfluxDB: 0.12.1
OS: linux 4.4.5-15.26.amzn1.x86_64
Docker Image: tutum/influxdb 0.12 33b36625800c

We're using the statsd protocol and using telegraf's statsd input plugin to write the points to influxdb.

**Steps to reproduce:**

We are not yet clear exactly how to reproduce this bug. However it does happen frequently due to the amount of metrics that we report.

[2016-05-16 22:42] wojciechszela commented on #3760
+1 would help us a lot

[2016-05-17 00:03] #6642 closed

[2016-05-17 00:03] bubbajones69 commented on #6642
This issue has been beaten already

[2016-05-17 00:26] cheribral commented on #6250
@jwilder I tried the latest nightly on one of our bigger databases with 11.5 million series, and it brought the startup time to 10 minutes from 34 minutes.  There was still a lot of time though where most of the CPUs weren't doing anything, and the disk was quiet, so I'd assume there is still something getting hung up somewhere.

[2016-05-17 00:29] mark-rushakoff opened #6644 "[master] Queries that panic do not log a stack trace"
Built from master at 42cdaf0365f9634c6f474e219af76e1792f63032.

I've gotten my local database into a weird state (to be covered in a separate issue when I get a reliable repro case).

Using the Influx CLI:

[code]

The server logs don't include any information about the panic:

[code]

Without a stack trace in the server logs, the panic is extremely difficult to diagnose or fix.

/cc @jsternberg

[2016-05-17 03:31] thetcc commented on #6630
@e-dard  Yes,this happen when  the influxdb is stopped.The logs is continuous.
I have not upgraded to 0.13. I think 0.13 may also be less stable, because just released.
 #6620  seems possible version 0.13 higher memory use.

[2016-05-17 04:06] aderumier commented on #6250
@jwilder I have tried the latest nightly too, it's take around 10min now instead 1hour previously. As for cheribral, cpu and disk are quite low during the startup.

https://gist.github.com/aderumier/cafae2fbcf57c45254f79cc5f3e98ea0

[2016-05-17 05:41] jwilder commented on #6250
@aderumier @cheribral Could you run this after the server fully starts and attach the output to the issue?

[code]

Also, when you restart can you monitor the process and see if you have a high amount of `iowait` CPU time?

[2016-05-17 05:49] sharang commented on #6087
after upgrade to 0.13, a simple query can make the memory exhaust, and finally influxd crash.

[code]

in /var/log/influxdb/influxdb.log
[code]

[2016-05-17 08:13] francisdb commented on #6635
Replies on questions from the mailing list

We have this problem also at night when there are 0 queries performed, only data added. Could this be related to overwriting existing data?
What we do is that we sometimes get data for the last hour every 15 min from an external system and we write that to influx. So there is an overlap of 45 min of data every time. (limited amount of points though)
(I g

[2016-05-17 08:49] francisdb commented on #6635
Some logs we got just now during a memory spike:
[code]

The restart is triggered by our own monitoring script that restarts influx when it goes over 92% ram.

[2016-05-17 08:58] francisdb commented on #6635
I see we now have chards up to 2009-11-18, can a single datapoint uploaded for an old date start the creation of many chards?

[2016-05-17 11:13] aderumier commented on #6250
@jwilder : iowait was around 0,5% , cpu idle around 60%  (of 16cores).

I can't restart it anymore, I have another bug
`panic: interface conversion: tsm1.Value is *tsm1.IntegerValue, not *tsm1.FloatValue

goroutine 184 [running]:
panic(0xb76bc0, 0xc968c7bc80)
	/usr/local/go/src/runtime/panic.go:481 +0x3e6
github.com/influxdata/influxdb/tsdb/engine/tsm1.encodeFloatBlock(0x0, 0x0, 0x0, 0xc9e22c8000,

[2016-05-17 12:03] dgnorton opened #6649 "Check that admin exists instead of user count during authentication"

[2016-05-17 12:43] dgnorton commented on #6649
fixed by #6648

[2016-05-17 12:43] #6649 closed

[2016-05-17 14:12] #6644 closed

[2016-05-17 14:16] jsternberg commented on #6572
We use GitHub only for feature requests and bugs. For general questions, use the google group.

Before I start trying to reproduce your issue, does it still happen on 0.13?

[2016-05-17 14:21] jsternberg commented on #6636
I don't think that `--data-binary` for curl interprets `\n` as a newline. I think you have to use an actual newline. That would likely be the reason why the last command works because you use a real newline instead of trying to use the escape `\n`. In ANSI C terms, using `\n` in the `curl` command line is the equivalent of typing `\\n` in a C string.

I'm going to close this since it's not related

[2016-05-17 14:21] #6636 closed

[2016-05-17 14:31] deepujain commented on #6572
Ok. will move to gg. So is the syntax correct ? And i did not move to 0.13
as that means migrating existing production dataset to it.

On Tue, May 17, 2016 at 7:16 AM, Jonathan A. Sternberg <
notifications@github.com> wrote:

--
Deepak

[2016-05-17 14:51] jsternberg commented on #6572
Based on the first query in the original comment, the query looks mostly correct, but is missing something.

[code]

The time clause here is ignored and a time range is generated by the continuous query service whenever it wants to calculate an interval. If you want to calculate the last 30 days every 1 minute, you would need to use `RESAMPLE FOR 30d`. Each bucket would still encompass only 1 day.

[2016-05-17 14:58] jsternberg commented on #5888
Closing this since the question has been answered. Please reopen if you think the issue has not been resolved. Thanks!

[2016-05-17 14:58] #5888 closed

[2016-05-17 15:05] mark-rushakoff opened #6650 "[master] Data race when dropping a database immediately after writing to it"
OSX, InfluxDB built from source @ 1dcc9f1e6362a0e553e791a1f05ab5658760f2c5

I have a script (not in a shareable state) that creates a database, writes many small batches, and immediately drops the database.

Running without the race detector puts the process in a very strange state - error messages about engines being closed, arbitrary databases stop accepting writes, etc.

With the race detector,

[2016-05-17 15:36] jwilder opened #6652 "panic: interface conversion: tsm1.Value is *tsm1.StringValue, not *tsm1.FloatValue"
This panic can occur during compactions between series with different field types.  It was introduced in d99c5e26f69659d71c7ebeef4b64308e60970a08.

[code]

[2016-05-17 15:37] jwilder commented on #6250
@aderumier I created a separate issue for the interface panic: #6652

The latest nightly reverts the commit that introduced that panic.

[2016-05-17 15:38] jwilder commented on #6595
@easyrasta @daviesalex I created a new issue for the interface conversion panic: #6652

The latest nightly reverts the commit that introduced that panic.

[2016-05-17 15:38] #6650 closed

[2016-05-17 16:30] jwilder commented on #6635
There is a change in the current nightlies the reduced the lock contention around creating shard groups.  You could try testing the latest nightly out to see if that helps.

[2016-05-17 16:56] #4002 closed

[2016-05-17 16:57] dgnorton commented on #3968
Query engine has been rewritten. Closing.

[2016-05-17 16:57] #3968 closed

[2016-05-17 16:58] #4574 closed

[2016-05-17 16:59] #4943 closed

[2016-05-17 16:59] toddboom commented on #4954
This is a great idea, but doesn't need to be an issue on this repo.

[2016-05-17 16:59] #4954 closed

[2016-05-17 17:02] toddboom commented on #4119
Closing this out since it's for a version of InfluxDB that's no longer being actively maintained. Please feel free to open a new issue if you find an error with the current version.

[2016-05-17 17:02] #4119 closed

[2016-05-17 17:10] jsternberg commented on #5874
I'm going to close this since we no longer support clustering in the open source version of the software.

[2016-05-17 17:10] #5874 closed

[2016-05-17 17:12] jsternberg commented on #1681
We're not going to make any changes to the official go client at the moment. Feel free to make your own and comment on this issue with a link. If it's fully functional, we can put it as an alternative on our website.

Thank you for your interest.

[2016-05-17 17:12] #1681 closed

[2016-05-17 17:13] jsternberg commented on #356
I'm going to close this issue due to inactivity. Please comment on the issue if you are still interested in this feature and we will look at it again to see if we should reopen and prioritize it for a future release. I don't think this feature would be able to get in before 1.0 though.

Thanks.

[2016-05-17 17:13] #356 closed

[2016-05-17 17:14] jsternberg commented on #67
We no longer support clustering in the open source version so this issue is no longer needed.

[2016-05-17 17:14] #67 closed

[2016-05-17 17:17] jsternberg commented on #231
I think we're going to leave this for clients to take care of for now. Due to the possibility of a client reusing connections when writing (not currently possible when querying), I don't think we should set a timeout. We also have #6559 for enforcing a connection limit to ensure that the server doesn't open too many ports.

Closing due to inactivity.

[2016-05-17 17:17] #231 closed

[2016-05-17 17:18] jsternberg commented on #354
@jwilder this looks like something we should potentially do when enhancing continuous queries in the future.

[2016-05-17 17:20] jsternberg commented on #1065
We no longer support clustering in the open source version.

[2016-05-17 17:20] #1065 closed

[2016-05-17 17:21] jsternberg commented on #688
We no longer support clustering in the open source version.

[2016-05-17 17:21] #688 closed

[2016-05-17 17:25] jsternberg commented on #1623
I'm going to close this for now and we can make a new issue or reopen when this gets back on the roadmap.

If you are interested in this feature, please use a 👍 reaction on the issue.

[2016-05-17 17:25] #1623 closed

[2016-05-17 17:30] deepujain commented on #6572
I tried andit did not work.

name: _internal

---------------

name query

name: anomaly

-------------

name query

name: development

-----------------

name query

name: ep

--------

name query

bu CREATE CONTINUOUS QUERY bu ON ep RESAMPLE EVERY 1m BEGIN SELECT
count(distinct(eId)) AS units INTO ep."default".bualerts FROM
ep."default".epdetail WHERE time > now() - 30d GROUP BY time(1d),
busine

[2016-05-17 17:43] jsternberg commented on #1472
We no longer support clustering in the open source version so I'm going to close this.

[2016-05-17 17:43] #1472 closed

[2016-05-17 17:47] jsternberg commented on #1286
I'm going to close this for now since I don't think we're going to do it. Please comment if you still really want this.

I think a better implementation for this might be to natively support CORS through a configuration option. If this works as an alternative, please open a new issue so we can work on that for a future release.

Thanks.

[2016-05-17 17:47] #1286 closed

[2016-05-17 18:19] jsternberg commented on #3087
The 0.9.x series is outdated. Please try this on the latest version and open a new issue if it still isn't working. Thanks!

[2016-05-17 18:19] #3087 closed

[2016-05-17 18:31] max3163 commented on #6589
Still present in final version of 0.13 influxdb.

[2016-05-17 18:32] jsternberg commented on #6572
@deepujain I think it would be better to move this to the [InfluxDB mailing list](https://groups.google.com/forum/#!forum/influxdb). I'm going to close this issue since it isn't a feature request or bug. Thanks.

[2016-05-17 18:32] #6572 closed

[2016-05-17 18:37] mlowicki commented on #5176
@beckettsean is there a way to use SELECT field from measurement but without time? Right now I'm getting:
[code]

I would like to get one column only.

[2016-05-17 18:41] jwilder commented on #6589
I was able to reproduce this as well.  Restarting the node show the correct data so something is preventing it from showing incorrectly.

[2016-05-17 18:42] jsternberg commented on #3239
I'm going to close this. Please try again with a more recent version and tell us if it still doesn't work. Thanks.

[2016-05-17 18:42] #3239 closed

[2016-05-17 18:44] jsternberg commented on #3221
I'm going to close this due to being an older version. Please try again with a more recent version and open a new issue if there is still an issue. Thanks!

[2016-05-17 18:44] #3221 closed

[2016-05-17 19:09] jsternberg commented on #3196
This was originally filed with a much older version of the software. Please try upgrading and tell us if this is still a problem. Thanks.

[2016-05-17 19:09] #3196 closed

[2016-05-17 19:12] jsternberg commented on #3637
I don't think we're going to do this since that is supposed to be a central feature of tags. I don't believe it would be feasible in terms of performance to also do this with fields.

[2016-05-17 19:12] #3637 closed

[2016-05-17 19:15] jsternberg commented on #2651
I do not believe we'll be able to do this. If you want to change which type you use, you can use a new field name, use a new retention policy, or you can wait for a new shard to be created and drop the old shards.

I'm going to close this. We may consider revisiting this in the future so please open a new issue if this is something that is still needed. Thanks.

[2016-05-17 19:15] #2651 closed

[2016-05-17 19:18] jsternberg commented on #3480
HInted handoff queues were removed from the open source version because clustering was removed.

[2016-05-17 19:18] #3480 closed

[2016-05-17 19:20] jsternberg commented on #2937
I'm closing this since the HTTP handler is fixed. If there are still any places where this is still an issue, please open a new issue so we can fix it. Thanks.

[2016-05-17 19:20] #2937 closed

[2016-05-17 19:20] jsternberg commented on #3006
I'm closing this to help clear up our issue queue. We'll reopen or make a new feature if we're going to do this post-1.0.

[2016-05-17 19:20] #3006 closed

[2016-05-17 19:26] jsternberg commented on #3040
I'm closing this since I don't think it's feasible for us to do the original request with allowing comparison against fields for `SHOW TAG VALUES`. `SHOW TAG VALUES` can only perform operations on tags because it never actually touches the database, just the schema.

But, you can use `WHERE` on tag values which is also mentioned in this issue. The `!=` and `!~` operators were broken and fixed by #

[2016-05-17 19:26] #3040 closed

[2016-05-17 19:29] jsternberg commented on #4037
I'm not entirely sure what this issue is. `true` and `false` are parsed as boolean literals (I think), but they can also be used as an identifier if double quotes are used. Since double quoted values are always treated as identifiers, I think this is fine. I'm going to close this unless it causes some specific issue where we have to restrict the input.

[2016-05-17 19:29] #4037 closed

[2016-05-17 19:31] jsternberg commented on #3994
I haven't heard of this as still an issue. TSM cannot accept a `NaN` value according to @jwilder. If anybody runs into this issue with the latest version of InfluxDB, please open a new issue so we can fix it. Thanks.

[2016-05-17 19:31] #3994 closed

[2016-05-17 19:32] jsternberg commented on #3961
The query engine had a complete refactor in 0.11. If anybody runs into this issue using the newer version, please make a new ticket. Thank you.

[2016-05-17 19:32] #3961 closed

[2016-05-17 20:00] beckettsean commented on #5176
@mlowicki all `SELECT` queries in InfluxDB return a time column. There is no way to execute a `SELECT` and not get back a timestamp with the results.

[2016-05-17 21:44] ptx0 commented on #585
Looks like there's no Debian Wheezy support?

[2016-05-17 21:48] rossmcdonald commented on #585
@ptx0 There is documentation [here](https://docs.influxdata.com/influxdb/latest/introduction/installation/#ubuntu-debian) which covers how to install InfluxDB on Debian Wheezy (which is supported).

[2016-05-17 21:56] ptx0 commented on #585
ah, I think it requires HTTPS for Apt which I do not have.

[2016-05-17 22:55] jsternberg commented on #6570
Can you give an example of how you are writing and querying the data? Thanks.

[2016-05-17 23:00] jsternberg commented on #3895
I'm closing this due to inactivity. Please try again with a newer version of the server/client and open a new issue if this is still an issue. Thank you.

[2016-05-17 23:00] #3895 closed

[2016-05-17 23:03] jsternberg commented on #3789
Closing this since it seems like we should implement #5047 as @pauldix said instead.

[2016-05-17 23:03] #3789 closed

[2016-05-17 23:04] jsternberg commented on #3551
We have had a lot of work since this issue was filed. I'm going to close this as the issue may not be relevant anymore. Please try again with a newer version of InfluxDB and either comment here or open a new issue if this is still happening. Thank you.

[2016-05-17 23:04] #3551 closed

[2016-05-17 23:06] jsternberg commented on #3337
I believe this is implemented in the new query engine. Please try this with 0.13 and tell us if the returned values are different than what you would expect. Thank you.

[2016-05-17 23:06] #3337 closed

[2016-05-17 23:08] jsternberg commented on #3503
It appears that this works in the latest version. I'm going to close this issue as fixed.

[2016-05-17 23:08] #3503 closed

[2016-05-17 23:12] jsternberg commented on #3745
I'm going to close this since I don't think we're going to have any further changes to the query language before 1.0. We will put in a notice that bare identifiers (those not surrounded by double quotes) may conflict with keywords and that clients should always surround identifiers with double quotes for the best compatibility.

Maybe we'll revisit this if we decide to make a change to the query l

[2016-05-17 23:12] #3745 closed

[2016-05-17 23:18] jsternberg commented on #4249
I don't think this issue applies anymore. Someone else merged in a change awhile ago and the section of code this references has been changed many times since then, so I'm going to close this issue.

[2016-05-17 23:18] #4249 closed

[2016-05-17 23:22] jsternberg commented on #4240
Please try this again with a newer version of the software. There have been a lot of changes since then and this may have been fixed since then. If you find the issue is still happening, please comment on this issue or open a new issue. Thanks.

[2016-05-17 23:22] #4240 closed

[2016-05-17 23:26] jsternberg commented on #4232
Please try this again with the latest version. `LIMIT` will limit the number of points per output series (such as when `GROUP BY host` is used) and per measurement. `SLIMIT` and `SOFFSET` should be working.

[2016-05-17 23:26] #4232 closed

[2016-05-17 23:28] jsternberg commented on #4212
This is an issue for an older version of InfluxDB and clustering is no longer supported in the open source version. I'm going to close this issue. Thank you.

[2016-05-17 23:28] #4212 closed

[2016-05-17 23:29] jsternberg commented on #4210
I'm closing this because it's an older issue that I don't believe is an issue anymore since clustering was removed from the open source version.

[2016-05-17 23:29] #4210 closed

[2016-05-17 23:29] jsternberg commented on #4223
Clustering is no longer supported in the open source version so I'm going to close this.

[2016-05-17 23:29] #4223 closed

[2016-05-17 23:30] jsternberg commented on #4205
Closing this since clustering is no longer supported in the open source version.

[2016-05-17 23:30] #4205 closed

[2016-05-17 23:32] jsternberg commented on #4177
Closing this since clustering is no longer supported in the open source version.

[2016-05-17 23:32] #4177 closed

[2016-05-17 23:34] jsternberg commented on #4163
This issue is for an unsupported version of InfluxDB. Please try this again using a newer version as we have submitted many bugfixes since this version was released. If this issue still exists, please comment here or open a new issue. Thank you.

[2016-05-17 23:34] #4163 closed

[2016-05-17 23:39] jsternberg commented on #4102
I'm going to close this due to inactivity. If you can find flaky tests and help us identify them, please open a new issue so that we can work on ensuring the unit tests are deterministic. Thanks.

[2016-05-17 23:39] #4102 closed

[2016-05-17 23:41] jsternberg commented on #4044
This seems to work in 0.13.

[2016-05-17 23:41] #4044 closed

[2016-05-17 23:43] jsternberg commented on #4453
This is for an older version of the software and I don't think this issue exists anymore in the latest version. I'm going to close this issue. If you encounter this again, please open a new issue. Thank you.

[2016-05-17 23:43] #4453 closed

[2016-05-17 23:45] jsternberg commented on #4432
This seems to be fixed in 0.13.

[2016-05-17 23:45] #4432 closed

[2016-05-17 23:46] jsternberg commented on #4420
Clustering is no longer supported in the open source version so I'm going to close this.

[2016-05-17 23:46] #4420 closed

[2016-05-17 23:49] coyle-planet commented on #6589
Happens with `DROP SERIES`, too:

[code]

But restart influxd (`sudo /etc/init.d/influxdb restart`)and the data appears:

[code]

[2016-05-17 23:49] jsternberg commented on #4407
I'm going to close this since I don't think we are currently considering doing this. If this is a feature you really need, please comment and we can look at potentially doing this for sometime post-1.0.

Thank you.

[2016-05-17 23:49] #4407 closed

[2016-05-17 23:50] jsternberg commented on #4382
The `bz1` engine is now gone so I'm going to close this since I think it's no longer relevant.

[2016-05-17 23:50] #4382 closed

[2016-05-17 23:51] jsternberg commented on #4381
This is a duplicate of #5266. I'm going to close this in favor of that issue.

[2016-05-17 23:51] #4381 closed

[2016-05-17 23:55] jsternberg commented on #4338
This is an issue for an older version of InfluxDB. Please try with a newer version. If the issue still exists, please comment on this issue or open a new issue. Thank you.

[2016-05-17 23:55] #4338 closed

[2016-05-17 23:56] jsternberg commented on #4346
I'm going to close this issue because we completely replaced the query engine and the engine between 0.9.x and 0.13. Please try the new version and open a new issue if you believe the issue persists. Thank you.

[2016-05-17 23:56] #4346 closed

[2016-05-17 23:57] jsternberg commented on #4331
I'm going to close this since clustering is no longer supported in the open source version. Thank you.

[2016-05-17 23:57] #4331 closed

[2016-05-18 00:08] jsternberg commented on #4273
Unfortunately, I'm going to need to close this. Fill is unable to figure out what buckets to fill due to infinite number of possible bucket combinations when tags are involved. If fill only had to fill in a single series with a single measurement (no tags), this would be possible. You can have this type of query:

[code]

We can't possibly find all of the possible values that `host` can have with

[2016-05-18 00:08] #4273 closed

[2016-05-18 00:13] jsternberg commented on #4203
I'm going to close this due to the issue probably being fixed between when this was filed and the latest version. If you have any issues similar to this one, please file a new issue so we can track it. Thank you.

[2016-05-18 00:13] #4203 closed

[2016-05-18 00:19] jsternberg commented on #4618
We might be able to do this finally with the addition of the casting syntax PR. I'll keep this in mind for post-1.0.

[2016-05-18 00:27] jsternberg commented on #4527
I don't see any configuration values that do this anymore. I'm going to close this, but if you can find any configuration options that still use `time.Duration` instead of `toml.Duration`, please comment here so I can reopen the issue. Thanks.

[2016-05-18 00:27] #4527 closed

[2016-05-18 00:30] jsternberg commented on #4488
It looks like this was fixed at some point and was likely merged in some PR as part of the commit above. I'm going to close this issue since it seems like it should have been resolved already. Thanks for your contribution!

[2016-05-18 00:30] #4488 closed

[2016-05-18 00:30] jsternberg commented on #4487
This no longer appears to be failing so I'm going to close this.

[2016-05-18 00:30] #4487 closed

[2016-05-18 00:32] jsternberg commented on #4478
I'm going to close this since I don't believe we have any future plans for it. If you want to add multiconnection client support to our library or a create a third party library for InfluxDB, we would love to hear about it. Thank you.

[2016-05-18 00:32] #4478 closed

[2016-05-18 00:38] pavelpep commented on #5930
+1 for exponents and logarithms #659

[2016-05-18 00:38] cheribral commented on #6250
@jwilder could this issue by any chance also cause "drop measurement" queries to take forever?  I'm trying to clean up the database used to test this, and the queries have been running for hours blocking writes, and occassionally spitting out some lines about compaction in the log.

[2016-05-18 00:42] dgnorton commented on #4448
added in #6609

[2016-05-18 00:42] #4448 closed

[2016-05-18 00:47] jsternberg commented on #4803
@caligula1989 have you tried this with the latest version of InfluxDB?

[2016-05-18 01:02] jwilder commented on #6250
`drop measurement` can be expensive if you are dropping a lot of series and/or have many shards.

If you grab these profiles, it might help identify the slowness.

[code]

[2016-05-18 01:03] jsternberg commented on #4736
This is an issue from before we did the query engine refactor and I don't think this issue exists anymore. Please try this with 0.13 and comment if it still isn't working properly. Thank you.

[2016-05-18 01:03] #4736 closed

[2016-05-18 01:06] jsternberg commented on #4765
This works correctly in 0.13.

[2016-05-18 01:06] #4765 closed

[2016-05-18 01:08] jsternberg commented on #4697
Please try this issue again with a newer version. We completely refactored the query engine in 0.11 and 0.13 is the latest version out. If this problem still exists, please comment or open a new issue. Thank you.

[2016-05-18 01:08] #4697 closed

[2016-05-18 01:52] junyhu commented on #6379
hi all,

we are facing exactly same error while running below query in influxdb
 SELECT max(distinct(memory)) FROM mydb."default".mydb_usage

here is log info

POST /write?db=crmetrics&rp=rp_server_metrics HTTP/1.1 204 0 - - fc5eb7a9-1c96-11e6-b783-000000000000 19.091296ms
[query] 2016/05/18 01:22:36 SELECT max(distinct(memory)) FROM mydb."default".mydb_usage
panic: interface conversion: influxql.

[2016-05-18 01:54] jsternberg commented on #6379
@junyhu are you running 0.13? This is fixed in 0.13.

[2016-05-18 01:57] jsternberg commented on #5922
This appears to be fixed with the new query engine and with the issue mentioned above.

[2016-05-18 01:57] #5922 closed

[2016-05-18 02:07] jsternberg commented on #4646
This is an old issue for a now unsupported version of InfluxDB. I'm going to close this, but please comment or make a new issue if you see this with 0.13 or newer. Thank you.

[2016-05-18 02:07] #4646 closed

[2016-05-18 02:09] jsternberg commented on #4631
Closing this since the new query engine was merged and has been in use since 0.11.

[2016-05-18 02:09] #4631 closed

[2016-05-18 02:11] jsternberg commented on #4679
Clustering is no longer supported in the open source version so I am going to close this. Thanks.

[2016-05-18 02:11] #4679 closed

[2016-05-18 02:12] jsternberg commented on #4673
Hinted handoff is no longer in the open source version now that clustering has been removed.

[2016-05-18 02:12] #4673 closed

[2016-05-18 02:12] jsternberg commented on #4649
Closing this as clustering has been removed from the open source version and `DROP SERVER` has also been removed.

[2016-05-18 02:12] #4649 closed

[2016-05-18 02:13] jsternberg commented on #4645
This is an older issue and has probably been fixed in a newer version. I'm going to close this issue. Please try a newer version and comment on this issue if you still are experiencing this issue. Thank you.

[2016-05-18 02:13] #4645 closed

[2016-05-18 02:15] jsternberg commented on #4953
I think this issue no longer exists in the newest version of InfluxDB. Please try it and comment here if it doesn't work for you. Thank you.

[2016-05-18 02:15] #4953 closed

[2016-05-18 02:16] jsternberg commented on #4944
I believe this has been fixed during the query engine refactor. If you still experience this issue, please create a new issue. Thank you.

[2016-05-18 02:16] #4944 closed

[2016-05-18 02:17] jsternberg commented on #4935
This works in 0.13 so I'm going to close this. Please try it and comment here if it doesn't work correctly. Thanks.

[2016-05-18 02:17] #4935 closed

[2016-05-18 02:19] jsternberg commented on #4929
I'm closing this because it is for an older version of InfluxDB (before we made a lot of fixes to just about everything). Please try the latest version available (0.13) and comment here if you are still experiencing this issue. Thank you.

[2016-05-18 02:19] #4929 closed

[2016-05-18 02:20] jsternberg commented on #4922
There have been many improvements in terms of memory performance since 0.9.5. I'm going to close this. Please open a new issue if you still experience out of memory errors with the latest version. Thanks.

[2016-05-18 02:20] #4922 closed

[2016-05-18 02:22] jsternberg commented on #4894
Milestones are currently being used correctly in the project for 0.13 and we'll try to continue doing that for every version after that. Closing this since I don't think there's anything more we can do.

[2016-05-18 02:22] #4894 closed

[2016-05-18 02:24] jsternberg commented on #4829
I'm going to close this since it was filed against an older version of InfluxDB. We have made a lot of changes and fixes since then. Please try the newest version and comment here if this problem still isn't resolved. Thank you.

[2016-05-18 02:24] #4829 closed

[2016-05-18 02:24] jsternberg commented on #4816
Clustering is no longer supported in the open source version. Thank you.

[2016-05-18 02:24] #4816 closed

[2016-05-18 02:25] kengan commented on #6482
Thank you jwilder answer, my  CPU on server has 8 core, I use the 'TOP' a  Linux command to see the CPU usage, I don't think the queries have any problem
I use ' select pa,pb  from tick_EURUSD limit 10' and return the  following result. Each record is the price of  EUR to USD in 5 seconds
name: tick_EURUSD
-----------------
time                                       pa         pb
14201172210000000

[2016-05-18 02:27] jsternberg commented on #5120
We have completely replaced the query engine as of 0.11 so I'm going to close this since the issue likely does not exist anymore. Please try out 0.13 and comment here if this still happens. Thanks.

[2016-05-18 02:27] #5120 closed

[2016-05-18 02:28] jsternberg commented on #5109
Closing this because of the documentation change.

[2016-05-18 02:28] #5109 closed

[2016-05-18 02:29] jsternberg commented on #5108
Please try this again with the latest version of InfluxDB and the TSM engine. I'm going to close this since I don't think it's an issue any longer, but please comment if you find this is still happening and I'll reopen the issue. Thanks.

[2016-05-18 02:29] #5108 closed

[2016-05-18 02:30] jsternberg commented on #5085
Clustering has been removed from the open source version so we no longer have to worry about this test. I'm going to close this.

[2016-05-18 02:30] #5085 closed

[2016-05-18 02:32] jsternberg commented on #5009
This seems to now correctly report an error during parsing. I'm going to close this issue since it seems to be fixed in 0.13.

[2016-05-18 02:32] #5009 closed

[2016-05-18 02:33] jsternberg commented on #5004
Confirming this is because JSON does not differentiate between a float or an integer. Closing this since there's nothing we can do about this.

[2016-05-18 02:33] #5004 closed

[2016-05-18 02:34] jsternberg commented on #4962
Closing this since the last comment indicates it worked in the past and clustering is no longer supported in the open source version anyway.

[2016-05-18 02:34] #4962 closed

[2016-05-18 02:35] jsternberg commented on #4957
This still happens in 0.13. I'm going to leave this unassigned and we'll try to improve the error message either before 1.0 if we have time or post-1.0 since changing the error message wouldn't be a breaking change anyway.

[2016-05-18 02:36] jsternberg commented on #5293
Closing this issue since clustering is no longer supported in the open source version.

[2016-05-18 02:36] #5293 closed

[2016-05-18 02:37] jsternberg commented on #5277
Closing this since clustering is no longer supported in the open source version. If this turns out to be due to something else and is still happening in 0.13, please open another issue so we can fix this. Thanks.

[2016-05-18 02:37] #5277 closed

[2016-05-18 02:37] jsternberg commented on #5269
Closing this as clustering is no longer supported in the open source version.

[2016-05-18 02:37] #5269 closed

[2016-05-18 02:42] jsternberg commented on #5233
We actually already have this feature enabled internally, but it doesn't seem to be user accessible. We just need some query language syntax to signal that it should be enabled.

[2016-05-18 02:46] jsternberg commented on #5179
I'm not sure about the answer to the specific question, but we're trying to remove older issues from the issue tracker and keep it to just features and bugs. If you are still having trouble with this issue and haven't found an answer, feel free to ask the question on our [mailing list](https://groups.google.com/forum/#!forum/influxdb). Thanks.

[2016-05-18 02:46] #5179 closed

[2016-05-18 02:51] jsternberg commented on #5157
I'm closing this due to inactivity and because we completely replaced the query engine with 0.11. If you still see this issue in 0.13, please comment and I'll reopen the issue. Thanks.

[2016-05-18 02:51] #5157 closed

[2016-05-18 02:52] jsternberg commented on #5427
I think we now handle division by zero by returning zero instead of `NaN`. If this is still happening in 0.13, please reopen. Thanks.

[2016-05-18 02:52] #5427 closed

[2016-05-18 02:55] jsternberg commented on #5317
This config option no longer seems to exist in 0.13 so I'm going to close this. Please upgrade to the latest version. Thank you.

[2016-05-18 02:55] #5317 closed

[2016-05-18 02:57] jsternberg commented on #5297
This was fixed in 0.12 (I think). It should work in 0.13. There was an issue where the semi-colon was optional so it would parse the first section `SHOW TAG KEYS` and then try to parse a second statement where you would then get the error message.

[2016-05-18 02:57] #5297 closed

[2016-05-18 02:59] jsternberg commented on #5543
I think this is fixed in 0.13. We had some issues with `ORDER BY desc` that got fixed in later versions during the query engine refactor. If you still have this issue with 0.13, please make a new issue so we can fix it. Thanks.

[2016-05-18 02:59] #5543 closed

[2016-05-18 03:02] jsternberg commented on #5527
I think this is fixed in 0.13. Please try this with 0.13 and comment if it's still not working correctly. Thank you.

[2016-05-18 03:02] #5527 closed

[2016-05-18 03:02] #5516 closed

[2016-05-18 03:04] jsternberg commented on #5820
Clustering is now removed from the open source version so I'm going to close this. Thanks.

[2016-05-18 03:04] #5820 closed

[2016-05-18 03:05] jsternberg commented on #5661
Clustering is removed from the open source version now.

[2016-05-18 03:05] #5661 closed

[2016-05-18 03:06] jsternberg commented on #5673
Closing this since clustering is removed from the open source version.

[2016-05-18 03:06] #5673 closed

[2016-05-18 03:06] jsternberg commented on #5672
Clustering is removed from the open source version so I'm closing this.

[2016-05-18 03:06] #5672 closed

[2016-05-18 03:07] jsternberg commented on #5671
Clustering is now removed from the open source version so I'm closing this.

[2016-05-18 03:07] #5671 closed

[2016-05-18 03:07] jsternberg commented on #5584
Clustering is now removed from the open source version so I'm closing this.

[2016-05-18 03:08] #5584 closed

[2016-05-18 04:11] letitcrash commented on #4953
Looks like the issue is fixed in the later versions of influx. Please close it. Thanks for the support.

[2016-05-18 06:35] aderumier commented on #6250
Ok, it's starting fine with last nightly
startup log

https://gist.github.com/aderumier/6c906efbf4dd8be9d75fcfae23ea46a1

debug output just after startup

block.txt
https://gist.github.com/aderumier/635e64959fda81c6c81f600209865065

goroutine.txt
https://gist.github.com/aderumier/0aca605cfd6e99d1c9bc400332c45884

[2016-05-18 06:58] ZhukovAlexey commented on #6636
**jsternberg**, thank you.

Yes, your explanation definitely helped.

Just needed to do a concatenation with real newline symbol.

[code]

[2016-05-18 08:07] francisdb commented on #6635
@jwilder always a bit tricky to put a nightly in production...
What does it mean if a shard has no owners?
Tonight we had almost no problems, we had only 30 shards and all owners showing 1 except the most recent 3.
Now we again have a bunch of unowned shards, for times in the past further than the retention policy that appeared together with a small memory spike.

[2016-05-18 09:04] francisdb commented on #6635
One more question, can we track the number of shards (groups) with telegraf?

[2016-05-18 09:11] Issif opened #6657 "Standalone influx-cli binary"
Hi,

It could be very useful to get a stand alone _influx-cli_ binary. I'm working with a cluster and would like to query it throught my endpoint (HAproxy) and not directly from nodes (where _influxd_ + _influx-cli_ are installed obviously).

Regards,

[2016-05-18 09:44] daviesalex opened #6658 "atomic.AddUint32 in UUID generation causing global lock in HTTP handler"
Running a startup on HEAD with a large dataset shows clearly (in perf) that the overwhelming majority of time is spent in atomic.AddUint32. This only appears because of performance improvements in HEAD; this does not appear in 0.13 stable (which spends most of its time in runtime.mapiternext and runtime.indexbytebody).  This was introduced in "Replace code.google.com/p/go-uuid with TimeUUID from g

[2016-05-18 09:55] dje4om commented on #6657
+1 !

[2016-05-18 10:33] e-dard commented on #6643
@bwight thanks for the report. I've tried to reproduce with the data provided but I'm unable to.  Just to clarify—are you saying that the only points written to produce the bad result are the ones included in your report?

Or was more data written to produce this?

[2016-05-18 10:48] easyrasta opened #6659 "Panic on SHOW FIELD KEYS"
### Bug report

__System info: InfluxDB starting, version 0.13.0~rc2, branch master, commit 590b3f9fc76904c0035ef1e9731ad1c27903ef76

__Steps to reproduce:__
SHOW FIELD KEYS  in admin interface

__Expected behavior:
[code]

__Additional info: I erased some tsm files due to compaction panic error.  If it's related you could close it

[2016-05-18 10:52] e-dard commented on #6638
Hi! We try and keep GitHub Issues for  actionable bug reports or feature requests. Please send general questions to the influxdb@googlegroups.com mailing list.

Thanks.

[2016-05-18 10:52] #6638 closed

[2016-05-18 11:23] pootzko commented on #5317
I don't want to sound ungrateful for all the work you guys have done, but not replying for 5 months and then simply start closing cases and telling us to "update" is in my opinion not really a proper way to get rid of issues. During the last two days the same thing happened to a few issues I reported. I understand that we're getting this cool database with various tools for free and that we can't

[2016-05-18 11:54] sharang commented on #6087
there are only 69k series in my db, but influxd occupied >4G memory.

[code]

[2016-05-18 12:35] sharang commented on #6087
@mark-rushakoff  I think is not only a performance issue, it is a bug

[2016-05-18 12:47] pjmyburg opened #6661 "Offset and limit combined with aggregation (group by time) gives incorrect results"
### Bug report

__System info:__ InfluxDB 0.13.0, Amazon Linux AMI on EC2

__Steps to reproduce:__

1. Insert many data points with timestamps over multiple days
2. Query count of data points and group by time(1d)
3. Query count of data points and group by time(1d) and offset 1
4. Query count of data points and group by time(1d) and limit 1

__Expected behavior:__

- I expect the first entry in th

[2016-05-18 13:22] acmnu commented on #5156
I am wonder what was a reason to tie udp and database? Why I can't use fully qualified name (database."rp".measurement) in line protocol?

[2016-05-18 13:31] rossmcdonald commented on #5583
Now that clustering has been removed from open-source InfluxDB, this issue will now be closed.

[2016-05-18 13:31] #5583 closed

[2016-05-18 13:47] jsternberg commented on #6661
I think this is caused by #6391.

[2016-05-18 13:49] e-dard commented on #6658
@daviesalex this seems a bit strange to me because `FromTime` is only called from within the HTTP handler in `httpd`. I know you said you were running `HEAD` but could you confirm the commit you ran from

[2016-05-18 14:10] jwilder commented on #6658
`atomic.AddUint32` showing up in startup might be due to lock contention when setting up the index.  See: https://github.com/influxdata/influxdb/issues/6250#issuecomment-219937723

I'm not sure how `FromTime` could be called at startup.  AFAIK, it's only used in the HTTP handler as @e-dard mentioned.

[2016-05-18 14:10] daviesalex commented on #6658
@e-dard branch jw-compact-fix, latest 0b25541f688

I do see your point though, its very odd - seems to only be called (through TimeUUID()) in ./services/httpd/handler.go. Its possible that we have a lot of HTTP requests coming in, although i'm pretty sure we saw this during startup.

I'm trying to reproduce on a test box now... not having much joy. This test box does not have the same production H

[2016-05-18 14:20] jwilder commented on #6635
@francisdb I thought you had a test env you could try the nightly on.  My mistake.

Shard groups are created based on the time range of points.  If you insert one point way in the past, it will cause a shard group for that time range to get created if it does not exist.

[2016-05-18 14:21] jwilder commented on #6659
@jsternberg Can you take a look?

[2016-05-18 14:23] jwilder commented on #6658
@daviesalex On that branch, does it prevent the #6652?

[2016-05-18 14:32] daviesalex commented on #6658
@jwilder yes. No panic, but still missing data.

[2016-05-18 14:32] daviesalex commented on #6652
This does not appear to occur on jw-compact-fix, latest 0b25541

[2016-05-18 15:04] martinb69 commented on #5359
Version 0.9
Already using influxdb for industrial historian with great success. Waiting for official Windows release with TSM.

[2016-05-18 15:04] francisdb commented on #6635
I think we found what is triggering our issues. We pull in data from other services and we had a webhook that told us to pull in data from way in the past. We now make sure we only pull in data that is not outside of the retention period.

In any way, I guess creating 100's of shards should not kill the server?

[2016-05-18 15:48] #4151 closed

[2016-05-18 16:02] jsternberg commented on #6659
This looks to be caused by 733a17d. It seems to be a race condition where the measurement fields are retrieved, then they are erased by something else, then it tries to use them.

[2016-05-18 16:40] nimdanitro commented on #6008
I do also see strange behavior when using the official go client library when one of my tag values has a trailing backslash. The client library does double escape the backslash which is then not properly reverted by InfluxDB afterwards.

This can be reproduced as follows (with the official example from the client library):

[code]

[code]

A simple solution would be to check in the escapeTag funct

[2016-05-18 17:08] jsternberg commented on #6657
Just to clarify that I understood this correctly, this is for there being a seperate debian/rpm package available for only installing the CLI, right?

[2016-05-18 17:15] #6235 closed

[2016-05-18 17:15] e-dard commented on #6235
@duccyberfend will be fixed in `1.0.0`

[2016-05-18 17:17] Issif commented on #6657
Yes, it is.

In the same way we have a _mysql-cli_ package.

Thks.
Le 18 mai 2016 19:09, "Jonathan A. Sternberg" <notifications@github.com> a
écrit :

[2016-05-18 17:19] bwight commented on #6643
Hi @e-dard I appreciate your response. Yes there is a lot more data that we're inserting into influx. The data that I uploaded was only for that series for a period of about 2 hours. I'm going to try and make a script that can reproduce this bug and then I will share that here.

[2016-05-18 17:20] JarrettR commented on #6487
Also needs am entry in the web interface's Query Template dropdown

[2016-05-18 17:26] e-dard commented on #6643
That would be great @bwight thanks!

[2016-05-18 17:51] daviesalex commented on #6658
Right, so here is a theory about this issue. The node I tested under is under some load from HTTP (not much, certainly compared to our UDP load, but thousands of inserts a minute). The HTTP handler starts listening immediately (so runs during startup). The % was particularly high during startup because the rest of Influx does a relatively poor job of paralleling the start, so the percentage of CPU

[2016-05-18 18:19] jsternberg commented on #4418
It looks like we have an off-by-one problem with every percentile. Wolfram alpha tells me the 50th percentile of a 10 value slice should be the 5th value (4th index) ([here](http://www.wolframalpha.com/input/?i=50th+percentile+0,+1,+2,+3,+4,+5,+6,+7,+8,+9)) and it tells me the 51st percentile should be the 6th value (5th index) ([here](http://www.wolframalpha.com/input/?i=51st+percentile+0,+1,+2,+

[2016-05-18 19:14] #6659 closed

[2016-05-18 19:17] jsternberg commented on #4726
Clustering [has been removed](https://influxdata.com/blog/update-on-influxdb-clustering-high-availability-and-monetization/) from the open source version so I'm going to close this issue.

[2016-05-18 19:17] #4726 closed

[2016-05-18 19:21] jsternberg commented on #5941
Clustering [has been removed](https://influxdata.com/blog/update-on-influxdb-clustering-high-availability-and-monetization/) from the open source version so I'm going to close this issue.

[2016-05-18 19:21] #5941 closed

[2016-05-18 19:21] jsternberg commented on #5881
Clustering [has been removed](https://influxdata.com/blog/update-on-influxdb-clustering-high-availability-and-monetization/) from the open source version so I'm going to close this issue.

[2016-05-18 19:21] #5881 closed

[2016-05-18 19:22] jsternberg commented on #5876
Clustering [has been removed](https://influxdata.com/blog/update-on-influxdb-clustering-high-availability-and-monetization/) from the open source version so I'm going to close this issue. If you need an open source solution for high availability, please try the [relay](http://docs.influxdata.com/influxdb/latest/high_availability/relay/). Thanks.

[2016-05-18 19:22] #5876 closed

[2016-05-18 19:22] jsternberg commented on #5759
Clustering [has been removed](https://influxdata.com/blog/update-on-influxdb-clustering-high-availability-and-monetization/) from the open source version so I'm going to close this issue. If you need an open source solution for high availability, please try the [relay](http://docs.influxdata.com/influxdb/latest/high_availability/relay/). Thanks.

[2016-05-18 19:22] #5759 closed

[2016-05-18 19:22] jsternberg commented on #5715
Clustering [has been removed](https://influxdata.com/blog/update-on-influxdb-clustering-high-availability-and-monetization/) from the open source version so I'm going to close this issue. If you need an open source solution for high availability, please try the [relay](http://docs.influxdata.com/influxdb/latest/high_availability/relay/). Thanks.

[2016-05-18 19:22] #5715 closed

[2016-05-18 19:22] jsternberg commented on #5480
Clustering [has been removed](https://influxdata.com/blog/update-on-influxdb-clustering-high-availability-and-monetization/) from the open source version so I'm going to close this issue. If you need an open source solution for high availability, please try the [relay](http://docs.influxdata.com/influxdb/latest/high_availability/relay/). Thanks.

[2016-05-18 19:22] #5480 closed

[2016-05-18 19:36] beckettsean commented on #5120
fixed in 0.13:

[code]

[2016-05-18 19:45] jsternberg commented on #4720
This is fixed in 0.13.

[2016-05-18 19:45] #4720 closed

[2016-05-18 19:46] jsternberg commented on #4677
Closing this because the query engine refactor means the implementation of `TOP` is completely different and this bug probably doesn't exist anymore. Please comment if you still see this happening with the latest version. Thanks.

[2016-05-18 19:46] #4677 closed

[2016-05-18 19:47] hughescr commented on #4418
Not sure how the other percentiles should work (round up vs round down vs round to nearest), but 0th percentile should be the MIN, and 100th percentile should be the MAX, always.

[2016-05-18 19:48] francisdb commented on #5120
great, thanks @beckettsean

[2016-05-18 20:40] e-dard commented on #6254
Fixed via #6604

[2016-05-18 20:40] #6254 closed

[2016-05-18 21:10] mrled commented on #5359
+1

Version: recent
Use case: Running Bosun on an entirely Windows stack
Clustering: no
Other TICK: I don't think so, unless they are required to run Bosun

[2016-05-18 21:20] jsternberg commented on #1310
I don't think this panics anymore if you have an incorrect file, but the issue still isn't completely resolved. Most servers give a way to specify the certificate file separately from the private key file, but we currently rely on a concatenated PEM file to supply both.

I'm going to add a way to specify the private key separately. For now, you can concatenate the private key and the certificate i

[2016-05-18 21:24] #6624 closed

[2016-05-18 22:10] #6406 closed

[2016-05-18 22:10] #6557 closed

[2016-05-18 23:41] jwilder commented on #6611
@kub00n Thanks for providing the python script.  That made it really easy to reproduce and track down the issue.  The perf issue is fixed in master, but your script highlighted a correctness issue with deduplicating overwritten points.  See #6668 which will fix that issue.

[2016-05-18 23:52] #6611 closed

[2016-05-18 23:57] jwilder commented on #6652
Fixed via #6653

[2016-05-18 23:57] #6652 closed

[2016-05-18 23:58] jwilder commented on #5164
Fixed via #6623

[2016-05-18 23:58] #5164 closed

[2016-05-19 00:08] jwilder commented on #6630
@thetcc Can you grab a heap dump and profile?

[code]

[2016-05-19 01:04] #2926 closed

[2016-05-19 01:35] #1310 closed

[2016-05-19 02:23] cheribral opened #6669 "[0.13] drop measurement/series taking a very long time"
### Bug report
Centos 7, AWS r3.2xlarge, provisioned IOPs etc.

__Steps to reproduce:__

1. Generate measurements with millions of series, and some data points
2. Try to drop one of the measurements or drop the series

__Expected behavior:__
Unsure, but I would hope that a delete could finish at least somewhere in the region of time it would take to read and rewrite the entire measurement.

__Actu

[2016-05-19 02:47] zywei opened #6670 "data with the same time will be covered?"
hi,i found a problem that if i write data with the same time on one measurement, influxdb will only remain the last one record?is that true?

[2016-05-19 02:52] jsternberg commented on #6670
Yes, I believe that is correct. If you have any more questions related to InfluxDB, please send a message to the [mailing list](https://groups.google.com/forum/#!forum/influxdb). Thanks!

[2016-05-19 02:52] #6670 closed

[2016-05-19 03:12] jwilder commented on #6669
It looks like your process is deadlocked.  There was a fix for this in #6627.

[2016-05-19 04:05] jwilder commented on #6632
@ianlutzeigen Would you be able to test a nightly that includes #6668?

[2016-05-19 04:07] jwilder commented on #6632
Also, if you have a script to reproduce the duplicates, that would be very helpful.

[2016-05-19 04:27] jwilder commented on #6250
I have WIP branch that would be useful if someone could test on their dataset to see if it helps or not.  This branch is still very experimental so please do not test on your production servers.

The branch is: https://github.com/influxdata/influxdb/tree/jw-db-index.  It should significantly reduce the database index lock contention at startup and make better use of available cores for loading sha

[2016-05-19 04:52] thetcc commented on #6630
@jwilder  It takes 10G + memory in two days after I run it, because it affects my other programs, I have to stop it. So, now I can not provide a problem dump file. When it just started to use less memory.

[2016-05-19 05:04] aderumier commented on #6250
@jwilder, I have tested the jw-db-index branch,no improvement for me (15min startup)

around 60% idle cpu of 16 cores

https://gist.github.com/aderumier/fcd4311f4fc42aa2e82b87b4601c91ba

[2016-05-19 05:15] jwilder commented on #6250
@aderumier Thanks for testing it.  Would you be able to grab the block and goroutine profile while it's running?  Is there much `iowait` or `sys` time?  Also, could you run `influx_inspect dumptsmdev /var/lib/influxdb/data/telegraf/default/2/000003531-000000006.tsm` and attach the output?

[2016-05-19 05:22] jwilder commented on #6630
@thetcc There was a connection leak issue in an older version of telegraf that caused higher memory usage.   The `27h` write time looks like you might have hit some kind of deadlock.  #6627 fixes one possible deadlock.

Without a profile or more to look into, there isn't much else we can do other than suggest to upgrade.  There are a number of fixes in `0.13` as well as current master that may hel

[2016-05-19 05:22] #6630 closed

[2016-05-19 05:24] ianlutzeigen commented on #6632
Sorry, I don't have such a script; I do tend to delete loads of test data and re-write as I go about my business; just the nature of how I am writing code around influx, so I do not have a specific reproducible script. I will keep and eye on it... don't think I am in a position to explicitly test it at this moment.

[2016-05-19 07:54] francisdb commented on #6635
@jwilder to conclude:
we have a retention policy of 1 month
spread data uploads every 15 min
a few of those uploads were uploading ~1000 spread datapoints all the way back to 2010. This triggered the creation of a large amount of shards causing the whole system to go out of memory.

Should be easy to reproduce.

[2016-05-19 08:05] pjmyburg commented on #6661
Thanks guys!  Any realistic chance of a 0.13.1 with the fix soon or should we roll back to 0.12?

[2016-05-19 12:34] e-dard commented on #6599
@ryantxu I just wanted clarify a couple of things here.

Firstly, yes you have uncovered a bug, in fact I think there may be two bugs here!

The timestamp value `9223372036854775807` is actually valid (in fact it's the largest timestamp value InfluxDB accepts).

I'm going to figure out why the point is not being stored.

[2016-05-19 12:39] e-dard opened #6672 "Inserting point with timestamp + trailing space is rejected"
`insert cpu value=1 1257894000000000000     |` should insert just fine (the `|` is merely included to show the trailing whitespace), but currently it doesn't.

[code]

I have a fix in the works for this.

[2016-05-19 12:48] sofixa opened #6673 "Series confusion"
Hello.

I have a question that might be a bit simple, but a Google search didn't help that much.

I'm running Telegraf 0.11 and 0.12 on different servers with a single InfluxDB that was on 0.11.1 until yesterday, when i updated to 0.13.

According to the [InfluxDB documentation](https://docs.influxdata.com/influxdb/v0.13/concepts/glossary/#series), a serie is
[code]
Therefore, a serie is any _uniq

[2016-05-19 13:30] jsternberg commented on #6673
Thank you for your interest in InfluxDB. We try to keep the GitHub issue tracker to only contain features or bugs for InfluxDB. Questions should be redirected to the [mailing list](https://groups.google.com/forum/#!forum/influxdb) where you will get a faster response than the issue tracker. If you find anything wrong or that needs clarity in the documentation, you can also file an issue with the [

[2016-05-19 13:30] #6673 closed

[2016-05-19 14:06] #6641 closed

[2016-05-19 14:07] aderumier commented on #6250
@jwilder

iowait and sys time are around 0, I see only user cpu

dumptsmdev dump
 https://gist.github.com/aderumier/bfc1250140ee740234e6c4b80efb2ec5

for block and goroutine profile, do you want it just after start, or during the start ?

[2016-05-19 14:09] #5976 closed

[2016-05-19 14:14] jwilder commented on #6250
Block at the end. Goroutine somewhere in the middle of loading.

[2016-05-19 14:27] aderumier commented on #6250
I can't launch goroutine profile when loading, because port 8086 is not listening

[2016-05-19 14:37] aderumier commented on #6250
just after start:
goroutine.txt : https://gist.github.com/aderumier/4fe6ed205ae4511ff5897215f68749f3
block.txt : https://gist.github.com/aderumier/b6a4666de6ef7ccc19fa1c24bfbef900

[2016-05-19 14:54] #6661 closed

[2016-05-19 15:26] jwilder commented on #6250
@aderumier A few things I can see:

* The slowest file to load has 11387193 keys and 11540148 index entries.  11.3M keys is a lot and scanning is single-threaded so this is probably the biggest bottleneck for your dataset right now.
* Unrelated to startup, but writing snapshots are probably taking a while due to sorting 11M keys.  Looks like #6613 was created to try to fix that.

I'll take a look

[2016-05-19 15:40] aderumier commented on #6250
Do you known why my collectd database index are fast to load (around 30s),
vs telegraf database (7 - 13m) ?

database volume size: collectd : 74G , telegraf : 98G
(I don't known how to see number of keys in each database)

[store] 2016/05/19 06:46:35 /var/lib/influxdb/data/collectd/default/1 opened in 24.880605565s
[shard] 2016/05/19 06:46:44 /var/lib/influxdb/data/collectd/default/64 database ind

[2016-05-19 15:43] jwilder commented on #6250
@aderumier Can you run `influx_inspect dumptsmdev <path to collectd tsm file>` on one the larger TSM files in `/var/lib/influxdb/data/collectd/default/51`?

[2016-05-19 15:43] KiNgMaR commented on #5951
:8ball: Apparently fixed in 0.13!

[2016-05-19 16:01] kostasb opened #6676 "Influxcli precision hardcoded to n"
Looks like InfluxCLI always sends the parameter 'precision' set to 'n'.

In the following example "seconds" precision is specified but the parameter sent to InfluxDB is still "n"
[code]
Logs:
[httpd] 2016/05/19 15:59:33 127.0.0.1 - - [19/May/2016:15:59:33 +0000] POST /write?consistency=any&db=test&**precision=n**&rp= HTTP/1.1 204 0 - InfluxDBShell/0.14.0~n201605190800 ad81dadf-1dda-11e6-8053-00000

[2016-05-19 16:33] jwilder opened #6679 "Cardinality Limits"
### Feature Request

__Proposal:__

The server should have configuration limits for operators to prevent high cardinality tags and number of series.

__Current behavior:__

A writing process can easily write tag value that creates a high cardinality series causing increased memory usage and more risk of OOMing the process.  Many times the operator of the system is not the same as the user writing

[2016-05-19 16:58] kostasb opened #6680 "Modify default query end time"
Running queries without specifying time boundaries will use now() as the default end time.
Consider changing default end time from now() to something like MaxInt in order for the query engine to retrieve all timestamps when no time boundaries are specified.

Related deprecated PR:  https://github.com/influxdata/influxdb/pull/5089

[2016-05-19 17:07] ljagiello commented on #6526
Since 0.13 it's super stable, closing this issue.

[2016-05-19 17:07] #6526 closed

[2016-05-19 20:02] jsternberg commented on #6661
I'm going to try and put together the bugfixes that will go into 0.13.1 soon, but if you need this urgently, I personally would downgrade to 0.12 temporarily until we get 0.13.1 out.

[2016-05-19 20:55] gena01 opened #6682 "Sample Configuration Still Contains Clustering Section"
From reading the Changelog for unreleased 1.0.0 it seems that `[cluster]` section should be renamed to something else in influxdb.conf. Currently static nightly seems to still contain `[cluster]` section.

[2016-05-19 20:58] t-orb opened #6683 "[0.13.0-1] large shards compaction never ends, influx_inspect on the tsm files panics"
__System info:__ [0.13.0-1 on Ubuntu 14.04.4 LTS]

__Steps to reproduce:__

1. [use default retention policy of each shard covering 1 week]
2. [load in more than a week of data creating big tsm files]
3. [wait until 24hr compaction run starts]

__Expected behavior:__

If more than 3 TSM files were present I'd expect 1 compaction run across the files

__Actual behavior:__

It starts compacting and

[2016-05-19 20:59] Lahorde commented on #4680
On 0.12.2
@jokogr  works for me

[code]

but @PaulMest  does not work
[code]

Adding a where clause gives a valid timestamp :

[code]

[2016-05-19 21:01] jwilder commented on #6683
You need to run `influx_inspect dumptsmdev <path>`.  The `dumptsm` command is for an older version of TSM files with a different format which is why it panics.

[2016-05-19 21:07] jwilder commented on #6683
@t-orb Are you deleting series or measurements by chance?  If you delete data that is contained in these TSM files, they will get re-compacted to expunge that data.

[2016-05-19 21:08] Lahorde opened #6684 "Last / First - strange timesamp"
influxdb 0.12

I'm selecting first and last values from last minute from an influx db timeseries, according to doc "Last returns the newest value (determined by the timestamp) of a single field."
here are requests :

[code]

But I do not understand returned results, for last and first values, value is correct but I get a time that does not match any timestamp in my measurements (see last request t

[2016-05-19 21:16] t-orb commented on #6683
I just updated my gist with a comment containing the dumptsmdev output (no panics).

Never done a delete. No inserts to this database the last day either. It is just running the 24 hour compacting cycle.

[2016-05-19 22:13] jwilder commented on #6682
@rossmcdonald Is the config for the static nightly build generated or stored somewhere?

[2016-05-19 22:17] jackzampolin opened #6685 "CQ's don't batch points coming into database"
See https://github.com/influxdata/influxdb/issues/6588 or https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/influxdb/wOq_2bFtThU/xo3dj8hAAwAJ

This behavior causes stress on the database due to unbatched writes. Batching the writes coming in from CQs should solve this issue.

[2016-05-19 23:11] AlexanderS opened #6687 "Repository does not contain current nightly builds"
The repositories at https://repos.influxdata.com/ does not seem to include the current nightly builds. The latest nightly versions available are from 2016-04-11. But there only seem to be a problem with the nightly packages, because the current stable from 2016-05-12 is available.

[2016-05-20 00:01] aderumier commented on #6250
Summary:
  File: /var/lib/influxdb/data/collectd/default/51/000003058-000000006.tsm
  Time Range: 2016-05-15T00:41:40.015183Z - 2016-05-15T18:09:35.169648Z
  Duration: 17h27m55.154465s   Series: 220825   File Size: 2147705800

Statistics
  Blocks:
    Total: 440543 Size: 2115267309 Min: 30 Max: 12140 Avg: 4801
  Index:
    Total: 440543 Size: 32438478
  Points:
    Total: 420725151
  Encoding:

[2016-05-20 01:12] jwilder commented on #6526
@ljagiello Great!  Fyi... we added a setting for HTTP connection limits that might be useful in this situation: #6601

[2016-05-20 01:16] aderumier commented on #6250
do you think reducing
cache-snapshot-memory-size = 26214400

could help ?

(I don't known if they are an option to limit by number of keys, instead size ?)

[2016-05-20 01:26] jsternberg commented on #6684
Since this is 0.12, those times represent the beginning of the interval. In 0.12, selectors were all normalized to return the beginning of the interval for every aggregate function.

We reverted that in 0.13 to allow selectors in a specific situation return the actual time value in #5890. This should work as you expect it to in 0.13, but if you use a `GROUP BY time(...)` clause, the time returned

[2016-05-20 01:26] #6684 closed

[2016-05-20 01:40] jsternberg commented on #6106
@earthnut I'm sorry that this issue got lost in the fray, but the version used is a very old version that we no longer support. Please try upgrading the server to a new version and this bug may have been fixed during the large amount of development that's been done since 0.9.6.

I'm sorry for the inconvenience and that we weren't able to get to this faster. If you still experience this problem wit

[2016-05-20 01:40] #6106 closed

[2016-05-20 01:54] jsternberg commented on #6084
Hello @CamJN. Sorry that nobody has responded, but we use the issue tracker to track features and bugs related to InfluxDB. This kind of question should be sent to the [mailing list](https://groups.google.com/forum/#!forum/influxdb) and there's a better chance of it possibly being answered. Even then, I don't know if we do code reviews of other people's code for other projects. If you have a more

[2016-05-20 01:54] #6084 closed

[2016-05-20 01:58] jsternberg commented on #6017
Closing this in favor of #6603. While this one is older, it looks like the other one has comments and it's not on a later page so it's less likely to get lost.

Sorry for the lack of a prompt response. We are trying to go through the issues so we can more efficiently respond to bug reports like this in the future.

[2016-05-20 01:58] #6017 closed

[2016-05-20 01:58] sharang commented on #6087
@jwilder @mark-rushakoff  the performance is pool :(

count points in one day, cost **36.616676791s**
[code]

if i count theme hour by hour, it is much faster
[code]

time cost by above queries:
[code]

but if i use `group by` and count points in on day, the influxd will comsume about 10G memory and finally killed by oom
[code]

[2016-05-20 02:27] jsternberg commented on #5919
I'm going to use #5906 to track this.

[2016-05-20 02:27] #5919 closed

[2016-05-20 02:35] jsternberg commented on #5780
It looks like this was implemented and it works in 0.13.

[2016-05-20 02:35] #5780 closed

[2016-05-20 02:51] jsternberg commented on #5898
I'm going to close this in favor of #5266 so it's easier to track the progress of this feature.

[2016-05-20 02:51] #5898 closed

[2016-05-20 03:03] jsternberg commented on #5846
This is from an old version and we no longer support clustering in the open source version, but in case you're still trying to figure this out, you're probably using the wrong port somewhere in your configuration file. This error message happens when you try to make an HTTP (8086) request against the RPC port (8088). I can't remember which configuration option it was exactly, but that would be a g

[2016-05-20 03:03] #5846 closed

[2016-05-20 03:08] jsternberg commented on #5448
I believe we fixed this at some point. It was caused by binary expressions not having a default time. If you are still using the older version, you can get around this by using aliasing (`AS colname`). If you upgrade to a newer version, we now have a default name for this kind of field and the `SELECT INTO` statement won't hang forever.

Thanks for reporting this issue. I'm sorry we weren't able t

[2016-05-20 03:08] #5448 closed

[2016-05-20 03:15] jsternberg commented on #5229
This seems to work in 0.13 so I'm going to close this. It was probably fixed as part of the query engine refactor.

[2016-05-20 03:15] #5229 closed

[2016-05-20 03:15] sharang commented on #6087
@jwilder @mark-rushakoff

count points in one day again, cause the db crashed ...

[code]

[2016-05-20 03:19] jsternberg commented on #4895
I think this is the same as #5840 so I'm going to close this in favor of that issue instead. Thank you for your feature request.

[2016-05-20 03:19] #4895 closed

[2016-05-20 03:20] jsternberg commented on #5044
I think this code was removed at some point because I can't find the function any longer, so I'm going to close this issue as I don't think it's relevant any longer.

[2016-05-20 03:20] #5044 closed

[2016-05-20 03:47] jsternberg commented on #4842
Still happens in 0.13.

[2016-05-20 03:50] jsternberg commented on #4781
It looks like this was done in #5785.

[2016-05-20 03:50] #4781 closed

[2016-05-20 04:08] StevePham88 opened #6689 "Cannot write data to influxdb via UDP 8089 port"
Hi there,
Im using InfluxDB-Client to write data to InfluxDB via UDP but can not do it successfully (HTTP is working well)
Here is my UDP configuration:
[[udp]]
  enabled = true
  bind-address = "localhost:8089" # the bind address
  database = "example" # Name of the database that will be written to
  batch-size = 1000 # will flush if this many points get buffered
  batch-timeout = "1s" # will flu

[2016-05-20 06:44] aderumier commented on #6250
I also notice that I have only 4 shards (each 7days)

:/var/lib/influxdb/data/telegraf/default# ls -lah
total 16K
drwx------ 6 influxdb influxdb   61 mai   16 02:00 .
drwx------ 3 influxdb influxdb   28 avril 28 17:24 ..
drwxr-xr-x 2 influxdb influxdb 4,0K mai    3 02:32 2
drwxr-xr-x 2 influxdb influxdb 4,0K mai   10 02:27 41
drwxr-xr-x 2 influxdb influxdb 4,0K mai   17 03:17 53
drwxr-xr-x 2 influ

[2016-05-20 07:02] aderumier commented on #6250
I think that
ALTER RETENTION POLICY default ON telegraf DURATION INF REPLICATION 1 SHARD DURATION 1d

should do it ?

[2016-05-20 07:23] StevePham88 commented on #6689
Any help plz?

[2016-05-20 10:13] #6676 closed

[2016-05-20 12:21] xiic opened #6691 "Wrong query results with "WHERE time" filter"
### Bug report

Different queries, which should return the same data points, return different results:
[code]
[code]

Specifically, when using a "WHERE time" filter, no measurements after `2016-05-20T09:22:41.46Z` are returned - although they're there, as can be seen with the first query.

How can this be? What can I do to investigate further? I could upload the corresponding .tsm file if this wou

[2016-05-20 13:02] e-dard commented on #6689
@StevePham88 have you tried using a `bind-address` of `:8089`? I'm not sure but binding to `localhost` could be a problem here?

[2016-05-20 13:21] rossmcdonald commented on #6682
This is because the sample configuration still includes a `[cluster]` block:

https://github.com/influxdata/influxdb/blob/73076fa0a3a04eb30061b4ee14c9595fe6306aa4/etc/config.sample.toml#L96

I'll update it.

[2016-05-20 14:14] rossmcdonald commented on #6687
Thanks for letting us know! The repository should now be up to date with the latest nightly releases.

[2016-05-20 14:14] #6687 closed

[2016-05-20 14:36] jsternberg commented on #6691
At what time did you run the query? If you don't specify a maximum value, it defaults to the current time.

[2016-05-20 14:50] jsternberg commented on #6599
I pushed another fix related to this issue at #6693.

The shard groups when you had a shard group near the time boundary wasn't being created correctly and would result in the data point being inaccessible on a restart. Unfortunately, there's no way to fix the shard after it's been created natively. If you write any points into a shard at the time boundary, I think you're going to have to drop tha

[2016-05-20 15:02] xiic commented on #6691
At about `2016-05-20T12:05:00Z` - the measurements from the first query where just inserted. Now, 3 hours later, the second query still returns the same result. Even if specifying a max time, nothing changes:

[code]

Current system time:
[code]

[2016-05-20 15:10] jsternberg commented on #6691
If you're capable of uploading the data and meta directories, I can try taking a look locally and identify if this is a query engine or storage engine problem. Thanks.

[2016-05-20 15:41] caotic112 opened #6694 "Wrong regexp ( only with !~ ) result in SHOW TAG VALUES"
### Bug report

System info:[InfluxDB 0.13.0, Centos 6.7]

`SHOW TAG VALUES from <measurement_name> WITH KEY = "<key_name>" WHERE <key_name> !~ /<strig_to_exclude>/`

The regexp works only if there are no match at all for the string you are trying to exclude

[2016-05-20 16:19] jsternberg commented on #6694
Duplicate of #6607.

[2016-05-20 16:19] #6694 closed

[2016-05-20 16:28] beckettsean commented on #6680
duplicate of #4461

[2016-05-20 16:28] #6680 closed

[2016-05-20 16:28] beckettsean commented on #4461
related to #5089

[2016-05-20 16:29] beckettsean commented on #4461
@pauldix @jwilder I assume we aren't changing the default time boundaries for 1.0, but wanted to get verification of that.

[2016-05-20 17:46] srikara commented on #6549
We have seen a similar problem as well. It appears that in 0.12.2 (possibly post 0.10) tags are stored in the default retention policy as a measurement (_tags). If you have a custom retention policy that is the default (which we had) and the data set in that retention policy is reasonably large, it apparently impacts the 'show tag values' response time .
We created another retention policy, made i

[2016-05-20 18:58] keep94 opened #6698 "Go client API allocates lots of small objects."
### Feature Request

**Proposal:** [Description of the feature]

Point instances that use a fixed schema.

All points I send have 3 tag columns and one value column always with the same name. My points are more like rows in a SQL table rather than unstructured data.

If I could hint to the API that all points that I send have the same structure, the API could go easier on the Go Garbage Collector.

[2016-05-20 19:49] keep94 commented on #6698
You could take the Point interface idea a step further and have a PointCollection interface that has a Len() method and methods like SerializeAtIndex(i int, w io.Writer). This way the client can use whatever data structure they want to represent a batch of points. A client could even something like [1000]MyPointStruct which wouldn't require extra heap allocations. Then add a SetPointCollection met

[2016-05-20 19:53] #2048 closed

[2016-05-20 20:48] brewneaux commented on #6632
I am also seeing this behavior, but cannot get it to happen again with test/anonymized data, or without using our proprietary loading script.  heres a sample output though:

`> select * from test_stats order by time desc limit 50
name: test_stats
----------------
time                    field1  field2  field3  field4  id      tag1    tag2
1463776920147478000     139999                          314

[2016-05-21 13:20] renrutnosaj opened #6699 "Creating duplicate database give no error message in body and 200 return code."
### Bug report

__System info:__
Influxdb v 0.13.0
uname -a: Linux deb1 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-1 (2016-03-06) x86_64 GNU/Linux

__Steps to reproduce:__

1.curl -v -POST http://localhost:8086/query -u admin:adminpw --data-urlencode "q=CREATE DATABASE mydb"

HTTP/1.1 200 OK, return body is: {"results":[{}]}

2.  curl -v -G http://localhost:8086/query -u admin:adminpw --data-urlenc

[2016-05-21 17:05] jsternberg commented on #6699
Thank you for the bug report. This is expected behavior as noted in the [documentation](http://docs.influxdata.com/influxdb/v0.13/query_language/database_management/#create-a-database-with-create-database). If there's any confusion in the documentation or how we can improve the ability to find this information, feedback is welcome and encouraged.

[2016-05-21 17:05] #6699 closed

[2016-05-21 20:34] jsternberg commented on #6438
It looks like this may have been the same as #6495 and would have been fixed by #6539. If this problem still exists after upgrading to 0.13, please comment here so I can reopen the issue. Thanks.

[2016-05-21 20:34] #6438 closed

[2016-05-21 20:41] #5906 closed

[2016-05-22 00:30] jsternberg commented on #6026
It looks like this was already fixed so I'm going to close the issue. Thanks!

[2016-05-22 00:30] #6026 closed

[2016-05-22 02:49] jsternberg opened #6701 "Duplicate points when selecting the same measurement from multiple databases"
### Bug report

__System info:__ InfluxDB 0.13

__Steps to reproduce:__

[code]

__Expected behavior:__ For each value to only appear once.

__Actual behavior:__ Every value is duplicated in the `SELECT`.

[2016-05-22 12:29] renrutnosaj commented on #6699
Whoops. My mistake. Thanks for your quick and professional reply.

I'd been using 0.9 which (I believe) treated this as an error, then switched to 0.13 but had my head stuck in the 0.9 documentation. I'll dig deeper into the relevant documentation next time.

[2016-05-22 13:05] jsternberg opened #6702 "Database privileges do not work when selecting a non-default database in a SELECT"
### Bug report

__System info:__ InfluxDB v0.13

__Steps to reproduce:__

1. Enable authentication.
2. Create admin user.
3. Use admin user to create two databases.
4. Insert data into both databases.
5. Create a normal user and grant that user permission to read one of the databases.
6. Run a select that uses `db=readable` in the query parameters for the database the user can read from and includ

[2016-05-22 17:19] simonmorley commented on #1570
It's actually horrifying trying to test against influx with rspec on circle. Running without the cache doesn't make any difference. Wishful thinking.

We tried implementing a sleep before the queries - that didn't work.

It so unreliable we can't actually deploy right now...

So, we've decided to test the queries alone and not what influx returns. This obviously sucks. But it's the minimum we can

[2016-05-23 01:20] falfly opened #6703 "memory run out when query in huge series data and no data response"
Bug report

System info: InfluxDB 0.12 and higer

Steps to reproduce:

1. create database and measurements in influxdb

2. insert huge series in measurements, in my test db, the show stats
    name: database
    tags: database=registers
    numMeasurements	numSeries
    ---------------          	---------
    1		                       525599

3.run query on measurements
   select count(value) from

[2016-05-23 02:29] StevePham88 commented on #6689
@e-dard: Yes i tried by default and here is the result
**udp6       0      0 :::8089                 :::*                                19302/influxd**
But i still can not write data to Influx via UDP. I use influx command right on the instance influxdb being run:
--> Type influx:

        {
            "measurement": "cpu_load_short_2",
            "tags": {
                "host": "server03",

[2016-05-23 08:53] janpaulus opened #6704 "With the LAST() selector the response time increases linear with the number of points in the series."
__System info:__ Influxdb 0.13
CPU: 4 x 2 Ghz Xeon
RAM: 8 GB

When doing a query with the LAST() selector it is fast on series with less points. A query on a series with more points takes much longer. There is a linear dependency between the number of points in the series and the response time of the query.
These are my observations:

number of points	| response time [sec]
------------ | ---------

[2016-05-23 11:58] e-dard commented on #6689
@StevePham88 Seems like this might be an issue to put on the Python Client repo. I can't reproduce your issue locally with the Go client.

I notice in the Python client there is a `udp_port=4444` option. Maybe you need to set that?

[2016-05-23 11:58] #6689 closed

[2016-05-23 12:02] e-dard commented on #6703
@falfly can you provide information on exactly which version of influx you're running? We have put in quite a few improvements recently that may help.

[2016-05-23 16:08] e-dard commented on #6703
@falfly there may be a fix for your issue in the latest nightly build. Could you try that?

[2016-05-23 20:00] jwilder commented on #6703
@falfly Your test program looks like it's generating about 65M series.  That is a lot of series for a single server and you will need much more RAM than 16GB.

The script is generating a unique `deviceid` and `regaddr` for each write which is creating very high series cardinality causing a very large in-memory index.

[code]

[2016-05-23 20:00] #6703 closed

[2016-05-23 20:58] #6702 closed

[2016-05-23 21:49] jwilder opened #6708 "Drop writes before the retention policy time window"
#6635 seems to be caused by writes into the past that triggers new shard groups and shards to get created.  These shards would end up getting removed when retention policy enforcement runs, but they can create a lot of overhead and memory pressure before retention policy enforcement runs.  If the shard duration is somewhat small (1d or less), many shards can get created in this time.

We should dr

[2016-05-23 21:55] jwilder commented on #6635
@francisdb I logged #6708 which should hopefully prevent this situation from occurring in the future when fixed.

[2016-05-23 21:55] #6635 closed

[2016-05-23 22:12] bharath531 opened #6709 "Problem in writing int value as int, and read int as int"
Problem in saving the long value to the series.
I am trying to read the long value from the influxdb series
1.	Firstly I am inserting the long value as shown below to the influxdb series:

The value is inserting as the exponential value into the database, we would like to insert the value as same way to the series.

![12](https://cloud.githubusercontent.com/assets/19540646/15486175/57d6c266-2109-1

[2016-05-23 23:05] beckettsean opened #6711 "GROUP BY <tag> ignored on non-default retention policies"
### Bug report

__System info:__ [Include InfluxDB version, operating system name, and other relevant details]

InfluxDB 0.13, Ubuntu 15.04, installed from package.

__Steps to reproduce:__

Insert the same data into the default RP and into a non-default RP

[code]

Now compare the results of queries with a `GROUP BY <tag>` clause:

[code]

For the non-default RP the GROUP BY tag clause is meaning

[2016-05-24 00:12] jsternberg commented on #6711
I'll investigate more, but an initial guess I would say that using `select * into <measurement>` is causing the tags to be written as fields rather than as tags. You may want to try `select * into <measurement> from soff group by *` and that may give you what you want. I'll double check though.

[2016-05-24 00:40] falfly commented on #6703
actually, it only generate about 65M records with about 560K series, the number of register in different deviceid are not the same, the range is 2~~1000

[2016-05-24 01:25] beckettsean commented on #6711
This was the end result of a long investigation into a [customer ticket](https://influxdb.zendesk.com/agent/tickets/2747) where the data was generated without `INTO` queries. I was attempting to find the minimal repro case and resorted to putting data into the other RP via `INTO` queries.

I ran a quick check and it appears that the `INTO` turned the tags into fields in my example.

[code]

I'm go

[2016-05-24 01:35] beckettsean commented on #6711
Verified it is an INTO bug/user-error:

[code]

[2016-05-24 01:35] #6711 closed

[2016-05-24 02:03] jsternberg commented on #6709
Hello @bharath531,

Questions about how to use InfluxDB should be asked to the [mailing list](https://groups.google.com/forum/#!forum/influxdb) instead of the issue tracker. It is much more likely you will get a helpful response there than here as we primarily use the issue tracker to track feature requests and bug reports.

Thank you.

[2016-05-24 02:03] #6709 closed

[2016-05-24 02:16] jwilder commented on #6703
@falfly My mistake.  You are correct, there are about 560k series.  I tested your program locally with 0.12, 0.13 and latest master and was not able reproduce the issue you are seeing.  During the query, memory for the process peaked around 2-3GB depending on the version and returned in 12-20s depending on the version.

[2016-05-24 03:00] falfly commented on #6703
@e-dard , @jwilder , i just tested with the same data against the latest version , and got the same result, block for about 1.5 hour now...

`2016/05/24 09:22:16 Processed 64900000 lines.  Time elapsed: 21m25.0645805s.  Points per second (PPS): 50503
2016/05/24 09:22:18 Processed 65000000 lines.  Time elapsed: 21m26.885760348s.  Points per second (PPS): 50509
2016/05/24 09:22:20 Processed 65100000

[2016-05-24 05:13] jwilder commented on #6703
Can you grab these profiles while the query is running?  Also, what kind of hardware and disks are you using?

[code]

[2016-05-24 06:22] falfly commented on #6703
@jwilder
**my system info:**
CPU:Intel(R) Core(TM) i7-2600 CPU @ 3.40GHz
OS:Linux server-desktop 3.19.0-51-generic #58-Ubuntu SMP Fri Feb 26 21:22:26 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux Ubuntu 15.04
DISK: WDC WD5000AADS-0 500GB

[block11.txt](https://github.com/influxdata/influxdb/files/278890/block11.txt)
[goroutine11.txt](https://github.com/influxdata/influxdb/files/278891/goroutine11.txt)
[

[2016-05-24 12:19] sbile commented on #3369
hi,

by running the following test queries against version 0.13.0 it seems that the maximum acceptable timestamp (defined as time string) is **'2050-01-01T00:00:00Z'**

This works
`> SELECT * FROM foo WHERE time < '2050-01-01T00:00:00Z';`

The following fail with **time X overflows time literal** (foo measurement doesn't event have to be there)

`SELECT * FROM foo WHERE time < '2050-01-01T00:00:01

[2016-05-24 13:21] jsternberg commented on #6279
We finally found the reason for this and fixed it in fb7be8c. We no longer support 0.11 which would be the only open source version to have this problem because it's the last one to support clustering, but you can still take this commit and backport it to 0.11 if you want to continue trying to use clustering in 0.11.

Thank you for the bug report. I'm going to close this since there's nothing else

[2016-05-24 13:21] #6279 closed

[2016-05-24 13:25] jsternberg commented on #3369
@sbile at the moment, *2050-01-01T00:00:00Z* is the maximum time string. I think this may be changed for 1.0, but 0.13 will have that limit and I'm not certain if the time limit is changing for 1.0 or not.

In the future, please ask question to the [mailing list](https://groups.google.com/forum/#!forum/influxdb) as you will get a much better answer there. Thanks.

[2016-05-24 13:48] #6701 closed

[2016-05-24 15:27] jwilder commented on #6703
@falfly It looks like your disks do not have enough IOPS.  Your `top` output shows `52.4 wa` which indicates your CPU is waiting on disk IO.

Can you run `iostat -xnz 1` while the query is running?

[2016-05-24 15:32] beckettsean commented on #3369
@rkuchan we should update the max time range in the docs to reflect the 2050 limitation.

[2016-05-24 15:50] dalibort opened #6715 "influx cli sometimes frozes on FUTEX wait when -execute 'drop measurements...' is used"
Hi,
I created (due to mistake in graphite template). about 10000 measurements like this one:
internet.asr2.snetwork.AS63859.inbytes

Since I found no way how to delete them using influx SQL commands (seems no wildcard in 'DROP measurement name' is allowed I used 'influx -execute' to list all measurements into a file and then to delete them via a simple bash script using this command line:

influx

[2016-05-24 16:30] beckettsean commented on #6711
`SELECT ... INTO ... GROUP BY *` is the correct resolution, this was user error.

There's still something happening in the user ticket but we will take another pass at a minimal repro case.

[2016-05-24 16:32] jsternberg commented on #6711
Ok, we should open a ticket to document this for others who might run into the issue. cc @rkuchan

[2016-05-24 16:43] jsternberg commented on #6715
Is #6563 related? It seems like the inability to use Ctrl+C is one of two things here. The other seems to be that we should offer a way to perform this kind of action asynchronously.

Kill query also only works for `SELECT` queries at the moment. @rkuchan can add a caveat to the documentation so that this limitation is at least documented while we're working on trying to allow `KILL QUERY` to be u

[2016-05-24 17:31] rkuchan commented on #6711
Already documented at the end of [this section](https://docs.influxdata.com/influxdb/v0.13/query_language/data_exploration/#relocate-data) and on the CQ page at the end of [this section](https://docs.influxdata.com/influxdb/v0.13/query_language/continuous_queries/#the-create-continuous-query-statement). I might work on it to make the note more prominent.

[2016-05-24 17:34] caitlin615 opened #6716 "Show measurements query returns no results with an empty "default" RP"
### Bug report

__System info:__ v0.12 and v0.13

__Steps to reproduce:__

1. Start with a blank database
2. Create a new `DEFAULT` retention policy
  * `CREATE RETENTION POLICY rp_90d ON db DURATION 90d REPLICATION 1 DEFAULT`
3. No data or measurements in custom `DEFAULT` retention policy
4. Add a point to a new measurement (for example, `newmeasurement`) in the built-in `"default"` (now, not `DE

[2016-05-24 19:58] dalibort opened #6717 "drop measurement is not persistent"
Hi

nightly build version 0.14.0~n201605230800

I have deleted larger amount of measurements via influx client (-execute drop measurement...) and after it I restarted influxdb daemon due to change in conf file. It looks like all the deleted measurements (10000+) appeared again in show measurement :-(

Before restart show measurements result was short (expected state after the drops)

I tried to se

[2016-05-24 22:55] beckettsean commented on #6717
What do the logs show around the restart? Perhaps the DROP queries hadn't completed before the restart?

[2016-05-24 22:56] beckettsean commented on #6717
As an aside, 10000+ measurements with graphite-style measurement names is definitely an anti-pattern for InfluxDB 0.9+. Metadata should be encoded into key-value tags and measurements should be in the dozens or hundreds.

[2016-05-24 23:07] beckettsean commented on #6711
@rkuchan those look sufficient. I didn't RTFM, that's on me.

[2016-05-25 00:48] falfly commented on #6703
@jwilder , just select need so much IOPS? io capture as attachment
[io.txt](https://github.com/influxdata/influxdb/files/280783/io.txt)

[2016-05-25 02:07] junyhu opened #6718 "[InfluxDB V0.12.0] High memory usage (RES, VIRT) observed"
hi there,
I'm seeing heap usage is under 1g but RES is 3.8g with influxDB v0.12.0.

There are around 5k measurements in my influxDB, and # of series is around 5k also. see details in below screenshot pls.
![image](https://cloud.githubusercontent.com/assets/18591250/15525783/6398db50-225f-11e6-872e-8f7c14544631.png)
while checking heap usage it's showing around 1g.
![image](https://cloud.githubuser

[2016-05-25 02:15] jwilder commented on #6718
It looks like a client may be leaking query connections.  Are your clients closing connections or re-using them appropriately?

[2016-05-25 02:51] cheribral commented on #6669
@jwilder I tried this again using 0.14.0~n201605240800, and I'm not sure if it is doing any better.  It's been running for quite a while, and I can't query _internal stats or use the cli client.  I see the http writes for other databases going past in the logs, but I'm also seeing a lot of "failed to write point batch to database... timeout" for UDP writes.
[block.txt](https://github.com/influxdat

[2016-05-25 03:02] cheribral commented on #6669
Another interestig bit is that trying to drop the entire database which holds the bad metrics causes influxd to lock up completely, use up all the memory on the box and then get killed by the OOM killer.  Shouldn't that just be a matter of removing some metadata, and deleting the database directory?

[2016-05-25 03:09] junyhu commented on #6718
@jwilder thanks for the suggestion! Actually yesterday i just ran a query **select * from "tsm1_cache"** and then RES increased from less than 1G to 3.8G, and heap increased from avg 500M to avg 1G.
I understand the query i provided might reach to a lot of shards as i didn't give a time filter. What I don't understand is...after 14 hours, still heap & RES remain high even the query has finished ex

[2016-05-25 03:10] jwilder commented on #6669
@cheribral I see another problem.  The `tsdb.Store.DeleteMeasurement` call is taking a write lock and then deleting the measurements from each shard serially.  Deleting from each shard is taking a while so the write lock is held for a long time locking up the DB.

[2016-05-25 03:19] jwilder commented on #6718
@junyhu The profiles show a lot of query goroutines still running so it looks like something is repeatedly querying the database and leaving a connection open.  When or if the heap will go down and be released to the OS is partially controlled by how the go garbage collector works.  If a connection is still open, the memory used by the connection can't be freed and it will also hold onto system re

[2016-05-25 03:46] cheribral commented on #6669
Apologies for the stream of comments, but the server came back up, thinking the database was gone, but the data files were still there.   I was also seeing statistics for the database in _internal.  I shut down influx, moved the data files for that database out of the data directory as well as removing the wal files, and everything seems to be coherent again.

I was then a bit suspicious, so I tri

[2016-05-25 03:46] #6669 closed

[2016-05-25 05:04] dalibort commented on #6717
I am not sure what to search in the logs for...

[query] 2016/05/24 18:07:15 DROP MEASUREMENT "internet.asr2.snetwork.AS9934.inbytes"
[httpd] 2016/05/24 18:07:17 ::1 - - [24/May/2016:18:07:15 +0200] POST /query?chunked=true&db=graphite&epoch=ns&q=DROP+MEASUREMENT+%22internet.asr2.snetwork.AS9934.inbytes%22 HTTP/1
[httpd] 2016/05/24 18:07:17 ::1 - - [24/May/2016:18:07:17 +0200] GET /ping HTTP/1.1 2

[2016-05-25 09:15] junyhu commented on #6718
@jwilder Grafana keeps querying data from influxDB to display dashboards. That's why you see many open query connection i guess.... Is it possible to set a max query connection in influxDB or some sort of approaches to close connection from Grafana side? Any idea..?

[2016-05-25 09:21] sthorsen commented on #4157
+1

[2016-05-25 09:28] arussellsaw opened #6720 "Concurrent map read write panic"
### Bug report

__System info:__ influxdb 0.13, ubuntu 14.04 on AWS
__Steps to reproduce:__
i've not been able to reproduce this yet

__Expected behavior:__ no panics
__Actual behavior:__ a panic
__Additional info:__
This happened around midnight, roughly 00:00:01, not sure whether that is relevant or not, a concurrent map read/write panic killed the service.

here is the stack trace of the gorout

[2016-05-25 10:05] michalg42 opened #6721 "Duplicated rows"
System info: Influx 0.13.0, Linux Mint 17.2

Steps to reproduce:

Using these file as data source: http://speedy.sh/agpPb/Test.json , having it in directory /home/michal/debug/

And this code:

[code]

In Influx terminal executing query:

[code]

Expected behavior: One row with date pointing to 10 january 2016.

Actual behavior: It depends, I executed it many times (what can be seen in measurement

[2016-05-25 10:50] mvadu opened #6723 "Feature Request: DatePart in InfluxQL"
Can we have InfluxQL support DatePart which is supported in almost all SQL engines? The use case is to analyze long term trend over a wide time scale, but only part of the range.

Example use cases.
1. Server utilization during business hours, we will have a data point at every 10 seconds, but we want to trend business hour vs non business hour utilization
2. Data/requests/hit volume on first of t

[2016-05-25 14:43] rossmcdonald opened #6724 "Querying from non-existent database should return HTTP error"
Currently querying for a non-existent database returns a HTTP 200 with an `error` JSON result:

[code]

Ideally this should return a HTTP 40X error code (with the error result). The current functionality makes it much more difficult to identify errors, as both error and success responses are returned as HTTP 200's.

[2016-05-25 14:48] jwilder commented on #6718
@junyhu The current nightlies have a config option to limit http connections.  See #6601.  It's not available in 0.12 or 0.13.

[2016-05-25 17:23] #6683 closed

[2016-05-25 17:29] beckettsean opened #6726 "regex behavior changed between 0.12 and 0.13"
### Bug report

__System info:__ [Include InfluxDB version, operating system name, and other relevant details]

Ubuntu 15.04, InfluxDB 0.12.2 and 0.13.0 from packages.

__Steps to reproduce:__

Inserted the same data into 0.12 and 0.13:

[code]

When querying 0.12, the two regular expressions `/.*/` and `/./` are evaluated the same, or at least they lead to equivalent query output.

[code]

Howeve

[2016-05-25 17:56] gvohra commented on #6150
+!

[2016-05-25 18:23] shannonliu0809 commented on #6716
I am facing the same issue.

I am able to insert data under one series name with different retention policies. #3341 I believe is also talking about the same issue.

I created a series called disk_free_2 with retention policy test.
`curl -X POST 'http://localhost:8086/write?db=shannon&rp=test' --data-binary 'disk_free_2,hostname=server01 value=123 1435362189575692182'`

then I created another seri

[2016-05-25 19:18] wojciechszela commented on #4838
+1

[2016-05-25 19:30] dalibort commented on #6717
It seems that the problem with frozen influx CLI ([#6715](https://github.com/influxdata/influxdb/issues/6715)) can be related to the problem with DROP MEASUREMENT.

When the influx CLI (I am using to drop measurement) hangs and I kill it by kill -9 something wrong happens in influxdb server probably. When I restart it the dropped measurements are back again.
If I send some drop measurements via in

[2016-05-25 20:37] tehmaspc commented on #5208
@jwilder can you confirm that this is fixed?; we're running 0.13.0-1 and on a simple `select * cpu_value` query (collectd metrics) influxdb blows up w/ following error:

[code]

[2016-05-25 20:38] beckettsean opened #6727 "queries with strings that look like dates end up with date types, not string types"
### Bug report

__System info:__ [Include InfluxDB version, operating system name, and other relevant details]

InfluxDB 0.13.0 from package on Ubuntu 14.04

The query engine interprets date-like strings in the WHERE clause into dates, even when they should stay strings. This renders string comparison operators non-functional and leads to confusing query returns.

Test data
[code]

So far, everyth

[2016-05-25 20:41] beckettsean commented on #6727
From https://groups.google.com/d/msgid/influxdb/1c0fbaeb-4c73-4e0a-af04-6bf96f581739%40googlegroups.com

[2016-05-25 20:45] beckettsean commented on #6727
@jsternberg @benbjohnson Another probable query bug. This one I'm pretty sure isn't operator error, but if so I welcome the education!

[2016-05-25 21:11] jwilder commented on #5208
@tehmaspc Can you log a new issue with more details?  Please include the full stack trace, version you are using, number series, number of shards, etc..

[2016-05-25 21:30] tehmaspc opened #6728 "InfluxDB 0.13.1 OOM on Simple Query"
We're running 0.13.0-1 and on a simple `select * cpu_value` query (collectd metrics) InfluxDB blows up w/ following error:

[code]

///

SHARDS:

[code]

///

ST

[code]

SERVER:

`Ubuntu 14.04.3 LTS / AWS c4.xlarge`

[2016-05-25 21:32] tehmaspc commented on #5208
@jwilder - sure! https://github.com/influxdata/influxdb/issues/6728

[2016-05-25 22:00] jwilder commented on #6728
This stack trace is from the Influx cli running out of memory when unmarshaling the json response.

[2016-05-25 22:08] tehmaspc commented on #6728
Yes. But it crashed the server. Same query on admin GUI - crashes influxd.

[2016-05-25 22:44] toddboom commented on #6728
@tehmaspc could you also send the stack trace from the server?

[2016-05-25 23:08] tehmaspc commented on #6728
`influxd.log`

[code]

[2016-05-26 01:58] jwilder commented on #6728
@jsternberg @joelegasse any thoughts on this?

[2016-05-26 02:24] vaibhavdobriyal commented on #6727
Thanks for support @beckettsean
Yes, this is not just for CLI; we were also able to replicate it via API.

Another observation: I tried appending date like fields with additional information like "1999-01-01" was appended with "1999-01-01a" still the behaviour is inconsistent. This also happens for long format like "1999-01-01 12:34:00".

[2016-05-26 03:56] joelegasse commented on #6728
@tehmaspc Are those traces from the same exact moment? The client shouldn't get any data when the server OOMs (the failure point is well before any bytes are written out for the response). If they are, can you create a [gist](https://gist.github.com) with more details (data directory size, series count, field keys, etc), reproduction steps, and the associated logs/traces?

The CLI will chunk the r

[2016-05-26 04:55] dalibort commented on #6717
I dropped about 30000 measurements (and there was no problem with influx cli) and then issued systemctl restart influxdb. It shut down near immediately and after it started all the dropped measurements are back.

The log file shows this:

[run] 2016/05/26 06:48:17 Signal received, initializing clean shutdown...
[run] 2016/05/26 06:48:17 Waiting for clean shutdown...
[run] 2016/05/26 06:48:17 secon

[2016-05-26 13:23] julienvienne commented on #4155
+1

[2016-05-26 13:58] tehmaspc commented on #6728
@joelegasse your response to @jwilder is the same conclusion I'm come to after playing around w/ InfluxDB for some time now and as of yesterday going through previous GitHub issues and noticing that other folks have had issues w/ InfluxDB and memory utilization. It takes to long to check for data when a particular series is large - so perhaps paging by default makes sense. But I'm not a database d

[2016-05-26 14:23] joelegasse commented on #6728
@tehmaspc Here's some discussion on limiting various aspects to prevent queries from consuming all the server's resources: #6024

The `max-memory` option was discussed and not implemented, as it would be definitely be complex change with many edge cases and pitfalls. Specifically, we would have to have some way to at least approximate the amount of memory allocated as the result of a given query,

[2016-05-26 15:13] joelegasse commented on #6727
This is a result of our [over-eager](https://github.com/influxdata/influxdb/blob/master/influxql/parser.go#L2380) parser trying to assign a date/time type before it has the context of where that value is in the query...

I hacked a quick delayed-evaluation that allows strings to be used, and then parsed as timestamps only if there are compared against `time`:

[code]

It probably broke another par