[2017-07-05 14:06] e-dard commented on #8500
@phemmer by any chance do you have the server logs from either of the above two `SIGQUIT`s?

[2017-07-05 14:12] phemmer commented on #8500
Unfortunately not as the logs have already rotated out (it's a personal box, and I don't permanently archive the logs).
I can however tell you that for a long time prior, and after the issue started, it was nothing but writes with 204 responses, and then writes with 500 responses. There weren't even any queries being executed around the time. It's possible there might have been something way in th

[2017-07-05 14:13] e-dard commented on #8500
OK no worries. Was the box under significant write load? Roughly how many writes per second do you think? And typically what would your batch sizes be?

[2017-07-05 14:38] phemmer commented on #8500
Average WPS is around 6. The writer flushes every 100ms, and when its buffer is full. Normal batch size is pretty small, probably less than 20 points. However once every 60 seconds a batch (or multiples if it can't fit in the write buffer, buffer size is 512KB) will come through that is about 4k points.

[2017-07-05 14:55] jpriebe commented on #6932
@jffifa - did you find another way to handle the delayed data situation?  I recently encountered this problem, where I'm inserting AWS CloudWatch metrics into an influxdb, and some of those metrics come in on a two- to three-minute delay (and not just sometimes; they are always delayed).

Without resampling, nothing gets written by the continuous queries.  But I worry that the extra resampling tha

[2017-07-05 17:35] jwilder commented on #8558
@phemmer Deletes of measurements and series are actually pretty expensive in TSM (and other log structured storage models).  A delete is actually a write of tombstone files because TSM files are immutable.  When a compaction occurs, the TSM files are rewritten to remove the deleted series.  Tombstone files require space and there is additional storage required during the compactions.

Deletes of w

[2017-07-05 17:50] wei-hai opened #8565 "[Feature request] Provide metric of points written per database and measurement in database internal"
__Proposal:__
In database `internal`, please provide metric of points written by database and measurement
__Current behavior:__
In database `internal`, there is only metric of points written by clusterID, hostname and nodeID
__Desired behavior:__
Provide metric so that we can use how many points are written into what database and measurement
__Use case:__
This is a good feature to monitor the traf

[2017-07-05 17:55] jwilder commented on #8544
Is any of your data in the future?  #8329 fixed the default `time < now()` which might be the issue you are seeing.

[2017-07-05 18:25] phemmer commented on #8565
By database:

[code]

[2017-07-05 18:34] jmvbxx commented on #8319
@pkittenis That may be the case. However, for better or for worse, more and more systems are moving to systemd and logs not being properly directed by default is something though I believe should be addressed.

[2017-07-05 21:03] Devon21 commented on #8538
Is there a workaround until this get fixed?

[2017-07-05 21:17] jackzampolin commented on #8522
@waltari2001 Would you mind posting this over on community.influxdata.com. That site is more for q&a while we try to keep Github just for issues.

[2017-07-05 21:17] #8522 closed

[2017-07-05 21:17] danielnelson commented on #8538
Can you try disabling the influxdb output in Telegraf and write only to a file output, and then check the output file for any corruption?

[2017-07-05 21:40] e-dard commented on #8548
Closed via #8550

[2017-07-05 21:40] #8548 closed

[2017-07-05 21:50] jwilder commented on #8559
Fixed via #8562

[2017-07-05 21:50] #8559 closed

[2017-07-05 22:03] jwilder commented on #8500
@phemmer What kind of disks do you have?  SSDs? HDD?  Can you run `iostat -xdz 1 30` when you are getting the timeouts?

Would you be able to test #8567, it _may_ fix the timeouts.

For the higher memory usage, if you can grab a memory profile via:

[code]

that might help identify what may be consuming more memory.

[2017-07-05 22:08] phemmer commented on #8500
Hybrid disks.
I don't think this is a disk issue. When it happens, influxdb stays stuck until I restart it. It does not recover own its own.

I'll see about reproducing this again (I downgraded back to 1.2.4 which does not have the issue), but probably not tonight. Maybe tomorrow.

[2017-07-05 22:14] jwilder commented on #8500
Can you elaborate on "Hybrid disks"?  What are the disks and how are they setup?  Are they RAIDed? Directly attached?

[2017-07-05 22:18] phemmer commented on #8500
Each disk is a combination of SSD & spinning. There's 2 of them in raid-1. Yes, direct attach.

[2017-07-06 00:40] jwilder commented on #8558
#8568 should reduce the size of tombstone files significantly which should resolve this issue.

[2017-07-06 01:52] dbason opened #8569 "Continous query mismatch when grouping by one week"
### Bug report

__System info:__ [Include InfluxDB version, operating system name, and other relevant details]
influxdb-1.2.4, CentOS 7.3

__Steps to reproduce:__

1. Create a continuous query with a group by period of either 1w or 7d
2. Check the downscaled data and note that it is missing data

__Expected behavior:__ [What you expected to happen]
The continuous query should run with a time range

[2017-07-06 10:26] daveselan commented on #8520
We have also seen this issue (running the latest nightly builds) and found exactly the same result when moving the time constraint to the inner SELECT. The query would run 30x slower!
The results are very consistant, doesn't seem to matter how or what we query.

** where time is in inner SELECT, runs in 16.51 seconds! **

[code]

** where time is in outer SELECT, runs in 0.360 seconds **

[code]

[2017-07-06 11:55] kiranmr commented on #5668
+1

[2017-07-06 11:56] mmrezaie commented on #3276
@RadoBuransky does your code work on the newer spark versions?

[2017-07-06 15:29] davemt opened #8571 "New tsi1 index and missing datapoints"
When new `tsi1` index is enabled, some datapoints submitted via HTTP POST go missing, despite being logged when http write-tracing is turned on. In our case these are submitted from the `Heapster` service on our Kubernetes cluster with influxdb set as `--sink`.

__System info:__

- InfluxDB version 1.3.0
- Running as container, official influxdb:1.3 docker image, in kubernetes AWS w/ mounted ext4

[2017-07-06 16:22] RadoBuransky commented on #3276
I have no idea to be honest.

On Thu, Jul 6, 2017 at 4:57 AM, Mohamad Rezaei <notifications@github.com>
wrote:

[2017-07-06 16:33] e-dard commented on #8500
@phemmer could you clarify something for us? Throughout all of the this ticket have you been running InfluxDB on the same HW (with the raid-1 hybrid drives), and could you also confirm:

  - if you've been building influxdb or using nightlies/releases.
  - if you have been building influxdb: with what version of Go?

I just want to get a better understanding of your environment. Cheers.

[2017-07-06 16:35] phemmer commented on #8500
Yes, same hardware.
I've been building myself. Go 1.8.1.

[2017-07-06 17:28] capaulson opened #8573 "Suddenly getting "authorization failed" messages for admin and users"
Version:
Connected to -------------:8086 version 1.2.4
InfluxDB shell version: 1.2.4

Steps to recreate:
In influx:

username: admin
password:

ERR: authorization failed

System hasn't been modified, no passwords have been changed. It just suddenly stopped authenticating. Any ideas on what went wrong? Hints on how to reset passwords?

[2017-07-06 18:11] andremiller commented on #8036
I'm also getting this error occasionally, and after a few days, no more data is written to InfluxDB. If I restart InfluxDB it works again for a few days and then stops receiving data until I restart it again.

[2017-07-06 18:43] gunnaraasen commented on #8556
InfluxDB v1.2.4 packages for Stretch have been added to the repository.

[2017-07-06 18:43] #8556 closed

[2017-07-06 20:51] danielnelson commented on #8538
@Devon21 Can you also try switching to use HTTP instead of UDP?

[2017-07-06 21:40] gabrieldp commented on #7909
I've just tried it on 1.3 and can confirm that it indeed works.

[2017-07-06 22:25] jsternberg commented on #7909
I'm going to close this. If you continue to have issues, please report them as a new issue.

[2017-07-06 22:25] #7909 closed

[2017-07-07 01:22] lou147 opened #8575 "On the issue of data aggregation"
I have some data that is automatically stored in the influxdb every minute, and I want to be able to calculate the hourly average, and the average of the day, and store a new measurement while generating the minute data.

My tags include name, my fields include pm10, pm25, i want to calculate the average of pm10 and pm25 with the same name.

Can i solve with influxdb?

[2017-07-07 01:35] jsternberg commented on #5958
The admin interface has been deprecated and removed. I am sorry we never addressed this, but I am going to close this since we are not going to work on it.

[2017-07-07 01:35] #5958 closed

[2017-07-07 02:13] #8575 closed

[2017-07-07 09:40] jgranstrom commented on #8440
@jwilder We are still having a lot of issues with this. We had this incident twice in two days the last two days. I am now running it without GlusterFS, and directly on a fast SSD to see if that is a factor. I will report back after a few days with the results. If there's anything else I can investigate I would be happy to hear it.

[2017-07-07 12:46] derbeneviv commented on #8036
+1 same for 1.2.4

[2017-07-07 13:16] daveselan commented on #8440
We haven't had the opportunity to role back yet. We are bringing a new server online next week, so one of these problematic servers will be downgraded then.

We have continued to see this problem at an increased frequency, probably now several influx hangs a day.

As a matter of interest, we have another almost identical setup that's been running fine for 2 months. The main setup differences are S

[2017-07-07 18:21] jwilder commented on #8544
#8576 may fix this.

[2017-07-07 18:24] jwilder commented on #7706
This might be fixed via #8576

[2017-07-07 19:51] jwilder commented on #8500
#8577 should fix the case where writer is block indefinitely on the `syncErr` channel.

[2017-07-07 20:19] jwilder commented on #8440
This sounds very similar to #8500 which we are fixing for 1.3.

If you are running a nightly or build based off of 1.3, it would really helpful to grab profiles when you see the hang:

[code]

In general, running with HDDs is not recommended.  You will not see the same performance as directly attached SSDs (which is the only configuration we recommend for production workloads).

[2017-07-07 20:32] jwilder commented on #8571
@benbjohnson Would #8539 fix this?  Looks like there is some escaping in the tags.

[2017-07-07 20:53] benbjohnson commented on #8571
@jwilder Yes, #8539 would likely fix the escaping issues on read. It should be saved to the index correctly.

[2017-07-07 21:42] jwilder commented on #8538
@Devon21 Can you enable?

[code]

It will dump out the raw write data to the logs.

[2017-07-07 21:47] jwilder commented on #8500
@phemmer All of the pending fixes are on the `1.3` branch and `master` now.  Would you be able to test off of `1.3` and see if the issue is resolved?

[2017-07-07 21:48] Devon21 commented on #8538
I did this and the logs have this now..

(end of log)
X^@A<CD><F7><A3><B9>^@ ^@^L^@^@^@^O^@^@^@^@^@^B^@^Hcpu^@^@^C^@^F4^@^@^D^@^Hcpu^@^@^E^@^Ksystem^@^@^F^@^O
^@^A^B^@^@^@^@^@^K8<BB>^@^H^@^L^VX^@A<CD><F7><94><BF>^@^C^@^F2^@^@^F^@^O^@^A^B^@^@^@^@^@^Kp/^@^H^@^L^VX^@A<CD><F7><C3>t^@^C^@^F1^@^@^E^@       wait^@^@^F^@^O^@^A^B^@^@^@^@^@^@^\<96>^@^H^@^L^VX^@A<CD><F7><B6>l^@^C^@^F7^@^@^E^@^Ksystem^@^@^F^@

[2017-07-07 21:53] jwilder commented on #8538
Ah.  I missed that you are using the `udp` input.  The setting I mentioned is for the HTTP plugin.

It looks like something is writing binary data to the UDP endpoint.  That plugin expects line protocol.

[2017-07-07 21:59] Devon21 commented on #8538
Are you talking about the plugin within Influxdb or Telegraf conf? The node that is sending traffic is using Telegraf. How would I stop Influxdb service from crashing?

[2017-07-07 22:04] jwilder commented on #8538
InfluxDB is is crashing because of bad input to the UDP plugin.  It expects text line protocol, but something binary is getting sent triggering a panic.  That is a bug as it should not be panicing and crashing.  We need to figure out _what_ it is sending so we can reproduce it and fix it.

The config setting I mentioned was for influxdb.

As a workaround, if you can switch telegraf to write to inf

[2017-07-07 22:34] Devon21 commented on #8538
OK, I switched.. now that the service is not crashing, I see about 15 measurements corrupted. What do you need from me?

Ex.
WY��f�if_errors
WY��P�loif_dropped
WY��scpucpu user�B
WY��(�0�7
WY��^)interface
docker0if_packets<�@��>
WY��K�loif_errors

[2017-07-08 02:38] jwilder commented on #8500
@stuartcarnie and I have found the cause for the initial deadlock on `Measurement` reported in the issue description.  We'll get a fix up for that as well.

[2017-07-08 02:49] jwilder commented on #8531
@andrei-mihaila Thanks for the repro steps.  #8579 should fix this.

[2017-07-08 03:09] phemmer commented on #8500
I might be able to tomorrow night. I'll be intermittently available to test things as starting yesterday I'm on vacation through next week. But that one should be really easy to test. It generally occurred within a few minutes of starting InfluxDB.

🎆  I'm eager to see that PR, as when I skimmed the code, I couldn't see any obvious explanation for it. Everywhere I could see a lock being taken, all

[2017-07-08 03:19] jwilder commented on #8500
It's here:  https://github.com/influxdata/influxdb/blob/master/tsdb/index/inmem/meta.go#L333

The RLock is not released.

[2017-07-08 03:41] phemmer commented on #8500
Ahha. And that makes sense why I'm able to trigger the issue so easily. I have InfluxDB hooked up to splunk, so splunk can query InfluxDB directly. Splunk is quite font of killing searches while they're in progress. I didn't even think of that atypical behavior.

[2017-07-08 21:34] adamrothman commented on #8551
I am experiencing the same issue (tried with both `influxdb:1.2` and `influxdb:1.3`). We restore the DB as part of building our container, like so:
[code]

The container is run like so:
[code]

It produces the following output (note that there is nothing about loading the restored files):
[code]

Listing databases results in the same thing as experienced by @edbernier:
[code]

While attempting to

[2017-07-09 02:58] k3gk3gk3g commented on #77
+1

[2017-07-09 08:09] Tsachi-Simplex opened #8581 "InfluxClient raises Errors during insert without context"
### Bug report
InfluxDBClient sometimes raises Exceptions on insert without data.
This makes it hard to debug issues and know whether they are on my end.
Using InfluxDBClient version 4.1.0.

__System info:__ Only Python client version is relevant - InfluxDBClient 4.1.0

__Steps to reproduce:__
Once in every ~500-1000 insert operations, I get an Error without a description / message / stack trace

[2017-07-09 17:51] mvadu commented on #8573
same here.. Trying with nightly..
[code]
giving me ` Invoke-WebRequest : {"error":"authorization failed"}`

[2017-07-10 01:42] mattwilmott commented on #7198
Agree with @johngilden,
monitoring more than a handful of hosts blows out the number of measurements collected, ie mysql, mongo, system, kafka etc etc. 10 plugins as mentioned is easily the average and in some cases its 2 or 3 times as many.

All we want is the ability to set the granularity per timeframe and it is not feasible today so as John mentioned we just set retention once to a 'safe perio

[2017-07-10 11:38] antonioaguilar commented on #8533
I'm actually seeing a similar issue after running influxdb for 14 hours. I will create a new bug report.

[2017-07-10 13:02] antonioaguilar opened #8582 "Influx 1.3 Internal Server Error 500 after 14 hours (running Docker + node-influx client)"
### Background

I wrote a simple [client](https://gist.github.com/antonioaguilar/cf16ef01cfb43800a1886f68aa7dfdc3) that uses the ```node-influx``` library to subscribe to data events coming from a NATS.io server, approximately between 1000 and 1500 clients generate those data events every 30 seconds.

I'm seeing the Internal Server Error (500) after pushing data to InfluxDB using this [client](htt

[2017-07-10 14:45] ahmedjouirou opened #8583 "STDDEV() problem on aggregated sum series"
Hi , i m using Grafana with influxdb . I generate queries to get data series . So i have multiple points in tine , first i have to regroup them by time (lets say 10m) while summing them , then i need to make a STDDEV on each group (i mean each sum during 10m). so here is my query :

**System info:**
  InfluxDB version: 1.2.4
  OS: Ubuntu 14.04
  Grafana version :  4.4.1

First try:
--------------

[2017-07-10 15:09] antonioaguilar commented on #8533
@phemmer I don't think it's the same issue as in #8500. In my case, my InfluxDB instance is still responsive, e.g. I can access the server and perform queries vi the CLI. I just can't post any data to it    anymore via my client or curl.

[2017-07-10 15:53] mkaesberger opened #8584 "DELETE does not delete all data on Alpine"
### Bug report

__System info:__

1.3 on Alpine Linux/Docker

__Steps to reproduce:__

1. insert data with unicode characters and random time
[code]
2. `select count(*) from "test"`
3. `delete from test`
4. `select count(*) from "test"`

__Expected behavior:__

all points are deleted

__Actual behavior:__

[code]

__Additional info:__

not reproducible with 1.2.4 and 1.3 on Windows

[2017-07-10 15:56] jwilder commented on #8584
This should be fixed via #8576

[2017-07-10 15:56] #8584 closed

[2017-07-10 16:26] #8500 closed

[2017-07-10 16:40] ryantxu commented on #8582
Does the same code/setup work with 1.2.4?

[2017-07-10 16:47] jwilder commented on #8582
It looks like you are hitting the deadlock fixed via #8577

[2017-07-10 16:51] #8531 closed

[2017-07-10 17:28] #8558 closed

[2017-07-10 17:30] antonioaguilar commented on #8582
@ryantxu I can run a test tonight using the influxdb 1.2.4 container image. I'm currently using the following Docker run command to launch influxdb:

[code]
Do you want me to pass any additional flags to facilitate debugging?

[2017-07-10 17:36] andrei-mihaila commented on #8531
Np, thanks for the fix! Hope it will be released soon.

[2017-07-10 19:29] danielnelson commented on #8538
If you remove the corrupted measurements do they return under the http client?

[2017-07-10 21:36] alex-tan commented on #8544
@jwilder yes we have future data. Pretty confident that's the issue at this point.

I'll close the issue for now unless something changes.

Thanks!

[2017-07-10 21:36] #8544 closed

[2017-07-10 21:58] antonioaguilar commented on #8582
@ryantxu @jwilder I'm glad to announce that I have been running the same test using influxdb version 1.2.4 for about 6 hours without any write fails. It is possible that the issue that I experienced with failed writes could be specific to influxdb version 1.3. I will leave the test running for the night and will report more conclusive data tomorrow.

[2017-07-10 22:07] dbason commented on #8569
Hi, any comments on this?  It's causing a few issues for our downsampling use case

[2017-07-11 01:25] danielnelson commented on #8538
This could be caused by https://github.com/influxdata/telegraf/issues/3004.

[2017-07-11 06:42] djdjoko opened #8586 "Calculating stats with valid gaps in timeseries data [Feature Request]"
__Proposal:__
In order for Influx framework to become really useful for financial time series, treatment of market opening and closing hours as well as holidays would need to be available. Lets say I want to calculate the 1h moving average at 0815 and the market is open between 0800 to 1630. The data used to calculate the 1h moving average at 0815 should be data from 1545 to 1630 (previous busines

[2017-07-11 08:57] antonioaguilar commented on #8582
I'm marking this issue as closed, as it seems to be only specific to influxdb version 1.3 and already investigated (fixed) via #8577.

[2017-07-11 08:57] #8582 closed

[2017-07-11 09:10] daveselan commented on #8440
This hanging "deadlock" has gone away after we stopped updates to one of our databases...

So, we have two databases on each of our servers; one being very small compared to the main one. Updates for both were staggered to remove any overlap. On Friday I stopped updates to the smaller database and the server has been stable for 4 days, which hasn't been the case up to this point. I can give more d

[2017-07-11 10:22] elvishsu66 commented on #1819
It would be really nice to have SORDER feature unless someone can come up an alternative solution

[2017-07-11 11:56] mbuccini commented on #6751
Hello,

Is this issue being worked on? We have just found out that SLIMIT is unpredictable even when having only 1 tag (and they have different values).

The following query

`select status from status group by * slimit 1`

 returns:

[code]

[2017-07-11 12:24] Transrian commented on #5668
+1

[2017-07-11 16:42] jwilder commented on #8533
Can you test with the current nightly or a build off of the `1.3` branch?  This issue sounds similar to #8500 which should be resolved with recent fixes.

[2017-07-11 16:57] claytondukes commented on #8134
Hi, we are seeing this exact issue as well.
[code]

[2017-07-11 17:35] joaogbcravo commented on #5668
+1

[2017-07-11 17:51] jwilder commented on #8134
This should be fixed in the current nightlies/1.3 via 4aa78383d11dc327dc48f70a29a81ae352d5b546

[2017-07-11 17:51] #8134 closed

[2017-07-11 21:58] Devon21 commented on #8538
Once I switched to HTTP and removed the corrupt measurements, Influxdb is running  smooth.

[2017-07-11 22:20] consense commented on #4794
is there any update on the roadmap position for this?

[2017-07-12 00:15] danielnelson opened #8587 "Backslash in measurement name does not produce expected measurements"
### Bug report

While testing escaping in line protocol I noticed an odd corner cases with backslashes in the measurement name.  Based on [the latest docs](https://docs.influxdata.com/influxdb/v1.2/write_protocols/line_protocol_reference/#special-characters) the only values you can escape in the measurement name are spaces and commas, but it seems that in some cases you can escape a double backsla

[2017-07-12 05:03] jwilder commented on #8440
@daveselan @jgranstrom The nightlies and `1.3` branch should have fixes for this now.

@jgranstrom Can you start the process with `GOTRACEBACK=system influxd` and when/if it hangs, send a `sigquit` signal for force it to crash?

[2017-07-12 07:26] zj861222 opened #8588 "influxdb crash and be killed for the fatal error:out of memory"
[attach.zip](https://github.com/influxdata/influxdb/files/1141308/attach.zip)
Actually,influxdb run normaly for about one month,but today the influxdb crash again,and be killed .i check the log file, there is a fatal error :out of memory .

then when i restart the influx db ,it crash again qunickly,and can not work any more.

#### System info:
[  InfluxDB shell version: 1.0.2,
  Running on Linux v

[2017-07-12 12:49] bbczeuz opened #8589 "[bug] SHOW FIELD KEYS missing results"
### Bug report

__System info:__
[code]
- Kapacitor 1.3.1
- Telegraf v1.3.1 (git: release-1.3 f93615672b02a41d9bc867bd92bf31c1d777989b)

__Steps to reproduce:__

1. I use telegraf's snmp plugin to store interface metrics in DB `telegraf`, measurement `interface` (Retention policy `raw`)
2. InfluxDB streams this data to Kapacitor; Kapacitor performs some calculations and stores the results in measu

[2017-07-12 12:52] bbczeuz commented on #8589
__Additional info__
- We have tags and fields. Displaying tags works:
[code]
- There are 1.8M rows:
[code]

[2017-07-12 13:01] bbczeuz opened #8590 "[bug] influx cli case sensitivity"
### Bug report

__System info:__ InfluxDB 1.2.4 on Centos7

__Steps to reproduce:__

1. Start `influx` cli client
2. Enter `format column`
3. Enter `FORMAT column` (fails; same as above, just keyword capitalized)
4. Enter `format json` (works)
5. Enter `FORMAT json` (fails)
6. Enter `format JSON`  (works)

__Expected behavior:__
- All should work; all keywords shall be handled case-insensitive (mo

[2017-07-12 13:09] bbczeuz commented on #8545
Have you tried using a cron-triggered script that performs the query?
i.e something like:
[code]
Not sure if this more performant than CQ. I had to use this solution to handle some cases in a previous setup.

[2017-07-12 13:21] e-dard commented on #8538
@Devon21 glad to hear it. This issue will stay open because the parser should never panic. We still need to find a reproducer for this issue so we can fix the parser.

[2017-07-12 15:29] jwilder commented on #8587
Backslashes in the line protocol are problematic and some cases are not fixable without breaking changes.  See #6008 #5231 #4865 #5407

[2017-07-12 16:29] aseigneurin opened #8593 "Shell ignores extra parameters"
### Feature Request

__Proposal:__ trigger an error when launching the shell with extra parameters (arguments, not options).

__Current behavior:__ when you launch the shell, arguments are simply ignored. This can be misleading.

Each database has its own CLI, and you could forget whether you need to pass the hostname to connect to as an option or as an argument. If you pass the hostname as an arg

[2017-07-12 21:37] emluque commented on #6563
Hi, I've been working on this the last couple of days. I have arrived at a solution using the context package.  There was a small change on the client code to add a function "QueryWithContext". The solution is working
(main changes can be seen on my fork: https://github.com/emluque/influxdb/commit/d353e41aa8232c6a6c20a2b8bb87eec40bac8b6f )but I'm still writing some tests, the whole thing should be

[2017-07-13 00:50] orz-- commented on #7801
I see
https://github.com/influxdata/influxdb/pull/8591
IMHO, Value's update is good news.
I need stored MySQL's Performance Schema & Oracle's Dictionary's value.

[2017-07-13 16:45] Nopik commented on #8524
Anyone? :(

[2017-07-13 20:56] randomeleven commented on #8049
Had a similar issue until I realized I am sending UNIX timestamps in seconds while explicitly specifying precision as milliseconds in the url.
I am using a python client to send data and I had :
[code]
Multiplied 1499978956 by 1000 to convert to millis and data started showing in influxdb.
Client is on a Debian 8 machine though, so it's possible that the issue is caused by something else in your c

[2017-07-14 14:02] mark-rushakoff commented on #8467
Curl needs to be run from your shell, not from the `influx` prompt.

The command you pasted works correctly:

[code]

Corresponding influxdb log lines:

[code]

[2017-07-14 14:02] #8467 closed

[2017-07-14 14:06] mark-rushakoff commented on #8517
We no longer support influxdb 0.11.

[2017-07-14 14:06] #8517 closed

[2017-07-14 14:12] mark-rushakoff commented on #8581
Sounds like this bug belongs on the https://github.com/influxdata/influxdb-python issue tracker.

[2017-07-14 14:12] #8581 closed

[2017-07-14 18:34] rbetts commented on #8569
@jsternberg has traced this to: https://github.com/influxdata/influxdb/blob/master/services/continuous_querier/service.go#L351

We incorrectly expected this to `Truncate()` to a Thursday but it truncates to the golfing zero time start of week -- which is Monday. We will have to change our code to fix this bad assumption. This playground shows the actual result: https://play.golang.org/p/WAzIHdUcxo

[2017-07-14 19:05] J8299 opened #8594 "InfluxDB Write Performance"
**Problem Statement:**
  I am having trouble getting InfluxDB to keeping up with my write requests.

**Problem Experienced Detail:**
  I seem to be missing subsequent requests for the next 3-5 minutes as the 1st request "catches up" - I assume the DB is locking out later requests until it finishes with the first work loads
  The Grafana dashboard looks like an electrocardiograph with peaks every 5

[2017-07-14 22:43] jrbury commented on #8588
Based on the fact that it goes out of memory on startup leads me to believe that you may have tag cardinality that is too high, and the server is going OOM when trying to build the tag index.

Are you able to temporarily increase the memory of the VM? If so and you can get it started you can try running this query to see your Cardinality

[code]

[2017-07-14 23:16] ckatsulis commented on #3904
+1

[2017-07-15 05:36] mark-rushakoff commented on #8551
@edbernier in the screenshot – which is extremely difficult to read; please don't submit screenshots when you can copy and paste text – it appears that you are running `influx` to check the databases, followed by `influxd restore`, followed by `influx` again to check the databases a second time. The help for `influxd restore`, and [the docs on restore](https://docs.influxdata.com/influxdb/v1.2/adm

[2017-07-15 06:32] adamrothman commented on #8551
@mark-rushakoff No, the image is built separately. I built it immediately before posting my comment, using the Dockerfile posted. At the time of writing, 1.3.0 was the latest (this appears to still be the case).

To be certain, I just pulled the latest `influxdb:1.3` – apparently a newer version than what I was using previously. This latest version has image ID `e1b5eda429c3`. I rebuilt the contai

[2017-07-15 18:25] mark-rushakoff opened #8597 "Unit test failure on master with Go 1.9beta2"
I tried running the unit tests on master as of 4244d0e0536be53aab18160cd57e59190d57a693 and there was one unit test failure:

[code]

[2017-07-15 19:37] mark-rushakoff commented on #8589
I suspect there's some funny interaction between the CLI's `use` statement, `SHOW FIELD KEYS`, and the default retention policy. Do you get the correct result if you specify the fully qualified measurement, i.e. `SHOW FIELD KEYS FROM my_db.my_rp.my_measurement`?

[2017-07-15 19:58] mark-rushakoff commented on #8524
Seems like a reasonable feature request to me. I can't speak to how it compares to our other current priorities.

[2017-07-15 20:01] mark-rushakoff commented on #8509
This sounds like a bug in the implementation for `fill(linear)`. We shouldn't allow ±∞ as an output value in that code path.

[2017-07-15 20:09] mark-rushakoff commented on #8458
I'm guessing it was a permissions problem. I'm closing this due to inactivity.

[2017-07-15 20:09] #8458 closed

[2017-07-15 20:11] mark-rushakoff commented on #8484
@tcloaa would you mind taking this question to https://community.influxdata.com ?

[2017-07-15 20:11] #8484 closed

[2017-07-16 06:21] mark-rushakoff commented on #8551
I wrote [a community post](https://gist.github.com/mark-rushakoff/36b4491f97b8781198da36752ecd949b) that includes an explanation of how to use backup and restore inside Docker.

[2017-07-17 06:53] mdbartos opened #8598 "Cannot back up database starting with underscore character"
### Bug report

__System info:__
Influxdb version (Remote): 1.0.0
Operating system name (Remote): Ubuntu, 14.04.4 LTS (AWS EC2 instance)
Influxdb version (Local): 1.3.0
Operating system name (Local): macOS

__Steps to reproduce:__
Start influxd on remote machine
Start influxd on local machine
Run backup service on local machine to backup remote database
```influxd backup -database _TEST -host <hos

[2017-07-17 08:02] skladd commented on #5943
I'm also hitting this issue trying to calculate the distance traveled from odometer values:
`SELECT DIFFERENCE(LAST("odometer")) FROM "gps" WHERE time [...] GROUP BY time(1d)`
The first distance is missing if there is a data gap at the beginning of the time range.
My workaround now is to to query the "real" last value separately, query the odometer values and perform the calculation outside of Inf

[2017-07-17 12:27] dnbllglm opened #8599 "The error of using influxdb in windows container."
Hello everyone:
When I was using influxdb in windows container and setting volume for data of influxdb,I find I can't run influxdb server correctly and the error is "slice bounds out of range".
This is my dockerfile to build a influxdb image.

#### Dockerfile
[code]

#### influxdb.conf
There is influxd.exe and influxdb.conf in .\influxdb directory as the dockerfile mentioned.
I put meta, data and

[2017-07-17 12:59] Baiteman commented on #7758
I also think this is a valuable feature. I came into an environment in which me predecessor scattered some influxdb instances across the various system that I wanted to unify in order to be able to just maintain one set of RPs, QRs and version.
However reading this just put a dead halt on my undertaking as I have to transfer the collected data so far.

[2017-07-17 14:43] bbczeuz commented on #8589
Yes, that could act as a workaround. Manually selecting an RP in the SHOW FIELD KEYS query displays the correct fields.
[code]
(the middle two results are empty)

But this is still quite surprising:
[code]
always shows the field keys of the series in the default RP (not the one currently selected using `USE my_db.my_rp`)
(it actually doesn't even display the measurements not existing in the defaul

[2017-07-17 14:59] 25ar commented on #8594
I have the same issue.
Help please to resolve it

[2017-07-17 15:21] #8599 closed

[2017-07-17 20:43] jsternberg opened #8601 "Time zones do not work correctly in continuous queries"
### Bug report

__System info:__ InfluxDB 1.3

__Steps to reproduce:__

1. Create a continuous query using a time zone with `GROUP BY time(1d)`

__Expected behavior:__ The time zone should influence when the CQ gets run so you get the data in the correct time zone.

__Actual behavior:__ It sets the start and end time to be a day in UTC, but the query still properly accounts for the time zone so it

[2017-07-17 20:44] jsternberg commented on #8601
This is similar to #8569. The symptoms are the same even if the reason is different.

[2017-07-17 21:43] #8569 closed

[2017-07-18 07:41] tardoe commented on #5668
+1

[2017-07-18 10:59] matyunin commented on #3991
+1

[2017-07-18 13:13] Punkoivan opened #8604 "Drop/delete measurements with specified tag keys, not tag values"
### Feature Request

Due to problems with network our data have been corrupted - [some issue with telegraf](https://community.influxdata.com/t/influxdb-corrupted-measurements-created/459)
And we have a lot of these corrupted measurements in influxdb, for example:
[code]
and if execute
`show series`
also a lot of corrupted data, one series as example:
`xml,hostnamg=hostname.com,jost=hostname.com`
A

[2017-07-18 14:03] stuartcarnie commented on #8597
Good find. Tests should be using `(time.Time).Equal` for (in)equality comparisons

[2017-07-18 16:38] howardtopher opened #8605 "math parser error"
### Bug report

__System info:__
CentOS 6.9 x64
InfluxDB 1.2.4 (from yum repository)

__Steps to reproduce:__

1. query:
[code]

__Expected behavior:__
Expected that the calculation would succeed

__Actual behavior:__
Parsing error:
[code]

__Additional info:__
After asking about this on the Influx user forums, it was noted that adding a space between the + and 32 fixed this issue.  I tried that o

[2017-07-18 18:22] davemt commented on #8571
I noticed changelog did not include information about release of the fix, #8539. Is it expected it will make it into 1.3.1 release (and if so is there some rough idea of when this will be out)?

[2017-07-18 23:53] mark-rushakoff commented on #8604
I'll leave this issue open as a feature request, but one workaround is to use tag key not equal to empty string:

[code]

[2017-07-19 04:02] SamuelToh commented on #8509
@jsternberg @mark-rushakoff
thanks for getting back to us.
I can see that this issue has now been officially marked as an influxDB bug.

Unfortunately for us this is a show stopper. :sob: I hope you don't mind me asking this but Is there a typical time frame which we will expect this to be fixed?

I understand this is an open source project and I shouldn't be asking this sort of question. Just cur

[2017-07-19 05:06] jsternberg commented on #8605
Looks like this will be fixed in 1.3 with #8174. Can you try this out and if it doesn't work, please comment on the issue and I'll reopen to look at it again. Thanks.

[2017-07-19 05:06] #8605 closed

[2017-07-19 06:02] jsternberg opened #8607 "Time zones do not shift correctly from normal to DST with GROUP BY time(2h)"
### Bug report

__System info:__ InfluxDB 1.3.1

__Steps to reproduce:__

1. Insert some data around the shift from normal to DST.
2. Query using a grouping that causes one of the buckets to fall exactly on the switch.

The easiest way to do step 2 is to use `GROUP BY time(2h)` since the DST switch happens at 2 AM in the US. In other time zones where the boundary may fall on a different area, othe

[2017-07-19 08:17] joseppla commented on #5668
+1

[2017-07-19 15:13] rbetts commented on #8509
@SamuelToh I added this to the storage and query team backlog. We will groom it this week or next and determine a timeframe for a fix.

Thanks for bringing it to our attention.

[2017-07-19 16:01] jbiel commented on #5668
In order to keep e-mail and other feed noise down, it's appreciated if people add a thumbs up reaction to the first post and subscribe to the issue instead of adding a +1 comment.

[2017-07-19 16:51] Transrian commented on #5668
I think I got something that can interest you
I needed to do that with Grafana, and finaly succeed, with a little 'trick', see below

![graphana_template](https://user-images.githubusercontent.com/12981067/28379090-c6a0a072-6cb2-11e7-9705-bd8cebb2d810.PNG)

I use regex to make a where into a query, it seems like to work into influx too !

![influx where with show tag](https://user-images.githubuse

[2017-07-19 22:33] timhallinflux opened #8611 "Feature Request: Allow the client to specify the X-Request-Id header for correlating requests across services"
### Feature Request

__Proposal:__
InfluxDB logs requests with a correlation Id and returns the correlation Id to the client in the Request-Id HTTP header for correlating requests and responses.

For example, an HTTP GET on http://localhost:8086/ping results in a log message like the following:

[httpd] 172.17.0.1 - - [19/Jul/2017:18:38:08 +0000] "GET /ping HTTP/1.1" 204 0 "-" "Mozilla/5.0 (Macint

[2017-07-20 00:15] SamuelToh commented on #8509
@rbetts Awesome news! Thanks a lot for this.

[2017-07-20 06:07] kushagraSahu commented on #2074
+1

[2017-07-20 08:05] svetlina-scaleforce commented on #2074
+1

[2017-07-20 12:22] Punkoivan commented on #8604
Thanks, @mark-rushakoff for workaround and  hope that we can see this feature in some of the next releases, if someone else interesting in.

Ivan

[2017-07-20 13:38] sbsadsfx commented on #6723
+1

[2017-07-20 15:06] rbetts commented on #8571
@davemt https://github.com/influxdata/influxdb/pull/8540/ merges the fix for this issue to the 1.3 GA release (1.3.1).

[2017-07-20 15:08] #8571 closed

[2017-07-20 18:40] alek-p commented on #8582
I'm seeing this on 1.2.4. Writing 2 metrics with ~10 different points each every 2 seconds.
`InfluxDB shell version: 1.2.4`
[code]

[2017-07-20 21:37] #8563 closed

[2017-07-20 23:07] pauldix opened #8614 "Drop database freezes while index compactions running"
1. With `tsi1` enabled, write a bunch of data with many unique series into database `foo`
2. Run `drop database foo` while TSI compactions are still running

The drop database command looks like it freezes.

[2017-07-21 09:16] lesinigo commented on #7801
IMHO I'd not consider conversion to float64 as even a workaround because you loose the guarantee to read back the same numbers you put in. There are cases where you can accept the approximation but that could be unacceptable in other cases. Also as someone already said we are just talking about 64bit integers and not about creating some new and esoteric never-seen-before-in-computer-science featur

[2017-07-21 09:30] Deriul commented on #1819
I agree. The lack of that feature is the only reason why we have to use graphite+influx.

[2017-07-21 12:55] vgt commented on #6290
Not sure if this related, but I have a similar problem to what is described here https://github.com/grafana/grafana/issues/5987.
As far as I can tell, POST for queries is supported, but the query itself must always be part of the URI. Are there plans to use the body for carrying the query instead? I tried finding a features request / issue for this, but have not found anything.
Any hint is highly

[2017-07-21 16:06] stevenh commented on #7801
This just bit us when moving from the php client to the golang one where we had typed our data correctly (memory as uint64) and resulted it in not working at all as it was trying to insert strings into already integer fields.

Seems like a significant oversight to me.

[2017-07-21 16:15] #8525 closed

[2017-07-21 17:26] steveseeger commented on #3991
+1.. couldn't believe this didn't make 1.0 priority. Even a low performance solution. It requires setting the relative timezone, is that the complexity issue?  I assumed this would be here before switching over our platform from MySQL.  Have to change to loop and query per month and manually construct results..

[2017-07-21 18:39] jsternberg commented on #8499
I'm going to close this since there's no resolution possible for it. I do not believe this to be related to #7972. Thank you for reporting this issue and if you have any further trouble, please feel free to reach out to our [community site](https://community.influxdata.com).

[2017-07-21 18:39] #8499 closed

[2017-07-21 18:40] jsternberg commented on #8601
Fixed via #8606.

[2017-07-21 18:40] #8601 closed

[2017-07-21 19:04] greggwon commented on #2074
Aggregation becomes a "display detail", because you are now visualizing.  The functional definition as shown in the sample query is not my point.  My point is that there should be a common time reference that is automatically known for all data.  Data should not float around in varied Timezones and then have to be coerced to another in random fashion.  Instead, there should be a single base timezo

[2017-07-21 19:21] jsternberg commented on #2074
I will be locking this issue. Litigating the result of a closed issue from two years ago is unfair to the people subscribed to the issue and I think it is unfair to involve others in the discussion.

With that said, I am happy to share the rationale for why the issue was resolved in the way it was resolved. But, the proper location for that question is on our [community](https://community.influxda

[2017-07-21 20:47] jwilder commented on #8614
I have also seen this when a large TSM compactions is running.  From some stack traces, the `drop database` statement gets blocked waiting for the TSM compactions to be interrupted.  TSM compactions are currently only interruptible when a new TSM file is finished writing which could take a while if it needs to write out a 2GB file first.  We would need to push the interrupt further down into the a

[2017-07-21 22:19] toni-moreno commented on #7801
@lesinigo IMHO store  direct counter values in one database is not a natural human way to store information.

We assume we are working with snmp counters and communication devices

Can you tell me what exactly means that you have right now a value of 18,446,744,073,709,551,000 in the ifHCInOctets  counter in one interface of a router ?

With this information you have nothing about the state of the

[2017-07-22 14:06] johncarmack1984 opened #8618 "Too many open files InfluxDB v1.3.1, macOS 10.12 Sierra, Python v3.6"
### Bug report

__System info: InfluxDB v1.3.1 (homebrew install) & macOS 10 Sierra (most recent version), Python v3.6

__Steps to reproduce:__

1. Collate Quandl wiki (available here: https://www.quandl.com/product/WIKIP/WIKI/PRICES-Quandl-End-Of-Day-Stocks-Info) into Pandas DataFrame
[code]
2. Pick one stock's returns and attempt to insert into database

[code]
__Expected behavior: insertion of

[2017-07-24 01:24] zj861222 commented on #8588
@jrbury  you mean the tags cardinality is too high?the memory can not increase anymore,so i delete the data and it can run normally.  actually everytime where i delete  the data,it can run normally for about two month ,so i doubt it is caused by the data increased .the influxdb can create a job to periodic delete the data ?or could you give me a suggest how to avoid  the OOM?

[2017-07-24 10:37] e-dard commented on #8618
Hi @johncarmack1984,

Looking at that shard ID (`20973`) it's possible you have many shards on your system, which would lead to many open files. You may not have your `ulimit` set high enough.

Would you be able to provide some further details? Specifically:

[code]

You can drag and drop all the files as an issue comment. If you're concerned about exposing stats, shards or diagnostics then you ca

[2017-07-24 11:49] mvadu commented on #8573
Update on my situation,

1. I needed to re-generate the config file on the target platform (Windows in my test)
2. It does not like to have a non ASCII letter in password. (e.g. `influx§`)

[code]

[2017-07-24 12:26] mvadu opened #8620 "Non ascii password fails to authenticate"
### Bug report

__System info:__ Latest nightly, Windows test system, but expecting similar behavior in Linux as well

__Steps to reproduce:__

1. Create an admin user containing non-ascii password (e.g. `influx§`)
2. Try to authenticate with CLI or Url basic auth

[code]

__Expected behavior:__ Either the password must be rejected while creating user (or while setting password) or it should be pr

[2017-07-24 17:24] johncarmack1984 commented on #8618
Oddly enough, the issue went away. I didn't even change anything in the code, just for some reason uninstalling and reinstalling for the third time did the trick.

Thanks for asking after the problem. :)

[2017-07-24 17:32] johncarmack1984 commented on #8618
Whoops. Spoke too soon. Now I'm getting a server timeout, but way further into the process.

Here's the requested info:

[diagnostics.txt](https://github.com/influxdata/influxdb/files/1170638/diagnostics.txt)
[shards.txt](https://github.com/influxdata/influxdb/files/1170641/shards.txt)
[stats.txt](https://github.com/influxdata/influxdb/files/1170639/stats.txt)
[vars.txt](https://github.com/influxd

[2017-07-24 17:52] jsternberg opened #8622 "Derivative and other transform functions do not correctly exclude binary expressions"
### Bug report

__System info:__ InfluxDB 1.3.1

__Steps to reproduce:__

1. Insert two or more points into the database.
[code]

2. Execute the query.

[code]

__Expected behavior:__ An error would be returned.

__Actual behavior:__ The values were added and then the derivative was taken.

[2017-07-24 17:59] jsternberg commented on #8622
This is an interesting bug in particular because we want this functionality at some point, but the behavior shouldn't have been introduced as an accident. I'm unsure if the added values are actually added correctly since this doesn't use auxiliary iterators internally so it's unlikely that they would always be joined correctly.

Since I'm not sure if the binary expressions even work correctly and

[2017-07-24 19:53] wei-hai opened #8623 "[Bug] Grafana doesn't load data when setting max-select-buckets to non-zero value"
__System info:__
InfluxDB: 1.3.1
OS: Mac OS

__Steps to reproduce:__
influxdb.conf
[code]

__Expected behavior:__
Grafana shall display data
__Actual behavior:__
Grafana shows `no data points`

`max-select-buckets = 0`
<img width="1279" alt="screen shot 2017-07-24 at 12 51 55 pm" src="https://user-images.githubusercontent.com/2936715/28541773-053336aa-706f-11e7-897c-8878d5041e5e.png">

`max-select

[2017-07-24 22:25] jsternberg commented on #8560
This question is more appropriate for our [community website](https://community.influxdata.com).

[2017-07-24 22:25] #8560 closed

[2017-07-25 08:48] ghost opened #8625 "Missing data about continuous query"
I use telegraf for collecting apache's logs via logparse plugin. I want to use CQ to aggregate metrics by status code. So I create some CQs as follow:

[code]

[code]

[code]

I found an issue is that the count_2xx > count_all, It's so weird.

![8952d5ea-e0ba-4478-9f9c-6a2bcbbe228a](https://user-images.githubusercontent.com/30432058/28563568-eea4528a-7158-11e7-975b-a452b10f2f25.png)

[2017-07-25 08:48] timhallinflux opened #8626 "influx_inspect doesn't report dumptsi as one of the commands when using -h"
### Bug report

__System info:__ InfluxDB 1.3.0

__Steps to reproduce:__

influx_inspect -h
[code]
__Expected behavior:__
I expected to see dumptsi listed as one of the commands because it is documented as one of the commands.

__Actual behavior:__ dumptsi is not listed.

[2017-07-25 16:29] moxie2207 opened #8627 "Feature request: if statement"
Hi there,

I have a feature request for a new function in Influx. I'd like you to add an if statement into a select clause. For example, I'd like to be able to do something along the following lines:

select sum(if(key = 'a', value, 0)) as a_value,sum(if(key = 'b', value, 0)) as b_value,time from measure where key = 'a' or key = 'b' group by time(1h);

At the moment the only way I can get results

[2017-07-25 17:17] desa commented on #8509
@SamuelToh Can you verify that you're still experiencing this issue on 1.3 of InfluxDB? I have been unable to reproduce the issue locally

Here are the steps I followed

## Create database and insert data
[code]

## Issue curl command with the appropriate query
And pipe the results to `jq`
[code]

Which yields

[code]

[2017-07-25 17:50] theeorangefruit opened #8628 "OOM when querying for first timestamp"
### Bug report

__System info:__ latest influxdb 1.3.1 running in docker

When running the query `select * from sensors_devicefeed order by time asc limit 1` influxdb runs out of memory and dies (exit code 137). When I run the same query with `order by time desc` it succeeds, and when I select only a relevant field (`value`) instead of `*` it succeeds.

I tried `select * from sensors_devicefeed wh

[2017-07-25 17:51] e-dard commented on #8628
Thanks for filing the ticket @theeorangefruit

[2017-07-26 09:30] singhimayank opened #8632 "Influxdb is crashing multiple times with a panic error"
panic: sync: WaitGroup is reused before previous Wait has returned

goroutine 223101 [running]:
panic(0xa5e100, 0xc86e7c8420)
	/usr/local/go/src/runtime/panic.go:481 +0x3e6
sync.(*WaitGroup).Wait(0xc82054c9c0)
	/usr/local/go/src/sync/waitgroup.go:129 +0x114
github.com/influxdata/influxdb/tsdb/engine/tsm1.(*Engine).SetCompactionsEnabled(0xc82054c9a0, 0xa28900)
	/root/go/src/github.com/influxdata/in

[2017-07-26 09:31] singhimayank commented on #8632
@nathanielc can you please check and let me know what can be done for this issue.

[2017-07-26 10:19] e-dard commented on #8632
@singhimayank hi, can you please provide the version of Influx you're using? Is it `1.3.1`?

Also, if you have any more information about operations leading up to the panic that would be great. Ideally an InfluxDB log including the stacktrace from the panic would help.

Thanks!

[2017-07-26 10:23] e-dard opened #8633 "Data race on map access/write"
Tracking this community thread: https://community.influxdata.com/t/influxdb-1-3-1-index-version-tsi1-fatal-error/1762

Summary so far is that there appears to be a concurrent map access in TSI when interacting with tags. I'll take a look this morning and see if I can spot it.

[2017-07-26 10:57] e-dard commented on #8618
@johncarmack1984

You have around 2,400 shards on your system. Each shard needs one (or usually more) file descriptors open at any given time.

An immediate bandaid would be to increase the number of file descriptors your OS will allow you to have open (currently it's 2,560 which is probably why you're hitting that and Influx is panicking).

You can usually set that by doing something like `ulimit

[2017-07-26 11:02] e-dard commented on #8632
@singhimayank based on line numbers in your stacktrace it looks like you might be running `v1.3.0` or earlier. The latest release is `v1.3.1` and it contains some fixes around compactions, which appears to be where your issues are. Can you update and then report back if it resolves things for you?

[2017-07-26 12:27] e-dard commented on #8633
I took a look today but couldn't see anything obvious. I've requested more information in the form of logs/stack traces via the community thread.

[2017-07-26 14:00] singhimayank commented on #8632
using influxdb 1.0.2 version.

[2017-07-26 14:17] matti opened #8634 "high default on max-values-per-tag considered harmful"
https://docs.influxdata.com/influxdb/v1.3/administration/config/#max-values-per-tag-100000

I kind of understand why this has been limited, but having this high limit causes users to learn about this limit at potentially very late stage..

[2017-07-26 14:40] jwilder commented on #8632
This was fixed as part of https://github.com/influxdata/influxdb/pull/7165 in 1.1.

[2017-07-26 14:40] #8632 closed

[2017-07-26 16:58] DJDaveMark commented on #8307
I believe this bug is related to the one I described over on the community forum:
https://community.influxdata.com/t/selecting-both-mean-percentiles-produces-non-deterministic-results/1705/2

**Dummy data**
[code]
**Query**
`select sum(value), percentile(value, 75) from cpu group by host`

_(the sum function can be replaced with mean/median/mode/percentile and the query still wont work)_

which in

[2017-07-26 17:50] gunnaraasen commented on #8489
The Telegraf and other TICK packages should now be available for zesty on the repo.

[2017-07-26 17:50] #8489 closed

[2017-07-27 01:36] kogent opened #8637 "Add support for TLS configuration"
### Feature Request

__Proposal:__ Support for exposing crypto/tls options in config

__Current behavior:__ When setting up https default values from crypto/tls are used which includes weaker encryption TLS versions 1.0, 1.1 & 3DES ciphers.  See nmap ssl-enum-ciphers scan below:

    PORT     STATE SERVICE
    8086/tcp open  d-s-n
    | ssl-enum-ciphers:
    |   TLSv1.0:
    |     ciphers:
    |

[2017-07-27 11:42] e-dard commented on #8634
Hi @matti,

We try and keep GitHub Issues for actionable bug reports or feature requests.
Certainly consider creating a post on the [Community site](https://community.influxdata.com) though, where it can be discussed, and if necessary, changes proposed for a future default setting.

Thanks.

[2017-07-27 11:42] #8634 closed

[2017-07-27 11:47] tbe opened #8638 "influx_inspect export failes with "no such file or directory""
### Bug report

__System info:__
- InfluxDB 1.3.1
- Debian Jessie

__Steps to reproduce:__

1. run `influx_inspect export`

__Expected behavior:__
The data is completely exported according to the given command line options

__Actual behavior:__
The export fails with
`writing out tsm file data for telegraf/autogen...export: open /space/data/influxdb/data/telegraf/autogen/32/000001076-000000002.tsm:

[2017-07-27 12:12] Theofilos-Chamalis opened #8639 "Timezone bug"
Greetings,

and thank you all for developing such an amazing product as Influxdb!

I want to report a bug that I ve noticed with the new 1.3.1 version of InfluxDB regarding the new and useful Timezone feature you added. The bug is that when I query my database to get me some sensor readings that happened within a time range, for example at the date: 26-07-2017 and I add the new tz('Europe/Athens')

[2017-07-27 12:14] e-dard opened #8640 "SHOW TAG VALUES slower in 1.3"
One of the realities of refactoring the `tsdb.Store` to accommodate the TSI index in the `1.3` release is that we had to move away from a shared database index (shared across shards) and have a single index per shard.

Unfortunately, because we now have to inspect every shard's index to gather relevant values, the performance of the `SHOW TAG VALUES` meta query has slowed down quite a bit.

Rough

[2017-07-27 12:17] Ikkerens commented on #6723
+1

[2017-07-27 12:52] e-dard commented on #8633
@monfla00 can you confirm you have hit the map panic with both `tsi` and `inmem`?

In terms of downgrading, you should be able to downgrade to `1.2.4` but be aware that shards that were using the TSI index will still have the `index` folder within them. The folder will be ignored though in `1.2.4` so this shouldn't affect the database.

Having said all that, if you could get a reproducer with the

[2017-07-27 13:52] jwilder commented on #8640
Is this slow with inmem too? Inmem is still a single shared index in 1.3.

[2017-07-27 14:01] jsternberg commented on #8639
It looks like the times are parsed in UTC so you get a start and end time that are in UTC.

For this use case, it can be fixed because the method of parsing date literals doesn't have time zone information. For parsing anything with times, you often have to include the time zone offsets in the time because RFC3339 format contains time zone information.

I'll fix this so time literals without time

[2017-07-27 14:22] Theofilos-Chamalis commented on #8639
Thank you very much for the quick response and all the work on the TICK stack,

A section for the Timezone handling/usage in the docs would be very useful indeed as this is used by many companies that have customers across the world.

Have a good day.

[2017-07-27 14:47] e-dard commented on #8640
Yes it affects both. `inmem` acts like a shared index but it's not. It's an index per shard with a shim over them. Therefore with these meta queries we have to iterate over shards and merge results. Prior to this we used to be able to just iterate through the single in-memory index.

[2017-07-27 16:02] sebito91 commented on #8639
This is something we've seen too, and get away with it at visualization time (set grafana to local tz). Not ideal, but works.

Having this actual thing offset in the query language itself is awesome, so a big :+1: from me. We did something along these lines in the logparser telegraf plugin:

https://github.com/influxdata/telegraf/pull/2882

[2017-07-27 18:05] #8607 closed

[2017-07-27 18:14] Theofilos-Chamalis commented on #8639
Yes, Grafana has that useful feature and I use it too, but alongside Grafana Dashboards I have also made an Android app that visualizes our data and it has issues there, so I will definitely need it for this.

I will try to find a temporary workaround for it until it gets fixed.

[2017-07-27 18:18] natejgardner opened #8643 "Proposal: shorten syntax for querying many attribute or tag values"
__Current behavior:__

Currently, the only way to query a large number of tag values or attributes is:

[code]
etc.
__Desired behavior:__

I would prefer to query with the following syntax or similar:

[code]

__Use case:__

When I have to query 12,000 or more of these numbers from an application and I'm building up these queries on the client side, I don't want to transmit `"itemNo"` over and ove

[2017-07-27 18:56] jwilder commented on #8643
You can use a regex to accomplish the same thing:

[code]

If the regex matches the form `/^X|Y|Z$/` it gets optimized to look up the values in the index directly as opposed to scanning with the regex.

[2017-07-27 19:11] anarwal27 opened #8644 "Deployment of influxdb docker container inside a kube doesnt work"
I use influxdb docker file to create a docker and store in our internal registry. After that it is supposed to get deployed in our kubernetes cluster. The process goes through but right after deployment job finishes the container is rolled back and container is removed. No idea how to resolve this. Influxdb container shows following logs in the small time it is running:

`[I] 2017-07-27T19:01:20Z

[2017-07-27 21:45] jrbury commented on #8588
Yes, because Influx has to build an in memory index for all tags having high tag cardinality can cause the box to go OOM. If clearing the database fixes it then it is most likely your issue. You can create a retention policy on the database which will automatically delete data outside the retention window.

If you want to modify the default retention policy you can use this query, by default the a

[2017-07-27 22:08] jwilder commented on #8588
@zj861222 It's crashing while trying to allocate a slice when compacting a string series.  1.0.2 is pretty old and you may be hitting a bug that was already fixed.  I'd suggest upgrading to the latest release.

[2017-07-28 02:55] chywwq commented on #3991
+1

[2017-07-28 07:14] zj861222 commented on #8588
@jrbury   actually i have set the retention policy ,

name	duration	shardGroupDuration	replicaN	default
autogen	72h0m0s		24h0m0s			1		true

[2017-07-28 07:15] zj861222 commented on #8588
@jwilder thank you very much ,i will have a try to update to the latest version.

[2017-07-28 08:32] ABarnett99 opened #8649 "Influx 'drop series' only removes data not the series"
Previously I have been able to drop a series from influx and this would remove all the data points plus the series itself. Now I find that the data points are removed, but the series is not, i.e.....

     key
     ---
     nfs,fs=memuser,host=hfs02,type=capacity

     key
     ---
     nfs,fs=memuser,host=hfs02,type=capacity

This function seems to work properly on my other influx servers running

[2017-07-28 09:18] ChristianKniep opened #8650 "Out of group percentile when querying aggregate function"
### Bug report

__System info:__ InfluxDB v1.2.4, qnib/plain-influxdb (alpine container)

__Steps to reproduce:__

In order to recreate the issue, create a docker-compose file like that:
[code]
And fire up the stack...

[code]

__Expected behavior:__ [What you expected to happen]

All queried aggregates should be grouped into one result per group-set. Two result rows should occur.
When limiting tw

[2017-07-28 11:31] calder commented on #5930
+1 wish point for histogram()

This is pretty crucial for us, and is really a "killer feature" for any timeseries database.

[2017-07-28 11:35] calder commented on #739
There's a decent amount of support for this over in #5930. This is a pretty critical feature for timeseries databases, even if other open source ones don't have it yet.

[2017-07-28 16:50] jwilder commented on #8649
@ABarnett99 If you restart does the series disappear?

[2017-07-28 17:35] #8639 closed

[2017-07-29 00:53] monfla00 commented on #8633
@e-dard, yes, I can confirm to have observed the issue 3 times on 2 separate instances. 2 times with the tsi1 setting and once with the inmem setting. The trace looks similar in both scenarios.
I have sent you an email with the trace to your community address . It seems you have not received it. Please let me know. Thanks, Flavio

[2017-07-29 05:45] natejgardner commented on #8643
This really shortens the query (and I'm so glad to learn arbitrary regex can be passed in), but another benefit of the array syntax (not to mention its similarity to standard SQL) is the ability to pass in a standard data type. From my client side app it'd look like this:
[code]

Otherwise, I'd have to write a special function to generate the regex string, which is nearly as bad as generating `and

[2017-07-30 12:05] JeffAbrahamson commented on #3904
+1

[2017-07-31 01:19] shanquanqiang opened #8653 "Influxdb error:post http://xxxx:8086/write?consistency=xxxx: dial tcp xxx:8086: connect:cannot assign requested address"
Influxdb error:post http://xxxx:8086/write?consistency=xxxx: dial tcp xxx:8086: connect:cannot assign requested address
how to fix this problem

[2017-07-31 06:43] SamuelToh commented on #8509
@desa Sorry for getting back to you late.

Seems like this is no longer an issue in the latest 1.3.x release. Hooray!
I'll close this.

[2017-07-31 06:43] #8509 closed

[2017-07-31 07:04] ABarnett99 commented on #8649
I have restarted the influx service several times. I also rebooted the server this morning. Unfortunately I am still unable to remove the series.

[2017-07-31 10:48] e-dard commented on #8653
Hi! We try and keep GitHub Issues for actionable bug reports or feature requests. Please post general questions on the InfluxData community site: https://community.influxdata.com

Thanks.

[2017-07-31 10:48] #8653 closed

[2017-07-31 13:14] mahammer opened #8654 "Identical continuous queries not running on multiple databases"
### Bug report

__System info:__
Ubuntu Server 16.04.2 LTS, GNU/Linux 4.4.0-79-generic x86_64
package influxdb 0.10.0+dfsg1-1

__Steps to reproduce:__
I have multiple DBs all of the same type on different VPS. I have a "create script" where I replace {DATABASE} with the name I need and it does:
`create database "{DATABASE}"`
`create retention policy "1h" on "{DATABASE}" duration 1h replication 1 d

[2017-07-31 13:51] vhdmsm commented on #8363
+1

[2017-08-01 10:35] adrianlzt opened #8656 "Log timeout queries"
### Feature Request

Similar to #6429, will be useful to log which queries have crossed the ``query-timeout`` parameter and killed.

[2017-08-01 10:59] akuma commented on #8307
+1

[2017-08-01 13:52] lblt commented on #7530
Hello!

I have a simple use case on that issue, where the implementation of OR would be very useful.

We are studying availability rates of devices, and in the calculation we need frequently to remove uninteresting periods of time. We use influxDB as a database, and queries are made from our python script.
Example: calculation of availability between 2017-05-20 and 2017-06-20, but the devices was

[2017-08-01 16:31] pmagos00 commented on #8640
Guys, these issue is kicking my ass ... cause  we use grafana templates ... and a lot of SHOW TAG sentences, please fix soon.

[2017-08-01 19:22] garceri commented on #1161
What's the status on this? i want a simple (truthy!) healtcheck that i can use from my AWS ELB. /status doesn't seem to return any meaningful "status"

[2017-08-02 01:38] whaon opened #8658 "influxdb shutdown and output a lot of logs"
the influxdb process is down,and the log is like below:
[code]

[2017-08-02 01:39] whaon commented on #8658
[code]

[2017-08-02 01:51] #7512 closed

[2017-08-02 03:19] shanquanqiang opened #8659 "I want to create a lot of CQ when start influxdb, is there any good idea instand of using HTTP API"
How to create a lot of CQ(time range is different) when start influxdb, may be init in influxdb.conf?

[2017-08-02 03:41] rhuddleston commented on #8533
It happened again today. I went ahead and upgraded to 1.3.1 and will let you know if the issue occurs again.

@e-dard tens of writes per second, we are not continually querying the DB

I tried hitting /debug/pprof/all but after 5 minutes and no data I gave up and killed it. Same with /debug/vars, neither would return when in this state

[2017-08-02 13:02] R-e-M commented on #8213
+1
What do think about also adding a third choice being the middle of the time interval ? For example for plotting purpose, if I plot sum of values over days with GROUP BY time(), the point would be centered in the middle of the day, and not at the beginning or the end.

[2017-08-02 16:28] jrbury commented on #4098
@corylanou I was looking at tackling `influxdb/services/httpd` it looks like all of the currently exported Structs/functions without comments are only used within the httpd package. Would you prefer them to be changed to private? It should be pretty straight forward to go either way I just wanted to see if there was a preference.

[2017-08-02 18:12] e-dard commented on #8640
@pmagos00 I have a general fix for this in #8660. We should be putting it into a `1.3.2` release at some point soon.

[2017-08-02 19:10] corylanou commented on #4098
@jrbury I'm no longer with Influx but hopefully someone else can give you direction on the issue from the team.

[2017-08-02 21:44] Renato-Correa commented on #6070
Very good LycanStack!!

[2017-08-02 23:16] jrbury commented on #4098
@corylanou Thanks! Maybe @e-dard would know and/or point me towards who would

[2017-08-03 09:06] jerryjxj commented on #8633
I also ran into this issue constantly.

fatal error: concurrent map read and map write
fatal error: concurrent map iteration and map write

goroutine 573455 [running]:
runtime.throw(0xb8d339, 0x21)
	/usr/local/go/src/runtime/panic.go:596 +0x95 fp=0xc68542cbf8 sp=0xc68542cbd8
runtime.mapaccess1_faststr(0xaabac0, 0xc58b7fcde0, 0xc5b0974b40, 0xb8, 0xc612edc498)
	/usr/local/go/src/runtime/hashmap_fast

[2017-08-03 16:26] #8640 closed

[2017-08-04 04:17] AndrewClarke commented on #6070
The windows build should use HOMEPATH (trust MS to use something slightly different from the 45 year old UNIX convention). In the meantime, I am "shimming" my environment with set HOME=%HOMEPATH% - much simpler than playing with %~ business.

[2017-08-04 09:50] shanquanqiang opened #8662 "How to customize measurement name with backreferencing"
CREATE CONTINUOUS QUERY "cq_basic_br" ON "transportation"
BEGIN
  SELECT mean(*) INTO "downsampled_transportation"."autogen".:MEASUREMENT FROM /.*/ GROUP BY time(30m),*
END

how to customize measurement  name in this cq

[2017-08-04 09:51] #8659 closed

[2017-08-04 11:21] e-dard commented on #4098
@jrbury can you give me some example struct/methods you're talking about?

[2017-08-04 13:48] e-dard opened #8663 "Ensure all appropriate unit tests and benchmarks run on both indexes"
Since the in-memory index isn't going anywhere for at least a release cycle or two, we should ensure that all relevant unit tests run on both the `inmem` and `tsi1` index.

Relevant packages/types to test both indexes with would include:

 - `tests`
 - `tsdb.Store`
 - `tsdb.Shard`

[2017-08-04 15:55] jwilder commented on #8663
I added TSI builder for circle in https://github.com/influxdata/influxdb/pull/8617

[2017-08-04 17:16] jrbury commented on #4098
For example in httpd/requests.go there is

[code]

Currently, neither of these structs are accessed outside of the httpd package, so I could make them private, but if they were designed with the intent to be able to access them, then I'll just comment them.

[2017-08-04 17:23] jrbury commented on #8662
The INTO clause specifies the destination measurement name. So if you wanted to downsample everything in the source measurement `transportation` to `downsampled_transportation` you would do

[code]

[2017-08-04 17:42] allen13 commented on #8594
I've ran into this problem in the past with UDP just dropping data. The biggest problem is that since it's UDP, you don't know when something bad happens. I've found it's more performant and 100% reliable to just use batched http requests.

https://docs.influxdata.com/influxdb/v1.3/guides/writing_data/#writing-multiple-points

[2017-08-04 17:55] jsternberg commented on #4098
I think before we continue working on this, we need a way to make sure that packages that have been made golintable stay golinted. That usually means the build has to fail.

So I would say if you want to start somewhere, updating the build system so that it runs golint on a subset of directories that have been golinted already is the first thing that has to be done before we bother accepting more

[2017-08-05 01:35] shanquanqiang commented on #8662
If there is only one measurement ,it's ok,and i know how to write the CQ,but i want to downsample everything in the source database which has thousands measurements into  the destination database ,and i have to write thousands CQs.

:MEASUREMENT means destination measurements have the same name as the source measurements,and i want destination measurements name have the same suffix compare to the

[2017-08-06 05:55] phemmer opened #8664 "error compacting TSM files ... no such file or directory"
### Bug report

__System info:__ [Include InfluxDB version, operating system name, and other relevant details]
InfluxDB 1.2.4 & f5345fb

__Steps to reproduce:__

1. run influxdb

__Expected behavior:__ [What you expected to happen]
No errors

__Actual behavior:__ [What actually happened]
[code]
__Additional info:__ [Include gist of relevant config, logs, etc.]

This has happened to me twice now, o

[2017-08-06 18:19] phemmer commented on #8664
Happened a few more times today. The last time I the deleted file was no longer held open, so I couldn't recover it. Ended up bouncing influxdb to make the error go away.

[2017-08-06 18:24] phemmer commented on #8664
Nevermind. It looks like this is a BTRFS bug :-(

[2017-08-06 18:24] #8664 closed

[2017-08-07 13:28] artburkart opened #8665 "Possible Recursive Query Bug"
### Directions
I opened a discussion on the [InfluxDB Community Site](https://community.influxdata.com/t/write-failed-for-shard-field-type-conflict-service-write/1887), but no one has responded. I think my question might fall under the category of actionable, so I'll try here. Please feel free to close if it's the wrong place.

### Bug report

__System info:__
[code]

[code]

__Steps to reproduce:

[2017-08-07 13:35] yellowpattern opened #8666 "bad data returned by SELECT query on time series"
### Directions
System info: Influxdb 1.3.2, CentOS 6.6
Installation: Backend for Grafana 4.4, fed by collectd 5.5.3

In Grafana, I have a query something like this:

SELECT non_negative_derivative(sum("value"), 1m) FROM "A" WHERE "host" =~ /^$host$/ AND "instance" = 'X' AND "type" = 'Y' AND "type_instance" =~ /^$Z$/ AND time > now() - 6h GROUP BY time(2m), "type_instance"

And the data comes back

[2017-08-07 15:58] bishop20012 opened #8667 "um"
### Directions
_GitHub Issues are reserved for actionable bug reports and feature requests._
_General questions should be sent to the [InfluxDB Community Site](https://community.influxdata.com)._

_Before opening an issue, search for similar bug reports or feature requests on GitHub Issues._
_If no similar issue can be found, fill out either the "Bug Report" or the "Feature Request" section below.

[2017-08-07 16:13] phemmer commented on #8666
You have a gap in your data:
[code]

You're using the `derivative` transformation, which calculates based on elapsed time. Meaning inconsistent time will screw it up.

[2017-08-07 20:27] caniszczyk opened #8668 "Consider switching WTFPL dependency"
It would be great if you can use another toml library since WTFPL is not a OSI approve license which can cause issues with adoption:  https://github.com/chanezon/toml#about-this-fork

We recommend switching to this fork: https://github.com/chanezon/toml

[2017-08-08 00:12] phemmer opened #8670 "File descriptor leak"
### Bug report

__System info:__ [Include InfluxDB version, operating system name, and other relevant details]
Influxdb 1.2.4
Linux

__Steps to reproduce:__

1. run influxdb
2. ???

I am working with a large number of retention policies (approx 250), but only 6 retention policies are being written to at any given time, and only 1 read from any given time.

__Expected behavior:__ [What you expected

[2017-08-08 00:36] dandv commented on #7850
Didn't get any help [on the group](https://groups.google.com/forum/#!searchin/influxdb/Too$20many$20levels$20of$20symbolic$20links%7Csort:relevance/influxdb/a5_v_s1rCGc/Gr0f6-riAwAJ).

The inability to set influx to run at boot is pretty critical IMO, to consider this a bug,

[2017-08-08 02:21] #8667 closed

[2017-08-08 02:25] jsternberg commented on #8665
This was fixed in 1.2.1. Related to #7919.

[2017-08-08 02:25] #8665 closed

[2017-08-08 02:26] jsternberg commented on #8665
And my apologies about the forum. Thank you for reporting this. This is definitely the appropriate place to ask for help if you see something like this.

[2017-08-08 05:21] Eric-aihua opened #8671 "Variety of errors leading to influxdb service crashes in latest 1.3.2"
### Bug report
_System info:

InfluxDB Verison:   version 1.3.2, branch 1.3, commit 742b9cb3d74ff1be4aff45d69ee7c9ba66c02565
OS:  Ubuntu 14.04.5 LTS（Desktop）
Uname:  3.13.0-125-generic #174-Ubuntu SMP Mon Jul 10 18:51:24 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

__Steps to reproduce:__

1. There is a script that has been generating data
2. There are several chronograf browser windows in query data.

[2017-08-08 08:32] jontejj commented on #2014
@pauldix
For

SELECT mean("75-percentile") * mean("count") FROM /^.*DbMapper.*$/ WHERE ~! /^size.*$/ AND time > now() - 7d GROUP BY time(5m) fill(null)
--

 {
  "error": "error parsing query: found ~, expected identifier, string, number, bool at line 1, char 74",
  "message": "error parsing query: found ~, expected identifier, string, number, bool at line 1, char 74"
}

How to specify the name of

[2017-08-08 11:52] e-dard commented on #8633
@monfla00 @jerryjxj could you upgrade to `1.3.2`, which has some fixes around `SHOW TAG VALUES` and see if you're still being affected by this issue?

[2017-08-08 13:34] #8644 closed

[2017-08-08 14:11] kainoj commented on #3760
It seems that update is on the way but I found this nested query:
[code]
where `sensor` is a tag I want to count and `temperature` is float value associated with the tag.

It looks weird but it works :laughing:

[2017-08-08 17:08] rbetts commented on #8360
I’m content to leave this unfixed on 1.2 given the scope of changes to the sub-query implementation between 1.2 and 1.3. We’ve been advising users with subquery issues to move to 1.3 for performance reasons as well.

[2017-08-08 17:32] jwilder commented on #8670
What does `ulimit -n` report?

[2017-08-08 17:39] jsternberg opened #8672 "No results when adding two aggregates using group by time, fill none, and order descending"
### Bug report

__System info:__ InfluxDB 1.3.x and older

__Steps to reproduce:__

1. Insert points into two fields within the database with some points having a value for both fields and some only having one.
2. Use a query with group by time, fill none, and order by descending.

Example code:

[code]

The query used:

[code]

__Expected behavior:__ It outputs what `ORDER BY ASC` does, but backw

[2017-08-08 18:22] phemmer commented on #8670
Should be 1024 (don't have access to the machine right now, but that was the FD count when the errors started occurring).

[2017-08-08 18:25] jwilder commented on #8670
That's really low.  Our packages default the open file limit to 65536. See https://github.com/influxdata/influxdb/blob/f7c686dbefbf116f79493739f3a9f6e26ef351b5/scripts/init.sh#L53

[2017-08-08 22:56] szymic1 commented on #77
+1

[2017-08-08 23:17] desa commented on #8672
@jsternberg Whats the exact query that shows the issue?

[2017-08-09 03:33] lwhile opened #8675 "When influxdb will release v1.4"
I want a version that fix bug of #8525 for use it to my production :)

[CHANGELOG](https://github.com/influxdata/influxdb/blob/master/CHANGELOG.md)

[2017-08-09 06:31] eric3zhao opened #8676 "Why specify the database in a CQ statement"
I have a measurement named "m1" in database "db1", and I want to create a CQ to write the results to another measurement named “m2” in database “db2”.
[code]
both of the statement can fulfill my needs, so why not change the syntax to
[code]

[2017-08-09 08:06] skladd opened #8677 "[BUG] Backup stopped working after upgrade to 1.3.2"
After yesterday's upgrade to version 1.3.2 (from 1.3.1 via Debian repo), backup fails with this error message:

`influxd backup -database telegraf /tmp/influxbackup`

[code]
Version: 1.3.2
OS: Debian jessie on x86_64

[2017-08-09 09:19] skladd commented on #8677
On another server, where influxdb was installed much later (thus a more recent version), backup still works after the upgrade.

[2017-08-09 15:42] nargiza-sarkulova opened #8678 "Error: fields not supported in WHERE clause during deletion"
### Bug report

__System info:__
OS: Ubuntu 16.10
InfluxDB 1.3.1 & 1.3.2 (pre-built package)

__Steps to reproduce:__
1. `curl -i http://localhost:8086/query -u root:root --data-urlencode "q=CREATE DATABASE mydb"`
2. `curl -i -XPOST 'http://localhost:8086/write?db=mydb' -u root:root --data-binary 'temperature,instrument_id=1 value=25 1422568543702900257'`
3. `DELETE FROM temperature WHERE instrume

[2017-08-09 16:14] joezhoujinjing opened #8679 "Out of memory issue"
### Directions
Very similar to https://github.com/influxdata/influxdb/issues/8434, it crashes very frequently recently. I was running in a 8GB aws instance (which could be the reason.) I'm providing more information here.
### Bug report
[code]
__System info:__ [Include InfluxDB version, operating system name, and other relevant details]
1.2.4, ubuntu 14.04

__Steps to reproduce:__

1. [First Step]

[2017-08-09 16:15] joezhoujinjing commented on #8679
Is it because the server is running in pressure, or there can be a potential memory leakage somewhere?

[2017-08-09 17:26] mvadu commented on #8620
Non Issue, Windows uses non utf-8 code page by default, and it spoiled the `invoke-webrequest` and influx commands.  `invoke-webrequest` can be fixed with `-ContentType "application/x-www-form-urlencoded; charset=utf-8"`

[2017-08-09 17:26] #8620 closed

[2017-08-09 19:52] jsternberg commented on #8672
I updated the comment above with the query I used.

[2017-08-09 22:33] ckatsulis commented on #6891
+1

[2017-08-10 06:27] DaRoli commented on #5793
Please reconsider the close issue decision:
How can I get the min(time) and max(time) if I query a time range with grouping, e.g. `GROUP BY time(1d)`?
The query result will always use startOfDay as returned timestamp of the daily aggregated entries, thus I have no possibility to know the time of my first and last item within the aggregation.

[2017-08-10 07:38] skladd commented on #8677
I was able to successfully perform the backup after downgrading to 1.3.1-1 (from deb file luckily still in apt cache) and manually restarting influxdb daemon.

The failing influxdb instance was originally installed back in 2016, version 1.0.0:
[code]

[2017-08-10 09:44] shanquanqiang opened #8683 "Is"

[2017-08-10 10:27] duvidcz commented on #8677
I have same problem with windows version 1.3.2 -1

[2017-08-10 11:33] #8683 closed

[2017-08-10 11:51] dennissehalic commented on #8670
ulimit -n will only give you the per process soft limit, which a process is allowed to change up to the hard limit (ulimit -Hn) if it needs to. Using lsof to count actual open files is hard because it will show you a lot of other things as well, hard to filter. Better if you use "ls -la /proc/$pid/fd | wc -l" and you can also easily see which files are opened.

[2017-08-10 11:57] e-dard commented on #8678
Hi @nargiza-sarkulova,

Can you double check your repro steps? I followed your steps with `1.3.2` but was unable to reproduce. The delete didn't complain at all.

[2017-08-10 11:59] e-dard commented on #8679
@joezhoujinjing could you attach the results from gathering the profiles please? The `profiles.tar.gz` and `vars.txt` files.

[2017-08-10 12:00] e-dard commented on #8676
Hi! We try and keep GitHub Issues for actionable bug reports or feature requests. Please post general questions on the InfluxData community site: https://community.influxdata.com

Thanks.

[2017-08-10 12:00] #8676 closed

[2017-08-10 12:00] shanquanqiang opened #8684 "how to customize all measurements name when use a function with a wildcard (*) and INTO query’s backreferencing syntax to automatically downsample data from all measurements and numerical fields in a database."
CREATE CONTINUOUS QUERY "cq_basic_br" ON "transportation"
BEGIN
  SELECT mean(*) INTO "downsampled_transportation"."autogen".‘$1_sss’ FROM /.*/ GROUP BY time(30m),*
END

I want to customize all measurements name  ,maybe there is some way like that instand of :MEASUREMENT  ?

[2017-08-10 12:04] e-dard commented on #8662
Hi! We try and keep GitHub Issues for actionable bug reports or feature requests. Please post general questions on the InfluxData community site: https://community.influxdata.com

Thanks.

[2017-08-10 12:04] #8662 closed

[2017-08-10 12:26] e-dard commented on #8684
Hi! We try and keep GitHub Issues for actionable bug reports or feature requests. Please post general questions on the InfluxData community site: https://community.influxdata.com

Thanks.

[2017-08-10 12:26] #8684 closed

[2017-08-10 12:44] nargiza-sarkulova commented on #8678
Hi @e-dard,

I tried again with the same result. I also tried to turn off new engine `tsi1` as enabling auth and that are only changes I made to config file. I don't know what else could affect us having different outputs. Any suggestions?

[2017-08-10 13:47] kmonsoor commented on #5668
for Grafana, I have used the regex to filter out the noise from the fetched tag-values in Templating.

for example, to get "host" names, i used this query for template:
`SHOW TAG VALUES FROM "netdata.system.cpu.system" WITH KEY = "host"`

Now, for filtering, I used regex like `/^operations/` to get only host-names with "operations". It's no way a replacement for OP's requested feature, rather just

[2017-08-10 15:12] e-dard commented on #8678
@nargiza-sarkulova FYI - you can get around this issue by using the `inmem` index rather than `tsi1`.

[2017-08-10 15:23] nargiza-sarkulova commented on #8678
@e-dard Sorry for not being clear about using `tsi1`. I'll use `inmem` for now. Thanks for looking into it!

[2017-08-10 15:39] michele commented on #7629
I'm having the same problem here: I imported 5 days worth of data (from 2017-08-06 to 2017-08-10) and no matter if I user `influx -import` or do it through the go client, all the data is compressed in a single day:

[code]

The db was created with this query:

[code]

Timestamps are with nano second precision and for the import file were passed to `Sprintf` using this: `r.StartedAt.UnixNano()` whe

[2017-08-10 17:19] ftdgeri commented on #4452
I am very new with influxdb.  and I am trying to install the influxdb 1.3.2 in the windows. but the http://localhost:8086 doesn't work.  Could anyone give some idea what I should change in the config file? so confused.

[2017-08-10 19:05] codylewandowski commented on #8677
We have ~10 databases we just upgraded to 1.3.2-1 today that we are now seeing the same issue on.

[2017-08-11 01:01] steverweber commented on #8598
related.
https://github.com/influxdata/influxdb/issues/7642

[2017-08-11 01:03] steverweber commented on #7332
related:
https://github.com/influxdata/influxdb/issues/6011

[2017-08-11 01:05] steverweber commented on #7642
related:
https://github.com/influxdata/influxdb/issues/6011

[2017-08-11 02:41] monfla00 commented on #8633
@e-dard, I have deployed 1.3.2 yesterday and it has been running for nearly 24hrs without the issue having occured so far. Seems to performance improvement decreased the likelihood of the race condition to appear. I will monitor for a few days more. Thanks.

[2017-08-11 02:42] monfla00 commented on #8633
@e-dard, I have deployed 1.3.2 yesterday and it has been running for nearly 24hrs without the issue having occurred so far. Seems the performance improvement decreased the likelihood of the race condition to appear. I will monitor for a few days more and update further. Thanks.

[2017-08-11 07:03] allenbunny opened #8687 "8083 port not working"
8083 works fine for quit a long time.
but today, I found the admin interface not working...8083

restart influx serveral times, not working

how to start up the admin interface manually?

[code]

[2017-08-11 09:55] MayukhSobo opened #8688 "Restore InfluxDB using only TSM file"
Hello,

   I made a blunder. I tried to restore my Infuxdb from another server into my AWS server without taking a backup and my old data got deleted. Now when I am looking into the /data/autogen directory I am able to see all the tsm files. But some how that database is not showing up in the InfluxDB. Is there any way to restore all the data from TSM file?

[2017-08-11 11:51] e-dard commented on #8633
@monfla00 I'm pleased to hear that. I'm going to close this issue, but feel free to reopen if you hit the race again.

[2017-08-11 11:51] #8633 closed

[2017-08-11 12:23] pskuza commented on #8687
It was removed in 1.3.0

https://github.com/influxdata/influxdb/blob/master/CHANGELOG.md#v130-2017-06-21

[2017-08-11 12:25] MayukhSobo commented on #8688
This is a problem that some of the influxDB support people also didn't have..at least I could not find. The point is that if we can restore the database if the meta files are messed up. Because cross system backup and restore only merges the tsm files but replaces the meta files. Now if your meta files are messed up, you can't get data even if you have all your TSM files intact. But there is a sol

[2017-08-11 12:25] #8688 closed

[2017-08-11 13:56] marcofl commented on #8677
same issue here:
[code]
downgrade to 1.3.1 solved the issue.

looks like the fix from https://github.com/influxdata/influxdb/pull/8378/commits somehow got reverted

[2017-08-11 14:02] jbourke opened #8689 "Error 'field type conflict' while starting InfluxDB"
### Bug report

__System info:__
Centos7
InfluxDB 1.2.0 wrote the shards
InfluxDB 1.3.2 trying to open the shards

We had been running Influx 1.2.0 and started experiencing some crashes around an issue fixed in 1.2.1 which related to subrequests causing recursion.  Out of this came the need to upgrade, and we moved to 1.3.2.  During our crashes, we had been forced to delete the most recent shard d

[2017-08-11 15:13] jwilder commented on #8689
That error is occurring because you have somehow managed to get a shard that is storing two different field types for the same field (e.g. `cpu value=0` and `cpu value=0i` `float64` vs `int64`).  Field types can be different across shards, but must be consistent within a shard.  You shouldn't be able to get into this state, but somehow you have which would be a bug.

There are two things you said

[2017-08-11 18:27] xPaw opened #8690 "Query with time < now() produces negative timestamps and null data"
InfluxDB 1.3.2 on Debian 9.

This query worked as I expect it to (only return existing data and fill between first and last points) in 1.2.x, but now it starts with completely odd negative timestamp (like -9223372036) which breaks my stuff entirely.

Was this an expected change, as I don't see anything particular in the changelog.

The full query is: `SELECT time, MAX(value) FROM concurrent_player

[2017-08-12 09:45] JodeZer commented on #8687
Was it removed due to security? Or some other reasons?

[2017-08-12 10:37] jaapz commented on #8687
They have a different product (Chronograf) which was duplicating the admin interface's functionality.

[2017-08-12 14:43] yellowpattern opened #8692 "[Feature Request] http receiver for collectd"
The collectd metric receiver is UDP. By design this means that metrics can be lost either on the network or locally on the host. The unfortunate part of this is that not all of influxdb's functions work well when data goes missing (i.e. due to lost packets.)

To provide better reliability it would be fantastic if influxdb could act as a receiver for the "write_http" plugin in collectd.

[2017-08-12 14:57] yellowpattern commented on #6878
+1 for this feature. Matter of fact, I thought "fill(previous)" and "fill(linear)" would do the job already.

[2017-08-13 14:25] ckatsulis opened #8693 "[Bug] Select from aggregated sub-query not working as intended with multiple aggregations"
### Bug report

__System info:__
InfluxDB shell version: 1.2.4
CentOS Linux release 7.3.1611 (Core)

__Expected behavior:__
This statement works fine:
[code]
[code]
I would expect to change the query by adding one additional aggregate column on the inner select and have that also rolled up into a single table in the outer select... similar to this:

[code]
__Actual behavior:__
However, when I try

[2017-08-13 22:06] phemmer commented on #8670
@jwilder So are you saying it's expected to open so many files even when the RPs are not in use? What if I wanted to have several thousand retention policies / databases?

[2017-08-13 22:21] jwilder commented on #8670
@phemmer I'm saying your file system config is not configured correctly to run the database. I'm assuming you are not running one of our packages which increases the limit.  The database uses file handles for many things and the defaults are too low for typical uses.  If you have thousands of rps/dbs, you will likely need to adjust other settings as well since all dbs/rps take up resources whether

[2017-08-13 22:27] phemmer commented on #8670
I can raise the limit, and other limits, that's not my concern here. My concern is that it's not scalable. From this, it seems I can expect 4 open files per retention policy. If I wanted to have a hundred thousand retention policies (and yes, I do), that's 400,000 files open at the same time.

[2017-08-13 22:47] jwilder commented on #8670
You have to set the limit for what is appropriate for your system.  The limit is just a kernel setting to prevent errant user land programs consuming too many resources on the system.  65k is a better default for most users so that is what we use.  That could still be too low in some cases so bumping it put to 512k or higher may be necessary.

100k retention polices or databases on a single system

[2017-08-14 01:20] #8687 closed

[2017-08-14 07:03] dazoot opened #8694 "High cpu usage when checking series cardinality"
We have been using influx for over a year. The number of series we have in DB is about 110 mil. We have one database: graphite, with a 1 year retention policy. The number of queries is not that high. We see consistent CPU usage even if there is no read query being ran on the server. We have upgraded to latest influxdb version and TSI indexes.

Server is quite big:
Dual Hexa Core
256 GB of Ram.

![

[2017-08-14 16:10] e-dard opened #8695 "System iterators returning data out of order"
Currently system iterators are not being merged correctly across multiple shards. Specifically they're being merged in an arbitrary order.

While it appears as if this issue is only affecting the `tsi1` index, the iterators are incorrectly being merged in both the `inmem` and `tsi1` indexes. However, since the `inmem` index is actually duplicated across shards, the result of merging system iterato

[2017-08-14 16:14] jwilder commented on #8694
Can you run the following when cpu usage is high and attach the output to the issue?

[code]

[2017-08-14 16:20] #8670 closed

[2017-08-14 17:54] e-dard commented on #8695
I have a fix for this, but I won't be able to get the PR up until later in the week.

[2017-08-14 18:43] danyli78 opened #8697 "Drop Series Cause Write Fail/Write Timeouts/High Memory Usage"
When dropping series, we see high memory usage causing write fail/timeouts. If drop series across the entire database, influxdb would crash. when restarting influxdb due to the crash, load are still high (hoovering 7-9), a reboot is then required.

influxdb version: v1.3.2
os: redhat 7.3
spec: m4.2xlarge (8 core / 32GB)

screenshot from influxdb "_internal" stats:

![image](https://user-images.git

[2017-08-14 19:04] kmonsoor commented on #8504
Possibly, this issue is still there.

Today, after I updated from `1.2.4` to `1.3.2` and restarted `InfluxDB` service, things were going smooth. Then, I installed Chronograf on the same instance.
To make some graph, I noticed the measurement list is extremely slow to load.
I immediately stopped the `chronograph` service. Then, started to cleanup some old and unnecessary measurements. First, couple

[2017-08-14 21:08] #8461 closed

[2017-08-14 23:03] jwilder commented on #8526
@forsberg Are you still seeing this issue with 1.3.2 or later?

[2017-08-14 23:36] danielnelson commented on #8332
I think it would be useful to change the error message to contain the full series key for the offending field, something like:
[code]

Often the source of the point is encoded in the tagset like `fluentd,host=example.org`.  If we printed the series key you could determine the source of the type conflict and fix it more easily.

[2017-08-15 02:52] jasper-zhang opened #8699 "subquery doesn't support order by"
InfluxDB version: 1.3.1

When I run the subquery with `order by`, it doesn't work:

[code]

[2017-08-15 07:13] forsberg commented on #8526
Well, there's a bunch of them lying around, but there has been no incidents where it's been consuming all the disk during the last ~6 weeks.

Current list of files below. Is it normal to see files which are almost 24h old?

    root@ospmon01:/var/lib/influxdb/data/telegraf/default# date ; ls -l */*.tsm.tmp
    tis 15 aug 2017 07:11:36 UTC
    -rw-r--r-- 1 influxdb influxdb  492694570 aug 14 08:58

[2017-08-15 07:29] dazoot commented on #8694
I get a 404 for "http://localhost:8086/debug/pprof/all?cpu=true". Do i need to enable something in config ?

[2017-08-15 14:13] petrsmrcka commented on #8649
same thing happened to me, I'm not able to delete data from a measurement by any approach - delete from <measurement> nor drop series from <measurement> doesn't work - data points can be added  but when I try to delete all of them or by specifying tag value (or time interval with DELETE command) nothing happens, logs are clear

any idea what is wrong?

I experienced this issue with server version

[2017-08-15 14:22] ot3 opened #8700 "Optionally select START of GROUP BY period instead of END of GROUP BY period for Derivative"
### Feature Request

__Proposal:__

Derivative emits timestamp with END of GROUP BY period. #7738 describes a use case where this behavior results in incorrect Grafana plots with an offset of +1h.

__Current behavior:__

Derivative emits timestamp with END of GROUP BY period, resulting in a undesirable offset of +1 'unit' of time as specified in the Derivative clause.

__Desired behavior:__

Optio

[2017-08-15 15:05] stuartcarnie commented on #8526
@forsberg can you grab a goroutine dump on that server using the following command

[code]

and attach it to this issue

[2017-08-15 15:06] jwilder commented on #8526
@forsberg Would you be able to test w/ 1.3.2?  There is at least one change related to lingering tmp files that landed after the build you are running (https://github.com/influxdata/influxdb/pull/8562).

[2017-08-15 17:16] dazoot commented on #8694
I have uploaded the output of the 3 commands.
[influxdb.tar.gz](https://github.com/influxdata/influxdb/files/1225807/influxdb.tar.gz)

[2017-08-15 18:23] gdmello commented on #4323
For anyone coming here first, the syntax has [changed](https://github.com/influxdata/influxdb-java/commit/8511af1855f291093d18f8037017a0d39f1f90a0#diff-23360835991a654afd56314b41590521R200) to-
`CREATE DATABASE <dbname>` for version > 1.0

[2017-08-15 18:27] jwilder commented on #8694
@dazoot It looks like the CPU usage is due to some the series cardinality monitoring checks that are expensive in your env.  Your shards appear to be `inmem` and the monitoring calls are spending a lot of time sorting measurement and tag keys as well as allocating quite a bit of garbage.  I have a potential fix that should reduce CPU usage for you a bit in #8702.  If you are able to test that out

[2017-08-15 19:45] dazoot commented on #8694
Is there a way to migrate `inmem` to `tsi` ?

[2017-08-15 19:49] jwilder commented on #8694
Switching the config setting will cause new shards to be created as `tsi` shards.

There is also a PR to add some offline tooling to convert existing shards to `tsi`: https://github.com/influxdata/influxdb/pull/8669.

[2017-08-15 20:06] jsternberg commented on #8699
The order of the query is inherited by any subqueries. While there is no mechanic in place to catch changing the ordering between a subquery and the query itself, it's not tested and unlikely to do anything useful and should probably be an error to switch the order by within a subquery.

This could be clarified in the documentation. Do you have a specific use case in mind where you needed to speci

[2017-08-15 20:17] panovodv commented on #5668
After switching to tsi1 querying a lot of tags became very slow operation. I understand that is necessary consequence of storing tags on disk, however requesting just limited set of tags for certain amount of time would compensate for that.

[2017-08-15 20:19] jwilder commented on #8697
Can you run the following when memory usage is high and attach the output to the issue?

[code]

[2017-08-15 20:29] jwilder commented on #8689
#8701 fixes an issue w/ `drop measurement` that could cause this error as well.  I was able to repro it locally.

[2017-08-15 20:42] jwilder commented on #8689
This should be fixed via #8701 and #8576.

[2017-08-15 20:42] #8689 closed

[2017-08-15 20:51] jwilder commented on #8671
This looks like a hardware or system issue.  If your operating system is crashing with segfaults I would check your `/var/log/messages` and `dmesg` to see if anything is reported.  The various errors might hint be bad memory.

[2017-08-15 20:51] #8671 closed

[2017-08-15 22:02] #8694 closed

[2017-08-15 22:12] jwilder commented on #8649
There were two recent fixes for delete and drop measurement fixed #8701 and #8579.  I have not been able to reproduce any issue w/ `drop series` though.

[2017-08-15 22:43] jwilder commented on #8504
@kmonsoor Deletes will cause compactions to run to evict the deleted series data from TSM files.  Deletes statements could hang if one was running and was not at an interruptible spot.  #8629 fixes that.

[2017-08-16 06:12] jacktang commented on #6830
We also want to measure the performance of CQs.

[2017-08-16 06:50] jasper-zhang commented on #8699
You are right, I really don't have this use case. I just find this coincidentally. Maybe InfluxDB return some error or nothing, instead of the result that is not as user expected.

[2017-08-16 08:38] forsberg commented on #8526
OK, so still on 1.4.0-n201706260800-0:
[current-files.txt](https://github.com/influxdata/influxdb/files/1227559/current-files.txt)
[goroutine.txt](https://github.com/influxdata/influxdb/files/1227558/goroutine.txt)

    root@ospmon01:/var/lib/influxdb/data/telegraf/default# COLUMNS=200  dpkg -l influxdb ; date ; ls -l */*.tsm.tmp > /var/tmp/current-files.txt ; curl -q -o /var/tmp/goroutine.txt htt

[2017-08-16 08:39] forsberg commented on #8526
There's no risk in downgrading that snapshot to 1.3.2?

Not sure I'll find the time for that, but maybe.

[2017-08-16 12:19] bbczeuz opened #8707 "[bug] Inconsistent data type (int/float) within single field/column in results"
### Bug report

__System info:__ [Include InfluxDB version, operating system name, and other relevant details]

__Steps to reproduce:__

1. Push some data with the 'cpu'-plugin of telegraf to the DB
2. Query this data
3. Resulting field data types vary in a single column from row to row

__Expected behavior:__
One field shall always have the same data type

__Actual behavior:__
If a float-field va

[2017-08-16 15:06] jwilder commented on #8526
@forsberg We have another fix in progress here: https://github.com/influxdata/influxdb/pull/8706

[2017-08-16 15:33] stuartcarnie commented on #8526
@forsberg no need to downgrade if you are running master. If that server still has open `tsm.tmp` files can you also grab a heap and block profile:

[code]

Thanks!

[2017-08-16 16:02] #7195 closed

[2017-08-16 20:18] jwilder opened #8713 "Deadlock when dropping measurement and writing"
### Bug report

__Version: 1.3.3/master__

There is a deadlock that can occur when writing points and dropping the measurement being written to concurrently.

The deadlock occurs due to out of order locking of the `Engine` and `MeasurementFields` lock.  One goroutine (snapshotting the cache), acquires an `RLock` on the `Engine` and ends up needing to acquire an `RLock` on `MeasurementFields` to re

[2017-08-16 21:49] stuartcarnie commented on #8526
@forsberg, a few more questions:

* how many cores on that machine
* run `influx 0-execute 'SHOW SHARDS'` and include that output, assuming none of the names (databases and retention policies) are sensitive

[2017-08-17 10:36] petrsmrcka commented on #8649
maybe I'm experiencing different bug - I\m just not able get rid of old data from measurement "sunlist" by any approach
I tried

1.
[code]

2.` delete from sunlist`

3.`drop series from sunlist`

4.`drop measurement sunlist`
and data are still there

5.
[code]

I tried upgrading to nightly build 1.4.0~n201708170800-0 - same behavior.

[2017-08-17 11:05] petrsmrcka commented on #8649
I found workaround how to get the measurement/series working again.
I duplicated complete database - `CREATE DATABASE mydb2`, copyied all data by `use mydb; SELECT * INTO mydb2..:MEASUREMENT FROM /.*/ GROUP BY *` , dropped 'broken' database by 'DROP DATABASE mydb', created new one wiht the same name and copied data back by `use mydb2, SELECT * INTO mydb..:MEASUREMENT FROM /.*/ GROUP BY *`

now I c

[2017-08-17 11:22] jimaek commented on #8675
I join the question.

[2017-08-18 02:43] hongquan opened #8717 "Failed to backup: Download shard 232 failed copy backup to file (v1.3.2)"
Since I upgraded InfluxDB to v1.3.2, I cannot do backup:

[code]

When I reverted back to v1.3.1, it is Ok.

Machine:

[code]

[2017-08-18 04:10] jasper-zhang commented on #3760
#8636 `SHOW CARDINALITY` functionality is coming.

[2017-08-18 06:28] skladd commented on #8677
Works for me again since latest nightly: 1.4.0~n201708170800-0
Thank you!

[2017-08-18 09:42] alok87 opened #8718 "Influx DB memory leak"
**What?**
InfluxDB memory in few days increases from 2GB to 13-14GB. There is some leakage.
We had setup grafana-influxdb-heapster following this document - https://github.com/kubernetes/heapster/tree/master/deploy/kube-config/influxdb
Our machine spec:
[code]

- How can we fix this?

[2017-08-18 13:14] PaulieShore commented on #1819
Another +1 here. I recently switched from Graphite to InfluxDB. I rely on functions like highestAverage, highestCurrent, and highestMax for our dashboard as we then limit the results in Grafana using a a template for "Top Resources". With Graphite this is incredibly simple to achieve.

[2017-08-18 13:26] e-dard opened #8719 "DROP DATABASE slow for large inmem indexes"
Given a largish `inmem` index, e.g., ~2M series, `DROP DATABASE` is slower than it needs to be.

The main issue looks to be that in order to satisfy the logical "single index" across shards, whenever we drop a database we're running around unassigning the shards that a series lives in. Of course, if we're dropping a database then we don't care about this—we just want to remove all indexes and shar

[2017-08-18 13:57] e-dard commented on #8718
@alok87 can you upgrade to the latest release? We're on `1.3.3`.

[2017-08-18 14:04] e-dard opened #8721 "Panic when dropping db / snapshotting"
When dropping a large database I encountered this:

[code]

Not sure if this will possibly be fixed via https://github.com/influxdata/influxdb/pull/8714

[2017-08-18 21:00] bbczeuz commented on #8707
Why close the issue? influxDB cannot be fed back its own results.
The only solution I see:
- If a field is of type float64, always return the fraction, even if it is zero. Response size cannot be an argument as the results come as json anyhow. Without this, there's no way a receiver could know the field types.

I was thinking of a more flexible input parser, but didn't come to a solution - the fie

[2017-08-20 06:29] alok87 commented on #8718
@e-dard need to ask kuberentes heapster community to bump the version. let me try

[2017-08-20 10:11] michaelsogos commented on #7720
Dear,

I'm facing the same issue, a lot of error during compacting my "appmetrics" database.
![image](https://user-images.githubusercontent.com/971120/29493947-a10e204e-85a0-11e7-861b-0477bebcca8d.png)

Do you have a solution for this?

[2017-08-20 18:15] d01mf commented on #8717
Same here:
Linux xyz 3.13.0-62-generic #102-Ubuntu SMP Tue Aug 11 14:29:36 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

[2017-08-21 06:53] skladd commented on #8677
Apparently the patch did not make it into 1.3.3.

[2017-08-21 11:13] core-process opened #8723 "[Feature Request] Back Up and Restore Using LVM on Linux"
### Feature Request

__Proposal:__ One should be able to Back Up and Restore an InfluxDB instance using LVM

__Current behavior:__ Unknown

__Desired behavior:__ Similar to https://docs.mongodb.com/manual/tutorial/backup-with-filesystem-snapshots/#create-a-snapshot.

__Use case:__ Standardized backup procedure based on LVM snapshots.

[2017-08-21 15:03] ot3 commented on #6723
+1

[2017-08-21 15:12] lnicola commented on #8036
I'm also seeing this since `1.3.1`, I think:

[code]

[2017-08-21 20:11] davidbru commented on #8677
Can confirm, that in 1.3.3 it's also not working for me.

[2017-08-21 20:19] dgnorton commented on #8677
It will be in 1.3.4.

[2017-08-21 22:20] akalbhor commented on #8670
@phemmer, did you find a workaround for this issue, instead of bumping the ulimit?

[2017-08-21 22:29] phemmer commented on #8670
No, I switched to a different database that scales better.

[2017-08-22 01:28] agarturbo commented on #8717
Ditto:
Linux tigger10.qeauto.tllsc.net 3.10.0-514.21.1.el7.x86_64 #1 SMP Thu May 25 17:04:51 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

[2017-08-22 01:48] danielnelson opened #8728 "String field with backslash quote results in unable to parse error"
### Bug report

When sending a string field containing a literal `\"`, I receive a unable to parse error if there is also a space in the field.  I believe the line protocol is being escaped correctly, only the double quote character is backslash escaped within the quotes, the other backslashes are literals.

__System info:__

InfluxDB 1.3.3

__Steps to reproduce:__

[code]

__Expected behavior:__

[2017-08-22 04:42] jackroofan commented on #8717
Seems the fix by [https://github.com/influxdata/influxdb/pull/8378/files](url) has been revert by this https://github.com/influxdata/influxdb/commit/18a02d50d71fe55f14c27e5911eba10aaf7e4e7d

[2017-08-22 08:11] jmelus commented on #8717
Same:
Linux oss-db-influx 3.10.0-514.10.2.el7.x86_64 #1 SMP Fri Mar 3 00:04:05 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

InfluxDB v1.3.3 (git: HEAD e37afaf09bdd91fab4713536c7bdbdc549ee7dc6)

[2017-08-22 10:36] bassebaba commented on #7198
Eh guys. I just started using grafana & influx. 0->100 in 1 weeks time.
I just today hit the wall with this (my DB grows like a monster).

I have no clue what to do? As @johngilden says, Im using"Telegraf" and other loggers, mostly "configs" I find online and just "installs", so I have more or less no knowledge of the data it stores.

So, in short, I already have hundreds, if not up to a thousand

[2017-08-22 10:44] pauldix commented on #7198
@bassebaba for now the best solution is to use [Kapacitor to aggregate everything in the DB to another retention policy](https://docs.influxdata.com/kapacitor/v1.3/guides/continuous_queries/). Then use a Grafana template variable to have retention policy be selectable.

This is an important feature for us, but it's also devilishly hard to do without absolutely killing performance. It's still on th

[2017-08-22 18:39] e-dard commented on #8721
I should add this was when running `1.3.3`

[2017-08-22 21:59] Thinkscape commented on #8036
Same here. All writes end up in a timeout after a few hours of operation. No workaround seems to help. Restarting helps but then it gets stuck again.

[code]

* A single host
* Using tsm1
* InfluxDB version: 1.3.0
* Linux 4.12.4-1-ARCH
* ~ 20 writes / minute, 1-3 connections
* Memory usage seems really high for the use case, although it doesn't hit OOM.
* CPU usage is flat
* Example load average:

[2017-08-23 03:31] shanquanqiang opened #8731 "1.3.1 Influx DB memory leak? when series number is almost 30000000"
Is series number too much?

[2017-08-23 08:04] bassebaba commented on #7198
@pauldix Ok, thanks. I understand, it's my own fault.

One more question tho, the Kapacitor link you gave me still shows:

`query('SELECT mean(usage_idle) as usage_idle FROM "telegraf"."autogen".cpu')`

Byt that's one value (usage_idle)? I have thousands of them, do I manually have to write a "batch"-query for every single one of them in Kapacitor?

Since I'm only about 1-2 weeks into the world of

[2017-08-23 09:46] Sn0rt opened #8733 "Bug report: `zap` path of query package"
### Bug report

there is a mistakes with imported path of `zap`  package .
[code]

`go get` again

[code]

[2017-08-23 10:07] pauldix commented on #8668
@caniszczyk actually it looks like it was relicensed to MIT: https://github.com/BurntSushi/toml/pull/184/files

So #8734 should resolve the issue?

[2017-08-23 10:16] cinek810 commented on #8307
+1

[2017-08-23 13:48] e-dard commented on #8731
@shanquanqiang that's a lot of series for the `inmem` index. Please consider upgrading to `1.3.3` and using the opt-in `tsi1` index. You'll need to change your configuration and start a new database. (Any existing databases would continue to use the `inmem` index.

I'm going to close this issue as it's not really an actionable bug report. You might find the [Community Site](https://community.influ

[2017-08-23 13:48] #8731 closed

[2017-08-23 13:54] e-dard commented on #8717
@hongquan @d01mf @jackroofan @agarturbo  @jmelus  this issue should be fixed in the `1.3.4` release. There should already be some release candidates available if you don't/can't wait for the release. I expect the release won't be too far away now, though.

Thanks all for the reports.

Closing the issue as it's a duplicate of https://github.com/influxdata/influxdb/issues/8677

[2017-08-23 13:54] #8717 closed

[2017-08-23 14:04] e-dard commented on #8663
Completed via #8685

[2017-08-23 14:04] #8663 closed

[2017-08-23 14:33] pootzko commented on #8625
SO what exactly is the issue here?

[2017-08-23 15:37] ayush-sharma commented on #8677
This is broken in 1.3.3.

Metastore backup is fine but database backups produce errors. Can't get it to work on Mac or Ubuntu. I can also confirm that the backup directories have correct permissions, so it doesn't seem to be that.

[code]

[2017-08-23 18:55] cray74 commented on #7758
+1 Same for me - coming across this crucial shortcoming of the Open Source version today put a hold on our plan to use InfluxDB as the core for our new application platform :(. IMHO, such an essential feature should not be used to separate the commercial from the OS version.

[2017-08-23 19:03] jwilder commented on #8728
It looks like you are escaping the slash before the quotes.  Try:
[code]

Or if the first slash is supposed to there, try:
[code]

[code]

[2017-08-23 19:14] danielnelson commented on #8728
The backslash and quote are both supposed to be there.  I can definitely change Telegraf to escape/unescape backslashes within string fields, but I want to make sure it is correct since this is not what is documented and it needs to work with Kapacitor and the Telegraf read side.

[2017-08-23 19:30] jwilder commented on #8728
It looks like those docs are incorrect for strings escaping (and have been since 0.9.4).  Backslashes need to be escaped within string fields.  Here are some example tests we have for that case:

https://github.com/influxdata/influxdb/blob/master/models/points_test.go#L1300

This is the commit that added support for backslashes in strings: https://github.com/influxdata/influxdb/commit/6ca7970f017e

[2017-08-23 21:56] juris commented on #5930
+1 for timeShift. It's been 4 years since feature request #142

[2017-08-23 22:27] brianm commented on #7992
How *does* one find all the tag values on a measurement? Parsing "show series" ?

[2017-08-23 22:39] jwilder commented on #7992
@brianm I think you could do `show tag values from cpu with key =~ /.*/`

[2017-08-24 06:28] skladd commented on #8677
1.3.4 is out, backup works again. Thanks!

[2017-08-24 11:31] e-dard opened #8739 "Panic when dropping database"
This is possibly a dupe of #8721. Encountered on a largish database.

[code]

[2017-08-24 11:48] brainsea commented on #8625
resp_code.2xx and resp_code.4xx is extracted from apache_access_log with a where condition. This means that resp_code.all should have the most number if points.

[2017-08-24 14:45] #8695 closed

[2017-08-24 16:03] edufelipe opened #8741 "Version 1.3.4 uses 26GB more memory to load same dataset as 1.2.4"
### Bug report

__System info:__

InfluxDB 1.3.4 vs InfluxDB 1.2.4
Both running under Ubuntu 16.04 on a 12GB Linode VM.

__Steps to reproduce:__

1. Upgraded my server from 1.2.4 to 1.3.4
2. Server started getting killed by the OS due to OOM
3. Added 50GB swap file just to get version 1.3.4 to load
4. Verified that it used almost 30GB of memory (18GB swap plus all resident memory on my VM) but was

[2017-08-24 16:15] jwilder commented on #8741
This appears to be a issue due to: https://github.com/influxdata/influxdb/commit/da6bdfdda807272e4b0b81191b381333bf6eb7e4

You have about 20GB in the heap because there are about 20k wal segments.  Each wal segment reader is creating a 1M buffer which is blowing up your heap at startup.  These wal segments are 0 length so the reader really don't need to be created.

[2017-08-24 16:58] #8668 closed

[2017-08-24 17:26] edufelipe commented on #8741
@jwilder Is there a workaround for this? Is there a way I can reduce the number of wal segments?

[2017-08-24 17:46] jwilder commented on #8741
@edufelipe I have not tried this, but running `find /var/lib/influxdb/wal -size 0 -type f -print -delete` might be a workaround.

[2017-08-24 18:31] edufelipe commented on #8741
@jwilder I've deleted all zero-sized files, updated to 1.3.4 and while that cut off a third of memory, it still uses over 20GB. Would you like me to send the `vars.txt` for this last run?

[2017-08-24 18:35] jwilder commented on #8741
@edufelipe If you can include everything you included in `influx-debug.tar.gz` that would be great.

[2017-08-24 20:53] chekolyn commented on #8319
There is something we can do at the rsylog level (Also using RHEL 7.0)

We can create a simple rule in **/etc/rsyslog.d/influxdb.conf** to change the destination log:

[code]

@pkittenis Perhaps these simple rules can be added to the packages (like we do for logrotate confs).

[2017-08-25 09:52] pkittenis commented on #8319
I am not part of the project, cannot help you there. I pointed out the issue does not occur on RHEL6 or other non-systemd based systems, which points to an issue with systemd rather than influx.

[2017-08-25 10:51] e-dard opened #8742 "Remove go-bits dependency and replace with math/bits"
Go 1.9 introduces a `math/bits` package, which provides bit manipulation functions that will be converted into intrinsics at compile time.

Currently we're achieving the same thing in a few places using `github.com/dgryski/go-bits`.

From the first release that we build using Go 1.9 we can remove this dependency and use `math/bits` in it's place for `clz`, `ctz`  and `popcnt`.

[2017-08-25 17:19] kernc commented on #5181
Any rationale as to why this was designed in this unintuitive, inconsistent way?

[2017-08-25 19:50] meesern commented on #3904
+1  to allow tagging measurements with post processed tags.

[2017-08-27 05:31] vgoklani opened #8746 "How to specify the timestamp precision when using UDP"
Hi,

How do I specify the timestamp precision format when inserting via UDP?

Is there a way to set the default precision to milliseconds (say in the config file)?

How much of a reduction should I expect in the memory footprint using milliseconds vs nanoseconds?

[2017-08-27 07:24] datamuc opened #8747 "Using POST to query data (Documentation bug)"
The [documentation](http://docs.influxdata.com/influxdb/v1.3/guides/querying_data/) says:

With scripted dashboards it happened that some regular expression became quite big and reached the maximum url length limit. I've tried to query with a `POST` request, and it works just fine. So I suggest to update the docs to something like:

[2017-08-27 14:06] agarturbo opened #8748 "Backup Issue Remains after Update to 1.3.4"
Backup issue was supposed to be resolved in 1.3.4.  Perhaps some were, but I am still getting these errors:

tigger10 (QE) ~ # /opt/influx/snapmgr -b qe-tracelink-ops-backups
2017/08/27 13:58:52 backing up db=_internal since 2017-08-26 13:58:52 +0000 UTC
2017/08/27 13:58:52 backing up metastore to /site/db/backup/_internal/meta.22
2017/08/27 13:58:52 backing up db=_internal rp=monitor shard=28 to

[2017-08-27 14:26] agarturbo commented on #8748
Never mind - influxdb did not get restarted.  The restart cleared the issue.

[2017-08-27 14:26] #8748 closed

[2017-08-28 05:15] wonkyto commented on #8733
I've also hit a wall on this error.

[2017-08-28 13:43] rbetts opened #8749 "An OSS read-only user should be able to list measurements on a database"
### Proposal
From the Chrongraf Data Explorer page... it shows me a list of databases, and I can click on one and it gives me a really handy view of the measurements (which you can click to see tags, etc.).

__Current behavior:__
However, if I connect to the data source with an account that only has READ privileges, it doesn’t do that. I can run queries just fine, but I don’t get that handy “tool”

[2017-08-28 19:53] jsternberg commented on #8747
Can you make a PR to the repository at https://github.com/influxdata/docs.influxdata.com or create an issue there? Thanks.

[2017-08-28 20:09] jsternberg commented on #8746
You cannot specify the precision for UDP. You can configure the UDP service to have a default precision. So the configuration is on the server and has to be specified for everyone rather than being per-connection.

I'm not sure about the answer to the last question. If you never use anything lower than the precision specified, I guess you would save 9 bytes if you set the precision to seconds or 6

[2017-08-28 20:09] #8746 closed

[2017-08-28 21:12] #8699 closed

[2017-08-28 22:10] vgoklani commented on #8746
Thanks for the response. How do I configure the UDP service to have a default precision?

[2017-08-28 23:04] jsternberg commented on #8746
If you generate a configuration file with `influxd config`, you'll see this:

[code]

I think you just need to modify the precision there.

[2017-08-29 01:35] 121watts opened #8756 "Issue with floats in JSON"
### Bug report

__System info:__
InfluxDB version 1.3.1
macOS 10.12.6

__Steps to reproduce:__

1) Run this script

[code]
2) curl

[code]

__Expected behavior:__
return points with  `[<some_time>, 358.84]` or `[<some_time>, null]`

__Actual behavior:__
[code]
__Additional info:__ When I run the query in the CLI, I get the expected result.  This only seems to be an issue in the JSON.

[2017-08-29 06:49] oiooj commented on #8741
@jwilder  why is there so many 0 size wal segments? Can I delete all this file ?

[code]

[2017-08-29 09:34] been2io opened #8758 "error syncing wal"
After upgrade version 1.2.2 to 1.3.4, found quiet a lot  responses like {"error":"engine: error syncing wal"}, is this a disk performance bottleneck ? when I set wal-fsync-delay = “5s”,got lots more errors,and then set wal-fsync-delay="1s", less errors occured.

[2017-08-29 12:44] Damu112 opened #8759 "Feature request: Trigger warning if user tries to write data which would be dropped by retention policy immediately"
### Trigger warning if user tries to write data which would be dropped by retention policy immediately

__Proposal:__ If one tries to insert a point into a retention policy which would immediately drop the point, the user should receive a warning.

__Current behavior:__ The point is accepted with a HTTP 204 code, making the user think it has been inserted (which is actually true).

__Desired behav

[2017-08-29 12:50] jwilder commented on #8758
`5s` is too high for `wal-fsync-delay` and will cause the errors you are seeing.  You really should not need to change this setting.   If it is changed, a value of `100ms` or less is more appropriate.

[2017-08-29 12:50] #8758 closed

[2017-08-29 14:36] fferraro87 commented on #436
[admin] section on 1.3 versione is deprecated

[2017-08-29 16:33] AlainPilon commented on #5930
+1 for Harmonic and Geometric

[2017-08-29 18:25] dgnorton commented on #8638
@tbe do you also see `WARNING: detected deletes` in the log?

[2017-08-29 18:48] mark-rushakoff opened #8762 "Document subquery ordering requirement in changelog"
https://github.com/influxdata/influxdb/pull/8754 changed the behavior of subqueries using different `order by` settings from an accepted query to a query returning the error `subqueries must be ordered in the same direction as the query itself`.

One example query demonstrating the issue is: `SELECT value FROM (SELECT value FROM cpu ORDER BY time DESC) ORDER BY time ASC`.

These queries were previ

[2017-08-29 19:58] jsternberg commented on #8666
I think this question would be better for the community website. If it turns out to be a bug, I can reopen it here if you comment on the issue. I think phemmer is right that this is due to a gap in the data, but the fact that your second query doesn't have that gap feels weird.

The community website is at https://community.influxdata.com.

[2017-08-29 19:58] #8666 closed

[2017-08-29 20:00] jsternberg commented on #8756
I think this is just how floats work. There's no guarantee that floats are going to be a nice looking exact number. For example, if I print that number in python I get this:

[code]

The first one is the REPL which outputs exactly what the float represents. The second is the actual printing method that will handle the inconsistencies with floats and print the "real" number (that isn't actually the

[2017-08-29 20:00] #8756 closed

[2017-08-29 20:12] mark-rushakoff opened #8765 "Restore top-level `error` key in query response"
I'm not sure which PR introduced this behavior, but given an invalid query such as `SELECT bottom(f) FROM m`, we used to (i.e. 1.3.4 and earlier) return the error in JSON as:

[code]

and now on master the error JSON is:

[code]

The newer format is more specific, which is more helpful when using multiple statements in a single query, but this change is breaking for any clients that depended on th

[2017-08-29 20:27] jsternberg commented on #8765
I have a few questions that come to my mind that may greatly influence how we think about this or what we do.

First, if there is an error preparing a query to execute, should it prevent any query from executing? So if I do:

[code]

The above is considered invalid because the second statement is not valid. Should the create database be prevented or should execution only be aborted after the secon

[2017-08-29 21:10] jsternberg commented on #8690
We added the ability to query from times before 1970 so the lower limit of a query is now approximately -9223372036. I don't know if that's the exact number, but I believe it's close to there.

You must specify a lower limit. There is a bug fix in 1.4 that will throw an error if you don't specify a lower limit on this type of query though to prevent this kind of error.

[2017-08-29 21:15] xPaw commented on #8690
@jsternberg So what's the approach running a query that would return all the stored data? The query without a lower bound worked before upgrading to 1.3.

[2017-08-29 21:15] jsternberg commented on #8693
Can you try this with 1.3? Several fixes were made to more complex subqueries in 1.3 and this issue was likely fixed by it.

[2017-08-29 21:27] jsternberg commented on #8690
I'm not sure what you mean, but the lower timestamp has been that way since 1.0. The issue documenting the fix is in #7212.

If you want something that aggregates all data, you can use `fill(none)` and that will not generate the extra intervals when there are no points.

It also appears like I may be wrong about the lower limit in 1.4. I was going to add that limitation to prevent overflowing quer

[2017-08-29 21:33] xPaw commented on #8690
This definitely worked on 1.2 as I used the exact same query which started returning negative timestamps on 1.3 with the exact same query, so something must have changed in that regard.

[2017-08-29 23:18] jsternberg commented on #8690
I'm curious why this was working for you in 1.2. Can you give me an example with some sample data so I can confirm this isn't a regression? The behavior I discussed should have existed since 1.0.

[2017-08-29 23:54] jsternberg commented on #8765
For context, I tried this in Postgres and came out with something similar to the new method:

[code]

This one had what could likely be considered a compilation error. You can statically determine that `users.id` was going to be wrong here, but it's syntactically valid SQL. But, the update command still ran.

To be fair, I can do syntactically invalid SQL and Postgres appears to be fine with that.

[2017-08-30 07:46] xPaw commented on #8690
The query I used is in the first post. Data would be just couple of numbers for couple of days. I don't think the data even matters.

[2017-08-30 14:21] #8638 closed

[2017-08-31 04:28] treedom opened #8772 "Which commit version change the engine-store to TSM?"
### Feature Request
__Proposal : users can choose multi engine-store(maybe TSM, rockDB...) individual
__Current behavior : can not becase not convergence
__Desired behavior:converge unified engine API even user can alter a new engine-store
__Use case:becase the tsdb query sometimes is very individual and need to be optimized

[2017-08-31 05:48] #8747 closed

[2017-08-31 06:03] micastle opened #8773 "tsi index problem once process is restarted"
### Bug report
I run 1.3.2 with tsi engine enabled on windows and index is built as expected. but once the process is killed and restarted, it report below failure and write does not success.  the log says:

[I] 2017-08-31T05:58:56Z write failed for shard 2: [shard 2] truncate D:\Data\influxdb\data\kensho\autogen\2\index\L0-00000021.tsl: Access is denied. service=write
[I] 2017-08-31T05:58:56Z wri

[2017-08-31 06:05] micastle commented on #8773
I tried out with latest version 1.3.5, but no luck. the same failure and same logs. I tested it with a new environment, still the same.

[2017-08-31 09:18] ahsanali commented on #7530
We are trying detecting anomalies by comparing what a current hour with the same hour of the previous three four weeks. For that we need to specify different time ranges

[2017-08-31 16:01] MattHoneycutt opened #8775 "Lots of errors after loading sample data"
Let me prefix this by saying that what I'm attempting to do may be a Bad Idea or not supported: Running InfluxDB in an Azure Container Instance, persisting data to an Azure File Share.

### Bug report
__System info:__
InfluxDB 1.3.5
Running on Azure via Docker and Azure Container Instances.

__Steps to reproduce:__

1. Start the container
2. Load in the NOAA sample data via the HTTP API
3. Sit bac

[2017-08-31 17:12] jsternberg commented on #7530
I'm not sure how disparate intervals will help with that unless we also support time shift, which the current query engine does not. We are aware of time shift and want to support it in the future, but we are running into the limits of using an SQL-like language for things like that.

At the same time, you can just use two separate queries and you will get the data you want.

[2017-08-31 17:15] jsternberg commented on #7530
To make a note on this issue, we may not be able to do this with the current query engine because of a little weird aspect of the query parsing that too many people likely rely on.

The following condition is parsed in a way that many likely won't expect.

[code]

This actually gets parsed as something equivalent to this:

[code]

That would mean the time restriction should only be applied to `hos

[2017-08-31 17:48] MattHoneycutt commented on #8775
Please let me know if there's any other info I can provide.  I'd love to be able to get this working so that I can document the setup for others.  Thanks!

[2017-09-01 07:08] primus115 opened #8777 "Delete all data when comparing includes now() and misspelled "time""
### Bug report

__System info:
InfluxDB shell version: 1.2.2
Linux Ubuntu 16.04.  4.4.0-47-generic x86_64

__Steps to reproduce:__
[code]

__Expected behavior: Return query error.

__Actual behavior: Misspelled word "time" ("tim") in last query does not return error, further more it deletes all the data in measurement!

[2017-09-01 11:25] edgiru commented on #8140
System info:
InfluxDB: 1.3.5
OS: Ubuntu Server 16.04.3 x64 (GNU/Linux 4.4.0-93-generic x86_64)

Not work collectd no data

Steps to reproduce:

**1. [First Step]**
enable the collectd

[[collectd]]
  enabled = true
  bind-address = ":25826"
  database = "collectd"
  retention-policy = ""
  typesdb = "/usr/share/collectd/types.db"
  security-level = "none"
  auth-file = "/etc/collectd/auth_file"

[2017-09-01 11:47] edgiru opened #8778 "Enable Collectd But No Data"
**# System info:**
InfluxDB: 1.3.5
OS: Ubuntu Server 16.04.3 x64 (GNU/Linux 4.4.0-93-generic x86_64)

Not work collectd no data

**# Steps to reproduce:**

**1. [First Step]**
enable the collectd

[[collectd]]
  enabled = true
  bind-address = ":25826"
  database = "collectd"
  retention-policy = ""
  typesdb = "/usr/share/collectd/types.db"
  security-level = "none"
  auth-file = "/etc/collectd/a

[2017-09-01 12:45] jsternberg commented on #8772
TSM has been the default since some version before 1.0.

At the moment, we do not support any other storage backend. It would be too difficult to support multiple backends and there wouldn't be much of a point since it would just result in dividing development time between multiple implementations. Before 1.0, the decision was made to create our own backend because the existing backends weren't fa

[2017-09-01 12:45] #8772 closed

[2017-09-01 13:06] benbjohnson commented on #8773
hmm, it seems odd that you can't access the file if you're running as an administrator. What are the file permissions on the `tsl` files?

[2017-09-01 13:14] #6563 closed

[2017-09-01 15:59] #8739 closed

[2017-09-01 18:51] candlerb commented on #7037
Relates to https://github.com/influxdata/telegraf/issues/69

[2017-09-01 20:19] natejgardner commented on #1386
I'm getting this bug with InfluxDB 1.3.

[2017-09-01 20:22] natejgardner commented on #436
I'm getting the same error on version 1.3

[2017-09-02 11:21] edgiru commented on #8778
I fixed it!

What I've done:
I activated the string "plugin" "network" in the config file of the collectd file (collectd.conf)

it was like this:
#LoadPlugin network

# <Plugin network>
# # client setup:
# Server "ff18 :: efc0: 4a42" "25826"
# <Server "127.0.0.1" "25826">
# <Server "239.192.74.66" "25826">
#SecurityLevel Encrypt
# Username "user"
# Password "user"
# Interface "eth0"
# ResolveInter

[2017-09-02 11:21] #8778 closed

[2017-09-02 13:10] simonvanderveldt opened #8780 "Clean shutdown impossible with collectd plugin"
influxdb 1.3.2 on linux

When I start influxd and send a `SIGTERM` to it the following output is shown
[code]
I don't think this should happen and influxd should be able to cleanly shutdown with collectd enabled.
Looking through the old/existing issues, this might be similar to #4016

[2017-09-03 11:48] fxkraus opened #8781 "build.py script not working for arm64 architecture"
When I try to build a 64-bit arm executable, a 32-bit arm executable is build instead.

[code]

Result:

[code]

When these two lines are removed, we get the expected arm 64-bit executable.
https://github.com/influxdata/influxdb/blob/091ea5f9a5ed0109620068fde7204bca38218406/build.py#L517-L518

[code]

[2017-09-03 20:34] kmoppel opened #8783 "Enable programmatic determination of remote Influx server versions"
### Feature Request

__Proposal:__  Adding some command to enable easy/programmatic determination of the Influx version of a remote database.

__Current behavior:__ Currently one can easily determine the version of local binaries with "influx -version" but for remote hosts one needs to go into the CLI (not good for scripting) or parse the response text of "SHOW DIAGNOSTICS" with some regex

__Desi

[2017-09-04 02:14] micastle commented on #8773
It is full control with all permissions on the index file. Is it possible the issue is not about permission? and what does truncate mean in this context, maybe the truncate file action has problem on windows somehow?

[2017-09-04 12:45] hcsaustrup opened #8785 "Telegraf data through UDP fail to parse"
We've got a bunch of nodes configured with Telegraf, shipping metrics off to InfluxDB through UDP. We have noticed that they're not being parsed correctly, even though the contents look find when inspected with tcpdump/wireshark. This works fine with TCP, but we see significant performance improvements when using UDP, so we'd like to stick to this if possible.

Eamples:

``
Failed to parse points:

[2017-09-04 14:43] Apollon77 opened #8786 "panic: runtime error: invalid memory address or nil pointer dereference (PointsWriter)"
Hi,

I had a crash of the InfluxDB process (1.3.4) on ubuntu 16.04 on amd64

Installed version:
Sep  4 16:38:09 nuc1 influxd[19775]: [I] 2017-09-04T14:38:09Z InfluxDB starting, version 1.3.4, branch HEAD, commit 0c54d8fc744220b8dc70f2987e04e78fec951285

Process was restarted. Only happend once till now.

[code]

[2017-09-04 16:38] phemmer commented on #8785
You have to escape the spaces in tags. See https://docs.influxdata.com/influxdb/v1.3/write_protocols/line_protocol_reference/#special-characters

Also from the same doc slight above:

[2017-09-04 16:42] phemmer commented on #8785
Nevermind. I misread the provided data.

[2017-09-04 18:36] timhallinflux commented on #8786
You might want to grab 1.3.5 -- https://github.com/influxdata/influxdb/blob/1.3/CHANGELOG.md
Couple of issues like that were resolved.

[2017-09-05 08:30] tangoecho4 commented on #8775
I seem to be getting the same issue.

Debian 9.1, running the influxdb official docker container.

Start with `docker kill $(docker ps -a -q)` and `docker rm $(docker ps -a -q)` everything for sake of sanity.

I have run two instances: one with it's volume located on network share, and the other's volume located locally:
`docker run -d -p 8086:8086 --name influxdb_local -v /mnt/:/var/lib/influxdb

[2017-09-05 09:08] eelias opened #8787 "panic: runtime error: invalid memory address or nil pointer dereference"
Hello,
I have an ubuntu VM with influxdb version 1.3.5 installed on it:
[code]
InfluxDB shell version: 1.3.5
I configured a retention policy 4 days via influx shell:
[code]

Since then the influxdb service fails every few hours about memory issue:
[code]

So I have to restart the service every few hours as workaround.
Can you assist to fix it? Does the retention policy configuration looks bad?
The

[2017-09-05 11:01] quarantadue opened #8788 "now() not working in subqueries"
### Bug report

Tested on:
version 1.4.0~n201709050800 on debian

Using standard test data (NOAA_data):

select max(mean) from ( select mean(degrees) from h2o_temperature where time > now() - 740d and time < now() - 730d group by time(1d) )
Gives error:
ERR: invalid operation: time and *influxql.BinaryExpr are not compatible

inner query works fine if alone:
select mean(degrees) from h2o_temperatu

[2017-09-05 12:54] florianjosefreheis commented on #436
Any news on the above, getting the same error.

[2017-09-05 13:05] knan-nrk opened #8789 "cli can't handle database names with space, http api can"
### Bug report

__System info:__

Connected to http://localhost:8086 version 1.3.4
InfluxDB shell version: 1.3.4
Ubuntu 16.04

__Steps to reproduce:__

1. create database "with space"
2. use "with space"

__Expected behavior:__

database "with space" created, ability to use it in cli queries

__Actual behavior:__

database "with space" created

Could not parse database name from "use \"with space\

[2017-09-05 13:51] benbjohnson commented on #8773
A `truncate()` shrinks or grows a file to a specified size. From this [SO thread][https://stackoverflow.com/questions/25534857/truncating-open-os-file-access-denied) it looks like files may need to be closed before truncating on Windows. However, the only place we truncate in TSI is when opening and not when writing. I can try to add that fix and see if it helps though.

[2017-09-05 14:28] pauldix commented on #436
Why are you trying to curl without a path? The reason it's a 404 is because there's nothing at that path, which is expected behavior.

[2017-09-05 14:32] florianjosefreheis commented on #436
@pauldix Should I not see the Admin UI when I go to http://localhost:8086/?

[2017-09-05 14:34] pauldix commented on #436
@florianjosefreheis The Admin UI was taken out in 1.3 in favor of Chronograf, which has all the features of the old admin UI and more. It's also open source: https://docs.influxdata.com/chronograf/v1.3/

[2017-09-05 15:55] javitorl commented on #7706
same problem here with version 1.3.5, it's not fixed yet

[2017-09-05 18:47] #8787 closed

[2017-09-05 19:32] rbetts commented on #8787
@eelias Thanks for the bug report.

[2017-09-05 19:51] asicoe commented on #6520
Is this going to happen at some point?

[2017-09-05 20:22] gylu commented on #268
+1

[2017-09-05 22:28] natejgardner commented on #436
Chronograf is great, but Influx is refusing all HTTP connections, including on 8083. Chronograf can't communicate to it either.

[2017-09-06 01:14] gzll commented on #8728
https://github.com/influxdata/influxdb-java/issues/372

[2017-09-06 01:16] gzll opened #8793 "when the value of points end with "\", got java.lang.RuntimeException: {"error":"partial write: unable to parse"
I use riemann to send points to influxdb, when the value of points end with "\\", riemann would throw a exception:
[code]
the "descpath=A:\\test1\\test2\\" made this exception, if I change the value to "descpath=A:\\test1\\test2", everything is ok.

[2017-09-06 01:18] gzll commented on #8793
I had been told this is a problem form influxdb.
https://github.com/influxdata/influxdb-java/issues/372

[2017-09-06 05:57] micastle commented on #8773
Thanks! maybe you can add more detailed logs to show the error code when file error happened, thus we can track what happened if error show up again.

[2017-09-06 07:57] smolse opened #8794 "API returns inconsistent results for drop requests on non-existent databases"
InfluxDB version: 1.3.1

When running drop continuous query request on non-existent database:
[code]

When running drop retention policy request on non-existent database:
[code]

Expected result would be to get error also for drop retention policy request.

[2017-09-06 09:08] pingliu commented on #8697
@jwilder  I also have this problem.
![image](https://user-images.githubusercontent.com/6415493/30103623-c7fa6afe-9325-11e7-933a-0733c431f30e.png)
![image](https://user-images.githubusercontent.com/6415493/30103643-d5b6cc1e-9325-11e7-91e4-4887d2ee343b.png)

write-timeout = "2m" also write timeout when influxdb drop series.

[2017-09-06 12:20] discoduck2x commented on #4157
@beckettsean any update on this?

[2017-09-06 14:13] lpic10 commented on #8788
Seeing same behavior here.

Also doing some math does not work anymore, eg:

select "usage_user" / (10 * 10) from "cpu"
ERR: cannot perform a binary expression on two literals

As the direct operation works
select "usage_user" / 100 from "cpu"

[2017-09-06 14:25] pauldix commented on #436
@natejgardner that's must be something separate. Have you checked your logs? Best place to ask is at the community site: [community.influxdata.com](https://community.influxdata.com/)

[2017-09-06 15:01] dlanderson commented on #7355
Any updates on this?

[2017-09-06 19:32] jwilder opened #8797 "Invalid query does not return an error"
### Bug report

__System info:__ master/1.3

__Steps to reproduce:__

[code]
__Expected behavior:__

A parse error should be returned when not single quoting a tag values.  The first and last query above parse successfully and return no results which is confusing.  The executed query is actually trying to compare a tag with another tag that does not exist.  This functionality is not currently supp

[2017-09-06 19:53] mark-rushakoff commented on #8783
Note that you can narrow down the output of show diagnostics with

[code]

All HTTP responses should include an `X-Influxdb-Version` header. One way to extract the version with curl:
[code]

[2017-09-06 21:32] jwilder commented on #8797
Closing this since we apparently do support tag and field comparisons.  The example I provided is just confusing because there are not series with a tag named `value0`.

[2017-09-06 21:32] #8797 closed

[2017-09-06 22:45] edufelipe commented on #8741
@jwilder Do you have any suggestions I can test for now?

[2017-09-07 06:56] yellowpattern opened #8798 "types.db error does not mention type or sender"
__System info:__ Influxdb 1.3.2, CentOS 6.6

__Steps to reproduce:__

1. Configure inflxuxdb to run as collectd server
2. Send collectd data to influxdb
3. Observe influxdb log

__Expected behavior:__ influxdb to log the the host/plugin/instance/type/type-instance
__Actual behavior:__ influxdb just mentions mismatch in types, e.g:

2017/09/07 16:55:07 unable to convert values according to TypesDB:

[2017-09-07 07:21] jgysel commented on #8188
Although #8188 is mentioned to be part of v1.3.0 (see https://github.com/influxdata/influxdb/blob/master/CHANGELOG.md) , it looks like this is going to be released on v1.4.0. It wasn't merged to 1.3.0. The changelog on master seems to be outdated.

[2017-09-07 09:32] makareth opened #8799 "The more aggregated fields, the slower mean()"
Steps to reproduce:
1. Issue a query calculating mean() aggregation on almost all fields of a a measurement.
For example, the following query completes in ~1 second even though the related lines (those implied by the WHERE clause) are very few (10 lines), as returned by SELECT  * FROM sensors WHERE time > '2017-07-30T23:40:00Z' AND time < '2017-07-30T23:50:00Z' GROUP BY id, customer, user_id :

SE

[2017-09-07 17:41] taichatha opened #8800 "[Question] Is there anyway to get a time stamp on Distinct()"
I really do need the actual time stamp of a record, but it seems like DISTINCT() returns 0 or a lower bound for time.

If it’s not possible with DISTINCT, is it possible to do some select magic and get it so that I only get unique values based on a column?

Also I need other columns, besides the unique values.

Apparently in SQL, to replicate DISTINCT, you can do something like `select col from ta

[2017-09-08 00:09] jwilder commented on #8741
@edufelipe #8804 should fix this.

[2017-09-08 08:03] peaksnail opened #8805 "support to add memory usage limit configure"
### Feature Request

__Proposal:  support  to  add memory usage limit configure

__Current behavior: now we can just set series num to limit memory, and  once achive the limit of series num, it will write failed

__Desired behavior: I think whether to set memory usage limit, once the influxdb instance achive the memory limit,It can use disk, but not write failed. And allow query operator to use  d

[2017-09-08 08:03] vtcsiva commented on #2715
SELECT value FROM cpu WHERE /cpu_.*/ > 10 is this supported in V1.3 ? ,if its is plese provide the different kinds of regx  syntax

[2017-09-08 09:19] yellowpattern commented on #8798
This is not a bug in influxdb per se, it is in collectd/go-collectd.

[2017-09-08 09:53] Orybon opened #8806 "[1.3.5] Drops series doesn't works as intended ?"
### Bug report

__System info: InfluxDB 1.3.0 & docker

__Steps to reproduce:_

1. Insert telegraf datas
2. Try to drop series of a specific host (that doesn't exist anymore so no new datas) using http api

__Expected behavior: Series should be dropped

__Actual behavior: Series aren't dropped

__Additional info: HTTP respoonse is  - {"results":[{"statement_id":0}]}

When i launch this command :

[2017-09-08 11:36] xPaw commented on #8690
@jsternberg So what would be a solution to select all existing data and grouping it without knowing the specific timestamp where the data starts?

I can't do something like this either because influxdb does not allow selecting just time:
[code]

[2017-09-08 13:20] yellowpattern commented on #8798
diff -u ./go-collectd/network/parse.go ./go/src/collectd.org/network/parse.go
--- ./go-collectd/network/parse.go	2017-09-08 19:32:59.949965463 +1000
+++ ./go/src/collectd.org/network/parse.go	2017-09-08 23:18:41.574964616 +1000
@@ -110,7 +110,7 @@
 				// Returns an error if the number of values is incorrect.
 				v, err := ds.Values(ifValues...)
 				if err != nil {
-					log.Printf("unable to co

[2017-09-08 14:45] rbetts commented on #8806
First - the quoting here can be a little confusing.  You should quote tag key and tag value as `"host" = '2008R2SP1'`.

However, there were two issues related to drop and delete resolved in 1.3.1 and 1.3.4:
https://github.com/influxdata/influxdb/issues/8531
https://github.com/influxdata/influxdb/issues/8677

[2017-09-08 14:54] taichatha commented on #8800
`select * from <measurement> group by <field> order by time desc limit 1`

Kind of does what I want.

[2017-09-08 14:54] #8800 closed

[2017-09-08 14:55] jwilder commented on #8697
#8801 should fix this.

[2017-09-08 14:59] Orybon commented on #8806
Thank you for your answer.

When i use this command as you suggested :
curl -X POST 'localhost:8086/query?db=[db_name]' --data-urlencode 'q=DROP SERIES WHERE "host" = '2008R2SP1''

I got this response :
{"error":"error parsing query: invalid duration"}

I tried to update to 1.3.5, the result is the same.

[2017-09-08 15:36] rbetts commented on #8806
The invalid duration is annoying - and confused me too.  Here's a working example: https://asciinema.org/a/rC9qZjJiL4hloSNtlScTChSAo

[2017-09-08 15:54] taichatha commented on #7969
I'm on 1.3.5 and my query looks like
`select bytes from (select bytes from bytes_in WHERE "id" = '53' group by * order by time desc limit 1) where reason != '"tcp-fin"' limit 3
`

and it doesn't limit it to 3. the inner limit works as i expected, but I'd like to limit my results to the last three.

[2017-09-08 16:00] jsternberg commented on #7969
@taichatha can you open a new issue? I don't think your issue is connected with this issue. You can reference this issue in the new issue if you think this one is relevant. Thanks.

[2017-09-08 16:04] jsternberg commented on #8806
Just to note, bash treats quotes differently than standard programming languages. As an example:

[code]

So since you surround your command with a single quote, you are getting two quoted bodies concatenated together. You have `'q=DROP SERIES WHERE "host" = '`, followed by `2008R2SP1`, then followed by `''`. So the final query gets sent to the server without any quotes. Use double quotes and you

[2017-09-08 16:04] #8806 closed

[2017-09-08 16:07] jsternberg commented on #8798
@yellowpattern if you can get that fix put into the collectd.org library, I would be happy to update the dependency.

[2017-09-08 17:13] taichatha opened #8810 "The main query ignores `LIMIT` if the subquery includes the `GROUP BY` and `LIMIT` clauses"
Steps to reproduce:

Write some data

name: bytes_in
time                bytes id reason
----                ----- ------- ------------------
1504885684360356596 4254  53      "server"
1504885695648014217 4254  53      "server"
1504885696903026445 4254  53      "server"
1504885703199363813 4254  53      "client"
1504885704711356584 4254  53      "client"
1504885714022531372 4254  53      "aged-out

[2017-09-08 21:10] #8741 closed

[2017-09-09 04:25] yellowpattern commented on #8798
https://github.com/collectd/go-collectd/issues/32

[2017-09-09 09:58] BentCoder opened #8812 "InfluxDB won't start because of collectd configurations"
When I install/use collectd and influxdb on same server, influxdb starts which is fine. However, when I have them installed on different servers, influxdb won't start **but** If I disable collectd config in influxdb configuration file, influxdb seems to be starting fine again. Sounds like, influxdb doesn't like collectd configs.

What could be the solution?

_Note_: Both servers are vagrant boxes.

[2017-09-09 16:34] BentCoder commented on #8812
This is all about the `typesdb` property. Do the following to solve problem.

[code]

That's it!

[2017-09-09 16:34] #8812 closed

[2017-09-09 20:23] vicinus opened #8813 "[Bug Report] SHOW RETENTION POLICIES returns invalid formated duration"
### Bug report

__System info:__

* Ubuntu 16.04.3 LTS
* influxdb 1.3.5

__Steps to reproduce:__

[code]

__Expected behavior:__ The duration returned by SHOW RETENTION POLICIES should be a valid formated duration, which can be used in a ALTER RETENTION POLICY query

__Actual behavior:__ The duration returned by SHOW RETENTION POLICIES is not in all cases a valid formated duration

[2017-09-10 14:31] vgoklani opened #8814 "How to download "latest" Linux binary?"
Rather than using:

wget https://dl.influxdata.com/influxdb/releases/influxdb-1.3.5_linux_amd64.tar.gz

is there a "latest" URL for downloading the latest stable build?

[2017-09-10 14:34] #8814 closed

[2017-09-11 03:13] micastle opened #8815 "influxd.exe [v1.2.0] has a 32GB memory limit on windows server?"
I am running influxd.exe on windows server and seems it always crash when memory goes up to about 32GB, while I have 64GB RAM on the machine, and now other application running on the server. I double checked that my OS is 64bit version and I didn't apply any limit on the process's memory limit.

It seems the influxd.exe is built to use only 32GB of memory on windows? I am not sure whether it is in

[2017-09-11 03:17] micastle commented on #8815
Crashes are mostly like below, I suppose it is caused by OOM?

unexpected fault address 0xf67e6a0
fatal error: fault
[signal 0xc0000005 code=0x0 addr=0xf67e6a0 pc=0x4607e1]

goroutine 16243167 [running]:
runtime.throw(0xac0609, 0x5)
	/usr/local/go/src/runtime/panic.go:566 +0x9c fp=0xc148810c48 sp=0xc148810c28
runtime.sigpanic()
	/usr/local/go/src/runtime/signal_windows.go:164 +0x10b fp=0xc148810c7

[2017-09-11 09:20] micastle commented on #8022
is the crash in models.Tags.Map fixed? I got the same issue on windows with v1.2.0

[2017-09-11 10:36] Msys-tech opened #8816 "Glyphicons License Clarity"
We selected influxdb for time series databases for an OEM product. The software is preinstalled on the device and shipped to the customers.

Please clarify the licensing part of glyphicons. It is not clear where it is used and what license is required. We are using only the influxdb server and influxdb Python client. Can you clarify whether glyphicon licensing policy applies to us? Should we buy a

[2017-09-11 11:06] wookdark opened #8817 "INFLUXDB_META_CONFIG_PATH does not source properly"
INFLUXDB_META_CONFIG_PATH will not source properly since the config parameter in "/usr/lib/systemd/system/influxdb-meta.service" gets hardcoded

Despite setting the environment variable and adding the same entry to /etc/default/influxdb-meta it does not take the variable

Changes to be done should be ExecStart=/usr/bin/influxd-meta -config ${INFLUXDB_META_CONFIG_PATH} ${INFLUXD_OPTS} instead /usr/

[2017-09-11 12:31] apaulsson commented on #7758
This would be great to have, I'm struggling to migrate from one server to another because of the lack of this feature.. :(

[2017-09-11 14:07] #8697 closed

[2017-09-11 18:57] radkin opened #8818 "count only works with numbers"
Given the following example:
[code]
We end up with the following series:
[code]
With numbers we get a result
[code]
With pattern matching count of a string we do not
[code]
Why can't we get a count of the number of color green toys, color blue toys, etc. ? More importantly, how do we get this to work?

[2017-09-11 20:04] phemmer commented on #8818
See http://docs.influxdata.com/influxdb/v1.3/query_language/functions/#count

^ Meaning you can't use it on tags.

[2017-09-11 20:34] radkin commented on #8818
works like a charm, thanks. Will use community in the future

[2017-09-11 20:34] #8818 closed

[2017-09-12 08:48] ahermspacketwerk opened #8819 "Key space is not cleanup up by retention policy"
affected version: influx 1.3.1

We are trying to use influxdb in a memory limited environment. Our data scheme requires to assign a medium number (1000 to 10000) of tag values.

We already found out that this is not optimal regarding the memory usage of influxdb.

Our current attempt is to limit the number of series with max-series-per-database = 10000.
So far, it works as expected. Whenever we hi

[2017-09-12 12:44] ricco24 commented on #5947
Any advance here?

[2017-09-13 02:59] ntquyen opened #8820 "TCP sockets produced by influxdb keep increasing"
### Bug report

__System info:__ [Include InfluxDB version, operating system name, and other relevant details]
OS: CoreOS 1465.7.0
InfluxDB version: 1.2.4 (docker image)
Influxdb conf (I almost use the default config):
[code]

I'm running some instances of influxdb to store our application metrics. After about 1 day, the whole machine hangs and cannot be accessible (ping, ssh), The console window

[2017-09-13 04:58] jonans commented on #7758
FYI its possible to export / import  a single DB using the following method. Its poorly documented but works for me. Tsm databases required:

**Export database using influx_inspect**

Beware exported files are in text format and will be huge.

[code]
**Import database using influx**

[code]

[2017-09-13 06:04] apaulsson commented on #7758
@jonans I actually found that trick after commenting here, took forever to find out.. First time I'm really working with Influx, so it may be a rookie mistake :)

But for backup and restore purposes, it's not very user friendly to have to export databases that way to be able to restore single databases.. For migration purposes, it's valid tho!

[2017-09-13 07:24] mixedfe opened #8821 "Slow query time"
### Bug report

__System info:__
_(Virtualized by Vmware Workstation on top of Windows 10)_
InfluxDB version: _InfluxDB v1.3.5 (git: HEAD 9d9001036d3585cf21925c13a57881bc6c8dcc7e)_
OS: _CentOS Linux release 7.3.1611 (Core)_
CPU: _8 vCore (AMD-FX 8350)_
Memory: _16GB_
HDD: _200GB SSD Passthrough (read max speed: 420MB/s, write max speed: 420 MB/s)_

_Host machine:_
Windows 10
CPU: _8 core (AMD-FX 8

[2017-09-13 08:57] max3163 opened #8822 "Lost all datas after DELETE command"
### Bug report
Influxdb version = 1.3.5
On linux go1.8.3
Intel(R) Xeon(R) CPU E5-2620 with 64Go of RAM

Sometimes, when we try to delete somes points on a specific measurement , we lost 2 or 3 days of datas in our database. ( all measurements are impacted ! )

Exemple of DELETE query  :

DELETE FROM events WHERE application = 'cosmos' AND time < 1505223439180000001 AND time > 1505223439179999999

[2017-09-13 10:51] Colkard opened #8823 "Flush due to idle. Flushing 7 series with 7 points... (console spamming this message each 10 secs)"
Hello, I have an issue with influx 0.9.5.1 (I'm using this as I saw I need it for using graphios repository). I couldn't find what cause this problem but here is:
I have this kind of spam on my "`influxd`":

I only have 1 DB and is empty. And also I have the __internal.
Thank you for reading!

[2017-09-13 11:44] drhpc commented on #7696
Yeah, I am in the situation of a packager now. I downloaded the release tarball of version 1.3.5, extracted to $WORKSPACE/src/github.com/influxdata/influxdb, also fetched all dependencies in the traditional way, then packed up the whole workspace.

Expectation: I can take that workspace, extracted to some location on a target system, and build influxdb only with a go compiler being present. So far

[2017-09-13 13:18] jwilder commented on #8823
This is is likely due the `_internal` database where stats are stored periodically.   Also, it looks like you are using `0.9.5` which is no longer supported.  I would recommend upgrading to the latest at some point.

[2017-09-13 13:18] #8823 closed

[2017-09-13 13:22] jwilder commented on #8820
What client are you using to write to the database?  Is it closing its connections?  As a workaround, you can setup
[code]

which will cap the max concurrent HTTP connections at 100 which should cause your clients to error out and prevent the database from running out of sockets.  That should help you track down where the connections are originating from.

[2017-09-13 13:28] jwilder commented on #8816
I believe Glyphicons was used in the admin interface https://github.com/influxdata/influxdb/tree/1.2/services/admin/assets/fonts which was deprecated a few releases ago and removed in 1.3.  I think the license list still lists Glyphicons incorrectly.

[2017-09-13 15:05] mark-rushakoff commented on #7696
@drhpc see https://github.com/influxdata/influxdb/pull/8803 which is close to getting merged.

[2017-09-13 15:11] drhpc commented on #7696
@mark-rushakoff Skimming though that … can in be that you are always assuming build/deployment using Docker? We don't do that here. Just a plain hardware server that should run influxdb. Is the build supposed to be working in a plain filesystem prefix?

[2017-09-13 15:20] mark-rushakoff commented on #7696
@drhpc Assuming you have the influxdb repo checked out and your working directory is in that repo and you're on a machine with Docker, you should be able to run `./releng/source-tarball/build.bash -p $PWD/.git -s DESIRED_INFLUX_SHA -b NOMINAL_BRANCH_NAME -v NOMINAL_VERSION -o /path/to/output/dir`, to generate a source tarball. Then copy the tarball to the machine where you want to build from sourc

[2017-09-13 15:28] drhpc commented on #7696
Hm, so that is the new picture (still don't see why Docker enters the picture, but I do see that I am from a different world and we're evaluating influxdb for a rather non-cloudy application, while everyone else runs it in Docker anyway, probably). And what would I do with the existing release tarball of version 1.3.5? Do these tarballs have a purpose?

So far I managed to get build.py run through

[2017-09-13 15:33] curio77 commented on #4155
+1

[2017-09-13 15:34] curio77 commented on #4156
+1

[2017-09-13 15:34] curio77 commented on #4157
+1 (really not seeing how this has not been implemented yet, essential as it seems dealing with historical data)

[2017-09-13 15:38] mark-rushakoff commented on #7696
We're using Docker in this case to minimize external dependencies and to ensure we're working with a reproducible, clean environment for every build.

Which release tarball are you downloading?

If you have `go` available, are you able to you follow the [CONTRIBUTING.md directions on building](https://github.com/influxdata/influxdb/blob/a40ef53b49837d90d4ca32499a253e96b3443dfe/CONTRIBUTING.md#buil

[2017-09-13 15:49] drhpc commented on #7696
Ah, I missed that document! Somehow it eluded my attempts to find hints about building. $GOPATH/bin/* is all I need, right (apart from the odd manpage)?  I am only the colleague who shall install the programs, someone else deals with the configuration. Out of principle (as scientists, and just generally;-), we want builds from source instead of provided binaries.

Then it seems I'm all set, thanks

[2017-09-13 15:56] mark-rushakoff commented on #7696
Yes, `go install ./...` should put `influx`, `influxd`, and the other commands in the `cmd` folder, all into $GOPATH/bin. If you haven't seen it yet, there's a Makefile in the `man` directory for building the manpages from asciidoc.

That should be sufficient.

[2017-09-13 16:05] drhpc commented on #7696
Thanks. For completeness, this is my build process now for the release:

1. Pre-Packaging (on a repository server)
[code]

2. Installation (on another box, probably segregated from the internet proper)

[code]

[2017-09-13 16:12] e-dard commented on #8815
@micastle can you upgrade to the latest version (`1.3.5`) and report back?

[2017-09-14 10:27] ricco24 opened #8824 "Authorization failed everytime with: no user provided error"
### Directions
### Bug report

__System info:__
influxdb version: 1.3.5
os: ubuntu / xenial

__Steps to reproduce:__

1. Create user **admin** with password **pass** as **admin**
2. Set **http auth to true**
3. Try to call:

`curl -G "http://localhost:8086/query?u=admin&p=pass" --data-urlencode "q=SHOW DATABASES"`
`curl -G "http://localhost:8086/query" -u admin:pass --data-urlencode "q=SHOW DATABA

[2017-09-14 10:33] micastle commented on #8815
I did try with 1.3.5 but blocked by another bug, which failed to load index due to access failure. I have reported the issue already.

[2017-09-14 10:55] mixedfe commented on #8821
I tried seperating measurements(tables) as retention policies to make write as different files. Nothing changed. Speed is still slow.

Then, I tried increasing cache memory size, nothing changed on that case too.

my last influxdb.conf
[code]

[2017-09-14 13:22] daveselan opened #8825 "SHOW TAG KEYS now extremely slow, but SHOW TAG VALUES hugely improved"
Since upgrading from the June nightly builds, SHOW TAG KEYS has become 1000x slower on our larger databases.

Interestingly however SHOW TAG VALUES has sped up by the same amount!  Which is a big win for Grafana dashboards. Thanks.

**Slow TAG KEYS performance on latest database**

[code]

**Fast and expected performance on older databases**

[code]

[2017-09-14 14:08] #8788 closed

[2017-09-14 16:03] ntquyen commented on #8820
@jwilder Thanks for your response, for nodejs, we are using `influx@4.1.0`. For golang, it's `github.com/influxdata/influxdb/client/v2`, release `v0.10.0-741-gc2ac8c8`
Quite out-of-date, may be we should consider upgrade these client...

[2017-09-14 16:07] jwilder commented on #8820
I definitely suggest upgrading your go client version as you may be hitting this issue that was fixed in the v2 client in 0.13: https://github.com/influxdata/influxdb/pull/6425

[2017-09-14 21:57] DaveBender commented on #5400
Any details or update on this issue?  I'm running into it today.  I backed up a database on one machine, moved the backup directory to another machine and did the restore. `influxd `said it restored just fine, but when I got to the influx CLI and `SHOW DATABASES`, the one restored is not there.

[2017-09-14 22:06] DaveBender commented on #5400
I ran into these same symptoms, and, yes, the metadata needs to be restored as one step, and the data restored as another.   So, if the data's not there, make sure the meta data has been restored, too.

[2017-09-14 22:08] gambrose opened #8830 "influx -import outputs to stderr on success."
### Bug report

__System info:__ influxdb-1.3.5_windows_amd64

__Steps to reproduce:__

1. curl https://s3.amazonaws.com/noaa.water-database/NOAA_data.txt -o NOAA_data.txt
2. influx -import -path=NOAA_data.txt -precision=s -database=NOAA_water_database

__Expected behavior:__ Outputed to stdout
[code]

__Actual behavior:__ Outputed to **stderr**
[code]
__Additional info:__

Logging to stderr makes

[2017-09-15 00:10] whidbey opened #8831 "Is there a way to update the value by time?"
Is  there a way to update the value by time?
I search again and can see some results says I have to delete the data and insert again.

insert  example,a=1,b=3,c=4 value="x=1;y=2;z=3" time=1111111111111111
if I need to change the "a" or "value",
I will have to
delete example where time=11111111111111111
insert  example,a=2,b=4,c=5value="x=1;y=2;z=3" time=1111111111111111
like this.

is that  high e

[2017-09-15 01:27] danielnelson commented on #8785
This was caused by a bug in Telegraf and was fixed in 1.4.0.

[2017-09-15 01:27] #8785 closed

[2017-09-15 02:49] liketic commented on #8813
I think I can take this.

[2017-09-15 03:02] ntquyen commented on #8820
@jwilder Thanks a lot! That could be the reason, I will try upgrade the client ASAP

[2017-09-15 03:02] #8820 closed

[2017-09-15 10:11] e-dard commented on #8831
Hi! We try and keep GitHub Issues for  actionable bug reports or feature requests. Please post general questions on the InfluxData community site: https://community.influxdata.com

Thanks.

@whidbey to briefly answer your question though, "realtime updates" implies that you are adding new data over time, as you receive it. Thus each data point would have a different timestamp—you wouldn't be writi

[2017-09-15 10:11] #8831 closed

[2017-09-15 10:16] e-dard commented on #8825
Hi @daveselan `SHOW TAG VALUES` sped up because of the performance work we did here: https://github.com/influxdata/influxdb/pull/8660

Can you just clarify that you're comparing two nightly versions? The _older_ nightly is quite far back; we've had several `1.3.x` patch releases since then. Do you think you could run your test on the latest `1.3.5` release?

Also, could you give an overview of the

[2017-09-15 10:18] e-dard commented on #8819
Thanks for the @ahermspacketwerk,

Could you just check that this issue occurs on `1.3.5`? It sounds like the index isn't being updated appropriately when the retention policy service drops a shard. We should be checking if we have dropped the last existing point for a series, but possibly that's being missed somewhere.

[2017-09-15 10:37] e-dard commented on #8824
@ricco24 I can't reproduce this.

Are you sure that you have set everything up properly? The order of things should be:

  - InfluxDB is running with no http-auth setup.
  - Create an admin user `CREATE USER admin WITH PASSWORD 'pass' WITH ALL PRIVILEGES`.
  - Shut down InfluxDB.
  - Edit the configuration file and set `auth-enabled = true` in the `[http]` section.
  - Restart InfluxDB ensuring yo

[2017-09-15 10:42] e-dard commented on #8830
@gambrose the importer uses Go's standard `log.Logger`, which by default emits its output to `stderr`.

I think I agree with you that there should be a better separation there. I'll put up a PR to use `stderr` and `stdout` appropriately.

[2017-09-15 11:08] e-dard commented on #8822
@max3163 are you saying that you have points in the `events` metric that are outside the time window `[1505223439180000001, 1505223439179999999]` and are deleted?

[2017-09-15 11:09] e-dard commented on #8817
@wookdark looks like you're using an unsupported version of Influx? What version are you running?

[2017-09-15 11:17] max3163 commented on #8822
Not really, I'm saying that I lost most of the time last 3 days of datas points in all my measurements present in the same database that the 'events' metric.

[2017-09-15 11:31] gambrose commented on #8830
Thanks @e-dard looks good to me. 👍

[2017-09-15 13:37] taichatha commented on #8810
adding slimit 3 to the end of the query does limit it to 3. But it doesn't maintain the order of the time.

[2017-09-15 19:19] phemmer commented on #7801
Looks like there's a PR up for this over at #8835

[2017-09-15 21:03] rbetts opened #8839 "CREATE DATABASE doesn't create retention policies as documented"
Per: https://docs.influxdata.com/influxdb/v1.1/query_language/database_management/#create-a-database-with-create-database

I expect this command to create a retention policy named `foo`.

[code]

See also: https://github.com/influxdata/kapacitor/issues/1565

[2017-09-15 21:11] nathanielc commented on #8839
In addition I ran into this unexpected behavior.

Kapacitor allows users to create a database with a named retention policy when they are outputing data to InfluxDB from within a task.

Kapacitor's implementation of this feature was to issue a `CREATE DATABASE "dbname" WITH NAME "rpname"` query. If the database doesn't exist its created, if it does exist then nothing happens. But if the database e

[2017-09-16 05:20] whidbey commented on #8831
thanks.

[2017-09-16 07:03] e-dard commented on #8822
So you're saying that within the specified time window you have lost points that belong to a series that doesn't have the `application=cosmos` tag pair?

[2017-09-16 08:25] max3163 commented on #8822
Yes exactly !
We lost all datas points on the database 'qualif' for a period of time of about 3 days.
All tag pair are impacted and some measurements don't have the application tag at all.

[2017-09-16 20:28] Lenbok commented on #6975
Also getting the same error as @think-free  on my raspberry pi 3.

Influx has been happily running for ages then all of a sudden starts spamming the logs with the two error messages, eventually causing out of disk space. After clearing up the logs and rebooting, it seems to be running fine although it looks like the last few days of data is gone :-(.

Perhaps there is a memory leak somewhere?

[2017-09-17 22:14] wavicle opened #8841 "SELECT query neither reports error, nor returns results"
### Bug report

__System info:__
InfluxDB v1.3.5 (git: HEAD 9d9001036d3585cf21925c13a57881bc6c8dcc7e)
InfluxDB shell version: 1.3.5 (this is what 'influxdb --version' returns)
Ubuntu 17 (Zesty Zapus)

__Steps to reproduce:__
1. Enable the Telegraf plugin (I was using Telegraf when I ran into this issue)
2. On the InfluxDB client (same issue on HTTP API too) say 'USE telegraf'
3. Confirm that a sim

[2017-09-17 23:19] wavicle commented on #8841
I revised up the description. I probably experienced issue #7992 (which is closed already).

The following query does not work because it contains all tags (host is a _tag_):
SELECT host FROM ntpq

However, when a _value_ is selected with a _tag_, the query works:
SELECT delay, host FROM ntpq

Shouldn't InfluxDB report an error when someone searches for tags alone? This behavior seems misleading t

[2017-09-18 07:29] fnoop commented on #6068
This is a major flaw in influxdb startup, as it means other services that depend on influxdb then fail (for example, collectd using influxdb backend).  influxdb should support systemd Notify.
@phemmer Good workaround, can use that technicque in ExecStartPre for collectd startup.

[2017-09-18 08:55] sibilkov commented on #8031
Hi! I have the same problem, but I doesn't want to power off my iptables all the time, and
` -A INPUT -p udp -m udp --dport 25802 -j ACCEPT
`
didn't help.
How does you solved your issue with firewall?

[2017-09-18 11:40] e-dard commented on #8721
Fixed via #8757

[2017-09-18 11:40] #8721 closed

[2017-09-18 13:13] pgayvallet commented on #3991
+1. Blocker for our usages.

[2017-09-18 14:07] e-dard opened #8842 "Races caused by unprotected engine access"
There are a number of unprotected accesses to the `Engine`, via the `Store`, which if triggered can lead to the server panicking.

For example:

 - Interaction between `SHOW TAG VALUES` and `DROP DATABASE`.
 - Interaction between opening a shard and `DROP DATABASE`.
 - Interaction between `SHOW FIELD KEYS` and `DROP DATABASE`.
 - Interaction between the monitoring service and `DROP DATABASE`.

[2017-09-18 16:26] mixedfe commented on #8821
I believe, I used influxdb for wrong case. I tried to use as big data storage. I gave up. I will continue with sqlite (each measurement is different sqlite file). I get better performance from it.

[2017-09-18 16:26] #8821 closed

[2017-09-18 18:18] logzilla commented on #8003
Is there some documentation that specifies what *a lot of ram* is?

I have a server using only 5GB ram with 60GB free. We have two tags that go to around 300k values.

Given this, is there a way to calculate the expected amount of ram needed?

[2017-09-18 20:46] logzilla commented on #8003
Well, I found out myself. The truth is: it's not *just* about memory. I enabled the tags and within a few hours on a larger server, I had `129181` values. Influx was using about `10GB` more for the ram. This server has `227GB` ram free, yet....Influx's response came to a horrible screeching halt. It became more or less unusable, unable to make queries within a reasonable time frame.

I don't see w

[2017-09-19 07:02] appunni-dishq opened #8846 "How to set precision at DB level"
Extension of #8746 :

I have tried to set the precision in the config file as seconds. But as i write data and tries to fetch it its again showing Nanoseconds timestamp.

I read the whole Doc but couldn't figure it out
only change in my config file is:  precision = "s"

help me understand these things

How do I set the precision at DB level and how will I make sure I only get set precision timesta

[2017-09-19 07:09] appunni-dishq commented on #8846
I know its a question. So I am linking it to stackoverflow. [Question](https://stackoverflow.com/questions/46294051/influx-db-precision-setting-at-db-level). You can answer there and close this issue . This is for future reference for anyone searching this up.

[2017-09-19 12:12] e-dard commented on #8846
Hi! We try and keep GitHub Issues for  actionable bug reports or feature requests. Please post general questions on the InfluxData community site: https://community.influxdata.com

Thanks.

[2017-09-19 12:12] #8846 closed

[2017-09-19 14:41] jondoe1337 commented on #8820
@ntquyen Did that fix your problem?

[2017-09-19 15:42] NotionCommotion opened #8848 "Subqueries can only perform math on two fields"
__System info:__

InfluxDB shell version 1.3.5
CentOS Linux release 7.3.1611

__Steps to reproduce:__

Perform the following query from the shell:
SELECT p FROM (SELECT P51 + P55 + P57 AS p FROM L11)

__Expected behavior:__

The same results as: SELECT P51 + P55 + P57 AS p FROM L11

__Actual behavior:__

The query runs indefinitely (at least 5 hours) and the shell locks up requiring me to ctrl-z t

[2017-09-19 16:02] jcmcken opened #8849 "User impersonation (cf. MySQL proxy user, Postgres SET ROLE)"
__Proposal:__

Add a facility into InfluxDB that allows a user with sufficient privileges to assume the privileges of another (perhaps less privileged) user.

In MySQL, this is accomplished with a "proxy user" ([documentation](https://dev.mysql.com/doc/refman/5.5/en/proxy-users.html)). In PostgresQL, you can issue a command ``SET ROLE`` to change the role of the current session ([documentation](ht

[2017-09-19 17:19] rbetts commented on #8816
We'll clean this up and backport the license change to 1.3 for our next (1.3.6) maintenance release.

[2017-09-19 17:34] rbetts commented on #7801
@phemmer We are working on this now. There will be a series of PRs. Actually, we added uint64 capability to the underlying storage some time ago. Now we getting back to building out the wire protocol, query engine, response paths, tests.

[2017-09-19 18:21] jsternberg commented on #8848
When you kill the query, does the influx client return control or does it continue to stall? Basically, can you take two terminals. In one terminal, run the query that's a problem. In the other, kill the query. Does control return to the first terminal or do you still have to kill the program?

[2017-09-19 18:39] NotionCommotion commented on #8848
After killing the query, the influx client does not return control but continues to stall.

[2017-09-19 18:58] jsternberg commented on #8848
Meh, I thought that would happen. The query is still using resources, but I never fixed the task manager to actually say it was a zombie task. There are two separate tangential issues that I'll also see if I can fix. Fixing them won't help you get a running query, but having them broken makes it worse.

I'm trying to reproduce this but haven't been able to yet. It works for me on my local machine.

[2017-09-19 20:18] chooko commented on #7185
I too am seeing this issue. Graphing network octets with a derivative function to get the bits/sec. If my device is down for a time, I'd prefer to see a gap in the graph, instead of a linear or previous value graphed.

Any ideas on how to achieve that?

[2017-09-19 20:40] rbetts commented on #8690
@xPaw if you can change `fill(linear)` to `fill(none)`, that would skip empty intervals. However it also changes the behavior for missing intervals in the more recent data.

@jsternberg Any luck reproducing this?

[2017-09-19 20:40] rbetts commented on #8690
@mark-rushakoff - can we make sure we have this query pattern in h/t?

[2017-09-19 20:49] jsternberg commented on #8690
I bisected it back to timezone support: 347b018.

I'll start looking into it.

[2017-09-19 21:36] jsternberg commented on #8690
So... this gets a little trippy. There are two bugs. There are two bugs in 1.2 and one bug in 1.3. The two bugs, in combination with each other, caused the behavior that @xPaw saw. That behavior is incorrect in the current query engine.

Before I continue, I actually see @xPaw's concern and I think we should consider ways to make his behavior be correct. I've got an idea, but I'd prefer to focus o

[2017-09-19 21:52] NotionCommotion commented on #8848
Yes, there is missing data.  My data arrives asynchronously and often I don't have data for all fields for a given timestamp.   Is that an issue?  If necessary, I can give you access to the server.
[code]

[2017-09-19 22:35] NotionCommotion commented on #8848
Sorry, accidentally closed and didn't realize until now.

[2017-09-19 22:42] mark-rushakoff commented on #6068
We're currently using [fpm](https://github.com/jordansissel/fpm) to generate our packages. I've scoured through the documentation and code, and I haven't been able to find any suggestion that we can use systemd notifications or hook into systemd sockets or easily modify the service script to add ExecStartPost. Tomorrow, I will investigate whether we can use the "drop-in `.d` directories" as explai

[2017-09-20 09:27] lucasjans commented on #8820
Yes @jondoe1337  - that worked.

[2017-09-20 13:38] 1tgr commented on #6234
Can we re-open this issue? `influx_inspect export` doesn't fit the requirement as it exports an entire database. Adding a line-protocol option to the influx CLI or the influxd response would allow for filtering.

[2017-09-20 15:37] theoDiefenthal opened #8858 "SELECT with regex for measurement name somewhat ignores string valued measurements"
### Bug report

__System info:__  Most recent docker-compose Influx TICK stack, thus Influx 1.3.5. Operating System: Windows 10. Runs a Ubuntu in VirtualBox which in turns runs docker-compose TICK stack. Bugreport from Influx-CLI execution. But reproduced with calls to REST API directly.

__Steps to reproduce:__

Create a set of dummy measurements in line protocol and import them to influxdb:
[cod

[2017-09-20 18:46] jsternberg commented on #8848
The missing data can be an issue, but I thought that had been fixed. There was an issue where `fill(none)` would cause a deadlock because the fields have to be read with each other or it causes a deadlock. The original issue is [here](https://github.com/influxdata/influxdb/issues/8067#issuecomment-284008144). Is there any other part to your query? We automatically set the subquery to use `fill(non

[2017-09-21 00:43] tywkeene commented on #8733
Any update on this? This is a big blocker for me.

[2017-09-21 01:40] gusutabopb commented on #8707
I have just run into the same issue in one of my applications.

InfluxDB output JSON is showing floats as integers and that is a big issue, IMHO.

As @bbczeuz said, data fetched from InfluxDB can't be fed written back to the same collection as that will cause column type issues and result in a HTTP 400 error.

My current workaround is to use `SHOW FIELD KEYS` to double check the type of each colum

[2017-09-21 03:39] jordansissel commented on #6068
for folks following along, @mark-rushakoff and I are improvements to fpm and pleaserun to make possible whatever notifications are necessary -- https://github.com/jordansissel/fpm/issues/1412

[2017-09-21 11:06] e-dard commented on #8707
@gusutabopb @bbczeuz sorry, I should have said that we have a proposal in place to remedy this by moving to an alternative output format to JSON: https://github.com/influxdata/influxdb/issues/8330

I think the only current solution is, as you explained @gusutabopb to check the type first, or have some client-based error handling to detect the wrong type and insert accordingly.

[2017-09-21 11:56] NotionCommotion commented on #8848
I created the following from scratch to simulate the data.  I used your query "SELECT * FROM (SELECT f1, f1 + f2 FROM m1)", and it stalls similar to "SELECT sq FROM (SELECT f1+f2+f3 AS sq FROM m1)".  What do you whitness when you use the following?

[code]
[code]

[2017-09-21 15:38] rbetts commented on #8733
InfluxDB uses `gdm` to manage package dependencies.  Use `gdm restore` to pull the necessary version of `zap`.

That version of zap doesn't have any references to `go.uber.org`:

[code]

I'm going to close this. If I've misunderstood the issue reported, please let us know and re-open.

[2017-09-21 15:38] #8733 closed

[2017-09-21 16:05] sqreek commented on #8623
we felt down in same problem.
It seems that range provided from kibana is not closed.
If you add and time < now() it will works
https://github.com/influxdata/influxdb/blob/253b8c2b35f8529fe597d065143c0c2e287a5b15/query/compile.go#L823
max range in such situation could be solved on influx side (by using now as default for max) or on kibana side (add time< now())

[2017-09-21 16:13] rbetts commented on #6234
@1tgr If we implemented this via Kapacitor, would that fit your workflow?

[2017-09-21 16:18] 1tgr commented on #6234
@rbetts Sure, what I'm looking to do right now is capture data for testing. The line protocol format is pretty compact and readable, and can be re-imported easily. I can also see this being useful for selectively migrating data between InfluxDB instances.

[2017-09-21 17:03] #8816 closed

[2017-09-21 21:27] jsternberg commented on #8690
I appear to have made a mistake while looking at the 1.2 code. There were two bugs, but the underflow bug was present in 1.2 and was fixed later so it doesn't exist in 1.3.

I'll start looking into a way that we can make a non-existent lower bound to be the most recent window. About a month ago, I merged a change that made it an error not to specify a lower bound to avoid this kind of issue.

Sorr

[2017-09-22 03:34] Planet2010 commented on #77
+1

[2017-09-22 11:41] NotionCommotion commented on #8848
Note that this behavior is not experienced should all fields have a value for each timestamp.  Furthermore, it is not experienced if some fields do not have a value provided this does not occur for two subsequent timestamps.

This query works:
[code]

This query crashes the system:

[code]

[2017-09-22 12:28] bbczeuz commented on #8589
Any updates on this?

[2017-09-22 14:57] jsternberg commented on #8848
The first one is a good reproducer. I'll try out some fixes.

[2017-09-22 16:04] rapport opened #8862 "Influxdb HTTP GET query stream output"
### Feature Request

We are trying to improve the performance and remove the latency of our application. Currently we call data from influxdb via HTTP GET and manipulate the data for presentation then we re-request every 1 or 5 seconds for updates. When re-requesting like this most of the data we use is the same as we already have displayed and it is not really needed and we are doing this just to

[2017-09-22 16:16] #8678 closed

[2017-09-22 16:17] #8830 closed

[2017-09-22 19:28] phemmer commented on #8862
I don't think it's documented anywhere, but influxdb does have subscriptions where it pushes out all data it receives. This is how kapacitor works. However it requires your app to listen on a socket for the HTTP calls.

See also #8536

[2017-09-22 22:32] jsternberg commented on #8690
@xPaw can you try #8866 and see if that works for you?

[2017-09-23 09:00] xPaw commented on #8690
@jsternberg I am not familiar with running influxdb from source, it might be too much hassle. But the PR looks solid to me.

[2017-09-23 13:40] NotionCommotion opened #8867 "fill(somevalue) produces incorrect results"
**System info:**

InfluxDB shell version 1.3.5
CentOS Linux release 7.3.1611

**Steps to reproduce:**

[code]
**Expected behavior:**

[code]

**Actual behavior:**

See Steps to reproduce

**Additional info:**

After additional investigation, maybe I just don't know the precedent of arthritic.  Sorry in advance if that is the case.

[code]
Test 1: select f1, f2, f3, 1.5*f1+2*f2-f3+100 as tot from m

[2017-09-24 03:02] mammenj commented on #6528
can the default be to return all data and introduce a new flag to limit the data?

[2017-09-24 15:42] paolss opened #8868 "Problem with inserting data into influx (about 1000inserts/s)"
Hi Trying to insert data by some python script into influx bad have problem with updates for similar records - one record is inserted and second not for example:

GOOD - DB UPDATED:
data on ifasnstats {'writer_id': 'asn-if-in-amqp/19211', 'iface_in': 134, 'stamp_updated': '2017-09-24 17:36:01', 'event_type': 'purge', 'bytes': 6098400, 'as_src': 21249, 'packets': 7200, 'stamp_inserted': '2017-09-24

[2017-09-24 17:31] paolss commented on #8868
Problem solved
Cahnged
   max-series-per-database = 1000000
to
   max-series-per-database = 0

Now no problem with updates

[2017-09-25 08:50] jgysel commented on #8545
Thanks @bbczeuz for the hint! Wrote a script triggered by cron that runs CQ-like queries as proposed by you. The load is much lower compared to using kapacitor.
Unfortunately absolute time must be used. Using relative time (e.g. `WHERE time > now() AND time < now - 10m`) would be much easier to implement, but leads to wrong results (as the cronjobs are always slightly delayed and aren't able to ru

[2017-09-25 11:50] hrj713 opened #8869 "Subscription separates one point into two"
System info:

docker version: 1.12.6
system version: ubuntu 16.04
base image ubuntu version: 14.04
influxdb version: 1.3.5
kapacitor version: 1.3.1
telegraf version: 1.3.0

Steps to reproduce:

Telegraf collects `system` metrics and write into influxdb,
Kapacitor subscription protocol is http.

Expected behavior:

Influxdb should not separate a point into two points while transporting points to ka

[2017-09-25 15:06] hjdr4 opened #8871 "Retention policy does not work"
Using InfluxDB 1.3.5 on a single node.

I expect my data is deleted if it's older than the retention policy that is configured:

[code]

Waiting some hours...

I still have older data:
![image](https://user-images.githubusercontent.com/2270634/30815257-ea9cb4da-a212-11e7-9951-0c6b4cb8a740.png)

Did I miss something ?

[2017-09-25 16:58] #8848 closed

[2017-09-25 17:34] #8842 closed

[2017-09-26 10:19] e-dard commented on #8871
@hjdr4 could you provide the InfluxDB server logs?

[2017-09-26 10:22] e-dard commented on #8869
@hrj713 what version of Telegraf are you using? This seems according to the thread in influxdata/kapacitor#1116 that this might be a Telegraf issue? /cc @danielnelson

[2017-09-26 10:24] e-dard commented on #8868
@paolss also make sure for efficiency that you're batching your requests up. Sending one request with 10,000 points in it is much more performant than sending 10,000 requests with a single point in each one.

[2017-09-26 10:24] #8868 closed

[2017-09-26 10:27] hrj713 commented on #8869
@e-dard telegraf version: 1.3.0

[2017-09-26 10:27] ankush4188 opened #8875 "Unable to save data in influx via telegraf"
E! ERROR in input [inputs.exec]: Errors encountered: [unable to parse 'Seconds_Behind_Master 0 Seconds_Behind_Master 0 Seconds_Behind_Master 0 Seconds_Behind_Master 0': invalid field format]

want save data in influx through telegraf unable to do that please help

[2017-09-26 10:43] hrj713 commented on #8869
tcpdump shows telegraf sent two points to influxdb:
[code]

[2017-09-26 10:46] e-dard commented on #8867
@NotionCommotion this definitely looks like a bug to me...

Take for example:

[code]

Assuming the `fill(100)` worked correctly and filled `f1` and `f2` (since we know `f3 == 1`), then we can simplify for the earliest point in the data :

[code]

Let's assume that the `fill(100)` doesn't work and `f1` and `f2` remain as `0`, then we can simplify for the earliest point in the data to:

[code]

Yet

[2017-09-26 10:50] e-dard commented on #8871
Thanks. The HTTP stuff might have been useful. I was interested in where the writes were going.

Could you also do the following:

[code]

Obviously you'll need to adjust `localhost` to work with your docker networking stuff.

[2017-09-26 10:53] e-dard commented on #8825
@daveselan do you have any more information on this? Did you try the `1.3.5` release? I'm keen to keep on top of any of these regressions but if I don't hear anything in the next few days I'll close out the issue. Cheers.

[2017-09-26 10:54] e-dard commented on #8719
I think this got fixed somewhere along the way with the `1.3.5/6` work.

[2017-09-26 10:54] #8719 closed

[2017-09-26 13:29] rbetts commented on #8875
@ankush4188 Our community forum would be a good place to ask this question: https://community.influxdata.com/c/ts-collect

[2017-09-26 13:29] #8875 closed

[2017-09-26 13:43] rbetts commented on #8589
The internal iterators used for several of the `show` commands has been changed on master to re-use more code from the query engine. We should re-test this on master.

[2017-09-26 13:47] rbetts commented on #8623
We have users that write future (forecasted) data into the database and then overwrite it with current data as current data arrives. I think implying `now()` as a max time would break that use case. I'd prefer the query engine not guess the user's intentions and imply a `max`.

[2017-09-26 14:30] jsternberg commented on #8623
This should likely treat `now()` as the implicit end. We do that somewhere in the query engine when there is a `GROUP BY time(...)` in the query. If there's no interval, then the implicit end time is the maximum possible timestamp.

The bucket check must happen before that time gets reset. I'll take a look.

[2017-09-26 14:43] jsternberg commented on #8623
I took a look. This appears to be fixed in master, but the bug exists in 1.3. The fix for 1.3 is different than the one in master because it got fixed in master by accident during a refactor of the code.

[2017-09-26 15:55] gentaro-masuda opened #8876 "Low performaces when finishing available RAM"
### Bug report

__System info:__

 - SO: CentOS 7 (2 nodes in replica)
 - InfluxDB version: 1.3.4-c1.3.4
 - RAM: 32GB
 - Disk: 100GB nvme

__Steps to reproduce:__

1. Install influxDB and run it
2. Archive 66.9GB of data per node

__Expected behavior:__ Responsive cluster, application should handle that situation or show a specific error in logs.

__Actual behavior:__ High load, all memory allocat

[2017-09-26 18:19] danielnelson commented on #8869
I believe this is the issue described in https://github.com/influxdata/kapacitor/issues/1217.

[2017-09-26 20:35] aanthony1243 opened #8879 "Influx DB Export functionality"
Update backup command to support an 'export' functionality:

the original backup method will remain, though the database name will be required:

influxd backup -database <dbname>  -since <date> /path/to/backup

where '-since'  selects data to output based on the age of the files on disk.  This is a more operational-style backup that gets all changes since that date.

Many customers want to use the

[2017-09-26 20:38] aanthony1243 opened #8880 "Influx DB import exported data"
related to #8879,
Backup + export functionality will produce the same data output:
1.  DB name
2.  backup/export parameters
3.  shard data from disk

We'll provide a single 'restore' command to create a new database on the destination node:

influxdb restore -database <DBNAME> [-retention <retentionpolicy>] [-shardid <shardid>] /path/to/backup

propose dropping restore of a full "metadata" backup

[2017-09-27 01:12] hrj713 commented on #8869
@danielnelson yes it is and we will use batch for this kind of circumstance. Thank you very much.

[2017-09-27 06:40] #8869 closed

[2017-09-27 10:41] stanxing opened #8881 "must set query-log-enabled = true when want to log slow query only."
Bug report

Influxdb version = 1.3.5

I must set 'query-log-enabled = true' when I want to log slow query.

when I configure the influxdb.conf below:
influxdb.conf
[data]
 ...
  query-log-enabled = false

[coordinator]
  query-timeout = "60s"
  log-queries-after = "10ms"

The result is that influxdb didn't ouput log about any query.
Then I set query-log-enabled = true, I can see all query log incl

[2017-09-27 15:06] jfcalvo opened #8882 "Not possible to count the total number of data points for a measurement"
I don't find any way to get the total number of data points for a measurement.

Given the following measurement:

[code]

I can't find any way to get the total number of data points for the measurement. If I do a `count(*)` I get the count for the different fields of the measurement:

[code]

But I can't get the correct number that is `6`.

[I have found an answer on stack overflow](https://stacko

[2017-09-27 15:49] kjschnei001 opened #8883 "InfluxDB Stops Performing High-Level Compactions"
### Bug report

__System info:__

CentOS Linux release 7.3.1611 (Core), Influx v1.3.5-1

__Steps to reproduce:__

We are unsure what the root cause is and thus how to reliably reproduce.

__Additional info:__

We are experiencing an issue with version 1.3.5 of InfluxDB where it has not completed sufficient, if any, level 2, level 3, or full compaction on new shards in almost 24 hours and counting.

[2017-09-27 15:58] jwilder commented on #8883
Two you things you can check:

1) You're graphs are not showing `optimize` compactions.  It's possible there is a larger optimize compaction running.

2) Your config has:

[code]

These are significantly higher than the current defaults:

[code]

These defaults are fairly conservative.  I'd suggest lowering the full compaction threshold to:
[code]

[2017-09-27 16:09] kjschnei001 commented on #8883
Thanks, @jwilder! Will give that a try!

[2017-09-27 16:10] hjdr4 commented on #8871
[profiles.tar.gz](https://github.com/influxdata/influxdb/files/1337902/profiles.tar.gz)
[vars.txt](https://github.com/influxdata/influxdb/files/1337905/vars.txt)

[2017-09-27 16:19] e-dard commented on #8871
@hjdr4 according to the `shards.txt` file in that profile, your current shard on `cadvisor` has a duration of 7 days. You have another database called `ride` that has a shard duration of 1 hour.

I think might have got your databases / retention policies muddled up?

[2017-09-27 16:22] e-dard commented on #8871
Also, it's worth remembering that, as pointed out in the [docs](https://docs.influxdata.com/influxdb/v1.3/query_language/database_management/#retention-policy-management) `DURATION` determines how long InfluxDB will keep the shard data around for, `SHARD DURATION` determines how long a time-span each shard has, before a new shard is created.

[2017-09-27 17:14] hjdr4 commented on #8871
I did'nt muddle anything.
`ride` database does not have data so I cannot tell if retention is working.

About `cadvisor`, I have
[code]
It's a copy/paste from the terminal. So if you see other duration somewhere else, you have the problem : it's configured at some place but not at some others, this is inconsistent.
The questions now are what happened and can I reconcile things ?

[2017-09-27 17:20] hjdr4 commented on #8871
Just to be sure, I created the `cadvisor` database with default policy, put data into it, then changed the policy. I expect changing the policy does apply to the first shard even if it was created with another policy.

[2017-09-27 17:23] e-dard commented on #8871
@hjdr4 I think I understand what's going on.

My assumption is that you altered the retention policy rather than creating it with the 1h duration.

When it was initially created it would have had the default retention policy, which has a `SHARD DURATION` of 7 days, and a retention period (`DURATION`) of infinity.

Altering a retention policy only applies to new shards as they're created. However,

[2017-09-27 17:31] jwilder commented on #8871
@hjdr4 Your current `cadvisor` shards have a duration of 7d.  It's likely this shard was created _before_ you altered the duration.

[code]

Altering the retention policy does not affect existing shards.  It will only affect new shards that are created after the alter statement has been applied.  Since this shard range is 7d and won't rollover until `2017-10-03T00:00:00Z`, it won't be deleted unti