[2015-07-20 20:56] beckettsean commented on #3368
@jhedlund I'm unaware of any different log levels right now. The internals have changed enough that the self-diagnostics and monitoring are being redone from scratch, so we might not know what's happening for another point release or two.

[2015-07-20 20:57] beckettsean commented on #3379
A point without a value is invalid, but it shouldn't panic the server.

[2015-07-20 21:01] olivierHa commented on #3380
Indeed it was working using 0.9.1, so I think it is a regression.
And yes, removing the "order by asc" is a working fine. Thanks for the
workaround.

2015-07-20 22:46 GMT+02:00 Sean Beckett <notifications@github.com>:

[2015-07-20 21:07] jhedlund commented on #3368
Ok, thanks.

I change recompute-previous-n to 0 to see if that made a difference (after reading a bit about them here https://github.com/influxdb/influxdb/blob/bf219cad358637b7771eced94a9ad0a7b5fa4b80/services/continuous_querier/config.go )

Did not make any difference.   I have also tried CQs of similar nature using time(2m) and (5m) - both fail with the 500 timeouts after about a minute.

I'm tr

[2015-07-20 21:21] pauldix commented on #3259
@gunnaraasen is this one done?

[2015-07-20 21:25] j-rock opened #3401 "[0.9.1] Derivative operation on strings panics db, sometimes causes data loss"
I made the mistake of trying to perform a derivative operation on a column of strings.

InfluxDB 0.9.1 reported a panic:

In this case, 522.00000 was a string.
The next thing I knew, my InfluxDB instance crashed and upon restart, my data were corrupted. :/.
I avoid this by operating on floats (not strings!), but it seems like this error case could be handled better.

[2015-07-20 21:26] otoolep commented on #3401
@j-rock - can you explain why you believe your data were corrupted? A query does not make any changes to data.

[2015-07-20 21:39] gunnaraasen commented on #3259
This is fixed in 0.9.2-RC1 by #3244.

[2015-07-20 21:39] #3259 closed

[2015-07-20 21:47] shish commented on #3395
I deleted the raft.db file and now this message only appears once, but I also get:

[code]

[2015-07-20 21:49] pnpritchard commented on #961
:+1: for time to be allowed in the SELECT clause and within functions like MIN

[2015-07-20 21:49] shish commented on #3275
after deleting raft.db which was full of copies of localhost, I now appear to have /no/ peers...

[code]

[2015-07-20 22:16] vbatoufflet commented on #3379
Yes of course, I understand it's invalid.

I just forgot to pass it through cURL and I was surprised that the routine paniced.

[2015-07-20 22:29] jhedlund commented on #3368
Update:  The group by time (1h) started to fail at about the 2nd hour mark with 500 errors.... eventually locking up queries on the database as well.

[2015-07-20 23:04] otoolep commented on #3380
Yeah, this is a regression. Something up with the parsing perhaps.

[2015-07-20 23:23] beckettsean commented on #3382
@gucki this is expected behavior, as only one point can exist per measurement+tagset+timestamp.

Both of your continuous queries are writing into the `net` measurement in the `default` retention policy of the `netskin` database. You're grouping by the same time interval, so the timestamps will be identical, and you're grouping by `*` so the tag sets are duplicated. You're writing two different fie

[2015-07-20 23:23] #3382 closed

[2015-07-20 23:28] beckettsean commented on #3319
@greglook I've certainly raised awareness on the core team. I suspect this fix will get cherry-picked back into the 0.9.2 RCs once it's been solved. I don't have any more update than that.

[2015-07-20 23:47] jhorwit2 opened #3403 "Unable to query fields with single quotes via CLI or admin UI"
[code]

https://groups.google.com/forum/#!topic/influxdb/tM5JysvWE2A

[2015-07-21 00:06] jpbetz commented on #183
+1

[2015-07-21 02:22] otoolep opened #3407 "[0.9.2] Query with both raw and aggregates should throw error"
Not sure if this expected, but a combination raw and aggregate query doesn't work as one might expect. I checked 0.9.1 (pre-DQ work) and it also suffers from the same problem.

[code]
Results:
[code]

[2015-07-21 07:41] gucki commented on #3382
@beckettsean Thank you for your detailed reply. Another option would be to have a `INSERT ... ON DUPLICATE UPDATE ...` behavior. That way the second CQ would simply set/ update the `min` value, not changing the existing `max` value form the first CQ.

[2015-07-21 07:52] gunnaraasen commented on #2761
Fixed by https://github.com/influxdb/influxdb/pull/3345

[2015-07-21 07:52] #2761 closed

[2015-07-21 08:04] jeremyVignelles commented on #3398
Using 0.9.1, I am trying to send 192 files of 512 points each.
For a fresh database (I'm using Docker), with this configuration file:
[code]

Trying to send in sequence my 192 files of 512 points each:
Total time : 155883ms
The following chart shows the integration time over file number
![Integration times over file number](https://cloud.githubusercontent.com/assets/3399355/8795280/fd33d12e-2f8b-1

[2015-07-21 08:15] diiidiii opened #3410 "[0.9.1] After Restart of one Node cant access data"
I've got the following problem: i have 3 nodes with clustering. When i stop or restart 1 node, everything goes right because i can access the data on the other two nodes and look at grafana.
Now the big problem: When the node starts again i get always the debug info "Failed to contact x.x.x.x" and "Rejecting vote from x.x.x.x since we have a leader: x.x.x.x"
Now i restarted all nodes again and it

[2015-07-21 08:42] xkrt opened #3411 "500 timeout on write"
Hi,

If I write following line (generated by QuickCheck-like tool, actually):
[code]
I got 500 with `timeout` in body. The problem occurs probably because of field key `\a`.

After that, any other writes with "normal" field keys returns same 500 timeout:
[code]

InflixDB 0.9.1

[2015-07-21 09:12] jacekgrzybowski commented on #3336
@beckettsean what if I need to get grouped results from all series alltogether? Example:

    SELECT MAX(value) AS max FROM /^response_times.service_1.*/ WHERE time > now() - 1d GROUP BY time(6h)

Result:

    response_times.service_1.pl.warsaw.dc1
    time  max
    2015-07-19T00:00:00Z  942
    2015-07-20T00:00:00Z  949
    2015-07-21T00:00:00Z  888
    response_times.service_1.us.new-york.dc3

[2015-07-21 09:14] jacekgrzybowski commented on #3326
@beckettsean what if I need to get grouped results from all series alltogether? Example:

    SELECT MAX(value) AS max FROM /^response_times.service_1.*/ WHERE time > now() - 1d GROUP BY time(6h)

Result:

    response_times.service_1.pl.warsaw.dc1
    time  max
    2015-07-19T00:00:00Z  942
    2015-07-20T00:00:00Z  949
    2015-07-21T00:00:00Z  888
    response_times.service_1.us.new-york.dc3

[2015-07-21 09:57] gucki commented on #3381
@otoolep I did some more queries and imo the current behavior seems a bit odd.

Assume you have a series with values at every 1 minute.  I would expect that a query with a grouping clause like `GROUP BY time(5m)` returns data in timespans of 5 minutes. However when using `derivative` no grouping seems to occur at all, as the query returns the original timespans:

    name: switch.port.pkts
    ---

[2015-07-21 13:01] jacekgrzybowski opened #3412 "Grouped results merged for multiple series"
What I need to do is to get results from multiple series with group option merged into a single serie:

    SELECT MAX(value) AS max FROM /^response_times.service_1.*/ WHERE time > now() - 1d GROUP BY time(6h)

Result:

    response_times.service_1.pl.warsaw.dc1
    time  max
    2015-07-19T00:00:00Z  942
    2015-07-20T00:00:00Z  949
    2015-07-21T00:00:00Z  888
    response_times.service_1.us.n

[2015-07-21 13:03] jacekgrzybowski commented on #1823
Can we expect that in 0.9.2?

[2015-07-21 13:35] jhorwit2 opened #3413 "[0.9.1 & master] error message returned isn't accurate for bad write request"
I was looking into some of the bad points we were sending and noticed something very interesting. I received a 400 response from influx with the following body:
[code]
However, when I curl it directly to the database I get a 204...

[2015-07-21 13:59] adamdecaf commented on #1621
@beckettsean Would `bind-address` be the proper config to override in this case? It seems like a few subprojects in there use that. (Found that [over in the docs](https://influxdb.com/docs/v0.9/administration/config.html))

[2015-07-21 15:20] jwilder commented on #3413
It looks like `device="Kindle\ Fire\ HDX\ 7\\"\ WiFi"` is escaping the escape symbol and causing the quotes to be unbalanced.  Use `device="Kindle\ Fire\ HDX\ 7\"\ WiFi"` instead.

[2015-07-21 15:20] #3413 closed

[2015-07-21 15:21] jhorwit2 commented on #3413
Why does that exact same thing work in a curl though to /write? @jwilder

[2015-07-21 15:22] jhorwit2 commented on #3413
[code]

[2015-07-21 15:29] jwilder commented on #3413
Not sure.  Something with your shell perhaps?  It doesn't work in curl for me w/ 0.9.1 or master using OSX/bash.

[code]

[2015-07-21 15:44] jhorwit2 commented on #3413
:(. I'm on mac osx 10.10.2 using bash.

ghosts....

I fixed my escaping logic (introduced a bug when I switched escapers), so i'm happy.

[2015-07-21 15:55] NickPadilla commented on #3284
Hey @CrazyJvm - Any possible updates on a pull request?  I really need to take advantage of the new CQ in the 0.9.x releases, but seeing all these problems makes me think I need to wait until this issue and a couple more are fixed.

[2015-07-21 16:36] pauldix commented on #1823
This won't make it into 0.9.2. Maybe 0.9.3, but it's not particularly high priority right now.

[2015-07-21 16:55] gunnaraasen commented on #3398
@jeremeyVignelles can you provide some example points?

Might be worth reexamining why you were getting such bad results with tags. It sounds like at least some of the fields should be moved into tags.

Also, try bumping up the batch size to 1000-5000 points per batch and testing on 0.9.2-rc1.

[2015-07-21 17:15] gunnaraasen commented on #3412
The data schema provided is not canonical for InfluxDB. The measurement should be `response_times` and descriptors like `service` and `dc` should be included as tags. Then the query would be

[code]

Also, check out the [Graphite plugin](https://github.com/influxdb/influxdb/tree/master/services/graphite).

[2015-07-21 17:15] #3412 closed

[2015-07-21 17:18] #3379 closed

[2015-07-21 18:21] adventures91 commented on #3346
@beckettsean I tried modifying some of the continuous query settings and also updated to the latest nightly. I changed "recompute-previous-n" to "0" and so far so good at least for the test I was running I have yet to get a lockup

[2015-07-21 18:22] marcospedreiro opened #3416 "[0.9.0] Container restarts cannot find mounted data. Will clustering help?"
I am unsure if this is an issue with Kubernetes/GCE or the database image I am using, so I am posting this here for now. I apologize if this is turns out to be an issue with the database image.

Environment:

- Running a GKE cluster on GCE that has a replication controller managing a pod that runs a database container.
- Manually attached disk to GKE cluster as read/write through console (I have n

[2015-07-21 18:37] vbatoufflet commented on #3379
Thanks for the fix

[2015-07-21 19:17] #3380 closed

[2015-07-21 19:49] nathanielc opened #3417 "Handoff fails to parse data with missing tag values."
I am using the OpenTSDB pluing to write data to InfluxDB. Sometimes the data that comes in is missing a tag value. I don't see any error on ingestion, but when the handoff tries to replicate the metric it gets and error like

`[handoff] 2015/07/21 03:59:56 retried write failed: unable to parse 'disk,type=disk_time,type_instance= value=3.0 1437436501000000000': missing tag value`

Seems like what e

[2015-07-21 20:11] gunnaraasen commented on #3416
Mailing list thread [here](https://groups.google.com/d/msg/influxdb/GRfL8PipWkY/tCaZ4876L8YJ). Closing this issue until there's more evidence this is an InfluxDB issue.

Very much seems like a permissions bug in GKE/GCE.

[2015-07-21 20:11] #3416 closed

[2015-07-21 20:14] #3411 closed

[2015-07-21 20:16] otoolep opened #3418 "Next() on TagSet Cursor is linear with cursor count"
Stress testing shows that the following code is causing long query times when the series cursor count is 42K:

[code]

[2015-07-21 20:17] otoolep commented on #3418
The implementation of `Peek()` simply put a wrapper around value-buffer code that has been in the query-engine for a quite a while. `Peek()` may be called a lot, but most of the time it will be returning stuff from memory. So the search is linear with the number of cursors.

Basically, all this peeking is a re-write of this:

https://github.com/influxdb/influxdb/blob/8ade485b5865e642b128a7cc6eb20c

[2015-07-21 20:17] otoolep commented on #3418
@benbjohnson : yeah, it was a problem before too. it's a linear search on every Next() call.

[2015-07-21 20:17] otoolep commented on #3418
@dgnorton @jwilder

[2015-07-21 20:19] otoolep commented on #3418
From a user's point of view this can actually cause write timeouts since it can cause queries to hold locks for too long.

[2015-07-21 20:23] otoolep commented on #3418
![peek](https://cloud.githubusercontent.com/assets/536312/8811565/9d7a74fc-2fab-11e5-871c-b859e4fb9c58.jpg)

[2015-07-21 20:32] otoolep commented on #3418
Perhaps we can use this to build a priority queue of cursors:

http://golang.org/pkg/container/heap/

where the highest-priority cursor is the one with the lowest timestamp.

[2015-07-21 21:08] jhedlund opened #3419 "Duplicate Data with same timestamp"
This is on a nightly release as of 7/17, I am down sampling manually because the continuous queries are broken for me (per #3368).

I am seeing some duplicate data even when using the same nanosecond timestamp, and same tag, etc, here is sample duplicate data:

                        [
                            1437511620000000000,
                            1.09415,

[2015-07-21 21:24] jacekgrzybowski commented on #3412
Thanks a lot, I need to migrate my data to 0.9 supported schema then.

[2015-07-21 21:28] otoolep commented on #3419
This implies that this data is not *exactly* the same. Are you sure both points have exactly the tag key-value pairs? Can you demonstrate this with a `curl` command?

[2015-07-21 22:10] otoolep commented on #3301
Confirmed, I can't repro this on master. Appears fixed by https://github.com/influxdb/influxdb/pull/3351

Thanks again @rnubel.

[2015-07-21 22:10] #3301 closed

[2015-07-21 22:32] Oliv4945 commented on #3315
Hi, following advice of Sean, I post here because I have the same problem but with the mean() function.
In my case restarting InfluxDB does not have any impact. Stock configuration but
[code]

[code]

[code]
See the values at 2015-07-21T22:10:00Z, not the same. Might be just relate to float value ?

Do you need anything else ?

[2015-07-21 22:51] pauldix opened #3421 "Should update metastore and cluster if IP or hostname changes"
When a server starts up, if it is already a member of a cluster, it should compare the hostname in its config (or what is read automatically from the OS) against the name it has in the cluster. If this name is different it should update the metastore and cluster with the new hostname/IP.

This means that we'll have to store a local file that has the server ID of this server so that when it starts

[2015-07-21 22:52] pauldix commented on #2468
@marcosnils sorry for the delayed response, If your fix is just for setting the hostname initially, I think it's worth doing it. I've created #3421 to track the issue of updating the hostname/IP of a server in a cluster.

[2015-07-21 23:06] jhedlund commented on #3419
I only have one tag, and the above query is the result of choosing that tag.  So yes, I'm sure it has the same tag key-value pair.

It doesn't happen all the time, I am using the HTTP POST to write the data (equivalent of curl but within a .NET application).

I am selecting the downsample via a HTTP query specified with nanoseconds and I am then entering that data into a new measurement with the s

[2015-07-21 23:52] hectorj2f opened #3422 "[0.9.2] 3-node cluster: One of the nodes seems to get stuck in leader election"
I am using `v0.9.2-rc1` to setup a 3-node cluster with replication factor 3. I can see that not all the nodes are available some of them seems to get stuck into the leader election process, in particular only 2 out of 3 seem to be operative. I can even run operations against them on ports 8086 and 8083 (getting after a while `retention policy shard deletion check commencing`). However, one of the

[2015-07-22 00:12] pauldix commented on #3341
The new behavior on the query engine is that if you select from a measurement that doesn't exist, you'll get an empty result. This is because there is no central authority for which measurements exist where.

They're now stored on a per shard basis. So if you happen to construct a query against a measurement that hasn't written any data into any of the shards that have to be hit for the query, you

[2015-07-22 00:12] #3341 closed

[2015-07-22 00:14] marcosnils commented on #2468
@pauldix perfect. Shall we wait for @jwilder comments about this before I rebase?

[2015-07-22 00:15] pauldix commented on #2468
@marcosnils yeah, he still has some stuff in development that would probably make your code different. Don't want to have you go to the trouble of doing it and then clobber your stuff with an ugly rebase :)

[2015-07-22 00:45] pauldix opened #3423 "Add PointsBatcher to OpenTSDB service"
Also include the commented config options in the opentsdb section of the sample config.

[2015-07-22 01:02] jwilder commented on #2468
@marcosnils Sorry for the delay. If you wouldn't mind waiting for #3372 to land that would be great.  Hoping to get merge that in the next day or two.

[2015-07-22 01:08] marcosnils commented on #2468
@jwilder np. If you don't mind please update this when #3372 is ready so I can take a look and see if it's still necessary.

[2015-07-22 01:27] michaelsproul opened #3425 "Filtering on 'time <= X' doesn't include X as a valid end-point."
I've found a case where the upper-limit of an interval isn't correctly enforced. Here are the queries to reproduce:

[code]

Despite inserting two points at 900s and 910s since the epoch, that last query for points `<= 910s` only returns the first point at 900 seconds. This is the output on v0.9.1:

[code]

I don't think the problem is in the parsing of the timestamps, as I checked the return valu

[2015-07-22 07:28] dawbs opened #3429 "Incorrect parsing of regex containing '/'"
Running official nightly from 0.9.2 downloaded 22 Jul 2015

when using a regex where clause, a regex containing the '/' character will be truncated even if it is properly escaped. This is problematic when you have used a URL as a tag

(likely any clause after having a bit of a look at the code)

The following query fails:
[code]
Escaping the escaping backslash as below appears to get around the pr

[2015-07-22 07:34] spicykaiju commented on #3410
Has anyone else experienced this problem? We would like to migrate to 0.9.x from 0.8.8 and we currently have a 2 node cluster that experiences data corruption.

[2015-07-22 09:31] jeremyVignelles commented on #3398
Hi,
Just made a configurable testing script using node.js : https://gist.github.com/jeremyVignelles/3ebd42f66f9d078e0c41
You must have async installed in the folder with `npm i async`

Here is what I got on my machine :

* `cargoSize = 512;` : 23651ms to upload
* `cargoSize = 512*2*96;` : timeout after 5s the first time. The second time is ok
* `cargoSize = 5000;` : 9072ms
I also tried on 0.9.2-rc

[2015-07-22 10:35] davidfuhr opened #3430 "Installation of deb fails on Debian Squeeze"
Installation of the deb file fails on Debian Squeeze:

[code]

As a workaround I added a shebang (`#!/bin/bash`) to `/var/lib/dpkg/info/influxdb.postinst` and ran `dpkg --configure -a` which completed the installation:

[code]

Heres the system information:

[code]

[2015-07-22 19:40] shilpisharma opened #3433 "Influx - Port binding"
Hi,

At times when I start influxDB process, the process get started but the port 8086 is not binded.
Understandably I am unable to do any insertions using HTTP API. However, an hour later without changing anything on the environment, the port suddenly binds. This behavior is a little strange.

Any clue why this is and how we can avoid this?

Shilpi

[2015-07-22 20:25] nathanielc opened #3436 "Panic on startup runtime error: slice bounds out of range hh/processor.go:200"
Got this panic on startup running version: 8c715f7
I have the opentsdb plugin and am running 3 servers in cluster mode.

One node crashed and everytime on start up now it panics with this error. Below is the full startup log.
[code]

[2015-07-22 20:51] beckettsean commented on #3398
@mjdesa here's a possible perf test case

[2015-07-22 20:51] #3319 closed

[2015-07-22 20:53] jwilder commented on #3319
@greglook A fix for this is in 0.9.2 branch and current master.

[2015-07-22 21:04] beckettsean commented on #3433
@shilpisharma can you provide the log statements from startup and then from later when the port is bound?

What version are you running? I think with 0.9.1 the http listener didn't start until after the WAL flushes completed. If you somehow have a huge number of points in the WAL, that might keep the http service from starting (shouldn't take an hour, but maybe a few minutes)

[2015-07-22 21:07] beckettsean commented on #1621
@adamdecaf that is correct for 0.9.x. The original report from @DustinChaloupka was for 0.8.5.

[2015-07-22 21:13] beckettsean commented on #3419
Seems like a duplicate of #3315

@jhedlund can you give the results of `SHOW SERIES` on the database, as well as the exact query you are running?

[2015-07-22 21:15] beckettsean commented on #3341
@pauldix makes sense. It's going to be a bit confusing that empty result means "wrong retention policy" or "doesn't exist" or "doesn't have data on any active nodes" but the alternative is much much worse.

[2015-07-22 21:17] samidalouche opened #3437 "[0.9.2-rc1] aggregate functions do not take all records in consideration in the presence of tags and absence of a group by time() clause"
How to reproduce
[code]

This is what I get on my freshly-installed influxdb 0.9.2-rc1 on Mac OS X

[code]

[2015-07-22 21:20] beckettsean commented on #3382
@gucki InfluxDB achieves higher write and read throughput by ignoring some of the classic RDBMS features that rarely apply to time series data, UPDATE being a prime example. Unless there's a fundamental driving need for it, UPDATE will continue to be unsupported.

[2015-07-22 21:22] beckettsean commented on #3381
We've been working on better documenting the DERIVATIVE function. @mjdesa can you shed some clarity here?

[2015-07-22 21:22] gunnaraasen commented on #3271
User credentials can be included in the HTTP request as either URL query parameters or a HTTP [Basic Auth](https://en.wikipedia.org/wiki/Basic_access_authentication) header. Credentials sent using Basic Auth have never been logged by InfluxDB.

[2015-07-22 21:22] #3271 closed

[2015-07-22 21:23] jhedlund commented on #3419
name: ohlctest
--------------
_key                    symbol
ohlctest,symbol=AUDCAD  AUDCAD
ohlctest,symbol=AUDCHF  AUDCHF
ohlctest,symbol=AUDJPY  AUDJPY
ohlctest,symbol=AUDNOK  AUDNOK
ohlctest,symbol=AUDNZD  AUDNZD
ohlctest,symbol=AUDSEK  AUDSEK
ohlctest,symbol=AUDUSD  AUDUSD
ohlctest,symbol=CADCHF  CADCHF
ohlctest,symbol=CADJPY  CADJPY
ohlctest,symbol=CADNOK  CADNOK
ohlctest,symbol=CADSEK  CADSE

[2015-07-22 21:24] jhedlund commented on #3419
FYI:  I'm working around it by doing a group by time(1m) and re-aggregating the values which forces one row per minute....

[2015-07-22 21:24] beckettsean commented on #3319
Verified with @jwilder that the fix will restore prior functionality, so if you had an 0.9.0 datastore with measurements that had spaces, upgrading to 0.9.2 will make those measurements available for queries again.

[2015-07-22 21:28] beckettsean commented on #3419
Thanks, @jhedlund, this does seem like a duplicate of #3315. I'm going to close this in favor of that one. It seems very much like a bug but we don't have theories yet as to the cause.

[2015-07-22 21:28] #3419 closed

[2015-07-22 21:29] beckettsean commented on #3315
Another report of data duplication in #3419, same basic symptoms.

[2015-07-22 21:33] gunnaraasen commented on #3107
For 0.9.2, when authentication is turned on and no users exist, only the `CREATE USER [user] WITH PASSWORD [user] WITH ALL PRIVILEGES` command can be executed (see PR https://github.com/influxdb/influxdb/pull/3244). If one or more users exist, authorization is enforced as usual.

Once PR https://github.com/influxdb/influxdb/pull/3427 is merged, the logs will note whether authentication is enabled

[2015-07-22 21:33] #3107 closed

[2015-07-22 21:33] gucki commented on #3381
@beckettsean Not sure if this a doc thing only. Imo when having a `group by`clause the return should be grouped. No matter if derivate, max, min, etc. is used.

[2015-07-22 21:34] gucki commented on #3382
@beckettsean Makes sense :+1:

[2015-07-22 21:35] shilpisharma commented on #3433
Please find below the logs:

2015/07/22 17:09:45 new shard group 25158 successfully created for database influxtest, retention policy default
GOMAXPROCS set to 2
2015/07/22 17:14:45 [INFO] raft: Restored from snapshot 51-24625-1437596327070
2015/07/22 17:14:45 [INFO] raft: Node at 127.0.0.1:8088 [Follower] entering Follower state
2015/07/22 17:14:45 read local node id: 1
2015/07/22 17:14:47 [WARN]

[2015-07-22 21:41] beckettsean commented on #3381
@gucki DERIVATIVE has an optional parameter that sets the time sample period, it's separate from the GROUP BY interval. By default I think it's 1 second, and perhaps that's leading to the issue with the timestamps. Try your queries with `SELECT DERIVATIVE(value, 5m) ...` and see if that's more intuitive.

It's entirely possible that the behavior is intentional and non-intuitive, or is unintentiona

[2015-07-22 21:43] beckettsean commented on #3433
@shilpisharma what version of InfluxDB?

[2015-07-22 21:45] BGraco commented on #3091
Thanks for the info Herve-M!

I will update my config to match what you recommend and report back with results.

[2015-07-22 21:59] jwilder commented on #3381
@gucki It looks like your derivative query with group by is not using an aggregate function.  This should probably be reported as an invalid query but is not currently.   Try:

`SELECT derivative(max(value)) FROM "switch.port.pkts" WHERE metric='rx' and port='1' and switch='r-ch101' and time > NOW() - 10m GROUP BY time(5m)`

You may also need to add a `fill(0)` as well.

The aggregate function is

[2015-07-22 22:28] beckettsean commented on #3373
@gucki did the second series also resolve itself into single points eventually? This seems like it might be another case of what's reported in #3315

[2015-07-22 22:28] beckettsean commented on #3315
Also possible duplication in #3373

[2015-07-22 22:33] mjdesa commented on #3398
@jeremyVignelles just ran the test script you gave and I'm getting the following as a result

[code]

[2015-07-22 22:39] beckettsean commented on #3382
Opened https://github.com/influxdb/influxdb.com/issues/140 to address this in the docs.

[2015-07-22 23:32] #3403 closed

[2015-07-23 00:15] jmptrader opened #3440 "DELETE measure NOT RUN?"
Dear,
The next query, not run in InfluxDB v0.9.1

delete from runtime where time>'2015-01-01' and time<'2015-07-22'

Please, any comments,

Thank's.

[2015-07-23 00:23] beckettsean commented on #3440
There is an open issue to make DELETE work again. It has not worked in the 0.9.x line.

Closing as a duplicate of https://github.com/influxdb/influxdb/issues/1647

[2015-07-23 00:23] #3440 closed

[2015-07-23 01:36] gunnaraasen commented on #3398
The query engine was completely rewritten behind the scenes for 0.9.2-rc1 and unfortunately a fairly serious performance bug was introduced. The fix will be in 0.9.2-rc2.

With that many tags, the first request will be significantly slower than subsequent requests due to the overhead incurred when new series are created. As you note, subsequent writes are much faster. Also, something seems off on

[2015-07-23 01:57] ecables opened #3441 "Seeing 'tcp.Mux: handler not registered' messages in 0.9.2rc1"
Running influx-0.9.2rc1 in a 3-node cluster, and seeing these messages on one of the nodes:
[code]

I've restarted influx, but the messages persist. Can someone explain what might be going on?

[2015-07-23 02:34] jwilder commented on #3441
Are you connecting to the correct ports for writing/querying?  That message can be logged if you try to query or write to the cluster port (default `8088`) and not the API port (default `8086`).

[2015-07-23 02:54] Jhors2 opened #3442 "[0.9.2] should Retention Policy Replication factor allow values other than 3?"
I recently upgraded to the 0.9.2 RC.  Since distributed queries are now working is it still necessary to have the retention policy equal the cluster size?  I started with a fresh database, I am still no longer allowed to create a retention policy with a replication factor less than 3.

[2015-07-23 02:57] ecables commented on #3441
I just re-built the cluster; will monitor to see if this recurs.

[2015-07-23 04:42] KrishnaPG commented on #1696
I am encountering the same problem (with 0.9.1 stable version), and trying to get the RC6 as suggested above - but couldn't find it in the downloads page [here](https://influxdb.com/download/index.html)

Is it the Version 0.9.3 (Nightly) that has this fix?

[2015-07-23 04:53] dawbs commented on #3429
Test case:
create database
[code]
write data
[code]
Query using Go regex
[code]
Query using double escaped regex
[code]

I have written some failing go tests and am having a bit of a look, but still getting my head around the project

[2015-07-23 05:53] dawbs commented on #3429
And further, the edge case seems to be two // characters

Either one of the following two queries *DO* produce the correct output:
[code]

[2015-07-23 08:34] kcrosswind commented on #3388
@beckettsean
how can i join the gmail list? i send mail, but no reply.
thank you

[2015-07-23 08:37] jeremyVignelles commented on #3398
Updated gist to have more configuration:
https://gist.github.com/jeremyVignelles/3ebd42f66f9d078e0c41

With this new script, here are the results I have:

version|iCount|jCount|pointsCount|fieldsCount|write1|write2|read
-------|------|------|-----------|-----------|------|------|----
0.9.1|96|2|4|128|2231|667|442
0.9.1|96|2|512|1|timeout|4145|5872
0.9.1|96|2|1|255|1723|405|193
0.9.2-rc1|96|2|4|128

[2015-07-23 11:07] nicksellen commented on #3362
I suspect it's on it's way to doing the same thing again, here is a simplified log https://gist.github.com/nicksellen/f5f1bd2ff0f94ba70cb5 showing "<time> <http status> <last 2 chars of request time>" - interesting points are:

10:38:20 204 3s - first multi second request
10:38:50 500 3s - first 500 error
10:39:21 500 7s - everything 500 and multi second after here

And here's a screengrab of htop

[2015-07-23 11:15] nicksellen commented on #3362
Took around 5 minutes after rebooting before it was ready to accept writes again.

[code]

Would 0.9.2-rc1 be worth upgrading to at this point? Or is the release close?

[2015-07-23 13:20] KrishnaPG commented on #1696
I am sorry - please ignore my previous question. I was checking the results in the admin (web) interface and it was only showing the fields (and not tags) in the html table. But when looked at the curl results, looks like the data has the tags specified properly in the stable version (0.9.1). Thanks for supporting it.

[2015-07-23 13:25] nicksellen commented on #3362
I suspect I should remove my continuous queries too (re: https://github.com/influxdb/influxdb/issues/3368).

[2015-07-23 13:28] jhedlund commented on #3362
Nick,

Since removing the continuous queries (per #3368) I haven't had any problems.  In fact, I am running my own down sampling queries every 15s and have not experienced any problems, so it would appear that the problem is entirely within the continuous query routines...

[2015-07-23 13:51] KrishnaPG opened #3445 "Metadata vs Tags"
The features of tags looks promising. However as others indicated in this issue (https://github.com/influxdb/influxdb/issues/373) there are few questions / concerns - and appreciate it if someone could address these below:

The requirement is: consider the `cpu series` where each `host` has additional info (apart from its traditional name) as below:
*    ipv4 address
*    ipv6 addresses
*   the da

[2015-07-23 14:00] KrishnaPG commented on #3445
Another scenario forgot to mention in the above:
*    we store the measurements by, say hostname, but want to be able to make queries such as "average response time by city / county / datacenter" etc.

where the city/county/datacenteris the meta-data about the hostname tag.

[2015-07-23 14:13] pootzko commented on #2032
0.9.1

even this (which is from the [page](http://influxdb.com/docs/v0.9/concepts/reading_and_writing_data.html) that you referenced) doesnt work:
[code]

[2015-07-23 14:31] nicksellen commented on #3362
It looked good for a moment :)

disk writes from ~80mb/s to ~3mb/s
iops from 1000's per second to 10's per second
cpu load was plumenting (2 down to 0.2)

14:16:10 - I deleted all the continuous queries (31 of them) and the measurements they had created, and the retention policy for them at ... then the 500 errors again less than a minute later

[code]

I restarted again and after another 5 minute

[2015-07-23 14:37] Jhors2 opened #3446 "[0.9.2-rc1] (regression) comparison operator giving bad results when coupled with fill(0)"
After upgrading from 0.9.1 to 0.9.2-rc1 it appears that the ```< > = ```operators partially work in queries.

Specifically, I am doing a query like:

select sum(value) from input_bps where hostname =~ /web/ AND value > 10000 group by time(1m),hostname fill(0)

What returns is a grouped measurement for ALL possible "series" that exist, however it 0 fills any values below 10000.  Previously, the mea

[2015-07-23 15:13] mikedanese opened #3447 "Go client has too many dependencies"
In upgrading `"github.com/influxdb/influxdb/client"` from 32846 (v0.8.0-rc.3-9-g328466) to 8b3219 (v0.9.1) I have to add dependencies:

[code]

These are not dependencies of the v0.8.0-rc.3-9-g328466 client. Why do I have to depend on a database, a raft implementation, a configuration language (among other things) to use the client?

`"github.com/influxdb/influxdb/influxql"` and`"github.com/influx

[2015-07-23 15:33] j-rock commented on #3032
Has there been any progress on this or #3006? Inquiring minds would love to know.

[2015-07-23 15:38] j-rock commented on #3401
Sorry for the delay. When I went back into the InfluxDB CLI...

Nothing came up.

My series were listed.

No data. (Expected to see many entries.)

[2015-07-23 16:19] jwilder commented on #3441
Please re-open if you see it again.

[2015-07-23 16:19] #3441 closed

[2015-07-23 16:30] jwilder commented on #2468
@marcosnils #3372 has landed.  If you want to rebase, we should be able to merge the fix in now.

[2015-07-23 17:07] aaronjwood opened #3449 "Hot snapshot fails"
I'm trying to do a backup of a running InfluxDB database (0.9.0-rc30 commit acf2dd6ba5429e95ad6a156afe7afbdc6b861979) but it fails with the message `[srvr] 2015/07/22 19:20:13 backup: download: snapshot error: status=404`

I have nothing in my configuration for disabling snapshots so I would think it should work since the docs state that it's enabled by default. Why is it giving a status of 404?

[2015-07-23 17:10] mjdesa commented on #3398
Here's what I get for writes

| Batch Size | Round 1 | Round 2 |
|----------------|-------------|--------------|
| 512    |    3230ms  |   1117ms |
| 2000  | 2933ms | 890ms |
| 5000  |  2931ms | 914ms |
| 10000 | 2863ms | 889ms |
| 512*2*96 | 4516ms | 954ms |

[2015-07-23 17:47] beckettsean commented on #3442
@otoolep did we intentionally leave in the replication factor = 3 requirement?

[2015-07-23 18:03] beckettsean commented on #3429
Thanks for the excellent bug characterization, @dawbs.

@dgnorton is this a quick fix, you think?

[2015-07-23 18:05] beckettsean commented on #3388
I replied a little less than an hour ago to your "the longest column name" email. Response times to the mailing list are 1-5 days, generally speaking.

[2015-07-23 18:33] gunnaraasen commented on #3398
@jeremyVignelles Can you open new issue with a feature request for making the max number of fields configurable? I'm not sure how hard that would be to implement or the performance impact.

The other option to increasing the max number of fields would be to encoding all the values into a single string value. Of course, that would require some additional client side processing and limit the usefuln

[2015-07-23 18:33] #3398 closed

[2015-07-23 18:34] beckettsean commented on #3445
You can apply multiple tags to a point, so insert the data in a pattern like:

`cpu_series,host=hostname,ipv4=169.128.0.1,ipv6=0100::/64,city=london,country=uk load=12.2,temp=37.2 <timestamp>`

I don't understand why you think that's not correct. It's all metadata about the specific point being measured. Metadata goes into tags.

If you want the metadata to be available for a point, you must write

[2015-07-23 18:34] #3445 closed

[2015-07-23 18:35] Jhors2 opened #3450 "[0.9.2] Retention Policy Endpoint Failure"
I upgraded to 0.9.2 from 0.9.1 recently.  It appears that whenever I try to write to a specific retention policy other than default, the tags and measurement names are populated however no points are written into the DB.  Recreation is about as follows:
```create database test```

```create retention policy short on test duration 2h replication 3```

```curl -X POST 'http://localhost:8086/write?db

[2015-07-23 18:38] pauldix commented on #3032
yeah, I think automatic casing should be done. However, we should catch an overflow error and return an error if that occurs.

This seems like a good usability enhancement so I've renamed the issue and assigned it to the 0.9.3 release.

[2015-07-23 18:38] beckettsean commented on #3446
@Jhors2 can you provide some sample output from that query, just to make sure we're understanding the issue you describe?

It sounds like you're saying that the query runs as expected, but the `fill(0)` is being applied to all points that match `where hostname =~ /web/ `, including ones that fail `value > 10000 `. Is that correct?

[2015-07-23 18:39] pauldix commented on #3032
However, I will say that this can create a problem if the first value you write is a whole number and future values are floats. That will result in an error.

[2015-07-23 18:42] Jhors2 commented on #3446
the fill(0) is applying to all points that fail value > 10000.  It is NOT being applied to points that pass my criteria, these return properly.  The previous experience was that nothing would be returned at all if that condition had failed.  I'll provide sample outputs as soon as I can.

[2015-07-23 18:42] beckettsean commented on #3401
@j-rock did you execute a `drop database` command somewhere among the queries before you noticed the corruption? This sounds like another case of https://github.com/influxdb/influxdb/issues/3330 that just happened to occur close to your derivative query. Until you restarted most data would be in RAM, after the crash and restart, you would actually notice the /data dir was gone, and the behavior yo

[2015-07-23 18:43] j-rock commented on #3032
Yes. Catching overflow errors on int64 -> float64 sounds reasonable. Why not truncate a float64 to an int64 if the series expects int64?

[2015-07-23 18:43] gunnaraasen commented on #3449
@aaronjwood snapshots were either not implemented or extremely buggy in version 0.9.0-rc30.

[2015-07-23 18:43] #3449 closed

[2015-07-23 18:44] j-rock commented on #3401
Let me replicate the failure scenario and give you better info. Hold on a few, please.

[2015-07-23 18:44] beckettsean commented on #3449
@aaronjwood please update to 0.9.1 or wait a few hours and grab 0.9.2 later today. 0.9.0-RC30 has significant known issues.

[2015-07-23 18:47] pauldix commented on #3032
@j-rock what if the user expected to be writing floats, but the very first value was a whole number so it gets set to ints. From that point forward we'll be dropping precision while the user expects us to be keeping it.

This whole int/float thing is making me think that it might be a good idea to force everything to be a float like Prometheus does.

[2015-07-23 18:52] beckettsean opened #3451 "[feature request] SHOW FIELD KEYS should give field type(s)"
`SHOW FIELD KEYS` should give the associated data type(s) reported from each shard.

[2015-07-23 18:54] beckettsean commented on #3450
`select value from disk_free` is shorthand for `select value from <default>.disk_free`, where `<default>` is the default retention policy for the database. I can see from your RP creation query that you did not set `short` as the default retention policy for the `test` database.

Your query should be `select value from short.disk_free`

[2015-07-23 18:54] #3450 closed

[2015-07-23 18:55] beckettsean commented on #3032
@pauldix presumably we would keep `time` as int64, and just reduce field values to `boolean`, `float64`, and `string`?

What's the math performance hit for doing floats vs ints?

[2015-07-23 18:57] gunnaraasen commented on #3449
Keep in mind there have been breaking changes since 0.9.0-rc30 so an upgrade to 0.9.1 or 0.9.2 will not play well with an existing 0.9.0-rc30 database.

[2015-07-23 18:57] robinjha opened #3452 "Influx does not force authentication with auth-enabled = true"
Currently running influxdb-0.9.1
Steps to reproduce:
1.Installed Influx using brew : brew install influxdb
2. CREATE USER admin WITH PASSWORD 'admin' WITH ALL PRIVILEGES
3. show users

       user	admin
      admin true
4. Updated conf files:
     vi /usr/local/etc/influxdb.conf
     vi /usr/local/etc/influxdb.conf.default
5. Set the auth-enabled option to true in #4 and restarted influxd.
6. Exec

[2015-07-23 19:00] NickPadilla commented on #3442
Hello, I'd like to see if this is the case. I added a influx.conf file and it has the auto creation of the retention policy but i keep getting a 'retention policy not found' when trying to query for values.  I do see the 'default' one there but I also tried creating one with a 'replication' at 1.  It still isn't working, do I have to have a cluster to make the new version work? Is it possible that

[2015-07-23 19:00] j-rock commented on #3401
https://gist.github.com/j-rock/562ee778ca2d10013ec8

Create a database called influxdb_database_1. Insert a series called "string" with values of type string (though they look like floating point numbers). Run a derivative operation on them. InfluxDB crashes with a panic. I check to see that the /data dir is still there (it is). Reboot InfluxDB. "show databases" comes up with nothing. I still "use

[2015-07-23 19:02] gunnaraasen commented on #3452
This is a known issue fixed by https://github.com/influxdb/influxdb/pull/3244. Version 0.9.2, to be released later today, includes the fix.

[2015-07-23 19:02] #3452 closed

[2015-07-23 19:05] aaronjwood commented on #3449
Thanks, that's good to know. We'll be upgrading ASAP.

[2015-07-23 19:07] robinjha commented on #3452
Thanks! Much appreciated.

[2015-07-23 19:16] beckettsean commented on #3235
@corylanou can you please remove the `dump` flag from the CLI? It's not wired up right now and it's confusing that it still shows in `help`

[2015-07-23 19:19] beckettsean commented on #3442
@NickPadilla for 0.9.1 you can have a cluster of 1 or a cluster of 3, and the replication factor must equal the number of nodes. That's a hardcoded requirement in 0.9.0 and 0.9.1.

0.9.2 may or may not relax that requirement.

@pauldix can you chime in on replication factor in 0.9.2 since @otoolep is otherwise occupied?

[2015-07-23 19:21] pauldix commented on #3442
0.9.2 won't have support for different cluster sizes. Although in this release we've laid all the groundwork to lift that limitation in 0.9.3. That release will be on August 13th, but the ability to spin up larger clusters should be in a nightly build sometime next week.

[2015-07-23 19:22] beckettsean commented on #3401
Thanks for the repro gist @j-rock. That is strange indeed.

[2015-07-23 19:33] beckettsean commented on #3401
I'm able to repro the panic when taking the derivative of a string, which certainly needs to be fixed, but I don't get any data corruption when that happens.

[code]

[2015-07-23 19:34] j-rock commented on #3401
What about "show databases/use mydb1"?

[2015-07-23 19:35] beckettsean commented on #3442
Thanks for the answer, Paul. Closing this issue as the behavior is intended for 0.9.2

[2015-07-23 19:35] #3442 closed

[2015-07-23 19:36] beckettsean commented on #3401
Works fine

[code]

[2015-07-23 19:38] beckettsean commented on #3401
As an aside, `use mydb1` doesn't actually execute anything against the database, it just sets the `db=` query string parameter for the HTTP requests the CLI will make.

[2015-07-23 19:46] j-rock commented on #3401
I'm guessing if the panic is cut out that the data corruption won't happen in this case. In the mean time here is my config file. I've replaced the field 'bind-address' with filler. https://gist.github.com/j-rock/dedbefc2998cccabe139.

[2015-07-23 19:48] pauldix commented on #3032
@beckettsean not sure, would require testing. Although for it to really matter they'd have to be churning through millions of points.

[2015-07-23 20:05] j-rock commented on #3032
What if choosing only [boolean, string, float64] as field values was a config parameter?

[2015-07-23 20:23] gunnaraasen commented on #3410
@diiidiii clustering is in alpha for 0.9.1 and failure scenarios are not fully defined. The raft consensus should be reestablished when the downed node comes back up. Is there anything in the logs when you try to query the restored cluster? Also, does the IP/bind address for the downed node change or remain the same?

Do the disk usage numbers include log files or is that number only the size of t

[2015-07-23 20:23] pauldix commented on #3032
from a coding/support standpoint that won't make our job any easier. The goal with forcing float64 is that it makes everything simpler and makes it so the user is less likely to shoot themselves in the foot.

[2015-07-23 21:32] beckettsean commented on #3346
Thanks for the additional data, @adventures91. Batching the points should greatly increase your performance, but that would also necessitate using explicit timestamps, since otherwise you'd be generating a lot of duplicate points per batch. It's just a POC so no need to try very hard to optimize it, but we do want to figure out why the write performance degrades so significantly even with non-opti

[2015-07-23 21:38] adventures91 commented on #3346
@beckettsean ok thanks for the help and feedback I will install v0.9.2 when it is released and see if the situation is improved.

[2015-07-23 21:49] beckettsean commented on #3093
@vptheron the https://influxdb.com/docs/v0.9/write_protocols/write_syntax.html and https://influxdb.com/docs/v0.9/guides/troubleshooting.html pages should the info or links to the info needed.

[2015-07-23 22:19] stefanKnott opened #3454 "queryDB provided in influxdb/client/README.md does not return correct error codes"
So I realized that the queryDB function provided in client/README.md does not make proper use of Golang's return by named result parameter feature and returns successfully when it should not.

In queryDB() res and err are the named result parameters, however in the if-statement we create a local (to the if-statement) copy of err different from the result err which has already been initialized and

[2015-07-23 22:52] beckettsean commented on #3454
@stefanKnott your recent note to support@ mentioned you were running v0.8.8. Is this issue filed against 0.8 or 0.9?

[2015-07-23 23:47] stefanKnott commented on #3454
Ah it only acts like this in 0.8 and not 0.9 as I now see through testing.

Apologies, I will close the issue.

[2015-07-23 23:47] #3454 closed

[2015-07-24 00:03] marcosnils commented on #2468
@beckettsean @jwilder @pauldix this is no longer an issue. Just tried it with master branch code and works. I guess this can be closed when next release is available.

[2015-07-24 00:59] KrishnaPG commented on #3445
Please do not close the issue.  Here are the challenges with your approach:
*    Given that the primary interface of Influxdb is REST/HTTP api, I do not think supplying *all* the tag's meta-info *always* is really a wise idea. HTTP is already verbose enough for sensors. `host=host1,ipv4=169.128.0.1,ipv6=0100::/64,city=london,country=uk`
*     Event if it is, How would you address the change of met

[2015-07-24 01:16] KrishnaPG commented on #373
@pauldix This is a valid concept and cannot be achieved with tags alone. I have put some additional info on the challenges with the tags approach in this issue: https://github.com/influxdb/influxdb/issues/3445

[2015-07-24 01:30] gunnaraasen commented on #3445
FWIW, moving a sensor to a new location _should_ create a new series tagged with the new location. A query like `SELECT value FROM sensors WHERE host = 'host1'` would return the combined points for both locations. In that case the best way to change tag metadata is to create a new series and query both series.

[2015-07-24 01:35] KrishnaPG commented on #3445
@gunnaraasen you are right if a sensor is being moved.

But if it is a machine (a host from one datacenter to another) that is being moved you would not want to lose the history, nor want to rewrite the queries to include both locations (since the old location has no significance on the measurements).

[2015-07-24 01:53] kcrosswind commented on #3388
it is solved. Thank you for your help

[2015-07-24 02:19] mjdesa commented on #3445
@KrishnaPG I've got an idea. Just send one point out of the batch that has extra fields as meta-data about your tags. For example:

[code]

Then when you query for meta, `host1_ca` will be available under the columns

[code]

[2015-07-24 02:25] mjdesa commented on #3445
You'd have to manage parsing the column name yourself and you cant update it, but it'll be there with every query and you wont have to pass the value along with each write.

[2015-07-24 04:11] dgnorton opened #3456 "race in `createCursorForSeries`"
[code]

[2015-07-24 04:31] dgnorton commented on #3456
Soon after the race, all writes started timing out.  Here's the full log including the stack trace from doing a `ctrl+\`.  https://gist.github.com/dgnorton/1b37f32ce0c4271f2c13

[2015-07-24 05:19] matwey opened #3457 "[0.9.3] cannot select field names with prefix + "." that match the measurement name"
Hello,

I am running 0.9.1, and facing the following:

[code]

This is either lack of documentation and inconsistency (because if "foo.bar.bar" is illegal name, then it has not to be inserted successfully) or select-statement parser issue.

[2015-07-24 05:41] scharissis commented on #3003
+1 - this would be cool.

Since the query format is:
`select value from <db>.<rp>.<measurement> ...`
Perhaps the query notation could be:
`select value from <db>.*.<measurement> ...`

What would also be nice is to be able to use the same series, but apply a 'downsampling policy' so that, for example, the latest 2 weeks of data is at raw/high granularity, 2weeks-1month is downsampled to hourly, 6m-

[2015-07-24 06:47] diiidiii commented on #3410
@gunnaraasen In the log of leader i can see the following when i start the cluster:

2015/07/24 08:30:04 [ERR] raft: Failed to AppendEntries to 4.128.2.141:8088: dial tcp 4.128.2.141:8088: connection refused
2015/07/24 08:30:04 [WARN] raft: AppendEntries to 4.128.2.139:8088 rejected, sending older logs (next: 245)
2015/07/24 08:30:04 [ERR] raft: Failed to AppendEntries to 4.128.2.141:8088: dial tc

[2015-07-24 07:20] diiidiii commented on #3410
Now it works... i think it needs some time to sync.

[2015-07-24 07:20] #3410 closed

[2015-07-24 07:52] jeremyVignelles opened #3458 "[Feature Request] Configurable max number of fields"
Currently, the field number limit is 255, but I need to have 512 fields.
Could you please add a configuration parameter to tell influxdb the max number of fields (things like 1 or 2 byte index)?

See discussion & perf tests in #3398

[2015-07-24 08:19] KrishnaPG commented on #3445
Thanks @mjdesa Yes, that approach looks interesting option.

[2015-07-24 08:51] dswarbrick commented on #2022
0.92rc1 has an odd sense of humour.

[code]

[2015-07-24 10:43] jacekgrzybowski commented on #2022
did it make it into 0.9.2?

[2015-07-24 13:35] #2468 closed

[2015-07-24 16:46] beckettsean commented on #3445
@KrishnaPG I can understand why you would want InfluxDB to manage all the metadata about all your samples, but the performance gains depend on not replicating every feature of a traditional RDBMS. Metadata about the metadata adds a whole new tabular structure and index to the database, as well as adding complexity and correctness checking during the write path. While those features might eventuall

[2015-07-24 17:15] gunnaraasen commented on #2022
Working `ORDER BY` did not make it into 0.9.2. The distributed query engine rewrite ended up taking the whole 0.9.2 development cycle to complete. Hooking up `ORDER BY` is a high priority for 0.9.3.

@dswarbrick That error will be not be in 0.9.2 final (see #3409).

[2015-07-24 17:35] Jhors2 opened #3459 "[0.9.2-rc1] DB Panic"
We recently ran into a panic on 0.9.2.  We are writing to a default retention policy as well as a more specific retention policy.  The following message proceed the panic, no messages occur before this for atleast 1m or more.

[code]

Immediately following the second post the following occurs:

[code]

[2015-07-24 18:40] mjdesa commented on #438
I think this is no longer an issue. Closing issue.

[2015-07-24 18:40] #438 closed

[2015-07-24 19:25] vmire opened #3460 "Type conflict on insert int value in float field"
Sometimes, float measurements are integers (no decimals)

HTTP INSERT POST BODY :

results in an error :

And if it's the first insert : field type is wrongly defined as integer
Following inserts errors :

InfluxDB version : 0.9.1

[2015-07-24 21:54] adventures91 commented on #3346
@beckettsean I haven't run v0.9.2 yet since it is still a release candidate but I ran the latest nightly and I again got much further but influxdb still locked up given enough time. This time it wrote 13087 points before locking up.

In the logs I got a timeout errors when it try's to run the 30min continuous query.

[2015-07-24 22:08] mjdesa opened #3464 "[0.9.2-rc1] Cant select quoted field key"
I can insert a quoted field key

[code]

But when I go to query for the data I get this error

[code]

[2015-07-24 22:20] jwilder commented on #3464
Might be fixed by: https://github.com/influxdb/influxdb/commit/0945db75aa76b3ad87f357244fe49f51323a6d38

[2015-07-24 22:22] beckettsean commented on #3459
@Jhors2 can you share a sample of the data you were writing? Was there anything non-standard about the field key(s)? A single or double-quote, a backslash, a comma or period or whitespace in the field key?

[2015-07-24 22:25] beckettsean commented on #3460
This is known and documented behavior, not a bug. The first point written to a series (on a given shard) determines the data type of the field(s).

The way to avoid it is to write all floats with a decimal, so rather than `B6A2021050000=25` you write `B6A2021050000=25.0`, which parses as a float and will work.

Because of this and a host of other issues, we're considering ditching `int64` as a use

[2015-07-24 22:25] #3460 closed

[2015-07-24 22:25] beckettsean commented on #3460
See "Fields" on https://influxdb.com/docs/v0.9/write_protocols/line.html for the documentation

[2015-07-24 22:29] mjdesa commented on #3464
@jwilder yup it did

[2015-07-24 22:29] #3464 closed

[2015-07-24 22:41] mjdesa opened #3465 "[0.9.2] Balanced double quotes allow for unescaped spaces"
If a field key has balanced quotes
[code]
it successfully writes a field key of `"test this"` without anything being escaped, however if the quotes are unbalanced or non-existent they must be escaped

[code]

[2015-07-24 22:46] mjdesa commented on #3465
It works as expected or single quotes

[code]

is successful.

[2015-07-24 22:58] beckettsean commented on #3346
Thanks, @adventures91. We've found some locking issues with high write volume and periodic queries that seem to be causing this situation. It wasn't simple enough to fix before releasing 0.9.2, but we should get a handle on it soon. Thanks for the testing, for now I think we have all the data we need, esp since we have a repro case. Although your write volume isn't high, the write frequency is (3

[2015-07-24 23:11] beckettsean commented on #3457
Interestingly enough it requires two dots in the field key for this to show up:

[code]

[2015-07-25 02:06] andyl opened #3466 "Admin Basic Auth Still Broken in 0.9.2"
Basic Auth was reported broken in Issue #3222 and #3300, and closed as fixed.

I just downloaded 0.9.2 and am still getting the same error.

[2015-07-25 02:59] tigerich commented on #2750
When will be  0.9.1 out? 3-node cluster is not very useful in my case here.

thanks,
R

[2015-07-25 12:24] richterger commented on #3213
It's an alignment issue. Moveing the PointBatcherStats to the beginning of the struct fixes the issue because the uint64 values are corrrectly 64Bit aligned. With the following patch, it runs without problem on my 32Bit system:

[code]

[2015-07-25 18:50] phagunbaya opened #3467 "[0.9.2] (regression) Error reading from measurement named "Measurement""
Created series with name "Measurement", and after reading from the series, I see an error.

Query : `select * from "Measurement"`
Error   : `Server returned error: found MEASUREMENT, expected identifier at line 1, char 98`

It was working fine with 0.9.0 and as well as 0.9.1

[2015-07-25 22:05] fillest commented on #2933
I've just bumped into this in Ubuntu 12.
Current behavior contradicts https://influxdb.com/docs/v0.9/introduction/getting_started.html so please use `/opt/influxdb/influx` instead of `influx` in the docs or (better) link `/opt/influxdb/influx` to `bin`.

[2015-07-25 22:09] fillest commented on #2933
The main problem is not the path - it is the error in the documentation which leads to confusion

[2015-07-26 17:58] jhorwit2 opened #3468 "[0.9.2] Panic immediately after restarting due to write timeouts"
I noticed my writes started to timeout at 5 seconds, so I attempted to restart influx to allow it to catch up; however, upon restart it immediately paniced.

[code]

[2015-07-26 19:43] toddboom commented on #3468
@jhorwit2 what did your write payloads look like? how many points per batch, cardinality, etc? how long were you writing data before you saw the timeouts?

[2015-07-26 20:07] jhorwit2 commented on #3468
Payloads very, but I have been sending the data for over a week now on 0.9.1 without issues. I upgraded this morning around 9am and response times peaked around 1:30.

I have 4 servers sending anywhere between 200-500 points in each write and they each average about 1 write per second, so 800-2k points per second getting sent to influx. Tags are sorted. Points are sorted in asc by timestamp.

The

[2015-07-27 01:30] scharissis commented on #3466
+1

With a fresh install I, I get the following error in the console:
`No 'Access-Control-Allow-Origin' header is present on the requested resource.`

[2015-07-27 02:48] bijenkins commented on #2933
Agreed, the documentation should be updated.

[2015-07-27 02:58] wolfkiss0929 commented on #3222
+1, I'm having the same issue now in 0.9.2

[2015-07-27 03:00] wuhongyuan commented on #3222
could anyone tell me how to solve this problem

[2015-07-27 03:03] wolfkiss0929 commented on #3222
@wuhongyuan Influxdb server restart,  UI Can't connect with admin interface using authentication

[2015-07-27 03:28] wuhongyuan commented on #3222
@wolfkiss0929 restart influxdb can not work

[2015-07-27 03:33] wolfkiss0929 commented on #3222
@wuhongyuan CLI  can, UI Can't connect with admin interface using authentication. updated my connection settings and the server is running.

[2015-07-27 03:37] wolfkiss0929 commented on #3222
@wuhongyuan  I installl influxdb-0.9.2_rc1-1.x86_64.rpm

[2015-07-27 04:20] beckettsean commented on #2750
@tigerich 0.9.2 has been released. See the [blog post](https://influxdb.com/blog/2015/07/23/InfluxDB-0_9_2_released-with-groundwork-for-clustering.html) for more on the state of clustering.

[2015-07-27 04:23] beckettsean commented on #3467
Can you please include the actual CLI or curl commands you are running? The error stonly implies you have at least 98 characters in your actual query, yet your example is only 27 characters long.

[2015-07-27 04:30] beckettsean commented on #3467
I can repro with 0.9.2:

[code]

as long as the exact name isn't `measurement` it seems to parse fine.

[code]

[2015-07-27 07:06] tigerich commented on #2750
thanks @beckettsean

The release of 0.9.3 on August 13th will have support for clusters of arbitrary size with replication factors that are less than the number of servers.

---looking forward to that

[2015-07-27 13:01] jhorwit2 opened #3469 "[0.9.2] CQ timeout caused http write timeouts."
I just noticed a CQ timed out randomly after running fine for the last 12 or so hours since I added it.

CQ:
[code]

The logs showed only this

[code]

Everything after this was constant 5s timeouts on writes.

`releaseVersion` has relatively low cardinality (about 20 or so for this query)

[2015-07-27 13:07] jhorwit2 commented on #3468
I keep getting this and it appears to be tied to a CQ query timeout, which causes cascading timeouts across the application (#3469). I have noticed since the upgrade to 0.9.2, the restart hasn't been as graceful.

I always get this no matter if I stop/start or restart with or without errors.

[code]

[2015-07-27 13:08] mathurs commented on #3469
I too am getting a timeout in continuous queries

[continuous_querier] 2015/07/27 12:46:58 timeout
[continuous_querier] 2015/07/27 12:46:58 error during recompute previous: timeout. running: SELECT sum(value) INTO "connecto"."default".page_calls_pm FROM "connecto"."default".page_calls WHERE time >= '2015-07-27T12:45:00Z' AND time < '2015-07-27T12:46:00Z' GROUP BY time(1m)
[continuous_querier] 2015

[2015-07-27 13:11] jhorwit2 commented on #3469
Yea, this is the 3rd time in 24hrs it has happened. I finally noticed it in the logs, so I opted to remove that CQ. (I updated to 0.9.2 about 24hrs ago now)

Spikes are times http write timeouts :(

![image](https://cloud.githubusercontent.com/assets/3876739/8906792/741f5f58-343f-11e5-9e6f-02cf0a01eb45.png)

[2015-07-27 13:13] jhorwit2 commented on #3469
@mathurs did your write timeouts start very closely to the CQ timeout?

[2015-07-27 13:18] mathurs commented on #3469
No, actually my writes start timing out gradually after server start. I am writing at about a 1000qps and initially the writes are fine but after a few minutes, the latency gradually increases and the writes start to timeout. Once that happens the continuous queries also start to time out, so I don't think the CQ's cause the write timeouts.

[2015-07-27 13:21] jhorwit2 commented on #3469
Try adjusting your [wal settings](https://github.com/influxdb/influxdb/blob/master/etc/config.sample.toml#L39)

I lowered my `max-wal-size` to `1048576` (1mb) and i have been able to write over 3k+ per second sustained. My points are relatively small though in size, so my requests aren't huge. You might want to tweak accordingly. `wal flushes will block writes, so a write immediately after will ha

[2015-07-27 14:24] skynet commented on #3422
:+1:

[2015-07-27 15:26] ibobak opened #3470 "influxd backup /tmp/mysnapshot gives an EMPTY backup"
I launched influxd backup /tmp/mysnapshot  following help manual
https://influxdb.com/docs/v0.9/administration/backup_and_restore.html

on the last version (which I got by running
wget http://influxdb.s3.amazonaws.com/influxdb-0.9.2-1.x86_64.rpm
sudo rpm -ivh influxdb-0.9.2-1.x86_64.rpm

Result:  the file /tmp/mysnapshot is simpy EMPTY.

[2015-07-27 15:34] jhedlund commented on #3315
With my issue I reported in #3419, I've stumbled on a clue: I am overwriting the data with the same timestamps for down sampling (therefore CQ's would cause this issue as well), the duplicate data looks like it eventually removes itself (in about 15 minutes or so).

Does an overwrite just flag the old data to be deleted instead of overwriting it?

[2015-07-27 15:35] shilpisharma opened #3471 "Question: Upper limit for tags"
I have a small question. Is there an upper limit to how many tags we can add in InfluxDB?

[2015-07-27 17:24] mjdesa commented on #3471
From the [docs](https://influxdb.com/docs/v0.9/concepts/schema_and_data_layout.html)

[2015-07-27 17:24] #3471 closed

[2015-07-27 17:25] phagunbaya opened #3472 "[0.9.0] Trouble restarting influxdb"
I have few 100 megs of data and running in a single influx node. When I restart influxdb I get below error and it crashes.

[code]

Is it related to resource usage, if yes then the node has plenty of it or something else ?

[2015-07-27 17:28] marcospedreiro commented on #3472
+1 blocking issue

[2015-07-27 17:28] mjdesa commented on #3470
@ibobak by default snapshotting is disabled. If you'd like to enable snapshotting add

[code]

to you influxdb config file.

[2015-07-27 17:28] #3470 closed

[2015-07-27 17:47] Jhors2 commented on #3459
I upgraded to 0.9.3 nightly and it seems that the Panic has gone away.  The tag keys were CamelCase, Alphabetical characers only.  The values however could have ```: / ' \ ```

We can close this issue for now I suppose

[2015-07-27 18:06] mjdesa commented on #3472
@phagunbaya can you verify that this is still broken in v0.9.2?

[2015-07-27 18:17] esecules opened #3473 "[0.9.1] Stopped Serving POST Requests"
I have a single influx 0.9.1 instance running on top of 3.7 GB of data on a machine with 4GB of ram

Last night the server stopped ingesting data from POST requests. The server kept serving chronograf's GET requests. At the time of failure there were 2000-3000 points going in per minute with maximum latencies less than 2.5s, with most under 0.5s. This is for sure far from the most stress the syste

[2015-07-27 18:22] beckettsean commented on #3466
@mjdesa can you repro?

[2015-07-27 18:26] beckettsean commented on #2933
@fillest @bijenkins created https://github.com/influxdb/influxdb.com/pull/161 to address docs issue. Work for you?

[2015-07-27 18:29] beckettsean commented on #3222
@mjdesa can you repro?

[2015-07-27 18:35] beckettsean commented on #3471
The 100k number is very rough. If you stay below that you should be fine. With tag cardinality in the millions schema and query design become more important, as it becomes easier to create poor performance situations.

We will document this more extensively as performance testing matures.

[2015-07-27 18:37] beckettsean commented on #3459
Glad a new nightly fixed the issue. @jwilder anything to glean from this or can we close it out?

[2015-07-27 18:37] brettdh commented on #3003
Yeah, that sounds like exactly what I'm looking for too. That approach would definitely require the returned points to contain their bin width, since you'd now have one series with points representing different granularities of data.

[2015-07-27 18:39] beckettsean commented on #3473
@esecules There's not enough in the initial report for us to reproduce or understand what might have happened.

Can you share logs and some sample of your writes and queries? What errors were you getting on POSTs? How did you install InfluxDB?

[2015-07-27 18:46] fillest commented on #2933
Yep, thank you

[2015-07-27 18:58] mjdesa commented on #3222
@beckettsean I'm getting

[code]

both with and without auth enabled.

[2015-07-27 19:01] gunnaraasen commented on #3466
It looks like `influxd` only has an `OPTIONS` request handler on the `/write` endpoint and won't respond to `OPTIONS` requests on the `/query` endpoint. PR #3474 should fix the error.

[2015-07-27 19:08] mjdesa opened #3475 "[0.9.2] No 'Access-Control-Allow-Origin' header is present on the requested resource"
In the Admin page I get a

[code]

both with and without auth enabled.

@wolfkiss0929 @wuhongyuan

[2015-07-27 19:20] njurgens opened #3476 "[0.9.1] Including integer literal in continuous query causes panic"
I've create a continuous query that downsamples data into 10 second bins.  As part of this query I create a new field `length` and set it to `10`.  This causes the database to immediately crash.

    CREATE CONTINUOUS QUERY "downsample" ON mydb BEGIN
        SELECT sum(value), 10 AS length INTO "1h".data FROM "default".data GROUP BY time(10s)
    END

I've created a gist that reproduces the crash

[2015-07-27 19:21] esecules commented on #3473
My python influx client was getting request reset by peer after the 30 second timeout I set.

Here are the logs from influx around the time of failure
[code]

[2015-07-27 19:24] jipperinbham commented on #3222
pretty sure this is a CORS issue, the admin UI is running on port 8080 and you're trying to make AJAX calls to a different port, 8086.

The only way to work around this is put a reverse proxy in front of it.

[2015-07-27 20:21] gunnaraasen commented on #3222
PR https://github.com/influxdb/influxdb/pull/3474 should fix the CORS issue.

[2015-07-27 20:25] beckettsean commented on #3222
https://github.com/influxdb/influxdb/issues/3475 opened as well

[2015-07-27 21:56] pauldix opened #3479 "Should we drop support for INTs?"
We're considering dropping support for INT types. These have been the source of many bugs, which we can fix, but more importantly, they've been a bit of a usability headache. People are having trouble writing libraries that actually force float data types when that's what they want. Thus they're getting errors about the field type and reporting these as bugs in our code, which in this case isn't t

[2015-07-27 22:20] chadbrewbaker commented on #3479
Can't tell if joking or serious... I can write succinct encodings of abstract datatypes into int64s. Float? My god I wouldn't want to write those converters.

[2015-07-27 22:30] beckettsean commented on #3479
@chadbrewbaker we are serious, can you give a relevant use case where `float64` doesn't meet your needs? Is encoding an abstract datatype something you find essential in a TSDB? Why wouldn't `string` solve your need just as well as `int64`?

[2015-07-27 22:44] gunnaraasen commented on #3475
@mjdesa I believe https://github.com/influxdb/influxdb/pull/3474 fixes this issue.

[2015-07-27 23:28] jwilder opened #3480 "Add checksum/recovery to hinted handoff queues"
#3436 #3120 looks like corrupted records in the hinted handoff queue files for some users.  We need to add checksums and recovery to the segment files to handle this better.

This was a TODO item still left from #2788.

[2015-07-27 23:33] beckettsean commented on #1095
@mjdesa can you try to repro with 0.9.2?

[2015-07-27 23:34] chadbrewbaker commented on #3479
1) I don't trust a lot of client side float code. Especially on embedded devices with custom FPU libraries in firmware.

2) Strings aren't uniform length. Have to do parallel prefix an whatnot to manipulate them in bulk.

3) Machine clock error + relativity (light only travels around the earth about 7 times a second). Most clocks I don't trust beyond being a local stopwatch.

For data pipelines I

[2015-07-27 23:41] pauldix commented on #3315
Ah, I see what this is. It is because you're posting a data point twice and we have an in memory cache associated with the WAL. Basically, points get written to the WAL and cached in memory. Periodically, these will get flushed to the index on disk.

If you write in points with the same timestamp, those get written to the WAL and in-memory cache first. If you then query, you'll get the union of th

[2015-07-27 23:55] mjdesa commented on #1095
@beckettsean with a cluster of 3 or just a single node?

[2015-07-27 23:56] pauldix commented on #3479
@chadbrewbaker I'm not sure what to say about #1. Floats can't be trusted?

For #2, if you know you're writing in strings as ints because you're changing it to that because of succinct abstract data types, I would suggest one of two things. First, don't bother, use the actual type names in the string. We'll take care of compression for you. Or use tags, which already avoid copying those strings ar

[2015-07-28 00:00] beckettsean commented on #1095
yes ;)

Start with 1 node and move to 3 if you can't repro. I suspect this is a non-issue in 0.9.2

[2015-07-28 00:00] mjdesa commented on #1095
kk

[2015-07-28 00:51] benbjohnson commented on #3315
@pauldix Sure, I'll get it fixed.

[2015-07-28 03:04] benbjohnson commented on #3315
Fixed: https://github.com/influxdb/influxdb/pull/3482.

[2015-07-28 04:02] majst01 commented on #3479
Hi Paul,

I'm fine with that. In influxdb-java i already write numbers always with at least one fraction digit, even if a int was given. This is done because the troubles you mentioned.

The only concern i have with floats is the loss of accuracy compared to BigDecimals or even int64 a big int64 number converted to a float64 will loose accuracy and some people will complain about that im sure.

On

[2015-07-28 07:27] ibobak commented on #3470
then why not to output a message  "snapshots are disabled"  when I am doing "influxd backup" ?

[2015-07-28 07:58] dawbs commented on #3429
Sorry for the horrible git fail there . . .

There is fix in the open pull request and a couple of tests. Would love another few eyes more familiar with the project to have a look over.

[2015-07-28 08:18] jcsp commented on #3479
Hmm, I can see cases where int64 is useful for firing in data from sensors where we don't know the encoding.  e.g. if a sensor uses the high bits for something then we'll end up outside the 2^53 range, or if it's giving us different-endian data (and we want to acquire the data opaquely before sorting it out later).  Aside from physical sensors, consider hardware counters from chips etc that very m

[2015-07-28 08:57] majst01 commented on #3479
This is true especially for routers and such, if an application later wants to calculate rates from the absolute values the error will raise if counter values are stored as float.

[2015-07-28 11:50] haf commented on #3479
+1 for keeping the integers; they make life a lot easier by being easy to bit-manipulate, as opposed to floats where implementations vary a lot more. @chadbrewbaker 's 1) and 2) and @jcsp 's cases are valid. Another example of mine: it's easy to program a strictly monotonically increasing integer, but it's less so to program a strictly monotonically increasing float without first converting the fl

[2015-07-28 12:26] pauldix commented on #3479
@haf, even if we used a float under the hood, you could use an int in your client code. The only difference is that every number in the line protocol would be converted to a float and stored using that.

The conversion isn't on the client end, it's on our side. And the loss of precision for counters isn't really a concern given the range of values that can still be represented as a float. Like Pro

[2015-07-28 12:43] jcsp commented on #3479
Requiring explicit trailing 'i' for ints and otherwise defaulting to floats sounds perfectly sensible to me.

[2015-07-28 13:01] haf commented on #3479
Who says the ADT always is a counter in the range of natural numbers? It could be any ADT that relies on the property of static monotonicity. That + the fact that you can represent the floats easily with ints but not the other way around makes keeping ints a compelling argument. You don't need a paper on how to work with ints, but you probably [need one to work with floats](https://hal.archives-ou

[2015-07-28 13:13] Oliv4945 commented on #3315
Hi, I just updated to f994a97 and I still have the problem. In my case, I double checked, I am not posting my points twice.

Also, it seems that data are not doubled before having this kind of entries in the log : "[v1] 2015/07/28 14:55:38 flush 7 points in 0.017s". What does it means ?

[2015-07-28 13:32] benbjohnson commented on #3315
@Oliv4945 Flushing is the process of writing the points in the write ahead log (WAL) to an indexed format. Writing to the indexed format is slow so we batch up writes in the write ahead log first and keep a buffer of those in-memory.

I'm not sure how you'd see duplicates after a flush if they weren't being written twice. Do you have a script that can reproduce your issue?

[2015-07-28 14:44] juddgaddie opened #3485 "Influxdb crashes when on invalid input via UDP"
Reproducibility: 100%
Influx version: 0.9.1
Enable UDP in influxdb.conf

nc -u 127.0.0.1 $influx_udp_port
cpu\,01,host=serverA,region=us-west

panic: runtime error: slice bounds out of range

goroutine 26 [running]:
github.com/influxdb/influxdb/tsdb.scanKey(0xc208142000, 0x23, 0x10000, 0x23, 0xc20811b4b0, 0x0, 0x0, 0x0, 0x0, 0x0)
	/home/philip/build/src/github.com/influxdb/influxdb/tsdb/points.go:

[2015-07-28 15:11] myurko2 commented on #3479
My main use for Influx requires that I store many nanosecond timestamps as a value in the DB. Using a float64 would limit me to ~us precision which isn't sufficient. If I were forced to use float64, then I would be forced to drop Influx.

[2015-07-28 15:24] mbejda opened #3486 "Cant read data points."
Tested On :
Influxdb Shell Version : InfluxDB shell 0.9.1
Influxdb Shell Version : InfluxDB shell 0.9.2

Go Version : go version go1.4.2

I connect to my Influxdb database that is hosted on influxdb.com.

Execute the following command :
<code>Show databases; </code>
And get :
<pre>
{ Results []client.Result "json:\"results,omitempty\""; Err string "json:\"error,omitempty\"" }
</pre>

[2015-07-28 15:29] jwilder commented on #3485
This is fixed in `0.9.2`.

[2015-07-28 15:29] #3485 closed

[2015-07-28 17:03] mjdesa commented on #3470
@ibobak yeah thats probably a good idea. Open up an issue for it.

[2015-07-28 17:17] mjdesa commented on #1095
Math inside of mean no longer works

[2015-07-28 17:17] #1095 closed

[2015-07-28 17:20] mjdesa commented on #3467
Similar issue from `stats`

[code]

[2015-07-28 17:25] beckettsean commented on #3467
I'm curious why the error from the correctly double-quoted measurement gives a character number that is nonsense. The original submitter had "expected identifier at line 1, char 98", mine, with identical syntax, is on "char 36", and Michael's, which is a shorter line than mine, errors on "char 45". None of the statements are long enough to have that many characters.

@dgnorton is the parser walkin

[2015-07-28 17:40] esecules commented on #3473
Could this have something to do with the python client version Im using?

[2015-07-28 18:12] mjdesa commented on #3486
@mbejda how did you execute the `show databases` command? You mentioned client version that you're using is 0.9.x, but which version of Influxdb are you using? Can you recreate the issue locally?

[2015-07-28 18:26] mbejda commented on #3486
Ok Im closing this issue. There is a influxdb 0.8.x to influxdb 0.9.x shell incompatibility. The hosted service still uses influxdb 0.8.x database and locally Im using 0.9.2. So you cant use influxdb 0.9.x shell to communicate in influxdb 0.8.x database.  You need to use influxdb 0.8.x shell to communciat with influxdb 0.8.x database. I wish this was written somewhere in the docs. XD. :tangerine:

[2015-07-28 18:26] #3486 closed

[2015-07-28 18:31] mjdesa commented on #3486
@mbejda I'll open an issue in the `influxdb.com` repo for this.

[2015-07-28 18:33] beckettsean opened #3488 "[0.9.2] timeouts from CQ lead to 500 for all subsequent writes, dies on first restart"
This is on my local box, OS X laptop. The laptop was closed during this entire log snippet so it could be related to OS X powersleep.

Telegraf writes to InfluxDB every 7 seconds. The posts succeeded all night until a timeout in a CQ (the only CQ running in the database) and then all writes after that failed.

[code]

This morning I did `pkill influxd` and restarted the process. It refused to stay

[2015-07-28 18:48] beckettsean commented on #3473
@esecules given that there's Docker and the python client involved, there's too much for us to try and repro easily. I don't see anything indicative of a failure, and the logs don't show any 4xx or 5xx errors on POST. Can you clarify what you mean by "server stopped ingesting data from POST requests"? From the logs you've given it looks like the POST requests stopped making it to InfluxDB entirely

[2015-07-28 19:49] mihaicostin commented on #586
I would also like to see this feature in

[2015-07-28 21:15] nzrower commented on #2933
Agreed, the documentation should be updated.

[2015-07-28 22:00] mjdesa commented on #3467
Similar issue

[code]

[2015-07-28 22:09] beckettsean commented on #2933
@nzrower the docs source has been updated, it hasn't been pushed live yet.

[2015-07-28 22:11] mjdesa commented on #3326
Similar issue

[code]

[2015-07-28 22:20] gunnaraasen commented on #3467
Does the same error occur on queries which do not use `*`? It looks like the error is occurring after the `*` is expanded and the query statement is re-parsed, which would explain the nonsensical error locations on the line.

[2015-07-28 22:40] mjdesa commented on #3467
Without the `*` I get

[code]

[2015-07-28 22:42] esecules opened #3492 "[0.9.1] LIMIT in some queries may use too much RAM"
In both the command line client as well as through the web API, a "limit" in the query has no effect. This is potentially harmful since paging through mounds of data is now impossible because
[code]
will give me not the first 10 items but all of them which has run my host out of memory (8GB)

[2015-07-28 23:00] esecules opened #3493 "[0.9.1] Startup takes > 30m on top of large data dir"
Starting influx takes upwards of 30 minutes when started on top of a 4.5GB data dir.
And during this time I can see the memory usage creeping up until its around 2-3 GB

logs
[code]
Config file:
Is there anything I can optimize here?
[code]

[2015-07-28 23:11] esecules commented on #3473
By "server stopped ingesting data from POST requests" i meant that from 2015/07/27 08:34:07 onward no more post requests showed up in the logs and the python client saw 104 errors.

I have not been able to repro either (partially because i have been tied up with #3493 and #3492), but I also think it could be the python client. However I am hesitant to believe it was a Kubernetes pod networking iss

[2015-07-28 23:16] beckettsean commented on #3492
@esecules there must be something else going on. `LIMIT` worked as intended in 0.9.1 and also in 0.9.2. Perhaps you are confusing `SLIMIT` and `LIMIT`?

`LIMIT 10` will return the 10 oldest points *per series* from the `huge_table` measurement. If you have a number of tag sets in the `huge_table` measurement that might still return hundreds or thousands of points.

`SLIMIT 10` will return the 10 o

[2015-07-28 23:21] beckettsean commented on #3473
I've not seen any other instances of the write endpoint disappearing like that, and it's clear from the InfluxDB logs that the POST requests weren't making it through at all. It's possible the `/write` endpoint died somehow. The `GET` requests from chronograf go to the `/query` endpoint. Were both still configured on port 8086?

I notice from this and your other issues that you're running 0.9.1. I

[2015-07-28 23:32] #3466 closed

[2015-07-29 00:06] esecules commented on #3492
Limiting sometimes works like it does with this query:
```SELECT "value" FROM large_series WHERE tag='1234' LIMIT 1```
but when selecting * it is ignored.
```SELECT * FROM large_series WHERE tag='1234' LIMIT 1```
the series ```large_series``` has data from older versions of influx and probably makes up the majority of my database of about 4.5GB but Im not sure of an efficient way to check.

Howeve

[2015-07-29 00:10] esecules commented on #3473
I do have both endpoints hooked to port 8086 and I will upgrade to 0.9.2 soon

[2015-07-29 00:25] beckettsean commented on #3492
"has data from older versions of influx"

Do you mean older 0.9.x versions, or did you manually migrate from 0.8?

Can you provide sample output of the `SELECT * FROM large_series WHERE tag='1234' LIMIT 1` query? I have no issue with that query whatsoever.

[code]

[2015-07-29 00:30] esecules commented on #3493
It migh be worth mentioning that the data dir contains data from previous versions 0.9.0 mostly and possibly some of 0.9.0-rc31

[2015-07-29 00:33] esecules commented on #3492
I mean it has 0.9.0 as well as 0.9.1

[2015-07-29 00:48] esecules commented on #3492
[code]
[code]

[2015-07-29 01:06] beckettsean commented on #3492
That's not necessarily the wrong behavior. Again the query is slightly obfuscated so I can't tell exactly what's happening, but the query will return 1 point for each unique tag set where `tag=1234`. Given that there are 37 other tags, each with an unknown number of possible values, maybe there is a unique series for each of the 159 returned points.

Is that the case? If not, would you be willing

[2015-07-29 09:03] mathurs commented on #3469
Tried this also and tried reducing other load on the server, doesn't seem to help. Infact, my reads are also frozen now.

[2015-07-29 09:34] rucka opened #3496 "bug: cannot drop database in influxdb 0.9"
I'm running Influxdb from a docker ubuntu 14.04

If I try to delete the existing db 'mydb' from web admin I receive the success message: 'Successfully removed database: mydb' but the command SHOW DATABASES return a list containng 'mydb'.

When I try to delete the db from the shell this is the result:

[code]

Regards
Gianluca

[2015-07-29 09:56] caoli5288 opened #3497 "How to multiple query result?"
or other calculate？

[2015-07-29 10:04] xfmoulet opened #3498 "improve line protocol documentaiton"
It would be nice to improve a bit the line protocol documentation by
 - adding = and \ to the list of chars to be escaped (maybe evident, but you never know) and
 - re-specify the default unicode encoding used (utf8?) if applicable (or raw bytes if not).

thanks

[2015-07-29 11:19] samhatchett commented on #3479
We use the int field to store OPC quality codes, which are 8-bit masks. However I think client-side casting can handle this need just fine.

[2015-07-29 11:21] pauldix commented on #3479
After the reaction on this thread I'm thinking the best plan is the one I outlined in my last comment. Update the line protocol to require a trailing `i` after any int, all other numbers are assumed to be floats.

Then we need to fix the outstanding bugs associated with using ints and we should be good to go.

This will give us the best of both worlds. It'll fix the usability problem with the API

[2015-07-29 13:17] mnietz opened #3499 "Influx 0.9.2 Panics"
Influx 0.9.2 has stopped working with the above error. I'm not able to restart it.

Prior of the crash i created a obviously wrong cq for testing:

create continuous query "justatest" on analytics begin select mean(value) as value, sid, uid into "test" from view where name = 'account' group by time(5m), * end

How can fix the situation, this instance of influx is used in production to gather stati

[2015-07-29 13:22] mnietz commented on #3499
Solved this by restarting influx with continuous queries disabled, deleted the cq, enabled cq's again and restarted once again

[2015-07-29 13:32] tau0 commented on #2378
Any progress?

[2015-07-29 13:52] corylanou commented on #2378
@tau0 Finishing up today.  I had a release ready to go yesterday but when I was doing testing I found I forgot some minor steps.  I'm finishing the import side today and hopefully will release tomorrow. Expect a blog post on it.  Thanks for your patience!

[2015-07-29 14:05] srfraser opened #3500 "InfluxDB 0.9.2 Query Template syntax error"
Using the dropdown 'Query Templates':

Selecting "Show Retention Policies", the template provided misses out the word "ON", filling in "SHOW RETENTION POLICIES db_name" instead of "SHOW RETENTION POLICIES ON db_name"

Selecting "Drop Retention Policy", the template provided misses "ON db_name" from the end:
"error parsing query: found EOF, expected ON at line 1, char 31"

[2015-07-29 15:44] Vanhoeyl commented on #961
+1 really need to have way to query the time field and do some basic math. ATM this is one of the missing features that we need before we can use influxd

[2015-07-29 16:45] esecules commented on #3492
I do have a unique ID as part of the tags so that explains the symptoms I've been seeing, and SLIMIT N does return a N rows in this case. However to my knowledge there is still no data independent way of ensuring that the output of a query is bounded. I will work around it by paging over time intervals rather than a fixed number of rows.

[2015-07-29 17:23] mjdesa commented on #3498
@xfmoulet moving this issue to the `influxdb.com` repo.

[2015-07-29 17:23] #3498 closed

[2015-07-29 17:27] mjdesa commented on #3497
@caoli5288 the query should look something like this

[code]

[2015-07-29 17:27] #3497 closed

[2015-07-29 17:29] mjdesa commented on #3496
@rucka can you reproduce this error in 0.9.2?

[2015-07-29 17:50] esecules commented on #3493
Many of my tables probably have some tags that should really be fields like unique IDs.

[2015-07-29 18:04] rucka commented on #3496
Hi Michael,
yes I tried both 0.9 and in 0.9.2.1.

[2015-07-29 18:51] beckettsean opened #3503 "[feature request] admin UI should show results of all queries, not just the first"
In the admin UI, when chaining queries with a semi-colon (`;`), only the first query's results are shown. All results are returned, we just need to parse and display them.

![screen shot 2015-07-29 at 11 50 19](https://cloud.githubusercontent.com/assets/6537329/8966764/0259afe0-35e8-11e5-9412-4cda3e300865.png)

[2015-07-29 19:05] corylanou opened #3504 "Nil field codec causes server panic"
Calling `FieldCodec` can result in a nil:

https://github.com/influxdb/influxdb/blob/master/tsdb/shard.go#L133

And is called from https://github.com/influxdb/influxdb/blob/master/tsdb/engine/b1/b1.go#L186

And then used at:

https://github.com/influxdb/influxdb/blob/master/tsdb/mapper.go#L214

`tsc := newTagSetCursor(m.Name, t.Tags, cursors, lm.shard.FieldCodec(m.Name))`

The fourth argument is n

[2015-07-29 19:27] jprichardson commented on #3479
I think most are going to tell you to keep integer support. Perhaps this is harsh, but few understand what it takes to build, maintain, and ship quality software, especially if it isn't their software to build, maintain, and ship.

I think in the short-term you need to optimize for stability, simplicity, and production-level quality. Whichever decision satisfies that quicker, is what you should do

[2015-07-29 20:19] glarizza opened #3506 "[0.9.3 nightly] Graphite plugin: "assignment to entry in nil map" on shutdown"
Server Setup:

[code]

I've got about 6 Puppet compilation masters running Puppetserver which have a metrics service sending out graphite data every 5 minutes.  There are quite a few measurements per-server (as measurements get created on a per-resource basis), and so a lot of data getting streamed to the InfluxDB server.  I'm using the graphite plugin for InfluxDB and was originally using 0.9.2 b

[2015-07-29 20:43] glarizza commented on #3506
After more digging and restricting the number of hosts sending to InfluxDB, I found some errors arising:

[code]

Looks like there are points being sent that influx does not like.  I started to use the filters/templates to the Graphite plugin, is there a way to have Influx ignore points that match a certain regex?  I know there's way to define tags and measurements from a single point being sent,

[2015-07-29 20:54] glarizza commented on #3506
Seems to be the load - if I turn off metrics to all but a single server, Influx is able to keep up.  I'll play with it some more to find out where it starts having problems (and tune the timeouts and WAL a bit).  Are there any other performance suggestions that could be made?

[2015-07-29 21:09] abhiofdoon commented on #2346
I see Influxdb 0.9 crash on a simple select query as well.

curl -G 'http://localhost:8086/query' --data-urlencode "db=graphite" --data-urlencode "q=select * from \"xxx-com.cloud.gauges.raw_storage_usage\"" | python -m json.tool

The data in influxdb looks like this:
$ curl -G 'http://localhost:8086/query' --data-urlencode "db=graphite" --data-urlencode "q=select * from \"xxx-com.cloud.gauges.raw_

[2015-07-29 22:01] qunpp1 commented on #3040
Tested on 0.9.2. This issue appears to be resolved!

[2015-07-29 22:02] beckettsean commented on #3469
@jhorwit2 @mathurs do you have similar restart experiences as I reported in https://github.com/influxdb/influxdb/issues/3488?

[2015-07-29 22:03] beckettsean commented on #3499
@mnietz that is the correct resolution. CQs calculate on startup, so if there's a broken one you must first disable them, then restart the server to delete the CQ, then re-enable them and bounce the service once more.

[2015-07-29 22:03] #3499 closed

[2015-07-29 22:05] #3459 closed

[2015-07-29 22:06] beckettsean commented on #3499
probable dupe of https://github.com/influxdb/influxdb/issues/3284 or https://github.com/influxdb/influxdb/issues/3459

[2015-07-29 22:07] beckettsean commented on #3500
Thanks for the report, @srfraser. Looks like we missed one spot affected by https://github.com/influxdb/influxdb/pull/3345

[2015-07-29 22:10] jhorwit2 commented on #3469
@beckettsean yes. I get the same port already in use and I just have to wait for it to finally die before i can restart to clear the timeouts. I have gotten this error at least 6 times in the since Sunday.

I did notice if i removed my CQ that was doing a `where tag =~ /regex/` it doesn't fail. Your CQ wouldn't happen to have a regex would it?

[2015-07-29 22:16] beckettsean commented on #3492
Yes, if you are writing a unique value to a tag, then you have a series for every value of that tag, and every series has a unique index ID stored in RAM. That's a huge index, and may explain the very long startup time, as the shards have to build an in-RAM structure for the index on boot.

If a tag has a unique value it really should be a field. Querying using fields in the WHERE clause is slower

[2015-07-29 22:16] #3492 closed

[2015-07-29 22:18] beckettsean opened #3509 "provide better guidelines on tag vs. field"
inspired by https://github.com/influxdb/influxdb/issues/3493

[2015-07-29 22:18] beckettsean commented on #3509
wrong repo

[2015-07-29 22:18] #3509 closed

[2015-07-29 22:19] beckettsean commented on #3493
@esecules if you have a chance to migrate some of your tags to fields and still see this issue, please let us know. Until there's another report, we'll assume this is a configuration issue leading to a performance issue, and thus something to solve with better documentation: https://github.com/influxdb/influxdb.com/issues/179

[2015-07-29 22:19] #3493 closed

[2015-07-29 22:20] beckettsean commented on #3496
@rucka the error strongly implies that the mount point is unavailable or otherwise locked up.

Could there be a docker conflict preventing access to the `/data` directory? What are the results of `ls -l` for the `/data` directory?

[2015-07-29 22:27] beckettsean commented on #3469
My CQ does not have a regex. It's quite simple:

[code]

I am selecting from and writing to the same retention policy, which means reads and writes to the same shards. Does your CQ also write to the same RP from which it pulls data?

[2015-07-29 22:30] jhorwit2 commented on #3469
Yes

[2015-07-29 22:31] toddboom commented on #3503
it makes me really happy to finally see screenshots of the new interface!

[2015-07-29 22:32] beckettsean commented on #3469
@mathurs are you reading from and writing to the same retention policy in your CQ that times out?

Could be we have write/read lock contention at the shard level, exacerbated by constrained resource availability.

[2015-07-29 22:36] esecules commented on #3492
The schema change is going to get locked in soon and hopefully I will see improvements as the retention policies clean out the old data.

[2015-07-29 22:42] toddboom commented on #2115
This is done in v0.9.2.

[2015-07-29 22:42] #2115 closed

[2015-07-29 22:54] jhorwit2 commented on #3469
Is there anyway to report metrics on such things currently (gonna guess no after quickly looking through the shard write code) or would it require profiling the app?

[2015-07-29 23:00] beckettsean commented on #3469
I think most of the profiling the core team does involves attaching a profiler to the running process, nothing baked in and user-facing. Unfortunately `SHOW STATS` and `SHOW DIAGNOSTICS` are both still waiting to be wired back up following the cluster redesign. Your improved CQ logging PR was merged and should be available in the recent nightly builds.

@dgnorton @corylanou @pauldix any recommenda

[2015-07-29 23:01] beckettsean commented on #3488
closing in favor of #3469

[2015-07-29 23:01] #3488 closed

[2015-07-29 23:10] beckettsean commented on #3469
#3488 has another case of this happening. Same experience last night, my CQ timed out just after a WAL flush and all writes were 500s until two restarts later:

CQ timeout > 500s on writes. Database is fine for queries but all telegraf writes return 500.

[code]

`pkill influxd` and restart with  `influxd -config /usr/local/etc/influxdb.conf 2>> ~/workspace/logs/influxd.log &` leads to a hard shut

[2015-07-29 23:18] beckettsean commented on #3506
@glarizza If you've tuned the WAL that's a great first step. Did you experiment the `batch-size` and `batch-timeout` settings on the graphite endpoint? If you didn't generate a new config when upgrading that's probably the first thing to try. Batching will help with performance for sure.

Also see the comments on this issue: https://github.com/influxdb/influxdb/issues/3230. They specifically addre

[2015-07-29 23:27] markusr opened #3510 "[0.9.3-nightly] Logfile is growing too big"
With the recent change of logging every write in a continuous query, I get a lot of entries like this:
[code]
So every 15 mins I have thousands of entries.

In the last 3 days the log file got as big as 350 MByte. For now I just deleted the file.

[code]

[2015-07-29 23:40] beckettsean commented on #3510
See https://github.com/influxdb/influxdb/issues/1943 for how to install a reasonable logrotate config for InfluxDB.

Closing in favor of that issue.

[2015-07-29 23:40] #3510 closed

[2015-07-29 23:41] beckettsean commented on #3510
Note also that you can disable CQ logging in the config file:

[code]

[2015-07-29 23:51] glarizza commented on #3506
Hey Sean - This is the nightly from last night, it was installed completely fresh this morning.  When I start up InfluxDB, the git commit lines up with the merge from last night, but the version string is still giving 0.9.1-RC1, which is weird but happens.

I've got `batch-size` at `250` and `batch-timeout` at `20ms`, but I'm unsure if increasing the size and timeout will work around the errors an

[2015-07-30 01:41] mjdesa opened #3511 "[0.9.2] Sending a large number of tag causes panic"
[code]

[2015-07-30 01:59] beckettsean opened #3512 "version string for nightly builds is incorrect"
https://github.com/influxdb/influxdb/issues/3506#issuecomment-126130429

Downloaded nightly today and got `0.9.1-rc1-326-g2a02605` as the build. Should be an 0.9.3 nightly, and not an RC.

[code]

[2015-07-30 01:59] beckettsean commented on #3506
@glarizza thanks for the note about the version string. I've opened an issue to look at our nightly build script. I'm guessing we've got a hard-coded value somewhere in there. https://github.com/influxdb/influxdb/issues/3512

[2015-07-30 02:27] mjdesa commented on #3511
@toddboom to recreate the issue set

[code]

in the `stress` script toml file.

Everything is fine if `num_tags`<100.

[2015-07-30 03:00] mjdesa commented on #3511
Found the [problem](https://github.com/influxdb/influxdb/blob/master/tsdb/points.go#L203). If you up this value then everything work.

[2015-07-30 04:24] caoli5288 commented on #3497
THX

[2015-07-30 05:14] toddboom commented on #3512
This should be fixed in commit `56eb7e9`.

[2015-07-30 05:14] #3512 closed

[2015-07-30 05:17] toddboom commented on #3506
@glarizza can you give it a try again? i think the nightly build may have been slightly out of date. :crying_cat_face:

i just pushed a new build from master a bit ago.

[2015-07-30 05:29] toddboom commented on #3511
Super lame. Nice catch, btw. This should definitely be handled better.

[2015-07-30 05:45] Adrien-P commented on #3479
Thanks pauldix for addressing this issue.
I'm just starting with InfluxDB and I first sent a value 0 in a non-existing serie and then tried to send the value 1.2. It failed (conflict because 1.2 is a float whereas the serie is expecting int).
Personally I do not need the type int and I can't judge if people really need it or not.
Tell me if I'm wrong, but it looks like InfluxDB infers the type you

[2015-07-30 12:14] mathurs commented on #3469
Sorry, for the delay in my response. Yes, the restart log looks very similar. I have to cleanly shutdown first wait for it to reach hard time limit, and then restart. Except, in my case its very predictable. I restart it and within 5-10 minutes it reaches time out stage and everything freezes. @beckettsean, its not just my CQs, but all my writes are also timing out.

[2015-07-30 12:25] jhorwit2 commented on #3469
Does anyone notice panics during this restart process? I see this #3468

[2015-07-30 13:06] pauldix commented on #3469
ok, I'm guessing this has to do with how the WAL flushes currently work. We're in the middle of working on a solution for this. Will hopefully make it into master early next week.

[2015-07-30 13:07] jhorwit2 commented on #3469
There a ticket on that? I'm curious to see the problem / fix.

[2015-07-30 13:18] pauldix opened #3514 "Move WAL out of BoltDB"
Having the WAL in BoltDB is causing the entire database to lock during WAL flushes, which is causing write timeouts. Move the WAL outside of Bolt and ensure that flushes of the WAL do not cause the database to lock for writes.

WAL should be able to flush incrementally. It should gradually put on back pressure if the index is unable to keep up with the pace of WAL flushing. Ideally this should occ

[2015-07-30 13:19] pauldix commented on #3469
@jhorwit2 There are probably a dozen different ones open on it right now. I've opened  #3514 as an issue to track the work on the WAL specifically.

[2015-07-30 13:22] jhorwit2 commented on #3469
:+1:

[2015-07-30 13:50] jmcook commented on #3514
This would be wonderful.

[2015-07-30 14:22] pauldix opened #3515 "Should we remove UUID from the project?"
I see we're using UUID to set a request id, but that doesn't seem to get used anywhere. Wondering if we should remove this as it seems like extra cruft.

[2015-07-30 14:25] corylanou commented on #3515
Do you have an alternative ID you would like to use?  This request ID will be important once we wire it up to go through our entire system.

The theory is that whenever we initiate a request, this ID follows it through all system calls, and would log out with any errors/warnings.  Then, you can consolidate your logs across the distributed system and see how that request was actually processed.

We

[2015-07-30 14:28] corylanou opened #3516 "TestCluster_OpenRaft - Intermittent test failure"
[code]

[2015-07-30 14:43] dim commented on #3368
I managed to recreate the problem in #3517

[2015-07-30 14:43] dim commented on #3362
I managed to recreate the problem in #3517

[2015-07-30 14:49] btobolaski opened #3518 "Retention policy not being enforced"
OS: Ubuntu 14.04
Influxdb Version: 0.9.3 nightly build, the deb version is 0.9.1-rc1-326-g2a02605

[code]

But if I query the default retention policy, I see data from much longer ago than that

[code]

This is a relatively new server, I only started writing data to it 4 days ago which is why the first 4 entries are blank. I do see entries like:

[code]

But they never result in dropping a shard.

[2015-07-30 14:50] DanielMorsing commented on #3516
Doing some quick code spelunking on this error. The error happens if you end up with a closed database somehow, which can only happen if you call bolt.(*DB).close. That function is only called when you explicitly close the DB or you have an error while opening.

github.com/influxdb/influxdb/tsdb/store.go:240 looks like a good candidate for where we can throw away the opening error, continue unabat

[2015-07-30 15:05] pauldix opened #3519 "Update line protocol to require trailing i for field values that are integers"
Many people have reported problems with writing data in and confusion around when a number is a float64 or an int64. Because we take the type of the first written value as that field's type for the measurement, it's causing errors for people later on.

I briefly thought of dropping support for ints (#3479) to make things easier, but it looks like enough people really want them still. So, this will

[2015-07-30 15:07] pauldix commented on #3479
Ok, it's official, we're keeping integer support but modifying the line protocol slightly to improve usability: #3519. It'll be in the 0.9.3 release. Thanks for the feedback everyone.

[2015-07-30 15:07] #3479 closed

[2015-07-30 15:08] pauldix commented on #3479
@Adrien-P That's right, we set the type based on the first value written in. The issue with having mixed types for a given field in a measurement is that we end up having to case them when doing aggregations, which could yield unexpected results.

[2015-07-30 16:26] dgipps commented on #3333
@otoolep The linked docs page doesn't say anything about a continuous query that goes from one retention policy (not one specific measurement) to another retention policy. Lets say I have a retention policy "metrics" and I want to downsample data to "metrics_hourly". I see how I could do this individually for each measurement I have in metrics, but given that I have a lot measurements and will lik

[2015-07-30 17:03] juddgaddie opened #3523 "[feature request] support `SHOW MEASUREMENTS where name =~ /.*paul.*/`"
Since 0.9 is it no longer possible to search through measurements with a regex by the name of the measurement ?

Sorry if this has been answered already.

[2015-07-30 18:32] andreyp1986 opened #3524 "[0.9.3-rc2] Unable to stop service while editing config file"
I start editing config file:
vi /etc/opt/influxdb/influxdb.conf

From other terminal I try to restart influxdb service:
root@zip:~# service influxdb restart
influxd process is not running [ OK ]
Starting the process influxd [ OK ]
influxd process failed to start [ FAILED ]

root@zip:~# service influxdb version
InfluxDB v0.9.3-nightly-401f1b2 (git: 401f1b2843d32bcc4c9abe596c2dd44e14b0ae75)

[2015-07-30 18:58] juddgaddie commented on #3524
What is the log output?

Did you make any changes to the configuration?

[2015-07-30 20:43] mjdesa commented on #3523
@juddgaddie currently you cant filter measurements with a regex.

[2015-07-30 20:51] mjdesa commented on #3523
Docs issue fixed by https://github.com/influxdb/influxdb.com/commit/be70610deaa39f35bb5a3fe1b09e24928ac6443b

[2015-07-30 20:56] juddgaddie commented on #3523
Are there any plans to introduce filtering on measurements ?

[2015-07-30 21:06] mjdesa commented on #3523
yes

[2015-07-30 21:21] beckettsean commented on #3475
@mjdesa can you attempt a repro with a nightly to see if the PR fixed the problem?

[2015-07-30 21:38] beckettsean commented on #3333
@dgipps we're working on improved CQ documentation (https://github.com/influxdb/influxdb.com/issues/159)

As for a single CQ that consumes multiple measurements, that is not yet possible, but this issue (https://github.com/influxdb/influxdb/issues/2555) is the request for a backreference for regex that would make it possible. It's slated for the 0.9.3 release but will likely slip into 0.9.4.

[2015-07-30 22:14] mjdesa commented on #3475
@beckettsean yup its fixed.

[2015-07-30 22:14] #3475 closed

[2015-07-30 23:50] beckettsean commented on #3040
Confirmed fixed in 0.9.2, but only for WHERE clauses with tags. Doesn't work for WHERE clauses with fields (which makes sense, that necessitates a full scan), but there should be better error handling:

This all makes sense:

[code]

All good to this point, but `WHERE` with a field restriction fails, and without any errors:

[code]

Even garbage passes the parser, returning no results, as long as

[2015-07-31 00:01] mjdesa opened #3525 "Inequalities in the SELECT clause should return a parse error"
Using any of `=`,`!=`,`<`,`>`,`<=`,`>=` will yield empty results for all types.

[2015-07-31 04:56] caoli5288 opened #3527 "Database file grew too fast"
Hey guys, I am a new for influxdb.
I used RRD to record collectd's data beforce and now use influxdb-0.9.2 instead of.
But a found something that I got a 1G database file in a day.
When using RRD the database file is tiny.
So I will get a 365G file in a year? I don't have so many hard drives for collectd and I think it's not normal for this growth data.

[2015-07-31 06:39] srikara commented on #211
+1

[2015-07-31 13:39] srfraser opened #3528 "[0.9.3-rc1] memory use and lack of responsiveness"
Overview:

1. Each time I restart, I have to remove the data directory or InfluxDB doesn't open the ports 8083 and 8086
2. There is a fast growth in resident memory usage.

Using 0.9.2, installed from influxdb_0.9.2_amd64.deb on Ubuntu 12.04, kernel 3.2.0-35-generic
The server has 128Gb memory and 40 cores, and about 70Tb spinning disk.

I've experimented with 0.9.2 for a little while with low vol

[2015-07-31 16:06] glarizza commented on #3506
Sadly, I had to pull the server because of I/O issues.  This is for a customer I'm working with, but I've captured the data so I can replicate.  As of right now I'm not going to be able to replicate it for awhile, so feel free to close this issue for now (unless someone else wants to comment).

[2015-07-31 16:41] mark-rushakoff commented on #3447
I looked into this a little bit, and saw that the [influxql package seems to only depend on standard libraries](https://godoc.org/github.com/influxdb/influxdb/influxql?imports), while the [tsdb package requires several of the mentioned dependencies](https://godoc.org/github.com/influxdb/influxdb/tsdb?imports).

Walking through Sourcegraph a little, it looks like the client package only depends on

[2015-07-31 17:15] mjdesa commented on #3527
@caoli5288 about how many points did you write for that day?

[2015-07-31 17:41] caoli5288 commented on #3527
@mjdesa "select count()" statement is not supported, So how can I query the number of points?

[2015-07-31 17:44] pauldix commented on #3528
Are there queries also hitting the box or just Telegraf? What sampling interval do you have on your telegraf config?

It sounds from this like you have telegraf installed on all 321 nodes? That means you have 321 different writers (which should be fine), just want to verify if there are any more.

[2015-07-31 17:44] mjdesa commented on #3527
@caoli5288 the query `select count(value) from /.*/` doesn't work?

[2015-07-31 17:48] srfraser commented on #3528
The only queries are from one grafana dashboard, it's not a live service yet so no one else is looking at it.

The sampling interval is the default 10s, and telegraf is installed on all the 321 nodes

Thanks!

[2015-07-31 17:57] caoli5288 commented on #3527
@mjdesa It seem works, but it lag (still now, I cant get result) :-(
collectd read host's hardware information every 10s.

[2015-07-31 18:10] caoli5288 commented on #3527
@mjdesa Result show count for each tags, I don't know the total's.

[2015-07-31 18:11] mjdesa commented on #3527
@caoli5288 any idea approximately?

[2015-07-31 18:12] DanielMorsing commented on #3528
Some profiles out of the system would be really helpful in tracking this down. To get a cpu profile and a memory profile run
[code]
If you send me the `/tmp/cpuprofile` and `/tmp/memprofile` files, I'll have a look

[2015-07-31 18:14] corylanou commented on #3519
Completed in https://github.com/influxdb/influxdb/pull/3526

[2015-07-31 18:14] #3519 closed

[2015-07-31 18:27] caoli5288 commented on #3527
@mjdesa The number looks exceptions, but why did I never pay attention to the size of the database when it was used to store data in RRD? I'm sorry I don't know enough about RRD and your project.

[2015-07-31 18:34] srfraser commented on #3528
Will do, am out for the evening will post results in a few hours

[2015-07-31 18:50] hotsnow77 commented on #52
+1
I my case I'd like to do a first aggregation with a small group time and over that another aggregation with a bigger group time

[2015-07-31 19:10] corylanou opened #3530 "Aliasing a column no longer works"
[code]

[2015-07-31 20:29] mjdesa commented on #3527
Not totally sure.

[2015-07-31 20:29] #3527 closed

[2015-07-31 21:20] dalibor commented on #3524
Same here on InfluxDB v0.9.2 (git: 6c0a91f775f9fc0e625d17ffa04a3fe86945ba09) (Ubuntu 14.04). InfluxDB fails to stop and start while config file is opened (i just open it in terminal with vim without editing anything).

[2015-07-31 21:23] beckettsean commented on #3527
@caoli5288 we are working on data compression as part of the 0.9.3 release. To date we have focused on write speed over size on disk, so I would expect that InfluxDB 0.9.2 is much less efficient than RRD. 25 million points isn't very many, but at 1 GB for 25 million points that's 40-45 bytes per point.

What values are you storing? Strings, floats, how many?

[2015-07-31 21:57] srfraser commented on #3528
Sent the binary files, but the text versions for the issue record are:

33820.65MB of 34187.70MB total (98.93%)
Dropped 252 nodes (cum <= 170.94MB)
      flat  flat%   sum%        cum   cum%
15427.88MB 45.13% 45.13% 15427.88MB 45.13%  github.com/influxdb/influxdb/tsdb.parsePoint
 9411.92MB 27.53% 72.66%  9411.92MB 27.53%  bytes.makeSlice
 4693.31MB 13.73% 86.39%  4693.31MB 13.73%  github.com/influ

[2015-08-01 01:29] caoli5288 commented on #3527
@beckettsean pure int value. store by collectd-plugin which build-in influxdb.

[2015-08-01 01:53] caoli5288 commented on #3527
@beckettsean I try to gzip database file and get a 1/10 size file. look forward to 0.9.3 :)

[2015-08-01 07:37] hans-d commented on #211
+1

[2015-08-01 15:58] manuel-huez commented on #3222
+1, having the same problem

[2015-08-01 17:27] gunnaraasen commented on #3222
@manuel-huez The fix for this is in HEAD and will be in version 0.9.3, which is scheduled for release on August 13th.

There's also a version 0.9.2.1 ([deb](http://influxdb.s3.amazonaws.com/influxdb_0.9.2.1_amd64.deb) & [RPM](http://influxdb.s3.amazonaws.com/influxdb-0.9.2.1-1.x86_64.rpm)), which includes the fix for this issue as well.

[2015-08-01 22:01] dalibor opened #3531 "Weird performance downgrade from 0.8.8 to 0.9.2"
I see very weird (and huge) performance downgrade from 0.8.8 to 0.9.2 on 64bit Ubuntu 14.04.2 using pre-built packages (influxdb_0.8.8_amd64.deb and influxdb_0.9.2_amd64.deb). I use the default configs, start service, ensure blank DB (drop/create) and then do 10000 inserts via apache benchmark (same performance issue when testing with the ruby client).

- 0.8.8

[code]

Total time is `5.746` secon

[2015-08-02 01:19] srfraser commented on #3528
Not sure if this is useful, but it covers the life of the previous instance of the process:

![influxdbmemorystats](https://cloud.githubusercontent.com/assets/5933384/9024254/d6f78d5e-38bc-11e5-8d3a-183c05baa05c.png)

[2015-08-02 11:30] srfraser commented on #3528
There appears to be a correlation between the size of the BoltDB file and the amount of process memory used:

![influxdb_process_vs_dbsize](https://cloud.githubusercontent.com/assets/5933384/9025932/f7be9438-3911-11e5-9e8f-1d954bf2e922.png)

It may be that a workaround is to group nodes running telegraf into different logical groups with their own databases so they get different files, although th

[2015-08-02 12:13] manuel-huez commented on #3222
@gunnaraasen I can't seem to be able to update from the RPM (we're running on CentOS EC2). Do you have any update guide?

[2015-08-02 15:43] pauldix commented on #3528
We're working on compression for the next release. Also working on changing up how the WAL works to reduce IOPS and make it so that flushing the WAL doesn't lock the DB up.

[2015-08-02 17:14] bobfeldbauer commented on #1647
Any update on this? I'm on 0.9.2.1 and don't see delete functionality.

[2015-08-02 17:32] adamwalach opened #3532 "[feature request] Implement query returning size of measurement, series"
In reference to my previous question:  https://groups.google.com/forum/#!msg/influxdb/SLU2Lmaefmg/7MVaKApsMAAJ
Use case:
My database is growing and I need information about size of measurements and series.
Right now the only information I can obtain is database size ( and even for that I have to use external tool and check directory size).
I would expected to get list containing measurements/serie

[2015-08-02 21:05] gunnaraasen commented on #3222
@manuel-huez 0.9.2.1 is a drop in replacement for 0.9.2.

To update to 0.9.2.1, download the RPM file and run RPM with the -U option (very similar to the install instructions on the [download page](https://influxdb.com/download/index.html)).

If that doesn't work, please open a new issue with some more info about the update failure.

[2015-08-03 01:59] n1tr0g opened #3533 "latest package deb/rpm package is still pointing to 0.9.0 version"
Hello,

I just noticed that the latest package is still pointing to 0.9.0 influxdb version. For example  http://influxdb.s3.amazonaws.com/influxdb_latest_amd64.deb is 0.9.0, instead of 0.9.2.1.

Please update this reference, because for automation tools this link is really handy, until you guys have a proper apt/yum repository.

[2015-08-03 04:40] airyland opened #3534 "cannot query by tag v0.9.2"
When I queried by `select * from recommend`, I got everything.

![image](https://cloud.githubusercontent.com/assets/559179/9030933/8221a71c-39dc-11e5-96f6-0e323259888f.png)

But when I queried by tag `select * from recommend where version='4.2.0'`, I got nothing.

[2015-08-03 06:43] diiidiii opened #3535 "[0.9.3 nightly] Cant access data of one database - data corrupt?"
Hi, my influxdb panics every time when i access data from one database via grafana (the others work fine!)...
I can access everything with the influxdb shell instead of the time and value data. For example show tag values etc. works fine but the following does not work:

[code]

Select value or Select time also doesnt work...
How can i find the corrupt data? Maybe you can help me...

I found out t

[2015-08-03 06:53] pranavrajs opened #3536 "Select field values while using aggregate functions"
How can we select a field value while using aggregation functions?
[code]
This query returns count and timestamp with empid null

[2015-08-03 07:28] SiriusHu opened #3537 "[feature request] make RAM Limit, CPU cores, LRU cache configurable"
as the title says, if so, how to set, 3q

[2015-08-03 08:18] srfraser commented on #3528
Thanks @pauldix - is that what's happening here? The database is being locked up while flushing the WAL?

If the process's memory usage closely matches the size of the database on disk, what sort of changes can be made to ensure a reasonable memory usage? I don't really want a retention period of a few hours

[2015-08-03 10:28] mbarragan opened #3538 "A problem related to some data loss."
Hi,

I've just started to use Influxdb and I have a problem related to the loss of some data.

I send POSTs with some points every 1 minute to different measurements of the same database.

My problem is the bellow:

After a POST has been done, I've done the bellow select:

SELECT count(hit) FROM measurement1 WHERE time >= '2015-08-03 08:00:00.000'

And I've obtained:

time

[2015-08-03 10:49] hotsnow77 commented on #1400
+1

[2015-08-03 12:06] otoolep commented on #3515
I agree with @corylanou, what he suggests could be very useful.

On Thursday, July 30, 2015, Cory LaNou <notifications@github.com> wrote:

[2015-08-03 12:11] otoolep commented on #3442
Yes, until clustering support and distributed query rewrite are in place.

@jwilder @dgnorton

On Thursday, July 23, 2015, Sean Beckett <notifications@github.com> wrote:

[2015-08-03 12:12] otoolep commented on #3442
Oh, I see @pauldix provided the full explanation earlier.

On Monday, August 3, 2015, Philip O'Toole <philip@influxdb.com> wrote:

[2015-08-03 12:16] otoolep commented on #3213
Wow, ok, thanks. Let us take a look.

On Saturday, July 25, 2015, Gerald Richter <notifications@github.com> wrote:

[2015-08-03 14:20] DanielMorsing commented on #3528
I had a look at the profiles. They match up with the file system not being accessible. Work queues up waiting for the file system and eventually, the memory limit is hit and the process runs into the OOM-killer. How is the file system mounted? NFS?

As for memory use, `influxd` uses a file store that uses mmap. Files mapped into process memory gets marked as in-use by the linux kernel even though

[2015-08-03 14:37] srfraser commented on #3528
The disks are internal, RAID6 through a hardware raid controller and presented as /dev/sdb and /dev/sdc, which are both used in an LVM volume. It's mounted locally. There's nothing in the system logs about unavailable storage.

The memory use in the graph above is from /proc/<influxpid>/status, the line VmRSS, so the resident set size, not virtual.

If the file being mmap'd gets bigger and bigger,

[2015-08-03 16:11] pauldix commented on #3525
Can you give an example query?

[2015-08-03 16:13] kalidasya opened #3539 "[0.9.2] parser incorrectly accepts NaN as numerical value, but not always"
I use the collectd tail plugin, what can report nan when there were no matching data in the tailed file, what somehow causes corruption in the influxdb db. If it happens a query like:
`select * from /.*/` or `select * from tail_value` will die with:
`ERR: invalid character 'j' looking for beginning of value`

the easiest way to reproduce is to add the following config to collectd:
[code]

most lik

[2015-08-03 16:48] manuel-huez commented on #3222
@gunnaraasen I am now running 0.9.2.1:
[code]

But the problem is still present, ie the admin panel can't connect to the influxdb server.

[2015-08-03 16:57] mjdesa commented on #3525
Sorry I forgot to provide one.

[code]

[2015-08-03 16:58] pauldix commented on #3525
ok, this should actually be a different bug. That query is invalid. Inequalities are only valid in the `WHERE` clause of a query.

What you should get if you enter a query like that is an error. Updating the title of the bug

[2015-08-03 17:05] mjdesa commented on #3525
Some what related:

[code]

causes panic

[code]

[2015-08-03 17:21] serenabi opened #3540 "Web UI downgrade to 0.88 in 0.92 CLI"
[Urgent] I have 0.88 installed, then I rpm -e it. and install .92. But the Web UI is still connect to v0.88 version

[root@sijr12mxdb2-iot influxdb]# ./influx
Connected to http://localhost:8086 version InfluxDB v0.8.8 (git: afde71e) (leveldb: 1.15)
InfluxDB shell 0.9.2

How can I get the 8086 to 0.92??

[2015-08-03 17:49] serenabi commented on #3540
Can any one help me?

[2015-08-03 17:54] juddgaddie commented on #3540
Try restart influx

[2015-08-03 18:54] beckettsean commented on #3531
10000 single inserts of the line protocol is a tremendously inefficient way to use it. Try batching those writes into groups of 1-5k and you should see the performance improve substantially.

We have an open [docs issue](https://github.com/influxdb/influxdb.com/issues/188) to describe how best to tune things for write performance. Otherwise this is not an actionable issue, closing.

[2015-08-03 18:54] #3531 closed

[2015-08-03 18:55] lokeshverizon commented on #3465
the issue is, whenever a message has new line, it gives this error. Scanner should be smart to handle this case.

unable to parse 'abc_logs,appname=efg msg="node-38eaa7157a74|10.1.20.1|TORRANCE|1|INFO|13|abc|efg|utag|consumer.go:150|2015/07/31 18:03:48.993878379|Commited offset 7499': unbalanced quotes

[2015-08-03 18:56] beckettsean commented on #1647
This is not currently scheduled for any particular release. I would estimate late this year for this particular functionality unless the community votes it up.

[2015-08-03 18:59] beckettsean commented on #3533
That "latest" link is a leftover from a prior build strategy. We've left it up precisely because some automated scripts expect it but it does not update with new releases. It always points to the same 0.9.0 version.

Since 0.9.1 all official releases are explicitly tagged, e.g. https://s3.amazonaws.com/influxdb/influxdb_0.9.2_amd64.deb, and all nightly releases are tagged with "nightly", e.g. http

[2015-08-03 18:59] #3533 closed

[2015-08-03 19:00] mayudong07 commented on #3087
I encountered the same issue in one of my projects while evaluating the influxdb.
Any idea when this could be fixed?

[2015-08-03 19:00] beckettsean commented on #3533
@pauldix @toddboom maybe we should kill the old "latest" links since we're far enough away from 0.9.0 that few people are still using it? Seems like it's just a source of confusion, now.

[2015-08-03 19:03] beckettsean commented on #3534
Certainly I have no issue querying by tag in 0.9.2, so there's something specific to the data or syntax here.

Can you copy/paste from `curl` commands or the CLI rather than the admin UI? It's much easier for us to debug with actual ASCII output rather than screenshots.

Please give a sample write statement so we can see the structure of your points, and please provide the CLI or `curl` output for

[2015-08-03 19:06] beckettsean commented on #3535
@diiidiii please provide a sample of your write statements, especially for a point in the `log_file_sync` measurement. Certainly you are hitting a bug of some sort, but without knowing more about the underlying data we can't be sure what bug it is.

What error do you get for `select value from log_file_sync limit 10`?

`select time` is not a valid statement in InfluxQL. Times are part of the retur

[2015-08-03 19:06] beckettsean commented on #3535
Also, what version of InfluxDB are you running?

[2015-08-03 19:13] beckettsean commented on #3536
I don't quite understand what the query is trying to do.

`SELECT COUNT(DISTINCT empid) FROM series WHERE time > now() - 10h GROUP BY empidtag,time(1h)` makes sense as a query, and `SELECT empid FROM series WHERE time > now() - 10h GROUP BY empidtag,time(1h)` makes sense as a query, but I don't understand the value in trying to run them together. Do those two queries return the expected results?

[2015-08-03 19:16] beckettsean commented on #3538
Data is not being lost, it's being double-counted in your COUNT statement until the WAL is flushed. https://github.com/influxdb/influxdb/pull/3482 is an attempt to fix this but the first pass didn't work.

Essentially, when you write the points in there's an initial duplication. Once the points are flushed the duplication goes away.

[2015-08-03 19:16] #3538 closed

[2015-08-03 19:22] beckettsean commented on #3540
It appears that you still have InfluxDB 0.8.8 running on the box. Shut down the process and make sure that you are explicitly launching the new 0.9.2 binary. The CLI just connects to whatever answers at port 8086, so somehow you've still got the old binary running.

[2015-08-03 19:22] #3540 closed

[2015-08-03 19:24] mjdesa opened #3542 "[0.9.2] Using AND in a SELECT statement causing panic"
From issue https://github.com/influxdb/influxdb/issues/3525

[code]

causes db to panic

[code]

[2015-08-03 19:24] n1tr0g commented on #3533
Hmmm I guess it's a matter of opinion, but not having an proper repository (apt/yum) makes automation tool such as puppet, chef, ansible, etc hard to deal with the installation of the latest package. In practice that mean in Puppet I will need to update the module whenever there is a new influxdb release, to make sure that by default it will install the latest version.

Also still keeping the late

[2015-08-03 19:26] beckettsean commented on #3465
@lokeshverizon line breaks have syntactic meaning in the line protocol. Can you please copy/paste your exact write command?

If your write command is all on one line with no newline characters, then the issue is just a duplicate of what Michael posted in the first comment. There is an un-matched double-quote in the write statement.

[2015-08-03 19:30] beckettsean commented on #3087
@mayudong07 it's currently scheduled for the upcoming release on August 13th, although it might not be in that release. If you are evaluating InfluxDB, please upgrade to the latest. 0.9.2 has substantial improvements over 0.9.1, and that will be true for each of the minor releases in the 0.9 line.

[2015-08-03 19:31] beckettsean commented on #3542
@mjdesa what about `select field and tag` or `select field1 AND field2`? Do those behave any differently?

[2015-08-03 19:34] mjdesa commented on #3542
Just tested, and yeah.

[code]

causes panic, while

[code]

doesnt

[2015-08-03 19:39] beckettsean commented on #3533
Yes, this is very true, and very intentional. There are significant enough changes between the 0.9 versions that auto-installing the latest is not a good idea yet. Some releases even have breaking changes, although minor. Rather than have people surprised when new boxes don't work as expected we are requiring automated scripts to pick a particular version. Updating a version string isn't a very pa

[2015-08-03 19:42] mjdesa commented on #3534
I think that the `"`'s are being included in your tag value. Try running

[code]

[2015-08-03 19:44] ericjmiller opened #3543 "Where should I put the config file for centos/rhel ?"
I've searched around and it seems there is no straightforward answer to this.  I can't use the default version of the software and need to change many config options.  How can I do this?

I tried the solution found in #3285, but that didn't work for me.

I should add: when I run the -config command found in #3285, I get the following message:
[handoff] 2015/08/03 19:41;80 Failed to start hinted ha

[2015-08-03 19:52] beckettsean commented on #3543
@ericjmiller please verify my understanding of the problem:

- You downloaded InfluxDB 0.9.2 and installed the RPM.
- You generated a new config file with `influxd config > filename`
- You launched InfluxDB with `influxd -config /path/to/filename` and you immediately get the permissions error for `/root/.influxdb`?

Is that all correct?

[2015-08-03 19:53] n1tr0g commented on #3533
Ok fair enough, so until influxdb 1.0.0 I guess there is no other way around.

Btw however I still thought that this project is using semantic version, so worst case scenario even if you install a newer version of influxdb from 0.9.X branch with an older config file also from 0.9.X branch it will still work, but some feature will miss ?

[2015-08-03 20:00] beckettsean commented on #3533
Sadly that's not quite true. https://github.com/influxdb/influxdb/pull/3345 and https://github.com/influxdb/influxdb/pull/3526 mean that the point releases aren't quite drop in replacements. They are close, but not quite.

[2015-08-03 20:16] dalibor commented on #3531
Thanks for your response Sean! Is the 50x performance downgrade expected? Did you do some benchmarks between 0.8.8 and 0.9.2 to share some numbers? It's weird for such a huge performance downgrade tbh, I'm still wondering if it's something with the pre-built Ubuntu package. :/

[2015-08-03 20:32] cschneid commented on #1647
To be clear, the docs about the query language (https://influxdb.com/docs/v0.9/query_language/spec.html) that list the `delete_stmt` and have an example: `DELETE FROM cpu WHERE region = 'uswest'` just isn't wired up, and doesn't work?

[2015-08-03 20:47] lokeshverizon commented on #3465
I am using go client API for writing batchPoints.

                bps := influx.BatchPoints{
                        Points:          pts,
                        Database:        DATABASE_NAME,
                        RetentionPolicy: RETENTION_POLICY,
                }

Here in my batchPoint I am creating a field which has a newline. Shouldn't this API take care of this?

[2015-08-03 22:05] beckettsean commented on #3518
@btobolaski we recently discovered that our nightly builds weren't successfully building form the latest master. That version string in your first comment is not a mistake, unfortunately, you were actually testing with an 0.9.1 rc1 build.

Can you try upgrading to the latest 0.9.3 nightly build and see if the issue persists?

[2015-08-03 22:35] beckettsean commented on #3531
We don't have performance benchmarks on comparable systems but those will be coming later next month. We do know that 0.9.2 is not yet back to the performance of version 0.8.8. There were a great many architectural changes in the 0.9 line and much of the internals have been fully re-written. I can certainly believe that a well tuned 0.8.8 instance would be many times as fast as an untuned 0.9.2 in

[2015-08-03 22:37] beckettsean commented on #1647
Thanks for the note, @cschneid. I made https://github.com/influxdb/influxdb.com/issues/191 to address the docs issue.

[2015-08-03 22:50] n1tr0g commented on #3533
True, but from the installation/config point of view this are non breaking changes :see_no_evil:

[2015-08-03 23:03] beckettsean commented on #3465
@lokeshverizon yes, it should take care of properly quoting/escaping the newline in a field value. That's not what this issue #3465 is about, though Please open a new issue for the failure of the Go client to handle the newline character in a field value.

[2015-08-03 23:26] lokeshverizon opened #3545 "Influxdb goclient API does not work when a field has a newline character in it"
for  b := uint64(0); b < *batch; b++ {
                        pts[b] = influx.Point{
                                Measurement: MEASUREMENT_STR,
                                Fields: map[string]interface{}{
                                        MESSAGE_LABEL_STR : "this has newline\n",
                                },
                                Time:      time.Now(),

[2015-08-04 00:46] jeremynealbrown commented on #2074
+1
We are fetching sums by 1 day and can not get accurate stats because of this timezone issue.

[2015-08-04 01:43] airyland commented on #3534
@beckettsean @mjdesa  Thank you. You are right, I make a mistake when sending data to the server use the following syntax:

`recommend,type=2,plat="android",version="4.3.1" url="38178993",ip="123.*.*.*",token="dfsfsfo2549848e7" 1438178654000000000`

[2015-08-04 01:43] #3534 closed

[2015-08-04 01:48] ericjmiller commented on #3543
Well, there was a lot of running the influxd config > filename in different directories, then restarting the server to see if the config file would work.  But yea, more or less that's what happened.

I'm just going to delete my ec2 instance and start over.

[2015-08-04 01:51] airyland commented on #3534
But when I remove the ", I got the error.

`recommend,type=1,plat=ios,version=4.3.1 url=undefined,ip=42.*.*.*,token=55ee****1438647733000000000`

`Failed to write: unable to parse 'recommend,type=1,plat=ios,version=4.3.1 url=undefined,ip=42.227.198.53,token=55ee1da002sdfdsf 1438647733000000000': invalid boolean`

[2015-08-04 02:18] airyland commented on #3534
I see. field value must use " while tag value not..

[2015-08-04 02:44] ericjmiller commented on #3543
I figured it out after reading you steps and reinstalling.

For those that have the same problem in the future:

run this command in the directory you want to contain your config file:
influx config > filename

then enter the path to THAT file in the following command:
influxd -config path/to/file

By the way - I didn't see this info in the official docs.

[2015-08-04 03:16] #3543 closed

[2015-08-04 05:52] diiidiii commented on #3535
InfluxDB Version is 0.9.3-nightly-401f1b2.
I tested yesterday many hours and found out that in my python script the timestamp is "wrong". After i import the data with my script everything is working but after 10 - 15 minutes i cant access the data and when i open the dashboard on grafana the influxdb goes panic. Now i import the data with no timestamp and it works fine.
The timestamp i create with

[2015-08-04 07:27] Jhors2 commented on #3537
LRU cache size would be awesome to have.  Considering my hosts have 64G of memory to burn, I would almost like to to cache the whole DB in memory.

[2015-08-04 07:37] pranavrajs commented on #3536
@beckettsean  Thanks for your reply.

I've a time series data of visitors who have visited employees. I want to group by employeeid , since it is not possible to group by field , i've added a tag with the same value.

If i want to get the count of visitors of each employee in last hour , how can i achieve that ?

Thanks

[2015-08-04 07:56] xkrt opened #3546 "Write became asynchronous?"
Hi, I have a [test](https://github.com/influxdb/influxdb-fsharp/blob/master/src/InfluxDB.FSharp.IntegrationTests/Tests.fs#L127) that write a single point and query it back. Starting from some version InfluxDB start responding to query with empty results.

Screenshot of Fiddler dump:
![influxdb_fiddler](https://cloud.githubusercontent.com/assets/428187/9055811/de1586b4-3a96-11e5-879f-6092ead8d38c.p

[2015-08-04 08:05] Dagrut opened #3547 "[0.9.1] [0.9.2] [nightly] Unable to query fields starting with keywords ("user", "in", ...)"
In 0.9.1, 0.9.2 and the current nightly build, values with names starting with sql keywords cannot be queried. Try inserting this :
[code]
And then query it with :
[code]
It throws a "Server returned error: found IN, expected identifier, string, number, bool at line 1, char 8"
It was not happening in 0.9.1 with "user", but it does with 0.9.2 and later. I only tested it with "user" and "in".
Edit:

[2015-08-04 08:06] syepes commented on #3537
This would be a crucial and very interesting functionality.

In my seek to replace Graphite, I tested InfluxDB and its a really memory killer/eating app compared with its alternatives Graphite, Cyanite, Prometheus.

[2015-08-04 09:23] johnl opened #3548 "[0.9.2] initscript restart doesn't wait for process to shutdown"
Installed InfluxDB v0.9.2 (git: 6c0a91f775f9fc0e625d17ffa04a3fe86945ba09) from the deb package onto 64bit Ubuntu Trusty, enabled the graphite and collectd listeners and I've got a few gig of datapoints.

When I use the initscript to restart influxdb, it doesn't seem to wait for the existing process to finish shutting down and I end up with two processes running for a while, until the first finally

[2015-08-04 09:33] johnl commented on #3548
the initscript also reports that the start failed, despite it succeeding.

[2015-08-04 10:26] Gibheer commented on #1825
From (tsdb/executor.go#L443)[https://github.com/influxdb/influxdb/blob/master/tsdb/executor.go#L443] this seems to be implemented now, is that correct?

[2015-08-04 13:16] DanielMorsing commented on #3547
It looks like the in-bytes field gets expanded to `select in-bytes` when `select *` is used and because it contains a keyword and is a valid expression, the select clause doesn't know what to do. A workaround for now would be to insert the measurement as `network,server=someserver,interface=eth0 "net-in-bw"=42 1438675084697`, with ""s around the value name. That would make you able to query the me

[2015-08-04 13:50] cobyism commented on #786
Bump. Having an `armhf` build for this in addition to `armel` would be :sparkles:.

[2015-08-04 14:01] tuukkamustonen commented on #3548
I have something similar with `0.9.2` also. Running debian wheezy, `sudo service influxdb stop`:

    [run] 2015/08/04 13:50:45 waiting for clean shutdown...
    [snapshot] 2015/08/04 13:50:45 snapshot listener closed
    [tcp] 2015/08/04 13:50:45 cluster service accept error: network connection closed
    [shard-precreation] 2015/08/04 13:50:45 precreation service terminating
    [retention] 2015

[2015-08-04 14:10] pauldix opened #3549 "SELECT * behavior should be changed"
Currently, if you do a `SELECT *` query it will do two things.

1. rewrite the `*` to have all field names from the measurement
2. insert a `GROUP BY *` at then end of the query, which will expand out to all tag keys

This is causing a bunch of confusion and bugs. Instead, `SELECT *` should select all field values AND it should insert the tag keys and values in the result set.

For example if you

[2015-08-04 14:17] johnl commented on #3548
yeah, I mentioned that. graphite and collectd listeners enabled - the only changes to the default config I think.

but that might be a separate issue - the initscripts shouldn't consider the daemon shut down if the process hasn't actually finished writing to disk, no matter what caused it to hang on :)

[2015-08-04 14:30] jacekgrzybowski commented on #3087
+1 for influx 0.9.2 - I tried to use to truncate database in my unit tests.

[2015-08-04 14:47] tuukkamustonen commented on #3548
@johnl Indeed you did, no idea how I was so blind :O

True, my problem is probably different, but I would assume they are related. Let's see if I need to spin it off to a separate ticket.

[2015-08-04 14:47] ericjmiller opened #3550 "Changing port not working"
I'm trying to change the port used by Influx's HTTP (from 8086 to 80) and Admin.  I've been revising and experimenting with the config file to do this. Once I finished revising the config file, I start influx like so:

**sudo /opt/influxdb/influxd -config /home/ec2-user/influxdb/influx.conf**

If it's a port I've tried in the past, I'll recieve the following message:

***using configuration at: /h

[2015-08-04 14:47] jacekgrzybowski commented on #2955
Connected to http://localhost:8086 version 0.9.2
    InfluxDB shell 0.9.2

    Using database drop_test

    name: response_times
    tags: server=honolulu
    time                            value
    ----                            -----
    2015-08-04T14:45:21.546067507Z  44.44

    ERR: database not open

    ERR: measurement not found: "drop_test"."default".response_times

@beckettsean I repr

[2015-08-04 14:55] jacek213 opened #3551 "[0.9.3-rc2] Unable to rapidly drop/recreate measurement"
This is related to #2955.

Below you can find a complete reproduction of my steps for `0.9.2`. I'm unable to drop measurement (`ERR: database not open`) and after recreating I get error while executing basic `SELECT` clause.

    InfluxDB shell 0.9.2

    Using database drop_test

    name: response_times
    tags: server=honolulu
    time                            value
    ----

[2015-08-04 15:03] #3525 closed

[2015-08-04 15:23] ericjmiller commented on #3550
My netstat -lntp command shows that only ports 8083, 8086, and 8088 are being used, even after running influx with the config file defining other ports.  I'm doing something wrong here, I presume.

[2015-08-04 15:35] jacekgrzybowski commented on #3549
A little offtopic, but is it currently possible to return time as integer - like in your example?

[2015-08-04 15:37] pauldix commented on #3549
It is, when you make the request add the query parameter `epoch=true`

[2015-08-04 17:28] mjdesa commented on #3534
@airyland yup, all tag keys and values are treated as strings so no quotes are needed. However field values can be integers, floats, strings, or booleans. Hence if you're writing a string, as a field value you must include the quotes.

[2015-08-04 17:36] zredAlmeria commented on #2074
+1 for setting default timezone in config file.

Currently, I'm using a quick workaround which consists in using a cron script or program to retrieve the average of the day (executed at 00:01 AM for example) of the desired series from InfluxDB, using the correct start and end timestamps in the WHERE clause of the query.

After that, insert the data in a new series with the timestamp of the beginni

[2015-08-04 18:11] ericjmiller commented on #3550
Solved the problem:  I had to manually kill all previously existing influx processes.  Then I could run influx command successfully with -config flag.

ps -xa | grep influx
kill <process_numbers>

[2015-08-04 18:11] #3550 closed

[2015-08-04 18:12] jacekgrzybowski commented on #3549
Great news, thanks!

[2015-08-04 18:40] beckettsean commented on #3535
Timestamps should be submitted as Unix epoch values, not as date-time strings. I can't tell if your code does that or not. Please provide an actual example of the submitted point, if possible. The precise syntax of the write statements will help us understand what might be happening with the data. I suspect this is a configuration issue, not an actual bug in the database.

[2015-08-04 18:44] beckettsean commented on #3536
@pranavrajs Thanks for the explanation of `empid` vs `empidtag`. I'm not sure you need to store both. If you have it stored as a tag, storing it again as a field contributes little in the way of new functionality, unless you want to perform functions (MEAN, MAX, MODE, TOP, etc.) on the `empid` field.

`SELECT COUNT(DISTINCT empid) FROM series WHERE time > now() - 10h GROUP BY empidtag,time(1h)` Sh

[2015-08-04 18:46] beckettsean commented on #3546
This is known and expected behavior. It can take a few seconds for points to become available for querying. Please see Paul's blog post about the CP vs AP split for metadata and data: https://influxdb.com/blog/2015/06/03/InfluxDB_clustering_design.html

[2015-08-04 18:46] #3546 closed

[2015-08-04 18:49] beckettsean commented on #786
@cobyism this is a closed issue, and refers to 0.8, which is end of life. Please open a new issue to request an 0.9 Debian ARM package

[2015-08-04 18:53] beckettsean commented on #3087
@jacekgrzybowski for unit test truncation, `DROP MEASUREMENT` should work quite well.

[2015-08-04 18:58] beckettsean commented on #3551
@jacekgrzybowski I cannot reproduce this error on my setup. I'm running InfluxDB 0.9.2 installed via Homebrew on OS X 10.10.4 with an unaltered generated config file.

[code]

How did you install InfluxDB? Did you make any changes to the configuration file?

[2015-08-04 19:02] srfraser opened #3552 "Mathematics across measurements"
Apologies if this is a duplicate, I had a look and couldn't see a relevant issue.

I can see from the documentation how to select from multiple measurements (although it calls them series, still, at https://influxdb.com/docs/v0.9/query_language/data_exploration.html )

For example, with data inserted by telegraf, you can do:
`select * from disk_used,disk_total where host = 'myhostname' and path =

[2015-08-04 19:25] ericjmiller commented on #3222
I am also having this issue in 0.9.2.1

[2015-08-05 02:21] dopey opened #3553 "tcp.Mux: handler not registered: 71"
Running influxdb 0.9.2 in a 3 node cluster using only the default ports. The cluster is able to reach consensus and elect a leader, but when it attempts to read data from one node to the next it  uses `:8088` instead of `:8086`. like so:

[code]

These requests, as well as requests from grafana, result in the log line `tcp.Mux: handler not registered: 71` on the servers to which the request is bei

[2015-08-05 02:57] XWTiger commented on #3222
i have the same problem

[2015-08-05 03:49] airyland opened #3554 "Will shorter tag name and field name help reduce the database size?"
I wonder if it's necessary to use shorter name for tags or fileds name?

[2015-08-05 05:36] Dagrut commented on #3547
Thank you, the insertion and query works! :-) . However, the field name now contains the double quotes, so to query it, I have to write `select "\"net-in-bw\""`, and the response also contains the double quotes.
I'll use camelcase for now :stuck_out_tongue: .

[2015-08-05 05:44] gunnaraasen commented on #3222
@manuel-huez @ericjmiller @XWTiger When you open up the browser console, is the response code `400` or `401`? Also, what is the JSON error message in the response?

[2015-08-05 06:40] consense opened #3555 "[0.9.2] Backup restore --> Panic "cannot free page""
influxdb v. 0.9.2, only one node:
backup script (against running influxdb service) completes with a 78MB backup file.
restore (against stopped service) finishes with

    restore complete using /opt/influxdb/backup/influx-backup-2015-08-04_23-06-43

subsequent start of the service reports a success

    Starting the process influxd [ OK ]
    influxd process was started [ OK ]

but influxdb panics

[2015-08-05 06:44] SiriusHu opened #3556 "VERSION 0.9.2 not support json format post?"
I found that json post is supported in early version, why not now?

[2015-08-05 09:05] cobyism opened #3557 "InfluxDB package for armhf architecture"
An issue (https://github.com/influxdb/influxdb/issues/786) was opened about adding an `armhf` build of InfluxDB to the official builds, however it was raised specifically in the context of version 0.8, and closed as redundant with the release of 0.9. I’d like to ask about the possibility of adding an `armhf` build of InfluxDB going forward, *regardless* of version.

There’s already an `armel` buil

[2015-08-05 09:07] cobyism commented on #786
Thanks @beckettsean. Just opened https://github.com/influxdb/influxdb/issues/3557 :+1:

[2015-08-05 09:25] pranavrajs commented on #3536
@beckettsean Thanks for the reply. I thought about this way of solving the issue . I wanted to know the query design pattern, that's why i added an issue here. Thanks for the help.

[2015-08-05 09:25] #3536 closed

[2015-08-05 09:57] manuel-huez commented on #3222
@gunnaraasen: I'm getting this:
[code]

[2015-08-05 10:26] PierreF commented on #3539
I have the same issue, we can store NaN value, but then we could do a query that use this value.

I can reproduce this issue with 0.9.2 and master (affd0b1).

Step to reproduce:

* clean ~/.influxdb to start from fresh setup (rm -fr ~/.influxdb)
* Start influxdb
* With UI, create a database and (still with UI) write the following two points:
[code]
* Write successed, and indeed we can read the fir

[2015-08-05 11:42] iNikem commented on #3164
Is there any documentation at all about different logging events? https://influxdb.com/docs/v0.9/administration/logs.html does not say anything about it. Our problem right now is the huge amount of logs being generated (like a couple of megabytes per minute) and we would like to decrease it.

[2015-08-05 13:34] liznyamu commented on #2032
Same here .. thanks for the heads up

[2015-08-05 13:50] joshuawarner32 opened #3558 "[feature request] allow WHERE clause binary expressions on non-column values"
I've been trying to do various queries of the form `SELECT * FROM the_series WHERE column1 / column2 > 0.5`.  Influxdb consistently gives me an "invalid expression" error.  The particulars of the table and column layout aren't important; this happens everywhere I've tried queries of that form.

In fact, it happens for every `WHERE` clause expression in the form of a binary expression where neither

[2015-08-05 14:14] btobolaski commented on #3518
Indeed upgrading fixed it.

[2015-08-05 14:14] #3518 closed

[2015-08-05 14:33] joshuawarner32 opened #3559 "Column names beginning with 'stats.' no longer work"
Previously, with 0.9.0-RC28 (and maybe before that; I'm not sure), we were using columns names like, "stats.nb_received_packets_lost".  0.9.0-RC28 dealt with these fine, but 0.9.2 no longer works correctly with them.

In particular, it accepts them (with a 204), but then all queries from that series fail, with a bizarre parse error (see below).  The behavior is the same, independent of whether the

[2015-08-05 14:38] joshuawarner32 commented on #3556
The following has been working fine for me on 0.9.2:

[code]

[2015-08-05 14:55] joshuawarner32 commented on #3559
Actually, looks like this is probably related to https://github.com/influxdb/influxdb/issues/3547

[2015-08-05 15:14] cmelian commented on #3222
Same connection problems here.

[2015-08-05 15:31] jacekgrzybowski commented on #3551
@beckettsean after a fresh system startup this situation hadn't occured anymore. However, after I ran my units tests a couple of times (before each test I initialize series by inserting a non relevant value and after each one I run `DROP MEASUREMENT`) it happened again. So imo it happens when I initialize and drop series over and over in small time intervals (like in  #2955). Also sometimes `local

[2015-08-05 15:46] jwilder commented on #3556
@SiriusHu The JSON write format has been deprecated in favor of the line protocol.  We did this because of performance reason related to JSON.  The JSON writes still currently work but will be removed in a future release.

See #2696 for more background.

[2015-08-05 15:46] #3556 closed

[2015-08-05 16:07] gunnaraasen commented on #3222
@manuel-huez took another look at your `version` output above and it looks like you're still running 0.9.2. The following commands will upgrade 0.9.2.1 on CentOS.

[code]

@cmelian I'm still having trouble reproducing the error. Can you send me the output of `influxd version`?

[2015-08-05 16:10] thetcc commented on #3531
It's bad performance on mac os,
10 threads to insert 10000 very simple data, cost more than 30 seconds.

[2015-08-05 16:11] cmelian commented on #3222
@gunnaraasen the error is with a fresh install with stable 0.9.2
After installing nightly version, I'm able to connect to admin web interface.

[2015-08-05 16:13] manuel-huez commented on #3222
@gunnaraasen Is this 0.9.2.1-1 version new? I swear I had installed the newest version of influxdb yesterday, and had the 0.9.2.1 running on the machine.

It is now working with the 0.9.2.1-1, thank you.

[2015-08-05 17:06] gunnaraasen commented on #3531
@thetcc which version did you test and are you batching writes into a single request?

Note that there is also some additional overhead when writing to a new series (unique measurement + tag set) for the first time.

[2015-08-05 17:57] beckettsean commented on #3557
We're hoping to spend part of the 0.9.4 release cycle on packaging concerns.

[2015-08-05 18:05] beckettsean commented on #3539
I'm incredibly confused now. I can recreate this, but not reliably. Sometimes the unquoted `NaN` field value throws a parser error, sometimes it doesn't. I can never successfully query the mistakenly written points:

[code]

It should always throw a parser error, or we have to build in support for `NaN`.

[2015-08-05 18:06] lokeshverizon commented on #3545
what is the update on this?

[2015-08-05 18:06] beckettsean commented on #3164
@iNikem you can disable logging of continuous queries in the config file. I don't believe anything else is configurable yet. It seems odd that your logs are growing that quickly, what are most of the log lines?

[2015-08-05 18:09] beckettsean commented on #3559
Agreed, closing as duplicate of #3547, which is under active development right now.

[2015-08-05 18:09] #3559 closed

[2015-08-05 18:15] beckettsean commented on #3551
How small are the time intervals? InfluxDB wasn't designed to handle frequent deletes, it's not part of the core use case. Perhaps you can fuzz the database or measurement name in each test run so they aren't identical?

[2015-08-05 18:15] pauldix opened #3562 "Should be able to show shards"
For users to see what shards they have and where they're located, we need a command to show that information. I propose:

[code]

The result set should include the columns: `id, start_time, end_time, server_ids` Where `server_ids` is a string of comma separated server ids that have a copy of the shard.

Results should be ordered by shard ID.

[2015-08-05 18:32] beckettsean commented on #3545
@lokeshverizon no comments on the issue means no updates yet.

[2015-08-05 18:34] beckettsean commented on #3562
Any possibility we could show more information, like when the shard will expire according to the retention policy, the measurements/series in the shard, the size on disk, the compaction percentage, etc.?

[2015-08-05 18:36] pauldix commented on #3562
@beckettsean The expiration part should be easy. The other ones will be harder. Although they'd be very useful so we should probably create a separate issue for that. Don't think it's something we can get to in 0.9.4, but soon after.

[2015-08-05 18:54] iNikem commented on #3164
Hell lot of
[code]

Like 2.5M+ lines during last 7 hours

[2015-08-05 19:22] #3547 closed

[2015-08-05 19:25] beckettsean commented on #3164
Currently all queries are logged. It looks like you've got some client or a collection of clients that's making 100 queries per second or so. Do you have lots of grafana users with dashboards refreshed every second?

[2015-08-05 19:27] pauldix commented on #3164
We should probably add an option to disable query logging

[2015-08-05 19:30] iNikem commented on #3164
@beckettsean It is our own application, that queries data from Influx. And yes, current rate is about 100 queries per second. And we expect this to grow. So disabling query logging would be GREAT.

[2015-08-05 19:50] gunnaraasen commented on #3222
Great! The 0.9.2.1 version was released specifically to fix this issue. It wasn't publicized much beyond this thread and we don't typically release minor-minor releases. Sorry for the confusion!

[2015-08-05 20:11] #3511 closed

[2015-08-05 20:37] beckettsean opened #3566 "[feature request] disable query logging"
Inspired by https://github.com/influxdb/influxdb/issues/3164#issuecomment-128108164, it should be possible to disable the per-query log entries.

[2015-08-05 20:38] beckettsean commented on #3164
Created #3566 to address disabling query logging.

[2015-08-05 20:50] jwilder commented on #3553
Can you post the out of `show servers`?

[2015-08-05 20:56] dopey commented on #3553
yawp

[code]

Also, I am on ubuntu, running trusty.

[2015-08-05 21:35] tmonk42 commented on #3164
I'm injecting metrics via HTTP, and I keep filling my logs up with those messages as well :-P

[2015-08-05 21:38] corylanou commented on #3164
This should be trivial once the config option is added.  That service already has a dedicated logger and we silence it in our testing.

[2015-08-05 21:50] #3421 closed

[2015-08-05 21:50] #3516 closed

[2015-08-06 00:06] beckettsean commented on #3554
Tag keys and values are only stored once, so their length is effectively irrelevant to total storage size.

I believe field keys are also only stored once and referenced by ID rather than the raw string, so field key length should also be irrelevant to total on disk size. I'm asking for confirmation on that.

There are compression fixes coming in 0.9.3 (https://github.com/influxdb/influxdb/pull/35

[2015-08-06 00:06] #3554 closed

[2015-08-06 01:25] elliots opened #3571 "[0.9.3-HEAD] Duplicates in query results after restarting and updating a point"
Running head (using brew install influxdb --HEAD) on osx 10.10.2
At revision 4098de881b

Steps to reproduce

``create database testcase``

- Insert value:

[code]

[code]

- Query results are correct
![image](https://cloud.githubusercontent.com/assets/622455/9101623/8a0a49e6-3c2c-11e5-9b07-6280db585363.png)

- Restart InfluxDB

- Update value
[code]
[code]

- Both old and new values are returned f

[2015-08-06 01:39] elliots opened #3572 "[0.9.3-HEAD] Updating a point only works if the value is higher, until you restart"
Running head (using brew install influxdb --HEAD) on osx 10.10.2
At revision 4098de881b

Steps to reproduce

``create database testcase``

- Insert value:

[code]

- Query results are correct
![image](https://cloud.githubusercontent.com/assets/622455/9101623/8a0a49e6-3c2c-11e5-9b07-6280db585363.png)

- Update value higher:

[code]

- Query results are correct
![image](https://cloud.githubuserconte

[2015-08-06 02:03] #3288 closed

[2015-08-06 02:28] SiriusHu commented on #3556
thanks, I got it from 2696
Though I still think JSON is a more convenient way, PERFORMANCE is more I'm concerned with.

[2015-08-06 02:44] jbillhei opened #3573 "SELECT field_name from /.*/ error if field does not exist in all measurements"
In 0.9.2, Ubuntu 14.04 64 bit.

If you do a ```select field_name from /.*/```, you will get ```unknown field or tag name in select clause: field_name``` unless field_name exists in all measurements.  It does not seem to matter that field_name may exist in some of the measurements.

I remember this worked in 0.8.x, it would just return results for measurements that have the requested field.

[2015-08-06 05:14] airyland commented on #3554
Cool. Thx.

[2015-08-06 05:50] diiidiii commented on #3535
Ok an example: from our database we get this date: 2011-11-08 04:45:02.446000
Then I convert this to the timestamp with the date-time function in python: 1320723902
I have to cast this timestamp to string because when i use it with os.system() it has to be a string...
In the logs i can see the following:
[http] 2015/08/06 07:48:36 4.128.2.139 - - [06/Aug/2015:07:48:36 +0200] POST /write?db=oracle&

[2015-08-06 07:10] kalidasya commented on #3539
I am using 0.9.2-1 and it seems to me the following case are also failing:
`insert nan value=NaN`
to me it seems, if the last thing in the insert is NaN it fails:
`insert cpu_load_sh value=NaN ` is OK (not the whitespace at the end) but:
`insert cpu_load_sh value=NaN` is not.

[2015-08-06 09:09] mail2fish opened #3574 "[ 0.9.3-nightly-be792b9] Querying data node causes panic"
[code]

[2015-08-06 09:18] joshua66 opened #3575 "SELECT DIFFERENCE No Longer Works with v0.9.2"
Hello,

I am having trouble using the difference function in the new version,

I am getting this error

Server returned error: function not found: "difference"

Has this been taken out?

[2015-08-06 12:44] CrazyJvm commented on #2074
I really want to know which version will include this feature, is there a PR proposed already?

[2015-08-06 12:51] corylanou commented on #3574
It's possible that this is fixed in https://github.com/influxdb/influxdb/pull/3564.  Based on the query, you should of hit the first branch of the if statement and didn't.  Once this is merged to master and you upgrade let's re-check this.

[2015-08-06 14:20] dennisbauer commented on #3222
Is there a debian packacge available as well? I can see only a rpm-file on https://s3.amazonaws.com/influxdb/

[2015-08-06 14:35] corylanou opened #3576 "[feature request] run expanded Go Benchmarks for each package"
We need to expand the Go benchmarks written for each package.  Then we can start running automated scripts after each point release (or even each build) and log them to history to compare the results.  This should help us catch any major deviations that aren't acceptable as we continue to work on the code.

[2015-08-06 15:03] buro1983 opened #3577 "Data point calculation on InfluxDB 0.8.8"
Please help me to understand this how influxDB is doing this.

select sum(UpstreamBytes), sum(DownstreamBytes) from Usage.Bangalore.Email where time > 1438776272s and time < 1438776512s group by time(1m)

1438776480000	40467	0
1438776420000	76746	0
1438776360000	136182	0
1438776300000	89471	0
1438776240000	69426	0

select sum(UpstreamBytes), sum(DownstreamBytes) from Usage.Bangalore.Email where ti

[2015-08-06 15:04] dennisbauer opened #3578 "Deleted data?"
Hi,

I am using influxdb together with grafana. This morning I viewed some data, didn't do any changes to that database (only to another one, see log file) and tried to view it again a couple of hours later - but the data was gone. I checked influxdb admin interface then, but even there I couldn't access my data (database is still there but empty). Retention policy of the database is set to INF an

[2015-08-06 15:32] #3545 closed

[2015-08-06 16:56] beckettsean commented on #3554
@airyland I verified that only a field key ID is stored with the point, so there's no meaningful difference in your on-disk data size for large tag keys, tag values, or field keys. Only the size of field values has any impact on the total disk used.

[2015-08-06 17:05] mjdesa commented on #3578
@dennisbauer what version of the database are you using?

[2015-08-06 17:07] dennisbauer commented on #3578
Influxdb 0.9.2.1 on Ubuntu 14.04.2 LTS x64

[2015-08-06 17:12] mjdesa commented on #3578
can you run `curl -G "http://<the adddress where your server is>:8086/query?db=testkw31" --data-urlencode "q=show series"` and tell me what the out put is

[2015-08-06 17:46] esecules commented on #3473
I have managed to reproduce this!

[2015-08-06 17:47] dennisbauer commented on #3578
the output is a JSON object, which seems to contain the data (it is far too long to copy it here, it's a 12mb putty output log - if you need it I can send it to you of course), one series e.g. is called sensor_1....but when I run ```curl -G 'http://localhost:8086/query' --data-urlencode "db=testkw31" --data-urlencode "q=SELECT value FROM sensor_1"``` instead, I am still getting no results: ```{"re

[2015-08-06 17:50] beckettsean commented on #3575
It is not yet implemented in the 0.9 line. Closing in favor of https://github.com/influxdb/influxdb/issues/1825

[2015-08-06 17:50] #3575 closed

[2015-08-06 17:51] beckettsean commented on #2074
There is no PR for this yet, and the work is currently unscheduled.

[2015-08-06 18:00] beckettsean commented on #3577
The time restriction limits the points returned and summed, but the GROUP BY clause determines the bucket timestamps.

For the first statement, all points from 1438776360000 to 1438776419999 are included in the bucket labeled 1438776360000, and their sum is 136182.

For the second query, the bucket timestamp is still 1438776360000, because you are grouping by minute, but the points included only r

[2015-08-06 18:00] #3577 closed

[2015-08-06 18:08] esecules opened #3581 "[0.9.2] Timeout on POST or GET of any measurement"
Client logs
[code]
Server Logs
[code]

Curl: Things that don't work
[code]
Curl: things that work
[code]

Server load:
[code]

[2015-08-06 18:18] beckettsean commented on #3573
closing in favor of #3326

[2015-08-06 18:18] #3573 closed

[2015-08-06 18:24] corylanou opened #3582 "[feature request] Allow queries to have wildcards and fields"
This PR https://github.com/influxdb/influxdb/pull/3580 imposes a restriction to not allow queries as follows:

[code]

As the query engine does not currently support them.

We should add support for those types of queries and remove this restriction.

[2015-08-06 18:30] mjdesa commented on #3578
@dennisbauer was running `curl -G 'http://localhost:8086/query' --data-urlencode "db=testkw31" --data-urlencode "q=SELECT value FROM sensor_1"` ever giving you any results?

Is `sensor_1` the only measurement that you have?

[2015-08-06 18:38] mjdesa opened #3583 "[0.9.3 built off master] Inserting value in scientific notation with a trailing i causes panic"
Inserting a point with value in scientific notation with a trailing `i` causes the db to panic.

In the CLI

[code]

causes panic

[code]

[2015-08-06 18:40] mjdesa commented on #3583
Similarly

[code]

also causes panic

[code]

[2015-08-06 18:44] dennisbauer commented on #3578
There are more measurements, but I am getting the same empty result for each one. But when I run show series, I can see that there is still data for every measurement.

I can't tell you if it ever returned any results, because I never used curl before. I was using influxdb-java in my application to write data and influxdb admin interface and grafana to query data. But when I run it on another data

[2015-08-06 18:49] mjdesa commented on #3578
My guess is that the `sensor_1` measurement was written in with `"`'s. Can you try

[code]

[2015-08-06 18:55] dennisbauer commented on #3578
@mjdesa No, there is no difference. Still an empty result. But data was written from the same application to multiple databases and all the others are working with ```curl -G 'http://localhost:8086/query' --data-urlencode "db=test" --data-urlencode "q=SELECT value FROM sensor_1"````

[2015-08-06 18:57] mjdesa commented on #3578
Weird. I'm not quite sure what the issue is.

[2015-08-06 19:06] mjdesa commented on #3572
@elliots thanks for the report. I'm getting the same results.

[2015-08-06 19:12] mjdesa commented on #3572
Actually, when I restart my request just hangs.

[2015-08-06 19:51] #3530 closed

[2015-08-06 20:05] corylanou commented on #3549
Additional notes:

 `SELECT value, host from foo group by host, region`
then `host` should be included in the columns
any tag keys they have in the `GROUP BY` statement, shouldn’t be written into the columns in the case of the `SELECT *`

`select * from foo group by *`
No tags in the columns, only group by tags

[2015-08-06 20:10] #3436 closed

[2015-08-06 20:13] vijayakumark commented on #3535
I'm facing a similar problem, running InfluxDB 0.9.2 on Ubuntu , that gets its data via collectd and a custom Python code. I have this problem accessing the data from web console.
`
select * from requests;
Server returned error: found FROM, expected identifier, string, number, bool at line 1, char 9
`

While it's possible that some date-time string was written into the measurement during developme

[2015-08-06 20:21] esecules commented on #3581
Duplicate of #3411

[2015-08-06 20:21] #3581 closed

[2015-08-06 21:00] beckettsean commented on #3418
@dgnorton did your heap changes fix this?

[2015-08-06 21:01] beckettsean commented on #3377
@otoolep what's the status of this issue?

[2015-08-06 21:06] beckettsean commented on #3198
Still panics 0.9.2

[2015-08-06 21:08] dgnorton commented on #3418
@beckettsean  yes

[2015-08-06 21:08] beckettsean commented on #3175
@dtouzeau is this still an issue with 0.9.2 or the nightly 0.9.3 builds?

[2015-08-06 21:12] #3071 closed

[2015-08-06 21:15] beckettsean commented on #3032
all numbers are now floats unless explicitly declared integers during writes (with a trailing `i` #3526). Closing as no longer relevant.

[2015-08-06 21:15] #3032 closed

[2015-08-06 21:16] beckettsean commented on #3022
significant performance changes in 0.9.3 (WAL, compression, etc.) Please retest with latest.

[2015-08-06 21:16] #3022 closed

[2015-08-06 21:19] beckettsean commented on #2317
closing in favor of #3503

[2015-08-06 21:19] #2317 closed

[2015-08-06 21:19] beckettsean commented on #2193
@gunnaraasen what's the status on this? Didn't we already implement this?

[2015-08-06 21:20] beckettsean commented on #2189
@otoolep @pauldix is this done?

[2015-08-06 21:22] beckettsean commented on #1316
closing in favor of documentation repo issue https://github.com/influxdb/influxdb.com/issues/207

[2015-08-06 21:22] #1316 closed

[2015-08-06 21:27] beckettsean commented on #3257
New WAL changes plus existing recommendations should address this.

[2015-08-06 21:27] #3257 closed

[2015-08-06 21:28] beckettsean commented on #3239
backups are due for significant reworking, there are bound to be rough edges until then, thanks for the report and we'll address it eventually.

[2015-08-06 21:28] beckettsean commented on #3238
Can you repro with a 0.9.3 nightly? Significant cluster improvements in them.

[2015-08-06 21:29] #3235 closed

[2015-08-06 21:29] beckettsean commented on #3228
Significant clustering improvements and WAL tuning changes. Should be alleviated in 0.9.3

[2015-08-06 21:29] #3228 closed

[2015-08-06 21:31] beckettsean commented on #3200
@corylanou another one for the columns returned from queries

[2015-08-06 21:33] beckettsean commented on #3004
Should be ameliorated by WAL and metastore changes in 0.9.2 and later. I haven't seen a `bucket not found` error in quite some time.

[2015-08-06 21:33] #3004 closed

[2015-08-06 21:33] beckettsean commented on #2966
@jwilder can we close this?

[2015-08-06 21:36] #2966 closed

[2015-08-06 21:58] gunnaraasen commented on #2193
This is partially implemented.

We do not currently check if the request is from `localhost` when there are no users and auth is enabled. Should be easy to check, just need to add it.

[2015-08-06 22:13] ecables commented on #3446
Seeing this in 0.9.3 as well...

[2015-08-06 23:55] beckettsean commented on #3535
@vijayakumark, yes, this is a query parser bug, not intended behavior. There should be a fix in 0.9.3, and the data is still there and fine, it's just currently not possible to query.

@diiidiii Your timestamps and writes in general are fine, thanks for sharing the details.

I think https://github.com/influxdb/influxdb/pull/3560 is the PR that fixes these issues. Try with an 0.9.3 nightly and see

[2015-08-06 23:57] beckettsean commented on #3473
A 500 error from the write endpoint indicates a fatal timeout, but once the deadlock or performance issue abates it should be possible to write again. Does it eventually heal or is the write endpoint returning 500s for more than 5-10 minutes?

[2015-08-07 00:06] beckettsean commented on #3418
Fixed by https://github.com/influxdb/influxdb/pull/3520

[2015-08-07 00:06] #3418 closed

[2015-08-07 00:15] beckettsean commented on #3578
@dennisbauer Let's try to narrow down the output from `SHOW SERIES` so it's not 12MB.

What does `SHOW SERIES FROM sensor_1 WHERE axis='x'` return?

[2015-08-07 01:08] beckettsean commented on #3571
@otoolep @benbjohnson I thought this was patched with Ben's latest WAL changes?

[2015-08-07 01:39] srikara commented on #1819
+1

[2015-08-07 03:22] esecules commented on #3473
sorry for the confusion I realized my mistake created a new issue then realized it created it then found its duplicate

[2015-08-07 04:21] jbothe commented on #211
+1

[2015-08-07 04:49] gunnaraasen commented on #3500
This was actually fixed by https://github.com/influxdb/influxdb/pull/3438, but the admin UI assets were not precompiled for statik. PR https://github.com/influxdb/influxdb/pull/3587 compiles this fix into statik.

[2015-08-07 05:41] maxboiko commented on #3514
Seems that the same issue is very important in my case, hope fix will be provided soon.

[2015-08-07 06:52] diiidiii commented on #3535
Thanks for your help, i'll try a nigthly build.

[2015-08-07 07:14] chrishiestand commented on #3173
In 0.9.2 the derivative column is always named `value` instead of what it should be.

[2015-08-07 07:28] dennisbauer commented on #3578
@beckettsean It shows data, see extraxt below (still a huge amount, so I cut out most entries) or link to complete log file. But if I run ```SELECT value FROM sensor_1 WHERE axis='x'``` instaead, I am still getting no results.

https://www.dropbox.com/s/ecgjobtq44a17qa/putty_log.txt?dl=0

[code]

[2015-08-07 09:06] mobarre commented on #211
I agree with a lot of what has been proposed in here. As for the original feature description and taking into account all the other things mentioned, I'd say this is a must have.

[2015-08-07 09:09] syepes commented on #3514
Waiting for this one also ;-)

[2015-08-07 09:12] kenzodeluxe commented on #3514
While you guys are waiting for this, I am *urgently* waiting for it :)

[2015-08-07 10:48] cobyism commented on #3222
@dennisbauer Debian package was linked to further up—the URL is:
[http://influxdb.s3.amazonaws.com/influxdb_0.9.2.1_amd64.deb](http://influxdb.s3.amazonaws.com/influxdb_0.9.2.1_amd64.deb)

[2015-08-07 11:31] nii236 opened #3588 "Extremely difficult to find a list of supported datatypes"
I'm in the process of setting up an InfluxDB instance using an external Unix time stamp. Due to the Unix time 2038 problem I want to be absolutely sure that the datatypes of that field will be int64.

I can not find any information on the supported datatypes in InfluxDB. The only useful information so far is the fact that once you enter your first value into a field, the datatype is locked and can

[2015-08-07 11:54] diiidiii opened #3589 "[0.9.3-nightly-bd51276] After update: Field Type Conflict"
Hi,

i updated my 0.9.3 nightly to bd51276 and now i get a field type conflict when getting data from telegraf and collectd...

mem_total,host=iqtsdb03 value=164853372000
mem_total,host=itngt02 value=3916788000
[write] 2015/08/07 13:53:37 write failed for shard 45 on node 1: error code 1: write shard 45: field type conflict: input field "value" on measurement "mem_total" is type float64, already e

[2015-08-07 12:15] dennisbauer commented on #3222
@cobyism But this links to 0.9.2.1 and not to 0.9.2.1-1.....I installed the package you linked and still can't use the admin interface due to the same error message

[2015-08-07 12:34] cobyism commented on #3222
`¯\_(ツ)_/¯` Installing the 0.9.2.1 package seemed to fix all the issues I was having. I half-presumed the `0.9.2.1-1` was a typo in the name of the RPM package, but I could be wrong.

[2015-08-07 13:28] corylanou commented on #3173
This is fixed in this PR: https://github.com/influxdb/influxdb/pull/3564

Column name should always be the aggregate function name, so in this case, it would be `derivative` unless you alias it (which now works again).

[2015-08-07 13:28] #3173 closed

[2015-08-07 14:09] jbillhei commented on #3573
Missed that issue when searching for similars!  Thanks!

[2015-08-07 15:55] chrishiestand commented on #3173
Thank you @corylanou

[2015-08-07 16:17] jwilder commented on #3164
I believe this will disable HTTP logging.

[code]

[2015-08-07 16:18] jwilder commented on #3566
You can currently disable all http logging with:

[code]

[2015-08-07 16:56] mjdesa commented on #3588
@nii236 in the **Fields** section of the [line protocol](https://influxdb.com/docs/v0.9/write_protocols/line.html) docs.

[2015-08-07 16:56] #3588 closed

[2015-08-07 17:48] mjdesa commented on #3589
@diiidiii recently there was an update to the line protocol. Writing integers now require a trailing `i` and no trailing `i` is specified, influxdb will try to write the value as a float. See issue https://github.com/influxdb/influxdb/pull/3526

[2015-08-07 17:56] beckettsean commented on #3589
@diiidiii until there is a new release of telegraf, a telegraf database created on 0.9.2 or prior versions will be incompatible when upgraded to InfluxDB 0.9.3. It's a one-time incompatibility, and will be resolved with a new release of telegraf next Thursday.

Closing in favor of https://github.com/influxdb/telegraf/issues/99

[2015-08-07 17:56] #3589 closed

[2015-08-07 19:37] nicksellen commented on #3469
Not sure if I'm experiencing the same issue or a variant (with 0.9.2). I am not using continuous queries (after https://github.com/influxdb/influxdb/issues/3362), but seem to be having the same symptoms after running a query (occasionally).

normal writes, the sun is shining, all is good:
[code]

then, the killer query (with some vars replaced with x/y) - although it's not slow, it takes only ~4ms

[2015-08-07 19:57] beckettsean commented on #3469
URL decoded version of the query for easier reading:

[code]

@nicksellen if you issue those queries individually does it still lead to the 500s and the shutdown?

[2015-08-07 20:13] jhorwit2 commented on #3469
I ended up having to turn off all my CQ because of this :(. Now writes never timeout.

[2015-08-07 20:19] beckettsean commented on #3469
@jhorwit2 CQs will be a significant focus of the 0.9.4 release. There are still a lot of rough edges there.

[2015-08-07 22:47] nicksellen commented on #3469
@beckettsean ah, this could make sense if having a bunch of queries causes a timeout and triggers the same behaviour as a CQ causing a timeout - and I never had the problem with queries made from grafana (which are all individual).

It's happening less frequently now (or maybe not at all) as I am running the queries themselves less frequently (for other reasons) - the sample size would be so small

[2015-08-07 23:28] beckettsean commented on #3469
@nicksellen thanks for the clarification on the hard shutdown, I'm glad InfluxDB isn't committing suicide. Something about the locking behavior that leads to the slow queries and stalled writes also seems to stall the shutdown process.

I think it's less that the number of queries causes the problem, and more that the deadlocking issue becomes more likely as write volume and number of points queri

[2015-08-08 00:14] mjdesa opened #3594 "[0.9.3 built off master] Tons of shard groups being created"
After reproducing https://github.com/influxdb/influxdb/issues/3572 I noticed a ton of new shard groups being created for the databases I made for reproducing the issue.

[code]

[2015-08-08 00:16] beckettsean commented on #3594
What was the retention policy for the db, how long had it been running, and how many points written?

[2015-08-08 00:17] mjdesa commented on #3594
default INF

The same point was written to about 5 times. No other points were written.

[2015-08-08 12:19] feliksik commented on #84
I do not understand well why the behavior of "select time from foo" is undefined; could it not select all time fields of all entries?

Anyway, I would like grafana to show the last time since a host was seen. So I was expecting something like "select (now()-time) from foo limit 1", but this doesn't seem possible. Is this usecase possible some other way?

[2015-08-08 17:12] otoolep commented on #3164
Yeah, what @jwilder points out should be what you need.

[2015-08-08 17:20] otoolep commented on #3377
Not yet implemented, though the core code exists and just needs to be ported to the distributed query code.

Currently when two remote nodes can service a query (assuming the local node cannot), the remote node is chosen at random, even if that randomly chosen node is down. This change will fix that and try the other node in that case. This is obviously a core part of HA queries.

No reason this c

[2015-08-08 17:24] otoolep commented on #3582
I opened a ticket about this months ago, but @pauldix closed it. I still think it's a good idea though.

https://github.com/influxdb/influxdb/issues/1634

[2015-08-08 17:31] otoolep commented on #3571
I too thought all duplicate points issues had been addressed.

[2015-08-08 17:32] otoolep commented on #2189
I am not sure what the status of this is, since the DQ refactor. Let me check.

[2015-08-09 11:51] jpillora opened #3595 "Write delays"
For testing purposes, I'm writing 1000 points in batches of 7 and the insertion times change from sub-millisecond to just over a second.
[code]

Each data point looks like:

[code]

Restarting `influxd` seemed to help, then I increased the total number of points to 5000 and it started happening again after about 2000 points.

Am I getting rate limited? Or is this an internal blocking issue? Any id

[2015-08-09 14:10] tpitale opened #3596 "Multiple UDP configuration not supported in 0.9.2"
Version 0.7.1 added support for multiple UDP configuration. I just updated to 0.9.2 and this feature appears to be gone.

https://github.com/influxdb/influxdb/blob/0c4c5b20cb8f5d9db97544027e87010619002c54/CHANGELOG.md#v071-2014-05-29

* Was this an intentional decision, or was the feature simply lost over time?
* Is there another way to configure this now?
* If I were to add support again, is that

[2015-08-09 14:13] FarzinZaker opened #3597 "influxd db 9.2 takes too long to start"
when starting influxdb service, it **starts filling memory to reach upper than 12GB very slowly**. during startup time, cpu usage is 100%. then starts responding on port 8086! before reaching this amount of memory usage no one is listening on port 8086.

There is no way to limit memory usage of influxdb currenty. some times influxdb stops responding to write post messages for about 1hour, so I nee

[2015-08-09 14:25] tpitale opened #3598 "UDP config is not set up"
https://github.com/influxdb/influxdb/blob/7e56a54062b6caeb9a5d3ebd5a37efc7d0a64051/cmd/influxd/run/config.go#L51-L70

Am I missing something … or does that not include a single udp config?

I'm working on a PR to add multiple right now … but I'm not seeing the single config. Can anyone confirm?

[2015-08-09 14:36] tpitale commented on #3598
That's not what `NewConfig()` does.

[2015-08-09 14:36] #3598 closed

[2015-08-09 16:58] tpitale commented on #3596
Maybe the intention is to start multiple instances of influxdb each with its own distinct config?

[2015-08-09 17:42] tpitale commented on #3596
Nope, running multiple processes does not appear to work (or at least easily). The configuration settings needed might be wrong.

[2015-08-09 18:04] jcassel commented on #3532
+1 on the general idea of querys that show us details related to the space and size of the data in an instance/cluster.

This request seems very closely related to one that pauldix opened.
Should be able to show shards #3562

[2015-08-09 19:04] dominikh commented on #3473
I've encountered the same problem, under very light load (writing a dozen points a second, selecting 600 points every 5 seconds). Almost all POSTs timed out after 5 seconds, returning a 500, but some succeeded with 204. This kept happening for 20 or so minutes. The server itself was under light load only, too. influxdb wasn't consuming much CPU.

[code]

Some GET requests, like SELECT or SHOW MEAS

[2015-08-09 19:09] jamhall opened #3600 "Writing data - tags don't seem to be optional when using the lines format"
Importing data with a tag succeeds:

[code]

However, If I try to import some data points without a tag, it fails:

[code]

This returns:
[code]

Or If I remove the space between the series name and the fields:

[code]

This returns:

[code]

Aren't tags supposed to be optional?

Thanks in advance

[2015-08-09 19:28] jwilder commented on #3600
Don't add a comma if you do not want tags. Just use a space and list your fields.

[2015-08-09 19:31] gunnaraasen commented on #3600
Tags are optional. Both of those data points are not valid line protocol points.

For the first point, the comma after temperature needs to be removed (or backslash escaped if the comma is part of the measurement name).

For the second point, there needs to be a space between the measurement name and the field values.

[2015-08-09 19:31] #3600 closed

[2015-08-09 19:36] jamhall commented on #3600
@jwilder and @gunnaraasen  - Thank you very much for the information.  Much appreciated!

[2015-08-09 23:05] #3246 closed

[2015-08-10 03:26] zengzhihai110 opened #3601 "How to improve the utilization of influxdb"
The maximum amount of insertion of only 20 per

[2015-08-10 07:34] sunguide opened #3602 "why not support i386?"

[2015-08-10 07:54] vovencij opened #3603 "[0.9.2] panic: runtime error: invalid memory address or nil pointer dereference after start"
After getting timeouts and 500 errors on writes (no continuous queries) and restarting influxd 0.9.2 on Ubuntu 14.04.2 LTS (GNU/Linux 3.13.0-61-generic x86_64) it panicked and crashed. After next restart is started working again. Following is the log with the last events before restart and the crash log itself:

[code]

[2015-08-10 08:17] zengzhihai110 opened #3604 "Why on a real machine, concurrency 1s less than 30? cpu utilization rate has remained unchanged"
Why on a real machine, concurrency 1s less than 30? cpu utilization rate has remained unchanged

But I linux in a virtual machine but 1s concurrent high above, cpu utilization is high, the environment and versions are the same, what is the reason

[2015-08-10 08:51] mnuessler commented on #3246
Thanks for implementing this!

[2015-08-10 09:04] liyichao commented on #1184
I hate the tag 'obsoleted by v0.9.0'.

[2015-08-10 09:20] zengzhihai110 opened #3605 "Are there parameters influxdb cpu usage control program"
Are there parameters influxdb cpu usage control program

[2015-08-10 09:48] dominikh commented on #3473
More log output (of a new incident, this time the moment it started) suggests that this is related to continuous queries, so related/a duplicate of all the other open issues regarding CQs and timeouts:

[code]

[2015-08-10 10:52] FarzinZaker commented on #3597
today it stopped responding to select queries too. select queries takes too long without response or timeout.

please tell me how can I debug influxdb queries to find out problem.

[2015-08-10 11:28] FarzinZaker commented on #3597
in startup influxdb uses only one core to bring data too ram. is there any solution for using multiple cores? it may help speeding up startup process

[2015-08-10 12:18] jonaz opened #3606 "unable to parse XXX value=0i': invalid number"
influxdb server version 0.9.2

Im using the Go client library revision 9ece632791a4fb62be81d826a77b9937fe67c3ce and recently i've been unable to insert integers.
Not sure if the clients appends the i and thats the problem or something else.

When i try appending "i" in the command line i get the same error as when using the Go library.  My code using the library is here: https://github.com/stampzi

[2015-08-10 12:46] maxekman commented on #3606
I get the same error when running the current client library against 0.9.2. In this case it was a uint64 from the telegraf/system/memory.go plugin.

[code]

[2015-08-10 12:51] maxekman commented on #3606
The protocol change was added in this commit, which I presume is post-0.9.2: https://github.com/influxdb/influxdb/commit/0b5eb09181c9b6fed3218a4f540201adbc3e5310

[2015-08-10 12:51] juddgaddie commented on #3606
You need to run that version of the go client against  the latest nightly build of Influxdb or downgrade the go client to a version that did not inert i for integers.

[2015-08-10 12:55] maxekman commented on #3606
I can confirm that checking out 0.9.2 in $GOPATH/src/influxdb/influxdb works.

[2015-08-10 13:33] jonaz commented on #3606
OK, closing this then!

[2015-08-10 13:33] #3606 closed

[2015-08-10 14:00] otoolep commented on #3562
Previously shard data was available through `SHOW DIAGNOSTICS`, and having shard data as part of that command (when re-implemented) was my plan. A dedicated command is fine too, I do not have a strong opinion either way.

[2015-08-10 14:06] shilpisharma opened #3607 "[0.9.3-rc2] Unable to query influxdb"
Hi,

We are doing feasibility testing.

We inserted 35 million records in one of the measurements. But now influx is not responding when we query the table.

Can someone please suggest what can be done?

Shilpi

[2015-08-10 14:10] aviau opened #3608 "More columns than values in query response"
Hello,

I am sure this is a duplicate of something somewhere... but here goes:

Using ``mean()`` in a query breaks the response format: there are more columns than values in the query response.

**With ``mean()``:**

Query:
```SELECT host, mean(zzz) as hello, host, value as value, zzz, host FROM cpu_value```
Response:
```{"series": [{"values": [["1970-01-01T00:00:00Z", 34545]], "name": "cpu_value"

[2015-08-10 14:16] otoolep commented on #3594
Can you show a sequence of `curl` commands that show this happening?

There are two ways shards may be created -- because a) point's timestamp is destined for a slice of time for which there are no shards, and b) shard precreation, which attempts to create shards before they are needed:

https://github.com/influxdb/influxdb/blob/master/services/precreator/README.md

[2015-08-10 14:19] otoolep commented on #3608
@corylanou

Can you be more precise? What in the output don't you like?

[2015-08-10 14:23] otoolep commented on #3603
Thanks for the report @vovencij -- your trace implies a query was executing when this happened. Do you know what that query was?

[2015-08-10 14:24] aviau commented on #3608
Not sure if you noticed it, but the issue here is that ``host`` is a tag. So it should not be included in the ``columns`` list.

Not that i'm against it it being included. But if it's included, include it in the values too!

[2015-08-10 14:26] corylanou commented on #3608
I just fixed a bug with the alias (which is shown in your last query - https://github.com/influxdb/influxdb/pull/3564).  I'm also making changes right now to the select behavior that if you put a tag in the select clause, it comes back as a column, not as another grouped set of output (https://github.com/influxdb/influxdb/issues/3549).

This may address your concerns, I'm not sure.

[2015-08-10 14:30] aviau commented on #3608
Great. Ping me here when this is merged and I will test it. I think that will fix the issue.

[2015-08-10 14:38] vovencij commented on #3603
It is hard to tell with 100% confidence, but most probably, considering the logs of the client application, which reads and writes data to influx, it was a batch insert.

[2015-08-10 14:57] otoolep commented on #3595
What version are you running? This may be related to WAL flushing, which is being addressed in https://github.com/influxdb/influxdb/issues/3514

[2015-08-10 14:59] jpillora commented on #3595
`InfluxDB, version 0.9.2, commit 6c0a91f775f9fc0e625d17ffa04a3fe86945ba09` (bottom of the text)

[2015-08-10 15:35] jwilder commented on #3595
It looks like you are writing points into the future and you are probably hitting shard group boundaries which require new shard groups to be created in the meta store.  Creating new shard groups goes through raft consensus and there was a 1s delay in place in `0.9.2` (and prior) to allow the raft changes to propagate throughout the cluster.  That has been removed in `0.9.3` by commit e904416.  Th

[2015-08-10 15:43] jpillora commented on #3595
Okay great thanks @jwilder will get back to you

[2015-08-10 16:40] DanielMorsing commented on #3467
Tested this on master. Looks like #3560 fixed it.

[2015-08-10 16:40] #3467 closed

[2015-08-10 17:08] mjdesa commented on #3594
1. `curl -G "http://localhost:8086/query" --data-urlencode "q=CREATE DATABASE example"`

2. `curl -i -XPOST "http://localhost:8086/write?db=example" --data-binary 'updown value=100 1434055562000000000'`

3. `curl -i -XPOST "http://localhost:8086/write?db=example" --data-binary 'updown value=50 1434055562000000000'`

4. `curl -i -XPOST "http://localhost:8086/write?db=example" --data-binary 'updown

[2015-08-10 17:13] mjdesa commented on #3607
@shilpisharma what version of Influxdb are you running? And what does the query you tried to run look like?

[2015-08-10 17:17] mjdesa commented on #3594
Shard groups for the three databases that I wrote smaller and larger values with the same timestamp,

[code]

[2015-08-10 18:13] shilpisharma commented on #3607
InfluxDb version: 0.9.1

select count(value) from <measurement>
select * from <measurement>
select * from measurement where time > <starttime> and time < <endtime>

[2015-08-10 18:19] otoolep commented on #3607
@shilpisharma -- what is coming back when you issue these queries?

[2015-08-10 18:20] shilpisharma commented on #3607
No response. The DB just hangs.

[2015-08-10 18:22] otoolep commented on #3009
Remaining work captured by:

https://github.com/influxdb/influxdb/issues/2755
https://github.com/influxdb/influxdb/issues/3295
https://github.com/influxdb/influxdb/issues/3296
https://github.com/influxdb/influxdb/issues/3377

[2015-08-10 18:22] #3009 closed

[2015-08-10 18:30] otoolep commented on #3144
Another failure:
[code]

[2015-08-10 18:40] beckettsean commented on #3604
@zengzhihai110 this is not a bug report or a feature request. Perhaps the mailing list would be a better place for your question: influxdb@googlegroups.com. If you are seeing substantially different behavior from InfluxDB on two different systems that you think is a bug, please provide more details of each system.

[2015-08-10 18:40] #3604 closed

[2015-08-10 18:42] Jhors2 opened #3609 "[0.9.3] Poor Performance"
I am currently running version 0.9.3, I know distributed query support is in the works so I hesitated and filing this issue, however the query performance has become very poor.

Currently I have a data set of a million points with this measurement name, it is in it's own retention policy FWIW.

The query takes about 3-4 minutes with the following query:

`SELECT sum(value) from shortLived.as_path_

[2015-08-10 18:42] beckettsean commented on #3605
closing as duplicate of #3537

[2015-08-10 18:42] #3605 closed

[2015-08-10 18:51] beckettsean commented on #3607
@shilpisharma can you provide log output and a sample write statement? What exactly do you mean by "the DB just hangs"? Is the process up and not responsive? Is it issuing 500s? Will the database process writes?

[2015-08-10 18:55] beckettsean commented on #3596
Duplication of https://github.com/influxdb/influxdb/issues/2785

[2015-08-10 18:55] #3596 closed

[2015-08-10 19:02] beckettsean commented on #3601
This is very difficult to understand. Please write more words next time.

To improve the write performance, please batch your writes into groups of up to 5000 points per batch.

[2015-08-10 19:02] #3601 closed

[2015-08-10 19:04] #3401 closed

[2015-08-10 19:04] beckettsean commented on #3602
We have a limited number of binary builds right now. There are no ARM or Windows builds, either, for instance. You can build from source until we have the resources to make builds for your architecture.

[2015-08-10 19:04] #3602 closed

[2015-08-10 19:17] shilpisharma commented on #3607
Process remains up, but no response. Where will I find the logs for this?

[2015-08-10 19:19] esecules commented on #3473
@dominikh I dont think this is the same issue. It looks more like #3411.

[2015-08-10 19:22] beckettsean commented on #3609
That shouldn't make any noticeable difference in the runtime. It will reduce the number of buckets returned, but the query still has to sample every possible point in the time range and then sum all the matching points. Whether it sums them in 1 minute or 30 minute intervals makes little practical difference.

Yes, this is the only thing that will have a significant effect on your query performanc

[2015-08-10 19:22] #3609 closed

[2015-08-10 19:29] jwilder commented on #3594
Not sure there is an issue here.  Looks like shard recreation service which defaults to running every 10m.  Shard group IDs are global across all DBs too so  `945` just means that the counter is at `945` now.

[2015-08-10 19:35] beckettsean commented on #3607
Look in `/var/log/influxdb/influxdb.log` if you aren't explicitly redirecting your log output.

The process is running according to a process list, but submissions to the write and query endpoints return nothing? Can you paste the results of `curl -Gv 'http://localhost:8086/query?db=<database_name>' --data-urlencode "q=SHOW MEASUREMENTS"`, replacing `<database_name>` with the appropriate value, an

[2015-08-10 20:09] #3583 closed

[2015-08-10 20:09] shilpisharma commented on #3607
I checked logs, they don't display the query at all.

[retention] 2015/08/10 13:47:48 retention policy shard deletion check commencing
[http] 2015/08/10 13:55:05 127.0.0.1 - - [10/Aug/2015:13:55:05 -0400] GET /ping HTTP/1.1 204 0 - InfluxDBShell/0.9.1 ee6475c0-3f88-11e5-8001-000000000000 326.54µs
[http] 2015/08/10 13:55:57 127.0.0.1 - - [10/Aug/2015:13:55:57 -0400] GET /query?db=&q=show+databases

[2015-08-10 20:16] otoolep commented on #3000
Fixed for all integer values up to 2^53 by https://github.com/influxdb/influxdb/pull/3613