[2015-09-04 09:24] bbinet commented on #77
+1

[2015-09-04 09:25] svage opened #3992 "[feature request] Extend SHOW MEASUREMENTS to accept a database parameter"
Currently, `show measurements` lists all measurements in a selected database. It would be nice if we had the possibility to specify the database inside the request, just like in `show retention policies on <database>`.

Proposal: `show measurements on <database>.<retention policy>`

Edit: InfluxDB 0.9.3

[2015-09-04 15:38] #3722 closed

[2015-09-04 15:38] otoolep commented on #3722
All fixed for 0.9.4.

[2015-09-04 15:39] calmh commented on #3971
"show shards" on  just gives me "Query returned no results!" (on v0.9.3-rc1-289-g02e2ed8) (as opposed to an error before updating to the latest master).

[2015-09-04 15:42] #2022 closed

[2015-09-04 15:59] calmh commented on #3971
However with the latest commit, and pausing five seconds between each imported chunk, there is some compaction activity in the logs. Also this sudden nil dereference:

[code]

[2015-09-04 16:14] calmh commented on #3971
Ran out of memory after importing about 300.000 k measurements, stopping the import to let it idle a while to see what happens (about 13 GB RSS at that point), then lots of flushes happning and crashed when reaching the limit of 16 GB. About 200k goroutines identical to this in the trace:

[code]

Am I doing something absurd by attempting to import data like this? What's the expected procedure her

[2015-09-04 16:51] jwilder commented on #3960
I'm able to reproduce some issues and am looking into it.

[2015-09-04 17:03] otoolep commented on #3988
@ymettier -- I'm fine with that, do you want to generate a PR?

[2015-09-04 17:07] beckettsean commented on #3990
@lockwooddev can you share the output from your `brew install` and also the log files from startup?

[2015-09-04 17:16] beckettsean commented on #3991
@diiidiii the challenge with supporting `month` or `year` durations is that they are not regular. It requires InfluxDB to be aware of things like variable month lengths, leap years, etc. This is a potential feature but certainly not a short-term one.

[2015-09-04 17:21] everflux opened #3994 "[0.9.3] NaN value breaks json response"
I use the tail plugin that produces NaN when a value is not present. When querying influxdb I get the result as response payload (along with http 200)

[code]

[2015-09-04 17:54] beckettsean commented on #3994
@everflux what version of InfluxDB are you using? I'm unfamiliar with the tail plugin, can you link to it?

[2015-09-04 17:58] mjdesa commented on #3578
@dennisbauer glad to hear everything is working.

[2015-09-04 18:27] beckettsean commented on #3971
@calmh We need to investigate the contents of your `/meta` directory to debug this further. Can you make a gzip of `/meta` and upload it via http://cwok.me/cu/3971?

[2015-09-04 18:37] sphadley commented on #3974
As far as i can tell 204s here is some more logs
[code]

[2015-09-04 18:41] atulguptaag commented on #3965
I don't see the crash with the code in master at commit 0cb9618d6d6a8d139b4145a329d07223ea16d614.

[2015-09-04 18:56] beckettsean commented on #3989
confirmed I get the same error for both packages on Ubuntu 15.04:

[code]

@francisdb I was able to start both services just fine with `/etc/init.d/influxdb start` and `/etc/init.d/telegraf start`. I hope that workaround is sufficient for now.

[2015-09-04 18:57] otoolep opened #3997 "TestServer_ContinuousQuery is racy"
Continuing to hit this on Circle, even with latest changes.

https://circle-artifacts.com/gh/influxdb/influxdb/5561/artifacts/1/tmp/circle-artifacts.CmdRW2c/test_logs_i386.txt

[2015-09-04 19:00] otoolep commented on #3997
Test skipped in https://github.com/influxdb/influxdb/commit/267f8e6c119739a020a4ae8b1d73bfd31e4713ac

[2015-09-04 19:00] otoolep commented on #3997
Setting 0.9.4 so we at least decide whether this is a blocker for 0.9.4.

[2015-09-04 19:01] otoolep commented on #3997
https://circle-artifacts.com/gh/influxdb/influxdb/5561/artifacts/1/tmp/circle-artifacts.CmdRW2c/test_logs_i386.txt

[2015-09-04 19:07] beckettsean commented on #3974
I'm stumped. I don't have any more suggestions for what to investigate, and without repro steps I can't interrogate the issue locally. There should be an 0.9.4 release candidate before the weekend, hopefully you can test with that. It will have enhanced logging and diagnostics.

[2015-09-04 19:08] beckettsean commented on #3965
Thanks for the additional testing, @atulguptaag. I'm closing this issue now, please re-open if the issue recurs.

[2015-09-04 19:08] #3965 closed

[2015-09-04 19:09] everflux commented on #3994
Version: 0.9.3
The description was inaccurate, sorry: Actually I am using collectd with the tail plugin producing the data which is giving the problem with influxdb.
Collectd is shipping the data to influx using the udp collectd endpoint
Plugin: https://collectd.org/wiki/index.php/Plugin:Tail

[2015-09-04 19:13] beckettsean commented on #3994
Thanks, @everflux

@otoolep thoughts?

[2015-09-04 19:31] otoolep opened #3998 "TestServer_Query_DropAndRecreateSeries in racy"
--- FAIL: TestServer_Query_DropAndRecreateSeries (0.82s)
panic: open meta store: initialize raft: set raft peers: node is the leader [recovered]
	panic: open meta store: initialize raft: set raft peers: node is the leader

goroutine 42 [running]:
testing.tRunner.func1(0xc820083560)
	/tmp/workdir/go/src/testing/testing.go:450 +0x1f5
github.com/influxdb/influxdb/cmd/influxd/run_test.OpenServer(0xc82

[2015-09-04 19:31] otoolep commented on #3998
@benbjohnson @jwilder

[2015-09-04 19:41] otoolep commented on #3994
Hmmmm. Looks like some values we can't marshall can get into the database via collectd.

We could try to catch this in the software and suppress the value.

[2015-09-04 20:23] otoolep commented on #3677
https://circle-artifacts.com/gh/influxdb/influxdb/5574/artifacts/0/tmp/circle-artifacts.yJ0Qnoy/test_logs.txt

[2015-09-04 20:23] otoolep commented on #3677
This failure continues to occur fairly regularly.

[2015-09-04 21:12] benbjohnson commented on #3967
I pushed in a Bolt fix (https://github.com/boltdb/bolt/pull/413) where the last write transaction's pages would linger. I don't think this is the cause of the memory leak but it'll make the heap profile output clearer. That should be in the [nightly build](https://influxdb.com/download/#version-0-9-4-nightly) tonight.

@jhorwit2 @olivierHa @Jhors2 Can you grab a heap profile while it's running wit

[2015-09-04 21:14] mjdesa opened #4002 "[0.9.4-nightly-548b898] Node in a cluster went down under a write load"
I spun up a cluster and started writing points. While writing points to a node it went down and wont come back up. Upon restart this is in the logs:

[code]

Sorry in advanced for the long stack trace.

[code]

[2015-09-04 21:16] #3960 closed

[2015-09-04 21:16] #3677 closed

[2015-09-04 21:18] otoolep commented on #3967
Also, when https://github.com/influxdb/influxdb/pull/3999 is merged, Go memory usage will be written once-a-minute to the system, in a database called `_internal`. This will allow us to easily track memory usage of the system. The data returned can be plotted by all the normal processes.

[2015-09-04 21:19] otoolep commented on #3677
Great stuff.

[2015-09-04 21:50] otoolep commented on #3548
All fixed for 0.9.4.

[2015-09-04 21:50] #3548 closed

[2015-09-04 21:58] calmh commented on #3971
Sure! I'll get you the data tomorrow.

[2015-09-04 21:59] rkuchan opened #4004 "specifying only an upper bound in GROUP BY time() with too many point yields no error"
When I enter a `GROUP BY time()` query with too many points and I only specify a lower bound in the `WHERE` clause I get the proper error:
[code]

When I enter a `GROUP BY time()` query with too many points and I specify a lower bound and an upper bound in the `WHERE` clause I get the proper error:
[code]

When I enter a `GROUP BY time()` query with too many points and I only specify an upper boun

[2015-09-04 22:05] mjdesa commented on #3960
woo!

[2015-09-04 22:06] iansmith commented on #3960
2 days from bug report to fix! Awesome! :trophy:

[2015-09-04 22:41] jwilder commented on #3960
@mjdesa @iansmith Please re-open if you still see this issue occurring.

[2015-09-04 22:48] yvesf commented on #3682
Hi,
please take a look on the following insert, I have the feeling that the escaping is not quite right but I'm not sure yet. I'm testing current master.

[code]

Expected:
[code]

If there is a problem then I assume it's a regression of the previous bug, otherwise feel free to move it to a new issue.
Regards, Yves

[2015-09-04 23:02] beckettsean commented on #3682
@yvesf there is a bug here, but there's a trivial workaround, as well.

Inserting a single trailing backslash works as long as there are no more fields to parse. It appears that the comma separating the fields complicates the parsing.

All of this is expected behavior:

[code]

However, if there's a field after the one with the escaped trailing backslash the two fields get combined into one (and t

[2015-09-04 23:04] beckettsean commented on #3682
As long as the escaped backslash is the final field value things work as expected:

[code]

[2015-09-04 23:09] yvesf commented on #3682
This is what I found as  fix and test-case. I think it makes sense to add a test like this one to points_test.go.
[code]

[2015-09-05 01:30] otoolep commented on #1470
This is done, the framework is there, just need to add more and more stats as we need them.

The story for accessing across the cluster, from any node, is to query the `_internal` database. We could expand the syntax in the future to support querying other nodes, but that will require dealing with authentication.

[2015-09-05 01:30] #1470 closed

[2015-09-05 01:40] otoolep commented on #3739
We decided against implementing the timeout, so closing.

[2015-09-05 01:40] #3739 closed

[2015-09-05 01:40] otoolep commented on #2888
All done. New database is called _internal.

[2015-09-05 01:40] #2888 closed

[2015-09-05 02:01] pauldix commented on #1470
@otoolep what's the retention policy of the `_internal` database? I'm thinking we should make it 7 days by default and make it configurable.

[2015-09-05 02:03] ecables opened #4012 "[0.9.3-final] process map shard error messages + i/o timeout messages in admin UI"
One of the nodes in our 3-node cluster appears to be having issues, as shown below. The network is not partitioned, and connectivity is clean to the reported node.
[code]

When I run queries through the web UI I get the following error occasionally, which oscillates between the other two node IP addresses:
[code]
Additionally, I'm seeing this panic, which may have led to the above issues:
[code]

[2015-09-05 02:08] ecables commented on #4012
Restarting this node resolved the above problem.

[2015-09-05 02:38] otoolep commented on #1470
Good idea -- I mean to add that monitor config, but it slipped out of my mind. I'll take care of it.

[2015-09-05 05:30] otoolep opened #4014 "WaitForLeader() returns, but cluster node count is zero"
Hit this issue about ~30% time on single node. This is with master code. https://github.com/influxdb/influxdb/commit/cfd0acdbc58cff7c2494a8d16992fd1ffefe31b4

The patch is:
[code]

The log output when the issue occurs is:
[code]

Note how the node count for the cluster is 0, but the cluster has a leader. What gives?

[2015-09-05 05:31] otoolep commented on #4014
cc @jwilder @benbjohnson

This is blocking monitoring because stats relies on creating a database at startup, after a leader is available.

[2015-09-05 05:33] otoolep commented on #4014
This is pretty easy to repro. Just continually start a brand new node, and look for failures to creates the `_internal` database.

[2015-09-05 05:36] otoolep commented on #1470
https://github.com/influxdb/influxdb/pull/4015

[2015-09-05 05:47] otoolep commented on #4014
@dgnorton -- you said you saw some weird failures in CI. This seems like the same thing.

[2015-09-05 06:04] calmh commented on #3971
https://nym.se/t/meta.tar.gz

[2015-09-05 07:38] otoolep opened #4017 "Graphite TCP connections prevent shutdown"
If Graphite has TCP connections, it prevents influxd from shutting down in response to SIGTERM. There are two ways to fix this:

--read deadline timers on each connection, so each connection gets a chance to check a `done` channel. Performance needs to be checked with this.
-- a connection manager type system, where all connections are stored in slice, where `Close()` can be called on each if nece

[2015-09-05 11:41] airyland opened #4018 "[0.9.3] can not group by tag with period in the name"
I used page.group as tag key, but couldn't group by "page.group".

Server returned:

`select sum(page.value) from page group by "page.group"`

[code]

![image](https://cloud.githubusercontent.com/assets/559179/9699084/6e43b476-5406-11e5-86a1-48df88c66893.png)

[2015-09-05 14:51] jwilder commented on #4014
I see what the issue might be.

[2015-09-05 15:37] #4014 closed

[2015-09-06 08:19] airyland opened #4020 "[0.9.3] panic when query with 'select * from measurement'"
[code]

[2015-09-06 10:50] tisba commented on #3674
I know, +1 is kind of stupid, but this is actually one of the major points, why we still run on 0.8.9 :-/

[2015-09-06 17:44] pauldix commented on #3528
We're still investigating this. We have some more debugging stuff going into the nightlies now that might provide more detail. Specifically more logging and the `show stats` query.

[2015-09-06 17:51] srfraser commented on #3528
Thank you for the update, I'll happily try out any new build

[2015-09-06 19:10] eostermueller commented on #3826
+1

[2015-09-06 19:40] lokeshverizon commented on #3967
I also see huge memory leaks when writing around 10k msg per second. Memory shoots to 8GB and influxdb dies as I have set upper limit of my app to 8GB.

2015/09/06 19:23:47 InfluxDB starting, version 0.9, branch unknown, commit unknown
2015/09/06 19:23:47 Go version go1.4.1, GOMAXPROCS set to 1
2015/09/06 19:23:47 Using configuration at: /etc/opt/influxdb/config.toml
[monitor] 2015/09/06 19:23:47

[2015-09-06 21:11] aheusingfeld commented on #3636
My "important use case" is that I have multiple applications sending their metrics via UDP and I need to
1. send these metrics to different databases
2. add different tags to these metrics
3. apply a different template to these metrics

Unfortunately most 3rd-party libraries still didn't adopt the API changes you introduced with 0.9 so the Graphite API is the only working fallback there is at the

[2015-09-06 22:05] kenzodeluxe opened #4022 "[0.9.3] wal compacting causing database to time out"
Once a database has reached a critical size (11GB was mentioned in another issue and seems relevant somehow), wal flushing is causing outages:
[code]
The database will never recover from this fault until it's removed or wal is deleted. Will then happen again once wal is flushed again.
du -hs:
55G	/var/opt/influxdb/data/monitoring

[2015-09-07 02:50] dovy opened #4025 "Use Case Evaluation, Corporate input please"
I represent a company that has a device that collects metrics every 2 seconds and uploads to a server every 20 mins. We have 2000 devices which have collected about 290GB of data in the past year. We're ramping up our production release and, over the next year, we're planning to have around 100,000 devices in the wild collecting up to 84 TB of data a year.

Each payload has 16 metrics per reading.

[2015-09-07 04:30] otoolep commented on #3636
Fixed by https://github.com/influxdb/influxdb/pull/4026

[2015-09-07 04:31] otoolep commented on #3636
@jwilder @corylanou

[2015-09-07 07:11] lockwooddev commented on #3990
Back at work today. I have the following output:

[code]

[code]

[2015-09-07 07:19] francisdb commented on #3989
@beckettsean workaround indeed works but of course annoying in case the server goes down...

[2015-09-07 10:39] abhishekchoudhary opened #4027 "[feature request] better error message when restoring a backup causes OOM"
I'm running InfluxDB 0.9.2 on two servers, independently. Both 64 bit 14.04 Ubuntu (Quad core, 15GB RAM). I took a backup from one and tried to restore to the other.

Restored the backup, changed ownership of dirs to influxdb, and tried to start the server.

Here's the weird behaviour in the terminal:
 - 'Failed to start' when I try to start the server
 - Says 'stopping the server' when I issue th

[2015-09-07 10:58] kalidasya commented on #3994
see comments in  https://github.com/influxdb/influxdb/issues/3539
probably caused by: https://github.com/golang/go/issues/3480

[2015-09-07 11:50] kenzodeluxe commented on #4022
The following changes have been added to the config:

wal-ready-series-size = 4096
wal-partition-size-threshold = 10485760

[2015-09-07 11:56] diiidiii commented on #3991
Yes thats the reason why i need it. I know it isn't easy to implement but i just want to notify you that this will maybe a good feature. A workaround is 720h or 30d what i use at the moment.

[2015-09-07 12:02] enavarro222 commented on #1400
+1
This will be very useful to get energy consumption (Kwh) from power logging (W)

[2015-09-07 16:48] juddgaddie opened #4028 "[0.9.3-nightly-affd0b1] panic"
I have no idea what the cause was the system has been running since Aug 29 with no issues.

Last restart was: 2015/09/05 13:41:43

[code]

[2015-09-07 17:15] marouanehassani opened #4029 "[feature request] SHOW TAG VALUES should respect time boundaries"
Following issue 3040
In influx db 0.9.2

First I insert some values

[code]

[code]

values are correctly inserted.

Now I try to get tag values filtered by time boundaries

[code]

-> it should return empty according to the where time clause

[2015-09-07 20:51] rreadman commented on #3944
I just had the same issue, it exits after starting but there is not much in the logs of interest.

[2015-09-08 07:43] markusr commented on #1400
@enavarro222
We use:  ``` SELECT sum(power)/count(power) FROM "data" WHERE $timeFilter GROUP BY time(1h) ```
to calculate the energy consumption in [kWh]. power is [W]

[2015-09-08 08:23] szop85 commented on #3972
Hello otoolep,

we can close this thread since we havn't experienced new crashes after a fresh reinstall. Sorry for bothering and thank you for your fast response!

Cheers

[2015-09-08 08:24] #3972 closed

[2015-09-08 10:27] airyland opened #4030 "How to set time zone?"
If I count and group by time(1d) or time(1h), the data is not that correct or not the list I wanted.

[2015-09-08 10:54] RobMcZag commented on #3525
I think that something like

    SELECT (TEMP < 25) FROM daily_temp

should be a possible ( and useful) query, quite different from

    SELECT TEMP FROM daily_temp WHERE TEMP < 25

The first will tell me, for every time bucket I can group on if some condition is met or not, while the latter will return me only values (and timestamps) when it was met or not.

[2015-09-08 13:43] kenzodeluxe commented on #4022
Neither writing, nor reading is possible when this state has been reached. At a certain level (>55GB?) once dropping the database appears to help.

[2015-09-08 13:58] corylanou commented on #1821
Closed by https://github.com/influxdb/influxdb/pull/3930

[2015-09-08 13:58] #1821 closed

[2015-09-08 14:00] corylanou commented on #3504
`FieldCodec` now calls `NewFieldCodec` so this should no longer occur.
https://github.com/influxdb/influxdb/blob/master/tsdb/shard.go#L487

[2015-09-08 14:00] #3504 closed

[2015-09-08 14:01] szop85 commented on #3552
Same here. I'd also like to calculate values across different series like:

select * from mysql_value where type='mysql_commands' and type_instance='show_tables' +
select * from mysql_value where type='mysql_commands' and type_instance='show_databases'

Cheers,
Szop

[2015-09-08 14:53] szop85 opened #4031 "[feature request] perform math operations on results of different queries"
Hey guys,

we're using a combination of InfluxDB, Grafana and collectd and running into a few troubles. Is there a way to sum two different values like:

[code]

and

[code]
?

Cheers,
Szop

[2015-09-08 15:15] noroute opened #4032 "Add clarification of intended behaviour for Graphite input templates with *no* default template"
There is no test and no example I can find for the Graphite input plugin templating functionality without any default templates. The intuitively expected behaviour is to ignore measurements that don't match any template.

What happens is (ignore-unnames is 'false') that when there is no default template, the whole metric name ('foo.bar.baz') is recorded. When I add a default with just "measurement

[2015-09-08 15:23] corylanou commented on #2705
@pauldix I feel like this should get re-written (flattened) like we do for the `TOP` function.  Thoughts?

[2015-09-08 15:32] jwilder commented on #4032
The default behavior when there is no default template specified is to use the full metric name as the measurement.  It is described here: https://github.com/influxdb/influxdb/tree/master/services/graphite#introduction and it is essentially `measurement*`.  It works that way so that you are not required to define templates to get up and running  quickly.  If you choose to add filters and templates

[2015-09-08 15:40] #3636 closed

[2015-09-08 15:40] otoolep commented on #3377
DQ support is not fully implemented yet, so this can be pushed out.

[2015-09-08 15:51] corylanou commented on #3933
This appears to be fixed now:

[code]

[2015-09-08 15:51] #3933 closed

[2015-09-08 17:17] #3848 closed

[2015-09-08 17:17] #3881 closed

[2015-09-08 17:17] #3785 closed

[2015-09-08 17:59] beckettsean commented on #3802
@papylhomme any updates on this issue?

[2015-09-08 18:09] beckettsean commented on #3840
@chaithrar can you update this ticket with the results of the query requested? `SHOW RETENTION POLICIES ON <dbname>`?

Please use the CLI for queries if possible. Are you certain you were querying the correct retention policy for the data? Can you paste in the exact query that is showing no data?

[2015-09-08 18:11] beckettsean commented on #3917
@huhongbo did lowering the WAL size help?

[2015-09-08 18:15] beckettsean commented on #3946
@shaileshswapnil can you share the InfluxDB logs or have you had a chance to check syslog?

[2015-09-08 18:20] beckettsean commented on #3962
@yuan0122 In 0.9.2 recently written points were available for querying but there was no de-duplication happening, so both points were queryable until the write ahead log was flushed to disk, at which time the duplicate point issue was resolved. That issue was fixed with https://github.com/influxdb/influxdb/pull/3626

I'm going to close this for now, please re-open if you can reproduce it with 0.9.

[2015-09-08 18:20] #3962 closed

[2015-09-08 18:24] beckettsean commented on #3879
@otoolep any thoughts on tackling this before 0.9.4_rc1? @pauldix would love to fix this before that RC.

[2015-09-08 18:28] otoolep commented on #3879
I can take a look, might be easy.

[2015-09-08 18:30] beckettsean commented on #3783
@corylanou short term, just assume they are grouping by tag if there's an identifier that matches both.

[2015-09-08 18:31] beckettsean commented on #3961
@dgnorton I will get you the customer details via email, and I'll see if we can get a copy of the data.

[2015-09-08 18:33] beckettsean commented on #3944
Could be solved by installing coreutils. I will test later today.

[2015-09-08 19:02] beckettsean commented on #3924
@BGraco we aren't going to be fixing bugs like this in the JSON write path so now is the time to move to the line protocol. Send us a note at support@influxdb.com if you need assistance with that.

[2015-09-08 19:02] #3924 closed

[2015-09-08 19:04] beckettsean commented on #3932
Per Paul, in a `WHERE time` clause, first try to parse the double-quoted value as a timestamp, not an identifier. If that fails fall back to parsing it as an identifier.

[2015-09-08 19:09] beckettsean opened #4037 "should not be able to use "true" or "false" as identifiers"
In order to parse booleans properly we need to be able to assume that the strings `true,True,TRUE,false,False,FALSE` are always booleans, never identifiers.

[2015-09-08 19:15] otoolep commented on #1943
A logrotate file will be part of the 0.9.4 package.

[2015-09-08 19:15] #1943 closed

[2015-09-08 19:26] #3926 closed

[2015-09-08 20:31] beckettsean opened #4039 "parser error for improper SHOW FIELD KEYS query is misleading"
`SHOW FIELD KEYS` parses and returns, but if `KEYS` is not the third word in the query the error is misleading:

Here's the error when using an improper query, notice that it says "expected KEYS, VALUES..."

[code]

However, SHOW FIELD VALUES is not a valid query (because that's really just `SELECT DISTINCT(value) FROM ...`)

[code]

The error message for `SHOW FIELD X` where `X` is anything other

[2015-09-08 20:38] beckettsean commented on #4018
@airyland is `page.group` a field or a tag? GROUP BY currently only supports tags.

[2015-09-08 20:41] beckettsean commented on #4018
Also you need to double-quote `page.value` in the SELECT clause.

[2015-09-08 20:43] beckettsean commented on #4020
@airyland a simple panic log is not diagnostic enough. Some details that might help:

- What was the exact query?
- Did you run this query from the Admin UI, CLI, or curl?
- Does this happen every time you execute that query, or was it a one-off?
- How many points are in that measurement?
- Cluster or single node?

[2015-09-08 20:47] beckettsean commented on #4025
@dovy I responded to your question on the mailing list and I believe you also submitted a ticket to support@influxdb.com. Both of those are appropriate places for this conversation, GitHub Issues is not (it's a general question, not a bug or feature request.)

[2015-09-08 20:47] #4025 closed

[2015-09-08 20:53] beckettsean commented on #4027
This is a known bug in 0.9.2 and is fixed in 0.9.3. If you are unable to upgrade, use `stop` and `start` rather than `restart`, and wait for the service to actually stop before issuing the `start` command.

[2015-09-08 20:57] beckettsean commented on #4029
You can accomplish the same thing with `SELECT * FROM foo WHERE time <= '2015-09-07T16:43:00.000Z'` and then just throw away the fields in the result. The tag keys and values are indexed, but the time range in which they appear is not. Implementing it as a stand-alone query won't make it any more performant.

[2015-09-08 20:58] corylanou commented on #3783
After looking at this in more detail, and talking to several of the other core team members, supporting a tag and a field with the same name is outside of the current design architecture.  It's equivalent in other databases as having 2 columns with the same name.  I would welcome a compelling use case, but I suspect there isn't one.

The reason you CAN do it is because when we write to shards, we

[2015-09-08 20:58] #3783 closed

[2015-09-08 21:00] beckettsean commented on #4030
closing as duplicate of https://github.com/influxdb/influxdb/issues/1837 or https://github.com/influxdb/influxdb/issues/2074

[2015-09-08 21:00] #4030 closed

[2015-09-08 21:09] corylanou opened #4040 "Add README.md for collectd"
See the graphite README.md for reference.

[2015-09-08 21:10] corylanou opened #4041 "Add README.md for udp service"
See the graphite README.md for reference.

[2015-09-08 21:10] airyland commented on #4018
`page.group` is a tag.

select * from page

time	                                                    page.group	page.value
2015-09-08T21:03:32.725988377Z	   "hello"	        1
2015-09-08T21:04:09.66892902Z	   "hello2"	        1

select sum("page.value") from page group by "page.group"

{"results":[{"series":[{"name":"page","tags":{"page.\"group\"":""},"columns":["time","sum"],"values":[["1970-01-01

[2015-09-08 21:19] pauldix commented on #3783
@corylanou I think their ultimate goal here is they want to have a field and be able to group by that field. Where if they have a numeric value and they write it as both a field and a tag they can group by it and then they can also do math against it.

Although I agree, it's an antipattern to have a field and a tag with the same name. It's not really something people should be doing.

[2015-09-08 21:25] corylanou commented on #3783
Agreed. I think a work around for now would be to have a field called `action` and a tag called`tagaction` or something like that, and then log the same value to them.  Now, if they are indeed different data, then the same column name then we certainly would recommend against that design pattern.

[2015-09-08 21:32] airyland commented on #4020
+ query: select * from event
+ Admin UI
+ Yes, it can be reproduced
+ 60490 points. But I find a strange thing. Every point has a field event.value=1i,user.uuid=somestring

select count("user.uuid") from event  => count 60490
select count("event.value") from event => count  60463
select sum('event.value') from event => sum 36283888102414

So I may import some incorrect point with wrong event.value

[2015-09-08 21:37] airyland commented on #4020
I still cannot remember I wrote data with such a big value..

[2015-09-08 21:42] airyland commented on #4018
select distinct(event.value) from event => [1099511758848, 1]
select * from event where event.value=1 => works
select * from event where event.value=1099511758848 => panic

[2015-09-08 22:36] beckettsean commented on #4020
@airyland how are you writing the points? Direct HTTP calls, a library, Graphite plugin, etc.?

Assuming this is a single node system, that shouldn't lead to any panics.

I don't understand what you mean by "6w points". Six weeks of points is not a large amount of data and should cause no issues.

If the query `select * from event` causes a panic every time, but `select count("user.uuid") from eve

[2015-09-08 22:38] beckettsean commented on #4018
@airyland is your most recent comment intended for https://github.com/influxdb/influxdb/issues/4020? I don't see how it is relevant to this one.

[2015-09-08 22:46] beckettsean commented on #4018
The problem is caused by the period in the tag name. Without the period everything works as intended.

Repro steps:

[code]

That last query should have returned two buckets for `page.group`, but instead it's using `page."group"`, which is a tag that doesn't exist. My best guess is the retention policy parsing is interfering, despite the tag key being double-quoted.

Here's the same data using a t

[2015-09-08 23:07] beckettsean commented on #3525
@RobMcZag I don't understand the difference. A query like `SELECT * FROM daily_temp WHERE temp < 25 GROUP BY time(1d)` will give you the answers you attribute to the `SELECT (temp < 25)...` query.

If you disagree, please open a new GitHub Issue describing your use case, and demonstrating how existing queries are insufficient.

[2015-09-08 23:07] beckettsean commented on #4022
@kenzodeluxe what version of the database? 0.9.3, nightly build, or master?

[2015-09-08 23:08] beckettsean commented on #4022
Sorry, I missed the header, nevermind.

[2015-09-08 23:13] beckettsean commented on #4031
@szop85 that requires nested queries. I've changed the title to reflect that.

Meanwhile you can get much of what you want with `select count(value) from mysql_value where type='mysql_commands' AND type = 'mysql_commands' group by type_instance`

The `GROUP BY type_instance` clause will output a separate COUNT for each value of `type_instance`. It should then be trivial to do the math in the clien

[2015-09-08 23:15] beckettsean commented on #4032
@noroute, given @jwilder's feedback it sounds like this is more a feature request for "I'd like to just drop measurements that don't match any of the templates". Is that true?

[2015-09-08 23:26] Jhors2 commented on #3967
@benbjohnson If I were to get the raw text output of the above URL and pass it along could you debug from there?  I can of course give you my proper version number and such.  It's difficult for us to run the commands on our boxes in prod that we can repro this on.

[2015-09-08 23:54] beckettsean opened #4044 "parser should throw error on WHERE time clauses with "now" instead of "now()""
I suppose it is possible that some day some person will want to compare a timestamp to a column named `now`, but in that case we can just require them to double-quote `now`.

Meanwhile, I think any `WHERE time` clause that mentions `now` is most likely an oversight, and the user intended to have `now()` instead. As it is, the query returns just fine but the entire `WHERE time` clause is ignored.

[2015-09-08 23:57] beckettsean commented on #3976
@cnelissen the DERIVATIVE function will do this, but you must tell it to provide the rate of change per minute, instead of the default 1 second.

`SELECT DERIVATIVE(value, 1m) FROM clicks WHERE time > now() - 1d GROUP BY time(5m)`

[2015-09-08 23:57] beckettsean commented on #3976
Actually, nevermind, I just realized I answered a different question. My apologies.

[2015-09-09 00:11] mjdesa opened #4046 "[0.9.4 built off master] Cant do arithmetic on multiple fields"
Any mathematical expression involving two fields causes influx to crash
[code]

[code]

[2015-09-09 00:29] sparrc commented on #3989
@francisdb I have a PR up to fix this, but you'll also have to note that Ubuntu 15.04+ uses systemd instead of sysv for daemons, so `service influxdb start` becomes `systemctl start influxdb`

[2015-09-09 00:45] otoolep commented on #4046
Dupe of https://github.com/influxdb/influxdb/issues/3200

[2015-09-09 00:46] otoolep commented on #3200
Too much else going on in 0.9.4 - pushing out.

[2015-09-09 00:50] beckettsean commented on #4046
@otoolep this seems cleaner than #3200, which has a lot of confusion about duplicate field names. Should we close #3200 in favor of this one?

[2015-09-09 01:01] otoolep commented on #4046
I'm OK with that @beckettsean

[2015-09-09 01:08] beckettsean commented on #3200
closing in favor of #4046, which is more generic and cleaner.

[2015-09-09 01:08] #3200 closed

[2015-09-09 02:14] jwilder commented on #3976
Derivative returns the rate of change between consecutive points.  Try:

[code]
That calculates the total clicks in 5m buckets and then the rate of change between each bucket normalized to a `1s` rate.  It produces `2.41 clicks/second` for your sample data.

[2015-09-09 02:28] airyland commented on #4020
SHOW TAG KEYS FROM event
----------------------------------------
device.brand
device.brand-model
device.browser
device.browser-version
device.os
device.os-version
event.action
event.category
event.label
page.url
page.x-app
page.x-app-version
page.x-block
page.x-page

SHOW FIELD KEYS FROM event
----------------------------------------------
device.id
device.ua
event.value
user.ip
user.uid
user.uui

[2015-09-09 02:31] airyland commented on #4020
I use Direct HTTP calls to insert points.

[2015-09-09 02:45] airyland commented on #4018
@beckettsean Sorry, I made a mistake, it was the comment intended for #4020.

[2015-09-09 02:55] huhongbo commented on #3917
yes lowering the wall size works for me
and the timeout for the engine is configurable?

[2015-09-09 03:00] jwilder commented on #3553
The only way I've seen an error like this is when querying against a measurement that is not fully replicated across the cluster (replication factor < # nodes), the coordinating node does not own the shard (remote mapping required) and one of the owning nodes is down.  In that case, I get a `connection refused` error which is not exactly the same but similar.  The original error messages show a `c

[2015-09-09 05:08] otoolep commented on #4017
This will require re-working the Graphite diagnostics, and I don't want to do that pre-0.9.4. Pushing out.

[2015-09-09 05:19] szop85 commented on #4031
@beckettsean thank you for your fast response! This will help out in few situations but maybe you can help me out a little bit more :)

My Problem is, that ```type_instance``` returns a bunch of values but I only need the ```show_*``` values. Is there a chance to get it back with something like a wildcard?
[code]

By client you mean Grafana, right?

![screen shot 2015-09-09 at 07 18 08](https://cl

[2015-09-09 05:40] otoolep commented on #3879
@cannium -- it looks like if we rename our pre-release packages something like:

influxdb-0.9.3rc2-1.x86_64

that might do it? I'm looking at the Mozilla source example.

The document is dense, if you know the right form, just let me know. :-)

[2015-09-09 05:43] otoolep commented on #3879
Or maybe `influxdb-0.9.3-0.1.rc2.x86_64` following  "Upgrade Path Example (alsa-lib)"

[2015-09-09 05:54] abhishekchoudhary commented on #4027
I've tried using `stop` + `start` in place of `restart`. My primary problem is that the server crashes a minute after the start, and even when the process is running, I receive 'connection refused' on requests, meaning I cannot access the old database backup at all.

Is this a known issue too?

[2015-09-09 06:05] otoolep commented on #3699
Should be fixed by #4053

[2015-09-09 06:32] cannium commented on #3879
I Believe `influxdb-0.9.3-0.1.rc2.x86_64` is the correct version:
[code]

[2015-09-09 06:56] sudabon commented on #3967
I use Bolt fix (boltdb/bolt#413) version above.
Progress of memory consumption still bothers me.

We have 91 measurements and retension policy is only 1h.
So data size is very small, i.e. about 70MB

[code]

However, Influxd holds about 3G memory.
I suspect influxd leeks memory.
OOM killer will kill this a week later.

[code]

I attach the screenshot of pprof SVG file.
Hope this helps

![pprof](ht

[2015-09-09 07:06] hkrizek commented on #3944
@beckettsean I tried it with coreutils-8.22-11.el7.x86_64 as a part of redhat-release-server-7.1-1.el7.x86_64 but still influxdb does not start.

[2015-09-09 07:14] francisdb commented on #3989
thanks for looking into this and the tip on the use of `systemctl`

[2015-09-09 07:38] ymettier opened #4054 "RPM : /etc/opt/influxdb/influxdb.conf or /etc/opt/influxdb/influxd ? (0.9.4-nightly-8f5f84e)"
Hello,

I just installed 0.9.4-nightly-8f5f84e rpm file and noticed something strange with configuration file...
[code]

Shouldn't the configuration file be named /etc/opt/influxdb/influxdb.conf ?

[code]

Yes it should. Of the init.sh script is bugged.
Have I missed something ?

Regards,
Yves

[2015-09-09 07:54] otoolep commented on #4054
Thanks @ymettier -- this was indeed a bug in our packaging script, that occurred only today. I have corrected it and regenerated the nightly builds. Please try again.

[2015-09-09 07:54] #4054 closed

[2015-09-09 08:40] ymettier commented on #4054
[code]

Try again...
[code]

Try again...
[code]

OK, it looks fine for me.

BTW, maybe you could do something in the version number of the rpm to prevent this upgrade issue ? Maybe you could add a date+release version before the commit number ?
That could would have been today :
* 0.9.4_nightly_20150909_1_8f5f84e
* 0.9.4_nightly_20150909_2_a7ba677

I'm not opening a new issue because I don't know

[2015-09-09 09:28] kev009 commented on #2637
One of the benefits of 'upstream' doing builds is the FreeBSD port would be a binary port due to the way go packaging works, with 'upstream' selecting the precise tags of the deps they want for the static go binary.  I haven't looked around to see if that is how other Golang ports are done on FreeBSD, or whether we repeat the build in ports ourselves like the current port does.

Anyway @xmj update

[2015-09-09 11:28] diiidiii commented on #1647
+1

[2015-09-09 12:08] corylanou commented on #4037
Normally I would say they should be treated just like identifiers, but I can't think of a use case where you would want to name your measurement, field, tag, rp, or database `true` or `false` so +1 :-).

[2015-09-09 12:10] corylanou commented on #4040
Related to https://github.com/influxdb/influxdb.com/issues/297

[2015-09-09 14:50] shaileshswapnil commented on #3946
yes I checked syslog, it had no info. So I investigated more, still couldn't find any reason for this type of behavior. But one possible reason could be, as we have distributed system with hundreds of daemons running all the time, and checking influxDB and Grafana to manage its working, that might killed have this influxDB process somehow. But still this problem is not traced, and it is happening

[2015-09-09 14:52] shaileshswapnil commented on #3946
yes I checked syslog, it had no info. So I investigated more, still couldn't find any reason for this type of behavior. But one possible reason could be, as we have distributed system with hundreds of daemons running all the time, and checking influxDB and Grafana to manage its working, that might have killed this influxDB process somehow.

But still this problem is not traced, and it is happening

[2015-09-09 14:54] jeremyVignelles opened #4056 "[master] [question] keep less and less data after time"
Hi,
I'm writing ~100MB of data in the influxdb per week, and I was wondering if it is possible to keep, let's say 1 data point per day for a year, and clear the other points after a week.

My first thought was to go on a solution with two retention policies, `week` and `year`, and to switch between these policies when writing in the HTTP protocol. However, When I later do the query
[code]
It only

[2015-09-09 16:02] #3989 closed

[2015-09-09 16:05] markuspatrick commented on #3171
@beckettsean: Sorry the problem stays the same in 0.9.3 :(

[2015-09-09 16:11] markuspatrick opened #4057 "[0.9.3] Reopen #3171"
Hi,

with closing #3000  the bug #3171 still exists. (@beckettsean: You thought it is a special case of #3000 and closed that issue. )

[2015-09-09 16:34] otoolep commented on #3879
@cannium -- what if you do: 0.9.3-1.rc2  vs 0.9.3-1 ?

Otherwise our packaging script is going to be painful.

[2015-09-09 17:23] otoolep commented on #3699
All fixed.

[2015-09-09 17:23] #3699 closed

[2015-09-09 18:13] beckettsean commented on #4020
Moving comment from https://github.com/influxdb/influxdb/issues/4018#issuecomment-138712740 to here:

[code]

[2015-09-09 18:14] beckettsean commented on #4020
@airyland can you paste in the log just before and including the panic when you run `select * from event where "event.value"=1099511758848` (The double-quotes are necessary to query the correct field. If the panic only happens without the double-quotes that indicates an entirely different issue.)

[2015-09-09 18:16] beckettsean commented on #3917
@huhongbo the engine timeout is not configurable. I'm glad to hear lowering the WAL size helped with the issue.

[2015-09-09 18:31] beckettsean commented on #4031
@szop85 yes, you can restrict the return using regex on `type_instance`:

`SELECT COUNT(value) FROM mysql_value WHERE type='mysql_commands' AND type_instance =~ /^show_.*/ GROUP BY type_instance`

I don't know if Grafana supports math on the returned query values but another client might, or you could put a small bit of code in between Grafana and InfluxDB to do the math.

[2015-09-09 18:37] beckettsean commented on #4027
That doesn't sound like a known problem. To be clear, you're saying that the server to which you restored the backup crashes a minute or two after launch, every time? The log files in your initial comment are from that server?

There is a period during startup when the HTTP service is not yet listening and writes and queries cannot be processed. It sounds as though the process is dying before the

[2015-09-09 18:42] beckettsean commented on #3946
@shaileshswapnil please provide the InfluxDB logs or there is nothing we can do to diagnose this.

[2015-09-09 19:03] beckettsean commented on #3171
Looks like it's something to do with DISTINCT in the denominator (using `curl` to show the `null` returns):

the `SUM` and `COUNT(DISTINCT)` queries run fine on their own (with a little integer math weirdness):

[code]

But dividing one by the other fails:

[code]

It appears to be isolated to the `COUNT(DISTINCT)` composite function. These all work:

[code]

but these fail:

[code]

[2015-09-09 19:03] #4057 closed

[2015-09-09 20:52] otoolep commented on #3851
@corylanou -- any chance you fixed this?

[2015-09-09 20:52] otoolep commented on #3619
Not going to look into this before 0.9.4 -- pushing out.

[2015-09-09 20:53] BGraco opened #4064 "build issues using go1.5 on armhf"
Running Debian on a beaglebone black i get

root@beaglebone:~# go get github.com/influxdb/influxdb
package golang.org/x/crypto/bcrypt: unrecognized import path "golang.org/x/crypto/bcrypt"

It seems others have had this issues as well, so just posting here for visibility:
http://stackoverflow.com/questions/31334197/failed-to-install-golang-org-x-crypto-bcrypt

I don't think this is an influx issue

[2015-09-09 21:04] BGraco commented on #4064
If the follow the work around in the link you then run into this issue:

root@beaglebone:~/gocodez/src/github.com/influxdb# go get -u -f -t ./...
package gopkg.in/fatih/pool.v2: unrecognized import path "gopkg.in/fatih/pool.v2"

[2015-09-09 21:08] corylanou commented on #3851
I think this is fixed by https://github.com/influxdb/influxdb/pull/4038.  @cerivera can you pull down the nightly tomorrow and see if it works?

[2015-09-09 21:09] otoolep commented on #3851
Thanks @corylanou -- I'm going to assume fixed.

@cerivera -- please let us know if you still see problems.

[2015-09-09 21:09] #3851 closed

[2015-09-09 21:16] otoolep commented on #3275
There haven been very significant changes to the storage engine since this ticket was filed, much of which was to help address timeouts. I'm closing this, please re-open if you still see issues.

[2015-09-09 21:16] #3275 closed

[2015-09-09 21:16] otoolep commented on #3368
We have improved CQ performance and believe this issue has been addressed.

[2015-09-09 21:16] #3368 closed

[2015-09-09 21:17] otoolep commented on #3164
I don't believe there is anything more to do here.

[2015-09-09 21:17] #3164 closed

[2015-09-09 21:18] otoolep commented on #3123
Nothing planned for this right now.

[2015-09-09 21:18] otoolep commented on #2867
I believe systemd has been handled correctly for 0.9.4.

[2015-09-09 21:18] #2867 closed

[2015-09-09 21:19] otoolep commented on #3423
All done for 0.9.4

https://github.com/influxdb/influxdb/pull/4043

[2015-09-09 21:19] #3423 closed

[2015-09-09 21:20] otoolep commented on #3346
Sounds like we can close this @beckettsean ?

[2015-09-09 21:21] otoolep commented on #3266
I believe our logging is now OK. Please let us know if not.

[2015-09-09 21:21] #3266 closed

[2015-09-09 21:26] BGraco commented on #4064
Issue was my system time had gotten messed up.
Running 'ntpdate -b -s -u pool.ntp.org' resolved all my issues!

[2015-09-09 21:26] #4064 closed

[2015-09-09 23:52] #3346 closed

[2015-09-10 00:01] beckettsean commented on #4056
@jeremyVignelles as this is more of a question than a bug or feature request, it would be better posted to the mailing list, influxdb@googlegroups.com.

We will be publishing a guide to downsampling later this week which should have the answers you need.

Closed by https://github.com/influxdb/influxdb.com/pull/286 (when it happens)

[2015-09-10 00:01] #4056 closed

[2015-09-10 01:18] cannium commented on #3879
[code]
You could install the tool by `yum install rpmdevtools` and compare them yourself.

[2015-09-10 02:08] otoolep commented on #3879
Thanks for that.

I am running Ubuntu, and it's a pain getting those tools, short of spinning
up a Fedora VM. I will though, need to run some more checks.

On Wednesday, September 9, 2015, can. <notifications@github.com> wrote:

[2015-09-10 02:25] airyland commented on #4020
Sorry, I have to drop the database and reinsert points as other people needed the correct data.

But this also happens in another measurement with different problem.

I am sure I didn't import a point with such a big number. I checked my code and make sure that every "event.value" equals '1i'.

`select * from event `=> panic
`select select distinct("event.value") from event` =>

[code]

but `selec

[2015-09-10 02:53] ecables commented on #3238
Running 0.9.3-final, and I'm seeing the same problem on one of the nodes in the cluster. This happened after a `/etc/init.d/influxdb stop/start` to clear out memory due to an InfluxDB memory leak that is actively being diagnosed.

Logs:
[code]
`show servers` isn't indicating that node 6 exists:
[code]

[2015-09-10 04:22] k0ste commented on #3944
Resolution (dirty):

[code]

Create symlink libbz2:

[code]

Check it:

[code]

Now all works.

[2015-09-10 05:12] hkrizek commented on #3944
@k0ste your workaround works for me :)

[2015-09-10 08:55] papylhomme commented on #3802
Unfortunately no, I'm currently reinstalling the system after a disk crash. I'll test with the latest version and let you know asap.

[2015-09-10 10:34] joakimberglund commented on #3921
@beckettsean Just had exactly the same problem as @olivierHa

Tried uppgrading to latest 0.9.4-nightly, before doing anything else.. no luck though, had to rm -rf two of the databases in the wal directory to get it going again.
(sadly I can't (aren't allowed) upload more info on it, like logs)

Will get back if the problem returns

[2015-09-10 10:55] codehate opened #4067 "Wrong date while saving to influx"
I'm trying to dump data from MySQL to influx. Say i get timestamp and value from mysql in the following format:

[code]
To would return: `1336560057, 2012-05-09 16:10:57`

But when i store the time stamp `1336560057` in influx it's storing time stamp `1970-01-01T00:00:01.336560057Z`.

[2015-09-10 11:04] DanielMorsing commented on #4067
Influxdb uses nanoseconds from the epoch if nothing else is specified, so it's behaving as intended. If you want to write with second precision you can add the query parameter `precision=s` to the writing HTTP request.

[2015-09-10 11:07] codehate commented on #4067
Thank you for the response. But while i'm doing this `abc,host=server01,region=europe value=0.64 precision=s 1336560057` a error is thrown `unable to parse 'abc,host=server01,region=europe value=0.64 precision=s 1336560057': bad timestamp`

[2015-09-10 11:14] codehate commented on #4067
Gotcha. `&precision=s` in URL worked like charm.

[2015-09-10 11:20] codehate commented on #4067
When I'm doing this: `abc,host=server01,region=us-west value=0.64 1403538329` it's saving as `2014-06-23T10:45:29Z` but it's `2014-06-23T15:45:29Z` in database.

[2015-09-10 11:28] DanielMorsing commented on #4067
Which timezone is the MySQL server in? InfluxDB returns all times as UTC, so that might be the cause of the offset.

[2015-09-10 11:29] codehate commented on #4067
Thanks a lot @DanielMorsing that is it.

[2015-09-10 11:29] #4067 closed

[2015-09-10 12:26] diiidiii commented on #3882
I used the null=true statement of @mjdesa and got now the following structure:

tags: host=iqtsdb01, measurement=system_load1
time                    null    value
----                    ----    -----
2015-09-09T17:01:40Z    true
2015-09-09T19:01:40Z    true
2015-09-09T20:21:00Z    true
2015-09-09T22:21:00Z    true

name: annotation
tags: host=, measurement=
time                    null    value

[2015-09-10 13:04] hajs commented on #3967
Hello I was experiencing the same while trying to import one week of metrics from an other database into Influx. The memory usage grows continuously. I could see the problem with 0.9.2, 0.9.3 and the daily snapshot from yesterday.

If you provide me your email-address I can point you to my private server where you can download the anonymized data-set to reproduce the problem (220 MB tar.bz2/5.3 GB

[2015-09-10 13:41] mjabrandao commented on #3835
Hi,

I'm also having an "out of memory" issue, and I hope this info can help.

If this is not related to this issue please move to the correct issue or create a new one.

When trying to drop a measurement:

[code]

At this point I can't even start InfluxDB service because after starting the service the 8GB memory are completely exhausted in 12 seconds and ends with an "out of memory" error.

[code

[2015-09-10 14:06] szop85 commented on #4031
Hello @beckettsean,

thank you for your help :). We can close this comment.

Cheers,
Szop

[2015-09-10 14:07] matwey commented on #3879
It is probably should be influxdb-0.9.3~rc2, AFAIR ~ has special meaning in RPM version lexicographical comparison. It is always less even than end of the string.

[2015-09-10 14:57] hkrizek opened #4068 "[0.9.3-1] CQ does not do calcullation periodically"
I have this CQ:
`
CREATE CONTINUOUS QUERY measure_10s_mean ON statsdb BEGIN SELECT mean(value) INTO "measure.10s.mean" FROM measure GROUP BY time(10s) END
`

Data are written to measure every 10s. Data in measure:
[code]

Data in "measure.10s.mean" - result of CQ:
[code]

Several points are missing in "measure.10s.mean" between 2015-09-10T14:08:00Z and 2015-09-10T14:09:40Z

When I run query from C

[2015-09-10 17:00] #3978 closed

[2015-09-10 17:19] mjdesa commented on #3882
@diiidiii I'm having a hard time following what you're trying to do.

[2015-09-10 17:24] beckettsean commented on #3238
@ecables is the cluster functional otherwise? Can you do a `du -h` on the `/hh` directory?

[2015-09-10 17:33] Jhors2 opened #4069 "[0.9.4-nightly-5e3fa1e] Cluster Write Panic"
Hello,
I just upgraded to 0.9.4 nightly, I am running a 3 nod ecluster.  I experienced the below panic when doing a sum(value) aggregate query.  There was also write load on the system.
[code]

[2015-09-10 17:49] #4031 closed

[2015-09-10 17:50] beckettsean commented on #4031
Thanks, @szop85, glad we could help address your needs.

[2015-09-10 18:01] pauldix commented on #3967
After a bunch of testing, we've determined that the underlying index just can't keep up with the insertion load that the WAL makes possible. To prevent the system from going OOM and dying we're going to put back pressure on the write clients and start failing writes when memory gets too high. See #4066.

We're also working on a massive storage engine upgrade that will fix this. Should be available

[2015-09-10 18:02] pauldix commented on #4022
After a bunch of testing, we've determined that the underlying index just can't keep up with the insertion load that the WAL makes possible. To prevent the system from going OOM and dying we're going to put back pressure on the write clients and start failing writes when memory gets too high. See #4066.

We're also working on a massive storage engine upgrade that will fix this. Should be available

[2015-09-10 18:03] pauldix commented on #3847
After a bunch of testing, we've determined that the underlying index just can't keep up with the insertion load that the WAL makes possible. To prevent the system from going OOM and dying we're going to put back pressure on the write clients and start failing writes when memory gets too high. See #4066.

We're also working on a massive storage engine upgrade that will fix this. Should be available

[2015-09-10 18:03] pauldix commented on #3835
After a bunch of testing, we've determined that the underlying index just can't keep up with the insertion load that the WAL makes possible. To prevent the system from going OOM and dying we're going to put back pressure on the write clients and start failing writes when memory gets too high. See #4066.

We're also working on a massive storage engine upgrade that will fix this. Should be available

[2015-09-10 18:08] jhorwit2 commented on #3967
So, if I understood that correctly, once memory gets too high it's just going to fail every write instead of OOMing?

[2015-09-10 18:09] jhorwit2 commented on #3967
Because from what I have noticed, i could not write to a database for hours and the WAL doesn't get flushed.

[2015-09-10 18:13] pauldix commented on #3967
Right, it's going to fail writes until it is able to flush everything to the index to relieve memory pressure. This will only happen if you're sending more writes than the underlying index can handle.

Before, if you OOM'd and then tried to bring things back up, it would spend a large amount of time reading the WAL from disk. This should limit that a bit since it won't just keep filling up the WAL

[2015-09-10 18:23] jhorwit2 commented on #3967
` Bolt is going to get removed from the whole system in the next storage engine, which should be testable in a nightly build within a few weeks.`

Does that mean a migration?

[2015-09-10 18:41] beckettsean commented on #3944
Thanks for the expert debugging, @k0ste and @hkrizek

@otoolep or @corylanou can you add the required symlink to the 0.8.9 RPM?

[2015-09-10 18:52] beckettsean commented on #4069
@Jhors2 is the panic repeatable or transient? I.e. does the query panic every time or just sometimes?

[2015-09-10 19:02] beckettsean commented on #4068
@hkrizek Can you post your logs from the same time period? It should show when the CQ is running, as well as when the writes are posting.

[2015-09-10 19:03] beckettsean commented on #4068
This is what a CQ is, a query that runs every x time interval of the previous x interval. A CQ with a `GROUP BY time(10s)` runs every 10 seconds over the previous 10 seconds worth of data.

Using a GROUP BY time that is equal to the data rate might lead to some race conditions. That's why I want to check the logs.

[2015-09-10 19:11] beckettsean commented on #3882
@diiidiii a point is uniquely defined by it's measurement name, the full tag set, and the timestamp. If you change the tags, it's not the same point. What @mjdesa suggested was setting the *fields* to something irrelevant like `null=true`. When you write a point with the same measurement name, same timestamp, but different *tag keys* OR *tag values*, you are writing a new point, not overwriting a

[2015-09-10 19:16] hkrizek commented on #4068
@beckettsean here is gist snippet from log file: https://goo.gl/SaRzpj

[2015-09-10 19:21] beckettsean commented on #4020
Please paste in a sample of your write statements for the `event` measurement.

[2015-09-10 19:56] ecables commented on #3238
It *seems* functional...
[code]

[2015-09-10 20:06] kenzodeluxe commented on #4022
Thanks! Looking forward to getting the fix.

[2015-09-10 20:07] otoolep commented on #4022
0.9.4-rc1 contains the change that writes will start failing if memory usage gets too high.

  https://s3.amazonaws.com/influxdb/influxdb_0.9.4-rc1_amd64.deb
  https://s3.amazonaws.com/influxdb/influxdb-0.9.4_rc1-1.x86_64.rpm

[2015-09-10 20:20] Jhors2 commented on #1821
I started using the TOP aggregate which works VERY close to what we are looking for. With that being said, I think it makes a lot of sense for the TOP group by time to be agnostic of the group by time bucket that represents the granularity of data that is returned.

What I mean is we would prefer to do something like "select top(value, pop, 5, 10m) from cpuUtil group by time(1m)".  This would allo

[2015-09-10 20:31] Jhors2 commented on #4069
I can't consistently reproduce this unfortunately.  I have been running the same query set since the upgrade 6+ hours ago and I can't narrow down what query is causing the panic.  The core of our queries are using sum(value).  We do create new series very often.  This panic just dumped within the last 10 minutes or so (Seems to be a slimmed down version of the above panic.

[code]

It seems the tr

[2015-09-10 20:37] beckettsean commented on #3238
Thanks, @ecables. One more diagnostic request, can you paste it the contents of `/meta/peers.json` from the three actual active nodes?

@jwilder or @mjdesa thoughts on what might be going on? Looks like the cluster is convinced there are two data nodes that no longer exist and is queueing up hinted handoff for them. Is that correct? If so, is there a workaround? Hack `peers.json` to be correct and

[2015-09-10 21:17] otoolep commented on #4069
@jwilder

[2015-09-10 21:18] otoolep commented on #4069
Are all nodes running the same version of software?

[2015-09-10 21:20] Jhors2 commented on #4069
Yes, all nodes are running 0.9.4-nightly-5e3fa1e currently.

[2015-09-10 21:27] jwilder commented on #4069
Looks like a node is trying to send a write to another node that owns the a shard and it's panicing on a, possibly, nil string field.  What write inputs are you using?  Anything other than the HTTP API?

[2015-09-10 21:28] Jhors2 commented on #4069
We are only using the HTTP API for input only.  Using the Line Protocol as our serialization mechanism.

[2015-09-10 21:30] otoolep commented on #4069
@Jhors2 -- can you try disabling the internal stats-recording mechanism? Add this to the config file:

[code]
This is a new feature, that takes the output of `SHOW STATS` are records in the database for historical analysis.

[2015-09-10 21:34] Jhors2 commented on #4069
I disabled the monitoring config now.  I'll report back if I can repro the panic.  For what it is worth, I changed the retention policy config to have a replication factor of 3 so the stats would be available on all nodes should a node die.

[2015-09-10 21:44] otoolep commented on #4069
OK, thanks, @Jhors2 -- please let us know if everything does look good, so we know there may be a question about monitoring.

Please note that this does not affect the functionality of `SHOW STATS` -- that is still available.

[2015-09-10 21:47] otoolep commented on #1821
@corylanou -- any comment on the feedback above?

[2015-09-10 21:49] otoolep commented on #3944
@beckettsean -- I'm not sure having the package create the symlink would be the right thing to do. I would love to know if there is precedent for packages doing something like this.

As far as I know there is no guarantee that `libbz2.so.1.0` will exist the place shown above. Installers of that library could install it in different locations.

[2015-09-10 21:53] dswarbrick commented on #3967
This is the second storage backend replacement since the 0.8 series was announced as being EOL. IMHO, this really erodes its credibility as a viable solution for scalable time series metrics.

[2015-09-10 22:38] Jhors2 commented on #4069
@otoolep
It seems the issue is still occuring with monitoring disabled on all nodes.  See here:
[code]

[2015-09-10 22:43] otoolep commented on #4069
You bounced the nodes, right, after setting that flag?

[2015-09-10 22:57] Jhors2 commented on #4069
Yes, the service was restarted on all nodes after setting the false flag.

[2015-09-10 23:01] ecables commented on #3238
Requested output is below; all nodes are reporting the expected nodes in the peers.json file, along with `show servers` output.

db1.domain.com:
[code]
db2.domain.com:
[code]
db3.domain.com:
[code]

[2015-09-10 23:31] otoolep commented on #4069
@Jhors2 - we could provide an instrumented build that would dump the points before it panics. It would not prevent the panic. Would this be something you could work with?

[2015-09-10 23:37] beckettsean commented on #4068
@hkrizek I think my understanding of how CQs operate might be out of date.

@dgnorton any thoughts on why the `measure_10s_mean` CQ is not running every ten seconds, but instead every two minutes? I see in the default config file there's a setting ` compute-no-more-than = "2m0s"` under `[continuous_queries]`. Does that somehow restrict CQs from running more often than every two minutes, or is that

[2015-09-10 23:51] Jhors2 commented on #4069
@otoolep
Sure, I would be willing to run that, if you can provide a debian package for me to install that would allow me to implement it even sooner.

[2015-09-11 00:14] otoolep commented on #4069
https://s3.amazonaws.com/influxdb/influxdb_0.9.4-4609_amd64.deb
https://s3.amazonaws.com/influxdb/influxdb-0.9.4_4609-1.x86_64.rpm

When it goes down, please send us the log. The problematic points should be dumped in the logs, and we'll take a look.

[2015-09-11 00:19] Jhors2 commented on #4069
Running the above build now.  I'll report back as soon as I can repro.

[2015-09-11 00:43] otoolep commented on #4069
Our analysis in here suggests that this may be caused by a problematic measurement name.  While we have a lot of testing for various bad data,  it is always possible we missed something, and an invalid measurement name is getting into the system.

 Do you have any idea if it could be something like this, knowing your data?

[2015-09-11 00:44] otoolep commented on #4069
For example, some strangely escaped characters in a measurement name.

[2015-09-11 00:52] Jhors2 commented on #4069
I try not to insert any characters that would even require escaping.  With that being said there is the weird occasional trailing space that makes it through a lot of metric cleanup before writing into the system.  I'll be curious what points are dumped from the trace build.

[2015-09-11 02:27] pauldix commented on #3967
@jhorwit2: No migration will be required, you'll be able to run both in parallel. Older data will still be stored in Bolt. Newer data will be stored in the new engine. Our target is to get the engine out in the 0.9.5 release, but that will depend greatly on how testing goes.

@dswarbrick: To your comment, we went with Bolt because we thought it would be the most stable way to get something that wa

[2015-09-11 02:32] pauldix commented on #1821
I stupidly left this comment in the Grafana thread, but it really belongs here since it's related to the InfluxDB query language.

Tags are associated with the series itself, so in the example result set it doesn't make sense. There are multiple servers in the result of each series so a single tag wouldn't map. In fact, each of the series returned would be best represented as a scatter plot of a d

[2015-09-11 02:46] Jhors2 commented on #1821
You are absolutely correct, this really should be two queries,   The idea behind connecting the points is the fact that consistently the same results would return for what the "top" aggregate time bucket is queried as.

In my example of top(value, pop, 5, 10m).  We can then insure that in that 10 minute span the same tag set will return.  In that tag set I want 10 points strung together once per m

[2015-09-11 02:59] dgnorton opened #4076 "line protocol parser panics"
While trying to reproduce issue #4069, I wrote a brute force test for the line protocol parser, which found that the following inputs cause `tsdb.ParsePointsString` to panic:

[code]
However, none reproduce the issue mentioned above.

/cc @jwilder

[2015-09-11 03:16] dgnorton commented on #4076
Most are probably duplicates.  They all look similar to one of the following:
[code]
[code]

[2015-09-11 03:29] beckettsean commented on #4076
@dgnorton those points look a lot like like "hello world" in brainfuck.

--
Precision thumbed for accuracy

[2015-09-11 04:19] mblackstock opened #4077 "[0.9.4.1] 'order by time desc' query does not order by time with different tags"
Testing out #2022 I came across this problem.  Version 0.9.4-rc1

Using CLI:
[code]
Note that most recently added point is 4th in the list.  Adding another point with a different tag:
[code]
Note that most recently added point is again 4th in the list.

[2015-09-11 04:46] huhongbo commented on #3847
good news

[2015-09-11 05:05] Jhors2 commented on #4069
@otoolep Responded with the output offline.

[2015-09-11 05:57] diiidiii commented on #3882
Ahh now i understand... Thank you for your help :)

[2015-09-11 06:20] hajs commented on #3967
@pauldix: So what is the best practice if a write failure message will be returned? Should the client wait a second or send a smaller chunk?
When I am bulk importing a lot of data will the whole write http-request be disregarded or will only a part of the data be saved?

[2015-09-11 06:47] guaiguaihw opened #4078 "I write a influxdb tool to move data from one database to anthoer, it does not work well, why?"
I just wirte a tool used  golang  to  move  data  from one database to another ,but  there is something wrong I can't  solve.......here is my system:
![3](https://cloud.githubusercontent.com/assets/11972366/9808565/b3bcd876-5892-11e5-98fc-a579a68766d7.png)

database A which I want to get the data:
*****************************************************************************************************

[2015-09-11 07:12] litchfield commented on #192
Just ran into this too :frowning:

[2015-09-11 07:13] beckettsean commented on #4078
The field type conflict indicates that database B has that same field already defined as a `string`, not a `float64`. Run `DROP MEASUREMENT "shanghai-gov-req.statuszero.10s"` to remove all field definitions on database B and re-run your code.

[2015-09-11 07:13] #4078 closed

[2015-09-11 07:15] guaiguaihw commented on #4078
Besides:
I really want to make some complaints  for some bugs of  influxdb:
*******************************************************************************************************************************
when I want to create a database named:  collect.cpu.idle, Here is the  steps:
![8](https://cloud.githubusercontent.com/assets/11972366/9808784/24330bdc-5895-11e5-893f-85cc5335b99b.png)

then I  w

[2015-09-11 07:15] beckettsean commented on #192
@litchfield on 0.8 or 0.9? If 0.9, what exact version?

This issue references an 0.8 problem, and I know from experience that submitting points in the future works just fine in 0.9.0-0.9.3.

[2015-09-11 07:25] beckettsean commented on #4078
@guaiguaihw what you describe are not bugs, please review the docs to understand when quotes are necessary and when they are not.

Because for the `USE` command there is absolutely no ambiguity about what comes next. It will ALWAYS be a database name, and if it isn't, fail. In any other context, a string with periods may represent `database.retention_policy.measurement`, and therefore any measurem

[2015-09-11 07:25] guaiguaihw commented on #4078
.................................the data of B is actually float, It can not be string. There must be something wrong  .By the way, I really suppose you to make a standard format...

[2015-09-11 07:27] beckettsean commented on #4078
@guaiguaihw I'm not going to debug your code. If you want to recreate the problem with direct `curl` or CLI commands I'd be happy to help, but what you describe is almost certainly a bug with your code, not in InfluxDB. Your serious lack of understanding about the proper way to use quotes and double-quotes only reinforces my certainty on this issue.

[2015-09-11 07:38] beckettsean commented on #4078
Completely false. A field written as `offset=888.3` is a `float64`. A field written as `offset="888.3"` is a `string`.

[2015-09-11 07:40] dswarbrick commented on #3967
@pauldix Thanks Paul, I appreciate your detailed response, and look forward to testing the new storage engine in a few weeks. You can be sure we'll hit it hard ;-)

[2015-09-11 08:05] guaiguaihw commented on #4078
I  know  that,  I  just wirte  data to A  like  below:
![1](https://cloud.githubusercontent.com/assets/11972366/9809564/0ddcbed0-589c-11e5-8471-b130c80eeebb.png)
as you say, it's  float64. But in my program, I judge the type of  this value:
![2](https://cloud.githubusercontent.com/assets/11972366/9809604/5c27bee6-589c-11e5-828d-44adcca93006.png)
And return  the result  all  false, is there somethi

[2015-09-11 08:43] callmeru opened #4079 "Error when installing influxdb from influxdb_0.9.3_amd64.deb"
I have installed my influxdb from https://s3.amazonaws.com/influxdb/influxdb_0.9.3_amd64.deb.
However, after I start influxdb and open influx shell, I bump into this error:

$ sudo /opt/influxdb/influx
Connected to http://localhost:8086 version InfluxDB v0.8.8 (git: afde71e) (leveldb: 1.15)
InfluxDB shell 0.9.3

ERR: json: cannot unmarshal number into Go value of type struct { Results []client.Res

[2015-09-11 09:44] xo4n commented on #3967
@pauldix might I ask why not keeping leveldb as storage engine as in 0.8.8? what will the new storage engine address better than leveldb? We are still using 0.8.8  with leveldb and we are handling at the moment an incoming traffic of 2.5Mbps, with daily shards of 30GB aprox and a total db size of 3TB.

[2015-09-11 09:50] harryshayne opened #4080 "why can't write the data with same timestamp(nanosecond) and same kv pair?"
why can't write the data with same timestamp(nanosecond) and same kv pair?for example,write data like this twice:
test,host=server02,region=us-west value=0.12 1422568543702900257
test,host=server02,region=us-west value=0.12 1422568543702900257

in influxdb0.8,it's ok,diff this two with seq number, but in influxdb0.9, can't do,without seq number.

[2015-09-11 11:18] pkittenis commented on #3967
Many thanks for your detailed explanation Paul - we are eagerly awaiting the new release and will surely test its limits :)

While 0.9 is not quite there yet and performance is a bit poorer compared to 0.8, every subsequent release has increased both performance and stability and the development team has been very engaging and forth coming with reported issues.

@xo4n - I suspect the answer to tha

[2015-09-11 11:58] #3902 closed

[2015-09-11 12:15] matejzero commented on #3976
I'm saving network traffic as counter value (not rate, ie StoreRates disabled in collectd). I then want to graph rate in Grafana, but the problem is that grafana changes Group by interval depending on the timespan I select, so that InluxDB returns a sane number of results.
Copied from Grafana:
* Group by time is important, otherwise the query could return many thousands of datapoints that will slo

[2015-09-11 13:11] matejzero opened #4081 "Calculating rate of traffic"
I'm pushing counter values (not rate) of network traffic from server to influxdb. I want to show that metrics on the graphs in Grafana. My goal is to always have bytes/s, no matter the timespan I select.

I'm using influxdb version 0.9.3.

My data looks like this:
2015-09-11T11:59:40Z	913298868833
2015-09-11T11:59:50Z	913301354816
2015-09-11T12:00:00Z	913303891905
2015-09-11T12:00:10Z	913307028649

[2015-09-11 13:12] matejzero commented on #3976
Moved my question to #4081

[2015-09-11 13:25] DanielMorsing commented on #4081
`derivative` takes an optional second argument that changes which unit the derivative returns. You can use `derivative(value, 1s)` if you want to see the rate per second within the `group by` time

[2015-09-11 14:30] pauldix commented on #3967
@hajs: The entire write request will be rejected. The client should wait a few seconds and then restart. If you hit a point where writes are getting rejected because its that backed up, it can take as much as 10-30 seconds for it to flush out.

@xo4n: LevelDB won't work for us because it isn't able to do hot backups and the number of file handles it opens up were a problem for a number of users. T

[2015-09-11 14:32] pawan1987 opened #4082 "[0.9.2] Recovering after disk full"
Hi,

I am using influxdb version 0.9.2.  My influxdb partition is running at 99% disk usage. I deleted few measurements but there is no reflection on disk usage. Now I have setup the retention policy too. But not sure how to enforce it.

Can you please suggest a way to recover space without dropping database ?

Any help will be appreciated.

[2015-09-11 14:33] shilpapadgaonkar opened #4083 "create user with admin role"
Hello,
How can i create a user with admin role?
When i tried
CREATE USER test WITH PASSWORD '*******'

user    admin
test    false

It sets admin as false. What is the command to set the admin value to true?

Thanks,
Shilpa

[2015-09-11 14:47] pawan1987 commented on #4082
I can't see any of my metrics after dropping few measurements. influxdb stopped with panic. Had to start it.

---
panic: runtime error: slice bounds out of range

goroutine 8293249 [running]:
github.com/influxdb/influxdb/tsdb.(*FieldCodec).DecodeByID(0xc20df04a50, 0xc20ae4ba09, 0x7f8b6b3f61d4, 0x30, 0x7fffffed, 0x0, 0x0, 0x0, 0x0)
        /root/go/src/github.com/influxdb/influxdb/tsdb/shard.go:103

[2015-09-11 14:51] pawan1987 commented on #3840
I too faced the same issue. Here is the error and retention policy ?

---

name            duration        replicaN        default
default         0               1               false
metricspolicy   336h0m0s        1               true

panic: runtime error: slice bounds out of range

goroutine 8293249 [running]:
github.com/influxdb/influxdb/tsdb.(FieldCodec).DecodeByID(0xc20df04a50, 0xc20ae4ba0

[2015-09-11 15:10] jhorwit2 commented on #3967
Is there a ticket tracking the new work?

[2015-09-11 15:18] pkittenis commented on #3967
Was referring to write amplification in the 0.8 series. It's true 0.9 is more heavy on iops with very large spikes, 0.8 had a constant but low iops rate which was great.

[2015-09-11 15:26] pauldix opened #4086 "Create new storage engine"
The why is littered over the last two years of issues. The how is my well guarded secret. This is mainly to track things so people can see when it's done.

I'll put together a very detailed writeup when this is done, but in the meantime here's what it should do:

* Shouldn't require data migration for users upgrading from 0.9.x
* Hot backups
* Compression significantly better than what is availabl

[2015-09-11 15:28] pauldix commented on #3967
@jhorwit2 Sure, I just opened #4086.

@pkittenis sure, knew you meant that. I just meant that I think write amplification is better than big IOPS for this use case so we're headed back in that direction :)

Closing this issue out now since it was fixed by #4066, but the real underlying issue is that we need to support higher write throughput. That will be fixed when #4086 is resolved. Please watch

[2015-09-11 15:28] #3967 closed

[2015-09-11 15:30] pauldix commented on #4080
This is by design in 0.9. If you need two points with the same nanosecond timestamp, create additional series by adding tags. For your example, it's not legitimate to have two data points at the same timestamp since they'd either be identical values, or different values (which would be impossible because you'd have a sensor reporting two different values for the exact same moment in time).

[2015-09-11 15:30] #4080 closed

[2015-09-11 15:34] pauldix commented on #3885
Created a new issue to solve this problem so I'm closing this out to consolidate things. Please track it at #4086.

[2015-09-11 15:34] #3885 closed

[2015-09-11 15:35] jhorwit2 commented on #4086
:+1:

[2015-09-11 15:35] pauldix commented on #3917
Closing this out as it should be fixed with #4066 and all the other stuff. For the issue of overall throughput and improving that, please track #4086

[2015-09-11 15:35] #3917 closed

[2015-09-11 15:42] pauldix commented on #3847
Closing this out to consolidate. Track #4086 for when this is done.

[2015-09-11 15:42] #3847 closed

[2015-09-11 15:42] gunnaraasen commented on #4083
The syntax for granting privileges is explained on the [administration page](https://influxdb.com/docs/v0.9/administration/administration.html#privilege-control) in the docs.

To add admin privileges to a newly created user, you need to add `WITH ALL PRIVILEGES` at the end. E.g.

[code]

[2015-09-11 15:42] #4083 closed

[2015-09-11 15:43] pauldix commented on #3835
Closing this out to consolidate things. Track #4086 for when this is done.

[2015-09-11 15:43] #3835 closed

[2015-09-11 15:47] pauldix commented on #3748
This is an issue where the index can't keep up with the WAL. We've added back-pressure to the WAL in #4066 so memory doesn't grow unbounded.

For the larger issue of improving write throughput, track #4086. Closing this out to consolidate things there.

[2015-09-11 15:47] #3748 closed

[2015-09-11 15:49] pauldix commented on #3528
This seems to be related to the overall storage engine issues we're having. I'm closing this out to consolidate all these in one place. We're working on a new storage engine that should fix this. Track #4086 to see when it gets done and to read a full writeup when it's available in a nightly build.

[2015-09-11 15:49] #3528 closed

[2015-09-11 16:06] torkelo commented on #2555
One thing I am not sure about is how to do a roll up of my 10s data into 1m series, keep all tags for each series (series = measurement and unique tag set).

[code]

So this looks nice, the measurement back reference will allow for a generic rollup rule. But wont the query above (taken from your tests) loose all tag data? Since there are not group by tag it looks like it.

And if the group by tag

[2015-09-11 16:21] Jhors2 commented on #4086
Paul, can you at all comment about read performance as well?  Obviously the non blocking architecture should make read times more consistent.  Just curious what preliminary benchmarks of the storage engine are looking like.

[2015-09-11 16:29] beckettsean commented on #4079
I don't think there is any explanation other than somehow an 0.8.8 InfluxDB
server is installed on local host. Not only that, it's up and running. The
CLI is mostly just a wrapper for `curl`, so if it is reporting that version
string, there's a live database sending that version string.

The only other explanation would be That somehow the version string is
wrong in the Debian package and no one e

[2015-09-11 16:30] beckettsean commented on #4079
What does `ps -ef | grep influx` show?

--
Precision thumbed for accuracy

[2015-09-11 16:34] pauldix commented on #4086
@Jhors2: It's hard to say at this point. We're still working out some stuff on compression. I benchmarked something and it was slightly faster than 0.9.4 (bz1), but we really won't know for sure until later.

The storage engine itself should be fairly fast if your working set fits in memory. We'll be improving query performance through updates in the query engine.

[2015-09-11 16:37] beckettsean commented on #2555
Use `GROUP BY *` to group by all tags without having to reference them
specifically.

--
Precision thumbed for accuracy

[2015-09-11 16:43] igorcanadi commented on #3967
I am really excited to learn more about your new storage engine. It's good to have more people innovating in that space.

Are you still considering having an option of multiple storage engine backends? I think RocksDB could be a viable alternative, especially for users with high write rate. We use RocksDB as a storage for time series data at Facebook.

RocksDB can do hot incremental backups: https

[2015-09-11 16:44] torkelo commented on #2555
@beckettsean that is great, need to try 1.9.4-rc1 !!

[2015-09-11 16:52] matejzero commented on #4081
This looks like it returns the right results (bytes per second), but I think group by time is not working correctly.

Query
`SELECT derivative(value,1s) FROM "interface" WHERE "fqdn" = 'graphite' AND time > now() - 1h group by time(60s)`

returns
[code]

Shouldn't it return something like (notice the time buckets):
[code]

[2015-09-11 17:33] otoolep commented on #3840
This issue has been fiixed in 0.9.3 later.

https://influxdb.com/download/index.html

[2015-09-11 17:33] otoolep commented on #3840
The stack trace immediately above has, that is.

[2015-09-11 17:55] beckettsean commented on #4079
@callmeru are you also the person who opened the [Stack Overflow question](http://stackoverflow.com/questions/32517328/influxdb-0-9-3-installation-getting-error), or do we somehow have two independent reports?

[2015-09-11 17:58] ericjmiller opened #4087 "[0.9.3] (regression) Continuous Queries results not calculated for every interval"
I have created a Continuous Query similar to the following:

    CREATE CONTINUOUS QUERY min_best_score ON hadoop_jobs BEGIN
    SELECT MIN(best_score) INTO min_best_score FROM scores GROUP BY time(5s)
    END

Data from "scores" comes every 0.05 seconds roughly for about 15 minutes.  When the 15 minutes starts, the Continuous Query may show 3-5 results for the entire 15 minutes - definitely not e

[2015-09-11 18:25] mblackstock commented on #4077
Seeming related problem today in case it helps track this issue down.

I'm finding it hard to reproduce, but when I selected data in time ascending order (default) I get all of the data.  When I queried in reverse order, I get only two points (see below).  Tried the same query again later, and all of the data came in, but with the order messed up as previously reported (below)

[code]

later:

[co

[2015-09-11 19:25] #3718 closed

[2015-09-11 20:17] corylanou commented on #3457
This actually turns out to be a problem ONLY if the measurement matches the first segment of the field being asked for.

fails:
[code]

works:
[code]

[2015-09-12 14:46] aheusingfeld opened #4088 "Influxdb stop fails with runtime error if configured graphite DB does not exist"
It seems that a new "feature" in 0.9.3 is that InfluxDB refuses to start if the configured database for the graphite plugin does not exist. Apart from complicating the initialization process e.g. of a docker based deployment (see https://github.com/tutumcloud/influxdb/tree/master/0.9), the error handling in this scenario looks a bit strange so I thought I'd let you know.

I tested with the followi

[2015-09-12 21:00] otoolep commented on #4088
Auto-creation of whatever database is specified with your Graphite inputs does work. Something else is up with your system, that is prevent configurations such as database creation taking place. I have not seen this issue before.

Are you running a cluster?

[2015-09-12 23:05] zelandoramen1 opened #4089 "[Feature Request] Please add full support of NaN and +-Inf."
Please add full support of NaN and +-Inf.
They are part of IEEE 754 double-precision specification
ie 7fff ffff ffff ffff = NaN
https://en.wikipedia.org/wiki/Double-precision_floating-point_format
Sometimes NaN and InF are used in data. For example NaN may be used to show no data from sensor. NaN is commonly used in financial time series to store no rate event.
At the moment in Influxdb 0.9.3 we c

[2015-09-12 23:27] CumpsD commented on #2074
Just bumped into this as well when trying to chart solar gains per day, they were all offsetted vs UTC instead of what I wanted.

Looking forward to get native support in influxdb for this.

[2015-09-13 00:29] aheusingfeld commented on #4088
No, only this single instance installed via Homebrew on OS X (`brew info influxdb` tells me it is `influxdb: stable 0.9.3, HEAD`) and started via `influxd -config config.toml` with the above mentioned config.

I will retest this on another host on Monday to check that the error messages are really identical.

[2015-09-13 02:03] cdgraff commented on #4088
Hi @otoolep I has similar error but starting with OpenTSDB engine.

Here the log https://gist.github.com/cdgraff/1be844aa5fcd22d962e6

I has setup by default... start well and with the first data arrive crash...

[2015-09-13 11:59] humcguire commented on #211
+1

[2015-09-13 13:06] victorhooi opened #4090 "Unable to connect to Influx CLI when using self-signed certificate"
This is related to this discussion:

https://groups.google.com/d/topic/influxdb/onlhVW9WJ-A/discussion

I have setup an InfluxDB server with a self-signed certificate.

I am able to insert data using influxdb-python, since my default verify_ssl is set to False (although it does print annoying warnings, which can't be suppressed (see https://github.com/influxdb/influxdb-python/issues/240).

However

[2015-09-13 13:14] JeffAshtonCT commented on #2074
jnutzmann comments about timezones and day light savings are spot on.

Just configuring the service to aggregate under a specific timezone is weak.   US & Canada fall into at least 6 different timezones, and if your app is global then obviously this just isn't sufficient if accuracy is important.

Also,  a lot of people in this thread are referring to this affecting only group by day queries,  but

[2015-09-13 14:11] pawan1987 opened #4091 "0.9.4_nightly build. Retention policy is not getting enforced"
Hi,

I tried with all version of influxdb 0.9 series but was not able to enforce retention policy. Here is the retention policy I created.

----

name	duration	replicaN	default
default	1h0m0s		1		true
----

I can still see all the data points since the db started.

[2015-09-13 14:35] harryshayne commented on #4080
Got it ! Thx !

[2015-09-13 15:37] airyland opened #4092 "the document is so confusing on regex query"
https://influxdb.com/docs/v0.9/query_language/spec.html

![image](https://cloud.githubusercontent.com/assets/559179/9837401/b840957a-5a6f-11e5-92f3-41c51774ea6c.png)

I tried but failed for many times before I searched the issues and found the correct way:

`=~ /recommend/ `

or did I find the wrong document?

[2015-09-13 16:43] otoolep commented on #4091
This is not enough information to reproduce your ticket. Please do the following:

-- write data with timestamps more than 1 hour in the past into your system.
-- confirm, via a query, that the data is still there.
-- after 30 minutes, query for that data again. Is it still visible?

If so, please show us each stage via a `curl` command/

[2015-09-13 17:33] pawan1987 commented on #4091
@otoolep

Thanks for the quick update. I tried adding historical data and then tried querying it later. I can see the shards got deleted message. The data points was not available half an hour later.  Wondering why data points I am ingesting using collectd are still there.

Are there any documentation I can refer to, which explains how retention policy works in influxdb? Is it possible to change r

[2015-09-13 17:37] otoolep commented on #4091
We have extensive documentation available here:

https://influxdb.com/docs/v0.9/introduction/overview.html

Feel free to send further general questions to the Google Groups mailing list.

[2015-09-13 17:37] #4091 closed

[2015-09-13 19:14] corylanou commented on #3939
This should probably be done at the same time: https://github.com/influxdb/influxdb/issues/4037

[2015-09-13 20:22] abh opened #4093 "Client package has many dependencies"
Considering it's (mostly) just convenience methods to format text data and wrapping the http client the list of dependencies for github.com/influxdb/influxdb/client seems really excessive.

[code]

I was going to build the influxdb client into my app (using godep), but this gave me pause.

[2015-09-13 20:30] abh commented on #4081
+1 – I had the same confusion. I also wanted to log the raw data to not lose detail right away and have been trying to make CQs to make it easier to graph and down sample the data and have been running into the same issue.

[2015-09-13 20:46] corylanou commented on #4093
Duplicate of https://github.com/influxdb/influxdb/issues/3447

[2015-09-13 20:46] #4093 closed

[2015-09-13 21:28] beckettsean commented on #4082
If your system is 99% disk full, InfluxDB probably can't recover any space until you free up space elsewhere.

Retention policies are the best way to keep the data size from growing forever, but the system has to be healthy for them to work. Can you delete some logs or tmp files to free up disk space?

[2015-09-13 21:28] #4082 closed

[2015-09-14 00:35] abh commented on #3447
+1 for moving it back to its own repository.

[2015-09-14 03:22] sudabon commented on #3967
Thanks @pauldix for your clarification.
I'm willing to cooperate with you.
I would like you to announce the release of nightly build on #4086.
I stay tunned.

[2015-09-14 05:48] abh opened #4094 "CPU spin on 'delete from ...'"
I realize (since trying it) that it's not supported yet, but spinning 2 CPUs probably isn't the desired behavior:

When I run

`delete from server_queries where time='2015-09-14T04:59:06.059250874Z' and hostname='soft'`

and variations of this the call doesn't return (using the CLI) and the influxd process uses ~2 CPUs at full throttle until I restart the daemon (or at least for several minutes).

[2015-09-14 06:37] CharlesWong opened #4095 "slow insertion latency for future timestamps"
Hi guys,

Have you noticed that inserting future timestamps has a long latency to show the results from querying?

for example:

        requestFmt := "test value=%d,peopleid=%d %d"

		for i := 0; i < 3600*24*365; i++ {
			request := fmt.Sprintf(requestFmt, i, i*2, time.Now().Add(time.Second*time.Duration(-1*i)).UnixNano())
				req, err := http.NewRequest("POST", url, bytes.NewBuffer([]byte(reques

[2015-09-14 06:40] matejzero commented on #4081
I'm glad I'm not the only one.

[2015-09-14 07:01] abhishekchoudhary commented on #4027
Yes, the server on which I'm restoring the backup crashes on restart, every time. The log files are from that server.

That was my first instinct too, that the process is exiting before the HTTP service becomes available. So far, that looks like the case.

No other data was copied other than the db dump.

I've deleted the `peers.json` file, did not help.

[2015-09-14 07:02] SiriusHu commented on #4095
same issue, up

[2015-09-14 07:30] KiNgMaR opened #4096 "[0.9.4-rc1] Default WAL settings causing write timeouts"
Some flushes from a low-traffic database:

    [wal] 2015/09/14 08:50:09 Flush due to idle. Flushing 14 series with 27 points and 459 bytes from partition 1
    [wal] 2015/09/14 08:50:09 write to index of partition 1 took 9.622795ms
    [wal] 2015/09/14 08:50:19 Flush due to idle. Flushing 1 series with 1 points and 17 bytes from partition 1
    [wal] 2015/09/14 08:50:19 write to index of partitio

[2015-09-14 08:28] guaiguaihw opened #4097 "I want to delete some datas within a time, can I use the command such as : delete from cpu where time < '.....'"
I want to delete some datas within a time.
Can I use the command such as :
delete from cpu where time < '2015-08-31 00:00:00' ??
I try this command but it doesn't work.....what should we do to drop the datas within a time ???

[2015-09-14 09:49] callmeru commented on #4079
@beckettsean Yes thats me. After 2 days of trying and reinstall, I realize that the server I use might  have been messed up by the former user... I try to format everything and reinstall influxdb, everything is fine now.

$ sudo /opt/influxdb/influx
Connected to http://localhost:8086 version InfluxDB v0.9.3
InfluxDB shell 0.9.3

I'm sorry for my carelessness...
Thanks for your help!
I'll close the

[2015-09-14 09:49] #4079 closed

[2015-09-14 11:47] DanielMorsing commented on #4081
hmm, looks like I was confused about how exactly the derivative function works.

Good news is that I think I found a way of executing the query you want. `SELECT derivative(first(value), 1s) from ...`

[2015-09-14 12:29] AlexeyDmitriev commented on #3087
For me it doesn't work with not-so-new series too.

I have series created 5 days ago and I'm not able to delete them.

[2015-09-14 12:38] KiNgMaR commented on #4096
After running okay for a while, writes started to fail again also with the updated WAL settings:

    [udp] 2015/09/14 13:10:22 failed to write point batch to database "xxx_prod": timeout
    ...
    [udp] 2015/09/14 13:16:51 failed to write point batch to database "xxx_prod": timeout
    [udp] 2015/09/14 13:18:32 failed to write point batch to database "xxx_prod": timeout
    [udp] 2015/09/14 13:

[2015-09-14 12:43] AlexeyDmitriev commented on #1647
+1

[2015-09-14 15:06] matejzero commented on #4081
I don't think this works as expected as well.
Executing `SELECT derivative(first(value), 1s) FROM...` returns only 1 hit with value `0`:
[code]

[2015-09-14 15:09] jwilder commented on #4081
@matejzero Try adding a `fill(0)`

[2015-09-14 15:32] matejzero commented on #4081
fill(0) looks like it solves the problem. I will try to show metrics on graph and compare to Graphite metrics.

By the way, can you explain to me, what this query and fill(0) actually does, so I can understand better.

[2015-09-14 15:44] jwilder commented on #4081
If you run something like:
[code]

It first runs:

[code]

This returns the first value for each `10s` interval over the last hour.  From these results, it calculates the derivative between each `10s` bucket and converts it to a `1s` rate.

The `fill(0)` is needed because the first group by query would not return all the data required to calculate a derivative for all the buckets.  The derivative

[2015-09-14 17:16] matejzero commented on #4081
Maybe I was too fast with my response.

Using `fill(0)` gives this response:
[code]
If I look at the raw data, I can see why (SELECT first(value) FROM ...):
[code]

On the other hand, if I use `fill(none)`, then it leaves out the first response where we don't have enough data, but leaves the rest. Is this the right way to go?

[2015-09-14 17:53] otoolep commented on #4069
Thanks for the output. We see nothing suspicious in there, and the supplied data can be processed fine by our single-node system.

We are now considering that some sort of race is present within the code. We can provide a build with race detection enabled, which may flag some of these issues. Can you take this build of us?

[2015-09-14 18:25] beckettsean commented on #4087
I think this is a duplicate of #4068. My CQ that executes every 5 minutes appears to run fine, but I think CQs with durations under 2 minutes might have issues right now.

[2015-09-14 18:32] beckettsean commented on #4092
Please open issues about the documentation on the [docs repo](https://github.com/influxdb/influxdb.com/issues/new)

I've opened an issue for you: https://github.com/influxdb/influxdb.com/issues/313

The document you are looking at is a formal definitions document for the InfluxQL parser. It does not give syntax.

[2015-09-14 18:32] #4092 closed

[2015-09-14 18:34] otoolep commented on #3879
I will get this done for 0.9.5.

[2015-09-14 18:36] beckettsean commented on #4095
Points in the future are not returned by default. You must explicitly set your upper time boundary or else the system uses `now()`.

https://influxdb.com/docs/v0.9/troubleshooting/frequently_encountered_issues.html#querying-after-now

[2015-09-14 18:36] #4095 closed

[2015-09-14 18:39] beckettsean commented on #4097
Duplicate of https://github.com/influxdb/influxdb/issues/1647

[2015-09-14 18:39] #4097 closed

[2015-09-14 18:41] beckettsean commented on #3087
@AlexeyDmitriev can you provide the output from the CLI or `curl`? Otherwise there's nothing useful for us in the report.

[2015-09-14 20:41] rkuchan commented on #4096
@KiNgMaR,

We're trying to reproduce your situation. Would you mind sending along your config file and giving some details about your RAM, CPU, and IOPS? Also - how many points per second were you writing and were you running any queries at the time? Thanks!

[2015-09-14 20:47] everflux commented on #1110
This would be really awesome to be able to have a collectd/influxdb config consisting of the same set of type definition files. (esp. when managed by puppet, multiple files are easier than a single big file)

[2015-09-14 20:54] rkuchan commented on #4094
@abh,

I'm trying to reproduce the issue. What version are you using?

When I try to run a similar query I receive the following error in the CLI:

[code]

Currently the best practice for "deleting" a data point is to overwrite it instead. See https://github.com/influxdb/influxdb/issues/3882.

Thanks!

[2015-09-14 21:02] rkuchan commented on #4090
@toddboom

[2015-09-15 00:14] corylanou opened #4098 "Enable `golint` on the code base"
# Description

We want to enable [golint](https://github.com/golang/lint) on our codebase.

First, get golint:

[code]

Then run it on any package you want to lint:

[code]

Also, you can use this script to get an output of how many lint errors are in each package, and which packages are currently passing (thanks @Wind0r):

[code]

We want to do this for several reasons:
- We want to improve code

[2015-09-15 02:30] huhongbo opened #4100 "[0.9.4]upgrade to influxdb 0.9.4 has no http port open"
cents 7.1
influxdb upgrade from 0.9.3
and the systemctl status influxdb show store statistics always say timeout
Sep 15 10:25:36 test influxd[39674]: [monitor] 2015/09/15 10:25:36 failed to store statistics: timeout
Sep 15 10:25:46 test influxd[39674]: [monitor] 2015/09/15 10:25:46 failed to store statistics: timeout
Sep 15 10:25:56 test influxd[39674]: [monitor] 2015/09/15 10:25:56 failed to stor

[2015-09-15 02:53] huhongbo commented on #4100
fresh install works fine

[2015-09-15 05:28] abhishekchoudhary commented on #4027
So I think I've identified the problem. My server was running out of memory when it tried to run the influxdb process. It works fine on a more powerful machine.

I can't decide if I want to recommend a message in the Influx process logs.

[2015-09-15 05:47] KiNgMaR commented on #4096
Hey @rkuchan, thanks for looking into it! I can send the full log file (including [query] entries) via mail (it may contain some "sensitive" data). Which address can I send it to?

Points per second = about 900

System specs:
* VMware 6 virtual machine
* 8 cores (5399.99 bogomips each)
* 16 GB RAM
* CentOS 6.6
* Kernel 2.6.32-504.30.3.el6.centos.plus.x86_64
* nothing else is running on the machine

[2015-09-15 06:38] kenzodeluxe commented on #4022
Another finding: When compacting leads to 500s for _all_ databases, _sometimes_ restarting influxdb does the trick. Hope that this matches your findings and the fix you mentioned is suitable for this situation, too.

[2015-09-15 06:50] calston commented on #4028
Same issue in 0.9.4-rc1, data unrecoverable after panic
[code]

[2015-09-15 08:24] willemdh opened #4101 "Uninstall Influxdb"
Yesterday I installed InfluxDB 0.9.3 on a CentOS 7.1, but as I decided to use 0.9.4, I decided to uninstall 0.9.3.
I used this command to install:
sudo yum localinstall influxdb-0.9.3-1.x86_64.rpm
And this command to uninstall:
sudo yum remove influxdb

The uninstall was 'successfully' but after uninstalling the web interface was still available and when I try to locate influxdb, I still find file

[2015-09-15 10:01] AlexeyDmitriev commented on #3087
@beckettsean the error in CLI is exactly the same as was mentioned above.

    ERR: database not open

[2015-09-15 11:20] willemdh commented on #4101
Hmmm I re-installed the server and InfluxDB 0.9.4 and it seems the web interface is still showing 0.9.3. A locate on the server now does show different files (0.9.4)

locate influxdb
/etc/opt/influxdb
/etc/opt/influxdb/influxdb.conf
/etc/systemd/system/multi-user.target.wants/influxdb.service
/opt/influxdb
/opt/influxdb/influx
/opt/influxdb/influxd
/opt/influxdb/init.sh
/opt/influxdb/versions
/opt

[2015-09-15 11:33] yujinqiu commented on #1647
+1

[2015-09-15 11:35] papylhomme commented on #3802
Running the latest HEAD with a fresh database everything is ok, the results from *mean* are coherent with the content of the database. Problem solved as far as I'm concerned

[2015-09-15 13:57] juliusv commented on #3447
I don't think there need to be zero dependencies for a client library (for example, depending on something like https://godoc.org/golang.org/x/net/context to allow users to control cancellation etc. is quite reasonable). But right now it's of course way too many, and they are not even really used (like the statically compiled assets in https://github.com/influxdb/influxdb/blob/master/statik/statik

[2015-09-15 14:56] aviau opened #4102 "Tests are flaky"
Hello,

InfluxDB 0.9.4 is ready to be uploaded to Debian, but the tests are not deterministic.

In Debian, we run the tests when we build the packages. It is important to us that the tests are deterministic. For example, we have infrastructure that builds packages and check for reproductibility (build twice and compare). That is just one of the many reasons why deterministic tests are important to

[2015-09-15 15:13] otoolep commented on #4102
Thanks @aviau, we're trying to address this.

I have also seen the first issue, and it's not clear what is causing it. The second may be addressed by increasing the write-timeout during our tests, perhaps the underlying test framework is under load, we're not sure. I'm going to look into that.

[2015-09-15 15:15] aviau commented on #4102
Whenever you find a fix, you don't have to make a new 0.9.4 release. I can simply apply a patch.

[2015-09-15 15:20] DanielMorsing opened #4104 "[0.9.3] inserting NaNs causes value to become unqueryable."
[code]

[2015-09-15 16:10] sparrc commented on #4098
one problem is that golint explicitly states that the tool shouldn’t be used in automated build processes: https://github.com/golang/lint#purpose

"do not expect or require code to be completely "lint-free". In short, this tool is not, and will never be,
trustworthy enough for its suggestions to be enforced automatically, for example as part of a build
process."

So there is no ability to specify

[2015-09-15 17:30] rkuchan commented on #4101
Hi @willemdh,

Thanks for finding this. It looks like the version number is hardcoded in the admin UI. Working on updating that now.

All the files were updated correctly - if you open the CLI or ping your server you should see version 0.9.4.

[2015-09-15 17:45] noroute commented on #4032
@beckettsean Yes, that's what I meant. It's not terribly important at the moment, I now get the rationale for the current implementation. Will provide a PR for the Graphite plugin documentation to clarify template defaulting (as explained by @jwilder).

Thanks for clarifying.

[2015-09-15 18:49] aviau commented on #4102
New failure:
[code]

[2015-09-15 18:50] otoolep commented on #4069
Just to let you know @Jhors2 we are running some specific cluster-level testing here today to see if we can flush this issue out. We'll update this ticket with anything we learn.

[2015-09-15 18:52] otoolep commented on #4102
Of course. We have some flaky tests and we're trying to hard to determine the root cause.

[2015-09-15 18:54] otoolep commented on #4102
I will say we've had some luck bringing out these failures when we've artificially starved the system of CPU (cpulimit). When the system slows down the races are more easily exposed.

[2015-09-15 18:58] otoolep commented on #4102
OK, didn't know about that one. Yeah, should definitely replace that. Thanks @aviau

[2015-09-15 19:35] matejzero commented on #4081
I think this gives me the results I want. I changed first() function with mean() and the result is almost the same as graphite graphs.

[2015-09-15 19:35] #4081 closed

[2015-09-15 19:53] JONBRWN opened #4107 "When using the client, receiving the following error: `undefined: strings.Compare`"
When trying to build with the following import:

[code]

I get this error:
[code]

[2015-09-15 19:59] willemdh commented on #4101
No problem Rkuchan, Thanks for the fast answer. So what about upgrading? I did not found any documentation on how to do this 'officially'. I used this to install 0.9.4 on CentOS 7.
wget https://s3.amazonaws.com/influxdb/influxdb-0.9.4_rc1-1.x86_64.rpm
sudo rpm -ivh influxdb-0.9.4_rc1-1.x86_64.rpm

How would I best update to further versions?

[2015-09-15 20:00] otoolep commented on #4107
I see no reason why this should happen. Perhaps your tree is not correct?

https://github.com/influxdb/influxdb/blob/master/tsdb/functions.go#L1084

That file is importing `strings`, and CI reports no build problems.

https://circleci.com/gh/influxdb/influxdb/tree/master

[2015-09-15 20:07] JONBRWN commented on #4107
@otoolep do I need to be importing anything other than `github.com/influxdb/influxdb/client` for it to work? I'm running this on docker so it's pulling the latest code down

[2015-09-15 20:54] cyppan commented on #4107
I am experiencing the same issue. I run this on Docker too (Alpine Linux).

[2015-09-15 21:01] otoolep commented on #4107
We now build InfluxDB using Go 1.5, as mentioned in the 0.9.4 CHANGELOG. Are you running an earlier version of Go? Is it feasible for you to upgrade?

[2015-09-15 21:09] otoolep commented on #4069
We appear to have reproduced the panic internally, and will investigate.

[2015-09-15 21:09] acruise opened #4109 "[feature request] Suppress operation of retention policies under admin control"
I have some external services that will be backfilling data into coarser-grained table by downsampling finer-grained data, but where the downsampling logic isn't necessarily encodable into an InfluxDB continuous query. It would be nice to be able to send Influx a command to tell it to pause/sleep a retention policy for some time, to prevent data from being deleted until it's no longer needed.

[2015-09-15 21:25] beckettsean commented on #4100
@mjdesa can you repro the issue with CentOS and 0.9.3 to 0.9.4 upgrade?

[2015-09-15 21:27] beckettsean commented on #4027
Thanks for the follow up @abhishekchoudhary. I'll ask the team if there's a reasonable error message we can throw.

[2015-09-15 21:32] mjdesa commented on #4100
@rkuchan

[2015-09-15 21:34] beckettsean commented on #3087
@AlexeyDmitriev can you provide the full CLI session, showing the `DROP SERIES` command? I want to make sure there are no syntax issues, although it doesn't sound like there are.

Have you previously dropped and recreated the series?

[2015-09-15 21:35] beckettsean commented on #3802
Great, thanks for the follow-up @papylhomme. I wish we had found the cause, but as long as the behavior is gone that's enough.

[2015-09-15 21:35] #3802 closed

[2015-09-15 21:36] beckettsean commented on #4032
@noroute would it be okay with you if we close this issue and wait for your PR?

[2015-09-15 21:43] beckettsean commented on #4101
@willemdh what you describe is the current upgrade path. All 0.9 InfluxDB builds are drop-in replacements for previous builds. Some functionality might be unavailable until the config file is updated but the binary should launch without issue.

You also need to stop the service, not just uninstall the files. I do not know if `yum` handles this for you, but it would appear not.

Other than the vers

[2015-09-15 21:46] cyppan commented on #4107
Arf that go dependencies management..
Ok upgraded thanks!

[2015-09-15 21:58] philip-wernersbach opened #4113 "Queries that compare time against fields do not work"
I have a series named `Foo` that contains a field `bar` that is a timestamp in milliseconds. This does not work:
`SELECT count(bar) FROM Foo WHERE time >= bar AND time < bar;`

By definition, this should return nothing, but in my test environment it returns all of the entries in `Foo`.

I also tried to convert the timestamp to nanoseconds like this:
`SELECT count(bar) FROM Foo WHERE time >= (bar *

[2015-09-15 21:59] philip-wernersbach commented on #4113
I'll add that the same comparison using literals works, and returns nothing as expected:

`SELECT count(bar) FROM Foo WHERE time >= 0 AND time < 0;`

[2015-09-15 22:28] beckettsean commented on #4113
@philip-wernersbach `time` is a special object in the system and in general not a valid operand for functions or mathematical operators. I've changed this into a feature request to allow for those comparisons.

[2015-09-15 22:42] otoolep commented on #4069
OK, we believe may have addressed this issue. There was a race in code that marshalled and unmarshalled code during network transfer.

This fix should be present in 0.9.4.1 (not 0.9.4).

[2015-09-15 23:12] philip-wernersbach commented on #4113
Okay, that's a shame. For more context: we're looking into switching from MySQL to InfluxDB at our business for our time series data going forward. About 50% of our use case involves comparing the time with non-static fields, so the inability to do this makes InfluxDB a non-starter for us, and I imagine this is pretty normal for business applications. We love everything else about the database tho

[2015-09-15 23:26] Jhors2 commented on #4069
Thanks @otoolep I didn't have time to run the debug code like I had wanted.  I appreciate you getting it sorted!

[2015-09-16 00:10] rkuchan commented on #4096
No problem! You can upload your stuff here: https://www.cloudwok.com/cu/gh4096.

[2015-09-16 00:15] rkuchan commented on #4100
Thanks, @huhongbo. The same thing happens to me. After upgrading to 0.9.4, I get:

[code]

[2015-09-16 00:15] rkuchan commented on #4100
@otoolep

[2015-09-16 01:03] wfro opened #4118 "SHOW MEASUREMENTS with multiple WHERE conditions returns inconsistent results"
Seeing some unexpected behavior when trying to query for a list of all measurements that contain a particular combination of tag keys (specific key/value pairs aren't relevant, just measurements that are part of a series with any number of tag keys.

I'm trying to reduce a list of possible measurements based on the presence of an arbitrary number of tags.  Below, I would have expected the third qu

[2015-09-16 01:45] kev009 opened #4119 "0.9.4 WAL death spiral"
Hi,

Trying to see if Influx can replace a TSDB cluster.  Right now, just one decently spec'd hw system and no clustering.

The wal starts growing, then RAM usage goes up until swapping and it's unusable.  ZFS and the disks are bored.  It looks like one 'shard' is being overused but I haven't looked into how WAL and boltdb work/dont't work together yet.

I'm wondering if we could perhaps skip thin

[2015-09-16 01:57] kev009 commented on #4119
Looks very similar to https://github.com/influxdb/influxdb/issues/4096, except I can assert that I have gobs of I/O to spare.

[2015-09-16 01:59] otoolep commented on #4119
What are your input data rates? Check out 'SHOW STATS' for counts on your openTSDB input.

[2015-09-16 02:07] kev009 commented on #4119
batches_tx |batches_tx_fail|connections_active|connections_handled|http_connections_handled |points_tx | tl_bad_float |tl_bad_line |tl_bytes_rx |tl_connections_active |tl_connections_handled | tl_points_rx |tl_read_err |
-----|------|------|-------|------|------|------|------|-----|-----|------|------|-----|
18312 | 119097 | 10823 | 200101 | 141 | 18312000 | 1136205 | 6 | 11149264986 | 10807 | 199

[2015-09-16 02:10] takaidohigasi opened #4120 "plugin server tag error"
* version: 0.9.3-1
* summary: when server tag is null, plugin fails. server tag seems to be set null by default.

config sample

[code]

error log

[code]

related code

https://github.com/influxdb/telegraf/blob/master/plugins/mysql/mysql.go#L144-L178

[2015-09-16 02:12] christianchristensen commented on #4119
Adding some color: Looks to be stuck around 11k/s on `mean(connections_active|tl_connections_active)`; some spikes to 25k/s (which sustaining that would be more ideal...).

That's "visible" with `_internal` using `opentsdb`.

[2015-09-16 02:25] kev009 commented on #4119
I can offer to arrange a time for you to login since this may be an interesting scale test system

[2015-09-16 02:28] otoolep commented on #4119
Thanks for the numbers.

I'll leave it to @pauldix since he made the latest changes to the WAL.

[2015-09-16 03:21] otoolep commented on #4100
Can you ping me tomorrow, and I'll take a look at your system.

[2015-09-16 03:22] takaidohigasi commented on #4120
I'm sorry I should have created issue to the telegraf.

[2015-09-16 03:22] #4120 closed

[2015-09-16 04:46] otoolep commented on #3879
PR to change the script up at https://github.com/influxdb/influxdb/pull/4115

[2015-09-16 05:28] kev009 commented on #4119
Just watching system during WAL recovery, something is amiss in this release.  It's using around 30GB RSS without any metrics coming in (the services are not even up yet) for 8GB in the data dir.

[2015-09-16 06:10] phagunbaya opened #4121 "[0.9.4-0.9.5-rc3] Influx service becomes unavailable, "failed to store statistics: timeout""
After loading data of few megs, influx service becomes unavailable.
Logs :
[code]

[2015-09-16 06:33] KiNgMaR commented on #4096
Logs uploaded. Thanks!

[2015-09-16 08:36] wyzssw opened #4122 "[0.9.4.1] RPM install failed, cannot start port"
[code]

[code]

[2015-09-16 12:38] peekeri opened #4123 "Calling top function with too few parameters crashes influxd"
version: 0.9.4.1
rpm: https://s3.amazonaws.com/influxdb/influxdb_0.9.4.1_amd64.deb
system: amazon linux 3.14.35-28.38.amzn1.x86_64

Running query:

    select derivative(top(value)) FROM eventbus WHERE time > now() - 10h GROUP BY time(10m), endPoint;

results in panic:

        panic: runtime error: invalid memory address or nil pointer dereference
    [signal 0xb code=0x1 addr=0x0 pc=0x72549d]

[2015-09-16 13:02] corylanou commented on #4123
It looks like when top is inside of a call like derivative it didn't get validated properly. Definitely a bug.  Thanks for reporting it!

[2015-09-16 13:12] corylanou opened #4124 "Missing defer/recover/panic idiom in HTTPD service"
We are missing this idiom:

[code]

In the HTTPD service recovery handler:

https://github.com/influxdb/influxdb/blob/master/services/httpd/handler.go#L800

This is allowing queries to panic and bring down the service.

[2015-09-16 13:19] skanjo commented on #4098
Just to get things going I will start with root and client.

[2015-09-16 13:20] pauldix commented on #4069
This should be fixed in 0.9.4.1 from #4114

[2015-09-16 13:20] #4069 closed

[2015-09-16 13:32] wyzssw commented on #3087
+1

Using database metrics

ERR: database not open

influxdb version:0.9.3

[2015-09-16 13:36] willemdh commented on #4101
Ok, thanks all. Closing this.

[2015-09-16 14:36] hkrizek commented on #4077
+1

[2015-09-16 14:48] corylanou commented on #2378
This has been completed and should of been closed when https://github.com/influxdb/influxdb/pull/3477 was merged.

[2015-09-16 14:48] #2378 closed

[2015-09-16 14:55] #3457 closed

[2015-09-16 14:59] calston opened #4126 "0.9.4.1 panic: page 559857 already freed"
Ubuntu 14.04 64bit, influxdb_0.9.4.1_amd64.deb

[code]

On trying to start Influx again the WAL causes panic to replay, guessing bad data or something.

[code]

[2015-09-16 15:03] aviau opened #4127 "show databases sometimes returns _internal, sometimes not"
show databases sometimes returns _internal, sometimes not.

This is as of 0.9.4. In 0.9.3, it would never return _internal.

[2015-09-16 15:20] otoolep commented on #4127
That's because `_internal` is new, and auto-created, in 0.9.4. When running 0.9.4, it should always return `_internal` assuming it has been created.

Can you show us this questionable behaviour?

[2015-09-16 15:29] aviau commented on #4127
Is is created after a certain time? this happens in the influxdb-python tests where I create a brand new instance and run a test.

[2015-09-16 15:31] otoolep commented on #4127
It is created when the system starts up, it shouldn't take more than a few seconds after start up.

https://github.com/influxdb/influxdb/blob/master/monitor/service.go#L304

It can be disabled via this config:

https://github.com/influxdb/influxdb/blob/master/etc/config.sample.toml#L100

[2015-09-16 15:32] otoolep commented on #4127
Do we have an issue here? If not, please close.

[2015-09-16 15:32] aviau commented on #4127
That it it then! I run my tests __immediately__ when the instance is ready.

Thanks!

[2015-09-16 15:32] #4127 closed

[2015-09-16 16:02] mark-rushakoff commented on #4118
We've confirmed that we can at least work around this issue with regular expressions:

    SHOW MEASUREMENTS WHERE host =~ // AND cpu =~ //

[2015-09-16 16:09] ymettier opened #4129 "retention-autocreate = false : crash !"
Hello,

When `retention-autocreate = false`, if you do not create a retention policy, InfluxDB will crash.
I do not expect that it works in that condition, but at least it would put something explicit in the log and either stop gracefully or ignore the metrics. But not crash !

Running on Redhat 6 with influxdb-0.9.5_nightly_afe5cc6-1.x86_64

Here is how to reproduce.

## 1/ Start from scratch
[co

[2015-09-16 16:29] wfro commented on #4118
The above empty regular expression workaround applies when looking for measurements containing a key, but it does not work when using a value.

[code]

[2015-09-16 16:39] wfro commented on #4118
Upon further review, `SHOW MEASUREMENTS` *sometimes* works.

influx console:

[code]

`influxd` output:

[code]

[2015-09-16 18:20] xmj commented on #4119
Working on the same cluster with @kev009 and @christianchristensen.

Today: Trying to tune the WAL settings (reducing them by an order of magnitude) so that disk writes occur earlier, the memory usage is up to 40G.

Likewise, the system is mostly idle -- and processing the ~70MB (!) WAL takes >15 minutes, even when there's a decent amount of memory to spare, the CPUs and disks are mostly idle.

Ho

[2015-09-16 18:21] dgnorton commented on #4118
InfluxQL doesn't support `<>` and should return a parser error for that.  Try `!=` instead.  I'll open a separate issue so that `<>` will return a descriptive error and suggest `!=`.

Re the other issue of `SHOW MEASUREMENTS` sometimes working, once it starts working will it fail again if you keep running it?

[2015-09-16 18:25] pauldix commented on #4119
@xmj how are you getting into this state? How many points are you writing across how many series? Do you know what the total throughput is?

I'm shocked that the WAL is getting up to 70MB if you have the memory settings low. With the new code it should start failing writes and putting pressure on the clients well before it gets to that size.

Any extra info you can give would be helpful.

[2015-09-16 18:26] pauldix commented on #4119
@xmj also, what kind of hardware are you running on? Particularly the disks and their IOPS.

[2015-09-16 18:29] dgnorton commented on #4113
@philip-wernersbach in this use case, does it need to compare the current time `now()` with the value in a field?  Or, compare the timestamp `time` of each point with one of its field values?

[2015-09-16 18:34] dgnorton opened #4132 "return parse error for expressions with `<>` operator"
It was reported in issue #4118 that operator `<>` does not cause a parse error.  The InfluxQL parser should return a parse error telling the user to use `!=` instead.

[2015-09-16 18:40] xmj commented on #4119
the CPUs are two Intel(R) Xeon(R) CPU E5620  @ 2.40GHz, 96MB RAM.

Disk space is provided by a 32 disk-array on ZFS as striped mirror (RAID10 if you will), with to SSDs for slog (ZIL) purposes.
Disk I/O is in the low single digits, and it looks like there's 370/630 r/w operations per seconds.

As for total throughput -- see @kev009's post from earlier. Given that InfluxDB just came up again the lo

[2015-09-16 18:42] xmj commented on #4119
@pauldix I've changed the memory settings before restarting, but even now WAL is growing. 27MB and counting.

That's with
[code]

[2015-09-16 18:44] pauldix commented on #4119
It's growing and still accepting writes? That doesn't seem right. Can you
verify the version by checking a response header?

On Wed, Sep 16, 2015 at 2:42 PM, Johannes Meixner <notifications@github.com>
wrote:

[2015-09-16 18:47] xmj commented on #4119
I've patched the FreeBSD port to use 0.9.4 -- https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=202981.
If I'm not mistaken it should be at d81618c

[2015-09-16 18:50] mark-rushakoff commented on #4118
This is from commit 6ef51f87839a871558d7c42c5eddfc52939e8fca, starting with an empty ~/.influxdb folder, running a recent build of telegraf to collect data:

Show measurements with two conditions returns inconsistent data:

[code]

Show measurements with one condition seems to consistently and correctly return the full set of matching measurements.

[2015-09-16 19:52] philip-wernersbach commented on #4113
The latter, it needs to compare the timestamp `time` of each point with one of its field values.

[2015-09-16 20:05] dgnorton commented on #4113
@philip-wernersbach Can you give more details on the specific use case.  Maybe we can recommend an alternate schema to accomplish the same thing.

Comparing timestamps of each point to one of its fields would always be an unbounded query (time range unknown at query planning phase) and wouldn't perform well on large data sets.  It would have to look at every point from the beginning of time.

[2015-09-16 21:11] beckettsean commented on #4100
@otoolep the test server @rkuchan used is on DO: https://cloud.digitalocean.com/droplets/7430710 (45.55.28.147). Let me know if you want help accessing it.

[2015-09-16 21:13] beckettsean commented on #4121
OS?
Cluster or single node?
How many points per second are you writing?
Line protocol? Graphite plugin?
Are you batching writes?

Does it respond to HTTP requests to the `/ping` endpoint? Does it panic? Anything else in the logs?

[2015-09-16 21:15] beckettsean commented on #4122
@wyzssw first install on this system? does this happen on other systems? `/dev/me/opt/influxdb/meta` us a non-standard location for the directory, is the volume available?

[2015-09-16 21:21] beckettsean commented on #3087
Confirming that for any `DROP SERIES` command I now get `ERR: database not open`.

However, this appears to be fixed in 0.9.4:

[code]

[2015-09-16 21:37] victorhooi opened #4135 "panic due to incorrectly handled corrupt snappy data"
I'm doing a bulk-load of data into InfluxDB (current InfluxDB data directory is around 13 GB).

During the load job, the InfluxDB service seems to die prematurely:

[code]
After that, it keeps trying to restart but fails:
[code]
Here is a gist with the full logfile - https://gist.github.com/victorhooi/e4b4f892bb5c1f5dc29e - in case that helps.

Let me know if you need anything else.

Any thoughts

[2015-09-16 22:02] victorhooi commented on #4135
Also, I just tried to start it up again, and I got this:
[code]

[2015-09-16 22:56] otoolep commented on #4135
What version are you running?

`SHOW DIAGNOSTICS` output, please.

[2015-09-16 23:06] rgarver commented on #1856
:+1:, I can see two scenarios where this is valuable:

1. Engagement measures that evaluate changes in frequency of events. This could be done with a bucketing approach (eg: number of events in fixed window) so probably not as strong of a reason to build it.
2. Time to first event (or 2nd, or b/t events of particular lables, or something). An example would be something like Zendesk where you have

[2015-09-16 23:23] lexh opened #4137 "[feature request] Add fill() method like Graphite's KeepLastValue"
Graphite offers a method to deal with missing data called [KeepLastValue](http://graphite.readthedocs.org/en/latest/functions.html?highlight=keeplastvalue#graphite.render.functions.keepLastValue). It "takes one metric [...] and continues the line with the last received value when gaps (‘None’ values) appear in your data..."

Could Influx's `fill()` be extended to offer similar functionality?

[2015-09-16 23:28] jbclements commented on #484
+1, sigh

[2015-09-16 23:30] otoolep commented on #4137
Did you read the manual? https://influxdb.com/docs/v0.9/query_language/data_exploration.html

Isn't `fill(previous)` what you want?

[2015-09-16 23:31] #4137 closed

[2015-09-16 23:39] otoolep commented on #4129
Thanks @ymettier -- this issue is caused by the write-code not checking if a retention policy exists before writing to it. Should be an easy fix.

[2015-09-17 00:10] imlk commented on #4121
@beckettsean Thanks for looking into this !
OS : Ubuntu14.04.1 LTS
Cluster : 3 raft node cluster
I am not sure exactly how many points we are writing per second, what I know is that we are writing data in a batch with Line protocol through HTTP, each batch has around 30,000 points.
We didn't try to send HTTP requests to the */ping* endpoint, but it didn't respond to any queries and it still kept w

[2015-09-17 00:55] victorhooi commented on #4135
My version:
[code]

Hmm, I'm not really show how I can get `SHOW DIAGNOSTICS` output, if InfluxDB won't startup?

I just tried to run `sudo service influxdb start` again, and I got the same error as before:

[code]

[2015-09-17 01:41] otoolep commented on #4129
Will be fixed by https://github.com/influxdb/influxdb/pull/4136

[2015-09-17 01:56] jgerschk opened #4138 "Query Logging in 0.9.4.1"
#3566 from what I have read, turn off log-enabled = false within the [http] section should disable the query logging.

What I don't understand is why I am still seeing that in our logs even though we have this disabled.

What I see is something a little new...maybe, but I have not been able to find out what can turn these off...

[query] 2015/09/16 20:55:06 SELECT last(value) .... {cut some due to

[2015-09-17 02:06] lynch0227 opened #4139 "the backup snapshot is still 0 in 0.9.4"
When I use the 0.9.4 new version, I add the below part into the configure file.
[snapshot]
enabled = true # Disabled by default if not set.

And then do the backup, then snapshot is still 0 size.
influxd backup /tmp/mysnapshot
-rw-r--r-- 1 root root 0 Sep 17 09:55 /tmp/mysnapshot

Can we fix this issue in the next 0.9.5 version?

[2015-09-17 02:16] otoolep commented on #4138
No @jgerschk -- you did not miss anything. You are only disabling logging at the HTTP level, but logging in the query engine was recently added. This is what is being added.

I can make that configurable too.

[2015-09-17 02:24] jgerschk commented on #4138
@otoolep Thanks for the reply.  So we should see this in a future release -- to be able to disable this as I understand it....Logging those can create a huge amount of unneeded data at times...

[2015-09-17 02:26] otoolep commented on #4138
Yes, it will be coming very soon.

[2015-09-17 02:28] otoolep commented on #4138
Fixed by https://github.com/influxdb/influxdb/pull/4141

[2015-09-17 02:31] otoolep commented on #4135
This is a new one to me.

Any comment @pauldix @benbjohnson ?

[2015-09-17 02:31] jgerschk commented on #4138
Thank you kindly @otoolep .

[2015-09-17 02:33] otoolep commented on #4135
It would appear from the code that `Close()` is getting called on nil-partition object.

[2015-09-17 02:37] otoolep commented on #4135
More specifically, a shard is failing to open and that unwinds a bunch of operations, including closing a partition that is still nil.

https://github.com/influxdb/influxdb/blob/master/tsdb/shard.go#L129

[2015-09-17 02:39] otoolep commented on #4135
Check out PR https://github.com/influxdb/influxdb/pull/4142 -- this would allow us to better understand this failure.

[2015-09-17 02:45] otoolep commented on #4135
Can you build @victorhooi? If so you could check out the branch of the PR above and run that binary. That should result in a clear log message in the logs.

Otherwise we can provide you a 64-bit Linux binary.

[2015-09-17 03:21] maxone opened #4143 "[0.9.4] Influxdb server will crash while select from non-existenting measurements"
version: 0.9.X

select * from measurement1,measurement2,measurement3

The influxdb server will crash if any of measurement2 measurement3 does not exist.

[2015-09-17 03:43] victorhooi commented on #4135
@otoolep Would you be able supply 64-bit binaries/package? I'm running Ubuntu 15.04 (Vivid) 64-bit on AWS.

I just want to ensure I don't fumble up the build, and risk not getting you guys the data you need - it also takes a while to load up the data so want to avoid redoing it needlessly.

I'm guessing there's no way to resurrect this InfluxDB instance? If so, I'm happy to blow away this instance

[2015-09-17 03:57] otoolep commented on #4135
You can find the compressed binary at the link below. Please download it and drop it over the existing binary. I will be very interested in the log output.

https://s3.amazonaws.com/influxdb/influxd-4135.bz2

It's a 64-bit image, built on Ubuntu 14.04.

[2015-09-17 04:08] otoolep commented on #4088
@cdgraff -- the trace you posted looks exactly like the panic https://github.com/influxdb/influxdb/pull/4136 will fix.

[2015-09-17 04:08] otoolep commented on #4088
@aheusingfeld -- are you still having issues?

[2015-09-17 04:14] #4129 closed

[2015-09-17 04:15] otoolep commented on #4129
The fix for this issue will be in the nightly build, which will be available in 3 hours.

[2015-09-17 04:16] otoolep commented on #3816
Fixed by https://github.com/influxdb/influxdb/commit/55d9c9bfaa1836ac251e4f175d3a5bef7dc0164f

[2015-09-17 04:16] #3816 closed

[2015-09-17 04:16] otoolep commented on #4138
Fixed in next nightly build, and in 0.9.5.

[2015-09-17 04:16] #4138 closed

[2015-09-17 04:23] victorhooi commented on #4135
Aha, I'd actually just finished building and setting everything up before I saw your message =). Figured I might as give it a shot - I followed the instructions at https://github.com/influxdb/influxdb/blob/master/CONTRIBUTING.md

[code]

I then copied the binaries from `$GOPATH/bin` to `/opt/influxdb/versions/nil_partition`, and

I then moved the old InfluxDB data directories out of the way, and s

[2015-09-17 04:23] victorhooi commented on #4135
I can also give you output from `iostat -xt 1` - would that be helpful as well?

[2015-09-17 04:26] otoolep commented on #4135
I'd actually like you to run it against the old files, to see the error when the system is booting with that data. Make sense?

[2015-09-17 05:07] victorhooi commented on #4135
Aha, whew, good thing I didn't delete those files =).

Ok, so I stopped the new InfluxDB build, moved the fresh files that it'd created out of the way, and moved the old data files back in place.

I then started it up again.

I've attached the full logs for when it was on the new build here

https://gist.github.com/0187ec4e9228eabb1938

The first part is when I was loading data into it.

I then re

[2015-09-17 05:17] victorhooi commented on #4135
Sorry, that may have been a permissions issue on the /data, /hh etc directories:

Trying again, I get:

[code]
[code]

Does that help?

[2015-09-17 05:18] victorhooi commented on #4135
Not sure what the corrupt snappy part is?
[code]
Also, if you think it would help, I'm happy to re-run the load jobs again with the new build.

[2015-09-17 05:28] otoolep commented on #4135
snappy is the compression protocol used to compress data within the bz1 storage engine.

@benbjohnson -- any ideas how this could happen? Data corrupted due to a hard shutdown? I presume the data may not be recoveravle?

[2015-09-17 05:37] otoolep commented on #4107
This is a Go 1.4 vs. 1.5 issue. Building InfluxDB now requires Go 1.5, as explained by https://github.com/influxdb/influxdb/blob/master/CONTRIBUTING.md

[2015-09-17 05:37] #4107 closed

[2015-09-17 05:38] otoolep commented on #3988
I have added similar code to the openTSDB input. This is no longer an issue.

[2015-09-17 05:38] #3988 closed

[2015-09-17 05:40] victorhooi commented on #4135
If this helps - I don't care about the data in the database (it was just metrics loaded from logfiles, and I can re-run them it will just take time).

I'm more just interested in how it got to that state, and how I can avoid it happening again.

[2015-09-17 05:40] otoolep commented on #3755
There is no more work planned here, as we only officially support the platforms in the packaging script.

[2015-09-17 05:40] #3755 closed

[2015-09-17 05:41] otoolep commented on #3738
Sounds like we're done here, since master has been modified.

[2015-09-17 05:41] #3738 closed

[2015-09-17 05:42] otoolep commented on #3524
I have a feeling this may be fixed by https://github.com/influxdb/influxdb/pull/4010

[2015-09-17 05:52] otoolep commented on #3430
Fixed by https://github.com/influxdb/influxdb/commit/82ec6e5e17fdf4f5a825fe6b3674e0c9befb5a78

[2015-09-17 05:52] #3430 closed

[2015-09-17 05:53] otoolep commented on #3430
Reference showing shebang in post-install files:

http://askubuntu.com/questions/260978/add-custom-steps-to-source-packages-debian-package-postinst

[2015-09-17 05:54] otoolep commented on #4135
I'd say you can proceed with a brand new system now, but it if you can hang onto to the data for a little while it could be helpful.

The database should never corrupt data (if that is what has happened), so we need understand what has happened here.

[2015-09-17 05:55] otoolep commented on #3291
This is not going to happen, since we have decided to use the standard libary's expvar package for metrics.

[2015-09-17 05:55] #3291 closed

[2015-09-17 05:57] otoolep commented on #3076
Decided to leave this in after all.

[2015-09-17 05:57] #3076 closed

[2015-09-17 05:59] victorhooi commented on #4135
Ok, I will proceed with a new load, using the new binary that you gave me (from the `nil_partition` branch). I'll let you know how it goes.

I will also keep onto the corrupted data as well. It's around 14 GB. Let me know if you'd like to work out some way of getting parts of it across to you if you think it'd help with the diagnosis at all.

[2015-09-17 06:02] otoolep commented on #1231
I'm pretty sure this has been fixed. Please let me know if I am incorrect.

[2015-09-17 06:02] #1231 closed

[2015-09-17 06:02] kev009 opened #4144 "[feature request] Specify boltdb pagesize"
It looks like everything defaults to 4k.  It would be nice to set the pagesize in the config file to match it to different filesystems.

[2015-09-17 06:02] otoolep commented on #1107
We don't plan to officially support 32-bit packages.

[2015-09-17 06:02] #1107 closed

[2015-09-17 06:03] otoolep commented on #580
We have detailed Graphite documentation available now.

https://github.com/influxdb/influxdb/blob/master/services/graphite/README.md

[2015-09-17 06:03] #580 closed

[2015-09-17 06:42] ymettier commented on #1231
No crash now, but :

[code]

So please either
* accept big packets
* update the doc to say that bigger UDP packets (as configured in Collectd with `MaxPacketSize`) are not supported (I'm thinking about this : https://influxdb.com/docs/v0.9/write_protocols/collectd.html)

I have not seen the InfluxDB code, but I think Collectd plugin has a short (normal UDP size) sized buffer and part of the big UD

[2015-09-17 07:47] kev009 commented on #4119
@pauldix here is the block and heap output from pprof https://gist.github.com/kev009/cbe1323cbeb71c70926b

[2015-09-17 08:47] victorhooi commented on #4135
@otoolep I was able to reproduce the issue using the `nil_partition` build you provided, and with a completely new data directory.

[code]

Here are the complete set of logfiles I have:
* InfluxDB logfile - https://gist.github.com/a9b78bcc4862452a8954
* Batch Loading Logfile - https://gist.github.com/f7b1aedecc769e24800c
* iostat -xt 1 - https://gist.github.com/73eaaaa75c67aadc074e

I've also exce

[2015-09-17 08:47] victorhooi commented on #4135
@otoolep I was able to reproduce the issue using the `nil_partition` build you provided, and with a completely new data directory.

[code]

Here are the complete set of logfiles I have:
* InfluxDB logfile - https://gist.github.com/a9b78bcc4862452a8954
* Batch Loading Logfile - https://gist.github.com/f7b1aedecc769e24800c
* iostat -xt 1 - https://gist.github.com/73eaaaa75c67aadc074e

I've also exce

[2015-09-17 09:47] sbouchex opened #4146 "Add series alteration"
Here is a feature request that could be very helpful to manage series

Add the ability to alter series by adding, removing tags.

Example:
- The db contains a serie "my_metric" without any tag and you want to add a tag to all data.
- The simple query will do that : ALTER SERIE "my_metric" ADD TAG "tag=1, tag2=2"

Other possibilities:
- Move data from one series to another
- Remove tag to a serie

[2015-09-17 11:31] mvadu commented on #3755
As I mentioned earlier, with package only option (thanks to @fg2it), we don't need separate platform detection, fpm takes care of it.

[2015-09-17 12:38] Samuel1989 commented on #3860
@beckettsean Is this something that is likely to become available? In my mind I compare the Influx structure to that of a traditional relational database (granted this is wrong, but the query structure makes it so).

I kind of make the relation that measurements are tables and series are columns and because of this I have been structuring my data as such.

Now I want to be able to run cross measur

[2015-09-17 13:14] jgerschk commented on #4138
@otoolep, Thanks again, will give the nightly a spin.

[2015-09-17 13:14] pauldix commented on #4135
The 10 minute time is significant because that's the timer at which it flushes metadata from the WAL. Can you send the `meta` file from the wal directory only? That's the source of the trouble.

[2015-09-17 13:29] JONBRWN commented on #4107
looks like that was the case, thanks @otoolep

[2015-09-17 13:35] corylanou commented on #4107
With the refactoring I'm doing the client will no longer depend on several other packages, and no longer have the 1.5 go dependency as a result.  That should get merged today hopefully. https://github.com/influxdb/influxdb/pull/4134

[2015-09-17 13:42] peekeri commented on #3818
I got bitten by this today and took quite some time to figure out that the datatype of the field I was trying to SUM() over was actually stored as string.

I would very much like SUM or any other arithmetic function to fail hard in case there are any shards with data type that is not applicable to the operation that is being performed. I found getting 0 as a result of SUM very confusing, but clear

[2015-09-17 14:08] victorhooi commented on #4135
@pauldix Sure, I've shared the complete `wal` directory here:

https://github.com/victorhooi/wal_sharing

Let me know what else you need.

[2015-09-17 14:14] victorhooi commented on #4135
@pauldix Sure, I've shared the complete `wal` directory here:

https://github.com/victorhooi/wal_sharing

Let me know what else you need.

[2015-09-17 14:44] peekeri opened #4148 "Derivative function unnecessarily requires aggregate function"
version: 0.9.4.1
rpm: https://s3.amazonaws.com/influxdb/influxdb_0.9.4.1_amd64.deb
system: amazon linux 3.14.35-28.38.amzn1.x86_64

Running query:

    select derivative(count) from "jvm.gc" group by instanceId, name

works fine, while:

    select derivative(count) from "jvm.gc" where time > now() - 3600s group by instanceId, name

returns error:

    ERR: error parsing query: aggregate function

[2015-09-17 15:07] JONBRWN commented on #4107
@corylanou nice, I'll keep my eye out for it

[2015-09-17 15:37] #4124 closed

[2015-09-17 15:50] ericjmiller commented on #4087
Thanks, Sean.  Are there any fix in the works?  This seems like a very important feature that isn't working.

[2015-09-17 15:58] ericjmiller commented on #4068
Has anyone tried changing the compute-no-more-than setting under [continuous_queries] like @beckettsean suggested?  What were the results?

[2015-09-17 16:19] nachovives81 commented on #2074
+1!

my suggestion is using names (like in php). A lot of countries changes her time at summer. P.e in Europe are countries that in summer are +2 and winter are +1.

select mean(value) from cpu
where time >= today()
group by time(10d)
time_zone("Europe/Madrid")

[2015-09-17 17:24] rkuchan commented on #4148
@jwilder

[2015-09-17 17:27] rkuchan commented on #4146
@sbouchex,

Could you give me a specific use case for this feature?

Thanks!

[2015-09-17 17:38] rkuchan commented on #4144
@benbjohnson

[2015-09-17 17:44] rkuchan commented on #4143
Thank you for pointing this out, @maxone. I am able to repro.

[code]

[2015-09-17 17:45] otoolep commented on #4143
I'll take this one.

[2015-09-17 17:54] peekeri commented on #4148
I made a pull request with proposed fix for this. If it seems like the right thing to do, I can also add tests for it.

[2015-09-17 18:09] mjdesa commented on #4139
@lynch0227 thank you for reporting the issue.

When I run

[code]

I get the following panic

[code]

[2015-09-17 18:24] esecules opened #4150 "[0.9.1] data with same timestamp and tags gets overwritten"
Is it a limitation of influx that only one point can exist with the same tags and timestamp? If a collision does occur, does the old one get overwritten?

I can reproduce with this script:
[code]
Output: It only lists one point even through I wrote two.
[code]

[2015-09-17 18:26] beckettsean opened #4151 "errors in export README"
@corylanou it looks like the edits I made in https://github.com/influxdb/influxdb/pull/3477#issuecomment-125773274 didn't get into the final https://github.com/influxdb/influxdb/blob/master/importer/README.md. The curl examples all have the doubled `http://` issue.

[2015-09-17 18:37] rummand commented on #4139
+1

[2015-09-17 18:39] Zolmeister commented on #2074
The hard part here (implementation wise) will probably be that timezones change (or something, I'm not familiar with the process).
`moment-timezone` for example is updated periodically (https://github.com/moment/moment-timezone/tree/develop/data/meta)
There seem to be 6+ releases just for this year: https://www.iana.org/time-zones

[2015-09-17 18:43] beckettsean commented on #3860
Short-term, no. I think your best bet is to rework your schema to support the current functionality, or use a third party tool, although that's more of a bandaid than a long term fix.

[2015-09-17 18:46] beckettsean commented on #4087
@ericjmiller we are working on it but I haven't seen a PR yet, so I can't say how far along the dev team is. Agreed it is an important feature

[2015-09-17 18:48] beckettsean commented on #4146
closing as duplicate of #3904

[2015-09-17 18:48] #4146 closed

[2015-09-17 18:49] beckettsean commented on #4144
@kev009 BoltDB is not going to be the storage engine for future releases. We've run into scaling issues with IOPS due to BoltDB. See https://github.com/influxdb/influxdb/issues/4086

[2015-09-17 18:49] #4144 closed

[2015-09-17 18:53] beckettsean commented on #4150
Yes, this is by design.

Yes, it is silently overwritten.

This is documented but not well. I opened https://github.com/influxdb/influxdb.com/issues/324 to address that.

[2015-09-17 18:53] #4150 closed

[2015-09-17 18:57] beckettsean opened #4152 "homebrew version is still 0.9.3"
Can we get 0.9.4 out there soon or should we update the docs to remove 0.9.4 references for OS X?

[2015-09-17 18:58] beckettsean commented on #4152
@toddboom

[2015-09-17 19:00] toddboom commented on #4152
This is just waiting on the Homebrew contributors to merge:

https://github.com/Homebrew/homebrew/pull/43988

If you want to give them a +1, maybe it will help?

[2015-09-17 19:20] beckettsean commented on #4152
Thanks for kicking them, @toddboom, verified it's available now.

[2015-09-17 19:20] #4152 closed

[2015-09-17 19:21] otoolep commented on #4100
[code]

and

[code]

[2015-09-17 19:21] otoolep commented on #4100
Works for me.

[2015-09-17 19:30] ccutrer commented on #2074
@Zolmeister that's actually pretty easy. Most distributions keep the tzdata in a separate package that keeps up to date, so you just read in the files when you need them. Worst case you have to restart influx when they get updated. I'm not a Go developer, but https://codereview.appspot.com/153720043 seems to imply that Go as a language already pulls in the tzdata packages as they are updated.

[2015-09-17 19:31] ccutrer commented on #2074
Yup: https://golang.org/pkg/time/#LoadLocation

[2015-09-17 19:41] rkuchan commented on #4100
Never mind. Works for me as well. Not sure what happened earlier.

@huhongbo, if this is still is still happening please send me the steps to reproduce. Thanks!

[2015-09-17 19:57] pauldix commented on #4126
@benbjohnson any idea what this is?

[2015-09-17 20:08] christianchristensen commented on #4119
Just for good measure: `X-Influxdb-Version: 0.9` and `SHOW DIAGNOSTICS` returns "0.9"

[2015-09-17 20:27] #3447 closed

[2015-09-17 20:38] otoolep commented on #3879
Fixed by latest changes to packaging script.

[2015-09-17 20:38] #3879 closed

[2015-09-17 21:07] otoolep commented on #3754
Fixed by https://github.com/influxdb/influxdb/commit/143af911ac76df0a7345bdd373549d7902127fd9

[2015-09-17 21:07] #3754 closed

[2015-09-17 21:12] guilhermefigueiredo commented on #1821
Anyone know how to use top and limit? Ex:

select top(value, cidr, 2) from networks where direction = 'incoming' and resource = 'pps' and time > now() - 10m group by cidr limit 2

limit does not work

[2015-09-17 21:15] corylanou commented on #1821
Can you provide some clarification on what "does not work" means?  What results did you get vs. what did you expect?

[2015-09-17 21:20] beckettsean commented on #142
@jwilder does the derivative function without a GROUP BY effectively give us the lag feature as described?

[2015-09-17 21:21] beckettsean commented on #326
No current plan for JOINs between measurements.

[2015-09-17 21:21] #326 closed

[2015-09-17 21:25] beckettsean commented on #453
@jwilder does DERIVATIVE already do this?

[2015-09-17 21:25] #459 closed

[2015-09-17 21:26] jwilder commented on #142
@beckettsean No.  Lag looks different at first glance.

[2015-09-17 21:26] philip-wernersbach commented on #4113
We have a set of tasks, and these tasks are created on-the-fly and the number of tasks is unbounded. When each task completes, we put an entry into a series in InfluxDB, where the entry's timestamp is the task's completion time, and the task's due-by time is stored in the `due_by` field of the entry, in unix epoch format. We then want to separately query back the entries for the tasks that complet

[2015-09-17 21:26] #556 closed

[2015-09-17 21:27] jwilder commented on #453
@beckettsean Yes

[2015-09-17 21:27] beckettsean commented on #586
New TOP supports this, assuming the series are all in the same measurement. Any tag can be used as a uniqueness constraint.

[2015-09-17 21:27] #586 closed

[2015-09-17 21:29] beckettsean commented on #655
Related to https://github.com/influxdb/influxdb/issues/411

[2015-09-17 21:29] #684 closed

[2015-09-17 21:31] beckettsean commented on #684
See #3701 and #3755 for successful ARM builds.

[2015-09-17 21:35] beckettsean commented on #770
Works in 0.9.4:

[code]

[2015-09-17 21:35] #770 closed

[2015-09-17 21:37] #453 closed

[2015-09-17 21:41] beckettsean opened #4154 "[feature request] RENAME DATABASE"
From https://github.com/influxdb/influxdb/issues/828#issuecomment-83224779

e.g. `RENAME DATABASE foo TO bar`

Would also need to update all relevant CQs.

[2015-09-17 21:42] beckettsean opened #4155 "[feature request] RENAME MEASUREMENT"
From https://github.com/influxdb/influxdb/issues/828#issuecomment-83224779

e.g. `RENAME MEASUREMENT foo TO bar`

Would need to update all CQs for the new measurement name.

[2015-09-17 21:45] beckettsean opened #4156 "[feature request] RENAME FIELD"
From https://github.com/influxdb/influxdb/issues/828#issuecomment-83224779

e.g. `RENAME FIELD foo TO bar ON measurement`

Would have to update all CQs, too.

[2015-09-17 21:46] beckettsean opened #4157 "[feature request] RENAME TAG"
From https://github.com/influxdb/influxdb/issues/828#issuecomment-83224779

e.g. `RENAME TAG foo TO bar ON measurement`

Would have to update all CQs, too.

[2015-09-17 21:46] guilhermefigueiredo commented on #1821
hello!

I resolved that using SLIMIT

SELECT top(value, cidr, 1) FROM "networks" WHERE "direction" = 'incoming' AND "resource" = 'pps' AND $timeFilter GROUP BY cidr SLIMIT 5

Now apparently he takes one top of each cidr and limited to 5 results.

[2015-09-17 21:46] beckettsean commented on #828
decomposed into relevant issues #4154, #4155, #4156, #4157

[2015-09-17 21:46] #828 closed

[2015-09-17 21:46] jasonhancock commented on #1577
+1

[2015-09-17 21:50] #924 closed

[2015-09-17 21:52] beckettsean commented on #932
Mostly addressed by `SHOW SHARDS` and `du -h influxdb/data`

[2015-09-17 21:52] #932 closed

[2015-09-17 21:55] beckettsean commented on #961
Issue has drifted from the original request. Please open a new issue for functions/operators on time.

[2015-09-17 21:55] #961 closed

[2015-09-17 21:56] #1083 closed

[2015-09-17 21:56] benbjohnson commented on #4126
@pauldix I'm not sure but I can take a look.

[2015-09-17 21:58] beckettsean commented on #1108
duplicate of #231

[2015-09-17 21:58] #1108 closed

[2015-09-17 22:01] beckettsean commented on #1127
It would be better to make an MQTT plugin for [Telegraf](https://github.com/influxdb/telegraf). Telegraf plugins are the preferred way to add inputs to InfluxDB

[2015-09-17 22:01] #1127 closed

[2015-09-17 22:02] #1146 closed

[2015-09-17 22:03] beckettsean commented on #1148
@jwilder are there filters for collectd like there are for graphite? If so, does that address this issue?

[2015-09-17 22:04] beckettsean commented on #1880
closing as dupe of #1148

[2015-09-17 22:04] #1880 closed

[2015-09-17 22:06] beckettsean commented on #1161
`/ping` no longer returns a 200 with a payload, just a 204 with a version string in the headers.

[2015-09-17 22:06] #1161 closed

[2015-09-17 22:08] beckettsean commented on #1197
See https://github.com/influxdb/influxdb.com/pull/322 for possible help

[2015-09-17 22:17] beckettsean commented on #1364
`/metastore` responds with 404, I assume it no longer exists. Was likely ripped out when raft was redone.

[2015-09-17 22:17] #1364 closed

[2015-09-17 22:20] beckettsean commented on #1507
JSON write path deprecated.

[2015-09-17 22:20] #1507 closed

[2015-09-17 22:22] beckettsean commented on #1511
works for `SHOW TAG KEYS` and `SHOW MEASUREMENTS`. Does not work for `SHOW FIELD KEYS` but that makes sense, as it would require a full scan of all points.

[2015-09-17 22:22] #1511 closed

[2015-09-17 22:24] beckettsean commented on #1638
JSON write path deprecated, line protocol only accepts UNIX epoch timestamps.

[2015-09-17 22:24] #1638 closed

[2015-09-17 22:26] beckettsean commented on #1692
@corylanou fix or close?

[2015-09-17 22:26] beckettsean commented on #1759
@dgnorton fix or close?

[2015-09-17 22:29] beckettsean commented on #1779
This appears fixed, probably as part of @corylanou's fixes for the `GROUP BY *` workaround. I get deterministic ordering of tags for every `GROUP BY *`.

[2015-09-17 22:29] #1779 closed

[2015-09-17 22:30] #1802 closed

[2015-09-17 22:33] iansmith commented on #3960
I'm testing 0.9.4.1 and I'm not seeing the node that was down during the writes _ever_ recovering.  Should I re-open?

[2015-09-17 22:35] corylanou commented on #1692
Index is deprecated, but we should still add a test for the version.  Might be a good community PR as it's fairly simple.

[2015-09-17 22:39] beckettsean commented on #1845
closing in favor of #3818

[2015-09-17 22:39] #1845 closed

[2015-09-17 22:42] beckettsean commented on #1855
Fixed in 0.9.4 (actually 0.9.2, I think)

[code]

Does not behave as intended for selector functions:

[code]

Should be mitigated by https://github.com/influxdb/influxdb/issues/1577, which presumably will return all tags for the point, as well.

@corylanou ^^

[2015-09-17 22:42] #1855 closed

[2015-09-17 22:43] tslater commented on #1577
+1. What i need is to do a group by tag and get the first and last **times** they were recorded.

[2015-09-17 22:44] beckettsean commented on #2241
closing as dupe of #1871

[2015-09-17 22:44] #2241 closed

[2015-09-17 22:48] beckettsean commented on #263
closing in favor of #2044

[2015-09-17 22:48] #263 closed

[2015-09-17 22:51] beckettsean commented on #2155
error messages no longer exist:

[code]

[2015-09-17 22:51] #2155 closed

[2015-09-17 22:52] beckettsean commented on #2169
Works fine in 0.9.4

[code]

[2015-09-17 22:52] #2169 closed

[2015-09-17 22:54] victorhooi commented on #4157
Out of curiosity, what's a CQ?

[2015-09-17 22:55] dgnorton commented on #4113
You could add an ontime=true or ontime=false tag to each entry.  The actual
completion times can still be stored in a field if needed.

On Thursday, September 17, 2015, Philip Wernersbach <
notifications@github.com> wrote:

[2015-09-17 22:58] beckettsean commented on #2686
No longer sending a `transfer-encoding` value:

[code]

[2015-09-17 22:58] #2686 closed

[2015-09-17 23:00] beckettsean commented on #2250
`_influxdb` no longer exists as a queryable database.

[2015-09-17 23:00] #2250 closed

[2015-09-17 23:00] beckettsean commented on #2311
all administrative tasks are handled through queries. Simply use CREATE RETENTION POLICY, etc. There are shortcut links in the admin UI

[2015-09-17 23:00] #2311 closed

[2015-09-17 23:01] beckettsean commented on #2313
@otoolep @corylanou fix or close?

[2015-09-17 23:02] jordens commented on #961
@beckettsean Has the original issue been adressed?

[2015-09-17 23:03] beckettsean commented on #2560
Believed fixed. Please open issues for specific return codes that seem problematic.

[2015-09-17 23:03] #2560 closed

[2015-09-17 23:06] beckettsean commented on #2659
believed fixed, please reopen if you can repro with 0.9.4

[2015-09-17 23:06] #2659 closed

[2015-09-17 23:06] beckettsean commented on #2675
closed by 4065

[2015-09-17 23:06] #2675 closed

[2015-09-17 23:08] corylanou commented on #2313
I think keep it open.  The real fix is to move most of the actual "work" to another package (or sub package) and the `main` package becomes just a shell that basically calls into the sub package with a `New` and then `Runs` it, etc.  This will allow us to test without a main package and put these tests back in place.

You can look at the `cmd/influxd/run` package to get an idea about how we are ou

[2015-09-17 23:12] beckettsean commented on #2704
query requires at least one field in the SELECT clause, so returning nothing for invalid functions seems okay:

[code]

[2015-09-17 23:12] #2704 closed

[2015-09-17 23:13] beckettsean commented on #3003
closed as dupe of #2625

[2015-09-17 23:13] #3003 closed

[2015-09-17 23:15] beckettsean commented on #2729
Works in 0.9.4:

[code]

[2015-09-17 23:15] #2729 closed

[2015-09-17 23:17] beckettsean commented on #2785
@otoolep isn't this fixed now that we support multiple plugin definitions?

[2015-09-17 23:18] beckettsean commented on #2930
closing in favor of https://github.com/influxdb/influxdb/issues/3818

[2015-09-17 23:18] #2930 closed

[2015-09-17 23:19] beckettsean commented on #2934
this is a wontfix for now.

[2015-09-17 23:19] #2934 closed

[2015-09-17 23:21] beckettsean commented on #3006
@otoolep is this still relevant/feasible given the new raft implementation?

[2015-09-17 23:23] beckettsean commented on #3108
major changes to everything relevant since 0.9.1. Please re-open if you can repro with 0.9.4

[2015-09-17 23:23] #3108 closed

[2015-09-17 23:30] beckettsean commented on #3141
`SELECT * FROM measurement ORDER BY time DESC LIMIT 10` will return the 10 most recent points in the measurement, regardless of series.

[2015-09-17 23:30] #3141 closed

[2015-09-17 23:44] otoolep commented on #4157
Continuous query.

[2015-09-17 23:45] otoolep commented on #3006
Yes.

The idea is to give users who know their schema up-front the ability to then lock it down, thereby avoiding all the problems of writing data as the wrong type. If we ever do it, it would be post 1.0.

[2015-09-17 23:46] otoolep commented on #2785
We now support multiple services for most plugins, but not for HTTP. I'm not sure this is high-priority, and doubt it will be addressed before 1.0.

[2015-09-17 23:48] pga23 opened #4158 "Inserting timestamps from the future doesn't work"
I'm trying to insert timestamps bigger than now and it doesn't work (at least in 9.3 version)

In the following example only 1st row will be inserted:
example value="2010-01-01" 1262304000000000000
example value="2020-01-01" 1577836800000000000

[2015-09-17 23:50] otoolep commented on #4158
How do you know it does not work?

[2015-09-17 23:53] pga23 commented on #4158
Just by using "write data" in default InfluxDB web interface

[2015-09-18 00:02] beckettsean commented on #961
@jordens the original issue has not been addressed, but if it is still relevant a cleaner, newer issue using 0.9 examples is preferred. It is not possible to do something like `SELECT COUNT(*) FROM measurement`, it still requires that you know at least one field, e.g. `SELECT COUNT(value) FROM measurement`.

[2015-09-18 00:06] toddboom commented on #4158
@pga23 it's likely that the points are being written, but the default end time for a query is `now()`. you'll find some assistance here:

https://influxdb.com/docs/v0.9/troubleshooting/frequently_encountered_issues.html#querying-after-now

[2015-09-18 00:06] #4158 closed

[2015-09-18 00:07] #3175 closed

[2015-09-18 00:07] toddboom commented on #4158
see also #2551

[2015-09-18 00:08] beckettsean commented on #3272
closing as dupe of https://github.com/influxdb/influxdb/issues/3188

[2015-09-18 00:08] #3272 closed

[2015-09-18 00:09] beckettsean commented on #3280
closing in favor of https://github.com/influxdb/influxdb/issues/3818

[2015-09-18 00:09] #3280 closed

[2015-09-18 00:12] beckettsean commented on #3557
Addressed in https://github.com/influxdb/influxdb/issues/3755

[2015-09-18 00:12] #3557 closed

[2015-09-18 00:17] toddboom commented on #3990
@lockwooddev i believe v0.8.8 should have had all the assets compiled in, just like the v0.9.x line. can you provide some more output of the 404s you're seeing?

[2015-09-18 00:27] pga23 commented on #2551
thx

[2015-09-18 00:43] beckettsean opened #4159 "query parser should throw error on improper "now""
I think this query should throw a parser error instead of returning the results for all time:
[code]

The `GROUP BY` clause and the `WHERE time` clause were both ignored just because of the difference between `now` and `now()`. I would expect a parser error that `now` is not a valid comparator for `time`.

[2015-09-18 00:50] kev009 commented on #4086
I'd like to see knobs so application compression can be disabled.

[2015-09-18 00:58] victorhooi commented on #4157
Aha, thanks =).

[2015-09-18 01:06] dgnorton commented on #1759
Close it.  I don't think we've had many (or any?) of those recently.

[2015-09-18 01:06] #1759 closed

[2015-09-18 01:09] dgnorton commented on #4068
I'll take a look at this tomorrow and see if I can reproduce it.

Re when CQs run:  Once per second, the CQ service goes through the list of CQs checking if any are due to run.  How does it check if a query is due?

1. get the `GROUP BY` interval, which is `10s` in this case
2. calculate how often the query should be run: `computeEvery = GROUP BY interval / runsPerInterval`.  `runsPerInterval` com

[2015-09-18 01:23] otoolep commented on #4068
I added some basic stats to CQ code. Keep an eye out for places to add
more. Could be helpful.

On Thursday, September 17, 2015, dgnorton <notifications@github.com> wrote:

[2015-09-18 03:01] itachi90 commented on #4096
We see similar issue with stable 0.9.4 release. The write request time out number was more or less a constant for almost one day, and today the time out number begin linearly increasing.
The log shows points write time out after wal flush:
[wal] 2015/09/18 02:54:05 Flush due to idle. Flushing 23 series with 27 points and 1156 bytes from partition 1
[wal] 2015/09/18 02:54:07 Flush due to idle. Flus

[2015-09-18 03:48] richterger commented on #4077
I see the same issue here. As soon as a new tag comes in, sorting in descending order gets confused.

I looks a little bit to me, like every time a new tag comes in, it starts a new "group" that is sorted on it's own.

[2015-09-18 05:34] beckettsean commented on #4068
I can confirm that CQs with short GROUP BY durations are not running for every interval.

I ran `CREATE CONTINUOUS QUERY foo_15s ON telegraf BEGIN SELECT mean(value) INTO "telegraf"."default".cpu_idle_15s FROM "telegraf"."default".cpu_idle GROUP BY time(15s), cpu END` to create the CQ. Logs show it running at creation and then the CQ logs show it running every 2 minutes.

Querying the destination

[2015-09-18 05:35] beckettsean commented on #4087
dupe of #4068

[2015-09-18 05:35] #4087 closed

[2015-09-18 10:00] lockwooddev commented on #3990
When opening the admin in my browser, it does this for all files:
[code]
[code]
This is from a default 0.8.8 brew installation.

[2015-09-18 11:52] calston commented on #4126
I managed to packet capture the last set of metrics sent before the last crash, nothing looked untoward so I removed the WAL files got Influx started again took that dump and re-injected and it worked fine. So this doesn't seem to be data related.

[2015-09-18 14:36] markuspatrick commented on #3158
Using
InfluxDB starting, version 0.9.4.1, branch 0.9.4, commit c4f85f84765e27bfb5e58630d0dea38adeacf543
@beckettsean :
it seems, that count() functions and also the combination count(distinct(field_key)) works better in CQs, now.
But influxdb crashes silently after a minute, i.e. it looks like an endless loop.
No response on read-Queries (see below):
[code]
Write Queries run into timeouts.

 Resta

[2015-09-18 15:26] zirpu opened #4162 "[0.9.3] dropping a db caused influxd to panic and die"
The panic:

[code]

[2015-09-18 15:32] bbinet commented on #1920
it would also be great to be able to merge the new point in the the old point, but it would rather deserve an UPDATE query.

[2015-09-18 16:02] beckettsean commented on #4162
@zirpu is it possible there were points in the WAL waiting to flush to the database that was deleted?

[2015-09-18 16:02] beckettsean commented on #4162
Also, what version of InfluxDB are you running and how was it installed?

[2015-09-18 16:16] bbinet commented on #3552
same as @hexluthor, I feel this is very limiting: if we need to correlate data coming from various sensors we currently have to write all data as fields in the same measurement... But would it be a good idea in terms of data structure to have a single measurement with more than 50 fields? Will it impact query performance?
And this sensor data does not always get logged with the same sampling frequ

[2015-09-18 16:19] bbinet commented on #3552
Also, what are the actual technical issues that prevent InfluxDB to support queries with simple math operations across measurements?

[2015-09-18 16:26] chosenken commented on #3820
It looks like in build 0.9.4.1 this is still an issue.  When I search for ```SHOW CONTINUOUS QUERIES``` I get the response ```Query returned no results!```,  however when I view the response I see the continuous query was returned as json.
[code]

[2015-09-18 16:27] corylanou commented on #3552
This was recently changed to a "feature request" so that means it will be evaluated in future releases if we are going to add it or not.  There are a couple work arounds right now, and that is to save a calculated field when you write data, such as storing another field for `oxygen_percentage.value * flow_rate.value`.  I understand this isn't ideal, but it might get you moving forward.

Otherwise,

[2015-09-18 16:39] zirpu commented on #4162
Using 0.9.3 installed via the debian package on ubuntu 14.04 amd64.

[2015-09-18 16:40] zirpu commented on #4162
It was an active database for 'telegraf'.  I didn't see anything in the docs about a way to either rename or quiescent the db, so I just tried dropping it.

[2015-09-18 16:42] kenzodeluxe opened #4163 "[0.9.4.1] Intermittent write failures when flushing wal"
First of all, congrats to you guys for v0.9.4.1 - it's way more stable than any of the previous 0.9.x versions. This is what I see every now and then upon flushing wal:

[code]

[2015-09-18 18:51] philip-wernersbach commented on #4113
Good idea, this will work fine as workaround for now. It creates a redundancy in the database (`time` will be redundant with `completion_time`), but that's okay for now.

[2015-09-18 19:07] tsailiming commented on #4162
I had to killed mine before the drop succeeded.

On InfluxDB starting, version 0.9.4.1, branch 0.9.4, commit c4f85f8

[query] 2015/09/19 03:01:42 DROP DATABASE data
[wal] 2015/09/19 03:01:43 write to index of partition 1 took 1.050638457s
[monitor] 2015/09/19 03:01:50 failed to store statistics: timeout
[monitor] 2015/09/19 03:02:02 failed to store statistics: timeout
[monitor] 2015/09/19 03:02:12

[2015-09-18 19:18] dgnorton commented on #4113
If `completion_time` is always going to be the same as the timestamp of the point, then there's no need to store it in a separate field.  What I meant to say in my previous comment is that `due_by` time could still be stored in a field, but you should only do that if you need to calculate how early or late task completion time was.  However, that calculation would have to be performed in the clien

[2015-09-18 20:23] beckettsean commented on #3820
Confirmed that 0.9.4.1 Admin UI appears to do nothing when submitting `SHOW CONTINUOUS QUERIES` but the result is indeed returned, just never displayed.

[2015-09-18 20:27] Jhors2 commented on #4086
+1, compaction knobs would be nice.  This would help you make the decision of "I don't care if it uses more disk, I need as much query/write performance as possible"

[2015-09-18 20:34] pauldix commented on #4086
Having a knob to disable compression may come later, but it's not likely to make it in the first version.

Also, if compression makes it so that your working query set fits in memory, it could actually have a positive impact on query performance. We use memory mapped files so that's a possibility.

[2015-09-18 21:05] beckettsean opened #4164 "[0.9.4.1] parser error message isn't aware of the new SHOW commands"
[code]

The command is `SHOW STATS`, but the "expected" strings should include `STATS` and `DIAGNOSTICS` and `SHARDS`, now that the `SHOW STATS`, `SHOW DIAGNOSTICS`, and `SHOW SHARDS` queries are live.

[2015-09-18 21:15] beckettsean commented on #4139
duplicate of https://github.com/influxdb/influxdb/issues/3923

[2015-09-18 21:15] #4139 closed

[2015-09-18 21:35] victorhooi commented on #4135
Out of curiosity - are there any workarounds for this issue at the moment?

As in say I did want to load in that big batch job into InfluxDB =), are there any settings I can tweak, or way I can somehow get the data in, without hitting what could be corruption issue?

[2015-09-18 21:35] victorhooi commented on #4135
Out of curiosity - are there any workarounds for this issue at the moment?

As in say I did want to load in that big batch job into InfluxDB =), are there any settings I can tweak, or way I can somehow get the data in, without hitting what could be corruption issue?

[2015-09-18 21:42] otoolep commented on #4164
Fixed by https://github.com/influxdb/influxdb/pull/4166

[2015-09-18 21:45] Jhors2 opened #4167 "[0.9.4.1] non-default Internal Monitoring Database Broken"
Internal monitoring appears to be broken in a cluster.  I created a fresh DB called "internal" I then created a retention policy with a replication of 3 and set it as default.  I started all nodes.  It appears the first node that starts sending metrics into that retention policy and DB stores the metrics, however the metrics aren't replicated to other nodes.

Furthermore, the other nodes are unabl

[2015-09-18 21:47] otoolep commented on #4167
How do you know the metrics are not replication to other nodes? Also, is there an error in the logs regarding the failed writes to the retention policy?

To be clear the internal monitoring uses exactly the same write-path as the rest of the system, so I am surprised it is giving you trouble.

[2015-09-18 21:47] beckettsean commented on #4167
@Jhors2 I believe the correct database for monitoring is `_internal` and it is auto-created. Those settings can be overridden in the config file.

[2015-09-18 21:51] otoolep commented on #4167
Ah, yes, @beckettsean is correct, it is `_internal` -- resources created by the system itself are prefixed with an underscore.

Do `SHOW DATABASES` to see it.

[2015-09-18 22:03] Jhors2 commented on #4167
I overrode the default database so I could create a fresh one ahead of time on reload.  As an update I noticed the following:
Nodes that are failing to write metrics:
[code]
Node that is successfully writing metrics:
[code]

This is then causing the logs with shard 56 to constantly complain that they cannot accept a write to shard 57.  I didn't touch any files on disk so I'm not sure how it got in

[2015-09-18 22:06] otoolep commented on #4167
Hmmm. Can we see the log messages containing the write error?

Can we rule out the manually-created database? How about just deleting it,
leaving the replication at 3 (in the config) and letting the system
auto-create it? I don't think it should matter, but I am curious.

Philip

On Fri, Sep 18, 2015 at 3:03 PM, Jhors2 <notifications@github.com> wrote:

[2015-09-18 22:07] Jhors2 commented on #4167
@otoolep What is the config option to add replication factor under the [monitor] section?  I don't see it in the config template anymore.

[2015-09-18 22:17] otoolep commented on #4167
@Jhors2 -- my apologies, I forgot that we pulled control of that.

However, after the database is created, you can change the replication factor on `_internal`, but the first group of shards will only have a replication factor of 1. We removed control of replication factor from the configuration file, so changes made by administrators would not be overriden on a node-restart.

This may be a sequen

[2015-09-18 22:20] Jhors2 commented on #4167
Order of operations was:
--Nodes Running
--Create non-default database
--Create RP in database called "monitor" with replication of 3 and "default"
--Change config to point at new Database
--Restart each node one at a time

I'll give ALTER on the RP a shot and see how it goes, I'll report back in a day.
Thanks!

[2015-09-18 22:22] otoolep commented on #4167
OK what you did sounds reasonable and *should* have worked. Since you didn't restart the node until after changing the config, the monitoring system should have written successfully to the non-default database and RP.

What are the write-errors in the logs?

[2015-09-18 22:23] otoolep commented on #4167
Can I see the `monitor` block of your config file? And the output of `SHOW RETENTION POLICES ON monitor`?

[2015-09-18 22:26] Jhors2 commented on #4167
Write error in the log is:
[code]
This is obviously on the nodes that are failing to write.

Monitor config section:
[code]
Retention policies on the non-default DB I created:
[code]

[2015-09-18 22:32] otoolep commented on #4167
There was some confusing cruft in the monitor sample config, which I have corrected:

https://github.com/influxdb/influxdb/blob/master/etc/config.sample.toml#L99

[2015-09-18 22:34] otoolep commented on #4167
I will need to setup a cluster to replicate this.

@jwilder -- how could the error above happen?

[2015-09-18 23:03] beckettsean commented on #3158
@markuspatrick I'm not sure that is a valid query. Can you try running `SELECT sum(view) FROM "intra10"."default"./.*/` (leaving out the trailing asterisk).

Not sure what you mean by

When CQs are running with `COUNT(DISTINCT())` then eventually InfluxDB has problems where writes timeout and queries just hang? What about the `/ping` endpoint?

If you disable CQs does the problem still happen afte

[2015-09-18 23:42] nmarshall23 opened #4169 "[0.9.3] Fails to write points with timestamps in the future"
Any Insert request that contains points with a timestamp that is in the future causes no field data to be written. However tags get written.

Influx should return an error when it doesn't write points.

The current behavior is very confusing because SHOW TAG KEYS, and SHOW FIELD KEYS, shows the correct tags and fields. However, selects on that measurement would give me an empty result.

[2015-09-18 23:56] otoolep commented on #4169
Can you show the query that returns now data?

Unless you explicitly specify an upper time bound, it defaults to now. That would explain why you get no data.

https://influxdb.com/docs/v0.9/troubleshooting/frequently_encountered_issues.html#querying-after-now

[2015-09-19 00:22] ecables opened #4170 "[0.9.4.1] panic: interface conversion: interface {} is map[string]interface {}, not *influxql.meanMapOutput"
Two nodes in a 3-node cluster panic'd with the following panic message.
[code]

[2015-09-19 00:42] beckettsean commented on #4169
@nmarshall23 please see https://influxdb.com/docs/v0.9/troubleshooting/frequently_encountered_issues.html#querying-after-now

Works just fine in 0.9.4.1, but as the docs say you must explicitly set the upper bound of the time range to something more in the future than the points you are querying. By default the upper bound is `now()`, so anything in the future does not match the criteria:

[code]

[2015-09-19 00:42] #4169 closed

[2015-09-19 00:52] ecables commented on #3238
This is still present in 0.9.4.1, fyi.

[2015-09-19 02:04] wyzssw opened #4171 "i"

[2015-09-19 02:09] wyzssw opened #4172 "i want delete some tag value but it dose not work"
this is my step :
[code]

why?because my machine has two jvm process with same tag( appname and host)  name,i must distinguish them with “pid” tag，but pid may be change when process restart,and last pid  always remain。this is the reason for delete tag(pid) value

[2015-09-19 02:09] otoolep commented on #4171
Is this an error?

[2015-09-19 02:09] #4171 closed

[2015-09-19 02:14] wyzssw commented on #3087
thanks ,i will try influxdb 0.9.4

[2015-09-19 02:38] otoolep commented on #4170
@ecables -- you to confirm, this data should be fully replicated, correct?

[2015-09-19 02:39] jwilder commented on #4167
Possibly a race where the coordinating node creates a new shard group and ends up sending it to the remote node before the remote node learned about the new shard group. Are the nodes logging this write error part of the raft group or data nodes?

Another possibility is that there is a bug in the shard lookup func that is preventing it from pinging the leader in a cache miss.

[2015-09-19 02:53] yujinqiu commented on #4157
+1, I love this feature

[2015-09-19 03:30] otoolep commented on #4170
It looks like I may have duped this, I can bring out a panic with an identical trace in response to queries.

[2015-09-19 03:35] kev009 commented on #4086
You're having to work around legacy file systems.  Compression, snapshots, high availability, intelligent mgmt of working set can be handily had without much code by using ZFS.  If you haven't, reading up on Circonus's snowth may be enlightening because it's the only production quality metrics system I'm aware of at the moment.

[2015-09-19 04:23] otoolep commented on #4170
OK, I am working a hypothesis here.

I believe your data is fully replicated, but occasionally when a new shard group is created, the system (due to the nature of the system) "sees" those new shards on remote nodes before it sees that the data is also local. This triggers a remote access to that shard.

Secondly, there appears to be bug in our marshalling code that takes query output, and sends it

[2015-09-19 04:26] otoolep commented on #4170
@dgnorton -- something is going wrong here, and I am not sure if it is related to the refactoring your did recently, or this issue was always here. The types emitted by the Mappers is getting "lost", and translated to simple maps. This is causing the receiving node to panic.

That's what it looks like to me anyway.

[2015-09-19 04:51] otoolep commented on #4170
https://github.com/influxdb/influxdb/pull/4174 may allow an effective workaround for this issue, where clusters are fully replicated.

[2015-09-19 07:25] otoolep commented on #4170
@dgnorton - after further examination of the code, I think this issue may predate DQ work even, and that the model for marshalling Mapper data across the network may need to be reworked.

#4174 should provide an effective workaround for the remote mapping operation in the first place (though it still needs to be established why remote mapping is occasionally occurring on a fully-replicated cluster

[2015-09-19 10:35] markuspatrick commented on #3158
@beckettsean:

Sorry the trailing asterisk was a copy and paste error from my side (I correct it in the log above). The query was ```SELECT sum(view) FROM "intra10"."default"./.*/```

About my config:
The database gets every minute approximately 1200 points per minute to write.
The cq aggregates every 5 minutes with an count(distinct(view)) (and other fields with sum()). The used measurement in cq

[2015-09-19 12:29] roobert opened #4175 "feature request: drop graphite metrics"
I would like to be able to drop graphite metrics either by default (i.e: they don't match a template) or explicitly by being able to add template(s) to drop metrics.

Thanks!

[2015-09-19 12:45] roobert opened #4176 "feature request: graphite templating - fields"
Hi,

As far as I can work out it's not possible to use templates to create fields.

I would like to store data in graphite form in the influxdb way, for example, with the following graphite input:

[code]

I would expect to be able to translate it into the following line protocol equivalent using templates:
[code]

Introducing a new key word of 'field' might make sense so my template could look so

[2015-09-19 13:22] JernejJerin commented on #2933
Please update the installation instructions for [Ubuntu & Debian](https://influxdb.com/docs/v0.9/introduction/installation.html#ubuntu-debian) as the path to start the influxdb points to `/etc/init.d/influxdb`, where I (Ubuntu 15,04) have it located in `/opt/influxdb/influxdb`.

[2015-09-19 15:29] pauldix commented on #4135
@victorhooi you could use the nightly build from last night and configure it to use the `b1` engine here: https://github.com/influxdb/influxdb/blob/master/etc/config.sample.toml#L41

[2015-09-19 16:08] ecables commented on #4170
@otoolep -- The replication factor is 3 on a 3 node cluster, so the expectation is that everything is fully replicated.

[2015-09-19 17:08] otoolep commented on #4170
Can you show us the output of `SHOW SHARDS`. E.g.

[code]

[2015-09-19 18:10] pnpritchard opened #4177 "[0.9.4.1] Could not add 2nd data node in a cluster"
I was able to add and run 3 raft nodes + 1 data node, however when I was trying to add the second data node (which is the 5th node in the cluster), the node could not start up and had the following error in the log :

[code]

Original discussion: https://groups.google.com/forum/#!topic/influxdb/LWWrdJRt3kc
cc: @imlk

[2015-09-19 18:44] timraymond commented on #4104
@DanielMorsing To help with reproducing this issue, could you prefix the title of this issue with the version of Influx that you're encountering this under (e.g. `[0.x.x] inserting NaNs...`)?

Also helpful information would be the OS that you're using and whether this is a cluster or single node setup.

[2015-09-19 19:48] timraymond commented on #4159
@beckettsean This seems to be a dupe of what you mentioned in #4044 .

[2015-09-20 06:15] wyzssw commented on #4172
0.9.4.1 has fix this problem,thanks

[2015-09-20 06:15] #4172 closed

[2015-09-20 16:23] Jhors2 commented on #4167
These nodes are apart of the raft group, all are brokers.  It seems even with letting the first node create the DB then altering the retention policy that other nodes still cannot write to the monitoring DB.

[2015-09-20 23:10] brunohass opened #4181 "write points: write throughput too high. backoff and retry"
Hi. We are an internet service provider. We have a CDN service using varnish, we generate statistics using varnishlog + python + influxdb module. We have as a customer some portals of local news. In peak times we even had over 50k written per second to the influxdb.

For the third time some customers have contacted us because they could not view the data in the dashboard. When I accessed the serve

[2015-09-20 23:30] brunohass commented on #4181
More logs..

From yesterday:

[code]

From today:

[code]

[2015-09-21 00:14] ivanscattergood commented on #3992
It would be really handy to see the Retention policies on which a measurement is stored

[2015-09-21 01:06] brunohass commented on #3992
[code]

[2015-09-21 07:07] bbinet commented on #3552
@corylanou about the work around you're talking about: the `oxygen_percentage.value * flow_rate.value` field should be created when new points are created or is there a way to compute the calculation afterwards in a continuous query?

[2015-09-21 07:55] bbinet commented on #3860
I'm also affected by this issue. See also #3552.

For now, I will try to create the third party agent @Samuel1989 is talking about to query two measurements independently and store the result into a third measurement (a kind of continuous query system outside of InfluxDB to work around this issue).

[2015-09-21 08:12] testzlx opened #4182 "how to use "group by" in influxdb"
here is the case : I use influxdb to record the accesslog of  nginx ,I want to seek out the frequence of every different ip in a minute .how do I work the "influxdb sql" out ? I will appreciate it if you give me some tips?

[2015-09-21 09:47] nonsenz commented on #3923
i can back this one up. i had one influxdb 0.9.3 instance where backup results in this error. updated it to 0.9.4 and still have this problem.
on a second influxdb install i do not have this problem. hadn't with 0.9.3 and still works fine with 0.9.4.

[2015-09-21 11:16] nonsenz commented on #3994
running into this with influx 0.9.4.1 and collectd's ping plugin on a machine where local ping has interface issues and does not collect any data.

[2015-09-21 11:30] corylanou commented on #3552
Yes, I believe you should be able to do that in a CQ and then you can select from that retention policy.

[2015-09-21 12:08] srfraser commented on #3552
How can we do it in a continuous query? I thought the syntax of normal queries and continuous ones was the same, so if it's possible in one, it should be possible in the other.

[2015-09-21 12:10] corylanou commented on #3552
instead of `sum(value & value)`, you are doing a CQ with `select val * val as newval` and then you can select `sum(newval)` from your new data that was calculated from a CQ.

[2015-09-21 12:14] srfraser commented on #3552
And that works across measurements?  Using @bbinet's example, this would work?

    select oxygen_percentage.value * flow_rate.value as newmeasurement from oxygen_percentage, flow_rate

[2015-09-21 12:20] corylanou opened #4183 "Basic math query panics server"
[code]

stack trace:

[code]

[2015-09-21 12:20] corylanou commented on #3552
Hmm, it should, but I just tried this basic test and it crashed the server :cry:

[code]

I logged another issue here: https://github.com/influxdb/influxdb/issues/4183

[2015-09-21 12:22] srfraser commented on #3552
and that was only from one measurement :)

[2015-09-21 12:26] corylanou commented on #3552
Hopefully this is a central bug in our post-processing that when fixed will fix all of it.  I'll see if I can fix it today. It appears to be just a bad reference while putting the math together, so it might be a quick fix.

[2015-09-21 12:43] bbinet commented on #3552
Thanks @corylanou, but as @srfraser said in his previous comment, your example comes from the same measurement: is it supposed to work with multiple measurements?
I thought that queries running as continuous were the same as normal queries so if maths does not work across multiple measurements in a normal query, I thought it won't work neither in a continuous query.
Is it wrong?

[2015-09-21 14:45] corylanou commented on #3552
Ah, yes, I keep forgetting we don't calculate across values.  Although in a simple query we should support this.  The biggest problem is type checking and overflow so that when you take an unsigned int and multiple it by a float, etc. that we are able to properly convert to a common type for the math, and not overflow either.

[2015-09-21 15:20] otoolep commented on #4183
Dupe of https://github.com/influxdb/influxdb/issues/4046, fix is not trivial and we should wait until we have the new engine in place before attempting a fix.

[2015-09-21 15:20] #4183 closed

[2015-09-21 15:28] mimmovele commented on #4121
+1

[2015-09-21 15:29] corylanou commented on #4046
Adding math as a keyword on this issue.  It was what I searched on and couldn't find this issue, and resulted in my creating a dupe.

[2015-09-21 17:09] roobert commented on #4176
I've implemented a basic prototype which works in the sense that now you can specify field names for metrics, however I've a limitation which I've clarified with the UDP input:

Test:
[code]

Same query run before and after test:
[code]

This implies that there is no way to `UPDATE` a timestamp with additional field data.

What this means is that unless the graphite input is modified to do some so

[2015-09-21 18:00] otoolep commented on #4176
That is correct. This is not possible within the InfluxDB system.

[2015-09-21 18:12] ecables commented on #4170
Here's output from one node in the cluster:
[code]

[2015-09-21 18:12] pauldix commented on #4176
When 0.9.5 ships, updates to a single field will be possible.

[2015-09-21 18:17] otoolep commented on #4170
OK, thanks, this confirms that the shards *should be* fully replicated. We're continuing to look into the issue here.

[2015-09-21 18:19] #4118 closed

[2015-09-21 18:24] nooproblem opened #4185 "Issue with InfluxDB client writing date to InfluxDB 0.9.3"
Go version: 1.4.2
Go environment: OSX 10.9.5 and Windows 8.1
InfluxDB version: 0.9.3 (the latest tutum/influxdb docker container)

I have found the following issue when following the Getting Started guide for the influxdb/influxdb/client:

[code]
[code]
When using the writePoints function, the time value seems to be correct when inserting time.Now() into the name field of the client Point struct (

[2015-09-21 18:38] roobert commented on #4176
OK great, thanks peeps!

Would love some feedback on implementation detail in the linked PR. I should be able to finish off the patch/tests/docs by the time the new influxdb storage engine is added to the nightly builds so with any luck we may be able to get this feature into 0.9.5..? :)

[2015-09-21 18:57] torkelo opened #4187 "derivate without aggregation method"
Some questions regarding the derivative function (Which I get so many questions for and people having issues with on IRC on and github). Mostly the problems are caused by Grafana editor not using an aggregate function together with the derivative function. And partly because I think derivative function is buggy.

Question 1)
[code]

This query should fail but does not. It succeeds and returns 898

[2015-09-21 20:21] mjlyon opened #4188 "Influx 0.9.3 not receiving from collectd"
Influxdb is up and running, and after setting the collectd listener to : enabled = true, the database was created automatically, but is not being fed.

I have updated the network configuration in collectd.conf:

<Plugin network>
 Server "127.0.0.1" "8096"
</Plugin>

[2015-09-21 20:40] rkuchan commented on #4187
@torkelo,

Thank you for your query. What version are you using?

[2015-09-21 20:47] rkuchan commented on #4185
@nooproblem,

Trying to reproduce the error. Could you send all the code that you used to get there?

Thank you!

[2015-09-21 20:50] otoolep commented on #4188
I suggest you upgrade to 0.9.4 and use all the stats available with that release (execute the query `SHOW STATISTICS`) to debug your setup.

[2015-09-21 20:54] otoolep commented on #4170
I believe I see what is going on here, with regard to the specific panic. I am going to start on a fix now, hope to have this fixed very soon.

[2015-09-21 20:56] rkuchan commented on #4182
@testzlx,

Because this isn't a feature request or bug, I'm closing this in favor of you submitting a support ticket. You can do that by emailing support@influxdb.com and we'll be happy to help you out.

[2015-09-21 20:56] #4182 closed

[2015-09-21 20:58] pauldix commented on #4187
@torkelo I think we recently updated it so that calls to derivative will throw an error if they have a group by time and don't have an aggregate inside. Will be in the 0.9.5 release.

The syntax you propose is interesting, I'm wondering what other people think about it.

[2015-09-21 21:00] otoolep commented on #4187
At first glance, I like what @torkelo has proposed.

[2015-09-21 21:11] jwilder commented on #4181
There is an issue with the current storage engines where the WAL can accept writes faster than it can flush them to the bolt index.  Previously, this would cause the server to run out of memory and panic.  0.9.4 will stop accepting writes when it's overloaded.  #4086 is being worked on to address this issue.

[2015-09-21 23:05] esecules opened #4189 "[0.9.3] panic, above high water mark"
Hi I am trying to start up influx on top of an existing data directory, but I am consistently getting this error.

[code]

[2015-09-22 04:04] jeanpralo commented on #2555
Hi guys,

@beckettsean, I am currently using 0.9.4.1 was wondering if those sorts of query are suppose to work in that version since I have a panic for this query:

    CREATE CONTINUOUS QUERY "5mn_avg"
    ON chv2
    BEGIN
     SELECT mean(value) as value
     INTO "5mn_avg".:measurement
     FROM /load-load/
     GROUP BY time(5m), host
    END

[continuous_querier] 2015/09/22 03:49:03 executin

[2015-09-22 05:48] otoolep commented on #2555
This looks like the trace fixed by
https://github.com/influxdb/influxdb/pull/4136

This fix would be available in a nightly build, since it went in after
0.9.4.1.

https://influxdb.com/download/index.html

On Mon, Sep 21, 2015 at 9:04 PM, Jean Praloran <notifications@github.com>
wrote:

[2015-09-22 06:32] kenzodeluxe commented on #4022
Appears to be fixed in 0.9.4.1.

[2015-09-22 06:32] #4022 closed

[2015-09-22 06:53] bbinet commented on #3552
Ok, I see.
That would be great if cross measurements calculation could be possible at least for series which shares the same type (since no type conversion would be needed)

[2015-09-22 07:31] otoolep commented on #4170
Should be fixed by #4191

[2015-09-22 07:57] jeremyVignelles opened #4192 "[0.9.4.1] Optimize LIMIT"
Hi,
As the points stored in the database increase, the query
```SELECT * FROM measurement LIMIT 1```
is getting longer and longer. Is it possible to optimize this, since we told the interpreter that we are interested in only one point.

The idea behind this is to make queries like
```SELECT * FROM measurement GROUP BY tag ORDER BY time DESC LIMIT 1```
to get the last value for each tag.

[2015-09-22 08:01] torkelo commented on #4187
@rkuchan I was using 0.9.3

@pauldix that is good news, could find any issue or PR for it. Maybe missed it.

So more on the syntax suggestion. It was just something that I came up with to make it more clear that there are aggregation functions (that the Group By require), and transformation functions (that act one or more values). It could make the queries more readable and understandable and also

[2015-09-22 08:06] bal2ag opened #4193 "[0.9.3] Less than or equal to inequality is not inclusive for time in where clause"
OS: OS X 10.10.4 (although I have seen the same issue on other OSes)
InfluxDB version: 0.9.3
Install: Pre-built package
Test case: Should be able to repro on any database, just format the query as below using <= for time upper bound.

I have the following data in my InfluxDB database (among other data):

[code]

When I try to query using an inclusive upper and lower bound on time, only the lower b

[2015-09-22 08:42] willemdh opened #4194 "POST with Invoke-restmethod or invoke-webrequest results in "method not allowed""
Hello,

I'm trying to emulate a curl POST to write data from Powershell to influxDB. When I execute the curl statement, as described in https://influxdb.com/docs/v0.9/guides/writing_data.html
everything works 'fine'.

[code]
But when something similar in Powershell:
[code]

I get:

[code]
Any help to get a working example to post data from Powershell directly to InfluxDB is welcome!

[2015-09-22 09:22] tottote commented on #2074
And one other quirk is the fact, that a day does not always start at midnight. In many production facilities which run 24 hours a day, reporting is associated with "mill day" which changes when morning shift comes to work. In a paper mill where I work, that is 6 am, so ALL daily reporting is associated to this "mill day" from 6 am to 6 am.

[2015-09-22 09:59] marko8n commented on #2074
Another bit of complexity tottote - and I agree, I've seen the requirement
for the same and would love support for this. However this risks becoming
so complex it doesn't get done, so I would like to point out too that I
think one big area of complexity which might be avoided is support for
timezones by name which have daylight savings. While I'm sure there are
plenty of people who could +1 that t

[2015-09-22 12:19] tottote commented on #2074
I don't think the main problem with DST is those gaps and overlaps on the two days per year when DST starts or ends. The main problem is the fact that you have one hour time offset in your aggregated data for a whole DST period. But that's just my point of view, others may have other preferences.

DST is a problem, in every aspect of life. If I ever get elected to King Of The World, my first task

[2015-09-22 12:54] mulyoved opened #4195 "Error when reading data: ERR: invalid character 'j' looking for beginning of value"
Influx 0.9.3 on Docker
using client lib npm node-influx

node-influx send this request to write a point and the operation success

[code]

Problem is from influxdb CLI or web interface or Grafana to retrieve this record

[code]

I have other records with similar values but only this one cause the problem

[2015-09-22 13:04] cagdascirit commented on #77
+1

[2015-09-22 13:12] mjlyon commented on #4188
Upgraded to 0.9.4; SHOW STATISTICS does not yield a successful return.

Show measurements on the internal returns the expected tables, while on the collectd database (automatically created by Influx), it returns empty.

[2015-09-22 13:24] mulyoved commented on #4195
Seem problem was related to some other records NaN values in the database

[2015-09-22 13:24] #4195 closed

[2015-09-22 14:44] markuspatrick commented on #3158
@beckettsean:
Little update on the problem.
It seems that the cq running into kind of lock - also without ```count()``` or ```count(distinct())```function after a while (20-40 minutes). Lock means, I can write successfully but I can't read any measurement (no response on queries after minutes,which normally have under 1s response time).

In contrast to cq with ```distinct``` and/or ```count``` (se

[2015-09-22 14:51] otoolep commented on #4188
Sorry it's SHOW STATS

[2015-09-22 14:59] mjlyon commented on #4188
engine
path:/var/opt/influxdb/data/_internal/monitor/1, version:bz1

blks_write	blks_write_bytes	blks_write_bytes_c	points_write	points_write_dedupe
11247	809271	734684	11247	11247
engine
path:/var/opt/influxdb/data/_internal/monitor/2, version:bz1

blks_write	blks_write_bytes	blks_write_bytes_c	points_write	points_write_dedupe
48516	3395592	3084027	48516	48516
httpd
bind::8086

query_req	query_re

[2015-09-22 15:06] nooproblem commented on #4185
@rkuchan,

Thank you very much for your reply comment.

Please find below the code taken from the Getting Started guide for the influxdb/influxdb/client:

[code]
When querying the database through the web UI (select * from shapes), the following query results are produced:
[code]
This is confirmed when using the last10Shapes function:
[code]
Your thoughts / advice will of course be greatly appreci

[2015-09-22 15:36] otoolep commented on #4188
The collectd input has not received a single bit of data. I suggest you
check your sender and the network connection between InfluxDB and the
sender.

On Tuesday, September 22, 2015, mjlyon <notifications@github.com> wrote:

[2015-09-22 16:22] mjlyon commented on #4188
[root@viz3 etc]# tcpdump -i lo -p -n dst port 8096
tcpdump: verbose output suppressed, use -v or -vv for full protocol decode
listening on lo, link-type EN10MB (Ethernet), capture size 65535 bytes
12:21:02.628817 IP 10.205.15.86.39117 > 10.205.15.86.8096: UDP, length 1333
12:21:12.628820 IP 10.205.15.86.39117 > 10.205.15.86.8096: UDP, length 1305
12:21:22.628806 IP 10.205.15.86.39117 > 10.205.15.8

[2015-09-22 16:48] otoolep commented on #4188
Please show us the log and the output of `ss -anu`.

[2015-09-22 16:51] #4170 closed

[2015-09-22 17:17] mjlyon commented on #4188
I changed the ports from 8096 to 28596; seemed to fix the issue.

[2015-09-22 17:25] #4188 closed

[2015-09-22 17:59] otoolep commented on #4188
Were your collectd clients sending on 8096?