[2015-09-22 18:00] mjlyon commented on #4188
Yes, they were set to 8096 for the network sender port.  Looking at open ports, didn't see any reason anything else would have been using it, but I may have missed it.

[2015-09-22 18:22] otoolep commented on #4167
The latest nightly builds includes new stats named `cluster` (available via` `SHOW STATS`). These stats will confirm if the system is remotely accessing shards when it should not otherwise be.

I'd be interested in the output of this command. This is also relevant for issue https://github.com/influxdb/influxdb/issues/4170

[2015-09-22 18:22] otoolep commented on #4170
The latest nightly builds includes new stats named cluster (available via `SHOW STATS`). These stats will confirm if the system is remotely accessing shards when it should not otherwise be.

[2015-09-22 18:26] otoolep commented on #4192
cc @DanielMorsing @dgnorton

[2015-09-22 19:15] myurko2 opened #4200 "Query causes server panic"
On 0.9.4, the following sample code in the python client reliably causes the server to crash with "panic: runtime error: index out of range"

[code]

[2015-09-22 20:31] rkuchan commented on #4200
@myurko2, thanks for pointing this out. Closing in favor of https://github.com/influxdb/influxdb/issues/4046.

[2015-09-22 20:31] #4200 closed

[2015-09-22 20:40] rkuchan commented on #4194
@willemdh, I believe you're sending a POST request to the wrong endpoint and you forgot to specify a database in the query parameters. Try:

[code]

Let me know if this fixes your problem!

[2015-09-22 20:40] #4194 closed

[2015-09-22 20:47] rkuchan commented on #4193
Thanks, @bal2ag! I was able to repro. This is a bug.

[2015-09-22 20:50] rkuchan commented on #4189
@esecules, could you send me your config file? Thank you!

[2015-09-22 20:56] rkuchan commented on #4185
Thank you! Could you run the following query and pass on the output?

`SELECT * FROM shapes GROUP BY * LIMIT 100`

[2015-09-22 21:17] mjdesa commented on #4185
@nooproblem Just ran the code you gave me and I'm getting timestamps,

[code]

Try upgrading to go 1.5 and version version 0.9.4+

[2015-09-22 21:18] jeanpralo commented on #3820
I have the same problem using the nightly build: "0.9.5-nightly-ace0e03"

A call to the api works

curl -G http://127.0.0.1:8086/query --data-urlencode “db=db" --data-urlencode "q=show continuous queries”

[2015-09-22 21:40] brunohass opened #4203 "[0.9.5-nightly] query of CQ data hangs CLI"
First, I did not know how to name this ticket correctly, feel free to rename it.

There is something strange going on in our influxdb. We have some CQs to downsample our data.

The model follows:
raw < 5m < 1h < 12h < 1d < 1w < 4w

Everything works fine until 12h measurement. After that I cannot even see data in the "next" measurement (1d).

I suspected it might be because of data throughput (we h

[2015-09-23 01:57] harryshayne opened #4205 "In a cluster(three node),data is not sync when one node crash a while and then restart."
In my cluster,there are three node,I use my client to write data to the leader node, when the leader node crush, my client write data to one follow node.But when I restart the leader node, after 20 minutes, the data which lost when the leader crush(the data is write the follow node) is not sync to the leader node. Any one can tell me why?is this a bug?how to solve it ?

[2015-09-23 02:16] jeanpralo commented on #2676
:+1:

[2015-09-23 02:23] jipperinbham opened #4206 "WAL panic if client has sent an empty measurement key"
I realize this is more of a bad client/application but I would somewhat hope the database would reject any invalid data.

For reference: 3 node cluster (0.9.4.1) running on EC2 (r3.xlarge)

We were sending about 4-5k stats/second and things appeared to be running great but when the WAL would flush and every node would crash and go into a continuous crash loop. I've left out most of the gigantic st

[2015-09-23 02:49] imcom opened #4207 "DERIVATIVE is broken in 0.9.4.1 (Stable)"
I understand that it is nice to have DERIVATIVE support aggregation functions, but you guys just made it only work with aggregation functions. It is not viable to use field_keys in DERIVATIVE in this version. Please fix it ASAP. I do not know how many serious users/customers you've got. BUT, do NOT break usable functions any more!

[2015-09-23 02:54] imcom commented on #4207
Nice dudes, the nightly build fixed it. Be careful please and when do you plan to cut a release on the nightly build ?

[2015-09-23 02:57] imcom commented on #4207
Oh, that's strange, why should I always use an aggregation function when I have `time` condition in WHERE clause???

[code]

gives me the error

Server returned error: error parsing query: aggregate function required inside the call to derivative

[2015-09-23 03:09] otoolep commented on #4206
Obviously we can't be sure without more examination, but we have pretty good data input validation, with extensive testing of the line protocol at a unit and integration level.

This may actually be a bug related to moving data from the WAL to BoltDB.

cc @pauldix

[2015-09-23 03:24] jeanpralo commented on #2555
@otoolep  thanks for that ! it was the problem and it is working on the nightly build !

[2015-09-23 03:42] harryshayne commented on #4205
@otoolep

[2015-09-23 03:48] harryshayne commented on #4205
For simple, client write data to a three node cluster , one node crush for a while and then restart , data loss in that node for that while.

[2015-09-23 03:55] aspcartman commented on #4185
@mjdesa I'm having the same problem using 0.9.4.1 influxdb and go 1.5.1

[2015-09-23 04:43] otoolep commented on #4143
I cannot reproduce this.

[code]

[2015-09-23 05:00] aspcartman commented on #4185
I fixed it by removing "precision" field from my point.

[2015-09-23 06:40] harryshayne commented on #4139
+1,when to fix it

[2015-09-23 07:25] markuspatrick commented on #3158
Next Update - After a 24 h testing

What looks like a deadlock seems only be "hanging" cqs on small grouping level (5m).
After24h, the down sampled measurements with 1h and 1d grouping contains correct data without lags.
In contrast, the downsampled measurements with 5m grouping contains a lot of lags. The lagging starts 2h after starting the test. The lags are  20 minutes until 40 minutes long. B

[2015-09-23 08:51] willemdh commented on #4194
Hey Regan

Thanks again for your fast answer. Stupid of me to not specify the db.. I get another error with ypu solution however:

[code]
results in:

Invoke-RestMethod] {"error":"unable to parse Basic Auth credentials"}

So I made this change:

[code]

Thanks for the help.

[2015-09-23 09:38] #1820 closed

[2015-09-23 09:46] DanielMorsing commented on #211
Right now, CQs don't validate statements that are created, so you can create an invalid query. Obviously, for backfill, you need to have a valid query, but should I add this restriction as well for all CQs? It should be easy to do since I'm adding a loop into the tsdb anyway.

The only reason I can see why I shouldn't is that someone might want to create a CQ that will become valid in the future,

[2015-09-23 10:24] ekini commented on #4135
Maybe it's not reated, but I had the same problem with 0.9.4.1.

[code]

Fixed it by chowning influxdb:influxdb on /var/opt/influxdb/wal

[2015-09-23 12:00] markuspatrick commented on #77
+1

[2015-09-23 12:20] malaakso commented on #4104
I have the same problem: 0.9.3, Linux, single node.

[2015-09-23 13:31] larsakeekstrand opened #4209 "[0.9.4] Query with time > now() - 7d only returns last three days"
Hi,

when I try to get the last 7 days of data, I only get the last three days. The same applies when asking for 4,5,6,7,8 days of data or when asking for the equivalent hours. However, when I ask for the last 9 days (or 206h) everything works fine.

Example when asking for last 7d:
[code]

Example when asking for last 9d:
[code]

[2015-09-23 13:35] madshall commented on #2442
+1 for this

[2015-09-23 14:22] DanielMorsing opened #4210 "Continuous queries can potentially be lost or run more than once."
At https://github.com/influxdb/influxdb/blob/master/services/continuous_querier/service.go#L198, we check whether we are the leader of the raft algorithm or not and use that to decide if we should run the continuous query.

More than one node can consider itself leader at the same time and all nodes can consider themselves candidates at the same time. This leaves a potential for a CQ to be execute

[2015-09-23 14:37] willemdh commented on #4194
Regan

I have been trying lots of different possibilites, but I was not able to find how I can write multiple points at once to InfluxDB.

[code]
Also tried with \n and other combinations. Any idea or tip how I can achieve writing multiple points with Powershell Invoke-Restmethod?

[2015-09-23 14:42] tdunning commented on #211
If you take an example from another domain, JDBC validates prepared queries
even though they aren't yet being executed.  The same argument that they
*might* be valid later applies and nobody thinks that it is worth allowing
temporarily invalid queries.

With JDBC, the time between preparation is typically smaller than with
continuous queries, but not necessarily all that short. For a long running

[2015-09-23 14:55] HakShak commented on #4207
See https://github.com/grafana/grafana/issues/2802

[2015-09-23 14:55] HakShak commented on #4148
See https://github.com/grafana/grafana/issues/2802

[2015-09-23 15:14] markuspatrick commented on #4203
I have a similar behavior (See #3158 ). I suspect that the CQs hang after a while, if you have  a lot of CQs or other read or write queries. Have you restart the DB and checked if your raw data measurements have lags? Do you see lags in the 5m or 1h measurements? Do you have timeouts in your write job, which ist filling the influxdb?

[2015-09-23 15:57] adamn-porch commented on #4121
+1

[2015-09-23 16:30] eliperelman opened #4211 "Grouping and aggregation don't seem to derive values with correct date"
Using 0.9.3, running the following query:

`select * from measure where revisionId = 'fb7c3b962235d8b4f4e18dd58528186e0bffaa1e'`

gives back a list of points with the correct date of today when the values were stored:

![https://cldup.com/Q3olCOFtYm-1200x1200.png](https://cldup.com/Q3olCOFtYm-1200x1200.png)

When trying to aggregate the data with `percentile` for everything within the past 7 days

[2015-09-23 16:30] brunohass commented on #4203
@markuspatrick:
Above is just a test server. To reproduce the error I'm talking is very easy: just start a brand new server and copy/paste the commands. You don't even need to write more data, just the 3 points makes queries to 1d data hang :(

Our production server stores varnish requests statistics (we have a CDN service). This gave us about 5k w/s (sustained)  with peaks of 20~25k w/s. Our serv

[2015-09-23 16:40] eliperelman commented on #4211
Actually, in thinking about this properly you can't have a common time when grouping by something. This works as expected.

[2015-09-23 16:40] #4211 closed

[2015-09-23 16:41] codehate commented on #2074
+1

[2015-09-23 17:52] brunohass commented on #4121
+1

[2015-09-23 18:33] jipperinbham commented on #4206
prior to "fixing" the client application, I could run "SHOW MEASUREMENTS" and the first key return was an empty string FWIW

[2015-09-23 18:44] cnelissen commented on #1647
+1

Need to be able to do stuff like:

DELETE FROM measurement WHERE tagKey = 'tagValue'
DELETE FROM measurement WHERE time < now() - 30d

[2015-09-23 19:53] otoolep commented on #2676
The reason we've held off on this is that what if the user subsequently alters the default retention policy? Should the system always override on restart? We can make it so that the config settings only apply when the retention policy is created.

[2015-09-23 20:11] jeanpralo commented on #2676
Just my thought but I would rather have the default retention policy applied at the creation of a database, and if someone wants to alter it they can do it manually.

[2015-09-23 21:45] rkuchan commented on #4209
@larsakeekstrand, to see if something is amiss could you try using `COUNT` to identify the number of points that you'd expect to get back from your query? Querying the past seven days seems to be working fine for me.

[2015-09-23 21:50] rkuchan commented on #4143
@mjdesa

[2015-09-23 22:49] larsakeekstrand commented on #4209
When I run the query using COUNT, I get the same number when trying 3, 4, 5, 6, 7, 8d:

[code]
They same behavior occurs also at a higher day-count i.e. 10,11,12,13,14,15 all give the same count.

Trying this gives nothing back even if there should be samples:
[code]
There are around 50-150 values / day in the dataset. To many to list here, so I have extracted some samples:
[code]

[2015-09-24 01:11] nooproblem commented on #4185
Hi,

Thank you very much for your help.

I can also confirm this is fixed when removing the precision field.

[2015-09-24 02:57] ecables opened #4212 "[0.9.5-nightly-952f1d5] not all nodes have measurements in _internal database"
Just upgraded to 0.9.5-nightly-952f1d5, and I noticed that only one of the nodes has measurements in the _internal database.

db1:
[code]

db2:
[code]

db3:
[code]

[2015-09-24 03:32] lostz opened #4213 "query time is wrong"
My column time is 2015-09-24 11:31:41.827188331 +0800 CST
but my query time is 1970-01-01T00:00:01.443065351Z

[code]

[2015-09-24 05:02] apriendeau commented on #4037
So I played around with this, I receive an error when I try all the variants of the boolean syntax and receive this `ERR: unable to parse 'hamlet true=b': invalid boolean`.

@beckettsean do you have an example of where this succeeds?

[2015-09-24 07:35] szop85 opened #4214 "Retention policy"
Hello guys,

we are using InfluxDB in combination with Graphite to collect measurements and therefor I'd like to ask, if it's possible to setup a retention policy on different levels? Like i.e.:

- each data point represents 30 seconds and we want to keep up to 7 days of data with such frequency
- all historical data for the last 30 days is stored in 5 minute intervals
- all historical data for th

[2015-09-24 07:51] larsakeekstrand commented on #4209
Now, when I try again 9h later when I have passed into a new day and try again the threshold (time) for the fault has moved. Now, I get the same answer for 4, 5, 6, 7, 8, 9d instead which seems to indicate that this doesn't relate to the query but the measurements somehow.

There seems to be a time-window that I cannot query correct:
[code]

If I try to query beyond this i.e. "2015-09-13T00:00:00.

[2015-09-24 09:15] Oliv4945 commented on #3315
Sorry @benbjohnson I did not had time to give it, but I just updated to 82c50bb and I do not have the issue anymore. Thank you !

[2015-09-24 09:39] Oliv4945 opened #4215 "[0.9.5-master] "panic: interface conversion" on continuous queries with min()"
Hi,
I just updated to 82c50bb from f994a97, I deleted all data files, re-create my database, retention policy and continuous queries.
New configuration file generated with "influxd config"

The error "panic: interface conversion: interface is string, not time.Time" appears on the continuous query with the "min()" and not the "mean()" function. It was working on f994a97.
Also I tried to set up the

[2015-09-24 11:10] willemdh opened #4216 "Timeouts after a few writes to InfluxDB"
Hello,

I'm trying to write data ( a bunch of Windows perfmon counters) every 5 seconds to InfluxDB 0.9.4 with this Powershell code

[code]

This works fine when I do this manually one time. But when I make a loop and make it write these counters every 5 seconds, I get this error after the third time my PS script is trying to write data.

[code]

I tried augmenting the commit-timeout in influxdb.c

[2015-09-24 11:49] wyzssw commented on #4122
perhaps not first install，it's maybe my fault。
I find i  can just copy 'influx and influxd ' command to anywhere i want ，without  install in root。

[2015-09-24 11:49] #4122 closed

[2015-09-24 11:59] kwando opened #4217 "GROUP BY on tag does not work if there is a value with the same name."
I'm not allowed to use group by on a tag it there is value with the same name.

[code]

[2015-09-24 12:08] tfalencar opened #4218 "[0.9.5-nightly] panic: runtime error: index out of range when compiled for ARMv5"
Hello,

Please bear with me as I never programmed in go; So maybe the solution for this is really simple..

I've compiled influxDB from sources twice, once for x86_64, and another time for armv5, both based on the following latest commit:

commit 8f4b354f8f1f2360e878921220fec88f02dad391  Date:   Tue Sep 22 21:52:19 2015 -0700

While I had no problems with x86_64, I'm getting a 'panic: runtime erro

[2015-09-24 13:11] corylanou opened #4219 "Add Windows binaries to nightly build"
With go 1.5, it's trivial to generate binaries for windows now:

[code]

I would like to see them added to the nightly builds scripts as a simple zipped file for download.  No packager required and we can label it `experimental`.

[2015-09-24 13:11] corylanou commented on #4219
@otoolep  thoughts?

[2015-09-24 14:06] corylanou commented on #4217
Writing a tag and a field with the same name is not supported.  Due to the way shards are written, we can't prevent this from happening, but when reading the data there is no way for us to know what you want to retrieve.

[2015-09-24 14:06] #4217 closed

[2015-09-24 14:08] corylanou commented on #4213
Can you give us some information on how you are doing writes?  Are you using the client library?  Are you using a collection endpoint like graphite?  It would appear the data isn't being written properly.  We would need more information on how you are sending data to the server to understand the problem.

[2015-09-24 14:09] corylanou commented on #4213
My guess would be that you are sending us time in one precision, and we are expecting it in anther precision when decoding it.  This can happen a number of ways when sending data, so once I understand how you are sending data I should be able to give examples of the proper way to send the data.

[2015-09-24 14:19] kwando commented on #4217
Hmm, okey. Maybe drivers should throw an exception if that happens then.

[2015-09-24 14:29] otoolep commented on #4219
Thanks @corylanou.

Couple of questions -- why are you building 386 binaries? Are these 32-bit images? We already have a note on our downloads page that we are not providing 32-bit binaries:

https://influxdb.com/download/index.html

Also, the Downloads page will need to be updated. The last question is how much support we provide for this software, which @beckettsean will need to weigh in on. If

[2015-09-24 14:35] otoolep commented on #4214
Why don't you configure the retention policy that Graphite writes into as 7
days, and use Continuous Queries to downsample into the other
retention policies? That is the way to do it.

Note we can't keep every 10th measurement, you will instead need to
aggregate across 10 minute windows.

https://influxdb.com/docs/v0.9/query_language/continuous_queries.html

Philip

On Thu, Sep 24, 2015 at 12:35 A

[2015-09-24 14:35] otoolep commented on #4214
I believe CQs are the best way to do this. The mailing list would be the best place for further general knowledge questions.

https://groups.google.com/forum/#!forum/influxdb

[2015-09-24 14:35] #4214 closed

[2015-09-24 14:36] otoolep commented on #4212
That's probably because the first shard groups of the _internal database are not fully replicated.

Show us the output of 'SHOW SHARDS'.

[2015-09-24 14:39] otoolep commented on #4218
@tfalencar - are there data underneath this system? Are you trying to upgrade?

Any ideas @benbjohnson ?

[2015-09-24 14:42] szop85 commented on #4214
Grate! Thanks guys!

[2015-09-24 14:43] tfalencar commented on #4218
Thank you for your attention @otoolep. No data or upgrade. This is a 'clean/new' setup. Please check output of the tests command that I've added (at: https://gist.github.com/tfalencar/a9c326a39359b91dce90), I think this should help track down the issue.

[2015-09-24 14:52] otoolep commented on #4216
Please work with the output of `SHOW STATS` and `SHOW DIAGNOSTICS` to see if there are any clues in there.

https://influxdb.com/blog/2015/09/22/monitoring_internal_show_stats.html

[2015-09-24 15:16] ecables commented on #4212
Requested output below:
[code]

[2015-09-24 15:22] corylanou commented on #4217
For some cases, we could, but for others, we can not. Meta data for fields and tags are not stored at the consensus layer, but at the shard layer.  This is done to support the speed of writes that the database needs to ingest.

So, for instance, if you wrote a single point with both a field and a tag with the same name, I agree, we could easily reject that write.

Effectively I'm agreeing with you

[2015-09-24 15:23] otoolep commented on #4212
Yeah -- you need to bump the replication factor of your `_internal` database to 3, or configure a dedicated database and retention policy yourself for monitoring data, set it in the config and bounce the nodes.

Make sense?

[2015-09-24 15:38] ecables commented on #4212
Okay, I altered the retention policy for `_internal` to a replication factor of 3, like so:
[code]
The output of `SHOW RETENTION ...` confirms this, but `SHOW SHARDS` still shows a single node for each ID.
[code]

Do I need to restart Influx for this change to take effect?

[2015-09-24 15:44] otoolep commented on #4212
@ecables -- what will happen is this change will take effect when the next set of shards -- called "shard groups" are created. That group will be created a few minutes before the current shards expire.

[2015-09-24 15:51] ecables commented on #4212
Well, I ended up restarting the nodes (db1, db2, and db3), thinking that might trigger this, and on two of the nodes I'm seeing owners with ID 4, 5, and 6 for _internal, despite there only being 3 nodes in the cluster. Looking at `SHOW SERVERS` I'm seeing unresolved versions of our existing servers.

db1:
[code]
In the above output, servers 4-6 are the unresolved versions of 1-3.

db2 shows only 3

[2015-09-24 15:53] otoolep commented on #4212
@jwilder -- any thoughts?

[2015-09-24 15:55] otoolep commented on #4212
To be clear @ecables -- you are not running 6-node clusters, right? When the name resolution didn't happen, everything got doubled?

[2015-09-24 15:56] ecables commented on #4212
No, we only have 3 nodes, and the 6 nodes shown merely represent the hostname representation and the unresolved representation (IP address).

[2015-09-24 15:58] otoolep commented on #4212
Yeah, that's what I assumed, but just wanted to be sure.

I've CC @jwilder who most recently worked on the clustering code.

[2015-09-24 16:23] jwilder commented on #4212
@ecables When you restart the nodes, is the same `hostname` always passed via the config or via the `-hostname` flag?  Those unresolved addresses look like a server was started without changing the hostname and also not using the same meta data dirs.  It seem to have joined the cluster as a new node which is why it has new node IDs and `raft=false`.

[2015-09-24 16:47] ecables commented on #4212
No changes were made to the configuration during the restart; before starting the cluster during the upgrade from 0.9.4.1 -> 0.9.5-nightly I ensured that the `hostname` configuration variable was accurate.

[2015-09-24 16:54] corylanou commented on #4219
So good point on no 32 bit binaries, we can do just 64bit.

Per @pauldix
[code]

[2015-09-24 17:07] corylanou commented on #1472
This should be done after #1471

[2015-09-24 17:18] corylanou commented on #1471
I have some questions about different edge cases, as well as what should be supported in this issue.

### Security
Can anyone remove a server?  Do they have to have admin access?  What if authentication is disabled?

### Quorum Status
Can this only be done if there is a quorum?  I'm not sure how we can support this in an unhealthy cluster.

### Data Loss
If the server has shards with an RP of 1, d

[2015-09-24 17:21] otoolep commented on #1471
Don't remove any data. That should be a distinct step. A user might remove
the wrong node and need to quickly put it back.

On Thursday, September 24, 2015, Cory LaNou <notifications@github.com>
wrote:

[2015-09-24 17:22] corylanou commented on #1472
Also, I think the syntax should have to drop a server by `ID`, which is what you get when you do a `show servers`.

[2015-09-24 17:23] corylanou commented on #1471
Also, I think the syntax should have to drop a server by `ID`, which is what you get when you do a `show servers`.

[2015-09-24 17:23] corylanou commented on #1471
@otoolep if you don't remove the data, and it's being controlled by service architecture, it will come right back up and potentially rejoin the cluster.  We would need to handle that somehow.

[2015-09-24 17:55] Jhors2 commented on #4212
I also want to contribute that this cluster has not been wiped since around 0.9.2.  At one point we were using the "peers = []" config directory which was specified via IP addresses at the time.  Around the 0.9.3 train the peers.json config file changed from permitting IPs to permitting hostnames in the config.  peers.json was then changed to use hostnames rather than IPs.

I'm assuming this MAY b

[2015-09-24 18:06] toddboom opened #4220 "Handle out of memory panics at a global level?"
Talking with Paul quickly, it sounds like this might be possible. Is there a way we can wrap the server process and catch these so that the server returns a 500 instead of dying?

Example stack trace:
[code]

[2015-09-24 18:08] jordmoz opened #4221 "[0.9.4.1] Version number in UI is 0.9.3."
This is such a minor issue. The influxdb UI shows the version number as 0.9.3.  It's a little confusing.

[2015-09-24 18:13] otoolep commented on #1471
I'm not sure I fully follow, I guess you mean Raft metadata. What I am
talking about is don't remove any shard data, actual potentially value
time-series data. Make sense?

On Thu, Sep 24, 2015 at 10:24 AM, Cory LaNou <notifications@github.com>
wrote:

[2015-09-24 18:44] noroute commented on #4032
@beckettsean Sure. Sorry for taking so long to reply.

[2015-09-24 18:44] #4032 closed

[2015-09-24 18:49] larsakeekstrand commented on #4209
Updated to 0.9.4.1 but the problem is still there.

/Regards
Lars-Ake

[2015-09-24 19:09] ecables commented on #4221
Also present in 0.9.5 nightly.

[2015-09-24 19:47] corylanou commented on #4220
You would have to trap the panic at the entry point to the program (effectively main.go for cmd/influxd).  You can't catch a panic in a defer/recover for a process that you didn't spawn.

[2015-09-24 19:47] corylanou commented on #4220
Or I guess we could wrap our query engine in a defer/recover (or parts of it) and let it return an error when it panics.

[2015-09-24 19:52] otoolep commented on #4220
@corylanou -- can you trap "fatal" errors? This doesn't look like a panic.

[2015-09-24 19:57] corylanou commented on #4220
ah, nope, fatal is effectively `panic() + os.Exit()` doh!

[2015-09-24 19:58] otoolep commented on #4220
OK, then a diaper pattern sounds doable.

http://mike.pirnat.com/2009/05/09/the-diaper-pattern-stinks/

[2015-09-24 20:03] otoolep commented on #4220
Oh, @corylanou when you said "effectively" you didn't mean "actually is". I misread your comment.

[2015-09-24 20:04] corylanou commented on #4220
correct, so as far as I know, this can't be done.  See this example: http://play.golang.org/p/_Jf1FL8J6r

[2015-09-24 21:14] otoolep opened #4223 "Fully-replicated clusters accessing remote shards"
Fully replicated clusters -- clusters where all retention policies have a replication factor equal to the number of nodes in the cluster -- are occassionally accessing shards remotely, even though the query could be served completely by local shards.

This can be seen via the `cluster` diagnostics, which have non-zero counts for remote accesses. It is not clear at this time why this happens.

@jwi

[2015-09-24 21:14] otoolep commented on #4223
This started with issue #4170

[2015-09-24 21:16] otoolep commented on #4223
Example diagnostics output:
[code]

[2015-09-24 21:21] pauldix commented on #1471
Yes, drop by ID. Don't delete data off disk. They have to do that by either dropping shards, databases or actually deleting the files themselves.

The most common use case for removing a server is removing one from the cluster that has gone down and isn't coming back up. For example if you lose your EC2 instance or DO droplet.

However, when removing a server from the cluster it shouldn't matter i

[2015-09-24 21:30] otoolep commented on #4205
It sounds like you're saying the data has not been replicated correctly. Are you sure the replication factor for the retention policy is set to the number of nodes in your cluster?

`SHOW DATABASES`
`SHOW RETENTION POLICIES on <database name`

are the commands you should run to help figure out what is going.

[2015-09-24 21:32] otoolep commented on #4177
CC @jwilder @corylanou

@jwilder - should adding a 2nd data-only node work?

[2015-09-24 21:39] tslater commented on #3700
I have the same issue. I was on v0.9.3.x but then updated to InfluxDB v0.9.4.1.
I'm on ubuntu.
Here is the log output:

[code]

[2015-09-24 21:41] otoolep commented on #4176
Sounds like a reasonable idea. Any comment @jwilder ?

[2015-09-24 21:47] jwilder commented on #4177
Yes

[2015-09-24 21:58] otoolep commented on #4212
Right now we do not have configuration support for removing nodes from the cluster -- the `DROP SERVER` command is due to ship in 0.9.5 or 0.9.6.

We may be able to do some work here, to help, but this could be awkward. Your cluster is not a fully healthy state, and it may be due to the upgrade from 0.9.2 to the latest code.

[2015-09-24 22:51] corylanou commented on #4037
You have the syntax backwards.  Line protocol requires `field=value` syntax.

[code]

[2015-09-24 22:56] esecules opened #4224 "[0.9.3] panic after I tried to create first backup"
It created an empty snapshot and crashed influx
here's the beginning of the trace
[code]

[2015-09-24 23:05] apriendeau commented on #4037
Okay. I could see that being useful as if you wanted to flag something as a friendly version to 0 or 1.

Is there a reason that it can't be parsed as Boolean when its a value like that? It also looks like its coming back as a boolean as well from your example @corylanou. Still digging and learning a new codebase so I want to make sure that I understand completely.

[2015-09-24 23:08] esecules commented on #4224
probably duplicate of #3700

Is there a workaround for now?

[2015-09-24 23:09] corylanou commented on #4037
@beckettsean can you provide an example either via query or insert that this isn't the case?  Via the cli, I couldn't get it to recognize any of those as anything BUT booleans.  I'm not sure where the actual bug/feature request is without further context.

[2015-09-24 23:17] roobert commented on #4176
Main questions regarding implementation:

* should multiple field tags be allowed, in the same way as the measurement tag is?
* is something like this valid: `mytag.measurement*.field`
* should `field*` be implemented

[2015-09-25 00:08] jwilder commented on #4176
Personally, I would  model these measurements slightly differently.  Instead of a measurement named `metric.net` with multiple fields, I would suggest using a measurement name of `net_rx_bytes` and `net_tx_bytes` with a single field of `value`.

The reason I usually suggest that is for discoverability/usability as well as performance.  For example, when you run `SHOW MEASUREMENTS`, you will get bo

[2015-09-25 00:27] roobert commented on #4176
@jwilder, thanks very much for your response. I'm all in favour of simplicity.

Personally I prefer taking the performance hit and using fields. We've been storing a lot of metrics in this way using the native line protocol and so the reason for this feature request is that I'd like organisational consistency between our app metrics and system metrics (which are mostly created by 3rd party graphit

[2015-09-25 02:24] sparrc opened #4226 "Line Protocol should include unit of timestamp, precision should always truncate"
As of now, writing to InfluxDB with the `precision` flag in the query string is inconsistent. When writing without a timestamp, the precision flag tells Influx to truncate the write time to the given unit of precision. When writing _with_ a timestamp, the precision flag is telling Influx the _units_ of the write.

Ergo, there is no way to give InfluxDB a timestamp in nanoseconds and tell it to wri

[2015-09-25 03:44] otoolep commented on #4212
I am going to close this issue for now, as I believe the system is behaving as expected.

[2015-09-25 03:44] otoolep commented on #4212
With regards to the replication of the internal stats, that is.

[2015-09-25 06:23] ymettier commented on #4221
Hello,

I have noticed it too.
@otoolep : that should be easy to fix. Any idea ?

Regards,
Yves

[2015-09-25 06:45] otoolep commented on #4221
I think so, but this is one for @toddboom , not me!

[2015-09-25 06:54] melson-jao opened #4229 "DB crash after running the add calculation in SQL-like query"
I have a measurement like ABC and it has columns like count_a and count_b.
When I exec query like :
select count_a + count_b from ABC where time > now() - 10m
The influxdb process crash.

Here is the error log: (the match data number is around 500)

[query] 2015/09/25 14:36:25 SELECT (bdg_count + conn_count) FROM "rtls"."default"."2.bs.status" WHERE time > now() - 1h
panic: runtime error: index ou

[2015-09-25 06:59] melson-jao commented on #4229
BTE, the influxdb version is 0.9.4.1

[2015-09-25 07:17] otoolep commented on #4229
Dupe of #4046

[2015-09-25 07:17] #4229 closed

[2015-09-25 08:10] markuspatrick commented on #3158
I found a solution, that works in my case and avoid hanging cqs
1.) Drop cqs smaller than 1h grouping level
2.) Every measurement or rather time level got an own retention policy (for 1h and 1d)
3.) Disable internal monitoring (it writes every 10s in the db...)

With this restriction, influx runs without hanging cq or lagged data. Unfortunately, cqs with ```count()```or ```count(distinct())```are

[2015-09-25 10:32] tfalencar commented on #4218
A bit more info:

Interestingly, running 'go test -run=TestDatabase . -v' results:
PASS
ok      github.com/influxdb/influxdb    0.800s

file /root/gocodez/bin/influxd: ELF 32-bit LSB executable, ARM, version 1 (SYSV), dynamically linked (uses shared libs), not stripped

so I went to see what are the dependencies:

 readelf -d /root/gocodez/bin/influxd
[...]
 0x00000001 (NEEDED)

[2015-09-25 10:56] km-cc commented on #3430
Problem still exists in 0.9.4.1:

dpkg -i influxdb_0.9.4.1_amd64.deb
(Reading database ... 41506 files and directories currently installed.)
Preparing to replace influxdb 0.9.4.1 (using influxdb_0.9.4.1_amd64.deb) ...
Unpacking replacement influxdb ...
Setting up influxdb (0.9.4.1) ...
dpkg (subprocess): unable to execute installed post-installation script (/var/lib/dpkg/info/influxdb.postinst): E

[2015-09-25 11:55] corylanou commented on #4226
So to be clear, the `s` parameter on the query will now be ONLY for truncating time, and unless specified in the line protocol, it's always `ns` time right?

[2015-09-25 13:00] pauldix commented on #4226
I think we should keep the query parameter as well. That way it's not a breaking change in any way. What's the advantage for making the query parameter not specify units as well as truncation?

[2015-09-25 13:06] jeremyVignelles commented on #3945
@beckettsean any updates on this?

[2015-09-25 13:47] DanielMorsing commented on #4220
log.Fatal goes through a different path than runtime fatal errors.

Runtime fatal errors cannot be caught. The defers will be run, but after a recover, the process exits

[2015-09-25 13:48] pkittenis commented on #4220
Also hitting this very regularly - similar stack trace as the first post above.

In our case WAL flushes trigger OOM - similar to OOM during bulk load issues reported else where.

Eg:

[code]

[2015-09-25 13:56] benbjohnson commented on #4220
Even if we could catch OOM errors, there's not much we could do since handling them would probably involve creating at least one object which would, in turn, cause an OOM.

@pkittenis how much RAM are you running with? Also, how long is influx running before the OOM occurs?

[2015-09-25 14:07] pkittenis commented on #4220
16GB RAM on the server, influxdb using ~8GB resident. DB size is ~34GB at the moment but OOM happens even on a new DB.

[code]

[2015-09-25 14:31] pkittenis commented on #4220
Latest OOM just now after 3 hours of run time.

[code]

[2015-09-25 14:38] madshall commented on #2442
There will be also great to be able to downsample that data so that let's say the most accurate data is available for 1 week, then it goes to an archive with only 5 minutes averages stored, after a month it goes to next level of compression with 1 day average values stored.

[2015-09-25 15:21] jbothma opened #4230 "[0.9.4.1] "panic: runtime error" after dropping a retention policy used by continuous query"
If I drop a retention policy that's in use by a continuous query, influx dies with

```panic: runtime error: invalid memory address or nil pointer dereference```

[2015-09-25 15:21] jbothma commented on #4230
I lost the full stack trace now, sorry

[2015-09-25 15:44] jbothma opened #4231 "[0.9.4.1] wildcard series search results in "panic: runtime error: slice bounds out of range""
`SELECT * FROM "riemann"../.*/ LIMIT 1` causes influxdb 0.9.4.1 to die with the following.

I have around 500 series fed from riemann

`SELECT * FROM "riemann"../riemann.*/ LIMIT 1` works fine

[code]

[2015-09-25 16:52] mark-rushakoff commented on #4220
It's not unheard of to [set aside a "rainy day fund"](http://stackoverflow.com/a/11788835) at the beginning of a program, and then free it in an OOM scenario to better handle the error. It may not be enough free memory to allow you to fully recover from the OOM, but it could potentially be enough to dump a bit more information about what went wrong.

[2015-09-25 17:16] sparrc commented on #4226
@corylanou correct, the `precision=` parameter in the query string would ONLY be for truncating time. Line protocol would default to `ns` unless specified otherwise

@pauldix Definitely keeping the query parameter, but the problem now is that it truncates in one situation (no timestamp), and it specifies units in another situation (with a timestamp). Doing both wouldn't really have any effect, bec

[2015-09-25 17:24] pauldix commented on #4226
My suggestion is that if the units are specified on the line protocol, you ignore the query parameter. Otherwise, keep the same behavior we have now. That way we avoid the breaking change entirely.

[2015-09-25 17:26] sparrc commented on #4226
@pauldix then we won't be supporting truncating user-provided timestamps

[2015-09-25 17:28] pauldix commented on #4226
I don't think we need to support truncating user provided timestamps. That's trivial for them to do so there's no win from an API perspective.

[2015-09-25 17:28] mjdesa commented on #4143
@maxone cant repro on master.

[2015-09-25 17:28] #4143 closed

[2015-09-25 17:29] pauldix commented on #4226
In fact, there's no reason for them to want truncation on a timestamp they provide. It's more efficient in terms of the amount of data you're sending over the wire to specify the precision and leave out all the excess digits

[2015-09-25 17:30] corylanou commented on #4226
So, the scenarios are:

## No timestamp provided
- precision parameter not provided: insert `now` with `ns` precision
- precision parameter provided: insert `now` with truncation to parameter specified precision

## Timestamp provided
- no precision parameter, no line protocol suffix: no truncation, time is considered `ns`
- precision parameter provided, no line protocol suffix: consider timestamp

[2015-09-25 17:38] beckettsean commented on #4159
dupe of #4044

[2015-09-25 17:38] #4159 closed

[2015-09-25 17:40] beckettsean commented on #3992
@ivanscattergood see #3318 for the feature request you describe

[2015-09-25 18:00] rkuchan opened #4232 "[0.9.4.1] current vs. intended behavior of LIMIT and possibly broken SLIMIT"
`LIMIT` currently limits the number of results returned per the specified measurement:
[code]
where `location` is a tag. Not sure if `LIMIT` is [meant](https://influxdb.com/docs/v0.9/query_language/data_exploration.html#limiting-results-returned) to return N points per series.

`SLIMIT` currently returns the same thing as `SELECT *`:
[code]

[2015-09-25 18:26] pauldix commented on #4232
This is because you don't have a `GROUP BY` clause with a tag in it. SLIMIT is intended to limit the number of series you get back. LIMIT is for the number of data points in each series.

[2015-09-25 18:27] pauldix commented on #4232
The behavior is a bit odd and we may want to consider revisiting it when we start the development cycle for 1.0. I say that one because we don't want to make a breaking change before then.

[2015-09-25 19:03] sparrc commented on #4226
@corylanou yes that's correct, my original thought was for "timestamp provided, precision parameter provided, no line protocol suffix" to behave differently (truncating), but this way is certainly more backwards-compatible

[2015-09-25 19:56] beckettsean commented on #4135
@rossmcdonald might be another packaging issue if a `chown` fixed the problem.

[2015-09-25 20:04] beckettsean commented on #4207
closing as dupe of https://github.com/influxdb/influxdb/issues/4187

[2015-09-25 20:04] #4207 closed

[2015-09-25 20:04] beckettsean commented on #4148
closing in favor of https://github.com/influxdb/influxdb/issues/4187

[2015-09-25 20:04] #4148 closed

[2015-09-25 20:10] #4185 closed

[2015-09-25 20:15] beckettsean commented on #4215
@Oliv4945 can you share a few example points so we can get a sense of your data?

[2015-09-25 20:18] beckettsean commented on #4213
@lostz this looks like a duplicate of https://github.com/influxdb/influxdb/issues/4185. If you are supplying date-times rather than UNIX epoch timestamps, please make sure you are not also using the `precision` query string parameter.

[2015-09-25 20:18] #4213 closed

[2015-09-25 20:20] beckettsean commented on #4218
@toddboom any insights from your own ARM builds?

@rossmcdonald anything jump out at you?

[2015-09-25 20:24] beckettsean commented on #4216
@willemdh what happens if you run the code standalone multiple times? You said it works when run once standalone, and it fails on the third iteration of a loop. What about the third time you run it manually?

What if you run it more often than every 5 seconds? Maybe it's a timeout issue?

[2015-09-25 20:29] beckettsean commented on #4217
Related issue for preventing duplicate tag and field keys: https://github.com/influxdb/influxdb/issues/2615

@kwando you should get a meaningful error message when attempting it:

[code]

[2015-09-25 20:31] beckettsean commented on #4219
I have no blocking concerns about Win64 binaries

[2015-09-25 20:37] beckettsean commented on #4209
@larsakeekstrand we can't repro and I've seen no other reports that look like this (and it seems likely others would notice).

Can we get a copy of your data? Just make a gzipped tarball of everything in the `influxdb` directory (e.g. `/wal`, `/data`, `/meta`, `/hh`). You can upload it to http://cwok.me/cu/gh4209 or we can arrange other means if you prefer.

[2015-09-25 20:41] beckettsean commented on #4224
closing as dupe of #3700. I'm unaware of a workaround. There appear to be some fundamental bugs in the backup code.

[2015-09-25 20:43] beckettsean commented on #4037
@corylanou @apriendeau I didn't test this or encounter any behavior, I just opened the issue after a long discussion about booleans. We decided that booleans shouldn't be valid identifiers, so as to simplify parsing. It appears that might already be done, but someone should check the code to be sure.

[2015-09-25 20:48] beckettsean commented on #3945
@jeremyVignelles no updates. I would not expect this to be implemented soon.

[2015-09-25 20:49] beckettsean commented on #2442
@madshall what you describe is already possible, except for the ability to use different mount points for different retention policies, which is what this feature request covers.

[2015-09-25 20:52] beckettsean commented on #4230
@jbothma what version of InfluxDB?

[2015-09-25 20:53] beckettsean commented on #4231
Are the results any different if you run `SELECT * FROM /.*/ LIMIT 1` against the `riemann` database but without explicitly naming it in the query string?

How many measurements do not match `/riemann.*/`?

How much RAM on the box?

[2015-09-25 20:54] jbothma commented on #4230
0.9.4.1

[2015-09-25 20:55] beckettsean commented on #4232
@pauldix is there a document describing the _intended_ behavior of LIMIT and SLIMIT?

[2015-09-25 20:56] victorhooi commented on #4135
@pauldix I thought you mentioned something about the nightly builds and the `b1` engine, but the comment is removed now? Is that still something I should try?

[2015-09-25 21:04] victorhooi commented on #4086
I'm just curious if there's a timeframe on when the new storage engine might hit nightlies?

Super excited to try it!

Also - would it resolve the (possible) snappy compression issues in #4135?

[2015-09-25 21:05] syepes commented on #4086
+1 This is a must have as in the current stat its completely useless, really hope the new SE resolves the memory and write throughput issues.
Just Off-topic, did you guys consider using a Non GC language like Rust?

[2015-09-25 21:09] pauldix commented on #4086
@victorhooi: We're working feverishly on it, we'll announce as soon as it hits the nightly. It will almost certainly resolve #4135. Will almost certainly be within the next two weeks (but not before next Friday).

@syepes: useless for your workload perhaps, but there are plenty of people using it already with the old engine. But point taken, we're focused very heavily on this. It's the number one

[2015-09-25 21:21] starkDbl07 opened #4234 "Retention policy no effect"
I am testing influxdb. Installed version is 0.9.4.1

I have created some retention policies as given below:
default	"1h0m0s"	1	true
5minavg	"720h0m0s"	1	false
30minavg	"2160h0m0s"	1	false
1houravg	"8760h0m0s"	1	false
1dayavg	"26304h0m0s"	1	false
1minavg	"168h0m0s"	1	false

Querying on same database for "default" retention policy as given above still returns old data. According to above, the defaul

[2015-09-25 21:25] otoolep commented on #4234
How long have you waited for the data to be deleted? It does not happen immediately.

Check back in 30 minutes.

[2015-09-25 21:40] starkDbl07 commented on #4234
The default retention policy is "1h". And its still returning data of a day ago (24h+), to be specific since I created the database. The policy was altered at "2015/09/25 13:23:16" and currently it is "Sat Sep 26 03:21:44 NPT 2015" according to my timezone.

Its been around 15h since I altered the policy and still no effect.

[2015-09-25 21:42] otoolep commented on #4234
Show us the output of `SHOW SHARDS` please.

[2015-09-25 21:43] starkDbl07 commented on #4234
id	start_time	end_time	expiry_time	owners
2	"2015-09-21T00:00:00Z"	"2015-09-28T00:00:00Z"	"2015-09-28T01:00:00Z"	"1"
5	"2015-09-25T00:00:00Z"	"2015-09-26T00:00:00Z"	"2015-10-26T00:00:00Z"	"1"
7	"2015-09-25T00:00:00Z"	"2015-09-26T00:00:00Z"	"2015-10-03T00:00:00Z"	"1"
6	"2015-09-25T09:00:00Z"	"2015-09-25T10:00:00Z"	"2015-10-02T10:00:00Z"	"1"

[2015-09-25 21:45] otoolep commented on #4234
Can we see `SHOW RETENTION POLICIES ON <the target>` database?

[2015-09-25 21:46] starkDbl07 commented on #4234
I posted the output of the same command on my first comment.

[2015-09-25 21:49] starkDbl07 commented on #4234
is there any mistakes or missing portion in my configuration?

[2015-09-25 21:49] otoolep commented on #4234
I need to take a look at the code, to see what is going on.

[2015-09-25 21:51] Oliv4945 commented on #4215
Here an extract, is that kind of you requested ?

SHOW MEASUREMENTS
[code]

SHOW SERIES
[code]

SELECT * FROM sensorsData GROUP BY * LIMIT 4
I deleted some data to avoid to much repetition
[code]

SELECT * FROM electricity GROUP BY * LIMIT 4
[code]

[2015-09-25 21:51] starkDbl07 commented on #4234
okay otoolep.
i will be waiting for the solution.

[2015-09-25 22:06] abukaka opened #4235 "[0.9.4.1] "ORDER BY DESC" doesn't properly order output"
I'm trying to get the newest *n* points from a series

    name: 76603ea0-f7ea-40ce-819a-df51f16cb379
    ------------------------------------------
    time				            value
    2015-09-25T21:54:51.074Z	    3.49632
    2015-09-25T21:55:21.084Z	    3.51199

    name: 76603ea0-f7ea-40ce-819a-df51f16cb379
    ------------------------------------------
    time				            value
    2015-09-25

[2015-09-25 22:13] esecules commented on #3923
@nonsenz what are come more details about the install without this problem how does it differ from the problem ridden one?

I am having the same issue after recently upgrading from 0.9.1 to 0.9.3 where I have mixed data from different versions stored.

[2015-09-25 22:19] benbjohnson commented on #4220
@pkittenis A memory profile would be great! You can run:

[code]

Then just send the `heap.svg` file that's output.

@mark-rushakoff a rainy day fund works for C but it seems difficult to do with a GC language like Go.

[2015-09-25 22:19] mjdesa opened #4236 "[0.9.4.1] Cant create user with username `user`"
[code]

[2015-09-25 22:47] beckettsean commented on #4235
Might be a caching issue. @jwilder thoughts on this `ORDER BY DESC` bug?

[2015-09-25 22:49] beckettsean commented on #4235
I can confirm the behavior. The following queries were run within 20 seconds of each other:

For each of the ` select * from cpu_busy order by desc limit 10` notice that the timestamps are identical but the series returned is non-deterministic. Not sure if that's a bug or not.

In any event, there is clearly more recent data than the 18:37:28 points, yet that's all the `ORDER BY DESC` queries retu

[2015-09-25 22:51] beckettsean commented on #4235
It's not caching, or at least changing the measurement to one I haven't queried ever before still returns the older points:

[code]

[2015-09-25 22:53] beckettsean commented on #4235
It's interesting that the timestamp doesn't move forward. Some similar symptoms to #4209 although no `ORDER BY` in that issue and in this issue, the normal `WHERE time` queries return the expected results.

[2015-09-25 22:54] beckettsean commented on #4236
`user` is a keyword and must be double-quoted:

[code]

[2015-09-25 22:54] #4236 closed

[2015-09-25 22:55] mjdesa commented on #4236
ah! thats right.

[2015-09-25 23:31] #4224 closed

[2015-09-25 23:36] caldwell opened #4237 "DERIVATIVE() edge conditions"
We're running influxdb 0.9.4.1 on Ubuntu 14.04LTS.

We're trying to use `DERIVATIVE()` and running up against some issues. The data is an ever increasing nginx query count. Here's an example of our query without the `DERIVATIVE`:

    name: curl_json_value
    tags: host=server-2-e1c-01
    time			first
    ----			-----
    2015-09-25T22:10:00Z
    2015-09-25T22:11:00Z	5.3238387e+07
    2015-09-25

[2015-09-26 00:11] otoolep commented on #4234
The issue is the following. When the database was first created, the default policy was given "infinite retention" which means each shard that was created when data was first written to the database will be around for 7 days. For example, this shard:

 6 "2015-09-25T09:00:00Z" "2015-09-25T10:00:00Z" "2015-10-02T10:00:00Z" "1"

When you change the retention policy duration it does not affect shards

[2015-09-26 00:11] #4234 closed

[2015-09-26 01:21] yee379 opened #4239 "listen on both http and https"
is this possible?

i have an iframe on a https webserver that has src of my https grafana instance which needs to read from https influx.

however, i would like to keep writing to influx without the overhead of https at the moment (and while we migrate everything over)

[2015-09-26 01:30] otoolep commented on #4239
No, this is not possible with the current software.

On Friday, September 25, 2015, yee379 <notifications@github.com> wrote:

[2015-09-26 04:10] yee379 commented on #4239
:( i wonder whether having this feature would be better than sticking it behind apache/nginx/haproxy... i wonder if the overhead of reverse proxies would be ideal for such high volume traffic. thoughts?

[2015-09-26 05:52] starkDbl07 commented on #4234
thanks @otoolep
is there anyway i can manually remove such shards?

[2015-09-26 12:06] otoolep commented on #4234
Not yet, but we hope to support that in the future.

On Friday, September 25, 2015, starkDbl07 <notifications@github.com> wrote:

[2015-09-26 15:47] jhorwit2 opened #4240 "[0.9.4.1] WAL Flushing issue"
I have noticed that the WAL just doesn't flush since 0.9.3.

[code]

I started to get the write throughput errors in my log so I disabled writing to this database over 24hrs ago, yet the WAL doesn't flush to bolt. This means whenever I turned on this database it instantly has issues unless i `rm -rf` that WAL directory which means i lose data I noticed.

Also, why is it that in all of my databases

[2015-09-26 15:53] jhorwit2 commented on #4240
To me it seems like the WAL has issues, not the underlying storage engine? (related to #4086 )

[2015-09-26 18:43] otoolep commented on #4239
@yee379 -- I don't have any special knowledge in that area, I suggest you just try it out and see how it goes.

[2015-09-26 18:43] #4239 closed

[2015-09-26 21:12] parisholley opened #4241 "[0.9.4.1] timeouts after dropping measurement"
trying to test new continuous queries, realize I made a mistake and try to drop the query, then the measurement it inserted into causes problems. soon as I issue the drop on the measurement, the logs fill up with:

"failed to write point batch to database"

and the server becomes unresponsive until I restart (and the measurement is never dropped). I can still run commands like "show measurements"

[2015-09-26 21:18] parisholley opened #4242 "[0.9.4.1] timeouts for statistics after restart"
though it doesn't prevent the server from starting up, it is strange that timeouts would happen on a restart?

[code]

also happens on 0.9.5_nightly_b079d20-1

[2015-09-26 21:52] bacheson commented on #4121
+1

[2015-09-26 22:15] SamyPesse opened #4243 "[0.9.3] Crashed when dropping a database"
I'm currently evaluating influxdb to store ~50 millions entries (visits on websites) to serve stats for specific website.

I tested importing ~10 millions entries in the same serie (I'll now test to use a unique serie for each website). It took the all ram (`influxd` was using ~14gb of RAM and 300% CPU on my mac mini).
After 20min, I restarted it and again it took the all RAM and CPU, and queries

[2015-09-26 22:38] pmenglund commented on #3923
Here's a partial stack trace when it crashes on `0.9.4.1`:

[code]

[2015-09-26 23:56] parisholley opened #4244 "[0.9.5-nightly-b079d20] (regression) aggregate broken with where clause"
if the select statement does not contain a field defined in the where clause, the query returns no result. ie:

[code]
to work around, you have to add another agg func for the field

[code]

[2015-09-27 00:50] jhorwit2 commented on #4240
I had to restart before it cleared. Definitely not ideal behavior.

[code]

[2015-09-27 02:02] pdknsk commented on #3939
May I suggest to document this until it's fixed? The current milestone suggest a later release date.

[2015-09-27 04:13] parisholley opened #4245 "[0.9.4.1] udp/hash algorithm not distributing partitions?"
[code]

trying to figure out why I have so many timeouts, notice that every single line from WAL logged refers to "partition 1". I am using UDP to inject events and don't see any activity on the other partitions within the logs.

I suspect this may be why I am seeing my memory usage go through the roof, the udp module isn't able to flush and keeps everything in memory?

[2015-09-27 04:31] parisholley commented on #4242
should add that it seems the larger the database gets, the more timeouts that happen. with a few gigs of data, I am noticing a 5 minute delay on restart

[2015-09-27 05:30] #4242 closed

[2015-09-27 17:25] parisholley commented on #4220
@benbjohnson I try to run this to dig into my OOM issues on a new install and get:

[code]

[2015-09-27 17:33] toddboom opened #4246 "Missing types.db file for collectd plugin causes server to fail to start"
Maybe this is intended behavior, but I wanted to make a note regardless. Should plugin startup failing cause the server to die?

[2015-09-27 17:41] parisholley commented on #4220
@benbjohnson Here is a SVG for my setup, single node (r3.xlarge), 96% memory usage, ~4GB of data with 20M/s being send to server (according to AWS). Currently takes 5 minutes to restart db. One a fresh database everything is fast but eventually OOM about 6 hours in. On restart, it doesn't stay up for long.

http://imgh.us/heap.svg

[2015-09-27 18:20] parisholley opened #4247 "[0.9.5-nightly-b079d20] no result when filtering on tag with no data"
select count(value) from measurement where tag = 'value1';

if there is no series where tag = 'value1', instead of returning count = 0, it returns an empty response

[2015-09-27 18:35] jhorwit2 commented on #4245
I'm noticing the same weird partition issues except I'm not using UDP. Seems to be a general WAL writing/flushing issue. #4240

[2015-09-27 19:19] sosedoff opened #4248 "[0.9.4.1] Panic when writing empty data points via Ruby"
I've been experimenting with InfluxDb 0.9.4.1 and found a weird bug which i cant replicate via CURL.
What im doing is just writing an empty string to the write enpoint with ruby:

[code]

Example above results in influxdb's panic:

[code]
Panic also triggers `Farday::ConnectionError` in ruby code, which was unexpected behavior because server did not handle the connection properly.

The reason why

[2015-09-27 21:28] pauldix opened #4249 "Client should not support uint64"
We don't support it on the server so the go client should throw an error on it. Looks like it got added in #3033

[2015-09-27 21:29] pauldix opened #4250 "Server should return an error if the user tries to write uint64"
We don't support uint64. If a value overflows what can be represented with an int64, we should return an error.

[2015-09-27 22:38] abolinhas commented on #3923
Same issue here with influx 0.9.3
root@stats-appliance:/home/artica/influx/backup# /opt/influxdb/influxd backup -host 10.95.254.99:8089 /home/artica/influx/backup/snapshot.db
2015/09/27 19:27:05 influxdb backup
2015/09/27 19:27:41 backup complete
root@stats-appliance:/home/artica/influx/backup# du -sh *
0       snapshot.db
root@stats-appliance:/home/artica/influx/backup#

Also influx crash after f

[2015-09-27 22:38] abolinhas commented on #3941
Same issue here with influx 0.9.3
root@stats-appliance:/home/artica/influx/backup# /opt/influxdb/influxd backup -host 10.95.254.99:8089 /home/artica/influx/backup/snapshot.db
2015/09/27 19:27:05 influxdb backup
2015/09/27 19:27:41 backup complete
root@stats-appliance:/home/artica/influx/backup# du -sh *
0       snapshot.db
root@stats-appliance:/home/artica/influx/backup#

Also influx crash after f

[2015-09-27 22:38] abolinhas commented on #4139
Same issue here with influx 0.9.3
root@stats-appliance:/home/artica/influx/backup# /opt/influxdb/influxd backup -host 10.95.254.99:8089 /home/artica/influx/backup/snapshot.db
2015/09/27 19:27:05 influxdb backup
2015/09/27 19:27:41 backup complete
root@stats-appliance:/home/artica/influx/backup# du -sh *
0       snapshot.db
root@stats-appliance:/home/artica/influx/backup#

Also influx crash after f

[2015-09-28 01:31] parisholley commented on #3912
i just got hit by this on 0.9.5-nightly-b079d20

[2015-09-28 01:32] parisholley opened #4252 "feature request: process supervisor"
given the unstableness of memory and other issues, it may be a good idea to have some type of supervisor script that watches for when the influx database dies (such as during a panic) and reboots itself.

[2015-09-28 03:53] parisholley opened #4253 "feature request: treat tags like fields in select?"
would be great if tag data is saved with field data, and can be accessed via the select statement, even if it is used mainly as an "index". write now, I am having to dual write data to work around it

[2015-09-28 04:52] esecules commented on #3700
is this slated for a patch to 0.9.4 or has it been bumped to 0.9.5?

[2015-09-28 05:12] corylanou commented on #4253
Can you provide an example of the data you wrote and how you are trying to query it so we can better understand your request?

[2015-09-28 05:14] parisholley commented on #4253
for instance

[code]

id like to:

[code]
to determine number of unique advertisers (or any other tag point) per period

[2015-09-28 05:17] otoolep commented on #4253
Isn't `SHOW TAG KEYS` close to what you want? It doesn't have the `count` but it's close.

https://influxdb.com/docs/v0.9/query_language/schema_exploration.html

[2015-09-28 05:18] otoolep commented on #4252
@parisholley -- I'm not sure why this is an InfluxDB issue. Systems like `supervisord` are distinct systems, and it's up to end users to decide to use them, or not. Am I missing your point?

[2015-09-28 05:19] parisholley commented on #4253
@otoolep nope. i'd like to see stats on how diverse certain tag sets are time. considering that strings aren't terribly useful as fields for the most party, there probably isn't a need to treat tag data as a full blown field, but I'd suppose it would make implementation easier.

[2015-09-28 05:51] #4252 closed

[2015-09-28 06:37] otoolep commented on #4246
Yes, this has always been the case. I see no reason why the server should carry on if an explicitly configured plugin won't start.

[2015-09-28 06:37] otoolep commented on #4246
To be clear, it shouldn't panic, but it should error with a clear message in the logs or at `STDERR`.

[2015-09-28 06:49] lostz commented on #4213
I fixed it by removing "precision" field

[2015-09-28 09:49] jbothma commented on #4231
Same result without naming the database in the query.
[code]

[2015-09-28 10:02] jbothma commented on #4231
I think it's around 1000 measurements. it's about 510 series anyway and some have one measurement, some have 5.

On my prod machine with 8G RAM, `SELECT * FROM /.*/ LIMIT 1` has been sitting working for about 10 minutes now, so it might still fail or eventually succeed. This machine has around 1000 series and probably around 2000 measurements.

[2015-09-28 11:00] tfalencar commented on #4218
As far as I can tell (by looking in the stack trace etc) this is originating from a memory issue on BoltDB for ARM.

[2015-09-28 11:32] tfalencar commented on #4218
BoltDB uses "unsafe" package in multiple locations and I believe this is what is causing the problems. I will create another issue in BoltDB project and reference it here.

[2015-09-28 14:46] hsalahi opened #4254 "Import MongoDB profile into Influxdb"
Hi! I'm trying to store MongoDB profile data into InfluxDB. I looked up a bit. One solution is to export the profile in JSON format but I'm not sure then it's possible to import it into InfluxDB! Is there any way to do it?

Thanks.

[2015-09-28 16:17] parisholley commented on #4253
i suppose this could be solved by just doing a count and group by and handle on client side. just wouldn't be able to use directly in a tool like grafana..

[2015-09-28 16:21] parisholley opened #4255 "feature request: tag index stats"
not sure how the new storage engine work will impact this, but i had problems getting started with influx because my tag cardinality was too high (was tagging geo data along side other tags like country, region, state, postal) and it was causing memory usage to go to the roof. I have since limited it to country/region and put the rest as fields.

if tag index stats were available, it would probabl

[2015-09-28 16:24] brunohass commented on #4255
+1

[2015-09-28 16:38] sebito91 commented on #4187
+1 without a doubt. The best example I've seen of this is from graphite-web (I'm sure @torkelo has experience):

http://graphite.readthedocs.org/en/latest/functions.html?highlight=movingaverage

You have the ability to completely nest functions within one another which provides incredible flexibility when parsing your data.

[2015-09-28 16:56] CVTJNII opened #4256 "Interface conversion panic while running clustered"
While testing in a cluster one of my nodes fell over with the following panic:

[code]

Full panic is over 500 lines so I have pastebinned it here: http://paste.ubuntu.com/12603851/

As I'm currently testing the cluster was running in Docker.  Unfortunately docker-compose shut the containers down when this happened so I don't know how the cluster would have recovered.  I'm currently working on mig

[2015-09-28 17:07] jackzampolin commented on #4254
@hsalahi,

Because this isn't a feature request or bug, I'm closing this in favor of you submitting a support ticket. You can do that by emailing support@influxdb.com and we'll be happy to help you out.

[2015-09-28 17:07] #4254 closed

[2015-09-28 17:08] otoolep commented on #4256
This has been fixed in the 0.9.5 release. You can run with fix by installing a nightly build.

[2015-09-28 17:08] #4256 closed

[2015-09-28 17:10] otoolep commented on #4256
See https://github.com/influxdb/influxdb/pull/4191

[2015-09-28 17:24] CVTJNII commented on #4256
Awesome, thanks!

[2015-09-28 17:33] apriendeau commented on #4037
According to the code, if it parses as anything but an `IDENT`, it will error.

https://github.com/influxdb/influxdb/blob/d02817ca6dbd9523902517e408435b2b954ee197/influxql/parser.go#L459

[2015-09-28 17:39] beckettsean commented on #3939
@pdknsk it is documented: https://influxdb.com/docs/v0.9/troubleshooting/frequently_encountered_issues.html#querying-with-booleans

[2015-09-28 17:42] beckettsean commented on #4247
This is the designed behavior. For any valid query that has no matching data InfluxDB returns an empty response.

[2015-09-28 17:42] #4247 closed

[2015-09-28 17:43] beckettsean commented on #4241
@parisholley can you provide explicit steps to reproduce, or a copy/paste of your curl or CLI session that leads to the issue?

[2015-09-28 17:45] parisholley commented on #4241
@beckettsean doesn't seem to be an issue on nightly using the "bz" engine

[2015-09-28 17:45] #4241 closed

[2015-09-28 17:46] beckettsean commented on #4243
@SamyPesse to start over with a fresh system, simply delete everything in the influxdb directory. On OS X if you installed from homebrew that would be the `~/.influxdb` directory.

[2015-09-28 17:46] #4243 closed

[2015-09-28 17:52] parisholley commented on #4247
@beckettsean are there technical limitations that lead to that design choice? in particular, I believe the lack of a response can cause issues with continuous queries (not an issue for me now, but think I ran into it in the past). If I remember correctly, I thought the user of intervals filled in gaps when data was empty (ie: towards begining of time frame) if there was data at the end of the time

[2015-09-28 18:11] beckettsean commented on #4231
I don't quite follow. A measurement is a container of series. Does each of the 2000 measurements have 1000 series? See the [glossary](https://influxdb.com/docs/v0.9/concepts/glossary.html) for more on the specific meaning of these terms in InfluxDB.

I can verify the slow behavior of the wildcard with a limit. I have about 20 million points across a few dozen series, and `SELECT * FROM /.*/ LIMIT

[2015-09-28 18:16] parisholley opened #4257 "feature request: stats ingestion rate"
would be great to see ingestion rate per shard as well as the average size per point/req

[2015-09-28 18:17] beckettsean commented on #4244
Cannot repro with 0.9.4.1:

[code]

Can repro with nightly build:

[code]

[2015-09-28 18:18] beckettsean commented on #4253
closing as duplicate of https://github.com/influxdb/influxdb/issues/3880

[2015-09-28 18:18] #4253 closed

[2015-09-28 18:19] beckettsean commented on #4241
@parisholley thanks for the update!

[2015-09-28 18:27] parisholley opened #4258 "feature request: shard size in stats"
would be nice to see a file size vs. having to stat file in file system

[2015-09-28 18:27] otoolep commented on #4257
That is already available with `SHOW STATS` -- shard-level ingestion counters are available, and you can calculate rates via derivative by using the `_internal` database. See the blog post below:

https://influxdb.com/blog/2015/09/22/monitoring_internal_show_stats.html

[2015-09-28 18:27] #4257 closed

[2015-09-28 18:39] jbothma commented on #4231
Ah right - I think I confused them and didn't read the glossary as well as I should have before. The query `show series` makes me think "uptime/uptime" is a series and it's being rather verbose in showing what's inside - but it all makes sense now with `show measurements` being what I thought I was doing with `show series`

So I have about 500 measurements, some of them for single hosts, some of t

[2015-09-28 19:38] parisholley opened #4259 "[feature request] choose retention policy for udp"
currently, it will not work if you put <db>.<policy>, would be great to import into something other than default

[2015-09-28 19:49] beckettsean commented on #4231
This is partially true. It is not possible to aggregate across measurements, so any downsampling must take place per measurement. However, you can use a regex backreference character to write one continuous query that downsamples all matching measurements. We're still working on the documentation, but you can see the feature described in https://github.com/influxdb/influxdb/pull/3876.

A series ex

[2015-09-28 19:55] jbothma commented on #4231
Yeah what I meant was every time riemann or whatever starts up or thinks it sees a new measurement, it could either try and create its downsampling continuous query, or it could check if it exists and create it if it doesn't.

The backreference sounds really nice - would that then start working on new measurements when they arrive?

[2015-09-28 19:59] beckettsean commented on #4231
I honestly don't know. I'll be testing it soon and we'll publish the downsampling guide when that's all documented.

[2015-09-28 20:01] jbothma commented on #4231
Thanks for the help on this sidetrack :)

[2015-09-28 20:27] otoolep opened #4260 "Cluster has extra nodes post-upgrade"
Started with https://github.com/influxdb/influxdb/issues/4212#issuecomment-142970249

A cluster running 0.9.2 after upgrade to a 0.9.4, has extra nodes in the system.

[code]

[2015-09-28 20:27] otoolep commented on #4260
@jwilder @corylanou

[2015-09-28 20:28] otoolep commented on #4260
cc @ecables

[2015-09-28 20:35] Zolmeister commented on #4255
+1

[2015-09-28 21:10] smalenfant commented on #4020
Not sure if this is the same... I'm collecting data from collectd. Everytime I run the query below it crashes... This working last night for me but my cluster wasn't consistent. I cleared all the data about a few hours before...

[code]

[2015-09-28 21:23] jstelwag opened #4261 "Simple select crashes Influx after upgrading from 0.9.2 to 0.9.4"
Dropping and recreating the measurement does not help.

[query] 2015/09/28 21:16:06 SELECT * FROM "nijswiller"."default".room_b
panic: runtime error: slice bounds out of range

goroutine 114 [running]:
github.com/influxdb/influxdb/tsdb.(*FieldCodec).DecodeFields(0xc820412060, 0x7fc26d014438, 0x2, 0x7fffffff, 0x0, 0x0, 0x0)
        /tmp/build/src/github.com/influxdb/influxdb/tsdb/shard.go:641 +0x56

[2015-09-28 22:11] otoolep commented on #4259
Agreed, it would be handy.

[2015-09-28 22:18] otoolep commented on #4259
Very straightforward change:

https://github.com/influxdb/influxdb/pull/4262

[2015-09-28 22:31] otoolep commented on #4259
All done @parisholley.

If you want this feature now, you can download a nightly tomorrow.

https://influxdb.com/download/index.html

[2015-09-28 22:31] #4259 closed

[2015-09-28 22:36] parisholley opened #4263 "[0.9.5-nightly-b079d20] derivative does not work when data is missing"
Building a dash to track my influxdb internal metrics and noticed this.

[code]

if I do not have 6 hours worth of data, it just shows as

[code]

however moving it to last minute, it works fine

[code]

[2015-09-28 22:37] otoolep commented on #4260
@ecables -- can we get another look at `SHOW SHARDS`?

[2015-09-28 22:37] jwilder commented on #4263
You need to add `fill(0)` if you have not data.

[2015-09-28 22:46] parisholley commented on #4263
@jwilder good call, may be a good talking point for #4247

that being said, it seems like a workaround? i could understand seeing no entries for the earlier points, but to not show data for the time that is available, seems unintended?

[2015-09-28 22:47] parisholley commented on #4247
@beckettsean someone recently pointed out the fill(0) functionality to me, however it doesn't seem to apply in this case. perhaps that is a compromise? as it solves how to handle a situation where no data exists?

[2015-09-29 00:09] beckettsean commented on #4247
`fill(0)` is intended to address this issue and will add zeros to the buckets that otherwise have no value:

[code]

However, the initial case was one where there is simply no matching data. When nothing matches the `WHERE` clause `fill(0)` does not function. I don't have a deep enough understanding of the system to describe why the two are different:

[code]

[2015-09-29 00:10] beckettsean commented on #4247
@jwilder why does `fill(0)` work when there is at least one valid point returned for at least one bucket, but if there are no matching points there are no buckets returned at all?

[2015-09-29 00:37] jwilder commented on #4247
fill will give each bucket a value if it would have been nil. The derivative function then uses that value to calculate the difference between buckets.

[2015-09-29 01:19] jufemaiz commented on #2074
This.

[2015-09-29 01:23] corylanou commented on #2074
If someone can point to a pure Go library that solves all of this I'm sure we would take a look.

[2015-09-29 01:39] jufemaiz commented on #2074
I'm no Go person, but https://golang.org/pkg/time/ references timezones.

[2015-09-29 03:43] ecables commented on #4260
Do you just want the output for _internal?

db1:
[code]
Interestingly, only one node still has the dupe servers; the other two nodes only show three servers in the `SHOW SERVERS` output; here's that output:
[code]

[2015-09-29 03:45] otoolep commented on #4260
Thanks @ecables -- no, I want it for all databases.

[2015-09-29 03:46] otoolep commented on #4260
I want to see the ownership of every single shard on your system.

[2015-09-29 04:05] otoolep commented on #4260
A simple restart of a 0.9.4 cluster, changing the hostnames at the command line, does not result in this issue. This is not surprising, but I wanted to confirm this.

[2015-09-29 04:42] otoolep opened #4267 "Cluster-level errors not marshalled as expected"
When metastore errors pass from node-to-node, they are not marshalled in a way that allows the code on the receiving node to check types. The patch below shows this:

[code]

The first change attempts to create a database if it does not already exist. The second change forces the system to check the actual error that comes back from the cluster. This check doesn't actually work, and when a second

[2015-09-29 04:43] otoolep commented on #4267
@benbjohnson @jwilder

[2015-09-29 04:54] otoolep commented on #4167
@Jhors2 -- since we know that some shards of the `_internal` database are assigned to nodes that are registered by IP, and those node registrations are in a potentially invalid state, these errors may be generated by attempting to access those nodes. The cluster should not be attempting to access those nodes at all.

Once we clear up the invalid nodes, this issue may be addressed as a side-effect.

[2015-09-29 05:08] otoolep commented on #4017
Fixed in 0.9.5.

[2015-09-29 05:08] #4017 closed

[2015-09-29 06:10] giko45 commented on #2074
continue saveing datetimes in the database in UTC by convention (this might seem unnecessary but is
important)

Then use these 4 lines to convert from UTC to any other timezone before doing the group_by

http://play.golang.org/p/lC5fAcgTEI

[2015-09-29 06:33] kwando commented on #4217
I was using the ruby driver and it did not raise an exception:
https://github.com/influxdb/influxdb-ruby

And yeah, highlighting this in the documentation would probably be good. I'm probably not the first and most likely not the last one to hit this error.

[2015-09-29 09:40] tfalencar commented on #4218
I did a git checkout v0.9.2, and compiled again with go build ./...; go install ./..., ran the newly built influxd run, and the same problem occurs (same stack trace).

[2015-09-29 11:39] smalenfant opened #4269 "Cannot connect localhost:8086 when tunnelling to InfluxDB UI"
I use `-L 8086:x.x.x.x:8086` to tunnel some private IP's on our network. InfluxDB UI does query directly from the browser.

Any way for InfluxDB UI to proxy the queries instead?

The workaround is to tunnel 8086 on localhost as well. But that means 1 connection possible.

[2015-09-29 11:50] naag opened #4270 "[0.9.4.1] Selecting multiple measurements where one doesn't exist may lead to panic"
We're pretty new to InfluxDB and wanted to try it out quickly. So we pulled the docker image from tutum/influxdb (version 0.9.4.1) and ran some experiments. When trying out multi measurement queries where one measurement doesn't exist, the server crashed, but only for certain measurement names like ```z```:

[code]

InfluxDB reports:

[code]

Full output from ```docker logs influxdb``` is here: ht

[2015-09-29 13:54] jacekgrzybowski opened #4271 "[0.9.4.1] SLIMIT clause ignored"
Hello, I've just upgraded to `0.9.4.1` and need to retrieve the latest point from a series identified by a single tag but without taking into consideration other tags.
![last_4](https://cloud.githubusercontent.com/assets/3914691/10165830/7eded5e0-66c1-11e5-8326-57ed73611613.png)

First I thought that `ORDER BY time DESC LIMIT 1` would be sufficient, but as presented on the screenshot above (and as

[2015-09-29 15:16] rossmcdonald commented on #4218
@tfalencar Thanks for keeping us updated. If the issue is with boltdb, then I'm not sure if any of the current 0.9.x releases will work. On the bright side, we are in the process of rewriting the storage backend with a custom engine which should land in master sometime in the next couple of weeks. This should avoid the boltdb dependency altogether, which should hopefully resolve the issue you're s

[2015-09-29 15:16] vmalaga commented on #3923
I work with 0.9.4.1 on a 3 nodes cluster and the issue persist.
Also it makes influxd to crash

[code]

[2015-09-29 16:02] markusr commented on #4235
I see the same behaviour.

[2015-09-29 16:20] pkittenis commented on #4220
Hi,

[Here is heap SVG](https://gist.github.com/pkittenis/3ef48fc062902840d749/raw/eecb6b43fce732df7220dec0e943fc660d700cca/heap.svg) a few seconds before the process OOM.

[code]

[2015-09-29 16:34] nonsenz commented on #3923
here some more infos from my installations:

system a:
no snapshot configured.
/opt/influxdb/influxd backup influxdbbackup runs without errors and backup file is not empty. did not test if backup can be restored.

    debian 8.1
    Linux version 3.16.0-4-amd64 (debian-kernel@lists.debian.org) (gcc version 4.8.4 (Debian 4.8.4-1) ) #1 SMP Debian 3.16.7-ckt11-1+deb8u2 (2015-07-17)
    # dpkg -s infl

[2015-09-29 16:36] JulienChampseix opened #4272 "[0.9.4.1] Panic due no protection on value containing '-'"
Hi,

When i sending an malformed query write the influxdb server crashed (due non protection for this type of value).
Command curl :
`curl -i -XPOST 'http://localhost:8086/write?db=brain.applications&u=test&p=test' --data-binary 'temperature,host=server02 value=-0.67,value2=-'`

The value1 is well formatted but value2 only containing '-' which create a panic on the influxdb server (= crash)

Would

[2015-09-29 17:14] beckettsean commented on #4271
This is a duplicate of https://github.com/influxdb/influxdb/issues/4232.

Try either query with `GROUP BY *` and I believe you will get the results you expect

[2015-09-29 17:14] #4271 closed

[2015-09-29 17:17] beckettsean commented on #4272
thanks @JulienChampseix, I assume you are on 0.9.4.1?

[2015-09-29 17:45] beckettsean commented on #4247
@jwilder I get that behavior, I'm wondering why the `fill` function doesn't do anything if all buckets are `nil`. Instead of getting the buckets returned with whatever `fill` specifies there's just an empty response.

For example, here's the data:

[code]

And here's the successful query with `fill`:

[code]

but if there's no matching point at all, the query just returns an empty response:

[code

[2015-09-29 18:00] jwilder commented on #4247
@beckettsean Not sure.   Would need to look into it further.

[2015-09-29 18:01] beckettsean commented on #4247
I'll open a new issue

[2015-09-29 18:02] beckettsean opened #4273 "[0.9.4.1] fill only works if there is at least one data point"
I'm wondering why the `fill` function doesn't do anything if all buckets are `nil`. Instead of getting the buckets returned with whatever `fill` specifies there's just an empty response.

For example, here's the data:

[code]

And here's the successful query with `fill`:

[code]

but if there's no matching point at all, the query just returns an empty response:

[code]

Here's the `curl` output sh

[2015-09-29 18:03] beckettsean commented on #4273
inspired by https://github.com/influxdb/influxdb/issues/4247#issuecomment-143895025, which has the actual use case for `fill(0)` returning values per bucket in this case.

[2015-09-29 18:04] beckettsean commented on #4247
Opened https://github.com/influxdb/influxdb/issues/4273 to investigate this

[2015-09-29 18:08] beckettsean commented on #4270
@gunnaraasen can you repro?

[2015-09-29 18:10] beckettsean commented on #4269
@smalenfant there is no setting for the Admin UI to proxy requests, there's only the explicit connection setting to select the port (and that must match the config file setting as well.)

@rossmcdonald any thoughts on how this might work?

[2015-09-29 18:11] beckettsean commented on #4235
possibly related to https://github.com/influxdb/influxdb/issues/4232

[2015-09-29 18:30] otoolep commented on #4267
From @benbjohnson: we should either serialize errors using protobufs or look them up by string when they arrive remotely. it’s nice to be able to check against a reference (e.g. `ErrDatabaseNotFound`).

[2015-09-29 19:43] beckettsean opened #4274 "[feature request] simple query to return health of the node for writes"
See https://groups.google.com/forum/#!msg/influxdb/O50VLuuNGRs/kYR-NbZ3DwAJ for the use case. Right now there's no way to know a cluster is good for writes except to send a write. However, writes must be POSTed, and many load balancer checks (ELB for example) can only issue GETs.

[2015-09-29 20:36] abolinhas commented on #3923
Still with the same backup issue in 0.9.4.1 version.
Also I can't restore too
root@proxymtz:/home/logrotate_backup/proxy/2015# /opt/influxdb/influxd restore -config /etc/opt/influxdb/influxdb.conf /home/snapshot.db
unpacking: meta (470 bytes)
panic: Store.RPCListener not set

goroutine 1 [running]:
github.com/influxdb/influxdb/meta.(*Store).Open(0xc820122280, 0x0, 0x0)
        /tmp/build/src/githu

[2015-09-29 20:41] rossmcdonald commented on #4269
@smalenfant I think the easiest solution would be to proxy the communication at the browser level. You can do this directly using SSH's `-D <port>` option (opening a SOCKS proxy), or you can use a more robust solution such as squid or polipo if you will have multiple people/services connecting at once. Once you have the proxy setup, you can modify the settings in your browser (or use a plugin) to

[2015-09-29 20:41] #4269 closed

[2015-09-29 23:01] gunnaraasen commented on #4270
@naag thanks for the report. I was able to repro the panic on 0.9.4. I was unable to pinpoint exactly what caused the panic, but it seems like the mapper trips over itself when handling two measurements.

The panic doesn't occur in master, most likely due to a recent refactor of the tsdb mapper code. The latest nightly works correctly so closing this issue.

[2015-09-29 23:01] #4270 closed

[2015-09-29 23:24] beckettsean opened #4275 "[feature request] DROP MEASUREMENT should accept regex"
e.g. `DROP MEASUREMENT /^foo/` should drop all measurements starting with "foo".

[2015-09-29 23:43] beckettsean opened #4276 "[0.9.4.1] DROP SERIES with a regex for the measurement matches every measurement"
`DROP SERIES FROM /regex/` doesn't throw a parser error, but it also doesn't process the regex correctly, and appears to match every series regardless of the actual regex:

First set up some trivial points:

[code]

Now drop a particular series:

[code]

So far so good. Now let's drop a regex set of series:

[code]

Suddenly every point for every series is gone, even the ones that cannot match `/a

[2015-09-30 04:25] otoolep commented on #4267
@benbjohnson suggested the following:

 i was thinking of keeping it simple and matching on string. maybe have a meta.Error type that automatically adds to a map when instantiated:

type Error struct {
    s string
}

func (e Error) Error() string { return e.s }

var errorMap = make(map[string]*Error)

func NewError(s string) *Error {
    e := &Error{s: s}
    errorMap[s] = e
    return e
}

then

[2015-09-30 04:26] otoolep commented on #4267
Turns out we're already doing something quite similar here: https://github.com/influxdb/influxdb/blob/master/meta/errors.go#L114

So this code is either failing because the lookup isn't working *or* because this slice hasn't been maintained correctly: https://github.com/influxdb/influxdb/blob/master/meta/errors.go#L97

If we move to what @benbjohnson suggests, the system will probably be more main

[2015-09-30 04:40] fffw opened #4277 "terminal prompt get lost after cli aborted"
OS: Tested on Mac OS 10.10.5 and Ubuntu 14.04, but may not limited to them

InfluxDB Version: 0.9.3 ~ nightly build

How to reproduce: `influx -host=8.8.1.1` then `Ctrl^C`, all commands will not have prompt hereafter. `8.8.1.1` is randomly selected.

[2015-09-30 04:52] beckettsean commented on #4277
closing as duplicate of https://github.com/influxdb/influxdb/issues/2609

[2015-09-30 04:52] #4277 closed

[2015-09-30 05:52] JulienChampseix commented on #4272
@beckettsean  : InfluxDB starting, version 0.9.4-rc1, branch master, commit 6d028f9586a6fb3afda9f66bbea8dd7d59b9b3cd

[2015-09-30 06:06] beckettsean commented on #4272
I confirmed that this is still present in the 0.9.4.1 release.

[2015-09-30 06:32] ivanscattergood commented on #3904
Hi,
I have been two specific use cases for this functionality

1) Obfuscation of data for testing / demo purposes.
As the data we deal with is Market data the Tags within the data may actually refer to a ticker and given the other attributes of the data you can work out trade information. I am currently working on a data set which I have been asked to Obfuscate for a demo. To achieve this I am cur

[2015-09-30 07:50] jacekgrzybowski commented on #4232
@beckettsean I'm going to continue here, as #4271 has been closed. Referring to the docs (https://influxdb.com/docs/v0.9/query_language/data_exploration.html#limiting-results-per-measurement) I shouldn't be forced to use a `GROUP BY` clause to get `x` last records with `SLIMIT`. Anyway, even if I include `GROUP BY *` or any tag, it doesn't change a thing as I'm still not able to get the last point

[2015-09-30 07:53] fffw opened #4279 "CLI to support multi-line queries"
In quite a few cases, the query can be longer than one line can fit, so we have to move cursors back and forth to check the whole query.

Possible ways:

1. Use a liner which wraps line automatically.
2. Parse query in CLI and show prompt accordingly, something like python interpreter.
3. check trailing backslash, and join them to form a single query, like bash.

1 would be simplest given such lib

[2015-09-30 09:42] simcap opened #4280 "[0.9.4.1] DROP SERIES with a field in the WHERE clause always drops all points in the measurement"
I have got a series with values equal to 0. Since we decided not to push any value that is 0 in our InfluxDB, I want to clean up this serie and remove the existing values equal to 0. Here is what I did:

[code]
I am surprised that is removed everything (the 3 entries is because the DB get populated at the same time by live clients).

Is the DROP series for a specific value supported?

[2015-09-30 09:56] aglagla commented on #1110
+1

[2015-09-30 10:05] willemdh commented on #4216
@otoolep I can see data when I execute SHOW STATS or SHOW DIAGNOSTICS. I'm able to add the_internals database as datasource to Grafana and successfully test the connection. But when I try to make a graph in Grafana for anything in the _internals db, the graph shows "no datapoints".
SELECT mean(value) FROM "httpd" WHERE "hostname" = 'grafserver' AND $timeFilter GROUP BY time($interval)
SELECT mean(

[2015-09-30 12:53] naag commented on #4270
@gunnaraasen Great, thanks for the quick update. Looking forward to the new release :-)

[2015-09-30 13:48] simcap commented on #4280
(i have just updated the main description above)

[2015-09-30 13:58] dsoprea opened #4281 "[0.9.4.1] Timestamp precision issue with Go client"
I'm new to Influxdb. I must be missing something pretty obvious.

Code:

[code]

Output:

[code]

Influx CLI:

[code]

Notice that these are essentially all identical timestamps.

_However_, the client example worked fine (https://github.com/influxdb/influxdb/tree/master/client).

[2015-09-30 14:57] tfalencar commented on #4218
thanks for the feedback @rossmcdonald. I'm looking forward to the new release. If there's any other info or way I could help just let me know.

[2015-09-30 18:07] beckettsean commented on #4280
I believe the `WHERE` clause for DROP SERIES only operates on tags. For it to work on fields (like `value`) it would have to scan every point in the series, as field values are unindexed.

[2015-09-30 18:11] beckettsean commented on #4281
The timestamps are not identical, it looks very much like millisecond timestamps are being parsed as nanosecond timestamps. By default, InfluxDB assumes timestamps are in nanoseconds unless there is a supplied precision.

What version of InfluxDB are you using?

[2015-09-30 18:35] otoolep commented on #4279
This would definitely be useful -- thanks @fffw . I think 1 and 3 are most feasible. I'd like to see 1 in action.

[2015-09-30 18:36] yee379 commented on #3880
+1; being able to quickly summarise the distinct number of datasets / tags directly from the influx SQL would be very handy; e.g. a grafana panel of the number of sensors I have reporting data over time.

[2015-09-30 18:40] ecables opened #4282 "[0.9.5-nightly-952f1d5] last point is always 0"
I use Grafana to visualize data in InfluxDB. Often times data hasn't been fully collected in the current minute, so we use time picker offsets, such as -1m or -2m to represent all but the last minute, or last two minutes, in our query.

What I'm finding, is that periodically InfluxDB returns the last point as 0, always, regardless of if data exists. This is represented in the screen recording belo

[2015-09-30 19:06] otoolep commented on #4216
@willemdh -- can you please show us output from the CLI? That we can confirm that no data is being returned by InfluxDB.

[2015-09-30 20:18] #4267 closed

[2015-09-30 20:27] dsoprea commented on #4281
Well, I said *essentially*.

[code]

[2015-09-30 20:30] dsoprea commented on #4281
Remember, though... The client example worked fine.

[2015-09-30 21:46] corylanou opened #4283 "HH Throws error even if disabled"
If you disable (or remove) the HH config, the service won't start and gives this error:

[code]

It should not be requiring a directory for a service that is disabled.

[2015-09-30 21:56] jwilder commented on #4283
https://github.com/influxdb/influxdb/blob/master/cmd/influxd/run/config.go#L107

[2015-09-30 21:59] corylanou commented on #4283
We probably need to change it to:

[code]

[2015-09-30 22:19] rossmcdonald commented on #4100
Closing since we couldn't reproduce the issue. Feel free to re-open if the problem returns though!

[2015-09-30 22:19] #4100 closed

[2015-10-01 04:49] melson-jao commented on #4235
I have the same problem. It looks like when using DESC, it cannot have the latest data in X minutes but ASC works fine.

Here is my log:
select * from "2.bs.status" where time > now() - 5m order by time desc
=> no record
select * from "2.bs.status" where time > now() - 5m order by time asc
=> 51 records

[2015-10-01 06:31] parisholley opened #4285 "[0.9.5-nightly-b079d20] udp memory leak?"
[code]
http://imgh.us/heap_1.svg

< 5gb of data (mostly aggregated and last hour or raw ingested data), server eventually crashes. memory usage was after about 24 hours of uptime. doing 4-800 events a second, up to 20 tags + 20 data points at the largest (most active) event

[2015-10-01 06:52] JulienChampseix commented on #4272
Planned to be fixed in 0.9.5 ?

[2015-10-01 07:41] saravananvs commented on #4096
Hi,
  I started exploring InfluxDB and ran into same issue with version 0.9.4.1.

Flushing takes lot of time (in my case it took close to 19 mins for 620K series). Please refer below logs

[wal] 2015/10/01 12:48:36 Flush due to memory. Flushing 620000 series with 620000 points and 21700000 bytes from partition 1

[wal] 2015/10/01 13:07:20 write to index of partition 1 took 18m44.1748336s
[wal] 201

[2015-10-01 08:01] vrbala opened #4287 "[0.9.4.1] influxdb panic"
I couldn't reproduce it again. But posting the trace from logs if that can help debugging.

OS: RHEL 6.5
Installed from rpm package.

[code]

[2015-10-01 08:29] AnderEnder commented on #4121
+1

[2015-10-01 09:24] fchenebault commented on #3923
I got a similar issue while trying to backup in version 0.9.4.
It generate an empty file but also crash the influx server.

Here is the log :

[code]

[2015-10-01 13:22] alexiri commented on #4221
I created a pull request (#4125) for this, but it has yet to be merged.

[2015-10-01 13:27] blufor commented on #3123
fixed in #4288

[2015-10-01 14:00] torkelo commented on #4187
I have started work on a big change to the query editor in Grafana so that it supports nested functions and function with parameters. Inspired by the ideas from Graphite editor.

![image](https://cloud.githubusercontent.com/assets/10999/10222614/3eeac7ec-6855-11e5-9d50-a3d4366755c2.png)

I have added math expression and alias expression as functions but they do not of course nest the expression wh

[2015-10-01 16:40] jwilder commented on #4187
@torkelo I like the editor design you propose.  It does seems more readable to have a series of transformation applied to each field in order vs nesting multiple functions.  Not sure if we lose some needed capabilities though.

I also like the 2nd query syntax you presented as well.  The `->` might be cumbersome to type though.  Maybe borrowing from unix world and using a pipe `|` would have the s

[2015-10-01 16:43] beckettsean commented on #4272
@JulienChampseix it is unscheduled.

[2015-10-01 16:44] torkelo commented on #4187
@jwilder
 yea, pipe char is better :)

[2015-10-01 16:44] beckettsean commented on #4287
A stack trace with no context is not diagnostic. What was happening when this occurred? What do the logs show?

[2015-10-01 16:45] beckettsean commented on #4287
How are you writing to InfluxDB?

[2015-10-01 17:38] sebito91 opened #4289 "[0.9.4.1] Shards not getting created, throwing write failed errors (throughput too high)"
We have an 0.9.4.1 cluster (stable release) of three nodes with a default retention policy as defined by telegraf (v0.1.9, also stable release), and it seems unable to keep up with the data load. In particular, we're seeing thousands of messages the error below, and no extra shard created:

```[tcp] 2015/10/01 12:07:16 process write shard error: write shard 1: engine: write points: write throughpu

[2015-10-01 17:47] vrbala commented on #4287
I am using influxdb python client. Posting data in batches of 100 points. Data rate is roughly 6000 points a minute. When this happened, I was trying to fire a select query in influxdb shell on multiple series using regular expressions. The query looked like
[code]
First is a bad query and I am not sure which one of them caused the panic.
I started getting Connection refused errors and what I coul

[2015-10-01 17:52] sebito91 commented on #4289
Also referencing this Issue: https://github.com/influxdb/influxdb/issues/4240

[2015-10-01 17:57] esecules opened #4290 "[0.9.3] after altering retention policy data appears to be going in, but not query-able"
Since I discovered that backups are broken in this release I wanted to extend my retention policies. After extending them from 720h to INF I couldn't get any new data when I query my data with "WHERE time > now - 10m". Only the data from before I updated the retention policy shows up. (Though in the logs all writes have a 204 status code) I tried altering the retention policy to  365d, but still n

[2015-10-01 17:58] parisholley commented on #4289
i also ran into an issue writing into the default store. it appears that sharding only happens when a retention policy is active (default is infinite). i ended up setting the default to 1 hour and using continuous queries to down sample into 1M groups for what i needed.

[2015-10-01 18:06] esecules commented on #4290
I moved it back to 720h and "WHERE time ..." queries are working again. but im still wondering whether the data that went in while the retention time was long is recoverable, and what the limit is on how long a retention policy can be and whether it can be changed on the fly?

[2015-10-01 18:07] parisholley commented on #4285
currently testing code changes that creates a single buffer array in udp/service.go and clears it at the end of every batch. suppose it will be trial and error to figure out what in that block is preventing garbage collection. will keep trying different ideas. currently takes about 12 hours before OOM happens.

[2015-10-01 18:23] sebito91 commented on #4289
@parisholley did you allow telegraf to create the policy on its own, or did you manually adjust the params?

[2015-10-01 18:31] parisholley commented on #4289
@sebito91 not using telegraf, the default influxdb behavior is create the default retention policy when a new database is made. i ended up disabling that behavior (through conf) and creating it myself. make sure you run:

[code]

to validate it is going to expire within a the timeline you set, otherwise it will never preallocate or rotate

[2015-10-01 18:38] sebito91 commented on #4289
@parisholly, thanks! We'll let the data run for a while to see if the shards actually get generated:
[code]

[2015-10-01 18:45] parisholley commented on #4285
i setup an hourly cron to do heap dumps, so hopefully it will provide some additional insight as the above svg isn't very helpful on its own

[2015-10-01 19:03] sebito91 commented on #4289
So with @parisholley's guidance, we do see shards getting created on the hour (likely based on our config). That being said, the other 4 questions still remain and throughput issues are still present.

[2015-10-01 19:36] larsakeekstrand commented on #4209
@beckettsean Sorry for a late response, but I have uploaded a tarball of my db to http://cwok.me/cu/gh4209 now. Use the queries above to reproduce the issue.

[2015-10-01 19:45] #4237 closed

[2015-10-01 19:48] jwilder commented on #4263
Fixed by #4292

[2015-10-01 19:48] #4263 closed

[2015-10-01 19:59] otoolep commented on #4289
1. Can we turn off the wal at all, buffering into memory/cache instead?
   We have incredibly powerful machines (it's not a hardware problem) that can
   handle this type of throughput provided we can get it at the disks...

This is not possible, and we are currently developing a new storage engine
(which will be available in an *experimental* state very soon). Work on the
new engine will be our p

[2015-10-01 20:45] ecables commented on #4282
What's interesting is when the last point populates with a value, the first point in the query becomes 0.

The below was generated by repeatedly issuing the following example query beginning at 55s into the minute, through 5s into the next minute:
`SELECT sum(value) FROM db.rp.measurement WHERE tag =~ /.*/ AND time > now() - 15m AND time < now() - 2m GROUP BY time(1m) fill(0)`

![more-zero](https:

[2015-10-01 21:01] sebito91 commented on #4289
To rephrase my question about the load balancer, how does a write effectively mark itself as complete if we enable replication across each of the three nodes?

As I understand it today:

1. Open a socket for write on Node A
2. Write metrics into wal on Node A
3. Replicate metrics to each of Node B and Node C (maintaining initial connection)
4. Once receive ack for Node B + Node C copies, return ac

[2015-10-01 21:04] prashleo opened #4294 "first() and last() return wrong time with the value"
I have time series named 'sla' with only 2 time ranges.
below query, returns 2 value for each group by:

`select  value from sla where machine='120' and parent='machine'  group by resource_type`
[code]

which is exactly what I expected.

But using last() which should  return me 1 value in each group, which indeed it does
but with the  wrong time '1970-01-01T00:00:00Z'  instead of  '2015-10-01T20:4

[2015-10-01 21:22] beckettsean commented on #4294
duplicate of https://github.com/influxdb/influxdb/issues/1577

[2015-10-01 21:22] #4294 closed

[2015-10-01 21:53] jchauncey commented on #1825
Any news on when this might come?

[2015-10-01 22:20] beckettsean commented on #4282
Sounds very similar to https://github.com/influxdb/influxdb/issues/3926, although in that issue the first or last value were null, not zero.

[2015-10-01 22:22] beckettsean commented on #4282
However, in this case there's a `fill(0)` in effect, so I'm guessing this is a recurrence of #3926, although that was fixed by https://github.com/influxdb/influxdb/pull/4038.

@corylanou you fixed the last issue, thoughts on this one?

[2015-10-01 22:23] beckettsean commented on #4209
thanks, @larsakeekstrand I see the data.

[2015-10-01 22:24] beckettsean commented on #4290
@esecules can you paste in the output from `SHOW RETENTION POLICIES ON <db>`?

Even better, can you paste in the `ALTER RETENTION POLICY` queries you ran?

[2015-10-01 22:26] beckettsean commented on #4290
Retention policies can be any time range from 1 hour to infinite.

It should work, although I have not verified this recently.

[2015-10-01 22:28] beckettsean commented on #4287
@vrbala  I am unable to repro any panic with queries similar to that, so I don't know what might be the issue. Can you give the output of `SHOW MEASUREMENTS`?

Also, if your measurement names are long dotted strings like that it's probably not the best schema for 0.9. That's more of an 0.8 pattern. See https://influxdb.com/docs/v0.9/concepts/08_vs_09.html for more info.

[2015-10-01 22:38] ecables commented on #4282
Here's the output when I remove `fill(0)`.

<img width="1041" alt="screen shot 2015-10-01 at 3 38 47 pm" src="https://cloud.githubusercontent.com/assets/5559459/10235582/798bdc2c-6852-11e5-917d-0572775ef40f.png">

[2015-10-01 22:39] esecules commented on #4290
Alter:
[code]

show: (I only have the output from when the policy was for 365d in my terminal history)
[code]
During the time the retention policy was 365d I interseted some points into a test measurement and then ran these queries
[code]

[2015-10-01 23:14] beckettsean commented on #4282
Thanks, @ecables.

@corylanou this looks like a regression of #3926 in the latest 0.9.5 nightlies.

[2015-10-02 00:19] parisholley commented on #4285
appears the udp service is fine, it is the underlying storage layer. here are a few lines that i've dug through in pprof that show high usage:

[code]
that last line in that list has the highest cumulative usage across the app.

http://www.speedyshare.com/MnYK9/78170f9f/download/heap

[2015-10-02 00:41] paulstuart opened #4295 "[0.9.4.2] Problems writing very large values"
A fresh install and it's writing other metrics (using https://github.com/paulstuart/influxsnmp).

I'm seeing the following error repeatedly:

unable to parse 'ifHCInUcastPkts,column=bme0,host=10.101.2.12 value= 1443745777758753664': missing field value

The space after "value=" looks like it's causing the problem (I'm using client.Point to create the data).

[2015-10-02 00:48] otoolep commented on #4285
@parisholley -- we aware of issues in the current storage engine and currently working on a new one which should be available for early testing very soon. It will replace the current engine. Track this issue to know when it is available: https://github.com/influxdb/influxdb/issues/4086

[2015-10-02 02:02] nornagon commented on #4218
I also got this error, not on ARM, but on x86. The issue occurred while trying to import a bunch of data from influx 0.8 into a database that already existed (had been writing to it for a while as part of the recommended 0.8 -> 0.9 upgrade process).

It appeared to be specific to a certain range of data — excluding that range from the import allowed the import to continue. My suspicion is that a d

[2015-10-02 02:59] edennis-sge commented on #3880
+1: I have a similar use case to yee379 in mind.

[2015-10-02 03:07] otoolep commented on #4245
With the default engine in 0.9.4.1 there is only 1 partition.

[2015-10-02 03:07] #4245 closed

[2015-10-02 03:10] otoolep commented on #4088
I can't reproduce this with the given config and master.

[2015-10-02 03:10] #4088 closed

[2015-10-02 03:13] otoolep commented on #3347
You need to purge: `--purge`.

[2015-10-02 03:17] otoolep commented on #4290
Please show us the output of `SHOW SHARDS`. You should be aware that shards created before you modify a retention policy will not be changed. So it is possible you still have shards whose end-time is much longer than you expect.

[2015-10-02 03:21] parisholley commented on #4285
latest dump shows issues back in udp service

[code]

after awhile, go isn't GC'ing the buffer? in every other service, the buffer is created once outside the for loop. I tried creating it once then emptying each time, but that didn't work (events didn't write). I'm not sure this may be a storage engine issue (not unless there is some reference in that layer keeping the buffers alive)

http://spee

[2015-10-02 03:23] otoolep commented on #4289
It's the former, almost. The node receiving the data (the co-ordinator) writes to all nodes in parallel (one of which may be the node itself) and waits for all nodes to respond (or timeout). The co-ordinator doesn't do anything special like write to its WAL first. Each node gets the data and writes to its store.

If you want to spread load across the cluster, and your cluster is fully replicated,

[2015-10-02 03:23] #4289 closed

[2015-10-02 03:27] otoolep commented on #4285
@parisholley -- I think you might be right, that code could be improved by moving the buffer-creation to outside the loop.

https://github.com/influxdb/influxdb/blob/master/services/udp/service.go#L131

@corylanou -- what do you think?

[2015-10-02 03:28] otoolep commented on #4285
@parisholley -- can we see the patch you applied, that didn't work for you?

[2015-10-02 03:30] parisholley commented on #4285
@otoolep @corylanou I just tried that (just moving buf to outside loop), but I get errors like this:

[code]

it appears that data is bleeding over when it is not cleared out. i tried something like this earlier in the loop, but then events stopped writing

[code]

[2015-10-02 03:37] parisholley commented on #4285
when i print the point before
[code]
everything looks sane. it is almost like it is incorrectly parsing the line thinking that the tags are fields

[2015-10-02 03:50] otoolep commented on #4272
Fixed by https://github.com/influxdb/influxdb/pull/4296

Thanks for the report @JulienChampseix

[2015-10-02 03:56] #4272 closed

[2015-10-02 04:06] parisholley commented on #4285
still digging, but i think my theory is right. when i change the panic message to output the full buffer, I see this:

[code]

so it is missing the measurement, and is including the tail of the fields

[2015-10-02 05:17] parisholley commented on #4285
@otoolep @corylanou think i got it!

so looks the problem came down to the use of slices. when I moved the buffer out of the loop, the modesl/point was making slices of the data when parsing. problem is those slices share the same memory, so when the next batch of UDP events came in, it would overwrite the old data before it was flushed out.

so my changes included moving the buffer to outside the

[2015-10-02 05:21] yee379 opened #4297 "inserting tags with speech marks"
so i inadvertently added some data with double quotes around the tags:

```blah,device="hosta.example.com",item="some_1" key=123.0```

to my surprise, they got inserted into influx with the double quotes as part of the data. not a big deal, i'll just delete them i thought (after cleaning up the quotes from my little script).

however,

[code]

[2015-10-02 05:23] mariusgrigoriu commented on #3923
Does anyone have a workaround they like?

[2015-10-02 05:35] ivanscattergood commented on #3923
Or even a workaround they hate....

[2015-10-02 06:07] torkelo commented on #4187
I think this issue can be closed right? My original concert was that you could use derivative only with group by time without an error, which I think has been fixed.

[2015-10-02 08:43] jeremyVignelles commented on #4192
Hi,
Any update on this?

[2015-10-02 08:52] pdknsk commented on #3347
I did already.

[2015-10-02 09:17] joyhope opened #4298 "collectd data is unable to get"
My setup
######## /etc/opt/influxdb/influxdb.conf ###
[collectd]
  enabled = true
  bind-address = "0.0.0.0:25826"
  database = "collectd"
  typesdb = "/opt/collectd/types.db"

  # These next lines control how batching works. You should have this enabled
  # otherwise you could get dropped metrics or poor performance. Batching
  # will buffer points in memory if you have many coming in.

  batch-s

[2015-10-02 09:26] joyhope commented on #4298
It is my problem.  the select * from collectd is wrong if using collectd.

[2015-10-02 09:27] #4298 closed

[2015-10-02 10:12] arussellsaw commented on #4249
+1 on this issue, just ran into it whilst deploying influxdb 0.9

[2015-10-02 11:59] Daggersoath opened #4300 "[0.9.4.2] SELECT * FROM Table WHERE TIME > setTime returns "net/http: transport closed before response was received""
As title states, send a select * from table past a set time and got an error of "transport closed before response was received" log contains the http request but never seems to have run the query.

I feel that the WAL settings have something to do with it? Seems to be spamming out a lot on startup

EDIT:
After a complete removal of everything related to influx from the server and then reinstalling

[2015-10-02 12:41] alexisvapillon commented on #3674
Is there an ETA for this feature?

[2015-10-02 13:22] #4300 closed

[2015-10-02 13:31] vrbala commented on #4287
@beckettsean Thanks for looking into this! The dotted naming for measurement names is not used to organize the schema but just as a naming convention that we followed. The query I attempted using regular expressions is not our typical way of looking at data. It was me wanting to look at data for more than one measurement, part of testing a data model.

That said, I will continue testing, and will

[2015-10-02 13:31] #4287 closed

[2015-10-02 14:14] parisholley commented on #4285
checking after it ran all night, it is still alive! memory levels are about the same as when I launched the instance. what is interesting, is that the points are failing to write now, and that may have been what caused the udp service to build up a ton of memory. all I get is "failed to write point batch to database" for  the udp stream as well as the background monitoring statistics, but that wil

[2015-10-02 14:25] jwilder commented on #4187
Fixed via #4292

[2015-10-02 14:25] #4187 closed

[2015-10-02 14:32] parisholley opened #4301 "[master] points writer not timing out?"
while understanding the storage engine may change, if boltdb is still used under the hood, this may be useful. I am currently seeing write timeouts and also unable to query the data. When looking at "pprof/goroutine" this stands out:

[code]

at some point, it appears that a transaction is causing the shard to lock and then blocks everything moving foward

[2015-10-02 15:07] esecules commented on #3923
I was going to increase my retention time but after doing so I ran into #4290

[2015-10-02 15:10] esecules commented on #4290
@otoolep do o have to get into that bad state first?

[2015-10-02 15:10] otoolep commented on #4290
What do you mean by bad state?

[2015-10-02 15:16] otoolep opened #4302 "Data race in Raft"
This is on master, post `DROP SERVER` change.
[code]

[2015-10-02 15:17] otoolep commented on #4302
Starting with @corylanou since he was in the Raft code most recently.

[2015-10-02 15:18] simcap commented on #4280
Ok thanks for the info.

[2015-10-02 15:31] simcap opened #4303 "[0.9.4.1] Drop Measurement for 1 DB drops all measurements of same name"
Hi,

I have a measurement called `p2p` in my db `viewers`. It happens that I also have a `testviewers` db with also a measurement `p2p`.

I wanted to clean my `testviewers` db and drop the `p2p` measurement. I did the following steps:
[code]
So it is empty. The issue is that it also cleaned the db `viewers`!! Beforehand this db `viewers` had a lot of data:
[code]

Now it is empty:
[code]

Is there

[2015-10-02 15:54] simcap commented on #4303
Actually the measurement `p2p` from the `viewers` db came back!! (a bit more data since we have live customers pushing data)
[code]

I guess it might be a sync or display issue in the CLI.

[2015-10-02 16:01] esecules commented on #4290
[code]

[2015-10-02 16:05] #4302 closed

[2015-10-02 16:08] otoolep commented on #4290
OK, you need to upgrade to 0.9.4.1 to get the latest diagnostic code. It will be much easier to help you then.

[2015-10-02 16:08] otoolep commented on #4290
https://influxdb.com/download/index.html

[2015-10-02 16:23] parisholley commented on #4301
this happened while running the b1 engine, switched back to bz1 to see what happens with that. stay tuned.

[2015-10-02 16:24] parisholley commented on #4285
created issues #4301 for the write issues. since running with these code changes (and switching back to bz1 engine), i am now running at < 6GB of memory (huge improvement).

let me know if you would like me to issue a pull.

[2015-10-02 16:28] otoolep commented on #4301
FWIW, the new engine does not use Bolt, so this issue may soon be moot.

Thanks for the report however @parisholley

[2015-10-02 16:42] otoolep commented on #4192
The query engine is currently being refactored to improve performance in many areas. This may or may not impact `LIMIT`. Either way, what you experiencing does need improvement and we hope to get to it soon.

[2015-10-02 17:16] dsoprea commented on #4281
Any further ideas about this, yet?

[2015-10-02 17:17] beckettsean commented on #4295
@paulstuart the space is certainly not [proper syntax](https://influxdb.com/docs/v0.9/write_protocols/write_syntax.html). I don't understand what that has to do with the size of the integer, though.

Without the space the insert works fine:

[code]

[2015-10-02 17:17] #4295 closed

[2015-10-02 17:33] parisholley commented on #4301
@otoolep alright. just as an update, bz1 also locks up. it may be important that for new engine, that even if writes/reads are separated, there should be timeouts on the locking mechanism when writing to WAL/database.

[2015-10-02 18:04] parisholley commented on #4301
if I am reading this block file correctly, excluding the long running goroutines that operate in the background, it appears points_writer is not timing out correctly:

http://mantis-test.s3.amazonaws.com/block.txt

cluster/points_writer.go:313

don't know much about the go syntax/sync logic to come to any conclusion as to what could be happening.

[2015-10-02 18:16] parisholley commented on #4301
taking a second look, if the write is failing, it looks like it will try to go into the hinted handoff process (which is currently in the top of the block list). going to restart with it disabled and see what happens. I am in a single node setup.

[2015-10-02 18:56] beckettsean commented on #4276
The `DROP SERIES` below should not have dropped every point in measurement, but it did.

[code]

[2015-10-02 18:58] beckettsean commented on #4280
@simcap I am closing this in favor of another issue open on `DROP SERIES` (https://github.com/influxdb/influxdb/issues/4276). It appears the `WHERE` clause is not being properly evaluated

[2015-10-02 18:59] parisholley commented on #4301
with HH out of the picture, still see hangs. going to try to disable the monitor service now. it appears that the code within that service has no timeout mechanism at all?

[2015-10-02 19:08] beckettsean commented on #4280
Actually, looking more closely these are two different issues. I'm re-opening this one to focus on the field matching not working. (I don't think it's supposed to work, but it should error or do nothing, not match all points instead.)

[2015-10-02 19:13] beckettsean commented on #4280
It appears that a `WHERE` clause containing a field key will match every point in the series, regardless:

[code]

Note that the `WHERE water_level = 'foo'` cannot ever be true, since `water_level` has floats and `foo` is a string. However, the `DROP SERIES` result suggests that the WHERE clause evaluated to true for every point in the measurement.

[2015-10-02 19:15] beckettsean commented on #4280
See also https://github.com/influxdb/influxdb/issues/4276

[2015-10-02 19:15] beckettsean commented on #4276
Should be addressed at the same time as https://github.com/influxdb/influxdb/issues/4280

[2015-10-02 19:21] beckettsean commented on #4297
`drop series from "blah" where device /.example.com/` is incorrect syntax. Regex requires an operator. The proper syntax would be `drop series from "blah" where device =~ /.example.com/`

However, there's a bug in the parser that leads to over-greedy matching: https://github.com/influxdb/influxdb/issues/4276. I wouldn't use regex with `DROP SERIES` until that is addressed (should be fixed in 0.9.5

[2015-10-02 19:21] #4297 closed

[2015-10-02 19:22] jakefoster commented on #3880
+1 on being able to count distinct tags.

I also feels like this speaks to the deeper issue of providing guidance on what should be a tag vs. a value.  For a schema-less DB there's sure a lot of subtlety around defining your schema!  :)

[2015-10-02 19:22] beckettsean commented on #4287
Thanks, @vrbala, and do let us know if it recurs.

[2015-10-02 19:28] paulstuart commented on #4295
I found the problem: the value client.Point was nil. It generates random numbers from that, and also aborts the remainder of the batch write.

I've fixed my code to skip sending nil values, but the client should also deal with them appropriately.

[2015-10-02 19:33] beckettsean opened #4306 "[0.9.4.1] string equality matches numeric zero in WHERE clause"
I've got a measurement with a single field of floating point values:

[code]

numeric equalities behave as expected:

[code]

However, using a string comparison with a numeric field shows that an arbitrary string equals 0:

[code]

[2015-10-02 19:34] beckettsean commented on #4280
Might be related somehow to this generic `WHERE field =` bug: https://github.com/influxdb/influxdb/issues/4306

[2015-10-02 19:34] rkuchan commented on #4303
@simcap, thank you for pointing this out. That is definitely unexpected behavior. Interestingly, I'm able to repro the first part with version 0.9.4.1:

[code]

but I can't seem to repro the second part:
[code]

[2015-10-02 20:08] beckettsean commented on #4295
@paulstuart can you open a new issue regarding the Client handling `nil` more gracefully?

[2015-10-02 21:24] paulstuart opened #4307 "[0.9.4.2] Client handling of points with nil value is broken"
If a nil is provided as a client.Point value, the client will generate bogus values (with improper formatting). This then aborts the remainder of any batched points that are submitted.

Reproducible (for bogus values):

    func TestPoint(t *testing.T) {
        pt := client.Point{
            Measurement: "pt_name",
            Tags: map[string]string{
                "tagname":   "pt_tag",

[2015-10-02 21:25] paulstuart commented on #4295
Done. #4307

[2015-10-02 22:58] linearb commented on #4154
From discussion on https://github.com/influxdb/influxdb/pull/4291, will use this syntax:
ALTER DATABASE name RENAME TO new_name

[2015-10-03 00:58] abolinhas opened #4309 "[0.9.4.1] query leading to crash"
Hi,
I'm collecting all my users internet activity into my Influx database,I have already stored thousands / millions of points. Now I want query through Web Admin Interface all users activity on specific month, I use this query
SELECT USER,SIZE FROM access_log WHERE (time >'2015-08-01 00:00:00' and time < '2015-08-31 23:59:00') but when I execute the query the Influx crash and the server load incr

[2015-10-03 03:17] Zolmeister opened #4311 "Use Bitmap Indexes for tags to improve performance"
It seems like query performance when matching tags could be improved significantly by using bitmap indexes for tags. (maybe with binning - based on cardinality)

[Bitmap Index](https://github.com/influxdb/influxdb/blob/522f9eaef4d9970880c349a70ebc3c09d95e9c2a/tsdb/meta.go#L203)

The reason being that exact matches `WHERE abc='xyz' AND xxx='yyy'` can efficiently use both indexes on `abc=xyz` and `x

[2015-10-03 04:23] victorhooi opened #4312 "Confusion around aggregation/derivatives and intervals smaller than data-point interval?"
_This is based on discussions on https://github.com/grafana/grafana/issues/2802 with @jwilder_

I'm attempting to use the `derivative` function with InfluxDB, via Grafana, and hitting some issues.

I have a data-set with data at 1-second intervals. Here is an aggregation using `mean`, using a `GROUP BY` of 1 second:
[code]

If I change the GROUP BY to `100ms`, I get values at every 100ms with what

[2015-10-03 04:49] otoolep commented on #4212
After some recent reports, this does not appear to be solved.

[2015-10-03 04:49] otoolep commented on #4212
It may be related to the extra nodes on the cluster, which will hopefully be cleaned up by https://github.com/influxdb/influxdb/pull/4310

[2015-10-03 04:57] otoolep commented on #4212
Patch ready for merging, 4 green CI builds.

https://circleci.com/gh/influxdb/influxdb/tree/drop_node_non_raft

[2015-10-03 05:07] victorhooi commented on #4187
I know this issue is closed - but the changes to query syntax - was that ever resolved?

As in, is there another ticket for the changes to query syntax that @torkelo and @jwilder were talking about?

[2015-10-03 06:34] otoolep commented on #4283
I took a quick look at this code. I agree there doesn't seem to be a better way.

[2015-10-03 06:36] otoolep commented on #4283
Hmm, but the issue is HH is on by default, so it easy as that.

[2015-10-03 06:39] otoolep commented on #4220
We can't handle OOM like this, co closing.

[2015-10-03 06:39] #4220 closed

[2015-10-03 06:55] otoolep commented on #4303
This is bad.

If a measurement name is shard across two databases, drop them from 1 drops them from the other.

[2015-10-03 07:08] otoolep commented on #4303
Thanks for the report @simcap -- we definitely need to fix this ASAP.

[2015-10-03 07:17] otoolep commented on #4303
The bz1, and presumably b1, engines suffer from this. However the tsm1 engine does not!

[2015-10-03 07:18] otoolep commented on #4303
This may actually be fixed by moving to tsm1 engine when it is released.

[2015-10-03 07:41] jtblin commented on #3881
I can reproduce the same error in `0.9.4.1` and `0.9.4.2` with `collectd` enabled. Pointing out as [CHANGELOG](https://github.com/influxdb/influxdb/blob/master/CHANGELOG.md) says it's supposed to be fixed in `0.9.4`.

[2015-10-03 08:35] pixiez opened #4314 "how to store/query forecast timeseries i.e. two timeseries keys pair"
hi there, is influxdb suitable for the following type of data? if so, could you please give me some hints on how shall I store them in order to query them efficiently? thanks

forecast_date,             value_date,                 value
2015-01-01 23:00:00, 2015-01-01 00:00:00, 100.00
2015-01-01 23:00:00, 2015-01-01 12:00:00, 110.00
2015-01-02 00:00:00, 2015-01-02 12:00:00, 120.00
2015-01-02 00:00

[2015-10-03 16:16] parisholley commented on #4309
Would suggest you create a continuous query to down sample the data. Querying raw ingested information is always going to be slow.

[2015-10-03 16:38] parisholley commented on #4301
after tons more tracing/printf'ing, I think I am much closer to the problem. it appears my problem may be when two flushes happen at the tie same time. in the example below, there is a huge flush that happens first because the memory gets full, then while it takes some time to write, another flush happens because it was idle. it appears the problem is around acquiring a lock in WAL.

adding a bit

[2015-10-03 18:30] pauldix commented on #4187
@torkelo I like your query suggestions. Although the pipe that @jwilder is a nice refinement to it. Another option would be to use the chaining syntax that jQuery and D3 have made popular. We're taking this approach with another thing we're building. So it would be something like:

[code]

[2015-10-03 19:17] parisholley commented on #4301
as an update, i made some modifications to WAL, in particular i created a mutex just for handling the access to the meta file instead of locking the entire WAL. i also removed some locks that were on the WAL level when calls were just delegating to the partition (which handles its own locks).

also put a lock on the partition around the WriteIndex within flushAndCompact(), as I think once you go i

[2015-10-03 20:09] parisholley commented on #4301
didn't help too much. while it did open up the ability for multiple retention policies to work (because I locked per partition instead of on the entire WAL), the underlying problem is WriteToIndex at some point just doesn't return. Flushes (due to memory) happened without issue at similar sizes for a period of time, then randomly it just doesn't work (which locks that partition and prevents anythi

[2015-10-03 21:16] parisholley commented on #4301
looks like it all boils down to an issue with boltdb. once the call to bz1.WriteIndex is made, it is able to get through iterating all the data points with no issue, the problem then becomes e.db.Update(), it is just waiting forever for the transaction to return. it could be interesting to dig into the boltDb batch API, and try breaking up the flushes, but seems like it would be a waste.

at this

[2015-10-03 23:41] abolinhas commented on #4309
Thanks @parisholley
Continuous query will not increase the server load and cpu usage?
I read the documentation available on Influx web site, but is not very explicit...
In my case I want to build my own stats application in php, in this app I have a lot of search criteria like by user(s), date(s), website(s), ip(s)... how can I implement  continuous query on my app?
For example to this criteria
SE

[2015-10-03 23:45] parisholley commented on #4309
it probably will, but shouldn't be noticeable. i can't help you much with modeling (influx offers developer support if you need it), but you will see good performance if you expect to query adhoc (or have fields with tons of unique values like user ip). recommend grouping by fields with low cardinality in small intervals (ie: 5m) within a continuous  query.

[2015-10-04 06:54] namgk commented on #3994
I am issuing a very simple select query and get this error too. The same select query works on other measurements, but for some, it failed miserably.

[2015-10-04 07:17] #4301 closed

[2015-10-04 16:09] parisholley opened #4316 "[pd-storage-engine] index out of range"
[code]

[2015-10-04 16:50] paulgoldbaum opened #4318 "[0.9.4.1] "runtime error: invalid memory address or nil pointer dereference" when writing with a non-existent retention policy"
Test case:
curl -G http://localhost:8086/query --data-urlencode "q=CREATE DATABASE _test"
curl -XPOST "http://localhost:8086/write?db=_test&rp=fake_retention_policy" --data-binary 'cpu value=61'

Results in:
[code]

[2015-10-04 17:27] parisholley commented on #4316
this appears to happen when a tag is written without a value. when restarting I get:

[code]

[2015-10-04 18:50] parisholley commented on #4316
this may be fixed by #4320, will need to leave server running longer to be sure but so far so good

[2015-10-04 18:54] parisholley opened #4321 "[pd-storage-engine] inaccurate values when using mean and group by"
when I do a mean() on all values in a measurement, seems fine. soon as I group by time(1m), i get some whacky numbers, but it seems to only happen on some of my data, not all.

i then tried to run a max() on the same query with no interval and it crashed the server with the same error i have seen before:

[code]

[2015-10-04 19:05] parisholley commented on #4321
that fix while preventing crashes in some instances, doesn't solve the inaccuracies. this time, if i run max() on the measurement i get the value I expect, but when grouping by time(1m) the results are all over the place. i think the in memory cache is the issue:

[code]

[2015-10-04 20:39] pauldix commented on #4321
We'll need more detail to troubleshoot this. Can you give repro steps using the CLI for what writes to do and what query shows the problem?

[2015-10-04 20:58] parisholley commented on #4321
@pauldix i am only able to reproduce this by ingesting data, not through cli. here is the problem:

![screen shot 2015-10-04 at 1 56 48 pm](https://cloud.githubusercontent.com/assets/399289/10270217/cb0c5b2c-6a9f-11e5-95b7-11a683f2ace2.png)

some how, data isn't writing to the correct fields and i suspect the numbers being added are based on sting length or some other calculated value. if i try to

[2015-10-04 21:11] parisholley commented on #4321
@pauldix i think this is as close as I have gotten to reproduce

[code]
select mean(value) from test where time > '2015-10-04T00:00:00Z' and  time < '2015-10-04T00:03:00Z' group by time(1m);
[code]

[2015-10-04 21:23] parisholley commented on #4321
@pauldix i tried running the queries above again, and it didn't reproduce. I think there is definitely a problem around internal state somewhere. while I produced that problem above, I had my prod data also streaming in (to a different database). i'll be more than happy to give you SSH access to the box i am using for you to test. all it takes is to wipe the data, and let the events come in, and t

[2015-10-04 21:33] dtouzeau commented on #4309
Hi paris, has you seen there are some x and y date start and date end that cannot make it Continuous. Understand that some tweaks can improve the query results, but did not understand the "crash"

[2015-10-04 22:22] parisholley commented on #4321
@pauldix the above case i provided above on the cli does work, you just have to wait for an idle index flush on that db/shard. until that happens, it will return the correct data but after it writes, you will see the results i posted.

[2015-10-04 22:50] abolinhas commented on #4309
Group by don't work on my query....
SELECT USER,SIZE FROM access_log WHERE (time >'2015-08-01 00:00:00' and time < '2015-08-31 23:59:00')  group by time (1h)
ERR: error parsing query. GROUP BY requires at least one aggregate function.

I also try
SELECT USER, SUM(SIZE) as SIZE FROM access_log WHERE (time >'2015-08-01 00:00:00' and time < '2015-08-31 23:59:00') GROUP BY time(1h)
But I get this erro

[2015-10-04 22:55] dtouzeau commented on #4309
Load from 0.10 to 4 for 75000 records, incredible !!! MySQL do better

[2015-10-04 23:02] pauldix commented on #3523
@bubenkoff how many unique measurements do you have? Is there a reason you aren't using tags?

[2015-10-05 00:48] parisholley commented on #4321
@pauldix another helpful tip, when i turn on SkipCache in the engine code, it appears the problem disappears.

[2015-10-05 06:35] shaileshswapnil opened #4322 "[0.8.8] Not able to create retention policy on db using command line interface"
Hi All,

I have been trying long to create db with retention policy from the command line using CURL command interface. But instead it is creating just the db. And when I am trying to see the config file, the db created is not showing up.

Is there any possible way or option available to create db with retention policy, when using with CURL interface?

InfluxDB: 0.8.8
OS: Centos 6.6

[2015-10-05 07:01] bubenkoff commented on #3523
thousands, but i agree, it's a bit strange to have that many
we're now reducing that number to hundreds

[2015-10-05 07:27] RobMcZag commented on #3525
@beckettsean sorry to reply so late, Just got now the notification.

The first query will return, **for every interval**, if the predicate is true or false;
the second will return the field(s) you ask for **only for one of the two cases** you select: if it is true or false.

I think the two are quite different, as the first will give you the desired value on a **completely filled time dimension**,

[2015-10-05 09:45] leehambley opened #4323 "Feature Request: "CREATE DATABASE metrics IF NOT EXISTS""
We're provisioning (in some of our environments) influxdb using Puppet, that means creating databases and users, etc. It would help a lot if we could conditionally create databases, rather than listing, grep'ing, and trying to guess if the database already exists on subsequent Puppet runs to avoid errors such as:

[code]

[2015-10-05 10:21] peekeri opened #4324 "Select statement aggregate validation is too strict"
version: 0.9.4.1
rpm: https://s3.amazonaws.com/influxdb/influxdb_0.9.4.1_amd64.deb
system: amazon linux 3.14.35-28.38.amzn1.x86_64

Running query:

    select sum(value1), sum(value2)/10 from time_series group by time(10s), host

results in response:

    ERR: error parsing query: mixing aggregate and non-aggregate queries is not supported

even though there are only aggregates in the query. To me

[2015-10-05 10:24] peekeri opened #4325 "Invalid query crashes influxd"
version: 0.9.4.1
rpm: https://s3.amazonaws.com/influxdb/influxdb_0.9.4.1_amd64.deb
system: amazon linux 3.14.35-28.38.amzn1.x86_64

Running query:

    select host, sum(value)/10 from time_series group by time(10s), host

crashes influxd:

    panic: runtime error: index out of range
    goroutine 1017 [running]:
    github.com/influxdb/influxdb/influxql.newEchoProcessor.func1(0xc82062de00, 0x2, 0

[2015-10-05 11:50] corylanou commented on #4323
Support for this was added in `0.9.4` #3892

Syntax is:

`CREATE DATABASE IF NOT EXISTS metrics`

[2015-10-05 11:50] #4323 closed

[2015-10-05 12:40] leehambley commented on #4323
Thanks Cory, documentation is then out of date, thanks.
On 5 Oct 2015 1:51 pm, "Cory LaNou" <notifications@github.com> wrote:

[2015-10-05 13:09] artkrz commented on #3005
Same issue for me, listing only on tcp6. Fresh install of 0.9 package on Debian 8.2.

[2015-10-05 13:48] corylanou commented on #4323
I added a ticket to have the documentation updated as well.  Thanks! https://github.com/influxdb/influxdb.com/issues/360

[2015-10-05 15:18] carlosandroni commented on #1400
@enavarro222
Your solution works only if you have a constant sample time.

[2015-10-05 15:36] otoolep commented on #3005
So I can repo @artkrz -- can you show me how you know it's not binding on all interface?

[2015-10-05 16:01] abolinhas commented on #4309
Anyone can help about this issue?

[2015-10-05 17:59] beckettsean commented on #3881
@jtblin can you give the repro steps for 0.9.4.2? The `panic: runtime error: invalid memory address or nil pointer dereference` panic is something of a general error. It's possible you are getting the same panic for a completely different issue.

[2015-10-05 18:01] beckettsean commented on #4314
@pixiez please ask general questions on the mailing list: influxdb@googlegroups.com. This is neither a bug nor a feature request and is therefore less appropriate for GitHub Issues.

[2015-10-05 18:01] #4314 closed

[2015-10-05 18:04] beckettsean commented on #4309
@abolinhas what is the result of `SELECT COUNT(user) AS count_user, COUNT(size) AS count_size FROM  access_log WHERE time > '2015-08-01 00:00:00' and time < '2015-08-31 23:59:00'`

[2015-10-05 18:05] beckettsean commented on #4309
@dtouzeau, Your understanding is very inaccurate. InfluxDB returned 75000 values, one for each one hour bucket, but the query still requires every point to be pulled off disk for the SUM statement.

[2015-10-05 18:08] beckettsean opened #4327 "[feature request] Add function chaining syntax"
See the comments on https://github.com/influxdb/influxdb/issues/4187, particularly

https://github.com/influxdb/influxdb/issues/4187#issuecomment-142207099
https://github.com/influxdb/influxdb/issues/4187#issuecomment-144782271
https://github.com/influxdb/influxdb/issues/4187#issuecomment-145275844

[2015-10-05 18:09] beckettsean commented on #4187
@victorhooi https://github.com/influxdb/influxdb/issues/4327

[2015-10-05 18:15] beckettsean commented on #4322
0.8 requires many administrative actions happen in the Admin UI, including database creation. See  https://influxdb.com/docs/v0.8/introduction/getting_started.html for more.

[2015-10-05 18:15] #4322 closed

[2015-10-05 18:17] beckettsean commented on #4325
this should give an error about mixing aggregate and non-aggregate values in the SELECT clause. Not sure why it's not.

[2015-10-05 19:04] otoolep opened #4328 "TSM1: Panic "missed stack barrier" when profiling enabled"
During 200K EPS burn-in testing of TSM1, the follow panic brought testing to a halt.

[code]

cc @jwilder @pauldix

[2015-10-05 19:06] jwilder commented on #4328
Possibly related: https://github.com/influxdb/influxdb/pull/4308#issuecomment-145632747

[2015-10-05 19:28] dgnorton commented on #4328
This issue in Go 1.5 looks similar:  https://github.com/golang/go/issues/12238.  A fix went into 1.5 but looks like they weren't able to exactly repro the issue.  Maybe there is still a related bug.

[2015-10-05 19:31] otoolep commented on #4328
I can bump our build process to 1.5.1 in an instant.

On Mon, Oct 5, 2015 at 12:28 PM, dgnorton <notifications@github.com> wrote:

[2015-10-05 19:32] otoolep commented on #4328
Just say the word.

https://github.com/influxdb/influxdb/pull/4330

On Mon, Oct 5, 2015 at 12:31 PM, Philip O'Toole <philip@influxdb.com> wrote:

[2015-10-05 19:33] jwilder commented on #4312
@victorhooi
1. The database does not interpolate values when down sampling currently.
2. Yes, #3273 might help derivatives in this case.
3. You get `nils` with the derivative when grouped by `100ms` because all the points have a `nil` as it's previous value so we can't compute the derivative.  A `fill(previous)` or `fill(0)` might be the only option here currently.  We might also be able to update

[2015-10-05 19:34] otoolep commented on #4328
https://github.com/golang/go/issues/12238#issuecomment-133234103

"As you can see from the stack trace, cgo code has called into Go code, the
Go code is allocating memory, the profiler has decided to jump in and get a
stack trace, and getting the stack trace crashes."

The testing that brought this out was running with profiling enabled.

On Mon, Oct 5, 2015 at 12:32 PM, Philip O'Toole <philip@inf

[2015-10-05 19:46] otoolep commented on #4328
https://github.com/influxdb/influxdb/pull/4330

[2015-10-05 20:47] manoochehri commented on #77
+1 :-)

[2015-10-05 21:36] #4316 closed

[2015-10-05 21:50] CVTJNII opened #4331 "[0.9.5-nightly] GROUP BY time() not handled correctly from mean() query on distributed cluster data (with nasty side effects)"
In troubleshooting the following Grafana generated query:

[code]

I have found that, on sharded data, the time field returned from mean isn't handled correctly if the data is not on the host running the query.

I'm currently testing in a 5 node cluster, version 0.9.5-nightly-b079d20, branch master, commit b079d201a026d2757b51579dd2a29d8decaf22ef, built '2015-09-28T04:00:39+0000', with the followi

[2015-10-05 22:07] mjdesa opened #4332 "[0.9.5] Panic decoding file in tsm1"
During one of the test last weekend we got this panic

https://gist.github.com/mjdesa/69ba623f985f10806b65

[code]

[2015-10-05 22:13] mjdesa commented on #4332
@pauldix @jwilder

[2015-10-05 23:02] zeamador opened #4334 "[0.9.4.2] Point not replicated to all nodes in cluster"
Host OS: Ubuntu 14.04 amd64
Influx version: 0.9.4.2
Test case: three nodes in a cluster.
Problem: a point written to one node only appears on two of the three nodes.
[code]

[2015-10-05 23:10] zeamador commented on #4334
Additionally, removing one node and writing points to the other two seems to cause incorrect behavior, though it looks like that isn't currently supposed to be a supported feature if I'm reading the (clustering page)[https://influxdb.com/docs/v0.9/guides/clustering.html#unimplemented-features] correctly.

[2015-10-05 23:14] pauldix commented on #4332
@mjdesa do you have a copy of the file it failed on?

[2015-10-05 23:19] mjdesa commented on #4332
@pauldix I lost it earlier today when I rewrote the volume. I've got the test running again. If/When it happens again I'll grab the file.

Sorry I didn't grab it. :(

[2015-10-05 23:20] otoolep commented on #4334
What is the replication factor for the retention policy? If it is 1, that is your answer. See

https://influxdb.com/docs/v0.9/administration/administration.html

for more details.

[2015-10-05 23:25] pauldix commented on #4332
No worries, we'll track it down :)

[2015-10-05 23:27] zeamador commented on #4334
Thanks for the prompt response. I have not modified the retention policy, and the replication factor appears to be 3. Is it possible that having the duration be `"0"` is causing my problems?
[code]

[2015-10-06 00:02] beckettsean commented on #4331
Not sure I quite follow this. I can see from your examples that without the `GROUP BY time()` the query succeeds, and with it it fails. How does that relate to "the time field returned from mean"? The epoch 0 timestamp is proper behavior for queries that have an aggregation but lack a `GROUP BY time()` statement.

This is an error we see when there are `NaN`s in the source data: https://github.com

[2015-10-06 00:03] abolinhas commented on #4309
@beckettsean

name: access_log
----------------
time                            count_rqs       count_size
2015-08-01T00:00:00.000000001Z  75799           75799

Load stable

[2015-10-06 00:05] dgnorton commented on #4276
Looked at #4280 and it's unrelated.

[2015-10-06 00:23] #4276 closed

[2015-10-06 00:32] gotyaoi opened #4337 "Derivative function fails between new data insertion and wal flush"
I just upgraded to influxdb 0.9.4.2 and am noticing some very odd behavior. Can't say if this is new in the point release or I just didn't notice it before, but basically, some of my grafana graphs were intermittently empty. I've reproduced this in as minimal a setup as possible, as follows:

centos 6.7
influxdb 0.9.4.2, default config that came with the rpm
telegraf 0.1.9, running the disk plugin

[2015-10-06 01:05] beckettsean commented on #4309
@abolinhas Can you include the output from `SHOW FIELD KEYS FROM access_log`

@dtouzeau my apologies, it does seem that there are only 75k points in this time range. That makes the query performance odd, since that entire set should take very little time. On my machine I can make 1 hour buckets of 375k points over the same time range and it returns in 1.13 seconds with a small spike in usage.

[2015-10-06 01:06] beckettsean commented on #4309
@abolinhas what was the stack trace when you run `SELECT USER,SIZE FROM access_log WHERE (time >'2015-08-01 00:00:00' and time < '2015-08-31 23:59:00')` and the server crashes?

[2015-10-06 02:42] randomhammer opened #4338 "[0.9.4.1] Panic and crash processing continuous query"
I am attempting to run influx 0.9 on FreeBSD 10.2 and having problems. The server runs and takes data, as long as I don't enable continuous queries. If I do, it panics immediately. I also noticed that the shell seems to disregard what I'm trying to do. I have just one continuous query, defined like this:

[code]

I have the following retention policies defined:

[code]

Notice what happens when I

[2015-10-06 02:42] CVTJNII commented on #4331
[code]

So while troubleshooting I noticed that the time field returns 0 on the node without the shards but does return a time on the node with the shards.  As I'd expect the query to return the same regardless of shard location I assumed that was root cause and stopped.  As for the exact semantics of what that field should be, I'm going to admit I'm a but out of my depth as I'm troubleshooting a

[2015-10-06 03:00] otoolep commented on #4338
I think this has been fixed, but we need more precise version information. 0.9 is insufficient.

`influxd version` will tell us what we need to know.

[2015-10-06 03:09] sebito91 commented on #4337
Add fill(none) to the end of your query!

On Monday, October 5, 2015, gotyaoi <notifications@github.com> wrote:

--

Sebastian Borza
---------------
PGP: EDC2 BF61 4B91 14F2 AAB4  06C9 3744 7F3F E411 0D3E

[2015-10-06 03:23] randomhammer commented on #4338
Sorry, this is the best I can do.

[code]

Now, if I look at the file name installed by `pkg install` on FreeBSD 10.2 I get this:

[code]

There's no guarantee that the filename is equal to the version, but this is all I have to go on.  :-)

[2015-10-06 11:17] njh commented on #1338
:+1:

[2015-10-06 11:35] abolinhas commented on #4309
@beckettsean

name: access_log
----------------
fieldKey
RQS
SIZE
ZDATE

name: access_log
----------------
tagKey
CATEGORY
FAMILYSITE
IPADDR
MAC
SITE
USERID
proxyname

Yes the server crash, a good example.

name: access_log
----------------
time                            count_size
2015-09-01T00:00:00.000000001Z  4.413682e+06

SELECT USERID,SIZE FROM access_log WHERE (time >'2015-09-01 00:00:00'

[2015-10-06 12:44] aheusingfeld commented on #4088
You're right, this seems to be fixed in 0.9.4. Thanks!

[2015-10-06 12:58] The-Nik commented on #3674
Would love to have this feature, +1

[2015-10-06 13:24] kostya-sh opened #4341 "TestParser_ParseExpr fails on Go tip"
go test -run TestParser_ParseExpr

    --- FAIL: TestParser_ParseExpr (0.00s)
    	parser_test.go:1858: 7. "'2000-01-32 00:00:00'": error mismatch:
    		  exp=unable to parse datetime at line 1, char 1
    		  got=%!s(<nil>)

    	parser_test.go:1858: 9. "'2000-01-99'": error mismatch:
    		  exp=unable to parse date at line 1, char 1
    		  got=%!s(<nil>)

FAIL
exit status 1
FAIL	github.com/in

[2015-10-06 13:29] kostya-sh commented on #4325
This is parser bug. I've attempted to fix it in https://github.com/influxdb/influxdb/pull/4342 however the fix feels a bit hacky and I am not 100% sure it is correct. Please review and comment.

[2015-10-06 13:39] aybabtme opened #4343 "make Go HTTP client configurable"
How opposed would you be to making this:

https://github.com/influxdb/influxdb/blob/master/client/influxdb.go#L114

... configurable, so that one be able to pass their own `*http.Client` with, for instance, custom transport? The change I'd see would be to take an `*http.Client` in the `type Config struct` instead of a `Timeout time.Duration`, but that would break existing users.

[2015-10-06 16:19] nathanielc opened #4344 "Expose Client Precision value"
As it stands now when writing `BatchPoints` the `precision` does not default to the client's precision. See https://github.com/influxdb/influxdb/blob/master/client/influxdb.go#L226

Would it make sense to default `bp.precision` if empty to `c.precision`? Might be a breaking change in some cases :( Or we could just add a `Client.Precision()` method to return the precision and then use that when cre

[2015-10-06 16:50] gotyaoi commented on #4337
Ok, that seems to be working. Now the question becomes why does it work and where is it documented?

[2015-10-06 17:57] CVTJNII commented on #4331
I've reproduced this in a Docker Compose environment.  See the following repo with details on how to reproduce: https://github.com/CVTJNII/Influx_4331_proof

[2015-10-06 18:17] mastor opened #4346 "[0.9.5-nightly-23fb7e2] Memory leak on SELECT/aggregation query"
I'm running influxdb installed from the nightly package on a Ubuntu 14.04 server.

The dataset is pretty small, 3000 daily points from 2005-01-01:

    4,0K    influxdb/hh
    308K    influxdb/meta
    12M     influxdb/data
    2,0M    influxdb/wal
    15M     influxdb

and the query

    SELECT mean(value) FROM "test" WHERE time > timestamp and time < now() GROUP BY time(1d)

raise the memory usa

[2015-10-06 18:36] otoolep commented on #4321
For the record, I cannot repro this issue on master.
[code]

[2015-10-06 19:03] parisholley commented on #4321
@otoolep have you tried on the last branch of the new storage engine?

[2015-10-06 19:04] pauldix commented on #4321
I've got a test reproducing the problem. Will have a fix soon

[2015-10-06 19:05] parisholley commented on #4321
@pauldix you da man!

[2015-10-06 19:11] beckettsean commented on #4338
@randomhammer the CQ syntax is incorrect

[code]

The `INTO` statement parses as "send all the data into the `hourly` measurement in the `ace` retention policy, and since the CQ is defined on the `ace` database, it writes into `ace.ace.hourly`, as requested.

If you want to maintain the measurement names selected from the regex, as I assume you do, you need the backreference syntax (see https://gi

[2015-10-06 19:28] pauldix commented on #4321
just pushed a fix, let me know if everything looks good.

[2015-10-06 19:28] #4321 closed

[2015-10-06 19:50] parisholley commented on #4321
@pauldix looks good so far! Only thing to dig into now is why some of my charts aren't showing data similar to before. Will investigate further and open additional issues when I find some information.

As a general FYI, here is what I am seeing for flush times at the moment (using default conf settings):

[code]

[2015-10-06 23:27] victorhooi commented on #4086
I saw there's a new TSM engine that just got merged? =)

https://github.com/influxdb/influxdb/commit/f041939a1cbac85a4fc109ae1112ade0fb26b77e

Should I be keeping my eyes open for an announcement on the blog, talking about this new awesomeness? =)

[2015-10-06 23:44] otoolep commented on #4344
cc @sparrc

Cameron was in this code recently, there was significant resistance to breaking changes here.

[2015-10-06 23:51] sparrc commented on #4344
This is slightly different than what I was looking at, this doesn't seem like it would be a very breaking change. Unless someone was setting their client's `precision` to something other than `ns` and _expecting_ it not to get applied?

[2015-10-07 00:28] otoolep commented on #4331
Thanks for the detailed information @CVTJNII -- I will try to take a look at this.

[2015-10-07 00:31] otoolep commented on #4318
This works fine for me on master, and I get "retention policy not found".

[2015-10-07 00:46] beckettsean commented on #4104
Similar to https://github.com/influxdb/influxdb/issues/3994

[2015-10-07 00:47] pauldix commented on #4086
haha yes, should have details up in about 12 hours.

[2015-10-07 00:51] randomhammer commented on #4338
I'll try, but is that :MEASUREMENT part of the query documented anywhere? I've looked through the documentation online and see no mention of that, and neither the CQ query syntax or the InfluxQL language specification mention that parameter anywhere. Is there somewhere else that I need to be looking? That way maybe I can save myself the embarrassment of posting more issues? :)

[2015-10-07 00:57] parisholley opened #4350 "[pd-storage-engine] memory leak or data set growth?"
Here are two SVGs take about an hour apart, one with about ~4GB of usage, the other with around ~8GB.

http://imgh.us/heap_3.svg (Lower Usage)
http://imgh.us/heap_high.svg (Higher Usage)

Assuming that the number of unique series rises over time due to tags, does this seem normal? Ingestion has been at a steady rate.

[2015-10-07 01:03] beckettsean commented on #4338
It is a new feature not yet documented. That's why I linked you to the merged pull request that references the syntax.

[2015-10-07 03:25] #4325 closed

[2015-10-07 06:04] pauldix opened #4351 "Add regex filtering for SHOW MEASUREMENTS"
To help Grafana users make the transition from 0.8 to 0.9, we need to add the ability to filter measurement names based on a regex. Syntax should look like:

[code]

[2015-10-07 06:11] tsailiming opened #4352 "Invalid query crashes"
2015/10/07 14:09:17 InfluxDB starting, version 0.9.4.1, branch 0.9.4, commit c4f85f84765e27bfb5e58630d0dea38adeacf543
2015/10/07 14:09:17 Go version go1.5, GOMAXPROCS set to 2

[query] 2015/10/07 14:03:01 SELECT end_time - time FROM "data"."default".sensor_anomalies WHERE time > now() - 5m
panic: runtime error: index out of range

goroutine 419048 [running]:
github.com/influxdb/influxdb/influxql.n

[2015-10-07 08:32] simcap commented on #4303
@rkuchan The second part I added (see my second comment) was to say that when I logged out of the shell and logged back in the measurement came back (so the drop only wipe one db as expected). So I was thinking more of a display sync issue in the shell.

But as @otoolep points out some engines seems to suffer from this issue.

Anyway thanks for the promptness, and before doing a lot of work let's

[2015-10-07 08:54] mangalaman93 commented on #4281
I was facing a similar issue. I temprarily fixed it by using 0.9.4 branch of influxdb code while linking influxdb client package with my code. I hope this helps until the actual issue is fixed.

[2015-10-07 10:51] KiNgMaR opened #4354 "[tsm1] Data older than a few minutes is not showing up in queries + memory is leaking"
The new storage engine looks very promising so far. Memory usage is still going up non-stop (writing over UDP exclusively), but slower than before. Overall the system seems more stable and under much less pressure.

However, after a few minutes, points that have been written and were previously showing up in queries disappear. All `WHERE time >= now() - 1h` queries only show data for approx. the l

[2015-10-07 11:53] buro1983 opened #4355 "Write timeout on InfluxDb influxdb-0.9.4.2-1"
I was trying to do performance testing on influxdb-0.9.4.2-1 using wrk2 tool. I wrote a lua script and using below wrk command to send write request.

    test.lua
    =========
    wrk.method = "POST"
    wrk.body   = "cpu_load_short,host=server01,region=us-west value=0.64 1434055562000000000"
    wrk.headers["Content-Type"] = "application/x-www-form-urlencoded"

    wrk command
    ============

[2015-10-07 12:02] jacekgrzybowski commented on #4232
Same thing in `0.9.4.2`.

[2015-10-07 12:39] syepes opened #4356 "CQ: Aggregation grouping by tagging - Not working"
Hello,

Just upgraded to the last master verison #fb83158 to test drive the new SE: tsm1, and I have just noticed the following issue:

I can no longer create a CQ using the grouping by tagging 'server' feature:

Does no longer works:
[code]
[code]

This works:
[code]

[2015-10-07 12:48] pqvst commented on #4352
This might be related to:
https://github.com/influxdb/influxdb/issues/4325

I noticed a similar issue when trying to select the addition of two fields:
SELECT foo + bar FROM test

panic: runtime error: index out of range

[2015-10-07 13:44] pauldix commented on #4086
This is ready for testing. More details:
Blog:
https://influxdb.com/blog/2015/10/07/the_new_influxdb_storage_engine_a_time_structured_merge_tree.html
Detailed writeup:
https://influxdb.com/docs/v0.9/concepts/storage_engine.html
Installation instructions (you have to enable it):
https://influxdb.com/docs/v0.9/introduction/tsm_installation.html

The PR was #4308

[2015-10-07 13:44] #4086 closed

[2015-10-07 13:48] rossmcdonald commented on #4218
@tfalencar The new storage engine release has been committed to master. It's disabled by default, but can be enabled following the instructions here:

https://influxdb.com/docs/v0.9/introduction/tsm_installation.html

It would be great to see if you are still hitting the same issue without BoltDB getting in the way.

@nornagon Thanks for letting us know. It sounds like BoltDB has some instability

[2015-10-07 14:35] KiNgMaR commented on #4356
You have to quote `server`, i.e. `"server"`. It appears to be a reserved word now.

[2015-10-07 14:46] syepes commented on #4356
Yes, that did the trick.

[2015-10-07 14:46] #4356 closed

[2015-10-07 14:54] jwilder commented on #4355
#4308 is in the latest nightly and should address this issue.  The `tsm1` engine is not enabled by default though so you need to enable it in your config. See: https://influxdb.com/docs/v0.9/introduction/tsm_installation.html

[2015-10-07 14:54] #4355 closed

[2015-10-07 14:56] dmilith commented on #1231
I have this issue too. A lot of "Collectd parse error: Invalid packet"

[2015-10-07 15:22] parisholley commented on #4350
As an update, it appears it may just be normal. New storage engine has been rock solid at 21 hours now, and currently less than 6GB of usage.

[2015-10-07 15:22] #4350 closed

[2015-10-07 15:23] jwilder commented on #4354
What are your retention policies set to?

[2015-10-07 15:27] jwilder commented on #4350
If number of unique series rises over time, it will cause the in-memory index size to increase as well.  You'll need to size the available RAM on your hosts to account for the number of series you are likely to store.

[2015-10-07 15:39] dswarbrick opened #4357 "tsm1 storage engine reports strange spikes in values"
Using collectd to feed perpetually increasing, counter-type values (e.g. eth0 rx/tx packet counters) into InfluxDB with tsm1 results in strange outliers occasionally:

[code]

This in turn causes `derivative(mean("value"), 1s)` to go bananas, and results in unusable Grafana graphs.

Nothing has changed on the sending (collectd) side - only the storage engine in InfluxDB.

[2015-10-07 15:44] jwilder commented on #4357
Are you using the native collectd plugin?

[2015-10-07 16:36] drmclean commented on #3552
+1 We REALLY want this for our use-case!

[2015-10-07 16:43] jwilder commented on #4357
I'm able to reproduce some odd values using the native collectd plugin.

[2015-10-07 17:25] dswarbrick commented on #4357
@jwilder Yes, I'm using the native collectd plugin, just as before, when running 0.94.2.

[2015-10-07 17:34] corylanou opened #4358 "TSM engine breaks windows compatibility"
[code]

@pauldix @jwilder

[2015-10-07 17:46] corylanou commented on #4358
@benbjohnson already handles this with boltdb and we should be able to do the same thing:

https://github.com/boltdb/bolt/blob/master/bolt_windows.go#L30

[2015-10-07 17:50] otoolep commented on #4358
+1, sounds like a good idea.

[2015-10-07 18:02] dgnorton commented on #4351
Would this be better or worse?
[code]

[2015-10-07 18:13] otoolep commented on #4354
Yes, please let us know what the retention policies are.

A small program (in any language) that would allow us to a) recreate your database and retention policies and b) write the data pattern you have, would be great.

[2015-10-07 18:32] jmcook commented on #4357
I'm seeing this even with telegraf data, specifically in the mem_available_percent measurement.

[2015-10-07 18:33] corylanou opened #4359 "Add cross compile checks to continuous build (circle)"
We should add all cross-compile checks for all platforms we compile to in our scripts.  This will help prevent breaking platform changes moving forward.

[2015-10-07 18:33] jwilder commented on #4357
I've verified that there is a bug in the float encoding when similar values are recorded.  Working on a fix.

[2015-10-07 18:38] jmcook commented on #4357
sweet, thanks Jason.

[2015-10-07 19:11] syepes opened #4360 "Aggregate Selectors overwrite values during post-processing"
Hello,

I have just encountered a strange behavior when using the aggregate functions MAX and MIN together in the same query, as we can observe in the below example the result of the MAX function is the same as the MIN.

Anyone know why is the happening?

Query:
[code]

Query with both MAX & MIN:
[code]

Query with only MIN:
[code]

Query with only MAX:
[code]

[2015-10-07 19:17] fg2it commented on #4086
@pauldix thanks for the details and this new engine.
A question : if I understood correclty, you don't expect integer values to be correlated, contrary to float values which you expect to be close if consecutive, is it the result of some benchmarking ? Naively, as time serie values, I would have expected integer values to show the same kind of behavior as float. So I am surprised you don't perform

[2015-10-07 19:28] nathanielc commented on #4344
@sparrc If you thinks it not a big change then I say we just default it. See https://github.com/influxdb/influxdb/issues/4361

[2015-10-07 20:46] johnl commented on #4357
I had a similar problem back in July: https://groups.google.com/forum/#!searchin/influxdb/collectd$20john$20leach/influxdb/ZUZj6m-29mk/YiZTnOiyCQAJ

[2015-10-07 20:46] dgryski commented on #4357
You're going to want to pull in https://github.com/dgryski/go-tsz/commit/918e888e1d33760f5ab18e41cab3857c0037abfe too

[2015-10-07 20:58] jwilder commented on #4357
@dgryski Thanks.  Did not see that other change.

[2015-10-07 21:02] morganda commented on #3880
I would also like to see this. We use the cpu and load plugins which themselves don't explicitly provide the cpu count. They do provide each cpu as an "instance" tag e.g. a box with 32 cpus will collect metrics on 32 individual cpus tagging them with with their instance number. If I could get the total count of cpus from the tags, then the load numbers would have a little more context in our graph

[2015-10-07 21:06] ewildgoose opened #4363 "Use ffjson to improve JSON encoding/mashalling performance"
On my (small) test system I see the generation of the result set dominating the query time. I suspect this is substantially due to JSON encoding speed (about 90% of total query time)

ffjson is an attempt to offer a drop-in replacement for json.Marshall, claims 2-3x performance improvement. It doesn't necessarily require adding an additional dependency as it generates static code.

   https://gith

[2015-10-07 21:23] #4357 closed

[2015-10-07 21:54] jwilder commented on #4337
Should be fixed via #4292 which is in the current nightly.

[2015-10-07 22:03] theromis commented on #4235
same issue for me
[code]

[2015-10-07 22:10] gotyaoi commented on #4337
Excellent, thank you.

[2015-10-07 22:10] #4337 closed

[2015-10-07 22:11] jwilder commented on #4235
Pretty sure this is an issue w/ the `bz1` engine and WAL cursors.  Have you tried the `tsm1` engine?

[2015-10-07 22:25] dsw6 opened #4365 "[tsm1]: panic: runtime error: index out of range"
Installed the nightly 9.5 build (version 0.9.5-nightly-6f80d69), configured the tsm1 data store and started running my test program.  InfluxDB is running on a Ubuntu 13.04 VM with 4 cores, 3G ram, 20G hd.

The test program batch inserts 15K - 30K points every 5 seconds.  Each point has 7 tag values, each tag has a cardinality of 10.  Two continuous queries are configured to run every 5m and 1h, do

[2015-10-07 22:33] theromis commented on #4235
How can I try it? Sorry I'm not familiar with influxdb internals.
But I really like this db and believe in it.
BTW: if this is an issue, how I can convert my current storage to ```tsm1```?

[2015-10-07 22:38] nathanielc commented on #4344
closed by #4361

[2015-10-07 22:38] #4344 closed

[2015-10-07 22:47] jwilder commented on #4365
@pauldix Looks like `DecodeSameTypeBlock` is being called on an zero length `Values` slice which is causing the panic.  https://github.com/influxdb/influxdb/blob/master/tsdb/engine/tsm1/encoding.go#L88

  We could prevent this panic in `DecodeSameTypeBlock`, but not sure if something in the engine is calling this when it should not.

[2015-10-07 22:49] jwilder commented on #4235
@theromis More info here: https://influxdb.com/blog/2015/10/07/the_new_influxdb_storage_engine_a_time_structured_merge_tree.html

[2015-10-07 22:56] jwilder commented on #4334
#4353 might fix this.

[2015-10-07 22:58] pablo-tech commented on #876
this error persist as of today for

select FIRST(PRICE), MIN(PRICE), MAX(PRICE), LAST(PRICE) from "SPX-INDEX-TRADED" group BY time(1h) fill(0) where time > '2015-07-01 00:00:00' AND time < '2015-07-08 23:59:59'

at http://calvinklein-fluxcapacitor-1.c.influxdb.com:8083

[2015-10-07 23:01] theromis commented on #4235
@jwilder Thank you, I saw this info today, but how I can convert my current data into this new format?

[2015-10-07 23:02] jwilder commented on #4235
@theromis This is no convertor right now.  If you enable the new engine, new data will be written using the the new engine.  Existing data will still use the older engines.

[2015-10-07 23:12] theromis commented on #4235
@jwilder Can I switch storage type to ```tsm1``` in 0.9.4.1 just changing type in conf file?
Cannot find any entries in the influxdb.conf

[2015-10-07 23:17] jwilder commented on #4235
@theromis No.  `tsm1` is not available in `0.9.4` releases.  You need to install the latest nightly build or wait until `0.9.5` and change your config file according the the instructions linked from the blog post.  The latest nightly can be downloaded here: https://influxdb.com/download/index.html

[2015-10-07 23:18] beckettsean commented on #876
@pablo-tech that server is running version 0.8.2, for which there is no longer ongoing support. As I recommended, try putting the `fill(0)` at the end of the query, but otherwise the solution is to upgrade to 0.9.

[2015-10-07 23:31] theromis commented on #4235
@jwilder updated to 0.9.5 nightly build, but it still showing same result. Should I create new empty database?

[2015-10-07 23:34] jwilder commented on #4235
@theromis You're old data will still still show the wrong sorts since it's still stored in the older engine format.  New data written to new shards created by the `tsm1` engine should (hopefully) sort correctly.  Creating a new database will make that happen faster though.

[2015-10-07 23:35] theromis commented on #4235
@jwilder Thank you, will try it now.

[2015-10-07 23:37] beckettsean commented on #4356
Thanks, @KiNgMaR! I added `SERVER` to the reserved keywords with https://github.com/influxdb/influxdb.com/commit/ba1c2453b3e2d3d8a464fe8bb3fd752a2055a433

[2015-10-07 23:39] beckettsean commented on #1231
@ymettier @dmilith since the panic is fixed this issue should stay closed. Please [open a new issue](https://github.com/influxdb/influxdb/issues/new) regarding the invalid packet errors.

@ymettier if you think this can be addressed by documentation, please [open an issue on the docs repo](https://github.com/influxdb/influxdb.com/issues/new) with details. I don't grok collectd/UDP well enough to d

[2015-10-07 23:41] beckettsean commented on #4351
closing as duplicate of https://github.com/influxdb/influxdb/issues/3523

[2015-10-07 23:41] #4351 closed

[2015-10-07 23:41] luciotorre commented on #4104
Fwiw, I have the same problem: 0.9.4, Linux, single node.

[2015-10-07 23:42] beckettsean commented on #4351
And for the record, I prefer Paul's syntax as it matches the other SHOW queries. In them `FROM` refers to the database or the measurement, not the where conditions.

[2015-10-07 23:43] beckettsean commented on #4275
related to https://github.com/influxdb/influxdb/issues/4351

@dgnorton not sure if it makes sense to tackle both at once, probably not. However, once we support SHOW with regex, it's natural to want DROP with regex.

[2015-10-07 23:47] beckettsean commented on #4360
I cannot repro with 0.9.4.1. @syepes what version are you running?

[code]

[2015-10-08 01:12] dgnorton commented on #4351
The problem with `WHERE name...` is that `name` can no longer be used as a tag key.

[2015-10-08 01:20] dgnorton commented on #3523
`WHERE name =~ /.*paul.*/` will prevent `name` from being used as a tag key.  Is there an alternative syntax we could use?  Maybe...

[code]
or
[code]

[2015-10-08 01:44] gunnaraasen commented on #3523
`SHOW MEASUREMENTS WITH NAME =~ /.*paul*./` would fit the `SHOW TAG VALUES` statement, e.g. `SHOW TAG VALUES FROM database WITH KEY = 'something'`.

Another alternative would be the MySQL style `LIKE` for regexes.

[code]

[2015-10-08 02:50] skanjo commented on #4098
So far it looks like root, uuid, and cluster are merged. @corylanou could you update the todo list?

[2015-10-08 04:25] syepes commented on #4360
@beckettsean Sorry, I forget to mention the version. I am running the last master version using the tsm1 SE on FreeBSD 10.2

[2015-10-08 04:36] otoolep commented on #4318
Please let me know if you can reproduce this. There is some key step missing from this repro.

[2015-10-08 04:36] #4318 closed

[2015-10-08 05:10] beckettsean commented on #4351
@dgnorton that's a very good point.

What about `SHOW MEASUREMENTS WHERE MEASUREMENT =~ /.../`?

[2015-10-08 05:10] beckettsean commented on #3523
Replied on the duplicate ticket, but what about

`SHOW MEASUREMENTS WHERE MEASUREMENT =~ /.*/`

[2015-10-08 05:16] KiNgMaR commented on #4354
Retention policies are as follows:

    create database "xxx_nonprod"
    create database "xxx_prod"
    alter retention policy "default" on "xxx_nonprod" duration 7d
    alter retention policy "default" on "xxx_prod" duration 31d

There may have been points written between `create database` and `alter retention policy`, could that be a problem?

I will try to reproduce on a clean database and/or

[2015-10-08 05:22] otoolep commented on #4354
@KiNgMaR -- that may be. To be clear, when points are first written shards are created and the end-time of the shard is determined by the retention policy duration *at that time*. Subsequently changing the retention policy duration does not change the end-time of pre-existing shards, only shards created after the `ALTER` command.

[2015-10-08 06:28] KiNgMaR commented on #4354
So I stopped InfluxDB, deleted all DBs, shards etc. and disabled the UDP listeners. Started InfluxDB back up, created the DBs, alterered the default retention policies and checked that no shards had been created yet. Shut down InfluxDB, re-enabled the UDP listeners... but the issue remains. This log file should illustrate it: https://gist.github.com/KiNgMaR/d3419fde0b5f8c78d88e The shard propertie

[2015-10-08 06:44] KiNgMaR commented on #4096
Update from 0.9.5-nightly-64cef0f: no more timeouts, overall great performance, but still leaking a lot of memory and OOM'ing after a few hours.

[2015-10-08 07:05] corylanou commented on #4098
#4173 is still open, but I updated the other ones.  Thanks!

[2015-10-08 08:58] willemdh commented on #4216
@otoolep I've been trying to execute the query in cli, but I seem to have an an issue connecting to the database:
[code]

Sorry for the noobish question, but I've tried numerous combinations to try connect to the db and execute a query, but I seem to keep getting "ERR: unable to parse Basic Auth credentials"

[2015-10-08 09:26] nathholf commented on #68
+1

[2015-10-08 10:49] syepes commented on #4365
I am also facing the same issue, Influxdb runned for 12hour without any issues, now it wont start.

[code]

[2015-10-08 11:32] wonderix opened #4367 "[tsm1]: Feedback on query performance"
This is a feedback on the query performance of tsm1. I was really excited to hear about the new store. So I installed it on my MAC with 512GB SSD.

[code]

I used commit 73a630dfa64003c27782a1b0a6b817e839c5c3ea and built the application from source.

I inserted 1000000 measurements in the database with random float number. I used lines like the following. I used 1000 different ids with 1000 differ

[2015-10-08 13:06] aviau commented on #688
Should InfluxDB support external discovery systems like etcd or consul? This seems to become the trend for recent distributed systems, and it facilitates administration if everything supports the standard discovery tools.

[2015-10-08 13:15] lenko-d commented on #4098
Please let me know if I should make more changes to #4173
<https://github.com/influxdb/influxdb/pull/4173>  or close it?  Thanks.

On Thu, Oct 8, 2015 at 2:05 AM, Cory LaNou <notifications@github.com> wrote:

[2015-10-08 13:33] kostya-sh commented on #4352
As far as I can see query executor engine at the moment simply doesn't support arithmetic operations on multiple fields. This functionality is not implemented.

A simple way to fix this panic would be to return an error message in case if a select field references multiple variables.

Supporting all kind of arithmetic expressions requires much more work.

[2015-10-08 13:36] lenko-d commented on #4098
I will start working on  influxql  and influxd

[2015-10-08 13:40] kostya-sh commented on #4352
BTW, despite `TestServer_Query_Math` test from server_test.go works only by luck because it selects a single column.

The following query doesn't return anything in value column:

    select cpu, value*2 from cpu_usage_guest

[2015-10-08 13:47] kostya-sh commented on #4351
How about `SHOW MEASUREMENTS LIKE /.../`?

[2015-10-08 13:53] jlark commented on #2933
+1 the documentation should be updated to reflect this .

[2015-10-08 13:54] runner-mei opened #4368 "Unlock() is missing in tsdb/engine/tsm1.Log.flush()?"
l.cacheLock.Lock() at https://github.com/influxdb/influxdb/blob/master/tsdb/engine/tsm1/wal.go#L538
l.writeLock.Lock() at https://github.com/influxdb/influxdb/blob/master/tsdb/engine/tsm1/wal.go#L554
return at https://github.com/influxdb/influxdb/blob/master/tsdb/engine/tsm1/wal.go#L560
panic at https://github.com/influxdb/influxdb/blob/master/tsdb/engine/tsm1/wal.go#L568

[2015-10-08 14:29] pkittenis commented on #4354
Also getting this and it seems to be caused by wal flushes. Retention period is the default - infinite. Doubt retention period is in any way related.

After messages like the below, data older than the time of the flush no longer appears in queries:

[code]

[code]
[code]

Then, a few minutes later, another flush:

[code]

And queries now respond with data since 14:24.

[code]

[code]

Do not have

[2015-10-08 14:47] runner-mei opened #4369 "l.cacheLock.RLock() is missing?"
RLock() is missing at https://github.com/influxdb/influxdb/blob/master/tsdb/engine/tsm1/wal.go#L617
 and  https://github.com/influxdb/influxdb/blob/master/tsdb/engine/tsm1/wal.go#L602

thread1 run at [wal.go#L616](https://github.com/influxdb/influxdb/blob/master/tsdb/engine/tsm1/wal.go#L616) and yield.
thread2 run at enter cacheLock and  write l.flushCache at  [wal.go#L580](https://github.com/infl

[2015-10-08 15:33] otoolep commented on #4216
Are you using authentication your database? Please avoid the CLI and your code to troubleshoot this issue and try using `curl` directly.

https://influxdb.com/docs/v0.9/guides/writing_data.html

Can you try that?

[2015-10-08 16:13] otoolep commented on #4096
@KiNgMaR -- how do you know it is a leak? Are you tracking RSS for the influxd process?

[2015-10-08 16:14] otoolep commented on #4096
And @KiNgMaR -- did you change your engine? If you're still on `bz1` you are running the same engine as ever. Is it your intention to try out the new `tsm1` engine?

[2015-10-08 16:27] abligh opened #4371 "golang client corrupts time"
Using server 0.9.4.1 on OS-X from brew, and Client commit 73a630dfa64003c27782a1b0a6b817e839c5c3ea from github, the time is transmitted incorrectly if a precision is specified. Removing the precision fixes the issue.

IE using this example from the client home page here: https://github.com/influxdb/influxdb/tree/master/client

    for i := 0; i < sampleSize; i++ {
        pts[i] = client.Point{

[2015-10-08 16:33] myurko2 commented on #4086
+1 to @fg2it 's comment. For my envisioned use of integer values, a delta encoding makes the most sense.

[2015-10-08 16:41] jwilder commented on #4086
@fg2it @myurko2 delta-encoding for int64s might be used in the future.  There is room for additional encodings and improvements.

[2015-10-08 17:30] abolinhas commented on #4309
The same issue happens in others servers...

[2015-10-08 17:51] willemdh commented on #4216
Yes I can try that. I downloaded curl.exe for Windows and will give that a try asap.

[2015-10-08 18:07] pqvst commented on #2071
A good source for inspiration might be the moment.js library (I find it very intuitive and simple when it comes to parsing and manipulating time). http://momentjs.com/docs/#/manipulating/.

The ``startOf`` and ``endOf`` operators on dates would be a very generic approach to calculating timespans like "this month", "last month", etc.

These could be implemented as alternatives to ``now()``:

* ``no

[2015-10-08 19:09] beckettsean commented on #2933
@JernejJerin please [open an issue on the docs repo](https://github.com/influxdb/influxdb.com/issues/new)

@jackzampolin we need to port your cluster install updates into the normal install page

[2015-10-08 19:35] parisholley commented on #4285
closing this as i am pretty sure that the leak previously was related to the write timeouts and in memory build up. with the new storage engine, other areas are of more concern when it comes to memory usage.

[2015-10-08 19:35] #4285 closed

[2015-10-08 19:47] otoolep commented on #4285
There is no leak in the UDP code. I applied the simple patch below and sent 1000 packets/sec into the UDP input:
[code]
This means the system performs all UDP processing, except actually writing to the database. InfluxDB's internal metrics shows that Go heap usage remains steady.

[code]
![udpgc](https://cloud.githubusercontent.com/assets/536312/10377880/9be6d58e-6dba-11e5-9199-294e0b27cdc9.png)

[2015-10-08 20:03] parisholley commented on #4285
@otoolep it probably isn't going to be easy to reproduce until the GC is put under heavy load. when I dug into the prof tool (I believe i have uploaded the file above so you can analyze manually), it was a clear indicator that the buffer was using a ton of heap.

[2015-10-08 20:05] otoolep commented on #4285
Sure @parisholley -- I just want to differentiate between inefficient use of memory (which this code may well be guilty of) versus that memory being leaked.

I do think continually re-allocating a 64K buffer (assuming that is what is happening underneath) could probably be avoided.

[2015-10-08 20:43] zeamador commented on #4334
I've just tried it again on the latest nightly and the point is correctly replicated to all three nodes. Thanks!

[2015-10-08 20:43] #4334 closed

[2015-10-08 20:49] otoolep commented on #4334
Yay for hinted-handoff!

[2015-10-08 21:28] jwilder commented on #4346
I'm seeing the same thing locally with `tsm1` and `bz1` engines using your repro steps.  I think this is due to each shard being mmap'd and open .  There are about 450 shards created by this script and they are all mmap'd and open.  I'm seeing about 455M RSS.  If I change the script to create fewer shards (~218), RSS is around 240M.

After the query runs, there are some mapper allocations still ha

[2015-10-08 21:46] johnjelinek commented on #4371
This is also the case for `0.9.4.1` via Docker (image: `tutum/influxdb`) based on Ubuntu Trusty.

[2015-10-08 21:48] beckettsean commented on #3277
closing in favor of https://github.com/influxdb/influxdb/issues/4281

[2015-10-08 21:48] #3277 closed

[2015-10-08 21:48] beckettsean commented on #4371
duplicate of https://github.com/influxdb/influxdb/issues/4281

[2015-10-08 21:48] #4371 closed

[2015-10-08 21:51] beckettsean commented on #4309
@abolinhas can you include the log file with about 10 lines before the crash and the full panic stack trace, assuming there is one? It looks like an OOM killer is forcing a reboot, but we need to see what the query logs show. Should be in `var/log/influxdb/influxdb.log`

[2015-10-08 21:52] johnjelinek opened #4376 "Go client unable to parse Equals"
[code]

[code]

[code]

[2015-10-08 21:56] beckettsean commented on #4309
@abolinhas looking at the counts, that query set is selecting a tag and a field from about 4.4 million points at the same time. That's a fairly large set. A similar query of 500k values took 3.9 seconds and about 1GB of RAM to return on my machine. Scale that up by a factor of 9 and it does exceed your available RAM.

Why do you need to return all the values for each point in a single query? Can y

[2015-10-08 22:03] johnjelinek commented on #4376
Note: if I add `Fields`, it succeeds:
[code]

[2015-10-08 22:21] otoolep commented on #4346
Yeah, I don't have any particular insights apart what you offered. I suggest @mastor start looking at the internal Go runtime stats if more information is required.

https://influxdb.com/blog/2015/09/22/monitoring_internal_show_stats.html

[2015-10-08 22:22] mjdesa commented on #4376
@johnjelinek points in InfluxDB are required to have fields. As you note, if you add `Fields` to the point, the request succeeds.

[2015-10-08 22:22] #4376 closed

[2015-10-08 22:23] nathanielc commented on #3820
This is fixed as part of https://github.com/influxdb/influxdb/pull/4375

A few show queries would return a row with no values and caused a js error. A check is now in place.

[2015-10-08 22:23] johnjelinek commented on #4376
@mjdesa: oh .. I guess that wasn't clear. I think the error shouldn't be `Unable to parse` but instead `Fields required`.

[2015-10-08 22:38] mjdesa commented on #4376
[code]

At the end of the error message it says `invalid field format`.

[2015-10-08 22:40] johnjelinek commented on #4376
@mjdesa: it inserts without fields when I don't have `=` in the tags.

[2015-10-08 22:58] beckettsean opened #4378 "[0.9.4.2] right-to-left encoded languages cause weirdness with the CLI"
Where weirdness means the tag value becomes the field value and vice versa.

`curl -XPOST 'http://localhost:8086/write?db=telegraf' --data-binary 'utf,foo=ول value="م"'`

[code]

I don't even...

[2015-10-08 23:02] beckettsean commented on #4378
Arabic characters copy-pasted from http://generator.lorem-ipsum.info/_arabic in Chrome on OS X. I have absolutely no idea what that means for character encoding shenanigans, but I am thoroughly confused.

UTF characters from left-to-right languages do not lead to this problem.

`curl -XPOST 'http://localhost:8086/write?db=telegraf' --data-binary 'utf,foo=øπ†éå value="ñµ√"'`

[code]

Hebrew does:

[2015-10-08 23:04] mjdesa commented on #4376
@johnjelinek can you send me an example so I can try to repro the issue.

[2015-10-08 23:05] JulienChampseix commented on #4272
thanks @otoolep ! :+1:

[2015-10-08 23:07] beckettsean commented on #4378
This is actually a bug in the CLI output. The JSON from a direct curl query shows the proper results:

[code]

[2015-10-08 23:12] beckettsean commented on #4378
@corylanou FYI. Not a big deal but this was a really wacky bug to track down.

[2015-10-08 23:21] abligh commented on #4281
Remove `Precision: "ms",` and it will work.

[2015-10-08 23:29] beckettsean commented on #4376
@johnjelinek in the line protocol, the exact syntax is

`measurement[,tag_key=tag_value] field_key=field_value [timestamp]`

If you don't put an `=` in the tags, that space is interpreted as denoting the beginning of the field set. I'm not sure how it would parse, since the key=value pairs shouldn't match up, but as @mjdesa says, please provide an example of a point inserting without a valid field

[2015-10-09 01:28] comcomservices commented on #3674
+1

[2015-10-09 02:17] otoolep commented on #4041
Fixed by https://github.com/influxdb/influxdb/pull/4379

[2015-10-09 02:18] otoolep commented on #4041
@beckettsean -- once this closes, the documents can point to the README added as part of #4379

[2015-10-09 02:34] huhongbo opened #4380 "0.9.5 query return null columns"
this is sample data

system.cpu.user,api_key=554321df9d6adb0d05be83f90c0f1f38,hostname=pc-zjqdlog01 value=14.070000 1444357650
system.cpu.user,api_key=554321df9d6adb0d05be83f90c0f1f38,hostname=pc-zjqdlog01 value=10.390000 1444357668

when I query from influxdb, I found ',hostname' columns
{
  "results": [
    {
      "series": [
        {
          "name": "system.cpu.idle",
          "columns": [

[2015-10-09 02:44] eliperelman commented on #659
Adding my +1 behind this.

[2015-10-09 03:22] toddboom commented on #659
@eliperelman any functions in particular that you're needing?

[2015-10-09 03:27] eliperelman commented on #659
I'm specifically needing square root so I can calculate upper bounds:

`select mean(value) + (1.96 * stddev(value) / sqrt(count(value)) as "upperBound" from measure ...`

[2015-10-09 03:29] eliperelman commented on #659
Although having an upper bound function might be more succinct. :)

`select upperbound(value, 95) from myseries`

[2015-10-09 03:31] eliperelman opened #4381 "[feature request] Filter based on aggregation"
All the issues that were previously raised on this subject appeared to be closed, so I'm not sure what the state of it was, but I thought I would raise it just to be safe.

It would be nice to filter based on an aggregation, my use case being:

`SELECT mean(value) FROM series WHERE count(value) = 30`

Basically only collect these numbers where we have enough values for it to be significant.

[2015-10-09 03:36] otoolep opened #4382 "Corruption detected during bz1 WAL unit testing"
https://circle-artifacts.com/gh/influxdb/influxdb/6494/artifacts/2/tmp/circle-artifacts.fO26rJZ/test_logs_race.txt

[code]

[2015-10-09 04:35] #4380 closed

[2015-10-09 05:41] otoolep commented on #3051
@corylanou took care of this, and it's available here:

https://influxdb.com/download/index.html

[2015-10-09 05:41] #3051 closed

[2015-10-09 05:59] RobMcZag commented on #4086
My experience with HP Vertica is that having some sensible default with the ability to chose from a few alternatives the right encoding for every field when you need it is a real benefit.
Only at design time (and sometimes only after checking real data) you have a clear idea of the contents, if you are going to order on that column or not and how to optimize the storage. Once you start with one en

[2015-10-09 06:25] KiNgMaR commented on #4354
I updated to the fresh nightly (bc569e82debd611c38bb9d749b067af92a17b50c) and the issue appears to be resolved for me. :smiley: However I browsed the commits and didn't find anything that struck me as related, so we probably have to keep an eye on it...

@pkittenis can you also test with the fresh build?

[2015-10-09 06:32] otoolep commented on #4086
This will work, however there is a caveat. Field types are only on a per-shard basis (under the covers, this is not something exposed to users) so it would require you perform that dummy insert as the first event in each shard, but when that shard is created is not visible, nor controllable by you (not directly anyway).

One possibility, of course, is for the system to use a schema if you supply i

[2015-10-09 06:33] otoolep commented on #4354
Are you sure you are running the `tsm1` engine? Just have to be sure it isn't something simple that fixed it. :-)

[2015-10-09 06:35] syepes commented on #4365
FYI, I have applied the patch d3a483e and I am still unable to start InflxuDB. Now I am getting and "unable to determine block type" panic.

Is the tsm1 data file corrupted?

[code]

[2015-10-09 06:46] KiNgMaR commented on #4354
# grep 'engine =' /etc/opt/influxdb/influxdb.conf
    engine = "tsm1"

    # grep wal /var/log/influxdb/influxd.log | tail -n1
    [tsm1wal] 2015/10/09 08:44:49 memory flush of /var/opt/influxdb/data/xxx_prod/default/2 with 140876 keys and 330139 total values of 5282224 bytes

LGTM :+1:

[2015-10-09 07:42] KiNgMaR commented on #4096
Hi @otoolep, yes tsm1 is used exclusively.

It looks like the growing memory is related to the index flush from the WAL. I made a simple log file that tracks memory usage. It can be correlated against the `flush to index took` entries in the influxdb.log file very easily. Here's the gist:

    # grep -P 'flush to index took [\d.]+s' /var/log/influxdb/influxd.log
    [tsm1wal] 2015/10/09 07:59:18 /

[2015-10-09 09:44] ymettier commented on #1231
Hello,

Now, please follow issue https://github.com/influxdb/influxdb.com/issues/381

Regards,
Yves

[2015-10-09 11:05] llevar opened #4383 "Aggregate query with Group By time produces 1 result when many expected."
I have collectd feeding data into influxdb at 10s intervals from a cluster of 50 nodes. I'm interested in looking at network stats.

If I select the actual data I get this:

SELECT value FROM interface_rx WHERE host = 'tracker' and type = 'if_packets' and instance = 'eth0' and time < now() - 1h limit 1000;

Overall there are 145652 samples during this time period.

![image](https://cloud.githubuse

[2015-10-09 11:10] johnl commented on #4357
This looks fixed to me. I've not had one strange metric for interface_rx/if_packets since I deployed this code yesterday. Previously I'd had them fairly regularly! Thanks!

[2015-10-09 12:32] sharang commented on #3247
not fixed yet? We have this problem in 0.9.3 -- 0.9.4.2.

test script:
=================================================
date
(( end = `date +%s` / 60 * 60 - 60 ))
(( start = end - 180 ))
condition="time >=  ${start}s AND time <= ${end}s AND switch_id = '2' AND instance_id = '5' AND instance_type='rx_bytes'"

echo
echo "raw data"
echo

curl -G 'http://localhost:8086/query?pretty=true' --data-urlen

[2015-10-09 12:35] pdf commented on #3247
@sharang please fix your formatting and/or post large chunks as gists - scrolling through pages of cruft makes the issue hard to read.

[2015-10-09 12:35] alexanderdavidsen commented on #1647
+1

[2015-10-09 12:45] DanielMorsing commented on #4346
Linux counts mmap pages as being in RSS, even if they can be evicted. I don't think there's a memory leak here.

Given that we have to expand the SSTables again when we read them, would it make more sense to have a cache of the result in memory rather than just the blocks on disk?

[2015-10-09 13:06] gilgamezh commented on #3994
Same issue here:
influxdb 9.4.1 - debian jessy
[code]

Any Idea on how to delete the NaN values?

[2015-10-09 13:07] brunohass commented on #4203
Hi, CLI doesn't hang anymore in 0.9.5-nightly-6f80d69 using tsm1 and same scenario above. Still needs tests with production workload.

[2015-10-09 13:09] abolinhas commented on #4309
@beckettsean
Error after 15 min from query execution (this time the server don't reboot):

ERR: Get http://10.95.254.99:8086/query?db=proxydb&q=SELECT+USERID%2CSIZE+FROM+access_log+WHERE+%28time+%3E%272015-09-01+00%3A00%3A00%27+and+time+%3C+%272015-10-06+23%3A59%3A00%27%29: EOF

Memory usage: 99% gives the fatal error: runtime: out of memory

The log is too long to post here, you can find it in th

[2015-10-09 13:44] ewildgoose commented on #4381
In SQL you would use WHERE as the "filter" for rows into an aggregation, GROUP BY for the aggregation and HAVING as a filter on the aggregation output

So your proposal is basically to introduce a "HAVING count(value) > 30" or similar

No opinion on this, but perhaps this widens/clarifies the scope of what you are asking?

In the meantime, I *think* you need to do this using continuous queries, th

[2015-10-09 14:25] pauldix commented on #4365
@syepes how big is `/opt/graphite/storage/influxdb/data/ESXi/raw/4/0001957.tsm1`?

[2015-10-09 14:28] sharang commented on #3247
@pdf formatting fixed

[2015-10-09 15:23] anudharm opened #4384 "0.9.3 Influx cluster - Panic errors"
Hi,

I have a 3 node influx cluster deployed with 0.9.3 version of influx. I intermittently keep getting
[code]

[2015-10-09 15:34] syepes commented on #4365
@pauldix , It not that big, can I just remove this file?
[code]

[2015-10-09 15:42] willemdh commented on #4216
@otoolep My first tests were positive. I did not receive any timeout. curl > invoke-restmethod apparently. It should also work with invoke-restmethod though imho:
https://technet.microsoft.com/en-us/library/hh849971.aspx
Or not?

[2015-10-09 15:47] pauldix commented on #4365
@syepes you can remove the file, but then you'll lose everything that was in it. Can you grep your log for that file name?

Also, would it be possible to zip that up along with the `ids`, `fields`, `series`, and `collisions` files?

[2015-10-09 15:57] syepes commented on #4365
Ok, no problem. Where should not up load it?

[2015-10-09 16:03] otoolep commented on #4216
Unfortunately @willemdh -- I have zero experience with that Microsoft library. If `curl` works fine, it must be something in your client software, so you focus your debug on that. InfluxDB seems to be working fine.

[2015-10-09 16:08] otoolep commented on #4096
I think this issue has become mixed with reports for multiple engines.

@KiNgMaR -- can you open a new ticket for issues specifically related to the `tsm1` engine? Tickets filed against older engines (like this one) are unlikely to be fixed.

[2015-10-09 16:16] otoolep commented on #4040
Fixed by https://github.com/influxdb/influxdb/commit/657aa5a1348ebde47446de0fb4c43ac102602185

[2015-10-09 16:16] #4040 closed

[2015-10-09 16:33] jwilder commented on #4360
I can reproduce this with both `tsm1` and `bz1` engines on master so this doesn't seem to be an issue caused by the new engine.

[2015-10-09 16:37] corylanou commented on #4360
I suspect this happened on one of my PR's to introduce selecting of fields with selector style functions.  I can take a look today.

[2015-10-09 16:51] dtouzeau commented on #4309
"Why do you need to return all the values for each point in a single query? Can you use CQs to downsample in advance? Can you narrow your time range?"

Because the GROUP BY is not really supported.. So we need to dump all rows, import them into MySQL in order to use the GROUP BY and other features

[2015-10-09 17:03] johnjelinek commented on #4376
I am mistaken. I cannot repro this today. Now that I look back on the error message, I was interpreting it to mean a field (but not specific to "Fields") in the line protocol is in the incorrect format, rather than the "Fields" property is missing/invalid. I'll make sure that Fields is provided (but also a cool feature would be to have go complain at compile time if Fields is missing).

[2015-10-09 18:11] pauldix opened #4388 "Compactions create files bigger than 4GB"
Data files can't be bigger than 4GB because the index positions are kept in `uint32`s. There's a bug right now that if a shard gets bigger than 4GB it will get compacted into 1 file instead of being spread out over multiple files.

* Test that ensures compaction doesn't do this
* Test that a flush from the wal to an old area of time that would cause the file to go over the limit doesn't cause a pr

[2015-10-09 19:16] beckettsean commented on #3994
I don't know of any way to delete just the NaNs unless you know something else about the points. The value is unqueryable, so we can't build a query to remove them that relies on finding NaN.

It's a tough bug, because the database assumes these values cannot exist, but some of the plugins were able to create them.

[2015-10-09 19:21] beckettsean commented on #4309
@dtouzeau

Can you elaborate on what more it needs to do? Is this related to GROUP BY fields or something?

If this is just an ETL into MySQL, why grab 4 million points at once? Why not 500k points at a time so the query doesn't OOM?

[2015-10-09 19:29] abolinhas commented on #4309
@beckettsean

|Can you elaborate on what more it needs to do? Is this related to GROUP BY fields or something?

Yes group by don't work with tags....

Group by don't work on my query....
SELECT USER,SIZE FROM access_log WHERE (time >'2015-08-01 00:00:00' and time < '2015-08-31 23:59:00') group by time (1h)
ERR: error parsing query. GROUP BY requires at least one aggregate function.

I also try
SEL

[2015-10-09 19:34] beckettsean commented on #4365
@syepes you can upload your files using this link: cwok.me/cu/ghi4365

[2015-10-09 19:39] beckettsean commented on #4309
`SELECT USER,SIZE FROM access_log WHERE (time >'2015-08-01 00:00:00' and time < '2015-08-31 23:59:00') group by time (1h)`

The error has nothing to do with tags. You're asking for the raw points, but grouped by hour. What does that even mean? Remove the `group by time (1h)` from that query and it will run just fine.

`SELECT USER, SUM(SIZE) as SIZE FROM access_log WHERE (time >'2015-08-01 00:00:0

[2015-10-09 19:39] beckettsean commented on #4309
This issue appears to be a combination of requesting too many points at once for the available RAM, and not understanding the syntax of the query language. Closing

[2015-10-09 19:39] #4309 closed

[2015-10-09 19:40] beckettsean commented on #4384
Clustering in 0.9.3 was alpha. Please update to the latest 0.9.4.2 release.

[2015-10-09 19:40] #4384 closed

[2015-10-09 19:42] beckettsean commented on #4383
First, for reporting bugs please use `curl` or the CLI, as the Admin UI introduces too many variables around browsers, JSON rendering, etc.

Second, why do you have a LIMIT clause on the aggregation? If you take that off what happens?

[2015-10-09 19:46] rossmcdonald commented on #1338
We've just setup an official repository for new InfluxDB packages. For `yum`, you can run the following command (as root):

[code]

And then a `sudo yum install influxdb`. Let us know if you run into any issues!

[2015-10-09 19:46] #1338 closed

[2015-10-09 19:50] Pomyk commented on #4383
I think you should use ">" instead of "<" in the query.

[2015-10-09 19:57] rossmcdonald commented on #585
We've setup an official repository for new InfluxDB packages on Ubuntu/Debian and RHEL/CentOS.

For `apt-get` on Debian/Ubuntu, you can run the following command (as root):
[code]
And then a `sudo apt-get update && sudo apt-get install influxdb` to install InfluxDB.

For `yum` on CentOS/RHEL, you can run the following command (as root):
[code]
And then a `sudo yum install influxdb` to install Infl

[2015-10-09 19:57] #585 closed

[2015-10-09 20:35] damm commented on #585
Thank you!

[2015-10-09 21:01] johnjelinek opened #4390 "ORDER BY TIME DESC not working right"
Using `InfluxDB Shell 0.9.4.2` on Ubuntu:

The first two records are not in order by time descending.

[code]

[code]

[2015-10-09 21:04] johnjelinek commented on #4390
Oh .. probably dupe of https://github.com/influxdb/influxdb/issues/4235

[2015-10-09 21:04] #4390 closed

[2015-10-09 21:04] beckettsean commented on #4383
Indeed, please see https://influxdb.com/docs/v0.9/troubleshooting/frequently_encountered_issues.html#getting-unexpected-results-with-group-by-time

[2015-10-09 21:04] #4383 closed

[2015-10-09 21:34] otoolep commented on #4382
Hit this again on Circle.

https://circle-artifacts.com/gh/influxdb/influxdb/6538/artifacts/1/tmp/circle-artifacts.z65xUVj/test_logs_i386.txt