[2015-08-23 12:13] buro1983 commented on #3805
I am facing same problem with 0.9.2. also. I I have tried with group by clause also. is there anything that I am missing while querying data?

[2015-08-23 12:16] erikogenvik opened #3806 "[feature request] Querying by tag across measurements should exclude measurements without the tag, not fail with an error"
I'm not sure if the behaviour I'm describing is a bug or intended behaviour; I couldn't get a clear consensus from the docs.

The problem is that when doing a query using a regexp for the series and matching against a tag, the query will fail if any of the matching series is missing the tag.
My expectation would be to instead return those series where there were a matching tag, and just ignoring t

[2015-08-23 15:25] pauldix commented on #3796
I updated the logging a bit. #3807 should improve the output

[2015-08-23 15:38] pauldix commented on #3805
Can you try that query with a time range? There might be a bug with aggregates against an exact time. Like:

[code]

[2015-08-23 16:34] buro1983 commented on #3805
I have tried with time range, now() (with and without group by) but no luck. I was using 0.8.8. I just started migrating to 0.9. Please let me know if it is a bug or query is wrong.

[2015-08-23 16:35] pauldix commented on #3805
can you show the exact query and CLI output for the range queries you did? Also, what shows up if you just do the sum without specifying any time?

[2015-08-23 16:53] buro1983 commented on #3805
1. select sum(Downstream)  from Usage where time >= '2015-08-23 00:07:08' and time < '2015-08-23 18:07:09' group by LinkName
      name: Usage
      tags: LinkName=Link1
      time                    sum
      ----                    ---
      2015-08-23T00:07:08Z    0

      2. select sum(Downstream)  from Usage where time > '2015-08-23 00:07:08' and time < '2015-08-23 18:07:09' group by LinkName

[2015-08-23 18:07] michaelraney commented on #436
I have the same issue. UI works but http api does not. I can ping influxdb using the call you specified, but I get a 404 for all of the apis. Version 0.9.2.

[2015-08-23 18:43] mvadu commented on #3755
I think the issue with Raspbian is just lack of rpmbuild. Even though the script defaults to `debian_package=influxdb_${VERSION}_amd64.deb` when the ARCH is not matched, FPM automatically changes to `influxdb_${VERSION}_armhf.deb`. So the platform detection works in FPM.

That being said, since package.sh tries to create rpm package first and it fails (100% of the time) makes things difficult in R

[2015-08-23 19:53] buro1983 commented on #3805
I have run these queries on 0.9.2 release

[2015-08-24 00:25] otoolep commented on #3781
Alternatively running your test against the stable release 0.9.2 and telling us if you see the same thing would help us rule out a lot of changes.

@gerrickw

[2015-08-24 02:32] liujitao commented on #3752
my influxdb:
wget -c http://173.45.34.25/influxdb.tar.gz

please donwnload.

[2015-08-24 03:41] gerrickw commented on #3781
Sure, I'll try out 0.9.2 tomorrow.  A bit busy today. >_<

[2015-08-24 05:16] otoolep opened #3809 "Profiling shows SetDeadline to be CPU intensive"
The recent change to make TCP connections timeout and close if they are idle seems to be quite CPU intensive. I need more precise numbers, but the gain may not be worth it.

[2015-08-24 05:59] liujitao commented on #3752
@otoolep
my influxdb:
wget -c http://173.45.34.25/influxdb.tar.gz

please donwnload.

[2015-08-24 07:30] airyland opened #3810 "Can I count and group into 24h?"
I can use group by time(1h) to see datas across every hour, but what if I want to see the data group by each hour in 24 hours so I can see on which hour users are most active?

[2015-08-24 08:48] srfraser commented on #3528
Memory use after the weekend.  Am going to try turning off per-cpu metrics in telegraf to see what the characteristics are, there, since they account for 2/3 of the points coming in.

![influxdb_memory2](https://cloud.githubusercontent.com/assets/5933384/9436163/388df032-4a45-11e5-921b-4156b806509b.png)

[2015-08-24 09:14] poll0rz commented on #3548
+1, same things happening here

[2015-08-24 09:37] noroute commented on #3636
Does this have a target release?

And: would more than one graphite instance be able to share a database (e.g. tcp+udp)?

[2015-08-24 12:15] jhorwit2 commented on #3810
`select count(user_id_column) from measurement where time > now() - 24h and group by time(1h)`

[2015-08-24 12:29] huhongbo commented on #3781
I've test the 0.9.2 is work fine
but the 0.9.3rc2 is still lost point after group by

[2015-08-24 12:32] jhorwit2 opened #3811 "[0.9.3 rc-2] every http write is failing for me"
I upgraded to rc2 and every http request has started to timeout. The data that I'm sending was the exact same I was sending in rc1 which wrote fine.

I can't even do the requests from the docs

[code]

[2015-08-24 12:41] jhorwit2 commented on #3811
This seems to have magically fixed itself by doing a force reinstall. I'm going to close for now.

[2015-08-24 12:41] #3811 closed

[2015-08-24 13:27] kenzodeluxe opened #3812 "[0.9.3-rc2]: Timeouts around WAL flushing periods"
With 0.9.3 rc2, I see timeouts especially in WAL flusing periods:

[code]
Right now, if a write fails I will try to rewrite two more times with 1s delay which ultimately seems to work.

[2015-08-24 13:42] kenzodeluxe commented on #3812
Config:
  max-wal-size = 104857600 # Maximum size the WAL can reach before a flush. Defaults to 100MB.
  wal-flush-interval = "10m" # Maximum time data can sit in WAL before a flush.
  wal-partition-flush-delay = "2s" # The delay time between each WAL partition being flushed.

[2015-08-24 13:51] dgnorton commented on #3805
I tried several things to reproduce but no luck so far:
- start with 0.9.3rc2, create new db, write 4 points, `select sum(Downstream) from Usage`
- start with 0.9.2, create new db, write a few points, switch to 0.9.3rc2, write a point, run same query
- start with 0.9.1, create new db, write points, 0.9.2 write point, 0.9.3rc2 write point, run same query

@buro1983 can you reproduce this on a new D

[2015-08-24 14:15] buro1983 commented on #3805
raft.db will work for you?

[2015-08-24 14:52] dgnorton commented on #3805
@buro1983 are you running a cluster or single node?

We would need the contents of the data directory.  In your influxdb config file...
[code]
Can you put it on a Google drive (or similar) and email the link to support@influxdb.com and ref this issue or post it here?

[2015-08-24 14:52] pauldix commented on #3805
Should probably just grab the whole `.influxdb` directory. You'll need the WAL too

[2015-08-24 15:08] analytically commented on #2232
I think I was writing null (nil?) values to the HTTP API. This caused Influx to crash.

[2015-08-24 15:19] aviau commented on #3701
@otoolep

I have just uploaded 0.9.2.1+dfsg1-1 to Debian.

Thanks to your help, we have [fixed](https://buildd.debian.org/status/package.php?p=influxdb) the InfluxDB build on i386 and armhf! InfluxDB will be available for these architectures on Debian in a couple hours. On Ubuntu, tomorrow.

[2015-08-24 15:30] ccollicutt commented on #3728
This happens with me too. Ubuntu 14.04, in an lxc container (though only one on the physical host), 32gb of memory. influxdb eats up all memory and swap and is killed.

[2015-08-24 15:39] kenzodeluxe commented on #3812
Closing for the time being; not sure whether running this virtualized added an issue here. Investigating further.

[2015-08-24 15:39] #3812 closed

[2015-08-24 15:54] ov7a opened #3813 "Huge IO"
InfluxDB verison: 0.9.0 (from debian 8 package)
OS: Linux somehost 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt11-1 (2015-05-24) x86_64 GNU/Linux

iotop log:

    Total DISK READ :       0.00 B/s | Total DISK WRITE :      38.27 M/s
    Actual DISK READ:       0.00 B/s | Actual DISK WRITE:      25.51 M/s
    TID  PRIO  USER     DISK READ  DISK WRITE  SWAPIN     IO>    COMMAND
    12076 be/4 influxdb

[2015-08-24 16:01] buro1983 commented on #3805
I have sent a mail to  support@influxdb.com

[2015-08-24 16:14] otoolep commented on #3813
IO loads have decreased significantly in later releases please upgrade to 0.9.2 or 0.9.3-rc2 and check if you see the same issues.

https://influxdb.com/download/index.html

Closing for now.

[2015-08-24 16:14] #3813 closed

[2015-08-24 16:30] s1m0 commented on #3781
0.9.3rc1 was very bad at losing points but rc3 seems better after 1 hour of running I haven't seen any lost data

[2015-08-24 16:31] gunnaraasen commented on #436
@michaelraney can you provide the full curl command? A 404 indicates you're not hitting a valid endpoint.

[2015-08-24 16:59] s1m0 commented on #3781
Lost all data from 15minutes ago and beyond, I'll have to revert to 0.9.2...

[2015-08-24 17:36] Jhors2 commented on #3794
I noticed the above panic, however it was not fatal to the influx daemon.  It seems as though it happened when a retention policy and/or database didn't exist that I was attempting to write to.  Once I created the database and/or retention policy the panics disappeared from the logs.

[2015-08-24 17:42] jhorwit2 commented on #3794
It randomly stopped for me. I'm guessing it was fixed in rc2. I'm going to close.

[2015-08-24 17:42] #3794 closed

[2015-08-24 17:47] otoolep commented on #3636
@noroute -- there is no target yet for this release. We don't know of an important use case for this functionality. Do you have one that you can share with us?

To answer your second question, a TCP and UDP input could write to the same database when this feature is implemented. There will be no limit to the number that can write to a single database.

[2015-08-24 17:49] otoolep commented on #3802
At first pass, I don't see how #3702 could affect the data that is queried, since it only kicks in when retention policies are altered, and only affects new shards.

Is there any chance you are seeing #3781 ?

[2015-08-24 18:02] otoolep commented on #3809
Reverted the Graphite TCP timeout. We can revisit if necessary.

[2015-08-24 18:02] #3809 closed

[2015-08-24 18:04] beckettsean commented on #3810
I think this is a duplicate request to https://github.com/influxdb/influxdb/issues/2241. Closing in favor of that. @airyland please add more detail to that issue if you like.

[2015-08-24 18:04] #3810 closed

[2015-08-24 18:08] beckettsean commented on #3805
@buro1983 is it possible you have been writing the values as strings and not numbers? The SUM of a string is always zero, and there's no easy way to tell from the output if it's stored as a number or a string.

Can you share a sample write statement?

[2015-08-24 18:19] beckettsean commented on #3802
@papylhomme from the first bullet point it sounds like the timestamps are all exactly 10 seconds apart, since you get results every 10 seconds without a `GROUP BY time(10s)`.

Given that, perhaps there's a strange edge case behavior when grouping by a time interval that's exactly equal to the point spacing. Do you get meaningful results from `select mean(value) from users_value where host='danska'

[2015-08-24 18:28] otoolep commented on #3781
We are managing to reproduce this issue in-house with the script supplied by @gerrickw -- thanks @gerrickw . However, we'd like still further confirmation from the community that this is a 0.9.3-rc issue only, and 0.9.2 did not suffer from this. We'll also check that.

[2015-08-24 18:35] Jhors2 commented on #3781
@otoolep I can confirm I do not experience this problem at all with 0.9.2.  This degradation appears to have started once the Compaction/WAL patch happened right when RC1 was cut.

[2015-08-24 18:40] otoolep commented on #3781
OK, thanks @Jhors2

[2015-08-24 18:50] buro1983 commented on #3805
client.Point {
           Measurement: "Usage",
           Tags: map[string]string{
                 "LinkName": linkName,
                 "ApplicationType": apptype,
                 "Subscriber": subName,
           },
           Fields: map[string]interface{}{
                "Upstream": metric.UB,
                "Downstream": metric.DB,
            },
            Tme: ts,
             Precis

[2015-08-24 19:01] beckettsean commented on #3805
@buro1983 The UB and DB variables may be numbers in your code, but if they are double-quoted in the actual write submission they will be cast as strings by the database. This would be true for all versions of the database.

How are you writing points? A library, direct HTTP API calls?

[2015-08-24 19:07] buro1983 commented on #3805
I am referring to ExampleClient_Write in https://github.com/influxdb/influxdb/blob/master/client/example_test.go

I am writing everything into client.BatchPoints then using conn.Write() to write into DB. My code is same as mentioned in example.

[2015-08-24 19:08] papylhomme commented on #3802
Yes my points are 10 seconds apart, they're coming from a collectd daemon with polling set to 10s. The query with  ```group by time(14s)``` exhibit the same behaviour, with slight shift in the resulting timestamp (the first 0 is at 17:59:56 instead of 18:00:00).

Regarding the version, it was compiled some days ago against master, head is 47533465a7ce9d590c7e20587f8cdf04236ced00

[2015-08-24 19:16] buro1983 commented on #3805
Influx log file contains traces like  POST /write?consistency=&db=cs&precision=&rp=default HTTP/1.1 204 0 - InfluxDBClient 6680e80a-497d-11e5-8302-000000000000 1.220006ms
So I am not able to figure out the body part of POST message.

[2015-08-24 19:28] otoolep commented on #3781
We have confirmed here that this appears to be an issue with the new bz1 engine, and looks like it's triggered by a flush/compaction cycle.

[2015-08-24 19:28] otoolep commented on #3781
The problem also persists through a restart of the process.

[2015-08-24 19:36] Zolmeister commented on #2074
+1 for per-query timezone

[2015-08-24 20:14] johncagle opened #3816 "[0.9.2] RPM is missing a dependency (coreutils)"
When trying to incorporate influxdb into an appliance ISO, installs may fail because the post-install script of influxdb's RPM uses rm, ln, chown, chmod, etc. which are binaries from the coreutils RPM. Please add coreutils as a dependency of influxdb.

[2015-08-24 20:16] gerrickw commented on #3781
Also confirmed it looks better on 0.9.2, although running into #3748 I reported previously due to b1 engine, which causes timeouts after a few hours after the point flushes.  Either way looks better after I ran it for a few hours related to data disappearing.

Thanks.

[2015-08-24 20:50] gerrickw commented on #3753
I also agree this would be a nice addition.  You could also look at how Grafana set their packaging as they are also a go project.

https://github.com/grafana/grafana/tree/master/packaging
https://github.com/grafana/grafana/issues/1758

[2015-08-24 20:53] corylanou commented on #3805
@pauldix I just realized, the dates are identical.  That should be impossible right?

[code]

[2015-08-24 20:55] corylanou commented on #3805
nm, realized they are different series by doing a `select *`

[2015-08-24 21:34] corylanou opened #3818 "Return an error for any queries that can't complete due to invalid data types"
Currently, you can get into a scenario where you have the same field in multiple shards with different underlying data types.  This is due to how shards are created.  This is NOT a recommended strategy, and hopefully one users only end up in by accident.

There are two things that can happen.

1. When issuing a query that requires math against the specified field, if at least one of the shards has

[2015-08-24 21:35] corylanou commented on #3805
Ok, found the problem.  The data is actually being written as a string.  I added a panic that will fire if it isn't a valid type and got this result:

[code]

While this isn't a bug specifically because all the data is a string, we need to do a better job of catching and erring out the queries to end users.  I opened an issue to here: https://github.com/influxdb/influxdb/issues/3818

[2015-08-24 21:35] #3805 closed

[2015-08-24 22:10] beckettsean commented on #3818
@corylanou in the event of mixed types, how would the user know that only partial results had been returned? Can we put an error in the return as well?

[2015-08-24 22:12] gerrickw commented on #3781
Oh and as a note I wasn't able to reproduce the 500 error code I mentioned above.  There was a point in time where I received all 500 server errors that required me to restart the service for data to load again.  If I run into it again and a way to reproduce I'll throw a different issue in.

[2015-08-24 22:22] beckettsean opened #3819 "[feature request] return total count of points sampled as part of queries, possibly optionally"
The COUNT function is the only one that returns a count of points sampled but it would be a useful diagnostic tool for query performance, consistency checks, and to assist with things like https://github.com/influxdb/influxdb/issues/3818, where we can return a partial with a note that 387 of 82734 points were not valid for the query.

[2015-08-24 22:29] nathanielc opened #3820 "Javascript error in Admin interface running 'SHOW CONTINUOUS QUERIES'"
When you run `SHOW CONTINUOUS QUERIES` you get a js error `Uncaught TypeError: Cannot read property 'map' of undefined` https://github.com/influxdb/influxdb/blob/master/shared/admin/js/admin.js#L312

Looking at the JSON response from the server the queries are returned but js error prevents them from being displayed.

version 0.9.3

[2015-08-24 23:11] erikriverson opened #3821 "[0.9.2] Format of JSON response differs based on value of 'time' parameter in WHERE clause"
I am running two queries, only changing the value of the 'time' parameter in my WHERE clause. I am trying to get a simple count of records for a certain measurement. My database contains no data for either yesterday or today, but the format of the resulting JSON differs depending on which day I ask for.

For yesterday (i.e., 2015-08-23 at the time of this note), I receive the following structure i

[2015-08-24 23:15] mjdesa commented on #3806
@erikogenvik what version of influxdb are you using?

[2015-08-24 23:24] buro1983 commented on #3805
Wait, I am using Influx client APIs to write into DB. My values are in integer then how it is getting stored as string? If it is expected then what I need to do to make sure that I am inserting integer values into DB instead of string.

        Fields: map[string]interface{}{
            "Upstream": metric.UB,
            "Downstream": metric.DB,
        }

Still it is not clear how interface.(typ

[2015-08-24 23:29] beckettsean commented on #3821
@erikriverson which version of InfluxDB are you running?

[2015-08-24 23:31] erikriverson commented on #3821
@beckettsean This is a hosted instance, which the web admin tool is reporting as InfluxDB v0.9.2

[2015-08-24 23:33] beckettsean commented on #3806
@erikogenvik in general querying across measurements is not advisable in InfluxDB 0.9. The regex will match multiple measurements, but if those measurements don't share the same fields it can cause problems. Is there a reason you have many measurements? It was common in InfluxDB 0.8 to have thousands of series, but in InfluxDB 0.9, measurements should be in the dozens or hundreds. Each measurement

[2015-08-24 23:35] corylanou commented on #3805
Can you show me the definition for the `metric` struct?

[2015-08-24 23:37] beckettsean commented on #3759
@testuser7 This could be related to https://github.com/influxdb/influxdb/issues/3781, a data consistency issue found in 0.9.3-rc1 and fixed in 0.9.3-rc2.

Can you try to reproduce with 0.9.3-rc2?

Do your results above change if you use epoch timestamps instead of datetime strings? What results do you get if you `SELECT COUNT(value) ...` rather than selecting the raw values?

[2015-08-24 23:41] mehulbt opened #3822 "All InfluxDB query fails for a measurement when tag keys are all digits stored as string"
Tag key-value are stored as string, as I read from the document -
The key is the measurement name and any optional tags separated by commas. Measurement names, tag keys, and tag values must escape any spaces or commas using a backslash (\). For example: \ and \,. All tag values are stored as strings and should not be surrounded in quotes.

On another page, there is additional info -
Measurements,

[2015-08-24 23:44] beckettsean commented on #3822
On Mon, Aug 24, 2015 at 4:41 PM, mehulbt <notifications@github.com> wrote:

The above all refers to the WRITE syntax

That refers to the QUERY syntax

All tags are strings. There is no way to store a tag key or value as
anything other than a string.

QUERY syntax requires that identifiers starting with a digit must be
double-quoted. This is the right syntax:

select * from XXX where "200" = 'true'

[2015-08-24 23:52] mehulbt commented on #3822
Tried to double-quote the tag key, and that didn't work.

ERR: only time and tag dimensions allowed

[2015-08-24 23:56] beckettsean commented on #3802
@papylhomme I have a theory but I'm not sure it completely holds up.

From #3702 we know you have a short retention policy duration. It's entirely possible that shards have a time range of one hour. Data types are consistent per shard, but it is possible to have the same field with different data types in two different shards. Since the behavior changes exactly on the 1800 and 1900 boundaries, tha

[2015-08-24 23:57] beckettsean commented on #3822
@mehulbt what version are you running?

[2015-08-25 00:01] beckettsean commented on #3822
I'm gonna bet you're on 0.9.2. This looks like a duplicate of https://github.com/influxdb/influxdb/issues/3683, which is fixed in the latest 0.9.3-rc2.

Verified this case is fixed in 0.9.3-rc2:

[code]

[2015-08-25 00:01] #3822 closed

[2015-08-25 00:06] buro1983 commented on #3805
type UsageRequest struct {
          EventTimestamp *diam.AVP      `avp:"Event-Timestamp"`
          SessionId      *diam.AVP      `avp:"Session-Id"`
          LinkName       string         `avp:"Link-Name"`
          SubscriberName string         `avp:"Subscriber-Name"`
          UsageMetric    []*UsageMetric `avp:"Usage-Metric"`
      }

      type UsageMetric struct {
         ID int    `avp:"C

[2015-08-25 00:41] scharissis commented on #3731
The new GOMAXPROCS default will be (likely) better for a lot of applications, but not necessarily. Perhaps benchmarking (as part of the test suite) should determine InfluxDB's optimal setting whilst still exposing it to end users who may choose to fine-tune their deployment?

Original proposal: https://docs.google.com/document/d/1At2Ls5_fhJQ59kDK2DFVhFu3g5mATSXqqV5QrxinasI/edit

[2015-08-25 01:11] mehulbt commented on #3822
I was actually on 0.9.1. Will try out 0.9.3rc2, but I assume stable 0.9.3 will be available in a week?

Thanks for looking into this issue and verifying that it is fixed!

[2015-08-25 02:05] otoolep commented on #3731
Sure, I have no problem exposing GOMAXPROCS control to users, in principle. By default it will be set to the number of CPUs, which is what is does today.

[2015-08-25 02:05] corylanou opened #3824 "tsdb.Point.MarshalBinary needs to support all number types"
Currently `Point.MarshalBinary` does not support `uint32`, and I suspect a few others.  This is causing valid points with integer data to be marshaled as a string:

https://github.com/influxdb/influxdb/blob/master/tsdb/points.go#L1294

This will also fix the actual issue behind https://github.com/influxdb/influxdb/issues/3805

/cc @jwilder

[2015-08-25 02:06] corylanou commented on #3805
Ok, there is a bug in the way we decode a `uint32`.  I referenced the issue above and we should have a fix for it soon.  You are not doing anything wrong on your end.

[2015-08-25 03:00] ccutrer commented on #3607
I'm also seeing this problem. When on 0.9.3pre (current master), it hangs on the query endpoint (I do see a ping that gets a 204 when I launch the CLI) with no logging. But when I go back to 0.9.2pre I get symptoms similar to https://github.com/influxdb/influxdb/issues/3632. The workaround there is no help.

[code]

The workaround in the other issue (explicitly setting the hostname, to either 127.

[2015-08-25 04:42] mvadu commented on #3755
@otoolep  Could you please check in the above modification (i.e. Changing order of package creation rpm->deb-tar to deb->tar->rpm) to support Raspbian?

[2015-08-25 05:24] otoolep commented on #3755
Done in https://github.com/influxdb/influxdb/commit/3f525ff8c1699ed79f93a4669824aae1464ac8fb @mvadu

[2015-08-25 05:42] beckettsean commented on #3822
0.9.3 should be out this week.

[2015-08-25 05:42] mvadu commented on #3755
Thank @otoolep for a very quick turnover. I think long term we should have arguments to skip one or more type of packages skipped, and to pass arch as a command line argument.

[2015-08-25 05:44] otoolep commented on #3755
Yes, exactly @mvadu -- we do need something more sophisticated in time.

[2015-08-25 07:38] erikogenvik commented on #3806
@mjdesa I'm using 0.9.2

@beckettsean Sorry, I should have presented the output. This is what I get when there's only a single serie with a matching tag
[code]

And then when adding a new serie without the tag I get an error result back instead.
[code]

My expectation is to instead get the same result back as the first time the query was run, with those series that are missing the tag being ignore

[2015-08-25 08:05] ov7a commented on #3813
I've upgraded to 0.9.2.1+dfsg1-1 (from debian unstable repos). IO stays high only under load, but still is large:

    Total DISK READ :       0.00 B/s | Total DISK WRITE :     126.95 M/s
    Actual DISK READ:       0.00 B/s | Actual DISK WRITE:      96.95 M/s
      TID  PRIO  USER     DISK READ  DISK WRITE  SWAPIN     IO>    COMMAND
     6440 be/4 influxdb    0.00 B/s   21.57 M/s  0.00 %  5.97 %

[2015-08-25 08:49] thecodeassassin opened #3825 "[0.9.3-rc2] huge performance loss after upgrade"
After we upgraded to influxdb 0.9.3 we are experiencing a huge drop in performance when writing points. It takes (on average) about 10-15 seconds (sometimes 2-3 minutes) before the metrics show up in the database.

*Data:*
[code]

*Retention policy*
[code]

*Log entry:*
[http] 2015/08/25 10:08:00 10.4.28.32 - - [25/Aug/2015:10:08:00 +0200] POST /write?db=test123&precision=n HTTP/1.1 204 0 - Guzzle

[2015-08-25 10:24] testuser7 commented on #3759
@beckettsean The same problem is observed on 0.9.3-rc2 (db created in version rc1 was used).

Queries with epoch timestamps give me the same results:
[code]
[code]
[code]

[2015-08-25 11:23] ov7a commented on #3813
The problem was caused by graphite-plugin. It was flushing changes very often.

[2015-08-25 12:35] yoniholmes opened #3826 "Installation instructions missing 'influxd' instruction for OSX users"
Can someone please add either of the below (which ever is correct) to the OS X installation instructions?
[code]
or
[code]

It's there for the linux distro instructions, but missing for the OS X instructions. I actually uninstalled influxdb while evaluating it because the current instructions lead to the below error, arising because I hadn't actually started the daemon:

[code]

whereas this worke

[2015-08-25 13:20] Chestal opened #3827 "arithmetic on fields can crash influxd"
influxdb version: influxdb_**0.9.3-rc2**_amd64.deb (same for the 2015-08-25 nightly)
running on Debian jessie.

The following sequence of commands crashed the daemon (fresh install):
[code]

The corresponding log entry starts with:
[code]

In the above example the expression `a + b` refers to a non-existing field *b*. However, the same crash occurs when both fields exist. I am not sure whether thi

[2015-08-25 13:48] pauldix commented on #3825
How are you writing the data? How are you querying it? This is definitely not something we're seeing on this build.

[2015-08-25 13:51] thecodeassassin commented on #3825
We are writing the data through the API (line protocol) and also tried to write it via UDP. Same result.

We query using the CLI tool but also tried HTTP get.

[2015-08-25 13:51] pauldix commented on #3825
can you show some sample queries? Is it possible that your timestamps are in the future?

[2015-08-25 14:26] papylhomme commented on #3802
Seeing new commits related to the mappers I tried with a version build against 3f525ff8c1699ed79f93a4669824aae1464ac8fb, behaviour for ```select mean(value)``` is the same, but now there is a gap in my values: ```select * ``` and  ```select derivative(value)``` are missing values for the whole 13h hour. Values for 12h and 14h exists.

I'll wait for the data to accumulate for some hours and make an

[2015-08-25 15:16] ccutrer commented on #3607
I just reproed on the 0.9.3-rc2 build. What can I provide to help debug this? My log looks like:

[code]

After that ping in the log, I tried a `show databases` from the shell, and it just hangs.

[2015-08-25 15:32] tlopo opened #3830 "[0.9.2] Graphite plugin not closing connection and running out of file descriptors"
I wrote a script to import data from influxdb-0.8.8 to influxdb-0.9.2 and it was running out of file descriptors I increased open files limit, but I am afraid it won't be enough:
[code]
All connections are hanging on `CLOSE-WAIT` state:

[code]

To import the data I am sending several 1K lines file to netcat on port 2003, data is being imported well so far.
Version:
[code]

[2015-08-25 15:56] #3824 closed

[2015-08-25 15:57] johnstall opened #3831 "[0.9.3-master] bad wiretype for field internal.Field.Type: got wiretype 2, want 0"
I installed and built influx 0.9.0  on a mac OSX Yosemite 10.10.3

when I run influxd command, I get this error

`run: open server: open tsdb store: failed to open shard 2: load metadata index: proto: bad wiretype for field internal.Field.Type: got wiretype 2, want 0`

This is the total output.

no configuration provided, using default settings
[code]

[2015-08-25 16:07] s1m0 commented on #3759
+1, I am observing this problem with 0.9.3-rc2. The data just disappears.
Issue 3781 has been re-opened for this problem, so this issue is probably a duplicate.

[2015-08-25 17:20] erikriverson commented on #3821
Since this seems to be a time-based issue, just wanted to follow-up to see if I can reproduce today.

Currently, I can run the query and obtain results with values (i.e., a count of 0, like in the first case above) for values up to and including 2015-08-30. When I run the query with 2015-08-31 or later, I get JSON with empty results.

The behavior does not necessarily appear to relate to the 'curr

[2015-08-25 17:28] otoolep commented on #3827
Thanks for the report @Chestal -- this is a known issue. https://github.com/influxdb/influxdb/issues/3200

[2015-08-25 17:28] #3827 closed

[2015-08-25 17:46] otoolep commented on #3813
What is your batch size for your Graphite input? It defaults to no batching in 0.9.2. Try the nightly builds, which have a default batching size of 1,000 and you may see better performance.

https://influxdb.com/download/index.html
https://github.com/influxdb/influxdb/blob/master/etc/config.sample.toml#L138

[2015-08-25 17:51] testuser7 commented on #3759
In my case all data is in db. There is only problem with getting data from db...

[2015-08-25 17:56] otoolep commented on #3831
The software has moved on quite significantly since 0.9.0. I strongly suggest you build master or the 0.9.3 branch.

[2015-08-25 18:01] beckettsean commented on #3806
I understand your concern, @erikogenvik, but your schema should be designed so that there are only a few measurements (the thing in the FROM clause) and queries almost always operate within a single measurement. If you have thousands of measurements that points to an incorrect or inefficient schema. Inside a measurement all series are automatically merged, and only filtered out by the use of tags.

[2015-08-25 18:02] beckettsean commented on #3826
@yoniholmes are you talking about the post-install instructions in the package or the instructions on the installation docs page?

[2015-08-25 18:15] beckettsean commented on #3607
@ccutrer I think you are seeing a different problem than @shilpisharma. I would recommend deleting your `/meta` directory to reset the clustering, as that seems to be where the system is confused, based on your prior log.

[2015-08-25 18:18] ccutrer commented on #3607
@beckettsean I stopped influx, deleted the meta dir (I didn't know that was safe!?), and started influx. Same symptoms:

[code]

[2015-08-25 18:25] beckettsean commented on #3759
@testuser7 So you're saying the `COUNT` results have the same missing data as the `MEAN` results, in that there's supposedly nothing between `2015-08-23 02:00:00` and `2015-08-23 03:00:00`.

Can you put up a gist of the results of `SELECT value FROM server1 WHERE "metric" = 'SystemCpuLoad' AND time > '2015-08-23 01:00:00.000'`? If that's returning all expected values but MEAN and COUNT are not, I

[2015-08-25 18:28] kenzodeluxe opened #3832 "[0.9.3-rc2] panic: runtime error: makeslice: len out of range (InfluxDB does not restart until WAL deleted)"
Similar to https://github.com/influxdb/influxdb/issues/3730

[code]

Influx started after deleting wal.

[2015-08-25 18:34] beckettsean commented on #3607
@ccutrer in a single node cluster that fully settled before shutdown deleting `/meta` is pretty safe. In a multi-node cluster it can lead to very bad things.

I have no theories why the service isn't starting cleanly.

@shilpisharma any updates from you?

[2015-08-25 19:01] pauldix commented on #3832
how long was your server running? Was this a completely new DB using 0.9.3-rc2 or did you still have stuff left over from 0.9.3-rc1?

[2015-08-25 19:03] pauldix commented on #3830
You can't either re-use the connection or close out the connections? We can have timeouts on the TCP listener, but if the client is behaving badly (like in this case) then even then it's going to run out of fds.

[2015-08-25 19:09] kenzodeluxe commented on #3832
The server was running for about 20h, and no old database in place (complete new install on hardware host).

[2015-08-25 19:15] cgfischer opened #3833 "[0.9.3-rc2] panic: runtime error: makeslice: len out of range, persists on restart"
I had a single-server InfluxDB instance up and running for ~20 minutes and then it crashed with the following panic.  Attempts to restart the instance resulted in a similar error (look for "InfluxDB" startup banner below).  Here is the output from the log:

[code]

[2015-08-25 19:17] fg2it commented on #3755
@otoolep the fact that this script is just for your own use is a bit sad : there are not .deb for armhf so this is a very convinient way to build our own. Influxdb is a really nice tool for a lot of application that fit nicely on raspberry 2. It would be nice to have .deb or cleaner script. Anyway it is already a lot easier to build that v0.8.
@mvadu personnaly, I installed rpm and use
NIGHTLY_BUI

[2015-08-25 19:19] cgfischer commented on #3833
This was a completely new instance that was created with v0.9.3-rc2 and was running for approximately 20 minutes before the panic.

[2015-08-25 19:23] mvadu opened #3834 "`Select *` without `where` is not returning all data"
I have a cron job which inserts new sensor reading every 5 minutes. All rows have same tags. However running

    select * from LivingRoom;
    LivingRoom
    time	dewpoint	humidity	sensor	temperature
    2015-08-25T16:14:02Z	12.341652	38	"dht11"	28
    2015-08-25T17:14:02Z	12.737866	39	"dht11"	28
    2015-08-25T17:30:02Z	13.125258	40	"dht11"	28
    2015-08-25T17:32:01Z	12.737866	39	"dht11"	28

[2015-08-25 19:30] dsw6 opened #3835 "[0.9.3-rc2] fatal error: runtime: out of memory"
I've been experimenting with InfluxDB, trying to measure stability and performance.

I wrote a test program (node.js script) that simulates inserting points in batch sizes of 8,000 - 20,000 points every 5 seconds.  I'm using the HTTP API (line protocol).  Each measurement is inserted with 5 tags, 1 field, and a timestamp.  Each tag has 10 possible values.

The InfluxDB database has 3 measurements:

[2015-08-25 19:32] yoniholmes commented on #3826
Hi Sean,

Thanks for your response. I'm specifically talking about the [Installation page](https://influxdb.com/docs/v0.9/introduction/installation.html) on the web docs. If you take a look, both 'Ubuntu & Debian' and 'RedHat & CentOS' have the step 'Then start the daemon by running:'.  OS X doesn't. Because I was ignoring the first two and only focusing on OSX, I didn't realise that I need to sta

[2015-08-25 19:39] beckettsean commented on #3834
@corylanou I think this relates to what you've been working on lately, any insights?

[2015-08-25 19:48] testuser7 commented on #3759
Query result:
[code]

[2015-08-25 19:59] fg2it commented on #3557
@cobyism v0.8 was much harder to build than v0.9.
[code]
Way less painfull than before but admittedly, I would love to see an official build for raspberry.

[2015-08-25 20:13] corylanou commented on #3834
@beckettsean this is more likely related to what @pauldix just fixed if he is on 0.9.3-rc2.

[2015-08-25 20:27] #3781 closed

[2015-08-25 20:30] otoolep commented on #3781
Thanks very much @gerrickw for initially reporting this issue, and providing the test script -- your help was very important. We believe this issue has been addressed now, and can no longer reproduce this issue with your script.

Please let us know if you do not see an improvement with this change in place.

[2015-08-25 20:32] beckettsean commented on #3826
Thanks, @yoniholmes. I'm closing in favor of new issue on docs repo: https://github.com/influxdb/influxdb.com/issues/251

[2015-08-25 20:32] #3826 closed

[2015-08-25 20:37] beckettsean commented on #3833
Closing in favor of https://github.com/influxdb/influxdb/issues/3832

[2015-08-25 20:37] #3833 closed

[2015-08-25 20:40] otoolep commented on #2755
@dgnorton -- this won't make 0.9.3, right? I'll push out to 0.9.4.

[2015-08-25 20:41] dgnorton commented on #2755
@otoolep no, push it to 0.9.4

[2015-08-25 20:44] pauldix commented on #3447
@corylanou I think we should have no external dependencies for the client, which means we're probably going to have to do some copy/paste of code. Better than this though. Thoughts?

[2015-08-25 20:49] beckettsean commented on #3468
Should be solved with 0.9.3. Please reopen if that isn't the case.

[2015-08-25 20:49] #3468 closed

[2015-08-25 20:50] beckettsean commented on #3469
Should be solved with 0.9.3. Please reopen if that isn't the case.

[2015-08-25 20:50] #3469 closed

[2015-08-25 20:50] corylanou commented on #3447
@pauldix agreed.  I think if we truly want no external dependancies, we should make the client it's own top level repo then to ensure we don't cross boundaries, and make it easier to keep an eye on updates as needed.  It will also make it easier for contributions as it should be a pretty small/simple code base as well.

[2015-08-25 20:50] beckettsean commented on #3473
Should be solved with 0.9.3. Please reopen if that isn't the case.

[2015-08-25 20:50] #3473 closed

[2015-08-25 20:51] jhorwit2 commented on #3469
I'm waiting for 9.4 probably before i try CQ again, but will do.

[2015-08-25 20:52] beckettsean commented on #3496
Seems to be a system-level issue, not one with InfluxDB. Closing.

[2015-08-25 20:52] #3496 closed

[2015-08-25 21:01] pauldix commented on #3537
@Jhors2 the database files are memory mapped so the OS will handle all of that for you. There is no LRU.

@syepes what are you seeing for memory usage? Because the db files are memory mapped, the reported memory usage will be inaccurate.

[2015-08-25 21:03] beckettsean commented on #3551
@jacekgrzybowski can you provide a script to reproduce? We can't seem to get this to happen.

[2015-08-25 21:06] gerrickw commented on #3781
Oh great, thanks for the quick fix.  Glad the script was useful.  I'll try it out tomorrow when the next build is released. :-D

[2015-08-25 21:06] beckettsean commented on #3566
For now, disabling all HTTP logging is the only option.

[2015-08-25 21:06] #3566 closed

[2015-08-25 21:11] corylanou commented on #1821
Adding some scenarios for comment.

First, I'm suggesting we change the signature to be:

[code]

This will allow for queries as follows:

[code]

Questions:

-  What happens if the top limit doesn't match the statement limit:
[code]
- Are we allowed to have additional fields:
[code]

### For the given data:

[code]

### scenario 1

[code]

It would return this data:
[code]

It now has to decide b

[2015-08-25 21:11] beckettsean opened #3837 "kill raft debug log"
Inspired by the log output https://github.com/influxdb/influxdb/issues/3607#issuecomment-134460209, Paul wants us to remove the raft DEBUG messages from the logs.

[2015-08-25 21:16] pauldix commented on #3633
It doesn't make sense to use `fill` for this since fill works in the context of a time series with regular intervals. This is more like putting a data point at the start time and at the end time of the query.

I think it would be some sort of new function that works with raw queries only. Will have to address this at some point in the future.

[2015-08-25 21:20] pauldix commented on #3636
Pretty sure this is already done. see https://github.com/influxdb/influxdb/blob/master/etc/config.sample.toml#L121-L127

Although it does highlight an important problem with that sample config. Where's the specification of the database?

[2015-08-25 21:21] jwilder commented on #3837
Already done in `0.9.3`.  Disabled by default now but is enabled by setting `[meta].cluster-tracing = true`

[2015-08-25 21:21] #3837 closed

[2015-08-25 21:21] otoolep commented on #3636
@pauldix -- it's done, but doesn't work. if one adds more than 1 input, the system panics.

[2015-08-25 21:25] jwilder commented on #3553
Can you test with `0.9.3`?

[2015-08-25 21:25] pauldix commented on #3680
This will be covered by #1821

[2015-08-25 21:25] #3680 closed

[2015-08-25 21:27] pauldix commented on #3698
Should be like this: `select value from "\"test\""`

[2015-08-25 21:28] dgnorton commented on #1821
My first thought on `TOP` limit and statement limit is that the result would be the lesser of the two.  Also may need to consider how `TOP` interacts with `OFFSET` and `SLIMIT`.

[2015-08-25 21:28] beckettsean commented on #3709
@mnietz any updates on reproducing with 0.9.3-rc2 or a nightly?

[2015-08-25 21:29] beckettsean commented on #3710
cannot reproduce

[2015-08-25 21:29] #3710 closed

[2015-08-25 21:30] mikechack opened #3838 "[feature request] Auto alias using actual function call, e.g. `sum(value)` or `count(distinct(value))`"
When doing a select such as `select sum(value), sum(value1)` the resulting response returns column names of `[sum,sum]`.

Grafana does not support the ability to specify alias on a per value basis when using structured query editor.

Returning an auto generated alias that is something like `<measurement>.<column name>` would definitively disambiguate the response.

[2015-08-25 21:32] mikechack commented on #3838
measurement.colname

Brackets got eaten in post.

[2015-08-25 21:32] beckettsean commented on #3722
Talked with @pauldix, just disable shard precreation for any time in the past.

[2015-08-25 21:32] pauldix commented on #3722
Yeah, this is a bug. Shard pre-creation should only be for a shard that is about to be `now`. This is how this used to work.

[2015-08-25 21:35] pauldix commented on #3728
Are you issuing queries at the same time? Is this only for writes? What's the cardinality of the number of series you have? (that's measurement + unique tagset). How are you writing the data in?

I can write 30m data points across 100k series in seconds and fill up less than a few GB of memory.

[2015-08-25 21:35] beckettsean commented on #3728
@maxone @ccollicutt how are you writing points to the database? Are you batching? Using HTTP? UDP?

[2015-08-25 21:37] pauldix commented on #3733
sure, I vote `autogen`

[2015-08-25 21:45] ccollicutt commented on #3728
For me, http via telegraf for metrics.

[2015-08-25 21:49] btobolaski opened #3839 "Data being aggregated on the default retention policy"
OS: Ubuntu 14.04
Influxdb Version: 0.9.3 RC1 and RC2

The data in my default retention policy appears to be down sampled.

[code]

This is fed in every 5s for each host. All of the data is available at this resolution until after the hour mark at which point this happens. I've purged the influxdb deb and the data and reinstalled in an attempt to fix this but, the problem has persisted. I haven't s

[2015-08-25 21:50] chaithrar opened #3840 "[0.9.3-rc2] Read failed when new retention policy got created other than default"
Hi ,

We were modifying the retention policy when influxdb was busy writing data. When a new  retention policy was created other than default with 8h , got the below logs on Influx.

Then onwards influx did not retrieve any data from any of the measurements. It returned 0 records.
Before modifying the retention policy we were able to read the data from influx

is it not possible to modify the rete

[2015-08-25 21:54] ccutrer commented on #3607
So um, yeah, deleting `/meta` seems to not be safe at all. It loses my users and my database - all my data. This is happening on 0.9.1, 0.9.2-pre, and 0.9.3-rc2. But it does boot correctly under all those versions when I do it. So obviously it _is_ something with my meta directory. Any other tips to get influx running on _any_ of these versions?

[2015-08-25 21:56] otoolep commented on #3839
Looks exactly like https://github.com/influxdb/influxdb/issues/3781

[2015-08-25 21:56] #3839 closed

[2015-08-25 21:58] otoolep commented on #3839
@btobolaski -- please let us know if you continue to see the issue with the latest code. We just fixed an issue that caused queries to return in the manner shown above.

There will be a nightly build midnight PST and 0.9.3 will have the same fix.

[2015-08-25 22:04] beckettsean commented on #3698
Confirmed that works:

[code]

[2015-08-25 22:04] #3698 closed

[2015-08-25 22:06] beckettsean commented on #3437
@samidalouche So the count that returns 40 and 24 is the correct count?

[2015-08-25 22:07] beckettsean commented on #3437
Can you reproduce this with 0.9.3-rc2?

[2015-08-25 22:11] beckettsean commented on #3524
For me on 14.04 with 0.9.3-rc2 `/etc/init.d/influxdb stop` has no effect if `vi` has the config file open. If the file is not open, `stop` will shut down the process.

`/etc/init.d/influxdb start` works just fine if `vi` has the config file open.

@dalibor my experience was the exact opposite of yours. `start` works regardless but `stop` fails if the config file is open. Can you repro the test on

[2015-08-25 22:15] beckettsean commented on #3607
@ccutrer My apologies for the `/meta` deletion. Totally my fault. I had something else in mind entirely, and when I tested on my end but didn't notice the metadata was gone until a restart. The raw data points are still present, if you run `create database <previous_database_name>` the data should be accessible again. Users are gone. Again, my apologies not only for the bad advice but for doubling

[2015-08-25 22:15] tlopo commented on #3830
@pauldix  I am not sure the client is to blame, connections do not hang if I use netcat as dummy server:
 ```nc -l 2003 -k > /dev/null```

[2015-08-25 22:16] beckettsean opened #3843 "[feature request] identifiers cannot begin or end with single or double quotes"
simplification for the query language, and to avoid things like https://github.com/influxdb/influxdb/issues/3698

[2015-08-25 22:16] jwilder commented on #3607
#3836 may help the slow query issue.  You may have a lot of series based on the number of points you've written if each point also has 10 tags and a lot of different values. The slow startup is likely due to the shard index loading.  You can monitor IO w/ `iostat 1` while it's loading to see if your disks are very busy.  Startup can be slow if there is a lot of data to index.

[2015-08-25 22:19] ccutrer commented on #3607
A small tidbit - with my original meta directory, and 0.9.3-rc2, and enabling `[meta].cluster-tracing=true`, my log looks like

[code]

also, to @jwilder - my iostat output mostly looks like
[code]

[2015-08-25 22:19] beckettsean commented on #3572
I cannot repro on 0.9.3-rc2: (the timestamps are different from the source example because I wasn't supplying `s` for the precision, but the test remains valid as all points have the same timestamp.)

[code]

[2015-08-25 22:19] #3572 closed

[2015-08-25 22:23] chaithrar opened #3844 "Delay in InfluxDB data read with 0.9.3-rc2"
Hi,

We are using the influx (0.9.3-rc2) , though influxdb logs says write successful, the same data can be read only after 4/5 minutes

Influx db container logs

Aug 25 22:17:35 host sh[36179]: [http] 2015/08/25 22:17:35 10.6.30.1 - - [25/Aug/2015:22:17:35 +0000] POST /write?consistency=&db=indb&precision=&rp=custom_rp HTTP/1.1 204 0 - InfluxDBClient 16658a6a-4b77-11e5-9d36-000000000000 35.512µs

[2015-08-25 22:26] jwilder commented on #3607
Ok.  So loading the index is not the issue.

What does your `meta/peers.json` show?  You may need to manually update it to `["localhost:8088"]` if it says `["127.0.0.1:8088"]`.

[2015-08-25 22:29] ccutrer commented on #3607
@beckettsean it's okay about the meta. I've got a full back of /var/opt/influxdb from 0.9.2pre that I keep copying over. I was last able to write data to it about 48 hours ago (I've got my incoming data going to flat files of the line protocol data for now).

Anyhow, after I delete meta, and `create database ccutrer_home`, I can see all of my measurements/series, but none of them have any data.

F

[2015-08-25 22:35] #3832 closed

[2015-08-25 22:37] jwilder commented on #3607
@ccutrer Don't delete `meta` dir.  You will lose the ability to query it.  I would suggest:

1. Restore your backup
2. Update `meta/peers.json` to be `["localhost:8088"]`
3. Start the the server using the latest `0.9.3` build.

For `0.9.2`, the `meta/peers.json` always had numeric IP addresses.  In `0.9.3`, it defaults to hostnames and `localhost`.

In `0.9.3`, you can also try starting the server

[2015-08-25 22:37] pauldix commented on #3844
Are you sure you're not writing data with future time stamps? What if you make your query:

[code]

[2015-08-25 22:37] bltb commented on #3830
@tlopo, could you please share PCAP dumps of your two scenarios? Just TCP
handshakes and resets / closes will do. Thanks!
On 26 Aug 2015 8:15 am, "tlopo" <notifications@github.com> wrote:

[2015-08-25 22:38] pauldix commented on #3833
should be fixed in RC3, which we're cutting as I write this.

[2015-08-25 22:39] pauldix commented on #3832
should be fixed in RC3, which we're cutting as I write this. please give it a try and let me know if you have any other problems.

[2015-08-25 22:42] pauldix commented on #3844
Or, can you provide a script or way to reproduce this?

[2015-08-25 22:45] ccutrer commented on #3607
@jwilder: nope still hangs with 0.9.3-rc2 after a fresh restore when I either change the meta/peers.json to be `["localhost:8088"]`, or if I use the hostname command line option.

[2015-08-25 22:48] johnstall commented on #3831
That actually was built from Master. In the terminal client, it said version 0.9, so I assumed it was 0.9.0, however, `git branch` revealed it to be built from master.  Anyways, I thought it must be only my Mac that couldn't build your software properly but five other developers in the office (using the same system) had the same problem, and we therefore called it quits on your software. Sorry, we

[2015-08-25 22:54] otoolep commented on #3832
You can find RC3 at the links below.

https://s3.amazonaws.com/influxdb/influxdb_0.9.3-rc3_amd64.deb
https://s3.amazonaws.com/influxdb/influxdb-0.9.3_rc3-1.x86_64.rpm

[2015-08-25 22:54] otoolep commented on #3833
You can find RC3 at the links below.

https://s3.amazonaws.com/influxdb/influxdb_0.9.3-rc3_amd64.deb
https://s3.amazonaws.com/influxdb/influxdb-0.9.3_rc3-1.x86_64.rpm

[2015-08-25 22:58] otoolep commented on #3781
RC3 is now available, which has the fix for this issue:

https://s3.amazonaws.com/influxdb/influxdb_0.9.3-rc3_amd64.deb
https://s3.amazonaws.com/influxdb/influxdb-0.9.3_rc3-1.x86_64.rpm

[2015-08-25 23:21] pauldix commented on #3825
Also, did you start with a fresh database or is this an upgrade from 0.9.2?

[2015-08-25 23:22] pauldix commented on #3844
Another question, is this a totally fresh database or an upgrade from 0.9.2?

[2015-08-25 23:34] pauldix commented on #1821
You can use the time as the first tie breaker and the series id as the next one. The `TOP` function should also support having more than one field/tag in there. The first argument is the value that will be evaluated, the other tags and fields will be forced to be unique. For instance if you have this data:

[code]

And you did this query:

[code]

You'd get two data points for host `a` back. Howev

[2015-08-25 23:37] otoolep commented on #1821
This is interesting, similar to the work I am doing in https://github.com/influxdb/influxdb/pull/3823. Time makes sense, but should we break the tie on value? Whatever we do, we should do the same thing as we do in https://github.com/influxdb/influxdb/pull/3823, agreed? That way we have a consistent policy.

I think I prefer breaking the tie on the value, since the series ID is not that obvious to

[2015-08-25 23:39] pauldix commented on #1821
@otoolep the point is you can't break the tie on value with this. top specifies the value so that's the thing that is tied. So we need to resort to time and even then we may need to resort to something else. Even the tags won't be guaranteed to be unique. The only thing that is guaranteed is the in-memory series ID in the `DatabaseIndex`

[2015-08-25 23:47] beckettsean commented on #3838
similar to https://github.com/influxdb/influxdb/issues/3643, but slightly different behavior described.

This is a breaking change to the query return format and so will not be an 0.9 change.

[2015-08-25 23:48] beckettsean commented on #3728
Thanks for the quick answer, @ccollicutt. Are you also running an 0.9.3 variant?

[2015-08-25 23:51] beckettsean commented on #3840
@chaithrar please paste in the retention policy queries you made, as well as their output.

Before modifying the retention policy we were able to read the data from influx

The logs show that the `influxd` process panicked and died, meaning it needs to be restarted. Are you saying that after restarting the process you could not query any measurements?

[2015-08-25 23:58] beckettsean commented on #3831
@johnstall any reason you needed to build from master rather than using a pre-built (tested) package? Actual point releases have homebrew packages for installation.

[2015-08-26 00:20] beckettsean commented on #3759
@testuser7 thanks for the data. Now I'm completely stumped as to what is happening.

Do any other queries show this behavior? Is there a measurement called `server2` and does it have the strange behavior? If you query with a different value for `metric` does it show the same behavior?

[2015-08-26 01:39] gerrickw commented on #3781
Installed and running for 10 minutes and is looking good. Will let it run over night. Thanks.

[2015-08-26 01:56] nornagon commented on #2378
What's happening with this task? Is there an ETA on this?

[2015-08-26 02:40] mvadu commented on #3834
@corylanou I am on the latest code, I just pulled and built just before recreating the issue. I just tagged it as `$ ./package.sh 0.9.32` while building the debian package, Raspbain in my case as its running on Raspberry Pi 2.

[2015-08-26 02:45] mvadu commented on #3834
Funny thing is after couple of hours (~8 hours since I posted the issue) now `select * from LivingRoom` is giving me 103 rows!!

[2015-08-26 02:50] chaithrar commented on #3844
select * from test where time > now() - 1m and time < now() + 200h limit 10

This query returned 0 records

We created fresh new database to test new version of influx

[2015-08-26 02:51] chaithrar commented on #3840
Yes after this when we did query on any measurements , influx returned with "Success(No results to display)"

[2015-08-26 03:08] mvadu commented on #3755
@fg2it WIth my suggestion already checked-in you don't need to skip the `clean_check_tree()`, I just do `git pull` and run the ./package.sh. All we did change is to generate debian package first before it tries to invoke rpm build.

[2015-08-26 04:12] mikechack commented on #3838
Thanks for the response.

This could be addressed with Grafana changes, but I fear they would not be trivial additions to structured query editor. I think that much of the power of InfluxDB if negated when the response contains the same column name for distinctly different values. Any chance this might be considered in the future or should I look to requesting/making grafana enhancement request.

[2015-08-26 04:44] huhongbo opened #3847 "[0.9.3-rc3] influxdb large io write"
influxdb 0.9.3rc3
centos 7.1 xfs file system
raid 1 disk
http input
using influxdb-ruby client to submit 6000 metric per post and 3 thread
iotop show actual disk write is high,but the influxdb data dir not big
[code]

[2015-08-26 05:01] huhongbo opened #3848 "[0.9.3-rc3] restart influxdb causing panic"
influxdb 0.9.3rc3
centos 7.1
sometime influxdb stop write the point,and I restart the influxdb
restart influxdb with high load causing panic
[code]

[2015-08-26 05:34] mabnz commented on #2378
Also eagerly awaiting this, so I can upgrade to 0.9.

[2015-08-26 06:03] kkwoker commented on #2378
Same here ! Upvote.

[2015-08-26 06:10] feliksik commented on #2378
Yes,  this is much needed!

[2015-08-26 07:09] maxone commented on #3728
Http batching.

[2015-08-26 08:22] mnietz commented on #2378
:+1: i also have a 0.8.8 Version waiting for the Update

[2015-08-26 08:22] ov7a commented on #3813
I set batch size to 10k and the problem has gone, thanks!

[2015-08-26 08:23] testuser7 commented on #3759
It seems that the problem is fixed with version rc3!

[2015-08-26 08:44] srfraser commented on #3528
I've turned off per-cpu metrics in telegraf, cutting the number of points coming in by about two-thirds (from 300k to 100k). It appears to be showing the same pattern in memory use increase, just over a much longer period of time. The shape of the graph is the same, so far, although it hasn't started giving 500s yet.

![influxdb_memory3](https://cloud.githubusercontent.com/assets/5933384/9489167/f

[2015-08-26 11:18] erikogenvik commented on #3806
It sounds like we're talking about different things. The issue here, as you correctly noted when renaming the issue, is that measurements without the tag should be excluded in the query.
That issue still stands even if the number of measurements in the schema only number two, or any other small number.

My specific use case is that I want to remove those measurements that are tagged with a specifi

[2015-08-26 11:41] thecodeassassin commented on #3825
It's a newly created database. Here are some of the queries we used:

HTTP post:
http://10.0.1.15/write?db=test123&precision=n

instance,host=server01,region=us-west cpucount=10i,free=1i,test="ZZ",bool=false 1440574049888475353
instance,host=server01,region=us-west cpucount=10i,free=2i,test="BB",bool=true 1440574049891246978

the timestamps are the current timestamps, not set in the future.

[2015-08-26 11:41] pauldix commented on #3844
Can you show exactly what data you're writing in? Can you give us exact steps to reproduce? What do we set up, how do we write data? We have no way to reproduce this and a failure this basic should show up in about 50 different tests in our suite.

[2015-08-26 11:44] pauldix commented on #3825
I'm at a loss on this. There's another person reporting something similar to this, but I can't reproduce it. And this kind of failure should trigger many failures in our test suite. Can you give exact steps to repro? A script maybe?

[2015-08-26 11:49] tlopo commented on #3830
Ok the pcap follows this pattern for both scenarios:

[code]
But I found the culprit, in one of my testes I have set idle timeout to 0, so although the client was sending the FIN packet it was not waiting for the FIN-ACK before creating a new connection, The dummy server worked fine because there was no idle timeout as it was not processing data.

I will re-use the connection as Paul suggested. Th

[2015-08-26 12:21] #3830 closed

[2015-08-26 12:27] jhorwit2 opened #3849 "[0.9.3 rc2] can't write data via http after some restarts."
Everything starts fine and I see the HTTP service starting; however, I can't send data via CURL or through our java app

[code]

[2015-08-26 12:35] erikogenvik commented on #3551
I'm also getting this error on 0.9.2.
Time seems to have no effect; I'm still unable to drop measurements even after many days.

Restarting the database fixes it.

These lines will always reproduce it for me.
[code]

The output from the final command is:
[code]

[2015-08-26 12:36] jhorwit2 commented on #3849
I ended up having to reboot the server (centos)

[2015-08-26 13:13] corylanou commented on #2378
This is completed and will be in the `0.9.3` release.

[2015-08-26 13:33] s1m0 commented on #3781
Installed rc3 last night. Checked various measurements and found data that had been missing has reappeared so there was no data loss which is good news. Thanks for the quick fix!

[2015-08-26 13:37] btobolaski commented on #3839
Indeed upgrading to rc3 fixed this for me.

[2015-08-26 13:40] cerivera opened #3851 "[0.9.3-rc3] Wrong Group By Behavior"
I'm performing some aggregations (without `group by` first) over 24 hours of data starting at 12pm UTC.  The aggregation over the entire range comes out correct, and also when I split the aggregations up into two separate 12-hour queries.  However, once I append `group by time(1d)`, it's correctly creating two day buckets, but the second bucket is ignoring my constraint of stopping at `12:00:00 UT

[2015-08-26 13:42] johnstall commented on #3831
Sorry for the delayed response, as I am not a normal Github user.

First off, it's always preferable (in my opinion and that of the team I work with) to install from source and it'd be a definite warning sign if I had to install via a package manager

In this particular situation to help you understand better, my team has three analytics-type projects in the immediate pipeline where using Influx w

[2015-08-26 14:41] corylanou commented on #1821
so to be very literal:

[code]

And you did this query:

[code]

You'd get two data points for host a back.

[code]

However, if you do this:

select top(value, host, 2) from cpu

[code]

Suppose the data looked like this:

[code]

Could you do a query like:

[code]

Would it bring back 3 rows then?  The top for value->host->region like:

(you can see I'm uncertain what the column name is when the

[2015-08-26 14:59] jwilder commented on #3848
This happens when a write is still running on the server when you stop the server.  There currently isn't a way to cancel the write when this happens but we should be able to avoid the panics.

[2015-08-26 15:09] jwilder commented on #3835
Please try the `0.9.3-rc3`.  #3836 may help but your server may be undersized for the amount of data you're writing.

[2015-08-26 15:26] dgnorton commented on #3825
I also cannot reproduce this.  If I insert the two points listed above using the CLI and then immediately do `select * from instance`, it returns both points.

[2015-08-26 15:53] pauldix commented on #3844
Can you try again with RC3 released last night? There was one query bug in there that might have thrown things off. See #3829. Closing for now, please re-open if you see this again.

[2015-08-26 15:53] #3844 closed

[2015-08-26 15:53] pauldix commented on #3825
Can you try again with RC3 released last night? There was one query bug in there that might have thrown things off. See #3829. Closing for now, please re-open if you see this again.

[2015-08-26 15:53] #3825 closed

[2015-08-26 16:01] jwilder commented on #3607
One other idea to try:

1. Restore backup
2. Update `meta/peers.json` to be `["127.0.0.1:8088"]`
3. Starting latest `0.9.3-rc3` release with `-hostname 127.0.0.1`

That should start `0.9.3` the way `0.9.2` was before.

[2015-08-26 16:07] ccutrer commented on #3607
Nope, still hangs.

[code]

[2015-08-26 16:11] jwilder commented on #3607
@ccutrer That log looks better. What is hanging?  The `/ping` called returned successfully so it is responding to requests.

[2015-08-26 16:24] ccutrer commented on #3607
[code]

The show databases call (or any other query) hangs.

[2015-08-26 16:40] jwilder commented on #3607
When the server is hung, can you send a `SIGQUIT` to it and post the stack dump?  It looks like you might be hitting some kind of deadlock which is very strange.

On linux, `kill -SIGQUIT $(pidof influxd)`, OSX `kill -s QUIT $(pgrep influxd)` should do it.

The full trace in a gist would be very helpful.

[2015-08-26 17:02] ccutrer commented on #3607
https://gist.github.com/ccutrer/96ffb03860abfa24c957

[2015-08-26 17:20] pauldix commented on #3528
Is it possible that you're just seeing the memory reported by the mmap'd file? We use BoltDB under the hood, see: https://github.com/boltdb/bolt#caveats--limitations for more about the memory thing.

[2015-08-26 17:21] jwilder commented on #3607
Definitely a deadlock in the metastore.  Can you try disabling the Precreation service to see if that resolves it?

In your config, set
[code]

[2015-08-26 17:34] srfraser commented on #3528
It's running the server out of memory and getting killed by oom-killer. It's entirely possible that if I left the current setup for a while it wouldn't do that, but the initial behaviour is still occurring. I think I will dig into the code.

[2015-08-26 17:37] dsw6 commented on #3835
I ran my test using the rc3 build.  The test ran for about an hour inserting 8,000-20,000 points every 5 seconds.  Then 500 errors occurred.  The log (see below) shows large times reported for the compaction processing.  Is seems like the compaction process can cause significant delays.  Is data compaction tune-able?  Can it be turned off?

I seems like my test server environment should be able to

[2015-08-26 17:44] otoolep commented on #3851
Thanks @cerivera -- can you provide a script that inserts some data, and then queries against that data, showing the behaviour? And end-to-end test would be most helpful for us.

[2015-08-26 17:48] ccutrer commented on #3607
Nope, still hangs: https://gist.github.com/ccutrer/4c225d07535291ad41ce

[2015-08-26 17:48] jwilder commented on #3835
#3853 should help with the compaction times and time outs.

[2015-08-26 17:50] beckettsean commented on #3831
Thanks for the detailed note, @johnstall. I can understand you don't want to use a package manager for production installs, but you obviously aren't going to be running in production on OS X. Why not try building from source on the actual production OS?

As for building from source, there's building from HEAD and then building from a known and tested branch or tag. Taking HEAD is always riskier th

[2015-08-26 17:57] beckettsean commented on #3806
@erikogenvik Given your goal of finding measurements with a particular tag, you're correct that `SHOW MEASUREMENTS` is a better tool, and it does support a `WHERE` clause:

`SHOW MEASUREMENTS WHERE tag1 = 'one'` will return all measurements with `tag1` set to "one".

[2015-08-26 17:58] otoolep commented on #3607
@ccutrer - this is a single-node system, correct?

[2015-08-26 18:00] ccutrer commented on #3607
Correct.

[2015-08-26 18:05] beckettsean commented on #3551
reproduced in 0.9.2 and 0.9.3-rc2. The latter has a more detailed error message:

[code]

The error was consistent through multiple cycles of drop and recreate, always referencing `/var/opt/influxdb/wal/droptest/default/122/000000.meta`

[2015-08-26 18:07] jwilder commented on #3607
@ccutrer Would you be able to send your `/meta/ and `/data` dirs as well as your config to me?  Email to jason@influxdb.com if that works.

[2015-08-26 18:08] beckettsean commented on #3551
After restarting the daemon and using `DROP MEASUREMENT` I get a slightly different error message (`/124` vs `/122`):

[code]

[2015-08-26 18:22] beckettsean commented on #3844
@pauldix I did notice that in both this issue and https://github.com/influxdb/influxdb/issues/3825 the writes are going to a retention policy other than the auto-generated `default`. I tried to repro in 0.9.3-rc2 with a newly created default RP and it worked as expected. However my test database was brand new and has no load.

[2015-08-26 18:23] hellofishy opened #3854 "Failed to connect to http://localhost:8086"
Hi,

I am new to influxdb and just downloaded it via homebrew.  When I try to run $:influx I get
Failed to connect to http://localhost:8086.  I was wondering if anyone else had this problem and how to get around it?

[2015-08-26 18:27] otoolep commented on #3854
Can you explain what you expected to happen? You are running the command-line tool, not the database. The database binary is `influxd`, which you also need to run.

[2015-08-26 18:29] hellofishy commented on #3854
awesome! thanks, didn't realize I had to do that

[2015-08-26 18:29] beckettsean commented on #3840
@chaithrar please paste in the results of `SHOW RETENTION POLICIES ON <dbname>`

[2015-08-26 18:30] #3854 closed

[2015-08-26 18:30] beckettsean commented on #3838
@mikechack this would be a breaking change to the API so it won't happen in the 0.9 lifecycle. There's no release estimate for 1.0 but it's at least a few months away.

[2015-08-26 18:31] jwilder commented on #3607
@ccutrer Can you try disabling continuous queries?

[code]

[2015-08-26 18:35] beckettsean opened #3855 "[feature request] rename "influx" to "influx-cli""
It's confusing for some users whether `influxd` or `influx` is the right process to launch. Running `influx` before `influxd` leads to confusing results.

I propose we rename `influx` to `influx-cli` to make it clear what the binary does, and to reduce the chance that the two can be mis-read in documentation.

[2015-08-26 18:36] beckettsean commented on #3759
Probably fixed by https://github.com/influxdb/influxdb/pull/3829

[2015-08-26 18:36] #3759 closed

[2015-08-26 18:37] ccutrer commented on #3607
you mean enabled = false. and yes!! I can query!!! and I can write data! and it's not doubling things (a recent bug fix that I tried to update for and caused this whole issue)!

[2015-08-26 18:38] jwilder commented on #3607
Yes... sorry.  `enable = false` Great!

[2015-08-26 18:43] iorlas commented on #3831
Seen this on HN. I'm sorry, but woah that was strong, @johnstall.
I really don't understand why you need to build everything from sources(do you use gentoo linux for production or what?). Software development by it's nature is an evolving thing, which has versioning to "give product". You can't just say "I need only fresh sources right from developer sticky fingers" because this could even not com

[2015-08-26 18:50] gerrickw commented on #3748
Running 0.9.3-rc3 and looks like this is still occurring with the bz1 engine.  I ran some data over night and I see timeouts before and/or after compaction.  It doesn't happen as often as previously, but still noticeable in batches of 3-10 timeouts every few hours.

Is there some suggested tuning I can do on the default config?

[code]

[2015-08-26 18:52] pauldix commented on #3831
I should mention that our standard is that master should always be build-able and tests should pass. We use continuous integration and pull requests to help ensure this.

I personally build Influx on Yosemite many times per day. I also recently had to do it on a brand new laptop because my previous one was stolen. Getting InfluxDB building and running took less than an hour, which included install

[2015-08-26 18:52] #3831 closed

[2015-08-26 19:09] otoolep commented on #3855
+1

[2015-08-26 19:11] cerivera commented on #3851
Here you go, @otoolep: https://gist.github.com/cerivera/e00ab49a97f0ad5b4c89

[2015-08-26 19:26] dsw6 commented on #3835
Thanks for the information.  #3853 looks promising.  Do you know if #3853 will make it into the 0.9.3 builds?

[2015-08-26 19:28] otoolep commented on #3835
Yes, the change will be part of the 0.9.3 release.

On Wednesday, August 26, 2015, dsw6 <notifications@github.com> wrote:

[2015-08-26 19:34] cerivera commented on #3851
Note: the code has slightly different data and produces behavior different from what I posted above.  It's still wrong though and I expect all tests in there to pass.  Let me know if I'm misunderstanding how this thing works.

[2015-08-26 19:50] dsw6 commented on #3835
Awesome.  I'll watch for change #3853 to make it into an rc build and I'll run some more tests.

[2015-08-26 19:56] fg2it commented on #3755
@mvadu I understood this, my point was just that this was not necessary. A bit nicer (and cleaner) change would have been to allow options from the command line to choose a single target distribution (and why not the publishing too).

[2015-08-26 19:59] otoolep commented on #3755
PRs welcome gentlemen. :-)

[2015-08-26 20:21] otoolep commented on #3851
OK, thanks @cerivera -- we will take a look.

[2015-08-26 20:26] beckettsean commented on #3855
I'm not sure if this counts as a breaking change or not. I tend to think not, since libraries shouldn't be relying on `influx` but instead calling endpoints directly.

[2015-08-26 20:28] otoolep commented on #3855
We could have packaging create a symlink so that both `influx` and `influx-cli` appear after installation. `influx` would be the symlink, and all documentation would be updated to `influx-cli`. At some time in the future (soon hopefully) we'd stop creating the `influx` symlink.

[2015-08-26 20:50] #3607 closed

[2015-08-26 21:21] beckettsean commented on #3752
@otoolep I've got this tarball running with 0.9.2 on a DO box, but something is off. Let me know when you want to sit down together and take a look.

[2015-08-26 22:02] ccutrer commented on #3607
Confirmed that with 0.9.3 final I don't need to disable continuous queries to avoid deadlocks. Thanks!

[2015-08-26 22:35] esecules opened #3860 "Joining series"
Is there a way to join two time series together like you had in the v 0.8 documentation?https://influxdb.com/docs/v0.8/api/query_language.html

[2015-08-26 22:41] beckettsean commented on #3860
All series in a given measurement are automatically merged unless explicitly filtered out by the WHERE clause.

There is no way to join series from two different measurements.

[2015-08-26 22:41] #3860 closed

[2015-08-26 23:37] mjdesa opened #3861 "[0.9.4-nightly-3d92f3a] Influx wont restart after being killled by OOM"
Was running a test that got killed by OOM killer and I haven't been able to get influx to restart. It just hangs.

[code]

[2015-08-26 23:58] mjdesa commented on #3861
had to rename the directory where `[data]`, `[meta]`, `[wal]`, and `[hh]` lived, but that seemed to fix it.

[2015-08-27 00:32] mjdesa commented on #3861
Reopening issue under a different name.

[2015-08-27 00:34] #3861 closed

[2015-08-27 00:35] mjdesa commented on #3861
Just has a long startup

[2015-08-27 07:43] cannium commented on #3316
Similar issue here, a snippet of logs:

[code]

Seems once a while there would be a `timeout` and some data point lost. I can see from `iostat` that the iops is very high, but as @Inisfair provided, it also happens when only a few hundreds of points to write. So I suspect if there're some hidden bugs.

[2015-08-27 08:44] juddgaddie commented on #1286
Could we please reopen this. As far as I am aware there are no plans to deprecate JSON for reading data.

:+1: for JSONP support.

[2015-08-27 11:49] yoniholmes commented on #3826
thanks

[2015-08-27 12:41] dstreppa opened #3865 "[0.9.3] Slowness on SELECT queries"
I have problems with InfluxDB (my first experience with TSDB), regarding slowness of SELECT queries. Here is my configuration:

**Server:**
CPUs: 2 x Intel(R) Xeon(R) CPU E5-2650 v3 @ 2.30GHz
RAM: 4 Gb
OS: CentOS 6.7

**InfluxDB:**
Version: 0.9.1
DB size: 66 Gb
Datapoints: ~800 millions
Measurements: 15
Tags: 2 (item and signal the keys)
Fields: 3 (value, value_raw and flag (not used))
Data resolu

[2015-08-27 13:07] dstreppa commented on #3865
@beckettsean Regarding your questions on G+:
* Tag *item* can assume 10 possible values
* Tag *signal* can assume 74 possible values
* Memory usage: below there is the output of *top -b -d2 | grep influxd* during 30d querying just done.

`16446 influxdb  20   0 79.0g 924m 817m S  0.0 24.1  34:37.85 influxd`
`16446 influxdb  20   0 79.0g 924m 817m S  0.5 24.1  34:37.86 influxd`
`16446 influxdb  20

[2015-08-27 14:26] pauldix commented on #1821
@corylanou: The query with region you show should only bring back 2 values, because of the 2 argument you pass in. The first parameter is the value you're comparing, the other n parameters are the fields or tags whose combination must be unique, and the last parameter is the number of results per group by interval.

For example, say you have this data:

[code]

The following queries yield these re

[2015-08-27 14:54] corylanou commented on #1821
@pauldix I'm not sure I'm clear on the difference between this query:

[code]

and this query:

[code]

[2015-08-27 15:08] otoolep commented on #3865
You should upgrade to 0.9.3. We have made significant improvements to query
performance since 0.9.1.

On Thursday, August 27, 2015, Davide Strepparava <notifications@github.com>
wrote:

[2015-08-27 15:13] otoolep commented on #3316
The 0.9.3 release addresses the issue of queries affecting write
performance, in many circumstances. You should upgrade and see if
performance improves. You will need to write to a brand new database to
ensure you use the bz1 engine.

https://influxdb.com/download/index.html

On Thursday, August 27, 2015, can. <notifications@github.com> wrote:

[2015-08-27 15:25] dstreppa commented on #3865
OK, I already planned the upgrade for Monday

[2015-08-27 15:36] pauldix commented on #1821
@corylanou the first one says that each result in the set must have a unique host, service combination. The second one says, also return the host and service in the result. Technically, the first one should be:

[code]

But it's useful shorthand to just include the host and service in the result even though it wasn't explicitly asked for.

The reason why the first type of query is useful is that y

[2015-08-27 15:48] corylanou commented on #1821
@pauldix so for this query:

[code]

are we effectively "re-writing' it behind the scenes to behave like this query:

[code]

Otherwise, I would expect that the `host,service` would not come back in the results, which doesn't seem very useful.

Also, would this query then be valid:

[code]

[2015-08-27 16:59] pkittenis commented on #3741
| you mention "blocked connections will time out and get put in a [fin/close]_wait state" -- can you provide more references about this?"

From [wikipedia](https://en.wikipedia.org/wiki/Transmission_Control_Protocol):

| FIN-WAIT-1
    (both server and client) represents waiting for a connection termination request from the remote TCP, or an acknowledgment of the connection termination request pre

[2015-08-27 17:09] pkittenis opened #3869 "[0.9.3] Seemingly deadlocked when ingesting metrics via graphite plugin"
Hello,

First off, apologies but I don't have a reproducible test for this yet.

The behaviour we see with Influxdb `0.9.3` with real life clients sending graphite metrics to the graphite plugin port of influxdb is this:

[code]

The db keeps spinning on CPU and we see a slew of write timeouts in log in between wal flushes 'due to idle'. I presume both of these cannot be happening at same time. Is

[2015-08-27 18:05] jwilder commented on #3869
That trace looks like there might be a lot of time spent sorting measurement names when writing new series.  https://github.com/influxdb/influxdb/blob/master/tsdb/meta.go#L110

When the sort is slow, it looks like it's causing the write lock taken here: https://github.com/influxdb/influxdb/blob/master/tsdb/shard.go#L163 to be held for too long.  I think the sorting and the keeping the names slice

[2015-08-27 19:11] beckettsean commented on #1286
Thanks for the note, @juddgaddie, I'll re-open as a feature request for query return formats.

[2015-08-27 19:22] beckettsean commented on #3865
@dstreppa thanks for the additional info on your tags.

Your cardinality is fine and the number of points is also reasonable. I notice in your log statements that the WAL flushes are taking 30-40 seconds. 0.9.3 should significantly reduce that. That combined with the very long query times (1-2 minutes) strongly suggests that the box is just overwhelmed.

Are you continually writing points to the d

[2015-08-27 19:31] chromos33 opened #3871 "A modulo (%) Operator..."
would be nice especially for the Where Clauses to only select Values form series every full hour.(Without using group by).

[2015-08-27 20:00] #3869 closed

[2015-08-27 20:16] dstreppa commented on #3865
Exactly, what is the meaning of WAL?

Anyways, I decided to double the ram of the box in the next days. It was planned for the end of the year, but now it is useless to wait.

@beckettsean I insert new data hourly using a Python script that calls curl command. I use LINE protocol, the data files are of 5000 rows. I never noted problems about inserting.

[2015-08-27 21:08] pauldix commented on #3871
Not sure I know what this means. Can you elaborate?

[2015-08-27 21:08] #3871 closed

[2015-08-27 21:08] beckettsean commented on #3871
@chromos33 can you give an example of a query that would show the usefulness?

[2015-08-27 21:10] pauldix commented on #3855
+1

[2015-08-27 21:13] beckettsean commented on #3849
After reboot everything is fine? Has it recurred?

[2015-08-27 21:13] beckettsean commented on #3849
How big is/was the `/wal` directory?

[2015-08-27 21:15] pkittenis commented on #3869
Thanks a lot! I'll verify that it fixes the issue and let you know,

Much appreciate your prompt response.

[2015-08-27 21:15] corylanou commented on #3855
@otoolep I think the symlink would bring us back to the same exact issue as to why we are changing the name in the first place.

[2015-08-27 21:16] pauldix commented on #3847
Not sure what you're reporting here. What's the problem exactly? How many total data points did you write?

[2015-08-27 21:22] beckettsean commented on #3835
@dsw6 0.9.3 is out now, can you test again?

[2015-08-27 21:24] jhorwit2 commented on #3849
Nope, I haven't noticed it since. As of right now it's 2mb. I'm not sure what it was when this happened.

[2015-08-27 21:25] beckettsean commented on #3834
@mvadu can you provide steps to reproduce or a copy of your data? We see no evidence of this in our testing.

[2015-08-27 21:28] beckettsean commented on #3821
Pulling the queries out of the log so they are easier to compare:

`SELECT count(x) from accelerometer WHERE time > '2015-08-23 00:00:00' AND time < '2015-08-23 00:01:00' fill(0)` correctly returns COUNT of 0.

`SELECT count(x) from accelerometer WHERE time > '2015-08-24 00:00:00' AND time < '2015-08-24 00:01:00' fill(0)` returns empty results. With a `fill(0)` in the query that should be a `0`.

[2015-08-27 21:29] jhorwit2 opened #3873 "[0.9.3] bad restarts"
Whenever I restart it never works gracefully.

[code]

[2015-08-27 21:29] otoolep commented on #3855
@corylanou -- the symlink is about easing the transition and allowing us to mark `influx` as deprecated.  Then we warn people the change is coming soon. Or am I missing your point?

[2015-08-27 21:31] corylanou commented on #3855
@otoolep as long as it's to make a transition.  Maybe instead of a symlink we do a script that echos it is going to be deprecated and to use the `influx-cli`, then launches `influx-cli`.

[2015-08-27 21:33] otoolep commented on #3855
@corylanou -- not a bad idea, would definitely help.

[2015-08-27 21:34] jhorwit2 commented on #3873
closing. duplicate  #3848

[2015-08-27 21:34] #3873 closed

[2015-08-27 21:34] beckettsean commented on #3819
let's just use COUNT for now, and eventually we will build EXPLAIN

[2015-08-27 21:34] #3819 closed

[2015-08-27 21:39] chaithrar opened #3874 "Request for new Aggregate function "Difference""
we would like to have a new aggregate function "Difference", which would calculate the difference between given time range

i.e we are using grafana to show network throughput and bandwidth. We are calculating the difference for each of them and then sending to influxdb. If influxDB supports difference like sum and other aggregate functions it would be really helpful.

Please let us know if its fe

[2015-08-27 21:40] beckettsean commented on #3803
@KoeSystems do you have a PR or suggestion how to fix this? We're not packaging experts for CentOS

[2015-08-27 21:42] pauldix commented on #66
Adding servers made it into 0.9.3. Rebalancing will come later.

[2015-08-27 21:42] #66 closed

[2015-08-27 21:42] pauldix commented on #1129
@jwilder, did you end up putting up an official docker image?

[2015-08-27 21:43] beckettsean commented on #137
closed in favor of https://github.com/influxdb/influxdb.com/issues/263

[2015-08-27 21:43] #137 closed

[2015-08-27 21:43] #1217 closed

[2015-08-27 21:43] KoeSystems commented on #3803
@beckettsean This has been solved in https://github.com/influxdb/influxdb/pull/3804

[2015-08-27 21:52] pauldix commented on #2020
Actually, if it's a tag they should have to double quote it as an identifier. Otherwise we should assume it's a time.

[2015-08-27 21:56] beckettsean commented on #2070
Closed. This is done, just need to document it: https://github.com/influxdb/influxdb.com/issues/76

[2015-08-27 21:56] #2070 closed

[2015-08-27 21:58] beckettsean commented on #2171
Already done:

[code]

[2015-08-27 21:58] #2171 closed

[2015-08-27 22:00] beckettsean commented on #2395
`/messaging` no longer exists

[2015-08-27 22:00] #2395 closed

[2015-08-27 22:01] otoolep commented on #3803
Oh yeah, I should have closed this. Thanks @KoeSystems

[2015-08-27 22:01] #3803 closed

[2015-08-27 22:03] pauldix commented on #2458
This now returns a 200 response code with an error message in the JSON. I think this will work, let me know if you think we need something else.

[2015-08-27 22:03] #2458 closed

[2015-08-27 22:03] beckettsean commented on #2458
Response is now `200` with an error. Seems reasonable.
[code]

[2015-08-27 22:27] #3731 closed

[2015-08-27 22:36] beckettsean commented on #3648
@corylanou did this make it into 0.9.3?

[2015-08-27 22:37] beckettsean commented on #3603
Significant improvements to write path and speed in 0.9.3, released yesterday. I am provisionally closing this, please reply if you can reproduce the issue on 0.9.3.

[2015-08-27 22:37] #3603 closed

[2015-08-27 22:38] beckettsean commented on #3261
no repro case, no response from reporter, assuming fixed.

[2015-08-27 22:38] #3261 closed

[2015-08-27 22:57] ExaTad opened #3875 "influxdb crash with select mean(V1)+V2 from foo where sometag='someval'"
This query causes influxdb 0.9.2 to crash reliably

cli:
[code]
The console log from influxdb:
[code]

[2015-08-27 23:02] otoolep commented on #3875
Dupe of https://github.com/influxdb/influxdb/issues/3200

[2015-08-27 23:02] #3875 closed

[2015-08-27 23:02] otoolep commented on #3875
Thanks for the report @ExaTad -- right now the query language does not support arithmetic involving two or more fields.

[2015-08-27 23:03] beckettsean commented on #3028
@otoolep is this still relevant?

[2015-08-27 23:04] otoolep commented on #3028
Unfortunately yes, the test is still skipped.

[2015-08-27 23:06] corylanou commented on #3648
yes: https://github.com/influxdb/influxdb/blob/master/importer/README.md#throttiling-the-import

[2015-08-27 23:09] beckettsean commented on #3141
Clarifying: `SELECT * FROM my_measurement ORDER BY DESC LIMIT N` returns N points from each series in `my_measurement`. `SELECT * FROM my_measurement ORDER BY DESC SLIMIT N` returns the full series from the first N matching series.

This new function would return the N first matching points in the measurement, regardless of series.

[2015-08-27 23:11] beckettsean commented on #3182
Major clustering and WAL changes in 0.9.3, please test with that and let us know if you can reproduce.

[2015-08-27 23:11] #3182 closed

[2015-08-27 23:12] beckettsean commented on #3199
Major changes the write and query paths in 0.9.3 as well as better plugin support. Please let us know if these issues still happen with 0.9.3 installed.

[2015-08-27 23:12] #3199 closed

[2015-08-27 23:15] beckettsean commented on #3849
0.9.3 final has some bug fixes for issues found in RC2. Try with the official 0.9.3 release and let us know if this happens again.

[2015-08-27 23:15] #3849 closed

[2015-08-27 23:17] beckettsean commented on #3855
I don't want a symlink. If I just installed something called "InfluxDB" and there's an `influx` symlink, 99 out of 100 will assume that symlink starts the actual database.

A script is a nice solution, +1

[2015-08-27 23:18] beckettsean commented on #3874
closing as duplicate of https://github.com/influxdb/influxdb/issues/1825

[2015-08-27 23:18] #3874 closed

[2015-08-27 23:26] otoolep commented on #3083
This has been fixed in 0.9.3.

[2015-08-27 23:26] #3083 closed

[2015-08-27 23:26] #3648 closed

[2015-08-27 23:28] otoolep commented on #2436
We are building 32-bit fine now, so this issue has been addressed.

[2015-08-27 23:28] #2436 closed

[2015-08-27 23:29] otoolep commented on #2069
We package a tarball now, which if decompressed, has a standalone binary in there.

[2015-08-27 23:40] beckettsean commented on #2069
@otoolep I think we can close this as a duplicate of https://github.com/influxdb/influxdb/issues/2070. What say you?

[2015-08-27 23:51] otoolep commented on #2069
Yeah, I think we can, but we need to do one thing.

We need to update the "Downloads" page with the following link: https://s3.amazonaws.com/influxdb/influxdb_0.9.3_x86_64.tar.gz

That way it's made known to users who wish to easily pull out a standalone binary. I have opened a ticket.

https://github.com/influxdb/influxdb.com/issues/267

[2015-08-27 23:51] #2069 closed

[2015-08-28 00:54] beckettsean commented on #3835
A quick note that compactions do not block writes in any way. That said, if you want to increase the frequency of compactions and flushes you can tune some WAL settings: https://github.com/influxdb/influxdb/blob/master/etc/config.sample.toml#L46-L68

Specifically, lower `wal-ready-series-size` to force frequently sampled series to flush more often. Also you can lower `wal-partition-size-threshold`

[2015-08-28 00:55] beckettsean commented on #2193
@gunnaraasen, I talked with @pauldix today and he's on board with the runtime user creation workaround. E.g. with auth enabled you can only create a user as a cluster admin OR by passing a specific user creation flag to `influxd`.

[2015-08-28 01:29] huhongbo commented on #3847
the problem is the actual disk write is 98.98M/s , influxdb write do so many iops and actual disk write, my actual datapoint is about 10000 points/s

[2015-08-28 02:01] cannium opened #3879 "RC versions are recognized as higher than release versions by yum"
For example, `influxdb-0.9.3_rc2-1.x86_64` is higher than `influxdb-0.9.3-1.x86_64`

Some reference: http://fedoraproject.org/wiki/Packaging%3aNamingGuidelines#NonNumericRelease

[2015-08-28 02:03] otoolep commented on #3879
OK, thanks, we'll look into it.

[2015-08-28 02:06] cannium commented on #3316
@otoolep So I need to remove all previous data and start a brand new cluster to use bz1 engine?

[2015-08-28 02:09] otoolep commented on #3316
@cannium -- no, you simply need to create a new database (`CREATE DATABASE`) and start writing to it.

[2015-08-28 02:09] otoolep commented on #3316
That new database will have bz1 shards.

[2015-08-28 02:09] cannium commented on #3316
OK, I'll try

[2015-08-28 02:10] otoolep commented on #3316
Great, let us know how it goes.

[2015-08-28 02:12] otoolep commented on #3316
I would also try out a larger batch size, and *definitely* a larger timeout. 20 ms may be too low. E.g.

[code]

My concern with such a low timeout is that you're not batching as much as you think. Granted it may introduce some latency (of a second), but it should guarantee better throughput.

[2015-08-28 02:26] cannium commented on #3316
This is my current and previous config:

[[graphite]]
  enabled = true
  bind-address = ":2003"
  protocol = "udp"
  consistency-level = "any"
  name-separator = "."

  batch-size = 10240 # will flush if this many points get buffered
  batch-timeout = "1s" # will flush at least this often even if we haven't hit buffer limit

[2015-08-28 02:57] otoolep commented on #3316
I would use TCP for performance testing. Otherwise it is difficult to know
if the server is keeping up.

On Thursday, August 27, 2015, can. <notifications@github.com> wrote:

[2015-08-28 08:00] The-Nik opened #3880 "[feature request] allow DISTINCT function to operate on tags"
I would like to have following feature:

Sience the new release 0.9.3 tags are resulting as own columns if you use SELECT * FROM measurement

Currently, it's not possible to use commands on this columns. An example:

    SELECT * FROM measurements

returns:

    time tagA tagB value
    xxx M N 0.3
    xxx M O 0.4
    xxx P R 0.2

I want to do a query like:

    SELECT count(distinct(tagA)) FROM m

[2015-08-28 08:16] The-Nik commented on #3880
Idea also exist in #1815 at "Not currently implemented (might in the future, but no promises)"

[2015-08-28 09:15] zimbatm commented on #3855
-1 It's a common scheme in the unix world. Eg: `mysql` and `mysqld`. It's better to improve the error message if influxd is not reachable.

[2015-08-28 09:45] ymettier opened #3881 "panic: runtime error: invalid memory address or nil pointer dereference"
Hello,

I'm running a nightly built version(0.9.4-nightly-cf58c38, branch master, commit cf58c38995f64a45bd8f8b985654facee1892e33) and InfluxDB crashs.
I downloaded the rpm and installed with "yum localinstall..."

And InfluxDB does not work on 2nd node.
`panic: runtime error: invalid memory address or nil pointer dereference`

Here is how I reproduced it :

1/ remove everything in /var/opt/influx

[2015-08-28 09:59] airyland opened #3882 "hard to manage data without delete or put support"
If I import some bad points, I can do nothing but to drop the measurement. I cannot delete some unused data to reduce database size.

[2015-08-28 12:09] sstarcher commented on #3860
@beckettsean so if we have 2 separate series that we want to do math against we would have to feed those metrics into something and have it generate a third series and put that into influxdb?  I'm thinking of  metrics like total disk space, used disk space, and being able to calculate disk used % based off of those 2 series.  Is the intent for us to feed 3 series into influxdb instead of calculati

[2015-08-28 13:04] ccollicutt commented on #3728
@beckettsean am on 0.9.3 now, seems better, but I had to remove a lot of data for other reasons. But so far seems better.

[2015-08-28 13:13] mvadu commented on #3834
sure, I just rebuild Influx using go1.5, dropped old DB, recreated the DB

1. DB is created as part of make install (of my program)
    @curl -G http://localhost:8086/query --data-urlencode "q=CREATE DATABASE dht11">>null 2>&1||(@echo "Unable to create Influx DB $$?"; exit 1)

2. My C program (which runs every two minutes) invokes insert statements
    curl -i -XPOST 'http://localhost:8086/write?d

[2015-08-28 13:18] KiNgMaR commented on #3728
I'm seeing the same or a similar issue on CentOS 6.6 (16 GB RAM, 8 CPU cores). I tested with 0.9.3 and 0.9.4-nightly. After 1-2 hours InfluxDB memory usage hits 16 GB.

I think it may be related to continuous queries or at least accelerated by them. My write load is as follows:

    [wal] 2015/08/28 14:01:06 Flushing 0 measurements and 211 series to index
    [wal] 2015/08/28 14:01:10 Flushing 0 m

[2015-08-28 14:12] pauldix commented on #3847
Is this with a fresh database? Can you try the 0.9.3 release?

[2015-08-28 14:14] brettdh commented on #3756
Since it was omitted above: I think the referenced issue is #3582. +1 on implementing that, but that might make this a dupe.

[2015-08-28 14:28] jipperinbham commented on #3881
I have the same issue but with a single node cluster running 0.9.3 (released version), see https://gist.github.com/jipperinbham/3f88ffee95508c82aa18

[2015-08-28 16:15] esecules commented on #3860
I believe it is intended that we would put free and used space as values in the same time series. A calculated column is not required.

[2015-08-28 16:59] brettdh opened #3883 "[0.9.3] InfluxDB log password redaction leaves query mangled, but not redacted"
Password redaction isn't quite doing its job:
[code]

Which is something like `'[REDACTED]'.join("q=CREATE+USER+reader+WITH+PASSWORD+[etc]")`

Not quite what you had in mind, I imagine. ;-)

[2015-08-28 17:02] jgeiger commented on #3519
Is there any way to convert exiting data from int to floats?

[2015-08-28 17:03] otoolep commented on #3883
@gunnaraasen ?

[2015-08-28 17:14] corylanou commented on #3519
@jgeiger sadly not currently without re-writing all the data.  @pauldix any thoughts on a utility to do this in the future?

[2015-08-28 17:23] pauldix commented on #3519
@corylanou it would be pretty tricky to create a utility for this, particularly now that we have multiple storage engines that can exist. Not something that can't be done, but we're unlikely to get to it in the next 2 months.

[2015-08-28 18:11] brettdh commented on #3756
Just realized that this breaks documented behavior:

https://influxdb.com/docs/v0.9/query_language/continuous_queries.html

"To preserve all tags in your downsampled data, add a `, *` clause to the `GROUP BY` clause of the continuous query."

This is a fatal regression for us (and probably others). Is there any workaround with 0.9.3? The suggestion of `GROUP BY time(1m), tag1, tag2, tag3` does not

[2015-08-28 18:17] DanielMorsing commented on #3728
One of the things that's useful for hunting down these issues is a memory profile to see where the memory is going. Could you try running `go tool pprof -proto -output /tmp/memprofile http://serverhostname:8086/debug/pprof/heap` and sending the `/tmp/memprofile` file?

[2015-08-28 18:45] mjdesa commented on #3882
@airyland you can rewrite data a point by writing a to the same data point. e.g.

### Write a point
`curl -XPOST "http://localhost:8086/write?db=mydb" --data-binary "example value=10 148903244903284"`

#### Query it
`curl -G "http://localhost:8086/query?db=mydb" --data-urlencode "q=select * from example"`

yields

[code]

### Re-write the point

`curl -XPOST "http://localhost:8086/write?db=mydb" -

[2015-08-28 18:45] #3882 closed

[2015-08-28 18:53] toddboom commented on #3763
@benbjohnson i was able to reproduce this on an RPi2. here's the size on disk immediately after it happened:
[code]

and the beginning of the stack trace, just in case it's somehow different:
[code]

it doesn't immediately seem to be due to file size limits on a 32-bit architecture. also, would the file size be per-shard or per-database in the current design? (i.e. could you solve this by decreasi

[2015-08-28 19:14] beckettsean commented on #3880
@The-Nik are you asking for `DISTINCT` to support tags, or are you asking for the same functionality that `SELECT *` used to do? To get the similar `SELECT *` behavior, just include a `GROUP BY *`

[2015-08-28 19:20] beckettsean commented on #3855
@zimbatm the proposed change actively helps a number of users who are confused. Does it actively hurt your use case or understanding?

[2015-08-28 19:23] dsw6 commented on #3835
I ran my test again using the 0.9.3 release build.  The test ran for about one hour and then received a 500 error from a write operation.  During the test, I monitored the memory usage for the influxDB process.  Memory usage started low and continued to steadily grow throughout the test.  Memory usage was around 95% when the 500 error occurred.  I configured the test to stop on the first 500 error

[2015-08-28 19:23] beckettsean commented on #3834
@mvadu I'd like to remove a variable here and use CLI statements rather than Admin UI screencaps. It removes any possible browser issues and keeps the data in a format that can be copy/pasted.

Can you run the CLI `influx` on the box and repeat those queries?

[2015-08-28 19:29] beckettsean commented on #3860
@sstarcher what @esecules says is correct. Measurements are containers of many many series. Any series within a measurement can be trivially "merged" or queried together with any other series in that measurement.

So for total disk space: `SELECT sum(value) FROM disk_space` or whatever. For used disk space: `SELECT SUM(value) FROM used_disk_space`. In this scenario, it's not possible to calculate

[2015-08-28 19:40] beckettsean commented on #3882
Also, there are open issues for improving [DELETE SERIES](https://github.com/influxdb/influxdb/issues/1647) and [DELETE](https://github.com/influxdb/influxdb/issues/2755) statements, so this is a duplicate of both.

[2015-08-28 19:44] chromos33 commented on #3871
sry opened this thread prematurely wanted to only show hour values while maintaining a group by with time(5m) since in our original query structure of trying to encompasse all variables , the results were not what they should have been. Am now doing multiple queries of the same series with different class of Tags and sum them up in php, since the other way around did not result in expected or rath

[2015-08-28 20:07] dswarbrick opened #3885 "[0.9.3] WAL gets progressively slower as DB size increases"
With InfluxDB version 0.9.3 (actually a nightly, 0.9.4-nightly-cf58c38, from the day after 0.9.3 release), the WAL seems to get progressively slower as the DB grows. Running the WAL on a tmpfs, it's responsive immediately after the DB is nuked, but things start to go south when the DB hits about 11 GB.

WAL flushing becomes irregular, compaction of partitions sometimes takes over an hour, where pr

[2015-08-28 20:14] dswarbrick commented on #3885
This is running in a VM with four cores @ 2.8 GHz, 16 GB RAM and SAN storage capped at 2500 IOPS (hence the WAL on tmpfs).

iostat shows the DB storage device is very quiet when the DB is small, and the WAL seems to be doing a good job of batching the writes into periodic, large sequential writes.

InfluxDB config is all default, out of the box config, with the exception of collectd batch writer c

[2015-08-28 20:27] brettdh commented on #3756
I missed a detail from the above suggested approach - the measurements in the longer retention policies have different names; e.g. `jvm_1m`. If I do this, the above strange behavior goes away, and I see that the tags are preserved in the downsampled data.

Is it the case that measurements in different retention policies must have different names? If so, creating a continuous query that violates th

[2015-08-28 20:48] tlopo opened #3887 "Graphite plugin slow writes on version 0.9.2"
I am trying to import data from influxdb-0.8.8 to influxdb-0.9.2, writes are very slow **10Kpbs**, importing the data from v.0.8.8 to another v.0.8.8 writing speed is **3.5Mbps** both running in the same box(ec2 c1.medium), but not simultaneously.

The script I used to import data: can be found [here](https://gist.github.com/tlopo/76cb4c20442cdb910f21). It does the following:
* Gets series list
*

[2015-08-28 20:49] beckettsean opened #3888 "create DEPENDENCY_LICENSES.md in the root of the repo"
list out the dependencies, their license, and link to their license files.

[2015-08-28 20:51] pauldix commented on #3885
Can you lower the the `wal-ready-series-size` to 1024? See here: https://github.com/influxdb/influxdb/blob/master/etc/config.sample.toml#L52

You can also cut the `wal-partition-size-threshold` in half.

Do you know how many unique series you have in your set?

[2015-08-28 20:53] otoolep commented on #3887
Couple of suggestions @tlopo.

If you are creating a brand new 0.9 system, I suggest you use 0.9.3. There are a large number of bug fixes and improvements in 0.9.3 vs 0.9.2.

In addition, ensure your Graphite batching is set to something sensible like 1000 points, and 1 second timeout.

https://github.com/influxdb/influxdb/blob/master/etc/config.sample.toml#L138

I am going to assume these changes

[2015-08-28 20:53] #3887 closed

[2015-08-28 20:55] beckettsean commented on #3756
@brettdh I believe that measurements "exist" in all retention policies even if they have no data. We're doing a lot of work on CQs this iteration, I encourage you to open a new issue about this behavior so that we explicitly investigate and have a recommendation or resolution.

[2015-08-28 20:59] dswarbrick commented on #3885
Ok, set wal-ready-series-size = 1024 and wal-partition-size-threshold = 10485760.

I've actually been looking for how to show the count of unique series, but did not find this in the docs. Any hints greatly appreciated.

[2015-08-28 21:04] beckettsean commented on #3885
@dswarbrick it's not elegant but you can use the CLI plus some shell to get the series count:

`influx -execute 'show series' -database 'mydb' | grep _key | wc -l`

See https://influxdb.com/docs/v0.9/tools/shell.html for more on the CLI.

[2015-08-28 21:08] beckettsean commented on #3888
@toddboom @pauldix please chime in if you have any additional requirements. I made https://github.com/influxdb/telegraf/issues/154 on the telegraf repo.

[2015-08-28 21:16] dswarbrick commented on #3885
Wouldn't `show measurements` be a more efficient way of getting that?
[code]
or
[code]
Maybe this would be more useful to know:
[code]
So for those 8 collectd plugin types, there are quite a few plugin instances, types, and type instances.

[2015-08-28 21:32] tlopo commented on #3887
@otoolep  0.9.3 was released only two days ago, I missed that sorry. It did improved the writing speed a lot! it's still slower than 0.8.8 but I guess it's acceptable ~ 2Mbps. Thank you very much!

[2015-08-28 21:41] otoolep commented on #3887
We are continuing to improve throughput, and you may wish to try the nightly builds if you want bleeding edge.

https://influxdb.com/download/index.html

[2015-08-28 21:42] otoolep commented on #3887
You could also try increasing your batch size and timeout. Try 5K and 5 seconds.

[2015-08-28 21:48] beckettsean commented on #3885
@dswarbrick In InfluxDB, a _measurement_ is a logical container of related _series_, and contains potentially millions of _series_. For performance considerations, the number of _series_ is what matters. If you have no tags at all, then the number of measurements equals the number of series. Otherwise, you have many series per measurement (one series for each unique tag set.)

As your numbers show

[2015-08-28 21:50] beckettsean commented on #3885
@dswarbrick If you don't have the `host` key on every single point, then the `influx -execute 'show series' -database 'collectd' | grep host | wc -l` command could be missing some series. Is the number the same as if you ran `influx -execute 'show series' -database 'collectd' | grep _key | wc -l`?

[2015-08-28 22:13] dswarbrick commented on #3885
@beckettsean The host tag is present on every point, since these are received by the collectd plugin, and that data is always included. There is nothing else feeding into this same database, and no other databases on this server.

Those numbers again:
[code]

[2015-08-28 22:39] mjdesa commented on #3888
https://github.com/influxdb/influxdb/pull/3891

[2015-08-28 22:41] beckettsean commented on #3865
WAL is the write-ahead log. It quickly persists points to disk and batches them into efficient sized blocks for writing into the BoltDB files that form the permanent storage engine for InfluxDB. Flushes should take seconds, but not 30-40.

Let us know how the new RAM changes performance.

[2015-08-28 22:47] pkittenis commented on #3869
Can confirm the deadlock no longer happens with this change - many thanks once again for your help.

Between this change and the wal partition changes performance now exceeds the `0.8` series which is pretty awesome - thanks for the great work.

[2015-08-28 23:04] gunnaraasen commented on #3888
Purely semantic request, can the file start with "license" so it will be listed next to the `LICENSE` file when viewing files in the repo root? E.g. `LICENSE_DEPENDENCIES` or `LICENSE_THIRD_PARTY`.

[2015-08-28 23:09] jportoles commented on #3519
What about automatically casting numeric values to integers for series that *previously* held integers? That is to say, make this:

    cpu,host=A value=23

Equivalent to this:

    cpu,host=A value=23i

If and only if the measurement type is an integer. By doing this 1) you would ensure a smooth non-breaking transition for 0.9.2 users while 2) enforcing float64 by default for new measurements unl

[2015-08-28 23:12] Zolmeister commented on #3519
I agree with @jportoles even if the change is only in effect for 0.9.3 and removed in 0.9.4 for smooth upgrade purposes

[2015-08-28 23:50] zimbatm commented on #3855
It's quite a minor thing but I think the reason of the original naming is so that tab-completion would resolve to the client by default. Operationally speaking it's really rare to execute the daemon by hand by less so the client. If the client is renamed to `influx-cli`, `inf<tab>` won't resolve to it anymore.

For me learning the difference between `influx` and `influxd` is a one-time thing and c

[2015-08-28 23:59] beckettsean commented on #3855
@zimbatm that is a good point. Good enough to make me reconsider, but I'm not sure I've changed my mind. @pauldix or @otoolep, thoughts?

[2015-08-29 00:04] otoolep commented on #3855
I've been thinking a little bit about this in recent days. There is precedent for what we are doing now:

- mysql and mysqld
- sqlite (it's not sqlite-cli)
- mongo and mongod (I believe)

So perhaps we are going to far here. I think this originally bugged me because tab completion within the source tree kept sending me into the wrong directory (I wanted to go into `influxd`). But that is a develop

[2015-08-29 00:42] mvadu commented on #3834
S**t!! I should have tried it before making noise here. @beckettsean you are right, it looks like the issue is more likely in the way browser (MS Edge on Windows 10 in my case) is encoding. I ran the same thing on CLI and its working like charm! I feel (and probably look) like a fool now :(

    Connected to http://localhost:8086 version 0.9.32
    InfluxDB shell 0.9.32

    Using database dht11

[2015-08-29 00:44] mvadu commented on #3834
Closing the issue, as its browser issue than DB engine.

[2015-08-29 00:44] #3834 closed

[2015-08-29 00:47] beckettsean commented on #3834
Wow, thanks for the thorough research, @mvadu. The tool certainly wasn't behaving as expected, but I'm glad we've determined it was a browser caching issue and not something fundamental to the database. I'm going to open a new issue about the Edge caching, as that will lead to very bad experiences for anyone who relies on the admin UI.

[2015-08-29 00:50] beckettsean opened #3893 "Edge browser caching responses really screws up the admin UI"
See https://github.com/influxdb/influxdb/issues/3834#issuecomment-135772064 for the results from admin UI in Edge vs. https://github.com/influxdb/influxdb/issues/3834#issuecomment-135922575 from the CLI.

From @mvadu:

"Looks like Edge caches ajax responses (even when there is no cache header in the response), and it messes up what is shown on UI. I could not recreate the issue on Edge after I ope

[2015-08-29 01:37] corylanou commented on #3855
I agree, I think what we have is following what others are used to, and I don't really have a better solution.

[2015-08-29 02:09] beckettsean opened #3894 "improve error message in CLI when database not available"
Alternate fix for https://github.com/influxdb/influxdb/issues/3855.

Launching `influx` before `influxd` is a fairly common source of confusion for new users. The current error message from `influx` does not make it clear that the database process is not available.

[code]

@otoolep found that MySQL's error is more clear:

`ERROR 2002 (HY000): Can't connect to local MySQL server through socket '/v

[2015-08-29 02:09] beckettsean commented on #3855
Closing in favor of https://github.com/influxdb/influxdb/issues/3894

[2015-08-29 02:09] #3855 closed

[2015-08-29 02:09] beckettsean commented on #3855
Thanks, @zimbatm!

[2015-08-29 04:15] mvadu commented on #3893
I think if the Ajax responses have a `cache-control: private, no-cache` will firce any sane browser to not to cache the responses. I am not sure how to do that in golang though.

[2015-08-29 08:25] zimbatm commented on #3855
:+1:

[2015-08-29 11:24] rstets commented on #3783
same problem here.
getting "ERR: can not use field in GROUP BY clause: shopId"
and yes there is a shopId field and a shopId tag. was working fine in 0.9.2, stopped after upgrading to 0.9.3 ("stable")

[2015-08-29 12:32] noroute commented on #3636
@otoolep Our use case is a large bunch of applications writing to influxdb some of which we'd like to migrate to UDP for performance reasons. Supporting TCP and UDP would make for a much simpler migration path.

[2015-08-29 13:49] dswarbrick commented on #3885
@pauldix With the settings you recommended, it ran for several hours before again slowing down, falling behind, and eventually filling the 2 GB tmpfs that the WAL directory points to.

[code]

[2015-08-29 13:57] pauldix commented on #3885
@dswarbrick We're going to update the code to start rejecting writes once memory pressure gets to high. I think that the IOPS on the Bolt backed drive just aren't enough to keep up with the ingestion rate. What's your sampling rate? Curious how many points/sec are going in.

One last thing to try is to update the `wal-ready-series-size` to 4096.

[2015-08-29 14:16] dswarbrick commented on #3885
@pauldix Increased `wal-ready-series-size` to 4096 as you suggest. Btw, I'm nuking the DB and WAL directory each time I change a setting, so we have no nasty remnants of previous failed attempts.

We currently have approximately 300 packets per second of collectd data arriving, and each packet contains on average about 20 points. So, we're inserting about 6000 points per second.

What exactly is t

[2015-08-29 14:33] pauldix commented on #3885
From my testing, the WAL is actually much lower on the IOPS scale than what happens when you flush the data to Bolt. The primary driver is the number of unique series you have. Much more so than the number of data points. If you were inserting 20k/sec into a single series or even dozens, it wouldn't break a sweat. If you put both on the same drive and track the IOPS, you'll see a big spike every t

[2015-08-29 14:46] dswarbrick commented on #3885
By default, collectd uses a sampling interval of 10s, but we have bumped that to 20s for the plugins that generate the most data (i.e., our "iolatency" plugin, which collects read/write IO latency stats for a large number of logical volumes on each host, sorted into buckets of 8, 16, 32ms etc, up to 512ms - this obviously produces a lot of data points).

When the DB is small, iostat in the InfluxD

[2015-08-29 20:38] jlongster opened #3895 "[0.9.3] malformed HTTP status code with INSERT from CLI"
Just starting to play around with influxdb on OSX, and I'm running a server with the default config. Running INSERT from the command line shows a message about a malformed header:
[code]

The insert did work though:

[code]

The server responded with a valid 204, but I don't know what that \x00 is. Here the log from the server for the write:

[code]

The server returning the invalid HTTP header al

[2015-08-29 20:38] jlongster commented on #3895
This is on OSX 10.9.5, with the latest influxdb from `brew` and completely default server.

[2015-08-29 22:15] sanathp commented on #436
same issue here . ui is working but "curl http://localhost:8086/ping" is giving 404 not found

I am using InfluxDB v0.9.3-rc3

[2015-08-29 22:41] dswarbrick commented on #3885
@pauldix My DB is now 9.8 GB since last nuking it (about 8 hours ago), and I can see the WAL directory now starting to exceed 400 MB. Partition compaction is now taking 18m, whereas before it was no more than 1m, and usually 5 - 20s.

iostat shows _constant_ 4KB reads on the BoltDB device, interspersed with the occasional write.
[code]
This is the pattern that seems to consistently occur when the

[2015-08-30 02:09] fg2it opened #3896 "go1.5 and internal import policy prevents build on fork"
Trying to submit PR to add options to package.sh, I forked and try to build influxdb from that fork. I was welcomed with :
[code]
It seems this is related to go1.5 new policy with internal : it is not allowed to import internal from an external repo (see https://golang.org/doc/go1.5 and https://golang.org/s/go14internal).

By the way, I manage to build by changing internal import path in
[code]
to

[2015-08-30 04:33] KrishnaPG opened #3897 "timestamp precision in seconds not writing any records"
With latest version of Influx 0.9.3, encountering this problem, where the db is not writing any data points if the time precision is specified to be seconds and external timestamp is supplied.

Below is a sample command and data:
[code]
The timestamp itself looks fine and precision is accurate (upto seconds). Try [here](http://www.timestampconvert.com/?go2=true&offset=-5.5&timestamp=1440864000).

[2015-08-30 05:06] KrishnaPG commented on #2955
Getting the same error in latest version (0.9.3), after dropping a measurement and inserting later.

[2015-08-30 10:38] dswarbrick commented on #3885
I have strung together two storage devices in raid-0 on the VM, with a chunk size of 4 KB, which can burst to over 6500 write IOPS, and so far things are running more or less OK with a DB of 13 GB.

However, the log is still showing the the partition compaction is slowing down, the tmpfs is growing, and so is memory utilization. In iostat, I'm seeing alternating bursts of almost constant small wri

[2015-08-30 16:27] jhorwit2 opened #3899 "[0.9.3] write timeouts"
I have been running 0.9.3 with the same point rate (2 thousand every second or two) since release day. Today I started noticing write timeouts with really long wal compaction times, which i'm unsure if that's the issue.

`[wal] 2015/08/30 12:25:38 compaction of partition 1 took 1m32.283077624s`

I tried several restarts, but timeouts start again immediately. My wal directory is only 2mb in size.

[2015-08-30 21:58] bal2ag commented on #2022
Without orderby desc, is there a simple way to get the latest point for a given series? Right now it seems like I have to select all the points in the series and take the last one in my application. Not difficult but it's a lot of extra reads against the DB. I can cut it down by filtering on time but this comes at the possible cost of accuracy/data correctness in my use case (I won't always known

[2015-08-30 22:50] jacekgrzybowski commented on #2022
You can use `last()` function, if you don't need the timestamp.

[2015-08-30 23:22] dswarbrick commented on #3899
@jhorwit2 Take a look at #3885 too.

[2015-08-31 01:16] jhorwit2 commented on #3899
Thanks @dswarbrick I'll keep an eye on that issue. My database didn't start go south until ~22GB which is about double when yours did.

[2015-08-31 01:19] jhorwit2 commented on #3899
I'm also not running into OOM issues. My other smaller databases write just fine, but my larger database fails 100% of the time.

[2015-08-31 02:03] ziyel opened #3900 "[0.9.3] high cpu usage while querying from influxdb"
We have set up a cluster with 3 nodes. And we write to all of 3 nodes at about 600 qps and read from one of the nodes at about 100 qps.

As we found, the new version 0.9.3 influxdb will occupy much more cpu then version 0.9.2 while querying. And if we shut down the read application, the cpu usage will descend. There are 24 cores in our servers served influxd.

Below is the output while I run `perf

[2015-08-31 02:25] airyland commented on #3882
Thx. But I couldn't find the related document?

[2015-08-31 03:33] otoolep commented on #3897
@jwilder

[2015-08-31 05:05] otoolep commented on #3636
OK, thanks for the use case @noroute

[2015-08-31 06:36] ziyel commented on #3900
Most of our query is like `select * from mt where time > 1441002714s`. And if I add `group by *` at the end of query, the use usage will descend. Is there any ideas about this?

[2015-08-31 07:09] dstreppa commented on #3865
OK, so it seems to me that WAL regards inserting not querying...am I right?

Here an extract of my data file in LINE protocol:

`gridsense_HH03_techroom,item=PV,signal=V_avg value=238.2,value_raw=238.2 1437868750`
`gridsense_HH03_techroom,item=PV,signal=V_avg value=238.2,value_raw=238.2 1437868760`
`gridsense_HH03_techroom,item=PV,signal=V_avg value=238.3,value_raw=238.3 1437868790`
`gridsense_HH0

[2015-08-31 07:22] huhongbo commented on #3847
yes ,it's a fresh database
I've test the 0.9.3 and has the same result,I want to know it's normal to get the high actual disk write?

Total DISK READ :       0.00 B/s | Total DISK WRITE :       5.78 M/s
Actual DISK READ:       0.00 B/s | Actual DISK WRITE:     298.49 M/s
  PID  PRIO  USER     DISK READ  DISK WRITE  SWAPIN      IO    COMMAND
11616 be/4 root        0.00 B/s    5.72 M/s  0.00 %  0.27

[2015-08-31 07:37] dswarbrick commented on #3885
DB is now 20 GB, but this morning when I checked the log, these were the last few entries, following by a stack trace:
[code]
No OOM kill visible in dmesg however. WAL tmpfs was using about 1.1 GB out of 2 GB at the time of the crash.

[2015-08-31 08:06] cannium commented on #3885
Similar issue here, some "compaction of partition"  took more than 2 hours, and the current DB file sizes are:
[code]
(Could someone explain the `3` and `4` for me?)

And `iostat` shows very high read load:
[code]
where `sdc` is the data partition and `sdd` is the WAL partition.

[2015-08-31 08:36] jeremyVignelles opened #3902 "[0.9.3] DB should not crash when using invalid expression "GROUP BY time""
Hi,

From a fresh database, i created a point with the admin by writing:
[code]
Then, issuing the query
[code]
crashes the database.
Here is the log : http://pastebin.com/g6DqnF43

By the way, is there any way I can select all the timestamps for a measurement (optionally filtered by a where clause) ?

Thanks for your work

[2015-08-31 09:28] gaochenchao commented on #3658
Thanks, I wrote the points values as string. when i change the data type to float, it's work.
I think it's better give a warning when people use mean on a value of string. Thanks again.

[2015-08-31 09:41] consense commented on #3603
Hi,

the orinigal panic mentioned in this ticket (invalid memory address or nil pointer dereference, /root/go/src/github.com/boltdb/bolt/db.go:422) is still occuring for me using 0.9.3.

Not sure which query/write caused this exactly as we had modest production load on the db at that time. Gladly give a hint on how to make this more reproducable for you.

Full stacktrace at: https://gist.github.co

[2015-08-31 12:30] mvadu commented on #3715
You need to build a package using package.sh, then run dpkg -i <package name>, sudo service influxdb start

[2015-08-31 12:33] The-Nik commented on #3880
I ask for DISTINCT to support tags for counting the different tag values :+1:

[2015-08-31 12:49] dswarbrick commented on #3899
@jhorwit2 After several crashes and restarts, without nuking the DB in between, my DB is now at 21 GB. The last time I restarted InfluxDB, I nuked the WAL directory, but it has now filled the 2 GB tmpfs that it resides on, and I'm once again getting write timeouts.

My gut feeling is that BoltDB is not only writing to the most recent shard, but repeatedly touching the entire 21 GB DB, and this onl

[2015-08-31 12:51] dstreppa opened #3903 "SELECT on fake measurement without warning"
In the Influx client (server version: 0.9.3), a SELECT on a fake measurement has the same result of a SELECT on an existing measurement with an empty result (show the last two queries).

`> SELECT * FROM monitor WHERE host='Lamone' and process='mysqld' and time>'2015-08-31 12:36:00'`
`name: monitor`
`-------------`
`time			cpu_perc	host	mem_perc	process`
`2015-08-31T12:36:02Z	0		Lamone	0.79		mysql

[2015-08-31 12:56] mvadu opened #3904 "[feature request] Insert new tags to existing values, like update"
Can we have a query syntax which allows to insert/attach a new set of tags (along with exiting ones) to values/rows that are already part of a measurement?

My use case: I created a measurement from PerfMon log, which already has Host=<server name> tag. Now I want to categorize the data by applications, so I want to add tags like "App1=<app name>, App2=<app name>" assuming I can have two apps host

[2015-08-31 14:20] Nurza opened #3905 "Insert too long integer: 'invalid integer'"
Hello, I am using InfluxDB 0.9.2 and I need to insert big integers in my DB, but I have this problem:

When I insert points with tiny int, it works:
[code]

But when I insert a big int (like int64), it fails:
[code]

But when I insert the same number in scientific notation it works:
[code]

Is it a bug or it's normal to be not allowed to insert a big number like this?

[2015-08-31 14:30] Nurza commented on #3905
My bad, 1e19 is a float

[2015-08-31 14:30] #3905 closed

[2015-08-31 14:32] daijithegeek commented on #77
++

[2015-08-31 15:01] pauldix commented on #2022
yeah, but the way the `last` function works would be very inefficient. Realistically, we need to have this done so people can get the most recent data point in a series efficiently.

[2015-08-31 15:09] pauldix commented on #3855
agree, good call

[2015-08-31 16:30] jwilder commented on #1129
@pauldix Not yet.  Still in progress.

[2015-08-31 17:32] brunoqc opened #3907 "[0.9.4-nightly] runtime: memory allocated by OS (2942005248) not in usable range [0x18c00000,0x98c00000)"
[code]

I'm using a new database with telegraf since a couple of days ago.

[code]

influxdb 2de059c663a971e078df733096f7dadbae1e357b
go version go1.5 linux/386

[2015-08-31 17:59] beckettsean commented on #3897
@KrishnaPG did you get errors when writing the point? Are the points being stored with the explicit timestamp in nanoseconds instead of seconds?

[2015-08-31 18:04] beckettsean commented on #3897
That point writes fine for me in 0.9.3 and has a datestamp of 2015-08-29T16:00:00Z, as expected.

[code]

[2015-08-31 18:04] #3897 closed

[2015-08-31 18:05] mjdesa commented on #3902
@jeremyVignelles thank you for reporting this. I'm getting the same error.

[code]

[2015-08-31 18:07] mjdesa commented on #3902
@jeremyVignelles in regards to `By the way, is there any way I can select all the timestamps for a measurement (optionally filtered by a where clause) ?` can you be a little more specific? An example of the functionality you're looking for would be good.

[2015-08-31 18:08] mic-kul commented on #3787
Same problem with Grafana and nightlies

[2015-08-31 18:09] beckettsean commented on #3865
@dstreppa Points in the WAL are available to queries. There's an in-RAM copy that handles queries. Does that answer your question?

Have you upgraded to 0.9.3?

[2015-08-31 18:19] beckettsean commented on #3905
@Nurza 1e+19 as an integer exceeds the maximum `int64` value of 9023372036854775807, which is roughly 9e+18. See https://influxdb.com/docs/v0.9/guides/troubleshooting.html#architectural-limits for the limits of the various data types.

[2015-08-31 18:24] beckettsean commented on #3783
Hopefully we can fix the parser to check for the existence of the tag before the field, so that the error never fires.

[2015-08-31 18:28] beckettsean commented on #3895
@corylanou any ideas what's up?

[2015-08-31 18:30] beckettsean commented on #3896
@otoolep thoughts on this Go 1.5 issue?

[2015-08-31 18:32] otoolep commented on #3896
Yeah, this looks annoying. Let me look into it.

[2015-08-31 18:32] beckettsean commented on #2955
@KrishnaPG can you please provide the steps to reproduce the issue, both the writes and the queries? I am unable to reproduce this error on 0.9.3:

[code]

[2015-08-31 18:34] beckettsean commented on #3907
@brunoqc Are you running InfluxDB on a 32-bit system?

[2015-08-31 18:37] beckettsean commented on #3895
@jlongster can you share the log file from InfluxDB at startup and when you launch the CLI?

[2015-08-31 18:38] brunoqc commented on #3907
Yes.

[2015-08-31 18:40] beckettsean commented on #3895
Works fine for me on an upgraded OS X installation. Searching for a pristine OS X box to try and recreate with a fresh install.

@jlongster Were any other copies of InfluxDB ever installed on that machine? It feels like maybe a version mismatch. No other reports from the community, either, so I'm leaning towards this issue being local to your environment somehow.

[2015-08-31 18:57] beckettsean commented on #3907
@benbjohnson @DanielMorsing another 32-bit RAM issue

[2015-08-31 19:12] benbjohnson commented on #3907
@beckettsean There's going to be a file size limit on 32-bit architectures because Bolt is mmap'd and we only have so much virtual space. Anything larger than 2GB is probably going to fail to allocate an mmap large enough.

[2015-08-31 19:16] beckettsean commented on #3907
@benbjohnson I understand we have architectural limits, I just hope we can handle them more gracefully than a panic at startup. Are we working on enforcing or at least communicating those file limits?

Is there any way for this user to recover their database or is it just hosed now with a BoltDB file that's too big for the environment?

[2015-08-31 19:27] pauldix commented on #3885
Are you guys running large queries as the writes are happening? That is, are you doing queries that count all the points in a series? Wondering if there's some contention against the BoltDB when it's trying to flush.

[2015-08-31 19:47] dswarbrick commented on #3885
I'm only occasionally firing up Grafana to check for gaps in the graph (indicating potential UDP packet receive errors). Other than that, my setup does not have any read queries at all hitting it. Also no CQ's defined.

[2015-08-31 19:52] jeremyVignelles commented on #3902
@mjdesa : I meant something like this:
[code]

The idea behind this is to provide a timeline for events that happens unfrequently (once a day for example), where the user can click to view the data (128 fields * 768 rows with the same timestamp).
Is there a way to achieve this?

[2015-08-31 20:03] otoolep commented on #3896
Easily reproducible, looking into it.

[2015-08-31 20:09] fg2it commented on #3896
thx for this. I am new to git and go and was unsure I wasn't missing something.

[2015-08-31 20:21] tlopo commented on #3885
I am having the same problem not a single query being fired up.  Trying to import a large amount of data from v.0.8.8. It imports fine for ~ 6hrs when influxdb-0.9.3 crashes, sometimes OOM.

[2015-08-31 20:35] robinjha opened #3911 "[feature request] Ability to drop tags for a database"
We have a requirement where we would need to update/delete tags for a database. Could you please provide us with an ability to do that?

This would prevent drop-down menus to be populated with older tags which no longer has data associated with it.

[2015-08-31 21:09] otoolep commented on #3896
Turns out our documentation re cloning forks needed updating. I have updated it here:

https://github.com/influxdb/influxdb/pull/3910

Please follow the instructions there to learn how to work with forks.

[2015-08-31 21:09] #3896 closed

[2015-08-31 21:16] gerrickw opened #3912 "[0.9.4-nightly-cf58c38] - 2nd day over weekend received, "fatal error: unexpected signal during runtime execution""
I started pushing data in around 2015/08/28 18:55 on Friday and appears it continued okay for ~2 days with 80-200ms writes until 2015/08/30 lunch time where 5 second timeouts hit.  After a few hours of timeouts it appears the server returned fatal error and threw stack.

I have about 162GB of influx data on disk with IO jumping high, but never running steadly capped for more than 20 seconds during

[2015-08-31 21:22] pauldix commented on #3885
@tlopo and can you lower the thresholds on the wal settings that I have listed above? Also, can you set the throttling on the import to something like 1k/sec?

[2015-08-31 21:25] benbjohnson commented on #3885
@tlopo can you SIGQUIT (CTRL-\) once influxd starts getting really slow? It feels like it's blocking on something and a stack trace might help to show what's going on.

[2015-08-31 21:31] Inisfair commented on #3316
I installed 0.9.3 in a test environment and have been inserting the same data into it in parallel.  So far at least I have not been able to cause it to fail to insert data via the graphite plugin due to a large chart request from grafana.  However, today I was reviewing the influxdb.log file and noticed the following entries in the log.

This does not appear to be related to large queries/grafana

[2015-08-31 21:32] #3574 closed

[2015-08-31 21:34] gerrickw commented on #3912
As a note, config is default with also enabling udp, but using tcp communication as was having trouble with influxdb ingesting on a late night Friday. :)

[2015-08-31 21:56] beckettsean commented on #3902
@jeremyVignelles I don't understand what would be different about the output from

`SELECT time FROM measurement WHERE time > now() - 3d GROUP BY time`
vs
`SELECT * FROM measurement WHERE time > now() - 3d`

Can you maybe give some example output showing what you are describing?

[2015-08-31 22:04] beckettsean commented on #3911
`DROP SERIES` will do what you describe. For example:

`DROP SERIES FROM my_measurement WHERE mytag = 'valid_tag_value'`

The equality in the WHERE clause will not accept a regular expression, so you will need to explicitly drop the series for each tag key-value pair, rather than being able to drop all series for a given tag key with a single query.

[2015-08-31 22:04] #3911 closed

[2015-08-31 23:08] DanielMorsing commented on #3912
At first glance, this looks like a runtime bug in go 1.5.

[2015-08-31 23:42] jhorwit2 commented on #3885
@pauldix i'm only writing during timeouts. After a restart my large database (22GB) works for a couple writes then 500s every time. I tried adjusting some settings to lower them and raise them, but both didn't fix anything.

[2015-09-01 00:40] gerrickw commented on #3885
As a note, the increasing compaction also happened on my side over the weekend, which then ended up in 500 timeouts and a stack trace.  Ticket with more details #3912 .  I am unsure if these issues are related, but thought I'd mention I see the same compaction problem listed before the stack.  At the beginning with a fresh db it was seconds and slowly grew to around an hour.

[code]

[2015-09-01 00:53] jhorwit2 commented on #3899
I ended up having to blow away my database (luckily i care more about real-time data) and changed my retention policy to be 7d to hopefully avoid this issue again.

[2015-09-01 00:54] jhorwit2 commented on #3885
Should the WAL flush an empty after a period of time? My WAL was full of 1 database and I stopped writing to it for over 24hrs yet the WAL never changed size.

[2015-09-01 01:02] jhorwit2 opened #3914 "[0.9.3] continuous queries aren't running without restart"
I had 3 continuous queries that had been running for a while just fine. I added 6 more just now and noticed they were not being executed in the logs until I did a restart on the database.

[2015-09-01 01:04] #3914 closed

[2015-09-01 01:37] huhongbo commented on #3885
I have the same problem

[2015-09-01 02:20] robinjha commented on #3911
Thanks Sean! I will give this a try.

[2015-09-01 02:52] jhorwit2 commented on #3899
Gonna close this in favor of #3885

[2015-09-01 02:52] #3899 closed

[2015-09-01 03:08] jportoles opened #3915 "[0.9.2] Reserved keywords in tags are non-queryable"
It looks like as of 0.9.2 double quoting doesn't anymore work to use reserved words in queries:

    ERR: unknown field or tag name in where clause: banana

    ERR: found GROUP, expected identifier, string, number, bool at line 1, char 68

Both should return "unknown field or tag" according to the issue [here](https://github.com/influxdb/influxdb/issues/3162#issuecomment-115863425).

[2015-09-01 04:18] sudabon commented on #3783
glad to hear that.

[2015-09-01 04:48] huhongbo opened #3917 "[0.9.3] full WAL at startup can lead to tsdb new engine timeouts"
0.9.3
[store] 2015/09/01 12:46:36 Using data dir: /var/opt/influxdb/data
[metastore] 2015/09/01 12:46:36 Node at test:8088 [Follower]
[retention] 2015/09/01 12:46:37 retention policy enforcement terminating
run: open server: open tsdb store: failed to open shard 1: new engine: timeout

and restart several times will startup successfully

[2015-09-01 05:06] jeremyVignelles commented on #3902
In the first case, you would get only the distinct timestamps, whereas the second would send all the data with the request.
The user would click on a time point afterwards, and a query like "SELECT * FROM test WHERE time = timestamp" would retrieve the actual data.
I mentioned 3days in my example query, but the timeline I would like to implement should be able to show the time points for the last

[2015-09-01 05:16] airyland opened #3918 "I can use 'user.ip','user.token' as field keys, but cannot query by them?"
`select user.ip from event`

Server returned error: error parsing query: found USER, expected identifier, string, number, bool at line 1, char 8

[2015-09-01 06:46] airyland opened #3919 "[0.9.3] influxdb just stops when backing up"

[2015-09-01 06:46] airyland commented on #3904
+1

[2015-09-01 10:45] matejzero opened #3920 "Templates not being applied"
Hello,

I'm doing some tests with InfluxDB and I'm not sure if I'm doing something wrong or if this is a bug.

So, I have a metric in collectd:
[code]
I set up my template as:
[code]

I load InfluxDB and send a test metric to database:
[code]

When I look at the data in database, I get the following:
[code]
Should it work like that? Does a wildcard `*.load` match "everything before load" or does i

[2015-09-01 11:51] zimbatm commented on #3902
@jeremyVignelles if your data is sparse it's probably better to return all the data points instead of having most timestamps filled with null. `GROUP BY time(1s)` is probably good enough otherwise.

[2015-09-01 12:19] olivierHa opened #3921 "[0.9.3, 0.9.4-nightly-d6cb017] Panic: assignment to entry in nil map"
Hello,

I had memory/cpu issues while running influxdb0.9.3, it got killed by OOM. Now on startup, it crashes with a panic error. I decided to test the nightly build, same result :

Here is the full stackstrace :
[code]

Regards

Olivier

[2015-09-01 12:20] tlopo commented on #3885
@benbjohnson  I didn't have the chance to send a SIGQUIT as influxdb crashed:
[code]
But it printed the stack trace for me, which can be found [here](http://mf.tiagolopo.org/influxdb.log.gz).

[2015-09-01 12:28] malaakso opened #3922 "[0.9.3] Non-admin can't select database in the web UI"
I have created an admin and some regular users for databases and enabled authentication. There seems to be no way for the regular users to use the web UI, since it is impossible to list or select the database they have privileges on. Maybe USE database_name should be allowed on the web UI?

[2015-09-01 12:28] Nurza commented on #3905
I understand my mistake. Thank you for this useful link.

[2015-09-01 12:53] zilman opened #3923 "[0.9.3] influxd backup /tmp/mysnapshot crashes influx and creates empty file"
#3470 - the influxd backup command creates an empty file silently (doesn't complain).

Snapshots it turns out, have to be explicitly enabled in the config.
 https://influxdb.com/docs/v0.9/administration/backup_and_restore.html

I have done so. The output is more promising.

However...

And influx crashes. This is reliably reproducible for me, every time I try to do a backup it crashes.

Linux vers

[2015-09-01 12:59] zilman commented on #3923
Duplicate #3919.

[2015-09-01 13:19] BGraco opened #3924 "[0.9.3] Retention policy not found, when it exists"
SHOW RETENTION POLICIES ON sys_log
Returns:
[code]
When I do an insert on the point below
[code]
I get: database.influxdb.client.InfluxDBClientError: 500: b'{"error":"retention policy not found"}\n'

I am currently running 4 databases, the other three have no issues, but are using different retention policies. (rp_32d, rp_90d, rp_800d)

Running on v0.9.3, same code worked with v0.9.2.

Debian ARM

[2015-09-01 14:08] zimbatm opened #3926 "[0.9.3] First or last value of `GROUP BY time(x)` is often null"
For some reason the `GROUP BY time(x)` queries always return the first value as null. (even if data is available at that time). It also does the same for larger interval.

[code]

Example response:
[code]

[2015-09-01 14:19] pauldix commented on #3885
I just added more detailed logging during compactions to see if it's the WAL or the index that is causing the slowdown. See #3925. Will be in the nightly tonight or you can build from master. Thanks for working with us to track this down.

[2015-09-01 14:23] dstreppa commented on #3865
Thank you very much for the response Sean.
I upgraded to 0.9.3. The big queries described above are still too long, instead the WAL flushes are much faster (max. 10 seconds, usually not more than 4).
Anyway, the memory will be doubled this week.

[2015-09-01 14:46] jeremyVignelles commented on #3902
@zimbatm This is what I want, select all the timestamp for all the datapoints, but I would like to remove timestamp duplicates for that, and I would expect the expression `GROUP BY time` to act this way:

- Take all the data points
- Create groups of data points which have the exact same timestamp
- Return one row per group, with the given timestamp (very quickly, of course :wink:  )

Indeed, I do

[2015-09-01 16:29] jwilder commented on #3920
For filters, you need a wildcard or value for each component of the metric.  What is happening in you case is that the metric:
[code]

With filter and template:

[code]

is not matching and the full metric name is used as the measurement name.  That is the default behavior when no templates match.  To make the template match this measurements, you need one more `*` at the front:

[code]

To answer

[2015-09-01 16:29] #3920 closed

[2015-09-01 16:32] jwilder commented on #3918
You need to double-quote `user.ip`.  Use `select "user.ip" from event`.

[2015-09-01 16:32] #3918 closed

[2015-09-01 16:34] jamesholcomb opened #3928 "Write fails for multiple points when tag starts with quote"
2015/09/01 11:28:41 InfluxDB starting, version 0.9.3, branch unknown, commit 2094f3fec17e7f675e5cacc8e984d98b1aec662d
[code]

[2015-09-01 16:46] otoolep commented on #3928
@jamesholcomb -- what would you expect to happen? The tag value has no matching quote.

[2015-09-01 16:46] otoolep commented on #3928
Do you expect the good ones to go through, and the bad ones to be dropped?

[2015-09-01 16:46] jwilder commented on #3928
@otoolep Quotes are not special in tags.  This is a valid bug.  Fix coming.

[2015-09-01 16:48] benbjohnson commented on #3885
@tlopo What settings did you use when you created your database and retention policy? From your stack trace it looks like you have about 3,000 shards.

[2015-09-01 16:48] otoolep commented on #3928
OK, thanks @jwilder -- I thought we supported quoting tag values.

[2015-09-01 16:49] jwilder commented on #3928
No.  Field values use quotes to designate strings.  Tags values are used as is.  In general, tags should not be sent with quotes.

[2015-09-01 16:59] jamesholcomb commented on #3928
@otoolep - Good ones and bad ones?  Not sure I understand what you mean.

[2015-09-01 17:02] otoolep commented on #3928
@jamesholcomb -- not to worry, I was mistaken and this is a real issue. The premise of my question was incorrect.

[2015-09-01 17:04] zelandoramen1 commented on #3539
Please add full support of NaN and +-Inf.
They are part of IEEE 754 double-precision specification
7fff ffff ffff ffff   = NaN
https://en.wikipedia.org/wiki/Double-precision_floating-point_format
Sometimes NaN and InF are used in data. For example NaN may be used to show no data from sensor.

[2015-09-01 17:19] tlopo commented on #3885
@benbjohnson I am using default settings for retention, but I have no more than 3 months worth data, ~ 8.5K series. Series are being updated @ 1minute interval. but not all of them are being updated, actually most of them are not.

[2015-09-01 17:30] pauldix commented on #3885
odd that should only be about 12 shards if you're using the default
retention policy that has infinite retention. Have you queried the data? Do
the timestamps look correct? I'm wondering if some very old timestamps were
written in and it tried to create shards for all the other times.

On Tue, Sep 1, 2015 at 1:19 PM, tlopo <notifications@github.com> wrote:

[2015-09-01 17:47] #3928 closed

[2015-09-01 17:55] beckettsean commented on #3917
@huhongbo is this a new installation or did you upgrade from a prior version?

Once the service is started are there any similar issues with opening shards?

[2015-09-01 17:56] beckettsean commented on #3917
What OS and filesystem are you using?

[2015-09-01 17:57] beckettsean commented on #3919
@airyland can you give the command you ran to start the backup, as well as the last lines in the log?

When you say "stopped" does that mean the process died, or that the process is up but totally unresponsive, or something else? Can you please clarify a bit more?

[2015-09-01 17:59] beckettsean commented on #3922
@malaakso what version of the database are you running?

[2015-09-01 18:01] malaakso commented on #3922
I'm running 0.9.3.

[2015-09-01 18:04] beckettsean commented on #3924
@BGraco if you insert a simplified point does it succeed? If you insert using the line protocol does it succeed?

[2015-09-01 18:18] beckettsean commented on #3921
@olivierHa In order to investigate we need a copy of your data. Can you make a gzipped tarball of the entire InfluxDB directory, including `/data`, `/wal`, and `/meta`?

[2015-09-01 18:20] beckettsean commented on #3917
@huhongbo how big is your WAL directory on restarts? Can you run `du -h` in the parent directory of `/data` and `/wal`?

[2015-09-01 18:25] pauldix commented on #3912
I'm wondering why there are so many calls to `WritePoints` open. Why wouldn't those be getting freed up? I'm wondering if this is related to some of the other WAL/Storage engine related issues a few people have been reporting.

[2015-09-01 18:39] beckettsean commented on #3881
@jipperinbham that is a different issue than the initial one reported here. Can you open a new issue and include steps to repro, possibly including a copy of the `/data` directory?

[2015-09-01 18:39] tlopo commented on #3885
@pauldix  sorry it's actually 5 months worth data:
[code]

[2015-09-01 18:43] fg2it commented on #3755
@otoolep @mvadu
Here is what I have in mind for these package.sh options :
[code]
- It preserves current semantics, so this works as before
[code]
- `-t` allows to build only listed package formats
[code]
and address the original issue raised by mvadu by the mean of switch.
- `-p` is meant do address simple builds without any tagging, or publishing. Use case is typically someone wanting to build i

[2015-09-01 18:48] tlopo commented on #3885
@pauldix , I don't know if the files in the filesystem reflects the number of shards but, that's what I have on v.0.8.8:
[code]

[2015-09-01 18:53] #3741 closed

[2015-09-01 18:53] otoolep commented on #3722
Fixed by https://github.com/influxdb/influxdb/pull/3931

[2015-09-01 18:55] pauldix commented on #3745
@DanielMorsing can you do more investigation on this? What would be the impact of your preferred way of doing things? We still have a ton of keywords and I'm guessing that the number is going to go up a bit over time.

[2015-09-01 18:55] beckettsean commented on #3709
Believed fixed by 0.9.3 performance changes.

[2015-09-01 18:55] #3709 closed

[2015-09-01 18:57] pauldix commented on #3748
We added some additional compaction logging that will be included in the nightly tonight at 12:00 PT. Can you upgrade to that and post some of the log output for what the compaction times look like?

[2015-09-01 19:02] mvadu commented on #3755
@fg2it I agree that your suggestion makes mist sense as it makes life easier for everyone building on platforms not supported by core team. But I think the team needs us to contribute by coding and submitting a pull request. Do you have time/expertise to do that? I am currently in middle east, far away from home. I can can try implementing it once I am back at home.

[2015-09-01 19:09] fg2it commented on #3755
@mvadu Just wanting to get input before submitting PR. I already have a branch implementing these suggestions.

[2015-09-01 19:15] beckettsean commented on #3915
Duplicate of https://github.com/influxdb/influxdb/issues/3547, fixed in 0.9.3

[2015-09-01 19:15] #3915 closed

[2015-09-01 19:17] beckettsean commented on #3902
@jeremyVignelles It sounds like you want something more or less like `SELECT DISTINCT(time) FROM ...` to get a list of all the times at which one ore more points exist.

Please open a feature request in a new issue for that, as this one is now about preventing the panic from the incorrect query.

[2015-09-01 19:21] beckettsean commented on #3539
@zelandoramen1 please make a feature request in a new issue rather than commenting on a closed issue.

[2015-09-01 19:32] beckettsean opened #3932 "[0.9.3] invalid timestamp format should throw parser error, not be ignored"
When giving explicit timestamps in queries they must be single-quoted:

[code]

Double-quoting returns results as if there were no time restriction at all:

[code]

[2015-09-01 19:33] corylanou commented on #3932
We should specifically return an error if we detected a literal (double quotes instead of single) and error with something like `time literals need to be single quoted, not double quoted`.

[2015-09-01 20:03] MartinSeeler opened #3933 "[0.9.3] Wrong results with numerical comparison"
It seems that the evaluation of the expression or the parsing of numerical values in the  `WHERE` clause in 0.9.3 are a bit off.

Steps to recreate:
[code]
This query works as expected:
[code]
This query should not return any data, since `1.01234` is not greater than `1.01235`.
[code]

[2015-09-01 20:06] beckettsean commented on #3926
There's definitely something amiss with the first bucket in the returns, but not always:

[code]

Notice the value of 9 for '2015-09-01T20:01:40Z'.

Query again a few seconds later. Everything else is the same but the "1:40" bucket is null.

[code]

Query again a few seconds later, and now the "1:50" bucket is first and is null, instead of 18.

[code]

[2015-09-01 20:07] beckettsean commented on #3926
It actually can affect the first and/or last bucket:

[code]

[2015-09-01 20:09] beckettsean commented on #3926
This doesn't seem to happen for queries with explicit lower and upper time bounds.

[2015-09-01 20:10] beckettsean commented on #3904
This feature would require a fairly major architectural change to the database and is not something we will do this year, if ever. Closing the request for now.

[2015-09-01 20:10] #3904 closed

[2015-09-01 20:16] beckettsean commented on #3903
@dstreppa it's a reasonable request but not possible due to the internal architecture of the system. There is no central record of all measurements that exist.

[2015-09-01 20:16] #3903 closed

[2015-09-01 20:24] beckettsean commented on #3933
I used the same point and can repro. It looks like a precision issue of some sort:

These queries behave as expected:

[code]

These two should return nothing, but return the point instead:

[code]

Even though the DB somehow evaluates 1.0125 < 1.01234, it agrees that 1.0126 is > 1.01234

[code]

[2015-09-01 20:26] DanielMorsing commented on #3745
It's mostly a case of defining all the scopes for where we expect a keyword now and putting in predeclared identifiers. Shouldn't be too hard.

[2015-09-01 20:30] beckettsean commented on #3865
@dstreppa pulling one of your queries out of the logs it looks like this:

`SELECT mean(value) FROM "trevano_HH00_roofhouse" WHERE item='PV' AND signal='I_a' AND time > now() - 30d GROUP BY time(30m) ORDER BY asc`

That's a 30 day historical query, which pulls all 3.9 million data points off disk. It's a very expensive one to run over and over. Instead, just run it once with a continuous query and

[2015-09-01 20:30] #3865 closed

[2015-09-01 20:32] beckettsean commented on #3900
@ziyel We need to take a look at your data to properly investigate this. Can you make a gzipped tarball of your `/data`, `/wal`, `/hh`, and `/meta` directories and share it with us? Please email support@influxdb.com if you prefer to share that data in private.

[2015-09-01 20:36] beckettsean commented on #3880
@The-Nik you can use `SHOW TAG VALUES` plus some shell to get what you want:

`$ influx -execute 'show tag values with key = a' -database mydb` will print a list of all tag values associated with the key `a` on the database `mydb`. The output has two header lines, so if you pass it to `wc -l` just subtract 2 for the actual count:

`$ influx -execute 'show tag values with key = a' -database mydb |

[2015-09-01 20:36] matejzero commented on #3920
Hey there,
thanks for all the answers. It will really help me tomorrow finish up the configuration.

I guess only one problem exists and that is the splitting of the interface. Unfortunately I don't know all the interfaces, since they are different on different servers and the way that collectd send the metrics, they are named like this.
Diamond is superior in this case, since his metrics name is

[2015-09-01 20:41] beckettsean commented on #3551
@erikogenvik I just realized that the examples we've been working on recently are using `DROP SERIES` not `DROP MEASUREMENT`. The `DROP SERIES` issue already exists: https://github.com/influxdb/influxdb/issues/3087.

Cannot repro the original `DROP MEASUREMENT` issue, closing.

[2015-09-01 20:42] jwilder commented on #3920
No problem.  There is no way to use a regex or split the values on any char at the moment.  If you want to log a feature request with your sample data and what you are trying to achieve that would be great.

[2015-09-01 20:56] otoolep commented on #3755
@fg2it -- those kind of switches would be great, and exactly the kind of thing I'd propose myself. If you put something together, we'd be interested. I'm pretty sure we'd merge.

[2015-09-01 21:05] otoolep commented on #3741
FWIW, I am still working on this issue. Right now I am adding stats and diags to the system, and specifically instrumenting the Graphite input first. See https://github.com/influxdb/influxdb/pull/3916 for more details.

Once this is in place, I hope it will bring more quantitative details to the discussion about Graphite performance.

[2015-09-01 21:33] jhorwit2 opened #3936 "[0.9.3] field and tag with same name cause issues"
I have a tag & field with the same name (already made them different). I'm wondering if it even should be allowed as it breaks querying and doesn't make too much sense.

[code]

produces

[code]

when family is a tag and field.

[2015-09-01 21:36] Zolmeister opened #3937 "Backup and restore to running remote machine"
Having to shut-down the database to restore a backup does not work with our docker cloud setup where availability is important.
Also, it seems silly to require snapshots to be enabled in config. All production environments should be running data backups.

A more powerful remote backup solution would be extremely useful.
See RethinkDB for an example of a simple but effective backup strategy

http:/

[2015-09-01 23:03] beckettsean commented on #3936
duplicate of #3783

[2015-09-01 23:03] #3936 closed

[2015-09-01 23:39] aheusingfeld commented on #3710
@deric did you solve your issue? I seem to have exactly the same problem with the 0.9.3 deb package running in the https://registry.hub.docker.com/u/tutum/influxdb/ container having the /data/meta folder mounted onto my case-insensitive OS X filesystem.

@beckettsean Will try to build an image where it is reproducible

[2015-09-01 23:57] rkuchan opened #3939 "[0.9.3] Acceptable boolean syntax differs for data writes and data queries"
I'm able to insert data with the following booleans:

[code]

[code]

When I attempt to query with `t` ,`T`, or random string I get unexpected results, eg.:

[code]

[code]

[code]

[2015-09-02 01:42] huhongbo commented on #3917
@beckettsean this is a new installation and once the service is started ,everything is fine
centos 7.1 with xfs
9.8G	data/metrics/default
9.8G	data/metrics
9.8G	data
0	hh
0	meta/snapshots
40K	meta
70M	wal/metrics/default/1
70M	wal/metrics/default
70M	wal/metrics
70M	wal

[2015-09-02 03:28] jipperinbham opened #3941 "InfluxDB 0.9.3 panics when running backups"
This seems to be related to when we are attempting to backup the database
[code]

See the [full stacktrace](https://gist.github.com/jipperinbham/06b6654d418e6541dd40) for the gory details.

[2015-09-02 03:28] jipperinbham commented on #3881
@beckettsean done, https://github.com/influxdb/influxdb/issues/3941

[2015-09-02 06:06] KiNgMaR commented on #3748
It looks as if the WAL is now processing smaller chunks in the latest nightly. However, the memory usage seems to have gone up. After twenty minutes, RSS grew from 5 to 10 GB and it's not going down. This is without any CQs. More details on my setup are here: https://github.com/influxdb/influxdb/issues/3728#issuecomment-135773090 - and here's the log from just now: https://gist.github.com/KiNgMaR/

[2015-09-02 06:12] mvadu commented on #3755
@fg2it Please update master/CONTRIBUTING.md as well. Currently package.sh is not documented at all. But with your changes it can be part of official documentation (not on main web, but on github). My be just adding what you wrote yesterday is good enough.

@otoolep please confirm.

[2015-09-02 06:20] mvadu commented on #3904
Please consider this during your next architecture review. I think this would be required in many enterprise  situations, where you f**k up while inserting values, and realize it later. Having an option ti update would be a life saver!

[2015-09-02 06:30] otoolep commented on #3755
Sure, I'm OK with mentioning `package.sh` in `CONTRIBUTING.md`. A one-line statement telling the user about the script, and to check the help output of the script for more details should be sufficient and the most maintainable.

[2015-09-02 06:32] otoolep commented on #3748
@KiNgMaR -- to pick up the latest WAL logging you'll need to run with the nightly build that will be generated in about 30 minutes.

[2015-09-02 07:40] deric commented on #3710
I've upgraded to some nightly release, lost most of my data (that release was behaving really strangely, parts of timeseries were missing). Anyway now I'm running on `0.9.3-rc3` and the same error haven't occurred yet.

[2015-09-02 08:05] hkrizek opened #3944 "[0.8.9-1] Does not start after RPM installation"
I downloaded influxdb rpm http://get.influxdb.org.s3.amazonaws.com/influxdb-0.8.9-1.x86_64.rpm.
run rpm -ivh influxdb-0.8.9-1.x86_64.rpm but it did not start
Log file is empty.

I tried also previous version 0.8.8-1, which started perfectly

Linux version 2.6.32-504.8.1.el6.x86_64
Red Hat Enterprise Linux Server release 6.5

[2015-09-02 08:11] KiNgMaR commented on #3748
@otoolep -- thanks for the hint, but the new log entries from 040fa060dfab7f31a69decdaabad86dcb2306772 already are in the log I posted :)

[2015-09-02 08:42] dswarbrick commented on #3885
I just installed 0.9.4-nightly-14c04eb but it fails to start with:
[code]
I tried reverting to version 0.9.3, creating the _internal database by hand, and then upgrading again, but it still does not work. For now I've had to disable the new monitoring, which sorta defeats the purpose of running this version.

[2015-09-02 08:42] jacekgrzybowski commented on #3551
@beckettsean it happened in my unit test, but I was able to reproduce it in a way I posted in the opening post of this issue. However here's a sample of my `ruby` unit tests which use `influxdb-ruby` client lib.

    require 'test_helper'

    class ServiceStatusTest < ActiveSupport::TestCase

      setup do
        @service = services(:six)
        @influx = InfluxSource.connect
        initializ

[2015-09-02 09:42] jeremyVignelles opened #3945 "[feature request] select distinct data point times from database"
Hi,
It would be nice to have a syntax like this one:

[code]

or this one

[code]

to select the data point times, in order to show a timeline to the user, on which he can click to show the data at this time point.

See #3902

[2015-09-02 09:57] shaileshswapnil opened #3946 "[0.8.8] Influxdb service crashed and disappeared from process list"
Hi All,
I was running continuous I/O in my application and was recording all the points which are being generated. Suddenly after a long time, influxDB service got stopped working. Suddenly it got disappeared from the ps command. Now If I am trying to start the service, it is starting fine but after few seconds, it is failing again. No idea about this behavior of influxDB.

I am using influxDB wit

[2015-09-02 10:02] zimbatm commented on #3926
I can confirm I also saw the null timestamp in the front but I wasn't sure if maybe the data hadn't synched between the various nodes yet.

[2015-09-02 10:36] dstreppa commented on #211
+1

[2015-09-02 10:56] dstreppa commented on #3865
@beckettsean I see the problem. I am already trying CQ solution, and it works fine. Unfortunately there are two negative aspects:
* I have ~4 months of data without CQ and it seems to me it is not possible to recalculate CQ on data already in DB  (#211 and https://influxdb.com/docs/v0.9/query_language/continuous_queries.html). My fault, due to my limited experience outside SQL-world :)
* The minim

[2015-09-02 11:50] pauldix commented on #3885
@otoolep, can you have a look at the monitoring issue that cropped up with last night's build?

[2015-09-02 14:09] otoolep commented on #3885
Absolutely will look into it, that shouldn't happen.

In the meantime add store-enabled=false to the config, section named
monitor, to prevent creation.

https://github.com/influxdb/influxdb/blob/master/etc/config.sample.toml#L96

That should unblock you.

On Wednesday, September 2, 2015, Paul Dix <notifications@github.com> wrote:

[2015-09-02 14:19] otoolep commented on #3885
@dswarbrick -- oh, I see you actually disabled monitoring to unblock yourself. Good. There is nothing in this build monitoring-wise which will help you, so don't worry too much about disabling it.

[2015-09-02 14:32] jwilder commented on #3946
I would suggest checking the server log and you your syslog ('/var/log/syslog') for some indication as to why it crashed.

[2015-09-02 15:27] brettdh commented on #3756
I think that the `tag1.tag2.tag3` behavior earlier must have been user error. I was forming the CQ with `','.join(...)` in python, and the first thing I checked was whether I had accidentally done `'.'.join(...)` instead. I didn't think I had done that, but I can't reproduce the behavior, and if I do `GROUP BY time(5m), tag1.tag2.tag3`, I get the behavior I described. So I will go ahead and blame

[2015-09-02 17:27] beckettsean commented on #3944
@hkrizek the application doesn't start automatically after installation, you still need to start the service.

What is the output in the shell from `rpm -ivh influxdb-0.8.9-1.x86_64.rpm`? Is the package installed? What is the output in the shell from `sudo /etc/init.d/influxdb start`?

Please see https://influxdb.com/docs/v0.8/introduction/installation.html#redhat-centos for how to install 0.8.9

[2015-09-02 17:29] beckettsean commented on #3551
Thanks for the clarification, @jacekgrzybowski. I'll reopen the issue, but InfluxDB is not optimized for deletes, and certainly not for rapidly deleting and then recreating a measurement. I do understand the use case for automated testing but it's not an actual real-world issue. This might be something we don't fix for a while.

[2015-09-02 17:42] beckettsean commented on #3865
That is correct. We will be implementing backfill for CQs soon, possibly in the 0.9.5 release.

That is not expected behavior. I've successfully run CQs with `GROUP BY time(1s)`, so I know it does function. Are your timestamps out of date when being written? If your timestamps are 30 minutes old by the time they hit the database then CQs grouping by less than 30 minutes would never see any matchin

[2015-09-02 17:51] beckettsean commented on #2022
@jwilder are you just wiring up ASC and DESC for ORDER BY time, or will you also add ORDER BY tag in this iteration?

[2015-09-02 17:53] beckettsean commented on #3919
closing as duplicate of #3700

[2015-09-02 17:53] #3919 closed

[2015-09-02 17:54] beckettsean commented on #3941
duplicate of #3700, #3919, #3923.

[2015-09-02 17:54] #3941 closed

[2015-09-02 18:13] jwilder commented on #2022
@beckettsean Just time.

[2015-09-02 18:27] beckettsean opened #3954 "[feature request] ORDER BY tag values"

[2015-09-02 18:27] beckettsean commented on #2022
Added https://github.com/influxdb/influxdb/issues/3954 for ORDER BY tag

[2015-09-02 18:37] otoolep commented on #3748
OK, thanks @KiNgMaR -- the log looked like it was a built image:

`2015/09/02 07:44:23 InfluxDB starting, version 0.9.4-nightly-14c04eb, branch master, commit 14c04eb4d62c89b725376afaf2195cfe09029933`

[2015-09-02 18:55] otoolep commented on #3677
For the record, still happening.

https://circle-artifacts.com/gh/influxdb/influxdb/5438/artifacts/0/tmp/circle-artifacts.GOc3MlF/test_logs.txt

cc @jwilder @benbjohnson

[2015-09-02 19:08] hkrizek commented on #3944
@beckettsean I run it again to copy paste screen for you, nothing suspicious, no additional output, see:
https://gist.github.com/30967e782e1620feed6d.git

[2015-09-02 19:26] beckettsean commented on #3944
Thanks for clarifying, @hkrizek, I can repro on a CentOS system. My log file is empty and the process won't stay up. Do you have anything in the logs at `/opt/influxdb/shared/log.txt`?

[2015-09-02 19:28] beckettsean commented on #3944
Same issue for me on a clean CentOS box:

[code]

`/opt/influxdb/shared/log.txt` exists but is a zero byte file.

If I try to launch the binary directly I get the following error:

[code]

@corylanou any thoughts?

[2015-09-02 19:47] hkrizek commented on #3944
`/opt/influxdb/shared/log.txt` is empty

lastlog returns:
`influxdb                                   **Never logged in**`

[2015-09-02 20:35] BGraco commented on #3924
I was able to insert points into the same database and retention policy but with different keys/values/tags.

I can insert the original points using the line protocol.

I suppose moving my project to the line protocol is the best option as that is the direction influx is heading.

[2015-09-02 20:38] beckettsean commented on #3924
@BGraco it does sound like the problem is coming from an interaction between the JSON write and the contents of the strings in that particular point. The JSON write protocol is deprecated and will not be present in 1.0, so moving to the line protocol makes sense.

[2015-09-02 20:45] beckettsean commented on #3917
Most likely the load times from the WAL occasionally exceed the timeouts for starting the engine. You can try lowering the absolute size of the WAL to prevent the errors

[2015-09-02 21:39] Jhors2 commented on #3954
+1, would love this.  Would also like to pass more than 1 tag to the order by operation so they are alpha sorted first by tag1 then by tag2, etc.

[2015-09-02 22:18] iansmith opened #3960 "[0.9.4-nightly] possible "catch up" bug with nodes down in a cluster"
[I'm pretty new to influx, so please close if this is silly.]

I'm running a cluster of 3 nodes, per the instructions in the docs on how to create a cluster, on Ubuntu 14.10:
[code]

These are all amazon ec2 instances, connected via a security group.  I wanted to see if a writes to working nodes A or C in the cluster while node B was down would eventually get "corrected" when B returns.  Can I run

[2015-09-02 22:28] Jhors2 commented on #3960
I have noticed the same actually.  It appears from logs that a whole slew of connections from the cluster members that were up to the dead node occur, writes occur, and are then closed.  However it doesn't seem that the member ever actually gets back into a syncd state.

I verified the raft key is set to true on all servers in the cluster by looking at "show servers"

[2015-09-02 22:29] beckettsean commented on #3960
@jwilder something amiss with hinted handoff?

[2015-09-02 22:41] beckettsean opened #3961 "[0.9.2] inconsistent results for SHOW MEASUREMENTS query"
From a support ticket (1183)

----------------
I am getting strange results when using show measurements while using "where tag-key = tag-value"

for example
SHOW MEASUREMENTS WHERE node = 'ABSFU' AND system = 'LB301'

If I run
SHOW SERIES WHERE node = 'ABSFU' AND system = 'LB301'

It gives a result that looks like this

MV
_keybuildingnodeorig_tagroomsystem
MV,building=A0095048,node=ABSFU,orig_ta

[2015-09-02 22:42] beckettsean commented on #3961
Single node cluster.

[2015-09-02 22:42] yuan0122 opened #3962 "[0.9.2] Duplicate points displayed with same timestamp and same tags for minutes"
I met this issue when I tried to overwrite an existing point. I use InfluxDBClient (http://influxdb-python.readthedocs.org/en/latest/include-readme.html) to write to InfluxDB. Following are the python command lines:

True

True

You can see that json_body1 and json_body2 have totally the same timestamp and same tags, then when I checked with InfluxDB, I got the following:

name: xxxxx
tags: task=a

[2015-09-02 22:50] beckettsean commented on #3962
Thanks for the reproducible steps, @yuan0122. I was unable to repro on my OS X box using the CLI, perhaps it's related to the python client, although I'm not sure that makes any sense.

[2015-09-02 23:05] beckettsean opened #3964 "[feature request] wrap all identifiers in double-quotes in admin UI templates"
E.g. have the template be `DROP RETENTION POLICY "rp_name"` instead of `DROP RETENTION POLICY rp_name`

[2015-09-02 23:09] atulguptaag opened #3965 "[0.9.3] InfluxDB crashes on bringing up multi-node cluster"
InfluxDB was built from source at version 0.9.3

I am bringing up a multi-node cluster. This is the first time the instances are being launched - so there is no prior data. The first instance crashed on the initial execution and it crashes at subsequent launches as well. The crash is always at the same code location.

Here is the relevant logs snippet:
[code]

[2015-09-03 01:17] #3964 closed

[2015-09-03 01:42] jhorwit2 opened #3967 "[0.9.3] High Memory Consumption and weird WAL behavior."
I started to notice since my upgrade to 0.9.3 that my memory usage has gone up significantly. The box I'm running only has about 10GB of ram, which was never an issue in the past; however, on the new release I notice that memory usage constantly goes up during the day until an OOM at night (current trend). The only way I can fix the memory issue is to clear my WAL directory completely on a restart

[2015-09-03 02:12] otoolep commented on #3967
Thanks @jhorwit2 -- what kind of load are you putting on the system? Which input? Are you batching? How many different series?

[2015-09-03 02:18] jhorwit2 commented on #3967
The database that has issues gets about 2k points per second across 3 series with a heavy emphasis (probably 75% going to 1 series). The points are batched, sorted, etc. The series have about 5 tags each.

Here is an example point (minus a few other tag fields)

![image](https://cloud.githubusercontent.com/assets/3876739/9649264/7e8424d0-51c0-11e5-9c46-21da83ec3454.png)

[2015-09-03 02:20] otoolep commented on #3965
What commit did you build? Do you mean you built the 0.9.3 branch? A fix went into master recently that may address this issue.

[2015-09-03 02:21] otoolep commented on #3967
I suspect you have more than 3 series, I think you mean 3 Measurements, right?

[2015-09-03 02:22] jhorwit2 commented on #3967
I also noticed today that the write times progressively get slower as the day progresses. It starts at a normal sub 50ms time and before i turned it off this evening we were at an 800ms mean time with 95% percentile above 1.5s.

And yes, sorry. Long day haha.

[2015-09-03 02:23] dgnorton opened #3968 "results not always in same order with aggregates that have `group by *`"
[code]

Can be reproduced by running this script multiple times until it fails:  https://gist.github.com/dgnorton/b944f413d159c6d18957
Or, run the script once and then use the CLI to run `select * from rp0.cpu` multiple times.

[2015-09-03 02:24] jhorwit2 commented on #3967
My smaller databases seem unaffected for the most part though as they keep writes below 80ms all day.Those smaller database maybe see 1 point per second.

[2015-09-03 02:39] jhorwit2 commented on #3967
When you say `how many series` what do you mean exactly? `time series` and `measurement` are synonymous depending on which version of the docs you remember lol. You mean how many metric points?

[2015-09-03 02:45] otoolep commented on #3967
Everything is specifically defined here:

https://influxdb.com/docs/v0.9/concepts/glossary.html

[2015-09-03 03:02] jhorwit2 commented on #3967
Each point has 4 tags (releaseVersion, edge, valid, browser). Some quick looking I have `216, 2, 2, 126` possible tag values for each, respectively. Which leaves us with ~100k possible combinations.

[2015-09-03 03:30] atulguptaag commented on #3965
I had built the 0.9.3 branch. Which fix may have addressed this issue? Are these the changes titled  "convert meta shard owners to objects" committed on Aug 31?

[2015-09-03 03:36] otoolep commented on #3965
https://github.com/influxdb/influxdb/commit/f72fd247b5f1bb1b9374981c7bfcf1db1e073f46

Build master, or download a nightly build, and see if you still see the issue.

https://influxdb.com/download/index.html

[2015-09-03 03:51] atulguptaag commented on #3965
Got it. Will update after I try that out.

[2015-09-03 04:18] marcogallotta commented on #3528
We are also experiencing very similar symptoms on 0.9.3, with the addition that we are also maxing out CPU. Is there any extra data we can provide to help diagnose this?

[2015-09-03 08:30] dstreppa commented on #3865
@beckettsean I also think the problem is due to out-of-date timestamps. When inserted in DB, the data can have timestamps 60 minutes old. As said before, unfortunately I can't change the acquisition procedure.

[2015-09-03 11:28] diiidiii opened #3970 "Logrotate for Influxdb"
I think logrotating could be useful for influxdb... Is something planned?

[2015-09-03 12:29] calmh opened #3971 "[0.9.3-rc1] Runs out of fd:s, memory when importing a smallish dataset (Solaris, though)"
Hi,

I'm attempting to run InfluxDB (v0.9.3-rc1-262-gc1d2f11, current master) on Solaris - more specifically SmartOS. I compiled from source using Go 1.5, and things seem mostly fine. However, when importing data from my older InfluxDB 0.8 instance (massaged into new format and schema, in batches of 4000 rows), I run into an open file limit. The Solaris default open file limit is 65536. I understa

[2015-09-03 12:43] calmh commented on #3971
Hmm, I can get past this by increasing the limit to a million fd:s, and perhaps that's by design so it's fine. Instead, I run out of memory some ways into the import when the influxd process hit's 16 GB (the limit of this container). I wonder what's going on here, as I'm trying to import about two million rows only, about 100 megs of data in text format, which should be much more verbose than the

[2015-09-03 12:57] szop85 opened #3972 "[0.9.3] select * from df_value -> out of memory"
We are having trouble querying some data because our InfluxDB instance is crashing after a select query. We are using collectd 5.5 to put df data metrics into our InfluxDB.

[code]

Cheers,
David

[2015-09-03 13:17] corylanou commented on #3968
Is this a `group by *` issues or a `select *` issue?  The title is confusing me.

[2015-09-03 13:20] olivierHa commented on #3967
I got the same behaviour.
Since I've upgraded to 0.9.3, influxdb eats "memory"
Using 0.9.2, "only"  1 go real memory was used. Now it takes more than 4Go with the exact same plugin/traffic.

[2015-09-03 13:22] olivierHa commented on #3921
I've sorry, I can't. To be able to get my cluster online, I had to delete the whole content of the /wal directory.

[2015-09-03 13:26] dgnorton commented on #3968
@corylanou the result of the `select *` above comes from a CQ that did a `select count(value) into rp0.cpu from cpu group by time(5s), *`.  I think what's happening is that the `group by *` part caused it to be split out by unique tag sets.  Selects only guarantee deterministic ordering by two fields: timestamp and then value (I think).  In the case above, both timestamps and values are the same a

[2015-09-03 13:28] corylanou commented on #3968
Ah, that makes sense.  I don't think any "sorting" is wired up besides the time/value as you stated.  I have a lot of that "magic" worked out in some of my functions.  It's a bit of a beast though because of the fact that all values are interfaces.  However, for a first pass, we could settle for sorting on `time`, `value`, `seriesID`.  That would solve this bug for now at least.

[2015-09-03 13:51] The-Nik commented on #3880
Yeah, this is a good way. But in my case, I need the number in Grafana in a single stat panel. In Grafana, there are some aggregate fuctions but no "count". So InfluxDB has to serve the exact value or I build something in my Grafana like a count-function ;-)

[2015-09-03 14:03] dgnorton commented on #3968
@otoolep and @DanielMorsing have done work in this area recently.  Getting the ordering right without killing query performance has to be handled with care.  E.g., adding a single integer comparison for `seriesID` in the point heap `Less` method could slow many queries by 20+%.  @otoolep also brought up the concern that ordering by `seriesID` would not yield deterministic results between two separ

[2015-09-03 14:09] corylanou commented on #3968
Yeah, also realized that seriesID is meaning less as you probably need to sort based on column order (which makes more sense to me) and not on seriesID, which is not the same order as what a user can ask for.

[2015-09-03 14:39] otoolep commented on #3970
https://github.com/influxdb/influxdb/issues/1943

[2015-09-03 14:39] #3970 closed

[2015-09-03 14:55] otoolep commented on #3972
How many points do you expect to come back? Do you know how many you have
written?

Philip

On Thu, Sep 3, 2015 at 5:57 AM, David Jarosch <notifications@github.com>
wrote:

[2015-09-03 15:04] szop85 commented on #3972
Round about 20000 points.

Cheers,
David

[2015-09-03 15:32] jniltinho opened #3973 "Add Service Systemd Centos 7 OpenSUSE 13.2"
[code]

[2015-09-03 15:37] otoolep commented on #3972
Thanks @szop85 -- how many fields per points? 20K points is not many. We need much more detail about your system, such architecture, CPU cores, distro, and RAM.

[2015-09-03 15:56] corylanou commented on #1821
@pauldix

[code]

[code]

To summarize the above, we have

- 4 `host=a`
- 4 `host=b`
- 3 `host=c`

So we need to return at least one value for each  `a`, `b`, and `c`.

The question is how do we determine the next two values?  Are they the next top regardless of host?
Are then the next top uniquely for `a`, `b`, `c`? and pick the top 2 out of those 3?

I'm going to move forward with always the top

[2015-09-03 16:06] sphadley opened #3974 "[0.9.3] Line Protocol only inserting tags, but not values"
influx 0.9.3 and 0.9.2
CentOS 6.6
Single Node

This is not happening 100% consistently, but about 80% the time on two of our measurements, when we use the line protocol, it only inserts tags and not values.  This manifests itself by when you query the the measurement with a select statement is says "Success! (no results to display)", but when you use the "show tag keys" and "show tag value" they a

[2015-09-03 17:13] corylanou commented on #1821
Also, I think your last result on the previous comment should be:

[code]

[code]

not
[code]

[2015-09-03 17:31] cnelissen opened #3976 "[feature request] RATE function"
Are there any plans to implement a RATE function or similar functionality? What I need is to be able to calculate the rate for a certain event. For example:

Insert some event data every 1 minute:
clicks value=100 2015-09-02T22:40:00Z
clicks value=125 2015-09-02T22:41:00Z
clicks value=181 2015-09-02T22:42:00Z
clicks value=112 2015-09-02T22:43:00Z
clicks value=205 2015-09-02T22:44:00Z

Now I want t

[2015-09-03 17:33] #2555 closed

[2015-09-03 17:41] Jhors2 commented on #3967
+1, We have about 700K+ series, with 20 or so measurements.  This seems like a memory leak.  We have 64GB of RAM in our box.  It takes about 12 hours to completely run out of memory then the process is OOM killed by the system.

[2015-09-03 17:41] jlongster commented on #3895
https://gist.githubusercontent.com/jlongster/61ea327f2eb37639d8d1/raw/7e32d57f885eb21d7ef5620c979a9ee124b81142/gistfile1.txt

I know it's running as root, I'm just playing around on my local machine. Yeah, I was surprised to not find any other issues about it.

I've never installed influxdb before ever, so it can't be version mismatch. Did you try on 10.9?

[2015-09-03 17:57] jniltinho commented on #3973
Systemd init not run,

[code]

[2015-09-03 18:07] matejzero commented on #3920
Just in case someone comes along the same problem, I solved it with the use of another collectd plugin (write_opentsdb). There is currently a pull request, but its stable and I expect it to be merged to master soon.

[2015-09-03 18:13] lexh commented on #3040
Should this respect a `WHERE` clause involving time? I'm a bit confused by the semantics of `SHOW` vs. `SELECT`. Intuitively, I want to fetch all of the tag values from a measurement subject to some constraints (i.e. `WHERE` clauses). But I want one of those restraints to be time. E.g. something like: `SHOW TAG VALUES FROM anomaly_detection WITH key=type WHERE metric='some_metric' AND anomalous='T

[2015-09-03 18:48] beckettsean commented on #3921
@olivierHa okay, thanks for looking. We haven't been able to repro this locally, has it happened to you again?

[2015-09-03 18:50] olivierHa commented on #3921
not yet, I am fighting with the memory issue right now.
Maybe next time,oom will kill the influxdb process :(
Then I will keep my /wal directory :D

2015-09-03 20:48 GMT+02:00 Sean Beckett <notifications@github.com>:

[2015-09-03 18:57] beckettsean commented on #3974
@sphadley can you use the CLI to make the `SELECT` queries and paste the output here?

Are the results of `SELECT COUNT(value) FROM ...` what you expect them to be?

How many points are you writing to the database?

[2015-09-03 19:07] beckettsean commented on #3040
@lexh You can mostly get what you want with an actual SELECT query:

`SELECT value, type FROM anomaly_detection WHERE metric='some_metric' AND anomalous='True' AND time > now() - 6h`

You must include at least one field in the `SELECT` clause, but you can ignore that in the return. You will get all values for `type` including duplicates. `DISTINCT` doesn't operate on tags yet (https://github.com/i

[2015-09-03 19:27] mjdesa commented on #3960
@beckettsean @iansmith I was able to repro the issue. Here are the steps

1. Launch a cluster (verify that its healthy)
2. Create a database
3. Take one of the nodes down
4. Write 1 million points to the cluster
5. Check that the other two nodes received all the points `select count(value) from cpu`
6. Bring up the node that was down. Wait a few minutes while the points propagate.
7. Query the nod

[2015-09-03 19:27] sphadley commented on #3974
I get an empty line from the command
[code]
For
[code]
We get
[code]
From
[code]
We Get
[code]

Our Dev database writes on average maybe 3000 records an hour, but we recreated with the situation above with only 4 records.

Thanks in advance for you help

[2015-09-03 19:28] lexh commented on #3040
Ah, I see. Thanks for the suggestion, that will work for me for the time being. I will ruminate on this and possibly open a new issue once I've organized my thoughts.

[2015-09-03 19:28] beckettsean commented on #3921
Thanks for continuing to test the database, @olivierHa, and we hope to have some fixes for OOM in the RC landing tomorrow.

[2015-09-03 20:16] mjdesa commented on #3960
After letting it sit for a while it seems as if the points are still missing.

[2015-09-03 20:20] mjdesa commented on #3960
Also one thing to note is that the number of missing points is very clean. When I wrote 2 million points the number of points that the third node was reporting was `19345000`. The results were similar for 1 million points.

[2015-09-03 20:41] beckettsean commented on #3960
It sounds like entire batches are failing to replicate, not just individual points within a batch.

@jwilder seems like something is amiss with hinted handoff. What other testing can we do or what details can we provide to help characterize it?

[2015-09-03 20:45] beckettsean commented on #3974
Can you paste in the results of `SHOW RETENTION POLICIES ON lumberjack_DEBUG`

[2015-09-03 20:49] sphadley commented on #3974
[code]

[2015-09-03 20:52] eliperelman commented on #3844
I am able to reproduce this, or something like it locally using a brand new database. Some tables seem to be available instantly while others take several minutes. I've noticed that if I tried writing data several times that it starts to resolve.

[2015-09-03 20:54] beckettsean opened #3978 "[0.9.3] (regression) cannot use GROUP BY * with more than a single field in SELECT clause"
Using `GROUP BY *` with more than a single field in the `SELECT` clause leads to `ERR: error parsing query: wildcards can not be combined with other fields`

[code]

All good to this point. Now add a `GROUP BY *` and the problem shows up.

[code]

The error happens whether the additional column is a field, as above, or a tag, as follows:

[code]

[2015-09-03 21:03] beckettsean commented on #3978
Verified this is a regression from the 0.9.2 behavior:

Recreating the setup:

[code]

Selecting more than one column while including `GROUP BY *` works:

[code]

[2015-09-03 21:04] beckettsean commented on #3978
@corylanou regression from the `GROUP BY *` changes?

[2015-09-03 21:06] beckettsean commented on #3844
@eliperelman can you paste in your repro steps, ideally in CLI format?

[2015-09-03 21:13] beckettsean commented on #3974
@sphadley I just noticed the `SHOW TAG KEYS FROM Method` query in your examples went against the `lumberjack_DEV` database, not the `lumberjack_DEBUG` database. Was that just a typo on your part?

[2015-09-03 21:14] hexluthor commented on #3552
:+1:
I work with sensor networks and find this limitation frustrating. For example, I wish to compute weighted averages like this:
`SELECT sum(oxygen_percentage.value * flow_rate.value) / sum(flow_rate.value) FROM oxygen_percentage, flow_rate WHERE site_id = '3'`
But InfluxDB returns nothing. Even `SELECT oxygen_percentage.value FROM oxygen_percentage` doesn't work. Using 0.9.3-rc1 master (0163945

[2015-09-03 21:14] sphadley commented on #3974
sorry typo should be the same data

[2015-09-03 21:22] beckettsean commented on #3974
@sphadley thanks, that's what I figured.

What does `SHOW FIELD KEYS FROM Method` show?

I also just noticed that the write syntax seems off. You have `db=my_db&precision=ms&rp=debug` in the query string for the `curl` statement. I from your retention policy create statement, I think that should be `db=lumberjack_DEBUG&precision=ms&rp=LogDetails`. Is that also just a mismatch due to multiple testi

[2015-09-03 21:24] corylanou commented on #3978
Yeah, that doesn't look right.  I think we are getting close to making that work for real now so maybe we should see if it's easier just to complete the functionality rather than fix the bug the stop gap introduced.

[2015-09-03 21:24] beckettsean commented on #3974
Cannot repro on 0.9.3 on OS X:

Set up db:

[code]

Insert data:

[code]

Query data:

[code]

[2015-09-03 21:24] sphadley commented on #3974
I am sorry trying to sanitize the data for public display, LogDetails is the correct retention policy name, and I am using it consistently. Sorry for the confusion.

[2015-09-03 21:27] beckettsean commented on #3895
@jlongster thanks for the clarification, I skimmed `10.9.5` and read it as `10.10.5` (even though such a thing doesn't yet exist.) I have not tested the latest version of the brew installation on Mavericks. I'll see if we can scare up a Mavericks box.

Any chance you can try on a 10.10 box?

[2015-09-03 21:36] beckettsean commented on #3971
@calmh I don't know the answer to the file descriptor question. @benbjohnson or @dgnorton any thoughts?

As for the import performance, are you pushing points as fast as possible? It's possible you are filling the WAL and then getting into RAM thrashing as it tries to drain. There are a number of OOM issues open and most a related to high sustained write volume. Dropping to a lower write speed, pe

[2015-09-03 21:40] beckettsean commented on #3865
@dstreppa That's a known limitation, but one that will be mitigated by https://github.com/influxdb/influxdb/issues/211. Hopefully that issue will be addressed in a month or so.

[2015-09-03 21:45] sphadley commented on #3974
Just to clarify again it hasn't been 100% reproducible on our end either. It kinda seems like the server gets into a funk sometimes, or that certain inputs cause it to stop it from being able to handle fields. It does seem to misplace the fields on our test server so far more that it doesn't though. If you have any thoughts on configuration changes or what could be triggering this under the hood,

[2015-09-03 21:48] beckettsean commented on #3974
To reset back to a good zero state, just delete the `influxdb` directory that contains `/data`, `/wal`, `/hh`, and `/meta`. Other than the binaries, the configs, and the log files, that's everything InfluxDB has on disk.

[2015-09-03 21:49] benbjohnson commented on #3971
It sounds like there's a lot of shards being created. I'm going to merge the [`SHOW SHARDS` PR](https://github.com/influxdb/influxdb/pull/3815) in so we can get visibility into the issue. It'll be available in the nightly.

[2015-09-03 21:49] beckettsean commented on #3974
One thing I would recommend is to use the CLI or direct `curl` statements rather than the Admin UI. Web apps introduce another possible point of failure/confusion, and the output is sometimes obscured. With `curl` or the CLI there is no interpretation of the results, they are just presented as is.

[2015-09-03 21:52] beckettsean commented on #3971
@calmh can you pick up the next nightly build and try again? Nightly builds are available by 1 a.m. PDT each night.

[code]

[2015-09-03 21:53] #3562 closed

[2015-09-03 21:55] sphadley commented on #3974
Well, that is another thing, we have set up a C# webservice to insert datapoints into the db using a custom line protocol generator. What we really would like to do is deploy it to look at some real data from our apps in influx.  Its taken a few tries to get the line protocol generator right, and there is a small off chance something is still malformed corrupting the database. But i don't know  wh

[2015-09-03 22:28] sphadley commented on #3974
Ok so I have some more info about our issue that another dev figured out for us.  If you leave out the precision and rp variables on the line protocol post it seems to work every time. But if you include those such as the
[code]
example above fails to add a large portion of the time.

Thanks again,
Steven

[2015-09-03 22:33] otoolep opened #3979 "Data race in CQ code"
Data race in CQ code at commit https://github.com/influxdb/influxdb/commit/bbc553951727a0de41453a142b65ed5af23f9c19

[code]

https://circle-artifacts.com/gh/influxdb/influxdb/5486/artifacts/2/tmp/circle-artifacts.MrrnVLs/test_logs_race.txt

[2015-09-03 22:42] eliperelman commented on #3844
@beckettsean hopefully this will suffice :)

Steps:

1. `drop database raptor; create database raptor`
2. `show measurements` to make sure nothing is there
3. write the data [1] using HTTP
4. `select * from annotation`: there is a single record
5. `select * from measure limit 5`: nothing

[1]

[code]

![2](https://cldup.com/aKfCLRSbL1-3000x3000.png)

[2015-09-03 22:44] eliperelman commented on #3844
It took about 4-5 minutes for the data to show up in the query:

![1](https://cldup.com/cqKrJjUzSR-2000x2000.png)

[2015-09-03 23:24] otoolep commented on #3548
Fixed by https://github.com/influxdb/influxdb/pull/3980

[2015-09-03 23:26] otoolep commented on #3979
Hit it again.

https://circle-artifacts.com/gh/influxdb/influxdb/5490/artifacts/2/tmp/circle-artifacts.8Um3Md1/test_logs_race.txt

[2015-09-03 23:31] beckettsean commented on #3974
That's great information, @sphadley.

@mjdesa can you run a test with a few million points writing to a non-default retention policy? Do it again with a precision of `ms`, and maybe run both together if neither shows an issue. It seems like some might get lost.

[2015-09-03 23:33] sphadley commented on #3974
Trying to verify now. I'll let you know more when I do.
On Sep 3, 2015 6:31 PM, "Sean Beckett" <notifications@github.com> wrote:

[2015-09-03 23:42] beckettsean commented on #3844
@eliperelman those repro steps don't work for me:

[code]

Then `curl -i -XPOST 'http://localhost:8086/write?db=raptor' --data-binary @points.txt` where `points.txt` contains the lines you provided above.

[code]

When you inserted the points, were the timestamps slightly in the future? By default, the time range for `SELECT * FROM foo` runs from `epoch 0` to `now()`. If the points are more in the

[2015-09-03 23:44] beckettsean commented on #3844
That would also explain why the `annotation` point shows up. It's got a timestamp that's actually in milliseconds, but was written at nanosecond precision. The actual timestamp is thus a few minutes after epoch 0 and would always be in the default time range for a `SELECT *` statement.

[2015-09-03 23:59] ecables opened #3983 "[0.9.3-final] value operator returning inconsistent results"
After seeing inconsistent results in some queries, I started to dig into this a bit more, and I'm hoping someone can provide clarity on the 'value' function.

Here's an example query:
[code]

The above will return results like the following, which clearly matches the above query:
[code]

Now, if I increase the "value >" number from 100000000 to 300000000, the above result no longer returns, even t

[2015-09-04 00:04] #3979 closed

[2015-09-04 00:30] beckettsean commented on #3983
`value` is not a function. `value` is an identifier, more specifically it is a field key. Field keys can be any string but typically `value` is used as it is what most graphing tools expect.

The `WHERE value > 100000000` clause means only `SUM` points whose `value` exceeds 100000000. It has no relation whatsoever to the return value of the `SUM` function, except as the additional restriction remo

[2015-09-04 00:30] #3983 closed

[2015-09-04 00:57] ecables commented on #3983
The goal of my query is to only show resulting sum values that exceed a threshold that is intuitive.

If I'm understanding your explanation correctly, one needs to understand how often a point is being inserted to properly infer the correct threshold for the `value` identifier, based on the data set being analyzed -- is that correct?

So if I insert a point into influx every 1 second the `value` t

[2015-09-04 00:59] eliperelman commented on #3844
Ugh.

@beckettsean great find, and you are totally correct. My InfluxDB instance lives in a docker container, which for some reason has a clock that is about 5 minutes behind my system time. Thanks for the effort, I appreciate it.

![picard](http://picardfacepalm.com/picard-facepalm.jpg)

[2015-09-04 01:25] beckettsean commented on #3983
@ecables `value

[2015-09-04 01:36] beckettsean commented on #3844
No worries, @chaithrar I'm glad we got to the bottom of that.

[2015-09-04 02:29] sphadley commented on #3974
Ok so it seems like the precision/retention policy bit may be a red herring, cause it started acting up again.  Basically I am having alot better luck dummy data, than real data.

 I think I may have found a new correlation though.  It seems like only the measurements with numerical field values are affected.

[2015-09-04 03:17] jlongster commented on #3895
I don't have one available, sorry. I'm not going to work on the project I was using this for a while now, so no rush.

[2015-09-04 05:45] beckettsean commented on #3974
Are you getting any response code other than `204` on your writes? Can you paste in your logs from a normal section of the system up and running?

[2015-09-04 06:57] ymettier opened #3988 "TSDBServer: malformed tag data : who's that ?"
Hello,

I have a lot of lines like this in my log :
[code]

How can I find who is sending malformed tag data ?

In my specific situation, I could help with this hack :
[code]

When I read the line, and because it was meaningful, I could find the sender. But in most case, it is not enough.

My little patch can be improved :
* add the IP address of the sender
* have log verbosity levels and print th

[2015-09-04 07:52] francisdb opened #3989 "[0.9.3] Service fails to start on Ubuntu 15.04"
Just did a clean install on a new VM with Ubuntu 15.04
Starting the service fails:

[code]

Same issue with telegraf 0.1.7

This is probably related to systemd having replaced Upstart as the standard boot and service manager on Ubuntu 15.04

[2015-09-04 07:56] calmh commented on #3971
I was doing the import by looping over a number of files each containing 4000 rows, sleeping for a few seconds between each POST. That may not have been enough. When the actual out of memory crash comes, the backtrace shows hundreds of thousands of goroutines doing compaction or something similar (from memory, if this is relevant I can capture the full trace next time).

So really, not importing a

[2015-09-04 08:29] lockwooddev opened #3990 "[0.8.8] admin static files"
I installed the previous InfluxDB 0.8.8 on OSX with Brew. I'm using the default config that Brew is telling me to use.

`influxdb -config=/usr/local/etc/influxdb.conf`

The html renders, but all static files (css, images, js) are missing and are returning 404. Is there any way to generate the static files and to point to it in the configuration file?

[2015-09-04 08:47] diiidiii commented on #3970
Ops, sry didnt see...

[2015-09-04 09:01] ghost opened #3991 "[feature request] Support month and year as duration unit"
For example:
- 1M for 1 month
- 1y for 1 year

Its useful for me when i want to query the data last month and year...

[2015-09-04 09:12] dennisbauer commented on #3578
@mjdesa seems working quite well now. As I said, I installed 0.9.3 on a new server and was using it for two weeks now without any difficulties.