[2016-05-26 16:22] simcap commented on #5878
I had the same issue on 0.13.0 (single instance, default configuration) while only altering (increasing) the duration of my default retention policy from 40d to 365d.

Then we could still write points successfully but we could not query / retrieve the newly persisted data.

Since I really to keep my data longer I cannot find a way to do that without increasing the existing default retention policy

[2016-05-26 17:57] #6682 closed

[2016-05-26 18:59] whiten commented on #6720
I encountered this this morning running 0.13 on Linux 3.18.25. @e-dard, would more logs help, or is what you have from the original report sufficient?

[2016-05-26 21:36] #6672 closed

[2016-05-27 01:44] OptrixAU opened #6737 "Timestamp inconsistency using FIRST / LAST aggregation functions."
### Bug report

__System info:__
InfluxDB 0.13.0 on Ubuntu 14.04 LTS x64

__Steps to reproduce:__

1. In a table with some content, issue asking for the FIRST value after a given date...

[code]

The results are all timestamped soon after the given point.

2. Invert the query - ask for the LAST value before a given date.

[code]

The results are timestamped as Unix epoch - 1970-01-01T00:00:00Z

__

[2016-05-27 05:28] cheribral opened #6738 "[0.14] Time sorting seems broken"
### Bug report

__System info:__ [Include InfluxDB version, operating system name, and other relevant details]
Influxdb 0.14.0~n201605260800

__Steps to reproduce:__

1. Query data

__Expected behavior:__
Points come back in order

__Actual behavior:__
2016-05-26T22:40:00Z	1038
2016-05-26T22:50:00Z	962
2016-05-26T23:00:00Z	3483
2016-05-26T22:50:00Z	1896
2016-05-26T23:00:00Z	1754
2016-05-26T22:40:0

[2016-05-27 10:18] kostasb opened #6740 "rfc3339 date limit for time bound queries"
Summary: Time bound queries with rfc3339 are limited to 2050-01-01T00:00:01Z

Tested with both 0.13 and 0.14.0 head 1d467ab2e3c540c7749a352244cbc752dca1701f

[code]

The limit seems to be hardcoded int64(2524608000000000000)
https://github.com/influxdata/influxdb/blob/master/influxql/iterator.go

Querying with RFC3339 should support the same time range boundaries as ns precision.

[2016-05-27 10:45] mvadu commented on #6373
Thank you @claytondukes for the instructions. However I am stuck with back up because I have created Influx 0.11 setup with a custom config which used a non default path for the DB storage. Now only way to provide that info to Influxd process is via `-config` option, but `backup` command along with `-config` is not working.

[2016-05-27 12:02] #6599 closed

[2016-05-27 12:51] michapr commented on #3407
I get "...mixing aggregate and non-aggregate queries is not supported"
Using 0.14 - where can be the problem?

[2016-05-27 14:41] #6727 closed

[2016-05-27 16:07] brewneaux commented on #6721
This appears to be a duplicate of https://github.com/influxdata/influxdb/issues/6632

Should they be merged? Its also a really big deal, as this completely goes against the expected behavior.

[2016-05-27 17:39] beckettsean commented on #354
@jsternberg @jwilder I think this can be closed.

`SELECT * INTO "foo.bar" FROM foo where col = 'bar' GROUP BY *` is perfectly valid and respects the where clause.

It wouldn't be possible to do as a CQ because there's no aggregation function, but this is fairly trivial to script with the CLI.

If we're already planning to upgrade CQ functionality that's great, but perhaps we can close this for no

[2016-05-27 17:41] beckettsean commented on #1218
@jsternberg I think we can close this issue. Query status is available for ad hoc and CQs, and combined with the logs, it's easy to tell:

1 when a CQ has run
2 when it will run next
3 whether it is running right now

Not sure what else is needed, and I don't think there's a reason to make a query for number 1. Although I could see an argument for number 2 being something we could query for.

[2016-05-27 17:44] beckettsean commented on #1837
@jsternberg is this not already implemented? I like your idea in https://github.com/influxdata/influxdb/issues/1837#issuecomment-206525778 but I think we should close this issue and open a new one for controlling bucket numbers explicitly.

[2016-05-27 17:45] beckettsean commented on #4027
backup and restore has been fully reimplemented in 0.10+.

[2016-05-27 17:45] #4027 closed

[2016-05-27 17:47] beckettsean commented on #4638
With the new query limiting features this is less of an issue.

[2016-05-27 17:47] #4638 closed

[2016-05-27 17:51] beckettsean commented on #4820
This is now possible with InfluxDB CQs, but does require multiple CQs.

In 0.13, the [offset of GROUP BY time intervals](https://docs.influxdata.com/influxdb/v0.13/query_language/data_exploration/#group-by-time-intervals) can be set, so you would have five CQs (paraphrasing):

[code]

[2016-05-27 17:51] #4820 closed

[2016-05-27 17:52] beckettsean commented on #5137
backup and restore have been rewritten in 0.10+, no code fixes for 0.9 are planned.

[2016-05-27 17:52] #5137 closed

[2016-05-27 19:06] mvadu commented on #6373
Never mind, I have to run two instances, one with `influx.exe -conf <config name>`, in a separate terminal run `influx.exe backup <path>`, it worked.

[2016-05-27 20:48] beckettsean commented on #6717
@dalibort the CLI is not connected to the status of the database. All it does is submit the queries. It's just a wrapper around `curl` with some syntactic sugar.

It's my understanding that `DROP MEASUREMENT` can take some time to complete, so if you issued 30000 `DROP MEASUREMENT` commands each might take multiple seconds to complete, depending on how many points are in the measurement. Even at 1

[2016-05-27 20:48] #6717 closed

[2016-05-27 20:51] beckettsean commented on #3407
@michapr that is intended behavior. You should not repeat the `GROUP BY` tag in the `SELECT` clause.  Just issue `select sum(number) from products group by filename limit 100`. The query response will include the filename, as that's the GROUP BY property.

[2016-05-27 22:49] brandoncazander commented on #5930
The lack of a mode function is really hurting us in switching from 0.8.9. In particular, we need to be able to select the most common occurrence of a specific string over a group by, which we have to do in post-processing now.

[2016-05-28 00:08] beckettsean commented on #3369
@sbile if you use epoch timestamps rather than rfc3339 datetimestamps you can parse dates well into 2250. Track https://github.com/influxdata/influxdb/issues/6740 for progress on fixing the discrepancy.

[2016-05-28 00:17] beckettsean commented on #3369
errors now display properly (modulo the rfc3339 issue):

[code]

The integer errors could be more clear, but at least there's an error, not just an empty return.

[2016-05-28 00:20] beckettsean commented on #5930
@brandoncazander `COUNT(DISTINCT())` will give you the frequencies for each period in the `GROUP BY`, and you can pull the largest number from that client-side. Not a solution but perhaps a workaround.

[2016-05-29 22:07] notes-jj opened #6746 "[Bug] Empty Password for Prompt not working (/usr/bin/influx)"
Calling /usr/bin/influx with `-password ''` or `--password ''` will give error `Unable to parse password.` No prompt is appearing. Help of influx states:
[code]

**Version:**
I'm using Docker Container influxdb:0.13.0-alpine and also tested influxdb:0.13.0.

**Steps to reproduce:**
[code]

**Logs:**
[code]

[code]

[2016-05-30 02:21] boyxuper opened #6747 "db unable to write since the UTC day starts"
### Bug report

__System info:  [InfluxDB 0.12.2, CentOS 5.11]__

__Steps to reproduce:__

1. installed a lot of telegraf agent 0.13.0
2. installed influxdb 0.12.2

__Actual behavior:__
0. following starts at the UTC day start: 2016-05-30T00:00:00Z
1. used memory increased rapidly
2. one on my DBs unable to write
3. NumGoroutine increased rapidly: 144/min

__Additional info:__
1. CREATE RETENTION

[2016-05-30 02:42] jsternberg commented on #6726
Closing this since the behavior was explained as changed on purpose and the documentation has been updated.

[2016-05-30 02:42] #6726 closed

[2016-05-30 02:46] jsternberg commented on #1218
I was thinking of leaving this as a longer term feature to track the continuous query execution. So if a continuous query needs to run 4 queries as part of a single run, `SHOW QUERIES` would show each of those 4 queries getting run individually, but another command would show something with continuous query specific information.

I'm not sure exactly what it would be and it would likely have to be

[2016-05-30 02:54] zhiwzhao commented on #6718
@jwilder ,the problem is when influxdb has lots of query load (lots of query, or select * from a large measurement), the memory will be very high. we can understand as influxdb need to process this load, but the high memory keep there even when the load is over. seems it does not want to go down. please check if there is memory leak.

[2016-05-30 03:04] jsternberg commented on #6728
The chunked option may not help if the garbage collector doesn't free the memory from the previous chunked results. It's still allocating a new slice that can be very large for every chunk. It seems like the out of memory error happened when trying to grow a slice so that's a possible reason why it still ran out of memory on a simple query.

[2016-05-30 06:42] antst opened #6748 "0.13 not closing connections, resulting in OOM after certain time"
RHEL6.6, Influxdb 0.13

Summary: clients close connections, but they remain open on server, which results in memory grows and OOM kill.

Home-grown collection tool send reports from few thousands of clients every minute by libcurl with the next code:

[code]

After start of influxdb, memory starts to grow and finally results in OOM kill (I limit address space for the process with 200GB).

After in

[2016-05-30 08:05] wqtty opened #6749 "continuous query RESAMPLE every second results in more than one point of one second"
Hi there,
I have a measurement that records call count of my interfaces, the points is sent to influxdb in batch and each call would generate a point. So there could be many points within a second.
Now I wrote a CQ to downsample the data, i.e. sum(count) group by 1s, but it turns out that the down sampled data has more than one point per second( may be 1 or 2). I tried to make the CQ run every 2s

[2016-05-30 08:06] wqtty commented on #6749
Here is my CQ:
show continuous queries
name: _internal
---------------
name	query

name: monitor
-------------
name			query
callCounterDownsample	CREATE CONTINUOUS QUERY callCounterDownsample ON monitor RESAMPLE EVERY 5s BEGIN SELECT sum(count) AS count INTO monitor."default".callCounter_1s FROM monitor."default".callCounter GROUP BY time(1s), module, ip, method END

[2016-05-30 08:14] thetcc commented on #6748
I remember the server socket connection is no limit, in other words, the server port 8086 can receive connections is not limited, if you set ulimit -n unlimited and  system have enough resources(memory and cpu).

[2016-05-30 08:26] thetcc commented on #6747
Haha! You must be a Chinese guy，me too!
#6630  It seems somewhat similar.

[2016-05-30 12:15] boyxuper commented on #6747
Maybe, but I found that the exception always start at the UTC day start.

Here's some log from telegraf:

I'll provide the heap dump & profile when the exception occurs again.

[2016-05-30 12:20] antst commented on #6748
But this is a problem, there is no need to have unlimited. One client has only or zero connections at the time. It is server just not closing them and exhausting memory because of that.

Anyway, I check with nightly build, and issue seems to be resolved there.
Although, there is still uncontrollable memory grows which results in OOM kill.

[2016-05-30 13:56] eppak opened #6750 "No data written to db"
Hello,
i have a influx 0.13 installed from deb package on a debian 8.4 64bit os. I put data via curl but and i get a 204 response but i see nothing in the db.

REQUEST:
curl i -XPOST 'http://localhost:8086/write?db=devices' --data-binary 'log,uuid=1234567890,session=56,type=log V1=0.48,V2=0.59,V3=0.68,V4=0.77,V5=0.84,V6=0.9,V7=0.95,V8=0.98,V9=1,V10=1,V11=0.98,V12=0.95,V13=0.9,V14=0.84,V15=0.77,V16

[2016-05-30 15:17] xiic commented on #6691
After checking the logs again, this happened after upgrading from 0.12.1 to 0.13 (around 2016-05-20T09:22:00Z).

Interestingly, the default retention policy was changed back from 1d to 7d during the upgrade. Which somehow resulted in new data beeing written to an old shard and let to the inconsistent query behaviour. After a new shard was created, everything was working again. I couldn't reproduce

[2016-05-30 15:26] larrywalker opened #6751 "GROUP BY SLIMIT and SOFFSET returns unpredictable results"
After working through a support case with Sean Beckett, he asked me to open up a case in github.  We have not been able to come up with a simple replication, my measurement isn't that complicated.
Seeing this problem with both 12.2 and 13.

Basically we have a large amount of data being returned, we encountered the row limit via http of 10K rows.  So we started to use the SLIMIT and SOFFSET to pag

[2016-05-30 16:08] tehmaspc commented on #6728
FWIW, we've begun using `query-timeout` (10s) as well to mitigate this issue somewhat.

[2016-05-30 16:14] beckettsean commented on #1218
I vote we close it for now. If it's a useful feature it will resurface.

[2016-05-30 16:14] #1218 closed

[2016-05-30 17:00] pmenglund commented on #6608
👍

[2016-05-30 19:16] rmihael commented on #6748
We are also experiencing problem of unbounded memory growth. Our use case is write intensive with rare queries. Write intensity is 50-100 points per second through UDP and total number of series is ~150K.
Memory just grow indefinitely until OOM killer comes for reaping.

[2016-05-30 20:28] antst commented on #6748
In our case, we have a bit less than 100K points per minute, and cardinality is only about 400.
I tried to play with everything, snapshots sizes, cold write timeout etc, no help.

[2016-05-30 21:12] simcap commented on #6691
@xiic I had the same issue of new data not being retrievable on 0.13 (single instance) when increasing the retention policy of our db. Your diagnostic of the "new data being written to an old shard" is interesting and seems right.

When you say "after a new shard was created" everything was working again do you mean all the new data written (even going into the old shard) was queryable again (i.e.

[2016-05-31 01:45] boyxuper commented on #6747
heap dump & profile attached:

[goroutine.txt](https://github.com/influxdata/influxdb/files/290214/goroutine.txt)
[heap.txt](https://github.com/influxdata/influxdb/files/290216/heap.txt)

[2016-05-31 06:35] antst opened #6752 "[0.14 nightly] Uncontrollable memory use resulting in OOM kill"
RHEL6, nightly build (0.14.0~n201605250800)

Memory use by influxd grows infinitely resulting in OOM kill even on 256GB host.
We have home-grown collectors which send data with libcurl. On average we send a bit less than 100K metrics to the server per minute, cardinality of database is 8189.

Non-default settings are
cache-snapshot-memory-size = 3276800
cache-snapshot-write-cold-duration = "5m0s"

[2016-05-31 08:10] daviesalex opened #6753 "Panic in ReadFloatBlock on 0.14.0~n201605280800"
We are running [run] 2016/05/31 03:08:30 InfluxDB starting, version 0.14.0~n201605280800, branch master, commit dd58101061a964bf36ff8222172399f255e52340 (effectively HEAD).

After 4 days at 02:36 it looks like we started to get messages like

[code]

At 02:47, after one of these, the node panic'd:

[code]

[2016-05-31 09:06] antst commented on #6752
Just in case,

My collectors are sending lines like this:
`metrics_name,host=XXXXX,block=YYYY read_4k=0,read_8k=0,read_16k=0,read_32k=0,read_64k=0,read_128k=0,read_256k=0,read_512k=0,read_1024k=0,write_4k=0,write_8k=0,write_16k=0,write_32k=0,write_64k=0,write_128k=0,write_256k=0,write_512k=0,write_1024k=0 1464682132`

only host and block differs.I tried to keep nonzero fields and tried to omit non

[2016-05-31 09:37] e-dard commented on #6746
@notes-jj thanks for the report. I can't reproduce this outside of a Docker environment. Have you been able to do that?

This issue should probably be filed on the [influxdb-docker](https://github.com/influxdata/influxdb-docker) repo.

[2016-05-31 09:39] ThomasKurz commented on #6233
@beckettsean :
i don't feel i can  help porting "floatFastDedupeIterator" for "SHOW TAG VALUES",
so how can we get this moving again?
Is there anything else i can help?
Send more dumps?
Make better example setup?

There has no milestone been assigned yet - is it only a problem for me and @cheribral ?

Or could you recommend any workaround?

Currently this problem makes influxdb (in this constellat

[2016-05-31 09:39] e-dard commented on #6720
Fixed via https://github.com/influxdata/influxdb/pull/6722

[2016-05-31 09:40] #6720 closed

[2016-05-31 09:44] e-dard commented on #6738
@cheribral thanks for the report. We're going to need more details. Do you have the raw data available? What was the query you executed? Can you reproduce this with an empty database and some sample data?

[2016-05-31 09:57] e-dard commented on #6747
@boyxuper thanks for the report.

Could you provide a blocking profile too?

`curl -o block.txt "http://_server_:8086/debug/pprof/block?debug=1"`

Also, have you tried upgrading to `0.13`? Some locking issues I think were fixed in that version

[2016-05-31 10:09] e-dard commented on #6748
@antst thanks for the report.

I'm not familiar with `libcurl`, so have a couple of questions:

(1) is your client closing its connection after every write?
(2) if not, then is it supposed to be using a connection pool?

Looking at the amount of data being sent you would probably benefit from a connection pool, but given the number of sockets a connection pool probably isn't being used here.

Do t

[2016-05-31 10:13] e-dard commented on #6750
@eppak The timestamp looks fine, but based on the `Date` header, the point you wrote in the request was in the future (`2016-05-30 15:44:37 +0000 UTC`).

By default InfluxDB only shows data up to [now](https://docs.influxdata.com/influxdb/v0.13/query_language/data_exploration/#time-syntax-in-queries).

Could you provide the queries you issues after you inserted the point?

[2016-05-31 10:36] eppak commented on #6750
Hello,
so the point was inserted but not displayed? After that i tried to extract data with a simple "select * from log".

Thanks

[2016-05-31 10:38] e-dard commented on #6750
@eppak Now that we're a few days ahead `select * from log` should work. At the time of the insertion, however, you should have been able to select the point with something like:

[code]

Can you confirm that's working for you and I'll close out the issue.

[2016-05-31 12:23] eppak commented on #6750
Yes, is working thanks!

[2016-05-31 12:24] antst commented on #6752
I found the reason of the issue, but it is strange.
If I keep wal directory on md raid0 (6 disks)+ext4 - it can not coop with data (at the same time I see really low iostat and there aren't many read/write calls to walls and they are sequential) and memory jumps through the roof (256GB)

when I move wal directory to /dev/shm - it flies and my memory stays withing 600MB.

I tried iozone on disk - c

[2016-05-31 12:31] #6750 closed

[2016-05-31 12:55] martinb69 commented on #3552
+1 Really need this as not having this is great miss.

[2016-05-31 13:09] poblabs opened #6755 "404 Error on http://localhost:8086/query with version 0.13"
### Bug report

__System info:__ InfluxDB 0.13, CentOS 6.8

__Steps to reproduce:__

1. Just trying to do a simple `curl -get` and am getting a 404. Here's the curl I'm trying: `curl -GET 'http://localhost:8086/query' --data-urlencode "db=mydb" --data-urlencode "q=SELECT * FROM points"`
2. This same query works fine on the web admin webpage.

__Expected behavior:__ JSON output from mydb showing al

[2016-05-31 13:29] zstyblik commented on #6755
@poblabs, I would say the problem is in parameters you gave to curl rather than in InfluxDB. Try `-G` instead of `-GET`. Also, I recommend to add `-vvv` and observe what is being sent and received.

[2016-05-31 13:31] zstyblik commented on #6755
@poblabs , `curl -vvv -G http://xxx:8086/query --data-urlencode "db=xxx" --data-urlencode "q=SHOW MEASUREMENTS"` works for me.

[2016-05-31 13:33] poblabs commented on #6755
Thanks @zstyblik, here's the output from the latest test. Still 404

    [root@local html]# curl -G 'http://localhost:8086/query' --data-urlencode "db=mydb" --data-urlencode "q=SELECT * FROM points" -vvvv
    * About to connect() to localhost port 8086 (#0)
    *   Trying ::1... connected
    * Connected to localhost (::1) port 8086 (#0)

    < HTTP/1.1 404 Not Found
    < Content-Type: text/plain

[2016-05-31 13:42] zstyblik commented on #6755
@poblabs, are you sure you're talking to InfluxDB?

[code]

Notice `X-Influxdb-Version` header in the reply I've received. Although, may be this header isn't included in non-200 replies.

Umm is there anything in the logs? Does `mydb` exist? Umm ... isn't authentication enabled? If so, do you have ACLs to access that DB(although, I would expect 403 in such case)? ...

[2016-05-31 13:49] jhrv commented on #6233
I have the same issue for our database with ~500k series. We use "show tag values where key = ..." for our Grafana dashboards. What used to take less than a second now uses about a minute to complete. We upgraded from 0.10.1 -> 0.13 and essentially broke all Grafana dashboards using templating. It's quicker when specifying measurement name, but it's still alot slower than before.

[2016-05-31 13:57] francisdb commented on #5685
We have seen this when uploading data that introduced a lot of new shards being created. Like you have data for jan 2016 to april 2016 and you do a batch upload of sparse historic data all the way to jan 2010.
see #6635

[2016-05-31 14:10] morganda commented on #6233
We have the same problem. It's slightly faster if we use a query similar to `select tag,value from my_measurement where time > now() - 2m`, but then I have to filter out the actual values to get just tags. Grafana helps with this by letting you use a regex on the return values.

[2016-05-31 14:20] poblabs commented on #6755
I'm fairly confident I'm talking to InfluxDB based on the ping status:

    [root@local ~]# curl http://localhost:8086/ping
    {"status":"ok"}

mydb does exist, the query works fine from the admin website on port `8083`.

ACL was something I was wondering about, but when I add the `-u user:pass` into the command or even the `--data-urlencode "u=user" --data-urlencode "p=pass"` as per the document

[2016-05-31 14:21] poblabs commented on #6755
Trying it via the CLI seems to fail too.

(Of course, I'm substitiuting my credentials for the general "username, password" below)

    [root@energy html]# influx -username username -password password
    Failed to check token: json: cannot unmarshal number into Go value of type struct { Results []client.Result "json:\"results,omitempty\""; Err string "json:\"error,omitempty\"" }

[2016-05-31 14:24] jsternberg commented on #6751
As I understand it, the examples you gave where you specified an absolute time (not based on `now()`) are working correctly, right? So it's just the ones with `now()` that aren't working correctly?

Can you confirm that it's not something dealing with the `now()` time?

@jwilder @benbjohnson do you think it might be a good idea to modify the `now()` calls so they get normalized by the statement no

[2016-05-31 14:41] jsternberg commented on #6737
The reason is because selectors will return the timestamp of the point if and only if it's the only function call in the query. Since there are multiple selectors and no group by interval, the time returned is the beginning start time of the query. In your first example, you use `>` as the time comparison operator so you are setting a lower bound. That's the time that gets returned. In the second

[2016-05-31 15:00] boyxuper commented on #6747
I’ll provide `blocking profile` on next UTC day start.
I‘m not sure about 0.13 because lots of issues opened since people upgrade to 0.13.
But I think maybe I can help more by upgrading to 0.13, so I think I'll plan to do the upgrade soon.

[2016-05-31 15:08] zstyblik commented on #6755
:\ Is there anything interesting in InfluxDB logs?

[2016-05-31 15:11] jwilder commented on #6752
@antst Can you run `iostat -xzd 1` under write load and while memory is increasing?

[2016-05-31 15:33] jsternberg commented on #6691
@xiic is there any chance you have the output of `SHOW SHARDS` after the upgrade, but before it started working correctly? I'm curious if somehow the shards had overlapping times as you mentioned and it was choosing the wrong shard to select from after the upgrade.

[2016-05-31 15:39] e-dard commented on #6755
@poblabs I can't reproduce this behaviour with influxd `0.13`. Are you _sure_ you're using the `0.13` version of influx? When you boot the server the first line of logs should tell you version, commit etc.

[2016-05-31 15:39] jsternberg commented on #6691
I'm able to reproduce it locally so I'm going to take a look and see if I can figure out why before closing this issue. @xiic thanks for the database files.

[2016-05-31 15:41] e-dard commented on #6753
Fixed via #6754

[2016-05-31 15:41] #6753 closed

[2016-05-31 15:41] e-dard commented on #6753
Thanks for the report @daviesalex!

[2016-05-31 15:47] #6525 closed

[2016-05-31 15:57] altenschmidt commented on #6412
+1.

Another implementation proposal considering jsternberg's comment:
Use *all* actually existing tag combinations, similar to what 'show series' puts out. That eliminates the necessity for a windowing period as proposed by gargooza.

[2016-05-31 16:06] mark-rushakoff commented on #6755
@poblabs

That's not InfluxDB. Current `master`, and as far back as I can remember, always returned a 204 (No Content) without a body.

[code]

[2016-05-31 16:10] o1da commented on #6746
I have exactly the same problem with `InfluxDB shell 0.12.1` in docker too.

[2016-05-31 16:12] mark-rushakoff opened #6756 "[master] httpd: X-Influxdb-Version header should be set on *all* responses"
To aid with troubleshooting, the `X-Influxdb-Version` header should be set on all responses, even for unhandled routes.

[code]

[2016-05-31 16:27] jwilder commented on #6250
As of #6743, this issue should be resolved.  There is still more tuning and improvement to be made to startup, but the the hour long startup time in some cases should be resolved now.

[2016-05-31 16:27] #6250 closed

[2016-05-31 16:33] poblabs commented on #6755
@e-dard Well, now I'm not sure I'm using `0.13`, even though it's installed.

Let me catch things up.

I had `0.8` installed via RPM. I installed it so long ago I assumed it was from EPEL or something. Realizing I was many version behind, I decided to download the latest and greatest.

I'm using CentOS, so I tried `yum update influxdb`. Of course, no new packages found. No problem, follow the Infl

[2016-05-31 16:41] poblabs commented on #6755
More details. Yes, I've restarted the service a few times. CLI shows 0.13, but doesn't work, and API shows 0.8.8

    [root@local ~]# service influxdb restart
    Starting the process influxdb [ OK ]
    influxdb process was started [ OK ]

    [root@local ~]# curl -G http://localhost:8086/ping -vvv
    * About to connect() to localhost port 8086 (#0)
    *   Trying ::1... connected
    * Connecte

[2016-05-31 16:51] daviesalex commented on #6753
Thank you for the quick fix @e-dard; we will update to the nightly tomorrow and confirm. Much appreciated.

[2016-05-31 17:13] larrywalker commented on #6751
I had been using the now() queries for the last several weeks and could not get it to return predictable data, it wasn't until I tried absolute times that any of it started working correctly.

[2016-05-31 17:18] zstyblik commented on #6755
@poblabs, `ps faux | grep influx` and find the PID, `kill <InfluxDB_PID>`. If, **if**, signals are handled properly in InfluxDB, then it should shut down gracefully. It's possible that init script didn't do its job.

[2016-05-31 18:48] poblabs commented on #6755
@zstyblik Ok, we're onto something. I killed the pid, and did `service influxdb start` but still having some errors.

`ps faux | grep influx` doesn't show any process running and some tests below:

    [root@local ~]# % influxd -version
    bash: fg: %: no such job

    [root@local ~]# influx -username username -password password database mydb
    Failed to connect to http://localhost:8086
    Ple

[2016-05-31 19:14] rossmcdonald commented on #6755
@poblabs I think part of the issue here is that there is no direct upgrade path from InfluxDB v0.8 to v0.13. The entire project was nearly rewritten with InfluxDB v0.9, so upgrading is not straightforward. If you have data in 0.8 that you would like to keep, then there is a small writeup [here](https://github.com/influxdata/influxdb/blob/master/importer/README.md) that covers how you can export yo

[2016-05-31 19:16] kkirsche commented on #4098
@corylanou  it seems as though package importer/v8 is fine per `golint` and can be marked as complete

[2016-05-31 19:21] poblabs commented on #6755
@rossmcdonald I suppose that's what happens when I install something, then kinda drift away from the project - I miss all the little things like this.

Thanks for the updated log location, some good info there on how to proceed.

    [run] 2016/05/31 14:48:24 InfluxDB starting, version 0.13.0, branch 0.13, commit e57fb88a051ee40fd9277094345fbd47bb4783ce
    [run] 2016/05/31 14:48:24 Go version go1

[2016-05-31 19:27] beckettsean commented on #6233
@benbjohnson @pauldix would be really really nice to get this for 1.0, given the major impact on Grafana users.

[2016-05-31 19:38] rossmcdonald commented on #6755
@poblabs InfluxDB has historically had a very fast release cycle, so it's definitely tough to keep up with all of the changes.

Did you install another version of InfluxDB before 0.13? I'm surprised that you received the `detected /var/lib/influxdb/meta/raft.db` error if not.

And for more information regarding the upgrade paths, I'd recommend installing InfluxDB 0.9.6, and then going through each

[2016-05-31 19:39] benbjohnson commented on #6751
@jsternberg I'm not _necessarily_ opposed to normalizing `now()` somewhere else but `now()` really should work. I'd rather that we figure out the root cause.

[2016-05-31 19:41] jsternberg commented on #6751
I'm currently guessing that it's user error and likely happens on servers that don't have NTP or something else for setting the time configured correctly. The reason why I would advocate for normalizing `now()` and showing it in the normalized query is so it would actually be possible for us to see if that's the reason or not.

[2016-05-31 19:47] zstyblik commented on #6755
@poblabs, I'm sorry for not being consistent with my shell commands annotations :(

[2016-05-31 20:01] rkuchan opened #6758 "[0.14 nightly] holt-winters function returns odd error message"
### Bug report

__System info:__
InfluxDB nightly
Ubuntu

__Steps to reproduce:__

1. Using data from the [trig](https://github.com/influxdata/telegraf/tree/master/plugins/inputs/trig) Telegraf plugin.

2. Holt-Winters with the seasonal parameter `2` returns expected results:
[code]

3. Holt-Winters with the seasonal parameter `6` returns and unexpected error message:
[code]

[2016-05-31 20:01] rkuchan commented on #6758
@nathanielc

[2016-05-31 20:05] poblabs commented on #6755
@rossmcdonald Ok I won't feel too bad then. Yes, I downgraded to `0.9` briefly thinking that would fix it, but it didn't so I rolled back to `0.13`. I've been all over the map today. More reading to do tonight to clean it all up. Appreciate the help

@zstyblik It's no problem! I was lost, so any help was worthwhile!

[2016-05-31 20:27] larrywalker commented on #6751
Happens on both our servers in AWS and on our development machines (windows and mac).

Not sure how it can be NTP when something silly like SLIMIT 2 returns data, but SLIMIT 1 does not.

[2016-05-31 20:47] jeremyVignelles commented on #6704
Noticed something similar but did not have time to measure the times. I also noticed an increase of the RAM usage, but I don't know if this is related to the big number of points or the big number of fields in my measurement...

[2016-05-31 21:02] benbjohnson commented on #6751
@larrywalker I agree. I don't think it's misconfiguration. I think there's simply a bug in the limits.

@jsternberg Can you reproduce the issue locally?

[2016-05-31 21:06] larrywalker commented on #6751
Yes. I generated all the output above off my macbook.

[2016-05-31 22:04] poblabs commented on #6755
I'm stepping my way through the installs now. I did the export from `0.8.8` to `0.8.9`, then export and import to `0.9.5` and so far so good. In the interest of disk space, will the old 0.8.8 shards purge themselves or is there something else I need to do?

[2016-05-31 22:10] rossmcdonald commented on #6755
@poblabs Once the import is completed into `0.9.5`, then the `0.8.9` shards (the ones located in `/opt/influxdb/shared/data`) can be discarded. They will not purge themselves, though, so you will need to either manually remove them or push them to a secondary location to save on space. I'd recommend backing them up for the time being, until you have completed the upgrade path and verified the data

[2016-05-31 22:23] marccardinal commented on #3682
This is still an issue on `InfluxDB v0.13.0 (git: 0.13 e57fb88a051ee40fd9277094345fbd47bb4783ce)`

[code]

[2016-05-31 22:30] jsternberg commented on #6751
I haven't been able to reproduce the issue locally. It's possible that we may get weird results from `SLIMIT` and `SOFFSET` if the measurement indexes are different between shards, but I think those are all linked to each other through the index. I'm not sure I think it has anything to do with `now()` since the query engine never sees `now()`. It gets replaced in the query before basically anythin

[2016-06-01 00:33] poblabs commented on #6755
Thanks everyone for your help. Felt a bit lost there, and this was great help. I guess I was clinging onto `0.8.8` for a while. Glad I'm up to date and everything migrated.

@rossmcdonald You said `(we no longer use /opt/influxdb for anything).` Can I just delete the whole thing?

[2016-06-01 00:33] #6755 closed

[2016-06-01 04:15] pbek commented on #6378
I'm adding myself to the list of people with `out of memory` problems on a Ubuntu 14.04.4 LTS VPS with 4GB RAM. InfluxDB 0.13.0 will constantly try to grab every byte of available memory when querying data for graphs in Grafana until the InfluxDB daemon dies...

[2016-06-01 08:34] MatMeredith opened #6759 "InfluxDB high memory usage and very slow to start"
I've been running a POC InfluxDB system (InfluxDB v0.12.1 git: 0.12 e094138084855d444195b252314dfee9eae34cab)  for ~a month.   Over that time the DB has grown to ~15GB.
I'm logging 1000 measurements with just one tag (the name of the server that the measurement was collected from) and using Grafana to generate dashboards.

Looking at memory usage I noticed that InfluxDB was using ~5.5 GB so tried

[2016-06-01 08:51] andycarlsonuk commented on #5359
+1

version: recent
Clustering: no
other TICK: no
Use case: Devops monitoring (with Grafana)

Currently running a version of 0.9 built from sources last year when it compiled OK (with some effort) on Windows.

[2016-06-01 09:13] DJWassink commented on #5359
+1

Version: recent
Clustering: no
Other TICK: no
Use case: SCADA analytics

[2016-06-01 09:39] rubycut opened #6760 "panic after upgrade from 0.12 to 0.13.0"
### Bug report

__System info:__ influxdb 0.13, 64-bit debian wheezy, prebuilt package

__Steps to reproduce:__

1. Upgrade influxdb from 0.12.2 to 0.13
2. Put influxdb under decent load with auth enabled. (8k write points per second).

__Expected behavior:__ should work same as previous version

__Actual behavior:__ panic
[code]
__Additional info:__

It happens sometimes only, sometimes it starts

[2016-06-01 10:12] rubycut commented on #6760
It will happen soon or later.

[2016-06-01 11:41] rubycut commented on #6760
https://golang.org/doc/go1.6#runtime

The runtime has added lightweight, best-effort detection of concurrent misuse of maps. As always, if one goroutine is writing to a map, no other goroutine should be reading or writing the map concurrently. If the runtime detects this condition, it prints a diagnosis and crashes the program. The best way to find out more about the problem is to run the program

[2016-06-01 11:44] rubycut commented on #6760
https://github.com/influxdata/influxdb/blob/master/services/meta/client.go#L603

authCache map is changed without calling Lock first, rather RLock was called.

[2016-06-01 11:57] larrywalker commented on #6751
@jsternberg yes I can give it a try.
I've been pulling release versions to my macbook using brew.  Not sure how to pull from a branch, so I would need some instructions.

[2016-06-01 12:31] mvadu commented on #5359
On par with InfluxData's 0.13 release, I have built Windows x64 version which is available at https://github.com/mvadu/influxdb/releases/tag/v0.13.0, people are encouraged to test and report any windows specific bugs either here or on my fork. I will be happy to take a look.

[2016-06-01 12:51] rossmcdonald commented on #6755
@poblabs Yes you can. I'd recommend verifying everything on the 0.9+ instance is as it should be, but, once that's done, everything under `/opt/influxdb` can be removed.

[2016-06-01 12:57] poblabs commented on #6755
@rossmcdonald So far so good with read/writes. I went all the way to 0.13. Thanks again for the guidance.

[2016-06-01 13:56] Tim10000 opened #6761 "No results on SELECT column with underscore in name"
Hi Everybody,
I just encountered a bug on my local influxdb 0.13 installed on a centOS 6.8 .

In fact if I try a query like this:
`SELECT COLUMN_WITHUNDERSCORE FROM table`
Influxdb return no result.

But if I do:
`SELECT COLUMN_WITHUNDERSCORE, COLUMNWITHOUTUNDERSCORE FROM table`
Influxdb return results as expected.

[2016-06-01 15:01] jwilder commented on #6759
@MatMeredith There are number of startup improvements in the currently nightlies.  Can you try running a nightly?

[2016-06-01 15:32] rubycut commented on #6760
I fixed it. I'll submit patch this evening.

[2016-06-01 16:23] Abhishekpan opened #6762 "Memory issue on influxDB 0.11.1"
Hi,
I am facing memory shoot-up issue at the time of data insertion in InfluxDB.

PFB the configuration ::
Server :: UNIX
DISK type :: HDD
Memory   :: 32GB
CPU :: 16
Node :: Single
RF :: 1

Data insertion rate 23k per sec
Each record having 19 attributes

we tried below combinations but facing memory shoot-up issue
1st one
1 Measurement  1 RP(2d)     1 attribute as TAG(Router IP - 50 distinct valu

[2016-06-01 16:44] jwilder commented on #6513
Should be fixed via #6653 and #6743.  If there are still issues, please let us know.

[2016-06-01 16:44] #6513 closed

[2016-06-01 16:49] jwilder commented on #6243
Is this still occuring w/ the latest nightlies?

[2016-06-01 16:49] brewneaux commented on #6632
@jwilder, I have a file and steps that will add duplicated results. This requires you to have jq installed, but I figure thats pretty normal.

Basically, what I am doing is dropping and re-creating a database, adding in some data, then proving there are no duplicates with the first SELECT.

Then, we drop the measurement, and add the exact same data back in, again checking the SELECT to see that we

[2016-06-01 17:37] jwilder commented on #6632
@brewneaux Can you reproduce this with the latest nightlies?

[2016-06-01 17:45] jsternberg commented on #6751
Ok. I've pushed a branch `js-normalize-time`. Since you're on a Macbook, I'll give the instructions on how to do this on a MacBook from your home directory with bash.

[code]

I think those commands should work. The binary will be located at `$HOME/go/bin/influxd` if you want to copy it somewhere else. To remove all of this, just delete the `$HOME/go` directory and close your terminal. The environ

[2016-06-01 18:20] pbek commented on #6243
Thank you for the hint, I will test that first thing in the morning!

[2016-06-01 18:23] jwilder commented on #6685
Fixed via #6732

[2016-06-01 18:23] #6685 closed

[2016-06-01 18:45] ljagiello commented on #6243
@jwilder since 0.13 it's super stable.

[2016-06-01 18:51] jwilder commented on #6243
Thanks @ljagiello

[2016-06-01 18:51] #6243 closed

[2016-06-01 19:15] brewneaux commented on #6632
Yes, built from source minutes ago on OSX, I still experience this issue.  However, I'm also finding that it is not EXPLICITLY related to dropping measurements.  I'm have a script that populates a lot of back data, and that also causes the issue on a completely fresh install (deleted the .influxdb folder). Writing about 125k points about as fast as it will take them also causes the issue.

[2016-06-01 19:17] brewneaux commented on #6632
To elaborate, so far I have experienced the problem on 0.12, 0.13, master as of 2016-06-01, and it does NOT happen on 0.9.

[2016-06-02 01:19] jsternberg commented on #6761
Is `COLUMN_WITHUNDERSCORE` a tag or field?

[2016-06-02 01:58] boyxuper commented on #6747
[tbz2.txt](https://github.com/influxdata/influxdb/files/294693/tbz2.txt)

goroutine / heap dump / block profile

I've re-dumped the profiles. it's a compressed tbz2 file because original file was too big.

[2016-06-02 07:35] rubycut opened #6770 "influxdb stops accepting writes"
### Bug report

__System info:__ 0.13.0, debian wheezy

__Steps to reproduce:__

1. Turn on auth
2. Start writing 10k writepoints per second
3. One user should have wrong password

__Expected behavior:__ influxdb should ignore wrong passwords and keep sustained writing rate (like in 0.12.2)

__Actual behavior:__ influxdb slows down and stops writing anything

__Additional info:__ [Include gist of

[2016-06-02 08:59] rubycut commented on #6770
This is actually relay problem.

[2016-06-02 10:46] rubycut commented on #6770
Problem is between influxdb 0.13 and influx relay. Relay somehow stops sending data.

[2016-06-02 11:27] zarnovican opened #6771 "duplicate series with the same tag set"
### Bug report

__System info:__ InfluxDB 0.13.0, Ubuntu Trusty 64-bit

__Steps to reproduce:__

[code]

__Expected behavior:__ I would expect only one series to be created.

[code]

__Actual behavior:__ There are two series, with the same tag set.

[code]

__Additional info:__

If you would test it with two tags..
[code]
 ..it would work as expected.

What's worse, if you write datapoint for the

[2016-06-02 11:46] MatMeredith commented on #6759
@jwilder Thank you -- I'll try this.  Does the memory usage seem right though?   When I restarted (with no database) memory use was negligible.   Memory use has since been steadily growing.   The database size has reached 4GB so far, and memory usage has increased to ~2GB.   I assume it will continue increasing until it reaches the 5.5GB it was at previously.  Is this expected?   Is RAM usage expe

[2016-06-02 12:45] AnthIste commented on #4090
+1 is there an override for this?

[2016-06-02 13:01] rossmcdonald commented on #4090
This has been resolved with https://github.com/influxdata/influxdb/pull/5284, where you can now use the `-unsafeSsl` CLI flag.

[2016-06-02 13:01] #4090 closed

[2016-06-02 14:06] jwilder commented on #6759
It depends on the shape of your data and what queries are running.  The more series and kinds of queries running will incur more RAM usage.

[2016-06-02 14:14] MatMeredith commented on #6759
Seems reasonable.   But my number of series and queries haven’t changed since I restarted InfluxDB and yet RAM usage has increased steadily from ~500MB to 2GB and (based on my previous run) will continue to increase to 5.5GB.   Would you expect this increase over time?

From: Jason Wilder [mailto:notifications@github.com]
Sent: 02 June 2016 15:07
To: influxdata/influxdb
Cc: Matthew Meredith; Menti

[2016-06-02 14:40] aderumier opened #6772 "panic: runtime error: invalid memory address or nil pointer dereference"
Hi,

I had a crash today:

version : 0.14.0~n201605170800

`[collectd] 2016/06/02 16:32:04 failed to write point batch to database "collectd": timeout
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x18 pc=0x64c862]

goroutine 20543184 [running]:
panic(0xb72000, 0xc82000e0c0)
        /usr/local/go/src/runtime/panic.go:481 +0x3e6
github.com/influxd

[2016-06-02 15:02] boynet opened #6773 "ubuntu 16 apt-get installing influxdb 0.10.0 instead of latest"
### Bug report

__System info:__ [Include InfluxDB version, operating system name, and other relevant details]
Ubuntu 16.04 LTS Profile (Latest 64 bit (4.5.5-x86_64-linode69))

__Steps to reproduce:__

1. [First Step]
just copy pasting from this guide:https://docs.influxdata.com/influxdb/v0.13/introduction/installation/
[code]

after running I am getting this message:
[code]

I can successfully in

[2016-06-02 15:24] jwilder commented on #6772
@aderumier There was a fix for this panic in #6754.  Can you run `influxd version` to determine if you have that fix in your build or not?

[2016-06-02 15:38] beckettsean commented on #5750
@jsternberg This seems to be the right issue for field wildcards. I think it was closed by mistake. This functionality definitely does not yet exist.

[2016-06-02 15:43] beckettsean commented on #5750
We do now support `SELECT *::field FROM foo` but that's only for selecting non-aggregated points. Therefore not useful in CQs, which require a function.

The original ask is to support something like:

`SELECT MEAN(*::field) INTO bar FROM foo GROUP BY time(5m)` so that CQs can be built without perfect knowledge of the field sets in the measurement. It also makes the CQs future-proof as new fields

[2016-06-02 15:44] beckettsean commented on #5978
related to #5750, probably a dupe

[2016-06-02 16:00] beckettsean commented on #5234
related to #5750

[2016-06-02 16:13] rossmcdonald commented on #6772
@aderumier It looks like you're running a nightly from May 17th. Can you retry with the latest nightly to see if the issue persists? #6754 wasn't added until day before yesterday, so it won't be in your build.

[2016-06-02 17:07] rossmcdonald commented on #6773
@boynet Can you provide the output to the following commands?

[code]

I just ran through a test installation, but didn't see any issues. Also the build that you're running looks to have been compiled manually using Go 1.6rc1 (which isn't what the `0.10` branch was built with).

[2016-06-02 17:11] boynet commented on #6773
[code]

[code]

this should be 3 separate commands or 1 line?
[code]

[2016-06-02 17:14] rossmcdonald commented on #6773
Regarding:

Those are three distinct commands. And where did you get the original `0.10.0+dfsg1-1` release? That's not one of our packages, so I'm not sure what the upgrade path will look like.

[2016-06-02 17:23] royalaid commented on #6728
Just want to chime in and say I am experiencing this as well. Gist [here](https://gist.github.com/royalaid/fb375a461f9fb38381a3599537c23f7c) if it helps

[2016-06-02 18:00] boynet commented on #6773
I can give you ssh access to the terminal\record a video of my steps, I just create new linode with ubuntu 16, follow the guide steps and that what I got didn't do anything special

[2016-06-02 19:53] phil-fu commented on #3552
+1

[2016-06-02 20:03] boynet commented on #6773
here is the video(just copy pasting nothing special):
https://www.youtube.com/watch?v=EKyVxMyOnfo&feature=youtu.be

[2016-06-02 20:21] rmarchei commented on #6773
It looks like there's an issue on the Packages file:

Ubuntu 16.04: https://repos.influxdata.com/ubuntu/dists/xenial/stable/binary-amd64/Packages
Ubuntu 14.04: https://repos.influxdata.com/ubuntu/dists/trusty/stable/binary-amd64/Packages

[2016-06-02 21:16] rossmcdonald commented on #6773
@rmarchei Ah, thanks! For some reason the xenial repo was having issues. They should now be resolved, though.

@boynet Can you run an `apt-get update` and then try re-installing? It seems the `dfsg` one is a Debian package, but I'm not sure how that go installed instead.

[2016-06-02 21:43] rmarchei commented on #6773
Thanks to you @rossmcdonald, influxdb works now, but on the Packages file chronograf is still missing

[2016-06-02 22:05] rossmcdonald commented on #6773
@rmarchei That should now be fixed as well. Sorry about that!

[2016-06-02 22:06] rossmcdonald commented on #6773
@boynet Since the repo has been fixed, I'm going to go ahead and close out this issue. Please feel free respond here if you continue to see issues, though.

[2016-06-02 22:06] #6773 closed

[2016-06-03 04:24] aderumier commented on #6772
Ok, thanks. I'll try lastest nightly.
(Note that I'm not sure to reproduce it, I have hitted this bug once only)

[2016-06-03 04:37] boynet commented on #6773
@rossmcdonald thanks I am getting version 0.13.0 now, but still service influxdb return "unrecognized service"

I think they did some changes in the services area

[2016-06-03 08:26] Tim10000 commented on #6761
Good catch it is a Tag field! And I suppose it's the normal behaviour in this case, sorry I'm learning how to use your product ! Thank you for the answer.

[2016-06-03 08:26] #6761 closed

[2016-06-03 11:29] Belsepubi opened #6775 "client query is POST not GET"
### Bug report

__Steps to reproduce:__

1. Run a simple query e.g. `SELECT * FROM my_thing`

__Expected behavior:__ Function should return correct results

__Actual behavior:__ `unable to decode json: received status code 405 err: invalid character 'M' looking for beginning of value`

__Additional info:__ Changing method from `POST` to `GET` in ..v2/client.go made this work like a charm.

[2016-06-03 13:42] rossmcdonald commented on #6773
@boynet What do you get if you run a `/etc/init.d/influxdb start`?

[2016-06-03 14:37] boynet commented on #6773
-bash: /etc/init.d/influxdb: No such file or directory

[2016-06-03 14:43] rossmcdonald commented on #6773
@boynet Ah, sorry, I'm a little new to systemd. The command should be `systemctl status influxdb`. Does that return anything?

[2016-06-03 14:49] ogarcia opened #6777 "Influx -version returns unknown"
__System info:__ Arch Linux with own compiled latest git tag of influx (v0.13.0)

__Steps to reproduce:__

1. Download latest tag from github
2. Compile and install
3. Execute `influx -version`

__Expected behavior:__ That gives some like `InfluxDB shell version: 0.13.0`.

__Actual behavior:__ Returns: `InfluxDB shell version: unknown`

[2016-06-03 14:53] boynet commented on #6773
yap this:

[code]

[2016-06-03 14:59] rossmcdonald commented on #6777
@ogarcia The version (and commit and branch) is a linker flag set at compile-time. You can see how we set this in the build script here: https://github.com/influxdata/influxdb/blob/master/build.py#L535

I'd recommend using the `build.py` script for future builds, as that includes all of the necessary steps that we use for building the official packages.

[2016-06-03 14:59] #6777 closed

[2016-06-03 15:01] rossmcdonald commented on #6773
Okay, great. It looks like it's running properly then. You should be able to see the latest log details in `/var/log/influxdb/influxd.log`.

Instead of using the `service` command, use `systemctl start|stop|restart|status influxdb`.

[2016-06-03 15:08] rossmcdonald commented on #6775
@Belsepubi Thank you for the report. This behavior was already changed with https://github.com/influxdata/influxdb/commit/6f61c0ea4a7fd494ec1092554e9ec3309a5d5f29, so you may be using the outdated client code.

[2016-06-03 15:08] #6775 closed

[2016-06-03 15:24] boynet commented on #6773
oh yes, thank you :)
maybe add something to the docs? about
`systemctl enable influxdb`

[2016-06-03 15:50] pauldix commented on #858
Not sure we should bother with this one. Seems too tricky to do it in an OS agnostic way.

[2016-06-03 15:50] #858 closed

[2016-06-03 17:17] #6758 closed

[2016-06-03 18:20] ArturasRa commented on #3552
+1

[2016-06-03 19:45] mark-rushakoff opened #6780 "Feature request: paginate output of SHOW TAG VALUES"
`SHOW TAG VALUES` is often fed into GUIs (i.e. Chronograf and Grafana). It's very easy to end up with far more tag values than a UI can easily represent, so it would be useful to be able to paginate the results (perhaps with LIMIT and OFFSET?).

/cc @pauldix

[2016-06-03 19:51] pauldix commented on #6780
Yes, definitely. `LIMIT` and `OFFSET` would work well.

[2016-06-03 20:44] #6756 closed

[2016-06-03 23:24] mark-rushakoff commented on #6780
Oops, this already works:

[code]

[2016-06-03 23:24] #6780 closed

[2016-06-04 02:16] mslee89 opened #6781 "create databases error."
hi.

i should create a database.
but occurred error it.

"ERR: error parsing query: found -, expected SELECT, DELETE, SHOW, CREATE, DROP, GRANT, REVOKE, ALTER, SET at line 1, char 25"

create a database to can't use "-"?

help me.

[2016-06-04 02:41] mark-rushakoff commented on #6781
Use double quotes.

[code]

[2016-06-04 02:41] #6781 closed

[2016-06-04 06:26] rubycut opened #6782 "panic when using go1.6.2"
### Bug report

**System info:** 0.13.0, Debian wheezy,

**Steps to reproduce:**
1. Leave it running with small load 284 WritePointsOk per second.
2. Auth should be on.
3. Create 6 different databases, each custom writes to one database.

**Expected behavior:** It should run without problems

**Actual behavior:** Crashed. Panic.

**Additional info:**

This happended 2:46 in the morning, so no shar

[2016-06-04 07:15] rubycut commented on #6782
I can try any ref you want me to, but we use auth, so nothing will work until #6769 is merged. But I can easily apply out patch to any ref.

[2016-06-04 07:54] ogarcia commented on #6777
Ok!!! I try to use the build.py ;)

Maybe you could write some build doc for future generations?? :grin:

Thanks!

[2016-06-04 13:08] rubycut commented on #6782
Another similar failure:
[code]

[2016-06-04 21:18] kb1ibt commented on #4157
@toni-moreno I have a perfect use case as to why I need to be able to change values.
I use collectd to pull in my SNMP values. I performed a firmware upgrade on a line of switches and the ifDesc field name changed on all 8 switches. So now all of the type_instance tag values are different. For example for interface 32 on switch 1 the ifDesc used to be "TenGigabitEthernet 1_0_32" but now that inter

[2016-06-04 21:38] jackpoz commented on #5359
+1

https://github.com/TrinityCore/TrinityCore/pull/16956 we use InfluxDB + Grafana to show realtime metrics about MMORPG server application, showing ingame players, network usage and game-specific data to monitor possible issues. Since our project is cross-platform (Windows, Linux, Mac) and uses cross-platform software (like CMake/MySQL) it would be nice to have a cross-platform InfluxDB too

[2016-06-05 00:05] larrywalker commented on #6751
Running with the database from your branch.
This first command returns thousands of records
**> select seqno from evtlora_rp.evtlora where time > now() - 1d group by deveui**

_[query] 2016/06/04 19:52:38 SELECT seqno FROM senetdev.evtlora_rp.evtlora WHERE time > '2016-06-03T23:52:38.979318878Z' GROUP BY deveui
[httpd] 2016/06/04 19:52:45 ::1 - - [04/Jun/2016:19:52:38 -0400] POST /query?chunked=tr

[2016-06-05 10:32] onnos commented on #6451
This seems to have been fixed for *continuous* queries in the 0.13 series but not for direct/"raw" queries. The relevant comment is [here](https://github.com/influxdata/influxdb/pull/6103#issue-142994236).

[2016-06-05 16:45] boynet commented on #4255
+1

[2016-06-06 01:19] jonseymour commented on #6507
@jwilder I think #5830 is part of the solution (particularly the idle stats support) although for precision some additional changes to meta and store will be required to give DatabaseIndex a Close() lifecycle method which will allow the statistics Recorder for the database index to be closed when a database is dropped.

[2016-06-06 01:48] gregzuro opened #6785 "error with 'measurement'"
### Bug report

Echoes of #3467 :

__System info:__

Ubuntu 14.04, and:

[code]

__Steps to reproduce:__

[code]

[2016-06-06 01:57] jonseymour commented on #6785
@gregzuro. measurement  is also a keyword, so if you want to use measurement in a query you need to enclose it with double quotes (e.g. measurement).

[2016-06-06 05:44] gregzuro commented on #6785
Ah. I see.  Then I guess this issue is related to the web site docs.

[code]

( https://docs.influxdata.com/influxdb/v0.13/write_protocols/write_syntax/ )

[2016-06-06 06:31] Belsepubi commented on #6775
Hi,

I can see the change from GET to POST. However the POST is not working. If
I change it to GET it works.

Thanks,

 - Belsepubi

On Fri, Jun 3, 2016 at 6:08 PM, Ross McDonald <notifications@github.com>
wrote:

--

Best regards,
Antti Kokko
Meshmoon developer at Adminotech Ltd.
www.meshmoon.com

[2016-06-06 07:02] zbindenren opened #6786 "[0.12.2] Too many open files"
### Bug report

__System info:__ [0.12.2], RHEL7.2, amd64

__Steps to reproduce:__

1. Start influxdb
2. Observe how ~1000 telegraf clients post data
3. wait ~2 days

__Expected behavior:__ No errors in log

__Actual behavior:__  A lot of entries:
[run] 2016/06/06 09:00:05 http: Accept error: accept tcp 172.16.240.72:7003: too many open files; retrying in 1s
65k open files

__Additional info:__ [I

[2016-06-06 07:06] ogarcia commented on #6777
@rossmcdonald There is a problem with `build.py` script. If I download a tagged version from github (for example https://github.com/influxdata/influxdb/archive/v0.13.0.zip) and run the script I give this error:

[code]

This is normal because not is a git repo. I think that the script must detect tagged versions (maybe adding a version file only in these versions?) cause the package systems prefer

[2016-06-06 07:46] Belsepubi commented on #6775
It seems I´m running too old version of db itself. However installing the
latest fails on ubuntu..:) -> Failed to execute operation: Too many levels
of symbolic links.

On Mon, Jun 6, 2016 at 9:31 AM, Antti Kokko <antti.kokko@adminotech.com>
wrote:

--

Best regards,
Antti Kokko
Meshmoon developer at Adminotech Ltd.
www.meshmoon.com

[2016-06-06 08:13] jonseymour commented on #6785
Good point. I'll raise a PR against the documentation to fix this.

[2016-06-06 08:43] jonseymour commented on #6785
PR raised - https://github.com/influxdata/docs.influxdata.com/pull/492

[2016-06-06 09:37] Buzut opened #6787 "posting with CURL returns Method Not Allowed"
I'm on Ubuntu 16.04 with InfluxDB 0.13.

When I try to create DB or any other command via curl, as demonstrated in the [docs](https://docs.influxdata.com/influxdb/v0.13/guides/writing_data/), for instance:

    curl -POST http://localhost:8086/query --data-urlencode "q=CREATE DATABASE mydb"

I get an `Method Not Allowed` in return.

Nevertheless, doing the same with get works perfectly:

    curl

[2016-06-06 09:52] zstyblik commented on #6787
@Buzut, because only `GET` is allowed. It is a good catch and point. I'll create a ticket for docs.

[2016-06-06 09:55] Buzut commented on #6787
All right. Thank you for the explanation. The docs misleaded me!

[2016-06-06 10:00] zstyblik commented on #6787
@Buzut, please see https://github.com/influxdata/docs.influxdata.com/issues/493. I'm not an InfluxDB dev/affiliate, but I have a v0.13.0 running and Web UI is doing `GET` to create a new database. So, I presume the documentation is wrong or outdated. Also, I found https://github.com/influxdata/docs.influxdata.com/pull/462 which clarifies documentation, but ... umm ... I actually ended up a bit con

[2016-06-06 10:08] Buzut commented on #6787
@zstyblik Thank you for clarifying this.
At first, I actually had a look at the requests the WebUI was doing to get a glimpse of how I could automate the setup with scripts. Then I saw in the docs that they were using `POST` with curl, which made sense. But in the end, didn't work, si it's kind of puzzling to be misguided by the docs!

[2016-06-06 10:12] jonseymour commented on #6782
Is the level of code you are running exactly v0.13.0 or is it v0.13.0 with some other changes. The reason I ask is that I can't make sense of the stack traces (as compared to the code) if this is meant to be exactly v0.13.0

[2016-06-06 10:22] rubycut commented on #6782
This is the version I am using:
[code]

All the lines match with stack trace:

        /workbench/src/github.com/influxdata/influxdb/tsdb/engine/tsm1/cache.go:62 +0x1cc

Line is:

https://github.com/influxdata/influxdb/blob/v0.13.0/tsdb/engine/tsm1/cache.go#L62

You are writing to e.values

[2016-06-06 10:24] rubycut commented on #6782
Same goes for first example:

https://github.com/influxdata/influxdb/blob/v0.13.0/tsdb/engine/tsm1/cache.go#L459

Is c.store properly initialized, or there is some kind of race condition?

[2016-06-06 10:29] rubycut commented on #6782
I otop of that tree, I added only few lines as explained in #6769 but this pull request doesn't touch engine dir.

[2016-06-06 10:34] jonseymour commented on #6782
Ok. The reason I asked is that  **c.store** is only ever assigned to during initialisation of a Cache so it is strange that line https://github.com/influxdata/influxdb/blob/v0.13.0/tsdb/engine/tsm1/cache.go#L459 can throw a nil pointer exception. More thought required...

[2016-06-06 10:56] rubycut commented on #6782
Key here is that it doesn't happen in 0.12.2 So, I am going though:

    git log -p v0.12.2..v0.13.0 -- tsdb/engine/tsm1/cache.go

To see if anything looks suspicious.

[2016-06-06 11:15] jonseymour commented on #6782
Do you have the full stacktraces available from the events above?

[2016-06-06 11:25] rubycut commented on #6782
Nope, this is everything which appeared in the log, after that, there is influxdb server starting again.

For program-ending panics, the runtime now by default prints only the stack of the running goroutine, not all existing goroutines. Usually only the current goroutine is relevant to a panic, so omitting the others significantly reduces irrelevant output in a crash message. To see the stacks fro

[2016-06-06 11:29] rubycut commented on #6782
https://github.com/influxdata/influxdb/commit/87ceb7426a094c4296f95854bf7dba8a7c0baea4#diff-c8d1b07d0839e4d24dbd73e7d2f5ade6R189

This is the problem I think, mutex is locked in entry() and add() but in between, there is small window of opportunity that some other goroutine will obtain lock and delete this entry we referenced in entry. @jwilder , thoughts?

[2016-06-06 12:07] jonseymour commented on #6782
The reason I asked about stack trace showing other goroutines is that c.store does get modified during snapshotting. There is a locking pattern that are meant to prevent unsafe access, but perhaps that locking pattern isn't working as intended. Presence of Snapshot() on the stack at the time of failure would be suggestive of this issue.

[2016-06-06 12:08] rubycut commented on #6782
Yep, I'll do full backtrace. But we might have to wait couple of hours until bug appears again.

[2016-06-06 12:14] bovy89 opened #6788 "Slow continous queries"
Hi, I'm facing an issue with continuous queries, because they take too much time to complete their execution.

I have the following continuous queries:

[code]
I've tried to execute one of them manually:
[code]

Without the into clause, it works fine and return in a few of seconds;
With the into clause, it tooks more than 25m to complete and then influx cli says "177104 written".

InfluxDB Version

[2016-06-06 13:47] rossmcdonald commented on #6777
@ogarcia Yes, the build script assumes you are running it inside a git directory. Is there a reason you are not cloning the repository and then checking out the version tag you need? You can also use `python build.py --commit <tag>` to build from a specific commit.

Also, is there a reason you are compiling from source instead of using one of the pre-built packages?

[2016-06-06 14:10] siddarth7 commented on #52
+1

[2016-06-06 14:13] ogarcia commented on #6777
@rossmcdonald The only reason is to build Arch Linux package from source that is "more elegant" than use binary package.

Anyway no problem cause I can do `-ldflags "-X main.version=${pkgver}"` and set the version from tag as I do [here](https://git.connectical.com/aur/influxdb/src/master/PKGBUILD).

Many thanks for your help!

[2016-06-06 15:22] beckettsean commented on #6787
Docs aren't wrong, there's something else going on.

On Ubuntu 14.04 with InfluxDB 0.13.0 I have no issues creating a database using POST or GET:

[code]

[2016-06-06 16:08] rossmcdonald commented on #6775
@Belsepubi Can you paste the full output as well as the commands used to attempt the installation?

[2016-06-06 16:13] notes-jj commented on #6746
Moved Bug to: https://github.com/influxdata/influxdb-docker/issues/16

[2016-06-06 16:13] #6746 closed

[2016-06-06 16:38] jsternberg commented on #6751
Thanks. I'll try to reproduce locally and figure out what's going on.

[2016-06-06 16:40] jsternberg commented on #6751
Can you also try this query directly to confirm that this is an issue with `now()`?

[code]

It looks like that command returned nothing and I would like to see if using absolute times like you reported earlier matter.

[2016-06-06 16:48] larrywalker commented on #6751
Acts the same with the absolute time.  The SLIMIT returns almost immediately with no data.

**SELECT seqno FROM senetdev.evtlora_rp.evtlora WHERE time > '2016-06-03T23:58:04.839075423Z' AND time <= '2016-06-04T23:58:04.839075423Z' GROUP BY deveui**

_[query] 2016/06/06 12:45:02 SELECT seqno FROM senetdev.evtlora_rp.evtlora WHERE time > '2016-06-03T23:58:04.839075423Z' AND time <= '2016-06-04T23:58

[2016-06-06 16:50] jsternberg commented on #6751
Can you confirm what data there is in that time period with doing this query?

[code]

[2016-06-06 17:17] larrywalker commented on #6751
I have been running the query without the SLIMIT to verify that there is data within the timeframe.
I generated a bunch of data, so there are ~1.6Million events in this time frame.

`> SELECT count(seqno) FROM evtlora_rp.evtlora WHERE time > '2016-06-03T23:58:04.839075423Z' AND time <= '2016-06-04T23:58:04.839075423Z'`

[code]

`> SELECT count(seqno) FROM evtlora_rp.evtlora WHERE time > '2016-06-0

[2016-06-06 17:26] pga23 opened #6789 "SHOW MEASUREMENTS needs any data in default retention policy to work"
### Bug report

__System info:__
- Ubuntu Server 16.04
- InfluxDB 0.13

__Steps to reproduce:__

1. create a new database
2. create a few new retention policies and change one into default
4. remove "default" retention policy
3. write any data in a few measurements to non-default retention policy (default rp must be without data)
4. apply `SHOW MEASUREMENTS`

__Expected behavior:__
List of all cre

[2016-06-06 17:36] jsternberg commented on #6751
I might have been able to reproduce it, but the scenario is a bit weird so I'm not sure my reproducer applies to you. It seems the query engine shares the database index for a measurement between different retention policies and that is used by `SLIMIT` and `SOFFSET`. Do you have any other retention policies attached to that database/measurement?

[code]

Then run `SELECT * FROM senetdev."<rpname>

[2016-06-06 18:02] larrywalker commented on #6751
I have a retention policy for each measurement.  We only use 1 RP per measurement.  We do not write using the default RP.

I ran the select using the each of the RP against the evtlora measurement with SLIMT 1.  Nothing was found.

[2016-06-06 18:03] pga23 opened #6790 "Feature Request: Possibility of using retention polices in Admin UI"
### Feature Request

**Proposal:**

Possibility of using retention polices in Admin UI

**Current behavior:**

No possibility of using retention policies via web Admin UI (or it is possible but not in expected and intuitive way)

**Desired behavior:**

Write data by using modal form should give possibility to use retention policy other than default.
Maybe additional checkbox (e.g. allow retention

[2016-06-06 18:05] jwilder commented on #6786
What version of `telegraf` are you running?

[2016-06-06 18:06] Buzut commented on #6787
@beckettsean That's really weird…
After another try, I still have the same error:

    # curl -POST http://localhost:8086/query --data-urlencode "q=CREATE DATABASE foofoo"
    Method Not Allowed

Would you need more input?

[2016-06-06 18:11] larrywalker commented on #6751
Sorry I didn't directly answer the question.
Yes, we have many RP, but we only use 1 per measurement.

We wanted the ability to change the RP for a specific measurement without affecting any other measurements, so we created 1 RP per measurement.

[2016-06-06 18:21] jsternberg commented on #6751
I pushed another change with a simple print statement that would print which tag sets it was attempting to grab so I can see if they match. Can you update and compile the binary from `js-normalize-time` again and try running your queries with `SLIMIT 1` again?

Don't run without `SLIMIT 1` since it will print all tag sets to the log and you seem to have a lot of tag sets. Thanks.

[2016-06-06 18:22] jwilder commented on #6760
Fixed via #6769

[2016-06-06 18:22] #6760 closed

[2016-06-06 18:50] jsternberg commented on #6751
Also, `SLIMIT` and `SOFFSET` don't pay attention to the time interval when deciding which tags to limit. So if you have any tag value that would sort as the first value and it doesn't have any data, you'll just get a blank response.

@benbjohnson is this something we should change so that `SLIMIT` and `SOFFSET` respect data that actually exists and the time interval?

[2016-06-06 19:00] beckettsean commented on #6787
@Buzut We've got a busy Monday but tomorrow I'll test if it's somehow OS-specific. Not sure why 14.04 vs. 16.04 would matter but it's worth investigating.

How did you install InfluxDB? Was this a new installation or an upgraded one?

[2016-06-06 19:28] Buzut commented on #6787
@beckettsean I installed this server for testing monitoring. So it's a fresh install.
I used apt to install InfluxDB:

    curl -sL https://repos.influxdata.com/influxdb.key | sudo apt-key add -
    echo "deb https://repos.influxdata.com/debian jessie stable" | tee /etc/apt/sources.list.d/influxdb.list
    apt-get update
    apt-get install influxdb influxdb-client

[2016-06-06 19:35] cryptokush commented on #3552
+1

[2016-06-06 20:05] #3733 closed

[2016-06-06 20:47] dengliu opened #6793 "Can we do arithmetic in side aggregation functions?"
Hello,

Is there a way to do arithmetic in side aggregation functions?
E.g. SELECT SUM(field_a * field_b) FROM my_measurement
I am getting "error parsing query: expected field argument in sum()" when I run the above query

Thank you!

[2016-06-06 20:51] benbjohnson commented on #6751
@jsternberg If it's not outputting any data then it seems like it should be skipped with respect to `SLIMIT`/`SOFFSET`.

[2016-06-06 22:00] #6233 closed

[2016-06-06 22:06] srikara opened #6795 "InfluxDB migration error from 0.10.2 to 0.12.2"
This is following the discussion at the google groups:
https://groups.google.com/forum/#!topic/influxdb/5BX2pUD-9lU

I still think it was something I did, but @beckettsean seems to trust me more than I do :-)

I was upgrading influx from 0.10.2 to 0.12.2 and followed the instructions. Here are the steps I took. This is basically a dump of the relevant bash history.
[code]

The expectation was that

[2016-06-06 22:09] beckettsean commented on #6795
@srikara in your timeline, when was the `influxd` binary updated? I see the export and the import, but not the package installation.

[2016-06-06 22:12] jwilder commented on #6782
#6794 may be related to this.  @rubycut Can you describe your runtime env?  How much RAM, CPU Arch, etc..?

Also, would you be able to test latest master or tonight's nightly to see if it still occurs.

[2016-06-06 22:15] jwilder commented on #6782
@rubycut Can you include the logs from before the panic?  If you able to run w/ `GOTRACEBACK=all` that would be helpful as well.

[2016-06-06 22:16] larrywalker commented on #6751
Lots of output on the server, but nothing in the client (as expected)
[code]

[2016-06-06 22:20] jsternberg commented on #6751
This part here: `bstneui:AABBCC00010186DC`

Does this match the tag of the first row of output when you don't use an `SLIMIT`? I'm guessing that this is older data, but it's still in the index. `SLIMIT` and `SOFFSET` don't currently consider whether there is actually any data in a tagset before considering it.

[2016-06-06 22:21] srikara commented on #6795
Apologies. I was copy/pasting the commands and forgot to add the influx upgrade. The upgrade happened after stopping influxd server and updating the config file and before running restore.

[2016-06-06 23:54] jonseymour commented on #6787
Is -POST a valid curl option? --get is a valid option but there is no --post. You might have been -XPOST.

[2016-06-07 00:13] tbriggs-curse commented on #1819
+1

[2016-06-07 00:29] wuxiaomin98 commented on #5251
Hi @DenysBez , I have the same issue with you. I'm wondering how could I handle this problem? Below is part of the log:

2016/06/07 00:22:10 Error writing to output [influxdb]: Could not write to any InfluxDB server in cluster
2016/06/07 00:22:20 Output [influxdb] buffer fullness: 98 / 10000 metrics. Total gathered metrics: 98. Total dropped metrics: 0.
2016/06/07 00:22:20 Database creation failed

[2016-06-07 01:03] goakley opened #6796 "Out of Memory (Fatal) Error when Dropping Measurement"
### Bug report

__System info:__
Debian GNU/Linux 8 (jessie)
3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-1 (2016-03-06) x86_64 GNU/Linux
InfluxDB 0.13.0

__Steps to reproduce:__
1. Collect around 50,000 data points in a single measurement
2. Attempt to drop the measurement with `DROP MEASUREMENT [name]`
3. Wait a few seconds

__Expected behavior:__
After some time, InfluxDB should signify that it ha

[2016-06-07 01:37] beckettsean commented on #6787
@jonseymour thanks, that's right! I just copy/pasted without thinking.

However, it does still work for me with both `curl -XPOST` and `curl`. I can create a database either way. `Method Not Allowed` is the error `curl` throws when given an invalid method switch:

[code]

[2016-06-07 01:37] #6787 closed

[2016-06-07 04:42] Belsepubi commented on #6775
I had installed a version 0.10.0 .via apt-get last week. During that
installation I didn´t check that it was an old version. Now I had to remove
that and then manually remove every influx -named file. Then I installed
the latest version just like the installation guide told and everything
works fine. First I unmasked the influx service and got a different error
which I cannot get hold of anymore s

[2016-06-07 06:54] willemdh opened #6797 "Bug in Admin gui with HTTPS"
InfluxDB version v0.13.0. I was asked to make an issue following this thread:

https://groups.google.com/forum/#!topic/influxdb/7FOwP3_UO7A

So there seem to be two issues in the thread:

1) It was not possible for me to connect to InfluxDB on 8086 when https was enabled for the admin gui. After enabling https for 8086 and restarting influxdb service, it does become possible.
2) After enabling htt

[2016-06-07 06:59] zbindenren commented on #6786
@jwilder we are using telegraf-0.13.1

[2016-06-07 08:10] dsxcz opened #6798 "unexpected behaviour of CQ"
### Bug report

**System info:**
Influxd: 0.13
Os: Debian Jessie (8.5), 3.13.0-55-generic
System: 2xSSD hdd, 32GB RAM, 12 cores

**Steps to reproduce:**

I have a problem with influx (0.13) CQ giving me wrong result.

I collect (with telegraf and snmp) ifHCInOctets, ifHCIOutOctets per switch and interface to influx.

This is one series (switch+port), and everything looks good:

[code]

This is ser

[2016-06-07 09:13] Buzut commented on #6787
@beckettsean

    # curl -i -XPOST http://localhost:8086/query --data-urlencode "q=create database curl"
    HTTP/1.1 405 Method Not Allowed
    Allow: OPTIONS, GET
    Content-Type: text/plain; charset=utf-8
    X-Content-Type-Options: nosniff
    Date: Tue, 07 Jun 2016 09:06:30 GMT
    Content-Length: 19

    Method Not Allowed

But this works:

    # curl -i -XPOST 'http://localhost:8086/write?

[2016-06-07 10:00] forsberg opened #6799 "Large queries cause entire influxdb to die with out of memory"
### Bug report

__System info:__ influxdb 0.13.0-1 (Debian package) on Debian Wheezy AMD64, 48G memory in machine.

InfluxDB is configured with graphite listener that takes input from some 120+ Cassandra machines, as well as collectd listener and Influxd protocol listener. It's a test setup evaluating multiple data sources (Cassandra via yammer/graphite, collectd, telegraf).

The "graphite" databa

[2016-06-07 10:04] rubycut commented on #6782
@jwilder, as hardware specs go, it's a fire breathing dragon, 64Gb of RAM, we are constantly around 25% usage of RAM, 24 cores, SSD drives, you name it, so resource exhaustion is not issue here.

[2016-06-07 10:06] rubycut commented on #6782
ok, let me try master now, and I will give you full stack trace in case of any problems.

[2016-06-07 11:48] larrywalker commented on #6751
No DC is not part of the data within the time scope.

Just 3 bstneui are part of this time frame
ABCDEFFF00000000, ABCDEFFF00000001, ABCDEFFF00000002

influx -database db -execute "SELECT seqno FROM evtlora_rp.evtlora WHERE time > '2016-06-03T23:58:04.839075423Z' AND time <= '2016-06-04T23:58:04.839075423Z' GROUP BY bstneui" > /tmp/influx_test.txt

cat /tmp/influx_test.txt | grep tags:
tags: bstne

[2016-06-07 12:11] rubycut commented on #6782
Arch is 64bit linux, debian.

[2016-06-07 12:29] rubycut commented on #6782
@jwilder, master branch didn't last for one hour, strace trace is 100 k lines big, how do you want me to give it to you?

[2016-06-07 13:28] jsternberg commented on #6793
Not yet. Follow issue #5971 to get notifications when we implement this. Thanks.

[2016-06-07 13:28] #6793 closed

[2016-06-07 13:30] jsternberg commented on #6751
`SLIMIT` does not look at the time interval currently when determining which series to show. If you remove the time intervals, is `DC` the first on the list?

[code]

[2016-06-07 13:40] larrywalker commented on #6751
Yes, DC is the first one.

[code]

[2016-06-07 14:19] jwilder commented on #6782
@rubycut Can you attach it to this issue?

[2016-06-07 14:40] unixninja92 opened #6800 "Graphite input dropping on restart"
### Bug report

**System info:**
Influx 0.13.0
Amazon linux 2016.3.0

**Steps to reproduce:**
1. Start influx in an auto scaling group behind an elb listening for graphite on 2003
2. Start sending graphite input to influx via jmxtrans-agent
3. Restart influxdb
4. influx stops receiving graphite from jmxtrans-agent even though jmxtrans-agent continues to sucessfully send tcp
5. restart jmxtrans-age

[2016-06-07 14:46] fluffy commented on #5930
The IOT stuff we are doing really needs integrals.  Any idea on timeline of when we might get this?

[2016-06-07 15:25] beckettsean commented on #6787
@Buzut the methods changed with InfluxDB 0.13. It is expected that for 0.10 all queries to the `/query` endpoint should be `GET`. Also, it has always been the case that connections to the `/write` endpoint should be `POST` connections.

[2016-06-07 15:30] Buzut commented on #6787
All right. My bad then… I thought I had a 0.13.

[2016-06-07 15:46] rubycut commented on #6782
Here you go.

[error.txt](https://github.com/influxdata/influxdb/files/302986/error.txt)

[2016-06-07 15:48] adampl commented on #4155
+1

[2016-06-07 16:21] beckettsean opened #6804 "binary should have a --version flag"
### Feature Request

__Proposal:__

`influxd --version` outputs the version string for the binary.

__Current behavior:__

[code]

__Desired behavior:__
Should be analogous to the `influx` switch
[code]

E.g.

[code]

__Use case:__
Without this flag, the `influxd` binary must be running in order to determine the version of InfluxDB installed.

[2016-06-07 16:32] rubycut commented on #6782
each entry has a mutex, you obtain entry, through entry() function, and then you pass that pointer to
add() function:

https://github.com/influxdata/influxdb/blob/b972c220aa0b847428173b8321f1d0f6d7f277e2/tsdb/engine/tsm1/cache.go#L207

ok, that should be save since each entry has mutex, but then, after you obtain pointer to entry, you keep the pointer and unlock main mutex.

in add function, you a

[2016-06-07 16:35] jwilder commented on #6804
It's currently a sub-command
[code]

[2016-06-07 16:52] jwilder commented on #6782
@rubycut Would you be able to run latest master with the race detector enabled?

[code]

[2016-06-07 17:05] beckettsean commented on #6804
Thanks, Jason, I'm in the process of opening another issue regarding the incomplete CLI help for the command. I'll mention this as an example.

[2016-06-07 17:05] #6804 closed

[2016-06-07 17:05] adampl commented on #6011
Please, don't:
- enforce _any_ restrictions on the data (measurement name or tag/field name/value)
- issue any warnings about unusual characters
- reinvent special character escaping rules

As a last resort, you can encode the strings internally, even in base64, but please don't force clients to do this for you.

[2016-06-07 17:13] beckettsean opened #6805 "influxd binary needs better command-line parameter help"
### Feature Request

__Proposal:__ [Description of the feature]

Calling `influxd` with an unrecognized switch should point users to the `influxd help` subcommand.

Also, the current list of switches/flags is partially incorrect.

__Current behavior:__ [What currently happens]

[code]

To get the subcommands you must run `influxd help`, no flag:

[code]

__Desired behavior:__ [What you would like

[2016-06-07 17:13] beckettsean commented on #6804
https://github.com/influxdata/influxdb/issues/6805

[2016-06-07 20:04] jonseymour commented on #6782
@rubycut May I play devill's advocate? The delete at line 348 is protected by the cache mutex. It doesn't need to be protected by the entry mutex since it isn't modifying the entry, it is modifying the cache.

[2016-06-07 20:25] rubycut commented on #6782
@jonseymour, but if we are deleting cache entry, some other routine may obtained pointer to that entry that we are deleting and then we get panic.

[2016-06-07 21:21] deluan commented on #2670
This works great for filtering the data (although I'm not sure if it will perform well with a huge amount of points). But what if I want to **group by** one of the tags, say `"audience"`? Is there a way to do that with Influx v0.13?

[2016-06-07 21:33] beckettsean commented on #2670
@deluan https://docs.influxdata.com/influxdb/v0.13/query_language/data_exploration/#group-by-tag-values

[2016-06-07 21:35] beckettsean commented on #2670
You cannot use regex in a `GROUP BY`, so if you are referring to the idea of storing an array as a string and then GROUPing by only a portion of that string, that is not possible.

[2016-06-07 21:47] rubycut commented on #6782
@jwilder, running with race detector doesn't show any extra output, everything is same like last time, as if race detector is not running, it should dump info on stderr and it should end up in log file like other output, but there is no race output in log file.

[2016-06-07 21:47] deluan commented on #2670
@beckettsean Yeah, that's what I was referring to. Are multi-valued tags something that you plan to support? If not, any suggestions on how to achieve that?

[2016-06-07 21:56] beckettsean commented on #2670
I don't see multi-valued tags being on the roadmap any time soon.

If you want to GROUP BY a tag, you must group by the entire value. You don't have to have every tag on every point, however, so simply store the values as individual tags.

I don't see why the array wouldn't be decomposable into key-value pairs, but perhaps if you want to share your sample data with influxdb@googlegroups.com you mi

[2016-06-07 23:31] jsternberg commented on #6805
I implemented this in a PR, but I would like us to consider using something other than Go's default command line parser in the future. I'm of the opinion that the Go command line parser is very user unfriendly since it uses almost no established standard and instead sets a new standard. The Docker project did something similar when they started getting towards 1.0.

[2016-06-08 02:07] mark-rushakoff commented on #6805
@jsternberg You're right that the Go flag parser is nonstandard, [as Rob Pike pointed out](https://groups.google.com/d/msg/golang-nuts/3myLL-6mA94/VUkLtSOyS-YJ):

I'd be thrilled if we could get on Unix style flags, but is that a breaking change? Can we do that before 1.0 final?

[2016-06-08 02:09] jsternberg commented on #6805
We can do what Docker did and accept both, but it's more work than I'd like at the moment which is why I haven't done it. I'll mess around with it in my free time to see how difficult it would be.

[2016-06-08 03:14] jonseymour commented on #6782
@rubycut remember that `delete(c.store, k)` on L348 only modifies storage associated with `store` - it does not release the memory associated with the entry stored at index `k', it merely removes a reference to it - there is no thread safety issue with code at line L348.

[2016-06-08 04:17] rubycut commented on #6782
Ok, you got a point there, back to the drawing board.

[2016-06-08 06:02] rubycut commented on #6782
Laster master
[code]

This doesn't work at all:
[code]

[2016-06-08 06:07] rubycut commented on #6782
ok, without -race it works.

[2016-06-08 09:04] rubycut commented on #6782
[error2.txt](https://github.com/influxdata/influxdb/files/304390/error2.txt)

This error came after running for 2 hours, 40 minutes.

But, 0.12.2 can run for days without going down.

[2016-06-08 09:05] babilen commented on #4511
A consistent interface that uses `ALL`, `READ`. `WRITE` for `REVOKE`/`GRANT` and `SHOW GRANT` would simplify library design tremendously.

Right now it is rather tricky to implement checks if certain privileges have been granted as one has to normalise the `SHOW GRANT` data:

1. `ALL PRIVILEGES` has to be changed to `ALL`
2. If values contains `NO PRIVILEGES` that entry has to be removed

It would

[2016-06-08 10:32] rubycut commented on #6782
More fun, was running 40 minutes this time:

[code]

[2016-06-08 14:39] nordewal commented on #6771
I can confirm this bug on InfluxDB 0.13.0, RHEL 7.2

[2016-06-08 15:05] jwilder commented on #6782
0.12 was compiled with go 1.4.3.  0.13 uses go 1.6.2.  These errors look more like an issue w/ the go runtime or your particular OS.

Can you run: `uname -a` and `go env`?

Could you try running latest master w/ go 1.4.3?

[2016-06-08 15:10] rubycut commented on #6782
Production machine is debian wheezy with custom kernel:
[code]

I am doing compile on ubuntu:
[code]

[2016-06-08 15:12] rubycut commented on #6782
Go is compiled by installing go1.4.3 as instructed in https://github.com/moovweb/gvm

[2016-06-08 15:13] rubycut commented on #6782
I'll try with go1.4.3 and latest master

[2016-06-08 15:56] rubycut commented on #6782
@jwilder, I will report if it crashes with go1.4.3, however, I don't think there is problem with my particular OS, if you ship influxdb 1.0.0 compiled with go.1.6.2, then I guess many people will have similar issues like me.

[2016-06-08 16:39] jwilder commented on #6782
@rubycut 0.13 was released and uses go 1.6.2, but this is the first report of an any issue that might be related to the switch to go 1.6.2.

Your OS in combination with the go runtime _may_ be causing the issue since you are seeing several  errors that don't appear to be related.  You mentioned you are also running a custom kernel which might also be a factor.

These errors are hard to explain and

[2016-06-08 17:44] rubycut commented on #6782
Yea, we'll see, we are running influxdb with what could be called "realistic loads", we have over 1000 telegraf clients sending data, we use auth, and we currently have 305k series in the db.

So, we want to follow influxdb version and run latest stuff so that we can report additional bugs.

For example, when we had measurements with 60k series, influxdb start dying every midnight UTC, something r

[2016-06-08 18:20] jwilder commented on #6799
Have you tried UDP for graphite listener?   The panic looks like a bunch of TCP connections were blocked trying to flush their batches.  There was a compaction running that tried to allocate and failed causing the OOM.  That might be fixed by #6567.

Can you test w/ `1.0 beta1` or a current nightly?

[2016-06-08 18:24] jwilder commented on #6800
Have you tested w/o the ELB in middle of the request path?  Is the ELB failing health checks and removing the influx server from the available nodes after restart?  Are there any errors in the influx logs?

[2016-06-08 18:29] jwilder commented on #6795
Is `/usr/local/influxdb/meta` the value of your `[meta].Dir` in your config file?  That's not the default meta dir location used in the packages so `influxd` might be looking for your meta data in a different location.

[2016-06-08 18:30] forsberg commented on #6799
I have not tried udp. I got a similar OOM after switching to influx protocol over http. Will try 1.0 beta1.

[2016-06-08 18:31] jwilder commented on #6786
I'd suggest upgrading `influxdb` to `0.13` as well.

[2016-06-08 18:34] jwilder commented on #6770
Closing this since it's a relay problem.

[2016-06-08 18:34] #6770 closed

[2016-06-08 18:44] jwilder commented on #6759
Slow startup should be fixed by #6743

[2016-06-08 18:44] #6759 closed

[2016-06-08 19:57] forsberg commented on #6799
No, 1.0beta1 with influx over http has same behaviour - it starts compacting, then memory grows out of bounds and it crashes with out of memory. I don't have any pprof or log excerpts available right now, but I'll post them tomorrow.

Any knobs I should turn that could help here?

I would like to be able to use influx over https with authentication for encryption and security, udp doesn't have tha

[2016-06-08 20:16] jwilder commented on #6799
What queries are you running?  One from the profiles you attached was using about 8GB of RAM.

From your logs and the profiles, it looks like you have a large number tags or possibly high tag cardinality.  What does `show stats` and `show diagnostics` report?

Can you run `influx_inspect dumptsmdev <path/to/tsm/file>` on the larger files that were listed in the logs just before it OOM'd?  Your log

[2016-06-09 00:19] subhachandrachandra opened #6814 "All data tombstoned in database after dropping measurement."
We are running InfluxDb 0.12.2 and the exact code can be found in our clone at "https://github.com/aristanetworks/influxdb". The only local changes in the repo are in the Arista directory which contain custom packing scripts.
Linux influx101.sjc.aristanetworks.com 4.1.10-200.fc22.x86_64 #1 SMP Mon Oct 5 14:22:49 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

   We dropped a measurement on June 2nd aroun

[2016-06-09 00:29] jwilder commented on #6814
There are were some issues related tombstone files not being able to be loaded that were fixed in #6524 which is in `0.13`.

There is still a race related to deletes and compactions that is not fixed yet.

[2016-06-09 00:36] toddiuszho commented on #6622
Is it possible for a type to set in a shard, rotated off, and then later the shard is re-used again? I'm asking because Influx has hummed along for months, but now I'm getting the int vs. float drama, despite appending 'i' at the end of all my numbers in the Line Protocol.

However, months ago, there was a bug in an HTTP POST module I was using where it would omit the last character of every line.

[2016-06-09 07:14] forsberg commented on #6799
OK, new attempt. Slightly different configuration this time:

* influxdb 1.0 beta1 running with stock configuration from .deb - only paths to database changed.
[influxdb.conf.txt](https://github.com/influxdata/influxdb/files/306267/influxdb.conf.txt)
* Collectd input disabled.
* Database now much smaller, dropped the large one I had before. Now we're talking some 20GiB of data.
* All writes come i

[2016-06-09 07:44] mrcheidel opened #6816 "INNER JOIN or SELECT IN"
Hello everyboy
I read about the INNER JOIN between measurements it's no longer supported.
Anybody could be help me? I like know how to filter points for grouds of tag fields:
I need get al points from an measurements where the tag username is in other meas. called suer

i.e. 1

select a.value1, a.value2 from measurement1 as a inner join groupname b on a.username in (b.username)

i.e. 2
I have a me

[2016-06-09 08:18] KiNgMaR commented on #5951
It's back (still running 0.13) - but now only seems to appear under high(er) load :cry:

    [continuous_querier]
    2016/06/09 10:16:03 executing continuous query cq_xxx_requests_max_duration_15s
    (2016-06-08 13:36:45 +0200 CEST to 2016-06-08 13:37:00 +0200 CEST)

[2016-06-09 09:07] forsberg commented on #6799
Removing my continuous queries made InfluxDB stable, but that means I get no downsampling.

[2016-06-09 09:40] rubycut commented on #6782
influxdb is running normally with go1.4.3 during the last 23 hours, maybe you can put label go1.6 to keep this issue as reference.

I would suggest reverting to compling influxdb with go1.4.3, but that is probably not going to pass in case I am the only one reporting issues.

We will be compiling our inhouse influxdb with go1.4.3 anyway.

[2016-06-09 11:23] ekini opened #6817 "show tag values - drastically decreased performance on v0.13"
### Bug report

__System info:__ [Include InfluxDB version, operating system name, and other relevant details]

1. Centos 7
2. influxdb v0.10.3 and v0.13.0

__Steps to reproduce:__

1. Upgrade from v0.10.3 to v0.13.0
2. Run "show tag values from cpu WITH KEY = host"

__Expected behavior:__
Query runs for reasonable time
[code]
(this is on v.0.10.3)
__Actual behavior:__
[code]
(this is on v.0.13.0)

[2016-06-09 12:33] zstyblik commented on #6817
Duplicate of https://github.com/influxdata/influxdb/issues/6233?

[2016-06-09 12:34] martinseener commented on #6817
Already fixed with https://github.com/influxdata/influxdb/pull/6792?

[2016-06-09 12:38] larrywalker commented on #6751
@jsternberg So are you trying to say that this is fad/unimplemented or is something that is going to be addressed?

[2016-06-09 12:46] ekini commented on #6817
Oops,  it should be it, thanks!

[2016-06-09 12:46] #6817 closed

[2016-06-09 14:02] jwilder commented on #6782
@rubycut would you be able to test with go 1.7? It may be fixed there.

[2016-06-09 15:31] jsternberg commented on #6622
@toddiuszho I'm not entirely sure what you mean, but a measurement can only have one possible field type per shard. But each shard can have a different field type and with floats and integers specifically, they'll get casted to a float.

If you try the beta release, you can try to figure out if this is your problem by running:

[code]

This now includes an extra column that will have the field typ

[2016-06-09 16:01] jwilder commented on #6782
@rubycut We will not be able to revert  to 1.4.3 because that version is now unsupported by the Golang team.  Their [release policy](https://golang.org/doc/devel/release.html#policy) states that security issues will no longer be patched in go 1.4.

We would like to move to go 1.7 when it's ready.  If this issue still occurs with go 1.7, we'll need to log an issue with the Go project.  Since you ar

[2016-06-09 16:57] #5655 closed

[2016-06-09 17:17] rubycut commented on #6782
Sure, I'll try golang 1.7, no problem.

[2016-06-09 18:17] jwilder commented on #6799
@forsberg The panic occurred during a query not a compaction.   There were no compactions running according to the trace.  It looks like the continuous queries goroutine was running and waiting for a query to finish.  That query panic'd when the process OOM'd.

You're stats show you have about 4.6M series with 4.5M in the `cassandra_telegraf` database split between ~2000 measurements.  It's likely

[2016-06-09 21:21] deepujain opened #6818 "Can show tag values support INTO clause"
My table:

name: epdetail
--------------
time			count
1970-01-01T00:00:00Z	96920

only 96,920 rows (which is very small) when compared to millions of rows that are supported.

show tag values from epdetail1 with key=experimentId  takes more than 12 seconds. Is this expected ?

Currently above query runs on Grafana dashboard and i cannot have it run each time dashboard loads as it slows down the lo

[2016-06-10 01:25] ucrkarthik commented on #6607
Could we use "time" as a filter criterion in the where class in the SHOW TAG query?

[2016-06-10 01:27] jsternberg commented on #6607
@ucrkarthik please use the [mailing list](https://groups.google.com/forum/#!forum/influxdb) to ask question. Thank you.

[2016-06-10 09:03] forsberg commented on #6799
Right. So root cause found. However, I still think this is a bug as my expectation is that a large query should fail with an error message, not kill the entire influx database process.

I managed to get rid off the `cache maximum memory size exceeded` by increasing cache-max-memory-size.

When it comes to my queries, I have worked around the problem by programmatically creating one CQ per measurem

[2016-06-10 14:34] lpalm opened #6819 "Database unresponsive after DROP MEASUREMENT"
### Bug report

__System info:__ Fedora release 22, InfluxDB version 0.13.0

__Steps to reproduce:__

1. Drop a measurement via HTTP
2. Try to write to the database before the DROP MEASUREMENT call returns

__Expected behavior:__ The measurement gets deleted. Everything continues working.

__Actual behavior:__ The HTTP request to delete the measurement often times out after **300** seconds. The en

[2016-06-10 15:45] samhatchett opened #6821 "[0.13.0] DROP SERIES renders a series un-writable"
system info: influxdb official docker image / mac host
version 0.13.0 (tag:latest)

issue description: create a series with some data, `drop` the series, then write to it again. The series is empty. Expected behavior would be to see the data that was written after dropping. Dropping the series does appear to drop if from the index (`SHOW SERIES` returns empty), and writing to a series with the sam

[2016-06-10 16:27] mark-rushakoff commented on #6821
The behavior you've demonstrated sounds like a bug to me. As a temporary workaround, it appears that if you change the timestamp on the second write, the point is inserted correctly.

[2016-06-11 13:00] foxx opened #6823 "Unable to return average SUM by tag grouping"
I'm trying to return the average total across all tags over a period of 5 seconds.

However if I use `GROUP BY time(5s)` with `SUM()` then it gives me the total for the 5 seconds, rather than the mean average for each second. It doesn't allow me to use nested functions, such as `SUM(MEAN(value))`, and so far the only fix seems to be adding a math operator `/ 5` onto the `SUM()`, as seen below.

[c

[2016-06-11 20:54] phemmer opened #6824 "Systemd unit file should not redirect STDERR & STDOUT"
### Feature Request & Bug report

InfluxDB 1.0beta1
CentOS/7

1. Install InfluxDB using provided RPM
2. `systemctl start influxdb.service`
3. `journalctl -u influxdb.service`

__Expected behavior:__ see influxdb logs

__Actual behavior:__ no influxdb logs

This is a [deviation from expected behavior](https://en.wikipedia.org/wiki/Principle_of_least_astonishment). Services started under systemd sho

[2016-06-11 23:21] phemmer opened #6825 ""default" retention policy not created"
### Bug report

__System info:__
InfluxDB 1.0beta1
CentOS/7

1. `create database test`
2. `show retention policies on test`

__Expected behavior:__ a retention policy called `default`

__Actual behavior:__ no retention policy called `default`

__Additional info:__
This is either a bug in in InfluxDB, or a bug in the documentation. [The documentation](https://docs.influxdata.com/influxdb/v0.13/guid

[2016-06-11 23:32] phemmer opened #6826 "Unable to create default retention policy"
### Bug report

__System info:__
InfluxDB 1.0beta1
CentOS/7

__Steps to reproduce:__

1. `CREATE DATABASE test`
2. `CREATE RETENTION POLICY default ON test DURATION INF REPLICATION 1 DEFAULT`

__Expected behavior:__ success

__Actual behavior:__ `ERR: error parsing query: found DEFAULT, expected identifier at line 1, char 25`

__Additional info:__
This was encountered trying to fix issue #6825.

I

[2016-06-12 01:03] phemmer commented on #6068
A simple fix would be adding the following to the `influxdb.service` unit file:

    ExecStartPost=/bin/sh -c 'while ! influx </dev/null >/dev/null 2>&1; do sleep 0.2; done'

But as mentioned mentioned a notification would be a better solution.
And the perfect solution would be if influxdb supported systemd socket passing.

[2016-06-12 02:53] phemmer commented on #6826
Ah, needs to be quoted. Perhaps this should be in the documentation.

[2016-06-12 02:53] #6826 closed

[2016-06-12 03:27] dy1901 commented on #5440
I'm making a similar stock system like @adilbaig, and counting just the same problem with InfluxDB 0.13.0.

When I'm tried to insert about 4k trading points all at once using batch insert via http api, InfluxDB just took all of my 8G memory and all swap memory, which made the whole system  deadly slow.

Is there a way to limit the total memory usage?

My OS is Ubuntu 16.04 LTM

[2016-06-12 09:40] adampl commented on #6519
Hi. For me, as a user, the idea of a `tag` type is ugly because it's not really a type, and selecting either a field or a tag by the same name using the typecast sounds like a very dirty hack. I know I'm late in this discussion, but for me the idea of prepending tag name with a `@` was much better.

Also it would be nice if selecting all fields or all tags, or both (grouped separately as fields an

[2016-06-12 15:59] sbengo opened #6827 "[Feature Request] Add retention policy to each Graphite template"
Hi,

As the same example on #5655, we have different metrics with different retentions (by default, metrics are sent/recieved each 1m and some of them are at 5m).

After the release of the feature asked on the attached issue, it is a first solution (we are so glad to having this), but it requires to us to set a external soft to control the port of the input metrics or directly change the agent con

[2016-06-12 16:40] toni-moreno commented on #6827
+1

[2016-06-12 19:23] jsternberg commented on #6825
The "default" retention policy was renamed to "autogen" to avoid confusion when talking about the "default" retention policy versus the default retention policy. So now autogen is the default. This can be customized by setting this value:

[code]

I think the telegraf beta was not updated to reflect this change. I think @sparrc is working on fixing that.

With the 1.0 beta, please change your link

[2016-06-12 19:23] #6825 closed

[2016-06-12 22:41] pga23 commented on #6632
I have got EXACTLY the same issue regularly on InfluxDB 0.13
installed on Ubuntu Server 16.04 (4GB RAM, 2 CPU)

My tests results below - the same data has been inserted into fife databases:
db1.rp.measurement1 - 263471 data points
db1.rp.measurement2 - 13191 data points

db2.rp.measurement1 - 263471 data points
db2.rp.measurement2 - 13191 data points

db3.rp.measurement1 - 263471 data points
db3.r

[2016-06-13 01:16] wqtty opened #6828 "memory consumption after error compacting TSM files"
### Bug report

__System info:__ [Include InfluxDB version 0.13.0, operating system name CentOS 6.5, and other relevant details]

__Steps to reproduce:__

the influxd will consume all the memory(literally) of the machine it dwells in when this error message shows up:
`error compacting TSM files: key 'cpu,async=true#!~#idle' exceeds max index entries: 91761 > 65535`

[2016-06-13 01:32] jwilder commented on #6828
This should be fixed in 1.0beta release.

[2016-06-13 01:32] #6828 closed

[2016-06-13 01:34] jwilder commented on #6632
@pga32 Can you reproduce with 1.0beta?

[2016-06-13 04:31] Maksadbek commented on #6000
Hi,
Before starting to implement this feature I would like to know the status of this in ?
Is anybody already working on this issue ?

[2016-06-13 07:44] wonderflow commented on #6589
same issue happen to me, hope to be fixed

[2016-06-13 09:03] forsberg opened #6829 "panic: runtime error: index out of range"
### Bug report

__System info:__ InfluxDB 1.0.0beta1-1 (Debian package) on Debian Wheezy 64 bit.

This morning, my test Influx installation had crashed with the following traceback:

[code]

Trying to restart it, it takes a very long time to start - the logfile shows some 33 minutes of loading data, then it does nothing. One thread taking 100% CPU, but no activity in logfile for at least 20 minute

[2016-06-13 12:04] forsberg commented on #6829
It did eventually start up and server requests - after 2h.

[startup-attempt-5.log.txt](https://github.com/influxdata/influxdb/files/311711/startup-attempt-5.log.txt)

Looks like most of the time is spent around these log entries:

This is not so good :-( What's could cause this kind of behaviour?

[2016-06-13 12:22] maberle commented on #5266
+1

[2016-06-13 15:09] #6771 closed

[2016-06-13 15:15] jwilder commented on #6829
@forsberg What kind of disks are you using?  SSD?  As I mentioned in https://github.com/influxdata/influxdb/issues/6799#issuecomment-224981544, you have some pretty large series keys and 4.6M series.  The two combined are likely causing your indexes in your TSM files  to be very large which takes more time to scan and load.

The `/cassandra/influxdb/data/cassandra_telegraf/default/75/` shard looks

[2016-06-13 15:16] #4532 closed

[2016-06-13 15:19] balopat opened #6830 "Feature Request - Continuous Query stats into influx"
### Feature Request - Continuous Query stats into influx

**Proposal:** CQ's are scheduled jobs. It would be useful to have stats in the **_internal** database about them, including:
- query time - so that we can spot any trending behaviour
- failure events - so that we can assess the health of the CQ

**Current behavior:** Currently the only way to assess the situation is by looking at the logs o

[2016-06-13 15:23] shannonliu0809 opened #6831 "Continuous Query from multiple series"
### Feature Request
__Proposal:__ Continuous query (CQ) should be able to aggregate from different series. for example,
we have data from phone sensor information, such as proximeter, GPS, etc., we would like to combine the data from proximeter and GPS together.

__Current behavior:__ currently, CQ can only aggregate from a single series

__Desired behavior:__ we need the CQ to be able to pull dat

[2016-06-13 15:34] mjdesa commented on #5440
@adilbaig In the example point you listed
[code]

`ric`, `open`, `close`, and `volume` are all tags. Meaning that both key and value will be treated as strings. Additionally they will be index. And presumably will have an absurdly high cardinality. This is most likely why you're seeing so much memory used. Try changing `open`, `close`, and `volume` to be fields instead.

[2016-06-13 15:35] mjdesa commented on #5440
@dy1901 What does your schema look like?

[2016-06-13 18:10] beckettsean commented on #6816
You cannot use any data from one measurement as a criteria for querying another measurement. You must construct your schema so that the data is in one measurement.

[2016-06-13 18:10] #6816 closed

[2016-06-13 20:39] pga23 commented on #6632
I already made similar tests on version 1.0.0-beta1 by using six separate databases.
All measurements was without duplicates!
Additionally I added for deeper tests a few times more data - results was also without duplicates,
but I noticed something suspect:

When I've checked counts of records directly after inserts in 4 of 12 used measurements
I had a slightly different result of count(). 15 minu

[2016-06-13 21:07] jsternberg commented on #6831
@shannonliu0809 can you expand on what you mean by series? Do you mean from multiple sources? Can you show an example of what kind of inserts you would do and what kind of continuous query you would like to create?

[2016-06-13 21:31] shannonliu0809 commented on #6831
Say I have 2 series: GPS and Weather
**GPS** has the following fields: Longitude, Latitude
**Weather** has the following fields: WindSpeed, WindDirection

both of them are writing record every 1 second.

I would like to create a continuous query called **weather_GPS** that take the mean of Longitude, Latitude, WindSpeed, WindAngle for every 15 seconds.

this would allow our database to map more cl

[2016-06-13 23:12] jsternberg commented on #6831
Ok, the words for that are measurements, not series. A series is a unique combination of a measurement and a group of tag keys and values. Series within the same measurement can already be defined.

I think what you're looking for is similar to #3552 and probably requires a new feature which we might call `JOIN` (but we haven't specced it out yet). It would involve some way to combine data from di

[2016-06-14 01:28] lvheyang commented on #6669
@jwilder I have met the similiar problem. And I also noticed any drop actions, include drop on shards, databases, measurements and retention policies  will block all the other write/ read request to influxdb.

Is there any plan to optimize the write lock to act on a narrower scope? It is common that we want to query on one database (or even retention policy) when dropping another.

[2016-06-14 01:37] jwilder commented on #6669
@ivanyu Yes.  We're working on it.

[2016-06-14 03:08] cheribral commented on #6738
@e-dard  Apologies for the delay.

There are 13376 series in that particular measurement, structured like:
batch_trip_writer.time_to_write_trips,customer=xxx,host=xxx,is_completed=True,is_reprocess=False,location=xxx,service=xxx,thread=4,tuple=xxx

show field keys from "batch_trip_writer.time_to_write_trips"
name: batch_trip_writer.time_to_write_trips
fieldKey	fieldType
duration	float
total_points

[2016-06-14 10:10] daviesalex opened #6836 "invalid spdelta x_cgo_mmap on startup"
Seen on 1.0.0-beta1 (bf3c22689b68a6d03d20eac695a7049a7c78b21d)

[code]

Startup appears to be continuing; will update if it starts or not. However, what does this mean?

Startup appears to be continuing. It seems that startup is now doing an incredible number of small IO operations; kswapd has two cores spinning 100% and is the liming factor. Unsure if this is in any way related.

[2016-06-14 11:09] babilen5 opened #6837 "Please provide a way to verify a user password"
### Feature Request

There is currently no way to explicitly test if a user password is the same as a given string. This makes it impossible to write code to programmatically manage InfluxDB users for tools such as Saltstack, Ansible, Puppet, ...

One approach would be to simply try to authenticate with a given `user` / `password` credential pair and interpret failure to do so as "password is diff

[2016-06-14 12:21] objectified commented on #6165
Was there any resolution for this? I'm running into the (seemingly) same issue.

[2016-06-14 13:39] shannonliu0809 commented on #6831
Yes, it is very similar to that request but applied to continuous query, and sorry for the confusion on series/measurement.

[2016-06-14 14:01] rubycut commented on #6782
@jwilder, tried with golang 1.7beta1, same sha as the last time: 256f57a

Didn't last even half hour, error is:

[code]

[2016-06-14 14:06] bischofs opened #6838 "Feature Request: Permissions based on Tags"
### Feature Request

__Proposal:__

A way limit read/write access by tags and fields for users in the database

__Current behavior:__

I think currently you can only limit based on databases

__Use case:__

Our solution has some very important metadata in the tags - being able to use these as filters for who can access the data seems like a common case.

[2016-06-14 15:57] jsternberg commented on #6837
Similar to #4904, but this is more explicit and probably will work better. A returned hash with `SHOW USERS` would likely include a salt that would be a security hazard to reveal as part of `SHOW USERS`, so this wouldn't reveal that information.

[2016-06-14 16:23] jstoner commented on #4619
+1

I would like to be able to bound queries based on queries. So

select measure from blah where time > (select time from blah2 limit 1)

[2016-06-14 16:59] jwilder commented on #6836
That might be a go 1.6.2 bug.  Nothing in `influxdb` prints that.  Is it reproducible with go 1.7beta1?  There are some similar issues in the Golang repo and indicate it my be fixed by https://go-review.googlesource.com/#/c/18322/.  That issue hints at the source of the issue is related to profiling.

[2016-06-14 18:23] babilen commented on #6837
Yeah, I was simply thinking of a `test_credentials → Bool` kind of function that works regardless of the `auth-enabled` setting.

[2016-06-14 21:44] toddboom commented on #6797
I followed up on the mailing list, but here's the basic summary:

It sounds like the primary issue occurs when HTTPS is enabled for the admin interface (running on 8083), but not for the write/query API (port 8086). This means that your browser running on a secure connection has to make a non-secure call to issue queries. This is blocked by most browsers for security reasons, and will result in di

[2016-06-14 21:44] #6797 closed

[2016-06-14 21:54] mohan111raj opened #6842 "Cannot setup cluster in InfluxDB 0.13"
Hi all,

I am trying to create a cluster with 3 nodes. I tried all steps mentioned in the https://docs.influxdata.com/influxdb/v0.9/clustering/cluster_setup/ and https://docs.influxdata.com/influxdb/v0.11/clustering/cluster_setup/.

I used the below command to start the server: run: flag provided but not defined: -join
**sudo influxd -config /etc/influxdb/influxdb.conf -join Ip1:8091,Ip2:8091,Ip3:

[2016-06-14 22:00] toddboom commented on #6842
Clustering is no longer available in the open-source version of InfluxDB. Please see our announcement from March 2016 about this change:
https://influxdata.com/blog/update-on-influxdb-clustering-high-availability-and-monetization/

To achieve HA with our open-source tools, check out InfluxDB Relay:
https://github.com/influxdata/influxdb-relay

[2016-06-14 22:00] #6842 closed

[2016-06-14 23:19] toddboom commented on #6788
@bovy89 Would it be possible for you to provide your dataset for us to test against?

[2016-06-14 23:20] mohan111raj commented on #6842
Hi toodboom,

Thanks for the answer. It saved lot of time.

For now, I am testing the clustering availability and performance over mongodb. If the clustering availability meets our requirement we'll be moving from mongo to influxdb.

I'll try with influx 0.11 for now. Just wondering how to install v0.11? I tried installing it in the past in ubuntu and it installs the latest 0.13 by default when I

[2016-06-14 23:22] toddboom commented on #6842
@mohan111raj The clustering implementation has changed quite a bit since v0.11, so you're probably better off working with the newer release. We'll have a public beta available later this month.

[2016-06-14 23:27] mohan111raj commented on #6842
Oh okay. Thats a great news. I'll wait for the release then. 👍

Thank you..

[2016-06-15 06:36] willemdh commented on #6797
Hey,
Thanks for looking into this. I expected this was the case, but your colleague asked me to make an issue for it.
Grtz
Willem

[2016-06-15 07:03] recurser opened #6844 "New nightly build URL not accessible by Ansible due to SNI"
### Directions

Ansible fails to install packages from dl.influxdata.com with a security error because it uses [SNI](https://en.wikipedia.org/wiki/Server_Name_Indication). Versions of python prior to 2.7.9 don't support ansible downloads over SNI, and the default in ubuntu is 2.7.6.

I've spent most of today trying to update python versions and trying other alternative fixes without success. I'm h

[2016-06-15 07:12] SekharBeri opened #6845 "Group By tag not working with Difference Aggregate function"
version: 0.13.0
operating system: Ubuntu

Running Query:

**select difference(first(consumption_count)) from DummyMeterData where time >='2015-05-01 00:00:00' and time < = '2016-06-01 00:00:00' group by month**

i am trying to execute above query, But, I am getting below error

**Server returned error: error parsing query: difference aggregate requires a GROUP BY interval**

In above query month i

[2016-06-15 08:25] daviesalex commented on #6836
@jwilder great minds; I built HEAD from 1.7 immediately after and didnt see that exact error. So we can probably forget about this; its not a Influx issue- just a Go issue.

We now have the problem that its both extremely slow and we just cant start the daemon without it OOM'ing. I'm going to continue to working on why later. Its doing absolutely insane amounts of IO during startup; 25,000 4k IOPS

[2016-06-15 10:50] kjeacle opened #6846 "[1.0.0-beta1] Invalid JSON response causes the client to print the wrong error message"
Running Influx 1.0.0-beta1 on Ubuntu server 16.04 using collectd 5.5 with snmp plugin to populate database.

Not sure if this is a NaN value bug but appears to be the same as issue #3994

Querying tx values for a particular interface works:
[code]
But querying rx values for the same interface fails:
[code]
This causes in-house graphing system to fail as JSON response is invalid.

[2016-06-15 13:39] daviesalex commented on #6829
So I moved our 3.5TB data store to be entirety NVMe, and it started by reading sustained 30,000 4k IOPS @ 7G/second. It almost immediately takes 97% of the RAM in the box (256G). What then seems to happen is it gets close to starting in about an hour, but runs out of RAM.

One of our developers is going to see if there is some low hanging fruit here to read these files in in >4k chunks, reduce the

[2016-06-15 13:43] aaomoware commented on #6275
I believe this is a real issue.

running latest stable influxdb. This "run: flag provided but not defined: -join" is still persistent,

[root@influx-1 influxdb]# sudo influxd -config /etc/influxdb/influxdb.conf -join influx-1:8091,influx-2:8091
flag provided but not defined: -join
usage: run [flags]

run starts the InfluxDB server. If this is the first time running the command
then a new cluster w

[2016-06-15 13:47] rossmcdonald commented on #6844
We currently rely on AWS CloudFront (which uses SNI) for hosting of the dl.influxdata.com domain, so I don't think there's a way to disable it from that side. As a workaround, you can use the S3 links directly (which doesn't use SNI) by prepending `s3.amazonaws.com` to any link. For example, the nightly DEB package can be found here:

https://s3.amazonaws.com/dl.influxdata.com/influxdb/nightlies/i

[2016-06-15 13:47] #6844 closed

[2016-06-15 14:01] forsberg commented on #6829
@jwilder I'm on spinning magnetic disks.

Seems you were right about the compaction, after starting it up I let it boil for a couple of days and it ran a compaction that took down disk usage from 230G to 64 (!)

It would be very good if long-running stuff like loading index could show some progress somewhere - be it in logs or using some command. I don't like processes that sit for hours using one

[2016-06-15 14:22] nmilford commented on #3552
+1

[2016-06-15 19:06] mocchidesu commented on #4838
+1

[2016-06-15 20:40] mark-rushakoff opened #6848 "Error message when encountering unexpected keywords is not instructive to new users"
From the CLI:

[code]

I frequently see mailing list threads and GitHub issues where people see the `found NAME` error message and can't figure out how to proceed. If the error message was more instructive, new users would get up and running more quickly.

One option would be to suggest surrounding the keyword in single quotes or double quotes with an explanation of which one to use. But that woul

[2016-06-16 00:09] beckettsean opened #6852 "tool to merge config files on upgrade"
### Feature Request

__Proposal:__ [Description of the feature]
A better way to merge the existing production configuration with the new config in the latest version.

__Current behavior:__ [What currently happens]
Right now we tell users to manually merge their existing config with a new all-defaults [generated config](https://docs.influxdata.com/influxdb/v0.13/administration/config/#using-config

[2016-06-16 02:53] junyhu commented on #6718
@jwilder, adding more observations

on May 30th we restarted influxdb and then both heap and RES back to normal. Heap: 1G->208MB; RES: 5.2G -> 374MB
However, after two weeks, heap was increased to ~1G again, and RES usage was increased to ~ 3.7G
We also observed that goroutine num is keeping increased like below
![image](https://cloud.githubusercontent.com/assets/18591250/16104020/25f6586a-33b0-11

[2016-06-16 05:56] KiNgMaR commented on #5951
Still happening in the latest nightly:

    [continuous_querier] 2016/06/16 07:54:54 executing continuous query cq_xxx_rows_per_minute_total (
    2016-06-16 01:48:00 +0200 CEST to 2016-06-16 01:49:00 +0200 CEST)

[2016-06-16 06:29] recurser commented on #6844
Thanks @rossmcdonald, the direct S3 link works great 👍

[2016-06-16 07:19] superwood opened #6853 "writing duplicate points and Why the two points with the same (measurement name, tag set，timestamp) can be query in the db."
[code]

[2016-06-16 08:29] junyhu commented on #6747
@boyxuper we are facing the similar issue with influxdb v0.12. Have you upgraded to v0.13? We are planning an upgrade but not sure whether it will resolve this issue or not...and we don't want export more new issues as ppl were reporting a lot of issues they observed with v0.13...

[2016-06-16 10:17] gaurav796 commented on #295
+1

[2016-06-16 11:51] willstudy opened #6854 "Docker run tutum/influxdb:0.12, I got a invalid argument error"
when I run this command :
<pre><code>
docker run -d -p 8083:8083 -p 8086:8086 tutum/influxdb:0.12
</code></pre>
And I got this error :
<pre><code>
docker: Error response from daemon: mkdir /home/work/docker/runtime_1.11/overlay/960dc97f7b22c306116ac59e34325b3642e21f792cd102f5b706429cd4d0c01a-init/merged/dev/shm: invalid argument.
See 'docker run --help'.
</code></pre>
Can someone help me?? Thanks

[2016-06-16 13:10] Lahorde commented on #2071
+1

Now, how can I do to get a count of values for today?

If I do :

    select count(value) from series where time >= now() - 1d
    -----------------------------------------
    time                            count
   2016-06-15T11:53:17.649981214Z  34

I won't get count from 00:00

If I do :

    select count(value) from series where time >= now() - 1d group by time(1d)
    ------------------

[2016-06-16 16:51] jsternberg commented on #6854
Hello @willstudy, the tutum image is made by a third-party and isn't officially supported by us. You can either ask them for help at tutumcloud/influxdb or you can try using one of the official docker images made by us.

Your error though seems to be related to docker and not to any specific image. Are you able to run any other image?

[2016-06-16 17:26] jsternberg commented on #6846
@kjeacle can you try running that query with `curl` and pasting the output? It looks like the client is having difficulty parsing the response. The NaN value bug was a problem with the server encoding a response.

This is just a guess of mine. That error might come from the server.

[2016-06-16 17:44] mark-rushakoff opened #6856 "Influx shell: if there is an error parsing a JSON response, the shell does not show the actual body of the response"
When the Influx shell sees a JSON parsing error (which should never happen and is therefore indicative of a bug on the server), the shell only displays the parsing error and does not display the actual body of the response.

As seen in #6846:
[code]

The actual error message from the server might look like:

Showing the full error message in the shell will help troubleshooting go more smoothly.

[2016-06-16 18:06] jsternberg commented on #6854
I'm going to close this since it isn't directly related to influxdb. If you respond, I'll try to see where to direct you. There's also the influxdata/influxdata-docker repository for any issues specific to the docker images that are officially supported by influxdb.

Thanks!

[2016-06-16 18:06] #6854 closed

[2016-06-16 18:10] jsternberg commented on #6852
@beckettsean I have no idea if this works for what you need, but `influxd config` will read the previous configuration file and modify the defaults. So if your config isn't in a default location, you can do this:

[code]

(do not write the output file to the file you are reading from otherwise it will erase your configuration file)

One downside is apparently we validate the config file that is re

[2016-06-16 18:19] jsternberg commented on #6845
The reason is because `GROUP BY interval` means to use a `GROUP BY time(...)` clause. You can group by a tag too, but it's unrelated to this error. If you remove the `first()` call, then you don't need the group by interval, but it also won't use the aggregate function (if you need it).

In the future, you can also get questions answered more efficiently using the [mailing list](https://groups.goo

[2016-06-16 18:19] #6845 closed

[2016-06-16 18:29] gunnaraasen commented on #6853
What is the InfluxDB version? Can you provide the raw line protocol points and the output of the following query?

[code]

[2016-06-16 18:58] sferrett commented on #5930
+1 for lag (or some kind of per-series time-shift) so that we can show current and -1week data on the same panel in grafana.

something like:
select mean(value), mean(lag(value, 1w)) from metric where time > now() - 1d group by time(1m)

would return two fields, being the per minute averages for the last 1d and for the same period but one week prior.

If there is already a way to do this, I would

[2016-06-16 20:11] beckettsean commented on #5930
@sferrett That's an excellent suggestion. Would you mind creating a new issue for it so we can track that separately? That's a bit beyond the level of adding a simple function.

@gunnaraasen any slick Grafana tricks to accomplish the same goal with current InfluxQL?

[2016-06-16 23:25] mohan111raj opened #6857 "Replication is not working in InfluxDB 0.11"
Hi,

I've created a cluster with 3 nodes (3 meta & 3 data). I tried to create a DB in the cluster from client machine and I noticed that the **DB is created on one node but not on other two.**

And then I created a table in the new DB and inserted some records into that table. When I checked in the other two node's default _internal DB it has the newly created table but with no records.

I am real

[2016-06-16 23:45] gunnaraasen commented on #5930
Grafana has a per-graph setting to add a time shift (see the screenshot below). I don't think it's possible to shift a single series within the same graph.

<img width="655" alt="screen shot 2016-06-16 at 4 43 18 pm" src="https://cloud.githubusercontent.com/assets/628831/16136703/b039fbea-33e1-11e6-9af8-409d9c6dcbb3.png">

[2016-06-17 01:11] jsternberg commented on #6857
Hello @mohan111raj,

We no longer support clustering in the open source version and the last clustering release (0.11, the one you are using) didn't have clustering in a working state yet, so there are likely many bugs in that version. Clustering is now part of our closed source offering. Right now, the only way to get clustering is through [InfluxCloud](https://cloud.influxdata.com/), but there i

[2016-06-17 01:11] #6857 closed

[2016-06-17 01:35] mohan111raj commented on #6857
Hi jsternberg,

Thanks for your response.

I am now testing the aptness of influxDB in our application. As part of testing I am trying to setup a cluster to test the HA in influxDB.

I got the same response from "toddboom" for my another query earlier. I completely understand that there's no support for v0.11. If you could give some clue to make clustering work in 0.11 for now that would be really

[2016-06-17 01:46] jsternberg commented on #6857
You might want to try the old 0.11 documentation, but clustering really wasn't ready in v0.11. That release happened about 3 months ago and there have been a lot of changes.

Assuming that everything was working correctly (which is likely not a good assumption as v0.11 was still unstable), my guess is that there's only a replication of 1 for the `_internal` table. The `_internal` table is used by

[2016-06-17 02:03] willstudy commented on #6854
it's ok when I  run other images, I will try the official influxdb image .  Thank you @jsternberg

[2016-06-17 03:34] mohan111raj commented on #6857
Hi,

The replication size for the newly created database is 3. But then its not replicating the data on all 3 nodes. But the default database _internal is with replication factor 1 and its replicating across all nodes.

It seems little strange to me. Is there any reason that _internal acts good in replication with rep factor 1? Also one more question. How to setup the custom retention policy autom

[2016-06-17 03:40] anhldbk opened #6858 "About naming series"
### Bug report

__System info:__ [InfluxDB version: 0.13.0, Ubuntu 16.04]

__Steps to reproduce:__

1. Write data into series `device/led`
2. Query data from that series

__Expected behavior:__ [Can select data from the series]

__Actual behavior:__ [Error in parsin query]

![screenshot from 2016-06-17 10-37-55](https://cloud.githubusercontent.com/assets/3270746/16140063/b91728d2-3477-11e6-8e57-0a

[2016-06-17 03:53] jsternberg commented on #6857
The replication factor should be tied to the retention policy and with a replication factor of 3, it should replicate to all of the data nodes. I think the default database of `_internal` only has a replication factor of 1 by default because it's considered internal data about the server and not important to replicate for availability. I don't remember the exact details for 0.11 so whatever you se

[2016-06-17 03:55] jsternberg commented on #6858
Use double quotes.

[code]

Single quotes are for strings while double quotes are for identifiers.

[2016-06-17 04:04] anhldbk commented on #6858
@jsternberg Thank you so much. You made my day.

[2016-06-17 04:04] #6858 closed

[2016-06-17 06:28] junyhu commented on #6718
@jwilder still goroutine number and heap usage is increasing today. I'm adding top/iostat output for your information.

Top
![image](https://cloud.githubusercontent.com/assets/18591250/16142331/ebb1f708-3496-11e6-91f2-738840c69845.png)

iostat
![image](https://cloud.githubusercontent.com/assets/18591250/16142417/b75b8c2a-3497-11e6-873e-f06de495d3d5.png)

[2016-06-17 07:35] kjeacle commented on #6846
I tried this:

[code]
and got this:
[code]

[2016-06-17 12:17] sparrc opened #6859 "index out of range panic on COUNT() query with WHERE clause"
### Bug report

__System info:__ [Include InfluxDB version, operating system name, and other relevant details]

1.0.0-beta1
OSX

__Steps to reproduce:__

can't for the life of me get this to reproduce

__Actual behavior:__ [What actually happened]

Panic after running query:

[code]

panic traceback:

[code]

The same query without count() was working fine, as well as the count() query without the

[2016-06-17 12:34] rapport commented on #3904
+1 For us events are usually only recognising in the data following a reasoning step after capture. And, we want to tag data with its event once its recognised. I am considering using continuous queries to do some of this tagging after capture but it seems inefficient and I am not sure it will work for all our use cases

[2016-06-17 14:07] notes-jj commented on #52
+1

[2016-06-17 14:26] jsternberg commented on #6846
Have you tried checking the raw values that are going into the non negative derivative?

[code]

I'd like to know if that works and what values are returned. If that fails with the same error, a NaN somehow slipped in. If it doesn't fail, then there's an error with the aggregate function. Remember to modify the time condition to one that makes sense for your data.

[2016-06-17 14:48] jsternberg commented on #6846
Never mind. I have a reproducer:

[code]

You likely have two series that match that condition at the same time with the same value. I don't think we should be letting this happen, so I'll look into how we can prevent it from happening. One way to prevent it though would be to add a `GROUP BY *` which would prevent any of the series from merging with each other.

[2016-06-17 14:57] jwilder commented on #6859
@jsternberg

[2016-06-17 16:30] beckettsean opened #6861 "should force https-enabled values in config to match"
### Feature Request

**Proposal:**
Issue a config error to logs and `STDERR` and refuse to start `influxd` if the `https-enabled` settings in `[admin]` and `[http]` do not match.

**Current behavior:**
Currently they can be set differently, so that the admin UI requires HTTPS but the HTTP API does not. This leads to very confusing and misleading errors in the browser.

**Desired behavior:**
The sy

[2016-06-17 17:20] mark-rushakoff opened #6862 "[master] An invalid CREATE DATABASE statement returns status 200, should be 400"
From the CLI:

[code]

The logs show a 200 status returned, even though the database was not created:
[code]

For what it's worth, a *syntactically* invalid CREATE DATABASE statement like `> create database xyz with` correctly returns a 400 status:

[code]

[2016-06-17 18:00] srikara commented on #3904
+1

[2016-06-17 18:07] jeffdeville commented on #6853
I've got the same problem. Restarting the database seems to flush the cache and fix the problem.  I'm on 0.13.0.

[2016-06-17 19:17] #6824 closed

[2016-06-17 19:34] jsternberg commented on #6862
I think this is expected. A 200 status usually just means it got passed off to the query executor successfully. We return the error message as part of the response instead of through the status code.

[2016-06-17 20:13] #6859 closed

[2016-06-17 20:41] pga23 opened #6866 "Combinations of AND+OR operators in WHERE doesn't work"
### Bug report

__System info:__
Ubuntu 16.04 + IndluxDB v1.0.0-beta1

__Steps to reproduce:__

Insert example data:
[code]

Run the query:
[code]

__Expected behavior:__
Following results set:
[code]
__Actual behavior:__
No data

__Additional info:__
 `SELECT * FROM mydata WHERE time=100 AND reg='1'`
and
 `SELECT * FROM mydata WHERE time=200 AND reg='2'`
returns data correctly, so by adding OR I

[2016-06-17 20:49] jsternberg commented on #6866
I think this is a duplicate of #3290. If I'm wrong, please respond and I can reopen this. Thanks.

[2016-06-17 20:49] #6866 closed

[2016-06-17 21:46] pga23 commented on #6866
I've already tested it also for the following queries:

`SELECT * FROM test_data WHERE (time='1970-01-01T00:00:00.0000002Z' AND reg='2')`
`SELECT * FROM test_data WHERE (time='1970-01-01T00:00:00.0000001Z' AND reg='1')`
and additionally
`SELECT * FROM test_data WHERE (time='1970-01-01T00:00:00.0000002Z' OR reg='2')`

all above returns correct data.

Combination of above with OR:
`SELECT * FROM tes

[2016-06-17 23:14] gunnaraasen commented on #6853
@superwood @jeffdeville Can you check if the behavior occurs in 1.0.0-beta1 and also provide steps to reproduce.

[2016-06-17 23:56] jeffdeville commented on #6853
Yeah, beta1 also has the problem.  Hard to provide specific steps in my case, because this is a big migration from my existing system to influx. I'll think about whether there's a way to capture a script of the entire process easily, so I can send that to you.

[2016-06-18 01:19] gunnaraasen commented on #6853
@jeffdeville I realized the results above aren’t duplicates. They’re off by two months, which is expected since the `time > now() - 60d` period doesn’t overlap precisely with the `group by time(60d)` period, which snaps to logical boundaries.

[2016-06-18 17:09] jeffdeville commented on #6853
@gunnaraasen I've created a ruby script, and DM'd it to you in slack that replicates the problem.

[2016-06-18 17:22] li-ang opened #6869 "[master] FieldCodec in Measurement is limited the count of fieds"
The `FieldCodec` type declaration as following
https://github.com/influxdata/influxdb/blob/master/tsdb/shard.go#L799-L802
[code]
`fieldsByID` is a map struct, the key type is `uint8`. That means only 255 fields are stored in `fieldsByID`.
I remember that `FieldCodec` is used in `0.9.x` version based BoltDB storage engine with `255 fields limitation`. Now, only [some influx_inspect code](https://gi

[2016-06-18 17:34] li-ang commented on #6869
@jsternberg

[2016-06-19 00:52] smunier01 commented on #6837
A few month ago, for our personal use, I added a `SHOW USER "name"` query and a `SHOW USER "name" WITH PASSWORD 'pwd'`query that returns the user if the password is correct.

If that satisfy your requirements (and nobody has a simpler way) , I could clean it up and send a pull request.

@babilen @jsternberg

[2016-06-19 20:30] corsoalex-pro opened #6871 "[InfluxDB] BUG - Continous Queries - 0.13"
influxDB Version : 0.13

I'm using some retention policies to store my data
[code]

My data is stored into ipflow.two_weeks.mac_src with my python script.

I created 5 continuous queries :
[code]

I have a strange behaviour with my continous queries.

 * On the log file, my continuous query is run later than expected!
[code]

 * Data is not downsampled :
[code]

[code]

Do you have some tips with

[2016-06-20 04:36] zywei opened #6873 "Can i set up two or more influxdb on one virtual machine"
Can i set up two or more influxdb on one virtual machine?

[2016-06-20 06:14] beckettsean commented on #6823
Nested functions is a duplicate of https://github.com/influxdata/influxdb/issues/834, which has been consolidated into https://github.com/influxdata/influxdb/issues/5930 until it is scheduled.

As for another way to achieve it, you can use a continuous query to calculate and store the results of the first function, and then apply the second function to the stored results.

I don't quite know exact

[2016-06-20 06:14] #6823 closed

[2016-06-20 06:40] KiNgMaR commented on #6871
Same issue here (#5951). Can't believe that almost everybody else seems to not have these problems :(

Some specifics on my setup:
* writing via UDP only
* all points are written without timestamps (i.e. time stamps are generated by InfluxDB)

Do you have a similar setup, Alexandre?

[2016-06-20 08:00] DavidSoong128 commented on #5440
what is the result now about the question? , if  someone know that,please tell me, thank you

[2016-06-20 08:03] bovy89 opened #6874 "Influxdb backup restore: missing data"
Hi,
I'm making backup of my influxdb database on a remote machine via influxd command and my aim is to make incremental backup every day or more often.
I was trying to restore yesterday backup, but the data seem stuck on 06/06.

I tried a full backup a week ago, but the result was the same.

OS: Centos 6.7
Influxdb version: 0.13 (was 0.10) both pre-built package

I'm wondering if I'm doing somethi

[2016-06-20 08:05] corsoalex-pro commented on #6871
I'm writing data with InfluxDB Python (http://influxdb-python.readthedocs.io/en/latest/index.html)
I'm writing my data with a timestamp (I don't think there is a problem with timestamp because I can query my first retention policy with good timestamp)

You are right, it looks like similar but I'm using 0.13 version.

[2016-06-20 08:11] DavidSoong128 commented on #38
what is the result now about the question? , if someone know that,please tell me, thank you

[2016-06-20 09:16] foxx commented on #6823
Thanks for the detailed reply, solves my problem, thank you!

[2016-06-20 09:23] mrecht opened #6875 "prev / next functionality in InfluxQL"
**Proposal:**
Adding _next_ and _prev_ functionality to InfluxQL. This would help in many cases of processing (financial) time series.

**Current behavior:**
The functionality is not available.

**Desired behavior:**
select price, prevPrice as prev(price) from trades where prev(price) < price

time price prevPrice
2016-06-20T07:30:00Z 11.0 10.0

(next is analog)

**Use case:**
The use case is in p

[2016-06-20 09:42] mrecht opened #6876 "weighted sum and average"
**Proposal:**
Adding a weighted versions of _sum_ and _mean_ to InfluxSQL. The weight should be the values of another column. This useful for (financial) time series to e.g. calculate the VWAP.

**Current behavior:**
Currently the functionality is not available.

**Desired behavior:**
_wmean(x, y)_

select wmean(volume, price) as vwap from trades

The formula for wmean:
sum (volume*price) / sum(vo

[2016-06-20 10:05] e-dard commented on #6818
Can you provide more detail please, as outlined in the Issue template?

[2016-06-20 10:09] e-dard commented on #6819
@lpalm thanks for the report. Some profiles would be useful during the `300 seconds` when you're waiting on deleting a measurement and trying to write points. Could you provide `blocking` and `goroutine` profiles?

A simple way to do that is, drop the measurement, try and do some writes, and while everything seems tied up, run:

[code]

[2016-06-20 10:11] superwood commented on #6853
@gunnaraasen

 I'm on 0.13.0 too.

name: mobvista
tags: channel=ADNRealTime, product=M, source=M
time			click		cost		impression	install	profit			revenue
----			-----		----		----------	-------	------			-------
1465747200000000000	7.5566267e+07	31886.99	7.746903e+06	56041	19662.98		51549.97
1465833600000000000	8.7419948e+07	37193.69	9.286737e+06	63580	20055.54		57249.23
1465920000000000000	8.9109145

[2016-06-20 10:14] superwood commented on #6853
But   restart the influxdb  seems  fix the problem.

name: mobvista
tags: channel=ADNRealTime, product=M, source=M
time			click		cost		impression	install	profit			revenue
----			-----		----		----------	-------	------			-------
1465747200000000000	7.5566267e+07	31886.99	7.746903e+06	56041	19662.98		51549.97
1465833600000000000	8.7419948e+07	37193.69	9.286737e+06	63580	20055.54		57249.23
14659200000

[2016-06-20 10:14] e-dard commented on #6831
@shannonliu0809 I'm going to close this issue, but please feel free to open up a specific feature request issue.

[2016-06-20 10:14] #6831 closed

[2016-06-20 10:16] superwood commented on #6853
There is the  the output of the following query.

name: mobvista
tags: channel=ADNRealTime, product=M, source=M

time			click		cost		impression	install	profit			revenue

----			-----		----		----------	-------	------			-------
1465747200000000000	7.5566267e+07	31886.99	7.746903e+06	56041	19662.98		51549.97
1465833600000000000	8.7419948e+07	37193.69	9.286737e+06	63580	20055.54		57249.23
146592000000

[2016-06-20 10:21] e-dard commented on #6853
@gunnaraasen did you get anywhere with the repro script?

[2016-06-20 10:27] superwood commented on #6853
@gunnaraasen  How to fix it ?      Restart db  is not a good  idea.

[2016-06-20 10:27] e-dard commented on #6862
Yeah I think this is the case where checking [Result.Err](https://github.com/influxdata/influxdb/blob/master/client/v2/client.go#L529-L532) is used.

[2016-06-20 10:27] #6862 closed

[2016-06-20 10:28] e-dard commented on #6856
@mark-rushakoff is this serendipitously fixed via https://github.com/influxdata/influxdb/pull/6565?

[2016-06-20 10:28] e-dard commented on #6873
Hi! We try and keep GitHub Issues for  actionable bug reports or feature requests. Please send general questions to the influxdb@googlegroups.com mailing list.

Thanks.

[2016-06-20 10:28] #6873 closed

[2016-06-20 12:04] lpalm commented on #6819
Sure, @e-dard . Here you go. I took two batches in case that's more helpful. Attached.
[block_and_goroutine.zip](https://github.com/influxdata/influxdb/files/323320/block_and_goroutine.zip)

[2016-06-20 14:28] zbindenren commented on #6786
I tried that.

After upgrading to influxdb 0.13 the db was not usable anymore. I got a %mem_commit of 1000%. The Server has 64GB Memory installed. I got a lot of http 500 errors, I had to switch back to 0.12.2 which has a %mem_commit of ~20%.

[2016-06-20 14:36] ckdarby opened #6877 "v1,0-beta1 GROUP BY returns multiple same timestamps?!"
### Bug report

__System info:__

[code]

[code]

__Steps to reproduce:__

[code]

__Expected behavior:__ Groupby returns a non-repeated timestamp

__Actual behavior:__ Has duplicate timestamps

[2016-06-20 14:38] zbindenren commented on #6620
Similar problem here.

RHEL 7.2, 64GB Memory.
~1400 Telegraf clients with sysstat plugin configured.

With version 0.12.2 we have 20% mem_commit.

After upgrading to 0.13 I killed the influxdb after 10000% mem_commit. The memory was still increasing. Downgraded to 0.12.2.

[2016-06-20 15:08] mark-rushakoff commented on #6856
@e-dard: Not fixed. I just tried on master as of bed66cfbe, with code added on the server to intentionally return non-JSON, and the client still does not print out the response body.

[code]

[2016-06-20 15:17] mjdesa commented on #5440
@DavidSoong128 what specifically would you like to know?

[2016-06-20 15:33] beckettsean commented on #5943
@jsternberg do you know the current status of this feature?

[2016-06-20 15:35] jsternberg commented on #5943
We haven't made any progress on it. It still only applies to aggregate queries and does not apply to `fill(previous)`.

[2016-06-20 16:11] mrecht commented on #5359
+1

Especially for development with InfluxDB it would make my life so much easier...

[2016-06-20 16:12] beckettsean commented on #5943
@jsternberg would it help if I opened a new issue explicitly for `fill(previous)`?

[2016-06-20 16:12] mrecht commented on #3552
+1

[2016-06-20 16:13] jsternberg commented on #5943
Yes. We can do the same thing for `fill(previous)` as we did for `derivative()` as a temporary stopgap.

[2016-06-20 16:30] gunnaraasen commented on #6853
@e-dard I was able to reproduce the duplicate points on 1.0.0-beta1 with the script and the duplicates disappear after a restart of `influxd`.

[2016-06-20 16:32] #6869 closed

[2016-06-20 16:33] beckettsean opened #6878 "fill(previous) should find most recent value, even if outside query time range"
### Feature Request

__Proposal:__ [Description of the feature]

When executing `fill(previous)` the query should always have a value for `previous`, even if there is no point with that field in the query time range.

__Current behavior:__ [What currently happens]

[code]

Note the null value for the 16:10-16:15 bucket, despite there being a point at 16:09 with a value.

__Desired behavior:__ [Wha

[2016-06-20 16:33] beckettsean commented on #5943
Opened https://github.com/influxdata/influxdb/issues/6878 specifically for `fill(previous)`

[2016-06-20 16:57] brewneaux commented on #6632
I'm still getting this on 1.1.0~n201606070800.

[2016-06-20 17:09] skburgart commented on #3552
+1

[2016-06-20 17:25] bentatham commented on #4275
+1

[2016-06-20 17:59] bentatham commented on #4275
As a workaround (for others that might need this now), I did this (to delete all measurements starting with ``spinach``:
[code]
Not particularly efficient of course, but gets the job done.

[2016-06-20 20:35] mrecht opened #6881 "add next option to fill()"
**Proposal:**
Possibility to "upfill" data. Currently, _fill_ has the possibility to use previous data to fill gaps, using _fill(previous)_. In some cases it would be valuable to have also the next (time wise upcoming) values.

**Current behavior:**
Currently the functionality is not available.

**Desired behavior:**
_fill_ supports the option _next_ which takes future values.

For example:
time v

[2016-06-20 20:45] ckdarby commented on #6877
@jsternberg I just attempted with beta2 & this still happens

[2016-06-20 20:48] jsternberg commented on #6877
This might be related to #6738.

[2016-06-20 20:50] jsternberg commented on #6877
@ckdarby is there any chance you can make a tarball of your data, wal, and meta directories and upload it somewhere for me to check? If it's not possible for some reason, have you found any way to reproduce this consistently?

[2016-06-21 01:20] DavidSoong128 commented on #5440
@mjdesa  Thank you for your reply.
i install  influxdb V0.13.0  on linux  server with 16G of memory and use java's requests  to write some points into db.   but  memory is continuously reduced, even  consumed 11G，then , the only operation what i can do  is just  restart influxdb， i think it is the same problem @dy1901

[2016-06-21 02:12] ckdarby commented on #6877
@jsternberg I ran with 0.13 and everything works fine now. #6738 was exactly what I was experiencing.

Unable to tarball due to the nature of data.

It was always reproducible. Different spots in the data. Passing in about 200 million 1 value measurements across a span of 6 days. Data was sent to influxdb in non-ordered fashion.

These are the tags:
'endpoint' (string)
'domain' (string)
'status' (

[2016-06-21 04:25] mrecht commented on #5930
+1 one for adding more math functions

From the top of my head the function would be:

- sin, cos, tan
- asin, acos, atan
- correlation
- variance / covariance
- sqrt
- exp
- abs
- log, ln
- div, mod

[2016-06-21 04:42] goofansu opened #6884 "Cannot insert measurement after delete"
### Bug report

__System info:__ [0.13.0, OS X 10.11.5]

__Steps to reproduce:__

1. `INSERT cpu,host=serverA,region=us_west value=0.64`
2. `DELETE FROM cpu`
3. repeat step 1
4. `SELECT * FROM cpu`

__Expected behavior:__ Step 4 should return one result

__Actual behavior:__ Step 4 not return one result

[2016-06-21 05:07] goofansu commented on #6884
Sorry, my fault. I missed to specify a value field in `select`.

[2016-06-21 05:07] #6884 closed

[2016-06-21 05:24] jsternberg commented on #6877
Ok then. I'm going to close this as a duplicate of #6738. I think the problem still exists, but I'm not really sure at this point. Did you do anything to try and modify the database or did it just fix itself when you upgraded?

Thanks.

[2016-06-21 05:24] #6877 closed

[2016-06-21 06:55] ckdarby commented on #6877
I purged the install, deleting everything, installed 0.13 and reimported
the same data without any issue.
On Jun 21, 2016 1:25 AM, "Jonathan A. Sternberg" <notifications@github.com>
wrote:

[2016-06-21 07:40] mouseratti commented on #3760
I need this too

[2016-06-21 09:49] kjeacle opened #6885 "[1.0.0-beta1] Full compaction never stops"
We are running 1.0.0-beta1 with just over 1 million series populated from collectd. Server has 16 cores and 32GB of RAM. Writing less than 5000 points per second.

When full compaction starts after 24 hours, it never stops. Logs show full compaction is ongoing. Files appear to be compacted without change.

Here's an extract from the logs. It always spends about 80 seconds on a compaction run.

[co

[2016-06-21 11:01] Abhishekpan commented on #6762
@jwilder Sorry for late reply ..
Recently we did some schema changes and here is the details
We have 18 attributes in a single record(each record size is 50 bytes) like
TAG1  (* is mandatory for all measure) (unique values - 250)
TAG2  (unique values - 600)
TAG3 (unique values - 600)
TAG4 (unique values - 100)
TAG5 (unique values - 10)
TAG6 (unique values - 10)
TAG7 (unique values - 1000)
TAG8 (un

[2016-06-21 12:41] uprial commented on #1400
+1

[2016-06-21 13:39] maded2 opened #6886 "Arithmetic inside aggregation function"
## Feature Request

Opening a feature request kicks off a discussion.
Requests may be closed if we're not actively planning to work on them.

Allow Arithmetic operations inside aggregation functions

Example:

[code]

select sum( Price * OrderSize ) from Orders

expecting the following result: 1450

Currently, I've to store the 'Price * OrderSize' in a separate column so that I can compute the sum

[2016-06-21 13:53] jsternberg commented on #6886
Closing as a duplicate of #5971. Thanks!

[2016-06-21 13:53] #6886 closed

[2016-06-21 14:03] themass opened #6887 "【v0.13】influxdb donot collection data from collectd"
collectd  conf

`   <Plugin network>
        <Server "127.0.0.1" "82586">
                Username "admin"
                Password "admin"
                Interface "eth0"
        </Server>
</Plugin>`

influxdb v0.13  conf
`
[[collectd]]
  enabled = true
  bind-address = ":25826"
  database = "collectd"
  typesdb = "/usr/share/collectd/types.db"

   batch-size = 1000
   batch-pending = 5
   batch

[2016-06-21 14:10] jsternberg commented on #6887
Hello @themass,

Can you send this message to the [mailing list](https://groups.google.com/forum/#!forum/influxdb) instead? We use the issue tracker for covering features or bugs related to InfluxDB rather than support questions. If there's a bug, someone on the mailing list will direct you back here to file it.

Thanks!

[2016-06-21 14:10] #6887 closed

[2016-06-21 14:19] jsternberg commented on #6737
I'm closing this since the question seems to have been answered. If there's still some confusion or there's a bug, please respond and I can reopen the issue if needed.

[2016-06-21 14:19] #6737 closed

[2016-06-21 14:52] maded2 commented on #5971
any chance to put this on the roadmap so we know this is being considered

[2016-06-21 15:03] binary132 commented on #5359
@beckettsean, perhaps you and @ShubhraKar are not on the same page, since he indicated this feature is "on our short term roadmap".  It appears that is not the case.

There's a clear response from the community here.  Can we expect a response from InfluxData any time soon?

[2016-06-21 15:10] mjdesa commented on #5440
@DavidSoong128
I have a few more questions:

* Can you give some examples of the data that you're writing in line protocol?
* About how long was InfluxDB running before you hit this problem?
* Did you have any queries running when you hit this problem? If so, what were they?

[2016-06-21 15:19] corylanou commented on #5500
@jwilder do we have specifics on what?  Are we talking additional logs (prefixes), or most options to turn on/off the logging?

[2016-06-21 15:22] jwilder commented on #5500
@corylanou This issue was for about having a config option to turn on more logging.  Basically, a `TraceEnabled` type config option.

[2016-06-21 15:24] sbengo commented on #3318
+1, related with #6789.

[2016-06-21 15:36] beckettsean commented on #5359
@binary132 I run support, I don't run product. If you want to advocate for features I'm the wrong person to @-mention.

I would suggest that we happily accept PRs. Can we expect a commitment to this from the community?

[2016-06-21 15:56] jackpoz commented on #5359
According to https://github.com/influxdata/influxdb/issues/5359#issuecomment-222977860 and https://github.com/influxdata/influxdb/compare/master...mvadu:0.13 there's nothing to pull request to add windows support, it's just a matter of providing Windows binaries at https://influxdata.com/downloads/#influxdb

[2016-06-21 17:10] sbengo commented on #3552
+1

[2016-06-21 17:53] sbengo commented on #3760
+1

[2016-06-21 18:13] mitar commented on #5930
Would it be possible to create some way to extend InfluxDB with custom functions? Maybe to load some dynamic library at load time? This could allow community to experiment with different functions?

[2016-06-21 18:17] mitar opened #6888 "Support for storing graphs"
We are storing network topologies into InfluxDB. Currently we simply store a string of JSON of a topology graph (vertices and edges between them). The issue is that InfluxDB does not support any downsampling functions on such strings. (For example, one downsampling "max" would be to just see all vertices and all edges which ever existed during an interval, and that would be the resulting data poin

[2016-06-21 18:17] beckettsean commented on #5930
@mitar Kapacitor supports arbitrary [User Defined Functions](https://docs.influxdata.com/kapacitor/v0.13/nodes/u_d_f_node/) in almost any language, and it can be used to batch-process InfluxDB data.

[2016-06-21 18:28] mitar commented on #5930
Hm, but to my understanding, Kapacitor would have to read the whole span of a time-series to be able to compute the custom downsampled version of data, every time I would try to read it at a lower resolution?

[2016-06-21 18:51] habnabit commented on #3552
Can I request that this issue be locked? I'd like to receive notifications about actual updates, and not just random "+1"s.

[2016-06-21 18:52] jsternberg commented on #3552
Done. If you are a person interested in this issue, please add a 👍 reaction to the top of the message instead of a +1 comment and then click "Subscribe".

[2016-06-21 20:15] beckettsean commented on #5930
@mitar Kapacitor can store its results in InfluxDB, just like a CQ. Instead of running a CQ inside InfluxDB, you would just have Kapacitor do a batch query, process the UDF, and then write the results back into the downsampled measurement in InfluxDB.

[2016-06-21 20:19] mitar commented on #5930
But I do not want to do this for every query users come up with, at different timespans with different downsampling? I like InfluxDB because it can compute downsampled values efficiently without moving data around. Reading InfluxDB into another process and then storing it back seems inefficient to me? Or are you saying that there is not much performance difference between InfluxDB doing downsampli

[2016-06-21 20:27] mrecht commented on #5930
@mitar my thoughts exactly. The goal should be (at least that's mine) to do as much as possible on the db without sending data over the network. I would like to store the data in the finest granularity available and the derive data from it. And then only send over the derived data to the client. In this (my) case drived data are not only aggregated time buckets (e.g. seconds built from ticks), but

[2016-06-21 20:30] beckettsean commented on #5930
@mitar I cannot think of a way to allow for ad hoc queries using user defined functions. We do accept PRs for new functions, or you can perform the function calculations client-side for now.

[2016-06-21 20:33] beckettsean commented on #5930
@mrecht sending as little data around the network as possible is our goal, too, but opening up core InfluxDB for arbitrarily defined user functions introduces too many challenges around maintaining performance and stability. I don't expect UDFs to be part of InfluxDB at any time in the 1.x version line.

@pauldix are UDFs for InfluxDB anywhere on the timeline yet?

[2016-06-21 20:34] mitar commented on #5930
So what about allowing InfluxDB to load some dynamic code (.so, .dll) to do that? Many other databases allow modules which extend the behavior.

So maybe there should just be a way to load a custom module, and then you could say "module:foo" which would simply call that module's function as a function in InfluxDB?

[2016-06-21 20:37] pauldix commented on #5930
UDFs aren't on the timeline yet. Best bet is to use Kapacitor for that for now.

[2016-06-21 20:38] beckettsean commented on #5930
@mitar @mrecht I encourage you to open a new issue for user-defined functions in InfluxDB. It's not that we think it's a bad idea and are saying no, it's just horribly complex and not a current priority.

[2016-06-21 20:41] mitar opened #6891 "Support for user defined functions"
From discussion in #5930 it seems there is no way to define user defined functions in InfluxDB. Current proposal is to use Kapacitor to compute such function, but this moves data around instead of computing them inside the database.

It would be great to have a way to define user-defined functions. It might be even by loading an additional module which provides them then to the query language.

[2016-06-21 20:41] mitar commented on #6888
Related: #6891

[2016-06-21 20:41] mitar commented on #5930
Done: #6891

[2016-06-21 22:45] pauldix commented on #5359
Apparently we're already building these, we're just not linking them on the downloads page. See here:
https://dl.influxdata.com/influxdb/releases/influxdb-1.0.0-beta2_windows_amd64.zip

We'll update the downloads page sometime soon. However, we don't officially support Windows so those binaries are use at your own risk.

[2016-06-22 00:01] cxreg commented on #6891
Reference to a previous version of this discussion: https://github.com/influxdata/influxdb/issues/68

[2016-06-22 00:14] mitar commented on #68
The discussion moved here: #6891

Or maybe this issue should just be reopened? It is really strange. It seems this is one of the most wanted features? And it is not even on a roadmap? @beckettsean? @pauldix?

[2016-06-22 01:02] DavidSoong128 commented on #5440
1.     Can you give some examples of the data that you're writing in line protocol?
         **point like this :  tps is the measurement, appName, serviceName are tags,  tpsAmount, currency are field,   example:  tps, order, addOrder   2000, 300  1466557284000 **
2.     About how long was InfluxDB running before you hit this problem?
3.     Did you have any queries running when you hit this proble

[2016-06-22 03:14] mvadu commented on #5359
@pauldix Linking it from download will help even if its under a big red **Use at your own risk** header.
That will help the community to test it. I tried to publish the windows build periodically asking for feedback, but since I don't work for Influx, I failed to get much traction. Currently only thing missing for Influx on windows is thorough user testing before you can remove that header.

Also

[2016-06-22 05:16] XingxiaoLu commented on #484
+1

[2016-06-22 07:12] martinb69 commented on #5359
All, thanks for the effort!
IMHO Windows support will enable a share in industrial process automation (and of course all the other applications).
At least we will now start looking into migrating from 0.9 to latest.

[2016-06-22 10:35] qianlnk opened #6892 "can influxdb suport having like regular sql?"
for example:
how can I run the query like this:
select difference("value") from "mymeasurement"
where time > now() - 3h
group by time(10m)
having difference("value") != 0

Thank you for your time！

[2016-06-22 13:14] jsternberg commented on #6892
I'm not entirely sure what you mean. If you're just talking about the `HAVING` clause, there's an issue #5266 for that.

[2016-06-22 13:14] mrecht commented on #5266
+1

[2016-06-22 13:54] jsternberg commented on #6892
I think this is just a duplicate of #5266 so I'm going to close this. If I'm wrong, please comment with some more clarification and I'll reopen the ticket. Thanks.

[2016-06-22 13:54] #6892 closed

[2016-06-22 13:54] freeseacher opened #6893 "How many metrics we are collecting?"
i have one influxdb instance. the version is 0.12.2. and i am wonder how many metrics do i collect per second ?
Currently i use telegraf for gathering statistics.
And i have several candidates for name "metric per second". that is
pointReqLocal  under influxdb_write
writePointsOk under influxdb_shard
both of them according to count from servers showing different but incorrect value.

[2016-06-22 15:48] superwood commented on #6853
@gunnaraasen  @e-dard   restart db  is the only solution?

[2016-06-22 17:03] phemmer commented on #3185
Passing the file through STDIN seems like the most intuitive way to do this to me. It's supported nearly universally (by other tools). A path to a file as an argument is nowhere near as common.

[2016-06-22 17:05] phemmer opened #6894 "influx command: Use environment variable for password"
### Feature Request

__Proposal:__

It would be useful to be able to pass the password to the `influx` command via an environment variable.

__Current behavior:__

Must either pass it as an argument, or via STDIN.

__Desired behavior:__

Be able to pass password via environment variable.

__Use case:__

Providing passwords as arguments is insecure as it's visible to anyone with access to the host.

[2016-06-22 17:26] binary132 commented on #5359
I don't think most people providing software to clients would be comfortable delivering a product which supports a stats backend not officially supported by the company.  We had to go with a much less interesting option since one of the product requirements is full platform compatibility.  Influx on Windows would be a really compelling feature for many people who are stuck with it because some of

[2016-06-22 17:42] lpalm opened #6895 "Frequent compactions and write/read delays"
### Bug report

__System info:__ Fedora release 22, InfluxDB version v1.0.0-beta1

__Steps to reproduce:__

1. Drop database
2. Start inserting points (we range at around 30k-100k points per second, in a couple hundred thousand series)

__Expected behavior:__ Points are inserted with acceptable latency

__Actual behavior:__ We have two machines configured near identically, a canary and a productio

[2016-06-22 17:52] phemmer opened #6896 "influx command: parsable output"
### Feature Request

__Proposal:__
The `influx` command should be able to produce output which can be parsed.
Currently it produces a lot of garbage at the beginning of the output, and prefixes output lines with `> `.

__Current behavior:__
[code]

__Desired behavior:__

[code]

This should either be controlled by a flag, such as `-quiet`, or by detecting whether STDOUT is a TTY.

__Use case:__
It

[2016-06-22 18:56] jsternberg commented on #6896
Have you tried using the `-execute` flag?

[code]

[2016-06-22 19:07] phemmer commented on #6896
Using the `-execute` flag has a few issues.
1) it's insecure. If my command is to create a user, or set a user's password, that password is going to show up cleartext for anyone who has access to the box and can run `ps`.
2) it's easier to not have to deal with argument quoting
3) You can't stream the input/output (minor issue to group commands in batches, but still rather convenient).

[2016-06-22 19:55] gunnaraasen commented on #6538
HTTP and HTTPS subscriptions are now supported in InfluxDB and Kapacitor versions 1.0.0-beta1+. See https://github.com/influxdata/influxdb/pull/6655.

[2016-06-22 19:55] #6538 closed

[2016-06-22 20:00] jsternberg commented on #6896
1 is related to #6894.

Seems reasonable enough to detect if the input is a TTY and allow something like `-import` to read from stdin if a file argument isn't provided. As a temporary workaround, you can try writing to a temporary file and executing that.

[2016-06-22 20:05] phemmer commented on #6896
This ticket isn't about the input, it's about the output.

[2016-06-22 20:13] phemmer commented on #6896
I don't see how `-import` can be used for this. It's easy enough to pass an argument of `/dev/stdin`, but attempting to do so it spits out errors such as:

    2016/06/22 16:10:25 error writing batch:  {"error":"database is required"}

From what I can see, the import format is not meant to be used for running arbitrary statements.

[2016-06-22 20:34] jsternberg commented on #6896
Looks like I'm wrong. `-import` is used for something else.

I'll mark this as a feature request and we'll add it to the list of things that needs to be done.

[2016-06-22 22:29] lpalm commented on #6895
I've attached the config file we're using for both the dev (working) and prod (problematic) machines.

[config.toml.zip](https://github.com/influxdata/influxdb/files/328881/config.toml.zip)

[2016-06-22 22:36] gunnaraasen commented on #6853
Restarting the database fixes the issue. We're still not able to consistently reproduce the issue, which is making this bug hard to track down.

[2016-06-22 23:37] jwilder commented on #6738
@cheribral Would you be able to test #6897 to see if it resolves this?

[2016-06-23 00:40] gunnaraasen commented on #6853
@superwood @jeffdeville Can you check if https://github.com/influxdata/influxdb/pull/6897 resolves the duplicate point issue?

[2016-06-23 00:43] jeffdeville commented on #6853
Did it fix it for the script I sent you?

[2016-06-23 03:13] superwood commented on #6853
@gunnaraasen
 I will  try and see what the result would be.

[2016-06-23 04:06] shawn11ZX opened #6898 "IO util goes up to 100% with 2000 writes per minute"
__System info:__ [InfluxDB 0.13.0, CentOS release 6.6]

__Steps to reproduce:__

We have a log server that receives 6 types of applications statistics and write them to influxdb.
For each type, we have a separate measurement.

[code]

In the above code snippet, the variable o2 is map that may contain 300 key-value pairs, with keys of type String and values of type Numeric.

The 6 types of applicat

[2016-06-23 10:33] freeseacher opened #6901 "Using influx_inspect cause fatal error: runtime: out of memory"
### Bug report

System info: docker influxdb:1.0.0-beta1-alpine, host system debian, 4G memory 1G swap,

**Steps to reproduce:**
1. influx_inspect dumptsm 000000775-000000006.tsm
2. got fatal error: runtime: out of memory

**Expected behavior:**
no error
**Actual behavior:** [What actually happened]

[code]

[2016-06-23 10:52] cabrrtt72 commented on #4155
+1

[2016-06-23 11:27] e-dard commented on #6898
@shawn11ZX thanks for the report. Could you take some profiles of your system while it's under load? The following would be useful:

[code]

Also, a CPU profile will be useful. Please consider that this profile will take 30 seconds of wall-time to collect. It could also cause some performance impact on your system while it's being collected, but it shouldn't be too dramatic. Again, while under loa

[2016-06-23 11:37] e-dard commented on #6901
@freeseacher thanks for the report. I'm not too familiar with `influx_inspect`. It could be that there is some inefficient processing of the TSM file happening.

Could you repeat this, and provide a heap-profile when the tool is a good way into the process? Maybe 40-45 minutes in before it panics?

[code]

[2016-06-23 11:52] MatijaB opened #6902 "[0.13.0] Continuous Queries run when dropped"
Hi, I'm having a big problem with the Continuous Query feature on InfluxDB. I am running 0.13.
So first, a week ago, I created ~50 continuous queries over 50 different measurements that each have a sample rate of 10 seconds, to aggregate mean data into a different retention policy, grouping by 1 minute.

And that looked something like this:

[code]

Logically, what happened was InfluxDB got overru

[2016-06-23 11:56] freeseacher commented on #6901
that bug is not connected with influxdb server. that tool can show additional info about tsm file.
i can't understand where do i need to use that command
[code]

[2016-06-23 12:09] josselin-c opened #6903 "[0.13.0] Can't start database with too many series"
### Bug report

__System info:__
On debian Jessie - 32GB of ram dedicated to influxdb

InfluxDB starting, version 0.13.0, branch 0.13, commit e57fb88a051ee40fd9277094345fbd47bb4783ce
Go version go1.6.2, GOMAXPROCS set to 8

__Steps to reproduce:__

__Expected behavior:__
Influxdb should restart correctly even when killed improperly
__Actual behavior:__
After an OOM Killer, influxdb isn't able to r

[2016-06-23 12:26] e-dard commented on #6901
@freeseacher eugh, of course. Sorry, I was triaging several issues and was on autopilot somewhat 😉

We don't have any profiling available with `influx_inspect`. We may have some large tsm-files in-house that we can use with a custom build of `influx_inspect` with profiling.

[2016-06-23 12:36] andyfeller commented on #6233
Can anyone confirm whether this is an issue for clusters?
[PR 6792](https://github.com/influxdata/influxdb/pull/6792) states:

[2016-06-23 14:07] xlash opened #6904 "Corrupted DB? Cannot run SHOW TAG KEYS, or other commands in a timely manner."
Hi,

I have an InfluxDB DB which is 5.7 GB, and I can no longer access data in it. The following queries are all timeing out.

[code]

### Bug report

__System info:__
[code]

Influx is using all available memory 16GB, and swapping a lot.

[code]

[code]

__Steps to reproduce:__

1. Restart influxdb service
2. Wait 5 min to load all our databases. The longest files to load are all in the problemat

[2016-06-23 14:24] freeseacher commented on #6901
I got that issue several times before. every time on server with memory low then 4G.
looks like tool trying lo load all file in memory instead of doing it in step by step basis.

[2016-06-23 15:15] dstreppa opened #6905 "Operations on different resultsets using similar-nested query"
### Feature Request

__Proposal:__ [Description of the feature]
It should be nice to perform mathematical operations (+,-, ...) on results of different queries.

Example queries:
query_E = SELECT sum(value) AS E FROM trevano_CPT_roof WHERE item='Pyranometer' AND signal='IrrEst' and time>='2016-05-27T00:00:00Z' and time<='2016-05-27T23:59:59Z'
name: trevano_CPT_roof

query_H = SELECT sum(value) AS

[2016-06-23 16:33] #6738 closed

[2016-06-23 17:55] contra commented on #168
@pauldix Shouldn't this be reopened if it wasn't fixed?

[2016-06-23 19:22] jwheeler-gs commented on #6878
Are there any good work-arounds for this right now? I'm collecting sparse data and trying to graph it using fill(previous), which results in the first several values being null because the previous value falls outside the desired query time range.

The only thing I can think to do right now is to execute a second query to get last(field) with the time ending at the start time of the above query, t

[2016-06-23 19:24] beckettsean commented on #6878
@jwheeler-gs that's the best workaround for now

[2016-06-23 23:00] cheribral commented on #6738
Just to confirm, the issue is fixed.

[2016-06-24 01:36] jsternberg commented on #1571
Closing this in favor of the newer #6708.

[2016-06-24 01:36] #1571 closed

[2016-06-24 02:44] shawn11ZX commented on #6898
Below is requested log files. Actually the load is quit stable (always high) as our servers will send reports in fixed interval.

[block.txt](https://github.com/influxdata/influxdb/files/331119/block.txt)
[cpu.txt](https://github.com/influxdata/influxdb/files/331121/cpu.txt)
[goroutine.txt](https://github.com/influxdata/influxdb/files/331122/goroutine.txt)
[iostat.txt](https://github.com/influxdat

[2016-06-24 04:46] jwilder commented on #6898
Are your disks SSD?  If they are spinning disks, you'll need to configure them in a RAID setup such that they can support at least 500 IOPS.

[2016-06-24 06:36] PaulKuiper commented on #6150
+1

[2016-06-24 09:50] shawn11ZX commented on #6898
It's a spinning disk. I have just tested the iops of the disc, quite low actually, so I will close the bug.
Sorry for the mistake.

[code]

The full report
[code]

[2016-06-24 12:10] MatMeredith opened #6907 "Need to be able to aggregate over GROUP BY time within each series before aggregating across series"
I've hit an issue that I think is going to prevent us from deploying InfluxDB. The following is an example of this issue, but in reality it manifests in different ways in many of our use cases.

I have a set of nodes each reporting the rate at which differnet SIP messages are being received (in terms of messages per s)
## timestamp | tag_node | tag_message_type   |  value

[code]

Each node report

[2016-06-24 12:20] freeseacher commented on #5191
Got that error yesterday. on 1.0.0-beta1. i have logs form container do you need them ?

[2016-06-24 12:31] shawn11ZX commented on #6898
sorry, we switch on a new disk, but the io is still high...
At such a low pressure, I suppose it's a little unusual.

iops have impoved:
![image](https://cloud.githubusercontent.com/assets/12724185/16337762/6df16eca-3a4a-11e6-9546-4f2692b82e55.png)

[2016-06-24 17:05] srikara commented on #6907
+1

[2016-06-24 17:05] srikara commented on #6905
+1

[2016-06-24 20:08] jsternberg commented on #6596
This should no longer be an issue as that code has been removed. If the code fails with 1.0.0-beta2, please comment so I can reopen the issue.

[2016-06-24 20:08] #6596 closed

[2016-06-24 20:11] jsternberg commented on #4312
I'm going to close this due to it being old. If the questions haven't been answered, please direct your questions to the [mailing list](https://groups.google.com/forum/#!forum/influxdb). Thank you.

[2016-06-24 20:11] #4312 closed

[2016-06-24 20:16] pauldix commented on #168
@contra clustering is now a closed source feature so this isn't relevant any more to the OSS InfluxDB.

[2016-06-24 20:59] beckettsean opened #6909 "Need a way to record CQ execution time"
### Feature Request

__Proposal:__ [Description of the feature]

Log entries for CQs should give execution time

__Current behavior:__ [What currently happens]

For ad hoc API queries, first we log the `[query]` statement and then the `[httpd]` response, which gives the elapsed time for the request, and thus for the query:

[code]

Continuous queries log the `[query]` entry, but since they don't p

[2016-06-24 22:28] pauldix opened #6910 "Add intelligent rollups"
There is a need to specify rollup rules for everything, or almost everything in the database. These should also be tied in with the query language so that queries can use whatever downsample makes sense based on the time range and level of precision required. The largest rollup interval will be 1h.

[Useful information about requirements is in a comment below](/influxdata/influxdb/issues/6910#issu

[2016-06-24 22:30] pauldix commented on #6000
Just created a new issue #6910 for this and wrote up my ideas so closing this one out now.

[2016-06-24 22:30] #6000 closed

[2016-06-25 01:36] pauldix commented on #6910
Just thought of another thing. For rollups like the one that downsamples everything, it should be intelligent about applying it to different field types. For instance, only `count` would make sense on string fields.

[2016-06-25 11:25] torkelo commented on #6910
Looks good! Like the plan to have InfluxDB handle the rollup and field selection using the Scale query keyword

[2016-06-25 15:29] apetryk2 opened #6911 "bug: fill(previous) and multiplication operator result in squaring coefficient"
### Bug report

influxdb 1.0.0-beta2
OS: windows 10

__Steps to reproduce:__
1)  Create the following dummy data in a measurement:

[code]

2)  Execute the following query to see things look ok:
[code]

3)  Execute the following query to see that regular group by of mean looks ok
[code]

4)  Multiply the mean by 4.  We observe that on data points where the fill(previous) is being applied the coefi

[2016-06-25 15:58] navidnabavi opened #6912 "Crash on big size of data (count 40M points in 1 minutes slices)"
Influxdb version:  0.13.0
OS: Ubuntu 14.04 server

I ran this query:
`
select * from post_views group by (1m) where time > now()-1d;
`
This query was counting on big size of data and caused a crash on influxdb server (not a timeout or error)

[2016-06-26 05:16] ckdarby commented on #6912
Probably not an issue with influxdb. I graph much larger than 40M points in 1 minute slices and have never had an issue.

Server probably just ran out of ram and sigkill'ed the process.

[2016-06-26 05:19] ckdarby commented on #6902
Did you try restarting influxdb to see if this resolved the issue at least?

[2016-06-26 15:02] zstyblik commented on #6902
This might be the very same issue as in https://github.com/influxdata/influxdb/issues/5417 and all it's duplicates.

[2016-06-26 17:45] corsoalex-pro commented on #6871
Hello

Any update from InfluxDB team?

Kind regards

[2016-06-27 02:21] anhldbk opened #6914 "[0.13.0] DROP SERIES not working properly"
### Bug report

__System info:__
Influx v0.13.0
Ubuntu Linux x64

__Steps to reproduce:__

1. Create a retention policy named `rp_mqtt_data` for database `mqtt_data`

[code]

2. Insert a new data point into a series in `mqtt_data`

[code]

3. Select data from the series and nothing in return

[code]

__Expected behavior:__
Get the inserted data

__Actual behavior:__
Nothing in return

[2016-06-27 02:29] anhldbk commented on #6914
This issue may be related to #5878

[2016-06-27 07:46] dstreppa commented on #6830
+1
Another status case (2) should be missing data for the CQ calculation

[2016-06-27 08:03] MatijaB commented on #6902
I tried restarting and restarting would help in a sense that already dropped CQs would not start again. But the problem is that no matter what I put in the "RESAMPLE EVERY" part, if the query has a "time(1m)" in the group-by clause, it will run a separate query for every minute.

[2016-06-27 08:22] jkahrs opened #6915 "Can't create Fanout Continous Queries (v0.13)"
Maybe this is a documentation issue.

I'm using influxdb v0.13 on debian jessie.

Back in Version 0.8 there was a Feature called "Fanout Continous Queries" (https://docs.influxdata.com/influxdb/v0.8/api/continuous_queries/#fanout-continuous-queries)
The corresponding docs entry is missing from the 0.13 docs. The steps described in 0.8 aren't working anymore.

Was this feature dropped?

# Detail

`

[2016-06-27 09:55] Addzero opened #6916 "client.Query(q Query) with Post method"
Try to query from influxdb using
`client.Query(q Query)` from package **github.com/influxdata/influxdb/client/v2**
but alway get **405** _Method not allow_
then see trough the code then found that
client.Query using **POST** method instead of **GET**
But found this [commit](https://github.com/influxdata/influxdb/commit/6f61c0ea4a7fd494ec1092554e9ec3309a5d5f29) but don't know how to get this work.

[2016-06-27 10:06] #6916 closed

[2016-06-27 14:37] jsternberg commented on #6910
I'm not sure I'm a fan of the syntax, but I am a fan of the idea. I'd like to see if it's possible to flesh this out in terms of existing features first (if possible) rather than adding more syntax and another subsystem.

It seems like there are a few core components that are part of implementing the meat of this:

1. Running queries to perform the aggregation into a different retention policy.
2.

[2016-06-27 15:03] pauldix commented on #6910
@jsternberg The current implementation of CQs won't work at this scale since they just run periodically. Only something that is constantly running on all currently hot data would work (I think).

If we change this behavior it will change how CQs work because of the syntax we have in there about running multiple times during the interval and potentially running many times after. I think it's too la

[2016-06-27 15:11] shang-wang opened #6917 "Continuous query weird time range issue with EVERY"
Hi all:

I'm most likely missing something but I couldn't get a continuous query to work. I'm trying to do a `mean()` on my data for the last 24 hours every 10 minutes, so here's the creation:

[code]
I was expecting that the query would execute every 10 minutes and take the `mean()` for data lies in `time > now() - 1d`, but the output of influxdb.log says otherwise:

[code]
From the time range it

[2016-06-27 15:31] ryantxu commented on #6910
Perhaps this is a different issue, but seems related to making queries "just work" at a wide range of time scales -- in particular in grafana.

Right now, if you set a query with 'mean(value)' and the $interval gets below the sample rate the graphs disappear.  Although strictly correct, it is a PITA and requires different query configs for different scales.  Maybe the scale(mean,mean) could be sma

[2016-06-27 15:38] pauldix commented on #6910
@ryantxu you're exactly right that making queries "just work" (particularly in Grafana) is one of the primary things this approach is trying to address.

I specified `1h` as the max because it's the max interval we can have without worrying about time zones. `1d` or even `1w` can be computed on the fly (I hope) given the speed of the db. And upcoming features give users the ability to change their

[2016-06-27 15:48] jsternberg commented on #6910
@pauldix ok, that clarifies a lot for me. So this will be a separate subsystem from continuous queries and will eventually act as a replacement once we hit 2.0. Can you add a summary section to the top of the ticket with bullet points to help parse out all of the relevant information? There were a few other features you just mentioned that I didn't realize were part of this proposal.

Does this me

[2016-06-27 16:11] shang-wang commented on #6917
Sounds like I asked the question in the wrong place, I guess this belongs to be mailing list. I'll close the issue but would appreciate if someone kindly enough to provide some insights.

[2016-06-27 16:11] #6917 closed

[2016-06-27 17:09] hbs commented on #6910
Automatic rollups are a call for trouble, they are the best way to trigger write amplification. The early experience of blueflood is to be studied carefully (https://developer.rackspace.com/blog/blueflood-announcement/).

Out of order data will kill any automatic rollup setup.

Also rollups are usually not what people expect. If I want the avg of a given metric on 5 minutes interval, I mean 5 minu

[2016-06-27 17:33] jsternberg commented on #6915
I don't think this exists anymore. I would suggest just inserting the point with the appropriate tags. Can you tell me what you are trying to do and I can maybe direct you to where you need to go?

It also may be more efficient to ask this question on the [mailing list](https://groups.google.com/forum/#!forum/influxdb). User questions get monitored and somebody responds to questions on there. We m

[2016-06-27 18:11] jackzampolin commented on #6904
@xlash You have over 1.5M series in the database. Please see our technical paper on [performance tuning tips](https://influxdata.com/technical-papers/).

[2016-06-27 18:11] #6904 closed

[2016-06-27 18:12] jackzampolin commented on #6912
Please see our technical paper on [performance tuning tips](https://influxdata.com/technical-papers/). This has information on instance sizing.

[2016-06-27 18:12] #6912 closed

[2016-06-27 18:18] jackzampolin commented on #6914
Unable to reproduce with `0.13.0`:

[code]

[2016-06-27 18:24] jackzampolin commented on #6903
@josselin-c I would imagine that this is being caused by too many series in the database. As the instance tries to load all the tag values into memory, it runs out causing the OOM kill.

[2016-06-27 18:32] jackzampolin commented on #6898
@shawn11ZX That kind of performance is expected with spinning disks. While you only have 2k points being written every second, each may have up to 300 values, some of which are strings. That would make the number of values being written, the worse case, up to 600k/sec; a very high write load. SSDs would be required to sustain that kind of write load.

[2016-06-27 18:32] #6898 closed

[2016-06-27 19:36] pauldix commented on #6910
@jsternberg I was thinking we'd only aggregate for the current intervals based on the bucket of time. Anything written in on a lag or for historical data would have to use `backfill` to calculate those correctly. Once a window of time is done `+` the lag interval for flushing, it should output the aggregate point.

The scale should pick up from this cached set of values for the current window when

[2016-06-27 19:40] pauldix commented on #6910
@hbs This design isn't for out of order or very lagged data. That's what CQs or calculating on the fly from raw data is for. As for write amplification, the design isn't to output a point into the downsample for every single point coming in, only when the window has passed. So some extra writes will be incurred, but not many for every single rollup.

As for computing quickly on raw data, we alread

[2016-06-27 19:50] hbs commented on #6910
Sure, we do not do automatic rollups for all the problems I've mentioned.

As for saving disk space the most common operation is tiered storage where we create files from 'hot' data, retaining the ability to perform computations on those files. From there you can either chose to perform downsampling in batch, re-inject that as 'hot' data and discard the finest grade data, or simply work on the 'co

[2016-06-27 19:55] brewneaux commented on #6632
Still occuring on 1.1.0~n201606270800

[2016-06-27 19:56] brewneaux commented on #6853
I'm still getting duplicate points on version 1.1.0~n201606270800.  See also https://github.com/influxdata/influxdb/issues/6632

[2016-06-27 20:48] mrh666 commented on #3904
+1
This is will be surprisingly useful feature! Sometimes our developers sending metrics not following the namespace requirement, but following some pre-defined hardcoded application name structure (storm metrics collector for example) and those metrics have a lot of value for research.

[2016-06-27 20:55] beckettsean opened #6921 "CQ clause to introduce relative time boundaries"
### Feature Request

**Proposal:**

Imagine a CQ like:

[code]

There are two different possible user intentions from that syntax. Currently we only support one.

**Current behavior:**

A CQ like the above will execute every 10 minutes, but it will operate on the same interval every 10 minutes. The `WHERE` clause will be something like `WHERE time > '2016-06-27 00:00:00' AND time < '2016-06-27 23:

[2016-06-27 21:15] shang-wang commented on #6921
Thanks @beckettsean for adding this. Just in case anybody else wonders, as of today this could be solved temporarily using kapacitor with the suggestion given by @nathanielc in ticket #4820 . But it would be really helpful if influxdb could support it as well.

[2016-06-27 22:13] jsternberg commented on #6878
I have a crude solution to this in the branch for #5943. The proper solution to this requires #5943 to be implemented, but the crude solution will be good enough for 1.0 if I can't get the proper solution working in time.

[2016-06-27 22:30] zarrigoni commented on #5668
+1

[2016-06-27 22:43] anhldbk commented on #6914
@jackzampolin I tested several times and saw that: the issue's randomly occurred. Now I'm using the binaries compiled from the code in the master branch, and it's ok (although I know the next stable version's still not available).
So I close this issue. Thank you!

[2016-06-27 22:43] #6914 closed

[2016-06-28 03:09] shawn11ZX commented on #6898
2k points per seconds, but 2k points per minutes……

[2016-06-28 03:52] pauldix opened #6923 "Should shard durations be set to a very large time?"
Now that we have the ability to truncate the active shard to the current time to force creation of a new shard, I'm not sure that we need to actively keep the shard durations to some short interval like before.

Previously, the goal of having rotating shards was that you could move data around a cluster or expand out to new nodes. With the truncate shards functionality you'd still have all of that

[2016-06-28 05:52] MatMeredith commented on #5930
Really need SUM to support nested functions such as MEAN.   See issue https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/influxdb/uXdYy9JA6_E/cZRzQo7FBAAJ.   This is likely to prevent us from deploying InfluxDB.    As noted in that issue though this is just one respect in which InfluxDB's query language seems sorely limitted!

[2016-06-28 08:13] xiaowing opened #6924 "Migrate to jwt-go v3"
With jwt-go being updated from v2 to v3 in the other day, building source code of v1.0.0beta2 will not end normally. The following usage of `token.Claims` will encounter build errors with the latest version of [jwt-go](https://github.com/dgrijalva/jwt-go)

I was wandering which version of jwt-go would be used at the release of  Influxdb v1.0.0 ?

With jwt-go v3, the build error will be like these:

[2016-06-28 08:16] MatijaB commented on #6902
Ok, so after going in a bit more and trying some more things, I have come to conclusion that my problem is actually two problems, and yes one is the very same issue as in #5417 whereas the other one is maybe a bit more important (and unfixable to me at the moment)

Let's take this continuous query for example:

`CREATE CONTINUOUS QUERY system_cpu_1minute_cq ON system RESAMPLE EVERY 1h FOR 2h BEGIN

[2016-06-28 09:27] boyxuper commented on #6747
We just upgraded to 1.0.0-beta2 3 days ago, problem solved and memory consumption is greatly reduced. I'm closing this.

[2016-06-28 09:27] #6747 closed

[2016-06-28 11:10] jkahrs commented on #6915
Thank you @jsternberg.

I was going to create the fanouts by tag anyways so the data in the new measurement could have been handled by another retention policy and been used to faciliate and maybe speedup some queries.

I guess we'll just go the other way round and use CQs to bundle data when needed.

[2016-06-28 12:26] jkahrs commented on #6915
moving this to the mailing list if any more questions turn up

[2016-06-28 12:26] #6915 closed

[2016-06-28 13:29] rossmcdonald commented on #6924
You can see the pinned dependencies for InfluxDB [here](https://github.com/influxdata/influxdb/blob/master/Godeps), where jwt-go is currently pinned to [a2c85815a77d0f951e33ba4db5ae93629a1530af](https://github.com/dgrijalva/jwt-go/tree/a2c85815a77d0f951e33ba4db5ae93629a1530af). I don't expect we'll change it for v1.0 unless an issue is identified with the current implementation.

Please see the do

[2016-06-28 15:19] jevans121 opened #6925 "BUG: Serious Data Consistency error [v1.0.0beta2, v.1.0.0beta1 - perhaps older?]"
### Bug report

System Info:
 v1.0.0beta2
 v1.0.0beta1
 (potentially earlier)
 ubuntu 14.04.2 LTS

I have been testing with a collection of large time-series files, being importing via 'influx -import' or via my own python utility using influxdb-python. The problem is present with both methods.

Series: 128, 2Hz (500ms sample period); each series with a sinusoidal signal, various amplitudes - eith

[2016-06-28 15:38] #6829 closed

[2016-06-28 15:42] benbjohnson commented on #6923
@pauldix I agree that with truncation we don't need to keep such short intervals. Although, in practice I'm not sure if using dynamic shard truncation will make the shards smaller since we'll still need to truncate for backups.

I think moving the index to an mmap file will have the largest impact on startup time and memory footprint.

[2016-06-28 16:07] samhatchett opened #6926 "[bug or feature?] need to grant drop permission to non-admin user"
### Bug report

currently using 0.13.0

There seems to be only 2 kinds of users: Admin and Non-admin. Admins are the only users who can DROP series or measurements, but cannot be restricted to certain databases. Non-admin users can be restricted to certain databases, but cannot drop anything. Seems like we need a middle ground here, like a "local-admin" who can be given administrative permissions

[2016-06-28 16:29] jsternberg commented on #5943
I've got an interesting edge case for this. So say that we are doing the following query:

[code]

The start time of the query is in the middle of an interval. If there are no points in the `12:00 - 12:10` range, how should the previous interval be sampled? Should it look at `11:55 - 12:05` or `11:50 - 12:00`? It seems like it would use the latter to be consistent, but then we have a weird case wh

[2016-06-28 16:59] ucrkarthik opened #6927 "can retention policy be set in the config file?"
Is it possible to set the retention policy in the config file rather than via a command line query?

[2016-06-28 17:15] jackzampolin commented on #6927
It is not. More information on retention policies [here](https://docs.influxdata.com/influxdb/v0.13/guides/downsampling_and_retention/). For general questions like this please refer to the [documentation](docs.influxdata.com) or the InfluxDB channel in the [Gopher Slack](https://blog.gopheracademy.com/gophers-slack-community/) Group.

[2016-06-28 17:15] #6927 closed

[2016-06-28 17:25] beckettsean commented on #5943
@jsternberg it's not terribly intuitive, but to be consistent with the behavior of `GROUP BY time(x, y)` I think we want the 11:50-12:00 bucket for the previous, assuming there's nothing between 12:00 and 12:10. The other buckets in the query will be on xx:x0 boundaries, so the previous bucket should be, too.

If there's data between 12:00 and 12:05, then I think we should use those value(s). The

[2016-06-28 17:29] beckettsean commented on #4575
closing in favor of more detailed newer issue: https://github.com/influxdata/influxdb/issues/6921

[2016-06-28 17:29] #4575 closed

[2016-06-28 18:04] nordewal commented on #5930
In regards to @MatMeredith comment: this is the one biggest missing feature for us as well!

[2016-06-28 18:06] beckettsean opened #6928 "CQs should execute one query with all intervals, rather than one query for each interval"
### Feature Request

__Proposal:__ [Description of the feature]

CQs should run as efficiently as ad hoc queries.

__Current behavior:__ [What currently happens]

Currently, a CQ like `CREATE CQ RESAMPLE FOR 30m...GROUP BY time(5m)` will create six individual queries, each covering a single 5 minute interval between `now()` and `now() - 30m`.

__Desired behavior:__ [What you would like to happen]

[2016-06-28 18:10] beckettsean commented on #3756
All tags are preserved for CQs when using `GROUP BY *`.

https://github.com/influxdata/influxdb/issues/6910 exists for automatic downsampling and `*` for field key matching.

Closing this issue.

[2016-06-28 18:10] #3756 closed

[2016-06-28 18:11] beckettsean commented on #5234
Can probably close in favor of https://github.com/influxdata/influxdb/issues/6910. @zachaller @pauldix you concur?

[2016-06-28 18:13] beckettsean commented on #4803
I cannot repro this with the latest versions. The query engine was improved with InfluxDB 0.11 and seems to have solved the issue.

[2016-06-28 18:13] #4803 closed

[2016-06-28 18:15] beckettsean commented on #4914
The RESAMPLE...FOR syntax will address delayed points that arrive with older timestamps. I'm unable to repro any CQ data issues with the latest query engine and code.

[2016-06-28 18:15] #4914 closed

[2016-06-28 18:18] beckettsean commented on #6902
I opened https://github.com/influxdata/influxdb/issues/6928 for the CQ batching behavior. Otherwise the system is behaving as currently designed. One query for each interval, every time the CQ runs.

[2016-06-28 18:18] #6902 closed

[2016-06-28 18:19] beckettsean commented on #5951
@KiNgMaR Isn't this a system resource issue? The CQs are scheduled, but cannot complete before the next batch runs, and thus the system is slowly falling behind?

[2016-06-28 18:20] beckettsean commented on #4605
Largely addressed by https://github.com/influxdata/influxdb/issues/6910

[2016-06-28 18:22] beckettsean commented on #5417
There appears to be a race condition where the CQ can run once after being dropped, if it was already scheduled before the drop executes. That doesn't strike me as terrible or even unexpected behavior, as long as it doesn't continue running.

[2016-06-28 18:22] #5417 closed

[2016-06-28 18:56] zstyblik commented on #5417
@beckettsean, in the original description of this issue, CQ in question has been executed at least three times after dropped.

[2016-06-28 19:04] dennisjac commented on #6910
Since I've already implemented a very similar solution using CQs and a small Grafana patch in grafana/grafana#4262 I'm really happy to see this addressed directly in InfluxDB.

I'm not sure I understand how these rollups relate to regular retention policies though. When I specify for example ```periods(5m, "5m_rollup_retention_policy", 1h, "1h_rollup_retention_policy)``` but I send data in 10s int

[2016-06-28 20:22] beckettsean commented on #5417
@zstyblik agreed, but that's on InfluxDB 0.10, which had a completely different query engine than InfluxDB 0.11+. We aren't patching InfluxDB 0.10, so unless there's a repro on 0.13 the issue is moot.

[2016-06-28 20:51] zstyblik commented on #5417
oki.